@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CentralGeneracionModel

@{
    ViewBag.Title = "Empresa Generador - Central de Generación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Central de Generación" }, { "sAccion", "Insertar" } })
</div>

