@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CentralGeneracionModel

@{
    ViewBag.Title = "Central de Generacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Central de Generacion" }, { "sAccion", "Grabar" } })
</div>
