@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/CostoOportunidad/Content/Scripts/global.js"></script>
<script src="~/Areas/CostoOportunidad/Content/Scripts/despacho.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/CostoOportunidad/Content/Scripts/handsontable.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Areas/CostoOportunidad/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Carga de Reserva Asignada Prevista</div>
</div>

<div class="content-hijo">
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione tipo de información y fecha</div>
        <table style="width:auto">
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px">
                        <table class="table-search" style="width:auto">
                            <tr>
                                <td>Información:</td>
                                <td>
                                    <select id="cbFormato" name="IdFormato" style="width:250px;">
                                        <option value="0">Reserva Asignada Programada</option>
                                        <option value="1">Despacho Programado Con Reserva</option>
                                        <option value="2">Despacho Programado sin Reserva</option>
                                    </select>
                                    <input type="hidden" id="hfVersion" name="version" />
                                </td>
                                <td></td>
                                <td>
                                    <div id="dDia">
                                        Fecha:
                                        <input type="text" name="Fecha" id="txtFecha" value="@Model.Dia" />
                                        <input type="hidden" id="hfFecha" value="@Model.Dia" />
                                    </div>

                                    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
                                </td>
                                <td>
                                    <input type="button" id="btnConsultar" value="Consultar" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td><div style="clear:both; width:5px"></div></td>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:20px; display:none;" id="barraDespacho">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="content-action">
                                    <a href="#" id="btnSelectExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/CostoOportunidad/Content/Images/subir.png" /><br />
                                            <span>Carga NCP</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnReprogramados">
                                        <div class="content-item-action">
                                            <img src="~/Areas/CostoOportunidad/Content/Images/Visualizar.png" /><br />
                                            <span>Reprogramas</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnPorcentajeRpf">
                                        <div class="content-item-action">
                                            <img src="~/Areas/CostoOportunidad/Content/Images/Visualizar.png" /><br />
                                            <span>Porcentaje RPF</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <div class="bodyexcel" id='detalleFormato'></div>
    </div>

</div>

<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">

    </div>
</div>

<div id="enviosanteriores" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">
    </div>
</div>

<div id="reprogramas" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Reprogramas</span></div>
    <div id="idReprogramas">
    </div>
</div>

<div id="porcentajeRpf" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Porcentaje RPF</span></div>
    <div id="idPorcentajeRpf">
    </div>
</div>

<input type="hidden" id="hfPrueba" value="0" />
<input type="hidden" id="hfFormato" value="0" />


<input type="hidden" id="hfDataExcel" value="" />
<input type="hidden" id="hfIndicador" />