.descarga-scroll {
    height: 530px;
    padding: 10px;
    border: 1px solid #319dc1;
    overflow-y: scroll;
}

.descarga-boton {
    width: 150px;
    margin: 10px auto 0 auto;
}

.version-mod {
    background: url('../../../../Content/Images/folder_open.png') center left no-repeat;
    line-height: 20px;
    padding-left: 20px
}

.version-padre {
    font-weight: bold;
}

.version-hijo {
    margin-left: 25px;
    cursor: pointer;
    margin-bottom: 5px;
}

    .version-hijo:hover {
        text-decoration: underline;
    }

.version-resumen {
    margin-bottom: 20px;
    line-height: 18px;
}

.version-modelo {
    background: #ffd800 url(../../../../Content/Images/gams.png) 20px center no-repeat;
    background-size: 30px;
    border: 2px solid #ff6a00;
    border-radius: 10px;
    padding: 30px;
    text-indent: 40px;
}

.descarga-cuadro {
    display: grid;
    grid-template-columns: repeat(2, 313px);
    grid-gap: 50px;
}

.version-manual {
    background: #ffd800 url(../../../../Content/Images/copiar.png) 20px center no-repeat;
    background-size: 30px;
    border: 2px solid #ff6a00;
    border-radius: 10px;
    padding: 30px;
    text-indent: 40px;
}

.version-file {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.resumen-file {
    text-indent: 40px;
    cursor: pointer;
}

    .resumen-file:hover {
        font-weight: bold;
        text-decoration: underline;
    }

.version-titulo {
    color: #2980B9;
    font-size: 25px;
}

.version-subtitulo {
}

.version-planes {
    background: #2980B9;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 8px;
    text-indent: 10px;
}

.descarga-separer {
    border-left: 1px dashed #319dc1;
    height: 100%;
}


.descarga-modelo-verificacion {
    width: 400px;
    padding: 30px;
    border: 1px dashed #2980B9;
    border-radius:5px;
    margin:20px auto;
    text-align:center;
}