@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Areas/IndicadoresSup/Content/Scripts/informesfise.js?v=1.6"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet">
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/IndicadoresSup/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo" style="width:auto;">@Model.Titulo</div>
    <div class="content-botonera">
        <input type="button" onclick="ExportarInformeFise()" value="Exportar Excel">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width: auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtMesAnio" class="pickermes" value="@Model.MesAnio" style="width: 100px" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">ANEXO N°1</a></li>
                <li class='tab'><a href="#paso2">ANEXO N°2</a></li>
                <li class='tab'><a href="#paso3">ANEXO N°3</a></li>
                <li class='tab'><a href="#paso41">OTROS</a></li>
            </ul>

            <div class='panel-container'>
                <div id="paso1">
                    <div class="table-list" id="listado1"></div>
                </div>
                <div id="paso2">
                    <div class='title-seccion'>INGRESO TARIFARIO QUE CORRESPONDE PAGAR (Importes Expresados en Soles (S/))</div>
                    <div class="table-list2" id="listado2_1" style="overflow-x: scroll;"></div>

                    <div class='title-seccion' style="margin-top: 25px">CÁLCULOS DEL MES  - COMPENSACIÓN A TRANSMISORAS POR INGRESO TARIFARIO DEL SISTEMA PRINCIPAL Y GARANTIZADO DE TRANSMISIÓN</div>
                    <div class="table-list2" id="listado2_2" style="overflow-x: scroll;"></div>

                    <div class='title-seccion' style="margin-top: 25px">SALDOS DE MESES ANTERIORES - COMPENSACIÓN A TRANSMISORAS POR INGRESO TARIFARIO DEL SISTEMA PRINCIPAL Y GARANTIZADO DE TRANSMISIÓN</div>
                    <div class="table-list2"  id="listado2_3" style="overflow-x: scroll;"></div>
                </div>
                <div id="paso3">
                    <div class='title-seccion'>PEAJES RECAUDADOS (Importes Expresados en Soles (S/))</div>
                    <div id="listado3_1"></div>

                    <div class='title-seccion' style="margin-top: 25px">CÁLCULOS DEL MES POR  PEAJE  DE  CONEXIÓN AL SISTEMA PRINCIPAL DE TRANSMISIÓN</div>
                    <div id="listado3_2"></div>

                    <div class='title-seccion' style="margin-top: 25px">SALDOS ANTERIORES POR  PEAJE  DE  CONEXIÓN AL SISTEMA PRINCIPAL DE TRANSMISIÓN</div>
                    <div id="listado3_3"></div>
                </div>
                <div id="paso41">
                    <div id="tab-container2" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab' data-value="4"><a href="#paso4">ANEXO N°4</a></li>
                            <li class='tab' data-value="5"><a href="#paso5">ANEXO N°5</a></li>
                            <li class='tab' data-value="6"><a href="#paso6">ANEXO N°6</a></li>
                        </ul>
                        <div class='panel-container'>
                            <table class="content-tabla-search" style="width: auto">
                                <tr>
                                    <td>Elemento: </td>
                                    <td>
                                        <select id="cboElemento" multiple="multiple">
                                            @foreach (var item in Model.ListItemSelect)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <div id="paso4">
                                <div class="table-list" id="listado4" style="padding-top:25px"></div>
                            </div>
                            <div id="paso5" style="overflow: auto">
                                <div class="table-list" id="listado5" style="padding-top:25px"></div>
                            </div>
                            <div id="paso6" style="overflow: auto">
                                <div class="table-list" id="listado6" style="padding-top:25px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>