
@{
    ViewBag.Title = "Carga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/ServicioRPFNuevo/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script type="text/javascript" src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/ServicioRPFNuevo/Content/Scripts/cargarpf.js?v=2.4"></script>

<div class="form-title">
    <div class="content-titulo"> Carga de datos - Procedimiento 21 </div>
</div>
<div class="content-hijo" id="mainLayout" style="background-color: #fff; min-height: 580px;">
    <div class="action-message">@Model.MensajeError</div>
    <div class="content-action" style="display: table-cell;">
        <a href="#" id="btnDescargarFormatoRpf">
            <div class="content-item-action">
                <img src="~/Content/Images/excel.png" width="25" /><br />
                <span>Descargar Formato</span>
            </div>
        </a>
    </div>

    <div class="formulario-content" style="width: 55%; margin: auto;">
        <div class="formulario-r">
            <div class="formulario-rpf">Empresa:</div>
            <div class="formulario-controlrpf">
                <select id="cbEmpresa" name="cbEmpresa">
                    @foreach (var item in Model.ListaEmpresas)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Fecha:</div>
            <div class="formulario-controlrpf">
                <input type="text" value="@Model.Fecha" id="txtFecha" name="Fecha" />
            </div>
        </div>
        <div class="formulario-r">
            <div class="formulario-rpf">Archivo (Extensión: .CSV, Peso Max: 30MB ):</div>
            <div class="formulario-controlrpf">
                <a id="btnSelectFile" href="javascript:;">
                    <img src="~/Content/Images/btnFile.png" />
                </a>
                <div id="fileInfo"></div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    <div style="clear:both; height:1px"></div>
    <div id="container" class="contaniner-btn" style="text-align: center;">
        <input type="button" id="btnPreprocesar" value="Validar informacion" style="display:none" />
        <input type="button" id="btnProcesarFile" value="Procesar archivo" style="display:none" />
        <input type="button" id="btnCancelar" value="Cancelar" style="display:none" />
    </div>

    <div style="clear:both; height:15px"></div>
    <div id="listado" style="display:none;">
        <div id="contentGrafico" style="width: 750px; height: 500px; background-color: #F2F5F7; border: 1px solid #DDDDDD; padding: 15px; border-radius: 5px; margin: auto;"></div>
    </div>

    <div style="clear:both; height:15px"></div>
    <div class="etapa-content" id="contentEtapa" style="display:none">
        <div class="etapa-item">
            <div class="etapa-label">1. Subir el archivo:</div>
            <div class="etapa-control"><div id="percentCargaArchivo"></div></div>
        </div>
        <div style="clear:both"></div>
        <div class="etapa-item">
            <div class="etapa-label">2. Validación del Formato:</div>
            <div class="etapa-control">
                <div id="percentValidacion"></div>
                <div id="validacion"></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="etapa-item">
            <div class="etapa-label">3. Grabado de datos:</div>
            <div class="etapa-control">
                <div id="percentGrabado"></div>
                <div id="resultado" style="display:none">
                    Se grabaron los datos de potencia y frecuencia de los siguientes puntos de medición:
                    <br />
                    <div id="resultadoList"></div>

                    <br />
                    Para visualizar los datos cargados, haga <a href="JavaScript:openConsulta();">clic aqui</a>
                    <br />
                    <a id="btnNuevoCarga" style="display:none; margin-top:10px">
                        <img src="~/Content/Images/btnNuevo.png" style="cursor:pointer" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .formulario-r {
        height: 30px;
    }

    .formulario-rpf {
        float: left;
        width: 280px;
    }

    .formulario-controlrpf {
        float: left;
    }
</style>
