@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.ConsolidadoModel
@{
    ViewBag.Title = "Consolidado de Interrupciones de Suministros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Areas/CalculoResarcimiento/Content/Scripts/general.js?v=1.22"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/base.js?v=1.2"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/consolidado.js?v=1.6"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/grillaconsolidado.js?v=1.7"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/CalculoResarcimiento/Content/Css/css.css?v=6.9" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consolidado de Interrupciones de Suministro</div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Seleccione año:</td>
                <td>
                    <input type="text" id="txtAnio" value="@Model.Anio" />
                </td>
                <td>Seleccione periodo:</td>
                <td>
                    <select id="cbPeriodo">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            <option value="@item.Repercodi">@item.Repernombre</option>
                        }
                    </select>
                </td>
                <td>Tipo de información:</td>
                <td>
                    <select id="cbTipoInformacion">
                        <option value="S">Interrupción por punto de entrega</option>
                        <option value="R">Interrupción por rechazo de carga</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnHabilitar" value='Cargar' />
                </td>
                <div class="content-botonera" style="display: flex; align-items: center; justify-content: flex-end; height: auto; gap: 10px;">
                    <a href="#" id="btnManualUsuario" style="text-decoration: none; margin-top: -7px; margin-right: 20px;">
                        <div style="text-align: center; line-height: 15px; font-size: 12px;">
                            <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;"><br>
                            <span style="color: #278CCC;">Manual de Usuario</span>
                        </div>
                    </a>
                </div>


            </tr>
        </table>

        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#consolidado">Consolidado</a></li>
                <li class='tab'><a href="#reportes">Reportes</a></li>
            </ul>
            <div class='panel-container'>
                <div id="consolidado">
                    <div class="consolidado-form">
                        <div class="consolidado-form-item">
                            <div>Suministrador:</div>
                            <div>
                                <select id="cbSuministrador">
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item">
                            <div>Punto Entrega / Barra</div>
                            <div>
                                <select id="cbBarra">
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item campo-interrupcion">
                            <div>Causa interrupción</div>
                            <div>
                                <select id="cbCausaInterrupcion">
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item">
                            <div>Responsables</div>
                            <div>
                                <select id="cbResponsable">
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item">
                            <div>Aplicación 1DF NTCSE</div>
                            <div>
                                <select id="cbAplicacion">
                                    <option value="T">-TODOS-</option>
                                    <option value="S">Si</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item campo-interrupcion">
                            <div>Compensación Cero</div>
                            <div>
                                <select id="cbCompensacionCero">
                                    <option value="T">-TODOS-</option>
                                    <option value="S">Si</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item campo-interrupcion">
                            <div>Conformidad responsable</div>
                            <div>

                                <select id="cbConformidadResponsable">
                                    <option value="">-TODOS-</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>

                            </div>
                        </div>
                        <div class="consolidado-form-item campo-interrupcion">
                            <div>Conformidad suministrador</div>
                            <div>

                                <select id="cbConformidadSuministrador">
                                    <option value="">-TODOS-</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>

                            </div>
                        </div>
                        <div class="consolidado-form-item campo-rechazo">
                            <div>Evento:</div>
                            <div>
                                <select id="cbEvento">
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item campo-rechazo">
                            <div>Alimentador / SED:</div>
                            <div>
                                <input type="text" id="txtAlimentadorSED" />
                            </div>
                        </div>
                        <div class="consolidado-form-item">
                            <div>Estado:</div>
                            <div>
                                <select id="cbEstado">
                                    <option value="T">-TODOS-</option>
                                    <option value="A">Activo</option>
                                    <option value="B">Baja</option>
                                </select>
                            </div>
                        </div>
                        <div class="consolidado-form-item">
                            <div>Buscar:</div>
                            <div>
                                <input type="text" id="txtBuscar" />
                            </div>
                        </div>
                    </div>
                    <div class="consolidado-form-item-boton">
                        <input type="button" id="btnConsultar" value="Consultar" />
                        <input type="button" id="btnExportar" value="Exportar" />
                        <input type="button" id="btnSubirFormato" value="Importar Excel" />
                        <input type="button" id="btnGrabarInterrupcion" value="Grabar Interrupciones" />
                        <input type="button" id="btnDescargarArchivos" value="Descargar archivos" />
                        <input type="button" id="btnOcultarColumnas" value="Ocultar columnas" />
                    </div>

                    <div id="detalleFormato">
                    </div>

                    <strong>Leyenda:</strong>
                    <div>
                        <table>
                            <tr>
                                <td><div class="leyeamarilla"></div></td>
                                <td><span style="font-style:italic">Interrupciones actualizadas desde el trimestral.</span></td>
                            </tr>
                        </table>

                    </div>

                </div>
                <div id="reportes">
                    <table class="pretty tabla-icono" id="tablaReporte" style="width:50%">
                        <thead>
                            <tr>
                                <th>Reportes</th>
                                <th>Descargar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Consolidado de interrupciones de suministro</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnExcel(1)">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte consolidado de interrupciones" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Informe final</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnWord(9)">
                                        <img src="~/Content/Images/doc.png" alt="Acceso al reporte word de informe final" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cumplimiento de envío de interrupción de suministros</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnExcel(2)">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte cumplimiento de envio de interrupciones" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cumplimiento de envío de observaciones</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnExcel(3)">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte cumplimiento de envio de observaciones" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cumplimiento de envío de respuestas a observaciones</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnExcel(4)">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte cumplimiento de envio de respuesta a observaciones" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Interrupciones en Fuerza Mayor</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnExcel(5)">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte de interrupciones en fuerza mayor" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Contraste de interrupciones de suministro</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnExcel(6)">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte contraste de interrupciones de suministro" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Interrupciones por Agente Responsable</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnZip(10)">
                                        <img src="~/Content/Images/Document/raricon.png" alt="Acceso al reporte de interrupciones por agente responsable" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Interrupciones en controversia</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnExcel(7)">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte de interrupciones en controversia" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Interrupciones por suministrador</td>
                                <td>
                                    <a href="JavaScript:exportarReporteEnZip(11)">
                                        <img src="~/Content/Images/Document/raricon.png" alt="Acceso al reporte interrupciones por suministrador" />
                                    </a>
                                </td>
                            </tr>
                            <tr id="filaComparativa">
                                <td>Comparativo semestral y trimestral</td>
                                <td>
                                    <a href="JavaScript:mostrarListadoPeriodosEnlazados()">
                                        <img src="~/Content/Images/excel.png" alt="Acceso al reporte comparativo semestral y trimestral" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

<div id="popupAnulacion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Motivo de anulación de interrupción</span></div>
    <div class="popup-text content-registro" id="contenidoAnulacion">
        <table style="width:100%" id="tablaRegistro">
            <tr>
                <td class="registro-label">Usuario:</td>
                <td class="registro-control">
                    <span id="usuarioAnulacion"></span>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha:</td>
                <td class="registro-control">
                    <span id="fechaAnulacion"></span>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Motivo:</td>
                <td class="registro-control">
                    <span id="motivoAnulacion"></span>
                </td>
            </tr>
        </table>
    </div>
</div>


<div id="popupTrazabilidad" class="general-popup" style="width:1000px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Trazabilidad de Cambios</span></div>
    <div class="popup-text" id="contenidoTrazabilidad">
        <div id="excelTrazabilidad"></div>
    </div>
</div>

<div id="popupComparativo" class="general-popup" style="width:300px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Seleccionar Periodo Trimestral</span></div>
    <div class="popup-text" id="contenidoComparativo">
        <div id="mensaje_comparativo"></div>
        <div id="lstPeriodosTrimestrales">

        </div>
        <div>
            <div style="width: 160px; margin: 0 auto;">
                <input type="button" id="btnDescargarComparativo" value="Descargar" style="margin-top: 15px;">
                <input type="button" id="" value="Cancelar" onclick="cerrarPopup('popupComparativo')">
            </div>
        </div>

    </div>
</div>


<div id="popupColumna" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Ocultar o mostrar columnas</span></div>
    <div id="mensajeColumna"></div>
    <div class="popup-text" id="columna">
        <div id="contenedorColumnasS" class="contenedor-columnas"></div>
    </div>
    <div class="popup-text" id="columnaRC">
        <div id="contenedorColumnasR" class="contenedor-columnas"></div>
    </div>
    <div class="popup-button">
        <input type="button" id="btnOcultar" value="Aceptar" />
    </div>
</div>

<div id="popupErrores" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Errores en el ingreso de datos</span></div>
    <div class="popup-text" id="contenidoError">

    </div>
</div>