@model COES.MVC.Intranet.Areas.Admin.Models.PlanificacionModel
@{
    ViewBag.Title = "Consulta de descargar MODPLAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Content/Scripts/planificacion.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consulta de descargas MODPLAN</div>
    <div class="content-botonera">        
        
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="txtFechaInicio" value="@Model.FechaInicio" style="width:120px" />
                    
                </td>
                <td>Empresa:</td>
                <td>
                    Fecha hasta: <input type="text" id="txtFechaFin" value="@Model.FechaFin" style="width:120px" />
                </td>
                
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
    </div>

    <br />
    <br />
</div>
