@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.ConfiguracionRpfModel

<table class="pretty tabla-icono" id="tablaRpf">
    <thead>
        <tr>
            <th>Valor</th>
            <th>Vigencia a partir de</th>
            <th>Lastuser</th>
            <th>Lastdate</th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaHistorico)
        {          
            <tr>
                <td>@item.Paramvalor</td>
                <td>@item.Paramvigencia.ToString("dd/MM/yyyy")</td>
                <td>@item.Paramusuario</td>
                <td>@item.Paramdate.ToString("dd/MM/yyyy")</td>                
            </tr>
        }
    </tbody>
</table>