@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.AnalisisModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/ServicioRPF/Content/Scripts/normal.js?v=1"></script>
    <link href="~/Areas/ServicioRPF/Content/Css/normal.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
   
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
}

<div class="form-title">
    <div class="content-titulo">Análisis en Estado Normal</div>
    <div class="content-botonera">                                    
    </div>
</div>

<div class="content-hijo">

    <div id="mensajeResultado"></div>
    
    <div id="tab-container" class='tab-container'>
       <ul class='etabs'>
             <li class='tab'><a href="#paso1">Elección del Periodo a evaluar</a></li>
             <li class='tab'><a href="#paso2">Evaluación de la muestra</a></li>
             <li class='tab'><a href="#paso3">Reporte</a></li>
             <li class='tab'><a href="#paso4">Parámetros</a></li>
       </ul>
       <div class='panel-container'>
           <div id="paso1">
               
               <h2>Elección del Periodo a evaluar</h2>

               <div id="tab-container-principal" class='tab-container'>
                   <ul class='etabs'>

                       <li class='tab-alter'><a href="#pasoPrincipal1">Archivo de potencias</a></li>
                       <li class='tab-alter'><a href="#pasoPrincipal2">Elección de los 5 minutos</a></li>
                   </ul>
                   <div class='panel-container'>
                       <div id="pasoPrincipal1">
                           <h2>Archivo de potencias</h2>
                           <div id="vistaPotencia">
                           </div>
                       </div>

                       <div id="pasoPrincipal2">

                          
                           <h2>Elección de los 5 minutos</h2>
                           Fecha de Proceso:
                           <input type="text" id="FechaProceso" value="@Model.FechaProceso" style="width:120px" />
                           <input type="button" value="Obtener Rango" id="btnObtenerRango" />
                           <input type="button" value="Nuevo" id="btnNuevoProceso" />
                           <div style="clear:both; height:20px"></div>
                           <div id="seleccionRango">
                           </div>
                       </div>
                    </div>
                </div>                       


                   </div>
           <div id="paso2">
               <h2>Evaluación de la Muestra</h2>
               <div id="seleccionUnidad">
               </div>
           </div>
           <div id="paso3">
               <h2>Reporte de cumplimiento</h2>
               <div id="reporte">
               </div>
           </div>
           <div id="paso4">
               <h2>Parámetros</h2>
               <div id="parametros">
               </div>
           </div>
       </div>
    </div>
</div>