@model COES.MVC.Intranet.Areas.Admin.Models.EmpresaMMEModel
@{
    ViewBag.Title = "Administración de Empresas MME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Content/Scripts/empresamme.js?v=1.1"></script>
<link href="~/Areas/Admin/Content/css.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/Scripts/app-common.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/calendar.css?v=1.2" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker.js?v=1.2"></script>

@if (Model.Indicador == "S")
{

    <script type="text/javascript">

        $(function () {
            $('#cntMenu').hide();
            $('.header').hide();
            $('.content-header').hide();
            $('.footer').hide();
        });

    </script>
}

<div class="form-title">
    <div class="content-titulo">Administración de Empresas MME</div>
    <div class="content-botonera">
        @if (Model.IndicadorGrabar == "S")
        {
            <input type="button" id="btnNuevoMME" value='Nuevo' />
        }
        <input type="button" id="btnNuevoMME" value='Nuevo' />
    </div>
</div>

<div class="content-hijo" id="mainLayoutMME">

    <div id="mensajeMME"></div>

    <div class="search-content" style="margin-bottom:10px" id="cntBusquedaMME">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <!--<td>Nombre:</td>
                    <td>
                        <input type="text" id="txtNombreFiltroMME" />
                    </td>
                    <td>RUC:</td>
                    <td>
                        <input type="text" id="txtRucFiltroMME" />
                    </td>-->
                <td>Tipo Participante:</td>
                <td>
                    <select id="cbTipoEmpresaFiltroMME">
                        <option value="2">DISTRIBUCIÓN</option>
                        <option value="3">GENERACIÓN</option>
                        <option value="4">GRAN USUARIO</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultarMME" value='Consultar' />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginadoMME"></div>
        </div>
        <div style="clear:both;height:5px"></div>
        <div class="table-list" id="listadoMME"></div>
    </div>
    <input type="hidden" id="hfNroPaginaMME" name="NroPaginaMME" value="1" />
    <input type="hidden" id="hfIndicadorGrabarMME" value="@Model.IndicadorGrabar" />

</div>

<input type="hidden" id="hfIndicadorMME" value="@Model.Indicador" />

<br />
<br />

<div id="popupDetalleMME" class="general-popup" style="width:650px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Datos de la Empresa</span></div>
    <div class="popup-text" id="contenidoDetalleMME">
    </div>
</div>

<div id="popupAuditoriaMME" class="general-popup" style="width:650px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial</span></div>
    <div class="popup-text" id="contenidoAuditoriaMME">
    </div>
</div>
