@model COES.MVC.Extranet.Areas.Transferencias.Models.SolicitudCodigoModel
<style>
    /*    input[type="checkbox"].AGRVTA:checked {
        box-shadow: 0 0 0 3px #edb7f7;
    }*/
    tr[ data-tipo="1"] input[type="checkbox"].AGRVTA {
        box-shadow: 0 0 0 2px #edb7f7;
    }
    /* Elementos Option, cuando se seleccionan */
    option:checked {
        box-shadow: 0 0 0 3px lime;
        color: red;
    }

    body {
        margin: 0;
        padding: 2rem;
    }
</style>


<div class="listado">

    <table border="0" class="pretty tabla-icono thead-fixed" id="tablaEnvios">
        <thead>
            <tr>
                <th>Código de envío</th>
                <th>Usuario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListarEnvios)
            {
                <tr>
                    <td>
                        @item.TrnPcEnvCodi
                    </td>
                    <td>
                        @item.TrnPcEnvUsuario
                    </td>
                    <td>
                        @(string.Format("{0}", item.TrnPcEnvFechaRe))
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>

