@model COES.MVC.Extranet.Areas.Transferencias.Models.SolicitudCodigoModel
@{
    ViewBag.Title = "Registrar una Solicitud de Código";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div>
    @Html.Partial("Edit", Model, new ViewDataDictionary { { "sTitulo", "Ver detalle de solicitud" }, { "sAccion", "Editar" } })
</div>
