@model COES.Dominio.DTO.Transferencias.TipoContratoDTO
@{
    ViewBag.Title = "Transferencias - Editar un tipo de contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información del Tipo de Contrato" }, { "sAccion", "Actualizar" } })
</div>