@model COES.Dominio.DTO.Transferencias.TipoContratoDTO
@{
    ViewBag.Title = "Transferencias - Insertar un Tipo de contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar nuevo Tipo de Contrato" }, { "sAccion", "Insertar" } })
</div>