@model COES.MVC.Intranet.Areas.Transferencias.Models.TipoContratoModel

@{
    ViewBag.Title = "Vista Preliminar";

}


<fieldset>
    <legend>Tipo de Contrato</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TipoContNombre, "Nombre : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TipoContNombre)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TipoContEstado, "Estado : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TipoContEstado)</div>
            </td>
        </tr>

    </table>

</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>