@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReporteFinalModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CortoPlazo/Content/Scripts/configuracionreportefinal.js?v=6"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Configuración de datos para reportes CMgCP</div>
    <div class="content-botonera">

    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.FechaConsulta" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>


    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#hoja1">Barras desconocidas</a></li>
            <li class='tab'><a href="#hoja2">Rel. Barras EMS y de Transferencia</a></li>
            <li class='tab'><a href="#hoja3">Rel. Barras de Transferencia</a></li>
            <li class='tab'><a href="#hoja4">Rel. Equipos en congestión y Barras de Transferencia</a></li>
            <li class='tab'><a href="#hoja5">Periodos</a></li>
            <li class='tab'><a href="#hoja6">Umbrales</a></li>
        </ul>
        <div class='panel-container'>
            <div id="hoja1">

                <div style="float:right">
                    <input type="button" id="btnBarraDesconocida" class="btn-agregar" data-id="0" value="Agregar" />
                </div>
                <div style="clear:both; height:15px"></div>
                <div id="cntBarraDesconocida"></div>

            </div>

            <div id="hoja2">
                <div style="float:right">
                    <input type="button" id="btnBarraEMS" class="btn-agregar"  data-id="1" value="Agregar" />
                </div>
                <div style="clear:both; height:15px"></div>
                <div id="cntBarraEMS"></div>

            </div>

            <div id="hoja3">
                <div style="float:right">
                    <input type="button" id="btnBarraTransferencia" class="btn-agregar" data-id="2" value="Agregar" />
                </div>
                <div style="clear:both; height:15px"></div>
                <div id="cntBarraTransferencia"></div>

            </div>

            <div id="hoja4">

                <div style="float:right">
                    <input type="button" id="btnEquipo" value="Agregar" />
                </div>
                <div style="clear:both; height:15px"></div>
                <div id="cntBarraEquipo"></div>

            </div>
            <div id="hoja5">
                <div style="float:right">
                    <input type="button" id="btnPeriodo" value="Agregar" />
                </div>
                <div style="clear:both; height:15px"></div>
                <div id="cntPeriodo"></div>

            </div>
            <div id="hoja6">
                <div style="float:right">
                    <input type="button" id="btnUmbral" value="Agregar" />
                </div>
                <div style="clear:both; height:15px"></div>
                <div id="cntUmbral"></div>

            </div>
        </div>
    </div>


    <br />
    <br />
</div>

<div id="popupBarra" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de barras</span></div>
    <div class="popup-text" id="contenidoBarra" style="margin-top:0">


    </div>
</div>

<div id="popupHistoricoBarra" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Histórico de relación entre barras</span></div>
    <div class="popup-text" id="contenidoHistoricoBarra" style="margin-top:0">


    </div>
</div>

<div id="popupPeriodo" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Periodos CM</span></div>
    <div class="popup-text" id="contenidoPeriodo" style="margin-top:0">


    </div>
</div>

<div id="popupHistoricoPeriodo" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Histórico de configuración de periodos</span></div>
    <div class="popup-text" id="contenidoHistoricoPeriodo" style="margin-top:0">


    </div>
</div>

<div id="popupUmbral" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Umbrales</span></div>
    <div class="popup-text" id="contenidoUmbral" style="margin-top:0">


    </div>
</div>

<div id="popupHistoricoUmbral" class="general-popup" style="min-width:1000px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Histórico de configuración de umbrales</span></div>
    <div class="popup-text" id="contenidoHistoricoUmbral" style="margin-top:0">


    </div>
</div>

<div id="popupEquipo" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Equipos vs Barras</span></div>
    <div class="popup-text" id="contenidoEquipo" style="margin-top:0">


    </div>
</div>

<div id="popupHistoricoEquipo" class="general-popup" style="min-width:1000px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Histórico de configuración de equipos y barras adicionales</span></div>
    <div class="popup-text" id="contenidoHistoricoEquipo" style="margin-top:0">


    </div>
</div>

<div id="popupBarraEMS" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Barras EMS adicionales</span></div>
    <div class="popup-text" id="contenidoBarraEMS" style="margin-top:0">


    </div>
</div>