@model COES.MVC.Intranet.Areas.CortoPlazo.Models.FactorPerdidaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/CortoPlazo/Content/Scripts/cargarfpm.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/DemandaBarras/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Cargar factores de pérdida marginal (FPM)</div>
    <div class="content-botonera">

    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div id="listado">
        <div id="contentTabla"></div>

        <table style="width:auto">
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:15px">
                        <table style="width:auto">
                            <tr>
                                <td style="line-height:20px; padding-right:10px">Fecha:</td>
                                <td style="padding-right:10px">
                                    <input type="text" id="txtFecha" value="@Model.FechaConsulta" />
                                </td>
                                <td style="padding-right:10px">
                                    <input type="button" id="btnConsultar" value="Aceptar" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="search-content" style="margin-bottom:0px; margin-left:10px; padding:15px; padding-top:7px" id="divAcciones">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="content-action">
                                    <a href="#" id="btnDescargarFormato">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/bajar.png" /><br />
                                            <span>Descargar formato</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnSelectExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/subir.png" /><br />
                                            <span>Importar formato</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnEnviarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/enviar.png" /><br />
                                            <span>Enviar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnMostrarErrores">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/errores.png" /><br />
                                            <span>Mostrar errores</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnVerEnvios">
                                        <div class="content-item-action">
                                            <img src="~/Areas/DemandaBarras/Content/Images/envios.png" /><br />
                                            <span>Ver envíos</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <div style="clear:both; height:20px"></div>
    <span id="notaDatos" style="font-style:italic; font-size:11px; font-weight:bold"></span>
    <div style="clear:both; height:10px"></div>
    <div id="contenedor">

    </div>
    <div style="clear:both; height:20px"></div>


    <div id="popupErrores" class="general-popup">
        <div><span class="button b-close"><span>X</span></span></div>
        <div class="popup-title"><span>Errores de validación</span></div>
        <div class="popup-text" id="contenidoErrores" style="margin-top:20px">


        </div>
    </div>
    <div id="popupHistorico" class="general-popup">
        <div><span class="button b-close"><span>X</span></span></div>
        <div class="popup-title"><span>Histórico de envíos</span></div>
        <div class="popup-text" id="contenidoHistorico" style="margin-top:20px">


        </div>
    </div>

    <br />
    <br />
</div>