<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\FichaTecnica.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %location [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD1_SICOES;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="EmailServer" value="srvprosmtp.coes.org.pe"/>
    <add key="MailFrom" value="webapp@coes.org.pe"/>
    <add key="UserNameSMTP" value=""/>
    <add key="PasswordSMTP" value=""/>
    <add key="EquipamientoNotificacionMailTo" value="erika.chavez@coes.org.pe;jose.delgado@coes.org.pe"/>
    <add key="EquipamientoNotificacionMailBcc" value="jose.delgado@coes.org.pe"/>
  </appSettings>
</configuration>
