.th_tipo_operacion {
    background: #147b3a !important;
}

.fila_transf td {
    padding-top: 7px;
}

#listadoEmpresa .td_descripcion {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.action-message {
    margin-top: 0px;
    margin-bottom: 10px;
}

.search-content {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.div_empresa .tbform-control {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.div_empresa table tr td {
    vertical-align: middle;
}

fieldset.div_empresa {
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 2px;
}

    fieldset.div_empresa .tbform-control {
        padding-top: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }

    fieldset.div_empresa table {
        width: 989px;
        margin-left: 60px;
    }

        fieldset.div_empresa table tr td {
            vertical-align: middle;
        }

.cntArea td {
    text-align: left !important;
}

#stepTransf div div.content.clearfix {
    height: 651px;
}

#resumen_transf td {
    padding-bottom: 10px;
}

.wizard > .steps > ul > li {
    width: 33%;
}

#resumen_transf select:disabled {
    background: lightgray;
    color: #4876AA;
}

#resumen_transf input:disabled {
    background: lightgray;
    color: #4876AA;
}

.popup_app {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 380px;
    padding: 25px
}

.div_empresa .td_color {
    text-align: center;
    text-indent: 0px;
}

#div_procesar p {
    font-size: 14px;
}

#orig_field_empresa {
    /*border: 1px solid #43a243;*/
}

    #orig_field_empresa legend {
        color: #43a243;
    }

#dest_field_empresa {
    /*border: 1px solid #fd4444;*/
}

    #dest_field_empresa legend {
        color: #fd4444;
    }


#orig_div_empresa fieldset {
    /*border: 1px solid #43a243;*/
}

    #orig_div_empresa fieldset legend {
        color: #43a243;
    }

#dest_div_empresa fieldset {
    /*border: 1px solid #fd4444;*/
}

    #dest_div_empresa fieldset legend {
        color: #fd4444;
    }

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}

.w3-panel {
    margin-bottom: 16px;
}

.w3-leftbar {
    border-left: 6px solid #ccc !important;
}

.w3-pale-blue, .w3-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important;
}

.w3-border-blue, .w3-hover-border-blue:hover {
    border-color: #2196F3 !important;
}
