<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Logs\[AppCarpeta].txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %location [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="ContextoSIC" connectionString="" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoSCADA" connectionString="" providerName="Oracle.ManagedDataAccess.Client" />
	<add name="ContextoSP7" connectionString="" providerName="Oracle.ManagedDataAccess.Client" /> 
	<add name="ContextoHIS" connectionString="" providerName="System.Data.Odbc" />
	<add name="ConnCyDOC" connectionString="" providerName="System.Data.SqlClient" />
	<add name="CSDocDJR" connectionString="" providerName="System.Data.EntityClient" />

  </connectionStrings>
  
  <appSettings>
    <!--Agregar para despliegue en pipelines-->
    <add key="RutafilesIIS" value="D:\AplicacionesWeb\Produccion\"/>
	<add key="AzureSearch:Endpoint" value="" />
	<add key="AzureSearch:ApiKey" value="" />
	<add key="AzureSearch:IndexName" value="" />
	<add key="AzureSearch:IndexerTableName" value="" />
	<add key="AzureSearch:IndexerBlobName" value="" />
	<add key="AzureStorage:ConnectionString" value="" />
	<add key="AzureStorage:TableName" value="" />
	<add key="AzureStorage:TablePartitionKey" value="" />
	<add key="AzureOpenAI:Endpoint" value="" />
	<add key="AzureOpenAI:ApiKey" value="" />
	<add key="AzureOpenAI:Model" value="" />
	<add key="AzureOpenAI:Version" value="" />
	<add key="MLService:Url" value="" />


	  <!--Agregar para despliegue en pipelines-->
    <add key="UserFrecuencia" value="usuariofrecuencia" />
    <add key="DomainFrecuencia" value="coes.org.pe" />
    <add key="PasswordFrecuencia" value="us3rfr3cu3nc14" />
    <add key="RSFFlagEnviarNotificacionManual" value="N" />
    <add key="CodigoCorreoAlertaDatosFrecuencias" value="312" /> 
    <add key="CodigoCorreoAlertaEventosFrecuencia" value="313" />
    <add key="CodigoCorreoAlertaReporteSegundosFaltantes" value="314" />
    <add key="FolderDataImages" value="\\coes.org.pe\ArchivosApp\Server_web_data\Images\" />
    <add key="RutaArchivosSddp" value="\\SRVPREPRODAPP\FileSystemCOES2\PrimaRER\SDDP\"/>
    <add key="powerbi:client_id" value="72..."/>
    <add key="powerbi:client_secret" value="8LV6JtM7teritz5GTjcB[r=N@A[ymd33"/>
    <add key="powerbi:pbi_user" value="biapp01@coes.org.pe"/>
    <add key="powerbi:pbi_password" value="coes.COES.2020!"/>
    <add key="powerbi:primarer:egreso_potencia_id" value="47eb8e49-c775-48ff-868a-f707ce777281"/>
    <add key="powerbi:Primarer:egreso_potencia_mensual_id" value="3e17a4f3-1a5f-460c-9ad0-16015e3f85e9"/>
    <add key="powerbi:Primarer:energia_valorizada_id" value="a354d53b-d468-4764-abe2-a726355e11c7"/>
    <add key="powerbi:Primarer:inform_ingresada_id" value="0c0dcc44-4d0c-4948-a247-2c1fcfffc0db"/>
    <add key="powerbi:Primarer:ingresos_potencia_id" value="4caf15f2-598b-4a12-a577-488d37848603"/>
    <add key="powerbi:Primarer:ingreso_tarifario_transmisoras_id" value="f5b52726-5642-4af3-86a7-60128de24234"/>
    <add key="powerbi:Primarer:ingreso_peaje_id" value="7a6c1dfa-efb8-4755-8e22-056ad79dac8e"/>
    <add key="powerbi:Primarer:ingreso_tarifario_id" value="c5e42f9f-9faa-4f4b-98b2-5c3e1b84a2f7"/>
    <add key="powerbi:Primarer:potencia_firme_remunerable_id" value="6077fae8-0e11-4128-92d9-6b6fcd58c2f6"/>
    <add key="powerbi:Primarer:saldos_rentas_ingreso_tarifario_id" value="7080d188-41cd-4907-b94f-71edc930fbdd"/>
  
    <add key="sioseinMaximoCaracteres" value="1000" />
    <add key="AppIISName" value="AppIntranet" />
    <add key="AppCarpeta" value="" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
	<add key="EmailServer" value="srvprosmtp.coes.org.pe" />
    <add key="MailFrom" value="webapp@coes.org.pe" />
    <add key="UserNameSMTP" value="" />
    <add key="PasswordSMTP" value="" />
	<add key="PlazoMinIPI" value="150" /> 
	<add key="PlazoMinIF" value="3600" /> 
	<add key="FormatoSco" value="136" />
	<add key="FileSystemExtranet" value="C:\FileSystemCOES\Ctaf\Files\Extranet\" />  
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />   
	<add key="RutaLogo" value="[RutafilesIIS][AppCarpeta]\Content\Images\" />
    <add key="ReporteEvento" value="[RutafilesIIS][AppCarpeta]\Areas\Eventos\Reporte\" />
    <add key="ReportePerfiles" value="[RutafilesIIS][AppCarpeta]\Areas\Formulas\Reporte\" />
    <add key="ReporteServicioRPF" value="[RutafilesIIS][AppCarpeta]\Areas\ServicioRPF\Reporte\" />
    <add key="RutaExportacionInformeEvento" value="[RutafilesIIS][AppCarpeta]\Areas\Eventos\Reporte\" />
    <add key="RutaCargaEvento" value="[RutafilesIIS][AppCarpeta]\Areas\Eventos\Reporte\" />
    <add key="ReporteTransferencia" value="[RutafilesIIS][AppCarpeta]\Areas\Transferencias\Reporte\" />
	<add key="RepositorioResarcimientos" value="Areas\\Resarcimientos\\Reporte\\" />
  <add key="RutaBaseArchivoResarcimiento" value="" />
    <add key="ReporteMediciones" value="D:\data\medidores\" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="NameSchemaSIC" value="SIC" />
	<add key="EquipamientoBucket" value="equipamiento" />
    <add key="KeyS3" value="AKIAIRWX4QRXZPXEZ6UA" />
    <add key="SecretS3" value="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" />
    <add key="ReporteDemandaBarras" value="[RutafilesIIS][AppCarpeta]\Areas\DemandaBarras\Reportes\" />
    <add key="ReporteDemanda" value="C:\tmp\" />
    <add key="ReporteTransmisores" value="C:\tmp\" />
    <add key="RutaCargaFile" value="[RutafilesIIS][AppCarpeta]\Uploads\" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="200000000" />
    <add key="RolRepresentanteLegal" value="101" />
	<add key="LocalDirectory" value="\\coes.org.pe\ArchivosApp\Webapp\" />
    <add key="parametros" value="SELECCIONE" />
    
    <add key="parametros3" value="Precio" />
    <add key="parametros4" value="Termica" />
    <add key="RutaAGCRSF" value="\\srvprodappcmgn\agc\RSF" />
    <add key="RutaAGCRSF_RESPALDO" value="\\test.org.pe\SCADA_AGC_RESP\" />
    <add key="RutaAGCUnitMaxGeneration" value="\\srvprodappcmgn\agc\RSF" />
    <add key="FilesAGCAllXmls" value="UnitMaxGeneration.xml|UnitMinGeneration.xml|UnitScheduledLoad.xml|UnitScheduledLoad_Virtual.xml|ReporteRSF.xlsx" />
	
	<add key="PathPotRemunerable" value="\\srvprodappcmgn\AplicativoPFR\" />
	
	<add key="RutaReportePRIE" value="C:\tmp\" />
	
	<add key="InfSgiFechaVigFlujoIEOD" value="01/02/2024"/>
	
	<!--PRODEM 2 - Ruta temporal para los reportes-->
	<add key="ReportePronostico" value="[RutafilesIIS][AppCarpeta]\Areas\PronosticoDemanda\Reportes\" />

	<!--PRODEM 3 - Ruta temporal para los reportes estimador-->
	<add key="ReporteEstimador" value="[RutafilesIIS][AppCarpeta]\Areas\PronosticoDemanda\Reportes\" />
	<add key="ReporteConsultaAporte" value="[RutafilesIIS][AppCarpeta]\Areas\PronosticoDemanda\Reportes\" />
	<add key="ReporteAsociacionBarra" value="[RutafilesIIS][AppCarpeta]\Areas\PronosticoDemanda\Reportes\" />
	
	<!--Inicio CMgCP_PR07-->
	<add key="FechaVigenciaPR07" value="01/07/2022" />
	
	<!--Subastas-->
    <add key="SubastasTamanioFileActa" value="25mb" />
    <add key="SubastasUrscodiProvisionBase" value="1964,914,3170" />
    <add key="SubastasFechaDespliegue" value="31/12/2020" />
	
    <add key="MargenCalculo" value="0.001" />
    <add key="ReporteDespacho" value="[RutafilesIIS][AppCarpeta]\Areas\Despacho\Reporte\" />
	<add key="ReporteSubastas" value="[RutafilesIIS][AppCarpeta]\Areas\Subastas\Reporte\" /> 
	<add key="ReporteEquipamiento" value="[RutafilesIIS][AppCarpeta]\Areas\Equipamiento\Reporte\" />
	<add key="ReportePropiedades" value="[RutafilesIIS][AppCarpeta]\Areas\Equipamiento\Reporte\" />
	<add key="FechaInicioCumplimientoPR16" value="01/01/2016" />
	<add key="DiaCierrePeriodoPR16" value="10" />
    <add key="IdFormatoPR16" value="54" />
    <add key="IdLecturaPR16" value="52" />
    <add key="IdLecturaAlphaPR16" value="53" />
    <add key="DiaAperturaPeriodoPR16" value="1" />
    <add key="DiaRecordatorioPeriodoPR16" value="5" />
	<add key="UrlSincronizacionMaestro" value="http://ws.osinergmin.gob.pe:80/interosi-coes-ws/remote/sincronizacionMaestrosWS" />
	<add key="PathCostosMarginales" value="\\coes.org.pe\CMNG_resultados\PROD\" />
	<add key="PathReprocesoCostosMarginales" value="\\srvprodappcmgn\psse\" />
	<add key="PathReprocesoCostosMarginalesTNA" value="" />
    <!--<add key="PathReprocesoCostosMarginalesTNA" value="\\Srvprodappcmgn\SJM\TNA_AUTOMATIC\" />-->
	<add key="RutaInfografia" value="[RutafilesIIS]PortalApp\Content\Infografia\" />
	<add key="UrlImportacionSicli" value="http://ws.osinergmin.gob.pe:80/interosi-coes-ws/remote/importacionSicliWS" />
	<add key="UrlRemisionAOsi" value="http://ws.osinergmin.gob.pe:80/interosi-coes-ws/remote/remisionCoesWS" />
	<add key="parametros1" value="PMPO_ETAPA_1" />
    <add key="parametros2" value="PMPO_ASUNTOCORREO" />    
    
    <add key="FlagPmpoEnviarNotificacion" value="S" /> 
	<add key="PathAppPMPO" value="extranet/pmpo/" /> 
    
    <add key="IdLecturaMedidorGeneracion" value="1" />
	<add key="IdLecturaMedidorGeneracionPrueba" value="1" />

	<!--Registro Integrantes-->
    <add key="SiteRegistroIntegrantes" value="http://www.coes.org.pe/portal/" />
    <add key="admRegistroIntegrantes" value="sri@coes.org.pe" />
	<add key="riTituloEmpresa" value="Es la razón social de la empresa (Agente) así como otra información relevante para el registro." />
    <add key="riTituloTipoIntegrante" value=": Es la clasificación que recibe cada empresa (Agente), según la actividad que le genere mayores ingresos  (Generador, Transmisor, Distribuidor o Usuario Libre)." />
    <add key="riTituloRepresentanteLegal" value="Es la persona que cuenta con las facultades de representación general, procesal y de delegación frente al COES, incluida la facultad de participar con voz y voto en las asambleas del COES a nombre de la empresa (Agente)." />
    <add key="riTituloPersonaContacto" value="Es(son) la(s) persona(s) designada(s) y autorizada(s) por el Representante Legal de la empresa (Agente) para efectuar coordinaciones operativas con el COES, con total validez." />
    <add key="riTituloPersonaResponsable" value="Es el encargado(a) de la empresa (Agente) que registra e ingresa la información de la empresa a través de la página web del Sistema de Registro de Integrantes del COES." />
    <add key="ReporteRechazoCarga" value="[RutafilesIIS][AppCarpeta]\Areas\RechazoCarga\Reporte\" />
    
    <add key="IdFormatoTR" value="93" />
    <add key="IdLecturaTR" value="222" />
    <add key="InitialUrl" value="https://www.coes.org.pe/[AppIISName]" />	
	<add key="UrlServiceDesk" value="https://coes.proactivanet.com/proactivanet/servicedesk/default.paw"/>

	<!--Intervenciones-->
    <add key="IntervencionPorcentajeSimilitud" value="90.0" />	
    <add key="N" value="N" />
    <add key="FlagCompletarDatosAplicativos" value="S" />
    <add key="FlagEnviarComunicacion" value="N" />
    <add key="FlagEnviarNotificacionAAgente" value="N" />
    <add key="FlagEnviarNotificacionHo" value="N" />
    <add key="ListaEmailAdminIntervencionesTo" value="correos" />
    <add key="ListaEmailAdminIntervencionesCC" value="correos" />	

	<!-- Intervenciones-->
	<add key="ReporteMonitoreo" value="[RutafilesIIS][AppCarpeta]\Areas\Monitoreo\Reporte" />
	<add key="DirectorioDat" value="\\coes.org.pe\areas\spr\3-mediano plazo" />
	<add key="PlantillaSDDP" value="PlantillaResultadosSDDP.xlsm" />
	<add key="admValorizacionDiariaEmail" value="webapp@coes.org.pe" />	
	<add key="DevolucionAporteArchivos" value="[RutafilesIIS][AppCarpeta]\Uploads\"/>
    <add key="RutaFacturas" value="D:\Data\Devoluciones\Facturas\{0}"/>
    <add key="RutaDevoluciones" value="D:\Data\Devoluciones\Devoluciones\{0}"/>
    <add key="FechaCruceHoraOperacion" value="01/08/2019" />	
	<add key="ReporteGestionEoEpo" value="[RutafilesIIS][AppCarpeta]\Areas\GestionEoEpo\Reportes\" />
	<add key="NroRevisiones" value="5" />	
    <add key="RutaComunicados" value="[RutafilesIIS]PortalApp\Content\Images\Comunicados\" />
    <!--PRODEM 2 - Ruta temporal para los reportes-->
    <!--
    <add key="ReportePronostico" value="[RutafilesIIS][AppCarpeta]\Temporales\" />
    -->

    <!--CTAF Interrupciones Suministros-->
    <add key="FlagNotificarCargaInformacionDeAgente" value="N" />
    <add key="FlagNotificarSolicitudesPendientes" value="N" />
    <add key="ListaEmailAdminEventosTo" value="ctaf@coes.org.pe" />
    <add key="ListaEmailAdminEventosCC" value="alan.alvarado@movisoft.pe;soporte1@movisoft.pe;jperez@movisoft.pe;raul.castro@coes.org.pe" />

    <!--CTAF Solicitudes-->
    <add key="FlagNotificarEstadosSolicitudes" value="N" />
    <add key="ListaEmailAdminSolicitudesTo" value="ctaf@coes.org.pe" />
    <add key="ListaEmailAdminSolicitudesCC" value="alan.alvarado@movisoft.pe;soporte1@movisoft.pe;jperez@movisoft.pe;raul.castro@coes.org.pe" />
	<add key="ReportePronosticoBarra" value="[RutafilesIIS][AppCarpeta]\Temporales\" />
    <add key="ReportePerfilPatron" value="[RutafilesIIS][AppCarpeta]\Temporales\" />

    <!--Equipamiento-->
	<add key="PathAppEquipamiento" value="FichaTecnica/" />
    <add key="FechaHoraProdVigencia" value="02/02/2021 15:50" />

	<!--Yupana continuo-->
    <add key="PathYupanaContinuo" value="\\10.100.251.83\AplicativoYupanaContinuo\" />
    <add key="NumCPUYupanaContinuo" value="3" />
    <add key="NumGamsParaleloYupanaContinuo" value="2" />
    <add key="MinutoMaxGamsYupanaContinuo" value="15" />
	
	<!--Yupana continuo 05012023-->
    <add key="DirectorioGAMS" value="C:\GAMS\34" />
    <add key="UsarWebServiceYupanaContinuo" value="S" />
    <add key="ActualizarInsumoYupanaContinuo" value="S" />
	
	<!--Inicio Mejoras EO-EPO-->
	<add key="FechaAnioVigencia" value="01/10/" />
	<add key="FechaVencimientoVigencia" value="01/10/" />
	<!--Fin Mejoras EO-EPO-->
	
	<add key="FlagGrabarEveMantto" value="S" />	
	<add key="PathAppIntervenciones" value="Intervenciones/" />    
	<add key="FechaInicioDemandaUsuario" value="01/02/2017" />
	
	<!--Mejoras Url en Duro-->
	<add key="LogoCoes" value="https://www.coes.org.pe/wcoes/images/logocoes.png"/>
	<add key="LogoEmail" value="https://www.coes.org.pe/Portal/Content/Images/logomail.jpg"/>
	<add key="LogoEmailIntervenciones" value="https://www.coes.org.pe/AppIntranet/content/images/logo2024.png"/>
	<add key="UrlIntranet" value="http://www.coes.org.pe/[AppIISName]/"/>
	<add key="UrlPortal" value="https://www.coes.org.pe/Portal/"/>
	
	<add key="UrlFileAppPortal" value="https://www.coes.org.pe/fileapp/"/>
	<add key="UrlFileAppInformacionOperativa" value="https://www.coes.org.pe/InformacionOperativaApp/"/>
	<add key="UrlFileAppFichaTecnica" value="https://www.coes.org.pe/fileAppFichaTecnica/"/>
	<add key="wsIndSupervision" value="https://appserver.coes.org.pe/wsIndSupervision/IndiceSupervision.asmx" />
	<!--Fin Mejoras Url en Duro-->

    <add key="DirectorioReporteCircular" value="C:\tmp\DirectorioReporteCircular\" />
    <add key="ArchivoReporteCircularZip" value="C:\tmp\DirectorioReporteCircularZip\data.zip" />
	
	<add key="EmpresaUsuarioLibreCodigo" value="4" />
    <add key="EmpresaUsuarioLibreCorreoNotificacionRegistroEliminacionPuntoMedicion" value="sgi@coes.org.pe" />
	
	<add key="FileSystemSCO" value="\\coes.org.pe\Areas\SCO\" />
	<add key="PermisoSEV" value="20" />
	<add key="FileSystemPortal" value="\\coes.org.pe\archivosapp\web\"/>

	<!--///////////////////////////////-->
	<add key="PermisoSEV" value="20" />
	<add key="FileSystemSev" value="\\coes.org.pe\Areas\SEV\GSC\AE\" />
	<add key="FechaFinSem1" value="30/06/" />
	<add key="FechaInicioSem2" value="01/07/" />
	<add key="FechaFinSem2" value="31/12/" />
	<add key="UserRecomendaciones" value="233" />
	<add key="CriticidadRec" value="2" />
	<add key="EstadoRec" value="1" />
	<add key="PlazoNotiRec" value="7" />
	<add key="IdPlantilla" value="122" />
	<add key="FileSystemMigraciones" value="" />
	
	<add key="ReporteCumplimiento" value="[RutafilesIIS][AppCarpeta]\Areas\IND\Reportes\" /> 
	<add key="FRCCSSiparcodi" value="27"/> 
	<add key="FRCCCSiparcodi" value="28"/> 
	<add key="FRCMRSiparcodi" value="29"/> 

	<!-- carga de archivos sftp pronostico RER-->
	<add key="HtrabajoRERUrlWS" value="https://appserver.coes.org.pe/WsDistribuidosHojaTrabajo/" />
	
    <!--PR31 Gaseoso--> 
    <!--
    <add key="PathAppPR31Gaseoso" value="Extranet/PR31Gaseoso/" /> 
    <add key="FlagPR31EnviarNotificacionAGenerador" value="S" /> 
    <add key="FlagPR31EnviarNotificacionAUsuarioCOES" value="S" /> 
    -->
    <add key="FlagPR31HoraSistemaManual" value="N" /> 
    <add key="FlagPR31UsarMedidores" value="S" /> 
    <add key="FlagPR31ValidarCentralExistente" value="N" /> 
    <add key="FlagPR31HoraSistemaManualMinPosterior" value="20" /> 
	
	<add key="PathProcesoDemandaRaw" value="\\srvprodappcmgn\tna\" />  
	<add key="PathProcesoDemandaRawCostoMarginal" value= "[RutafilesIIS][AppCarpeta]\Areas\DemandaPO\Uploads\" /> 
	
	<!--Notificación de Registro Empresa-->
    <add key="RegEmprListUsuarioTo" value="amontalva@coes.org.pe" />
	<add key="RegEmprListUsuarioCC" value="giancarlo.velarde@coes.org.pe;camila.ayllon@coes.org.pe;leyla.gomero@coes.org.pe;enaupay@coes.org.pe;rocio.ochoa@coes.org.pe" />
	
	<!--Calculo Potencia -->
	<add key="PotenciaFirmeFechaFinHistoricoRER" value="02 2023" />
	
	<add key="UserFS" value="webapp" />
	<add key="DomainFS" value="coes.org.pe" />
	<add key="PasswordFS" value="clave" />
	
	<!--FlagFormatoNuevo--> 
    <add key="idPeriodo" value="104"/> 
    <add key="Variacion" value="5"/> 

    <add key="FlagEnviarNotificacionManual" value="N" />
	
	<!--Envío de correos-->
	<add key="NotificacionFlagEnviarACOES" value="S" />
	<add key="NotificacionFlagEnviarAAgente" value="S" />
	<add key="NotificacionFlagEnviarCCAdicional" value="N" />
	<add key="NotificacionListaEmailCCAdicional" value="" />
	<add key="NotificacionPrefijoCorreo" value="" />
	<add key="NotificacionPrefijoAsunto" value="" />
	
	<!--Ubicación de archivos para resarcimientos-->
	<add key="PathIntranetAppResarcimiento" value="Intranet/Resarcimiento/" />
	
	<!--Interconexions--> 
    <add key="PathPortalWebInterconexion" value="\\coes.org.pe\ArchivosApp\WEB\"/> 
	
	<!-- Iteracion 1 --> 
	<add key="IdPlazoEntregaEDI" value="38"/> 
	<add key="RutaArchivoSustento" value="\\coes.org.pe\ArchivosApp\Webapp\PrimaRER\SustentoPrimasRER\"/>
	
    <!--Notificacion de Credenciales de Tramite Virtual-->
    <add key="EmailCredTramVirtListUsuarioBCC" value="amontalva@coes.org.pe;leyla.gomero@coes.org.pe;webapp@coes.org.pe;carlos.castillo@coes.org.pe" />
    <add key="NotificationCredTramVirtListUsuarioBCC" value="amontalva@coes.org.pe;mvelasquez@coes.org.pe;leyla.gomero@coes.org.pe" />
    <!-- Fin -->

	<!-- Mejoras Aplicativos CTAF --> 
	<add key="AnalisiEvento" value="ruta\AnalisisImagenes\" /> 
	<add key="CarpetaDeFirmas" value="C:\FileSystemCOES\Firmas\" /> 
	<add key="RutaInformesCtaf" value="[RutafilesIIS][AppCarpeta]\Areas\Eventos\Reporte\Ctaf\Images\"/>
	<add key="MaxCaractAF" value="120" /> 
	<add key="Limctaf" value = "20" /> 
	<add key="Limit" value = "30" /> 
	<add key="CodigoCorreocitacion" value="185" /> 
	<add key="CodigoCorreoinformectaf" value="186" /> 
	<add key="CodigoCorreoAnalisisFallaAlertaCitacion" value="187" /> 
	<add key="CodigoCorreoAlertaElaboracionInformeCtaf" value="188" /> 
	<add key="CodigoCorreoAlertaElaboracionInformeCtafMasDosDiasHabiles" value="189" /> 
	<add key="CodigoCorreoAlertaElaboracionInformeTecnico" value="190" /> 
	<add key="CodigoCorreoAlertaElaboracionInformeTecnicoMasDiasHabiles" value="191" /> 
    <add key="CodigoCorreoAlertaElaboracionInformeTecnicoSemanal" value="192" /> 
	
	<!-- Iteracion 2--> 
	<add key="MedidorDemandaPO" value="[RutafilesIIS][AppCarpeta]\Areas\DemandaPO\Reporte\" /> 
	
    <!--Inicio Ficha Técnica--> 
    <add key="FlagFTHoraSistemaManual" value="N"/> 

		<add key="FlagFTHoraSistemaManualMinPosterior" value="1"/>

	<add key="FileServerIntranetCorporativa" value="\\coes.org.pe\archivosapp\intranet\"/> 
	<add key="UrlExtranet" value="https://www.coes.org.pe/extranet/"/>
	<!--
    <add key="UrlIntranet" value="https://www.coes.org.pe/[AppIISName]/"/>
    -->
	<add key="UrlFileAppFichaTecnica" value="https://www.coes.org.pe/fileAppFichaTecnica/"/>
    <add key="FileServerIntranetCororativa" value="\\coes.org.pe\archivosapp\Intranet\"/> 
    <add key="FileServerFileAppFichaTecnica" value="\\coes.org.pe\archivosapp\Webapp\Intranet\FichaTecnica_Sustento\"/> 
    <add key="FileServerExtranetFichaTecnica" value="\\coes.org.pe\archivosapp\Webapp\Web\FS_Extranet_FichaTecnicaEtapa2\"/> 

    <!--Fin Ficha Técnica--> 
	
	<!-- Fin -->

    <add key="ReporteCPPA" value="D:\tmp\" />
    <add key="RutaArchivosSddpCppa" value="" />
    <add key="ListaIndicadorIntegrante" value="" />

    <add key="RutaPronosticoDemVeg" value="[RutafilesIIS][AppCarpeta]\Areas\DemandaCP\Reportes\" />

    <!-- PROYECTO CAMPANIA -->
	  <add key="CAM_FileServerPath" value="PlataformaCampanias\" />
	  <add key="CAM_AllowedExtensions" value=" jpg,jpeg,gif,png,zip,rar,kmz,pdf,doc,docx,xls,xlsx,ppt,pptx,csv,msg\" />
	  <!-- FIN PROYECTO CAMPANIA -->
    <add key="CorreosSCADA" value="" />

    <add key="UserFsScada" value="sp7fileuser" />
    <add key="DomainFsScada" value="coes.org.pe" />
    <add key="PasswordFsScada" value="1ntg3S$7C03s#er" />

  </appSettings>  
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
	<customErrors mode="Off" defaultRedirect="~/Error/Default?">
      <error statusCode="404" redirect="~/Error/Error404?" />
    </customErrors>
    <sessionState mode="InProc" timeout="2880"></sessionState>
    <httpRuntime targetFramework="4.5" maxRequestLength="10485760" executionTimeout="3600" enableVersionHeader="false"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
    </authentication>    
   
    <compilation debug="false" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  
  <system.webServer>
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="536870912"/>
		</requestFiltering>
	</security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	 <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <httpErrors>
        <remove statusCode="403" subStatusCode="-1" />
    </httpErrors>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISeguridadServicio" openTimeout="00:03:00" sendTimeout="00:03:00" maxReceivedMessageSize="2147483647">
        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ServicioSoap" />
        <binding name="BasicHttpBinding_IServicioCloud" closeTimeout="01:59:00" openTimeout="01:59:00" sendTimeout="01:59:00" receiveTimeout="01:59:00" maxReceivedMessageSize="2147483647">
        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_ICostoMarginalServicio" closeTimeout="01:59:00"  openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00"  maxReceivedMessageSize="2147483647" />  
        <binding name="BasicHttpBinding_IPotenciaFirmeServicio" closeTimeout="01:59:00"  openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00"  maxReceivedMessageSize="2147483647" />      
        <binding name="BasicHttpBinding_IProcesoServicio2" closeTimeout="01:59:00" openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ICostoOportunidadServicio" closeTimeout="01:59:00" openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IYupanaContinuoServicio" closeTimeout="01:59:00" openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://appserver.coes.org.pe/wsSeguridad/SeguridadServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadServicio" contract="SeguridadServicio.ISeguridadServicio" name="BasicHttpBinding_ISeguridadServicio" />
      <endpoint address="http://www.coes.org.pe/ServicioPr21/servicios/ServicioCloud.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCloud" contract="ServicioCloud.IServicioCloud" name="BasicHttpBinding_IServicioCloud" />
	  <endpoint address="enlace/encuestasd/Servicio.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioSoap" contract="DirectorioServicio.ServicioSoap" name="ServicioSoap" />
        <!--
        <endpoint address="http://srvprodappcmgn/procesocmg/ProcesoServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcesoServicio" contract="ProcesoCMgN.IProcesoServicio" name="BasicHttpBinding_IProcesoServicio" />		
        <endpoint address="http://srvprodappcmgn/ServicioIntranetProd/ProcesoServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcesoServicio1" contract="ProcesosIntranet.IProcesoServicio" name="BasicHttpBinding_IProcesoServicio1" />	  
        <endpoint address="http://appserver.coes.org.pe/WsCostoOportunidadServicio/CostoOportunidadServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICostoOportunidadServicio" contract="CostoOportunidadService.ICostoOportunidadServicio" name="BasicHttpBinding_ICostoOportunidadServicio" />
        <endpoint address="enlace/ServicioIntranetYupana/YupanaContinuoServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IYupanaContinuoServicio" contract="ProcesoYupanaContinuo.IYupanaContinuoServicio" name="BasicHttpBinding_IYupanaContinuoServicio" /> 
        -->
			<endpoint address="http://10.100.210.33/coes.webservice.costomarginal/CostoMarginalServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICostoMarginalServicio" contract="ServiceReferenceCostosMarginales.ICostoMarginalServicio" name="BasicHttpBinding_ICostoMarginalServicio" />
			<endpoint address="http://10.100.210.33/coes.webservice.potenciafirme/PotenciaFirmeServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPotenciaFirmeServicio" contract="ServiceReferencePotenciaFirme.IPotenciaFirmeServicio" name="BasicHttpBinding_IPotenciaFirmeServicio" />
			<endpoint address="http://appserver.coes.org.pe/COES.WebService.CostoOportunidad/CostoOportunidadServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICostoOportunidadServicio" contract="ServiceReferenceCostoOportunidad.ICostoOportunidadServicio" name="BasicHttpBinding_ICostoOportunidadServicio" />
			<endpoint address="http://10.100.251.83/coes.webservice.yupanacontinuo/YupanaContinuoServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IYupanaContinuoServicio" contract="ServiceReferenceYupanaContinuo.IYupanaContinuoServicio" name="BasicHttpBinding_IYupanaContinuoServicio" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ClientModel" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
</configuration>