<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <!--Agregar para despliegue en pipelines-->
    <add key="RutafilesIIS" value="[RutafilesIIS]"/>
    <add key="AppIISName" value="AppPortal" />
    <add key="AppCarpeta" value="" />
    <!--Agregar para despliegue en pipelines-->

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="123456789" />
    <add key="LogoEmailIntervenciones" value="https://www.coes.org.pe/AppIntranet/content/images/logo2024.png"/>
    <add key="RutaLogo" value="[RutafilesIIS][AppCarpeta]\Content\Images\" />
    <add key="ReporteEvento" value="[RutafilesIIS][AppCarpeta]\Areas\Eventos\Reporte\" />
    <add key="ReporteMediciones" value="[RutafilesIIS][AppCarpeta]\Areas\Mediciones\Reporte\" />
    <add key="ReporteInterconexiones" value="[RutafilesIIS][AppCarpeta]\Areas\Interconexiones\Reporte\" />
    <add key="RutaPlantilla" value="[RutafilesIIS][AppCarpeta]\Areas\FichaTecnica\PlantillasFichaTecnica\" />
    <add key="ModosOperacionEspeciales" value="VENTCC3GAS,VENTCC3GASFD,VENTCC4GAS,VENTCC4GASFD,VENTCC34GAS,VENTCC34GASFD,CHILTV2R500,CHILTV3R500,LFLORESTG1GAS,ILO1TV2R500,ILO1TV2R500,ILO1TV3R500,ILO1TV4R500,ILO2_CARB,PARAMONGA,TUMBESR6,RECKAD2" />
    <add key="StorageLocate" value="Local" />
    <add key="LocalDirectory" value="\\coes.org.pe\archivosapp\web\" />
    <add key="BasePathApp" value="" />
    <add key="EmailServer" value="srvprosmtp.coes.org.pe" />
    <add key="MailFrom" value="webapp@coes.org.pe" />
    <add key="UserNameSMTP" value="" />
    <add key="PasswordSMTP" value="" />
    <add key="EmailOportunidades" value="cv-coes@coes.org.pe" />
    <add key="EmailSubscripciones" value="suscripciones@coes.org.pe" />
    <add key="GpsFrecuencia" value="1" />
    <add key="PathCostosMarginales" value="\\coes.org.pe\CMNG_resultados\PROD\" />
    <add key="UserFsScada" value="sp7fileuser" />
    <add key="DomainFsScada" value="coes.org.pe" />
    <add key="PasswordFsScada" value="1ntg3S$7C03s#er" />
    <add key="IdLecturaMedidorGeneracion" value="1" />
    <add key="IdLecturaMedidorGeneracionPrueba" value="1" />
    <add key="EmpresaNotificacionMailTo" value="raul.castro@coes.org.pe" />
    <add key="RutaExcelsPR06" value="\\10.100.210.49\g\App_PR06_Python\" />
    <add key="RutaComunicados" value="[RutafilesIIS][AppCarpeta]\Content\Images\Comunicados\" />
    <add key="RutaDirectorio" value="[RutafilesIIS][AppCarpeta]\" />
	
    <!--Inicio CMgCP_PR07-->
    <add key="FechaVigenciaPR07" value="01/07/2022" />

  	<!--Atributos Registro Integrantes-->
    <add key="secretKey" value="6Lc8ezcUAAAAADTJS-UY78AkpWjsoHfz96SYgUhw" />
    <add key="siteKey" value="6Lc8ezcUAAAAAMDJm1k3VFnvxGW9QNGTyXS2iRKh" />
    <add key="admRegistroIntegrantes" value="sri@coes.org.pe" />
    <add key="riTituloEmpresa" value="Es la razón social de la empresa (Agente) así como otra información relevante para el registro." />
    <add key="riTituloTipoIntegrante" value="Es la clasificación que recibe cada empresa (Agente), según la actividad que le genere mayores ingresos  (Generador, Transmisor, Distribuidor o Usuario Libre)." />
    <add key="riTituloRepresentanteLegal" value="Es la persona que cuenta con las facultades de representación general, procesal y de delegación frente al COES, incluida la facultad de participar con voz y voto en las asambleas del COES a nombre de la empresa (Agente)." />
    <add key="riTituloPersonaContacto" value="Es(son) la(s) persona(s) designada(s) y autorizada(s) por el Representante Legal de la empresa (Agente) para efectuar coordinaciones operativas con el COES, con total validez." />
    <add key="riTituloPersonaResponsable" value="Es el encargado(a) de la empresa (Agente) que registra e ingresa la información de la empresa a través de la página web del Sistema de Registro de Integrantes del COES." />
    <add key="FechaCruceHoraOperacion" value="01/08/2019" />

    <!-- Power BI -->
    <!--<add key="powerbi:client_id" value="72bb7526-05ac-4d2d-a70d-3c82305ebd51" />
    <add key="powerbi:client_secret" value="-kI8Q~ZDuacJyEYRv7zO9Wy7S1opgtxVtpKkSdyG" />
    <add key="powerbi:pbi_user" value="biapp01@coes.org.pe" />
    <add key="powerbi:pbi_password" value="coes.COES.2020!" />-->
    <add key="PowerBI:WorkspaceId" value="cf370b67-2815-4616-ae21-b910f662f2e9" />
	  <add key="PowerBI:ClientId" value="81491f2c-708c-4b64-bc89-71744a7cf697" />
	  <add key="PowerBI:ClientSecret" value="fyr8Q~IqRbec39W53fYCozgo.ekEA..r4NHUocSQ" />
	  <add key="PowerBI:TenantId" value="c1ca013b-b144-43f0-aa13-4769cc149994" />

    <add key="ReportesSNP" value="[RutafilesIIS][AppCarpeta]\Areas\Planificacion\Reportes\" />

    <add key="CentralesExcluidas" value="13953,13954,13951,13952,12855,16307,12827,12828,15730,1940,10847,10847,19896,13955,13956,1222,1215,1308,12826,12825,13243,13383,1213,21890"/>
	  
    <!--Mejoras Url en Duro-->
    <add key="LogoCoes" value="https://www.coes.org.pe/wcoes/images/logocoes.png"/>
    <add key="LogoEmail" value="https://www.coes.org.pe/Portal/Content/Images/logomail.jpg"/>
    <add key="UrlPortal" value="https://www.coes.org.pe/portal/"/>
    <add key="UrlExtranet" value="https://www.coes.org.pe/extranet/"/>
    <add key="UrlIntranet" value="https://www.coes.org.pe/AppIntranet/"/>
    <add key="UrlFileAppFichaTecnica" value="https://www.coes.org.pe/fileAppFichaTecnica/"/>
    <add key="RutaWeb" value="https://www.coes.org.pe/fileapp/home/download?url="/>
    <add key="EmailSoporteExtranet" value="soporte_extranet@coes.org.pe"/>
    <!--Fin Mejoras Url en Duro-->
	
    <!--Notificación de Registro Empresa-->
    <add key="RegEmprListUsuarioTo" value="amontalva@coes.org.pe" />
    <add key="RegEmprListUsuarioCC" value="giancarlo.velarde@coes.org.pe;camila.ayllon@coes.org.pe;leyla.gomero@coes.org.pe;enaupay@coes.org.pe;rocio.ochoa@coes.org.pe" />
	
    <add key="UserFS" value="webapp" />
    <add key="DomainFS" value="coes.org.pe" />
    <add key="PasswordFS" value="Logws47896" />
	
    <!--Intervenciones-->
    <add key="IntervencionFechaIniEjecutado" value="01/03/2022" />
    <add key="IntervencionFechaIniPDiario" value="01/03/2022" />
    <add key="IntervencionFechaIniPSemanal" value="05/03/2022" />
    <add key="IntervencionFechaIniPMensual" value="01/04/2022" />
    <add key="IntervencionFechaIniPAnual" value="01/01/2023" />
	
    <!-- Fin -->
    <add key="FileSystemMigraciones" value="" />
    <add key="FileSystemSco" value="\\coes.org.pe\Areas\SCO\" />

    <!--Notificacion de Credenciales de Tramite Virtual-->
    <add key="EmailCredTramVirtListUsuarioBCC" value="webapp@coes.org.pe" />
    <add key="NotificationCredTramVirtListUsuarioBCC" value="" />

    <add key="PronosticoTempoRealDirectorio" value="" />
    <add key="PronosticoTempoRealArchivoData" value="MODELO.csv" />
    <add key="PronosticoTempoRealArchivoFecha" value="FECHA.csv" />
  </appSettings>

  <connectionStrings>
    <add name="ContextoSIC" connectionString="" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoSCADA" connectionString="" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoDTR" connectionString="" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ConnCyDOC" connectionString="" providerName="System.Data.SqlClient" />
 </connectionStrings>

  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/Default?">
      <error statusCode="404" redirect="~/Error/Error404?" />
    </customErrors>
    <httpRuntime targetFramework="4.5" maxRequestLength="1001048576" executionTimeout="3600" enableVersionHeader="false"/>

    <compilation debug="false" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="123456789" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <defaultDocument>
        <files>
            <add value="index.html" />
        </files>
    </defaultDocument>
    <httpErrors>
        <remove statusCode="403" subStatusCode="-1" />
        <error statusCode="403" prefixLanguageFilePath="" path="https://www.coes.org.pe/portal/" responseMode="Redirect" />
    </httpErrors>
    <tracing>
        <traceFailedRequests>
            <add path="*">
                <traceAreas>
                    <add provider="ASP" verbosity="Verbose" />
                    <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                    <add provider="ISAPI Extension" verbosity="Verbose" />
                    <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,ANCM" verbosity="Verbose" />
                </traceAreas>
                <failureDefinitions timeTaken="00:00:00" statusCodes="400-600" />
            </add>
        </traceFailedRequests>
    </tracing>
  </system.webServer>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Logs\[AppIISName].txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %location [%property{NDC}] - %message%newline%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISeguridadServicio"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://appserver.coes.org.pe/wsSeguridad/SeguridadServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadServicio" contract="SeguridadServicio.ISeguridadServicio" name="BasicHttpBinding_ISeguridadServicio" />
    </client>
  </system.serviceModel>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
        <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.3.0" newVersion="4.3.3.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>

</configuration>
