@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Convocatorias de Trabajo";
}

@model COES.MVC.Intranet.Areas.Migraciones.Models.ConvocatoriaModel

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/jquery.dataTables.rowReordering.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/convocatoria.js?v=2.1"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css?v=1.1" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo"> Convocatorias de Trabajo </div>
    <div class="content-botonera">
        <input type="button" id="btnCrear" value="Nuevo" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Listado</a></li>
            <li class='tab'><a href="#paso2">Ingresar datos</a></li>
        </ul>
        <div class='panel-container'>
            <div id="paso1">
                <h2>Convocatorias de Trabajo</h2>

                <div style="clear:both; height:5px"></div>
                <div class="pretty tabla-icono display compact" id="listado1" style="width:95%"> </div>

            </div>
            <div id="paso2">
                <div class="search-content">

                    <form id="formRegistro">
                        <table style="width:100%">
                            <tr>
                                <td style="width:60%" valign="top">
                                    <table class="tabla-search" style="width:100%">
                                        <tr>
                                            <td width="10%">Código:</td>
                                            <td>
                                                <textarea id="txtAbreviatura" style="width:100%;height: 15px;resize: none" name="Abreviatura"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Convocatoria:</td>
                                            <td><textarea id="txtNombre" style="width:100%;height: 15px;resize: none" name="Nombre"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Descripción:</td>
                                            <td><textarea id="txtDescripcion" style="width:100%;height: 50px;resize: none;" name="Descripcion"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Inicio Publicación:</td>
                                            <td><input type="text" id="txtFechaini" value="@Model.Fecha" name="Fechaini" /></td>
                                        </tr>

                                        <tr>
                                            <td>Término Publicación:</td>
                                            <td><input type="text" id="txtFechafin" value="@Model.Fecha" name="Fechafin" /></td>
                                        </tr>
                                        
                                    </table>
                                </td>
                                <td style="width:2%"></td>                                
                            </tr>
                        </table>

                        <input type="hidden" id="convcodi" value="0" name="Codigo" />
                        <input type="hidden" id="hfEstado" name="Estado" />
                    </form>


                </div>
                <div style="width:200px; margin:auto">
                    <input type="button" id="btnGrabar" value="Grabar" />
                    <input type="button" id="btnCancelarEdit" value="Cancelar" />
                </div>
            </div>

        </div>
    </div>
</div>