.table-form-content 
{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0;     
}

.table-form-content tr 
{  
    
}

.table-form-content tr td.label 
{    
    background-color:#F5F8FC;
    color:#526B85;   
    text-align:left; 
    font-weight:normal;
    line-height:17px;
    font-size:12px;
    font-weight:normal;    
    text-wrap:none;
    width:150px;
    
}

.table-form-content tr td 
{
    border:1px solid #B5CBE6;
    padding-left:15px;
    padding-right:20px;     
}

.boldazul {

    color: #278CCC;
    font-weight:bold;
}



.table-form-content tr td input[type=text],.table-form-content tr td input[type=password]
{
	background: #f8f8f8;
	border:1px solid #CBD3CF;	
	border-radius: 5px 5px 5px 5px;
	width:400px;
	height:22px;
	text-indent:8px;
	font:12px "arial", sans-serif;
	color:#4876AA;	
    margin:5px 0px;
}

.table-form-content tr td input[type=text] :focus, input[type=text] :hover, input[type=text] :active
{
     background-color:#FFFFD5;
}

.table-form-content tr td select 
{
    padding:3px;
    margin: 0;
	border:1px solid #CBD3CF;    
    border-radius:5px;
    background: #f8f8f8;
    color:#888;
	width:400px;   
    line-height:24px;
    height:24px;
    outline:none;
    display: inline-block;
    cursor:pointer;	
    font-size:12px;
    margin:5px 0px;

}

.table-form-content tr td select:hover 
{
	background-color:#FFFFD7;    
}

.table-form-content tr td select:active 
{
	background-color:#FFFFD7;    
}

.table-form-content tr td textarea {
    border:1px solid #CBD3CF;    
    border-radius:5px;
    background: #f8f8f8;
    width:400px;
    height:40px;
    font-family:Arial, Helbetica, sans-serif;
    margin:5px 0px;
}

.subtitulo-modulo
{
    color:#428BD3;
    font-size:14px;
    font-weight:bold;
    text-transform:none;
    margin-top:10px;
    margin-bottom:10px;
}


/**REGISTRO**/

.content-registro table
{
    border-collapse:collapse;
    border-spacing:0;
    border:1px;
}

.content-registro table tr td.registro-label 
{
    border:1px solid #EAEAEA;
    text-indent:10px;
    vertical-align:central;
    background-color:#F9F9F9;
    vertical-align:middle;
}

.content-registro table tr td.registro-control 
{
     vertical-align:middle;
     border:1px solid #EAEAEA;
     padding: 3px 0 3px 10px;
}

.content-registro table tr td.registro-control textarea 
{
    border:1px solid #CBD3CF;
    border-radius:5px;
    height:60px;
    width:400px;   
    font-family:Arial, Helbetica, sans-serif;
    font-size:12px;
    color:#4876AA;	
    background-color:#F2F4F3;
	border:1px solid #CBD3CF;	
	border-radius: 5px;
}

.content-registro form table tr td.registro-control textarea 
{
    border:1px solid #CBD3CF;
    border-radius:5px;
    height:60px;
    width:400px;   
    font-family:Arial, Helbetica, sans-serif;
    font-size:12px;
    color:#4876AA;	
    background-color:#F2F4F3;
	border:1px solid #CBD3CF;	
	border-radius: 5px;
}

