@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RepaRecaPeajeModel
@{
    ViewBag.Title = "Transferencia de Potencia - Editar una versión de recalculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion del reparto" }, { "sAccion", "Actualizar" } })
</div>