@model COES.MVC.Extranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "Editar solicitud EDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar solicitud EDI" }, { "sAccion", "Actualizar" } })
</div>
