@model COES.MVC.Extranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "Nueva solicitud EDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva solicitud de EDI" }, { "sAccion", "Enviar" } })
</div>

