@model COES.MVC.Extranet.Areas.PrimasRER.Models.PrimasRERModel

@{
    ViewBag.Title = "Ingresar solicitud EDI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (Model.EsNuevaSolicitud)
    {
        @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar solicitud EDI" }, { "sAccion", "Enviar" } })
    }
    else
    {
        @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar solicitud EDI" }, { "sAccion", "Actualizar" } })
    }
</div>
