
@{
    ViewBag.Title = "Datos de Representante";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />
    <script src="~/Areas/RegistroIntegrante/Content/Scripts/representante.js?v=1.43"></script>
}

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Modificar Representación</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensajeList"></div>
    <div id="divRepresentante">

        <div id="listadoRepresentantes">

        </div>
    </div>
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="min-width:700px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>

<input type="hidden" id="hdfemprcodi" value="@ViewBag.emprcodi" />



