@{
    ViewBag.Title = "ListarFormatosXLectura";
}



<script type="text/javascript">

    $(function () {
        $('#cbTipoInformacion').change(function () {
            horizonte();
            pintaDescripcion($('#cbTipoInformacion').val())
        });
    });

</script>

<select id="cbTipoInformacion">
    <option value="0">[Seleccionar Formato]</option>
        @foreach (var item in Model.ListaFormato)
        {
            <option value="@item.Formatcodi">@item.Formatnombre</option>
        }
</select>
                            

