@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Estudios de Verificación del Margen de Reserva Firme Objetivo del Sistema";
}

<div style="clear:both"></div>
@*<div class="page-banner">
    <div class="page-banner-title" style="margin-top:25px">
        <h1>Estudios de Verificación del Margen de <br />Reserva Firme Objetivo del Sistema</h1>
        <span>Estudios</span>
    </div>
    <img src="~/Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg" alt="Estudios de Verificación del Margen de Reserva Firme Objetivo del Sistema" />
</div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg) ">
    <div class="main-banner-title">
    </div>
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        @Html.Action("Index", "Browser", new { area = "", url = "Planificaci%C3%B3n%2FEstudios%20de%20Verificacion%20del%20Margen%20de%20Reserva%20Firme%2F" })
        <div style="clear:both"></div>
    </div>
</div>
    <div style="clear:both"></div>
