@model COES.MVC.Intranet.Areas.GMM.Models.AgenteModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaAgentelEstados">
        <thead>
            <tr>
                <th>Fecha Registro</th>
                <th>Estado</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.listadoEstados)
            {
                <tr class="menu-contextual">
                    @if (@item.EmprFechaRegistro != null)
                    {
                        <td>
                            @Convert.ToDateTime(item.EmprFechaRegistro).ToString("dd/MM/yyyy")
                        </td>
                    }
                    else
                    {
                        <td>-</td>
                    }

                    <td>@item.EmprEstado</td>
                    <td>@item.EmprUsuario</td>
                </tr>
            }
        </tbody>
    </table>
</form>