body 
{
    font-family:"Century Gothic","Lucida Sans Unicode",Verdana,Tahoma,"Comic Sans MS",Arial,Arial, sans-serif;
	font-size: 14px;
	/*background-color:*/ /*#B9B9C4;*/ /*#666677;*/ /*#A6DEFF;*/ /*#018AD9;*/ /*#EFEFEF;*/
}

a
{
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}
td {
	font-family: Tahoma,Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Tahoma,Verdana, Geneva, Arial, helvetica, sans-serif;
}

textarea
{    
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4; 
    margin:0px 0 20px 10px;
    background:#fcfcfc;
}

h1
{
    font-size:20px;
    display:block;
    /*font-family: "Trebuchet MS";*/
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
}
h2
{
    font-size:18px;
}

h3
{
    font-size:14px;
}

h1, h2,h3
{
    padding:5px;
}



/*****************
**  PIE DE PAGINA
*******************/
.base_pie_pagina
{
    float:left;
    margin-top:30px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:center;
	/*border-top:1px solid #E0EEEF;*/
	padding-top:10px;
	line-height:14px;
	width:100%;	
}