.login_marco
{
    margin-top:130px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:130px;
    width:300px;
    /*height:200px;*/
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border:1px solid #E0EEEF;    
	background-color:#F5F7FC;
}
.login_titulo
{
    /*background-color: #FFFFFF;*//*#B9B9C4;*/ /*#666677;*/ /*#A6DEFF;*/ /*#018AD9;*/ /*#5B9BC7;*/
    /*color:#FFFFFF;*/    
}
.login_tit
{
    float:left;
    width:218px;    
    padding-left:7px;
    vertical-align:middle;
    color:#018AD9;
}
.login_titulo_img
{    
    width:70px;
    float:left;
    /*margin-top:-20px;*/
}
  .login_contenido
 {
 	font-family:Verdana,Arial;
    font-size:12px;
	clear:left;
	margin-top:5px;
	margin-bottom:1px;
	padding-top:5px;
	padding-bottom:0px;	
	padding-left:5px;
	background-color: #FFFFFF;
	padding-top:10px;
	padding-bottom:10px;
 }
 
.login_contenido p
{
    font-size:12px;
    color:#666666;
}

.login_contenido input,.login_contenido select
{	
    border:solid 1px #aacfe4;
    margin:0px 0px 10px 10px;
	padding-bottom:2px;
	padding-top:2px;	
	/*font-size:15px;*/
}
.login_contenido input
{
    width:150px;
}
.login_contenido label
{	
	text-align:left;
	margin-right:5px;
	padding-left:5px;
	float:left;
	width:70px;
	color:#666666;
	font-size:10px;
}
  .login_contenido input:hover
 {
    border: 1px solid #0099CC;
    background: #eef;
    
 }
  .login_contenido_row
 {
     margin-top:2px;
     margin-bottom:2px;
     width:90%;
     padding-left:5px;
     margin-left:auto;
     margin-right:auto;     
 }
 .login_contenido_row_rigth
 {
     float:right;
 }

.login_clear
{
    clear:both;
}
.login_pie
{
    background-color: #FFFFFF;
    width:600px;
}