body 
{
    font-family:"Century Gothic","Lucida Sans Unicode",Verdana,Tahoma,"Comic Sans MS",Arial,Arial, sans-serif;
	font-size: 14px;
    margin:0px;
    background-color: #FFFFFF; /*#EAEAEA;*/
	/*background-color:*/ /*#B9B9C4;*/ /*#666677;*/ /*#A6DEFF;*/ /*#018AD9;*/ /*#EFEFEF;*/
}

a
{
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}
td {
	font-family: Tahoma,Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Tahoma,Verdana, Geneva, Arial, helvetica, sans-serif;
}

textarea
{    
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4; 
    margin:0px 0 20px 10px;
    background:#fcfcfc;
}

h1
{
    font-size:20px;    
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
h2
{
    font-size:18px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;    
}

h3
{
    font-size:14px;
}

input
{
    border:solid 1px #aacfe4;
    font-size:12px;
}

input:hover
{
    border: 1px solid #0099CC;
    background: #eef;    
}
