/************************
** MARCO BASE TOP
************************/
.marco_base_top
{    
    background-color:#EAEAEA;
    /*background-color:#5B9BC7;*/
    /*margin:auto;*/
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;    
    
}

.marco_base_top_head
{
    width : 950px;   
    /*background-color:*/ /*#B9B9C4;*/ /*#666677;*/ /*#A6DEFF;*/ /*#018AD9;*/ /*#5B9BC7;*/
    /*background-color:#5B9BC7;*/
    background-color: #205C90; /*#352B23;*/ /*#201A16;*/
    margin:auto;
    margin-top:0px;
    height:90px;    
}
.marco_base_top_a
{
    width: 700px;
    float:left;
}
.marco_base_top_logo
{
    width:200px;
    float:left;
}
.marco_base_top_titulo
{         
    /*width:450px;*/
    padding-top:25px;
    
}

.marco_base_top_titulo h1
{
    margin:auto;
    color: rgb(255, 255, 255);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    letter-spacing: 0px;        
}
.marco_base_top_titulo h4
{
	color:rgb(255,255,255);
	font-size : 0.9em;
}
.marco_base_top_qlink
{
    float:right;
    /*width:220px;*/
    margin-top:65px;
    margin-right:5px;
}


/************************
** MARCO BASE MENU
*************************/

.marco_base_menu
{
}


/************************
** MARCO BASE MAPA SITIO
*************************/
.marco_base_mapa_site
{
    
}
/************************
** MARCO BASE MAIN
************************/
.marco_base_main
{
    width:950px;
    background-color:#FFFFFF;    
    margin:auto;
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.marco_main_left
{
    width:100px;
    background-color:Aqua;    
    float:left;
    margin:5px;
    padding-left:3px;
}

.marco_main_center
{
    width:200px;
    background-color:Fuchsia;
    float:left;
    margin:5px;
    padding-left:3px;
}

.marco_main_rigth
{
    width:150px;
    background-color:HighlightText;
    float:right;
    margin:5px;
    padding-left:3px;
}
.marco_clear_both
{
    clear:both;
}


/************************
** MARCO BASE PIE
************************/
.marco_base_pie
{    
    width:950px;    
    margin:auto;
    background-color:#FFFFFF;
}


.marco_base_pie_main
{    
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:center;	
	/*border-top:1px solid #E000EF;*/
	border-top:1px solid #B4D2E0;
	margin-top:20px;
    background-color:#FFFFFF;
    padding-top:10px;
    padding-bottom:10px;
}


/*******************
** FILAS - FILTROS
********************/

  .filascontent
 {
 	/*font-family:Verdana,Arial;
    font-size:12px;
	
	clear:left;
	margin-top:5px;
	margin-bottom:1px;
	padding-top:5px;
	padding-bottom:0px;
	background-color:#F5F7FC;
	padding-left:5px;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border:1px solid #E0EEEF;
	*/
 }
 .filascontent input,.filascontent select
{
	/*display:block;*/
    border:solid 1px #aacfe4;
    padding-bottom:2px;
	padding-top:2px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
}
.filascontent label { 
	color: #666666;
	float: left;
	margin-right: 2px;
	padding-left: 2px;
	text-align: left;
	font-size:12px;
	width: 120px;
}

 .fila
 {
     /*width:300px;*/
     margin-top:2px;
     margin-bottom:2px;
     /*width:90%;*/
     padding-left:5px;
     font-size:12px;
 }
  .fila select, .fila input
 {
 	font-size:10px;
 }
  .filaderecha input
 {
     /*width:300px;*/
    float:right;
    margin-top:2px;
    margin-bottom:2px;
    /*width:90%;*/
    padding-left:5px;
 }
 .filaderecha
 {
 	float:right;
 }
 
/**************************
*** Mensaje Resultados  ***
**************************/

.msg_result
{
	font-size:12px;
	width:400px;
	/*border:1px solid rgb(146,186,117);*/
	/*background-color:rgb(251,251,236);*/
}


.msg_result h1
{
	font-size: 18px;
	padding:0px;
	margin-left:5px;
	color:rgb(95,51,51);
	height:18px;
	margin:0px;
	padding-left:8px;
	padding-top:8px;	
	
}

.msg_result h2
{
	font-size:16px;
	padding:0px;
	color:rgb(9,120,21);
	margin-left:10px;
}

.msg_result label,span
{
	font-family:Arial, Lucida Sans;
	margin-left:25px;
}
.msg_result_align_rigth
{
	float:right;
	height:25px;
	padding-right:5px;
}

.msg_result_head
{
	background-color:rgb(231,243,231);
	height:40px;
	padding:0px;	
}
.msg_result_clear
{
	clear:both;
	
}