.top_qlink_menu_op
{
    width:60px;
    float:left;
}

/*******************************
** Zonas columnas del contenido
********************************/

.sistema_col_izq
{
    width:200px;
    float:left;
    border:1px solid #E000EF;
}

.sistema_col_centro_all
{
    width:100%;
    float:left;
    border:1px solid #E000EF;
}

.sistema_col_centro
{
    width:530px;
    float:left;
    border:1px solid #E000EF;
    margin-left:2px;
    margin-right:2px;
}

.sistema_col_der
{
    width:200px;
    float:right;
    border:1px solid #E000EF;
}