/*Contenedor Top */

/*************************
**  BASE
*************************/
.base_top
{
    width:100%;
    border:0px;
    /*background-color:#EFEFEF;*/
    /*background-color:#5B9BC7;*/
}

.base_contenedor
{
    width:950px;
    margin:auto;
    background-color:#FFFFFF;            
}
.base_menu
{
    font-family:Tahoma;
    margin-top:2px;
    margin-bottom:2px;
}
.base_top_titulo
{
    font-family:Arial,Tahoma;
    float:left;
    width:450px;
    margin-top:15px;    
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}
.base_mapa_sitio
{
    float:left;
    width:100%;
    margin-top:2px;
    margin-bottom:2px;
    background-color:#ffffff;
}
.base_contenido
{
    margin-top:0px;
    margin-bottom:5px;
    width:100%;
    float:left;
    background-color:#FFF;    
}
.base_contenido_titulo
{    
    margin-top:5px;
    border:1px solid #E000EF;
    float:left;
    width:inherit;
    background-color:#FFFFFF;
}

.base_contenido_titulo h1
{
    font-family:Arial,Verdana;
    font-size:1.7em;
    color:#383838;
    padding-top:0px;
    padding-bottom:0px;
    display:block;
    font-family: "Trebuchet MS";
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
/**********************
*** TOP 
***********************/


.top_quicklink
{
    float:right;
    margin-right:5px;
    margin-top:65px;
    font-size:10px;
    font-weight:bold;
    background-color:#018AD9;
    padding:5px;
    /*display:block;*/
}

.top_quicklink a
{
    color:#FFFFFF; /*#4080BA;*/
}

/*Menu */

/*Mapa de sitio*/

/*Contenido Principal*/
/*Titulo*/

/*Tool option*/



/*************************
**  PUBLICO
*************************/

.base_top_default
{
    width:950px;
    background-color: /*#B9B9C4;*/ /*#666677;*/ /*#A6DEFF;*/ /*#018AD9;*/ #5B9BC7;
    /*display:block;*/
    margin:auto;
    height:90px;
    color:#FFFFFF;
}


/*****************
**  LOGO
***********************/

.divlogo
{
    width:200px;
    float:left;    
    font-size:30px;
    background-repeat:no-repeat;
    /*margin-top:20px;
    margin-left:5px;
    margin-right:10px;*/
}