<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IYupanaContinuoServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.100.251.83/coes.webservice.yupanacontinuo/YupanaContinuoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IYupanaContinuoServicio"
                contract="ServiceReferenceYupanaContinuo.IYupanaContinuoServicio"
                name="BasicHttpBinding_IYupanaContinuoServicio" />
        </client>
    </system.serviceModel>
</configuration>