@model COES.MVC.Publico.Models.ProveedorModel

<table class="pretty tabla-icono" id="tablaProveedor">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Proveedor</th>
            <th>Tipo de Proveedor</th>
            <!--<th>Fecha Inscripcion</th>-->
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model.ListaProveedor)
        {
            <tr>
                <td>@evento.Provcodi</td>
                <td>@evento.Provnombre</td>
                <td>@evento.Provtipo</td>
                <!--
                <td>@if (evento.Provfechainscripcion != null)
                    {
                        <span>@(((DateTime)evento.Provfechainscripcion).ToString("dd/MM/yyyy"))</span>
                    }
                    </td>-->
            </tr>
        }
    </tbody>

</table>