@model COES.MVC.Publico.Models.ProveedorModel
@{
    ViewBag.Title = "Listado de Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/proveedores.js?v=1"></script>

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Listado de Proveedores</h1>
        <span>Proveedores</span>
    </div>
    <img src="~/Content/Images/Banners/MarcoNormativo.jpg" alt="Proveedores" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    <div class="page-left-prov">


        <div class="page-info">
            <ul>
                <li style="display:none"><a href="~/Proveedores/Listado" style="display:none">Listado de Proveedores</a></li>
                <li class="menu-li-more"><a href="~/Proveedores/RegistroProveedores">Registro de Proveedores</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/ProcesoContratacion">Proceso de Contratación</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/RequisitosInscripcion">Requisitos de Inscripción</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/FormularioInscripcion">Formulario de Inscripción</a></li>
                <li class="menu-li-padding" style="display:none"><a href="mailTo:proveedores@coes.org.pe">Consultas: proveedores@coes.org.pe</a></li>
                <li class="menu-li-more"><a href="#">Concurso Fideicomiso</a></li>
                <li class="menu-li-padding" style="text-indent: 0; padding-left: 30px"><a href="~/Proveedores/concursofideicomiso">Implementación del Mercado Mayorista de Electricidad</a></li>
                <li class="menu-li-padding"><a href="mailTo:fideicomiso@coes.org.pe">Consultas: fideicomiso@coes.org.pe</a></li>
                @*<li class="menu-li-more"><a href="~/Proveedores/concursoadquisicion">Concurso Adquisición de Central Telefónica</a></li>*@
            </ul>
        </div>
        <div style="clear:both; height:15px"></div>


    </div>
    <div class="page-rigth-prov">

        <div class="search-content">
            <table class="content-tabla-search-pad" style="width:auto">
                <tr>
                    <td>Nombre:</td>
                    <td>
                        <input id="txtNombre" type="text" style="width:180px" />
                    </td>
                    <td>Tipo:</td>
                    <td>
                        <select id="cbTipoProveedor" style="width:180px">
                            <option value="-1">-TODOS-</option>
                            @foreach (var tipo in Model.ListaTipoProveedor)
                            {
                                <option value="@tipo">@tipo</option>
                            }
                        </select>
                    </td>

                    <td style="display:none">Fecha Desde:</td>
                    <td style="display:none">
                        <input id="txtFechaDesde" type="text" style="width:180px" />
                    </td>

                    <td style="display:none">Fecha Hasta:</td>
                    <td style="display:none">
                        <input id="txtFechaHasta" type="text" style="width:180px" />
                    </td>

                    <td style="text-align:center">
                        <input id="btnConsultar" type="button" value="Consultar" />
                    </td>
                </tr>
            </table>
        </div>

        <div id="listaproveedor">
        </div>
    </div>
    <div style="clear:both"></div>

</div>

<div style="clear:both"></div>