@{
    ViewBag.Title = "Proveedores - Proceso de Contratación";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Proceso de Contratación</h1>
        <span>Proveedores</span>
    </div>
    <img src="~/Content/Images/Banners/promo-01.jpg" alt="Proveedores" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    <div class="page-left-prov">        
        
        <div class="page-info">
            <ul>
                <li style="display:none"><a href="~/Proveedores/Listado" style="display:none">Listado de Proveedores</a></li>
                <li class="menu-li-more"><a href="~/Proveedores/RegistroProveedores">Registro de Proveedores</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/ProcesoContratacion">Proceso de Contratación</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/RequisitosInscripcion">Requisitos de Inscripción</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/FormularioInscripcion">Formulario de Inscripción</a></li>
                <li class="menu-li-padding" style="display:none"><a href="mailTo:proveedores@coes.org.pe">Consultas: proveedores@coes.org.pe</a></li>
                <li class="menu-li-more"><a href="#">Concurso Fideicomiso</a></li>
                <li class="menu-li-padding" style="text-indent: 0; padding-left: 30px"><a href="~/Proveedores/concursofideicomiso">Implementación del Mercado Mayorista de Electricidad</a></li>
                <li class="menu-li-padding"><a href="mailTo:fideicomiso@coes.org.pe">Consultas: fideicomiso@coes.org.pe</a></li>
                @*<li class="menu-li-more"><a href="~/Proveedores/concursoadquisicion">Concurso Adquisición de Central Telefónica</a></li>*@
            </ul>
        </div>
        <div style="clear:both; height:15px"></div>
      

    </div>
    <div class="page-rigth-prov">
        <div class="page-text">
            <p>
                El COES desarrolla los procesos de contratación en base a procedimientos internos que permitan una selección imparcial y objetiva. El régimen legal aplicable a
                los contratos del COES es el del derecho privado. Las personas jurídicas nacionales deberán acreditar su existencia y representación legal ante el Registro de Personas
                Jurídicas de los Registros Públicos de Lima. Si la empresa fuera extranjera, deberá acreditar su existencia según lo establecen las normas en su país de origen. El COES cuenta con
                un Registro de Proveedores, en el cual se inscriben las empresas que tengan una relación comercial con ella. Se emite una Constancia de Inscripción a quienes hayan sido seleccionados a
                brindar el bien o servicio, el cual es válida por dos años, posterior a ello, se solicita la renovación. Es requisito para la presentación de ofertas que el proveedor se encuentre
                inscrito en el Registro de Proveedores. Con el propósito de tramitar, evaluar y recomendar la adjudicación de los procesos de mayor cuantía, el Director Ejecutivo designa un Comité Evaluador.
                El procedimiento de selección y contratación se realizará de acuerdo a lo siguiente:
            </p>
            <br />
            <ul>
                <li>Se elaborarán los Términos de Referencia y Bases del Concurso para la invitación a los proveedores designados.</li>
                <li>Se reciben las propuestas económicas y técnicas para su evaluación.</li>
                <li>Se comunica a los proveedores la decisión del Comité Evaluador, coordinando con la empresa seleccionada la elaboración del contrato.</li>
                <li>Pronunciarse sobre la gestión y los resultados económicos del ejercicio anterior.</li>
                <li>A partir de la suscripción del contrato y emisión de la Orden se da inicio al servicio.</li>
            </ul>
            <br />
            <p>
                Si desea iniciar su trámite como proveedor dirigirse a:
                <a href="mailto:proveedores@coes.org.pe"> proveedores@coes.org.pe </a>
            </p>
        </div>
    </div>
    <div style="clear:both"></div>

</div>

<div style="clear:both"></div>



