@{
    ViewBag.Title = "Proveedores - Proceso de Contratación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="page-banner">
    <div class="page-banner-title">
        <h1>Registro de Proveedores</h1>
        <span>Proveedores</span>
    </div>
    <img src="~/Content/Images/Banners/promo-01.jpg" alt="Proveedores" />
</div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Proveedores/Listado" class="sidebar-nav--link">Listado de Proveedores</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Proveedores/RegistroProveedores" class="sidebar-nav--link sidebar-nav--link-active">Registro de Proveedores</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="https://proveedores.coes.org.pe/seguridad-proveedores/login" target="_blank" class="sidebar-nav--link">Portal de Proveedores</a>
                    </li>
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Proveedores/ProcesoContratacion" class="sidebar-nav--link">Proceso de Contratación</a>
                    </li>
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Proveedores/RequisitosInscripcion" class="sidebar-nav--link">Requisitos de Inscripción</a>
                    </li>
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Proveedores/FormularioInscripcion" class="sidebar-nav--link">Formulario de Inscripción</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Proveedores/concursofideicomiso" class="sidebar-nav--link">Concurso Fideicomiso</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            <div class="coes-box coes-box--padding">
                <h2 class="heading-4 heading-underlined">Registro de Proveedores</h2>

                <p>
                    El COES desarrolla procesos de contratación en base a procedimientos internos que permiten una selección imparcial y objetiva.

                    <br />
                    <br />
                    Para más información dirigirse a <a href="mailTo:logistica@coes.org.pe">logistica@coes.org.pe</a>

                </p>
            </div>
        </div>
  </div>
</div>


