@{
    ViewBag.Title = "Requisitos de Inscripción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Requisitos de Inscripción</h1>
        <span>Proveedores</span>
    </div>
    <img src="~/Content/Images/Banners/promo-01.jpg" alt="Proveedores" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    <div class="page-left-prov">

        <div class="page-info">
            <ul>
                <li style="display:none"><a href="~/Proveedores/Listado" style="display:none">Listado de Proveedores</a></li>
                <li class="menu-li-more"><a href="~/Proveedores/RegistroProveedores">Registro de Proveedores</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/ProcesoContratacion">Proceso de Contratación</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/RequisitosInscripcion">Requisitos de Inscripción</a></li>
                <li class="menu-li-padding" style="display:none"><a href="~/Proveedores/FormularioInscripcion">Formulario de Inscripción</a></li>
                <li class="menu-li-padding" style="display:none"><a href="mailTo:proveedores@coes.org.pe">Consultas: proveedores@coes.org.pe</a></li>
                <li class="menu-li-more"><a href="#">Concurso Fideicomiso</a></li>
                <li class="menu-li-padding" style="text-indent: 0; padding-left: 30px"><a href="~/Proveedores/concursofideicomiso">Implementación del Mercado Mayorista de Electricidad</a></li>
                <li class="menu-li-padding"><a href="mailTo:fideicomiso@coes.org.pe">Consultas: fideicomiso@coes.org.pe</a></li>
                @*<li class="menu-li-more"><a href="~/Proveedores/concursoadquisicion">Concurso Adquisición de Central Telefónica</a></li>*@
            </ul>
        </div>
        <div style="clear:both; height:15px"></div>
       

    </div>
    <div class="page-rigth-prov">
        <div class="page-text">
            
            <p>
                El procedimiento de selección y contratación se realizará de acuerdo a la entrega de los siguientes documentos:
            </p>
            <ul>
                <li>Copia de la Escritura de Constitución Social de la empresa en el idioma del estado de origen, visado por el consulado correspondiente, si la empresa es extranjera. (*)</li>
                <li>Testimonio o Copia Certificada del Acta de poderes del representante legal de la empresa, en el idioma oficial del estado de origen, visado por el consulado correspondiente, si la empresa es extranjera. (*)</li>
                <li>Ficha de su Registro Único de Contribuyentes (RUC) o su equivalente</li>
                <li>Relación de los servicios ofrecidos.</li>
                <li>Balance del Ejercicio anterior.</li>
                <li>Memoria Anual Ejercicio anterior.</li>
                <li>Relación de sus clientes indicando los servicios prestados.</li>
                <li>Indicar los bancos donde mantiene cuentas.</li>
            </ul>

            <p>
                Si el solicitante proporciona en forma satisfactoria la documentación correspondiente se procederá a su inscripción, en el REGISTRO DE PROVEEDORES, en caso contrario ello le será comunicado al postulante, haciéndole notar aquello que pudiera ser superado para proceder con la inscripción.
                El proveedor está obligado a informar por escrito cualquier cambio de razón social, dirección y número telefónico.
                La documentación relacionada a la inscripción en el Registro de Proveedores será entregada en Calle Manuel Roaud y Paz Soldán 364, San Isidro, Lima.
            </p>
            <p>
                (*) Copia simple para participar en el Concurso. El ganador completará la información requerida.
            </p>

        </div>
    </div>
    <div style="clear:both"></div>

</div>

<div style="clear:both"></div>
