@model COES.MVC.Intranet.Areas.Transferencias.Models.AuditoriaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/calendar.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/load.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/auditoria.js"></script>

<div class="form-title">
    <div class="content-titulo">Consulta de Registro de Auditoría</div>

</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>

                <td>Tipo Aplicación:</td>
                <td>
                    <select id="cbTipoAplicacion">
                        @foreach (var item in Model.ListaTipoAplicacion)
                        {
                            <option value="@item.Tipaplicodi">@item.Tipaplinombre</option>
                        }
                    </select>

                    <input type="hidden" id="hfTipoEmpresa" />
                </td>
                <td>Fecha inicial:</td>
                <td>
                    <input type="text" id="txtFechaInicial" style="width:140px" value="" />
                </td>
                <td>Fecha final:</td>
                <td>
                    <input type="text" id="txtFechaFinal" style="width:140px" value="" />
                </td>
               
                <td>
                    <div id="empresas"></div>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Visualizar registro de auditoria" />
                </td>
            </tr>
            <tr>
                <td>Seleccione Proceso:</td>
                <td>
                    <select id="cbTipoProceso">
                        @foreach (var item in Model.ListaTipoProceso)
                        {
                            <option value="@item.Tipprocodi">@item.Tipprodescripcion</option>
                        }
                    </select>
                </td>
                <td>
                    Usuario:
                </td>
                <td>
                    <input type="text" id="txtUsuario" style="width:140px" value="" />
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <input type="button" id="btnExporarExcel" value="Exportar Excel" />
                </td>

            </tr>
        </table>
    </div>

    <input type="hidden" id="hfEmpresa" />
    <input type="hidden" id="hfTipoGeneracion" />
    <input type="hidden" id="hfFuenteEnergia" />

    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    <div class="table-list" id="listado"></div>
    <br />
    <div class="tabla-header">
        <div class="table-paginado" id="paginado">
        </div>
    </div>
</div>





