@model COES.MVC.Intranet.Areas.Proteccion.Models.EquipamientoModificadoModel

<script type="text/javascript">



</script>

<div class="panel-container">
    @using (Html.BeginForm("ConsultaEquipamientoModificado", "Proteccion", FormMethod.Post, new { @name = "frmEquipamientoModificacion", id = "frmEquipamientoModificacion" }))
    {
        @Html.HiddenFor(m => m.Codigo)
    <div class="search-content" style="margin-bottom:0px; padding:15px">
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <th style="width:5%"></th>
                <th style="width:25%"></th>
                <th style="width:5%"></th>
                <th style="width:65%"></th>
            </tr>
            <tr>
                <td class="tbform-label">Código:</td>
                <td class="tbform-control">
                    <input type="text" id="memotecnico" name="memotecnico" value="@Model.MemoTecnico" disabled style="width:100%" />
                </td>
                <td class="tbform-label">Motivo:</td>
                <td class="tbform-control">
                    <input type="text" id="Motivo" name="Motivo" style="width:100%" value="@Model.Motivo" disabled />
                </td>
            </tr>
        </table>
  
    </div>
        <br />

        <div id="listaEqModificado" name="listaEqModificado"></div>
    }
</div>
