@{
    //Layout = "~/Areas/Publicaciones/Views/Shared/_LayoutSalaDePrensa.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ".:: App Móvil del COES ::.";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Contactenos.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Publicaciones/SalaDePrensa/AppMovil" class="sidebar-nav--link sidebar-nav--link-active">App Móvil COES</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/browser/downloadpdf?url=Publicaciones/Libro%20Conmemorativo/COES/Libro_ConmemoratorioCOES_25.pdf" target="_blank" class="sidebar-nav--link">Libro conmemorativo 25 años</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Publicaciones/Suscripcion/Suscripcion" class="sidebar-nav--link">Suscripciones</a>
                    </li>
                </ul>
            </nav>

            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 14px;">

                    <h3 class="heading-5 mb-4 mt-4">Nuevas actualizaciones</h3>
                    <div style="margin-right: 30px;">Se implementó  un nuevo gráfico que brinda el detalle del Costo Marginal vs la Tarifa de Energía en Barra.</div>
                    <div style="margin-right: 30px;">La consulta de Mantenimientos Programados ahora cuenta con nuevos filtros de búsqueda.</div>
                    <div style="margin-right: 30px;">Se agregó la curva del Reprograma Diario en el gráfico de Demanda.</div>
                    <div style="margin-bottom: 25px;margin-right: 30px;">Se habilitó la funcionalidad de suscripción a notificaciones de Eventos relevantes del SEIN.</div>
                </div>
            </div>

            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 14px;">
                    <h3 class="heading-5 mb-4 mt-4" style="font-size:20px">Descárgala en tu smartphone</h3>
                    <div class="imagenapp" style="margin-left:20px; margin-bottom:20px; margin-top:15px">
                        <a href="https://play.google.com/store/apps/details?id=com.coes.app" target="_blank"><img src="~/Content/Images/Movil/googleplay.png" style="border:none;" class="google" /></a><br><br>
                        <a href="https://itunes.apple.com/us/app/coes-sinac/id1390604978?ls=1&mt=8" target="_blank"><img src="~/Content/Images/Movil/apple.png" style="border:none;" class="apple" /></a>
                    </div>
                </div>
            </div>

            <p>
                <strong style="font-style:italic">IMPORTANTE:</strong> La información mostrada en el app móvil de carácter referencial. Para el cumplimiento de Procedimientos Técnicos y normativa,
                la única información válida es la que publicamos en nuestro portal web.
            </p>
        </div>
        <div class="col col-md-9 order-1 order-md-0">
            <div class="coes-box coes-box--padding">
                    <h2 class="heading-4 heading-underlined">App Móvil COES</h2>

                    <h3 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Obtenga más información del aplicativo</h3>

                    <p style="margin-right: 30px;">El aplicativo móvil del COES, brinda información actualizada del Sistema Eléctrico Nacional.</p>

                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Demanda</h1>
                    <p style="margin-right: 30px;">
                        Seleccionando una fecha de consulta, el app permite visualizar la demanda programada y
                        ejecutada según el transcurso del día;  además, se puede observar la cifra de demanda ejecutada
                        y su hora de actualización. Esta información se actualiza cada 15 minutos.
                    </p>

                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Generación</h1>
                    <p style="margin-right: 30px;">
                        Por fuente de energía: se brinda información del día anterior mostrando cuánta energía se produjo y de qué fuente provino.
                        Por empresa: se muestran las 10 principales empresas que producen energía para el SEIN.
                    </p>
                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Máxima demanda</h1>
                    <p style="margin-right: 30px;">
                        La máxima demanda muestra los picos de consumo de energía:
                        Por tipo de generación: muestra la producción de máxima demanda del mes anterior, fecha y hora.
                        Fuente de energía: brinda información más específica del día de máxima demanda del mes anterior.
                        Diagrama de carga: muestra el diagrama de carga del mes anterior.
                    </p>

                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Eventos</h1>
                    <p style="margin-right: 30px;">El app permite consultar por fecha los eventos del día y ver un mayor detalle.</p>

                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Frecuencia en tiempo real</h1>
                    <p style="margin-right: 30px;">Se muestra la frecuencia en tiempo real.</p>

                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Mantenimientos programados</h1>
                    <p style="margin-right: 30px;">Se puede consultar por fecha los mantenimientos diarios programados.</p>

                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Costos marginales en tiempo real</h1>
                    <p style="margin-right: 30px;">Esta información se actualiza cada media hora y se puede consultar información por cada barra disponible en el mapa.</p>

                    <h1 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">Calendario COES</h1>
                    <p style="margin-right: 30px;">
                        Esta sección es de consulta, se pueden visualizar las publicaciones que realiza el COES, así como la fecha de vencimiento
                        de plazos para la entrega de información respecto a un Procedimiento Técnico específico. Asimismo, se puede configurar desde
                        el celular una alarma para el evento de su interés.
                    </p>

                    <img src="~/Content/Images/movil/02.jpg?v=1.1" alt="Gráfico circular" style="margin-right:20px">
                    <img src="~/Content/Images/movil/07.jpg?v=1.1" alt="Mapa" style="margin-right:20px">
                    <img src="~/Content/Images/movil/08.jpg?v=1.1" alt="Gráfico de Barras">
                    <div class="mt-4" style="clear:both"></div>
               
            </div>
        </div>

    </div>
</div>
<div style="clear:both"></div>

@*@section banner{
        <div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Contactenos.jpg)">
        </div>
    }

    @section rigthdown{
        <div class="page-rigth1">

            <div class="page-left-prov" style="margin-right:0">
                <div style="clear:both; height:20px"></div>
                <div class="page-info-azul">
                    <h1>Nuevas actualizaciones</h1>
                    <div>Se implementó  un nuevo gráfico que brinda el detalle del Costo Marginal vs la Tarifa de Energía en Barra.</div>
                    <div>La consulta de Mantenimientos Programados ahora cuenta con nuevos filtros de búsqueda.</div>
                    <div>Se agregó la curva del Reprograma Diario en el gráfico de Demanda.</div>
                    <div style="margin-bottom:25px">Se habilitó la funcionalidad de suscripción a notificaciones de Eventos relevantes del SEIN.</div>
                </div>

                <div style="clear:both; height:20px"></div>

                <div class="page-info-azul">
                    <h1 style="font-size:20px">Descárgala en tu smartphone</h1>
                    <div class="imagenapp" style="margin-left:50px; margin-bottom:20px; margin-top:15px">
                        <a href="https://play.google.com/store/apps/details?id=com.coes.app" target="_blank"><img src="~/Content/Images/Movil/googleplay.png" style="border:none;" class="google" /></a><br><br>
                        <a href="https://itunes.apple.com/us/app/coes-sinac/id1390604978?ls=1&mt=8"><img src="~/Content/Images/Movil/apple.png" style="border:none;" class="apple" /></a>
                    </div>
                </div>
                <div style="clear:both; height:20px"></div>

                <p>
                    <strong style="font-style:italic">IMPORTANTE:</strong> La información mostrada en el app móvil de carácter referencial. Para el cumplimiento de Procedimientos Técnicos y normativa,
                    la única información válida es la que publicamos en nuestro portal web.
                </p>

            </div>

        </div>
    }*@