@model COES.MVC.Publico.Models.HomeModel

@{
    Layout = "~/Areas/Publicaciones/Views/Shared/_LayoutSalaDePrensa.cshtml";
    ViewBag.Title = ".::Sala de Prensa - COES::.";
}

<div class="page-content">
    <div class="page-left" style="width:100%">
        <div class="page-text" style="padding-right:10px">


            @foreach (var item in Model.ListaComunicado)
            {
                <table style="width:100%">
                    <tr>
                        <td colspan="2">

                            <h1>
                                @item.Comtitulo
                            </h1>
                            <span style="font-size:12px; font-weight:normal">Fecha Publicación: @(((DateTime)item.Comfecha).ToString("dd/MM/yyyy"))</span>

                        </td>
                    </tr>
                    <tr>
                        <td valign="top">

                            @Html.Raw(item.Comdesc)

                        </td>
                        <td valign="top" style="width:43%">

                            <img src="~/Content/Images/Comunicados/@(item.Comcodi).jpg" style="border:6px solid #e9e4e4; border-radius:15px" />
                        </td>
                    </tr>
                </table>
                <br />
                <div style="height:20px; border-bottom:1px dashed #5692cb; clear:both"></div>
            }
        </div>

    </div>
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>

<br />
<br />

@section banner{
    <div class="page-banner-title">
        <h1>Sala de Prensa</h1>
        <span>Comunicados</span>
    </div>
    <img src="~/Content/Images/Banners/Contactenos.jpg" alt="Contáctenos" />
}

@section rigthdown{
    <div class="page-indicador" style="width:340px">
        <h1>Conoce nuestros</h1>
        <strong>indicadores</strong>
        <div>
            <a href="~/portalinformacion/generacion" class="btn">Haga click para entrar</a>
        </div>
    </div>
}
