@model COES.MVC.Intranet.Areas.YupanaContinuo.Models.ConfiguracionModel
@{
    ViewBag.Title = "Configuración de Generación RER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/YupanaContinuo/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/YupanaContinuo/Content/Scripts/configuracionRecursoYupana.js?v=1.0"></script>

<input type="hidden" id="tipoConfiguracion" value="B" />
<input type="hidden" id="tyupcodi" value="@Model.Tyupcodi" />
<input type="hidden" id="yupcfgcodi" value="@Model.Yupcfgcodi" />

<div class="form-title">
    <div class="content-titulo">Configuración de Generación RER</div>

    <div class="content-botonera">
        @if (Model.TienePermisoAdmin)
        {
            <input type="button" id="btnNuevo" value="Nuevo">
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" style="margin:0; margin-bottom:10px; display: none"></div>

    <div id="div_reporte" class="content-tabla">

    </div>

</div>

<div id="popup_formulario" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span></span></div>

    <div id="div_formulario">
    </div>
</div>