<script type="text/javascript">
    $(function () {

        $('#tab-container').easytabs({
            animate: false
        });
    });
</script>

<div id="reporte">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#reportePronostico">@Html.Raw(Model.HojaPronostico)</a></li>
            <li class='tab'><a href="#reporteHistorico">@Html.Raw(Model.HojaHistorico)</a></li>
        </ul>
        <div class='panel-container'>
            <div id="reportePronostico">
                @Html.Raw(Model.HtmlReportePronostico)
            </div>
            <div id="reporteHistorico">
                @Html.Raw(Model.HtmlReporteHistorico)
            </div>
        </div>
    </div>
</div>
