<script type="text/javascript">
    $(document).ready(function () {
        $('#cbPtoMedicion').multipleSelect({
            width: '222px',
            filter: true
        });

        $('#cbPtoMedicion').multipleSelect('checkAll');
    });

</script>
<select id="cbPtoMedicion" name="IdPtoMedicion" multiple="multiple">
                        @foreach (var item in Model.ListaTipoPtoMedicion)
                        {
                            <option value="@item.Tipoptomedicodi">@item.Tipoptomedinomb</option>
                        }
</select>
<input type="hidden" id="hfPtoMedicion" />

