//Slider pagination
.image-slider-dots {
  list-style: none;
  display: flex;
  text-align: center;
  padding-left: 0;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  button {
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px #fff;
    font-size: 0;
    margin-right: 10px;
    padding: 0;
    width: 10px;
    height: 10px;
  }

  .slick-active {
    button {
      background-color: #fff;
    }
  }
}

//Shortcuts carousel
.coes-shortcuts-carousel {
  margin-top: 12px;
  margin-bottom: 12px;

  .slick-arrow {
    background: url(../img/icons/icon-arrow-1.svg) no-repeat center center;
    border: none;
    font-size: 0;
    width: 8px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 3;

    @include mq($until: desktop) {
      display: none;
    }
  }

  .slick-next {
    left: auto;
    right: 0;
    transform: scale(-1, 1);
  }
}

.coes-news-preview-list {
  padding: pxtorem(26) pxtorem(20);
}

//Prensa Slide
.slider-prensa--container {
  padding-top: pxtorem(28);
  padding-bottom: pxtorem(18);
  margin-left: pxtorem(10);
  margin-right: pxtorem(10);

  .coes-preview--content p {
    margin-bottom: 0;
  }

  .coes-preview-item {
    margin-bottom: 0;

    @include mq($until: desktop) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .slick-arrow {
    background: url(../img/icons/icon-arrow-1.svg) no-repeat center center;
    border: none;
    font-size: 0;
    width: 8px;
    height: 18px;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 50%;
    z-index: 3;

    @include mq($until: desktop) {
      display: none !important;
    }
  }

  .slick-next {
    left: auto;
    right: 0;
    transform: scale(-1, 1);
  }
}

.slider-prensa--item {
  padding-left: pxtorem(30);
  padding-right: pxtorem(30);
  margin-left: pxtorem(20);
  margin-right: pxtorem(20);

  @include mq($until: desktop) {
    display: block !important; 
    margin-left: 0;
    padding-left: pxtorem(8);
    padding-right: pxtorem(8);

    img {
      width: 100%;
    }
  }
}

.dark-theme {
  .slick-arrow {
    background: url(../img/icons/icon-arrow-1-dark.svg) no-repeat center center;
  }
}
