.coes-views {
  padding: 16px;
  align-content: center;
  border-right: 1px solid var(--bs-gray-500);
  justify-content: space-between;

  @include mq($until: tablet) {
    display: none !important;
  }
}

.coes-views--label {
  margin-bottom: 0;
  margin-right: 20px;
  color: var(--bs-gray-600);
}

.coes-views--button {
  border-radius: 0;
  border: 0;
  opacity: .4;
  transition: .2s ease-in all;

  &:hover {
    opacity: .6;
    transition: .2s ease-in all;
  }

  &.active {
    opacity: 1;
  }
}

.coes-search {
  align-items: center;
  color: var(--bs-gray-600);
  padding-left: 25px;

  @include mq($until: tablet) {
    padding-top: pxtorem(15);
    padding-bottom: pxtorem(15);
  }

  form {
    width: 100%;
  }
}

.coes-search--label {
  color: var(--bs-gray-600);
  margin-bottom: 0;
  margin-right: pxtorem(10);
}

.coes-search-input {
  //background: url(../img/icons/icon-search.svg) no-repeat 15px center;
  border: 0;
  padding: pxtorem(15) pxtorem(25) pxtorem(15) pxtorem(60);
  width: 100%;
  opacity: .5;

  &:focus {
    outline: none;
  }
}

.dark-theme {
  .coes-views {
    border-color: #3e3e3e;
  }

  .coes-search-input {
    color: #b4bccd;
    border-color: #3e3e3e;
  }
}

/* DIRECTORY PAGE */
.directory-form--container {
  .coes-form-item {

    @include mq($until: mobile) {
      flex-wrap: wrap;

      input {
        width: 90%;

        &[type=submit] {
          margin-right: 0 !important;
          width: 100%;
        }
      }

      span {
        text-align: right;
        width: 10%;
      }
    }

    label {
      max-width: 240px;
    }
  }

  .coes-box--content {
    @include mq($until: mobile) {
      padding: pxtorem(15) !important;
    }
  }
}

.coes-form-item--info {
  display: flex;
  @include mq($until: mobile) {
    flex-wrap: nowrap !important;
    padding: pxtorem(15) !important;
  }

  &:before {
    background: url('../img/icons/icon-info-circle.svg') no-repeat center;
    background-size: contain;
    content: '';
    display: block;
    height: 20px;
    margin-right: pxtorem(15);
    margin-top: pxtorem(5);
    max-width: 20px;
    width: 100%;
  }
}

/* FIRST TRANSMISSION PLAN */
@include mq($until: mobile) {
  .coes-checks-header--container {
    padding: 0 0 pxtorem(15) !important;
  }

  .coes-checks-header {
    display: block !important;
  }
}

.dark-theme {
  .border-theme-dark {
    border-color: #3e3e3e !important;
  }
}

/* SITEMAP PAGE */
.sitemap-items a {
  color: var(--bs-gray-600);
  text-decoration: none;

  &:hover {
    color: var(--bs-blue);
  }
}

.coes-collapse-item {
  align-items: center;
  display: flex;

  &::after {
    background: url('../img/icons/icon-arrow-1-dark.svg') no-repeat  0 center ;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 13px;
    margin-left: pxtorem(5);
    width: 12px;
    transform: rotate(270deg);
  }

}


//Events page agenda
.eventlist-inner {
  .coes-pagination {
    @include mq($until: desktop) {
      width: 100%;
    }
  }
}

.coes-search--results-page {
  @include mq($until: desktop) {
    padding-left: pxtorem(5);
    padding-right: pxtorem(5);
    flex-direction: column;
    align-items: flex-start;

    .coes-search--label {
      display: block;
      text-align: left;
    }
  }
}

.iframe--01 {

  iframe {
    width: 100%;
    height: 100%;
    min-height: 550px;
    overflow-x: auto;
  }
}

.coes-button--front {
  font-weight: 600;
  padding-top: pxtorem(10) !important;
  padding-bottom: pxtorem(10) !important;

  span {
    font-weight: normal;
    display: block;
    font-size: pxtorem(12);
  }
}