@model  COES.MVC.Intranet.Areas.Monitoreo.Models.IndicadorModel

@{
    ViewBag.Title = "Generador de Indicadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/Monitoreo/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<script src="~/Areas/Monitoreo/Content/Scripts/generador.js?v=1.2.2"></script>

<div class="form-title">
    <div class="content-titulo">Generador de Indicadores</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtMes" name="txtFechaInicio" value="@Model.FechaInicio" />
                </td>

                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>

                <td>
                    @{
                        if (Model.Resultado4 == 1)
                        {
                            <input type="button" id="btnGenerar" value="Generar versión" />
                        }
                    }
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>
    </div>

</div>


<div id="idPopupNew" style="display:none" class="popup-class-1">
    <span class="button b-close"><span>X</span></span>

    <div class="popup-title"><span>Generar versión</span></div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">
        <tr>
            <td class="tbform-label"><b>Fecha de periodo</b></td>
        </tr>

        <tr>
            <td>  <input type="text" id="txtMesPeriodo" name="txtFechaInicio" /></td>
        </tr>

        <tr>
            <td class="tbform-label"><b>Motivo</b></td>
        </tr>
        <tr>
            <td>
                <textarea id="txtMotivo" autofocus style="width:400px; height:80px"></textarea>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnSave" value="Procesar" />
            </td>
        </tr>
    </table>
</div>

<div id="EditPopupGenerador" style="display:none" class="popup-class-1">
    <span class="button b-close"><span>X</span></span>

    <div class="popup-title"><span>Editar versión</span></div>

    <div style="clear:both; height:5px"></div>



    <table class="table-search" style="width:350px">
        <tbody>
            <tr>
                <td class="tbform-label"><b>Estado</b></td>
            </tr>

            <tr>
                <td>

                    <select name="cars" id="cboEstado">
                        <option value="1">Por Aprobar</option>
                        <option value="2">Aprobado</option>
                        <option value="3">No vigente</option>

                    </select>

                </td>
            </tr>

            <tr></tr>
            <tr>
                <td class="tbform-label"><b>Estado Portal</b></td>
            </tr>

            <tr>
                <td><input type="checkbox" id="chkPortal" /></td>
            </tr>


            <tr>
                <td class="tbform-label"><b>Motivo</b></td>
            </tr>

            <tr>
                <td>
                    <textarea autofocus rows="4" cols="50" id="txtMotivoEdit" style="width:400px; height:80px"></textarea>
                </td>
            </tr>

            <tr>
                <td style="text-align:right">
                    <input type="button" id="btnUpdate" value="Modificar" />
                </td>
            </tr>
        </tbody>
    </table>


</div>


<input type="hidden" id="hfMes" value="@Model.DiaMes" />