<script type="text/javascript">

    function cargarPrimeraPagina2() {
        var id = 1;
        $('#hfPaginaActual2').val(id);
        mostrarPaginado2();
        pintarBusqueda2(id);
    }

    function cargarAnteriorPagina2() {
        var id = $('#hfPaginaActual2').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual2').val(id);
            mostrarPaginado2();
            pintarBusqueda2(id);
        }
    }

    function cargarPagina2(id) {
        $('#hfPaginaActual2').val(id);
        mostrarPaginado2();
        pintarBusqueda2(id);
    }

    function cargarSiguientePagina2() {
        var id = parseInt($('#hfPaginaActual2').val()) + 1;
        $('#hfPaginaActual2').val(id);
        mostrarPaginado2();
        pintarBusqueda2(id);
    }

    function cargarUltimaPagina2() {
        var id = $('#hfNroPaginas2').val();
        $('#hfPaginaActual2').val(id);
        mostrarPaginado2();
        pintarBusqueda2(id);
    }

    function mostrarPaginado2() {
        var nroToShow2 = parseInt($('#hfNroMostrar2').val());
        var nroPaginas2 = parseInt($('#hfNroPaginas2').val());
        var nroActual2 = parseInt($('#hfPaginaActual2').val());

        $('.pag-ini2_').css('display', 'none');
        $('.pag-item2_').css('display', 'none');
        $('.pag-fin2_').css('display', 'none');
        $('.pag-item2_').removeClass('paginado-activo');

        $('#pag2_' + nroActual2).addClass('paginado-activo');

        if (nroToShow2 - nroPaginas2 >= 0) {
            $('.pag-item2_').css('display', 'block');
            $('.pag-ini2_').css('display', 'none');
            $('.pag-fin2_').css('display', 'none');
        }
        else {

            $('.pag-fin2_').css('display', 'block');
            if (nroActual2 > 1) {
                $('.pag-ini2_').css('display', 'block');
            }
            var anterior2 = 0;
            var siguiente = 0;

            if (nroActual2 == 1) {

                anterior2 = 1;
                siguiente2 = nroToShow2;
            }
            else {
                if (nroActual2 + nroToShow2 - 1 - nroPaginas2 > 0) {
                    siguiente2 = nroPaginas2;
                    anterior2 = nroPaginas2 - nroToShow2 + 1;
                }
                else {
                    anterior2 = nroActual2;
                    siguiente2 = nroActual2 + nroToShow2 - 1;
                }
            }

            for (j = anterior2; j <= siguiente2; j++) {
                $('#pag2_' + j).css('display', 'block')
            }
        }
    }

</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst2" class="pag-ini2_"><a href="JavaScript:cargarPrimeraPagina2();"><<</a></div>
        <div id="pagPrev2" class="pag-ini2_"><a href="JavaScript:cargarAnteriorPagina2();"><</a></div>
        @for (int j = 1; j <= Model.NroPaginas; j++)
        {
            <div class="pag-item2_" id="@("pag2_" + j)" style="display:none"><a href="JavaScript:cargarPagina2(@j);"><span>@j</span></a></div>
        }
        <div id="pagNext2" class="pag-fin2_"><a href="JavaScript:cargarSiguientePagina2();">></a></div>
        <div id="pagLast2" class="pag-fin2_"><a href="JavaScript:cargarUltimaPagina2();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActual2" value="1" />
    <input type="hidden" id="hfNroPaginas2" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar2" value="@Model.NroMostrar" />
}