<script type="text/javascript">

    function cargarPrimeraPagina7() {
        var id = 1;
        $('#hfPaginaActual7').val(id);
        mostrarPaginado7();
        pintarBusqueda7(id);
    }

    function cargarAnteriorPagina7() {
        var id = $('#hfPaginaActual7').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual7').val(id);
            mostrarPaginado7();
            pintarBusqueda7(id);
        }
    }

    function cargarPagina7(id) {
        $('#hfPaginaActual7').val(id);
        mostrarPaginado7();
        pintarBusqueda7(id);
    }

    function cargarSiguientePagina7() {
        var id = parseInt($('#hfPaginaActual7').val()) + 1;
        $('#hfPaginaActual7').val(id);
        mostrarPaginado7();
        pintarBusqueda7(id);
    }

    function cargarUltimaPagina7() {
        var id = $('#hfNroPaginas7').val();
        $('#hfPaginaActual7').val(id);
        mostrarPaginado7();
        pintarBusqueda7(id);
    }

    function mostrarPaginado7() {
        var nroToShow7 = parseInt($('#hfNroMostrar7').val());
        var nroPaginas7 = parseInt($('#hfNroPaginas7').val());
        var nroActual7 = parseInt($('#hfPaginaActual7').val());

        $('.pag-ini7_').css('display', 'none');
        $('.pag-item7_').css('display', 'none');
        $('.pag-fin7_').css('display', 'none');
        $('.pag-item7_').removeClass('paginado-activo');

        $('#pag7_' + nroActual7).addClass('paginado-activo');

        if (nroToShow7 - nroPaginas7 >= 0) {
            $('.pag-item7_').css('display', 'block');
            $('.pag-ini7_').css('display', 'none');
            $('.pag-fin7_').css('display', 'none');
        }
        else {


            $('.pag-fin7_').css('display', 'block');
            if (nroActual7 > 1) {
                $('.pag-ini7_').css('display', 'block');
            }
            var anterior7 = 0;
            var siguiente = 0;

            if (nroActual7 == 1) {

                anterior7 = 1;
                siguiente7 = nroToShow7;
            }



            else {

                if (nroActual7 + nroToShow7 - 1 - nroPaginas7 > 0) {
                    siguiente7 = nroPaginas7;
                    anterior7 = nroPaginas7 - nroToShow7 + 1;
                }
                else {
                    anterior7 = nroActual7;
                    siguiente7 = nroActual7 + nroToShow7 - 1;
                }
            }

            for (j = anterior7; j <= siguiente7; j++) {
                $('#pag7_' + j).css('display', 'block')
            }
        }
    }

</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst7" class="pag-ini7_"><a href="JavaScript:cargarPrimeraPagina7();"><<</a></div>
        <div id="pagPrev7" class="pag-ini7_"><a href="JavaScript:cargarAnteriorPagina7();"><</a></div>
        @for (int j = 1; j <= Model.NroPaginas; j++)
        {
            <div class="pag-item7_" id="@("pag7_"+j)" style="display:none"><a href="JavaScript:cargarPagina7(@j);"><span>@j</span></a></div>
        }
        <div id="pagNext7" class="pag-fin7_"><a href="JavaScript:cargarSiguientePagina7();">></a></div>
        <div id="pagLast7" class="pag-fin7_"><a href="JavaScript:cargarUltimaPagina7();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActual7" value="1" />
    <input type="hidden" id="hfNroPaginas7" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar7" value="@Model.NroMostrar" />
}