@model COES.MVC.Publico.Areas.Equipamiento.Models.FichaTecnicaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ficha Técnica";
}

<script src="~/Areas/Equipamiento/Content/Script/fichatecnica/fichatecnica.js?v=1.4"></script>
<style>

    .datatables_filter {
        clear: none !important;
    }
</style>
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/RegistroDeIntegrantes.jpg) ">
</div>
<div style="clear:both"></div>

<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/BaseDatos" class="sidebar-nav--link">Base de Datos</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/equipamiento/equipo/index" class="sidebar-nav--link">Equipamiento</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Equipamiento/FichaTecnica" class="sidebar-nav--link sidebar-nav--link-active">Ficha Técnica</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/MapaSEIN" class="sidebar-nav--link">Mapa del SEIN</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/CaractSEIN/DiagramaUnifilar" class="sidebar-nav--link">Diagrama Unifilar</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            <div class="coes-box mb-5">
                <div class="coes-box--header">
                    <h3 class="coes-box--title">
                        Ficha Técnica
                    </h3>
                </div>

                <div class="coes-box--content container">

                    <div class="coes-filters d-flex">
                        <form action="" class="w-100">
                            <div class="row align-items-end">

                                <div class="col col-md-6">
                                    <div class="coes-form-item">
                                        <label class="d-block" for="">Ficha Técnica:</label>
                                        <select name="filter-1" id="cbFichaTecnica">
                                            @foreach (var item in Model.ListaFichaTecnicaSelec)
                                            {
                                                <option value="@item.Fteqcodi">@item.Fteqnombre</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="coes-form-item td_empresa">
                                        <label class="d-block" for="">Empresa:</label>
                                        <select name="filter-2" id="cbEmpresa">
                                            <option value="-2">--TODOS--</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="col col-md-4">
                                    <div class="coes-form-item">
                                        <input type="button" id="btnConsultar" class="coes-form-item--submit" value="Buscar">
                                    </div>
                                </div>*@
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="">
                <div id="textoMensaje"></div>
                <div class="table-responsive">
                    <div class="table-list" id="listado"></div>
                </div>

                <div class="paginado" id="paginado">
                </div>
            </div>
        </div><!-- /.col-9 -->

    </div><!-- /.row -->
</div><!-- /.container-->

<input type="hidden" id="hfEmpresa" />
<input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
<div style="clear:both"></div>
