@model COES.MVC.Extranet.Areas.Resarcimientos.Models.RegistrosModel
@{
    ViewBag.Title = ".::Extranet COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-puntoentrega-paginado.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-default.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-puntoentrega-default.js"></script>
<link href="~/Content/Css/css.css" rel="stylesheet" />

<div class="form-title" style="height:16px;">
    <div class="content-titulo" style="width:100% ;margin:auto">Transferencias - Punto de Entrega</div>
    <div class="content-botonera" style="margin-top:-30px">
        <input type="button" id="btnBuscarClick" value="Consultar" class="btn-form-adition" />
        <input type="button" id="btnExportar" value="Exportar" class="btn-form-adition" data-registro="@Model.Key" />
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="content-hijo">
    <div class="field-group search-content" id="content_selection_header">
        <div class="field-group">
            <div class="field-wrap">
                <span class="field-label" style="width:150px;">Empresa Generadora</span>
                <div class="field-control">
                    @Html.DropDownList("CboEmpresasGeneradoras", ViewData["CboEmpresasGeneradoras"] as List<SelectListItem>, new { @style = "width:200px;" })
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="field-group">
            <div class="field-wrap">
                <div class="field-control">
                    <span class="field-label" style="width:150px;">Per&iacute;odo</span>
                    <div class="field-control">
                        @Html.DropDownList("CboPeriodo", ViewData["CboPeriodo"] as List<SelectListItem>, new { @style = "width:200px;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content" id="content_selection">
        @Html.Partial("Optionselect")
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
    <div id="divBandeja" class="search-result">
    </div>
</div>

<div id="ele-popup" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div id="ele-popup-content">
        <table border="0" class="pretty">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Mensaje</th>
                    <th>Estado</th>
                    <th>Archivo</th>
                </tr>
            </thead>
        </table>
    </div>
</div>