<div class="field-group">
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width:150px;">Cliente</span>
            <div class="field-control">
                @Html.DropDownList("CboCliente", ViewData["CboCliente"] as List<SelectListItem>, new { @style = "width:200px;" })
            </div>
        </div>
    </div>
    <div class="field-group">
        <div>
            @Html.TextBox("btnAgregar", "Agregar", new { @title = "Registrar Interrupciones por Punto Entrega", @type = "hidden" })
        </div>
    </div>
    <div class="clear"></div>
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width:150px;">Punto de Entrega</span>
            <div class="field-control">
                @Html.DropDownList("CboPuntoEntrega", ViewData["CboPuntoEntrega"] as List<SelectListItem>, new { @style = "width:200px;" })
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script>
    $('#btnBuscarClick').click(function () {
        buscarReporte();
        //$('#CboPeriodo').change();
    });
    $('#CboCliente').change(function () {
        $.ajax({
            type: "POST",
            url: controler + "Optionselect",
            //dataType: 'json',
            data: {
                empresa: $('#CboEmpresasGeneradoras').val(),
                periodo: $('#CboPeriodo').val(),
                cliente: $('#CboCliente').val(),
                pentrega: "",
                ntension: ""
            },
            cache: false,
            success: function (resultado) {
                $('#content_selection').html(resultado);
                //$('#CboPuntoEntrega').prop('selectedIndex', -1);
                //$('#CboTension').prop('selectedIndex', -1);
            },
            error: function (req, status, error) {
                mensajeOperacion(error);
            }
        });
    });
    $('#CboPuntoEntrega').change(function () {
        $.ajax({
            type: "POST",
            url: controler + "Optionselect",
            //dataType: 'json',
            data: {
                empresa: $('#CboEmpresasGeneradoras').val(),
                periodo: $('#CboPeriodo').val(),
                cliente: $('#CboCliente').val(),
                pentrega: $('#CboPuntoEntrega').val(),
                ntension: ""
            },
            cache: false,
            success: function (resultado) {
                $('#content_selection').html(resultado);
                //$('#CboTension').prop('selectedIndex', -1);
            },
            error: function (req, status, error) {
                mensajeOperacion(error);
            }
        });
    });
</script>
