@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CostoMarginalDiario";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/sio2/numeralesdiario.js?v=1.0"></script>
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Carga de Datos - Costos Marginales Diario </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Sin informacion..!!</div>

        <div class="search-content" style="height:30px">
            <table class="tabla-search" style="width: auto; float: left;">
                <tr>
                    <td>Mes-Año:</td>
                    <td><input type="text" id="txtFecha" value="@Model.Fecha" /></td>
                    <td class="content-action">
                        <a href="#" id="btnExcel">
                            <div class="content-item-action">
                                <img src="~/Content/Images/ExportExcel.png" height="25" title="Descargar" />
                            </div>
                        </a>
                    </td>
                    <td class="content-action">
                        <a href="#" id="btnSelectExcel">
                            <div class="content-item-action">
                                <img src="~/Content/Images/folder_open.png" />
                            </div>
                        </a>
                    </td>
                    <td class="content-action">
                        <input type="button" id="btnCargar" value="Cargar Info" />
                    </td>
                </tr>
            </table>
            <input type="button" id="btnVerLog" value="Auditoria de Cargas" style="position:sticky; float: right;" />
        </div>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="overflow-x:auto"></div>
    </div>
</div>
<div id="popupTablaNuevo" style="display:none">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Auditoria de Carga Datos Cmg</span></div>
    <div class="search-content">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listadolog"></div>
    </div>
</div>