@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CostoMarginalMensual";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/sio2/numerales.js?v=2.1"></script>
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Carga Datos de Costos Marginales Revisados </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Cargar informacion de ZIP o Excel..!!</div>
    <div id="wait" style="display: none; background-color: rgb(0, 0, 0); position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 0.7; z-index: 9998;">
        <div class="loading" style="display: inline; top: 45%; left: 45%;">
            <div class="loading-image"><img src="/Content/Images/loading.gif"></div>
            <div class="loading-text">Procesando...</div>
        </div>
    </div>
    <div class="search-content" style="height:30px">
        <table class="content-tabla-search" style="width: auto; float: left;">
            <tr>
                <td style="vertical-align: middle">Tipo de Carga:</td>
                <td style="vertical-align: middle">
                    <select id="cbTipCarga">
                        <option value="1">Mensual</option>
                        <option value="2">Diario</option>
                    </select>
                </td>
                <td style="vertical-align: middle" id="tdZip1">Mes-Año:</td>
                <td style="vertical-align: middle" id="tdZip2"><input type="text" id="txtMesAnio" value="@Model.Mes" /></td>
                <td style="vertical-align: middle; display: none" id="tdXls1">Fecha:</td>
                <td style="vertical-align: middle; display: none" id="tdXls2"><input type="text" id="txtFecha" value="@Model.Fecha" /></td>
                <td class="content-action">
                    <a href="#" id="btnLoad">
                        <div class="content-item-action" style="vertical-align: middle">
                            <img src="~/Content/Images/folder_open.png" />
                        </div>
                    </a>
                </td>
                <td class="content-action">
                    <input type="button" id="btnCargar" value="Cargar Info" />
                </td>
            </tr>
            <tr id="tr_fechaDia">
                <td>Dia:</td>
                <td><input type="text" id="txtFechaDia" value="@Model.Fecha" /></td>
            </tr>
        </table>
        <input type="button" id="btnVerLog" value="Auditoria de Cargas" style="position:sticky; float: right;" />
    </div>
    
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="overflow-x: auto; overflow-y:hidden"></div>
    </div>
</div>
<div id="popupTablaNuevo" style="display:none">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Auditoria de Carga Datos Cmg</span></div>
    <div class="search-content">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listadolog"></div>
    </div>
</div>