@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@if (Model.NRegistros > 0)
{
    if (Model.MostrarCarga)
    {
           <table id="tb_comen" class='pretty tabla-icono' style="width:60%">
            <thead><tr><th>Resultado</th></tr></thead>
            <tbody>
                @foreach (var d in Model.TipoEmpresas)
                {
                    <tr><td style="text-align:left;border:none">@Html.Raw(d)</td></tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="txtNroDias" value="@Model.DiasMes" />
        <script>
            mostrarExito("Carga Exitosa!!");
            
            $("#tr_fechaDia").hide();
        </script>
    }
    else
    {
        <table id="tb_comen" class='pretty tabla-icono' style="width:60%">
            <thead><tr><th>Resultado</th></tr></thead>
            <tbody>
                @foreach (var d in Model.TipoEmpresas)
                {
                    <tr><td style="text-align:left;border:none">@d</td></tr>
                }
            </tbody>
        </table>
        <script>
            $("#btnCargar").hide();
            $('#mensaje').removeClass();
            $('#mensaje').html('Error en la Carga');
            $('#mensaje').addClass('action-error');
            $("#tb_comen").dataTable({ "pageLength": 50, "bLengthChange": false, "ordering": false });
        </script>
    }
}
else
{
    <script>
        $("#btnCargar").hide();
        $('#mensaje').removeClass();
        $('#mensaje').html('@Model.Mensaje');
        $('#mensaje').addClass('action-message');
    </script>
}