@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ViewCostoMarginalCP";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/sio2/viewcostomarginalcp.js?v=2.143"></script>
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Consulta de Costos Marginales Revisados </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class="search-content">
            <table class="tabla-search" style="width:auto">
                <tr>
                    <td>Fecha:</td>
                    <td><input type="text" id="txtFecha" value="@Model.Fecha" /></td>
                    <td class="content-action">
                        <input type="button" id="btnExportar" value="Exportar Excel" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="float:left"></div>
        <div style="float: left; width: 80px">&nbsp;</div>
        <div class="table-list" id="listado2" style="float: left;width: 1100px; margin: auto;"></div>
    </div>
</div>
<div id="popupTablaNuevo" style="display:none">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Rango de Fechas</span></div>
    <div class="search-content">
        <table class="tabla-search" style="width:auto">
            <tr>
                <td>Fecha Inicio:</td>
                <td><input type="text" id="txtFechaInicio" value="@Model.Fecha" /></td>
                <td>Fecha Fin:</td>
                <td><input type="text" id="txtFechaFin" value="@Model.Fecha" /></td>
            </tr>
            <tr><td colspan="4" align="center"><div style="clear:both; height:15px"></div></td></tr>
            <tr>
                <td colspan="4" align="center">
                    <input type="button" id="btnExportarXls" value="Exportar" />
                    <input type="button" id="btnExportarNulos" value="Rangos sin CMg" />
                </td>
            </tr>
        </table>
    </div>
</div>