@model COES.MVC.Intranet.Areas.Transferencias.Models.BusquedaEVALDPModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Transferencias/Content/Scripts/evaluacionparticipante.js"></script>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Configuración de puntos de conexión MME (ptomedicion)</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value="Nuevo" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

@using (Html.BeginForm("Listar", "EvaluacionParticipante", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
{
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Participante:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" style="width:300px">
                        <option value="0">[Todos]</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>Desde:</td>
                <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" style="width:120px" /></td>
                <td>Hasta:</td>
                <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" style="width:120px" /></td>
                <td>
                    <input type="button" id="btnBuscar" value="Consultar" style="margin-left:0" />
                </td>
            </tr>
        </table>
    </div>
}

<div class="action-message" id="mensaje" style="display:none"></div>
    
<div class="content-tabla">
    <div class="tabla-header">       
        <div class="table-paginado" id="paginado"></div>
    </div>
    <div class="table-list" id="listado"></div>
</div>

<div style="clear:both; height:30px"></div>
 
</div>

<div id="popupNuevaConfiguracion" class="general-popup" style="width:450px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configurar puntos de conexión MME</span></div>
    <div class="popup-text" id="contenidoDetalle">
    </div>
</div>

<input type="hidden" id="hdtipoGuardado" value="0" />