@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoModel
@{
    ViewBag.Title = "Transferencias - Editar un Mes de Valorización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
@Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion del Mes de Valorización" }, { "sAccion", "Actualizar" } })
</div>
