@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoModel
@{
    ViewBag.Title = "Transferencias - Insertar un Mes de Valorización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
@Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un nuevo Mes de Valorización" }, { "sAccion", "Insertar" } })
</div>
