@model COES.MVC.Intranet.Areas.Medidores.Models.ComparativoRPFModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Medidores/Content/Scripts/comparativorpf.js"></script>

<div class="form-title">
    <div class="content-titulo">Comparativo RPF y Despacho Ejecutado</div>
    <div class="content-botonera">
          <input type="button" id="btnExportarConsulta" value="Exportar consulta" />
          <input type="button" id="btnExportarDatos" value="Exportar datos RPF" />
        <input type="button" id="btnConfiguracion" value="Configurar equivalencias" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>Fecha inicial:</td>
                <td>
                    <input type="text" id="txtFecha" style="width:140px" value="@Model.FechaConsulta" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value='Consultar' />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
        <table class="tabla-icono pretty">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Central</th>
                    <th>RPF</th>
                    <th>Despacho Ejecutado</th>
                    <th>Variación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>EDEGEL</td>
                    <td>CH. HUINCO</td>
                    <td>12.56</td>
                    <td>19.86</td>
                    <td>20%</td>
                </tr>
            </tbody>
            <tfoot>
                <tr >
                    <th colspan="2" style="text-align:center">TOTAL</th>
                    <th style="text-align:center">200.00</th>
                    <th style="text-align:center">250.00</th>
                    <th style="text-align:center">10%</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <br />
    <br />

</div>
