@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaFLecturaSp7Model
@using System.Globalization
<div>HOLAAAAA</div>

<div style="clear:both; height:15px"></div>
<form id="frmEnvio" class="form-search" method="get" action="">


    <div id="reporte" style="text-align: center" class="content-scroll">
        <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0">
            <thead>
                <tr>
                    <th>FechaHora</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
             
            </tbody>
        </table>
    </div>
</form>