@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {

        $.ajax({
            type: 'POST',
            url: siteRoot + 'contacto/anexos',
            success: function (evt) {
                $('#contenidoContacto').html(evt);
            },
            error: function () { }
        });
    });

</script>


<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Contactenos.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-7 order-1 order-md-0">
            <div class="coes-box">
                @*<iframe src="http://localhost:24743/coes/otros/contactenos/comuniquese.aspx" frameborder="0" scrolling="yes" width="750" height="1040"></iframe>*@
                @*<iframe src="http://23.100.28.82/wcoes/coes/otros/contactenos/comuniquese.aspx" frameborder="0" scrolling="yes" width="750" height="1040"></iframe>*@
                @*<iframe src="https://testweb.coes.org.pe/WcoesAppCTAF/coes/otros/contactenos/comuniquese.aspx" frameborder="0" scrolling="yes" width="750" height="1040"></iframe>*@
                <iframe src="https://www.coes.org.pe/wcoes/coes/otros/contactenos/comuniquese.aspx" frameborder="0" scrolling="yes" width="750" height="1040"></iframe>
            </div>

        </div>
        <div class="col col-md-5 order-1 order-md-0">
            @*<h3 class="heading-5 mb-4 mt-4">Teléfonos de Contactos Directos</h3>*@
            <div id="contenidoContacto"></div>
        </div>
    </div>
</div>
