@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RecalculoPotenciaModel
@{
    ViewBag.Title = "Valorización de Transferencia de Potencia - Editar una versión de recalculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion del recálculo" }, { "sAccion", "Actualizar" }})
</div>