@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RecalculoPotenciaModel
@{
    ViewBag.Title = "Valorización de Transferencia de Potencia - Insertar una versión de recalculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
@Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva versión de recálculo" }, { "sAccion", "Insertar" }})
</div>