@model COES.MVC.Intranet.Areas.TransfPotencia.Models.RecalculoPotenciaModel
@{
    ViewBag.Title = "Transferencia de Potencia - Versión de recalculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir la informacion de la versión de recálculo" }, { "sAccion", "Grabar" }})
</div>