@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.PeriodoModel

@{
    ViewBag.Title = "Edicion - Periodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion del Periodo" }, { "sAccion", "Actualizar" } })
</div>


