@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.PeriodoModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Asignacion de Responsabilidades de Pago SST-SCT - Mantenimiento de Periodos/Recalculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}
<script src="~/Areas/SistemasTransmision/Content/Scripts/periodo.js"></script>
<link href="~/Areas/SistemasTransmision/Content/Css/Transferencia.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Periodos de Asignacion de Responsabilidades de Pago SST-SCT</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" value="Nuevo" id="btnNuevo" onclick="location.href='@Url.Action("New","periodo")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Refrescar" id="btnRefrescar" onclick="location.href='@Url.Action("Index","periodo")'" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
        </div>
    </div>
</div>