@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.PeriodoModel

@{
    ViewBag.Title = "Registro de Periodos y Recalculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Registro de Periodos" }, { "sAccion", "Insertar" } })
</div>