@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.PeriodoModel

@{
    ViewBag.Title = "Transferencias - Corregir error en el Mes de Valorización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la informacion del Mes de Valorización" }, { "sAccion", "Grabar" } })
</div>
