@model COES.MVC.Intranet.Areas.Transferencias.Models.DemandaMercadoLibreModel
@{
    ViewBag.Title = "Potencia máxima a Retirar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">Potencia máxima a Retirar</div>
</div>
<div class="content-hijo" id="mainLayout" style="height: 720px;">
    <div id="mensaje"></div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Mes Referencia</td>
                            <td>
                                <input style="width:140px;" type="text" id="mesReferencia" name="mesReferencia" />
                            </td>
                            <td>Tipo: </td>
                            <td>
                                <select id="tipoEmpresa" name="tipoEmpresa">
                                    <option value="0">-- TODOS --</option>
                                    <option value="2">Distribuidores</option>
                                    <option value="4">Grandes Usuarios</option>
                                </select>
                            </td>
                            <td>Nombre: </td>
                            <td>
                                <input style="width:280px;" type="text" id="empresa" name="empresa" />
                            </td>
                            <td></td>
                            <td>
                                <input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" />
                            </td>
                            <td>
                                <input type="button" value="Exportar" id="btnExportar" name="btnExportar" class="form-action" />
                            </td>
                        </tr>
                    </table>
                </div>                
            </td>
        </tr>
    </table>
    <div class="content-tabla">
        <div class="content-tabla">
            <div class="table-list" id="listadoInformacionComparativa"></div>
        </div>
    </div>   
    <div class="content-tabla">
        <div class="content-tabla">
            <div class="table-list" id="listadoInformacionComparativaOsinergmin"></div>
        </div>
    </div>  
</div>
<!--Hoja de estilos-->
<link href="~/Areas/Transferencias/Content/Css/tabs.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/demandaMercadoLibre.js"></script>

