@{
    ViewBag.Title = ".::Portal COES - Mapa del Sitio::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jqueryui.js"></script>
@*<script src="~/Content/Scripts/jquerytree.js"></script>
<link href="~/Content/Css/uitree.css" rel="stylesheet" />*@

<script type="text/javascript">
    //var treeMenu = @Html.Raw(ViewBag.Menu)

    //$(function () {
    //    $("#tvMapaPortal").fancytree({
    //        checkbox: false,
    //        imagePath: "http://www.coes.org.pe/appseguridad/content/images/icon/",
    //        selectMode: 1,
    //        minExpandLevel: 2,
    //        source: treeMenu,
    //        click: function (e, control) {
    //            var url = control.node.key.split('$');
    //            if (url[0] == '1') {
    //                document.location.href = siteRoot + url[1];
    //            }
    //            else if (url[0] == '2') {
    //                window.open(url[1], '_blank');
    //            }
    //        }
    //    });
    //});
</script>

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Mapa del Sitio</h1>
            <span>
            </span>
        </div>
        <img src="~/Content/Images/Banners/MapaDelSitio.jpg" alt="Contáctenos" />
    </div>*@
<div class="content-area">

    <div class="container p-5 ps-3 pe-3">
        <h2 class="heading-4 heading-underlined">Sitemap</h2>
        @Html.Action("Menu", "SiteMap", new { model = Model, area = "" })
        @*<div id="tvMapaPortal"></div>*@

    </div><!-- /.container-->
</div> <!-- /.content-area -->
