@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.MotivosModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/motivos.js?v=3.2"></script>

<div class="h-panel">
    <div class="h-panel-tool">
        <div class="tool-item">
            <label id="btn-guardar" title="Guardar cambios">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-limpiar" title="Limpiar campos de texto de los parámetros">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-limpiar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-manual" title="Manual de funciones">
                <a href="~/Areas/PronosticoDemanda/Content/Docs/Manual_Usuario_PronosticoDemandaE3_Intranet.docx"><img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" /></a>
            </label>
        </div>
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
        <div>
            <!--Filtros-->
            <div class="h-panel" style="margin-bottom: 5px;">
                <div>
                    <div>Descripcion</div>
                    <input id="id-subcausadesc" />
                </div>

                <div style="margin-left: 10px;">
                    <div>Abreviatura</div>
                    <input id="id-subcausaabrev" />
                </div>
            </div>
        </div>
        <div>
            <!--Tabla-->
            <table id="dtgridMotivos" class="pretty tabla-icono">

            </table>
        </div>
    </div>

    <div id="popupEditar" class="general-popup" style="display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Ediatr Motivo</span>
                                 <div style="float: right;">
                                     <input id="btn-pop-guardar" type="button" value="Actualizar" />
                                 </div>
        </div>
        
        <div>
            <table>
                <thead>
                    <tr>
                        <td>
                            <div>
                                <div>Descripcion</div>
                                <input id="id-subcausadescpop" />
                            </div>
                        </td>
                        <td>
                            <div style="margin-left: 10px;">
                                <div>Abreviatura</div>
                                <input id="id-subcausaabrevpop" />
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
