<script src="~/Areas/PronosticoDemanda/Content/Scripts/parametros.js?v=3.2"></script>
<div class="menu">
    <div class="menu-item suboptions selected">
        <label id="porpuntos" title="Configurar parametros de los procesos">
            Puntos
        </label>
    </div>
    <div class="menu-item suboptions">
        <label id="poragrupaciones" title="Configurar parametros de los procesos">
            Agrupaciones
        </label>
    </div>
    <div class="menu-item suboptions">
        <label id="porbarras" title="Configurar parametros de los procesos">
            Barras PM
        </label>
    </div>
    <div class="menu-item suboptions">
        <label id="porareas" title="Configurar parametros de los procesos">
            Áreas
        </label>
    </div>
    @*<div class="menu-item suboptions">
        <label id="porsa" title="Configurar los valores de los servicios auxiliares de las barras PM">
            Servicios auxiliares
        </label>
    </div>*@
</div>
<div id="submodule">

</div>