@model  IEnumerable<COES.Dominio.DTO.Sic.DaiPresupuestoDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.mask.js"></script>

<script src="~/Areas/DevolucionAporte/Content/Script/amortizaciones.js"></script>


<style>
    .text-danger {
        color:red !important;
    }

</style>

<div class="form-title">
    <div class="content-titulo">Configuración para las Amortizaciones </div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>

    <div class="clear"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>
