.tabla-formato
{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
}

.tabla-formato thead tr th
{
    background-color:#DCE6F2;
    color:#526B85;   
    text-align:center;
    font-weight:normal;
    line-height:17px;
    font-size:10px;
    font-weight:bold;
    border:1px solid #B5CBE6;
}

.tabla-formato thead tr .th-alter-formato 
{
    background-color:#DCE6F2;
    color:#526B85;   
    text-align:center;
    font-weight:normal;
    line-height:17px;
    font-size:10px;
    font-weight:bold;
    border:1px solid #B5CBE6;
}

.tabla-formato thead tr th:last-child 
{
    max-width:40px;   
    width:40px;
    text-align:center;
}

.tabla-formato tbody tr td
{
    border:1px solid #C2CEDA;   
    padding-left:5px;
    padding-right:5px;    
    font-family:Arial, Helbetica, sans-serif;
    font-size:11px;
    text-align:right;  
}

.tabla-formato tbody tr td:last-child 
{
    max-width:40px;
    width:40px;       
    text-align:center; 
}

.tabla-formato tbody tr td:last-child a 
{
    padding-left:2px;
}

.tabla-formato tbody tr:hover
{
    background-color:#FFFFD7;        
}

.tabla-formato tbody tr td a img 
{        
   margin-top:2px;
}

.formato-clear 
{
    clear:both;
}

.formato-clear-heigth 
{
    clear:both;
    height:20px;
}

.formato-item 
{
    height:25px;
    line-height:25px;
    background-color:#EAF7D9;
    color:#3D90CB;
    margin-bottom:15px;   
    font-weight:700;
    text-transform:uppercase;
    font-size:11px;    
}

.formato-label 
{
    width:300px;
    float:left;
    padding-left:15px;
}

.formato-add 
{
    width:20px;
    height:20px;
    float:right;  
    margin-right:4px;    
    margin-top:3px;
}

.formato-add img 
{
    cursor:pointer;
}

.formato-botonder 
{
    float:right;  
    text-align:right;
    margin-bottom:15px;
}

.formato-subitem 
{
    height:25px;
    line-height:25px;
    background-color:#FFFFD7;
    color:#3D90CB;
    margin-bottom:15px;     
    font-weight:700;
    text-transform:uppercase;
    font-size:10px;    
}

.formato-sublabel 
{
    width:300px;
    float:left;
    padding-left:15px;
}

.formato-content textarea 
{    
    font-size:11px;
    width:1025px;
    background-color:#FFF;
	border:1px solid #CBD3CF;	
	height:45px;
	text-indent:8px;
	font:12px "arial", sans-serif;
	color:#4876AA;	
}

.formato-content 
{   
    margin-bottom:15px;
}

.formato-plazo 
{
    width:380px;  
	background:url("../../../../Content/images/ico-warning.gif") 10px 50% no-repeat;
	border:2px solid #F2DD8C; 
	background-color:#FFF5CC;
	padding:10px;
    margin:auto;
	text-indent:30px;	  
    margin-bottom:10px;  
	border-radius: 3px;    
}

.formato-plazo strong 
{
    color:#3D90CB;
}

.formato-plazo span 
{
    color:#cf3526;
    padding-left:10px;
}

.formato-cntboton 
{
    width:250px;
    margin:auto;
    text-align:center;    
    margin-top:20px;
}

.formato-boton
{
    width:70px;
    float:right;
    margin-top:20px;
}

.formato-tb-separer 
{
    width:30px;
    border-left:1px dashed #B5CBE6;
}

.formato-tb-anexo 
{
    width:100%;    
}

.btn-anexo-file 
{
    width:200px;
    text-align:center;
    margin:auto;
    margin-top:20px;
}

.formato-file-content 
{
    height:150px;
    width:auto;
}

.formato-file 
{
    height:100px;
    width:120px;
    float:left;
    margin-right:18px;margin-left:14px;
    margin-bottom:15px
}

.formato-icon 
{
    text-align:center;
}

.formato-icon img 
{
    width:40px;
}

.formato-name 
{
    text-align:center;       
}

.formato-titulo 
{
    width:auto;    
    height:40px;    
}

.formato-title 
{
    float:left;
    width:400px;
    font-size:20px;     
    color:#278CCC;
    text-transform:uppercase;    
}

.evento-description 
{    
    border:1px solid #dddddd;
    height:40px;
    width:auto;
    padding:10px;
}

.table-form-content 
{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0;     
}

.table-form-content tr 
{  
    
}

.table-form-content tr td.label 
{    
    background-color:#F5F8FC;
    color:#526B85;   
    text-align:left; 
    font-weight:normal;
    line-height:17px;
    font-size:12px;
    font-weight:normal;    
    text-wrap:none;
    width:130px
}

.table-form-content tr td 
{
    border:1px solid #B5CBE6;
    padding-left:15px;
    padding-right:20px;   
    padding-top:3px;
    padding-bottom:3px;
}
   
.content-info
{
	margin-top:10px;
    width:230px;
	border:2px solid #BBDF8D; 
	background-color:#EAF7D9;
	padding:10px;	
    margin-bottom:10px;  
	border-radius: 5px 5px 5px 5px;
}

.tr-elemento td:first-child 
{
    width:200px;
}

.table-contador 
{
    width:180px;
}

.table-contador tr td:first-child  
{
    width:60px;
}

.tr-elemento td textarea 
{
    width:300px;
    height:40px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.file-name 
{   
    background: url('../../../../Content/Images/file.png')10px 50% no-repeat;    
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 5px;
    text-indent: 30px;
    border-radius: 6px;
    margin-top:8px;
    margin-right:10px;
}

.remove-item 
{
    float:right;
    font-size:13px;
    font-weight:bold;
    color:red;
}

.popup-text textarea 
{    
    font-size:11px;
    width:300px;
    background-color:#FFF;
	border:1px solid #CBD3CF;	
	height:45px;
	text-indent:8px;
	font:12px "arial", sans-serif;
	color:#4876AA;	
}

.action-informe 
{
    float:left
}

.cnt-opcion-informe 
{
    height:36px;
    border-bottom:1px solid #DDE2E0
}

.opcion-informe 
{
     height:35px;
     float:left;
     margin-right:4px;
     line-height:35px;
     background-color:#F4F4F4;
     border:1px solid #DDE2E0;
     padding:0 20px;
 }

.opcion-informe a 
{
    color: #7B8593;         
    font-weight:normal;
    text-decoration:none;
}
    
 .opcion-informe-active 
 {
     border:1px solid #DDE2E0;
     border-bottom:1px solid #fff;    
     background-color:#fff;
     border-top:2px solid #FF9933;
     height:34px;
     line-height:34px;
     margin-right:4px;
     float:left;
     padding:0 20px;
}

.opcion-informe:hover 
{
     border-bottom:1px solid #fff;
     background-color:#fff;
     border-top:2px solid #278CCC;
     height:34px;
     line-height:34px;   
}

.opcion-informe:hover a 
{
    color:#FF9933;        
    font-weight:normal;
    text-decoration:none;        
}

.opcion-informe-active a 
{    
    color:#278CCC;
    text-transform:uppercase;
    font-weight:normal;
    text-decoration:none;
    font-weight:600;           
}


.content-registro table
{
    border-collapse:collapse;
    border-spacing:0;
    border:1px;
}

.content-registro table tr td.registro-label
{
    border:1px solid #EAEAEA;
    text-indent:10px;
    vertical-align:central;
    background-color:#F9F9F9;
    vertical-align:middle;
}

.content-registro table tr td.registro-control 
{
    vertical-align:middle;
    border:1px solid #EAEAEA;
    padding: 3px 0 3px 10px;
}

.content-registro table tr td.registro-control textarea 
{
    border:1px solid #CBD3CF;
    border-radius:5px;
    height:60px;
    width:400px;   
}

.div-interrupcion {
    border:3px solid #2980B9;   
    width:460px;
    min-height:160px;
    position:absolute;
    display:none;
    font-size:12px;
    margin-left:563px;    
    z-index:20000;
    background-color:#fff;    
    height:auto;
}

.div-interrupcion-close {
    float:right;
    font-weight:bold;
    font-size:14px;
    margin:5px;
    height:20px;
    cursor:pointer;
}

.div-interrupcion-close:hover {
    color:#FF770D;
}

.div-interrupcion-content {
    width:auto;
    height:auto;
    margin:20px;
}

.form-interrupcion-content {
    width:auto;   
    background:#E8F6FF;
	border:2px solid #B8E2FB; 
	padding:5px;
	text-indent:15px;	
	border-radius: 6px;	
    line-height:20px;
    margin-top:10px;
}

.form-interrupcion-item {
    float:left;    
    width:auto;
}

.div-interrupcion-boton {
    width:130px;
    margin:auto;
    margin-top:10px;
}

.button-accion {
    display: block;
    width: 120px;
    height: 35px;
    text-align: center;
    background: #2980B9;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    border: 1px solid #6CBCE8;
    border-radius: 4px 4px 4px 4px;
}