
.content-action{
    text-align:center;
    padding-left:6px;
    padding-right:6px;
}

.content-action a {
    text-decoration:none;    
    color:#278CCC;
}

.content-action a:hover {
    color:#ff6a00
    
}

.content-item-action {
    height:35px;
    line-height:14px;
}

.content-item-action img {
    height:25px;
    width:25px;
    margin:auto;    
}

.content-item-action span {
    font-size:12px;
    text-decoration:none;    
}

.bodyexcel 
{  
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    max-width: 100%;
    max-height: 100%; 
    overflow: auto;
}

