
td.soloLectura {
    background-color: #D2EFF5;
}

/* Column headers */
.ht_clone_top th {
    background-color: #2980B9;
    color: white;
    font-weight: bold;
}

.handsontable thead th.ht__highlight {
    background-color: #2D8AC8 !important;
}

td.errorLimitInferior {
    background-color: #FBA601 !important;
}

td.errorLimitSuperior {
    background-color: #FFFE00 !important;
}

td.htInvalid {
    background-color: #FF4C42 !important;
}

td.htDimmed {
    background-color: bisque !important;
}

.content-titulo {
    width: 85%;
}

.action-alert2 {
    margin-top: 2px;
    background: url("../images/ico-warning.gif") 10px 50% no-repeat;
    border: 1px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 1px;
    text-indent: 30px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 2px;
}

.action-exito2 {
    margin-top: 2px;
    background: url("../images/ico-done.gif") 10px 50% no-repeat;
    border: 1px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 1px;
    text-indent: 30px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 2px;
}

.estilodelete {
    background-image: url('../../../../content/images/ico-delete.gif');
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
}

.estilocombo {
    background-image: url('../../../../content/images/select.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
}

.action-error2 {
    margin-top: 2px;
    background: url("../images/ico-delete.gif") 10px 50% no-repeat;
    border: 1px solid #FFAEAE;
    background-color: #FEEBEB;
    padding: 1px;
    text-indent: 30px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 2px;
}

.action-message2 {
    margin-top: 2px;
    background: #E8F6FF url('../images/ico-info.gif') no-repeat 10px 50%;
    border: 1px solid #B8E2FB;
    padding: 1px;
    text-indent: 30px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 2px;
}


#validaciones, #enviosanteriores, #nuevoformato, #popupEmbalses {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 380px;
    padding: 25px
}

#confirmarClose, #enviosanteriores, #validaciones, #popupEmbalses {
    min-height: 250px;
    min-width: 280px;
}

.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }