@model COES.MVC.Extranet.Areas.IEOD.Models.RestriccionesOperativasModel

<script type="text/javascript">

    $(function () {        
        $('#cbTipoEquipo').change(function () {           
                cargarEquipos();
        });
    });

</script>

<select id="cbTipoEquipo" name="cbTipoEquipo" style="width:250px;">
    @if (Model.ListaTipoEquipo.Count > 0)
    {
        foreach (var item in Model.ListaTipoEquipo)
        {
            <option value="@item.Famcodi">@item.Famnomb</option>
        }  
    }
    else{
        <option value="0">No existen registros..</option>
    }
</select>
