@model COES.MVC.Extranet.Areas.IEOD.Models.RestriccionesOperativasModel

<script type="text/javascript">

    $(function () {

        $('#cbEquipos').val($('#hfEquipo').val());
        
    });

</script>

<select id="cbEquipos" name="Equicodi" style="width:250px;" @Model.ActFiltro>
    @if (Model.ListaEquipo.Count > 0)
    {
        <option value="0">--SELECCIONE EQUIPO--</option>
        foreach (var item in Model.ListaEquipo)
        {
            <option value="@item.Equicodi">@item.Equinomb</option>
        }  
    }
    else{
        <option value="0">No existen registros..</option>
    }
</select>
<input type="hidden" id="hfEquipo" name="Equipo" value="@Model.Equicodi" />
