@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Demo/Content/Scripts/demo.js"></script>

<div class="form-title">
    <div class="content-titulo">Listado de Prueba</div>
    <div class="content-botonera">       
        <input type="button" id="btnNuevo" value="Nuevo" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Nombre</td>
                <td>
                    <input type="text" id="txtNombre" />
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Buscar" />
                </td>
            </tr>   
        </table>
    </div>

    <div id="listado"></div>
</div>
