@model COES.MVC.Intranet.Areas.Demo.Models.DemoModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPrueba)
        {
            <tr onclick="mostrarDetalle(@item.Pruebacodi);" style="cursor:pointer">
                <td>@item.Pruebacodi</td>
                <td>@item.Pruebanomb</td>
                <td>@item.Pruebaest</td>               
            </tr>
        }
    </tbody>
</table>