@{
    ViewBag.Title = "Planificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<style type="text/css">

    .descarga-cuadro {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-gap: 40px;
    }

    .descarga-excel {
        background: #ffd800 url(../../Content/Images/excel.png) 20px center no-repeat;
        background-size: 30px;
        border: 2px solid #ff6a00;
        border-radius: 10px;
        padding: 20px;
        text-indent: 40px
    }

    .descarga-gams {
        background: #ffd800 url(../../Content/Images/gams.png) 20px center no-repeat;
        background-size: 30px;
        border: 2px solid #ff6a00;
        border-radius: 10px;
        padding: 20px;
        text-indent: 40px
    }

    .descarga-separer {
        border-left: 1px dashed #319dc1;
        height: 100%;
    }

    .descarga-titulo {
        background: #2980B9;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 20px;
        padding-bottom: 8px;
        text-indent: 10px;
    }

    .descarga-titulo1 strong {
        color: #2980B9;
        font-size: 16px;
    }

    .descarga-planes {
        background: url(../../Content/Images/folder_open.png) 0px center no-repeat;
        padding-left: 20px;
        margin-bottom: 7px;
    }

    .descarga-version {
        background: url(../../Content/Images/folder_open.png) 20px center no-repeat;
        padding-left: 40px;
        margin-bottom: 7px;
    }

    .descarga-scroll {
        height: 400px;
        overflow-x: none;
        overflow-y: scroll;
        padding: 10px;
        border: 1px solid #319dc1;
    }

    .descarga-boton {
        width: 200px;
        margin: 20px auto 0 auto;
    }
</style>

<script type="text/javascript">

    $(function () {

        $('#tab-container').easytabs({
            animate: false
        });

    });

</script>

<div class="form-title">
    <div class="content-titulo">ModPlan</div>
    <div class="content-botonera">

        <input type="button" id="btnExportar" value='Exportar' />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensaje" class="action-message">Cargue los archivos para cada una de las versiones de los planes de transmisión.</div>

    

    <table>
        <tr>
            <td style="width:30%">

                <div class="popup-title"><span>Planes de Transmisión</span></div>
                <br />
                <br />
                <div>
                    <div class="descarga-planes"><strong>Actualización del Plan de Transmisión 2021 - 2030</strong></div>
                    <div class="descarga-version">Informe de Diagnóstico</div>
                    <div class="descarga-version">Propuesta de Actualización del Plan de Transmisión</div>
                    <div class="descarga-version" style="text-decoration:underline"><strong>Propuesta denitiva de Actualización del Plan de Transmisión</strong></div>
                    <div class="descarga-planes">Actualización del Plan de Transmisión 2019 - 2028</div>
                    <div class="descarga-planes">Actualización del Plan de Transmisión 2017 - 2026</div>
                    <div class="descarga-planes">Actualización del Plan de Transmisión 2015 - 2024</div>
                    <div class="descarga-planes">Actualización del Plan de Transmisión 2013 - 2022</div>
                </div>

                <br />
                <br />
                <input type="button" value="Agregar Plan de Transmisión" />
                <input type="button" value="Agregar una versión" />
            </td>
            <td style="width:2%"></td>
            <td style="width:2%" class="descarga-separer"></td>
            
            <td style="width:66%">

                <div id="tab-container" class='tab-container'>
                    <ul class='etabs'>
                        <li class='tab'><a href="#paso1">Carga de archivos</a></li>
                        <li class='tab'><a href="#paso2">Reporte de descargas</a></li>
                    </ul>
                    <div class='panel-container'>
                        <div id="paso1" style="padding:0 15px">
                            <h2>Carga de archivos</h2>

                            <table>
                                <tr>
                                    <td>Plan de Transmisión:</td>
                                    <td>Actualización del Plan de Transmisión 2021 - 2030</td>
                                </tr>
                                <tr>
                                    <td>Versión:</td> 
                                    <td>Propuesta definitiva de Actualización del Plan de Transmisión</td>
                                </tr>
                                <tr>
                                    <td>Usuario creación:</td> 
                                    <td>raul.castro</td>
                                </tr>
                                <tr>
                                    <td>Fecha de creación:</td> 
                                    <td>17/09/2019 18:54</td>
                                </tr>
                            </table>
                            
                            <br />
                            Suba los archivos Excel y Gams: <input type="button" value="Seleccione" />
                            <br />
                            <br />
                            <table class="pretty tabla-icono">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Archivo</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>
                                        <th>Peso</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href=""><img src="~/Content/Images/excel.png" /></a> </td>
                                        <td>Archivo entrada Excel</td>
                                        <td>raul.castro</td>
                                        <td>12/07/2019</td>
                                        <td>12 kb</td>
                                        <td>
                                            <img src="~/Content/Images/ico-delete.gif" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><img src="~/Content/Images/gams.png" /></a> </td>
                                        <td>Archivo código Gams</td>
                                        <td>raul.castro</td>
                                        <td>12/07/2019</td>
                                        <td>12 kb</td>
                                        <td>
                                            <img src="~/Content/Images/ico-delete.gif" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                        <div id="paso2" style="padding:0px 15px">
                            <h2>Reporte de descargas</h2>
                            <div id="evaluacionUnidad">
                                <table id="tablaReporte" class="pretty tabla-adicional">
                                    <thead>
                                        <tr>
                                            <th>Empresa</th>
                                            <th>Usuario</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Nro Veces</th>
                                            <th>IP Descarga</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                        <tr>
                                            <td>STATKRAFT S.A.</td>
                                            <td>ccontrol@statkraft.com</td>
                                            <td>12/07/2019</td>
                                            <td>05:48:00</td>
                                            <td>1</td>
                                            <td>172.198.50.48</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>







            </td>
        </tr>
    </table>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both;height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />


</div>

<br />
<br />

<div id="popupDetalle" class="general-popup" style="width:650px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Registrar nuevo plan</span></div>
    <div class="popup-text" id="contenidoDetalle">


    </div>
</div>

<div id="popupVersion" class="general-popup" style="width:650px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Registrar nueva versión</span></div>
    <div class="popup-text" id="contenidoVersion">


    </div>
</div>


