body {
  color: var(--bs-gray-700);
  background-color: #fff;
  font-size: 1rem;
  transition: ease-out all .2s;
}

.content-area {
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  transition: .2s ease-in all;

  &:hover {
    transition: .2s ease-out all;
  }
}

h1,
.heading-1 {
  font-size: pxtorem(40);
  font-weight: bold;
  color: var(--bs-gray-700);
}

h2,
.heading-2 {
  font-size: pxtorem(32);
  font-weight: bold;
}

h3,
.heading-3 {
  font-size: pxtorem(28);
  font-weight: bold;
}

h4,
.heading-4 {
  font-size: pxtorem(22);
  font-weight: bold;
}

h5,
.heading-5 {
  font-size: pxtorem(20);
  font-weight: bold;
}

h6,
.heading-6 {
  font-size: pxtorem(18);
  font-weight: bold;
}

.heading-underlined {
  border-bottom: 1px solid var(--bs-gray-500);
  padding-bottom: pxtorem(12);
  margin-bottom: pxtorem(24);
}

table {
  width: 100%;
  border: 0;
}

tr {
  border: 0;
}

td, th {
  border: 1px solid var(--bs-gray-500);
  padding: pxtorem(5);
  text-align: center;
}

li {
  margin-bottom: pxtorem(10);
}

.dark-theme {
  color: #d3d8e3;
  background-color: #111111;
  transition: ease-in all .2s;

  p {
    color: #b4bccd;
    opacity: .6;
  }

  a {
    color: #d3d8e3;

    &:hover {
      color: var(--bs-blue);
    }
  }

  h1,
  .heading-1,
  h2,
  .heading-2,
  h3,
  .heading-3,
  h4,
  .heading-4,
  h5,
  .heading-5,
  h6,
  .heading-6 {
    color: #b4bccd;
  }

  .heading-underlined {
    border-bottom-color: #434343;
  }

  table,
  td, th {
    color: #b4bccd;
    border-color: #3e3e3e;
    background-color: transparent;
  }
}