//Muli Italic
.font-muli-italic {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: italic;
}

//Muli Regular
.font-muli-regular {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

//Muli Bold Italic
.font-muli-bold-italic {
  font-family: muli, sans-serif;
  font-weight: 700;
  font-style: italic;
}

//Muli Bold
.font-muli-bold-italic {
  font-family: muli, sans-serif;
  font-weight: 700;
  font-style: normal;
}
