input[type="checkbox"] {
  cursor: pointer;
}

label {
  cursor: pointer;
}

input[type="text"],
input[type="date"],
select {
  appearance: none;
  -webkit-appearance: none;
  border: solid 1px var(--bs-gray-500);
  border-radius: 6px;
  padding: pxtorem(5) pxtorem(20);
  text-align: left;
  width: 100%;

  &:focus {
    outline: solid 1px var(--bs-gray-500);
  }
}

input[type="date"] {
  min-height: pxtorem(36);
}

select {
  background: url(../img/decor-triangle-arrow-black.svg) no-repeat 95% center;
  background-size: 12px;
  padding: pxtorem(5) pxtorem(20) pxtorem(5) pxtorem(15);
}

.coes-select-all {
  .coes-form-checkbox {
    margin-right: pxtorem(10);
  }
}

.coes-form-item {
  width: 100%;
  margin-right: pxtorem(20);

  @include mq($until: desktop) {
    margin-right: 0;
    margin-bottom: pxtorem(16);
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.coes-form-item--submit {
  @include coes-button;
  width: 100%;
}

.coes-filters {
  padding-bottom: pxtorem(15) ;
  padding-top: pxtorem(12) ;

  @include mq($until: desktop) {
    padding-bottom: pxtorem(5);
  }

  label {
    margin-bottom: pxtorem(5);

    @include mq($until: desktop) {
      display: block;
    }
  }

  .coes-form-item--submit {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .coes-button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.coes-radio-group {
  label {
    margin-bottom: 0;
  }
}

.dark-theme {
  input[type="text"],
  input[type="date"],
  select {
    color: #b4bccd;
    border-color: #3e3e3e;
    background-color: transparent;
  }

  .coes-form-item--submit {
    border-color: #3e3e3e;
  }

  select {
    background-image: url(../img/decor-triangle-arrow-dark.svg);
  }
}

.label-inline {
  margin-right: pxtorem(10);
}