@model COES.MVC.Intranet.Areas.Despacho.Models.CortoPlazoModel
@{
    ViewBag.Title = "Consulta de datos YUPANA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Despacho/Content/Scripts/cortoplazo.js?v=1.4"></script>

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">Consulta de datos YUPANA</div>
    <div class="content-botonera">
        <input type="button" id="btnExportar" value="Exportar datos" />
        <input type="button" id="btnReporte" value="Reporte resumen" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensaje" class="action-message">Seleccione Escenario y Tipo de información</div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.FechaConsulta" />
                </td>
                <td>Tipo de casos:</td>
                <td>
                    <select id="cbTipoCaso" style="width: 102px;">
                        <option value="0">Todos</option>
                        <option value="1">Solo oficiales</option>
                    </select>
                </td>
                <td>Escenario:</td>
                <td>
                    <select id="cbTopologia" style="width: 275px;">
                    </select>
                </td>
                <td>
                    Tipo de información:
                </td>
                <td>
                    <select id="cbTipoInformacion">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaRestricciones)
                        {
                            <option value="@item.Topcodi">@item.Topnombre</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both;height:5px"></div>

        <div class="table-list" id="listado" style='height: auto;'>

        </div>
    </div>
    <br />
    <br />
    <br />

</div>


