@model COES.MVC.Intranet.Areas.Despacho.Models.CortoPlazoModel

<table border="0" class="pretty tabla-icono tabla-icono dataTable" id="tablaListado" style="width: 3000px">
    <thead>
        <tr>
            <th style="width: 250px; white-space: normal">Recurso</th>
            <th style='width:110px;'>00:30</th>
            <th style='width:110px;'>01:00</th>
            <th style='width:110px;'>01:30</th>
            <th style='width:110px;'>02:00</th>
            <th style='width:110px;'>02:30</th>
            <th style='width:110px;'>03:00</th>
            <th style='width:110px;'>03:30</th>
            <th style='width:110px;'>04:00</th>
            <th style='width:110px;'>04:30</th>
            <th style='width:110px;'>05:00</th>
            <th style='width:110px;'>05:30</th>
            <th style='width:110px;'>06:00</th>
            <th style='width:110px;'>06:30</th>
            <th style='width:110px;'>07:00</th>
            <th style='width:110px;'>07:30</th>
            <th style='width:110px;'>08:00</th>
            <th style='width:110px;'>08:30</th>
            <th style='width:110px;'>09:00</th>
            <th style='width:110px;'>09:30</th>
            <th style='width:110px;'>10:00</th>
            <th style='width:110px;'>10:30</th>
            <th style='width:110px;'>11:00</th>
            <th style='width:110px;'>11:30</th>
            <th style='width:110px;'>12:00</th>
            <th style='width:110px;'>12:30</th>
            <th style='width:110px;'>13:00</th>
            <th style='width:110px;'>13:30</th>
            <th style='width:110px;'>14:00</th>
            <th style='width:110px;'>14:30</th>
            <th style='width:110px;'>15:00</th>
            <th style='width:110px;'>15:30</th>
            <th style='width:110px;'>16:00</th>
            <th style='width:110px;'>16:30</th>
            <th style='width:110px;'>17:00</th>
            <th style='width:110px;'>17:30</th>
            <th style='width:110px;'>18:00</th>
            <th style='width:110px;'>18:30</th>
            <th style='width:110px;'>19:00</th>
            <th style='width:110px;'>19:30</th>
            <th style='width:110px;'>20:00</th>
            <th style='width:110px;'>20:30</th>
            <th style='width:110px;'>21:00</th>
            <th style='width:110px;'>21:30</th>
            <th style='width:110px;'>22:00</th>
            <th style='width:110px;'>22:30</th>
            <th style='width:110px;'>23:00</th>
            <th style='width:110px;'>23:30</th>
            <th style='width:110px;'>00:00</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaMedicion.Count > 0)
        {
            foreach (var item in Model.ListaMedicion)
            {
                <tr>
                    <td style="width: 250px; white-space: normal; word-break: break-word;">@item.Recurnombre</td>

                    @for (int i = 1; i <= 48; i++)
                    {
                        <td>@(item.GetType().GetProperty("H" + i).GetValue(item))</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

