@model COES.MVC.Intranet.Areas.Coordinacion.Models.RegistroCorreoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Coordinacion/Content/Scripts/registrocorreo.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Configuración de Cuentas</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevaCuenta" value="Nuevo" />
    </div>
</div>

<div class="content-hijo">
    
    <div id="mensajeListCuenta"></div>

    <div class="search-content" style="margin-bottom:10px; margin-top:5px">
        <table class="content-tabla-search" style="width:auto">
            <tr>               
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprenomb</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnCargarCuenta" value="Consultar"/>                    
                </td>
            </tr>
        </table>
    </div>
    <div id="listaCuenta"></div>
</div>

<div id="popupCuenta" class="general-popup" style="width:400px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Cuentas adicionales</span></div>
    <div class="popup-text" id="contenidoCuenta">

    </div>
</div>
