@model COES.MVC.Intranet.Areas.RechazoCarga.Models.GeneracionCuadrosRechazoCargaModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <div>
        <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaListaEventos">
            <thead>
                <tr>
                    <th></th>
                    <th>CODIGO</th>
                    <th>NOMBRE DE EVENTO</th>
                    <th>MW INTERR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListEventos)
                {
                <tr class="menu-contextual">
                    <td style="text-align:center"><input type="radio" name="codEvento" value="@(item.CODIGO)"></td>
                    <td style="text-align:left">@item.CODIGO</td>
                    <td style="text-align:left">@item.NOMBRE_EVENTO</td>
                    <td style="text-align:left">@item.INTERRUMPIDO</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <table align="center">
            <tr>
                <td>
                    <input type="button" value="Asignar" id="btnSeleccionarEvento" name="btnSeleccionarEvento" class="form-action" />
                    <input type="button" value="Cerrar" id="btnCerrarEvento" name="btnCerrarEvento" class="form-action" />
                </td>
            </tr>
        </table>

    </div>
</form>