@model COES.MVC.Intranet.Areas.CortoPlazo.Models.VolumenModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/CortoPlazo/Content/Scripts/volumeninsensibilidad.js?v=1.0"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<link href="~/Areas/CortoPlazo/Content/Css/css.css" rel="stylesheet" />

<style>
    .handsontable table thead th {
        background-color: #2980B9;
        color: white;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Volúmenes de Insensibilidad</div>
    <div class="content-botonera">       
        <input type="button" id="btnGrabar" value="Grabar" />       
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Seleccione los filtros de consulta y presione "Consultar"</div>
    </form>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.Fecha" style="width:120px" /></td>
                <td>
                    <input type="button" id="btnVer" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>
    <div id="listado">
        <div id="contenedor"></div>
    </div>

</div>
