@model COES.MVC.Intranet.Areas.RechazoCarga.Models.ProgramaRechazoCargaModel

<script type="text/javascript">

    $(function () {
        $('#subestacion').multipleSelect({
            width: '210px',
            filter: true
        });
       
    });

</script>
<select id="subestacion" name="subestacion" multiple="multiple">
    @foreach (var item in Model.SubEstaciones)
    {
        <option value="@item.AREACODI">@item.AREANOMB</option>
    }
</select>
<input type="hidden" id="hdnSubestacion" value="" />  