@model COES.MVC.Intranet.Areas.Transferencias.Models.GrillaExcelModel
@{
    ViewBag.Titulo = "Detalle del Envio";
}
<script>
    var sControlador = siteRoot + "transferencias/consultaenvios/";
    $(document).ready(function () {
        console.log(@Model.Trnenvcodi);
        mostrarExcelWeb(@Model.Trnenvcodi);
    });

</script>
<fieldset>
    <legend>Datos del envío:</legend>
    <img src="~/Content/Images/loading.gif" style="text-align:center" id="imgHandsontable" />
    <div id="grillaExcel" style="width:970px; height:700px; overflow:auto;" class="handsontable"></div>
</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>