.content-registro table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .content-registro table tr td.tbform-label {
        text-indent: 10px;
        background-color: #F9F9F9;
        vertical-align: middle;
        padding-right: 20px;
    }

    .content-registro table tr td.tbform-control {
        vertical-align: middle;
        padding: 3px 0 3px 10px;
    }

    .content-registro table tr td.cabecera {
        width: 167px !important;
    }

    .content-registro table tr td.campo {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: right;
        padding-right: 10px !important;
    }


.content-registro input[type=text]:disabled {
    background-color: lightgray;
    color: #4876AA;
}


.btnAcciones, .btnAcciones2 {
    width: 160px !important;
    margin: 0 auto !important;
}

.border_formulario {
    border: 1px solid #EAEAEA !important;
}

.btnFilaAcciones {
    /*width: 80px !important;*/
    height: 22px !important;
    text-align: center !important;
}

    .btnFilaAcciones a img {
        float: none !important;
        margin-left: 0px !important;
    }

select:disabled, textarea:disabled {
    background: lightgray;
    color: #4876AA;
}