@model COES.MVC.Intranet.Areas.Migraciones.Models.ParametroModel

<div class="search-content">
    <table class="content-tabla-search" style="width: 1000px">
        <tbody>

            <tr>
                <td class="tbform-label" style="text-align: left; width: 120px;">Fecha de Consulta:</td>
                <td style="text-align: left">
                    <input type="text" id="txtFechaDataParamGral" value="@Model.Fecha" />
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="div_tabla_data_param_grales">

</div>