@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoInfoBaseModel
@{
    ViewBag.Title = "Ingresar Nuevo Código de Información Base";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Nuevo Código de Información Base" }, { "sAccion", "Insertar" }})
</div>