@model COES.Dominio.DTO.Sic.WbNotificacionDTO

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message" >Por favor complete los datos</div>
        <table style="width:100%">
            @Html.HiddenFor(c => c.NotiCodi)
            <tr>
                <td class="registro-label">Título:</td>
                <td class="registro-control">
                    @Html.TextBoxFor(c => c.NotiTitulo, new { })
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control">
                    @Html.TextAreaFor(c => c.NotiDescripcion, new {@style = "width:320px; height:120px" })
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha Ejecución:</td>
                <td class="registro-control">
                    @Html.TextBoxFor(c => c.FechaEjecucion , new { @class = "form-control" })
                </td>
            </tr>


        </table>


        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>



    </form>
</div>
