@{
    ViewBag.Title = "Notificación COES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Areas/Web/Content/Scripts/notificacion.js?v=1"></script>

<div class="form-title">
    <div class="content-titulo">Notificación COES</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value="Nuevo" />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                
                <td>Descripción:</td>
                <td>
                    <input id="txtTitulo" type="text" />
                </td>
                @*<td>Descripción:</td>
                <td>
                    <input id="txtDescipcion" type="text" />
                </td>*@

                <td>Fecha Desde:</td>
                <td>
                    <input id="txtFechaInicio" type="text" style="width:130px;" />
                </td>
                <td>Fecha Hasta:</td>
                <td>
                    <input id="txtFechaFin" type="text" style="width:130px;" />
                </td>
                <td colspan="2" style="text-align:center">
                    <input id="btnConsultar" type="button" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">

    </div>

</div>

<div id="popupEdicion" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Datos de la Notificación</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>