@model COES.MVC.Intranet.Areas.CortoPlazo.Models.CongestionModel
@{
    ViewBag.Title = "Datos de Congestión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CortoPlazo/Content/Scripts/congestion.js?v=1.15"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>


<div class="form-title">
    <div class="content-titulo">Registro de Congestión</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">


       
            <div id="ejecutado">

                <div id="mensajeEjecutadoList"></div>
                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Desde:</td>
                            <td>
                                <input type="text" id="txtFechaEjecutadoDesde" value="@Model.FechaEjecutadoInicio" />
                            </td>
                            <td>Hasta:</td>
                            <td>
                                <input type="text" id="txtFechaEjecutadoHasta" value="@Model.FechaEjecutadoFin" />
                            </td>
                            <td>
                                <input type="button" id="btnConsultarEjecutado" value="Consultar" />
                                <input type="button" id="btnNuevoEjecutado" value="Agregar" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="listadoEjecutado">
                </div>
            </div>
           
    <br />
    <br />
</div>


<div id="popupEjecutado" class="general-popup" style="width:450px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Datos de Congestión</span></div>
    <div class="popup-text" id="contenidoEjecutado">

    </div>
</div>