@model COES.MVC.Intranet.Areas.SupervisionPlanificacion.Models.RpfEnergiaPotenciaModel
@{
    ViewBag.Title = "Anadir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/SupervisionPlanificacion/Content/Scripts/rpf.js"></script>

<div class="form-title">
    <div class="content-titulo">RPF y Energía y Potencia Hidráulicos</div>
    <div class="content-botonera">
    </div>

</div>

<div class="content-hijo">
    <table class="content-tabla-search" style="width:600px" cellpadding="10">
        <tr>
            <td>Fecha:</td>
            <td>
                <input type="text" style="margin-right:20px;width:100px;" id="txtFecha" name="Fecha"  value="@DateTime.Now.ToShortDateString()" />
            </td>
        </tr>
        <tr>
            <td>RPF Energía total (GWh):</td>
            <td>
                <input type="text" style="margin-right:20px;width:100px;" id="rpftotal" name="Rpftotal" onkeypress="return validarNumero(this,event)" value="" />
            </td>

        </tr>
        <tr>
            <td>RPF Potencia media (MW):</td>
            <td>
                <input type="text" style="margin-right:20px;width:100px;" id="rpfmedia" name="Rpfmedia" onkeypress="return validarNumero(this,event)" value="" />
            </td>

        </tr>
        <tr>
            <td>Energía Hid. Ind. (GWh):</td>
            <td>
                <input type="text" style="margin-right:20px;width:100px;" id="eneind" name="Eneind" onkeypress="return validarNumero(this,event)" value="" />
            </td>

        </tr>
        <tr>
            <td>Potencia Hid.Ind (MW):</td>
            <td>
                <input type="text" style="margin-right:20px;width:100px;" id="potind" name="Potind" onkeypress="return validarNumero(this,event)" value="" />
            </td>

        </tr>

    </table>


</div>
<div class="content-hijo" style="padding-top:10px">
    <div class="content-busqueda">
        <div class="busqueda-item">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" style="margin-left:20px;" id="btnRegresar" value="Regresar" />
        </div>

    </div>

</div>
