@model COES.MVC.Intranet.Areas.SupervisionPlanificacion.Models.RpfEnergiaPotenciaModel
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/SupervisionPlanificacion/Content/Scripts/rpf.js"></script>

<div class="form-title">
    <div class="content-titulo">RPF y Energía y Potencia Hidráulicos: Detalle</div>
    <div class="content-botonera">
    </div>

</div>

<div class="content-hijo">

    <table class="content-tabla-search" style="width:600px" cellpadding="10">
        <tr>
            <td>Fecha:</td>
            <td>
            
                <input type="text" style="margin-right:20px;width:100px;" id="txtFecha" name="Fecha" value="@if(Model!=null){@(Model.fecha.Month.ToString("00")+'/'+Model.fecha.Year.ToString())}else{@(DateTime.Now.Month.ToString("00")+'/'+@DateTime.Now.Year.ToString())}" />

                
            </td>
        </tr>
        <tr>
            <td>RPF Energía total (GWh):</td>
            <td>
  
                <input type="text" style="margin-right:20px;width:100px;" id="rpftotal" name="Rpftotal" onkeypress="return validarNumero(this,event)" value="@if(Model!=null){@Model.Entidad.Rpfenetotal.ToString("#0.000")}else{}" />

             
            </td>
             
        </tr>
        <tr>
            <td>RPF Potencia media (MW):</td>
            <td>

                <input type="text" style="margin-right:20px;width:100px;" id="rpfmedia" name="Rpfmedia" onkeypress="return validarNumero(this,event)" value="@if(Model!=null){@Model.Entidad.Rpfpotmedia.ToString("#0.000")}else{}" />


            </td>

        </tr>
        <tr>
            <td>Energía Hid. Ind. (GWh):</td>
            <td>

                <input type="text" style="margin-right:20px;width:100px;" id="eneind" name="Eneind" onkeypress="return validarNumero(this,event)" value="@if(Model!=null){@Model.Entidad.Eneindhidra.ToString("#0.000")}else{}" />

            </td>

        </tr>
        <tr>
            <td>Potencia Hid.Ind (MW):</td>
            <td>
   
                <input type="text" style="margin-right:20px;width:100px;" id="potind" name="Potind" onkeypress="return validarNumero(this,event)" value="@if(Model!=null){@Model.Entidad.Potindhidra.ToString("#0.000")}else{}" />

            </td>

        </tr>

    </table>
    
</div>
<div class="content-hijo" style="padding-top:10px">
    <div class="content-busqueda">
        <div class="busqueda-item">

            @if (Model != null)
            {
                <input type="button" id="btnGrabar" value="Grabar" />
                <input type="button" style="margin-left:20px;" id="btnEliminar" value="Eliminar" />
            }
            else
            {    <input type="button" id="btnInsertar" value="Grabar" />
            }
            <input type="button" style="margin-left:20px;" id="btnRegresar" value="Regresar" />
        </div>

    </div>

</div>
