@model COES.MVC.Intranet.Areas.SupervisionPlanificacion.Models.RpfEnergiaPotenciaModel

@{
    ViewBag.Title = "Hidráulicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/SupervisionPlanificacion/Content/Scripts/rpf.js"></script>

<div class="form-title">
    <div class="content-titulo">RPF y Energía y Potencia Hidráulicos</div>
    <div class="content-botonera">
    </div>



</div>

<div class="content-hijo" style="padding-top:40px">
    <div class="content-busqueda">

        <div class="busqueda-item">
            Desde:
            <input type="text" style="margin-right:30px;width:100px;" id="txtFechaini" name="Fechaini" value="@Model.RpfhidfechaIni.Month.ToString("00")/@Model.RpfhidfechaIni.Year.ToString()" />
            Hasta:
            <input type="text" style="width:100px;" id="txtFechafin" name="Fechafin" value="@Model.RpfhidfechaFin.Month.ToString("00")/@Model.RpfhidfechaFin.Year.ToString()" />

        </div>
        <br>
        <div class="busqueda-item">
            <input type="button" id="btnBuscar" value="Buscar" />
            <input type="button" style="margin-left:40px;" id="btnAnadir" value="Anadir" />
        </div>

    </div>
    <div class="listado" id="listado">

    </div>


</div>

