@model COES.MVC.Extranet.Areas.TransfSeniales.Models.TransfSenialesModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Areas/TransfSeniales/Content/Scripts/reportesignal.js?v=2.1"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>


<div class="form-title_intranet">
    <div class="content-titulo">Disponibilidad porcentual de transferencia</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Buscar" />

    </div>
</div>
<div class="content-hijo">
    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">

            <tr>
                <td>Empresa:</td>
                <td>
                    @if (Model.GetListaEmpresaRis7 == null)
                    {
                        Response.Write("<script language=javascript>alert('Reiniciar sesión');</script>");
                    }
                    else
                    {
                        <select id="cbEmpresa" name="Idempresa">
                            @foreach (var item in Model.GetListaEmpresaRis7)
                            {
                                <option value="@item.Emprcodi">@item.Emprenomb</option>
                            }
                        </select>}
                </td>

                <td>Fecha de Reporte:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.FechaReporte" />
                </td>
                @*<td>Versi&oacuten:</td>
                    <td><strong style="font-size:12px"><span id="spanVersion"> </span></strong></td>*@
                <td>Numero de señales:</td>
                <td><strong style="color:#ff6a00; font-size:18px"><span id="spanNS"> </span></strong></td>
            </tr>

        </table>


        <table class="content-tabla-search" style="width:auto">
            <tr></tr>
        </table>

    </div>

    <div style="clear:both; height:10px"></div>

    <div id="pasoPrincipal1">
        <div id="vistaCMRReporte"></div>

    </div>

</div>
