@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/areas/registrointegrante/content/css/css.css" rel="stylesheet" />
<link href="~/areas/registrointegrante/content/css/solicitud.css" rel="stylesheet" />
<script src="~/Areas/Sorteo/Content/Scripts/Sorteo.js"></script>
<script src="~/Content/Scripts/messaje-operation.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script type="text/javascript">
    $('.close').click(function () {
        $("#txtCoordinador").val("");
        $("#txtDocoes").val("");
        $("#chkMantto").prop("checked", false);
        $("#chkHoras").prop("checked", false);
    });
</script>
<style>
    .b-close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    #tblAreas {
        float: left;
        width: 48%;
    }

    #tblHistorico {
        float: right;
        width: 48%;
    }

    #tblAreas, #tblHistorico {
        overflow: scroll;
        height: 200px;
        margin-left: -15px;
    }

        #tblAreas table, tblHistorico table {
            width: 100%;
            background-color: lightgray;
        }

        #tblAreas table, #tblHistorico table {
            font-size: 9px;
        }

    .mensajepopupExito {
        color: forestgreen;
        text-align: center;
        display: block;
        font-size: 16px;
        padding-bottom: 8px;
        text-shadow: 2px 2px #C8C8C8;
    }

    .mensajepopupAlert {
        color: red;
        text-align: center;
        display: block;
        font-size: 16px;
        padding-bottom: 8px;
        text-shadow: 2px 2px #C8C8C8;
    }
</style>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Sorteo</div>
<div class="content-hijo" id="todo" style="display:block">
    <div id="mensaje" class="action-message"></div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px" id="tblDatos">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha Actual</td>
                <td><input type="text" class="form-control" name="fechaActual" id="fechaActual" value="" disabled /></td>
                <td hidden><input type="hidden" class="form-control" name="diaActual" id="diaActual" value="" /></td>
                <td hidden><input type="hidden" class="form-control" name="tipo" id="tipo" value="" /></td>
                @*</tr>
                    <tr>*@
                <td>Días Faltantes</td>
                <td><input type="text" class="form-control" name="diasFaltantes" id="diasFaltantes" value="" disabled /></td>
                <td hidden><input type="hidden" class="form-control" name="ultimoDia" id="ultimoDia" value="" /></td>
                @*</tr>
                    <tr>*@
                <td>Pruebas que faltan</td>
                <td><input type="text" class="form-control" name="pruebas" id="pruebas" value="4" disabled /></td>

                @*</tr>
                    <tr>*@
                <td></td>
                <td><label id="mensajes"></label></td>
                @*</tr>
                    <tr class="content-botonera">*@

                @*</tr>
                    <tr class="content-botonera">*@
                @*<td><input name="btnAceptarSorteo" type="button" id="btnAceptarSorteo" value="Aceptar Sorteo" class="content-botonera" /></td>*@
            </tr>
        </table>
        <table>
            <tr>
                <td width="10%">
                    @{
                        if (Model.isBotonNuevoHabilitado == 1)
                        {
                            <input name="btnIniciarSorteo" type="button" id="btnIniciarSorteo" value="Iniciar Sorteo" class="content-botonera" style="float:left" />
                        }
                    }
                </td>
                <td><label name="unidad" id="unidad"><b></b></label></td>               
            </tr>
        </table>
    </div>

    <div id="popupDatos" class="general-popup" style="min-width:700px">
        <div><span class="button b-close"><span class="close">X</span></span></div>

        <div class="popup-text" id="contenidoDatos">
            <div class="popup-title"><span>Requerimientos necesarios para efectuar el Sorteo</span></div>
            <span style="color:red" id="required">(*) Campos Requeridos</span>
            <div class="popup-text" id="contenidoDatos">
                <div id="mensajepopup" class="action-message" style="display: none; width: 95%"></div>
                <div class="content-registro">
                    <div id="msg" class="action-alert" style="display:none">(*) El nomnbre del representante debe tener mínimo 3 y máximo 20 carácteres</div>
                    <table style="width:100%">
                        <tr>
                            <td class="registro-label">Mantenimiento "ejecutado" para hoy: </td>
                            <td class="registro-control">
                                <input type="checkbox" id="chkMantto" name="chkMantto" value="Actualizado" />(*)
                                <label id="lblUpdteChkMantto" style="color:blue; display:none">Actualizado !</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Horas de Operacion para el dia de hoy: </td>
                            <td class="registro-control">
                                <input type="checkbox" id="chkHoras" name="chkHoras" value="Actualizado" />(*)
                                <label id="lblUpdteChkHoras" style="color:blue; display:none">Actualizado !</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Representante del Coodinador:</td>
                            <td class="registro-control">
                                <input type="text" id="txtCoordinador" class="DatosRequeridos Required" data-validator-id="spntxtCoordinador" data-required="true" style="width: 330px; background-color: white;" value="" maxlength="20" /><span id="spntxtCoordinador">(*)</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Representante de la DOCOES</td>
                            <td class="registro-control">
                                <input type="text" id="txtDocoes" class="DatosRequeridos Required" data-validator-id="spntxtDocoes" data-required="true" style="width: 330px; background-color: white;" value="" maxlength="20" /><span id="spntxtDocoes">(*)</span>
                            </td>
                        </tr>
                    </table>
                    <div style="height:10px; clear:both"></div>
                    <div margin:auto">
                        <input name="btnCancelarSorteo" type="button" id="btnCancelarSorteo" value="Cancelar" class="content-botonera" />
                        <input name="btnJugarSorteo" type="button" id="btnJugarSorteo" value="Realizar Sorteo" class="content-botonera" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-hijo" id="tblAreas">
        <div id="listadoAreas">
        </div>
        <br />
    </div>

    <div class="content-hijo" id="tblHistorico">
        <div id="historicoSorteo">
        </div>
        <br />
    </div>

    @*<div id="popupEdicion" class="general-popup" style="min-width:700px">
            <div><span class="button b-close"><span>X</span></span></div>

            <div class="popup-text" id="contenidoEdicion">
            </div>
        </div>*@

    <div id="MessagesClose">
        <div class="popup-title"><span>Eliminar Sorteo</span></div>
        <div class="popup-text content-messajes-text">

        </div>
        <div class="formulario-boton">
            <input id="btnAceptarMessages" type="button" value="Aceptar" />
            <input id="btnCancelarMessages" type="button" value="Cancelar" style="display:none;" />
        </div>
    </div>

    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>

<input type="hidden" id="codigo" value="0" />