
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-banner">
    <div class="page-banner-title">
        <h1>MODPLAN</h1>
        <span>
            
        </span>
    </div>
    <img src="~/Content/Images/Banners/MarcoNormativo.jpg" alt="Proveedores" />
</div>
<div style="clear:both"></div>
<div class="page-text">

    <h1>Modelo de Operación Económica del SEIN para Planificación de la Transmisión</h1>

    <p>
        En cumplimiento del literal b) del artículo 18 y la cuarta disposición final de los Criterios y Metodología para la Elaboración del Plan de transmisión RM 129-2009-MEM-DM (la NORMA), el Comité de Operación Económica del Sistema Interconectado Nacional (COES) ha desarrollado un modelo de operación económica del SEIN (MODPLAN), y pone a disposición de los interesados en revisar los cálculos del Plan de Transmisión.
    </p>

    <p>
        El MODPLAN es el modelo de simulación de la operación económica, que requiere el análisis del Plan de Transmisión, entre las ventajas más resaltantes y adicionales a lo indicado en la NORMA, se encuentran: La simulación de incertidumbres combinadas tales (Demanda, Oferta, Hidrologías, Precio de combustibles, opciones de transmisión, entre otros), el cálculo directo de atributos, la ejecución distribuida o secuencial de los escenarios y la preparación de resultados para Excel/Power Pivot.
    </p>

  
    <p>
        El COES cuenta con los derechos de propiedad intelectual del MODPLAN, por tener la calidad de Titular y Productor conforme al registro obrante en el Asiento 01 de la Partida Registral N° 01269-2016 del Registro de la Dirección de Derecho de Autor del Instituto de Defensa de la Competencia y de la Protección de la Propiedad Intelectual – INDECOPI. Razón por lo cual los usuarios e interesados deberán considerar los Términos y condiciones de utilización/licenciamiento.
    </p>
   
 
    <p>
        <strong>Requerimientos técnicos.</strong>
    </p>


    <ul>
        <li>
            1.	Solicitar acceso a la extranet del COES sección Planificación. 
            Para poder solicitar acceso siga las instrucciones <a href="#">Ingresando aquí</a>
        </li>
        <li>
            2.	Licencia de GAMS V24.9.2 o superior (Descarga)
        </li>
        <li>
            3.	Instalar motor de acceso a Base de datos – MADE 2010 ( Descarga)
            <a href="###">
                https://www.microsoft.com/en-us/download/details.aspx?id=13255
            </a>
        </li>
        <li>
            4.	Microsoft Excel 365.
        </li>
        <li>
            5.	Se recomienda utilizar computadoras del tipo Estaciones de trabajo (Workstations), para ejecuciones distribuidas.
        </li>
    </ul>

    
    <br />
    <br />




</div>

<div style="clear:both"></div>