@model COES.MVC.Intranet.Areas.Despacho.ViewModels.IndexCostosVariablesViewModel

<table border="0" class="pretty" id="tablaDocCV">
    <thead>
        <tr>
            <th style="width: 80px">Fecha Recepción</th>
            <th style="width: 80px">Fecha Origen</th>
            <th style="width: 500px">Asunto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDocumentosCV)
        {
            <tr>
                <td>@item.FljfecharecepDesc</td>
                <td>@item.FljfechaorigDesc</td>
                <td style="text-align: left; padding-left: 20px">@item.Fljnombre</td>
            </tr>
        }
    </tbody>
</table>