.handsontable tr:first-child th,
.handsontable tr:first-child td,
.htRowHeaders.handsontable th ,
.htRowHeaders.handsontable thead tr th:nth-child(2)
{
    border-color: #000000;
}

.handsontable td {
    border: 0;
}

.handsontable tr.hst-group-separator > td {
    border-top: 1px solid #000000;
}

.handsontable td.hst-cus-header {
    background-color: #92CDDC;
    border-color: #000000;
    border-width: 0 1px 1px 0;
    border-style: solid;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.handsontable td.hst-cus-repeat {
    background-color: #BFBFBF;
}

.handsontable td.hst-cus-highlight {
    background-color: #FFC000;
}

.handsontable td.hst-align-right {
    text-align: right;
}

.handsontable td.hst-align-center {
    text-align: center;
}


.tools-content
{
    background-color: #EBF5FE;
    border: 1px solid #DCDDDF;
    border-radius: 4px;
    color: #3D90CB;
    margin-bottom: 2px;
    padding: 10px 8px;
}

.tbl-envios > tbody > tr:hover > td {
    border:solid 1px;
}

.button-content {
    border: 1px solid #E1E6E9;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px;
    float:left;
}

.button-item {
    float: left;
}

.button-item input[type=button] {
    background-color: transparent;
    background-image: none;
    border: 0px;
    color: #3D90CB;
    height:40px;
    width:auto;
    padding:24px 8px  8px;
    margin: 0px;
    text-indent:0px;
    text-align: center;
}

.button-item:hover {
    height:40px;
    width:auto;
    padding-left:0px;
    text-indent:0px;
}

.button-item:hover input[type=button] {
    color: #FF8040;
}

.button-item input[type=button].btn-send {    
    background:url("../Images/enviar.png") center 4px no-repeat;
}

.button-item input[type=button].btn-errors {    
    background:url("../Images/errores.png") center 4px no-repeat;
}

.button-item input[type=button].btn-sent {    
    background:url("../Images/envios.png") center 4px no-repeat;
}

.button-item input[type=button].btn-copy {    
    background:url("../Images/copiado.png") center 4px no-repeat;
}

.button-item input[type=button].btn-save {    
    background:url("../Images/enviar.png") center 4px no-repeat;
}

.button-item input[type=button].btn-download {    
    background:url("../Images/bajar.png") center 4px no-repeat;
}

.button-item input[type=button].btn-import {    
    background:url("../Images/subir.png") center 4px no-repeat;
}

.button-item input[type=button].btn-download-excel {    
    background:url("../Images/exportar.png") center 4px no-repeat;
}

.button-item input[type=button].btn-ocultar-grilla {    
    background:url("../Images/ocultargrilla.png") center 4px no-repeat;
}

.title_tabla_pop_up{
    background: #2980B9;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}




.dataTables_filter {
    display: none;
}

.selector-menu-contextual:hover > td {
    background-color: #3399FF;
    color: #fff;
}

.tabla-formulario tr:hover > td {
    background-color: #465C71 !important;
    background: #465C71 !important;
    color: #fff;
        
}

.tabla-formulario tr > td {
    text-align:center !important;
        
}

.tabla-formulario tr{
    text-align:center !important;
        
}
#divBandeja.search-result{
  overflow-x: auto;
  overflow-y: hidden;
}