@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Configuración de Feriados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}
<link href="~/Content/Css/calendar.css?v=1" rel="stylesheet" />

<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Areas/DemandaPO/Content/Scripts/feriados.js?v=1"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Configuración de Feriados</div>        
    </div>
    <div class="content-hijo">
        <table style="">
            <tr>
                <td colspan="2">
                    <fieldset>
                        <legend>Fecha </legend>
                        <div class="search-content" style="margin-bottom: -10px;">
                            <div>
                                <table class="content-tabla-search" style="width:auto" role="presentation">
                                    <tr>
                                        <td style="padding-left: 15px;">Año:</td>
                                        <td>
                                            <input id="txtFechaAnio" value="@Model.Fecha" type="text" style="width: 62px;" />
                                        </td>
                                        <td>
                                            <input id="btnAgregar"
                                                   type="button"
                                                   class="btn-primary"
                                                   value="Agregar feriado" />
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <fieldset style="margin-top: 20px;">
                            <legend>Feriados </legend>
                            <div style="height: 300px; text-align:center;">
                                <div style="padding-bottom: 20px; "></div>
                                <table id="dt" style="width: 800px;" align="center" class="pretty tabla-icono"></table>
                            </div>

                        </fieldset>


                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="popup" 
     class="general-popup"
     style="min-width: 300px; min-height: 170px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Agregar Feriado</span>
    </div>
    <div class="popup-text">
        <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 5px;">
            <div style="width: 80px;">Fecha:</div>
            <div>
                <input id="popFecha"
                       type="text" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div style="width: 80px;">Descripción:</div>
            <div>
                <input id="popDescripcion"
                       type="text" />
            </div>
        </div>
        <div style="margin: 10px 0 15px">
            <label style="margin-right: 30px;">
                <input id="popSPL"
                       type="checkbox" />SPL
            </label>
            <label>
                <input id="popSCO"
                       type="checkbox" />SCO
            </label>
        </div>
        <div style="text-align: center; padding-top: 5px;">
            <input id="popAgregar"
                   type="button"
                   class="btn-primary"
                   value="Grabar"
                   />
            <input id="popCancelar"
                   type="button"
                   class="btn-primary"
                   value="Cancelar"
                    />
        </div>
    </div>
</div>


<div id="popupEditar"
     class="general-popup"
     style="min-width: 300px; min-height: 170px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Editar Feriado</span>
    </div>
    <div class="popup-text">
        <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 5px;">
            <div style="width: 80px;">Fecha:</div>
            <div>
                <input id="popFechaEditar"
                       type="text" />
            </div>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div style="width: 80px;">Descripción:</div>
            <div>
                <input id="popDescripcionEditar"
                       type="text" />
            </div>
        </div>
        <div style="margin: 10px 0 15px">
            <label style="margin-right: 30px;">
                <input id="popSPLEditar"
                       type="checkbox" />SPL
            </label>
            <label>
                <input id="popSCOEditar"
                       type="checkbox" />SCO
            </label>
        </div>
        <div style="text-align: center; padding-top: 5px;">
            <input id="popAceptarEditar"
                   type="button"
                   class="btn-primary"
                   value="Grabar" />
            <input id="popCancelarEditar"
                   type="button"
                   class="btn-primary"
                   value="Cancelar" />
        </div>
    </div>
</div>