@model COES.MVC.Intranet.Areas.Admin.Models.IntegranteModel
@{
    ViewBag.Title = "Administración de Accesos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Admin/Content/Scripts/integrantedetalle.js?v=2.16"></script>

<div class="form-title">
    <div class="content-titulo">Correos de la Empresa</div>
    <div class="content-botonera">
       <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje" class="action-message">Por favor aceptar las solicitudes y agregar empresas al usuario.</div>

    <div class="popup-title">
        <span>Representates Legales</span>
    </div>
    <div style="height:20px; clear:both"></div>

    @if(Model.Integrante == "N")
    {
        <input type="button" id="btnAgregarRpte" value="Agregar" />
    }

    <div id="listadoRepresentantes">

    </div>

    <div style="height:20px; clear:both"></div>

    <div class="popup-title">
        <span>Cuentas de correo adicionales</span>
    </div>
    <div style="height:20px; clear:both"></div>

    <input type="button" id="btnAgregar" value="Agregar" />

    <div id="divCorreos">

    </div>


    <div id="popupEdicion" class="general-popup" style="width:600px">
        <div><span class="button b-close"><span>X</span></span></div>

        <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

        </div>
    </div>

    <div id="popupRepresentante" class="general-popup" style="width:600px">
        <div><span class="button b-close"><span>X</span></span></div>

        <div class="popup-text" id="contenidoRepresentante" style="margin-top:0">

        </div>
    </div>



</div>

<input type="hidden" id="hfCodigoEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfIntegrante" value="@Model.Integrante" />
<br />
<br />