@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Servicio de Regulación de Frecuencia";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Declaración de Precios de Gas</h1>
    </div>
    <img src="~/Content/Images/Banners/CodigoDeEtica.jpg" alt="Declaración de Precios de Gas" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Operación%2FDeclaración%20de%20Precios%20de%20Gas%2F" })
</div>

<div style="clear:both"></div>
