@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.PuntoEntregaModel
@{
    ViewBag.Title = "Administración de Puntos de Entrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/datatable.js"></script>

<script src="~/Areas/CalculoResarcimiento/Content/Scripts/puntoentrega.js?v=1.1.2"></script>

<div class="form-title">
    <div class="content-titulo">Administración de Puntos de Entrega</div>
    <div class="content-botonera">
        @if (Model.Grabar){
            <input type="button" id="btnNuevo" value="Nuevo" style="" />
        }
        <input type="button" id="btnExportar" value="Exportar" style="" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>

    <div class="content-tabla">                
        <div class="table-list" id="listado">    </div>
    </div>   
</div>

<div id="popupPEAgregar" class="popup-class-1 general-popup" style="width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Registro de Punto de Entrega</span></div>
    <div class="panel-container">
        <div id="mensaje_popupAgregar"></div>
        <div id="" style="margin-top: 10px;"></div>

        <div>
            <table id="" style="margin-top: 10px; padding-left: 80px;">
                <tr style="height: 25px;">
                    <td class="tbform-label">Punto de Entrega:</td>
                    <td>
                        <input type="text" id="txtPtoEntergaN" style="width: 215px;" />
                    </td>
                </tr>
                <tr style="height: 25px;">
                    <td class="tbform-label">Nivel de Tensión:</td>
                    <td>
                        <select id="cbNivelTensionN" style="width: 125px;">
                            <option value="-1">--SELECCIONE--</option>
                            @foreach (var item in Model.ListaNivelTension)
                            {
                                <option value="@item.Rentcodi">@item.Rentnombre</option>
                            }
                        </select>
                    </td>
                </tr>
                              
            </table>
        </div>
        
        <div>
            <div style="width: 150px; margin: 0 auto;">
                @if (Model.Grabar)
                {
                    <input type="submit" id="GuardarPE" value="Guardar" style="margin-top: 15px;">
                }
                <input type="button" id="" value="Cancelar" onclick="cerrarPopup('popupPEAgregar')">
            </div>
        </div>

    </div>
</div>

<div id="popupPEEditar" class="popup-class-1 general-popup" style="width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Actualización de Punto de Entrega</span></div>
    <div class="panel-container">
        <div id="mensaje_popupEditar"></div>
        <div id="" style="margin-top: 10px;"></div>        

        <div>
            <table id="" style="margin-top: 10px; padding-left: 80px;">
                <tr style="height: 25px;">
                    <td class="tbform-label">Punto de Entrega:</td>
                    <td>
                        <input type="text" id="txtPtoEntergaE" style="width: 215px;" />
                    </td>
                </tr>
                <tr style="height: 25px;">
                    <td class="tbform-label">Nivel de Tensión:</td>
                    <td>
                        <select id="cbNivelTensionE" style="width: 125px;">
                            <option value="-1">--SELECCIONE--</option>
                            @foreach (var item in Model.ListaNivelTension)
                            {
                                <option value="@item.Rentcodi">@item.Rentnombre</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr style="height: 25px;">
                    <td class="tbform-label">Estado:</td>
                    <td>
                        <select id="cbEstadoE" style="width: 70px;">
                            <option value="A">Activo</option>
                            <option value="B">Baja</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div style="width: 150px; margin: 0 auto;">
                @if (Model.Grabar)
                {
                    <input type="submit" id="ActualizarPE" value="Guardar" style="margin-top: 15px;">
                }

                <input type="button" id="" value="Cancelar" onclick="cerrarPopup('popupPEEditar')">
            </div>
        </div>

    </div>
</div>