@model COES.MVC.Intranet.Areas.Monitoreo.Models.ReporteModel

<select id="cbSemanasIndicador@(Model.Indicador)" name="IdSemanas">
    <option value="0">--Seleccione Semana--</option>
    @foreach (var item in Model.ListaSemanas)
    {
        <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
    }
</select>