@model COES.MVC.Intranet.Areas.Monitoreo.Models.ReporteModel

Barra:

@if (Model.Indicador == 5)
{
    <select id="cbBarraIndicador5" name="cbBarraIndicador5" multiple="multiple" style="width: 900px">

        @if (Model.ListaBarra.Count > 0)
        {
            var recorrido = Model.ListaBarra.Select(x => new { x.BarrCodi, x.BarrNombre }).Distinct().ToList();
            foreach (var item in recorrido)
            {
                <option value="@item.BarrCodi">@item.BarrNombre</option>
            }
        }
        else
        {
            <option value="0">No existen registros..</option>
        }
    </select>
}
else
{
    <select id="cbBarraIndicador6" name="cbBarraIndicador6" multiple="multiple" style="width: 900px">

        @if (Model.ListaBarra.Count > 0)
        {
            var recorrido = Model.ListaBarra.Select(x => new { x.BarrCodi, x.BarrNombre }).Distinct().ToList();
            foreach (var item in recorrido)
            {
                <option value="@item.BarrCodi">@item.BarrNombre</option>
            }
        }
        else
        {
            <option value="0">No existen registros..</option>
        }
    </select>

}

