@model COES.MVC.Intranet.Areas.DemandaCP.Models.ReprogramaModel
<script src="~/Areas/DemandaCP/Content/Scripts/reprograma/areas_sein.js?v=1.1"></script>

<div id="contentModulo"
     class="submodules"
     style="height: 500px;"
     data-modulo="@Model.IdModulo">
    <div class="flex-row">        
        <div class="rep-areasein-box"
             style="min-width:500px">
            <div class="rep-areasein-filtro">
                Area en análisis:
                <select id="selAreaOperativa"
                        style="width: 120px; margin-left: 10px;">
                    @foreach (var item in Model.ListaAreaOperativa)
                    {
                        <option value="@item.Areacodi">@item.Ptomedidesc</option>
                    }
                </select>
            </div>
            <div>
                <div id="ht"
                     style="min-width: 490px; height: 430px; overflow: auto;"></div>
            </div>
        </div>
        <div class="rep-areasein-box"
             style="width: 100%;">
            <div class="rep-areasein-filtro"
                 style="float: right;">
                @*<input id="btnConsultar"
                       type="button"
                       value="Consultar" />*@
                <input id="btnGuardar"
                       type="button"
                       value="Guardar" />
            </div>
            <div id="hc"
                 style="width: 100%;"></div>
        </div>
    </div>
</div>


