<script src="~/Areas/DemandaCP/Content/Scripts/reprograma/total_barras.js?v=1.2"></script>

<div id="contentModulo"
     class="submodules"
     style="height: 500px;"
     data-modulo="@Model.IdModulo">
    <div class="flex-row"
         style="margin-bottom: 10px;">        
        <div class="flex-last">
            <div class="submodule-tools set-float-r">
                <div class="i-btn">
                    <label id="btnEnviarDatos"
                           title="Enviar datos consultados a Yupana">
                        <img src="~/Areas/DemandaCP/Content/Images/enviar.png" />
                        <br />
                        <label>Enviar Datos</label>
                    </label>
                </div>              
            </div>
        </div>
    </div>
    <div>
        <div id="ht"
             style="min-height: 400px; overflow: auto;"></div>
    </div>
</div>
    

