@model COES.MVC.Intranet.Areas.DemandaCP.Models.ReprogramaModel
<script src="~/Areas/DemandaCP/Content/Scripts/reprograma/usuarios_libres.js?v=1.1"></script>

<div id="contentModulo"
     class="submodules"
     style="height: 500px;"
     data-modulo="@Model.IdModulo">
    <div class="flex-row"
         style="margin-bottom: 10px;">       
        <div id="btnActualizarULExtranet"
             class="r-btn btn-up-perfil"
             style="margin-right: 10px;">
            Actualizar perfiles de usuarios libres desde extranet
        </div>
        <div class="flex-last">
            <div class="submodule-tools set-float-r">
                @*<div class="i-btn">
                    <label id="btnConsultar"
                           title="Consulta datos utilizando los filtros seleccionados">
                        <img src="~/Areas/DemandaCP/Content/Images/prn-ico-buscar.png" />
                        <br />
                        <label>Consultar</label>
                    </label>
                </div>*@
                <div class="i-btn">
                    <label id="btnGuardar"
                           title="Guardar todos los cambios de la versión">
                        <img src="~/Content/Images/prnsave.png" />
                        <br />
                        <label>Guardar Cambios</label>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="ht"
             style="min-height: 400px; overflow: auto;"></div>
    </div>
</div>