@model COES.MVC.Extranet.Areas.Ensayo.Models.EnsayoModel 

@{
    ViewBag.Title = "Agregar Equipo Ensayo";

}
<script type="text/javascript">

    $(function () {
    
        $('#btnAceptar2').click(function () {
            if ($('#cbUnidad').val() != "0") {
                var codequipo = $('#cbUnidad').val();
                $('#hequicodi').val(codequipo);
                var nomequi = $('#cbUnidad Option:Selected').text();
                var modoper = $('#txtModoOp').val();
                agregarUnidad(codequipo, nomequi);
            }
            else {
                alert("Seleccionar Unidad");
            }
        });
        $('#btnCancelar2').click(function () {          
                cerrarPopupUnidad();
        });
    
});
</script>
<table class="table-form-vertical">
       
        <tr>
            <td>Unidad:</td>
            <td>
                 <select id="cbUnidad" name="IdUnidad">
                    <option value="0" selected>[Seleccionar Unidad]</option>
                     @foreach (var item in Model.ListaEquipo)
                    {
                        <option value="@item.Equicodi">@item.Equinomb</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center; margin:auto">
            <div>
                <input type="button" id="btnAceptar2" value="Aceptar" />
                <input type="button" id="btnCancelar2" value="Cancelar" />
            </div>
            </td>
        </tr>
</table>
 <input type="hidden" id="hequicodi" value="" />
<input type="hidden" id="hequinomb" value="" />
<input type="hidden" id="hmodoper" value="" />  