@model COES.MVC.Extranet.Areas.Ensayo.Models.EnsayoModel


<style type="text/css">

</style>

<div class="content-registro">
    <table style="text-align: center; vertical-align :middle; ">


        @if (Model.ListaModosOperacion.Count > 0)
        {
            foreach (var item in Model.ListaModosOperacion)
            {
                <tr>
                    <td style="width: 300px; border-bottom: 1px dashed #C8C7C7; " class="tbform-label">@item.Gruponomb</td>

                </tr>

            }
        }


        <tr></tr>

    </table>

</div>
