@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ExtraerFrecuenciaModel
@{
    ViewBag.Title = "Cargar Archivo Milisegundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Cargar Archivo Milisegundo" }, { "sAccion", "Grabar" } })
</div>

