.popup-class-1 {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 200px;
    padding: 25px;
}

.despacho {
}

.barra_prog {
    background: #31869B !important;
}

.cuota_1 {
}

.cuota_2 {
    background: #5e9dd8 !important;
    color: black !important;
}

.residual_1 {
}

.residual_2 {
    background: #D9E1F2 !important;
    color: black !important;
}

.cmg_1 {
    background: #D9E1F2 !important;
    color: black !important;
}

.cmg_0 { /*par*/
    background: #2980B9 !important;
    color: white !important;
}

.fila_anulado {
    background-color: #A4A4A5;
    color: #FFFFFF;
}

.fila_baja {
    background-color: #FFDDDD;
}

.dashboard_graf_num_caja {
    min-width: 280px;
    box-shadow: rgba(170, 170, 170, 0.75) 0px 0px 19px 0px;
    margin: 4px;
}

.dashboard_graf_num_titulo {
    color: #333333;
    padding: 5px;
    font-size: 18px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.dashboard_graf_num_valor {
    width: 100%;
    color: gray;
    height: 100%;
    font-size: 65px;
    text-align: center;
    vertical-align: middle;
}

.clase_eliminado td {
    background-color: #FFDDDD !important;
}

.envio_anterior {
    background: #2c918f !important;
}