@model COES.MVC.Intranet.Areas.TiempoReal.Models.CargaArchxmlSp7Model
<link href="~/Areas/TiempoReal/Content/Css/ActualizacionSp7.css" rel="stylesheet" />
<div style="clear:both; height:10px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="auto" id="tabla">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo de Carga</th>
            <th>Canales Actualizados</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaCargaArchivos)
        {
            <tr>
                <td>@item.CarFecha</td>
                <td>@item.CarTipoNombre</td>
                <td>@item.CarCantidad</td>
                <td>@item.CarUsuario</td>
            </tr>
        }
    </tbody>
</table>
