@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Magnitud de Energía Dejada de Inyectar";
}

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Magnitud de Energía Dejada de Inyectar</h1>
            <span>Informes</span>
        </div>
        <img src="~/Content/Images/Banners/Informes.jpg" alt="Magnitud de Energía Dejada de Inyectar" />
    </div>
    <div style="clear:both"></div>
    <div class="page-content">
        @Html.Action("Index", "Browser", new { area = "", url = "Post%20Operación%2FInformes%2FMagnitud%20de%20Energía%20Dejada%20de%20Inyectar%2F" })
        <div style="clear:both"></div>
    </div>*@

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Informes.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/EvaluacionSemanal" class="sidebar-nav--link">Evaluación Semanal</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/EvaluacionMensual" class="sidebar-nav--link">Evaluación Mensual</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/EvaluacionAnual" class="sidebar-nav--link">Evaluación Anual</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/AnalisisEconomicoDespacho" class="sidebar-nav--link">Análisis de la Ejecución del Despacho Económico</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/ReservaRotanteRPF" class="sidebar-nav--link">Reserva Rotante para Regulación Primaria de Frecuencia</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/ReservaRotanteRSF" class="sidebar-nav--link">Reserva Rotante para Regulación Secundaria de Frecuencia</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/UnidadesGeneracionPruebas" class="sidebar-nav--link">Unidades de Generación por Pruebas</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/Informes/MagEnergiaDejadaInyectar" class="sidebar-nav--link sidebar-nav--link-active">Magnitud de Energía Dejada de Inyectar</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/postoperacion/informes/listadours" class="sidebar-nav--link">URS calificadas para Regulación Secundaria</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/postoperacion/informes/compensacionconfiabilidad" class="sidebar-nav--link">Compensación por Confiabilidad de Suministro (CCCSE)</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Post%20Operación%2FInformes%2FMagnitud%20de%20Energía%20Dejada%20de%20Inyectar%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>

<div style="clear:both"></div>
