@model COES.MVC.Intranet.Areas.Coordinacion.Models.SupervisionDemandaModel
@{
    ViewBag.Title = "Relacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Coordinacion/Content/Scripts/supervisiondemanda.js?v=1.1"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Generación</div>
    <div class="content-botonera">       
        
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Grupo:</td>
                <td>
                    <select id="cbGrupo">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaGrupos)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                </td>
                <td>Fuente:</td>
                <td>
                    <select id="cbFuente">
                        <option value="0">EMS</option>
                        <option value="1">SCADA SP7</option>
                    </select>
                </td>
                <td>Tipo de generación</td>
                <td>
                    <select id="cbTipoGeneracion">
                        <option value="-1">TODOS</option>
                        <option value="1">HIDROELÉCTRICA</option>
                        <option value="2">TERMOELÉCTRICA</option>
                        <option value="3">SOLAR</option>
                        <option value="4">EÓLICA</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value='Consultar' />
                    <input type="button" id="btnExportar" value='Exportar' />
                </td>
            </tr>
        </table>
    </div>
    <div id="listado">
    </div>

</div>
