@model COES.MVC.Extranet.Areas.Transferencias.Models.IngresoCompensacionModel
@Html.AntiForgeryToken()
<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            @foreach (var dtoCompensacion in Model.ListaCompensacion)
            {
                <th>@dtoCompensacion.CabeCompNombre</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var dtoEmpresa in Model.ListaIngresoEmpresa)
    {
        <tr id="fila_@dtoEmpresa.EmprCodi">
            <td class="text_left">@dtoEmpresa.EmprNombre</td>
            @foreach (var dtoCompensacion in Model.ListaCompensacion)
            {
                foreach (var dtoIngComp in Model.ListaIngresoCompensacion)
                {
                    if (dtoIngComp.CompCodi == dtoCompensacion.CabeCompCodi && dtoEmpresa.EmprCodi == dtoIngComp.EmprCodi)
                    {
                        <td style="text-align:right">@dtoIngComp.IngrCompImporte.ToString("#,##0.00")</td>
                    }
                }
            }
        </tr>
    }
    </tbody>
</table>
