@{
    ViewBag.Title = ".::Mercado Mayorista de Electricidad::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Mercado Mayorista de Electricidad</h1>
        <span>
        </span>
    </div>
    <img src="~/Content/Images/Banners/MarcoNormativo.jpg" alt="Proveedores" />
</div>
<div style="clear:both"></div>
<div class="page-content">

    <div class="page-left">

        <div class="page-text">
            <ul class="enlace-db">
             
                <li class="menu-li-more"><a href="~/mercadomayorista/visualizaciondatos/listadoparticipantes">Listado de Participantes</a></li>
                <li class="menu-li-more"><a href="#">Condiciones y Requisitos del Participante del MME</a></li>
                <li class="menu-li-padding"><a href="~/mercadomayorista/flujos/inscripcion">Inscripción</a></li>                
                <li class="menu-li-padding"><a href="~/mercadomayorista/flujos/modificacion">Modificación en la conformación de agrupación de Gran Usuario en el MME</a></li>                
                <li class="menu-li-padding"><a href="~/mercadomayorista/flujos/suspension">Suspensión del participante</a></li>                
                <li class="menu-li-padding"><a href="~/mercadomayorista/flujos/baja">Baja del participante</a></li>     
                <li class="menu-li-padding"><a href="~/mercadomayorista/flujos/exclusion">Exclusión del participante</a></li>                           
                <li class="menu-li-more"><a href="~/mercadomayorista/reporteindicadores">Reporte de Indicadores para el monitoreo del MME</a></li>
                <li class="menu-li-more"><a href="~/mercadomayorista/formato/index">Formatos del MME</a></li>
                <li class="menu-li-more"><a href="#">Costos Marginales de Corto Plazo</a></li>
                <li class="menu-li-padding"><a href="~/mercadomayorista/costosmarginales/index">Costos Marginal en Tiempo Real (preliminar)</a></li>
                <li class="menu-li-padding"><a href="~/mercadomayorista/costosmarginales/revisados">Costos Marginales Revisados</a></li>
                <li class="menu-li-more"><a href="~/mercadomayorista/garantiasyfideicomiso">Garantías y Fideicomiso</a></li>
                <li class="menu-li-more"><a href="~/mercadomayorista/liquidaciones">Liquidaciones del MME</a></li>
                <li class="menu-li-more"><a href="~/mercadomayorista/informeauditoria">Informe de auditoría al modelo</a></li>
            </ul>
        </div>

    </div>
    <div class="page-rigth">
    </div>
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>