
    @{
        Layout = null;
    }
        
        <link href="~/Areas/Subastas/Content/Css/css.css" rel="stylesheet" />
        <script src="~/Content/Scripts/popup.js"></script>
        <link href="~/Content/Css/multiselect.css" rel="stylesheet" />
        <script src="~/Areas/Subastas/Content/Scripts/registrousuariosoperaciones.js?v=1.3"></script>

<div class="search-content" style="width:700px; height:auto">
    <div class="messaje-error mensaje-content-error"></div>
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width:50px; margin-right:10px">Empresa:</span>
            <div class="field-control" style="float:left">
                @Html.DropDownList("empresa", ViewData["empresa"] as List<SelectListItem>, new { @style = "width:150px" })
            </div>
        </div>
        <div class="field-wrap">
            <span class="field-label" style="width: 50px; float: left; margin-left: 10px; margin-right:10px">Usuario: </span>
            <div class="field-control" style="float:left">
                @Html.DropDownList("username", ViewData["username"] as List<SelectListItem>, new { @style = "width:150px" })
            </div>
        </div>
        <div class="field-wrap">
            <span class="field-label" style="width:50px; margin-right: 10px; text-align:right">URS: </span>
            <div class="field-control" style="float:left">
                @Html.DropDownList("urs", ViewData["urs"] as List<SelectListItem>, new { @style = "width:150px", multiple = "multiple" })
                <script src="~/Content/Scripts/multiselect.js"></script>
                @* Multiselect Lista Urs *@
                <script>
                    $('#urs').multipleSelect({
                        width: '210px',
                        onClick: function (view) {
                        },
                        onClose: function (view) {
                        }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="field-group">
        <center>
            <div align="center">
                <input style="margin-top:25px" id="btnAgregarUsuarios" type="button" value="Registrar" />
                <input id="btnCancelar" type="button" value="Cancelar" class="b-close" />
            </div>
        </center>
    </div>
</div>
