<select id="cbTipoCombustibleXTipoCentral" name="cbTipoCombustibleXTipoCentral" style="width:250px;" multiple="multiple">
    @if (Model.ListaTipoCombustibles.Count > 0)
    {

        foreach (var item in Model.ListaTipoCombustibles)
        {
            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfTipoCombustibleXTipoCentral" name="hfTipoCombustibleXTipoCentral" />