<script type="text/javascript">

    $(function () {
        $('#cbTipoCentral').multipleSelect({
            width: '150px',
            filter: true,
            onClose: function (view) {
                if (typeof USAR_COMBO_TIPOCOMBUSTIBLE == 'undefined' || USAR_COMBO_TIPOCOMBUSTIBLE) {
                    cargarModosOpeGrupos();
                }
                cargarTipoRecurso();
            }
        });
        $('#cbTipoCentral').multipleSelect('checkAll');
    });

</script>



<select id="cbTipoCentral" name="cbTipoCentral" style="width:250px;" multiple="multiple">
    @if (Model.ListaTipoCentrales.Count > 0)
    {

        foreach (var item in Model.ListaTipoCentrales)
        {
            <option value="@item.Famcodi">@item.Famnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfTipoCentral" name="hfTipoCentral" />