<select id="cbCentral" name="cbCentral" multiple="multiple">

    @if (Model.ListaGrupoCentral.Count != null)
    {
        foreach (var item in Model.ListaGrupoCentral)
        {
            <option value="@item.Grupopadre">@item.Central</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }

</select>

<input type="hidden" id="hfCentral" name="hfCentral" />