<script type="text/javascript">

    $(function () {
        $('#cbModo').multipleSelect({
            width: '150px',
            filter: true
            //onClose: function (view) {
            //    cargarTipoRecurso();
            //}
        });
        $('#cbModo').multipleSelect('checkAll');
    });

</script>



<select id="cbModo" name="cbModo" style="width:250px;" multiple="multiple">
    @if (Model.ListaModo.Count > 0)
    {

        foreach (var item in Model.ListaModo)
        {
            <option value="@item.Grupocodi">@item.Gruponomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfModo" name="hfModo" />