<script type="text/javascript">

    $(function () {
        $('#cbCausa').multipleSelect({
            width: '150px',
            filter: true
            //onClose: function (view) {
            //    cargarTipoRecurso();
            //}
        });
        $('#cbCausa').multipleSelect('checkAll');
    });

</script>



<select id="cbCausa" name="cbCausa" style="width:250px;" multiple="multiple">
    @if (Model.ListaCausa.Count > 0)
    {

        foreach (var item in Model.ListaCausa)
        {
            <option value="@item.Causaevencodi">@item.Causaevendesc</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfCausa" name="hfCausa" />