<script type="text/javascript">

    $(function () {
        $('#cbSistemaA').multipleSelect({
            width: '150px',
            filter: true
            //onClose: function (view) {
            //    cargarTipoRecurso();
            //}
        });
        $('#cbSistemaA').multipleSelect('checkAll');
    });

</script>



<select id="cbSistemaA" name="cbSistemaA" style="width:250px;" multiple="multiple">
    @if (Model.listaEstadoSistemaA.Count > 0)
    {

        foreach (var item in Model.listaEstadoSistemaA)
        {
            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfSistemaA" name="hfSistemaA"/>