<script type="text/javascript">

    $(function () {
        $('#cbUnidad').multipleSelect({
            width: '150px',
            filter: true
            //onClose: function (view) {
            //    cargarTipoRecurso();
            //}
        });
        $('#cbUnidad').multipleSelect('checkAll');
    });

</script>



<select id="cbUnidad" name="cbCausa" style="width:250px;" multiple="multiple">
    @if (Model.ListaUnidades.Count > 0)
    {

        foreach (var item in Model.ListaUnidades)
        {
            <option value="@item.Equicodi">@item.Equinomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfUnidad" name="hfUnidad" />