<select id="cbEquipo" name="cbEquipo" multiple="multiple">

    @if (Model.ListaEquipo.Count > 0)
    {
        foreach (var item in Model.ListaEquipo)
        {
            <option value="@item.Equicodi">@item.Equinomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }



</select>

<input type="hidden" id="hfEquipo" name="hfEquipo" />
