<select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">

    @if (Model.ListaEmpresas.Count > 0)
    {
        foreach (var item in Model.ListaEmpresas)
        {
            <option value="@item.Emprcodi">@item.Emprnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>
<input type="hidden" id="hfEmpresa" name="hfEmpresa" />