@model COES.MVC.Intranet.Areas.IEOD.Models.PublicacionIEODModel

<table class="pretty tabla-icono" id="tablaGPS" width="383px">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="cbSelectAll" />
            </th>
            <th>GPS</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaGPS)
        {
            <tr>
                <td>
                    @if (item.Gpsindieod == "S")
                    {
                        <input type="checkbox" checked="checked" id="cbSelect" value="@item.Gpscodi" />
                    }
                    else
                    {
                        <input type="checkbox" id="cbSelect" value="@item.Gpscodi" />
                    }
                </td>
                <td style="text-align: left; padding-left: 10px;">@item.NombreYEstado</td>
            </tr>
        }
    </tbody>
</table>

<br />
<div style="width:200px; margin:auto">
    <input type="button" id="btnGrabarGPS" value="Grabar" />
    <input type="button" id="btnCancelarGPS" value="Cancelar" />
</div>