@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.2" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.validate.js"></script>

<link href="~/Areas/IEOD/Content/Css/menuPR5.css" rel="stylesheet" />
<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=1.6" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5cargarmenu.js?v=1.6"></script>
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5globalFuncion.js?v=1.5"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/nota_observacion.js?id=1.8.1"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>

        <table id="tableContent" class="content-tabla" style="width: auto;display:none">
            <tbody>
                <tr>
                    <td>Descripción:</td>
                    <td colspan="3" rowspan="2">
                        <input type="hidden" id="txtSinotacodi" />
                        <textarea rows="4" cols="120" id="txtSinotadesc" name="Sinotadesc"></textarea>
                    </td>
                    <td><input type="submit" value="Guardar" id="btnGuardarNota" onclick="guardarNota(event)" style="width:70px" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="Limpiar" onclick="limpiarFormularioNota()" style="width:70px" /></td>
                </tr>
            </tbody>
        </table>

        <hr />
        <div id="listaNota">

        </div>
    </div>

</div>