@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?id=1.1.3" rel="stylesheet" />

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>

<script src="~/Content/Scripts/fixedcolumn.js"></script>

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=1.6" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5cargarmenu.js?v=1.6"></script>
<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5globalFuncion.js?v=1.5"></script>

<script src="~/Areas/IEOD/Content/Scripts/anexoa/demandausuarios.js?id=1.5"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_anexoa">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="d">
        <table class="content-tabla-search" style="width:auto">
            <tr style="">
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")

    <div class="content-tabla">

        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>

    <div id="idVistaGrafica1" style="height: 450px; margin: 0 auto;"></div>
    <div id="idVistaGrafica2" style="height: 450px; margin: 0 auto;"></div>
    <div id="idVistaGrafica3" style="height: 450px; margin: 0 auto;"></div>
    <div id="idVistaGrafica4" style="height: 450px; margin: 0 auto;"></div>
</div>