@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/IEOD/Content/Scripts/anexoa/pr5menuanexo.js?v=2.0.7"></script>
<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />

<style>
    .form-title {
        display: block;
        width: auto;
        line-height: 50px;
    }

    .content-titulo {
        width: auto !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Anexo A </div>
    <div class="content-botonera" style="display: flex; align-items: center; height: auto; gap: 10px; padding-top: 0px; margin-top: 15px;">
        <input type="button" value="Hojas Anexo A" id="btnPopupHojaAnexoA" />
        <input type="button" id="btnConfigurarGPS" value="Configurar GPS" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="padding-bottom: 4px; padding-top: 10px;">
        <table class="content-tabla-search" style="">
            <tr>
                <td style="width: 40px; vertical-align: middle;">Fecha:</td>
                <td style="width: 100px; vertical-align: middle;">
                    <input type="text" id="txtFecha" value="@Model.FechaInicio" />
                </td>

                <td style=""></td>

                <td class="btn_generar" style="width: 65px; padding: 0; margin: 0; overflow: visible;">
                    <a href="#" id="btnExportarA2" title="Exportar Anexo 2 - Hidrología" class="btn_generar"
                       style="display: block; margin: 0; padding: 0; text-align: left; transform: translate(-80px, 25px);">
                        <img src="~/Content/images/exportarExcel.png" style="width:25px; display: block; margin: 0; padding: 0;" />
                        <span style="display: block; margin: 0; padding: 0;">Hidrología</span>
                    </a>
                </td>
                <td class="btn_generar" style="width: 68px; padding: 0; margin: 0; overflow: visible;">
                    <a href="#" id="btnExportarA3" title="Exportar Anexo 3 - RPF Y RSF" class="btn_generar"
                       style="display: block; margin: 0; padding: 0; text-align: left; transform: translate(-80px, 25px);">
                        <img src="~/Content/images/exportarExcel.png" style="width:25px; display: block; margin: 0; padding: 0;" />
                        <span style="display: block; margin: 0; padding: 0;">RPF y RSF</span>
                    </a>
                </td>
                <td class="btn_generar" style="width: 67px; padding: 0; margin: 0; overflow: visible;">
                    <a href="#" id="btnExportarA4" title="Exportar Anexo 4 - HOP" class="btn_generar"
                       style="display: block; margin: 0; padding: 0; text-align: left; transform: translate(-80px, 25px);">
                        <img src="~/Content/images/exportarExcel.png" style="width:25px; display: block; margin: 0; padding: 0;" />
                        <span style="display: block; margin: 0; padding: 0;">Horas de Operación</span>
                    </a>
                </td>
                <td class="btn_generar" style="width: 90px; padding: 0; margin: 0; overflow: visible;">
                    <a href="#" id="btnExportarA5" title="Exportar Anexo 5 - Manttoejec" class="btn_generar"
                       style="display: block; margin: 0; padding: 0; text-align: left; transform: translate(-80px, 25px);">
                        <img src="~/Content/images/exportarExcel.png" style="width:25px; display: block; margin: 0; padding: 0;" />
                        <span style="display: block; margin: 0; padding: 0;">Mantenimientos</span>
                    </a>
                </td>
                <td class="btn_generar" style="width: 160px; padding: 0; margin: 0; overflow: visible;">
                    <a href="#" id="btnExportarA6" title="Exportar Anexo 6 - CMgCP" class="btn_generar"
                       style="display: block; margin: 0; padding: 0; text-align: left; transform: translate(-75px, 25px);">
                        <img src="~/Content/images/exportarExcel.png" style="width:25px; display: block; margin: 0; padding: 0;" />
                        <span style="display: block; font-size: 12px; margin: 0; padding: 0;">Costos Marginales Corto Plazo</span>
                    </a>
                    <a href="#" id="btnManualUsuario" title="Manual de Usuario" class="btn_generar"
                       style="text-align: center; text-decoration: none; position: relative; top: -33px; left: 65px;">
                        <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;" /><br />
                        <span style="color: #278CCC; font-size: 12px;">Manual de Usuario</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div style="display: inline-block;">
        <fieldset style="width: 550px; float: left;">
            <legend>Informe IEOD (Word)</legend>

            <a href="#" id="btnPopupNuevaVersionWord" title="Generar versión IEOD" class="btn_generar" style=" display: inline-table;">
                <img src="~/Areas/IEOD/Content/images/setting-icon.png" style="width:25px" />
                <br />
                <span>Generar <br /> Informe</span>
            </a>

            <div id="reporte_word_anexoa" style="margin-left: 0px; width: 500px; display: inline-table; margin-left: 0px; ">
            </div>

        </fieldset>

        <fieldset style="width: 550px; float: left; margin-left: 10px; ">
            <legend>Archivo Anexo A (Excel)</legend>

            <a href="#" id="btnPopupNuevaVersionExcel" title="Generar versión IEOD" class="btn_generar" style=" display: inline-table;">
                <img src="~/Areas/IEOD/Content/images/setting-icon.png" style="width:25px" />
                <br />
                <span>Generar <br /> Archivo <br /> Anexo A</span>
            </a>

            <div id="reporte_excel_anexoa" style="margin-left: 0px; width: 500px; display: inline-table; margin-left: 0px; ">
            </div>

        </fieldset>
    </div>

    <div class="header-action-item2" style="">
        <div class="acceso-directo-header2" id="contenedorMenuPR5" style="margin-left: -10px; display: none;">
            <div class="acceso-directo-header2-cnt" id="contenidoMenuPR5" style="color: #245C86; padding: 10px;">
                <div id="MenuID" style="display: none"></div>
            </div>
        </div>
    </div>
</div>

<!--Nueva versión-->
<div id="idPopupVersionExcel" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva versión - Archivo Anexo A</span></div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Fecha:
            </td>
            <td style="width: 97px;">
                <input type="text" id="txtFechaNuevoExcel" value="@Model.FechaInicio" style="width: 90px;" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="tbform-label">
                Motivo:
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <textarea id="txtMotivoNuevoExcel" autofocus style="width:400px; height:80px"></textarea>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVersionExcel" value="Guardar" />
            </td>
        </tr>
    </table>
</div>

<div id="idPopupVersionWord" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva versión - Informe IEOD</span></div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Fecha:
            </td>
            <td style="width: 97px;">
                <input type="text" id="txtFechaNuevoWord" value="@Model.FechaInicio" style="width: 90px;" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="tbform-label" style="width: 117px;">
                GPS Frecuencia:
            </td>
            <td style="width: 97px;">
                <div id="ListaGpsFrecuencia"></div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Ecuador(leyendas):
            </td>
            <td style="width: 97px;">
                <input type="checkbox" id="cbLeyenda" value="" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="tbform-label">
                Motivo:
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <textarea id="txtMotivoNuevoWord" autofocus style="width:400px; height:80px"></textarea>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVersionWord" value="Guardar" />
            </td>
        </tr>
    </table>
</div>

<!--Hojas excel-->
<div id="idPopupHojaExcel" class="general-popup" style="width: 1200px; max-width: 1200px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Hojas visibles en Anexo A</span></div>

    <div style="clear:both; height:5px"></div>

    <div id="div_hoja_excel"></div>

    <table class="table-search" style="width:auto">
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVisibleHoja" value="Guardar" />
            </td>
        </tr>
    </table>
</div>

<!--Vista previa-->
<div id="idPopupVistaPrevia" class="general-popup" style="width: 1200px; max-width: 1200px; height:650px; top: 250px !important" ;>
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Vista previa</span></div>

    <div style="clear:both; height:5px"></div>

    <div id="div_vista_previa">
        <iframe id="vistaprevia" style="width: 100%; height:600px;" frameborder="0" hidden></iframe>
    </div>

</div>

<!--configuracion gps-->
<div id="popupGPS" class="general-popup" style="width:400px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configurar GPS</span></div>
    <div class="popup-text" id="contenidoGPS">

    </div>
</div>
