<?xml version="1.0" encoding="utf-8"?>
<!--D:\Solucion\Produccion\ProduccionBranch\COES.MVC.Intranet\Web.config
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\Intranet.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %location [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<connectionStrings>
		<!--PRD OnPremise (Tmp)-->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD1_SICOES_NUBE;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=sic" providerName="Oracle.ManagedDataAccess.Client" />-->
		<add name="ContextoSIC" connectionString="DATA SOURCE=TEST2_SICOES;PASSWORD=Dt1CO3$;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD2_SICOES;PASSWORD=BA$3D4TO$2022;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />-->
		<add name="ContextoSCADA" providerName="Oracle.ManagedDataAccess.Client" connectionString="DATA SOURCE=TRSPCLON;PASSWORD=TstNtC2022$;PERSIST SECURITY INFO=True;USER ID=trspclon" />
		<add name="ContextoSP7" providerName="Oracle.ManagedDataAccess.Client" connectionString="DATA SOURCE=TRSPCLON;PASSWORD=TstNtC2022$;PERSIST SECURITY INFO=True;USER ID=trspclon" />
		<add name="ContextoHIS" connectionString="DSN=HisDS;UID=DBCUSER;PWD=dbc.1user" providerName="System.Data.Odbc" />
		<add name="ConnCyDOC" connectionString="Data Source=172.16.100.79;Initial Catalog=CYDOC;User=cydoc;pwd=cydocCOES2019;EnList=false;Connect Timeout=5000000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
		<add name="CSDocDJR" connectionString="" providerName="System.Data.EntityClient" />
		
		<!--PRD OnPremise
    <add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR;PASSWORD=S1C03$2018;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoSCADA" connectionString="DATA SOURCE=SICOES11G;PASSWORD=74123;PERSIST SECURITY INFO=True;USER ID=trcoes" providerName="Oracle.ManagedDataAccess.Client" />
	<add name="ContextoSP7" connectionString="DATA SOURCE=TRCOESR;PASSWORD=NtC2018$;PERSIST SECURITY INFO=True;USER ID=trsp7" providerName="Oracle.ManagedDataAccess.Client" /> 
	<add name="ContextoHIS" connectionString="DSN=HisDS;UID=DBCUSER;PWD=dbc.1user" providerName="System.Data.Odbc" />
	<add name="ConnCyDOC" connectionString="Data Source=172.16.100.79;Initial Catalog=CYDOC;User=cydoc;pwd=cydocCOES2019;EnList=false;Connect Timeout=5000000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
	-->

		<!--PREPROD Nube
    <add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD1_SICOES;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />
****
<add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD2_SICOES;PASSWORD=BA$3D4TO$2022;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD3_SICOES;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />
****
<add name="ContextoSCADA" connectionString="DATA SOURCE=TEST3_SCADA;PASSWORD=TstNtC2022$;PERSIST SECURITY INFO=True;USER ID=trsp7" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoSP7" connectionString="DATA SOURCE=TEST3_SCADA;PASSWORD=TstNtC2022$;PERSIST SECURITY INFO=True;USER ID=trsp7" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoHIS" connectionString="DSN=HisDS;UID=DBCUSER;PWD=dbc.1user" providerName="System.Data.Odbc" />
    <add name="ConnCyDOC" connectionString="Data Source=10.100.252.82;Initial Catalog=CYDOC_QA;User=cydoc;pwd=cydocCOES2019;EnList=false;Connect Timeout=5000000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
-->
		<!--TEST Nube
    <add name="ContextoSIC" connectionString="DATA SOURCE=TEST1_SICOES;PASSWORD=Dt1CO3$;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoSCADA" connectionString="DATA SOURCE=TEST3_SCADA;PASSWORD=TstNtC2022$;PERSIST SECURITY INFO=True;USER ID=trsp7" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoSP7" connectionString="DATA SOURCE=TEST3_SCADA;PASSWORD=TstNtC2022$;PERSIST SECURITY INFO=True;USER ID=trsp7" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ContextoHIS" connectionString="DSN=HisDS;UID=DBCUSER;PWD=dbc.1user" providerName="System.Data.Odbc" />
    <add name="ConnCyDOC" connectionString="Data Source=10.100.252.82;Initial Catalog=CYDOC_QA;User=cydoc;pwd=cydocCOES2019;EnList=false;Connect Timeout=5000000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
    -->



		<!--Original-->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICPREPROD;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
		<!-- <add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR_TTIE;PASSWORD= BDCO35tt13;PERSIST SECURITY INFO=True;USER ID=sic" providerName="Oracle.DataAccess.Client" />-->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR;PASSWORD=S1C03$2018;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR_TEST;PASSWORD=Dt1CO3$;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICPREPROD;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
		<!--ORIG: <add name="ContextoSIC" connectionString="DATA SOURCE=SICPREPROD2;PASSWORD=BA$3D4TO$2022;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" /> -->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICPREPROD;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
		<!--ORIG:
	<add name="ContextoSCADA" connectionString="DATA SOURCE=SICOES11G;PASSWORD=74123;PERSIST SECURITY INFO=True;USER ID=trcoes" providerName="Oracle.DataAccess.Client" />
    <add name="ContextoSP7" connectionString="DATA SOURCE=scada_test;PASSWORD=TstNtC2022$;PERSIST SECURITY INFO=True;USER ID=trsp7" providerName="Oracle.DataAccess.Client" />
    <add name="ContextoHIS" connectionString="DSN=HisDS;UID=DBCUSER;PWD=dbc.1user" providerName="System.Data.Odbc" />
    <add name="ConnCyDOC" connectionString="Data Source=172.16.100.82;Initial Catalog=CYDOC_QA;User=cydoc;pwd=coesCOES2022;EnList=false;Connect Timeout=5000000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
	  -->
    <!--<add name="ConnCyDOC" connectionString="Data Source=172.16.100.79;Initial Catalog=CYDOC;User=cydoc;pwd=cydocCOES2019;EnList=false;Connect Timeout=5000000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
	  <add key="AzureSearch:Endpoint" value="" />
	  <add key="AzureSearch:ApiKey" value="" />
	  <add key="AzureSearch:IndexName" value="" />
	  <add key="AzureSearch:IndexerTableName" value="" />
	  <add key="AzureSearch:IndexerBlobName" value="" />
	  <add key="AzureStorage:ConnectionString" value="" />
	  <add key="AzureStorage:TableName" value="" />
	  <add key="AzureStorage:TablePartitionKey" value="" />
	  <add key="AzureOpenAI:Endpoint" value="" />
	  <add key="AzureOpenAI:ApiKey" value="" />
	  <add key="AzureOpenAI:Model" value="" />
	  <add key="AzureOpenAI:Version" value="" />
	  <add key="MLService:Url" value="" />

	  
	  <add key="FolderDataImages" value="\\coes.org.pe\ArchivosApp\Server_web_data\Images\" />

    <add key="sioseinMaximoCaracteres" value="1000" />
    <add key="AppIISName" value="Actualizar por el nombre del app de iis al desplegar" />
    <add key="EmpresaUsuarioLibreCodigo" value="4" />
    <add key="EmpresaUsuarioLibreCorreoNotificacionRegistroEliminacionPuntoMedicion" value="" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ReporteEvento" value="C:\FileSystemCOES\AplicacionesWeb\Pruebas\" />
    <add key="ReportePerfiles" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Formulas\Reporte\" />
    <add key="ReporteServicioRPF" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\ServicioRPF\Reporte\" />
    <add key="ReporteMediciones" value="C:\d\" />
    <add key="DirectorioReporteCircular" value="C:\d\DirectorioReporteCircular\" />
    <add key="ArchivoReporteCircularZip" value="C:\d\DirectorioReporteCircularZip\data.zip" />
    <add key="CarpetaDeFirmas" value="C:\FileSystem\Firmas\" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="NameSchemaSIC" value="SIC" />
    <add key="ListaCorreoEvento" value="raul.castro@coes.org.pe" />
    <add key="NombreCorreoEvento" value="Denis Toro Caballero" />
    <add key="EventoExtranetURL" value="http://www.coes.org.pe/extranet/evento/evento?id={0}" />

    <!--Envío de correos Inicio-->
    <add key="EmailServer" value="" />
    <add key="MailFrom" value="" />
    <add key="UserNameSMTP" value="" />
    <add key="PasswordSMTP" value="" />
    <add key="EnableSslSMTP" value="" /> <!--S para ambiente consultor, vacío para ambiente COES-->

    <!--
		<add key="EmailServer" value="smtp.outlook.com" />
		<add key="MailFrom" value="hugo22_11@hotmail.com" />
		<add key="UserNameSMTP" value="hugo22_11@hotmail.com" />
		<add key="PasswordSMTP" value="hugoedson1" />
    -->
		<add key="RutaExportacionInformeEvento" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Eventos\Reporte\" />
		<add key="RutaCargaEvento" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Eventos\Reporte\" />
		<add key="ReporteTransferencia" value="C:\tmp\" />
		<add key="RutaReportePRIE" value="C:\tmp\" />
		<add key="RutaCargaFileTransferencia" value="D:\ProyectosCOES\RechazoCarga_20210819\COES.MVC.Intranet\Uploads" />
		<add key="ReporteInterconexion" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Medidores\Reporte\" />
		<add key="RepositorioResarcimientos" value="Areas\\Resarcimientos\\Reporte\\" />
		<add key="ReporteDemandaBarras" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\DemandaBarras\Reportes\" />
		<add key="RutaCargaFile" value="C:\Repos\COES\Framework\COES.MVC.Intranet\Uploads\" />
		<add key="EquipamientoBucket" value="s3equipamiento" />
		<add key="KeyS3" value="AKIAJZVCB65FKNVEMJ4Q" />
		<add key="SecretS3" value="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" />
		<add key="ReporteHidrologia" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Hidrologia\Reporte\" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
		<add key="RolRepresentanteLegal" value="90" />
		<add key="LocalDirectory" value="C:\FileSystemCOES\" />
		<add key="RutaAGCRSF" value="\\test.org.pe\SCADA_AGC\" />
		<add key="RutaAGCRSF_RESPALDO" value="\\test.org.pe\SCADA_AGC_RESP\" />
		<add key="RutaAGCUnitMaxGeneration" value="\\172.16.100.37\agc\RSF" />
		<add key="FilesAGCAllXmls" value="UnitMaxGeneration.xml|UnitMinGeneration.xml|UnitScheduledLoad.xml|UnitScheduledLoad_Virtual.xml" />
		<!--Subastas-->
		<add key="SubastasTamanioFileActa" value="25mb" />
		<add key="SubastasUrscodiProvisionBase" value="1964,914,3170" />
		<add key="SubastasFechaDespliegue" value="22/12/2020" />
		<add key="ReporteDespacho" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Despacho\Reporte\" />
		<add key="FechaInicioCumplimientoPR16" value="01/01/2016" />
		<add key="IdLecturaPR16" value="52" />
		<add key="IdLecturaAlphaPR16" value="53" />
		<add key="IdFormatoPR16" value="54" />
		<add key="DiaCierrePeriodoPR16" value="10" />
		<add key="DiaAperturaPeriodoPR16" value="1" />
		<add key="DiaRecordatorioPeriodoPR16" value="5" />
		<add key="ReporteSubastas" value="C:\d\" />
		<add key="ReporteEquipamiento" value="C:\Reporte_pruebas\" />
		<add key="UrlSincronizacionMaestro" value="http://srvcertgart.osinergmin.gob.pe/interosi-coes-ws/remote/sincronizacionMaestrosWS" />
		<add key="UrlImportacionSicli" value="http://srvcertgart.osinergmin.gob.pe/interosi-coes-ws/remote/importacionSicliWS" />
		<!-- alpha.HDT - Inicio 02/11/2017: Cambio para atender el requerimiento-->
		<add key="UrlRemisionAOsi" value="http://srvcertgart.osinergmin.gob.pe/interosi-coes-ws/remote/remisionCoesWS?wsdl" />
		<add key="IdLecturaMedidorGeneracion" value="1" />
		<!--Intervenciones-->
		<add key="FlagGrabarEveMantto" value="N" />
		<add key="FlagCompletarDatosAplicativos" value="S" />
		<add key="FlagEnviarComunicacion" value="N" />
		<add key="FlagEnviarNotificacionAAgente" value="N" />
		<add key="FlagEnviarNotificacionHo" value="N" />
		<add key="ListaEmailAdminIntervencionesTo" value="alan.alvarado@movisoft.pe" />
		<add key="ListaEmailAdminIntervencionesCC" value="soporte1@movisoft.pe;epalpan@coes.org.pe;jperez@movisoft.pe;jvelasquez@coes.org.pe;coyarce@coes.org.pe;paul.serna@coes.org.pe" />
		<add key="FlagEnviarNotificacionManual" value="S" />

		<!--CTAF Interrupciones Suministros-->
		<add key="FlagNotificarCargaInformacionDeAgente" value="N" />
		<add key="FlagNotificarSolicitudesPendientes" value="N" />
		<add key="ListaEmailAdminEventosTo" value="ctaf@coes.org.pe" />
		<add key="ListaEmailAdminEventosCC" value="alan.alvarado@movisoft.pe;soporte1@movisoft.pe;jperez@movisoft.pe;raul.castro@coes.org.pe" />
    <add key="RutaExportacionInformeEvento" value="D:\Hugo\Trabajo\Zeit\Coes\Fuente Principal\Framework\COES.MVC.Intranet\Content\Images\" />
    <add key="RutaCargaEvento" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Eventos\Reporte\" />
    <add key="ReporteTransferencia" value="C:\tmp\" />
    <add key="CarpetaTemporalCTAF" value="C:\FileSystem\Temp\" />
    <add key="RutaReportePRIE" value="C:\tmp\" />
    <add key="RutaCargaFileTransferencia" value="D:\ProyectosCOES\RechazoCarga_20210819\COES.MVC.Intranet\Uploads" />
    <add key="ReporteInterconexion" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Medidores\Reporte\" />
    <add key="RepositorioResarcimientos" value="Areas\\Resarcimientos\\Reporte\\" />
    <add key="ReporteDemandaBarras" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\DemandaBarras\Reportes\" />
    <add key="RutaCargaFile" value="C:\Repos\COES\Framework\COES.MVC.Intranet\Uploads\" />
    <add key="EquipamientoBucket" value="s3equipamiento" />
    <add key="KeyS3" value="AKIAJZVCB65FKNVEMJ4Q" />
    <add key="SecretS3" value="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" />
    <add key="ReporteHidrologia" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Hidrologia\Reporte\" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="RolRepresentanteLegal" value="90" />
    <add key="LocalDirectory" value="D:\Archivosapp\Webapp\" />
    <add key="RutaAGCUnitMaxGeneration" value="\\172.16.100.37\agc\RSF" />
    <add key="FilesAGCAllXmls" value="UnitMaxGeneration.xml|UnitMinGeneration.xml|UnitScheduledLoad.xml|UnitScheduledLoad_Virtual.xml" />
    <!--Subastas-->
    <add key="RSFFlagEnviarNotificacionManual" value="S" />
    <add key="SubastasTamanioFileActa" value="25mb" />
    <add key="SubastasUrscodiProvisionBase" value="1964,914,3170" />
    <add key="SubastasFechaDespliegue" value="22/12/2020" />
    <add key="ReporteDespacho" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Areas\Despacho\Reporte\" />
    <add key="FechaInicioCumplimientoPR16" value="01/01/2016" />
    <add key="IdLecturaPR16" value="52" />
    <add key="IdLecturaAlphaPR16" value="53" />
    <add key="IdFormatoPR16" value="54" />
    <add key="DiaCierrePeriodoPR16" value="10" />
    <add key="DiaAperturaPeriodoPR16" value="1" />
    <add key="DiaRecordatorioPeriodoPR16" value="5" />
    <add key="ReporteSubastas" value="C:\d\" />
    <add key="ReporteEquipamiento" value="C:\Reporte_pruebas\" />
    <add key="UrlSincronizacionMaestro" value="http://srvcertgart.osinergmin.gob.pe/interosi-coes-ws/remote/sincronizacionMaestrosWS" />
    <add key="PathCostosMarginales" value="\\coes.org.pe\CMNG_resultados\PROD\" />
    <add key="PathReprocesoCostosMarginales" value="\\172.16.100.37\psse\" />
    <add key="PathReprocesoCostosMarginalesTNA" value="\\172.16.100.37\tna\" />
    <add key="UserFsScada" value="sp7fileuser" />
    <add key="DomainFsScada" value="coes.org.pe" />
    <add key="PasswordFsScada" value="1ntg3S$7C03s#er" />
    <add key="UrlImportacionSicli" value="http://srvcertgart.osinergmin.gob.pe/interosi-coes-ws/remote/importacionSicliWS" />
    <!-- alpha.HDT - Inicio 02/11/2017: Cambio para atender el requerimiento-->
    <add key="UrlRemisionAOsi" value="http://srvcertgart.osinergmin.gob.pe/interosi-coes-ws/remote/remisionCoesWS?wsdl" />
    <!--Intervenciones-->
    <add key="FlagGrabarEveMantto" value="N" />
    <add key="FlagCompletarDatosAplicativos" value="S" />
    <add key="FlagEnviarNotificacionManual" value="S" />


		<!--CTAF Solicitudes-->
		<add key="FlagNotificarEstadosSolicitudes" value="N" />
		<add key="ListaEmailAdminSolicitudesTo" value="ctaf@coes.org.pe" />
		<add key="ListaEmailAdminSolicitudesCC" value="alan.alvarado@movisoft.pe;soporte1@movisoft.pe;jperez@movisoft.pe;raul.castro@coes.org.pe" />

		<!--Registro Integrantes-->
		<add key="SiteRegistroIntegrantes" value="http://localhost:8646/" />
		<add key="admRegistroIntegrantes" value="raul.castro@coes.org.pe" />
		<add key="riTituloEmpresa" value="Es la razón social de la empresa (Agente) así como otra información relevante para el registro." />
		<add key="riTituloTipoIntegrante" value=": Es la clasificación que recibe cada empresa (Agente), según la actividad que le genere mayores ingresos  (Generador, Transmisor, Distribuidor o Usuario Libre)." />
		<add key="riTituloRepresentanteLegal" value="Es la persona que cuenta con las facultades de representación general, procesal y de delegación frente al COES, incluida la facultad de participar con voz y voto en las asambleas del COES a nombre de la empresa (Agente)." />
		<add key="riTituloPersonaContacto" value="Es(son) la(s) persona(s) designada(s) y autorizada(s) por el Representante Legal de la empresa (Agente) para efectuar coordinaciones operativas con el COES, con total validez." />
		<add key="riTituloPersonaResponsable" value="Es el encargado(a) de la empresa (Agente) que registra e ingresa la información de la empresa a través de la página web del Sistema de Registro de Integrantes del COES." />
		<add key="ReporteRechazoCarga" value="D:\ProyectosCOES\RechazoCarga_20210819\COES.MVC.Intranet\Uploads\" />
		<add key="FechaInicioDemandaUsuario" value="01/02/2017" />
		<add key="RutaLogo" value="C:\AplicacionesWeb\Pruebas\IntranetAppTTIE\Content\Images\" />
		<!--PMPO-->
		<add key="PathAppPMPO" value="extranet/pmpopreprod/" />
		<add key="FlagPmpoEnviarNotificacion" value="N" />
		<add key="DirectorioDat" value="\\fs\areas\spr\3-mediano plazo" />
		<!--Medidores-->
		<add key="IdLecturaMedidorGeneracion" value="1" />
		<add key="IdLecturaMedidorGeneracionPrueba" value="200" />
		<add key="FechaCruceHoraOperacion" value="01/08/2019" />
		<add key="FechaInicioDemandaUsuario" value="01/02/2017" />
		<add key="IdFormatoTR" value="93" />
		<add key="IdLecturaTR" value="222" />
		<add key="TiempoConsultaRPF" value="3" />
		<add key="InitialUrl" value="" />
		<add key="admValorizacionDiariaEmail" value="raul.castro@coes.org.pe" />
		<add key="DevolucionAporteArchivos" value="~/devolucionap/Archivos/" />
		<add key="RutaFacturas" value="C:\Proyectos\publicar\Facturas\{0}" />
		<add key="RutaDevoluciones" value="C:\Proyectos\publicar\Devoluciones\{0}" />
		<add key="RutaComunicados" value="D:/Fuentes/git/Framework_SalaPrensa/COES.MVC.Publico/Content/Images/Comunicados/" />
		<add key="ReportePronosticoBarra" value="C:\tmp\\" />
		<add key="ReportePerfilPatron" value="C:\tmp\\" />
		<!--PRODEM 2 - Ruta temporal para los reportes-->
		<add key="ReportePronostico" value="C:\AplicacionesWeb\Pruebas\IntranetAppSic\Areas\PronosticoDemanda\Reportes\" />
		<!--PRODEM 3 - Ruta temporal para los reportes estimador-->
		<add key="ReporteEstimador" value="C:\AplicacionesWeb\Pruebas\IntranetAppSic\Areas\PronosticoDemanda\Reportes\" />
		<add key="ReporteConsultaAporte" value="C:\AplicacionesWeb\Pruebas\IntranetAppSic\Areas\PronosticoDemanda\Reportes\" />
		<add key="ReporteAsociacionBarra" value="C:\AplicacionesWeb\Pruebas\IntranetAppSic\Areas\PronosticoDemanda\Reportes\" />
		<!--Equipamiento-->
		<add key="PathAppEquipamiento" value="FichaTecnica/" />
		<add key="FechaHoraProdVigencia" value="02/02/2021 15:50" />
		<!--Potencia Firme-->
		<add key="PotenciaFirmeFechaFinHistoricoRER" value="02 2023" />
		<!--Potencia Firme Remunerable-->
		<add key="PathPotRemunerable" value="\\172.16.100.37\AplicativoPFR\" />
		<!--Yupana continuo-->
		<add key="PathYupanaContinuo" value="\\172.16.100.37\AplicativoYupanaPreprod\" />
		<add key="DirectorioGAMS" value="C:\GAMS\34" />
		<add key="NumCPUYupanaContinuo" value="3" />
		<add key="NumGamsParaleloYupanaContinuo" value="2" />
		<add key="MinutoMaxGamsYupanaContinuo" value="15" />
		<add key="UsarWebServiceYupanaContinuo" value="S" />
		<add key="ActualizarInsumoYupanaContinuo" value="S" />
		<!--Inicio Mejoras EO-EPO-->
		<add key="FechaAnioVigencia" value="29/12/" />
		<add key="FechaVencimientoVigencia" value="17/05/" />
		<!--Fin Mejoras EO-EPO-->
		<!--Inicio CMgCP_PR07-->
		<add key="FechaVigenciaPR07" value="15/03/2022" />
		<add key="FileSystemMigraciones" value="C:\FileSystemCOES\Ctaf\Files\SDA\" />
		<!--Fin CMgCP_PR07-->
		<!--Mejoras CTAF-->
		<add key="FileSystemSco" value="C:\FileSystemCOES\Ctaf\Files\Sco\" />
		<add key="PermisoSEV" value="20" />
		<add key="FileSystemPortal" value="\\coes.org.pe\archivosapp\WEB\" />
		<add key="FileSystemSev" value="C:\FileSystemCOES\Ctaf\Files\SEV\GSC\AE\" />
		<add key="FechaFinSem1" value="30/06/" />
		<add key="FechaInicioSem2" value="01/07/" />
		<add key="FechaFinSem2" value="31/12/" />
		<add key="UserRecomendaciones" value="233" />
		<add key="CriticidadRec" value="2" />
		<add key="EstadoRec" value="1" />
		<add key="PlazoNotiRec" value="7" />
		<add key="IdPlantilla" value="122" />
		<!--Mejoras Url en Duro-->
		<add key="LogoCoes" value="http://www.coes.org.pe/wcoes/images/logocoes.png" />
		<add key="LogoEmail" value="https://www.coes.org.pe/Portal/Content/Images/logomail.jpg" />
    <add key="LogoEmailIntervenciones" value="https://www.coes.org.pe/Portal/Content/Images/logomail.jpg" />
    <add key="UrlIntranet" value="http://www.coes.org.pe/appintranet/" />
		<add key="UrlPortal" value="https://www.coes.org.pe/Portal/" />
		<add key="UrlFileAppPortal" value="https://www.coes.org.pe/fileapp/" />
		<add key="UrlFileAppInformacionOperativa" value="https://www.coes.org.pe/InformacionOperativaApp/" />
		<add key="UrlFileAppFichaTecnica" value="http://testweb.coes.org.pe/FileAppTest/" />
		<!--Fin Mejoras Url en Duro-->
		<!--PR31 Gaseoso-->
		<add key="PathAppPR31Gaseoso" value="Extranet/PR31Gaseoso/" />
		<add key="FlagPR31EnviarNotificacionAGenerador" value="N" />
		<add key="FlagPR31EnviarNotificacionAUsuarioCOES" value="N" />
		<add key="FlagPR31HoraSistemaManual" value="S" />
		<add key="FlagPR31UsarMedidores" value="S" />
		<add key="FlagPR31ValidarCentralExistente" value="N" />
		<add key="FlagPR31HoraSistemaManualMinPosterior" value="20" />
		<!-- Inicio: IND.PR25.2022 - Cumplimiento diario -->
		<add key="ReporteCumplimiento" value="C:\AplicacionesWeb\Pruebas\IntranetAppSic\Areas\IND\Reportes\" />
		<!-- Fin: IND.PR25.2022 - Cumplimiento diario -->
		<!-- Inicio: IND.PR25.2022 - Insumos de Factor K -->
		<add key="FRCCSSiparcodi" value="27" />
		<add key="FRCCCSiparcodi" value="28" />
		<add key="FRCMRSiparcodi" value="29" />
		<!-- Fin: IND.PR25.2022 - Insumos de Factor K -->
		<!-- DemandaDPO - Repositorio de archivos de archivos raw value="\\172.16.100.37\tna\" -->
		<add key="PathProcesoDemandaRaw" value="C:\tmp\diario\" />
		<!--<add key="PathProcesoDemandaRawCostoMarginal" value="\\testweb\CarpetaTrabajo\CostosMarginales\" />-->
		<add key="PathProcesoDemandaRawCostoMarginal" value="C:\tmp\ieod\CarpetaTrabajo\" />

		<!-- Fin: DemandaDPO -->
		<!--Carga de archivo SFTP Pronóstico RER-->
		<add key="HtrabajoRERUrlWS" value="https://preprod.coes.org.pe/ServicioWebPGR/" />

    <add key="RutaInformesCtaf" value="D:\Hugo\Trabajo\Zeit\Coes\Fuente Principal\Framework\COES.MVC.Intranet\Areas\Eventos\Reporte\Ctaf\Images\" />
    <add key="PlazoMinIPI" value="150" />
    <add key="PlazoMinIF" value="3600" />
    <add key="FormatoSco" value="136" />
    <add key="FileSystemExtranet" value="C:\FileSystemCOES\Ctaf\Files\Extranet\" />
    <add key="AnalisiEvento" value="C:\FileSystem\Analisis\" />
    <add key="MaxCaractAF" value="120" />

    <!--Ubicación de archivos para resarcimientos-->
    <add key="RutaArchivosResarcimientos" value="C:\ArchivosWeb\" />
    <add key="PathIntranetAppResarcimiento" value="Intranet/Resarcimiento/" />

		<!--Ubicación de archivos para resarcimientos-->
		<add key="RutaArchivosResarcimientos" value="C:\ArchivosWeb\" />
		<add key="PathIntranetAppResarcimiento" value="Intranet/Resarcimiento/" />


    <!--Notificación de Registro Empresa-->
    <add key="RegEmprListUsuarioTo" value="amontalva@coes.org.pe" />
    <add key="RegEmprListUsuarioCC" value="giancarlo.velarde@coes.org.pe;camila.ayllon@coes.org.pe;leyla.gomero@coes.org.pe;enaupay@coes.org.pe;rocio.ochoa@coes.org.pe" />
    <!-- Fin -->
    <!--Inicio Ficha Técnica-->
    <add key="FlagFTHoraSistemaManual" value="S" />
    <add key="FlagFTHoraSistemaManualMinPosterior" value="1" />
    <add key="FileServerIntranetCorporativa" value="C:\FileSystemCOES\IntranetCorporativa\" />
    <add key="FileServerFileAppFichaTecnica" value="C:\ArchivosApp\Webapp\Intranet\FichaTecnica_Sustento\" />
    <!--LOCALDIRECTORY DEL FILEAPP-->
    <add key="FileServerExtranetFichaTecnica" value="C:\ArchivosApp\Webapp\Web\FS_Extranet_FichaTecnicaEtapa2\" />

    <!--Fin Ficha Técnica-->

    <!--Notificacion de Credenciales de Tramite Virtual-->

    <add key="EmailCredTramVirtListUsuarioBCC" value="amontalva@coes.org.pe;leyla.gomero@coes.org.pe;webapp@coes.org.pe" />
    <add key="NotificationCredTramVirtListUsuarioBCC" value="amontalva@coes.org.pe;mvelasquez@coes.org.pe;leyla.gomero@coes.org.pe" />

    <!-- Fin -->

    <add key="ListaIndicadorIntegrante" value="amontalva@coes.org.pe;leyla.gomero@coes.org.pe;raul.castro@coes.org.pe;neiver.flores@coes.org.pe;aaron.pineda@coes.org.pe" />
		<!--Mejora File Server-->

    <add key="UserFS" value="webapp" />
    <add key="DomainFS" value="coes.org.pe" />
    <add key="PasswordFS" value="Logws47896" />

    <add key="UserFrecuencia" value="" />
    <add key="DomainFrecuencia" value="coes.org.pe" />
    <add key="PasswordFrecuencia" value="" />

    <!--
    <add key="UserFS" value="webapp_test" />
    <add key="DomainFS" value="coes.org.pe" />
    <add key="PasswordFS" value="coesCOES2023" />

		
    -->

    <!--
    <add key="UserFS" value="webapp_preprod" />
    <add key="DomainFS" value="coes.org.pe" />
    <add key="PasswordFS" value="coesCOES2023" />
    -->

    <add key="Limctaf" value="20" />
    <add key="Limit" value="30" />
    <add key="CodigoCorreocitacion" value="185" />
    <add key="CodigoCorreoinformectaf" value="186" />
    <add key="CodigoCorreoAnalisisFallaAlertaCitacion" value="187" />
    <add key="CodigoCorreoAlertaElaboracionInformeCtaf" value="188" />
    <add key="CodigoCorreoAlertaElaboracionInformeCtafMasDosDiasHabiles" value="189" />
    <add key="CodigoCorreoAlertaElaboracionInformeTecnico" value="190" />
    <add key="CodigoCorreoAlertaElaboracionInformeTecnicoMasDiasHabiles" value="191" />
    <add key="CodigoCorreoAlertaElaboracionInformeTecnicoSemanal" value="192" />
    <add key="RegEmprListUsuarioCC" value="giancarlo.velarde@coes.org.pe;camila.ayllon@coes.org.pe;leyla.gomero@coes.org.pe;enaupay@coes.org.pe;rocio.ochoa@coes.org.pe" />
    <!-- Fin -->

		<add key="CodigoCorreoAlertaDatosFrecuencias" value="312" />
		<add key="CodigoCorreoAlertaEventosFrecuencia" value="313" />
		<add key="CodigoCorreoAlertaReporteSegundosFaltantes" value="314" />
		
    <!-- Inicio CPPA - 2024 -->
    <add key="ReporteCPPA" value="D:\" />
		<add key="RutaArchivosSddpCppa" value="C:\tmp\CPPA\" />
    <add key="ReporteDemanda" value="C:\tmp\CPPA\" />
		<add key="ReporteTransmisores" value="C:\tmp\CPPA\" />
		<!-- Fin CPPA - 2024 -->
    
    <!--Inicio: PrimasRER.2023-->
    <add key="IdPlazoEntregaEDI" value="38" />
    <add key="RutaArchivoSustento" value="C:\SustentoPrimasRER\" />
    <add key="RutaArchivosSddp" value="C:\tmp\PrimasRER\" />
    <!-- Inicio: Power BI -->
    <add key="powerbi:client_id" value="72bb7526-05ac-4d2d-a70d-3c82305ebd51" />
    <add key="powerbi:client_secret" value="8LV6JtM7teritz5GTjcB[r=N@A[ymd33" />
    <add key="powerbi:pbi_user" value="biapp01@coes.org.pe" />
    <add key="powerbi:pbi_password" value="coes.COES.2020!" />

    <add key="powerbi:primarer:egreso_potencia_id" value="82e789f7-3b91-4e41-87fc-55634d7fec09" />
    <add key="powerbi:Primarer:egreso_potencia_mensual_id" value="a764714c-efeb-41d7-a5fd-bea613002c62" />
    <add key="powerbi:Primarer:energia_valorizada_id" value="2ed1b735-30e8-4678-82d7-120297a62630" />
    <add key="powerbi:Primarer:inform_ingresada_id" value="38e024f2-6128-46f9-a802-723cb34e65de" />
    <add key="powerbi:Primarer:ingresos_potencia_id" value="478115ce-494c-4d6d-ad6a-cb7003f52db8" />
    <add key="powerbi:Primarer:ingreso_tarifario_transmisoras_id" value="f2cf991c-ca49-4397-8ed6-54e911d887c5" />
    <add key="powerbi:Primarer:ingreso_peaje_id" value="390d3a6d-d611-4347-abb3-a5950f29226d" />
    <add key="powerbi:Primarer:ingreso_tarifario_id" value="5acb65ea-abd5-476e-8842-b70894c1417a" />
    <add key="powerbi:Primarer:potencia_firme_remunerable_id" value="33c3016c-9aa9-4f85-a0f5-e45febd3d86a" />
    <add key="powerbi:Primarer:saldos_rentas_ingreso_tarifario_id" value="a739870c-4ec2-4b1a-a414-0763d52989de" />
    <!-- Fin: Power BI -->
    <!--Fin: PrimasRER.2023-->

	  <!-- PROYECTO CAMPANIA -->
	  <add key="CAM_FileServerPath" value="campanias\" />
	  <add key="CAM_AllowedExtensions" value=" jpg,jpeg,gif,png,zip,rar,kmz,pdf,doc,docx,xls,xlsx,ppt,pptx,csv,msg\" />
	  <!-- FIN PROYECTO CAMPANIA -->

    <!--SCADA-->
    <add key="CorreosSCADA" value="jose.delgado@coes.org.pe" />
	<add key="RutaBaseArchivoResarcimiento" value="D:\Movisoft\COES\CarpetaTrabajo\" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <sessionState timeout="720" mode="InProc" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
    </authentication>
    <httpRuntime targetFramework="4.5" maxRequestLength="104857600" executionTimeout="3600" enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
        <!--50MB-->
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
		<!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
     --> <remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISeguridadServicio" openTimeout="00:03:00" sendTimeout="00:03:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServicioCloud" closeTimeout="01:59:00" openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00" maxReceivedMessageSize="2147483647" />
        <binding name="ServicioSoap" />
        <binding name="BasicHttpBinding_ICostoOportunidadServicio" closeTimeout="01:59:00" openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICostoMarginalServicio" closeTimeout="01:59:00" openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPotenciaFirmeServicio" />
        <binding name="BasicHttpBinding_IYupanaContinuoServicio" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.coes.org.pe/encuestasd/Servicio.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioSoap" contract="DirectorioServicio.ServicioSoap" name="ServicioSoap" />
		<endpoint address="http://pruebascloud.coes.org.pe/wsSeguridadTest/SeguridadServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadServicio" contract="SeguridadServicio.ISeguridadServicio" name="BasicHttpBinding_ISeguridadServicio" />
		<!--<endpoint address="http://appserver.coes.org.pe/wsSeguridad/SeguridadServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadServicio" contract="SeguridadServicio.ISeguridadServicio" name="BasicHttpBinding_ISeguridadServicio" />
      -->
		<endpoint address="http://www.coes.org.pe/ServicioPr21/servicios/ServicioCloud.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCloud" contract="ServicioCloud.IServicioCloud" name="BasicHttpBinding_IServicioCloud" />
      <endpoint address="http://localhost/serviciopr22/CostoOportunidadServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICostoOportunidadServicio" contract="CostoOportunidadService.ICostoOportunidadServicio" name="BasicHttpBinding_ICostoOportunidadServicio" />
      <endpoint address="http://10.100.210.33/coes.webservice.costomarginal.preprod.2/CostoMarginalServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICostoMarginalServicio" contract="ServiceReferenceCostosMarginales.ICostoMarginalServicio" name="BasicHttpBinding_ICostoMarginalServicio" />
      <endpoint address="http://10.100.210.33/coes.webservice.potenciafirme/PotenciaFirmeServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPotenciaFirmeServicio" contract="ServiceReferencePotenciaFirme.IPotenciaFirmeServicio" name="BasicHttpBinding_IPotenciaFirmeServicio" />
      <endpoint address="http://10.100.251.83/coes.webservice.yupanacontinuo/YupanaContinuoServicio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IYupanaContinuoServicio" contract="ServiceReferenceYupanaContinuo.IYupanaContinuoServicio" name="BasicHttpBinding_IYupanaContinuoServicio" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ClientModel" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>

<!--
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
-->
</configuration>