
<link href="~/Content/Css/organizacion.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consulta Mantenimientos";
}
<div class="container">
 
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <img src="~/Content/Images/Banners/CaracteristicasSEIN.jpg" alt="" />
                    <h1>Consulta de Mantenimientos</h1>
                    <div><a>Características del SEIN - Base de Datos</a></div>

                </div>
            </div>

            <br />
            <iframe id="ifResult" width="100%" height="920px" src="http://sicoes.coes.org.pe/apppublico/Interconexiones/Reportes/IndexHistorico"></iframe>

</div>

<div style="clear:both"></div>
