
<link href="~/Content/Css/organizacion.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Equipamiento del SEIN";
}
<link href="~/Content/Css/organizacion.css" rel="stylesheet" />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="jcarousel-wrapper">
                    <div class="jcarousel">
                        <img src="~/Content/Images/Banners/CaracteristicasSEIN.jpg" alt="" />
                        <h1>Equipamiento del SEIN</h1>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <iframe width="100%" height="970px" src="https://www.coes.org.pe/sic/sicoesd/equipamiento/equipamiento.asp?empresa=4&tequipo=2&nomteq=GENERADOR%20HIDROELECTRICO"></iframe>
            </div><div class="ms-clear"></div>

       

        <div class="col-md-2">
            <div class="widget see-also">
                <!--cuadro narnj-->
                <h1>Base de Datos</h1>
                <ul class="list">
                    <li><span><a href="/Operacion/CaractSEIN/DespachoProgramadoDiario">Despacho Programado Diarios</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/DespachoProgramadoSemanal">Despacho Programado Semanal</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/CostoVariables">Costos Variables</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/DespachoEjecutadoDiario">Despacho Ejecutado Diario</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/ConsultaMantenimientos">Consulta de Mantenimientos</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/PotenciaMediaHorariaIndisponible">Potencia Media Horaria Indisponible de Unidades de Generación, Enlaces de Transmisión y Subestaciones</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/MedidoresGeneracion">Medidores de Generación</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/EstadisticaTransferencias">Estadística de Transferencias</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/ConsultaFrecuenciaDiariaNTCSE">Consulta de Frecuencia Diaria (NTCSE)</a></span></li>
                    <li><span><a href="/Operacion/CaractSEIN/BaseDatos">Características del SEIN</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="clear:both"></div>
