<h1>Bases de Datos</h1>
<ul>
    <li>
        <a href="~/Operacion/CaractSEIN/DespachoProgramadoDiario">Despacho Programado Diario</a>
    </li>
    <li>
        <a href="~/Operacion/CaractSEIN/DespachoProgramadoSemanal">Despacho Programado Semanal</a>
    </li>
    <li>
        <a href="~/Operacion/CaractSEIN/CostoVariables">Costos Variables</a>
    </li>
    <!--<li>
        <a href="~/Operacion/costocombustible/index">Costos de Combustibles</a>
    </li>-->
    <li>
        <a href="~/Operacion/CaractSEIN/DespachoEjecutadoDiario">Despacho Ejecutado Diario</a>
    </li>
    <li>
        <a href="~/eventos/mantenimiento/">Consulta de Mantenimientos</a>
    </li>
    <li style="text-indent:0; padding-left:30px">
        <a href="~/Operacion/CaractSEIN/PotenciaMediaHorariaIndisponible">Potencia Media Horaria Indisponible de Unidades de Generación, Enlaces de Transmisión y Subestaciones</a>
    </li>
    <li>
        <a href="~/mediciones/medidoresgeneracion">Medidores de Generación</a>
    </li>
    <li>
        <a href="~/Operacion/Transferencias/CostosMarginales">Costos Marginales</a>
    </li>
    <li>
        <a href="~/Operacion/CaractSEIN/ConsultaFrecuenciaDiariaNTCSE">Consulta de Frecuencia Diaria (NTCSE)</a>
    </li>
</ul>