@model COES.MVC.Intranet.Areas.Eventos.Models.AuditoriaModel

<table class="tabla-formulario">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Operación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAuditoria)
        { 
            <tr>
                <td>@item.Lastuser</td>
                <td>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm:ss"))</td>
                <td>@item.Desoperacion</td>
            </tr>
        }
    </tbody>
</table>
