@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Servicio de Regulación de Frecuencia";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Información declarada por los participantes</h1>
        <span>Mercado Mayorista de Electricidad</span>
    </div>
    <img src="~/Content/Images/Banners/Informes.jpg" alt="Evaluacion Anual" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Mercado%20Mayorista%2FVisualización%20de%20Datos%2FInformación%20declarada%20por%20los%20participantes%2F" })
</div>

<div style="clear:both"></div>
