@model COES.MVC.Publico.Areas.MercadoMayorista.Models.ListaParticipantesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado de Participantes MME";
}

<script src="~/Areas/MercadoMayorista/Content/Scripts/participantes.js"></script>


@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Listado de Participantes</h1>
            <span>Mercado Mayorista de Electricidad</span>
        </div>
        <img src="~/Content/Images/Banners/Informes.jpg" alt="Listado de Participantes" />
    </div>*@

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Informes.jpg)">
    @*<img src="~/Content/Images/Banners/CaracteristicasSEIN.jpg" alt="Contáctenos" />*@
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            <div class="coes-box mb-5">
                <div class="coes-box--header coes-box--header--center-aligned">
                    <h3 class="coes-box--title">
                        Listado de Participantes
                    </h3>
                </div>

                <div class="coes-box--content container">

                    <div class="coes-filters d-flex">
                        <form action="" class="w-100">
                            <div class="row align-items-end">
                          
                                <div class="col col-md-3">
                                    <div class="coes-form-item">
                                        <label class="d-block" for="">Tipo de participante</label>
                                        <select name="filter-1" id="cbTipoEmpresa">
                                            <option value="2">DISTRIBUCIÓN</option>
                                            <option value="3">GENERACIÓN</option>
                                            <option value="4">GRAN USUARIO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-md-3">
                                    <div class="coes-form-item">
                                        <input type="button" id="btnConsultar" class="coes-form-item--submit" value="Buscar">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="">

                @*<div class="d-flex mb-3">
            <span class="me-2">Descargar: </span>
            <button class="button-icon button-icon-file"></button>
            <button class="button-icon button-icon-zip"></button>
        </div>*@

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody id="listado">
                            <tr>
                                <th>Nro</th>
                                <th>Empresa</th>
                                <th>Tipo de Participante</th>
                                <th>F. de Inicio de participación</th>
                                <th>F. de retiro</th>
                                <th>Estado</th>
                                <th>Actualización</th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="paginado" id="paginado">
                </div>
            </div>
        </div><!-- /.col-9 -->

    </div><!-- /.row -->
</div><!-- /.container-->

<div style="clear:both"></div>
