<script type="text/javascript">

    $(function () {
        $('#cbUbicacion').multipleSelect({
            width: '150px',
            filter: true,
            onClose: function (view) {
                cargarEquipo();
            }

        });

        $('#cbUbicacion').multipleSelect('checkAll');
    });

</script>

<select id="cbUbicacion" name="cbUbicacion" multiple="multiple">
    @if (Model.ListaAreas.Count > 0)
    {

        foreach (var item in Model.ListaAreas)
        {
            <option value="@item.Areacodi">@item.Areanomb </option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>



<input type="hidden" id="hfUbicacion" name="hfUbicacion" />
