@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel

<div class="content-botonera">
    <table cellpadding="5" cellspacing="0" border="0">
        <tr>
            <td class="content-action">
                <a href="#" id="btnFilter">
                    <div class="content-item-action">
                        <img src="~/Areas/IEOD/Content/Images/filter.jpg" style="width:30px; height:30px" /><br />
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="content-botonera">
    <table id="tbFilter" cellpadding="10" cellspacing="0" border="0" style="display:none;">
        <tr>
            <td class="content-action">
                <a href="#" id="btnFilterFechas">
                    <div class="content-item-action">
                        <input type="text" id="txtFec1" value="@Model.FechaInicio" style="width:110px;" />
                    </div>
                </a>
            </td>
            @if (Model.NroReporte != "IndexReporteCaudalesCentralHidroelectrica" && Model.NroReporte != "IndexDespachoRegistrado" && Model.NroReporte != "IndexReporteDemandaPorArea" && Model.NroReporte != "IndexReporteDemandaGrandesUsuarios"
                && Model.NroReporte != "IndexReporteProduccionEnergiaDiaria" 
                && Model.NroReporte != "IndexReporteRecursosEnergeticosDemandaSEIN" && Model.NroReporte != "IndexReporteGeneracionDelSEIN" && Model.NroReporte != "IndexReporteReservaFriaSistema" && Model.NroReporte != "IndexReporteVertimientosPeriodoVolumen"
                && Model.NroReporte != "IndexReporteHorariosCaudalVolumenCentralHidroelectrica" && Model.NroReporte != "IndexReporteCombustibleConsumidoUnidadTermoelectrica" && Model.NroReporte != "IndexReporteConsumoYPresionDiarioUnidadTermoelectrica"
                && Model.NroReporte != "IndexReporteRegistoEnergia30Unidades" && Model.NroReporte != "IndexReporteCalorUtilGeneracionProceso" && Model.NroReporte != "IndexReportePALineasTransmision" && Model.NroReporte != "IndexReporteTensionBarrasSEIN"
                && Model.NroReporte != "IndexReporteVariacionesSostenidasSubitas" && Model.NroReporte != "IndexReporteDesviacionesDemandaPronostico" && Model.NroReporte != "IndexReporteDesviacionesProduccionUG"
                && Model.NroReporte != "IndexReporteAsignacionRRPFyRRSF" && Model.NroReporte != "IndexReporteCostoMarginalesCortoPlazo" && Model.NroReporte != "IndexReporteRegistroFlujosEnlacesInternacionales"
                && Model.NroReporte != "IndexReporteCostoTotalOperacionEjecutada" && Model.NroReporte != "IndexReporteAsignacionRRPFyRRSF" && Model.NroReporte != "IndexReporteDisponibilidadGas" && Model.NroReporte != "IndexReporteQuemaGasNoEmpleado"
                && Model.NroReporte != "IndexRequerimientosPropios")
            {
                <td class="content-action">
                    <a href="#" id="btnFilterFechas">
                        <div class="content-item-action">
                            <input type="text" id="txtFec2" value="@Model.FechaFin" style="width:110px;" />
                        </div>
                    </a>
                </td>
            }
            else 
            {
                <td class="content-action" style="display: none">
                    <a href="#" id="btnFilterFechas">
                        <div class="content-item-action">
                            <input type="text" id="txtFec2" value="@Model.FechaFin" style="width:110px;" />
                        </div>
                    </a>
                </td>
            }
            <td class="content-action">
                <a href="#" id="btnSearch">
                    <div class="content-item-action">
                        <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Buscar" />
                    </div>
                </a>
            </td>
            <td class="content-action">
                <a href="#" id="btnExportExcel">
                    <div class="content-item-action">
                        <img src="~/Content/Images/ExportExcel.png" style="width:20px; height:20px" title="Exportar Excel" /><br />
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>