<select id="cbCentral" name="cbCentral" multiple="multiple" style="width: 250px">

    @if (Model.ListaCentrales.Count > 0)
    {
        foreach (var item in Model.ListaCentrales)
        {
            <option value="@item.Equicodi">@item.Equinomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }

</select>

<input type="hidden" id="hfCentral" name="hfCentral" />
