<script type="text/javascript">
    
    //$(function () {
    //    $('#cbModosOpeGrupos').change(function () {
    //        //limpiarBarra();
    //        //$('#listado').html("");
    //        cargarModosOpeGrupos();
    //    });

    //});

</script>

<select id="cbModosOpeGrupos" style="width:150px;">
    @if (Model.ListModosOpeGrupos.Count > 0)
    {
        foreach (var item in Model.ListModosOpeGrupos)
        {
            <option value="@item.IdModoOpeOGrupo">@item.Valor</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>
<input type="hidden" id="hfModo" name="hfModo" />