<style>
    .header-menu {
        height: 40px;
        width: 50px;
        float: left;
    }
    .header-menu-item {
        width: auto;
        float: right;
        margin-left: 10px;
        color: #fff;
        line-height: 40px;
    }
    div.dataTables_filter {
        float: left;
    }
</style>
<div class="header-menu">
    <div class="header-action-item">
        <a href="#" id="openMenuPR5">
            <img src="~/Areas/IEOD/Content/images/home.png" style="padding-top:7px; width:30px" />
        </a>
        <div class="acceso-directo-header" id="contenedorMenuPR5" style="width: 1200px; margin-left: 20px; display: none;">
            <div class="acceso-directo-header-cnt" id="contenidoMenuPR5" style="color: #245C86; padding: 10px; width: 1200px; max-height: 650px;">
                <div id="MenuID"></div>
            </div>
            <div class="acceso-directo-header-link">
                <a href="#">Anexo A - @Model.FechaInicio</a>
                <a href="#" id="closeMenuPR5" style="float:right">X</a>
            </div>
        </div>
    </div>
</div>

<script>
    var controlador = siteRoot + 'Migraciones/AnexoA/'

    $(document).ready(function () {
        $('#openMenuPR5').click(function () {
            $('#contenedorMenuPR5').slideToggle("slow");
        });
    });
    $('#closeMenuPR5').click(function () {
        $('#contenedorMenuPR5').css("display", "none");
    });

    function fnClick(x) {
       document.location.href = controlador + x; 
    }
</script>
