<script type="text/javascript">

    $(function () {
        $('#cbClasificacion').multipleSelect({
            width: '150px',
            filter: true
            //onClose: function (view) {
            //    cargarTipoRecurso();
            //}
        });
        $('#cbClasificacion').multipleSelect('checkAll');
    });

</script>



<select id="cbClasificacion" name="cbClasificacion" style="width:250px;" multiple="multiple">
    @if (Model.ListaClasificacion.Count > 0)
    {

        foreach (var item in Model.ListaClasificacion)
        {
            <option value="@item.Tipogrupocodi">@item.Tipogruponomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfClasificacion" name="hfClasificacion" />