<select id="cbGPS" name="cbGPS" style="width:250px;" multiple="multiple">
    @if (Model.ListaGps.Count > 0)
    {
        foreach (var item in Model.ListaGps)
        {
            <option value="@item.Gpscodi">@item.Nombre</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfGPS" name="hfGPS" />