<script type="text/javascript">
    $(function () {
        $('#cbSubEstacion').multipleSelect({
            width: '150px',
            filter: true,
            onClose: function (view) {
                cargarLista();
            }
        });
        $('#cbSubEstacion').multipleSelect('checkAll');
    });

</script>

<select id="cbSubEstacion" name="cbSubEstacion" style="width:250px;" multiple="multiple">
    @if (Model.ListaSubEstacion.Count > 0)
    {

        foreach (var item in Model.ListaSubEstacion)
        {
            <option value="@item.Areacodi">@item.Areanomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfSubEstacion" name="hfSubEstacion" />