<script type="text/javascript">

    //$(function () {
    //    $('#cbTipoCombustible').multipleSelect({
    //        width: '150px',
    //        filter: true
    //        //,
    //        //onClose: function (view) {
    //        //    //cargarModo();
    //        //}
    //    });
    //    $('#cbTipoCombustible').multipleSelect('checkAll');
    //});
   

</script>



<select id="cbTipoCombustible" name="cbTipoCombustible" style="width:250px;" multiple="multiple">
    @if (Model.ListaCombustibles.Count > 0)
    {

        foreach (var item in Model.ListaCombustibles)
        {
            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfTipoCombustible" name="hfTipoCombustible" />