
<select id="cbAreaOperativa" name="cbAreaOperativa" style="width:250px;" multiple="multiple">
    @if (Model.ListaAreaOperativa.Count > 0)
    {
        foreach (var item in Model.ListaAreaOperativa)
        {
            <option value="@item.Ptomedicodi">@item.Ptomedibarranomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfAreaOperativa" name="hfAreaOperativa" />