<script type="text/javascript">

    $(function () {
        $('#cbSubEstacion').multipleSelect({
            width: '250px',
            filter: true,
            onClose: function (view) {
                buscar();
           }
        });

        $('#cbSubEstacion').multipleSelect('checkAll');
    });

</script>



<select id="cbSubEstacion" name="cbSubEstacion" style="width:250px;" multiple="multiple">
    @if (Model.ListaSubestacion.Count > 0)
    {

        foreach (var item in Model.ListaSubestacion)
        {
            <option value="@item.Areacodi">@item.Areanomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfSubEstacion" name="hfSubEstacion" />
