<div id="reporte" style="overflow: auto; width: 1665px; max-height: 800px; margin: 0 auto;">
    @Html.Raw(Model.Resultado)
</div>

<br />

<div id="reporte2" style=" overflow: auto; width: 1665px; max-height: 800px; margin: 0 auto;">
    @Html.Raw(Model.Resultado2)
</div>