
<select id="cbTipoRecurso" name="cbTipoRecurso" style="width:250px;">
    @if (Model.ListaPotenciaxTipoRecurso.Count > 0)
    {
        foreach (var item in Model.ListaPotenciaxTipoRecurso)
        {
            <option value="@item.Fenergcodi">@item.Fenergnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfRecurso" name="hfRecurso" />