
<select id="cbTipoGeneracion" name="IdTipoGeneracion" multiple="multiple">

    @if (Model.ListTipogeneracion.Count > 0)
    {
        foreach (var item in Model.ListTipogeneracion)
        {
            <option value="@item.Tgenercodi">@item.Tgenernomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfTipoGeneracion" name="hfTipoGeneracion" />
