
<select id="cbUbicacion" name="cbUbicacion" multiple="multiple">
    @if (Model.ListaUbicacion.Count > 0)
    {

        foreach (var item in Model.ListaUbicacion)
        {
            <option value="@item.Areacodi">@item.Areanomb </option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>



<input type="hidden" id="hfUbicacion" name="hfUbicacion" />