@{
    ViewBag.Title = "Generar Reportes IEOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/IEOD/Content/Scripts/anexoa/generarieod.js?id=1"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Generar Reportes IEOD</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.Fecha" />
                </td>
                <td>
                    <input type="button" id="btnGenerar" value="Generar IEOD" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="table-list" id="listado" style="float:left;"></div>
    </div>
</div>
