@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/costoTotalOperacion.js?id=1"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>

<script src="~/Areas/Migraciones/Content/Scripts/anexoa/cargarmenupr5.js?id=1.1"></script>
@Html.Partial("CargarMenu")
<div class="form-title">
    <div style="width:auto" class="content-titulo">Reporte de Costo Total de Operación Ejecutada (@Model.FechaInicio)</div>
    @Html.Partial("CargarMenuFilter")
</div>

<div class="content-hijo" id="mainLayout">
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>

    <div id="idGraficoContainer" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto; display: none;"></div>

    <div id="idVistaGrafica" style="height: 450px; width: 1250px; margin: 0 auto;"></div>

    <div style="clear:both; height:30px"></div>
</div>
<input type="hidden" id="txtFecha" name="txtFecha" value="@Model.FechaInicio" />