@if (Model.ListaSelect.Count > 0)
{
    <table class="content-tabla-search" align="center">
        <tr>
            <td style="width:82px">Version:</td>
            <td>
                <select id="@Model.Resultado" name="@Model.Resultado" style="width:110px;">

                    @foreach (var item in Model.ListaSelect)
                    {
                        <option value="@item.id">@item.text</option>
                    }
                </select>
            </td>
        </tr>
    </table>
}
