@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Anexo A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<input type="hidden" id="txtTipreporte" value="@Model.NroReporte" />
<div class="form-title">
    <div class="content-titulo"> Informes IDCOS </div>
</div>
<div class="content-hijo" id="mainLayout" style="padding: 0px;">
    <button id="btnPopup" hidden="hidden"></button>

    <div id="winMenu" style="display:none;">
        @Html.Partial("CargarMenu")
    </div>

    <div id="winAnexoA" style="display:none;">
        <span class="button b-close"><span>X</span></span>
        <a href="#" id="btnGenerar" title="Generar Version" style=" text-decoration: none; font-size: 9px; color: #245C86; ">
            <img src="~/Areas/IEOD/Content/images/setting-icon.png" style="width:25px" />Generar IDCOS
        </a>
        <div class="search-content">
            <table class="content-tabla-search" align="center">
                <tr>
                    <td>Fecha Inicio:</td>
                    <td><input type="text" id="txtFecha" value="@Model.FechaInicio" /></td>
                </tr>
                <tr><td colspan="2"><div style='clear: both; height: 10px'></div></td></tr>
                <tr id="trVersion">
                    <td colspan="2"><div id="cbVersion"></div></td>
                </tr>
                <tr><td colspan="2"><div style='clear: both; height: 10px'></div></td></tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="btnVerA" value="Ver" />
                        <input type="button" id="btnExportarA" value="Exportar" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="~/Areas/Migraciones/Content/Scripts/anexoa/menuanexo.js?v=1.2"></script>