@{
    ViewBag.Title = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Areas/Account/Content/Css/css.css" rel="stylesheet" />
    <script src="~/Areas/Account/Content/Scripts/cambiarpassword.js"></script>
}

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Cambiar contraseña de usuario</div>
<div class="home-content" style="line-height:20px">
    <div id="divRegistro">
        <div id="mensaje" class="action-message">Por favor complete los datos solicitados.</div>
        <form id="frmCambiarPassword" name="frmCambiarPassword">

            <table class="table-form-content">
                <tr>
                    <td class="label">Ingrese contraseña actual:</td>
                    <td>
                        <input type="password" id="txtPassword" name="password" />
                    </td>
                </tr>
                <tr><td style="border: 0px;"><br /></td></tr>
                <tr>
                    <td class="label">Ingrese nueva contraseña:</td>
                    <td>
                        <input type="password" id="txtPasswordNuevo" name="PasswordNuevo" /> (Mínimo 6 caracteres)
                    </td>
                </tr>
                <tr>
                    <td class="label">Confirmar nueva contraseña:</td>
                    <td>
                        <input type="password" id="txtPasswordConfirmacion" name="PasswordConfirmacion" /> (Reingrese contraseña)
                    </td>
                </tr>
            </table>
        </form>
        <div style="width:200px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" id="btnActualizar" value="Actualizar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

    </div>
    <div id="divResultado" style="display:none">
        <div class="action-exito">Los datos fueron actualizados correctamente.</div>
        <br />
        <div id="divDatosEnviados">
        </div>
    </div>
    <br />
</div> 