@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.AjusteEmpresaModel
@{
    ViewBag.Title = "Parametro de Empresas - " ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información de ajuste empresa" }, { "sAccion", "Actualizar" } })
</div>