@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.AjusteEmpresaModel
@{
    ViewBag.Title = "Corregir error en la información Ajuste por Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la información Ajuste por Empresa" }, { "sAccion", "Grabar" } })
</div>