@model COES.MVC.Intranet.Areas.Siosein.Models.GestorModel

<h5>Log de Eventos</h5>

<span class="col-lg-2" style="font-size: 10.5px; font-family: sans-serif; border-bottom: 1px solid #e7eaec;">FECHA</span><span class="col-lg-2" style="font-size: 11px; font-family: sans-serif; border-bottom: 1px solid #e7eaec;">USUARIO</span><span class="col-lg-6" style="font-size: 11px; font-family: sans-serif; border-bottom: 1px solid #e7eaec;">EVENTO</span>

@foreach (var item in Model.ListaLog)
{
    <span class="col-lg-2" style="font-size: 10.5px;font-family: sans-serif;">@item.LogFecha</span><span class="col-lg-2" style="font-size: 11px;font-family: sans-serif;">@item.LogUser</span><span class="col-lg-6" style="font-size: 11px;font-family: sans-serif;">@item.LogDesc</span>


}