@model COES.MVC.Intranet.Areas.Siosein.Models.GestorModel
<ul style="padding: 15px;list-style-type:circle;">

    @foreach (var item in Model.ListaCarpetas)
    {
        <li>
            <a href="Javascript:ListarxCarpeta(@item.Bandcodi)">
                <i class="fa fa-folder" style="color:#F8C63D;"></i> @item.Bandnombre<span class="pull-right">@item.Cantidad</span>
            </a>
        </li>
    }

</ul>