@model COES.MVC.Intranet.Areas.Siosein.Models.GestorModel
@{
    int idMsg = Model.MsgCodi;
    var mensaje = Model.MsgContenido;
    var correoD = Model.MsgFrom;
    var correoP = Model.MsgTo;
    var asuntoA = Model.MsgAsunto;
    string fechaM = Convert.ToString(Model.MsgFecha);
    int tipo = (int)Session["TIPO_LISTA"];
    int admin = (int)Session["Es-Admin"];
}

<style>
    .note-toolbar .panel-heading {
        display: none !important;
    }

    .note-editor .panel-heading {
        display: none !important;
    }
</style>

<div class="mail-box-header">
    <div class="pull-right tooltip-demo">
        @if (tipo == 1)
        {
            <a href="JavaScript:Redactar(@idMsg,1);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Responder"><i class="fa fa-reply"></i> Responder</a>
            if (admin == 1)
            {
                <a href="JavaScript:Redactar(@idMsg,2);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Asignar"><i class="fa fa-retweet"></i> Asignar</a>

            }

            <a href="JavaScript:Volver(@tipo);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Volver"><i class="fa fa-undo"></i> Volver</a>
        }
        else
        {
            <a href="JavaScript:Volver(@tipo);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Volver"><i class="fa fa-reply"></i> Volver</a>
        }
    </div>
    <h2>
        Mensaje
    </h2>
    <div class="mail-tools tooltip-demo m-t-md">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-lg-1 control-label">Asunto:</label>
                <div class="col-lg-9">@asuntoA</div>
            </div>

            @if (true)
            {
                <div class="form-group">
                    <label class="col-lg-1 control-label">De:</label>
                    <div class="col-lg-9">@correoD</div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="col-lg-1 control-label">Para:</label>
                    <div class="col-lg-9">@correoP</div>
                </div>
            }

            <div class="form-group">
                <label class="col-lg-1 control-label">Contenido:</label>
                <div class="col-lg-9">
                    <textarea class="summernote" id="ContentMsgDet" >
                         @mensaje
                        </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
