<script>
    $(document).ready(function () {

        var controlador = siteRoot + 'Siosein/Gestor/';


        $.ajax({
            type: 'POST',
            url: controlador + "ListarObservaciones",
            data: {
                id: 1/*,
                    nropagina: 1*/
            },

            success: function (evt) {
                /*$('#listadoMensajes').hide();
                $('#contenido').css("width", $('#mainLayout').width() + "px");*/
                $('#contenidoInt').html(evt);
                /* pintarPaginado(1, 1);*/
                table = $('#reporte').dataTable({
                    "scrollY": 500,
                    //"scrollX": true,
                    "sDom": 't',
                    "ordering": false,
                    "iDisplayLength": 40
                });
            },
            error: function (ex) {
                /* alert(ex);*/
                alert("Ha ocurrido un error");
            }
        });




        $('.menuList').click(function () {
            $('.active').removeClass('active');
            $(this).addClass('active');
        });

    });

</script>



<div class="content-tabla">
    <div style="clear:both; height:5px"></div>

    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-content mailbox-content">
                <div class="file-manager">
                    
                    <div class="space-25"></div>
                    <h5>OBSERVACIONES</h5>
                    <ul class="folder-list m-b-md" style="padding: 0">
                        <li class="menuList active"><a href="JavaScript:ListarRecibidos(1);"> <i class="fa fa-inbox "></i> Bandeja de Entrada <span class="label label-warning pull-right"></span> </a></li>
                        <li class="menuList"><a href="JavaScript:ListarEnviados(2);"> <i class="fa fa-check-square-o"></i> Atendidas</a></li>
                        <li class="menuList"><a href="JavaScript:ListarEnviados(2);"> <i class="fa fa-trash-o"></i> Eliminadas</a></li>


                    </ul>
                   
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 animated fadeInRight">

        <!--<div class=" col-lg-10" id="contenido" style="padding-left: 0px !important;padding-right: 0px !important; width:70% !important;">-->
        <div class=" col-lg-12" id="contenidoInt" style="padding-left: 0px !important;padding-right: 0px !important;">




        </div>
        
        <div class="col-lg-12" id="footer-log" style=" border:1px solid #e7eaec; ">


        </div>

    </div>


</div>
