@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Importacion.FiltroListadoPeriodosImportacionModel
@{
    ViewBag.Title = "Información SICLI proveniente de Osinergmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Hoja de estilos-->
<link href="~/Areas/IntercambioOsinergmin/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">@ViewBag.Title</div>
</div>

<div class="content-hijo">
    <div class="search-content">
        <table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:95%;">
                    @Html.LabelFor(model => model.Anio, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.Anio, Model.Anios, " --Años-- ", new { @class = "form-control form-control-half" })
                </td>
                <td style="width:5%;">
                    <input type="button" value="Nuevo" id="crearSubmit" class="form-action" />
                </td>
            </tr>
        </table>
    </div>
    <div id="mensaje"></div>
    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>
</div>

<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet"/>

<script src="~/Areas/IntercambioOsinergmin/Content/Scripts/importacionesIndex.js"></script>