@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
@{
    ViewBag.Title = "Potencia de su Autoproducción";
    Layout = "~/Views/Shared/ViewFormato.cshtml";
}

<script src="~/Areas/IEOD/Content/Scripts/potenciaautoprod.js?v=2.0.5"></script>

<script src="~/Content/Scripts/highstock.js"></script>

<div class="form-title_intranet">
    <div class="content-titulo">Potencia Activa y Reactiva de su Autoproducción</div>
</div>

<div id="cargaDatos">
    <input type="hidden" id="hfFormato1" value="@Model.IdFormato" />

    <div id="mensajePrincipal" class="action-message" style="display: none; margin: 0; margin-bottom: 10px">Por favor seleccione empresa y la fecha.</div>

    <div id="viewHojaFormato">

    </div>
</div>

<div id="validaciones" style="z-index:9999999999;" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="enviosanteriores" style="z-index:9999999998;" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<div class="panel-ieod" id="idIeod">
</div>

<div id="leyenda" style="z-index:9999999999;" class="popup_app">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Leyenda</span></div>
    <div id="idLeyenda" style="height:370px;">
    </div>
</div>