@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Log de Eventos</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        Fecha : <input type="text" id="txtFechaLog" value="@ViewBag.Fecha" />
        <input type="button" id="btnBuscarLogProceso" value="Consultar" />
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="PaginadoLogProceso"></div>
        </div>
        <div style="clear:both; margin-bottom:10px"></div>
        <div class="table-list" id="ListadoLogProceso"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>
</div>

<script src="~/Content/Scripts/jquery.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/popup.js"></script>
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.min.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/LogProceso.js"></script>
