select {
    width: 160px;
}
table {
    width: 100%;
    vertical-align: top;
}

td {
    vertical-align: top;
}
#Solicodiretifechainicio {
    width: 150px;
}

#Solicodiretifechafin {
    width: 150px;
}

.etiqueta-vertical {
    font-weight: bold;
    color: #797989;
}

.etiqueta-horizontal {
    background-color: #f2f4f3;
}
.baja {
    background-color: #FFDDDD !important;
}
.codvtp {
    font-weight: bold;
}
label[for=CLICODI2] {
    position: absolute;
    margin-top: 10px;
}

label[for=BARRCODI2] {
    position: absolute;
    margin-top: 7px;
}