@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.RelacionAreasModel

<div style="border: 1px solid #D9E8F3; border-radius: 1em;">
    <div style="display: table-row">
        <div style="display: table; border-collapse: separate;">
            <div style=" display: table-row;">
                <div class="popup-text" style="display: table-cell; padding: 15px;">
                    Nombre:
                </div>
                <div style="display: table-cell">
                    <input id="txtSubNombre" type="text" disabled/>
                </div>

            </div>

        </div>
    </div>
    <div style="display: table-row">
        <div class="v-panel" style="padding: 15px;">
            <div id="dbBarrasSeleccionados" data-seleccionadosbarra="@Model.BarrasSeleccionados" style="width: 420px; float: left;">
                <table id="tbABarra" class="pretty tabla-icono">
                    <thead>
                        <tr>
                            <th colspan="6">SELECCIONADOS</th>
                        </tr>
                        <tr>
                            <th>Subestacion</th>
                            <th>Barra</th>
                            <th>Grupo</th>
                            <th></th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div style="float: left; padding: 5px;">

            </div>
            <div id="dbBarrasDisponibles" data-disponiblesbarra="@Model.BarrasDisponibles" style="width: 420px; float: left;">
                <table id="tbBBarra" class="pretty tabla-icono">
                    <thead>
                        <tr>
                            <th colspan="6">DISPONIBLES</th>
                        </tr>
                        <tr>
                            <th>Subestacion</th>
                            <th>Barra</th>
                            <th>Grupo</th>
                            <th></th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="display: table-row">
        <div style="padding: 10px; float: right;">
            <input id="btnRegistrarBarra" type="button" value="RegistrarBarra" />
        </div>
    </div>
</div>
