
<script src="~/Areas/CPPA/Content/Scripts/registroParametroAjuste/demanda.js?v=3.0"></script>
<div>
    <div class="search-content">
        <div class="flex-row">
            <div class="flex-row" style="margin-right: 35px;">
                <div style="margin-top: 5px;">
                    <label>
                        Estado:
                    </label>
                </div>
                <div style="margin-left: 10px">
                    <label>
                        <input type="checkbox" name="demEstado" value="A" checked/>Activo
                    </label>
                    <label>
                        <input type="checkbox" name="demEstado" value="X" />Anulado
                    </label>
                </div>
            </div>
            <input type="button" id="btnDemConsultar" value="Consultar" style="margin-right: 10px;">
            <input type="button" id="btnDemNuevo" value="Nuevo" style="margin-right: 10px;">
            <input type="button" id="btnDemCopiar" value="Copiar MD de LVTP" style="margin-right: 10px;">
            <input type="button" id="btnDemExportar" value="Exportar Excel" style="margin-right: 10px;">
        </div>
    </div>
    <div style="margin-bottom: 10px;">
        <table id="dtListaMaximaDemandaPreciosPotencia"
               class="pretty tabla-icono"></table>
    </div>
</div>

<div id="popupMaxDemanda" class="general-popup" style="min-width: 300px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Máxima demanda y Precio Potencia</span>
    </div>
    <div class="popup-text">
        <div id="message-popup" style="display: none"></div>
        <div class="h-panel" style="margin-bottom: 10px;">
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap; width: 150px;">Año :</div>
                <input id="txtPopMaxDemandaAnio"
                       type="text"
                       disabled
                       style="width: 100px;" />
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap; width: 150px;">Mes :</div>
                <input id="txtPopMaxDemandaMes"
                       type="text"
                       style="width: 100px;" />
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap; width: 150px;">Tipo registro MD :</div>
                @*<input id="txtPopMaxDemandaTipoRegistro"
        type="text"
        disabled
        style="width: 100px;" />*@
            <select id="txtPopMaxDemandaTipoRegistro" class="f-select" style="width: 100px; margin-right:20px;" disabled>
                <option value="P">Proyectado</option>
                <option value="E">Ejecutado</option>
            </select>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap; width: 150px;">Fecha MD :</div>
                <input id="txtPopMaxDemandaFecha"
                       type="text"
                       style="width: 100px;" />
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap; width: 150px;">Hora MD:</div>
                <input id="txtPopMaxDemandaHora"
                       type="text"
                       style="width: 100px;" readonly/>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap; width: 150px;">Tipo de cambio:</div>
                <input id="txtPopMaxDemandaTipoCambio"
                       type="number"
                       style="width: 100px;" />
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap; width: 150px;">Precio Potencia S/Kw-mes:</div>
                <input id="txtPopMaxDemandaPrecio"
                       type="number"
                       style="width: 100px;" />
            </div>
            <div style="text-align: center;">
                <input id="btnPopMaxDemandaGuardar" type="button" value="Grabar" style="margin-right: 10px;" />
                <input id="btnPopMaxDemandaCancelar" type="button" value="Cancelar" />
            </div>
        </div>
    </div>
</div>


<div id="popupHistoricoDemanda" class="general-popup" style="min-width: 400px; min-height: 300px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Histórico del registro</span>
    </div>
    <div class="popup-text">
        <div style="margin-top: 20px;">
            <table id="popupdtHistorico" class="pretty tabla-icono" style="width:100%;">
            </table>
        </div>
        <div style="margin-bottom: 20px; text-align: center;">
            <input type="button" id="popbtnHistoricoCancelar" value="Cancelar" style="margin-right: 10px;">
        </div>
    </div>
</div>