
@{
    ViewBag.Title = "Registro de Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/CPPA/Content/Css/cppa.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css1.css" rel="stylesheet" />

<script src="~/Areas/CPPA/Content/Scripts/registroParametroAjuste/menu_opciones.js?v=2.0"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<link href="~/Content/Scripts/Charts/jquery.jqplot.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.timepicker.js"></script>
<link href="~/Content/Css/jquery.timepicker.css" rel="stylesheet" />
@*<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />*@
<link href="~/Areas/CPPA/Content/Css/css.css" rel="stylesheet" />

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Parámetros de Ajuste de año presupuestal</div>
    </div>
    <div class="content-hijo">
        <div class="flex-row row-filters" style="width: fit-content; margin-bottom: 15px;">
            <div style="margin-right: 20px">
                <label>Año</label>
                <input id="indexFecha"
                       type="text"
                       value="@ViewBag.Fecha"
                       disabled
                       style="width: 100px;" />
            </div>
            <div style="margin-right: 20px">
                <label>Ajuste</label>
                <input id="indexAjuste"
                       type="text"
                       value="@ViewBag.Ajuste"
                       disabled
                       style="width:100px" />
            </div>
            <div style="margin-right: 20px">
                <label>Revisión</label>
                <input id="indexRevision"
                       type="text"
                       value="@ViewBag.Revision"
                       disabled
                       style="width:100px" />
            </div>
            <div>
                <input id="indexIdRevision"
                       type="text"
                       value="@ViewBag.IdRevision"
                       disabled
                       style="width:100px; display:none;" />
            </div>
            <div>
                <input type="button" id="btnRegresar" value="Regresar" style="margin-right: 10px;">
            </div>
        </div>
        <div class="nt-header">
            <div id="opt-participantes"
                 class="nt-header-option options active">
                Integrantes participantes
            </div>
            <div id="opt-centrales"
                 class="nt-header-option options">
                Centrales generación
            </div>
            <div id="opt-demanda"
                 class="nt-header-option options">
                Máxima demanda y Precios Potencia
            </div>
        </div>
        <div id="message" style="display: none; margin-top: 10px;">
            Aquí se agregan los posibles mensajes...
        </div>
        <div id="module"
             class="nt-body">
        </div>
    </div>
</div>
