
<script src="~/Areas/CPPA/Content/Scripts/registroParametroAjuste/module.js?v=2.0"></script>

<div id="message" class="msg-warning" style="display: none;">
    No existe una versión para el día consultado, debe crear una para "Guardar cambios"
</div>
<div class="nt-header">
    <div id="subopt-generadores"
         class="nt-header-option suboptions active">
        Generadores
    </div>
    <div id="subopt-distribuidores"          
         class="nt-header-option suboptions">
        Distribuidores
    </div>
    <div id="subopt-usuarioslibres"
         class="nt-header-option suboptions">
        Usuarios Libres
    </div>
    <div id="subopt-transmisores"
         class="nt-header-option suboptions nt-header-green">
        Transmisores
    </div>
</div>
<div id="submodule-container"
     class="nt-body"></div>




