@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
<script src="~/Areas/CPPA/Content/Scripts/registroParametroAjuste/usuarios_libres.js?v=2.0"></script>

<div>
    <div class="search-content">
        <div class="flex-row">
            <div class="flex-row" style="margin-right: 35px;">
                <div style="margin-top: 5px;">
                    <label>
                        Estado:
                    </label>
                </div>
                <div style="margin-left: 10px">
                    <label>
                        <input type="radio" name="genEstadoLibre" value="A" checked/>Activo
                    </label>
                    <label>
                        <input type="radio" name="genEstadoLibre" value="X" />Anulado
                    </label>
                </div>
            </div>
            <input type="button" id="btnGenConsultarLibre" value="Consultar" style="margin-right: 10px;">
            <input type="button" id="btnGenExportarLibre" value="Exportar Excel" style="margin-right: 10px;">
            <input type="button" id="btnGenNuevoLibre" value="Nuevo" style="margin-right: 10px;">
        </div>
    </div>
    <div style="margin-bottom: 10px;">
        <table id="dtListaEmpresasLibres"
               class="pretty tabla-icono"></table>
    </div>
</div>

<div id="popupNuevaEmpresaLibre" class="general-popup" style="min-width: 500px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Nueva Empresa Usuario Libre</span>
    </div>
    <div class="popup-text">
        <div id="message-popup" style="display: none"></div>
        <div class="h-panel" style="margin-bottom: 10px;">
            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                <div style="margin-right: 20px; white-space: nowrap;">Empresa :</div>
                <select id="cboPopEmpresaLibre" class="f-select" style="width: 450px">
                    @foreach (var item in Model.ListEmpresasLibres)
                    {
                        <option value="@item.Emprcodi">@item.EmprnombConcatenado</option>

                    }
                </select>
            </div>
            <div style="text-align: center;">
                <input id="btnPopGuardarLibre" type="button" value="Grabar" style="margin-right: 10px;" />
                <input id="btnPopCancelarLibre" type="button" value="Cancelar" />
            </div>
        </div>
    </div>
</div>


