@model COES.MVC.Intranet.Areas.Compensacion.Models.CostosMarginalesGeneralModel
@{
    ViewBag.Title = "Costos Marginales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout">
    <div class="form-title">
        <div>Costos Marginales</div>
    </div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>
                                Periodo:
                                <select id="pecacodi" name="pecacodi">
                                    @foreach (var item in Model.ListTrnPeriodo)
                                    {
                                        <option value="@item.PeriCodi">@item.PeriDescripcion</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <div class="content-tabla" style="margin-bottom:0px;">
        <div id="mensaje"></div>
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>
</div>

<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Compensacion/Content/Scripts/costosMarginales.js"></script>