@model COES.MVC.Intranet.Areas.Compensacion.Models.EnergiaGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead style="display:none;">
            <tr>
                @for (int i = 1; i <= 98; i++)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><font color="#FFFFFF">Fecha</font></th>
                <th><font color="#FFFFFF">Total Energia</font></th>                
                @for (int i = 1; i <= 96; i++)
                {
                    <th><font color="#FFFFFF">@TimeSpan.FromMinutes(i * 15).ToString("hh':'mm")</font></th>
                }
            </tr>
            @foreach (var item in Model.ListEnergia)
            {
                <tr class="menu-contextual">
                    <td>@(((DateTime)item.Crmefecha).ToString("dd/MM/yyyy"))</td>
                    <td>@item.Crmemeditotal</td>
                    @for (int i = 1; i <= 96; i++)
                    {
                        <td>@item.GetType().GetProperty("Crmeh" + i).GetValue(item, null)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</form>

