@model COES.MVC.Intranet.Areas.Compensacion.Models.CostosMarginalesGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead style="display:none;">
            <tr>
                @foreach (var item in Model.ListHeadCostoMarginal)
                {
                    <th>@item</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model.ListHeadCostoMarginal)
                {
                    <th><font color="#FFFFFF">@item</font></th>
                }

                @*<th><font color="#FFFFFF">Acciones</font></th>
                <th><font color="#FFFFFF">Modo de Operación</font></th>
                <th><font color="#FFFFFF">Fuente Energía</font></th>
                <th><font color="#FFFFFF">Combustible</font></th>
                <th><font color="#FFFFFF">BARRA / Día Per.</font></th>
                <th><font color="#FFFFFF">Considerar Potencia Nominal</font></th>
                <th><font color="#FFFFFF">LHV (KJ/m3) / (KJ/Kg)</font></th>
                <th><font color="#FFFFFF">Transporte (S//gal)</font></th>
                <th><font color="#FFFFFF">Trat. Mecanico (S//gal)</font></th>
                <th><font color="#FFFFFF">Trat. Quimico (S//gal)</font></th>
                <th><font color="#FFFFFF">Dias costo financiero</font></th>
                <th><font color="#FFFFFF">CVNC $/kWh</font></th>
                <th><font color="#FFFFFF">CVNC S//KWh</font></th>
                <th><font color="#FFFFFF">Precio Combustible</font></th>
                <th><font color="#FFFFFF">Energia MWh</font></th>
                <th><font color="#FFFFFF">Tiempo Hrs</font></th>
                <th><font color="#FFFFFF">N arr/par</font></th>
                <th><font color="#FFFFFF">Potencia Efectiva MW</font></th>
                <th><font color="#FFFFFF">Consumo Comb. Pot.Efe</font></th>
                <th><font color="#FFFFFF">Potencia parcial 1 MW</font></th>
                <th><font color="#FFFFFF">Consumo Comb. Pot.Parcial 1</font></th>
                <th><font color="#FFFFFF">Potencia parcial 2 MW</font></th>
                <th><font color="#FFFFFF">Consumo Comb. Pot.Parcial 2</font></th>
                <th><font color="#FFFFFF">Potencia parcial 3 MW</font></th>
                <th><font color="#FFFFFF">Consumo Comb. Pot.Parcial 3</font></th>
                <th><font color="#FFFFFF">Potencia parcial 4 MW</font></th>
                <th><font color="#FFFFFF">Consumo Comb. Pot.Parcial 4</font></th>
                <th><font color="#FFFFFF">Potencia Mínima MW</font></th>*@
            </tr>

            @foreach (var obj in Model.ListBodyCostoMarginal)
            {
                <tr class="menu-contextual">
                    @foreach (string s in obj.Split('|'))
                    {
                        <td>@s</td>

                    }
                </tr>
            }
        </tbody>
    </table>
</form>

