@model COES.MVC.Intranet.Areas.Compensacion.Models.ArranquesParadasGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            @if(Model.ListCabAgrupada != null)
            {
            <tr>
               @foreach (var item in Model.ListCabAgrupada)
                {
                   <th height="30px" colspan="@item.id" >@item.name</th>
                }
            </tr>
            }
            <tr>
                @foreach (var item in Model.ListCabArranquesParadas)
                {
                    <th>@item.nombre</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.ListBodyArranquesParadas)
            {
                <tr class="menu-contextual">                   
                    @foreach (string s in obj.Split('|'))
                    {
                        <td>@s</td>                     
                    }
                </tr>
            }
        </tbody>
    </table>
</form>

