@model COES.MVC.Intranet.Areas.Compensacion.Models.EditorPtoGrupoGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>
                <th>ACCIONES</th>
                @foreach (var item in Model.ListGrillaHead)
                {
                     <th>@item</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.ListGrillaBody)
            {
                <tr class="menu-contextual">    
                    <td><a href="JavaScript:editarRegistro('@Model.VcePeriodoCalculoDTO.PecaCodi','@obj.id');" title=""><img src="~/Content/Images/btn-edit.png" alt="Editar Registro" title="Editar Registro"></a></td> 
                    @foreach (string s in obj.name.Split('|'))
                    {
                        <td>@s</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</form>

