@model COES.MVC.Intranet.Areas.Compensacion.Models.CompensacionesEspecialesGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>               
                <th>Empresa</th>
                <th>Modo Operación</th>
                <th>Compensación (S/.) </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListCompensacionesEspeciales)
            {
                <tr class="menu-contextual">                  
                    <td style="text-align:left">@item.Emprnomb</td>
                    <td style="text-align:left">@item.Gruponomb</td>
                    <td style="text-align:right">@item.Crdetcompensacion</td>
                </tr>
            }
        </tbody>
    </table>
</form>

