@model COES.MVC.Intranet.Areas.Compensacion.Models.ModosOperacionModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
        <thead>
            <tr>
                <th>Modo de Operación</th>                
                <th>Valor</th>                              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListErroresConcepto)
            {                
                <tr class="menu-contextual">                   

                    <td style="text-align:left;">@item.GrupoNomb</td>                    
                    <td style="text-align: right">@item.Valor</td>                    
                </tr>
            }
        </tbody>
    </table>
</form>

