@model COES.MVC.Intranet.Areas.Compensacion.Models.EditorPtoGrupoGeneralModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table class="pretty tabla-icono" id="tabla">
        <thead>
            <tr>              
                <th>ID</th>
                <th>Modo de Operación</th>
                <th style="width:80px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListVcePtomedModope)
            {
                <tr class="menu-contextual">
                    
                    <td style="text-align:left">@item.Grupocodi</td>
                    <td>@item.Gruponomb</td>                   
                    <td style="width:80px;"><a href="JavaScript:eliminar('@item.Grupocodi');" title=""><img src="~/Content/Images/btn-cancel.png" alt="Eliminar Registro" title="Eliminar Registro"></a></td> 
                </tr>
            }
        </tbody>
    </table>
</form>