@model COES.MVC.Intranet.Areas.Compensacion.Models.MesValorizacionGeneralModel
@{
    ViewBag.Title = "Editar parámetros del periodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout" style="height: 650px;">
    <div class="form-title">
        <div>Editar parámetros del periodo</div>
    </div>
    <div class="content-tabla" style="margin-bottom:0px;">
        <div id="mensaje"></div>
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>

    <div id="popupEdicion" class="general-popup" style="width:540px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Actualizar Informe</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <fieldset>
                <legend>Datos</legend>
                <table class="content-tabla-search" style="width:auto">
                    <tbody>
                        <tr>
                            <td>
                                <span>Periodo:</span>
                            </td>
                            <td>
                                <input type="text" id="periodo" name="periodo" disabled style="width:200px;" />
                                <input type="hidden" id="pericodi" name="pericodi"  />
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                Informe:
                            </td>
                            <td>
                                <input type="text" id="informe" name="informe" value="" style="width:200px;" />
                            </td>
                        </tr>
                       

                    </tbody>
                </table>
            </fieldset><br>
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>
                        <input type="button" value="Grabar" id="btnGrabar" name="btnGrabar" class="form-action" />
                        <input type="button" value="Cancelar" id="btnCancelar" name="btnCancelar" class="form-action" />
                    </td>
                </tr>
            </table>
            <input type="hidden" id="esNuevo" name="esNuevo" />
            <input type="hidden" id="hdnPecacodi" name="hdnPecacodi" value="0" />
        </div>
    </div>

</div>

<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Compensacion/Content/Scripts/mesValorizacion.js"></script>
<script src="~/Areas/Compensacion/Content/Scripts/util.js"></script>