@model COES.MVC.Intranet.Areas.Compensacion.Models.TextoReporteGeneralModel
@{
    ViewBag.Title = "Texto de Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout" style="height: 750px;">
    <div class="form-title">
        <div>Texto de Reportes</div>
    </div>
    <div id="mensaje"></div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td style="width: 65px;">Periodo:</td>
                            <td>
                                <select id="pericodi" name="pericodi">
                                    @foreach (var item in Model.ListTrnPeriodo)
                                    {
                                        <option value="@item.PeriCodi">@item.PeriNombre</option>
                                    }
                                </select>
                            </td>
                            <td style="width: 65px;">Versión:</td>
                            <td>
                                <select id="pecacodi" name="pecacodi"></select>
                            </td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" />
           
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <div class="content-tabla" style="margin-bottom:0px;">
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>

    <div id="popupEdicion" class="general-popup">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Editar Texto de Reporte</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table width="100%">
                <tr>
                    <td>
                        Codigo Reporte:
                    </td>
                    <td>
                        <input type="hidden" id="pecacodi" name="pecacodi" />
                        <input type="text" id="codreporte" name="codreporte" style="width:200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Codigo Texto:
                    </td>
                    <td>
                        <input type="text" id="codtexto" name="codtexto" style="width:200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Texto:
                    </td>
                    <td>
                        <textarea id="texto" name="texto" rows="6" cols="80" style="width:450px"></textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <br /><br />
                        <div style="float: right;">
                            <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                            <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                        </div>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="esNuevo" name="esNuevo" />
        </div>
    </div>
</div>

<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Compensacion/Content/Scripts/textoReporte.js"></script>
<script src="~/Areas/Compensacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Compensacion/Content/Scripts/json2.js"></script>