@model COES.MVC.Intranet.Areas.Compensacion.Models.ModosOperacionModel
@{
    ViewBag.Title = "Validación de conceptos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Hoja de estilos-->
<link href="~/Areas/Compensacion/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/Compensacion/Content/Scripts/validarConcepto.js"></script>
<script src="~/Areas/Compensacion/Content/Scripts/util.js"></script>
<script src="~/Areas/Compensacion/Content/Scripts/json2.js"></script>

@*<div class="content-hijo" id="mainLayout">
        <div class="form-title">
            <div>Reporte de Información de medidores de energía de Usuarios y Empresas de distribución</div>
        </div>
    </div>*@

<div class="form-title">
    <div class="content-titulodemanda">Validación de conceptos</div>
</div>
<div id="mensaje"></div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="width:80px">Concepto</td>
                <td colspan="2">
                    <select id="crcvalcodi" name="crcvalcodi" style="width:400px">
                        <option value="" style="text-align:center">-- Seleccione --</option>
                        @foreach (var item in @Model.ListValidaConcepto)
                        {
                            <option value="@item.Crcvalcodi">@item.Crcvaldescripcion</option>
                        }

                    </select>

                </td>
                <td style="width:40px"></td>  
                <td style="width:80px">Fecha</td>
                <td>
                    <input style="width:120px;" type="text" id="fechaIni" name="fechaIni" />
                </td>
                <td style="width:80px"></td>
                <td>
                    <input type="button" id="btnValidar" value='Validar' />
                </td>
                <td>
                    <input type="button" id="btnRegresar" value='Regresar' />
                </td>
            </tr>
        </table>

    </div>


    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>
</div>

<input type="hidden" id="hdnPericodi" value="0" />
<input type="hidden" id="hdnRecacodi" value="0" />
<input type="hidden" id="hdnEstado" value="" />
