
@{
    ViewBag.Title = "Datos de Representante";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />
    <script src="~/Areas/RegistroIntegrante/Content/Scripts/representante.js?v=1.11"></script>
}
<style>

    .b-close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
    }
</style>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Modificar Representación</div>
<div class="home-content" style="line-height:20px">
    <div id="divRepresentante">
       
        <div id="listadoRepresentantes">

        </div>
    </div>
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="min-width:700px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>



