@{
    ViewBag.Title = "GraficoReporte";
}

<h2>GraficoReporte</h2>

<table>
    <tr>
        <td valign="top">
            <div id="graficoManttoEmpresa" style="width: 700px; height: 500px; margin: 0 auto"></div>
        </td>
    </tr>
</table>

