@model COES.MVC.Intranet.Areas.PMPO.Models.RemisionModel
@{
    ViewBag.Title = "Plazos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/moment.js"></script>

<link href="~/Areas/PMPO/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/PMPO/Content/Scripts/remision-configuracion-parametros.js?v=1.1"></script>

<style>
    #confPlazo input[type = number] {
        width: 40px;
        text-align: right;
    }

    .search-content {
        margin-bottom: 0px !important;
    }

    select:disabled {
        background: lightgray;
        color: #4876AA;
    }

    input[type=text]:disabled {
        background-color: lightgray;
        color: #4876AA;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Configuración de Parámetros de Plazos</div>
</div>

<div class="content-hijo" id="mainLayout" style="display: none;max-width: 1000px;">

    <form id="frmFormato" class="form-search" method="post" action="">
        <table id="confPlazo">

            <tr>
                <td>
                    <div class="search-content" style="background-color: #acfdb9 !important;">
                        <table>
                            <tr>
                                <td colspan="6">Inicio de Plazo</td>
                            </tr>
                            <tr>
                                <td class="mes_config">Meses:</td>
                                <td class="mes_config">
                                    <input type="number" id="Mesplazo" name="Mesplazo" value="" />
                                </td>
                                <td>Días:</td>
                                <td>
                                    <input type="number" id="DiaPlazo" name="DiaPlazo" value="" />
                                </td>
                                <td>Horas:</td>
                                <td>
                                    <input type="time" class="without_ampm" id="txtMinPlazo" name="txtMinPlazo" data-mask="00:00" data-mask-selectonfocus="true" />
                                    <input type="hidden" id="hfMinPlazo" name="MinutoPlazo" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td>
                    <div class="search-content" style="background-color: #acfdb9 !important;">
                        <table>
                            <tr>
                                <td colspan="6">Fin de Plazo</td>
                            </tr>
                            <tr>
                                <td class="mes_config">Meses:</td>
                                <td class="mes_config">
                                    <input type="number" id="Mesfinplazo" name="Mesfinplazo" value="" />
                                </td>
                                <td>Días:</td>
                                <td>
                                    <input type="number" id="DiaFinPlazo" name="DiaFinPlazo" value="" />
                                </td>
                                <td>Horas:</td>
                                <td>
                                    <input type="time" class="without_ampm" id="txtMinFinPlazo" name="txtMinFinPlazo" data-mask="00:00" data-mask-selectonfocus="true" />
                                    <input type="hidden" id="hfMinFinPlazo" name="MinutoFinPlazo" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td>
                    <div class="search-content" style="background-color: #f9a0a0 !important;">
                        <table>
                            <tr>
                                <td colspan="6">Fin de Fuera de Plazo</td>
                            </tr>
                            <tr>
                                <td class="mes_config">Meses:</td>
                                <td class="mes_config">
                                    <input type="number" id="Mesfinfueraplazo" name="Mesfinfueraplazo" value="" />
                                </td>
                                <td>Días:</td>
                                <td>
                                    <input type="number" id="DiaFinFueraPlazo" name="DiaFinFueraPlazo" value="" />
                                </td>
                                <td>Horas:</td>
                                <td>
                                    <input type="time" class="without_ampm" id="txtMinFinFueraPlazo" name="txtMinFinFueraPlazo" data-mask="00:00" data-mask-selectonfocus="true" />
                                    <input type="hidden" id="hfMinFinFueraPlazo" name="MinutoFinFueraPlazo" value="" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <p class="leyenda" style="padding-right: 95px;"> <b>(*)</b> los cálculos de plazos se obtendrán tomando en cuenta como base <b>las 24 horas</b>  de inicio de cada mes. </p>

        <div style="clear:both; height:10px"></div>
        <table style="width:200px;">
            <tr>
                <td>
                    <input id="btnGuardar" type="button" value="Grabar">
                </td>
            </tr>
        </table>
    </form>

    <div style="clear:both; height:5px"></div>
    <div style="margin-top: 50px; margin-bottom: 10px;">

        <h2>Vista Previa</h2>
        <table style="width: auto;">
            <tr>
                <td style="vertical-align: middle;text-align: right"> Mes de consulta: </td>
                <td>
                    <input type="text" id="txtMesPeriodo" value="@Model.Mes" style="width: 100px;" class="filtro-contenido" />
                </td>

            </tr>
            <tr>
                <td style=" padding: 5px; width: 90px; color: green; font-weight: bold; text-align: right;vertical-align: middle">
                    En Plazo:
                </td>
                <td style="vertical-align: middle">
                    desde
                    <span id="txtFechaEnPlazo1"></span>
                    hasta
                    <span id="txtFechaEnPlazo2"></span>
                </td>
            </tr>
            <tr>
                <td style=" padding: 5px; width: 143px; color: red; font-weight: bold;vertical-align: middle">
                    Fuera Plazo (Tolerancia):
                </td>
                <td style="vertical-align: middle">
                    desde
                    <span id="txtFechaFueraPlazo1"></span>
                    hasta
                    <span id="txtFechaFueraPlazo2"></span>
                </td>
            </tr>
        </table>
    </div>

</div>