@model COES.MVC.Intranet.Areas.PMPO.Models.RemisionModel
@{
    ViewBag.Title = "FileServer Pmpo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/PMPO/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/PMPO/Content/Scripts/remision-configuracion-fs.js?v=1.1"></script>

<style>
    #tbDocumentLibrary {
        height: auto;
    }

    #browserDocument {
        height: 500px;
        width: auto;
        overflow-y: scroll;
    }
</style>

<div class="form-title">
    <div class="content-titulo">FileServer Pmpo</div>
</div>

<div class="content-hijo" id="mainLayout" style="">
    <div>
        Ubicación del FileServer para el aplicativo PMPO <input type="text" value="@Model.PathAplicativo" disabled style="width: 500px; " /><br />

        <input type="hidden" id="subcarpetasIntervenciones" value="@Model.Resultado" />

        <table style="padding-top:20px;">
            <tr>
                <td style="width:350px">
                    <div class="popup-title"><span>Subcarpetas de PMPO</span></div>
                    <div id="listado">

                    </div>
                </td>
                <td style="width:30px"></td>
                <td>
                    <div class="popup-title"><span>Archivos</span></div>
                    <div id="resultado">

                    </div>
                    <div id="folder" style="display:none;">
                        @Html.Action("Index", "Browser", new { area = "filemanager", url = @"Empty", pathAlternativo = Model.PathPrincipal })
                    </div>
                </td>
            </tr>
        </table>

        @if (Model.TienePermisoDTI)
        {
            <input type="button" id="btnEjecutarEstructuraFS" value="Ejecutar copia de archivos a FileServer" />
        }

    </div>
</div>