@model COES.MVC.Intranet.Areas.PMPO.Models.RemisionModel
@{
    ViewBag.Title = "Configuración de correo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/PMPO/Content/Scripts/remision-configuracion-correo.js?v=1.1.0"></script>

<div class="form-title">
    <div class="content-titulo">Configuración de Parámetros de Plazos</div>
</div>

<div class="content-hijo" id="mainLayout" style="">

    <div class="table-list" id="listado">
        <div id="reporte">
        </div>
    </div>

    <div>
        <b>Leyenda:</b>
        <ul>
            <li>#{PERIODO}: Descripción de la Periodo</li>
            <li>#{EMPRESA}: Nombre de la empresa</li>
        </ul>
    </div>

</div>

<div id="popupEditar" class="general-popup" style="width: 900px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar configuración</span></div>
    <div id="idDivEditar">

        <div class="search-content">
            <div class="messaje-error mensaje-content-error"></div>

            <input type="hidden" id="atributo" name="atributo" value="PMPO_ASUNTOCORREO">
            <input type="hidden" id="idParamEdit" value="">

            <div>
                <div class="field-wrap">
                    <span class="field-label2" style="width:60px; float: left; margin-left: 10px; margin-right:10px;font-weight: bold;">Parámetro: </span>
                    <div class="field-control" style="float:left">
                        <span id="txtFormato"></span>
                    </div>
                </div>

                <div class="field-wrap">
                    <span class="field-label2" style="width:100px;FLOAT: left;margin-right: 10px; margin-left: 10px;font-weight: bold;">Ingrese Asunto: </span>

                    <div class="field-control" style="float:left">
                        <textarea cols="20" id="txtAsuntoEdit" name="valor" rows="2" style="width:400px"></textarea>
                    </div>
                </div>
            </div>

            <br><br><br><br>
            <div>
                <center>

                    <div align="center">
                        <input data-registro="6" style="margin-left:auto;margin-right:auto" id="btnModificarConfiguracion" type="button" value="Modificar">

                    </div>
                </center>
            </div>
        </div>

        <div>
            <b>Leyenda:</b>
            <ul>
                <li>#{PERIODO}: Descripción de la Periodo</li>
                <li>#{EMPRESA}: Nombre de la empresa</li>
            </ul>
        </div>
    </div>
</div>