@model COES.MVC.Intranet.Areas.Intervenciones.Models.FactorF1F2Model
@{
    ViewBag.Title = "Versión F1 F2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Intervenciones/Content/Scripts/FactorF1F2/factorF1F2.js?v=1.6"></script>

<div class="form-title">
    <div class="content-titulo">Generar versión mensual F1 – F2</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:0">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="padding-left: 15px;">Fecha:</td>
                <td><input type="text" id="mes" name="mes" value="@Model.Mes" style="width: 83px;"/></td>

                <td style="padding-left: 15px;">
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
                <td style="padding-left: 5px;">
                    <input type="button" id="btnPopupNuevaVersion" value="Generar versión" />
                </td>
            </tr>
        </table>
        <div id="mensaje" style="width:300px; margin:0"></div>
    </div>
    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

    <div style="padding-top: 16px;" class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>

        <div id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

<!--Criterios para Generación de Reporte F1 y F2-->
<div id="idPopupVersion" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Criterios para Generación de Reporte F1 y F2</span></div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Periodo :
            </td>
            <td style="width:97px;">
                <input type="text" id="periodo" style="width: 81px" readonly/>
            </td>
        </tr>
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Tipo de Equipo :
            </td>
            <td style="width:97px;">
                <input type="text" value="Generación" style="width: 81px" readonly/>
            </td>
        </tr>
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Disponibilidad :
            </td>
            <td style="width:127px;">
                <input type="text" value="Fuera de Servicio" style="width: 111px" readonly/>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">
                Estado :
            </td>
            <td style="width: 160px;">
                <div style="display: flex; flex-direction: row; gap: 8px;">
                    <input type="radio" id="rbVersionFinal" name="rbVersion" value="S" />
                    <label for="rbVersionFinal">Version Final</label>
                </div>
                <div style="display: flex; flex-direction: row; gap: 8px;">
                    <input type="radio" id="rbVersionPreliminar" name="rbVersion" value="N" checked />
                    <label for="rbVersionPreliminar">Version Preliminar</label>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVersion" value="Crear" />
            </td>

            <td colspan="2" style="text-align:right">
                <input type="button" id="btnCancelar" value="Cancelar" />
            </td>
        </tr>
    </table>
</div>


