@model COES.MVC.Publico.Areas.Planificacion.Models.DescargaModPlanModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Planificacion/Content/css/css.css" rel="stylesheet" />
<script src="~/Areas/Planificacion/Content/descargamodplan.js?=1"></script>


<div class="page-banner">
    <div class="page-banner-title">
        <h1>

            MODPLAN
        </h1>
        <span>

        </span>
    </div>
    <img src="~/Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg" alt="MODPLAN" />
</div>
<div style="clear:both"></div>
<div class="page-content">

  

    <div style="clear:both"></div>

    @if (Model.Resultado == 1)
    {

    <div class="page-text">
        <div id="divDatos">

            <h1>Verificación del acceso de descarga del Software MODPLAN</h1>

            <p>
                Se le ha enviado un código de verificación a su cuenta de correo electrónico, por favor ingréselo en el siguiente cuadro para poder acceder al Sotware MODPLAN.

            </p>

            <div class="descarga-modelo-verificacion">

                <strong>Código de Veificación:</strong><br/><br />
                <input type="text" id="txtCodigo" style="width:300px" /><br /><br />
                <input type="button" id="btnVerificar" value="Verificar" />
                <input type="hidden" id="hfCodigo" value="@Model.Identificador" />
                
               
            </div>
        </div>
        <div id="divListado">


        </div>
    </div>
    }

    else if (Model.Resultado == 0)
    {
        <div class="page-text">

            <h1>No tiene acceso a esta opción</h1>
            <p style="font-size:14px">Por favor ingrese al canal de atención al cliente para brindarle información acerca de cómo solicitar acceso al Software MODPLAN.</p>

            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    }
    else if (Model.Resultado == 2)
    {
        <div class="page-text">

            <h1>Su plazo de acceso ha vencido</h1>
            <p>El acceso a la descarga del Software MODPLAN estuvo vigente hasta el <strong>@Model.FechaConclusion</strong>. Por favor solicite un nuevo acceso.</p>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    }


        </div>

        <div style="clear:both"></div>
