@model COES.MVC.Intranet.Areas.Formulas.Models.FormulaModel

<script type="text/javascript">


    $(function () {

        $.fn.dataTableExt.afnFiltering.push(
         function (oSettings, aData, iDataIndex) {
             if (flag == false) {
                 var fecha1 = getDate(aData[2]);
                 var fecha2 = getDate($('#FechaFormula').val());
                 if (fecha1 >= fecha2) return true;
                 return false;
             }
             else return true;
         });

        oTable = $('#tablaFormula').dataTable({
            "sPaginationType": "full_numbers",
            "destroy": "true",
            "aoColumnDefs": [
             { 'bSortable': false, 'aTargets': [3] }
            ]
        });

        $('#tablaFormula_info').css('display', 'none');

    });

</script>

<table border="0" class="pretty tabla-adicional" id="tablaFormula">
    <thead>
        <tr>
            <th>Subestación</th>
            <th>Área</th>            
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaFormulas)
        {
            var fecha = "";
            if (item.Prrulastdate != null)
            {
                fecha = ((DateTime)item.Prrulastdate).ToString("dd/MM/yyyy");
            }
            <tr>
                <td>@item.Prruabrev </td>
                <td>@item.Prrudetalle</td>                
                <td>@fecha</td>
                <td>
                    @{
            var funcion = "setearFormula(" + item.Prrucodi + ",'" + item.Prruabrev + "','" + item.Prrudetalle + "');";
                    }
                    <input type="radio" id="cbSelect@item.Prrucodi" name="cbSelect" onclick="@funcion" />
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="hfFuente" />
