@model COES.MVC.Intranet.Areas.Formulas.Models.FormulaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Formulas/Content/Scripts/detalle.js"></script>
<link href="~/Areas/Formulas/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Perfiles SCADA</div>
    <div class="content-botonera">          
          <input type="button" id="btnNuevo" value="Nuevo" />           
          <input type="button" id="btnExportar" value="Exportar" />          
    </div>
</div>

<div class="content-hijo">
    <div class="search-content" style="margin-bottom:10px">
    <table class="content-tabla-search" style="width:auto">     
        <tr>          
            <td>Desde:</td>
            <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaDesde" /></td>
            <td>Hasta:</td>
            <td><input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaHasta" /></td>
            <td><input type="button" id="btnBuscar" value="Buscar" /></td>
        </tr>
    </table>
    </div>
    <div style="clear:both; height:10px;"></div>

    <div id="listado"></div>

</div>