@model COES.MVC.Intranet.Areas.Formulas.Models.FormulaModel

<script type="text/javascript">

    $(function () {     

        $('.txt-tunnig').keydown(function (e) {
            var str = this.id;
            var indice = str.replace('tunning', '');

            if (e.which == '13') {
                var id = '';
                if (indice != '48') {
                    id = '#tunning' + (parseInt(indice) + 1);
                }
                tunningFormula(indice, "N", this.value, id);               
            }
            if (e.which == '40') {
                if (indice != '48')
                {
                    $('#tunning' + (parseInt(indice) + 1)).focus();
                }
            }
            if (e.which == '38') {
                if (indice != '1') {
                    $('#tunning' + (parseInt(indice) - 1)).focus();
                }
            }
        });      
    });

    jQuery(document).ready(function ($) {
        "use strict";
        $('#contentHolderTunnig').perfectScrollbar({ suppressScrollX: true });
    });

</script>


<div id="contentHolderTunnig" class="content-holder-tunning">

<table id="tablaPromedio" class="tabla-formulario" border="1" style="width:170px">      

    <tr  class="formula-head">
        <td>Hora</td>
        <td>Valor</td>
        <td>Tunning</td>
    </tr>
    @for (int i = 1; i <= 48; i++) {

        var valor = Model.Entidad.GetType().GetProperty("H" + (i*2).ToString()).GetValue(Model.Entidad, null);
        var tunnig = Model.Entidad.GetType().GetProperty("TH" + (i*2).ToString()).GetValue(Model.Entidad, null);

        string texto = "";
        if (valor != null)
        {
            texto = Convert.ToDecimal(valor).ToString("#,###.00");
        }
        <tr>
            <td>@COES.MVC.Intranet.Helper.Tools.ObtenerHoraMedicion(i)</td>
            <td>@texto</td>                 
            <td>                
                <input type="text" value="@tunnig" class="txt-tunnig" id="@("tunning" + i)" />
            </td>
        </tr>     
    }
    <tr>
        <td>Mediana</td>
        <td>
            @{
                var mediana = "";
                if (Model.Entidad.MEDIANA != null) {
                    mediana = Convert.ToDecimal(Model.Entidad.MEDIANA).ToString("#,###.00"); 
               }
            }
            @mediana
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Mínimo</td>
        <td>
            @{
                var minimo = "";
                if (Model.Entidad.MINIMA != null) {
                    minimo = Convert.ToDecimal(Model.Entidad.MINIMA).ToString("#,###.00"); 
               }
            }
            @minimo
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Máximo</td>
        <td>
             @{
                var maximo = "";
                if (Model.Entidad.MAXIMA != null) {
                    maximo = Convert.ToDecimal(Model.Entidad.MAXIMA).ToString("#,###.00"); 
               }
            }
            @maximo
        </td>
        <td></td>
    </tr>
</table>

</div>