@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CargaVirtualModel
@{
    ViewBag.Title = "Cargar Archivo Externo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("FormExterno", Model, new ViewDataDictionary { { "sTitulo", "Cargar Archivo Externo" }, { "sAccion", "Grabar" } })
</div>