@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CargaVirtualModel
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>#</th>
            <th class="sorting_desc">Fecha Hora</th>
            <th>Frecuencia</th>
            <th>Tensión</th>
        </tr>
    </thead>
    <tbody>
        @{int contador = 1; }
        @foreach (var item in Model.ListaLecturaVirtual)
        {
            <tr>
                <td style="font-weight:bold">@contador</td>
                <td style="text-align:left;">@item.FecHora</td>
                <td style="text-align:left;">@item.Frecuencia</td>
                <td style="text-align:left;">@item.Tension</td>
            </tr>
            contador = contador + 1;
        }
    </tbody>
</table>
<div id="popup">
</div>