@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CargaVirtualModel
@{
    ViewBag.Title = "Carga Virtual";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];

    var lista_equipos = (IEnumerable<SelectListItem>)TempData["ListaEquipos"];
}

<script src="~/Areas/ReportesFrecuencia/Content/Scripts/CargaVirtual.js"></script>
<script type="text/javascript">
    var reporteCargaVirtual = "CargaVirtual/";
    var controler = siteRoot + "ReportesFrecuencia/" + reporteCargaVirtual;

    $(document).ready(function () {
        $("#btnBuscar").click(function () {
            var model = {
                FechaIni: $("#FechaInicial").val(),
                FechaFin: $("#FechaFinal").val(),
                CodEquipo: $("#cboEquipo").val(),
            };
            $(".listado").load(controler + "Lista", { FechaIni: model.FechaIni, FechaFin: model.FechaFin, CodEquipo: model.CodEquipo });


        });

        $("#btnBuscar").click();

    });

    function cancelarOpcion() {
        $("#cboEquipo").val('');
        var _val_fecha_inicio = $("#hdfFechaInicio").val();
        var _val_fecha_fin = $("#hdfFechaFinal").val();
        $("#FechaInicial").val(_val_fecha_inicio);
        $("#FechaFinal").val(_val_fecha_fin);
    }

</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {
        <div class="exito mensajes">@sMensajeExito</div>
    }
    <div class="form-title">
        <div class="content-titulo">Reporte</div>
        <div class="content-botonera">
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("Index","CargaVirtual")'" alt="Regresar" title="Regresar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class='panel-container'>
            <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                <div class="content-hijo" style="padding-top:8px">
                    <div class="listado" id="listado">
                        @Html.Partial("ListaCarga", Model)
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>

