@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel

<select id="cbEmpresa2" name="IdEmpresa2" >
    @foreach (var item in Model.ListaEmpresas)
    {
        <option value="@item.Emprcodi">@item.Emprnomb</option>
    }
</select>
<input type="hidden" id="hfEmpresa2" />  
