@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.FactorUtilizacionModel

@{
    ViewBag.Title = "Cálculo de Factores de Utilización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Areas/CostoOportunidad/Content/Css/css.css?v=1.1.4" rel="stylesheet" />
<script src="~/Areas/CostoOportunidad/Content/Scripts/factorUtilizacion.js?v=1.1.4"></script>

<div class="form-title">
    <div class="content-titulo">Cálculo de Factores de Utilización</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:100%" role="presentation">
            <tr>
                <td style="width: 80px; vertical-align: middle;">Fecha Inicio:</td>
                <td style="width: 150px;">
                    <input type="text" id="txtFecIni" value="@Model.FechaIni" style="width: 95px;" />
                </td>


                <td style="width: 80px; vertical-align: middle;">Fecha Fin:</td>
                <td style="width: 150px;">
                    <input type="text" id="txtFecFin" value="@Model.FechaFin" style="width: 95px;" />
                </td>


                <td style="width: 150px;">
                    <input type="button" id="btnConsultar" value="Consultar">
                </td>

                <td style="float:right;">
                    <input type="button" id="btnReemplazarValores" value="Reemplazar Valores">
                </td>

                <td style="float:right;">
                    <input type="button" id="btnProcesoDiario" value="Proceso Manual">
                </td>


                @*<td style="float:right;">
            <input type="button" id="btnReprocesarTodo" value="Reprocesar Errores">
        </td>*@


            </tr>
        </table>
    </div>

    <div class="content-tabla" id="excelwebPenalidad" style="padding-top: 20px;">
        <div class="table-list" id="listadoDeFactoresU">

        </div>
    </div>

</div>


<div id="popupProcesoManual" class="popup-class-1 general-popup" style="width: 520px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Proceso Manual</span></div>
    <div class="panel-container">
        <div id="mensaje_popup"></div>
        <div id="" style="margin-top: 10px;"></div>        
            <table id="" style="margin-top: 10px; padding-left: 15px; margin: 0 auto;">                
                <tr>
                    <td class="tbform-label ">Fecha:</td>
                    
                    <td>
                        <input type="text" id="txtFecProceso" value="@Model.FechaProcesoManual" style="width: 95px;" />
                        <input type="hidden" id="hfFechaDefecto" value="@Model.FechaProcesoManual"/>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" style="text-align: center">
                        <input type="submit" id="btnProcesarManual" value="Procesar" style="margin-top: 15px;">
                        <input type="button" id="btnCancelarManual" value="Cancelar" onclick="cerrarPopup('#popupProcesoManual')">
                    </td>
                </tr>
            </table>        
    </div>
</div>

<div id="erroresDatos" class="general-popup" style="z-index:9999999999;">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="listadoErrores">
            
        </div>
    </div>
</div>

<div id="popupReemplazarValores" class="popup-class-1 general-popup" style="width: 750px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Modificar Factores de Utilización</span></div>
    <div class="panel-container">
        <div id="mensaje_popupRV"></div>
        <div id="" style="margin-top: 10px;"></div>

        <div class="search-content" style="margin-top: 5px; text-align:center;">
            Seleccione archivo (.xlsx)
            <input type="button" id="btnSeleccionarArchivo" value='Seleccionar archivo' />

            <div id="txtNombreArchivo" style="background: url('../../../Content/Images/file.png')10px 50% no-repeat;
                                                        display: none;
                                                        text-align: left;
                                                        border: 2px solid #BBDF8D;
                                                        background-color: #EAF7D9;
                                                        padding: 5px;
                                                        text-indent: 30px;
                                                        border-radius: 6px;
                                                        margin-right: 10px;">
            </div>

        </div>

        <!--mostrar listado errores-->
        <div id="listadoErroresExcel">
        </div>
    
        <table id="" style="margin-top: 10px; padding-left: 15px; margin: 0 auto;">            
            <tr>
                <td colspan="4" style="text-align: center">
                    <input type="submit" id="btnProcesarReemplazo" value="Procesar" style="margin-top: 15px; display:none;" >
                </td>
            </tr>
        </table>
    </div>
</div>
