@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Adecuación a la NTIITR";
}


<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Informes.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ReportesInteres/AdecuacionNTIITR" class="sidebar-nav--link sidebar-nav--link-active">Adecuación a la NTIITR</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ReportesInteres/SupervisionMantenimiento" class="sidebar-nav--link">Supervisión Mantenimiento</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ReportesInteres/SupervisionPlanificacion" class="sidebar-nav--link">Supervisión Planificación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ReportesInteres/PlanTrabajoOPT" class="sidebar-nav--link">Plan de Trabajo OPT</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9 mb-md-4">

            <div class="coes-box  coes-box--padding">
                <h2 class="heading-4 heading-underlined">Adecuación a la NTIITR</h2>
                <div class="row p-4">
                    <div class="col-12 col-lg-6 sitemap-items pb-3">
                        <ul class="ps-3">
                            <li><a href="~/PostOperacion/ReportesInteres/ReportesAdecuacion">Reportes de adecuación a NTIITR</a></li>
                            <li>
                                <a href="~/PostOperacion/ReportesInteres/CalculoDisponibilidad">Cálculo de la disponibilidad de las transferencias ICCP de los equipos que se encuentran en mantenimientos programados aprobados por el COES igual o mayor a 72 horas.</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 sitemap-items pb-3">
                        <ul class="ps-3">
                            <li>
                                <a href="~/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Documentación Técnica de los Procesos/Caracterizacion_del_Proceso.zip">Documentación técnica sobre los procesos y programas computacionales para el cálculo del índice de disponibilidad, caracterización del proceso, casos de uso y código fuente (11 enero 2017).</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <h4 class="heading-6 mb-4">Formularios Gestión RIS</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Formularios Gestión RIS/Anexo_A_Empresa-ddmmaaaa.xlsx">RD No. 243-2012-EM/DGE ( Anexo A )</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Formularios Gestión RIS/Anexo_B_EMPRESA-ddmmaaaaa.docx">RD No. 243-2012-EM/DGE ( Anexo B )</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Formularios Gestión RIS/anexoc.doc">RD No. 243-2012-EM/DGE ( Anexo C )</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Formularios Gestión RIS/anexod.doc">RD No. 243-2012-EM/DGE ( Anexo D )</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Formularios Gestión RIS/CodificacionICCP.pdf">Recomendaciones para la Codificación de los registros ICCP en la RIS.</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Formularios Gestión RIS/Protocolo_Pruebas_Telecomunicaciones_COES_EMPRESA-aammdd.xlsx">Protocolo de pruebas de enlaces de comunicaciones</a>
                    </div>

                    <h4 class="heading-6 mb-4">Marco Legal</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Marco%20Normativo%2FBase%20Legal%2F04_NORMATIVA%20EMITIDA%20POR%20EL%20MINISTERIO%20DE%20ENERG%C3%8DA%20Y%20MINAS%2FRD%20No.%20243-2012-EM-DGE.pdf">Norma Técnica para el Intercambio de Información en Tiempo Real para la Operación del SEIN - RD No.243-2012-EM/DGE</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Marco%20Normativo%2FBase%20Legal%2F04_NORMATIVA%20EMITIDA%20POR%20EL%20MINISTERIO%20DE%20ENERG%C3%8DA%20Y%20MINAS%2FRD%20No.%20014-2005-EM-DGE.pdf">NTOTR - Norma Técnica para la Coordinación de la Operación en Tiempo Real de los Sistemas Interconectados</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Marco%20Normativo%2FBase%20Legal%2F05_NORMATIVA%20EMITIDA%20POR%20EL%20OSINERGMIN%2FRes.%20N%C2%B0%20270-2014-OS-CD.pdf">Norma Estándares Técnicos Mínimos del Equipamiento para la Coordinación de la Operación en Tiempo Real del SEIN - N° 270-2014-OS-CD</a>
                    </div>
                </div>

            </div><!-- /.coes-box -->

        </div><!--/.col-9-->

    </div>
</div>
