@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Adecuación a la NTIITR";
}

<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Informes.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-9 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Cálculo de la disponibilidad de las transferencias ICPP</h3>

                    <p style="margin-right: 30px;">
                        Para la aplicación de esta exclusión las empresas deberán fijar manualmente en sus SCADA:
                        <ul>
                            <li>Señales Medidas</li>
                            <ul>
                                <li>Estado ICCP: Manual (Establecido en la norma)</li>
                                <li>Valor ICCP: 1234 (Establecido por el COES)</li>
                            </ul>
                            <li>Señales Estados</li>
                            <ul>
                                <li>Estado ICCP: Manual (Establecido en la norma)
                                <li>Valor ICCP: En Tránsito (Establecido por el COES)</li>
                            </ul>
                        </ul>
                    </p>
                    <h3 class="heading-5 mb-4 mt-4" style="margin-right: 30px;">NTIITR establece ( 4.2 Índice de Disponibilidad por etapas de las transferencias ICCP)</h3>
                    <p style="margin-right: 30px;">
                        En general, se excluirá del cálculo del índice de disponibilidad las señales asociadas a los equipos que se encuentran indisponibles
                        por mantenimientos aprobados por el COES, para los casos en que su duración sea igual o mayor a las 72 horas. Para la aplicación
                        de esta exclusión, las empresas deberán fijar manualmente en su SCADA un valor distintivo que será definido por el COES, para dichas
                        señales de medidas y estados, Para estos casos se debe tener en consideración que las señales deben de ser restituidas a su condición de
                        medidas y estados en tiempo real, por lo menos diez (10) minutos antes de reingresar a operación normal. El COES remitirá al OSINERGMIN el
                        listado de las referidas señales excluidas del cálculo, como parte del “Reporte de cumplimiento de la NTIITR”.
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-md-3 order-1 order-md-0">
            <div class="coes-box">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Información Técnica</h3>
                    <p style="margin-right: 30px;">
                        Para la implementación del programa que calcula este índice, se analizarán los valores y estados de las señales ICCP.
                        Para los Estados los valores posibles son: (protocolo ICCP)
                    </p>
                    <ul style="margin-right: 30px;">
                        <li>10XXXXXX: cerrado</li>
                        <li>01XXXXXX: abierto</li>
                        <li>11XXXXXX: en tránsito</li>
                        <li>00XXXXXX: indeterminado</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>

