@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Definición del índice de calidad de las transferencias ICCP";
}
<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>
<style>
    [data-year] {
        margin-left: 20px;
    }
</style>
<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Informes.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Definición del índice de calidad de las transferencias ICCP</h3>

                    <p style="margin-right: 30px;">
                        El Índice porcentual de calidad de transferencia ICCP para una empresa (denominado CICCPE), representa en términos de porcentaje de tiempo al año
                        (o del periodo evaluado), el tiempo que la información (medidas, estados y alarmas de sus instalaciones en el SEIN) fue remitida correctamente,
                        según los parámetros establecidos en el numeral 4.1 de la norma R.D. N°243-2012-EM/DGE (también conocida como "Norma RIS").
                    </p>
                    <p style="margin-right: 30px;">
                        El índice de la disponibilidad por empresa se evaluará por periodo de control.
                    </p>
                    <p style="margin-right: 30px;">
                        Reportes de cumplimiento de la NTIITR:
                    </p>
                    <p style="margin-right: 30px;">
                        <ul>
                            <li data-year="2013">Periodo de control 01-01-2013 al 30-06-2013</li>
                            <li data-year="2013">Periodo de control 01-07-2013 al 31-12-2013</li>
                            <li data-year="2014">Periodo de control 01-01-2014 al 30-06-2014</li>
                            <li data-year="2014">Periodo de control 01-07-2014 al 31-12-2014</li>
                            <li data-year="2015">Periodo de control 01-01-2015 al 30-06-2015</li>
                            <li data-year="2015">Periodo de control 01-07-2015 al 31-12-2015</li>
                            <li data-year="2016">Periodo de control 01-01-2016 al 30-06-2016</li>
                            <li data-year="2016">Periodo de control 01-07-2016 al 31-12-2016</li>
                            <li data-year="2017">Periodo de control 01-01-2017 al 30-06-2017</li>
                            <li data-year="2017">Periodo de control 01-07-2017 al 31-12-2017</li>
                            <li data-year="2018">Periodo de control 01-01-2018 al 30-06-2018</li>
                            <li data-year="2018">Periodo de control 01-07-2018 al 31-12-2018</li>
                            <li data-year="2019">Periodo de control 01-01-2019 al 30-06-2019</li>
                            <li data-year="2019">Periodo de control 01-07-2019 al 31-12-2019</li>
                            <li data-year="2020">Periodo de control 01-01-2020 al 30-06-2020</li>
                            <li data-year="2020">Periodo de control 01-07-2020 al 31-12-2020</li>
                            <li data-year="2021">Periodo de control 01-01-2021 al 30-06-2021</li>
                            <li data-year="2021">Periodo de control 01-07-2021 al 31-12-2021</li>
                            <li data-year="2022">Periodo de control 01-01-2022 al 30-06-2022</li>
                            <li data-year="2022">Periodo de control 01-07-2022 al 30-09-2022</li>
                            <li data-year="2022">Periodo de control 01-07-2022 al 31-12-2022</li>
                            <li data-year="2023">Periodo de control 01-01-2023 al 31-03-2023</li>
                            <li data-year="2023">Periodo de control 01-01-2023 al 30-06-2023</li>
                            <li data-year="2023">Periodo de control 01-07-2023 al 30-09-2023</li>
                            <li data-year="2023">Periodo de control 01-07-2023 al 31-12-2023</li>
                            <li data-year="2024">Periodo de control 01-01-2024 al 31-03-2024</li>
                            <li data-year="2024">Periodo de control 01-01-2024 al 30-06-2024</li>
                            <li data-year="2024">Periodo de control 01-07-2024 al 30-09-2024</li>
                            <li data-year="2024">Periodo de control 01-07-2024 al 31-12-2024</li>
                            <li data-year="2025">Periodo de control 01-01-2025 al 31-03-2025</li>
                            <li data-year="2025">Periodo de control 01-01-2025 al 30-06-2025</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box listado-archivo">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Reporte Disponibilidad Semestral</h3>
                    @*<ul>
            <li><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Actas-Agosto-2013.zip"> Actas</a></li>

            <li class="mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Informacion-Oficio-6164-2013-OS-GFE.xlsx">Información Complementaria</a></li>

            <li data-target="2013" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2013</a></li>
            <li data-year="2013" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_RIS_web_01012013_30062013.xlsx">Reporte del 01-01-2013 al 30-06-2013</a></li>
            <li data-year="2013"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_WEB_RIS_01072013_31122013.xlsx">Reporte del 01-07-2013 al 31-12-2013</a></li>
            <li data-target="2014" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2014</a></li>
            <li data-year="2014" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_Empresas_RIS_2014_II_final_web_v2.xlsx">Reporte del 01-07-2014 al 31-12-2014.</a></li>
            <li data-year="2014"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_Empresas_web_I-4_1808.xlsx">Reporte del 01-01-2014 al 18-08-2014</a></li>
            <li data-target="2015" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2015</a></li>
            <li data-year="2015" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_RIS_1Periodo_2015_web_v2.xlsx">Reporte del 01-01-2015 al 30-06-2015</a></li>
            <li data-year="2015"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_RIS_2Periodo_2015_v_1.4.0_WEB-final_prioridad_pub.xlsx">Reporte del 01-07-2015 al 31-12-2015</a></li>
            <li data-target="2016" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2016</a></li>
            <li data-year="2016" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_web_1_2016.xlsx">Reporte del 01-01-2016 a 30-06-2016</a></li>
            <li data-year="2016"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2016-02 version 01.xlsx">Reporte del 01-07-2016 a 31-12-2016</a></li>
            <li data-target="2017" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2017</a></li>
            <li data-year="2017" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2017-01 version 02.xlsx">Reporte del 01-01-2017 a 30-06-2017</a></li>
            <li data-year="2017"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2017-02-Julio-Diciembre v 06.xlsx">Reporte del 01-07-2017 a 31-12-2017</a></li>
            <li data-target="2018" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2018</a></li>
            <li data-year="2018" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2018-01 v3.xlsx">Reporte del 01-01-2018 a 30-06-2018</a></li>
            <li data-year="2018"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2018-II v4.xlsx">Reporte del 01-07-2018 a 31-12-2018</a></li>
            <li data-target="2019" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2019</a></li>
            <li data-year="2019" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2019-I.xlsx">Reporte del 01-01-2019 a 30-06-2019</a></li>
            <li data-year="2019"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2019-II.xlsx">Reporte del 01-07-2019 a 31-12-2019</a></li>
            <li data-target="2020" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2020</a></li>
            <li data-year="2020" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2020-I.xlsx">Reporte del 01-01-2020 a 30-06-2020</a></li>
            <li data-year="2020"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2020-II.xlsx">Reporte del 01-07-2020 a 31-12-2020</a></li>
            <li data-target="2021" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2021</a></li>
            <li data-year="2021" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2021-I_V6.xlsx">Reporte del 01-01-2021 a 30-06-2021</a></li>
            <li data-year="2021"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2021-II_v6.1.xlsx">Reporte del 01-07-2021 a 31-12-2021</a></li>
            <li data-target="2022" class="mt-5 mb-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="javascript:void(false)">2022</a></li>
            <li data-year="2022" class="mb-5 mt-5"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2022-I_v3.xlsx">Reporte del 01-01-2022 a 30-06-2022</a></li>
            <li data-year="2022"><a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2022-II_v4.xlsx">Reporte del 01-07-2022 a 30-09-2022</a></li>
        </ul>*@
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Actas-Agosto-2013.zip"> Actas</a>

                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Informacion-Oficio-6164-2013-OS-GFE.xlsx">Información Complementaria</a>

                    </div>
                    <h4 class="heading-6 mb-4">2013</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_RIS_web_01012013_30062013.xlsx">Reporte del 01-01-2013 al 30-06-2013</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_WEB_RIS_01072013_31122013.xlsx">Reporte del 01-07-2013 al 31-12-2013</a>

                    </div>
                    <h4 class="heading-6 mb-4">2014</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_Empresas_RIS_2014_II_final_web_v2.xlsx">Reporte del 01-07-2014 al 31-12-2014.</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_Empresas_RIS_2014_II_final_web_v2.xlsx">Reporte del 01-01-2014 al 30-06-2014 (Actualizado al 18/08/2014)</a>
                    </div>
                    <h4 class="heading-6 mb-4">2015</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_RIS_1Periodo_2015_web_v2.xlsx">Reporte del 01-01-2015 al 30-06-2015</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_RIS_2Periodo_2015_v_1.4.0_WEB-final_prioridad_pub.xlsx">Reporte del 01-07-2015 al 31-12-2015</a>

                    </div>
                    <h4 class="heading-6 mb-4">2016</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_web_1_2016.xlsx">Reporte del 01-01-2016 a 30-06-2016</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2016-02 version 01.xlsx">Reporte del 01-07-2016 a 31-12-2016</a>
                    </div>
                    <h4 class="heading-6 mb-4">2017</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2017-01 version 02.xlsx">Reporte del 01-01-2017 a 30-06-2017</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2017-02-Julio-Diciembre v 06.xlsx">Reporte del 01-07-2017 a 31-12-2017</a>
                    </div>
                    <h4 class="heading-6 mb-4">2018</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de disponibilidad RIS -Cuadro_General_2018-01 v3.xlsx">Reporte del 01-01-2018 a 30-06-2018</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2018-II v4.xlsx">Reporte del 01-07-2018 a 31-12-2018</a>

                    </div>
                    <h4 class="heading-6 mb-4">2019</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2019-I.xlsx">Reporte del 01-01-2019 a 30-06-2019</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2019-II.xlsx">Reporte del 01-07-2019 a 31-12-2019</a>
                    </div>
                    <h4 class="heading-6 mb-4">2020</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS -Cuadro_General_2020-I.xlsx">Reporte del 01-01-2020 a 30-06-2020</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2020-II.xlsx">Reporte del 01-07-2020 a 31-12-2020</a>
                    </div>
                    <h4 class="heading-6 mb-4">2021</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2021-I_V6.xlsx">Reporte del 01-01-2021 a 30-06-2021</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2021-II_v6.1.xlsx">Reporte del 01-07-2021 a 31-12-2021</a>
                    </div>
                    <h4 class="heading-6 mb-4">2022</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/REQ_2023_001555/Reporte_de_disponibilidad_RIS-Cuadro_General_2022-I_semestral_v4.xlsx">Reporte del 01-01-2022 a 30-06-2022<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Actualizado al 31/05/2023)</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/REQ_2023_001555/Reporte_de_disponibilidad_RIS-Cuadro_General_2022-II_trimestral_v5.xlsx">Reporte del 01-07-2022 a 30-09-2022<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Actualizado al 31/05/2023)</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/REQ_2023_001555/Reporte_de_disponibilidad_RIS-Cuadro_General_2022-II_semestral_v3.xlsx">Reporte del 01-07-2022 a 31-12-2022<br>(Actualizado al 31/05/2023)</a>
                    </div>
                    <h4 class="heading-6 mb-4">2023</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/REQ_2023_001555/Reporte_de_disponibilidad_RIS-Cuadro_General_2023-I_trimestral_v2.xlsx">Reporte del 01-01-2023 a 31-03-2023<br>(Actualizado al 31/05/2023)</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/REQ_2023_002086/Reporte_de_disponibilidad_RIS_2023-I_v2.xlsx">Reporte del 01-01-2023 a 30-06-2023<br>(Actualizado al 14/07/2023)</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/Reporte_de_cumplimiento_NTIITR_2023-Jul-Set-v.1.0.xlsx">Reporte del 01-07-2023 a 30-09-2023<br></a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post Operación/Reportes de Interés/Adecuación a la NTIITR/Reporte Disponibilidad Semestral/REQ 2024-000194/Reporte_de_cumplimiento_NTIITR_2023-Jul-Dic-v.1.xlsx">Reporte del 01-07-2023 a 31-12-2023<br></a>
                    </div>
                    <h4 class="heading-6 mb-4">2024</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/Reporte_de_cumplimiento_NTIITR_2024-Ene-Mar-v.1.0.xlsx">Reporte del 01-01-2024 a 31-03-2024</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/Reporte_de_disponibilidad_RIS-Cuadro_General_2024-I_Semestral_v2.xlsx">Reporte del 01-01-2024 a 30-06-2024<br>(Actualizado al 22/11/2024)</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/fileapp/home/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/REQ%202024-003036/Reporte_de_cumplimiento_NTIITR_2024-Jul-Sep-v.1.0.xlsx">Reporte del 01-07-2024 a 30-09-2024</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/fileapp/home/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/REQ%202025-000133/Reporte_de_cumplimiento_NTIITR_2024-II_v1.xlsx">Reporte del 01-07-2024 a 31-12-2024</a>
                    </div>
                    <h4 class="heading-6 mb-4">2025</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/Reporte_RIS_Trimestral_2025-I_v1.0.xlsx">Reporte del 01-01-2025 a 31-03-2025</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="https://www.coes.org.pe/portal/browser/download?url=Post%20Operaci%C3%B3n/Reportes%20de%20Inter%C3%A9s/Adecuaci%C3%B3n%20a%20la%20NTIITR/Reporte%20Disponibilidad%20Semestral/Reporte_RIS_Semestral_2025-I_v1.0.xlsx">Reporte del 01-01-2025 a 30-06-2025</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="clear:both"></div>

<script>
    var calendarAnioActual = new Date().getFullYear();

    $('.listado-archivo [data-year]').each(function () {
        var currentElement = $(this);
        if (currentElement.attr("data-year") == calendarAnioActual) {
            $(currentElement).show();
        } else {
            $(currentElement).hide();
        }

    });

    $("[data-target]").on("click", function () {
        calendarAnioActual = $(this).text();

        $('.listado-archivo [data-year]').each(function () {
            var currentElement = $(this);

            if (currentElement.attr("data-year") == calendarAnioActual) {
                $(currentElement).show();
            }
            else {
                $(currentElement).hide();
            }
        });
    });

</script>