@{
    ViewBag.Title = "Incumplimientos GMM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Gestión de Incumplimientos en el MME</div>
</div>
<div class="content-hijo" id="mainLayout" style="height: 600px;">
    <div id="mensaje"></div>
    <table style="vertical-align:top">
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <thead>
                            <tr>
                                <td colspan="2">Búsqueda</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>Año: </td>
                                        <td>
                                            <select id="anho">
                                                <option value="">Seleccione...</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mes: </td>
                                        <td>
                                            <select id="mes">
                                                <option value="">Seleccione...</option>
                                                <option value="1">Enero</option>
                                                <option value="2">Febrero</option>
                                                <option value="3">Marzo</option>
                                                <option value="4">Abril</option>
                                                <option value="5">Mayo</option>
                                                <option value="6">Junio</option>
                                                <option value="7">Julio</option>
                                                <option value="8">Agosto</option>
                                                <option value="9">Septiembre</option>
                                                <option value="10">Octubre</option>
                                                <option value="11">Noviembre</option>
                                                <option value="12">Diciembre</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>Situación de la Empresa: </td>
                                        <td>
                                            <select id="situacionEmpresa">
                                                <!-- Afectada por falta de pago, Imcumplidora -->
                                                <option value="1" selected>Imcumplidora</option>
                                                <option value="2">Afectada</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Documento: </td>
                                        <td>
                                            <input style="width:100px;" type="text" id="documento" name="documento" maxlength="11" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Razón Social: </td>
                                        <td>
                                            <input style="width:280px;" type="text" id="razonSocial" name="razonSocial" maxlength="25"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" value="Agregar" id="btnAgregar" name="btnAgregar" class="form-action" />
                            </td>
                            <td>

                                <input type="button" value="Buscar" id="btnConsultar" name="btnConsultar" class="form-action-r" />
                                <input type="button" value="Limpiar" id="btnLimpiar" name="btnLimpiar" class="form-action-r" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <div class="content-tabla">
        <div class="content-tabla">
            <div class="table-list" id="listadoIncumplimientos"></div>
            <!-- CAMPOS-->
        </div>
    </div>

    <div id="popupEdicion" class="general-popup" style="width:900px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Editar Incumplimiento</span>
        </div>
        <div id="mensajepe"></div>
        <div id="contenidoEdicion">
            <table style="vertical-align: top">
                <tr style="vertical-align: top">
                    <td style="vertical-align: top">
                        <table>
                            <tr style="display:none;">
                                <td><input type="radio" name="tipoEmpresa" id="tipoEmpresaUsuarioLibre" value="4" checked>Usuario Libre </td>
                                <td>
                                    <input type="radio" name="tipoEmpresa" id="tipoEmpresaDistribuidor" value="2">Distribuidor
                                </td>
                            </tr>
                            <tr class="search-content">
                                <td colspan="2">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="4">
                                                    Empresas
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td width="60">
                                                Incumplidora:
                                            </td>
                                            <td width="300">
                                                <input type="text" id="empresaAgenteEdit" name="empresaAgenteEdit" disabled="disabled" style="width:300px" />
                                            </td>
                                            <td width="5"></td>
                                            <td width="40">
                                                <div id="divEmpresaInc">
                                                    <input type="button" value="..." id="btnBuscarEmpresaAgente" name="btnBuscarEmpresaAgente" class="form-action" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Afectada:
                                            </td>
                                            <td>

                                                <input type="text" id="empresaEdit" name="empresaEdit" disabled="disabled" style="width:300px" />

                                            </td>
                                            <td width="5"></td>
                                            <td>
                                                <div id="divEmpresaAfe">
                                                    <input type="button" value="..." id="btnBuscarEmpresa" name="btnBuscarEmpresa" class="form-action" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td colspan="2">&emsp;</td></tr>
                            <tr class="search-content">
                                <td colspan="2">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="4">
                                                    Detalle
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td colspan="4">
                                                Periodo de incumplimiento:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60">
                                                Año:
                                            </td>
                                            <td width="80">
                                                <select id="anhoEdit">
                                                    <option value="">Seleccione...</option>
                                                </select>
                                            </td>
                                            <td width="60">
                                                Mes:
                                            </td>
                                            <td width="80">
                                                <select id="mesEdit">
                                                    <option value="">Seleccione...</option>
                                                    <option value="1">Enero</option>
                                                    <option value="2">Febrero</option>
                                                    <option value="3">Marzo</option>
                                                    <option value="4">Abril</option>
                                                    <option value="5">Mayo</option>
                                                    <option value="6">Junio</option>
                                                    <option value="7">Julio</option>
                                                    <option value="8">Agosto</option>
                                                    <option value="9">Septiembre</option>
                                                    <option value="10">Octubre</option>
                                                    <option value="11">Noviembre</option>
                                                    <option value="12">Diciembre</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                Monto afectado:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60">
                                                Valor(S/)
                                            </td>
                                            <td colspan="3">
                                                <input type="number" id="montoAfectadoEdit" value="0" width="450" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action-r" />
                                                <p>&emsp;</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top">
                        <table>
                            <tr class="search-content">
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="4">
                                                    Informes relacionados
                                                </th>

                                            </tr>
                                        </thead>
                                        <tr>
                                            <td width="60">
                                                Tipo:
                                            </td>
                                            <td width="150">
                                                <select id="tipoInformeEdit"></select>
                                            </td>
                                            <td width="60">
                                                Fecha de recepción:
                                            </td>
                                            <td width="150">
                                                <input style="width:140px;" type="text" id="fechaRecepcionEdit" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="60">
                                                Archivo adjunto:
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="text" id="archivo" name="archivo" disabled="disabled" />
                                                        </td>
                                                        <td>
                                                            <div id="container">
                                                                <input type="button" id="btnSelectFile" value="..." />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td></td>
                                            <td>
                                                <input type="button" value="Agregar" id="btnGuardarArchivo" name="btnGuardarArchivo" class="form-action-r" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                Lista de archivos:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" id="listadoIncumplimientoArchivos">
                                                @*<div class=" content-tabla">
                                            <div class="content-tabla">
                                            <div class="table-list" id="listadoIncumplimientoArchivos"></div>
                                            </div>
                                            </div>*@
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="vertical-align: top">
                    <td colspan="2">
                        <input type="button" value="Cerrar" id="btnCancelarEdicion" name="btnCancelarEdicion" class="form-action-r" />
                    </td>
                </tr>
            </table>
            <input type="hidden" id="esNuevo" name="esNuevo" />
            <input type="hidden" id="empresaSeleccionada" name="empresaSeleccionada" />
            <input type="hidden" id="empresaAgenteSeleccionada" name="empresaAgenteSeleccionada" />
            <input type="hidden" id="tipoemprcodi" name="tipoemprcodi" />
            <input type="hidden" id="codigoIncumplimiento" name="codigoIncumplimiento" />
        </div>
    </div>

    <div id="popupBuscarEmpresa" class="general-popup" style="height:300px;width:400px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Buscar Razón Social</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table style="width:100%">
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <input type="text" id="empresaBuscar" name="empresaBuscar" />
                    </td>
                    <td>
                        <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar" class="form-action" />
                    </td>
                </tr>
            </table>
            <div class="table-list" id="listadoEmpresas">

            </div>

        </div>

    </div>

    <div id="popupBuscarEmpresaAgente" class="general-popup" style="height:300px;width:400px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Buscar Razón Social</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table style="width:100%">
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <input type="text" id="empresaAgenteBuscar" name="empresaAgenteBuscar" />
                    </td>
                    <td>
                        <input type="button" value="Buscar" id="btnAgenteBuscar" name="btnAgenteBuscar" class="form-action" />
                    </td>
                </tr>
            </table>
            <div class="table-list" id="listadoEmpresasAgente">

            </div>

        </div>

    </div>
</div>

<!--Hoja de estilos-->
<link href="~/Areas/GMM/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<link href="~/Areas/GMM/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/GMM/Content/Scripts/incumplimientos.js"></script>

<script src="~/Areas/GMM/Content/Scripts/util.js"></script>
<script src="~/Areas/GMM/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>