@model COES.MVC.Intranet.Areas.GMM.Models.IncumplimientoModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <div>
        <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaListaEmpresas">
            <thead>
                <tr>
                    <th></th>
                    <th>Razón Social</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListEmpresaCliente)
                {
                    <tr class="menu-contextual">
                        <td style="text-align:center"><input type="radio" name="codEmpresa" value="@(item.EMPRCODI + "/" + item.Emprrazsocial+ "/" + item.EmprRuc)"></td>
                        <td style="text-align:left">@item.Emprrazsocial</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <table align="center">
            <tr>
                <td>
                    <input type="button" value="Seleccionar" id="btnSeleccionarEmpresa" name="btnSeleccionarEmpresa" class="form-action" />
                </td>
            </tr>
        </table>

    </div>
</form>
