@model COES.MVC.Intranet.Areas.RechazoCarga.Models.EditRegistroSvrmModel
@{
    ViewBag.Title = "Nueva Carga Esencial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout">
    <div class="form-title">
        <div id="divTitulo">Nuevo Registro Svrm</div>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0">Por favor complete los campos</div>

    <div class="content" style="margin-bottom:0px; padding:15px">
        <fieldset>
            <legend>Datos Generales</legend>
                <table class="content-tabla-search" style="width:auto">
                    <tbody>                                            
                    <tr>
                        <td>
                            Razón Social:
                        </td>
                        <td colspan="3">
                            <input type="text" id="empresaEdit" name="empresaEdit" disabled="disabled" style="width:300px" />
                        </td>                        
                        <td><input type="button" value="..." id="btnBuscarEmpresa" name="btnBuscarEmpresa" class="form-action" /></td>
                    </tr>                    
                    <tr>
                        <td>
                            Punto de Medición:
                        </td>
                        <td colspan="2">
                            <select id="puntoMedicion" name="puntoMedicion" style="width:300px">
                                <option value="0">-- SELECCIONE --</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>                        
                    </tr>
                    <tr>
                        <td></td>
                        <td>HP</td>
                        <td>HFP</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                           ERACMF
                        </td>
                        <td>
                            <input type="text" id="eracmfHP" name="eracmfHP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                        </td>
                        <td>
                            <input type="text" id="eracmfHFP" name="eracmfHFP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ERACMT
                        </td>
                        <td>
                            <input type="text" id="eracmtHP" name="eracmtHP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                        </td>
                        <td>
                            <input type="text" id="eracmtHFP" name="eracmtHFP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            M&aacute;x. Dem. Cont.
                        </td>
                        <td>
                            <input type="text" id="maxDemCont" name="maxDemCont" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                        </td>
                        <td>                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            M&aacute;x. Dem. Disp.
                        </td>
                        <td>
                            <input type="text" id="maxDemDisp" name="maxDemDisp" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            M&aacute;x. Dem. Com.
                        </td>
                        <td>
                            <input type="text" id="maxDemCom" name="maxDemCom" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Documento:
                        </td>
                        <td colspan="2">
                            <input type="text" id="documentoEdit" name="documentoEdit" maxlength="100" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Fecha Registro:
                        </td>
                        <td colspan="2">
                            <input type="text" id="fechaRegistro" name="fechaRegistro" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Estado:
                        </td>
                        <td colspan="2">
                            <select id="estadoEdit" name="estadoEdit">
                                <option value="">-- SELECCIONE --</option>
                                <option value="0">No Vigente</option>
                                <option value="1">Vigente</option>
                            </select>
                        </td>
                    </tr>                   
                    <tr>
                        <td></td>
                        <td>
                            <br /><br />
                            <div style="float: right;">
                                <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                                <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </fieldset><br>

        <br />

    </div>

    <div id="popupEdicion" class="general-popup" style="height:300px;width:500px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Buscar Razón Social</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table style="width:100%">
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <input type="text" id="empresaBuscar" name="empresaBuscar" style="width:300px" maxlength="100" />
                    </td>
                    <td>
                        <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar" class="form-action" />
                    </td>
                </tr>
            </table>
            <div class="table-list" id="listadoEmpresas">

            </div>
            <input type="hidden" id="empresaSeleccionada" name="empresaSeleccionada" />
        </div>

    </div>

</div>
<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/registroSvrmEdit.js"></script>
