@model COES.MVC.Intranet.Areas.RechazoCarga.Models.RegistroSvrmModel
@{
    ViewBag.Title = "Registro Svrm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout" style="height: 720px;">

    <div class="form-title">
        <div class="content-titulo">Registro de Acuerdos de Servicio Voluntario de SVRM</div>
    </div>
    <div id="mensaje"></div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Raz&oacute;n Social: </td>
                            <td colspan="3">
                                <input style="width:300px;" type="text" id="empresa" name="empresa" />
                            </td>
                            <td>C&oacute;digo Suministro: </td>
                            <td colspan="3">
                                <input style="width:300px;" type="text" id="codigoSuministro" name="codigoSuministro" />
                            </td>
                            <td></td>
                            <td></td>                                                        
                        </tr>
                        <tr>
                            <td>Fecha desde: </td>
                            <td>
                                <input style="width:110px;" type="text" id="fechaIni" name="fechaIni" />
                            </td>
                            <td>Hasta: </td>
                            <td>
                                <input style="width:110px;" type="text" id="fechaFin" name="fechaFin" />
                            </td>
                            <td>Max Dem Comprometida:</td>
                            <td>
                                <input style="width:110px;" type="text" id="maxDemComprometidaIni" name="maxDemComprometidaIni" />
                            </td>
                            <td>Hasta:</td>
                            <td>
                                <input style="width:110px;" type="text" id="maxDemComprometidaFin" name="maxDemComprometidaFin" />
                            </td>
                            <td colspan="2">
                                <input type="button" value="Buscar" id="btnConsultar" name="btnConsultar" class="form-action" />
                                <input type="button" value="Agregar" id="btnAgregar" name="btnAgregar" class="form-action" />
                                
                            </td>
                        </tr>
                        <tr>
                            <td></td><td><input type="button" value="Exportar Excel" id="btnExportar" name="btnExportar" class="form-action" /></td>
                        </tr>

                    </table>
                </div>
                <div class="content-tabla">
                    <table class="content-tabla">
                        <tr>
                            <td>
                               
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>
    <div id="popupEdicion" class="general-popup" style="width:500px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Editar Registro Svrm</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table style="width:100%">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td colspan="3">
                        <input type="text" id="empresaEdit" name="empresaEdit" disabled="disabled" style="width:300px" />
                    </td>
                    <td><input type="button" value="..." id="btnBuscarEmpresa" name="btnBuscarEmpresa" class="form-action" /></td>
                </tr>
                <tr>
                    <td>
                        Punto de Medición:
                    </td>
                    <td colspan="2">
                        <select id="puntoMedicion" name="puntoMedicion" style="width:300px">
                            <option value="0">-- SELECCIONE --</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="margin-left:20px">HP</td>
                    <td style="margin-left:20px">HFP</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        ERACMF
                    </td>
                    <td>
                        <input type="text" id="eracmfHP" name="eracmfHP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                    <td>
                        <input type="text" id="eracmfHFP" name="eracmfHFP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        ERACMT
                    </td>
                    <td>
                        <input type="text" id="eracmtHP" name="eracmtHP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                    <td>
                        <input type="text" id="eracmtHFP" name="eracmtHFP" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Max. Dem. Cont.
                    </td>
                    <td>
                        <input type="text" id="maxDemCont" name="maxDemCont" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Max. Dem. Disp.
                    </td>
                    <td>
                        <input type="text" id="maxDemDisp" name="maxDemDisp" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Max. Dem. Com.
                    </td>
                    <td>
                        <input type="text" id="maxDemCom" name="maxDemCom" style="width: 80px;" maxlength="10" onkeypress="return soloNumeros(event)" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Documento:
                    </td>
                    <td colspan="2">
                        <input type="text" id="documentoEdit" name="documentoEdit" maxlength="100" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Fecha Registro:
                    </td>
                    <td colspan="2">
                        <input type="text" id="fechaRegistro" name="fechaRegistro" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Estado:
                    </td>
                    <td colspan="2">
                        <select id="estadoEdit" name="estadoEdit">
                            <option value="">-- SELECCIONE --</option>
                            <option value="0">No Vigente</option>
                            <option value="1">Vigente</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center" colspan="1">
                        <br /><br />
                        <div style="float: right;">
                            <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                            <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                            </div>
                   </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <input type="hidden" id="esNuevo" name="esNuevo" />
            <input type="hidden" id="codigoRegistroSvrm" name="codigoRegistroSvrm" value="0" />
        </div>
    </div>
    <div id="popupHistorial" class="general-popup">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Historial Esquema Unifilar</span>
        </div>
    </div>
    <div id="popupBuscarEmpresa" class="general-popup" style="height:300px;width:400px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Buscar Razón Social</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table>
                <tr>
                    <td>
                        Empresa:
                    </td>
                    <td>
                        <input type="text" id="empresaBuscar" name="empresaBuscar" maxlength="100" />
                    </td>
                    <td>
                        <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar" class="form-action" />
                    </td>
                </tr>
            </table>
            <div class="table-list" id="listadoEmpresas">

            </div>
            <input type="hidden" id="empresaSeleccionada" name="empresaSeleccionada" />
        </div>
    </div>
</div>

<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/registroSvrm.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/util.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/json2.js"></script>
