@model COES.MVC.Intranet.Areas.Intervenciones.Models.IntervencionesReporte

@{
    ViewBag.Title = "ActualizaReporte";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Areas/Intervenciones/Content/Scripts/parametro/Actualizareporte.js?v=9.0.0"></script>
<style>
    .content-hijo .content-frame table tr td {
        vertical-align: middle;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Seleccionar Reporte</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="ast">
        <div class="content-hijo" style="padding-top:8px">

            <div id="mensaje"></div>
            <input type="hidden" id="hfidrepor" />
            <div class="row">

                <table id="Contenido" border="0" cellpadding="5" cellspacing="2" style="width:25%; overflow:auto; background-color:#e5efff">

                    <tr class="THCabecera">
                        <td>
                            @foreach (var obj in Model.ListaReportes)
                            {
                                <div>
                                    <input class="form-check-input" type="radio" name="inlineRadio" onclick="handleClick(this);" value="@obj.Inreptipo">
                                    <label class="form-check-label">@obj.Inrepnombre</label>
                                </div>
                            }
                        </td>
                    </tr>



                </table>

            </div>
            
            <div class="botonera-item" style="width: 250px; padding-top: 10px">
                <input type="button" value="Actualizar" id="btnActualizar" />                
            </div>

        </div>
    </div>
    
</div>
