@model COES.MVC.Intranet.Areas.Intervenciones.Models.InPlantillaSustento

@{
    ViewBag.Title = "Configuración de Recordatorios";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Areas/PMPO/Content/Scripts/jquery.dataTables.rowReordering.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/jqueryui.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<script src="~/Areas/Intervenciones/Content/Scripts/parametro/configuracionPlantilla.js?v=9.0.0"></script>

<div class="form-title">
    <div class="content-titulo">
        Configuración de plantillas inclusión / exclusión
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensaje"></div>
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabLista">Listado</a></li>
            <li class='tab'><a href="#tabDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>

            <div id="tabLista">

                <div id="vistaListado">

                    <div id="div_listado" class="content-tabla">

                    </div>
                </div>

            </div>

            <div id="tabDetalle">

                <div class="form-title">
                    <div class="content-titulo" id="titulo"></div>
                    <div class="content-botonera">
                        <input type="button" id="btnNuevoRequisito" value="Nuevo requisito" hidden/>
                    </div>
                </div>

                <div id="div_detalle" class="content-tabla">

                </div>
            </div>

        </div>
    </div>

</div>

<div id="historialPlantilla" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial Plantillas</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="vistaVersion">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>

                <div class="content-tabla">
                    <div class="table-list" id="listadoPlantilla"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupRequisito" class="general-popup" style="width: 450px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Requisito</span></div>
    <div class="panel-container">

        <!--Formulario-->
        <div>
            <table style=" margin-top: 15px;">
                <tbody>
                    <tr>
                        <td class="tbform-label" style="">Requisito:</td>
                        <td class="tbform-control" style="vertical-align: top;">
                            <textarea id="txtRequisito" cols="50" rows="4" style=" resize: none"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbform-label" style="vertical-align: middle"> Tipo respuesta:</td>
                        <td class="tbform-control">
                            <select id="cbTipoResp">
                                <option value="1">Texto</option>
                                <option value="2">Archivos (cualquier tipo)</option>
                                <option value="3">Archivos (solo foto)</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="tbform-control" style="padding-top: 15px;">
                            <input id="btnGuardarRequisito" type="button" value="Grabar">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="clear:both; height:20px"></div>
        </div>

    </div>
</div>