@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedInfAnual.cshtml";
}



<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
  
    <div class="content-tabla">
       <h1>Reporte pendiente de implementar</h1>
    </div>
</div>