@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedInfAnual.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/informeAnual/1_2_retiroopcomercial.js?v=2.0.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/Siosein/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <input type="hidden" id="txtTipooperacion" value="@Model.NroMostrar" />
        <div class="table-list" style="padding-bottom:30px; " id="listado"></div>
        <div id="grafico1" style="float: left; width:40%; display: none"></div>
        <div id="grafico2" style="width:60%; display:none;"></div>

    </div>
</div>