@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedInfAnual.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/informeAnual/infMensualAnual.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/informeAnual/0_resumenrelevante.js"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/Siosein/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>

        <div style="clear:both; height:10px; padding-top:25px;"></div>
        <div id="grafico1_1" style="height: 450px;width: 550px; float: left;margin-bottom: 5px;"></div>
        <div id="grafico1_2" style="height: 450px;width: 550px; float: left;margin-bottom: 5px;"></div>
    </div>
</div>