@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedInfAnual.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/grouped-categories.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/informeAnual/7_1_horascongestion.js?v=2.0.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/Siosein/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; "></div>
        <div class="table-list" id="listado" style="margin:0px auto ;"></div>

        <div style="clear:both; padding-top:40px"></div>
        <div id="grafico1" style="display:none; height:900px;  width:90%; margin:0px auto;"></div>

    </div>
</div>