@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">Log de eventos</div>
    <div class="content-botonera" style="display:none">
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td><label>Fecha: </label></td>
                <td>
                    <input type="text" id="txtFecha" />
                </td>
                <td>
                    <input type="button" value="Buscar" id="btnGuardarMontoServicio" name="btnGuardarMontoServicio" />
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
                <thead>
                    <tr>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 20px;">
                            Fecha
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 30px;">
                            Hora inicio
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 30px;">
                            Hora fin
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 30px;">
                            Usuario
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 30px;">
                            Tipo
                        </th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 66px;">
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" class="odd">
                        <td>02/02/2019</td>
                        <td>05:27</td>
                        <td>05:30</td>
                        <td>RI SGI</td>
                        <td>Automático</td>
                        <td>Fallido</td>
                    </tr>
                    <tr role="row" class="even">
                        <td>03/02/2019</td>
                        <td>08:12</td>
                        <td>08:36</td>
                        <td>RI SGI</td>
                        <td>Manual</td>
                        <td>Exitoso</td>
                    </tr>
                </tbody>
            </table>
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>


</div>
