@{
    ViewBag.Title = "Reportes de envío de Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Areas/Equipamiento/Content/Css/general.css" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTReporte/reporteGeneral.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Reportes de envío de Ficha Técnica </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_reporte" style="float: left;padding-right: 5px; width: 100%;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">
            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Reportes</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td style="width: 80px; float: left;">
                        <div class="menu-item suboptions" data-url="/Equipamiento/FTReporte/IndexAmpliacion" data-alto="620" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Reporte de Ampliación de Plazo
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <iframe id="myiframe" frameborder="0" src="" scrolling="no" height="600" style="margin-top: 15px;">
        </iframe>
    </div>
</div>