@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
@{
    ViewBag.Title = "Ajuste de año presupuestal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { 
        { "sTitulo", "Ajuste de Año Presupuestal" }, 
        { "sAccion", "Actualizar" },
        { "btnGuardar", "btnGuardarUpdate" }
    })
</div>