@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Listado de Ajustes del Año Presupuestal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];

    string sSelected = "";
}

<script src="~/Areas/CPPA/Content/Scripts/ajustepresupuestal.js?v=1.0.1"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Listado de Ajustes del Año Presupuestal</div>
        <div class="content-botonera" style="display: flex; align-items: center; height: auto; gap: 10px;">
            <input type="button" id="btnNuevoRevision" value="Nuevo"
                   onclick="location.href='@Url.Action("New","AjustePresupuestal")'" alt="Nuevo" title="Nuevo"
                   style="margin-top: 15px;" />
        </div>
    </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <!--
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información</div>
        -->
        <div class="search-content" style="margin-bottom:10px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td><div class="editor-label">Fecha desde</div></td>
                    <td><div class="editor-field"><input type="text" id="txtFechaIni" class="txtFecha" /></div></td>

                    <td><div class="editor-label">Fecha hasta</div></td>
                    <td><div class="editor-field"><input type="text" id="txtFechaFin" class="txtFecha" /></div></td>

                    <td><div class="editor-label">Estado</div></td>
                    <td>
                        <div class="editor-field">
                            Abierto<input type="checkbox" id="chbAbierto" value="1" />
                            Cerrado<input type="checkbox" id="chbCerrado" value="1" />
                            Anulado<input type="checkbox" id="chbAnualdo" value="0" />
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <input type="button" id="btnConsultar" value="Consultar" />
                    </td>
                </tr>
            </table>
            <a href="#" id="btnManualUsuario" style="text-decoration: none; display: inline-block; float: right; margin-top: -35px;">
                <div style="text-align: center; line-height: 15px; font-size: 12px;">
                    <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;"><br>
                    <span style="color: #278CCC;">Manual de Usuario</span>
                </div>
            </a>
        </div>
        <div class="table-list" id="listado" style="margin-top: 10px;"></div>

    </div>

    <br />
    <br />
</div>