@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
@{
    ViewBag.Title = "Ajuste de Año Presupuestal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
@Html.Partial("Form", Model, 
    new ViewDataDictionary { 
        { "sTitulo", "Ajuste de Año Presupuestal" }, 
        { "sAccion", "Insertar" },
        { "btnGuardar", "btnGuardarNew" }
    }
)
</div>