
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/InformesOsinergmin/Content/Scripts/mapa.js"></script>
    <link href="~/Areas/InformesOsinergmin/Content/Css/mapa.css" rel="stylesheet"/>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
}

<div id="mostrarMapa" style=""></div>

<table class="pretty">
    <thead>
        <tr>
            <th>Latitud</th>
            <th>Longitud</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="latitud"></td>
            <td id="longitud"></td>
        </tr>
    </tbody>
</table>

