@model COES.MVC.Intranet.Areas.Transferencias.Models.TramiteLevantamientoModel
@{
    ViewBag.Title = "Editar la información de la Observación o Comentario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
@Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información de la Observación o Comentario" }, { "sAccion", "Actualizar" }, { "sTipoTramite", TempData["Tipotramitecodigo"] } })
</div>
