@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ForzadaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/CortoPlazo/Content/Scripts/forzada.js?v=1.15"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<style>
    .handsontable table thead th {
        background-color: #2980B9;
        color: white;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Generaci&oacute;n Forzada</div>
    <div class="content-botonera">            
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#forzada">Registro de Generación Forzada</a></li>
            <li class='tab'><a href="#fijos">Unidades fijas</a></li>
        </ul>
        <div class='panel-container'>
            <div id="forzada">

                <form id="form" name="form">
                    <div class="action-message" id="mensaje">Ingrese los datos</div>
                </form>
                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Desde:</td>
                            <td><input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaHidroInicio" style="width:120px" /></td>
                            <td>
                                <input type="button" id="btnVer" value="Consultar" />
                                <input type="button" id="btnGrabar" value="Grabar" />
                            </td>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
                <table>
                    <tr>
                        <td>
                            <input type="hidden" id="hfDatos" value="@Model.Datos" />
                        </td>
                        <td>
                            <div id="contenedor"></div>
                        <td>
                    </tr>
                </table>


            </div>
            <div id="fijos">

                <div style="margin:5px">
                    <div class="search-content">
                        <table class="content-tabla-search" style="width:auto; ">
                            <tr>
                                <td><input type="button" id="btnNuevoMaestro" value='Nuevo' /></td>
                            </tr>
                        </table>
                    </div>


                    <div id="mensajeListMaestro"></div>
                    <div id="listadoMaestro">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />
    <br />
</div>

<div id="popupMaestro" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Generación Forzada</span></div>
    <div class="popup-text" id="contenidoMaestro">

    </div>
</div>