@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.RevisionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<div class="form-title">
    <div class="content-titulo">Medidas Adoptadas
        <input type="button" id="btngrabargeneral" value='Grabar' />
    </div>
</div>

<div id="tab-container" class="tab-container" style="min-height:700px">

    <div style="clear:both; height:5px;"></div>
    <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Detalle de Recomendación</span></div>
    <div style="clear:both; height:5px;"></div>

            <div class="content-registro" style="padding-top:40px;">
                <table style="width:100%;">
                    <tr>
                        <td class="registro-label">Codigo</td>
                        <td class="registro-label">EV -&nbsp;&nbsp;<input style="width:50px;" disabled />&nbsp;&nbsp;-&nbsp;&nbsp;<input style="width:50px" disabled /></td>

                        <td class="registro-label">Nombre Evento</td>
                        <td class="registro-control"><input disabled style="width:500px;"/></td>
                      
                    </tr>
                    <tr>
                        <td class="registro-label">Empresa</td>
                        <td class="registro-control"><input disabled style="width:250px;" /></td>

                        <td class="registro-label">Recomendación</td>
                        <td class="registro-control"><textarea rows="10" cols="80" disabled style="width: auto"></textarea></td>
                    </tr>
                </table>
                <h3>Datos a Modificar</h3>
                <table style="width:100%;">
                    <tr>
                        <td class="registro-control" colspan="2"><input type="checkbox" />IMPORTANTE</td>
                        <td class="registro-control" colspan="4"><input type="checkbox" />Carta de Recomendación COES</td>
                    </tr>
                    <tr>                        
                        
                        <td class="registro-label">Número de Registro de Respuesta</td>
                        <td class="registro-control">
                            <textarea rows="10" cols="40" style="width: auto"></textarea>
                            <br />
                            <input type="button" id="btngrabarModificar" value='Grabar' />
                        </td>
                        
                        <td class="registro-control"><input type="file"/></td>
                        <td class="registro-control">
                            <a href="#" onclick="Ver(1)" id="btnVer">
                                <img src="~/Content/Images/btn-open.png" style="margin-top: 5px;" />
                            </a>
                        </td>
                        <td class="registro-control">
                            <a href="#" onclick="Eliminar(1)" id="btnEliminar">
                                <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
           


            <div class="content-registro" style="width:auto">
               
                <div style="clear:both; height:5px;"></div>
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Medida Adoptada</span></div>
                <div style="clear:both; height:5px;"></div>

                <table style="width:100%;">
                    <tr>   
                        <td class="registro-label">Fecha de Medida</td>
                        <td class="registro-control"><input type="date" placeholder="dd/MM/yyyy" /></td>


                        <td class="registro-label">Nivel de Cumplimiento</td>
                        <td class="registro-control"><select /></td>
                        <td class="registro-label">Carta de Respuesta</td>

                        <td class="registro-control"><input type="file" /></td>
                        <td class="registro-control">
                            <a href="#" onclick="Ver(1)" id="btnVer">
                                <img src="~/Content/Images/btn-open.png" style="margin-top: 5px;" />
                            </a>
                        </td>
                        <td class="registro-control">
                            <a href="#" onclick="Eliminar(1)" id="btnEliminar">
                                <img src="~/Content/Images/btn-cancel.png" style="margin-top: 5px;" />
                            </a>
                        </td>  
                    </tr>
                    <tr>
                        <td class="registro-label">Medida Adoptada</td>
                        <td class="registro-control" colspan="8">
                            <textarea rows="10" cols="40" style="width: 1200px"></textarea>
                        </td>
                      
                    </tr>

                </table>
            </div>
  </div>

<script src="~/Content/Scripts/jquery.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/analisisfalla.js"></script>