@model COES.MVC.Intranet.Areas.Evaluacion.Models.CeldaAcoplamientoIncluirModel
<div class="panel-container">
    @using (Html.BeginForm("Incluir", "CeldaAcoplamiento", FormMethod.Post, new { @name = "frmIncluirCeldaAcoplamiento", id = "frmIncluirCeldaAcoplamiento" }))
    {

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table style="width:100%;margin-right: auto" class="table-form-show">
                <tr>
                    <th style="width:25%"></th>
                    <th style="width:75%"></th>
                <tr>
                    <td colspan="2">Por favor seleccione el proyecto sobre el que requiere realizar la actualización</td>

                </tr>
                <tr>
                    <td class="tbform-label">Motivo de actualización(*):</td>
                    <td class="control-no-padding">
                        @(Html.DropDownList("idProyecto", new SelectList(Model.listaProyecto, "Epproycodi", "Epproynomb", Model.idProyecto), "SELECCIONAR", new { style = "width: 98%;" }))
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <br />
        <input id="btnCerrarIncluir" value="Cerrar" type="button"> <input id="btnSeleccionar" value="Seleccionar" type="button">
    }
</div>

