@model COES.MVC.Intranet.Areas.Titularidad.Models.TransferenciaModel
@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Areas/Titularidad/Content/Scripts/configuracionQuery.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">Configuración TTIE</div>
    <div class="content-botonera">
    </div>
</div>

<style>
    .tr_inactivo td {
        background-color: #FFDDDD !important;
    }
</style>

<div id="mainLayout" class="content-hijo">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">

        <table class="content-tabla-search tabla_filtro_ho" style="width:auto">
            <tr>
                <td>Tipo de operación:</td>
                <td>
                    <select id="cbFiltroTipoOp" style="width:250px;">
                        @foreach (var item in Model.ListaTipoOperacion)
                        {
                            <option value="@item.Tmopercodi">@item.Tmoperdescripcion</option>
                        }
                    </select>
                    <input type="hidden" id="hfFiltroTipoOp" />
                </td>

                <td style="padding-left: 15px;">
                    <span class="tbform-label" style="display: inline-table;">Todos</span>
                    <input type="checkbox" id="check_estado_todos" name="check_estado_todos" style="margin-top: 5px;">
                </td>

                <td style="padding-left: 15px;">
                    <span class="tbform-label" style="display: inline-table;">Aplicativo STR</span>
                    <input type="checkbox" id="check_str" name="check_str" style="margin-top: 5px;">
                </td>
            </tr>
        </table>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#viewListado">Listado</a></li>
            <li class='tab'><a href="#viewPlantilla">Plantilla</a></li>
            <li class='tab'><a href="#viewParametro">Parámetro</a></li>
        </ul>
        <div class="panel-container">
            <div id="viewListado">
                <div style="margin-bottom: 10px">
                    <input type="button" value="Nuevo" id="btnNuevoQuery" />
                </div>
                <div id="listado"></div>
            </div>

            <div id="viewPlantilla">
                <div style="margin-bottom: 10px">
                    <input type="button" value="Nuevo" id="btnNuevoPlantilla" />
                </div>
                <div id="listado2"></div>
            </div>

            <div id="viewParametro">
                <div style="margin-bottom: 10px">
                    <input type="button" value="Nuevo" id="btnNuevoParametro" />
                </div>
                <div id="listado3"></div>
            </div>
        </div>
    </div>
</div>

<div id="popupConfiguracion" class="general-popup" style="max-width: 1200px;width: 1200px;">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Registro</span></div>

    <div class="popup-text" id="divPopupConf" style="margin-top:0">

    </div>
</div>
