@model COES.MVC.Intranet.Areas.Medidores.Models.GestionAdministradorModel

<select id="cbEmpresa2" name="IdEmpresa2" style="width: 325px">
    @foreach (var item in Model.ListaEmpresas)
    {
        <option value="@item.Emprcodi">@item.Emprnomb</option>
    }
</select>
<input type="hidden" id="hfEmpresa2" />  
