@model COES.MVC.Intranet.Areas.RechazoCarga.Models.CumplimientoEnvioMagnitudModel
@{
    ViewBag.Title = "Reporte de Cumplimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .controlDropdown {
        width: 300px !important;
    }
</style>
<div class="content-hijo" id="mainLayout" style="height: 720px;">
    <div class="form-title">
        <div class="content-titulo">Reporte de Cumplimiento</div>
    </div>
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:0px; padding:15px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Programa: </td>
                <td>
                    @Html.DropDownList("programa", new SelectList(Model.Programas, "Rcprogcodi", "Rcprognombre"), new { @class = "controlDropdown" })
                </td>
                <td>Cuadro: </td>
                <td>
                    @Html.DropDownList("cuadro", new SelectList(string.Empty, "Value", "Text"), "-- SELECCIONE --", new { @class = "controlDropdown" })
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Suministrador: </td>
                <td>
                    @Html.DropDownList("suministrador", new SelectList(Model.Suministradores, "Emprcodi", "Emprrazsocial"), new { @class = "controlDropdown" })
                </td>
                <td>Cumplió: </td>
                <td>
                    <select id="cumplio" name="cumplio" class="controlDropdown">
                        <option value="">-- TODOS --</option>
                        <option value="S">SI</option>
                        <option value="N">NO</option>
                    </select>
                </td>
                <td></td>
                <td>
                    <input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" />
                    <input type="button" value="Exportar Excel" id="btnExportar" name="btnExportar" class="form-action" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>
</div>
<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/consultaCumplimientoEnvioMagnitud.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/util.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
