@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "IDCOS";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/crearidcos.js?v=1.8"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Creaci&oacute;n de IDCOS </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="tabla-search" style="width:auto" cellpadding="5">
            <tr>
                <td style="vertical-align: middle;">Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.Fecha" />
                </td>
                <td style="vertical-align: middle; width: 117px;">
                    GPS Frecuencia:
                </td>
                <td style="width: 97px;">
                    <select id="cbGps">
                        @foreach (var item in Model.ListaGPS)
                        {
                            <option value="@item.Gpscodi">@item.NombreYEstado</option>
                        }
                    </select>
                </td>
                <td class="content-action">
                    <input type="button" id="btnGenerar" value="Crear IDCOS" />
                </td>
                <td class="content-action">
                    <input type="button" id="btnGenerarRestricOp" value="Restricciones Operativas" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="chkProc25" />Incluir Proc-25
                </td>
                <td>
                    <input type="checkbox" />Version Preliminar
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>