@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/procedimiento25.js?v=1.3"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Informes para OSINERGMIN (Mantenimientos y Horas de Operaci&oacute;n) </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto" cellpadding="5">
            <tr>
                <td>Tipo:</td>
                <td>
                    <select id="cbTipo" name="cbTipo" style="width:220px">
                        @foreach (var item in Model.ListaSelect)
                        {
                            <option value="@item.IdArea">@item.Roles</option>
                        }
                    </select>
                </td>
                <td id="tr1">Fecha:</td>
                <td id="tr2"><input type="text" id="txtFecha" value="@Model.Fecha" /></td>
                <td class="content-action">
                    <input type="button" id="btnExportar" value="Exportar" style="display:none" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>