@model COES.MVC.Intranet.Areas.Ensayo.Models.BusquedaEnsayoModel

<script type="text/javascript">

    $(function () {
        $('#cbCentral').multipleSelect({
            width: '250px',
            filter: true
        });

        $('#cbCentral').multipleSelect('checkAll');
    });

</script>

<select id="cbCentral" name="IdCentral" multiple="multiple">
    @foreach (var item in Model.ListaEquipo)
    {
        <option value="@item.Equicodi">@item.Equinomb</option>
    }
</select>


