@model COES.MVC.Intranet.Areas.Ensayo.Models.BusquedaEnsayoModel
@{
    ViewBag.Title = "Ensayos de Potencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.ListaEmpresas.Count == 0)
    {
        <p>Usuario no tiene empresas asignadas</p>
    }
    else
    {
        <link href="~/Areas/Ensayo/Content/Css/popup.css" rel="stylesheet" />
        <script src="~/Content/Scripts/jquery.format.js"></script>
        <script src="~/Content/Scripts/multiselect.js"></script>
        <link href="~/Areas/Ensayo/Content/Css/css.css?v=1.4" rel="stylesheet" />
        <link href="~/Content/Css/multiselect.css" rel="stylesheet" />
        <script src="~/Areas/Ensayo/Content/Scripts/ensayo.js?v=1.1"></script>
        <div class="form-title">
            <div class="content-titulo">Ensayos de Potencia</div>
            <div class="content-botonera">
                @if (Model.OpNuevo)
                {
                    <input type="button" id="btnNuevo" value="Nuevo Ensayo" />
                }
                <input type="button" id="btnBuscar" value="Buscar" />
                <input type="button" id="btnExcel" value="Exportar a Excel" />
            </div>
        </div>
        <div class="content-hijo" id="mainLayout">
            <div class="search-content" style="margin-bottom:15px">
                @using (Html.BeginForm("Listar", "Evento", FormMethod.Post, new { @class = "form-search", name = "frmBusqueda", id = "frmBusqueda" }))
                {
                    <div class="spfilter-container">
                        <table class="content-tabla-search" style="width:auto;display:block">
                            <tr>
                                <td>Empresa:</td>
                                <td>
                                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                                        }
                                    </select>
                                </td>
                                <td>Fecha desde:</td>
                                <td>
                                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Central:</td>
                                <td>

                                    <div id="centrales"></div>
                                </td>
                                <td>Fecha hasta:</td>
                                <td>
                                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                                </td>
                            </tr>
                            <tr></tr>
                        </table>
                        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

                        <input type="hidden" id="hfEmpresa" />
                        <input type="hidden" id="hfCentral" />
                        <input type="hidden" id="hfEstado" />

                    </div>
                }
            </div>
            <div class="content-tabla">
                <div class="table-list" id="listado"></div>
                <div class="tabla-header">
                    <div class="table-paginado" id="paginado"></div>
                </div>
            </div>

            <div style="clear:both; height:30px"></div>

        </div>

        <div id="popupAutorizarEnsayo" style="min-height:300px">
            <span class="button b-close"><span>X</span></span>
            <div class="popup-title"><span>Autorizar Ensayo</span></div>
            <div id="AutorizarEnsayo"></div>
            <input type="hidden" id="hEnsayoCodi" />
        </div>
    }

}






