
    .header-menu {
        height: 40px;
        width: 50px;
        float: left;
    }

    .header-menu-item {
        width: auto;
        float: right;
        margin-left: 10px;
        color: #fff;
        line-height: 40px;
    }

    div.dataTables_filter {
        float: left;
    }