.clase_eliminado td {
    background-color: #FFDDDD !important;
}

#tabla_parametro_general .fecha {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tabla_parametro_general .codigo {
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}

#tabla_parametro_general .concepto {
    padding-right: 20px;
    padding-left: 20px;
}

#tabla_parametro_general .abrev {
    padding-right: 20px;
    padding-left: 20px;
}

#tabla_parametro_general .unidad {
    text-align: center;
}

#tabla_parametro_general .valor {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#tabla_modo .codigo {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#tabla_modo .categoria {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}

#tabla_modo .empresa {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}

#tabla_modo .nombre {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}

#tabla_modo .abrev {
    padding-right: 20px;
    padding-left: 20px;
}

#tabla_modo .tipo {
    text-align: center;
}

#tabla_modo .estado {
    text-align: center;
}

#tabla_usuario .usuario{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
#tabla_usuario .area_abrev{
}
#tabla_usuario .area_name{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.tabla-adicional tbody tr td {
    text-align: center;
}

.cambio_actual {
    background: #31869B !important;
}
table.table_agrup tr.tr_cab .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_cab .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_cab .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_central_agrup thead .th1 {
    text-align: center;
    background: #2980B9;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #9AC9E9;
}

table.table_central_agrup thead .th2 {
    background: white;
    border: 0px solid #9AC9E9;
}

tr.tr_table_central_agrup td.td_agrup {
    border: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: top;
}

td.tr_conf_td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle;
    padding-top: 3px;
    padding-right: 1px !important;
    line-height: 5px;
}

td.tr_conf_td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle !important;
    padding-left: 10px;
    line-height: 5px;
}

td.tr_conf_td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle;
}

.label_filtro {
    font-weight: bold;
    color: #3D90CB;
}

.th1 {
    width: 100%;
    background: #2980B9;
    color: white;
    height: 20px;
}

.th2 {
    border: none;
}

/**para tabla de proyectos extranet*/
#listadoProyectosExtranet .pretty {
    width: 813px !important;
}

/**para tabla de seleccion de proyectos*/
#listadoProyectos .pretty {
    width: 892px !important;
}