@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.DefSupResNoSuminModel
@{
    ViewBag.Title = "Editar Version de DefSupResNoSuminModel - Revisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de la version" }, { "sAccion", "Actualizar" } })
</div>

