@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.DefSupResNoSuminModel

@{
    ViewBag.Title = "Nuevo Registro de Versión - Revisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva versión de deficit, superavit y reserva no suministrada" }, { "sAccion", "Insertar" } })
</div>

