@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.DefSupResNoSuminModel

@{
    ViewBag.Title = "Ingresar Version DefSupResNoSumin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Version DefSupResNoSumin" }, { "sAccion", "Grabar" } })
</div>

