.widget.see-also {
    padding: 20px;
    margin: 10px 0 20px;
}
.widget.see-also a{
    color: #ffffff;
    text-decoration: none;
}
.widget.see-also h1 {
    margin: 0px 0px -5px 0px;
}

.widget.see-also img {
    float: left;
    margin: 0px 20px 0px 0px;
}
.flecha{
    background-image: url(/Content/Images/icons.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    float: right;
    margin-top: 20px;
    background-position: 0px -70px;
}