@{
    Layout = "~/Views/Shared/LayoutWithoutHeaderFooter.cshtml";
}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acceso a la Extranet COES</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
                color: #333;
            }

            header {
                background-color: #333;
                color: white;
                padding: 1em 0;
                text-align: center;
            }

            section {
                padding: 1em 2em;
                margin: 1em auto;
                background: white;
                max-width: 800px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            h1, h2 {
                color: #333;
            }

            ol, ul {
                margin: 1em 0;
                padding: 0 1em;
            }

            a {
                color: #333;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <!--
    <header>
        <h1>Acceso a la Extranet COES</h1>
    </header>
    -->
        <section style="text-align: justify;">
            <h2>Módulo de Campañas de Información COES</h2>
            <p>Las empresas interesadas en acceder a la Extranet del COES deben seguir un proceso específico dependiendo del tipo de empresa. A continuación, se describen los pasos necesarios para gestionar el acceso de manera adecuada.</p>
        </section>
        <section style="text-align: justify;">
            <h2>Solicitud para el acceso al Módulo:</h2>
            <ul>
                <li>Si es Integrante del COES: deberá solicitar que le habiliten dicho módulo mediante carta suscrita por su Representante Legal y deberá ser enviada por el Portal de <b><a style="color: blue;" href="https://tramitevirtual.coes.org.pe/seguridad/login" target="_blank">Trámite Virtual</a></b>.</li>
                <li>
                    Si es una empresa interesada (no Integrante del COES): deberá gestionar su acceso a la Extranet de la siguiente manera:
                    <ul>
                        <li>
                            Deberá solicitar su acceso a dicho módulo por medio de carta suscrita por su Representante Legal y deberá ser enviada por el Portal de <b><a style="color: blue;" href="https://tramitevirtual.coes.org.pe/seguridad/login" target="_blank">Trámite Virtual</a></b>.
                            <ul style="list-style-type: circle;">

                                <ul style="list-style-type: circle; padding-left: 40px;">
                                    <li>
                                        En el caso que no cuente con el acceso (credencial) al Portal Trámite Virtual, deberá generarlo de manera automática a través de nuestro portal web del COES, en el sitio de “Creación de acceso”:
                                        <b><a style="color: blue;" href="https://www.coes.org.pe/Portal/tramitevirtual/registro" target="_blank">https://www.coes.org.pe/Portal/tramitevirtual/registro</a></b>
                                    </li>
                                </ul>


                                <ul style="list-style-type: circle; padding-left: 40px;">
                                    <li>
                                        Desde el Portal de Trámite Virtual deberá adjuntar la carta de solicitud de acceso al módulo de Campañas de Información.
                                    </li>
                                </ul>

                                <!-- <li>Proceso (nombre de la nueva opción Extranet)</li> -->

                                <ul style="list-style-type: circle; padding-left: 40px;">
                                    <li>
                                        En la carta deberá indicar los datos personales de las personas responsables de su empresa, que son:
                                        <ul style="list-style-type: circle; padding-left: 50px;">
                                            <li>Nombres y apellidos completos</li>
                                            <li>Cargo en la empresa</li>
                                            <li>Correo electrónico institucional</li>
                                            <li>Teléfono (Móvil)</li>
                                            <li>Nombre del módulo: “Campañas de Información”</li>
                                        </ul>
                                    </li>
                                </ul>



                                <ul style="list-style-type: circle; padding-left: 40px;">
                                    <li>Además, deberá adjuntar vigencia de poder del representante legal quien suscribirá la carta.</li>
                                </ul>

                            </ul>

                        </li>
                    </ul>
                </li>
                <!--<li>Las credenciales se enviarán por correo electrónico.</li> -->
            </ul>
            <p>Una vez recepcionada su solicitud, el equipo SGI le brindará las credenciales de acceso por correo electrónico, de manera automática.</p>
            <p>Con la obtención de la credencial podrá ingresar a la <b><a style="color: blue;" href="https://www.coes.org.pe/extranet/WebForm/Account/Login.aspx" target="_blank">Extranet COES</a></b>.</p>
        </section>
        <!--
            <section>
                <h2>Enlaces útiles</h2>
                <ul>
                    <li><a href="#" >Descargar una carta modelo en formato Word</a></li>
                    <li><a href="#">Crear accesos al Portal de Trámite Virtual del COES</a></li>
                </ul>
            </section>
        -->
    </body>
</html>