<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/favicon.png" />
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="Portal Web del COES SINAC(Comité de Operación Económica del Sistema Interconectado Nacional)">
    <meta name="keywords" content="COES, COES SINAC, Comité de Operaciones del Sistema Interconectado Nacional, Electricidad, Sector Eléctrico,
          Programa de Operación Diario, Programa de Operación, SEIN">
    <meta name="author" content="COES SINAC">

    <link href="~/Content/Css/calendar.css" rel="stylesheet" />
    <link href="~/Content/Css/table.css" rel="stylesheet" />
    <link href="~/Content/Css/popup.css" rel="stylesheet" />
    <link href="~/Content/Css/slick.css" rel="stylesheet">
    <link href="~/Content/Css/main.coes.css" rel="stylesheet" />
    @*<link href="~/Content/Css/css.css?v=15.23" rel="stylesheet" />*@
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
    @*<link href="~/Content/Css/menu.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.typekit.net/tnr5oll.css" />

    <script type="text/javascript">
        var siteRoot = "@Url.Content("~/")";
        var urlRoot = "https://www.coes.org.pe";
    </script>

    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Scripts/popup.js"></script>
    <script src="~/Content/Scripts/master.js"></script>
    <script src="~/Content/Scripts/datatable.js"></script>
    <script src="~/Content/Scripts/datepicker.js"></script>
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <script src="~/Content/Scripts/slick.js"></script>
    <script src="~/Content/Scripts/main.coes.js"></script>
    @*<script src="~/Content/Scripts/menu.js"></script>*@


    <script type="text/javascript">
        $(document).ready(function () {
            /*
                Dark mode
             */

            //Get the current theme value from local storage
            const currentTheme = localStorage.getItem('theme')

            //Check user preference at OS level
          /*  const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)')*/

            //Reusable functions to switch to dark or light
            function switchDark() {
                //Add a class to the body to enable the dark theme
                $('body').addClass('dark-theme')
                //Add the active class to this button
                $('.dark-mode-on').addClass('active')
                $('.dark-mode-off').removeClass('active')
                //Set the theme to 'dark' on the local storage value
                localStorage.setItem('theme', 'dark')
            }

            function switchLight() {
                //Remove the dark theme class from the body
                $('body').removeClass('dark-theme')
                //Add the active class to this button
                $('.dark-mode-on').removeClass('active')
                $('.dark-mode-off').addClass('active')
                //Set the theme to 'dark' on the local storage value
                localStorage.setItem('theme', 'light')
            }

            //check theme from local storage and from the OS preferences
            (currentTheme === 'dark') ? switchDark() : switchLight()

            //check user preferences
            function darkModeSwitch() {

                //determine if the clicked button is dark or light
                let themeValue = $(this).data('theme')

                //Remove classes from all switch buttons
                $('.dark-mode-switch').removeClass('active')

                //Switch theme according to the value
                if (themeValue === 'dark') {
                    switchDark()
                } else {
                    switchLight()
                }
            }

            //Theme switch button
            $('.dark-mode-switch').on('click', darkModeSwitch)

        });

        function eventoMain() {
            //Main navigation
            var coesNav = document.getElementById('main-nav')

            coesNav.addEventListener('shown.bs.collapse', function (event) {
                $('body').toggleClass('nav-expanded');
            })

            coesNav.addEventListener('hidden.bs.collapse', function (event) {
                $('body').toggleClass('nav-expanded');
                $('body').removeClass("nav-expanded");
            })
        }

    </script>

    <!--Google Analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58739217-1', 'auto');
        ga('send', 'pageview');
    </script>


</head>
<body>
    @*<div class="loyout">*@
    <div class="site-header">

        @*<div class="top-logo">
                <a href="~/"><img src="~/Content/Images/logoportal.png" /></a>
            </div>*@
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" onclick="eventoMain()" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="container">
            <nav class="secondary-menu">
                <a href="~/Operacion/CaractSEIN/BaseDatos">Características del SEIN</a>
                <a href="JavaScript:openCalendario()">Calendario COES</a>
                <a href="https://www.coes.org.pe/IntranetCorporativa/">Intranet</a>
                <a href="https://www.coes.org.pe/extranet">Extranet</a>
            </nav>
        </div>

        <div class="container header-content-area--container">
            <div class="header-content-area">
                <div class="row align-items-center">

                    <div class="col-12 col-md-4">
                        <div class="header-icons">
                            <button class="button-icon button-icon-day dark-mode-switch dark-mode-off" data-theme="light"></button>
                            <button class="button-icon button-icon-night dark-mode-switch dark-mode-on active" data-theme="dark"></button>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="main-logo">
                            <a href="~/">
                                <img src="~/Content/img/coes-logo.png" alt="COES" class="logo">
                                <img src="~/Content/img/coes-logo-dark.png" alt="COES" class="logo-dark-theme">
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="header-shortcuts d-flex d-block align-items-center">

                            <a href="https://proveedores.coes.org.pe/" class="button-icon button-icon-people" title="Portal de Proveedores"></a>
                            <a href="~/contacto/index" class="button-icon button-icon-contact" title="Contáctenos"></a>
                            <a href="https://tramitevirtual.coes.org.pe/" class="button-icon button-icon-books" title="Portal de Trámite Virtual"></a>
                            <a href="~/portalinformacion/generacion" class="button-icon button-icon-stats" title="Portal de Información"></a>
                            <a href="https://outlook.office365.com/owa" class="button-icon button-icon-mail" title="Correo"></a>

                            <div class="search-bar">
                                @*<form action="#">*@
                                <input type="text" id="txtSearch" class="search-input">
                                <input type="button" id="btnSearch" class="search-submit">
                                @*</form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="top-search">*@


        @*</div>*@
        @*<div class="top-option">*@

        @*</div>
            <div style="clear:both"></div>*@
    </div>
    <div class="container">
        <nav class="secondary-menu-movil">
            <a href="~/Operacion/CaractSEIN/BaseDatos">Características del SEIN</a>
            <a href="JavaScript:openCalendario()">Calendario COES</a>
            <a href="https://www.coes.org.pe/IntranetCorporativa/">Intranet</a>
            <a href="https://www.coes.org.pe/extranet">Extranet</a>
        </nav>
    </div>
    <div class="main-navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="main-nav">
                        @Html.Action("Menu", "Home", new { model = Model, area = "" })
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="content-area">
        @RenderBody()
    </div>
    <div class="main-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <p class="footer-top--item footer-top--item-address">
                            Av. Los Conquistadores N° 1144, piso 2 - San Isidro, Lima - Perú.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <p class="footer-top--item footer-top--item-phone">
                            Teléfono: <a href="tel:511611-8585">(511) 611-8585</a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <p class="footer-top--item footer-top--item-cal">
                            <span>Horario de recepción</span>
                            <br />
                            <span>de documentos:</span>
                            <br />
                            <span>Lunes a Viernes de</span>
                            <br />
                            <span>07:30 am - 06:00 pm</span>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <p class="footer-top--item footer-top--item-cal">
                            <span>Horario de atención:</span>
                            <br />
                            <span>Lunes a Jueves de</span>
                            <br />
                            <span>07:30 am - 06:00 pm</span>
                            <br />
                            <span>Viernes de</span>
                            <br />
                            <span>07:30 am - 01:00 pm</span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <img src="~/Content/img/logo-white.png" alt="" class="footer-logo">
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="footer-menu-container">
                            <h3 class="footer-menu--title">Coes</h3>
                            <nav class="footer-menu">
                                <a href="~/OportunidadesTrabajo/Index" class="footer-menu--item">
                                    Trabaja con nosotros
                                </a>
                                <a href="~/Proveedores/RegistroProveedores" class="footer-menu--item">
                                    Proveedores
                                </a>
                                <a href="~/PreguntasFrecuentes/Index" class="footer-menu--item">
                                    Preguntas Frecuentes
                                </a>
                                <a href="~/contacto/index" class="footer-menu--item">
                                    Contáctanos
                                </a>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">

                        <div class="footer-menu-container">
                            <h3 class="footer-menu--title">Enlaces de Interés</h3>
                            <nav class="footer-menu">
                                <a href="http://www.senamhi.gob.pe/" target="_blank" class="footer-menu--item">
                                    Senamhi
                                </a>
                                <a href="http://www.osinergmin.gob.pe/" target="_blank" class="footer-menu--item">
                                    Osinergmin
                                </a>
                                <a href="http://www.minem.gob.pe/" target="_blank" class="footer-menu--item">
                                    Ministerio de Energía y Minas
                                </a>
                                <a href="~/sitemap/index" class="footer-menu--item">
                                    Mapa del Sitio
                                </a>
                            </nav>
                        </div>

                    </div>

                    <div class="col-md-3 mb-5">

                        @*<div class="footer-menu-container">
                                <h3 class="footer-menu--title">Otros</h3>
                                <nav class="footer-menu">
                                    <a href="#" class="footer-menu--item">
                                        Libro de reclamaciones
                                    </a>
                                    <a href="#" class="footer-menu--item">
                                        Términos y codiciones
                                    </a>
                                </nav>
                            </div>*@

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="loading" class="loading">
        <div class="loading-image">
            <img src="~/Content/Images/loading.gif" />
        </div>
    </div>
    <div id="popupCalendario" class="general-popup" style="width: 100%; height: 900px !important; left: 339.5px !important; position: absolute !important; top: 0px !important; z-index: 9999 !important; opacity: 1; ">
        <div><span class="button b-close"><span>X</span></span></div>
        <div id="contenidoCalendario">
        </div>
    </div>


</body>
</html>