@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner">
    @RenderSection("banner")
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            <div class="coes-box">
                @RenderBody()
                <div class="container">
                    <h4 class="heading-6 mb-4">Base Legal</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Integrantes/Reglamento COES/ReglamentoCOES-060511.pdf">Reglamento del COES Decreto Supremo No 027-2008-EM Actualizado al 05 de mayo de 2011</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/MarcoNormativo/Procedimientos/Administrativos">Procedimiento Administrativo 16 A</a>
                    </div>

                    <h4 class="heading-6 mb-4">Requisitos para ser integrante del COES</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/Generadores">Generadores</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/Transmisores">Transmisores</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/Distribuidores">Distribuidores</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/UsuariosLibres">Usuarios Libres</a>
                    </div>

                    <h4 class="heading-6 mb-4">Modificacion de Los datos del integrante Registrado</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/Actualizacion">Actualización</a>
                    </div>

                    <h4 class="heading-6 mb-4">Información adicional</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/IntegranteOYV">Integrante Obligatorio y Voluntario</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/ResponsabilidadDI">Responsabilidad del Integrante</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/DerechosDI">Derechos del Integrante</a>
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="~/Integrantes/ConsultasFrecuentes">Consultas frecuentes</a>
                    </div>

                    <h4 class="heading-6 mb-4">Otras consultas relacionada al registro de integrantes</h4>
                    <div class="coes-button-column mb-4">
                        <a class="coes-button coes-button--icon coes-button--icon--download" href="mailto:registrointegrantes@coes.org.pe">registrointegrantes@coes.org.pe</a>
                    </div>
                </div>

            </div><!-- /.coes-box -->
        </div><!--/.col-9-->

        </div>
</div>
