<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Css/calendar.css" rel="stylesheet" />
    <link href="~/Content/Css/table.css" rel="stylesheet" />
    <link href="~/Content/Css/slick.css" rel="stylesheet">
    <link href="~/Content/Css/main.coes.css" rel="stylesheet" />
    @*<link href="~/Content/Css/css.css?v=15.23" rel="stylesheet" />*@
    <link href="~/Content/Css/popup.css" rel="stylesheet" />
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
    @*<link href="~/Content/Css/menu.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://use.typekit.net/tnr5oll.css" />
    <script type="text/javascript">
        var siteRoot = "@Url.Content("~/")";
    </script>
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Scripts/popup.js"></script>
    <script src="~/Content/Scripts/master.js"></script>
    <script src="~/Content/Scripts/datatable.js"></script>
    <script src="~/Content/Scripts/datepicker.js"></script>
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <script src="~/Content/Scripts/slick.js"></script>
    <script src="~/Content/Scripts/main.coes.js"></script>
</head>

<body>
                @RenderBody()
</body>
</html>
