<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/Images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="Portal Web del COES SINAC(Comité de Operaciones del Sistema Interconectado Nacional)">
    <meta name="keywords" content="COES, COES SINAC, Comité de Operaciones del Sistema Interconectado Nacional, Electricidad, Sector Eléctrico,
          Programa de Operación Diario, Programa de Operación, SEIN">
    <meta name="author" content="COES SINAC">

    <link href="~/Content/Css/calendar.css" rel="stylesheet" />
    <link href="~/Content/Css/table.css" rel="stylesheet" />
    <link href="~/Content/Css/main.coes.css" rel="stylesheet" />
    <link href="~/Content/Css/css.css?v=1.0" rel="stylesheet" />
    <link href="~/Content/Css/popup.css" rel="stylesheet" />
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
    <link href="~/Content/Css/menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/tnr5oll.css" />
    <script type="text/javascript">
        var siteRoot = "@Url.Content("~/")";
        var urlRoot = "http://localhost:8646";
    </script>

    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/popup.js"></script>
    <script src="~/Content/Scripts/master.js"></script>
    <script src="~/Content/Scripts/datatable.js"></script>
    <script src="~/Content/Scripts/datepicker.js"></script>
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <script src="~/Content/Scripts/main.coes.js"></script>
    <script src="~/Content/Scripts/menu.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('nav:first').accessibleMegaMenu();
        });
    </script>

    <!--Google Analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58739217-1', 'auto');
        ga('send', 'pageview');
    </script>


</head>
<body>
    <div class="loyout">                
        <div class="content">
            @RenderBody()
        </div>        
    </div>
    <div id="loading" class="loading">
        <div class="loading-image">
            <img src="~/Content/Images/loading.gif" />
        </div>
    </div>
</body>
</html>