@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="main-banner">
    @RenderSection("banner")
</div>*@

<div class="page-content" style="margin-top: 0px;">
        @RenderBody()
</div>
