<div class="coes-box">
    <div class="col-12 col-lg-12" style="margin-left: 24px;">
        <h4 class="heading-5 mb-4 mt-4">Teléfonos de Contactos Directos</h4>
        <p style="margin-right: 35px; font-weight: bold; text-align:right;">
            Anexo
        </p>
        <ul class="ps-3" style="margin-right: 35px;">
            <li class="coes-box--title pb-2">

                Directorio <a style="float: right;">553</a>
                <ul class="ps-3">
                    <li><a style=" text-decoration: none;">Secretaria y Asesoría Legal del Directorio</a><a style="float: right;text-decoration: none;">553</a></li>
                    <li><a style=" text-decoration: none;">Oficina de Perfeccionamiento Técnico</a><a style="float: right;text-decoration: none;">594</a></li>
                </ul>
            </li>
        </ul>
        <ul class="ps-3" style="margin-right: 35px;">
            <li class="coes-box--title pb-2">

                Dirección Ejecutiva <a style="float: right;">510</a>

                <ul class="ps-3">
                    <li><a style="text-decoration: none;">Sub Dirección de Gestión de Información</a><a style="float: right;text-decoration: none;">620</a></li>
                    <li><a style="text-decoration: none;">Departamento de Gestión Jurídica y Regulatoria</a><a style="float: right;text-decoration: none;">547</a></li>
                    <li><a style="text-decoration: none;">Departamento de Tecnología de la Información</a><a style="float: right;text-decoration: none;">523</a></li>
                    <li><a style="text-decoration: none;">Departamento de Administración</a><a style="float: right;text-decoration: none;">530/615</a></li>
                </ul>
            </li>
        </ul>
        <ul class="ps-3" style="margin-right: 35px;">
            <li class="coes-box--title pb-2">
                Dirección de Operaciones<a style="float: right;">533</a>
                <ul class="ps-3">
                    <li><a style="text-decoration: none;">Sub Dirección de Programación</a><a style="float: right;text-decoration: none;">537/597</a></li>
                    <li><a style="text-decoration: none;">Sub Dirección de Evaluación</a><a style="float: right;text-decoration: none;">616/564</a></li>
                    <li><a style="text-decoration: none;">Sub Dirección de Coordinación</a><a style="float: right;text-decoration: none;">648</a></li>
                    <li><a style="text-decoration: none;">Sub Dirección de Mercado Eléctrico</a><a style="float: right;text-decoration: none;">541/584</a></li>
                </ul>
            </li>
        </ul>
        <ul class="ps-3" style="margin-right: 35px;">
            <li class="coes-box--title pb-2">
                Dirección de Planificación de Transmisión<a style="float:right">549</a>
                <ul class="ps-3">
                    <li><a style="text-decoration: none;">Sub Dirección de Planificación</a><a style="float: right;text-decoration: none;">557</a></li>
                    <li><a style="text-decoration: none;">Sub Dirección de Nuevos Proyectos</a><a style="float: right;text-decoration: none;">587</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

