.div-exportar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-exportar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-exportar-close:hover {
        color: #FF770D;
    }

.div-exportar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-exportar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}

.form-exportar-content {
    width: auto;
    background: #E8F6FF;
    border: 2px solid #B8E2FB;
    padding: 5px;
    text-indent: 15px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    line-height: 20px;
    margin-top: 10px;
}

.form-exportar-item {
    float: left;
    width: auto;
}
.tr_alerta td {
    background-color: #FFB4B4 !important;
}

.div-exportar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-exportar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-exportar-close:hover {
        color: #FF770D;
    }

.div-exportar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-exportar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}