body {
}


.file-carga {
    width: auto;
    height: auto;
}

.file-name {
    background: url('../Images/file.png')10px 50% no-repeat;
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 5px;
    text-indent: 30px;
    border-radius: 6px;
    margin-top: 8px;
    margin-right: 10px;
}

.remove-item {
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: red;
}

.file-carga-titulo {
    color: #2980B9;
    border-bottom: 1px dashed #2980B9;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.estado-carga {
    display: none;
    width: 120px;
    height: 20px;
    margin: auto;
    text-align: center
}

.estado-image {
    width: 20px;
    float: left;
}

.estado-text {
    width: 100px;
    float: left;
    line-height: 20px;
    font-size: 12px;
}

.cont-resultado {
    font-family: monospace;
    font-size: 11px;
    height: 600px;
    overflow-y: scroll;
    width: auto;
    white-space: pre-line;
    border: 1px solid #BBDF8D;
    background-color: #F0F9E3;
    padding: 10px;
}

.separador-item {
    border-right: 1px dashed #2980B9;
    width: 10px;
}

.div-exportar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-exportar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-exportar-close:hover {
        color: #FF770D;
    }

.div-exportar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-exportar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}

.form-exportar-content {
    width: auto;
    background: #E8F6FF;
    border: 2px solid #B8E2FB;
    padding: 5px;
    text-indent: 15px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    line-height: 20px;
    margin-top: 10px;
}

.form-exportar-item {
    float: left;
    width: auto;
}

.general-popup iframe {
    min-width: 1050px;
    min-height: 600px
}

.cuadrotipoProceso-0 {
    width: 8px;
    height: 8px;
    background: #0094FF;
}

.cuadrotipoProceso-1 {
    width: 8px;
    height: 8px;
    background: #0094FF;
}

.cuadrotipoProceso-2 {
    width: 8px;
    height: 8px;
    background: #D92FE6;
}

.cuadrotipoProceso-3 {
    width: 8px;
    height: 8px;
    background: #EFCD10;
}

.cuadrotipoProceso-4 {
    width: 8px;
    height: 8px;
    background: #009900;
}


#tablaAdicional tbody tr td:first-child input{
    background-color:#fff;
    line-height:20px;
}