@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Meses de un año tarifario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<script src="~/Areas/PrimasRER/Content/Scripts/parametrorermeses.js"></script>
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Meses de un año tarifario</div>
        <div class="content-botonera">
            <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "ParametroRER")'" alt="Retornar" title="Retornar" />
        </div>
    </div>
    <div class="content-hijo">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>
        <div class="content-botonera">
            <input type="button" id="btnCopiarVersionAnterior" value="Copiar versión anterior" onclick="copiarVersionAnterior()"/>
        </div>
        <input type="hidden" name="Reravcodi" id="Reravcodi" value="@Model.AnioVersion.Reravcodi" />
        <div style="padding:20px; width:800px;">
            <table cellspacing="2" cellpadding="5">
                <tr>
                    <td><div class="editor-label">Año tarifario </div></td>
                    <td><div class="text_center">@Model.AnioVersion.Reravaniotarifdesc</div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Versión</div></td>
                    <td>
                        <div class="editor-label">
                            <select id="comboReravcodi" onchange="buscarVersion()">
                                <option value=@Model.ListaAniosVersion[0].Reravcodi>Anual</option>
                                <option value=@Model.ListaAniosVersion[1].Reravcodi>1er Ajuste Trimestral</option>
                                <option value=@Model.ListaAniosVersion[2].Reravcodi>2do Ajuste Trimestral</option>
                                <option value=@Model.ListaAniosVersion[3].Reravcodi>3er Ajuste Trimestral</option>
                                <option value=@Model.ListaAniosVersion[4].Reravcodi>4to Ajuste Trimestral</option>
                                <option value=@Model.ListaAniosVersion[5].Reravcodi>Liquidación</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>

<div id="popupEditParametroRERMeses">
    <span class="button b-close"><span>X</span></span>
    <div id="editMeses"></div>
</div>

<div id="popupindexRevisiones">
    <span class="button b-close"><span>X</span></span>
    <div id="indexRevisiones"></div>
</div>

<div id="popupRelacionCentralRER">
    <span class="button b-close"><span>X</span></span>
    <div id="relacionCentralRER"></div>
</div>