@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Configuración de Feriados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<script src="~/Areas/PrimasRER/Content/Scripts/parametrorer.js"></script>
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Parámetros de Prima RER</div>
        <div class="content-botonera">
            <input type="button" id="btnNuevo" value="Nuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
        </div>
    </div>
    <div class="content-hijo">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>
        <div class="table-list" id="listado"></div>
    </div>
</div>

<div id="popupNewParametroRER">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nuevo Año Tarifario</span></div>
    <div id="new"></div>
</div>

<div id="popupEditParametroRER">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Año Tarifario</span></div>
    <div id="edit"></div>
</div>