<link href="~/Areas/Equipamiento/Content/Css/Equipamiento.css" rel="stylesheet" />
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Año Tarifario</th>
            <th style="width:50px;">&nbsp;</th>
            <th style="width:50px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAniosVersion)
        {
        <tr id="fila_@item.Reravcodi">
            <td class="text_center">@item.Reravaniotarifdesc</td>
            <td style="width:30px;"><a href="JavaScript:editar(@item.Reravcodi)" title="Editar registro"><img src="~/Content/Images/btn-edit.png" alt=""></a></td>
            @if (item.Reravaniotarif != 2021)
            {
                <td style="width:30px;"><a href="@Url.Action("IndexMeses", new { Reravcodi = item.Reravcodi })"><img src="~/Content/Images/recalculo.jpg" title="Versiones" alt="Versiones"></a></td>
            }
            else { 
                <td class="text_center"></td>
            }
        </tr>
        }
    </tbody>
</table>
<div id="popup"></div>