@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
<script>
    $(function () {
        $('#btnGuardar').click(function () {
            save();
        });
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("Save", "ParametroRER", FormMethod.Post, new { @class = "form-search", name = "frmNewParametro", id = "frmNewParametro" }))
    {
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr style="height: 5px;"></tr>

            <tr>
                <td class="tbform-label">Versiones de un Año Tarifario</td>
                <td class="tbform-label" style="padding-left: 58px;">Estado</td>
                <td class="tbform-label" style="padding-left: 58px;">Inflación</td>
            </tr>
            <tr>
                <td class="tbform-label" style="padding-left: 20px;">Anual:</td>
                <td class="tbform-control">
                    <div class="editor-label">
                        <select name="ListaAniosVersion[0].Reravestado" style="width: 100px;">
                            <option value="1">Abierto</option>
                            <option value="0">Cerrado</option>
                        </select>
                    </div>
                </td>
                <td class="tbform-control">
                    <input type="number" name="ListaAniosVersion[0].Reravinflacion" style="width:100px" min="0" step="0.001" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label" style="padding-left: 20px;">1er Ajuste Trimestral:</td>
                <td class="tbform-control">
                    <div class="editor-label">
                        <select name="ListaAniosVersion[1].Reravestado" style="width: 100px;">
                            <option value="1">Abierto</option>
                            <option value="0">Cerrado</option>
                        </select>
                    </div>
                </td>
                <td class="tbform-control">
                    <input type="number" name="ListaAniosVersion[1].Reravinflacion" style="width:100px" min="0" step="0.001" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label" style="padding-left: 20px;">2do Ajuste Trimestral:</td>
                <td class="tbform-control">
                    <div class="editor-label">
                        <select name="ListaAniosVersion[2].Reravestado" style="width: 100px;">
                            <option value="1">Abierto</option>
                            <option value="0">Cerrado</option>
                        </select>
                    </div>
                </td>
                <td class="tbform-control">
                    <input type="number" name="ListaAniosVersion[2].Reravinflacion" style="width:100px" min="0" step="0.001" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label" style="padding-left: 20px;">3er Ajuste Trimestral:</td>
                <td class="tbform-control">
                    <div class="editor-label">
                        <select name="ListaAniosVersion[3].Reravestado" style="width: 100px;">
                            <option value="1">Abierto</option>
                            <option value="0">Cerrado</option>
                        </select>
                    </div>
                </td>
                <td class="tbform-control">
                    <input type="number" name="ListaAniosVersion[3].Reravinflacion" style="width:100px" min="0" step="0.001" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label" style="padding-left: 20px;">4to Ajuste Trimestral:</td>
                <td class="tbform-control">
                    <div class="editor-label">
                        <select name="ListaAniosVersion[4].Reravestado" style="width: 100px;">
                            <option value="1">Abierto</option>
                            <option value="0">Cerrado</option>
                        </select>
                    </div>
                </td>
                <td class="tbform-control">
                    <input type="number" name="ListaAniosVersion[4].Reravinflacion" style="width:100px" min="0" step="0.001" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label" style="padding-left: 20px;">Liquidación:</td>
                <td class="tbform-control">
                    <div class="editor-label">
                        <select name="ListaAniosVersion[5].Reravestado" style="width: 100px;">
                            <option value="1">Abierto</option>
                            <option value="0">Cerrado</option>
                        </select>
                    </div>
                </td>
                <td class="tbform-control">
                    <input type="number" name="ListaAniosVersion[5].Reravinflacion" style="width:100px" min="0" step="0.001" />
                </td>
            </tr>
        </table>
    }
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardar" />
</div>