.content-header-file {
    height: 70px;
	padding: 3px;		
	background: #FFF url('rib-back.png') repeat-x bottom;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1); 
	overflow: hidden;
	min-width: 500px;
	behavior: url(/PIE.htc);
	z-index: 30;
	-pie-watch-ancestors: 2;
    padding-left:20px;
}

.header-boton 
{
    width:60px;
    height:65px;
    float:left;
    margin-right:10px;
    text-align:center;
    border-radius: 6px;
    border:1px solid transparent;
    font-size:11px;
    color:#645b5b;
    font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
	cursor: default;
	font-size: 8pt;
    color: #000;
}

.header-boton img 
{
    text-align:center;
    margin-bottom:2px;
    margin:auto;
}
    
.header-boton span 
{
    text-align:center;
    margin:auto;
}

.header-boton:hover
{
    border: 1px solid #F1C43F;
	background: #fdeeb3;
	cursor: pointer;
}

.bread-crumb {
    margin-left:0;
    padding-left:0;
}

.bread-crumb ul {
    padding-left:0;
    margin-left:0
}

.bread-crumb ul li {
    display:inline;   
    background-image:url(../Images/bullet.png);
    background-position:right;
    background-repeat:no-repeat;
    padding-right:10px;
    margin-right:10px;
    font-size:13px;
}

.bread-crumb ul li a {
    color:#245C86;
    text-decoration:none;
}

.bread-crumb ul li a:hover {
    color:#e88d1e;
    text-decoration:underline;
}

.tabla-blob
{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
}

.tabla-blob thead tr
{
    background-color:#2980B9;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:20px;  
}

    .tabla-blob thead tr th {
        border:1px solid #F2F2F2
    }

.tabla-blob thead tr th a
{
    color:#ffffff;
}

.tabla-blob tbody tr td
{    
    line-height:18px;
    padding-left:5px;
    padding-right:5px;   
    border:1px solid #F2F2F2
    
}

.tabla-blob tbody tr:hover
{
    background-color:#FFFFD7;        
}

.tabla-blob tbody tr td a 
{
    color:#FF770D;
    text-decoration:none;
}

.tabla-blob tbody tr td img 
{
    width:18px; 
    margin:auto;
    padding:0px;
    line-height:18px;
}

.tabla-blob tfoot tr
{
    background-color:#2980B9;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:20px;
    font-size:10px;
}

.tabla-blob tfoot tr td
{
    border:1px solid #DDDDDD;
    line-height:18px;
    padding-left:5px;
    padding-right:5px;       
}


/**MENU CONTEXTUAL**/

.context-menu-list {
    margin:0; 
    padding:0;    
    min-width: 180px;
    max-width: 300px;
    display: inline-block;
    position: absolute;
    list-style-type: none;    
    border: 1px solid #D9E8F3;
    background: #EBEEF2;
    
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
         -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.context-menu-item {
    padding: 2px 2px 2px 30px;
    background-color: #F3F5F8;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

.context-menu-separator {
    padding-bottom:0;
    border-bottom: 1px solid #DDD;
}

.context-menu-item > label > input,
.context-menu-item > label > textarea {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.context-menu-item.hover {
    cursor: pointer;
    background-color: #DFE3EA;
}

.context-menu-item.disabled {
    color: #666;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
    cursor: default;
    background-color: #EEE;
}

.context-menu-submenu:after {
    content: ">";
    color: #666;
    position: absolute;
    top: 0;
    right: 3px;
    z-index: 1;
}

/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement 
    .context-menu-item.icon:before {}
 */
.context-menu-item.icon { min-height: 18px; background-repeat: no-repeat; background-position: 4px 2px; }
.context-menu-item.icon-editproperties { background-image: url(../images/menuedit.png); }
.context-menu-item.icon-deleteblob { background-image: url(../images/menudelete.png); }
.context-menu-item.icon-opendirectory { background-image: url(../images/menuopen.png); }
.context-menu-item.icon-copiar { background-image: url(../images/menucopy.png); }
.context-menu-item.icon-cortar { background-image: url(../images/menucut.png); }
.context-menu-item.icon-downloadblob { background-image: url(../images/menudown.png); }
.context-menu-item.icon-vistaweb { background-image: url(../images/vistaweb.png); }
.context-menu-item.icon-reemplazarblob {background-image: url(../images/reemplazar.png); }
.context-menu-item.icon-copiarruta { background-image: url(../images/clipboard.png); }



/* vertically align inside labels */
.context-menu-input > label > * { vertical-align: top; }

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
    margin-left: -17px;
}
.context-menu-input > label > span {
    margin-left: 5px;
}

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
    display: block;
    width: 100%;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.context-menu-input > label > textarea {
    height: 100px;
}
.context-menu-item > .context-menu-list {
    display: none;
    /* re-positioned by js */
    right: -5px;
    top: 5px;
}

.context-menu-item.hover > .context-menu-list {
    display: block;
}

.context-menu-accesskey {
    text-decoration: underline;
}

