@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.IncumpPR21Model
@Html.AntiForgeryToken()
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Incumplimiento PR-21";
    var sMensajeExito = TempData["sMensajeExito"];
}
<script src="~/Areas/CompensacionRSF/Content/Scripts/load.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/IncumpPR21.js"></script>
<link href="~/Areas/CompensacionRSF/Content/Css/transferencia.css" rel="stylesheet" />

<div class="ast">
    <div class="form-title">
        <div class="content-titulo" style="width:60%;">Lista de Incumplimientos PR-21 - RSF</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" id="btnNuevo" value="Nuevo" onclick="location.href='@Url.Action("New", "IncumpPR21")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            }
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index", "IncumpPR21")'" id="btnRefrescar" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        @if (@sMensajeExito != null)
        {<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">@sMensajeExito</div> }
        <div class="listado" id="listado">
        </div>
    </div>
</div>

