@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.IncumpPR21Model

@{
    ViewBag.Title = "Nuevo Registro de Incumplimiento PR-21 - Revisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva versión de incumpliminto PR-21" }, { "sAccion", "Insertar" } })
</div>

