@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.IncumpPR21Model

@{
    ViewBag.Title = "Ingresar Version Incumplimiento PR-21";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Version de Incumplimiento PR-21" }, { "sAccion", "Grabar" } })
</div>

