@model COES.MVC.Intranet.Areas.GMM.Models.ComplementarioModel
<form id="Form3" method="post" enctype="multipart/form-data">
    <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaInflexibilidades">
        <thead>
            <tr>
                <!-- (RUC) RAZON SOCIAL | MONTO-->
                <th>(RUC) Razón Social</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listadoInflexibilidad)
            {
                <tr class="menu-contextual" data-id="@item.LISTEMPGCODI">
                    <td style="text-align: left; width: 300px;">@item.LISTEMPRNOMB</td>
                    <td style="text-align: left; width: 120px;">
                        @Html.TextBox("LISTDINSVALOR", String.Format("{0:0.00}", item.LISTDINSVALOR), new { @class = "form-control", @data_empgcodi = @item.LISTEMPGCODI, onblur = "fnGrabarCelda(this, 3);return false;" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>