@model COES.MVC.Intranet.Areas.RegionesDeSeguridad.Models.RegionSeguridadModel

<div id="mensajeEnlaceRegionSeguridad" class="action-message">Complete los datos por favor. Solo se mostrarán los equipos activos en la topología base de Yupana</div>

<table>
    <tr>
        <td>Tipo de equipo:</td>
        <td>
            <select id="cbTipoRegionSeguridad">
                <option value="">-SELECCIONE-</option>
                <option value="1">GRUPOS GENERADORES HIDRÁULICOS</option>
                <option value="2">LÍNEAS DE TRANSMISIÓN</option>
                <option value="3">CENTRAL HIDRÁULICA</option>
                <option value="4">MODO DE OPERACIÓN</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Seleccionar equipo:</td>
        <td>
           
            <select id="cbEnlaceRegionSeguridad"></select>
            <input type="button" id="btnAgregarEnlaceRegionSeguridad" value="Agregar" />
            <input type="button" id="btnCancelarEnlaceRegionSeguridad" value="Cancelar" />
        </td>
    </tr>
</table>
<input type="hidden" id="hfCodigoRegionSeguridad" />
<input type="hidden" id="hfTipoRegionSeguridad" />
<br />
<br />
<div id="contentEnlaceRegionSeguridad">

</div>