@model COES.MVC.Intranet.Areas.RegionesDeSeguridad.Models.RegionSeguridadModel

<table border="0" class="pretty tabla-icono" id="tablaEnlaceRegionSeguridad">
    <thead>
        <tr>
            <th></th>                           
            <th>Tipo</th>
            <th>Equipo</th>           
                        
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaDetalle.Count > 0)
        {
            foreach (var item in Model.ListaDetalle)
            {
                <tr>
                    <td>                       
                        <a href="JavaScript:enlaceRegionSeguridadDelete(@item.Equicodi,@item.Tipo);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>                                                    
                    <td>@item.Tipoequipo</td>
                    <td>@item.Equinomb</td>                   
                                        
                </tr>
            }
        }
    </tbody>
</table>