@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel

@{
    ViewBag.Title = "Carga histórica Indisponibilidades Térmicas";
    Layout = Model.UsarLayoutModulo ? "~/Views/Shared/_LayoutAlter.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/IND/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />

<script src="~/Areas/IND/Content/Scripts/handsontable.full.min.js?v=2"></script>
<link href="~/Areas/IND/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/moment.js"></script>

<script src="~/Areas/IND/Content/Scripts/insumo_cargahistoricatermo.js?v=1.6.1"></script>

<style>
    .ht_clone_top_left_corner tr:first-child th, .ht_clone_top tr:first-child th {
        background-color: #3d8ab8;
        color: white;
        font-weight: bold;
    }


    .ht_clone_top_left_corner tr:nth-of-type(2) th, .ht_clone_top tr:nth-of-type(2) th {
        background-color: #3d8ab8;
        color: white;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Carga histórica Indisponibilidades Térmicas</div>
</div>

<div class="content-hijo" id="mainLayout">

    <div>
        Periodo máximo de edición manual: <input id="fechaMaxMes" type="text" value="@Model.MesFin" style="width: 90px" /> <input type="button" id="btnGuardarFechaMax" value="Guardar">
    </div>
    <div style=" margin-bottom: 15px;">
        <b>Nota:</b><span> Posterior a ese periodo no está permitido la edición manual o carga excel: los datos son cargados cuando se procesa el Cuadro 1 y 2 de Indisponibilidades mes a mes.</span>
    </div>

    <div class="search-content">
        <table class="table-search" style="width:auto" role="presentation">
            <tbody>
                <tr>
                    <td>
                        <p id="textPeriodo"></p>
                    </td>

                    <td class="content-action">
                        <a href="#" id="btnGuardar">
                            <div class="content-item-action" style="width:40px;">
                                <img src="~/Content/Images/prnsave.png" alt="logo"><br>
                                <span>Guardar</span>
                            </div>
                        </a>
                    </td>
                    <td class="content-action">
                        <a href="#" id="btnVerHistorial">
                            <div class="content-item-action">
                                <img src="~/Content/Images/historial.png" alt="logo"><br>
                                <span>Historial</span>
                            </div>
                        </a>
                    </td>

                    <td class="content-action">
                        <div>
                            <a href="#" id="btnMostrarErrores">
                                <div class="content-item-action">
                                    <img src="~/Content/Images/errores.png" alt="logo"><br>
                                    <span>Errores</span>
                                </div>
                            </a>
                        </div>
                    </td>


                    <td class="content-action">
                        <a href="#" id="btnExportar">
                            <div class="content-item-action">
                                <img src="~/Content/Images/exportarExcel_.png" alt="logo"><br>
                                <span>Exportar</span>
                            </div>
                        </a>
                    </td>

                    <td class="content-action">
                        <a href="#" id="btnImportar">
                            <div class="content-item-action">
                                <img src="~/Content/Images/importarExcel_.png" alt="logo"><br>
                                <span>Importar</span>
                            </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="content-tabla">

        <div id="htCargaHistorica" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 440px; overflow: hidden;">

        </div>

    </div>

    <div id="erroresDatos" class="general-popup" style="z-index:9999999999;">
        <div><span class="button b-close"><span>X</span></span></div>
        <div class="popup-title"><span>Detalle de Errores</span></div>
        <div class="popup-text" style="margin-top:5px">
            <div id="listadoErrores">
                <table id="tblListaerrores" style="width:500px" class="pretty tabla-adicional" role="presentation">
                    <thead>
                        <tr>
                            <th scope="col">ClassName</th>
                            <th scope="col">Celda</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Tipo de error</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="historial" class="general-popup" style="z-index:9999999999;height: 350px;">
        <div><span class="button b-close"><span>X</span></span></div>
        <div class="popup-title"><span>Historial</span></div>
        <div class="popup-text" style="margin-top:5px">
            <div id="vistaVersion">
                <div class="content-tabla">
                    <div style="clear:both; height:5px"></div>

                    <div class="content-tabla">
                        <div class="table-list" id="listadoH"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>