@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.EventoAgendaModel

@{
    string[] meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre" };
}

<script type="text/javascript">
    $(function () {
        $('.header').hide();
        $('.menu').hide();
        $('.footer').hide();
    })
</script>

<link href="~/Areas/DirectorioImpugnaciones/Contents/Css/agenda.css" rel="stylesheet" />

<script type="text/javascript">
    var tipoEventoAgenda = "@Html.Raw(Model.Tipo)";
</script>
<script src="~/Areas/DirectorioImpugnaciones/Contents/Scripts/administrarAgenda.js"></script>

<div class="action-message">Agregue o edite registros</div>
<div class="content-search">    
     <table>
         <tbody>
             <tr>
                 <td>Año</td>
                 <td>
                     <select id="fecAnio">
                         @for (int i = System.DateTime.Now.Year; i > 2007; i--)
                         {
                             <option value="@i">@i</option>
                         }
                     </select>
                 </td>
                 <td align="center">
                     <input id="btnBuscar" type="button" value="Buscar" />
                 </td>
                 <td >
                     <input id="btnAgregarEvento" type="button" value="Agregar Evento" />
                 </td>
             </tr>
         </tbody>
     </table>
    
</div>
<div style="clear:both; height:10px"></div>

<div id="listaEventosAgenda"></div>
<br />

<div style="clear:both"></div>