@model COES.MVC.Intranet.Areas.Monitoreo.Models.IndicadorModel

<select id="cbVersionIndicador@(Model.Indicador)" name="IdSemanas" style="width:50px">

    @if (Model.ListaVersion.Count > 0)
    {
        foreach (var item in Model.ListaVersion)
        {
            <option value="@item.Vermmcodi"> @item.Vermmnumero</option>
        }
    }
    else
    {
        <option value="0">--</option>
    }

</select>