@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Ubicación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaArea)
        {
            <tr onclick="mostrarEquipos(@item.AREACODI);" style="cursor:pointer">
                <td>@item.TAREAABREV</td>
                <td>@item.AREANOMB</td>
            </tr>
        }
    </tbody>
</table>


