@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
<select id="cboSemana@(Model.TipoSemana)" style="width:100px;">
    @foreach (var item in Model.ListaSemanas)
    {
        var dia = Model.TipoSemana == "Ini" ? item.FechaIniSem : item.FechaFinSem;
        <option value="@dia">@item.NombreTipoInfo</option>
    }
</select>

<input type="hidden" id="hdSemana@(Model.TipoSemana)" name="hdSemana@(Model.TipoSemana)" />