@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Importación de Intervenciones";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>

<!--Carga de archivos-->
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesImportacion.js?v=9.0.0"></script>

<style>
    .moxie-shim.moxie-shim-html5 {
        position: static !important;
    }

        .moxie-shim.moxie-shim-html5 input {
            width: 0px !important;
            height: 0px !important;
        }
</style>

<div class="form-title">
    <div class="content-titulo">@Model.NombreProgramacion (Importación de Intervenciones)</div>
    <div class="content-botonera">
        <input type="button" value="Regresar" id="btnRegresar" style="width:100px" />
    </div>
</div>

<div class="ast">

    <div id="alerta">
    </div>

    <input type="hidden" id="idProgramacion" value="@Model.Entidad.Progrcodi" />
    <input type="hidden" id="TipoProgramacion" value="@Model.IdTipoProgramacion" />
    <input type="hidden" id="sEmprcodi" value="@Model.sIdsEmpresas" />

    <div class="content-hijo" style="padding-top:8px">

        <div class="row">

            <fieldset style="height:13px">

                <table cellpadding="5">
                    <tr>
                        <td style="width:100px">Adjuntar Archivo:</td>
                        <td style="width:350px">
                            <div id="container" style="position: absolute; top:5px;">
                                <div id="loadingcarga" class="estado-carga">
                                    <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
                                    <div class="estado-text">Cargando...</div>
                                </div>

                                <div id="filelist">No soportado por el navegador.</div>
                            </div>
                        </td>
                        <td style="width:4%"></td>
                        <td valign="top" style="width:48%">
                            <div id="listaArchivos">

                            </div>
                        </td>
                        <td style="width:50px">
                            <input type="button" id="btnSelectFile" value="Explorar" style="width:100px" />
                        </td>
                        <td style="width:50px">
                            <input type="button" id="btnValidarFile" value="Grabar" style="width:100px" />
                        </td>
                    </tr>
                </table>

            </fieldset>

            <div class="content-hijo">
                <div id="Message"></div>
                <div class="table-list" id="listado"></div>
            </div>

        </div>

        <div style="margin:20px">
        </div>

    </div>

</div>

<div id="popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Confirmar Operación</span></div>
    <div class="popup-text">
        ¿Desea "Reemplazar" o "Adicionar" ?
        <br>
        <br>
        <div class="formulario-boton">
            <input id="btnOkReemplazar" class="btnok" type="button" value="Reemplazar Todo" />
            <input id="btnOkAdicionar" type="button" value="Adicionar" />
        </div>
        <br>
        * Adicionar: Se tomarán en cuenta los nuevos registros que no sean duplicados.
        <br>
        * Reemplazar todo: Agrega o actualiza las intervenciones del excel al programa y elimina las que ya no estén.
        <br>
        <br>
        * También se eliminaran los saltos de linea de las descripciones de los datos a importar.
    </div>
</div>