@model COES.MVC.Intranet.Areas.FileManager.ViewModels.InformacionAgentesViewModel
@{
    ViewBag.Title = "Información de agentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/FileManager/Content/Scripts/InformacionAgentes.js"></script>
<div class="form-title">
    <div class="content-titulo">Consulta de Información de agentes</div>
    @*<div class="content-botonera">
            <input type="button" id="btnCancelar" value="Buscar" />
        </div>*@
</div>
<div class="content-hijo">
    <table class="content-tabla-search" style="width:auto">
        <tr>

            <td>Empresa:</td>
            <td>
                <select id="cbEmpresa" style="width:200px">
                    @foreach (var item in Model.ListaEmpresa)
                    {
                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                    }
                </select>

            </td>
            <td>
                Fecha Inicial:
            </td>
            <td>
                <input type="text" id="txtFechaIni" value="@Model.FechaInicial.ToString("dd/MM/yyyy")" style="width:100px" />
            </td>
            <td>
                Fecha Final:
            </td>
            <td>
                <input type="text" id="txtFechaFin" value="@Model.FechaFinal.ToString("dd/MM/yyyy")" style="width:100px" />
            </td>
            <td>
                <input type="button" id="btnConsultar" value="Consultar datos" />
            </td>
        </tr>
    </table>
    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>