@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleModel
@{
    ViewBag.Title = "Configuración Aplicativo PR31";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/Combustibles/Content/Css/css.css?v=1.7.3" rel="stylesheet" />
<script src="~/Areas/Combustibles/Content/Scripts/configuracionParametros.js?v=1.7.4"></script>

<div class="form-title">
    <div class="content-titulo">Configuración Aplicativo PR31 </div>
    <div class="content-botonera">
        <input type="button" id="btnInicio" value="Regresar a Listado" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div style="margin-bottom: 15px;">
        <input type="button" id="btnActualizar" value="Cargar de BD" />
        Nota: esta acción permite actualizar el listado de las centrales y tipos de combustible con operación comercial. Utiliza la información del Equipamiento y Parámetros de los modos de operación.

    </div>

    <fieldset style="margin-bottom: 10px; ">
        <legend>Notificaciones</legend>

        <b>Culminación de Plazo</b>: <input type="button" id="btnPR31CulminacionPlazoAgente" value="Ejecutar" /><br />
        Envía notificaciones culminado el plazo para subsanación de observaciones.<br />
        Automático: Se ejecuta cada 5 minutos.

        <br />
        <br />

        <b>Recordatorio a administrador COES</b> <input type="button" id="btnPR31RecordatorioCOES" value="Ejecutar" /> <br />
        Envía notificaciones a partir de culminado el tercer día (líquido) o el segundo día (sólido).<br />
        Automático: Se ejecutará a las 08:00 am.

        <br />
        <br />

        <b>Recordatorio a Agente</b> <input type="button" id="btnPR31RecordatorioAgente" value="Ejecutar" /> <br />
        Envía notificaciones un día antes de que venza el plazo<br />
        Automático: Se ejecutará minutos antes de las 12:00 pm.

    </fieldset>

    <div class="content-tabla">
        <div id="reporte" style=" display: inline-block; width: 1000px;">
        </div>
    </div>

</div>

