@{
    ViewBag.Title = ".::Extranet COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Tuple<int, string>> listEmpresaGeneradora = ViewBag.empresaGeneradora;
}

<link type="text/css" rel="stylesheet" href="~/content/css/tabs.css" />
<link href="~/Areas/Resarcimientos/Content/Css/reporte.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<script type="text/javascript" src="~/content/scripts/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="~/content/scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-reporte.js?v=1.0"></script>

<div class="form-title" style="height:16px;">
    <div class="content-titulo" style="width:100% ;margin:auto">Transferencias - Ingreso de Información</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">
    <div class="tools-content" style="margin-bottom:15px">
        <div class="button-content">
            <div class="button-item">
                <div class="button-item">
                    <span class="field-label" style="width:150px;">Empresa Generadora</span>
                    <div class="field-control">
                        <select id="CboEmpresasGeneradoras">
                            @foreach (var item in listEmpresaGeneradora)
                            {
                                <option value="@item.Item1">@item.Item2</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="button-item" style="margin-left: 10px">
                    <span class="field-label" style="width:150px;">Per&iacute;odo</span>
                    <div class="field-control">
                        @Html.DropDownList("CboPeriodo", ViewData["CboPeriodo"] as List<SelectListItem>, new { @style = "width:100px;" })
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="button-content" style="margin-left:30px">
            <div class="button-item">
                <input type="button" id="btn-plantilla-descargar" value="Descargar Plantilla" class="btn-aditional btn-download" />
            </div>
            <div class="button-item">
                <input type="button" id="btn-excel-cargar" value="Cargar Excel" class="btn-aditional btn-import" />
            </div>
            <div class="button-item">
                <input type="button" id="btn-validar-consistencia" value="Validar Consistencia" class="btn-aditional btn-errors" />
            </div>
            <div class="button-item">
                <input type="button" id="btn-save" value="Enviar" class="btn-aditional btn-save" />
            </div>
            <div class="button-item">
                <input type="button" id="btn-excel-descargar" value="Descargar Excel" class="btn-aditional btn-download-excel" />
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both"></div>
        <div id="resultado"></div>
    </div>
    <div id="mensaje"></div>
    <div id="tab-container" class="tab-container">
        <ul class='etabs'>
            <li class='tab'><a href="#tab-pe">PE</a></li>
            <li class='tab'><a href="#tab-rc">RC</a></li>
        </ul>
        <div id="tab-pe">
            <div id="hst-grilla-pe" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 640px; width: 100%; overflow: hidden;"></div>
        </div>
        <div id="tab-rc">
            <div id="hst-grilla-rc" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 640px; width: 100%; overflow: hidden;"></div>
        </div>
    </div>
</div>

<div id="div-error-popup" class="general-popup" style="height: auto !important;">
    <span class="button b-close"><span>X</span></span>
    <div class="title_tabla_pop_up" style="margin-bottom:20px">Mostrar Inconsistencias</div>
    <div style="overflow-y:scroll;height:450px">
        <table class="pretty tabla-formulario">
            <thead>
                <tr>
                    <th>Transferencia</th>
                    <th>Celda</th>
                    <th>Valor</th>
                    <th style="width:300px; text-align: left">Descripción Inconsistencia</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>