.coes-box {
  border: 1px solid var(--bs-gray-500);
  border-radius: 10px;
  overflow: hidden;

  @include mq($until: desktop) {
    margin-bottom: pxtorem(30);
  }
}

.coes-box--padding {
  padding: pxtorem(30);
}

.coes-box--header {
  border-bottom: 1px solid var(--bs-gray-500);
  text-align: center;
  padding: 15px;
}

.coes-box--header--no-line {
  border-bottom: 0;
}

.coes-box--header--no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.coes-box--header--left-aligned {
  text-align: left;
}

.coes-box--header--bg-fill {
  background-color: var(--bs-gray-100);
}

.coes-box--title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.dark-theme {
  .coes-box {
    border-color: #3e3e3e;
  }

  .coes-box--header {
    background-color: #202020;
    border-color: #3e3e3e;
  }
}