.coes-button {
  @include coes-button;
}

.coes-button--disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

.coes-button--plain-text {
  padding: 0;
  border: 0;
  color: var(--bs-gray-700);

  &:hover {
    background: transparent;
    color: var(--bs-blue);
  }
}

.coes-button-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .coes-button {
    width: 40%;
    margin: 0 5% pxtorem(20);

    @include mq($until: desktop) {
      margin: 0 0 pxtorem(20);
      padding-right: pxtorem(60);
      width: 100%;
    }
  }
}

.coes-button--icon {
  background: no-repeat 95% center;
  text-align: left;
  background-size: 25px;

  @include mq($from: desktop) {
    padding-right: pxtorem(90);
  }
}

.coes-button--icon--download {
  background-image: url(../img/icons/icon-download-black.svg);
}

.dark-theme {
  .coes-button {
    border-color: #3e3e3e;

    &:hover {
      background-color: transparent;
      color: #b4bccd;
    }
  }

  .coes-button--plain-text {
    color: #b4bccd;

    &:hover {
      background: transparent;
      color: var(--bs-blue);
    }
  }

  .coes-button--icon--download {
    background-image: url(../img/icons/icon-download-black-dark.svg);
  }
}


.same-height-button-group {
  &, * {
    height: 100%;

    @include mq($until: desktop) {
      height: auto;
    }
  }
}