.eventlist-inner {
  max-width: 640px;
  margin: 0 auto;
}

.eventlist-item {
  display: flex;
}

.eventlist-item--date {
  border-right: 1px solid var(--bs-gray-500);
  text-align: center;
}

.eventlist-item--date-label,
.eventlist-item--date-number {
  display: block
}

.eventlist-item--date-number {
  font-size: pxtorem(40);
  font-weight: 600;
}

.eventlist-item--label {
  display: inline-block;
  font-weight: 600;
  max-width: 90px;
  width: 100%;
}

.eventlist-item--info {
  display: flex;
  width: 100%;
}

.eventlist-item--data {
  width: 100%;
}

.eventlist-item--download {
  background: url('../img/icons/icon-download-black.svg') no-repeat center;
  background-size: contain;
  text-indent: -9999px;
  width: 27px;
}

.dark-theme {
  .eventlist-item--date {
    border-color: #3e3e3e;
  }

  .eventlist-item--download {
    background-image: url('../img/icons/icon-download.svg');
    opacity: .5;
  }
}
