.main-footer {
  background-color: var(--bs-gray-600);
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}

//Footer top
.footer-top {
  padding-top: pxtorem(25);
  padding-bottom: pxtorem(25);
  border-bottom: solid 1px #fff;

  @include mq($until: desktop) {
    padding-left: pxtorem(10);
    padding-right: pxtorem(10);
  }

  p {
    margin-bottom: 0;
  }
}

.footer-top--item {
  background: no-repeat center left;
  background-size: pxtorem(28);
  font-size: pxtorem(16);
  max-width: pxtorem(327);
  padding: pxtorem(10) 0 pxtorem(10) pxtorem(47);
  margin-left: auto;
  margin-right: auto;

  @include mq($until: tablet) {
    margin-bottom: pxtorem(30);
    max-width: none;
  }

  span {
    font-size: pxtorem(14);
  }
}

.footer-top--item-address {
  background-image: url(../img/icons/icon-map.svg);
  margin-left: 0;
}

.footer-top--item-phone {
  background-image: url(../img/icons/icon-phone-white.svg);
  background-size: 35px;
}

.footer-top--item-cal {
  background-image: url(../img/icons/icon-calendar.svg);
  margin-right: 0;
}

//Footer content
.footer-content {
  padding-top: pxtorem(45);
  padding-bottom: pxtorem(200);

  @include mq($until: desktop) {
    padding-left: pxtorem(15);
    padding-right: pxtorem(15);
    padding-bottom: pxtorem(50);
  }
}

//footer menu

.footer-menu--title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: pxtorem(18);
  margin-bottom: pxtorem(21);
}

.footer-menu--item {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;

  &:hover {
    color: var(--bs-gray-700);
  }
}

.dark-theme {
  .main-footer {
    background-color: #000;

    a {
      color: #b4bccd;
    }
  }

  .footer-menu--title {
    color: #b4bccd;
  }

  .footer-top {
    border-color: #47526b;
  }

  .footer-top--item {
    color: #b4bccd;
  }

  .footer-top--item-address {
    background-image: url(../img/icons/icon-map-dark.svg);
  }

  .footer-top--item-phone {
    background-image: url(../img/icons/icon-phone-dark.svg);
  }

  .footer-top--item-cal {
    background-image: url(../img/icons/icon-calendar-dark.svg);
  }
}


