.infolist {
  padding: pxtorem(18) pxtorem(32) 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: $transition-out;

  @include mq($until: tablet) {
    padding-left: pxtorem(15);
    padding-right: pxtorem(15);
  }

  .coes-form-checkbox {
    margin-right: pxtorem(10);
  }
}

.infolist-item {
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--bs-gray-500);
  display: flex;
  margin-bottom: pxtorem(15);
  padding: pxtorem(17) pxtorem(10);
  transition: $transition-out;
  width: 32%;

  @include mq($from: tablet, $until: desktop) {
    width: 48%;
    margin-right: 2%;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include mq($until: tablet) {
    width: 100%;
    margin-right: 0;
  }

  &:hover {
    background-color: var(--bs-gray-100);
    transition: .2s ease-in all;
  }

  &.selected {
    border-color: var(--bs-blue);

    &:hover {
      background-color: transparent;
    }
  }
}

.infolist-link {
  color: var(--bs-gray-600);
  cursor: pointer;
  display: flex;
  text-decoration: none;
  line-height: 1.2;

  @include mq($until: desktop) {
    align-items: center;
  }

  &::before {
    content: '';
    background: url(../img/icons/icon-folders.svg) no-repeat center left;
    display: inline-block;
    width: 49px;
    height: 27px;
    margin-right: pxtorem(10);
    opacity: .4;
    background-size: contain;

    @include mq($from: tablet, $until: desktop) {
      width: 76px;
      height: 28px;
    }

    @include mq($until: tablet) {
      width: 49px;
      height: 28px;
    }
  }
}

.listed {
  &.infolist {
    flex-direction: column;
    transition: $transition-in;
  }

  .infolist-item {
    width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--bs-gray-500);
    transition: $transition-in;

    &:hover {
      background-color: transparent;
    }

    a:hover {
      color: var(--bs-gray-800);
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.infolist--column {
  .infolist-item {
    border: none;
    width: 100%;
  }
}

.infolist-item--inner {
  border-radius: 5px;
  border: 1px solid var(--bs-gray-500);
  padding: pxtorem(17) pxtorem(10);
  width: 100%;
}

.infolist-link-file {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: pxtorem(14);
  text-decoration: none;
  line-height: 1.2;
  width: 100%;

  &::before {
    background: url(../img/icons/icon-folders.svg) no-repeat center left;
    content: '';
    display: inline-block;
    height: 27px;
    margin-right: pxtorem(10);
    max-width: 30px;
    width: 100%;
  }

  &.infolist-link-pdf::before {
    background-image: url(../img/icons/icon-file-pdf.svg);
  }

  &.infolist-link-excel::before {
    background-image: url(../img/icons/icon-file-excel.svg);
  }
}

.dark-theme {
  .infolist-item {
    border-color: #2a2a2a;

    &:hover {
      background-color: transparent;
      color: #d3d8e3;
    }

  }

  .infolist-link {
    &:hover {
      background-color: transparent;
      color: #d3d8e3;
    }

    &::before {
      background-image: url(../img/icons/icon-folders-white.svg);
      opacity: .2;
    }
  }

  .infolist-item--inner {
    border-color: #2a2a2a;
  }
}
