.main-navigation {
  background-color: var(--bs-gray-100);
  border-top: 1px solid var(--bs-gray-500);
  border-bottom: 1px solid var(--bs-gray-500);

  @include mq($until: desktop) {
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 0;
    border-top: 0;
    opacity: 0;
    transition: opacity .2s ease-out;

    .navbar-collapse {
      transition: none;
    }

    .container {
      max-height: 80vh;
      overflow: scroll;
    }
  }

  .navbar-nav {
    width: 100%;
  }

  .dropdown-menu {
    border-radius: 0;
  }

  .dropdown-menu[data-bs-popper] {
    top: 115%;
  }

  .dropdown-item {
    padding: 0;
    margin-bottom: pxtorem(7);
  }

  .nav-item {
    margin-bottom: 0;

    ul {
      padding-left: pxtorem(10);
      padding-right: pxtorem(10);

      li {
        margin-bottom: 0;
      }
    }

    &:last-of-type .nav-link {
      border-bottom: 0;
    }

    .nav-item {
      list-style: none;
      padding-left: 0;

      &:last-of-type {
        .nav-link {
          border-bottom: 0;
        }
      }

      .nav-link {
        font-size: pxtorem(14);
        padding: pxtorem(5) 0 pxtorem(5);
        border-bottom: solid #ccc 1px;
      }
    }
  }

  .nav-link {
    color: var(--bs-gray-700);

    @include mq($until: desktop) {
      font-size: pxtorem(18);
      border-bottom: 1px solid #ccc;
      padding-top: pxtorem(15);
      padding-bottom: pxtorem(15);
    }

    &:hover {
      color: var(--bs-blue);
    }
  }
}

.nav-expanded {
  .main-navigation {
    height: 100%;
    z-index: 4;
    opacity: 1;
    transition: opacity .2s ease-in;

    @include mq($from: tablet, $until: desktop) {
      top: 134px;
    }

    @include mq($until: tablet) {
      top: 114px;
    }
  }

}

.navbar-toggler {
  padding: 0;
  position: absolute;
  z-index: 11;
  left: 10px;
  top: 15px;

  @include mq($from: desktop) {
    display: none; 
  }

  &.collapsed {
    .navbar-toggler-icon {
      background-image: url('../img/icons/icon-nav-menu.svg');
    }
  }

  .navbar-toggler-icon {
    background-image: url('../img/icons/icon-close-nav.svg');
  }

  &:focus {
    box-shadow: none;
  }
}

.nav-expanded {
  overflow: hidden;
}

.dropdown-menu {
  background: #ededed;
  @include mq($until: tablet) {
    border: none; 
    border-radius: 0;
    border-bottom: 1px solid var(--bs-gray-500); 
  }
}

.dark-theme {
  .main-navigation {
    background-color: #191919;
    border-color: #3e3e3e;
  }

  .nav-link {
    color: #d3d8e3;
    border-color: #3e3e3e;
  }

  .dropdown-menu {
    background-color: #191919;
    border-color: #3e3e3e;

    @include mq($until: tablet) {
      border-color:#3e3e3e; 
    }
  }

  .dropdown-item:hover, 
  .dropdown-item:focus {
    background-color: #111;
    color: #d3d8e3;
  }
}