.header-content-area--container {
  margin-top: -29px;

  @include mq($from: tablet, $until: desktop) {
    margin-top: 0;
  }
}

@include mq($until: tablet) {
  .header-content-area--container {
    margin-top: 0;
  }
}

.header-content-area {
  padding-top: pxtorem(10);

  @include mq($until: tablet) {
    padding-bottom: pxtorem(10);
  }

  .search-bar {
    @include mq($until: desktop) {
      margin-bottom: 0;
    }
  }
}

.header-icons {
  display: flex;

  @include mq($until: desktop) {
    justify-content: flex-end;
    margin-top: pxtorem(10);
    margin-bottom: pxtorem(10);
    z-index: 10;
    position: relative;
  }
}

.button-icon {
  background: transparent no-repeat center center;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: none;

  @include mq($until: desktop) {
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.button-icon-day,
.button-icon-night {
  background-image: url(../img/sprite-night-button.svg);
  background-size: 30px;
  background-position-y: -30px;

  &.active,
  &:hover {
    background-position-y: -60px;
  }
}

.button-icon-day {
  background-image: url(../img/sprite-day-button.svg);
}

.main-logo {
  text-align: center;

  @include mq($until: tablet) {
    margin-bottom: pxtorem(10);
    margin-top: pxtorem(-40);
  }

  a {
    display: block;
    margin-bottom: pxtorem(15);
  }

  img {
    width: 140px;
  }
}

.logo-dark-theme {
  display: none;
}

.header-shortcuts {
  margin-left: auto;
  max-width: 320px;

  @include mq($until: desktop) {
    max-width: none;
    display: none !important;
  }

  .button-icon {
    width: 40px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    border: 0;
  }
}

.button-icon-contact {
  background: url(../img/sprite-icon-phone.svg);
  background-position-y: 0;
  margin-right: 15px;
}

.button-icon-stats {
  background: url(../img/sprite-icon-stats.svg);
  margin-right: 15px;
  height: 28px !important;
  width: 44px !important;
}

.button-icon-mail {
  background: url(../img/sprite-mail.svg);
  height: 22px !important;
  width: 45px !important;
}

.button-icon-books {
  background: url(../img/sprite-books.svg);
  height: 30px !important;
  width: 45px !important;
}

.button-icon-thumbs {
  background-image: url(../img/icons/icon-thumbs.svg);
}

.button-icon-list {
  background-image: url(../img/icons/icon-list.svg);
}

.button-icon-file {
  background-image: url(../img/icons/icon-download-file.svg);
}

.button-icon-zip {
  background-image: url(../img/icons/icon-download-zip.svg);
}

//Search form
.search-bar {
  position: relative;
  margin-left: auto;
  width: 230px;

  @include mq($until: desktop) {
    margin-left: pxtorem(10);
    margin-bottom: pxtorem(16);
    width: 100%;
  }
}

.search-input {
  border: 1px solid #abb3b3;
  background-color: transparent;
  border-radius: 5px;
  color: var(--bs-gray-700);
  font-size: pxtorem(14);
  transition: .2s ease-in all;
  padding: pxtorem(3) pxtorem(10);
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid var(--bs-gray-700);
    transition: .2s ease-out all;
  }
}

.search-submit {
  display: block;
  height: 100%;
  width: 30px;
  background: url(../img/icons/icon-search.svg) no-repeat center center;
  background-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 7px;
  border: 0;
  font-size: 0;
}

.mobile-header-shortcuts {
  display: none !important;

  @include mq($until: desktop) {
    display: block !important;
  }

  .search-bar {
    margin-left: 0;
  }
}

.dark-theme {
  .logo {
    display: none;
  }

  .logo-dark-theme {
    display: inline;
  }

  .button-icon-day,
  .button-icon-night {
    background-position-y: 0;

    &.active,
    &:hover {
      background-position-y: -60px;
    }
  }

  .button-icon-contact {
    background-position-y: -30px;
    transition: none;
  }

  .button-icon-stats {
    background-position-y: -27px;
    transition: none;
  }

  .button-icon-mail {
    background-position-y: 0;
    transition: none;
    opacity: .5;
  }

  .button-icon-books {
    background-position-y: 0;
    transition: none;
    opacity: .3;
  }

  .search-input {
    border: 1px solid #3e3e3e;
  }
  
  .search-submit {
    background-image: url(../img/icons/icon-search-dark.svg);
  }

  .button-icon-thumbs {
    background-image: url(../img/icons/icon-thumbs-dark.svg);
  }

  .button-icon-list {
    background-image: url(../img/icons/icon-list-dark.svg);
  }
}
