.modal-content {
  padding: pxtorem(50) pxtorem(60);

  @include mq($until: desktop) {
    padding: pxtorem(20);
  }
}

.modal-title {
  text-align: center;
  width: 100%;
}

.modal-header {
  border-bottom-color: var(--bs-gray-600);
}

.coes-modal-close--button {
  background: url(../img/icons/icon-close-black.svg) no-repeat center center;
  background-size: cover;
  border: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 33px;
  height: 33px;
  padding-right: 0;
  opacity: .5;
  transition: $transition-out;

  &:hover {
    opacity: .8;
    transition: $transition-in;
  }
}

.dark-theme {
  .modal-content {
    color: #d3d8e3;
    background-color: #191919;
  }

  .coes-modal-close--button {
    background: url(../img/icons/icon-close-black-dark.svg) no-repeat center center;
    opacity: 1;
  }
}