
.coes-pagination {
  @include mq($until: desktop) {
    display: none;
  }

  a {
    color: var(--bs-gray-700);
    display: block;
    font-weight: 600;
    text-decoration: none;
    position: relative;

    &:after,
    &:before {
      content: '';
      height: 100%;
      position: absolute;
      width: 12px;
    }
  }
}

.coes-pagination--mobile {
  display: none;

  @include mq($until: desktop) {
    display: block;
  }
}

.coes-form--prev a:before { 
  background: url('../img/icons/icon-arrow-1.svg') no-repeat center;
  background-size: 6px;
  left: 0;
  top: 0;
}

.coes-form--next a:after { 
  background: url('../img/icons/icon-arrow-1.svg') no-repeat center;
  background-size: 6px;
  transform: rotate(180deg);
  right: 0;
  top: 0;
}

.dark-theme {
  .coes-pagination a {
    color: #d3d8e3;
  }

  .coes-form--prev a:before { 
  background-image: url('../img/icons/icon-arrow-1-dark.svg');
  }

  .coes-form--next a:after { 
  background-image: url('../img/icons/icon-arrow-1-dark.svg');
  }
}
