.pager-container {
  margin-top: pxtorem(15);
  margin-bottom: pxtorem(15);
  text-align: right;

  @include mq($until: desktop) {
    text-align: center;
  }
}

.pager--item {
  color: var(--bs-gray-700);
  text-decoration: none;
  padding-right: pxtorem(7);
  
  &:hover {
    text-decoration: underline;
  }

  &:last-of-type {
    padding-right: 0;
  }
}