.coes-preview-list {
  padding: pxtorem(27) pxtorem(19);
}

.coes-preview-item {
  padding: pxtorem(10) pxtorem(20);
  margin-bottom: pxtorem(10);
}

.coes-preview--date {
  font-size: pxtorem(14);
  color: var(--bs-gray-600);
  margin-bottom: 0;
}

.coes-preview--title {
  color: var(--bs-gray-700);
  font-weight: 600;
  font-size: 18px;
  
  a {
    color: var(--bs-gray-700);
    text-decoration: none;

    &:hover {
      color: var(--bs-blue);
    }
  }
}

.dark-theme {
  .coes-preview--title {
    color: #b4bccd;

    a {
      color: #b4bccd;

      &:hover {
        color: var(--bs-blue);
      }
    }
  }

  .coes-preview--content {
    opacity: .6;
  }

  .footer-logo {
    opacity: .4;
  }

  .footer-menu--item {
    opacity: .7;

    &:hover {
      color: var(--bs-blue);
    }
  }
}
