.secondary-menu {
  font-size: pxtorem(13);
  padding-top: 5px;
  padding-bottom: 5px;

  a {
    color: var(--bs-gray-700);
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include mq($until: desktop) {
    text-align: center;
  }

  @include mq($until: tablet) {
    display: none; 
  }
}

.dark-theme {
  a {
    color: #b4bccd;

    &:hover {
      color: var(--bs-blue);
    }
  }
}
