.coes-shortcut {
  text-align: center;
  padding-top: pxtorem(12);
  padding-bottom: pxtorem(12);
}

.coes-shortcut--link {
  color: #b4bccd;
  display: block;
  font-size: 14px;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: .1s ease-in all;
  padding-left: pxtorem(35);
  padding-right: pxtorem(35);

  &:hover {
    color: var(--bs-gray-900);
    transition: .1s ease-out all;

    .coes-shortcut--icon {
      opacity: 1;
    }
  }
}

.coes-shortcut--icon {
  display: block;
  background: no-repeat center center;
  opacity: .3;
  background-size: cover;
  width: 22px;
  height: 22px;
  margin: 0 auto 10px;
}

.coes-shortcut--icon__timer {
  background-image: url(../img/icons/icon-timer.svg);
}

.coes-shortcut--icon__docs {
  background-image: url(../img/icons/icon-docs.svg);
  height: 25px;
}

.coes-shortcut--icon__sheet {
  background-image: url(../img/icons/icon-sheet.svg);
}

.coes-shortcut--icon__electricity {
  background-image: url(../img/icons/icon-electricity.svg);
}

.coes-shortcut--icon__currency {
  background-image: url(../img/icons/icon-currency.svg);
}

.coes-shortcut--icon__checklist {
  background-image: url(../img/icons/icon-checklist.svg);
  height: 24px;
}

.coes-shortcut--icon__bars {
  background-image: url(../img/icons/icon-bars.svg);
}

.coes-shortcut--icon__phone-outline {
  background-image: url(../img/icons/icon-phone-outline.svg);
}

.coes-shortcut--icon__doc-marked {
  background-image: url(../img/icons/icon-doc-marked.svg);
}

.dark-theme {
  .coes-shortcut--icon__timer {
    background-image: url(../img/icons/icon-timer-dark.svg);
  }

  .coes-shortcut--icon__electricity {
    background-image: url(../img/icons/icon-electricity-white.svg);
  }

  .coes-shortcut--icon__docs {
    background-image: url(../img/icons/icon-docs-white.svg);
    height: 25px;
  }

  .coes-shortcut--icon__sheet {
    background-image: url(../img/icons/icon-sheet-white.svg);
  }

  .coes-shortcut--icon__currency {
    background-image: url(../img/icons/icon-currency-white.svg);
  }

  .coes-shortcut--icon__checklist {
    background-image: url(../img/icons/icon-checklist-white.svg);
  }

  .coes-shortcut--icon__bars {
    background-image: url(../img/icons/icon-bars-white.svg);
  }

  .coes-shortcut--icon__phone-outline {
    background-image: url(../img/icons/icon-phone-outline-white.svg);
  }

  .coes-shortcut--icon__doc-marked {
    background-image: url(../img/icons/icon-doc-marked-white.svg);
  }

  .coes-shortcut--link {
    &:hover {
      color: #b4bccd;
    }
  }
}