.sidebar-nav {
  border: 1px solid var(--bs-gray-500);
  border-radius: 10px;
  overflow: hidden;
}

.sidebar-nav--link {
  background: url(../img/icons/icon-arrow-circle-gray.svg) 95% center var(--bs-gray-100) no-repeat;
  border-bottom: 1px solid var(--bs-gray-500);
  color: var(--bs-gray-600);
  display: block;
  text-decoration: none;
  padding: pxtorem(13) pxtorem(67) pxtorem(13) pxtorem(10);

  &:hover {
    background-image: url(../img/icons/icon-arrow-circle.svg);
    color: var(--bs-blue);
  }
}

.sidebar-nav--link-active {
  background-image: url(../img/icons/icon-arrow-circle.svg);
  background-color: #fff;
}

.sidebar-nav--item {
  margin-bottom: 0;

  &:last-of-type {
    .sidebar-nav--link {
      border-bottom: 0;
    }
  }
}

.dark-theme {
  .sidebar-nav {
    border-color: #434343;
  }

  .sidebar-nav--link {
    background-color: #111111;
    border-color: #434343;
  }

  .sidebar-nav--link-active {
    background-color: #202020;
  }
}