@using System.Web
@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Maestros.ListadoArbol

<div id="tvGeneral"></div>
@Html.HiddenFor(model => model.CodigoEntidad)

<script type="text/javascript">
    var treeData = @Html.Raw(Model.EstructuraArbol);
</script>
<script src="~/Areas/IntercambioOsinergmin/Content/Scripts/sincronizacionArbol.js"></script>