@model COES.MVC.Intranet.Areas.IntercambioOsinergmin.Models.Maestros.FiltroListadoAsignacionesPendientesModel


<div class="clear-right">
    <div class="title-seccion">@Html.DisplayFor(model => model.EntidadLabel)</div>
</div>
<div class="search-content">
    @Html.LabelFor(model => model.EntidadEnum, new { @class = "form-label" })
    @Html.DropDownListFor(model => model.EntidadValue, Model.ListadoOpcionesFiltroItems, "-- Seleccione una entidad --", new { @class = "form-control" })

    <input type="button" value="Buscar" id="submit" class="form-action" />
</div>
<script src="~/Areas/IIO/Content/Scripts/sincronizacionFiltro.js"></script>
