@model COES.MVC.Intranet.Areas.Proteccion.Models.UbicacionCOESEditarModel

<script>
    $(function () {

        if ($("#nombreProteccion").val() != null && $("#nombreProteccion").val() != "") {
            $("#nombreProteccion").prop("disabled", false);
            $('#chkPresente').prop('checked', true);
            $("#tdNombreProteccion").html("Nombre para protecciones(*):");
        } else {
            $("#nombreProteccion").prop("disabled", true);
            $('#chkPresente').prop('checked', false);
            $("#tdNombreProteccion").html("Nombre para protecciones:");
        }

        $('#btnGrabar').click(function () {
            guardar();
        });

        $("#chkPresente").click(function () {
            if ($(this).is(':checked')) {
                $("#nombreProteccion").prop("disabled", false);
                $("#tdNombreProteccion").html("Nombre para protecciones(*):");
            } else {
                $("#nombreProteccion").val("");
                $("#nombreProteccion").prop("disabled", true);
                $("#tdNombreProteccion").html("Nombre para protecciones:");
            }
        });

    });
</script>
<div class="panel-container">
    @using (Html.BeginForm("Editar", "Area", FormMethod.Post, new { @name = "frmEditarUbicacion", id = "frmEditarUbicacion" }))
    {
        @Html.HiddenFor(m => m.Areacodi)
        @Html.HiddenFor(m => m.Epareacodi)

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table style="width:100%;margin-right: auto" class="table-form-show">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="tbform-label">Zona(*):</td>
                    <td class="tbform-control">
                        @(Html.DropDownList("Zona", new SelectList(Model.ListaZona, "Areacodi", "Areanomb", Model.IdZona), new { style = "width: 99%; background-color: #FFFFFF;" }))
                    </td>
                </tr>
                <tr>
                    <td class="tbform-label"></td>
                    <td class="tbform-control">
                        <input type="checkbox" id="chkPresente" />
                        ¿Desea cambiar el nombre de la ubicación?
                    </td>
                </tr>

                <tr>
                    <td class="tbform-label" id="tdNombreProteccion">Nombre para protecciones:</td>
                    <td class="tbform-control">
                        <input type="text" id="nombreProteccion" name="nombreProteccion" style="width: 100%;" value="@Model.Nombre" maxlength="200" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </div>
        <br />
        <input id="btnGrabar" value="Grabar" type="button">
    }
</div>
