@model COES.MVC.Intranet.Areas.Mediciones.Models.GeneracionRERModel
<select id="cbSemana" name="IdSemana" style="width: 104px">
    @foreach (var item in Model.ListaSemanas2)
    {
        <option value="@item.Entero1" @item.String2>@item.String1</option>
    }
</select>