@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.PeriodoModel
@{
    ViewBag.Title = "Habilitar Carga de Interrupciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/datatable.js"></script>

<script src="~/Areas/CalculoResarcimiento/Content/Scripts/habilitacioncarga.js?v=1.0.2"></script>

<div class="form-title">
    <div class="content-titulo">Habilitar Carga de Interrupciones (Periodo: @Model.Nombre)</div>
    <div class="content-botonera">
        @if (Model.Grabar)
        {
            <input type="button" id="btnGrabar" value='Grabar' />
        }
        <input type="button" id="btnRegresar" value='Regresar' />
     </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <input type="hidden"  id="hdPeriodoId" value="@Model.Codigo">   

    <div>
        <table border="0" class="pretty tabla-adicional" id="tablaHabilitacion" style="width: auto">
            <thead>
                <tr style="height:20px">                    
                    <th rowspan="2" style="width: 300px;">Empresa</th>
                    <th style="width: 250px;">Incluir Interrupción de Suministro</th>
                    <th style="width: 250px;">Incluir Rechazo de Carga</th>
                    
                </tr>
                <tr style="height:20px">
                    <th style="width: 60px;">
                        <input type="checkbox" class="chbx" name="checkTodo_IS" id="checkTodo_IS">
                    </th>
                    <th style="width: 60px;">
                        <input type="checkbox" class="chbx" name="checkTodo_RC" id="checkTodo_RC">
                    </th>

                </tr>
            </thead>

            <tbody>
                @if (Model.ListaSuministradores.Any())
                {
                    foreach (var item in Model.ListaSuministradores)
                    {
                        <tr>
                            
                            <td style="width: 300px; text-align:left;">@item.Emprnomb</td>

                            @if (item.HabilitacionPE)
                            {
                                if (item.HabilitacionRC)
                                {
                                    <td style="width: 250px; ">
                                        <input type="checkbox" class="chbx" name="checkIS_@item.Emprcodi" id="checkIS_@item.Emprcodi" checked>
                                    </td>
                                    <td style="width: 120px; ">
                                        <input type="checkbox" class="chbx" name="checkRC_@item.Emprcodi" id="checkRC_@item.Emprcodi" checked>
                                    </td>
                                }
                                else { 
                                    <td style="width: 250px; ">
                                        <input type="checkbox" class="chbx" name="checkIS_@item.Emprcodi" id="checkIS_@item.Emprcodi" checked>
                                    </td>
                                    <td style="width: 120px; ">
                                        <input type="checkbox" class="chbx" name="checkRC_@item.Emprcodi" id="checkRC_@item.Emprcodi">
                                    </td>
                                }
                            }
                            else { 
                                 if (item.HabilitacionRC)
                                {
                                    <td style="width: 250px; ">
                                        <input type="checkbox" class="chbx" name="checkIS_@item.Emprcodi" id="checkIS_@item.Emprcodi">
                                    </td>
                                    <td style="width: 120px; ">
                                        <input type="checkbox" class="chbx" name="checkRC_@item.Emprcodi" id="checkRC_@item.Emprcodi" checked>
                                    </td>
                                }
                                else { 
                                    <td style="width: 250px; ">
                                        <input type="checkbox" class="chbx" name="checkIS_@item.Emprcodi" id="checkIS_@item.Emprcodi">
                                    </td>
                                    <td style="width: 120px; ">
                                        <input type="checkbox" class="chbx" name="checkRC_@item.Emprcodi" id="checkRC_@item.Emprcodi">
                                    </td>
                                }
                            }
                            


                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
