@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ".:: App Móvil del COES ::.";
}


<div class="page-banner">
    <div class="page-banner-title">
        <h1>App Móvil COES</h1>
        <span style="font-size:13px;">Información relevante e inmediata de la operación del Sistema Eléctrico Nacional (SEIN)</span>
    </div>    
    <img src="~/Content/Images/Banners/Contactenos.jpg" alt="Aplicación móvil del COES" />
</div>
<div style="clear:both"></div>

<div class="page-content">
    
    <div class="page-left1">
        
        <div class="page-text ">

            <h1>Obtenga más información del aplicativo</h1>
                       
            <p>El aplicativo móvil del COES, brinda información actualizada del Sistema Eléctrico Nacional.</p>

            <h2>Demanda</h2>
            <p>
                Seleccionando una fecha de consulta, el app permite visualizar la demanda programada y
                ejecutada según el transcurso del día;  además, se puede observar la cifra de demanda ejecutada
                y su hora de actualización. Esta información se actualiza cada 15 minutos.
            </p>

            <h2>Generación</h2>
            <p>
                Por fuente de energía: se brinda información del día anterior mostrando cuánta energía se produjo y de qué fuente provino.
                Por empresa: se muestran las 10 principales empresas que producen energía para el SEIN.
            </p>
            <h2>Máxima demanda</h2>
            <p>
                La máxima demanda muestra los picos de consumo de energía:
                Por tipo de generación: muestra la producción de máxima demanda del mes anterior, fecha y hora.
                Fuente de energía: brinda información más específica del día de máxima demanda del mes anterior.
                Diagrama de carga: muestra el diagrama de carga del mes anterior.
            </p>

            <h2>Eventos</h2>
            <p>El app permite consultar por fecha los eventos del día y ver un mayor detalle.</p>

            <h2>Frecuencia en tiempo real</h2>
            <p>Se muestra la frecuencia en tiempo real.</p>

            <h2>Mantenimientos programados</h2>
            <p>Se puede consultar por fecha los mantenimientos diarios programados.</p>

            <h2>Costos marginales en tiempo real</h2>
            <p>Esta información se actualiza cada media hora y se puede consultar información por cada barra disponible en el mapa.</p>

            <h2>Calendario COES</h2>
            <p>
                Esta sección es de consulta, se pueden visualizar las publicaciones que realiza el COES, así como la fecha de vencimiento
                de plazos para la entrega de información respecto a un Procedimiento Técnico específico. Asimismo, se puede configurar desde
                el celular una alarma para el evento de su interés.
            </p>

            <img src="~/Content/Images/movil/02.jpg?v=1.1" alt="Gráfico circular" style="margin-right:20px" >
            <img src="~/Content/Images/movil/07.jpg?v=1.1" alt="Mapa" style="margin-right:20px">
            <img src="~/Content/Images/movil/08.jpg?v=1.1" alt="Gráfico de Barras" >

           
        </div>
     

    </div>
    <div class="page-rigth1">

        <div class="page-left-prov" style="margin-right:0">
            <div style="clear:both; height:20px"></div>
            <div class="page-info">
                <h1>Nuevas actualizaciones</h1>
                <div>Se implementó  un nuevo gráfico que brinda el detalle del Costo Marginal vs la Tarifa de Energía en Barra.</div>
                <div>La consulta de Mantenimientos Programados ahora cuenta con nuevos filtros de búsqueda.</div>
                <div>Se agregó la curva del Reprograma Diario en el gráfico de Demanda.</div>
                <div style="margin-bottom:25px">Se habilitó la funcionalidad de suscripción a notificaciones de Eventos relevantes del SEIN.</div>
            </div>

            <div style="clear:both; height:20px"></div>

            <div class="page-info-azul">
                <h1 style="font-size:20px">Descárgala en tu smartphone</h1>
                <div class="imagenapp" style="margin-left:50px; margin-bottom:20px; margin-top:15px">
                    <a href="https://play.google.com/store/apps/details?id=com.coes.app" target="_blank"><img src="~/Content/Images/Movil/googleplay.png" style="border:none;" class="google" /></a><br><br>
                    <a href="https://itunes.apple.com/us/app/coes-sinac/id1390604978?ls=1&mt=8"><img src="~/Content/Images/Movil/apple.png" style="border:none;" class="apple" /></a>
                </div>
            </div>
            <div style="clear:both; height:20px"></div>

            <p>
                <strong style="font-style:italic">IMPORTANTE:</strong> La información mostrada en el app móvil de carácter referencial. Para el cumplimiento de Procedimientos Técnicos y normativa,
                la única información válida es la que publicamos en nuestro portal web.
            </p>



        </div>
        
    </div>
    <div style="clear:both"></div>





    

    
</div>

<div style="clear:both"></div>