@{
    Layout = "~/Views/Shared/_LayoutOrganizacion.cshtml";
    ViewBag.Title = "Código de Ética";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/CodigoEtica.jpg)">
    <div class="main-banner-title">
        @*<h1>Código de ética</h1>
        <span>Organización</span>*@
    </div>
</div>

<div class="content-area">

    <div class="container">
        <div class="row">

            <div class="col col-md-3 order-1 order-md-0">
                <nav class="sidebar">
                    <ul class="sidebar-nav list-unstyled">
                        <li class="sidebar-nav--item">
                            <a href="/Organizacion/QuienesSomos" class="sidebar-nav--link">Quiénes Somos</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/MisionVisionValores" class="sidebar-nav--link">Misión, visión y principios</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/CodigoEtica" class="sidebar-nav--link sidebar-nav--link-active">Código de Ética</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Politicas" class="sidebar-nav--link">Política General del COES</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/EstructuraOrganizacional" class="sidebar-nav--link">Estructura Organizacional</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Asamblea" class="sidebar-nav--link">Asamblea</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Directorio" class="sidebar-nav--link">Directorio</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col col-md-9 mb-md-4">

                <div class="coes-box coes-box--padding">

                    <h2 class="heading-4 heading-underlined">I. Ámbito de aplicación</h2>
                    <p>
                        El presente Código pretende establecer pautas básicas de comportamiento ético, sin perjuicio del necesario cumplimiento de las disposiciones contenidas en las leyes y reglamentos nacionales vigentes.
                    </p>
                    <p class="mb-5">
                        Los preceptos de este Código son de cumplimiento obligatorio para todos los trabajadores del COES.
                    </p>

                    <h2 class="heading-4 heading-underlined">II. Pautas básicas de comportamiento ético para los trabajadores del COES</h2>
                    <p>En el marco del presente Código, el COES espera que sus trabajadores actúen de acuerdo a los valores de la institución. En ese sentido, el COES considera que resulta prioritario que los trabajadores se comprometan a:</p>
                    <ul class="mb-5">
                        <li>No dejarse influenciar, inducir o presionar por personas que representen a agentes del sector eléctrico, instituciones gubernamentales o cualquier otra entidad relacionada al ejercicio de las funciones legalmente encomendadas al COES. Para dichos efectos, se espera que todos los trabajadores que conforman la institución, colaboren y tengan disposición al diálogo para adoptar decisiones legal y técnicamente sustentadas.</li>
                        <li>No solicitar ni aceptar obsequios, presentes o cualquier otro acto de carácter personal por parte de los representantes o personal de los agentes del sector eléctrico, instituciones gubernamentales u otra entidad relacionada a la institución que pueda tener la intención o malinterpretarse como un influenciador de decisiones.</li>
                        <li>Utilizar todos los recursos de la institución (información no pública, material y económica) de manera apropiada en las actividades que desempeñen, y abstenerse de obtener o recibir beneficios personales o perjudicar a la institución.</li>
                        <li>Ser leales con la institución, actuar en función de los mejores intereses de ésta, evitar los conflictos de interés y situaciones en las que pueda malinterpretarse la existencia de estos</li>
                        <li>Tratar con respeto a los profesionales, personal administrativo, miembros del directorio y en general, a cualquier parte que conforme la institución, evitando la realización de actos discriminatorios o de acoso en el centro de labores.</li>
                    </ul>

                    <h2 class="heading-4 heading-underlined">III. Medidas Disciplinarias</h2>
                    <p>El área de RRHH impondrá las medidas disciplinarias correspondientes, frente a cualquier acto que contravenga el presente Código, de acuerdo a lo estipulado en el Reglamento Interno de Trabajo.</p>
                    <p class="mb-5">Para el caso del Director Ejecutivo se aplicará lo estipulado en el Reglamento Interno de Trabajo adicionalmente a lo que indica la Ley N° 28832 – Ley para Asegurar el Desarrollo Eficiente de la Generación Eléctrica y el Decreto Supremo N° 027-2008-EM Reglamento del Comité de Operación Económica del Sistema (COES).</p>

                </div>

            </div><!-- /.col-9 -->

        </div><!-- /.row -->
    </div><!-- /.container-->
</div><!-- /.content-area -->

