@{
    Layout = "~/Views/Shared/_LayoutOrganizacion.cshtml";
    ViewBag.Title = "Estructura Organizacional";
}

<script type="text/javascript">
    $(function () {
        $('#Map > area').mouseover(function () {
            if ($(this).attr("data-descrip") != "") {
                var c = $(this).attr('coords').split(',');
                var t = c[1] - c[2];
                var l = c[0] - c[3];
                $('.organigrama-content').show();

                $('.organigrama-content > h1').text($(this).attr("title"));
                $('.organigrama-content > p').text($(this).attr("data-descrip"));
            }
        });

        $('#Map > area').mouseout(function () {
            $('.organigrama-content').hide();
            $('.organigrama-content > h1').text("");
            $('.organigrama-content > p').text("");
        });
    })

</script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Organigrama.jpg)">
    <div class="main-banner-title">
        @*<h1>Estructura Organizacional</h1>
            <span>Organización</span>*@
    </div>
</div>

<div class="content-area">

    <div class="container">
        <div class="row">

            <div class="col col-md-3 order-1 order-md-0">
                <nav class="sidebar">
                    <ul class="sidebar-nav list-unstyled">
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/QuienesSomos" class="sidebar-nav--link">Quiénes Somos</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/MisionVisionValores" class="sidebar-nav--link">Misión, visión y principios</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/CodigoEtica" class="sidebar-nav--link">Código de Ética</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Politicas" class="sidebar-nav--link">Política General del COES</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/EstructuraOrganizacional" class="sidebar-nav--link sidebar-nav--link-active">Estructura Organizacional</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Asamblea" class="sidebar-nav--link">Asamblea</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Directorio" class="sidebar-nav--link">Directorio</a>
                        </li>
                    </ul>
                </nav>
                <div class="banner ">
                    <a href="#">
                        <img src="test-img/banner-test.png" class="img-fluid rounded" alt="">
                    </a>
                </div>
            </div>

            <div class="col col-md-9 mb-md-4">
                <div class="organigrama-content">
                    <h1 style="margin: 20px;"></h1>
                    <p style="margin: 20px;"></p>
                </div>
                <div class="coes-box coes-box--padding">
                    <h2 class="heading-4 heading-underlined">Estructura Organizacional</h2>
                    <p>Estructura Organizacional del COES aprobada por acuerdo de Directorio de la Sesión No. 608 (14/12/2022)</p>
                    @*<p>Estructura Organizacional del COES aprobada por acuerdo de Directorio de la Sesión No. 557 (22/07/2020)<span style="color:#fff">Estructura Organizacional del COES aprobada por acuerdo de Directorio de la Sesión No. 557 (22/07/2020) </span></p>*@
                    <img src="~/Content/Images/Direcciones/Organigrama.png?v=1" usemap="#Map" style="display: block; margin-left: auto; margin-right: auto;" />

                </div>

                <map name="Map" id="Map">
                    <area shape="rect" coords="452,41,312,2" href="#" alt="Asamblea" title="" data-descrip="">
                    <area shape="rect" coords="452,102,313,63" href="#" alt="Directorio" title="" data-descrip="">
                    <area shape="rect" coords="281,137,120,93" href="#" alt="Secretaría y Asesoría del Directorio" title="" data-descrip="">
                    <area shape="rect" coords="678,139,488,93" href="#" alt="Oficina de Perfeccionamiento Técnico" title="OPT" data-descrip="La Oficina de Perfeccionamiento Técnico (OPT) tiene como función la evaluación de las funciones asignadas al COES con la finalidad de proponer al Directorio las mejoras pertinentes. OPT tiene definido un Plan de Trabajo Anual, el cual es aprobado en el Directorio.">
                    <area shape="rect" coords="453,171,313,132" href="#" alt="Dirección Ejecutiva" title="DE" data-descrip="La Dirección Ejecutiva es el principal órgano de gerencia y administración; representa al COES ante todo tipo de autoridades y es el responsable por su buena marcha operativa y administrativa.">
                    <area shape="rect" coords="287,225,106,180" href="#" alt="Departamento de Gestión Jurídica y Regulatoria" title="DJR" data-descrip="El Departamento de Gestión Jurídica y Regulatoria brinda asesoría legal integral a la Dirección Ejecutiva y sus áreas orgánicas en el proceso de toma de decisiones, a fin de garantizar que las mismas se enmarquen en el ordenamiento jurídico nacional. Asimismo, asesora a la Dirección Ejecutiva en la elaboración y/u opinión de propuestas normativas relacionadas con el sub sector electricidad.">
                    <area shape="rect" coords="650,226,470,180" href="#" alt="Departamento de Administración" title="DAD" data-descrip="Administrar los sistemas de personal, abastecimientos, contabilidad, tesorería y de capacitación, mediante el uso eficiente y racional de los recursos disponibles, dentro del mejor ambiente laboral posible, que permita lograr los objetivos del COES, velando por el estricto cumplimiento de las normas legales vigentes.">
                    <area shape="rect" coords="292,291,92,245" href="#" alt="Departamento de Tecnología la Información" title="DTI" data-descrip="Administrar el sistema de información corporativo del COES, garantizando la actualización, continuidad y confiabilidad de su servicio. Administrar y mantener las redes de cómputo de alta disponibilidad, sistemas de tiempo real y el puerto de enlaces de comunicación con los agentes del SEIN, sistemas de correo y seguridad, así como los sistemas de telefonía.">
                    <area shape="rect" coords="658,292,458,246" href="#" alt="Sub Dirección de Gestión de Información" title="SGI" data-descrip="Gestionar y administrar toda la información técnica recibida y generada en el COES. Elabora el pronóstico de la demanda de mediano y largo plazo para la programación de la operación y planificación del SEIN. Verifica, actualiza y aprueba los precios y datos de la calidad de los combustibles, para el cálculo de los costos variables combustibles; revisa y aprueba los costos variables no combustibles de mantenimiento de las unidades termoeléctricas. Planifica y supervisa el cumplimiento del Plan Anual de Ensayos de Potencia Efectiva de las Unidades de Generación del SEIN. Revisa los estudios hidrológicos y cálculos de potencia garantizada para la obtención de la potencia firme de las unidades de generación del SEIN.">
                    <area shape="rect" coords="292,422,92,377" href="#" alt="Dirección de Operaciones" title="DO" data-descrip="Coordina la operación del SEIN y los enlaces de interconexiones internacionales, a corto plazo (diario, semanal) y mediano plazo (mensual, anual y bienal), al mínimo costo, preservando la seguridad y el mejor aprovechamiento de los recursos energéticos. Asimismo está encargada de la administración del Mercado de Corto Plazo.">
                    <area shape="rect" coords="660,422,459,377" href="#" alt="Dirección de Planificación Transmisión" title="DP" data-descrip="Coordina el desarrollo de la planificación de la operación de largo plazo, la planificación de la transmisión del SEIN e interconexiones internacionales; así como otorgar la conformidad a los Estudios de Pre Operatividad para la conexión al SEIN de nuevas instalaciones.">
                    <area shape="rect" coords="163,499,3,453" href="#" alt="Sub Dirección de Programación" title="SPR" data-descrip="Realiza la programación de la operación del SEIN y para ello elabora el pronóstico de la demanda de corto plazo como la programación de mediano y corto plazo; también efectúa la programación de mantenimiento anual, mensual, semanal y diario.">
                    <area shape="rect" coords="361,499,201,454" href="#" alt="Sub Dirección de Coordinación" title="SCO" data-descrip="Como responsable del Centro Coordinador de la Operación en Tiempo Real del SEIN, debe velar por la calidad, seguridad y economía de la operación, cumpliendo lo previsto en la normativa aplicable. Supervisa permanentemente las variables eléctricas del SEIN, la ejecución de los programas de operación y mantenimiento de las instalaciones, emite instrucciones operativas a los Centros de Control de los Agentes, coordina las maniobras de restablecimiento del SEIN cuando ocurren perturbaciones, registra la información operativa de todos los eventos que ocurren en tiempo real en el SEIN y elabora los informes relacionados con su función.">
                    <area shape="rect" coords="552,500,391,454" href="#" alt="Sub Dirección de Planificación" title="SPL" data-descrip="Desarrolla la planificación de la operación de largo plazo del SEIN, partiendo del pronóstico de la demanda y el procesamiento de la información de proyectos de generación y transmisión, así como de los grandes usuarios. Asimismo, realiza el diagnóstico de las condiciones operativas y el Plan de Transmisión del SEIN, que incluye las interconexiones internacionales; acorde a la normativa específica que los rige.">
                    <area shape="rect" coords="745,500,585,453" href="#" alt="Sub Dirección de Nuevos Proyectos" title="SNP" data-descrip="Encargada de iniciar el proceso del ingreso y conexión al SEIN de nuevas instalaciones de generación, transmisión y utilización, mediante la revisión, aprobación y recomendación del otorgamiento del Certificado de Conformidad de los Estudios de Pre Operatividad. Asimismo, realiza el monitoreo del desempeño de la operación del SEIN en un horizonte de cinco años y desarrolla los anteproyectos derivados del Plan de Transmisión.">
                    <area shape="rect" coords="162,564,2,518" href="#" alt="Sub Dirección de Evaluación" title="SEV" data-descrip="Evalúa el desempeño de la operación del SEIN para lo cual identifica los problemas en el sistema, ocurridos en condiciones normales o perturbadas de la operación y propone las soluciones a los mismos. Provee recomendaciones para la mejora continua en la operación del SEIN, para lo cual efectúa estudios eléctricos. Supervisa la calidad del suministro eléctrico e identifica a los responsables de cada transgresión a la NTCSE. Gestiona las aprobaciones para la incorporación de las nuevas instalaciones al SEIN. Elabora mensualmente la información necesaria para valorizar las transferencias, tales como el cálculo de los costos marginales y la clasificación de las horas de la operación.">
                    <area shape="rect" coords="361,562,200,517" href="#" alt="Sub Dirección de Mercado Eléctrico" title="SME" data-descrip="Realiza la Liquidación del Mercado Mayorista de Electricidad (MME) a través de la determinación de valorizaciones de transferencias de energía, potencia, compensaciones, servicios complementarios e inflexibilidades operativas. Para ello, realiza procesos que son de soporte a las liquidaciones del MME tales  como, la evaluación del régimen de operación, evaluación de los servicios complementarios RPF y RSF, determinación de los factores de indisponibilidad y potencia firme, determinación la energía firme y gestión de las garantías.">
                    <area shape="rect" coords="659,359,458,313" href="#" alt="Oficina de Aplicaciones Estratégicas" title="OAE" data-descrip="Proponer y desarrollar aplicaciones especializadas orientadas a los procesos de operaciones y planificación de la transmisión. Aprobar y actualizar las aplicaciones, de operaciones y planificación de la transmisión, elaboradas in-house o ad-hoc para el COES. Llevar a cabo proyectos de alta especialización enmarcados en el plan estratégico. Proponer la migración de aplicaciones in-house hacia plataformas de menor costo.">
                </map>
            </div><!-- /.col-9 -->
        </div><!-- /.row -->
    </div><!-- /.container-->
</div><!-- /.content-area -->
