@{
    Layout = "~/Views/Shared/_LayoutOrganizacion.cshtml";
    ViewBag.Title = "Política de Calidad del COES";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Asamblea.jpg)">
    <div class="main-banner-title">
        @*<h1>Política del COES</h1>
        <span>Organización</span>*@
    </div>
</div>

<div class="content-area">

    <div class="container">
        <div class="row">

            <div class="col col-md-3 order-1 order-md-0">
                <nav class="sidebar">
                    <ul class="sidebar-nav list-unstyled">
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/QuienesSomos" class="sidebar-nav--link">Quiénes Somos</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/MisionVisionValores" class="sidebar-nav--link">Misión, visión y principios</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/CodigoEtica" class="sidebar-nav--link">Código de Ética</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Politicas" class="sidebar-nav--link sidebar-nav--link-active">Políticas del COES</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/EstructuraOrganizacional" class="sidebar-nav--link">Estructura Organizacional</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Asamblea" class="sidebar-nav--link">Asamblea</a>
                        </li>
                        <li class="sidebar-nav--item">
                            <a href="~/Organizacion/Directorio" class="sidebar-nav--link">Directorio</a>
                        </li>
                    </ul>
                </nav>
            </div> <!-- /.col-3-->

            <div class="col col-md-9 mb-md-4">

                <div class="coes-box coes-box--padding">
                    <h2 class="heading-4 heading-underlined">Políticas del COES</h2>
                    <div class="row">
                        <div class="coes-form-item d-flex flex-column">
                            <a href="~/Content/Doc/PoliticaCoes2025.pdf" class="coes-form-item--submit me-3 mb-3" target="_blank" style="text-decoration: none">Política General del COES </a>
                            <a href="~/Content/Doc/Politica_Seguridad_Salud_2023.pdf" class="coes-form-item--submit me-3 mb-3" target="_blank" style="text-decoration: none">Política de Seguridad y Salud en el Trabajo </a>
                            <a href="~/Content/Doc/Politica_Proteccion_Datos_Personales.pdf" class="coes-form-item--submit me-3 mb-3" target="_blank" style="text-decoration: none">Política de Tratamiento de Datos Personales </a>
                            <a href="~/Content/Doc/Politica_Coes_WSP.pdf" class="coes-form-item--submit me-3 mb-3" target="_blank" style="text-decoration: none">Política de Uso del Canal de Atención COES WSP </a>
                        </div>
                        @*<img src="~/Content/Images/reingenieria.png" style="border:none; margin-left:80px" />*@
                    </div>
                </div>

            </div><!--/.col-9-->

        </div><!--/.row-->
    </div><!-- /.container-->
</div> <!-- /.content-area -->

<br />

