@model COES.MVC.Publico.Models.HomeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ".:: Sala de Prensa ::.";
}

@*<div class="page-banner">
    <div class="page-banner-title">
        <h1>Sala de Prensa</h1>
        <span>
        </span>
    </div>
    <img src="~/Content/Images/Banners/Contactenos.jpg" alt="Contáctenos" />
</div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Contactenos.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box coes-box--padding">
                <div class="coes-box--content container pt-2 pb-2 pe-2 ps-2">
                    <h2 class="heading-4 heading-underlined mb-4">Noticias</h2>
                    <div class="page-content">
                        <div class="page-left" style="width:100%">
                            <div class="page-text" style="padding-right:10px">

                                @foreach (var item in Model.ListaSalaPrensa)
                                {

                                    <h2 class="heading-4" id="ingenieroeminente">
                                        @item.Comtitulo
                                    </h2>
                                    <table style="width:100%">
                                        <tr>
                                            <td style="width:65%" valign="top">
                                                @Html.Raw(item.Comdesc)
                                            </td>

                                            @if (item.ComImagen != null)
                                            {
                                                <td valign="top" style="width:33%">
                                                    <img src="@item.ComImagen" style="border:6px solid #e9e4e4; border-radius:5px" />
                                                </td>
                                            }

                                        </tr>
                                    </table>

                                    <div style="height:1px; border-bottom:1px dashed #5692cb; clear:both"></div>
                                    <br />
                                }
                            </div>

                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
                  

