@model COES.MVC.Intranet.Areas.Equipamiento.Models.ManiobraModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Scripts/maniobra.js"></script>

<div class="form-title">
    <div class="content-titulo">Configurar enlces de procedimientos de maniobra</div>
    <div class="content-botonera">       
        
    </div>
</div>

<div class="content-hijo" id="mainLayout">
  
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Seleccione tipo de equipo:</td>
                <td>
                    <select id="cbFamilia" name="Version" style="width:200px">
                        @foreach (var item in Model.ListaFamilia)
                        { 
                            <option value="@item.Famcodi">@item.Famnomb</option>
                        }
                    </select>
                </td>                
            </tr>                
        </table>
    </div>    

    <div class="content-tabla">     
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>

<div id="popupEnlace" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Enlace al Procedimiento de Maniobras</span></div>
    <div style="clear:both; height:20px"></div>
    <div id="contenedorManiobra">
        Colocar enlace del procedimiento de Maniobras:
        <br />
        <textarea id="txtEnlace" style="width:400px; height:70px"></textarea>
        <div style="clear:both"></div>
        <input type="hidden" id="hfIdFamilia" />
        <input type="hidden" id="hfIdEquipo" />
        <div style="text-align:center; width:200px; margin:auto; margin-top:20px">
            <input type="button" id="btnGrabar" value="Aceptar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </div>
</div>
