@model COES.MVC.Extranet.Areas.Account.Models.RepresentanteModel

<table border="0" class="pretty tabla-icono" id="tablaEmpresa">
    <thead>
        <tr>
            <th>Nombre</th>           
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEmpresaSeleccionado.Count() > 0)
        {
            foreach (var item in Model.ListaEmpresaSeleccionado)
            {
                <tr>                   
                    <td>@Html.DisplayFor(modelItem => item.EMPRNOMB)</td>
                   
                </tr>
            }
        }        
    </tbody>
</table>
