.reporte-resumen {
    width:350px;
    margin-bottom:20px;
}

.reporte-resumen table {
    width:100%;
}

.reporte-resumen table tr {
    line-height:20px;    
}

.reporte-resumen table tr td
{
    border:1px solid #EAEAEA;
    text-indent:10px;

}

.reporte-resumen table tr td.reporte-resumen-label {
    background-color:#F9F9F9;
    
}


/*CLASES PARA LA TABLA DE REPORTE*/

.reporte-itemtotal{
    background-color:#FFFFD7;
}

.reporte-itemtotal td:first-child {    
    font-weight:bold;
    text-align:right;
}

.reporte-itemsubtotal {
    background-color:#EEF5FD;
}

.reporte-itemsubtotal td:first-child {
    font-weight:bold;
    text-align:right;
}

.reporte-subtotal {
    background-color:#B5D9EE;
}

.reporte-total {
    background-color:#2980B9;
    color:#fff;
}

.reporte-header {
     background-color:#50A2D8;
}

.paginado-ordenamiento 
{
    width:190px;
   /* float:right;*/

}

.paginado-ordenamiento ul li
{
    display:inline;   
}

    .paginado-ordenamiento ul li a.page-item {
        display: inline;
        text-decoration: none;
        padding: 2px;
        color: #212529;
    }

    .paginado-ordenamiento ul li a.page-active {
        display: inline;
        background-color: #e3e3e3;
        color: #212529;
        padding: 4px;
    }

.aling-derecho {
    text-align:right;
}