.fila_plantilla_vigente {
    background-color: #C6E0B4 !important;
}

table.table_agrup tr.tr_cab .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_cab .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_cab .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup_item thead .th1 {
    text-align: center;
    background: #2980B9;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #9AC9E9;
}

table.table_agrup_item thead .th2 {
    background: white;
    border: 0px solid #9AC9E9;
}

tr.tr_table_agrup_item td.td_agrup {
    border: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: top;
}

td.tr_conf_td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle;
    padding-top: 3px;
}

td.tr_conf_td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle !important;
    padding-left: 10px;
}

td.tr_conf_td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle;
}

div.ms-parent ul {
    text-align: left !important;
}
