

.tdPadd {
    padding-left: 10px;
    width: 15px;
}

.tdSeparate {
    width: 10px;
    background-color: white;
    border: 1px solid white;
}

.file-upload {
    margin-top: 10px;
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.plupload_file {
    border: 1px solid #FFFFFF;
    float: left;
    margin: 3px;
    padding: 6px;
}

.plupload_container {
    min-height: 80px;
    width: 400px;
    position: relative;
}

.ui-widget-content {
    background: url("../images/fondo_file.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}

.tooltip {
    display: inline;
    position: relative;
}

    .tooltip:hover:after {
        bottom: 26px;
        content: attr(title); /* este es el texto que será mostrado */
        left: 20%;
        position: absolute;
        z-index: 98;
        /* el formato gráfico */
        background: rgba(255,255,255, 0.2); /* el color de fondo */
        border-radius: 5px;
        color: #3565F1; /* el color del texto */
        font-size: 10px;
        padding: 5px 15px;
        text-align: left;
        /*text-shadow: 1px 1px 1px #000;*/
        width: 250px;
    }

    .tooltip:hover:before {
        bottom: 20px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
        /* el triángulo inferior */
        border: solid;
        border-color: rgba(255,255,255, 0.2) transparent;
        border-width: 6px 6px 0 6px;
    }

.tabla-icono tbody tr td {
    vertical-align: middle;
    padding: 2px;
    border: 1px solid #dddddd;
}

    .tabla-icono tbody tr td a img {
        width: 19px;
        height: 19px;
    }

.tabla-form tbody tr td {
    border-spacing: 0px;
}

input[type=number] {
    /* background-color:#F2F4F3; */
    border: 1px solid #CBD3CF;
    border-radius: 5px;
    width: 220px;
    height: 20px;
    text-indent: 8px;
    font: 12px "arial", sans-serif;
    color: #4876AA;
}

.celda-item {
    padding-right: 5px;
    color: #3f6bc3;
}

/*carpetas*/
#bandeja {
    border: 2px solid #D9E8F3;
    background-color: #f3f8fb;
    border-radius: 4px;
}

#div_carpetas table {
    border-spacing: 0;
}

#div_carpetas h3 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #2783c8;
    margin-top: 0px;
    margin-bottom: 10px;
}

.item_carpeta {
    cursor: pointer;
    border: 1px solid #9C9FA2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    color: #253a44;
}

.item_carpeta_selected {
    font-weight: bold;
    background-color: #5a94c0;
    color: white;
}

.item_tiene_dato {
    font-weight: bold;
}