<script type="text/javascript">

    function cargarPrimeraPagina4() {
        var id = 1;
        $('#hfPaginaActual4').val(id);
        mostrarPaginado4();
        pintarBusqueda4(id);
    }

    function cargarAnteriorPagina4() {
        var id = $('#hfPaginaActual4').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual4').val(id);
            mostrarPaginado4();
            pintarBusqueda4(id);
        }
    }

    function cargarPagina4(id) {
        $('#hfPaginaActual4').val(id);
        mostrarPaginado4();
        pintarBusqueda4(id);
    }

    function cargarSiguientePagina4() {
        var id = parseInt($('#hfPaginaActual4').val()) + 1;
        $('#hfPaginaActual4').val(id);
        mostrarPaginado4();
        pintarBusqueda4(id);
    }

    function cargarUltimaPagina4() {
        var id = $('#hfNroPaginas4').val();
        $('#hfPaginaActual4').val(id);
        mostrarPaginado4();
        pintarBusqueda4(id);
    }

    function mostrarPaginado4() {
        var nroToShow4 = parseInt($('#hfNroMostrar4').val());
        var nroPaginas4 = parseInt($('#hfNroPaginas4').val());
        var nroActual4 = parseInt($('#hfPaginaActual4').val());

        $('.pag-ini4_').css('display', 'none');
        $('.pag-item4_').css('display', 'none');
        $('.pag-fin4_').css('display', 'none');
        $('.pag-item4_').removeClass('paginado-activo');

        $('#pag4_' + nroActual4).addClass('paginado-activo');

        if (nroToShow4 - nroPaginas4 >= 0) {
            $('.pag-item4_').css('display', 'block');
            $('.pag-ini4_').css('display', 'none');
            $('.pag-fin4_').css('display', 'none');
        }
        else {


            $('.pag-fin4_').css('display', 'block');
            if (nroActual4 > 1) {
                $('.pag-ini4_').css('display', 'block');
            }
            var anterior4 = 0;
            var siguiente = 0;

            if (nroActual4 == 1) {

                anterior4 = 1;
                siguiente4 = nroToShow4;
            }



            else {

                if (nroActual4 + nroToShow4 - 1 - nroPaginas4 > 0) {
                    siguiente4 = nroPaginas4;
                    anterior4 = nroPaginas4 - nroToShow4 + 1;
                }
                else {
                    anterior4 = nroActual4;
                    siguiente4 = nroActual4 + nroToShow4 - 1;
                }
            }

            for (j = anterior4; j <= siguiente4; j++) {
                $('#pag4_' + j).css('display', 'block')
            }
        }
    }

</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst4" class="pag-ini4_"><a href="JavaScript:cargarPrimeraPagina4();"><<</a></div>
        <div id="pagPrev4" class="pag-ini4_"><a href="JavaScript:cargarAnteriorPagina4();"><</a></div>
        @for (int j = 1; j <= Model.NroPaginas; j++)
        {
            <div class="pag-item4_" id="@("pag4_"+j)" style="display:none"><a href="JavaScript:cargarPagina4(@j);"><span>@j</span></a></div>
        }
        <div id="pagNext4" class="pag-fin4_"><a href="JavaScript:cargarSiguientePagina4();">></a></div>
        <div id="pagLast4" class="pag-fin4_"><a href="JavaScript:cargarUltimaPagina4();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActual4" value="1" />
    <input type="hidden" id="hfNroPaginas4" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar4" value="@Model.NroMostrar" />
}