<script type="text/javascript">

    function cargarPrimeraPagina5() {
        var id = 1;
        $('#hfPaginaActual5').val(id);
        mostrarPaginado5();
        pintarBusqueda5(id);
    }

    function cargarAnteriorPagina5() {
        var id = $('#hfPaginaActual5').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual5').val(id);
            mostrarPaginado5();
            pintarBusqueda5(id);
        }
    }

    function cargarPagina5(id) {
        $('#hfPaginaActual5').val(id);
        mostrarPaginado5();
        pintarBusqueda5(id);
    }

    function cargarSiguientePagina5() {
        var id = parseInt($('#hfPaginaActual5').val()) + 1;
        $('#hfPaginaActual5').val(id);
        mostrarPaginado5();
        pintarBusqueda5(id);
    }

    function cargarUltimaPagina5() {
        var id = $('#hfNroPaginas5').val();
        $('#hfPaginaActual5').val(id);
        mostrarPaginado5();
        pintarBusqueda5(id);
    }

    function mostrarPaginado5() {
        var nroToShow5 = parseInt($('#hfNroMostrar5').val());
        var nroPaginas5 = parseInt($('#hfNroPaginas5').val());
        var nroActual5 = parseInt($('#hfPaginaActual5').val());

        $('.pag-ini5_').css('display', 'none');
        $('.pag-item5_').css('display', 'none');
        $('.pag-fin5_').css('display', 'none');
        $('.pag-item5_').removeClass('paginado-activo');

        $('#pag5_' + nroActual5).addClass('paginado-activo');

        if (nroToShow5 - nroPaginas5 >= 0) {
            $('.pag-item5_').css('display', 'block');
            $('.pag-ini5_').css('display', 'none');
            $('.pag-fin5_').css('display', 'none');
        }
        else {


            $('.pag-fin5_').css('display', 'block');
            if (nroActual5 > 1) {
                $('.pag-ini5_').css('display', 'block');
            }
            var anterior5 = 0;
            var siguiente = 0;

            if (nroActual5 == 1) {

                anterior5 = 1;
                siguiente5 = nroToShow5;
            }



            else {

                if (nroActual5 + nroToShow5 - 1 - nroPaginas5 > 0) {
                    siguiente5 = nroPaginas5;
                    anterior5 = nroPaginas5 - nroToShow5 + 1;
                }
                else {
                    anterior5 = nroActual5;
                    siguiente5 = nroActual5 + nroToShow5 - 1;
                }
            }

            for (j = anterior5; j <= siguiente5; j++) {
                $('#pag5_' + j).css('display', 'block')
            }
        }
    }

</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst5" class="pag-ini5_"><a href="JavaScript:cargarPrimeraPagina5();"><<</a></div>
        <div id="pagPrev5" class="pag-ini5_"><a href="JavaScript:cargarAnteriorPagina5();"><</a></div>
        @for (int j = 1; j <= Model.NroPaginas; j++)
        {
            <div class="pag-item5_" id="@("pag5_"+j)" style="display:none"><a href="JavaScript:cargarPagina5(@j);"><span>@j</span></a></div>
        }
        <div id="pagNext5" class="pag-fin5_"><a href="JavaScript:cargarSiguientePagina5();">></a></div>
        <div id="pagLast5" class="pag-fin5_"><a href="JavaScript:cargarUltimaPagina5();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActual5" value="1" />
    <input type="hidden" id="hfNroPaginas5" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar5" value="@Model.NroMostrar" />
}