<script type="text/javascript">

    function cargarPrimeraPagina3() {
        var id = 1;
        $('#hfPaginaActual3').val(id);
        mostrarPaginado3();
        pintarBusqueda3(id);
    }

    function cargarAnteriorPagina3() {
        var id = $('#hfPaginaActual3').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual3').val(id);
            mostrarPaginado3();
            pintarBusqueda3(id);
        }
    }

    function cargarPagina3(id) {
        $('#hfPaginaActual3').val(id);
        mostrarPaginado3();
        pintarBusqueda3(id);
    }

    function cargarSiguientePagina3() {
        var id = parseInt($('#hfPaginaActual3').val()) + 1;
        $('#hfPaginaActual3').val(id);
        mostrarPaginado3();
        pintarBusqueda3(id);
    }

    function cargarUltimaPagina3() {
        var id = $('#hfNroPaginas3').val();
        $('#hfPaginaActual3').val(id);
        mostrarPaginado3();
        pintarBusqueda3(id);
    }

    function mostrarPaginado3() {
        var nroToShow3 = parseInt($('#hfNroMostrar3').val());
        var nroPaginas3 = parseInt($('#hfNroPaginas3').val());
        var nroActual3 = parseInt($('#hfPaginaActual3').val());

        $('.pag-ini3_').css('display', 'none');
        $('.pag-item3_').css('display', 'none');
        $('.pag-fin3_').css('display', 'none');
        $('.pag-item3_').removeClass('paginado-activo');

        $('#pag3_' + nroActual3).addClass('paginado-activo');

        if (nroToShow3 - nroPaginas3 >= 0) {
            $('.pag-item3_').css('display', 'block');
            $('.pag-ini3_').css('display', 'none');
            $('.pag-fin3_').css('display', 'none');
        }
        else {


            $('.pag-fin3_').css('display', 'block');
            if (nroActual3 > 1) {
                $('.pag-ini3_').css('display', 'block');
            }
            var anterior3 = 0;
            var siguiente = 0;

            if (nroActual3 == 1) {

                anterior3 = 1;
                siguiente3 = nroToShow3;
            }



            else {

                if (nroActual3 + nroToShow3 - 1 - nroPaginas3 > 0) {
                    siguiente3 = nroPaginas3;
                    anterior3 = nroPaginas3 - nroToShow3 + 1;
                }
                else {
                    anterior3 = nroActual3;
                    siguiente3 = nroActual3 + nroToShow3 - 1;
                }
            }

            for (j = anterior3; j <= siguiente3; j++) {
                $('#pag3_' + j).css('display', 'block')
            }
        }
    }

</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst3" class="pag-ini3_"><a href="JavaScript:cargarPrimeraPagina3();"><<</a></div>
        <div id="pagPrev3" class="pag-ini3_"><a href="JavaScript:cargarAnteriorPagina3();"><</a></div>
        @for (int j = 1; j <= Model.NroPaginas; j++)
        {
            <div class="pag-item3_" id="@("pag3_"+j)" style="display:none"><a href="JavaScript:cargarPagina3(@j);"><span>@j</span></a></div>
        }
        <div id="pagNext3" class="pag-fin3_"><a href="JavaScript:cargarSiguientePagina3();">></a></div>
        <div id="pagLast3" class="pag-fin3_"><a href="JavaScript:cargarUltimaPagina3();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActual3" value="1" />
    <input type="hidden" id="hfNroPaginas3" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar3" value="@Model.NroMostrar" />
}