@model COES.MVC.Intranet.Areas.RechazoCarga.Models.EnvioArchivosMagnitudModel
@{
    ViewBag.Title = "Envío de Archivos de Magnitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .controlDropdown {
        width: 300px !important;
    }
</style>
<div class="content-hijo" id="mainLayout" style="height: 720px;">
    <div class="form-title">
        <div class="content-titulo">Envío de Archivos de Magnitud de Carga Rechazada</div>
    </div>
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:0px; padding:15px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Suministrador: </td>
                <td>
                    @Html.DropDownList("suministrador", new SelectList(Model.Suministradores, "Emprcodi", "Emprrazsocial"), new { @class = "controlDropdown" })
                </td>
                <td>Tipo: </td>
                <td>
                    <select id="tipo" name="tipo" class="controlDropdown">
                        <option value="" selected="selected">--SELECCIONE--</option>
                        <option value="P">Preliminar - Scada</option>
                        <option value="D">Definitivo - Contadores</option>
                    </select>
                </td>                
                <td></td>
                <td rowspan="2">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="content-action">
                                <a href="#" id="btnDescargarFormato">
                                    <div class="content-item-action">
                                        <img src="~/Areas/RechazoCarga/Content/Images/bajar.png" /><br />
                                        <span>Descargar formato</span>
                                    </div>
                                </a>
                            </td>
                            <td class="content-action">
                                <a href="#" id="btnSelectExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/RechazoCarga/Content/Images/subir.png" /><br />
                                        <span>Importar formato</span>
                                    </div>
                                </a>
                            </td>
                            <td class="content-action">
                                <a href="#" id="btnEnviarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Areas/RechazoCarga/Content/Images/enviar.png" /><br />
                                        <span>Enviar datos</span>
                                    </div>
                                </a>
                            </td>
                            <td class="content-action">
                                <a href="#" id="btnMostrarErrores">
                                    <div class="content-item-action">
                                        <img src="~/Areas/RechazoCarga/Content/Images/errores.png" /><br />
                                        <span>Mostrar errores</span>
                                    </div>
                                </a>                                 
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Programa: </td>
                <td colspan="3">
                    @Html.DropDownList("programa", new SelectList(Model.Programas, "Rcprogcodi", "Rcprognombre"), new { style = "width:100%" })
                </td>                
                <td></td>                
            </tr>
            <tr>
                <td>Cuadro: </td>
                <td colspan="3">
                    @Html.DropDownList("cuadro", new SelectList(string.Empty, "Value", "Text"), "--SELECCIONE--", new { style = "width:100%" })
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" /></td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <div class="bodyexcel" id='detalleFormato'></div>
</div>
<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">

    </div>
</div>
<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/envioArchivosMagnitud.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/util.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
