/*Estilos para tablas*/

.ast table.pretty tbody tr.odd:hover  td  {
    background : #fbf4bf;
}

.ast table.pretty tbody tr.even:hover  td  {
    background : #fbf4bf;
}

.ast table.pretty tbody tr.rojo  td  {
    background : #f00;
}
.ast table.pretty tbody tr.amarillo  td  {
    background : #ffd800;
}

.ast .text_left  {
    text-align:left;
}

.ast .text_justify  {
    text-align:justify;
}

/*Estilos de enlaces*/
.ast a.paginate_active {
    display: inline-block;
    background-color: #3498DB;
    padding: 2px 4px;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
}

.ast a.paginate_button {
    display: inline-block;
    background-color: #FFF;
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
    color: #3498DB;
}
.ast #popup, #confirmar, #confirmarClose, #popupDetalle, #busquedaEquipo, #divPermisos, #popup2, #cntExportar, #confirmarSave, .bMulti {
    color:#245C86;
}

/********************************************************************************/
/* -- ESTILO DEL DIV DE MENSAJES */
.info, .exito, .alerta, .error {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Images/info.png');
}
.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../Images/exito.png');
}
.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../Images/alerta.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../Images/error.png');
}