#mostrarMapa{
    width: 100%;
    height: 620px;
}

.general-popup iframe {
    min-width:1050px; 
    min-height:600px
}

.label-mapa {
    color:#428BD3;
    margin-bottom:5px;    
    font-weight:bold;
}

.control-mapa {
    margin-bottom:10px;
}

.boton-mapa {
    width:100px;
    text-align:center;
    margin:auto;
    margin-top:20px;
}

.map-content {
    border:1px solid #C8D8ED;
    background-color:#F8F9FA;
    border-radius:5px;
    padding:10px

}

.map-content input {
    background-color:#fff;
    height:24px;
}

.leyenda-mapa {
    background-color:#fff;
    height:35px;
    width:170px;
    position:absolute;
    z-index:999999;
    top:513px;
    left:265px;
    font-size:11px;
    outline: none;
    padding:5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.leyenda-mapa-label {
    color:#428BD3;
    font-size:11px;

}

.leyenda-mapa-val {
    font-size:11px
}

.contenedor-mapa #pac-input
{
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color:#fff;
  height: 28px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}



.div-importar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-importar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-importar-close:hover {
        color: #FF770D;
    }

.div-importar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-importar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}



.form-importar-content {
    width: auto;
    background: #E8F6FF;
    border: 2px solid #B8E2FB;
    padding: 5px;
    text-indent: 15px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    line-height: 20px;
    margin-top: 10px;
}

.form-importar-item {
    float: left;
    width: auto;
}


.div-importar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}



.div-importar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-importar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-importar-close:hover {
        color: #FF770D;
    }

.div-importar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.label_filtro {
    font-weight: bold;
    color: #3D90CB;
}

.th1 {
    width: 100%;
    background: #2980B9;
    color: white;
    height: 20px;
}

.th2 {
    border: none;
}

/**para tabla de proyectos extranet*/
#listadoProyectosExtranet .pretty {    
    width: 813px !important;
}

/**para tabla de seleccion de proyectos*/
#listadoProyectos .pretty {    
    width: 892px !important;
}

/**para tabla de empresas copropietarias*/
#listadoEmpresasCopropietarias .pretty {
    width: 600px !important;
}

/**para tabla de seleccion de proyectos*/
#listadoProyectosAsignacion .pretty {
    width: 736px !important;
}


/**para EQUIPOS*/
#popupAsignarEquiposFT {
    z-index: 99995 !important;
}

#popupBusquedaPy {
    z-index: 99999 !important;
}

.option > .image,
.option > .text {
    float: left;
}

.option > .text {
    margin-left: 15px;
}

.avatar {
    width: 48px;
    height: 48px;
}

.selectize-control.contacts .selectize-input > div .email {
    opacity: 0.8;
}

.selectize-control.contacts .selectize-input > div .name + .email {
    margin-left: 5px;
}

/*.selectize-control.contacts .selectize-input > div .email:before {
    content: "<";
}

.selectize-control.contacts .selectize-input > div .email:after {
    content: ">";
}*/

.selectize-control.contacts .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
}

#popupAuditoria {
    z-index: 99999 !important;
}

/**para Asignación de proyectos*/
#popupProyecto {
    z-index: 99995 !important;
}

#popupRelEqMOConProyectos {
    z-index: 99999 !important;
}

#popupBusquedaEq {
    z-index: 99999 !important;
}


#popupAuditoria {
    z-index: 100001 !important;
}

tr.fila_historico td {
    background: #97999a !important;
    color: white !important;
}
