.htColorCabecera {
    background: #0C76B8 !important;
    color: white !important;
}

.htColorCelda {
    background: #FAD4A3 !important;
}


.htContextMenu {
    z-index: 99999 !important;
}

.content-notas {
    font-size: 11px;
    font-weight: bold;
}

td.errorCeldaVacia {
    background-color: #FBA601 !important;
}

.tdPadd {
    padding-left: 10px;
}

.tdSeparate {
    width: 10px;
    background-color: white;
    border: 1px solid white;
}

/*cambia color del checkbox*/
input[type='checkbox'].chbx {
    accent-color: red !important;
}


/* Quitar "botones STEP" del input number (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-indent: 8px;
    border: 1px solid #CBD3CF;
    height: 20px;
    font: 12px "arial", sans-serif;
    border-radius: 5px;
    color: #4876AA !important;
}

    input[type=number]:invalid {
        border: red solid 2px;
        background: #FCE3E3;
    }



/*carpetas*/
#bandeja {
    border: 2px solid #D9E8F3;
    background-color: #f3f8fb;
    border-radius: 4px;
}

#div_carpetas table {
    border-spacing: 0;
}

#div_carpetas h3 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #2783c8;
    margin-top: 0px;
    margin-bottom: 10px;
}

.item_carpeta {
    cursor: pointer;
    border: 1px solid #9C9FA2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    color: #253a44;
}

.item_carpeta_selected {
    font-weight: bold;
    background-color: #5a94c0;
    color: white;
}

.item_tiene_dato {
    font-weight: bold;
}

.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    /*padding-bottom: 5px;*/
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

div.content-item-action {
    padding-left: 6px;
    padding-right: 6px;
    line-height: 10px;
}

input[type=button].btn_aprobar, input[type=submit].btn_aprobar {
    /*background-color: #2ECC71;*/
    background-color: #20b007;
    background-image: none;
}

    input[type=button].btn_aprobar:hover, input[type=submit].btn_aprobar:hover {
        background-color: #59e896;
        background-image: none;
    }

input[type=button].btn_aprobarParcialmente, input[type=submit].btn_aprobarParcialmente {
    background-color: #90940f;
    background-image: none;
}

    input[type=button].btn_aprobarParcialmente:hover, input[type=submit].btn_aprobarParcialmente:hover {
        background-color: #babf13;
        background-image: none;
    }

input[type=button].btn_observar, input[type=submit].btn_observar {
    background-color: #fba500;
    background-image: none;
    color: #757575;
}

    input[type=button].btn_observar:hover, input[type=submit].btn_observar:hover {
        background-color: #FFD966;
        background-image: none;
        color: #757575;
    }

input[type=button].btn_denegar, input[type=submit].btn_denegar {
    background-color: #ec1616;
    background-image: none;
    color: white;
}

    input[type=button].btn_denegar:hover, input[type=submit].btn_denegar:hover {
        background-color: #ff5050;
        background-image: none;
        color: white;
    }

input[type=button].btn_derivar, input[type=submit].btn_derivar {
    background-color: #185ee4;
    background-image: none;
    color: white;
}

    input[type=button].btn_derivar:hover, input[type=submit].btn_derivar:hover {
        background-color: #4d85f2;
        background-image: none;
        color: white;
    }


/**Tabla reporte cumplimiento */
#tablaReporteCumplimiento tbody,
#tablaReporteCumplimiento thead {
    display: inline-block;
}

#tablaReporteCumplimiento tbody {
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}

.checkbox-no-aplica {
    appearance: none;
    top: 50%;
    left: 5px;
    transform: translateY(30%);
    background-color: #F44336;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    margin: 0px;
    outline: none;
    transition: background-color .5s;
}

    .checkbox-no-aplica:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: #ffffff;
        width: 15px;
        height: 3px;
        border-radius: 40px;
        transition: all .5s;
    }

    .checkbox-no-aplica:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
        background-color: #ffffff;
        width: 15px;
        height: 3px;
        border-radius: 40px;
        transition: all .5s;
    }

.filtro_envio td {
    color: SteelBlue;
}

    .filtro_envio td span.desc_filtro {
        padding-right: 15px;
    }


#tablaEnvios thead{
    position: sticky;
    top: 0;
}