@{
    ViewBag.Title = "Solicitudes de Arbitraje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/DirectivasNotasTecnicas.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/DirectorioImpugnaciones/Arbitraje/Solicitudes" class="sidebar-nav--link sidebar-nav--link-active">Solicitudes de Arbitraje</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/DirectorioImpugnaciones/Arbitraje/LaudosArbitrales" class="sidebar-nav--link">Laudos Arbitrales</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/browser/download?url=Directorio%20e%20Impugnaciones%2FArbitraje%2FProcesos%20Arbitraje%2FProcesosArbitralesWEB.xls" class="sidebar-nav--link">Procesos Arbitraje</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Directorio%20e%20Impugnaciones%2FArbitraje%2FSolicitudes%20de%20Arbitraje%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>

