@model COES.MVC.Extranet.Areas.Account.Models.SolicitudUsuarioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Account/Content/Scripts/solicitud.js"></script>

<div class="form-title">
    <div class="content-titulo" style="text-align:left; padding-left:20px">Solicitudes de la Empresa: <strong>@Model.EmpresaNombre</strong></div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo"  value="Nueva solicitud" title="Registre una solicitud de creación, modificación o baja de usuarios."/>
    </div>
</div>
<div style="clear:both"></div>
<div class="content-hijo">
    <div id="mensaje" class="action-message">Listado de solicitudes realizadas al COES.</div>

    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="table-search">
            <tr>
                <td>Estado:</td>                
                <td>
                    <select id="cbEstado">                        
                        <option value="P">Pendientes</option>
                        <option value="A">Aprobados</option>
                        <option value="X">Anulado</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado"></div>
    <input type="hidden" id="hfEmpresa" value="@Model.EmpresaId" />
</div>