@model COES.MVC.Extranet.Areas.Account.Models.SolicitarModel
<table style="width:100%">
    <tr>
        <td valign="top" style="width:47%">
            <div class="subtitulo-modulo">Módulos disponibles</div>
            <table class="pretty tabla-adicional" id="tbPendientes">
                <thead>
                    <tr>
                        <th>Módulo</th>
                        <th><input type="checkbox" id="cbSelectAll" /></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDisponibles)
                    {
                        <tr>
                            <td>@item.ModNombre</td>
                            <td>
                                <input type="checkbox" value="@item.ModCodi" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>            
        </td>
        <td style="width:6%"></td>
        <td valign="top" style="width:47%">
            <div class="subtitulo-modulo">Solicitudes de acceso</div>
            <table class="pretty tabla-adicional" id="tbSeleccionados">
                <thead>
                    <tr>
                        <th>Módulo</th>
                        <th>Estado</th>
                        <th>Enviar recordatorio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaSolicitudes)
                    {
                        <tr>
                            <td>@item.ModNombre</td>
                            <td>
                                @if (item.SolicEstado == "P")
                                {
                                    <span>Pendiente</span>
                                }
                                else
                                {
                                    <span>Aceptado</span>
                                }
                            </td>
                            <td>
                                @if (item.SolicEstado == "P")
                                { 
                                    <a href="JavaScript:enviarRecordatorio(@item.ModCodi)"><img src="~/Content/Images/btn-ok.png" /></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </td>
    </tr>
</table>