@{
    ViewBag.Title = "Modulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Account/Content/Scripts/solicitar.js"></script>
<link href="~/Areas/Account/Content/Css/css.css" rel="stylesheet" />

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">SOLICITUD DE ACCESO A MODULOS</div>
<div class="form-main">
    <div id="mensaje" class="action-message">Por favor seleccione los módulos a solicitar acceso y presione Aceptar</div>    
    <div style="clear:both; height:5px;"></div>
    <div>
        <div id="listado"></div>        
        <div style="width:220px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" id="btnAceptar" value="Enviar solicitud" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </div>    

</div>