@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Capacidad de Importación";
}
<link href="~/Content/Css/organizacion.css" rel="stylesheet" />
<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="" />
        <h1>Capacidad de Importación</h1>
    </div>
</div>



<div style="clear:both"></div>