@model COES.MVC.Intranet.Areas.ServicioRPF.Models.AnalisisModel

<div class="scroll-unidad">

<table class="pretty">
    <thead>
        <tr>
            <th>Hora</th>
            <th>Frecuencia</th>
            <th>Potencia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDatoExcluido)
        { 
            <tr>
                <td>@item.FECHAHORA.ToString("HH:mm:ss")</td>
                <td>@item.FRECUENCIA</td>
                <td>@item.POTENCIA</td>
            </tr>
        }
    </tbody>
</table>

</div>