@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel
@{
    ViewBag.Title = "Punto Calculado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/ReportesMedicion/Content/Scripts/jquery.dataTables.rowReordering.js"></script>

<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/ReportesMedicion/Content/Scripts/indexptocal.js?v=1.5"></script>
<link href="~/Areas/ReportesMedicion/Content/Css/popup.css" rel="stylesheet" />

<style>
    a.fg-button.ui-button.ui-state-default {
        margin-right: 5px !important;
        margin-left: 5px !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Proceso de Creacion de Puntos Calculados</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnPuntoCalculado" value="Crear Punto Calculado" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="content-tabla">
        <div class="tabla-header"></div>
        <div class="table-list" id="listpto"></div>
    </div>
</div>
<input type="hidden" id="hfReporte" value="-1" />

<div id="popupmpto">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Modificar Punto de Medición</span></div>
    <div id="modificarPto">
        <div style="clear:both; height:30px"></div>
        <table style="width:100%">
            <tr>
                <td class="tbform-label">Código Pto:</td>
                <td class="tbform-control" id="txtModifPtomedicodi">
                    
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Nombre:</td>
                <td class="tbform-control">
                    <input type="Text" id="txtModifPtomedibarranomb" name="idModifPtomedibarranomb" value="" style="width: 400px;" maxlength="100">
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Abreviatura:</td>
                <td class="tbform-control">
                    <input type="Text" id="txtModifPtomedielenomb" name="idModifPtomedielenomb" value="" style="width: 400px;" maxlength="100">
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Descripción:</td>
                <td class="tbform-control">
                    <input type="Text" id="txtModifDescripcion" name="Modifdescripcion" value="" style="width: 400px;" maxlength="100">
                </td>
            </tr>

            <tr>
                <td class="tbform-label">Activo:</td>
                <td class="tbform-control">
                    <input type="checkbox" name="checkbox" id="idActivo" checked=""><br>
                </td>
            </tr>
        </table>

        <div style="clear:both; height:30px"></div>

        <table>
            <tr>
                <td>
                    <input type="button" value="Actualizar" id="btnActualizar" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="hfPunto" value="" />
        <input type="hidden" id="hfTipoinfo" value="" />
    </div>
</div>

<div id="popupCalculado" class="bMulti" style="display: none">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Punto de Medición Calculado</span></div>
    <div id="agregarPtoCalculado"></div>
</div>