@model COES.MVC.Intranet.Areas.ReportesMedicion.Models.FormatoReporteModel
@{
    ViewBag.Title = "Generación de Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/ReportesMedicion/Content/Scripts/reporte.js?v=1.8"></script>
<link href="~/Areas/ReportesMedicion/Content/Css/popup.css" rel="stylesheet" />

<div class="form-title" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div class="content-titulo">
        Generación de Reportes
    </div>
    <div class="content-botonera" style="display: flex; align-items: center; gap: 5px; margin-top: 6px;">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnNuevo" value="Agregar Reporte" />
        <input type="button" id="btnPtoCal" value="Ver Puntos Calculado" />
        <a href="#" id="btnManualUsuario" style="text-decoration: none; display: inline-block; margin-top: -12px; margin-left: 6px;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; display: block; margin: 0 auto 5px;">
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Área:</td>
                <td>
                    <select id="cbArea" name="cbArea">
                        <option value="-1">[TODOS]</option>
                        @foreach (var item in Model.ListaAreasCoes)
                        {
                            <option value="@item.Areacode">@item.Areaname</option>
                        }
                    </select>
                </td>
                <td>Módulo:</td>
                <td>
                    <select id="cbModulo" name="cbModulo">
                        <option value="-1">[TODOS]</option>
                        @foreach (var item in Model.ListaModulos)
                        {
                            <option value="@item.Modcodi">@item.Modnombre</option>
                        }
                    </select>
                </td>
            </tr>

        </table>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

    </div>
    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
    <div id="detalle"></div>
</div>

<div id="popupFormato">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Reporte</span></div>
    <div style="clear:both; height:20px"></div>
    <div id="edicionGrupo"></div>
</div>
