@model COES.MVC.Intranet.Areas.IEOD.Models.ConfiguracionModel

@{
    ViewBag.Title = "Equivalencia de Puntos de medición y Canal Scada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tabla-icono tbody tr td a img {
        margin-right: 3px !important;
    }
</style>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<link href="~/Content/Css/jquery.autocomplete.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.autocomplete.js?v=1.2"></script>

<script src="~/Areas/IEOD/Content/Scripts/equivalencia/equivalencia.js?v=1.5.8"></script>

<div class="form-title" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div class="content-titulo">Equivalencia de Puntos de medición y Canal Scada</div>
    <div class="content-botonera" style="display: flex; align-items: center; gap: 5px; margin-top: 6px;">
        <input type="button" id="btnNuevaRelacion" value="Nueva relación" />
        <input type="button" id="btnExpotar" value="Exportar" />
        <a href="#" id="btnManualUsuario" style="text-decoration: none; display: inline-block; margin-top: -12px; margin-left: 10px;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; display: block; margin: 0 auto 5px;">
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje">
    </div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Origen:</td>
                <td>
                    <select id="cbCentral" style="width:220px">
                        <option value="0">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaOrigenlectura)
                        {
                            var selected = item.Origlectcodi == Model.Origen ? " selected ": "";
                            <option value="@item.Origlectcodi" @selected >@item.Origlectnombre</option>
                        }
                    </select>
                </td>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" style="width:220px">
                        <option value="-1">-TODOS-</option>

                    </select>
                </td>

                <td>Unidad:</td>
                <td>
                    <select id="cbMedida" style="width:220px">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaMedida)
                        {
                            <option value="@item.Tipoinfocodi">@item.Tipoinfoabrev</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="action-alert" style="margin-bottom: 5px; margin-top: 10px;">
        <ul>
            <li>Seleccionar el Origen "Mediciones Despacho 1/2 hora" para visualizar las equivalencias del Despacho en la Hoja de Trabajo.</li>
            <li>Seleccionar el Origen "PR-05 IEOD" para visualizar las equivalencias del módulo "Flujos IDCOS", "Flujos IEOD", "Despacho ejecutado por unidades".</li>
        </ul>
    </div>

    <div style="clear:both"></div>
    <div id="listado"></div>
</div>

<div id="popupNuevaEquivalencia" class="general-popup" style="max-width: 1925px !important">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Equivalencia</span></div>
    <div id="nuevaEquivalencia"></div>
</div>

<div id="popupEditarEquivalencia" class="general-popup" style="max-width: 700px !important">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Edición de Equivalencia</span></div>
    <div id="editarEquivalencia"></div>
</div>

<div id="popupVerEquivalencia" class="general-popup" style="max-width: 700px !important">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Equivalencia</span></div>
    <div id="verEquivalencia"></div>
</div>