@model COES.MVC.Intranet.Areas.IEOD.Models.ConfiguracionModel

<script>
    $(function () {
        inicializarPopupNuevaEquivalencia();

    });
</script>

<div class="content-registro">
    <fieldset style="MARGIN-TOP: 10px;">
        <legend>Punto de Medición</legend>
        <div class="search-content" style="margin-bottom:0px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>Cod Punto:</td>

                    <td style="padding-left: 0px; padding-bottom: 10px;">
                        <input type="text" id="txtFiltroPo">
                        <a href="#" id="btnFiltroPto">
                            <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Consultar">
                        </a>
                    </td>

                </tr>
                <tr>
                    <td class="registro-label">Origen:</td>
                    <td>
                        <select id="cbOrigen" style="width:220px">
                            <option value="0">-SELECCIONE-</option>
                            @foreach (var item in Model.ListaOrigenlectura)
                            {
                                <option value="@item.Origlectcodi">@item.Origlectnombre</option>
                            }
                        </select>
                    </td>

                    <td class="registro-label">Empresa:</td>
                    <td class="registro-control">

                        <select id="cbEmpresa2" style="width:220px">
                            <option value="0">-SELECCIONE-</option>
                        </select>
                    </td>
                    <td class="registro-label">Tipo Equipo:</td>
                    <td>
                        <select id="cbTipoEquipoNuevo" style="width:220px">
                            <option value="0">-SELECCIONE-</option>
                        </select>
                    </td>
                    <td style="color: white; background-color: #61c13a; padding-left: 7px; ">Punto Medición:</td>
                    <td>
                        <select id="cbPtomedicion" style="width:320px">
                            <option value="0">-SELECCIONE-</option>
                        </select>
                    </td>
                </tr>
            </table>
         </div>
    </fieldset>
        <div style="clear:both; height:15px"></div>
    <fieldset style="MARGIN-TOP: 10px;">
        <legend>Canal Scada</legend>
        <div class="search-content" style="margin-bottom:0px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>Cod Canal:</td>

                    <td style="padding-left: 0px; padding-bottom: 10px;">
                        <input type="text" id="txtFiltroSca">
                        <a href="#" id="btnFiltroCanalSca">
                            <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Consultar">
                        </a>
                    </td>

                </tr>
                <tr>
                    <td class="registro-label">Empresa:</td>
                    <td>
                        <select id="cbTrEmpresa" style="width:220px">

                            @foreach (var item in Model.ListaTrEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprenomb</option>
                            }
                        </select>
                    </td>
                    <td class="registro-label">Zona:</td>
                    <td>
                        <select id="cbTrZona" style="width:220px">
                            <option value="0">-SELECCIONE-</option>
                        </select>
                    </td>
                    <td>Unidad:</td>
                    <td>
                        <select id="cbMedidaNuevo" style="width:125px" tabindex="1">
                            <option value="">-SELECCIONE-</option>
                        </select>
                    </td>
                    <td style="color: white; background-color: #FFBF00; padding-left: 7px; ">Canal:</td>
                    <td>
                        <select id="cbTrCanal" style="width:320px">
                            <option value="0">-SELECCIONE-</option>
                        </select>
                    </td>
                    <td style="text-align: center;">
                        Valor inverso
                        <br />
                        <input type="checkbox" id="chkValorInverso" name="chkValorInverso">
                    </td>
                    <td>
                        <input type="button" id="btnAgregarEquivalencia" value="+" title="Agregar Relación" />
                    </td>
                </tr>

            </table>
        </div>
</fieldset>
    <div id="divTablaRelacion">

    </div>
</div>

<div style="width:200px; margin:auto;margin-top:20px; text-align:center">
    <input type="button" id="btnGrabarEquivalencia" value="Grabar" />
</div>