@model COES.MVC.Publico.Areas.Operacion.Models.BrowserModel


<link href="~/Areas/Operacion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/Operacion/Content/Scripts/browser.js?v=1.1"></script>
<script src="~/Areas/Operacion/Content/Scripts/jquery.tooltip.min.js"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/Operacion/Content/Scripts/multidownload.js"></script>

@*<div class="content-header-file" id="cabecera">
        <div class="header-boton" id="btn-downloadfile">
            <img src="~/Areas/Operacion/Content/Images/Icons/download.png" />
            <span>Descargar<br />archivo</span>
        </div>
        <div class="header-boton" id="btn-downloadzip">
            <img src="~/Areas/Operacion/Content/Images/Icons/downloadzip.png" />
            <span>Descargar<br />como Zip</span>
        </div>
    </div>*@
<div class="content-area mx-auto">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 mb-md-4">
                <div class="d-flex mb-3" id="cabecera">
                    <span class="me-2">Descargar: </span>
                    <button class="button-icon button-icon-file" id="btn-downloadfile"></button>
                    <button class="button-icon button-icon-zip" id="btn-downloadzip"></button>
                </div>
                <div style="clear:both"></div>
                <input type="hidden" id="hfBaseDirectory" value="@Model.BaseDirectory" />
                <input type="hidden" id="hfRelativeDirectory" value="@Model.BaseDirectory" />
                <input type="hidden" id="hfOrigenDirectory" />
                <input type="hidden" id="hfOrigen" value="@Model.Origen" />

                <div class="page">
                    <div id="browserDocument"></div>
                </div>


                <div id="multiDownload">
                </div>
            </div>
        </div>
    </div>
</div>
