
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Areas/DevolucionAporte/Content/Script/aportes.js"></script>

<style>
    .dataTable {
        width: 1113px !important
    }

    
</style>

<div class="form-title">
    <div class="content-titulo">Procesamiento de Aportes </div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content">
        <table border="0" class="content-tabla-search" style="width:100%">
            <tr>
                <td>
                    <table border="0" style="width:auto">
                        <tr>
                            <td>Año Inversión:</td>
                            <td>
                                <select id="cboAnioInversion" name="cboAnioInversion">
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in ViewBag.ListaAnioInversion)
                                    {
                                        <option value="@item.Prescodi">@item.Presanio</option>
                                    }
                                </select>
                            </td>
                            <td>Monto:</td>
                            <td>
                                <input type="text" id="txtMonto" disabled /> $
                            </td>
                            <td>Cuotas:</td>
                            <td>
                                <input type="text" id="txtCuotas" disabled />
                            </td>
                            <td>Tipo de Cambio:</td>
                            <td>
                                <input type="number" id="txtTipoCuota" style="max-width:60px;" oninput="javascript: calcular()"/>
                            </td>
                            <td>Cálculo Automatico:</td>
                            <td>
                                <input type="text" id="txtCalcAuto" disabled/>
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="right">
                    <input type="checkbox" id="chkTodos" /> Todos
                    <input type="button" id="btnProcesar" value='Procesar' onclick="javascript: procesar()" />
                    <input type="button" id="btnProcesar" value='Reporte Resumen' onclick="javascript: descargarResumen()" />
                    <input type="button" id="btnProcesar" value='Descarga de Cronogramas' onclick="javascript: exportarCronogramaMasivo()" />
                </td>
            </tr>
        </table>
    </div>

    <div class="clear"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

    <div id="popupCronograma" class="general-popup" style="width:670px">
        <div><span class="button b-close"><span>X</span></span></div>
        <div class="popup-title"><span>Cronograma de Devolución</span></div>
        <div class="popup-text" id="contenidoCronograma">

        </div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>
