@model COES.MVC.Publico.Areas.Publicaciones.Models.SubscripcionModel
@{
    ViewBag.Title = ".::Suscripciones - COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Publicaciones/Content/Scripts/subscripcion.js"></script>
<script src="~/Content/Scripts/efecto.js"></script>
<link href="~/Areas/Publicaciones/Content/Css/css.css" rel="stylesheet" />
<div style="clear:both"></div>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Contactenos.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Publicaciones/SalaDePrensa/AppMovil" class="sidebar-nav--link">App Móvil COES</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/browser/downloadpdf?url=Publicaciones/Libro%20Conmemorativo/COES/Libro_ConmemoratorioCOES_25.pdf" target="_blank" class="sidebar-nav--link">Libro conmemorativo 25 años</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Publicaciones/Suscripcion/Suscripcion" class="sidebar-nav--link sidebar-nav--link-active">Suscripciones</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 order-1 order-md-0">
            <div class="coes-box mb-2" id="boxPrincipal">
                <div class="coes-box--content container pt-2 pb-2 pe-2 ps-2">
                    <div class="content-search1" id="registro-subscripcion">
                        <div class="coes-form-item--error coes-form-item coes-box coes-box--content pt-3 pe-3 ps-3 pb-3" id="mensaje" style="display: none; margin-bottom: 10px;">
                        </div>
                        <form id="frmRegistro">
                            <div class="coes-form-item--info coes-form-item coes-box coes-box--content pt-0 pe-3 ps-3 pb-0" style="display: none;">
                                <p style="margin-top:16px;margin-bottom:16px">
                                    Seleccione las publicaciones que desee recibir:
                                </p>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3 mt-3">
                                <div class="publicacion-content" id="publicacion-content">
                                    @foreach (var item in Model.ListaPublicacion)
                                    {
                                        <div class="publicacion-item">
                                            <input type="checkbox" class="publicacion-select" name="cbPublicacion" value="@item.Publiccodi" style="margin-right: 5px; accent-color: #34495e;" /> @item.Publicnombre
                                        </div>
                                    }
                                </div>
                                <input type="hidden" id="hfDetalle" name="Detalle" />
                                <div style="clear:both; height:20px"></div>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Nombres</label>
                                <label style="max-width: none; width: 50%;" class="ms-3">*Apellidos</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <input id="txtNombre" name="Nombres" type="text" class="form-control col me-2 ms-2" style="max-width: none; width: 50%;" />
                                <input id="txtApellido" name="Apellidos" type="text" class="form-control col me-2" style="max-width: none; width: 50%;" />
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Correo electrónico</label>
                                <label style="max-width: none; width: 50%;" class="ms-3">*Teléfono</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <input id="txtCorreo" name="Correo" type="text" class="form-control col me-2 ms-2" style="max-width: none; width: 50%;" />
                                <input id="txtTelefono" name="Telefono" type="text" class="form-control col me-2" style="max-width: none; width: 50%;" />
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Empresa</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <input id="txtEmprpesa" name="Empresa" type="text" class="form-control col me-2 ms-2" style="max-width: none; width: 50%;" />
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <div style="border-bottom:1px solid #cecece; height:1px;"></div>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1 ms-3 mt-3">
                                <label><strong>* Campos Obligatorios</strong></label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1 ms-3 mt-1">
                                <input type="checkbox" id="cbCondiciones" style="margin-right: 10px; accent-color: #34495e;" />He leído y acepto las condiciones de <a href="JavaScript:openCondiciones();" style="margin-right: 5px; margin-left: 5px;">tratamiento para mis datos personales</a>
                                <div style="clear:both"></div>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <div style="width:300px; margin:auto; margin-top:10px">
                                    <input id="btnEnviar" type="button" class="coes-form-item--submit" value="Enviar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>

<div class="modal fade" id="popupEdicion" tabindex="-1" aria-labelledby="popupEdicionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" class="coes-modal-close--button b-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header text-center">
                <h5 class="modal-title" id="popupEdicionLabel">Protección de Datos Personales COES</h5>
            </div>
            <div class="modal-body">
                <p>
                    De conformidad con la Ley N°29733, Ley de Protección de Datos Personales, el titular da su consentimiento para el tratamiento
                    de los datos personales que por cualquier medio desde el momento de su ingreso o utilización del extranet del Comité de Operaciones
                    Económicas del Sistema Interconectado Nacional (COES).
                </p>
            </div>
        </div>
    </div>
</div>

