@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Remitidos del MINEM";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Remitidos al MINEM</h1>
        <span>Proyectos</span>
    </div>
    <img src="~/Content/Images/Banners/Proyectos.jpg" alt="Remitidos al MINEM" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Marco%20Normativo%2FProcedimientos%2FProyectos%2FRemitidos%20al%20MINEM%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>
