@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trámite de Aprobación por OSINERGMIN";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Trámite de Aprobación por OSINERGMIN</h1>
        <span>Proyectos</span>
    </div>
    <img src="~/Content/Images/Banners/Proyectos.jpg" alt="Trámite de Aprobación por OSINERGMIN" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Marco%20Normativo%2FProcedimientos%2FProyectos%2FTramite%20de%20Aprobaci%C3%B3n%20por%20OSINERGMIN%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>
