@model COES.MVC.Extranet.Areas.TransfSeniales.Models.TransfSenialesModel
@{
    ViewBag.Title = "IndexSeniales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Areas/TransfSeniales/Content/Scripts/reporteSeniales.js?v=2.0"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>



<div class="form-title_intranet">
    <div class="content-titulo">Muestra instantanea de señales ICCP de la Empresa</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Buscar" />

    </div>
</div>
<div class="content-hijo">
    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">

            <tr>
                <td>Empresa: </td>
                <td>
                    @if (Model.GetListaEmpresaRis7 == null)
                    {
                        Response.Write("<script language=javascript>alert('Reiniciar sesión');</script>");
                    }
                    else
                    {
                        <select id="cbEmpresa" name="Idempresa">
                            @foreach (var item in Model.GetListaEmpresaRis7)
                            {
                                <option value="@item.Emprcodi">@item.Emprenomb</option>
                            }
                        </select>
                    }
                </td>
                <td align="right" width="200px">
                    <i>@Model.fechahoraactual.ToString("dd/MM/yyyy HH:mm:ss") h </i>
                </td>
            </tr>
        </table>
        <table class="content-tabla-search">
            <tr></tr>
            <tr>
                <td>
                    (*) Información proporcionada por la Empresa
                </td>
            </tr>
        </table>
        <table class="content-tabla-search">
            <tr>
                <td>Indicación</td>
                <td>Descripción : <sub>@(Model.CRC)</sub></td>
            </tr>
            <tr>
                <td style="background-color:LightSalmon;font-size:Small;"></td>
                <td>   Diferencia de Tiempo (COES - EMPRESA) > 7 seg (canal analógico), 5 seg (canal digital).</td>
            </tr>
            <tr>
                <td style="background-color:LawnGreen;font-size:Small;"></td>
                <td> Estampa de tiempo de la Empresa adelantada. </td>
            </tr>
        </table>

        <table class="content-tabla-search" style="width:auto">
            <tr></tr>
        </table>

    </div>

    <div style="clear:both; height:10px"></div>

    <div id="pasoPrincipal1">
        <div id="vistaCMRSeniales"></div>
    </div>


</div>