@{
    Layout = "../Shared/_LayoutPopup.cshtml";
}


<script src="~/Areas/PMPO/Content/Scripts/pmpo-obras-edit.js"></script>

<div id="div-obra-new" data-obra-id="@ViewData["obraId"]" data-obra-type-id="@ViewData["obraTypeId"]">
    <div id="div-message"></div>
    <div class="search-content">
        <div class="field-group">
            <div class="clear"></div>
            <div class="field-group">
                <div id="informacion"></div>
                <table>
                    <tr style="text-align:left">
                        <th>Empresa</th>
                        <td>
                            <select id="ddl-companies" style="width:285px"></select>
                        </td>
                    </tr>
                    <tr style="text-align:left">
                        <th>Tipo de Obra</th>
                        <td>
                            <select id="ddl-obra-types" style="width:285px"></select>
                        </td>
                    </tr>
                    <tr style="text-align:left">
                        <th>Considerar en Formato</th>
                        <td>
                            <select id="ddl-obra-format" style="width:285px"></select>
                        </td>
                    </tr>
                    <tr style="text-align:left">
                        <th>Fecha Planificada</th>
                        <td>
                            <input id="txt-planned-date" type="text" style="width: 96px;" />
                        </td>
                    </tr>
                    <tr style="text-align:left">
                        <th>Comentario</th>
                        <td>
                            <textarea id="txt-notes" style="width:280px"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <a id="btn-obra-detail-add" style="cursor: pointer">Agregar</a> <a id="btn-obra-detail-delete" style="cursor: pointer">Eliminar</a>
    </div>
    <div>
        <table id="tbl-obra-details" class="tabla-formulario"></table>
    </div>
    <br />
    <center>
        <div>
            <input id="btn-obra-save" type="button" value="Grabar" />
            <input id="btn-obra-cancel" type="button" value="Cancelar" class="b-close" />
        </div>
    </center>
</div>
<script type="text/javascript">
    $(function () {
        $('#div-obra-new').form();
    })
</script>