@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.GeneradorModel

@{
    ViewBag.Title = "Edicion - Empresa Generadora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de la Empresa Generadora" }, { "sAccion", "Actualizar" } })
</div>
