@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
<select id="cbSemana" name="IdSemana" style="width: 87px">
    @foreach (var item in Model.ListaSemanas2)
    {
        <option value="@item.Entero1" @item.String2>@item.String1</option>
    }
</select>