/*body {
    top: 0px;
    left: 0px;
    margin-top: 0px;
    font-family: var(--bs-body-font-family);*/ /*'Open Sans', Arial, Helvetica, sans-serif;*/
    /*font-size: var(--bs-body-font-size);*//* 12px;*/
    /*color: var(--bs-gray-700);
    margin: 0;
    background-repeat: repeat-x;
}*/

.header 
{
    max-width:1200px;    
    width:auto;
    height:64px;    
    margin:auto;    
}

.top-logo 
{
    width: 176px;
    height: 60px;
    float: left;
    margin:5px 0 2px 0;
}
.top-logo-2 {
    width: 78px;
    height: 66px;
    float: left;
    margin: 5px 0 2px 10px;
}

.top-option 
{
    float:right;
    min-height:20px;
    margin-top:20px;    
}

.top-option-item 
{

}

.top-option-item li 
{
    display:inline;
    margin:0 6px; 
}

.top-option-item li a
{        
    text-decoration:none
}

.top-search 
{
    float:right;
    height:20px;
    margin-top:30px;
    margin-left:20px
} 

/*.top-search input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 10px 5px;
    text-indent:30px;
    line-height:20px;
    height:28px;
    line-height:25px;
    background-repeat: no-repeat;   
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}*/

.top-search input[type=text]:focus {
    background-color:#FFFFD7;
}

.top-tooltip
{
    position:absolute;
    background-color:#3E8DC0;
    color:#fff;
    z-index:10000;
    width:100px;
    max-width:130px;
    text-align:center;
    border-radius:4px;
    padding:5px;
}

.menu 
{
    min-height:50px;
    background-color:#002635;
    line-height:50px;
    max-width:1200px;    
    width:auto;
    margin:auto;
    margin-top:15px
}

.footer 
{
    background-color:#2980B9;
    min-height:110px;
    width:auto;
    max-width:1200px;    
    margin:auto;
}

.footer-terms 
{
    float:left;
    width:50%;
    color:#fff;
    margin-top:35px;
    margin-left:30px;
    font-size:14px;
}

div.footer-terms span::selection
{
    background: #fff;
    color:#2980B9;
}

div.footer-terms span::-moz-selection {
		background: #fff;
        color:#2980B9;
}

div.footer-terms strong::selection
{
    background: #fff;
    color:#2980B9;
}

div.footer-terms strong::-moz-selection {
	background: #fff;
    color:#2980B9;
}


.footer-social 
{
    float:right;
    width:34px;
    margin-right:30px;
    margin-top:38px
}

.loyout 
{    
   
}

.content 
{
   max-width:1200px;
   width:auto;
   margin:auto;
}

.form-title 
{    
    background-image:url('../images/bg-titulo.png');	
    background-repeat:no-repeat;
    background-position:left;
    text-indent:40px;
    color:#2980B9;
    font-size:25px;
    font-weight:bold;  
    text-align:left;
    border-radius:6px;
    margin-bottom:20px;
}

.subpagina {

    background-image:url('../images/bg-titulo1.png');	
    background-repeat:no-repeat;
    background-position:left;
    text-indent:40px;
    color:#2980B9;
    font-size:20px;
    font-weight:bold;  
    text-align:left;
    border-radius:6px;
    margin-bottom:20px;
}

.subpagina {

}


.content-titulo 
{

}

.content-botonera 
{

}

.content-hijo 
{

}

.content-search 
{
    background-color: #F2F5F7;
    border: 1px solid #DDDDDD;    
    border-radius: 6px;	
    padding:15px;
}

.content-search label 
{    
    color:#5191D1;
    font-weight:bold;
    font-size:12px;
}

.content-search table tr {    
    
}

.content-search1 
{
    background-color:#F2F2F2;
    border-radius: 6px;	
    padding:15px;
}

.content-search1 label 
{
    color:#5191D1;
    font-weight:bold;
    font-size:12px;
}

.content-search1 table tr 
{    
    line-height:30px;
}

.content-search1 table tr td input[type='text'] {
    width:300px;
    height:28px            
}

.content-search1 table tr td select {
    width:300px;
    height:28px
}

.content-search1 table tr td textarea {
    width:620px;
    height:60px;
    font-family:Arial, Arial, Helvetica, sans-serif;
    font-size:12px;
    border:1px solid rgba(0, 0, 0, 0.25)            
}

.content-tabla-search 
{
    width:auto;
}

.content-tabla-search tr 
{  
}

.content-tabla-search tr td
{
    color:#5191D8;
    font-size:14px;
    padding-right:40px;    
}

.content-tabla-search-pad tr td{
    color:#5191D8;
    font-size:14px;    
}

.content-tabla-search-pad10 tr td{
    color:#5191D8;
    font-size:14px;
    padding-right:14px;    
}

.content-tabla-search-pad20 tr td{
    color:#5191D8;
    font-size:14px;
    padding-right:20px;    
}

.search-separer {
    line-height:10px;  
}

.tabla-formulario
{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
}

.tabla-formulario thead tr
{
    background-color:#2980B9;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:20px;
    font-size:10px;
}

.tabla-formulario thead tr th a
{
    color:#ffffff;
}

.tabla-formulario tbody tr td
{
    border:1px solid #DDDDDD;
    line-height:18px;
    padding-left:5px;
    padding-right:5px;    
    font-family:Arial, Helbetica, sans-serif;
    font-size:11px;   
    white-space: nowrap;
}

.tabla-formulario tbody tr:hover {
        background-color: #e3e3e3;
}

.tabla-formulario tbody tr td a 
{
    color:#FF770D;
    text-decoration:none;
}

.tabla-formulario tbody tr td img 
{
    width:18px; 
    margin:auto;
    padding:0px;
    line-height:18px;
}

.tabla-formulario tfoot tr
{
    background-color:#2980B9;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:20px;
    font-size:10px;
}

.tabla-formulario tfoot tr td
{
    border:1px solid #DDDDDD;
    line-height:18px;
    padding-left:5px;
    padding-right:5px;    
    font-family:Arial, Helbetica, sans-serif;
    font-size:11px;   
}


.tabla-icono tbody tr td {
    vertical-align:middle;
    padding:1px;
    border:1px solid #dddddd;
}

.tabla-icono tbody tr td a img {
    width:19px;
    height:19px;
   
}

/**ESTILOS PARA LOS CONTROLES DE FORMULARIO**/

/*input[type=button], input[type=submit], input[type=reset] 
{
	background-image:url('../images/bgBoton.png');	
    text-shadow:1px 2px 1px rgba(0,0,0,0.35);
	color:#ffffff;
	font-weight:bold;
	font-size:11px;
	padding:0 10px;  
	cursor:pointer;
	height:28px;
	line-height:20px;
	padding-bottom:2px;
	border:1px solid #548EC7;
	border-radius: 4px;	
	margin-left:4px;
}*/

/*input[type=button]:hover, input[type=submit]:hover 
{
	background-image:url('../images/bgBotonHover.png');	
	color:#ffffff;
	border:1px solid #548EC7;
}*/
/*
Comentado por que section usará label nueva plantilla defs Select

select 
{
    padding:3px;
    margin: 0;
	border:1px solid #CBD3CF;    
    border-radius:5px;    
    color:#888;
	width:240px;   
    outline:none;
    display: inline-block;
    cursor:pointer;	
    font-size:12px
}

select:hover 
{
	background-color:#FFFFD7;    
}

select:active 
{
	background-color:#FFFFD7;    
}*/

/*input[type=text] 
{	
	border:1px solid #CBD3CF;	
	border-radius: 5px;
	width:240px;
	height:20px;
	text-indent:8px;
	font:12px "arial", sans-serif;
	color:#4876AA;	
}

input[type=text] :focus, input[type=text] :hover, input[type=text] :active
{
     background-color:#FFFFD5;
}*/

.paginado
{
    height:25px;    
    width:auto;
    float:right;   
    margin-bottom:10px;
    margin-top:10px;
}

.paginado div
{
    float:left;
    height:25px;
    width:25px;
    width:auto;   
    line-height:25px;
}

    .paginado div a {
        color: var(--bs-gray-700);
        text-decoration: none;
        padding: 0 4px;
    }

/**/
.paginado div:hover {
 /*   font-weight: bold;
    background-color: #3498DB;*/
    text-decoration: underline;
}

        .pager--item:hover a {
            text-decoration: underline;
            color: #0a58ca;
        }

    /*.pager--item:last-of-type {
            padding-right: 0;
     }*/
    /*.paginado div:hover a, .paginado div a:hover {
        color: #0d6efd;
    }

    .paginado div:last-of-type a, .paginado div a:last-of-type {
        padding-right: 0;
    }*/
/*
    .paginado-activo
    {
        background-color:#3498DB; 
    }*/

    .paginado-activo a span {
            color: #0a58ca;
     }

.pag-ini
{
    font-weight:bold;       
}

.pag-fin
{
   font-weight:bold;
}

.content-botonera
{
    float:right;
    width:auto;
    height:30px;
}


.tabla-adicional tbody tr td, thead tr th {
    white-space: nowrap;
    overflow: hidden;
    /*font-size:11px;*/
    /*border: 1px solid #dddddd;*/
}

.tabla-adicional tbody tr td {

  white-space: nowrap;
  overflow: hidden;
  font-size:11px;
  text-align:left;
  border:1px solid #dddddd;
}


.tabla-adicional tfoot tr td {

  white-space: nowrap;
  overflow: hidden; 
  border:1px solid #dddddd;
}



.loading {
	display:none;
	width:80px;
	height:80px;
	padding:13px;	
	position:absolute;
	z-index:20000; 
}

.loading-image {
	width: 60px;
	float: left;
}

.loading-text {
	width:120px;
	float:left;
	color:#6797BA;
	font-weight:bold;
	line-height:50px;
	font-size:13px;
}

.clearer {
    clear:both;
}

.clearer20 {
    clear:both;
    height:25px;
}

/**HOME**/

.home-content {
    padding: 20px 0
}

.home-columndouble {
    min-width:67%;  
    float:left;  
    margin-right:20px
}

.home-column {
    min-width:31%;
    float:left;
    margin-left:0px
}

.home-subcolumn {
    max-width:400px;
    float:left;
    margin-right:20px;
}

.home-subcolumn-two {
    max-width:400px;
    float:left;
   
}


.home-linkbi {    
    background-color:#5F9232;    
    min-height:75px;
    border-radius:5px;
    width:auto;
    background-image:url('../images/bglinkbi.png');
    background-position:40px 50%;
    background-repeat:no-repeat;  
    padding-left:150px;
    padding-top:20px;    
    vertical-align:middle;
    
}

.home-linkbi2 {
    background-color: #FF8509;
    min-height: 75px;
    border-radius: 5px;
    width: auto;
    background-image: url('../images/bglinkbi2.png');
    background-position: 40px 50%;
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 20px;
    vertical-align: middle;
}

.home-linkbi a {
    color:#fff;
    text-decoration:none;   
    float:left;
}

.home-linkbi2 a {
    color: #fff;
    text-decoration: none;
    float: left;
}

.home-linkbi a:hover
{
    text-decoration:underline;
}

.home-linkbi2 a:hover
{
    text-decoration:underline;
}

.home-linkbi a strong {
   
    font-size:28px;
    text-shadow:2px 2px 0 rgba(0, 0, 0, 0.25) !important;
}

.home-linkbi2 a strong {
   
    font-size:28px;
    text-shadow:2px 2px 0 rgba(0, 0, 0, 0.25) !important;
}

.home-linkbi a span {
    font-size:15px;
    text-shadow:2px 2px 0 rgba(0, 0, 0, 0.25) !important;
}
.home-linkbi2 a span {
    font-size:15px;
    text-shadow:2px 2px 0 rgba(0, 0, 0, 0.25) !important;
}

.home-linkbi img {
    float:right;
    margin-right:40px;
    margin-top:15px
}

.home-linkbi2 img {
    float: right;
    margin-right: 40px;
    margin-top: 15px
}






.home-subtit {
    background-image:url('../images/bg-titulo.png');	
    background-repeat:no-repeat;
    background-position:left;
    font-size: 28px !important;
    line-height: 32px !important;
    color: #2980b9 !important;
    margin: 0 0 8px !important;
    letter-spacing: -1px !important;
    text-indent:45px;
}

.home-item-list {
    line-height:28px;
}

.home-item-list div a {
    color:#666666;
    text-decoration:none;
    font-size:14px;
}

    .home-item-list div.item-portaltramite {
        background: url('../images/icons/item-portaltramite.png') no-repeat left;
    }
.home-item-list div.item-programa { background: url('../images/icons/item-programa.png') no-repeat left; }
.home-item-list div.item-evaluacion { background: url('../images/icons/item-evaluacion.png') no-repeat left; }
.home-item-list div.item-valorizacion { background: url('../images/icons/item-valorizacion.png') no-repeat left; }
.home-item-list div.item-procedimientos { background: url('../images/icons/item-procedimientos.png') no-repeat left; }
.home-item-list div.item-caracteristicas { background: url('../images/icons/item-caracteristicas.png') no-repeat left; }
.home-item-list div.item-publicaciones { background: url('../images/icons/item-publicaciones.png') no-repeat left; }
.home-item-list div.item-reporte { background: url('../images/icons/item-reporte.png') no-repeat left; }
.home-item-list div.item-atencion { background: url('../images/icons/item-atencion.png') no-repeat left; }
.home-item-list div.item-senamhi { background: url('../images/icons/item-senamhi.png') no-repeat left; }
.home-item-list div.item-osinergmin { background: url('../images/icons/item-osinergmin.png') no-repeat left; }
.home-item-list div.item-ministerio { background: url('../images/icons/item-ministerio.png') no-repeat left; }
.home-item-list div.item-agenda { background: url('../images/icons/item-agenda.png') no-repeat left; }
.home-item-list div.item-calendar { background: url('../images/icons/item-calendar.png') no-repeat left; }

    .home-item-list div.item-portaltramite,
    .home-item-list div.item-programa,
    .home-item-list div.item-evaluacion,
    .home-item-list div.item-valorizacion,
    .home-item-list div.item-procedimientos,
    .home-item-list div.item-caracteristicas,
    .home-item-list div.item-publicaciones,
    .home-item-list div.item-reporte,
    .home-item-list div.item-atencion,
    .home-item-list div.item-senamhi,
    .home-item-list div.item-osinergmin,
    .home-item-list div.item-ministerio,
    .home-item-list div.item-agenda,
    .home-item-list div.item-calendar {
        border-bottom: 1px dotted #2980B9;
        padding-left: 40px;
    }


.home-indicador-subtitle {
    background-color:#F2F2F2;
    height:40px; 
    padding:5px 0;    
}

    .home-indicador-subtitle .grafl {
        max-width: 60%;
        float: left;
        margin-left: 20px;
        padding-top: 7px;
        color: #434343;
    }

.home-indicador-subtitle .grafr {
    min-width:30%;
    float:right;
    margin-right:20px;
    text-align:right;
    font-size:19px;
    color:#2980B9;
    font-weight:bold;
}

.home-indicador-grafico {
    background-color:#F2F2F2;
    border-radius: 0, 0, 5px 5px;
    border-bottom:1px solid #DDDDDD;
    padding-bottom:1px;    
}

.grafico-home {

    width: 306px; 
    height: 464px; 
    margin: 0 auto;
}


.content-comunicado {
    margin-top:5px;
    max-width:325px
}

.comunicado-header {
    
}

.comunicado-fecha {
    max-width:28px;
    height:28px;
    float:left;
    border-radius:20px;
    color:#fff;
    background-color:#2980B9;
    overflow: hidden;
    font-weight:bold;
    padding:5px;
    text-align:center;
    font-size:11px;
    padding-top:6px;    
}

.comunicado-title{
    max-width:270px;
    float:left;
    overflow: hidden;
    font-weight:bold;
    color:#2980B9;
    margin-left:10px;
    vertical-align:middle;
    font-size:14px;
    line-height:17px;
}

.comunicado-title a{
    
    color:#2980B9;
    text-decoration:none;   
}

.comunicado-title a:hover{
        
    text-decoration:underline;   
}

.comunicado-content {
    margin:10px 0 25px 0;
    color:#666666;
    line-height:17px
}

.comunicado-content div, .enlace-evento {
    margin-top:15px;
    clear:both;
    float:right;
    background:url(../Images/bullet-browser.png) right  center no-repeat;
    /*background-repeat:no-repeat;
    background-position-x:right;
    background-position-y:center;*/
}

.comunicado-content div a, .enlace-evento a{
    color:#2980B9;
    font-weight:bold;
    text-decoration:none;
    text-align:right;    
    padding-right:13px;
}

.comunicado-content div a:hover, .enlace-evento a:hover {
    color:#FF8509;
    text-decoration:underline;    
}

.ps-container .ps-scrollbar-x-rail {
    top: 3px;
    bottom: auto;
}

.home-layout {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-gap:30px;

}

.content-holder
{
    position:relative; 
    margin:0px 0px; 
    padding:0px; 
    max-width: 510px; 
    height: 505px; 
    overflow-y: scroll; 
}

.home-layout a{
    color:#fff;
    text-decoration:none;
}
.modulo-enlace {
    width: auto;
    background-color: #FF8509;
    border-radius: 5px;
    height: 70px;
    margin: 0px 0 20px 0;
    color: #fff;
    display:grid;
    grid-template-columns:0.8fr 1.5fr 0.5fr 14fr;
    grid-template-rows:auto;
    vertical-align:central;
    align-content:center;   
   align-items:center;
}

    .modulo-enlace div strong{
        font-size:17px;
    }

    .modulo-enlace div:nth-child(2) {
        font-size:30px;
    }

.home-portalinfo {
    background-color: #5F9232;
    /*background-color: #FF8509;*/
}

.home-powerbi {
    background-color: #2980B9;
    /*background-color: #2980B9;*/
}

.home-portaltramite {
    background-color: #FF8509;
    /*background-color: #5F9232;*/
    /*background-color: #2980B9;*/
}


.action-message {
    margin-top: 10px;
    background: #E8F6FF url('../images/ico-info.gif') no-repeat 10px 50%;
    border: 2px solid #B8E2FB;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.action-error
{
	margin-top:10px;
	background:url("../images/ico-delete.gif") 10px 50% no-repeat;
	border:2px solid #FFAEAE; 
	background-color:#FEEBEB;
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-exito
{
	margin-top:10px;
	background:url("../images/ico-done.gif") 10px 50% no-repeat;
	border:2px solid #BBDF8D; 
	background-color:#EAF7D9;
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-titulo
{
	margin-top:10px;	
	border:2px solid #4BA2DB; 
	background-color:#4BA2DB;
	padding:10px;
    color:#fff;
    font-size:12px;    
    font-weight:bold;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-alert
{
	margin-top:10px;
	background:url("../images/ico-warning.gif") 10px 50% no-repeat;
	border:2px solid #F2DD8C; 
	background-color:#FFF5CC;
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-message ul, .action-error ul, .action-exito ul, .action-alert ul
{
    margin:0px;
    margin-left:20px;
}

.action-message ul li, .action-error ul li, .action-exito ul li, .action-alert ul li
{
    margin-left:0;
    text-indent:0px;
    padding-left:0px;
}

.search-content 
{
	background-color:#F2F5F7;
	border:1px solid #DDDDDD;
	padding:13px;
	width:auto;   
	border-radius: 4px;	
	margin-bottom:20px;
}

.search-content input[type='text'] 
{
	background-color:#fff;
	width:100px;
}

.search-content select 
{
	background-color:#fff;  
	width:150px;  
}

.content-registro table
{
    border-collapse:collapse;
    border-spacing:0;
    border:1px;
    color:#245C86;
    line-height:20px;
}

.content-registro table tr td.registro-label 
{
    border:1px solid #EAEAEA;
    text-indent:10px;
    vertical-align:central;
    background-color:#F9F9F9;
    vertical-align:middle;
    min-width:120px;
     line-height:20px;
     color:#3D90CB;
}

.content-registro table tr td.registro-control 
{
     vertical-align:middle;
     border:1px solid #EAEAEA;
     padding: 3px 0 3px 10px;
      line-height:20px;
}

.popup-title 
{
	width:auto;
	border-bottom:2px solid #D9E8F3;
	line-height:30px;
}

.popup-title span 
{
	color:#3D90CB;
	font-size:15px;
	font-weight:bold;
}

.popup-text 
{
	margin:15px 0;
	color:#245C86;
}

/*====MAQUETACION DE PAGINAS====*/

.page-banner {    
    border-bottom:8px solid #2980B9;
    max-width:1280px !important;
    height:200px;
}

.page-banner img {      
    max-width:100%;
    height:100%;
}

.page-banner .page-banner-title {
    position:absolute;
    z-index:100;   
    margin:40px 0 0 20px;     
}

.page-banner .page-banner-title h1 {
    color:#ffF;
    font-size:30px;
    text-shadow: 2px 2px #245C86;
    font-family:Verdana,sans-serif;
    font-weight:500;
}

.page-banner .page-banner-title span {
    color:#ffF;
}

.page-content {
    width:100%;
    margin:10px 0;
}

.page-link a {
    color:#5191D1;
    text-decoration:none;
}

.page-link a:hover {
    color:#FF8509;
    text-decoration:underline;
}

.page-left{
    width:70%;
    float:left;
    
}

.page-rigth {
    max-width:30%;
    min-width:360px;
    float:left;
    
}

.page-left1{
    max-width:840px;    
    float:left;    
}

.page-rigth1 {    
    max-width:360px;
    float:left;   
}

.page-left-prov{
    max-width:360px;
    margin-right:20px;
    float:left;    
}
.page-rigth-prov {
    width:820px;    

    float:left;    
}

.page-text {
    padding:0px 20px 0 0;
}
    
.page-text p {
    color: #6c6c6c !important;
    line-height:20px;
    font-size:13px;
}

.page-text .page-text-link {
    border-radius:5px;
    border:1px solid #ddd;    
    padding:10px;
    width:auto;
    color:#5191d1;
    font-size:14px;
    margin-bottom:10px;
    line-height:35px;
    font-weight:normal;       
    text-indent:50px;
    background:#f5f5f5 url(../Images/Icons/download.png) 20px center no-repeat;
   
}

.page-text .page-text-link a{
    color:#0072C6;
    text-decoration:none;
    font-size:14px;
}

.page-text .page-text-link a:hover {
    text-decoration: underline;
}

.page-text ul li, .page-text ol li {
    color: #6c6c6c !important;
    line-height:20px;
    font-size:13px;
}

.page-text h1 {
    font-size:27px;
    color:#5191D8;      
}

    .page-text h2 {
        font-size: 18px;
        color: #5191D8;
    }

    .page-text img {
        border:6px solid #DDDDDD;
        border-radius:10px;
        margin-left:auto;        
        max-width:100%;        
    }

.page-center {
    width:50%;
    float:left;
}

.page-info {
    background-color:#FF8509;
    border-radius:8px;
    padding:5px 20px;
    color:#fff;
}

.page-info-azul {
    background-color: #2980B9;
    border-radius: 8px;
    padding: 5px 20px;
    color: #fff;
    
}

.page-info h1, .page-info-azul h1 {
    font-weight: 500;
    font-size: 24px;
    font-family: Verdana,sans-serif;
}

.page-info ul 
{    
    line-height:23px;
    margin:10px;
    padding: 0;
}

.page-info ul li 
{
    background-image:url(../Images/bullet-page.png);
    background-repeat:no-repeat;
    background-position-x:0px;
    background-position-y:center;
    text-indent:30px;
    list-style:none;  
    border-bottom:1px dotted #fff;           
}

.page-info ul li a
{
    color:#fff;
    text-decoration:none;    
}

.page-info ul li a:hover 
{
    text-decoration:underline;
}

.page-info ul li.menu-li-padding {
        margin-left:20px;
}

.page-info div {
    background-image: url(../Images/bullet-page.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: center;
    padding-left: 30px;
    list-style: none;
    margin-bottom:10px;    
}

.page-center h1 {
    color:#0072C6;
    font-size:25px;
}


.page-indicador {

    background-image:url(../Images/Direcciones/img-03.png);
    background-repeat:no-repeat;
    width:360px;
    height:292px;
}

.page-indicador h1{
    color:#fff;
    font-size:14px;    
    position:absolute;
    z-index:100;
    margin-top:160px;
    text-indent:20px;
}

.page-indicador strong {
   
    color:#fff;
    font-size:27px;    
    position:absolute;
    margin-top:180px;
    text-indent:20px;
}

.page-indicador div {
     color:#fff;
    font-size:20px;   
    position:absolute;
    z-index:100;
    margin-top:245px;
    text-indent:90px;
}

    .page-indicador div a {
        color:#fff;
        font-weight:normal;
        text-decoration:none;
    }

        .page-indicador div a:hover {
            text-decoration:underline;
        }

#accordion h3 {
    border-radius:5px;
    border:1px solid #ddd;
    background-color:#f5f5f5;
    padding:10px;
    width:auto;
    color:#5191d1;
    font-size:14px;
    margin-bottom:10px;
    line-height:35px;
    font-weight:normal;   
}

#accordion div{
    border-radius:5px;
    border:1px none #ddd;
    background-color:#fff;
    padding:10px;
    padding-bottom:20px;
    width:auto;
    color:#333;
    font-size:13px;
    height:auto;    
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
	font-size: 100%;
}

.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}

.page-cuadro-link {
    background-color:#FF8509;
    border-radius:8px;
    padding:10px 20px;
    color:#fff;
    height:70px;
}

.page-cuadro-link:hover {
    opacity:0.8;    
}

.page-cuadro-left {
    width:20%;
    float:left;
}

.page-cuadro-center {
    width:78%;
    float:left;    
}

.page-cuadro-center img {
    text-align:center;
    vertical-align:middle;
}

.page-cuadro-center div {
    font-size:28px;
    margin-top:8px;
}

.page-cuadro-center h1 {
    font-size:25px;    
    padding:0
}

.page-cuadro-link-sep {
    height:20px;
}

.enlace-db {    
}

.enlace-db li{
    list-style-type:none;
    list-style-image:url(../Images/next.png);
    margin-bottom:5px;
}

.enlace-db li a {
    color:#636363;
    font-size:13px;
    text-decoration:none;
}

.enlace-db li a:hover {
    color:#FF8509;
    text-decoration:underline;
}

   .enlace-db li.menu-li-padding {
        margin-left:30px;    
    }

.organigrama-content {
    display:none;
    position:absolute;
    background-color:#fff;
    border:4px solid #5191D1;
    padding:0px 15px;
    min-height:50px;
    max-width:400px;
    z-index:200;
    border-radius:10px;  
    box-shadow: 3px 3px 3px #575757; 
}

.page-mapa {

}

.page-mapa ul li a{
    color:#245C86;
    font-size:13px;
    text-decoration:none;
}

.page-mapa ul li a:hover
{
    color:#FF8509;
    text-decoration:underline;
}

.search-result {
    
}

.search-result .search-preview {
    z-index: 100;
    position: absolute;
    background-color: #fff;
    width: 310px;
    height: 430px;        
    display: none;
    padding:5px;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #548EC7;
    margin-left:300px;
}

.search-result .search-preview .close-preview {
    width: 10px;
    height: 20px;
    float: right;
}

.search-result .search-preview .close-preview a {
    font-size:17px;
    text-decoration:none;
    color:#5191D1;
    font-weight:bold;
}

.search-result .search-preview .close-preview a:hover {
    color:#FF8509;
}

.search-result .search-result-item {
    margin-bottom: 15px;
}

.search-result search-result-item-row {
    min-height: 20px;
}

.search-result .search-result-item-row .search-result-item-l {
    width: 20px;
    min-height: 20px;
    float: left;
}

.search-result .search-result-item-row .search-result-item-r {
    float: left;
    width: 750px;
    min-height: 20px;
    color: #5191D8;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}

.search-result-item a {
    color: #5191D8;
    text-decoration: none;
}

.search-result-item a:hover {
    color:#FF8509;
    text-decoration:underline;
}

.highlight { background-color: #f8f881 }


/**MOBILE*/
@media only screen and (max-width: 700px), 
       only screen and (max-device-width: 700px) {

    .home-linkbi {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .home-columndouble {
        margin-right: 0px;
    }

    .home-linkbi img {
        display: none;
    }

    .footer-terms {
        margin-top: 10px;
    }

    .home-subcolumn { 
        margin-right:0px;
    }

    .home-subcolumn-two {        
        margin-top:20px;
    }

    .grafico-home  {
        max-width: 320px;        
    }

    .jcarousel-wrappercoes {
        max-width: 360px;
    }

    .page-left-prov {
        margin-right:0px;        
    }

  /*  .top-search input[type=text] {
        width: 120px;
    }*/

    #linkTopIntranet, #linkTopExtranet {
        display:none
    }

    .top-option {   
        margin-top:5px;    
    }
    
    .top-logo, .top-logo-2 {
        height: 45px;         
    }

    .top-logo img {
        width: 109px;
        height: 41px;
        margin-top:10px
    }
    .top-logo-2 img {
        width: 54px;
        height: 41px;
        margin-top: 10px
    }
    .menu 
    { 
        margin-top:0px
    }
}

/**HOME**/


#contenidoContacto table tr{
    line-height:15px;
}

#contenidoContacto table tr td.tit-tabla-cuadro {        
    font-weight:bold;
    border-bottom:1px dotted #DDDDDD;    
}

#contenidoContacto table tr td.tit-item-separer {        
    font-weight:bold;
    height:10px;
}

#contenidoContacto table tr td.tit-item-padding {
    padding-top:7px    
}

#contenidoContacto table tr td.tit-tabla-center {        
    text-align:center;
}

#contenidoContacto table tr td.tit-item-cuadro {    
    text-indent:45px;
    padding-right:7px;
    background: url(../Images/bullet-page.png) 20px center no-repeat;    
}

#contenidoAgenda table {
    width:100%;
    margin:auto;
    border:1px
}

#contenidoAgenda table tr td{
    line-height:17px;
    border:none;
}

#contenidoAgenda table tr td.tit-tabla-cuadro {        
    font-weight:bold;
    border:1px none;
    line-height:20px;
    background-color:#6BA9D0;
    color:#ffffff;
}

#contenidoAgenda table tr td.tit-tabla-cuadro:first-child {        
    text-indent:10px
}


#contenidoAgenda table tr td.tit-item-separer {        
    font-weight:bold;
    height:10px;
}

#contenidoAgenda table tr td.tit-item-padding {
    padding-top:7px    
}

#contenidoAgenda table tr td.tit-tabla-center {        
    text-align:center;
}

#contenidoAgenda table tr td.tit-item-cuadro {    
    text-indent:45px;
    padding-right:7px;
    background: url(../Images/bullet-browser.png) 20px center no-repeat;    
}




.fondo-avido-calendario {
    width: 185px;
    height: 54px;
    color: #fff;
    background-image: url(../Images/fnd-aviso-calendario.png);
    background-repeat: no-repeat;
    z-index:1000;
    position:absolute;
    margin-left:312px;
    padding:0 ;
    padding-left:10px;    
}

.fondo-aviso-text {
    width:165px;
    float:left;
    padding-top:13px
}

.fondo-aviso-close {
    width:5px;
    height:5px;
    float:left;
    color:#fff;
    font-weight:bold;
    padding-top:10px;
    cursor:pointer;
}