@font-face {
    font-family: 'fuente-galeria';
    src: url('../font/fuente-galeria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class*='icono-']:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fuente-galeria' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icono-home:before {
    content: "\e900";
}

.icono-home2:before {
    content: "\e901";
}

.icono-home3:before {
    content: "\e902";
}

.icono-office:before {
    content: "\e903";
}

.icono-newspaper:before {
    content: "\e904";
}

.icono-pencil:before {
    content: "\e905";
}

.icono-pencil2:before {
    content: "\e906";
}

.icono-quill:before {
    content: "\e907";
}

.icono-pen:before {
    content: "\e908";
}

.icono-blog:before {
    content: "\e909";
}

.icono-eyedropper:before {
    content: "\e90a";
}

.icono-droplet:before {
    content: "\e90b";
}

.icono-paint-format:before {
    content: "\e90c";
}

.icono-image:before {
    content: "\e90d";
}

.icono-images:before {
    content: "\e90e";
}

.icono-camera:before {
    content: "\e90f";
}

.icono-headphones:before {
    content: "\e910";
}

.icono-music:before {
    content: "\e911";
}

.icono-play:before {
    content: "\e912";
}

.icono-film:before {
    content: "\e913";
}

.icono-video-camera:before {
    content: "\e914";
}

.icono-dice:before {
    content: "\e915";
}

.icono-pacman:before {
    content: "\e916";
}

.icono-spades:before {
    content: "\e917";
}

.icono-clubs:before {
    content: "\e918";
}

.icono-diamonds:before {
    content: "\e919";
}

.icono-bullhorn:before {
    content: "\e91a";
}

.icono-connection:before {
    content: "\e91b";
}

.icono-podcast:before {
    content: "\e91c";
}

.icono-feed:before {
    content: "\e91d";
}

.icono-mic:before {
    content: "\e91e";
}

.icono-book:before {
    content: "\e91f";
}

.icono-books:before {
    content: "\e920";
}

.icono-library:before {
    content: "\e921";
}

.icono-file-text:before {
    content: "\e922";
}

.icono-profile:before {
    content: "\e923";
}

.icono-file-empty:before {
    content: "\e924";
}

.icono-files-empty:before {
    content: "\e925";
}

.icono-file-text2:before {
    content: "\e926";
}

.icono-file-picture:before {
    content: "\e927";
}

.icono-file-music:before {
    content: "\e928";
}

.icono-file-play:before {
    content: "\e929";
}

.icono-file-video:before {
    content: "\e92a";
}

.icono-file-zip:before {
    content: "\e92b";
}

.icono-copy:before {
    content: "\e92c";
}

.icono-paste:before {
    content: "\e92d";
}

.icono-stack:before {
    content: "\e92e";
}

.icono-folder:before {
    content: "\e92f";
}

.icono-folder-open:before {
    content: "\e930";
}

.icono-folder-plus:before {
    content: "\e931";
}

.icono-folder-minus:before {
    content: "\e932";
}

.icono-folder-download:before {
    content: "\e933";
}

.icono-folder-upload:before {
    content: "\e934";
}

.icono-price-tag:before {
    content: "\e935";
}

.icono-price-tags:before {
    content: "\e936";
}

.icono-barcode:before {
    content: "\e937";
}

.icono-qrcode:before {
    content: "\e938";
}

.icono-ticket:before {
    content: "\e939";
}

.icono-cart:before {
    content: "\e93a";
}

.icono-coin-dollar:before {
    content: "\e93b";
}

.icono-coin-euro:before {
    content: "\e93c";
}

.icono-coin-pound:before {
    content: "\e93d";
}

.icono-coin-yen:before {
    content: "\e93e";
}

.icono-credit-card:before {
    content: "\e93f";
}

.icono-calculator:before {
    content: "\e940";
}

.icono-lifebuoy:before {
    content: "\e941";
}

.icono-phone:before {
    content: "\e942";
}

.icono-phone-hang-up:before {
    content: "\e943";
}

.icono-address-book:before {
    content: "\e944";
}

.icono-envelop:before {
    content: "\e945";
}

.icono-pushpin:before {
    content: "\e946";
}

.icono-location:before {
    content: "\e947";
}

.icono-location2:before {
    content: "\e948";
}

.icono-compass:before {
    content: "\e949";
}

.icono-compass2:before {
    content: "\e94a";
}

.icono-map:before {
    content: "\e94b";
}

.icono-map2:before {
    content: "\e94c";
}

.icono-history:before {
    content: "\e94d";
}

.icono-clock:before {
    content: "\e94e";
}

.icono-clock2:before {
    content: "\e94f";
}

.icono-alarm:before {
    content: "\e950";
}

.icono-bell:before {
    content: "\e951";
}

.icono-stopwatch:before {
    content: "\e952";
}

.icono-calendar:before {
    content: "\e953";
}

.icono-printer:before {
    content: "\e954";
}

.icono-keyboard:before {
    content: "\e955";
}

.icono-display:before {
    content: "\e956";
}

.icono-laptop:before {
    content: "\e957";
}

.icono-mobile:before {
    content: "\e958";
}

.icono-mobile2:before {
    content: "\e959";
}

.icono-tablet:before {
    content: "\e95a";
}

.icono-tv:before {
    content: "\e95b";
}

.icono-drawer:before {
    content: "\e95c";
}

.icono-drawer2:before {
    content: "\e95d";
}

.icono-box-add:before {
    content: "\e95e";
}

.icono-box-remove:before {
    content: "\e95f";
}

.icono-download:before {
    content: "\e960";
}

.icono-upload:before {
    content: "\e961";
}

.icono-floppy-disk:before {
    content: "\e962";
}

.icono-drive:before {
    content: "\e963";
}

.icono-database:before {
    content: "\e964";
}

.icono-undo:before {
    content: "\e965";
}

.icono-redo:before {
    content: "\e966";
}

.icono-undo2:before {
    content: "\e967";
}

.icono-redo2:before {
    content: "\e968";
}

.icono-forward:before {
    content: "\e969";
}

.icono-reply:before {
    content: "\e96a";
}

.icono-bubble:before {
    content: "\e96b";
}

.icono-bubbles:before {
    content: "\e96c";
}

.icono-bubbles2:before {
    content: "\e96d";
}

.icono-bubble2:before {
    content: "\e96e";
}

.icono-bubbles3:before {
    content: "\e96f";
}

.icono-bubbles4:before {
    content: "\e970";
}

.icono-user:before {
    content: "\e971";
}

.icono-users:before {
    content: "\e972";
}

.icono-user-plus:before {
    content: "\e973";
}

.icono-user-minus:before {
    content: "\e974";
}

.icono-user-check:before {
    content: "\e975";
}

.icono-user-tie:before {
    content: "\e976";
}

.icono-quotes-left:before {
    content: "\e977";
}

.icono-quotes-right:before {
    content: "\e978";
}

.icono-hour-glass:before {
    content: "\e979";
}

.icono-spinner:before {
    content: "\e97a";
}

.icono-spinner2:before {
    content: "\e97b";
}

.icono-spinner3:before {
    content: "\e97c";
}

.icono-spinner4:before {
    content: "\e97d";
}

.icono-spinner5:before {
    content: "\e97e";
}

.icono-spinner6:before {
    content: "\e97f";
}

.icono-spinner7:before {
    content: "\e980";
}

.icono-spinner8:before {
    content: "\e981";
}

.icono-spinner9:before {
    content: "\e982";
}

.icono-spinner10:before {
    content: "\e983";
}

.icono-spinner11:before {
    content: "\e984";
}

.icono-binoculars:before {
    content: "\e985";
}

.icono-search:before {
    content: "\e986";
}

.icono-zoom-in:before {
    content: "\e987";
}

.icono-zoom-out:before {
    content: "\e988";
}

.icono-enlarge:before {
    content: "\e989";
}

.icono-shrink:before {
    content: "\e98a";
}

.icono-enlarge2:before {
    content: "\e98b";
}

.icono-shrink2:before {
    content: "\e98c";
}

.icono-key:before {
    content: "\e98d";
}

.icono-key2:before {
    content: "\e98e";
}

.icono-lock:before {
    content: "\e98f";
}

.icono-unlocked:before {
    content: "\e990";
}

.icono-wrench:before {
    content: "\e991";
}

.icono-equalizer:before {
    content: "\e992";
}

.icono-equalizer2:before {
    content: "\e993";
}

.icono-cog:before {
    content: "\e994";
}

.icono-cogs:before {
    content: "\e995";
}

.icono-hammer:before {
    content: "\e996";
}

.icono-magic-wand:before {
    content: "\e997";
}

.icono-aid-kit:before {
    content: "\e998";
}

.icono-bug:before {
    content: "\e999";
}

.icono-pie-chart:before {
    content: "\e99a";
}

.icono-stats-dots:before {
    content: "\e99b";
}

.icono-stats-bars:before {
    content: "\e99c";
}

.icono-stats-bars2:before {
    content: "\e99d";
}

.icono-trophy:before {
    content: "\e99e";
}

.icono-gift:before {
    content: "\e99f";
}

.icono-glass:before {
    content: "\e9a0";
}

.icono-glass2:before {
    content: "\e9a1";
}

.icono-mug:before {
    content: "\e9a2";
}

.icono-spoon-knife:before {
    content: "\e9a3";
}

.icono-leaf:before {
    content: "\e9a4";
}

.icono-rocket:before {
    content: "\e9a5";
}

.icono-meter:before {
    content: "\e9a6";
}

.icono-meter2:before {
    content: "\e9a7";
}

.icono-hammer2:before {
    content: "\e9a8";
}

.icono-fire:before {
    content: "\e9a9";
}

.icono-lab:before {
    content: "\e9aa";
}

.icono-magnet:before {
    content: "\e9ab";
}

.icono-bin:before {
    content: "\e9ac";
}

.icono-bin2:before {
    content: "\e9ad";
}

.icono-briefcase:before {
    content: "\e9ae";
}

.icono-airplane:before {
    content: "\e9af";
}

.icono-truck:before {
    content: "\e9b0";
}

.icono-road:before {
    content: "\e9b1";
}

.icono-accessibility:before {
    content: "\e9b2";
}

.icono-target:before {
    content: "\e9b3";
}

.icono-shield:before {
    content: "\e9b4";
}

.icono-power:before {
    content: "\e9b5";
}

.icono-switch:before {
    content: "\e9b6";
}

.icono-power-cord:before {
    content: "\e9b7";
}

.icono-clipboard:before {
    content: "\e9b8";
}

.icono-list-numbered:before {
    content: "\e9b9";
}

.icono-list:before {
    content: "\e9ba";
}

.icono-list2:before {
    content: "\e9bb";
}

.icono-tree:before {
    content: "\e9bc";
}

.icono-menu:before {
    content: "\e9bd";
}

.icono-menu2:before {
    content: "\e9be";
}

.icono-menu3:before {
    content: "\e9bf";
}

.icono-menu4:before {
    content: "\e9c0";
}

.icono-cloud:before {
    content: "\e9c1";
}

.icono-cloud-download:before {
    content: "\e9c2";
}

.icono-cloud-upload:before {
    content: "\e9c3";
}

.icono-cloud-check:before {
    content: "\e9c4";
}

.icono-download2:before {
    content: "\e9c5";
}

.icono-upload2:before {
    content: "\e9c6";
}

.icono-download3:before {
    content: "\e9c7";
}

.icono-upload3:before {
    content: "\e9c8";
}

.icono-sphere:before {
    content: "\e9c9";
}

.icono-earth:before {
    content: "\e9ca";
}

.icono-link:before {
    content: "\e9cb";
}

.icono-flag:before {
    content: "\e9cc";
}

.icono-attachment:before {
    content: "\e9cd";
}

.icono-eye:before {
    content: "\e9ce";
}

.icono-eye-plus:before {
    content: "\e9cf";
}

.icono-eye-minus:before {
    content: "\e9d0";
}

.icono-eye-blocked:before {
    content: "\e9d1";
}

.icono-bookmark:before {
    content: "\e9d2";
}

.icono-bookmarks:before {
    content: "\e9d3";
}

.icono-sun:before {
    content: "\e9d4";
}

.icono-contrast:before {
    content: "\e9d5";
}

.icono-brightness-contrast:before {
    content: "\e9d6";
}

.icono-star-empty:before {
    content: "\e9d7";
}

.icono-star-half:before {
    content: "\e9d8";
}

.icono-star-full:before {
    content: "\e9d9";
}

.icono-heart:before {
    content: "\e9da";
}

.icono-heart-broken:before {
    content: "\e9db";
}

.icono-man:before {
    content: "\e9dc";
}

.icono-woman:before {
    content: "\e9dd";
}

.icono-man-woman:before {
    content: "\e9de";
}

.icono-happy:before {
    content: "\e9df";
}

.icono-happy2:before {
    content: "\e9e0";
}

.icono-smile:before {
    content: "\e9e1";
}

.icono-smile2:before {
    content: "\e9e2";
}

.icono-tongue:before {
    content: "\e9e3";
}

.icono-tongue2:before {
    content: "\e9e4";
}

.icono-sad:before {
    content: "\e9e5";
}

.icono-sad2:before {
    content: "\e9e6";
}

.icono-wink:before {
    content: "\e9e7";
}

.icono-wink2:before {
    content: "\e9e8";
}

.icono-grin:before {
    content: "\e9e9";
}

.icono-grin2:before {
    content: "\e9ea";
}

.icono-cool:before {
    content: "\e9eb";
}

.icono-cool2:before {
    content: "\e9ec";
}

.icono-angry:before {
    content: "\e9ed";
}

.icono-angry2:before {
    content: "\e9ee";
}

.icono-evil:before {
    content: "\e9ef";
}

.icono-evil2:before {
    content: "\e9f0";
}

.icono-shocked:before {
    content: "\e9f1";
}

.icono-shocked2:before {
    content: "\e9f2";
}

.icono-baffled:before {
    content: "\e9f3";
}

.icono-baffled2:before {
    content: "\e9f4";
}

.icono-confused:before {
    content: "\e9f5";
}

.icono-confused2:before {
    content: "\e9f6";
}

.icono-neutral:before {
    content: "\e9f7";
}

.icono-neutral2:before {
    content: "\e9f8";
}

.icono-hipster:before {
    content: "\e9f9";
}

.icono-hipster2:before {
    content: "\e9fa";
}

.icono-wondering:before {
    content: "\e9fb";
}

.icono-wondering2:before {
    content: "\e9fc";
}

.icono-sleepy:before {
    content: "\e9fd";
}

.icono-sleepy2:before {
    content: "\e9fe";
}

.icono-frustrated:before {
    content: "\e9ff";
}

.icono-frustrated2:before {
    content: "\ea00";
}

.icono-crying:before {
    content: "\ea01";
}

.icono-crying2:before {
    content: "\ea02";
}

.icono-point-up:before {
    content: "\ea03";
}

.icono-point-right:before {
    content: "\ea04";
}

.icono-point-down:before {
    content: "\ea05";
}

.icono-point-left:before {
    content: "\ea06";
}

.icono-warning:before {
    content: "\ea07";
}

.icono-notification:before {
    content: "\ea08";
}

.icono-question:before {
    content: "\ea09";
}

.icono-plus:before {
    content: "\ea0a";
}

.icono-minus:before {
    content: "\ea0b";
}

.icono-info:before {
    content: "\ea0c";
}

.icono-cancel-circle:before {
    content: "\ea0d";
}

.icono-blocked:before {
    content: "\ea0e";
}

.icono-cross:before {
    content: "\ea0f";
}

.icono-checkmark:before {
    content: "\ea10";
}

.icono-checkmark2:before {
    content: "\ea11";
}

.icono-spell-check:before {
    content: "\ea12";
}

.icono-enter:before {
    content: "\ea13";
}

.icono-exit:before {
    content: "\ea14";
}

.icono-play2:before {
    content: "\ea15";
}

.icono-pause:before {
    content: "\ea16";
}

.icono-stop:before {
    content: "\ea17";
}

.icono-previous:before {
    content: "\ea18";
}

.icono-next:before {
    content: "\ea19";
}

.icono-backward:before {
    content: "\ea1a";
}

.icono-forward2:before {
    content: "\ea1b";
}

.icono-play3:before {
    content: "\ea1c";
}

.icono-pause2:before {
    content: "\ea1d";
}

.icono-stop2:before {
    content: "\ea1e";
}

.icono-backward2:before {
    content: "\ea1f";
}

.icono-forward3:before {
    content: "\ea20";
}

.icono-first:before {
    content: "\ea21";
}

.icono-last:before {
    content: "\ea22";
}

.icono-previous2:before {
    content: "\ea23";
}

.icono-next2:before {
    content: "\ea24";
}

.icono-eject:before {
    content: "\ea25";
}

.icono-volume-high:before {
    content: "\ea26";
}

.icono-volume-medium:before {
    content: "\ea27";
}

.icono-volume-low:before {
    content: "\ea28";
}

.icono-volume-mute:before {
    content: "\ea29";
}

.icono-volume-mute2:before {
    content: "\ea2a";
}

.icono-volume-increase:before {
    content: "\ea2b";
}

.icono-volume-decrease:before {
    content: "\ea2c";
}

.icono-loop:before {
    content: "\ea2d";
}

.icono-loop2:before {
    content: "\ea2e";
}

.icono-infinite:before {
    content: "\ea2f";
}

.icono-shuffle:before {
    content: "\ea30";
}

.icono-arrow-up-left:before {
    content: "\ea31";
}

.icono-arrow-up:before {
    content: "\ea32";
}

.icono-arrow-up-right:before {
    content: "\ea33";
}

.icono-arrow-right:before {
    content: "\ea34";
}

.icono-arrow-down-right:before {
    content: "\ea35";
}

.icono-arrow-down:before {
    content: "\ea36";
}

.icono-arrow-down-left:before {
    content: "\ea37";
}

.icono-arrow-left:before {
    content: "\ea38";
}

.icono-arrow-up-left2:before {
    content: "\ea39";
}

.icono-arrow-up2:before {
    content: "\ea3a";
}

.icono-arrow-up-right2:before {
    content: "\ea3b";
}

.icono-arrow-right2:before {
    content: "\ea3c";
}

.icono-arrow-down-right2:before {
    content: "\ea3d";
}

.icono-arrow-down2:before {
    content: "\ea3e";
}

.icono-arrow-down-left2:before {
    content: "\ea3f";
}

.icono-arrow-left2:before {
    content: "\ea40";
}

.icono-circle-up:before {
    content: "\ea41";
}

.icono-circle-right:before {
    content: "\ea42";
}

.icono-circle-down:before {
    content: "\ea43";
}

.icono-circle-left:before {
    content: "\ea44";
}

.icono-tab:before {
    content: "\ea45";
}

.icono-move-up:before {
    content: "\ea46";
}

.icono-move-down:before {
    content: "\ea47";
}

.icono-sort-alpha-asc:before {
    content: "\ea48";
}

.icono-sort-alpha-desc:before {
    content: "\ea49";
}

.icono-sort-numeric-asc:before {
    content: "\ea4a";
}

.icono-sort-numberic-desc:before {
    content: "\ea4b";
}

.icono-sort-amount-asc:before {
    content: "\ea4c";
}

.icono-sort-amount-desc:before {
    content: "\ea4d";
}

.icono-command:before {
    content: "\ea4e";
}

.icono-shift:before {
    content: "\ea4f";
}

.icono-ctrl:before {
    content: "\ea50";
}

.icono-opt:before {
    content: "\ea51";
}

.icono-checkbox-checked:before {
    content: "\ea52";
}

.icono-checkbox-unchecked:before {
    content: "\ea53";
}

.icono-radio-checked:before {
    content: "\ea54";
}

.icono-radio-checked2:before {
    content: "\ea55";
}

.icono-radio-unchecked:before {
    content: "\ea56";
}

.icono-crop:before {
    content: "\ea57";
}

.icono-make-group:before {
    content: "\ea58";
}

.icono-ungroup:before {
    content: "\ea59";
}

.icono-scissors:before {
    content: "\ea5a";
}

.icono-filter:before {
    content: "\ea5b";
}

.icono-font:before {
    content: "\ea5c";
}

.icono-ligature:before {
    content: "\ea5d";
}

.icono-ligature2:before {
    content: "\ea5e";
}

.icono-text-height:before {
    content: "\ea5f";
}

.icono-text-width:before {
    content: "\ea60";
}

.icono-font-size:before {
    content: "\ea61";
}

.icono-bold:before {
    content: "\ea62";
}

.icono-underline:before {
    content: "\ea63";
}

.icono-italic:before {
    content: "\ea64";
}

.icono-strikethrough:before {
    content: "\ea65";
}

.icono-omega:before {
    content: "\ea66";
}

.icono-sigma:before {
    content: "\ea67";
}

.icono-page-break:before {
    content: "\ea68";
}

.icono-superscript:before {
    content: "\ea69";
}

.icono-subscript:before {
    content: "\ea6a";
}

.icono-superscript2:before {
    content: "\ea6b";
}

.icono-subscript2:before {
    content: "\ea6c";
}

.icono-text-color:before {
    content: "\ea6d";
}

.icono-pagebreak:before {
    content: "\ea6e";
}

.icono-clear-formatting:before {
    content: "\ea6f";
}

.icono-table:before {
    content: "\ea70";
}

.icono-table2:before {
    content: "\ea71";
}

.icono-insert-template:before {
    content: "\ea72";
}

.icono-pilcrow:before {
    content: "\ea73";
}

.icono-ltr:before {
    content: "\ea74";
}

.icono-rtl:before {
    content: "\ea75";
}

.icono-section:before {
    content: "\ea76";
}

.icono-paragraph-left:before {
    content: "\ea77";
}

.icono-paragraph-center:before {
    content: "\ea78";
}

.icono-paragraph-right:before {
    content: "\ea79";
}

.icono-paragraph-justify:before {
    content: "\ea7a";
}

.icono-indent-increase:before {
    content: "\ea7b";
}

.icono-indent-decrease:before {
    content: "\ea7c";
}

.icono-share:before {
    content: "\ea7d";
}

.icono-new-tab:before {
    content: "\ea7e";
}

.icono-embed:before {
    content: "\ea7f";
}

.icono-embed2:before {
    content: "\ea80";
}

.icono-terminal:before {
    content: "\ea81";
}

.icono-share2:before {
    content: "\ea82";
}

.icono-mail:before {
    content: "\ea83";
}

.icono-mail2:before {
    content: "\ea84";
}

.icono-mail3:before {
    content: "\ea85";
}

.icono-mail4:before {
    content: "\ea86";
}

.icono-amazon:before {
    content: "\ea87";
}

.icono-google:before {
    content: "\ea88";
}

.icono-google2:before {
    content: "\ea89";
}

.icono-google3:before {
    content: "\ea8a";
}

.icono-google-plus:before {
    content: "\ea8b";
}

.icono-google-plus2:before {
    content: "\ea8c";
}

.icono-google-plus3:before {
    content: "\ea8d";
}

.icono-hangouts:before {
    content: "\ea8e";
}

.icono-google-drive:before {
    content: "\ea8f";
}

.icono-facebook:before {
    content: "\ea90";
}

.icono-facebook2:before {
    content: "\ea91";
}

.icono-instagram:before {
    content: "\ea92";
}

.icono-whatsapp:before {
    content: "\ea93";
}

.icono-spotify:before {
    content: "\ea94";
}

.icono-telegram:before {
    content: "\ea95";
}

.icono-twitter:before {
    content: "\ea96";
}

.icono-vine:before {
    content: "\ea97";
}

.icono-vk:before {
    content: "\ea98";
}

.icono-renren:before {
    content: "\ea99";
}

.icono-sina-weibo:before {
    content: "\ea9a";
}

.icono-rss:before {
    content: "\ea9b";
}

.icono-rss2:before {
    content: "\ea9c";
}

.icono-youtube:before {
    content: "\ea9d";
}

.icono-youtube2:before {
    content: "\ea9e";
}

.icono-twitch:before {
    content: "\ea9f";
}

.icono-vimeo:before {
    content: "\eaa0";
}

.icono-vimeo2:before {
    content: "\eaa1";
}

.icono-lanyrd:before {
    content: "\eaa2";
}

.icono-flickr:before {
    content: "\eaa3";
}

.icono-flickr2:before {
    content: "\eaa4";
}

.icono-flickr3:before {
    content: "\eaa5";
}

.icono-flickr4:before {
    content: "\eaa6";
}

.icono-dribbble:before {
    content: "\eaa7";
}

.icono-behance:before {
    content: "\eaa8";
}

.icono-behance2:before {
    content: "\eaa9";
}

.icono-deviantart:before {
    content: "\eaaa";
}

.icono-500px:before {
    content: "\eaab";
}

.icono-steam:before {
    content: "\eaac";
}

.icono-steam2:before {
    content: "\eaad";
}

.icono-dropbox:before {
    content: "\eaae";
}

.icono-onedrive:before {
    content: "\eaaf";
}

.icono-github:before {
    content: "\eab0";
}

.icono-npm:before {
    content: "\eab1";
}

.icono-basecamp:before {
    content: "\eab2";
}

.icono-trello:before {
    content: "\eab3";
}

.icono-wordpress:before {
    content: "\eab4";
}

.icono-joomla:before {
    content: "\eab5";
}

.icono-ello:before {
    content: "\eab6";
}

.icono-blogger:before {
    content: "\eab7";
}

.icono-blogger2:before {
    content: "\eab8";
}

.icono-tumblr:before {
    content: "\eab9";
}

.icono-tumblr2:before {
    content: "\eaba";
}

.icono-yahoo:before {
    content: "\eabb";
}

.icono-yahoo2:before {
    content: "\eabc";
}

.icono-tux:before {
    content: "\eabd";
}

.icono-appleinc:before {
    content: "\eabe";
}

.icono-finder:before {
    content: "\eabf";
}

.icono-android:before {
    content: "\eac0";
}

.icono-windows:before {
    content: "\eac1";
}

.icono-windows8:before {
    content: "\eac2";
}

.icono-soundcloud:before {
    content: "\eac3";
}

.icono-soundcloud2:before {
    content: "\eac4";
}

.icono-skype:before {
    content: "\eac5";
}

.icono-reddit:before {
    content: "\eac6";
}

.icono-hackernews:before {
    content: "\eac7";
}

.icono-wikipedia:before {
    content: "\eac8";
}

.icono-linkedin:before {
    content: "\eac9";
}

.icono-linkedin2:before {
    content: "\eaca";
}

.icono-lastfm:before {
    content: "\eacb";
}

.icono-lastfm2:before {
    content: "\eacc";
}

.icono-delicious:before {
    content: "\eacd";
}

.icono-stumbleupon:before {
    content: "\eace";
}

.icono-stumbleupon2:before {
    content: "\eacf";
}

.icono-stackoverflow:before {
    content: "\ead0";
}

.icono-pinterest:before {
    content: "\ead1";
}

.icono-pinterest2:before {
    content: "\ead2";
}

.icono-xing:before {
    content: "\ead3";
}

.icono-xing2:before {
    content: "\ead4";
}

.icono-flattr:before {
    content: "\ead5";
}

.icono-foursquare:before {
    content: "\ead6";
}

.icono-yelp:before {
    content: "\ead7";
}

.icono-paypal:before {
    content: "\ead8";
}

.icono-chrome:before {
    content: "\ead9";
}

.icono-firefox:before {
    content: "\eada";
}

.icono-IE:before {
    content: "\eadb";
}

.icono-edge:before {
    content: "\eadc";
}

.icono-safari:before {
    content: "\eadd";
}

.icono-opera:before {
    content: "\eade";
}

.icono-file-pdf:before {
    content: "\eadf";
}

.icono-file-openoffice:before {
    content: "\eae0";
}

.icono-file-word:before {
    content: "\eae1";
}

.icono-file-excel:before {
    content: "\eae2";
}

.icono-libreoffice:before {
    content: "\eae3";
}

.icono-html-five:before {
    content: "\eae4";
}

.icono-html-five2:before {
    content: "\eae5";
}

.icono-css3:before {
    content: "\eae6";
}

.icono-git:before {
    content: "\eae7";
}

.icono-codepen:before {
    content: "\eae8";
}

.icono-svg:before {
    content: "\eae9";
}

.icono-IcoMoon:before {
    content: "\eaea";
}
