
.login-remember {
    color:#3D90CB;
    height:20px;
    margin:15px 0;
}

.login-form {
    
    width:350px;
    margin:20px;
    border:1px solid #EEEFEF;	
    background-color:#FBFBFB;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.login-content {
	padding:20px;
}

.login-label {		
	line-height:30px; 
	font-weight:bold;
    color:#3D90CB;   
}

.login-control {	
	width:auto;
	line-height:30px;    
    margin-bottom:15px;
}

input[type="text"], input[type="password"] {
    width: 308px;
    background-color: #FFFFFF;
    height: 35px;
    border: 1px none;
    color: #5289B1;
    border: 1px solid #D9DBDD;
    font-size: 12px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    text-indent: 10px;
    font-size: 12px;
}

.botonlogin {
	background-color:#3D8AB8;
	color:#ffffff;
	font-weight:bold;
	font-size:11px;
	padding:0 20px;  
	cursor:pointer;
	height:30px;
	line-height:20px;
	padding-bottom:2px;
	border:1px solid #3D8AB8;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	margin-left:4px;
}

.botonlogin:hover {
	background-color:#257CD3;
	color:#ffffff;
	border-color:#7FB5D2;
}

.login-action {
	text-align:center;
	margin:auto;
	margin-top:20px;
}

.action-login
{
	margin-top:10px;
	background:#E5F5F9 url('/Content/Images/ico-info.gif') 10px no-repeat;
	border:2px solid #CAE0E5; 
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}