/*
 * Colour dictionary:
 *
 * Table control elements:   #719ba7
 * Header cells:             #66A9BD
 * Body header cells:        #91c5d4
 * Body content cells:       #d5eaf0
 * Body content cells (alt): #bcd9e1
 * Footer header:            #b0cc7f
 * Footer content:           #d7e1c5
 */



/*
 * DataTables framework
 */
div.dataTables_wrapper {
	
}

div.dataTables_wrapper select {
    /*width:50px;*/    
}

div.dataTables_wrapper input[type=text] {
    width:130px;
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
    clear:both;   
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;     
}

div.dataTables_scroll {
    clear:both;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;

}

div.dataTables_filter {
	padding: 0px !important;
	text-align: end;
	margin-bottom: 14px;
}
/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}

/*
 * Table styles
 */
table.pretty {
	width: 100%;
	clear: both;
    border-spacing:0;
    border-collapse:collapse;
    font-size:11px;
    color:#335873;
}

table.pretty td,
table.pretty th {
	padding: 5px;
	border: 1px none #fff;
}

/* Header cells */
table.pretty thead th {
	text-align: center;
	background: #2980B9;
    color:#ffffff;
    cursor:pointer;
    border:1px solid #9AC9E9;
   /**#66A9BD*/
}


/* Body cells */
table.pretty tbody th {
	text-align: left;
	background: #2980B9;
}
	
table.pretty tbody td {
	text-align: center;
	background: #fff;
}
		
table.pretty tbody tr.odd td { 
	background: #f2f5f7;
}

table.pretty tbody td a, table.pretty tbody tr.odd td a {
    color:#3366CC;
    text-decoration:none;
}

table.pretty tbody td a:hover, table.pretty tbody tr.odd td a:hover {
    color:#FF770D;   
    text-decoration:underline;
}

table.pretty tbody tr:hover {   
     background-color:#FFFFD7;  
}

/* Footer cells */	
table.pretty tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
table.pretty tfoot td {
	background: #3493D1;
	text-align: left;
	font-weight: bold;
    color:#ffffff;
}

/*
 * Pagination
 */
a.paginate_button {
	display: inline-block;
	/*background-color: #fff;*/
	padding: 2px 4px;
	font-size: 12px;
	cursor: pointer;
	color: var(--bs-gray-700);
	*cursor: hand;
}
a.paginate_active {
	display: inline-block;
	background-color: #3498DB;
	padding: 2px 4px;	
	cursor: pointer;
    color:#ffffff;
    font-size:12px;
	*cursor: hand;
}

a.paginate_active {
	
	border: 1px none black;
}

a.paginate_button_disabled {
	color: #ffffff;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 18px;
	text-align: center;  
}


/*
 * Sorting
 */
table.pretty thead th.sorting_asc {
	background: #2980B9 url('../images/sort_asc.png') no-repeat right center;
}

table.pretty thead th.sorting_desc {
	background: #2980B9 url('../images/sort_desc.png') no-repeat right center;
}

table.pretty thead th.sorting {
	background: #2980B9 url('../images/sort_both.png') no-repeat right center;
}

#search-table {
	background-size: 15px;
	top: 0;
	right: 0;
	margin-right: 12px;
}


/* Block out what is behind the fixed column's header and footer */
table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
	background-color: white;
}

/* Block out the gap above the scrollbar on the right, when there is a fixed
 * right column
 */
div.DTFC_Blocker {
	background-color: white;
}

div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable {
	margin-bottom: 0;
}

div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
	border-bottom: none;
}