@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Planificación Operativa de Largo Plazo";
}

<link href="~/Content/Css/organizacion.css" rel="stylesheet" />

<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg)">
</div>

@*<iframe title="Visor de páginas" frameborder="0" id="MSOPageViewerWebPart_WebPartWPQ3" name="MSOPageViewerWebPart_WebPartWPQ3" width="100%" height="500px" src="https://www.coes.org.pe/fileapp/web/index?url=Planificaci%C3%B3n%2FPlan%20Operativo%20de%20Largo%20Plazo%2F" ddf_src="https://www.coes.org.pe/fileapp/web/index?url=Planificaci%C3%B3n%2FPlan%20Operativo%20de%20Largo%20Plazo%2F">
    <div class="UserGeneric">El explorador actual no admite páginas web que contengan el elemento IFRAME. Para usar este elemento web, debe usar un explorador que admita este elemento, como Internet Explorer 7.0 o posterior.</div>
</iframe><div class="ms-clear"></div></div>*@

@*<div class="page-content">
        @Html.Action("Index", "Browser", new { area = "", url = "Planificaci%C3%B3n%2FPlanificaci%C3%B3n%20Operativo%20de%20Largo%20Plazo%2F" })
        <div style="clear:both"></div>
    </div>*@
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Planificaci%C3%B3n%2FPlan%20Operativo%20de%20Largo%20Plazo%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>