@model COES.MVC.Intranet.Areas.Equipamiento.Models.FamiliaDetalleModel
<script>
    $(function () {
        $('#cbTipoArea').val(0);
        $('#btnGuardar').click(function () {
            guardarFamilia();
        });
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("GuardarFamilia", "Familia", FormMethod.Post, new { @class = "form-search", name = "frmNewFamilia", id = "frmNewFamilia" }))
    {
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Nombre:</td>
                <td class="tbform-control">
                    <input type="text" id="Famnomb" name="Famnomb" value="" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Abreviatura:</td>
                <td class="tbform-control">
                    <input type="text" id="Famabrev" name="Famabrev" value="" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo E Codi:</td>
                <td class="tbform-control">
                    
                    <input type="text" id="Tipoecodi" name="Tipoecodi" value="" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Tipo de ubicación:</td>
                <td class="tbform-control">
                    <select id="cbTipoArea" name="Tareacodi">
                        @foreach (var item in Model.ListaTipoArea)
                        {
                            <option value="@item.Tareacodi">@item.Tareanomb</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Número de conexión:</td>
                <td class="tbform-control">
                    <input type="text" id="Famnumconec" name="Famnumconec" value="" style="width:240px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Nombre de gráfico:</td>
                <td class="tbform-control">
                    <input type="text" id="Famnombgraf" name="Famnombgraf" value="" style="width:240px" />
                </td>
            </tr>
        </table>
    }
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardar" />
</div>