table.pretty tbody tr:not(.table-row-hover):not(.table-row-baja):not(:hover) td {
    background: inherit;
}

#resultado select,
#resultado input[type=text] {
    background: inherit;
    border: 1px solid #7d7d7d;
}

#btnActualizarMultiple {
    animation: parpadeo 1.2s infinite;
}

.colorPicker {
    width: 100%;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    border-block: solid 0px #fff !important;
    border: solid 0px #fff !important;
    background-color: #fff !important;
    appearance: none;
}

.cnt_div_accion,
.cnt_accion {
    display: none
}

    .cnt_accion.editar {
        display: table-cell;
    }

    .cnt_div_accion.editar {
        display: block
    }

@keyframes parpadeo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}