.header-action-item2 {
    width: auto;
    margin-left: 10px;
    color: #fff;
    line-height: 40px;
}

    .header-action-item2 a {
        color: #fff;
        text-decoration: none;
    }

        .header-action-item2 a:hover {
            color: #FF770D;
            text-decoration: underline;
        }

.header-menu {
    height: 40px;
    width: 50px;
    float: left;
}

.header-menu-item {
    width: auto;
    float: right;
    margin-left: 10px;
    color: #fff;
    line-height: 40px;
}

#MenuID div div.dataTables_filter {
    float: left;
}

td.btn_generar {
    padding-right: 0px !important;
    padding-left: 0px;
    line-height: 10px;
}

a.btn_generar {
    text-decoration: none;
    font-size: 12px;
    color: #245C86;
    line-height: 15px;
}

.acceso-directo-header2 {
    display: none;
    z-index: 20000;
    background: #fff;
    line-height: 20px;
    box-shadow: 4px 4px 4px #CBD3CF;
    margin-top: 0px;
    border: 1px solid #D6E8FF;
    border-top: none;
}

.acceso-directo-header2-cnt {
}

.acceso-directo-header2-item {
    border-bottom: 1px solid #D6E8FF;
    height: 20px;
    text-indent: 0px;
    line-height: 20px;
    text-indent: 20px;
}

    .acceso-directo-header2-item:hover {
        background-color: #FFFFD7;
    }

    .acceso-directo-header2-item a {
        color: #3D90CB
    }

        .acceso-directo-header2-item a:hover {
            color: #3D90CB;
            text-decoration: none;
        }

.acceso-directo-header2-link {
    background-color: #4C97C3;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
}

    .acceso-directo-header2-link a {
        color: #fff;
    }

.acceso-directo-header2-text {
    background-color: #3D8AB8;
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
    font-weight: bold;
}

    .acceso-directo-header2-text a {
        float: right;
        color: #fff;
    }


.header-menu {
    height: 40px;
    width: 45px;
    float: left;
    position: absolute;
}

.header-menu-item {
    width: auto;
    float: right;
    margin-left: 10px;
    color: #fff;
    line-height: 40px;
}

.form-title {
    display: table;
    line-height: 33px;
    width: 100%;
}

.title_anexoa {
    width: auto;
    padding-left: 60px;
    padding-top: 8px;
    text-indent: 0px;
}

.title_informe_semanal {
    width: auto;
    padding-left: 60px;
    padding-top: 8px;
    text-indent: 0px;
}

.title_ejecutivo_semanal {
    width: auto;
    padding-left: 60px;
    padding-top: 8px;
    text-indent: 0px;
}

.content-titulo {
    width: 100% !important;
    display: block;
    margin-bottom: 15px;
}

.menu_filter.content-botonera {
    width: 26%;
    display: block;
    float: left;
    margin-right: 0px;
}

.filtro_fecha_desc {
    color: black;
    font-size: 18px;
}

.filtro_version_desc {
    font-weight: bold;
    font-size: 18px;
}

.content-hijo div.search-content {
    padding-top: 15px;
    padding-bottom: 5px;
}

.search-content {
    margin-bottom: 10px;
}

.content {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: auto;
    width: auto;
    min-height: 700px;
    height: auto;
}

.layout {
    min-height: 774px;
}
