@model COES.MVC.Intranet.Areas.Admin.Models.SolicitudModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Content/Scripts/solicitud.js"></script>

<div class="form-title">
    <div class="content-titulo">Solicitudes de los Representantes Legales</div>
    <div class="content-botonera">
        <input type="button" id="btnCancelar" value="Cancelar"/>
    </div>
</div>
<div style="clear:both"></div>
<div class="content-hijo">
    <div id="mensaje" class="action-message">Listado de solicitudes realizadas al COES.</div>

    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                        }
                    </select>
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cbEstado">
                        <option value="P">Pendientes</option>
                        <option value="A">Aprobados</option>
                        <option value="X">Anulado</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado"></div>
   
</div>