<script type="text/javascript">

    $(document).ready(function () {
        $('#cbFormato2').on('change', function () {
            horizonte($('#cbFormato2').val());
        });

    });

</script>

<select id="cbFormato2">
    <option value="0">[Seleccionar Formato]</option>
        @foreach (var item in Model.ListaFormato)
        {
            <option value="@item.Formatcodi">@item.Formatnombre</option>
        }
</select>

