<script type="text/javascript">
    $(document).ready(function () {
        $('#cbFormato').multipleSelect({
            width: '222px',
            filter: true
        });

        $('#cbFormato').multipleSelect('checkAll');
    });
    
</script>

<select id="cbFormato" multiple="multiple">    
        @foreach (var item in Model.ListaFormato)
        {
            <option value="@item.Formatcodi">@item.Formatnombre</option>
        }
</select>
<input type="hidden" id="hfFormato" />



                            

