@{
    ViewBag.Title = ".::Intranet NTCSE COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/fileserver.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Carga de Plantillas - FileServer</div>
</div>

<div class="tools-content">
    <div class="button-content">
        <div class="button-item">
            <input type="button" id="btn-excel-plantilla" value="Cargar Plantilla" class="btn-aditional btn-send" />
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="clear:both"></div>
</div>

<div id="mensaje" style="margin:10px"></div>

<div>
    @Html.Action("Index", "Browser", new { area = "filemanager", url = ViewBag.Ruta })
</div>

<input type="hidden" id="btnRutaApp" value="@ViewBag.Ruta" />
