@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MODPLAN";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>

            MODPLAN
        </h1>
        <span>
            
        </span>
    </div>
    <img src="~/Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg" alt="MODPLAN" />
</div>
<div style="clear:both"></div>
<div class="page-content">
        
    <div class="page-text">
        <h1>
            Modelo de Operación Económica del SEIN para Planificación de la Transmisión
        </h1>
        <p>
            En cumplimiento del literal b) del artículo 18 y la cuarta disposición final de los Criterios y Metodología para la Elaboración del Plan de transmisión RM 129-2009-MEM-DM (la NORMA), el Comité de Operación Económica del Sistema Interconectado Nacional (COES) ha desarrollado un modelo de operación económica del SEIN (MODPLAN), y pone a disposición de los interesados en revisar los cálculos del Plan de Transmisión.
        </p>
        <p>
            El MODPLAN es el modelo de simulación de la operación económica, que requiere el análisis del Plan de Transmisión, entre las ventajas más resaltantes y adicionales a lo indicado en la NORMA, se encuentran: La simulación de incertidumbres combinadas tales (Demanda, Oferta, Hidrologías, Precio de combustibles, opciones de transmisión, entre otros), el cálculo directo de atributos, la ejecución distribuida o secuencial de los escenarios y la preparación de resultados para Excel/Power Pivot.
        </p>
        <p>
            El COES cuenta con los derechos de propiedad intelectual del MODPLAN, por tener la calidad de Titular y Productor conforme al registro obrante en el Asiento 01 de la Partida Registral N° 01269-2016 del Registro de la Dirección de Derecho de Autor del Instituto de Defensa de la Competencia y de la Protección de la Propiedad Intelectual – INDECOPI. Razón por lo cual los usuarios e interesados deberán aceptar los Términos y condiciones de licenciamiento que se les enviará al momento de solicitar el Modelo.
        </p>
        <br/>
        <h2>Requerimientos técnicos:</h2>

        <ul>
            <li>Licencia de GAMS V24.9.2 o superior (<a href="https://www.gams.com/">https://www.gams.com/</a>)</li>
            <li>Licencia de Microsoft Excel.</li>
            <li>
                Instalador d el Motor de Acceso a Base de Datos 2010 de 32 bits  (AccessDatabaseEngie.exe)
                <a href="https://www.microsoft.com/en-us/download/details.aspx?id=13255">https://www.microsoft.com/en-us/download/details.aspx?id=13255</a>
                En caso de tener Microsoft Excel de 64 bits, instalar en la consola “cmd” “..:\>AccessDatabaseEngie.exe /passive”.
            </li>    
            <li>
                Se recomienda utilizar computadoras del tipo Estaciones de trabajo (Workstations) como mínimo 24 núcleos y 24 Gb de RAM, para ejecuciones distribuidas.
            </li>
            <li>
                Las empresas del sector/interesados que requieran descargar el MODPLAN deben ser domiciliados en Perú, por lo que deberán enviar una solicitud formal firmada
                por su representante legal. Para más información sírvase escribirnos al correo: <a href="mailto:(extranet@coes.org.pe)">extranet@coes.org.pe</a>
            </li>
        </ul>
        <br />
        <br />
    </div>
    
</div>

<div style="clear:both"></div>