@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Primer Plan de Trasmisión";
}

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Primer Plan de Transmisión</h1>
            <span>
            </span>
        </div>
        <img src="~/Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg" alt="Primer Plan de Transmisión" />
    </div>*@
@*<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg) ">
        <div class="main-banner-title">
        </div>
    </div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTT?path=Planificación%2FPlan%20de%20Transmision%2FActualizacion%20Plan%20de%20Transmision%202017%20-%202026%2F00_ABC%20del%20Plan%20de%20Transmisión%2F" class="sidebar-nav--link">ABC del Plan de Transmisión</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/PrimerPT" class="sidebar-nav--link sidebar-nav--link-active">Primer Plan de Transmisión</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTP" class="sidebar-nav--link">Actualización Plan de Transmisión 2013 - 2022</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTS" class="sidebar-nav--link">Actualización Plan de Transmisión 2015 - 2024</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTT" class="sidebar-nav--link">Actualización Plan de Transmisión 2017 - 2026</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTF" class="sidebar-nav--link">Actualización Plan de Transmisión 2019 - 2028</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTG" class="sidebar-nav--link">Actualización Plan de Transmisión 2021 - 2030</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTH" class="sidebar-nav--link">Actualización Plan de Transmisión 2023 - 2032</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTI" class="sidebar-nav--link">Actualización Plan de Transmisión 2025 - 2034</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/ActualizacionPTJ" class="sidebar-nav--link">Actualización Plan de Transmisión 2027 - 2036</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/PlanTransmision/Fichas" class="sidebar-nav--link">Fichas de Información</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Planificaci%C3%B3n%2FPlan%20de%20Transmision%2FPrimer%20Plan%20de%20Transmision%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>