@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedInfMensual.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/informeMensual/5_1_costmargprom.js?v=3.0.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/Siosein/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
        <div id="grafico1" style="display:none; padding-top: 18px; float: left; width: 1000px; height: 270px;"></div>

        <div style="clear:both; height:25px; padding-top: 60px;"></div>
        <div class="table-list" id="listado2"></div>
        <div id="grafico2" style="display:none; padding-top: 18px; float: left; width: 1000px; height: 270px;"></div>

        <div style="clear:both; height:25px; padding-top: 60px;"></div>
        <div class="table-list" id="listado3"></div>
        <div id="grafico3" style="display:none; padding-top: 18px; float: left; width: 1000px; height: 270px;"></div>


    </div>
</div>

