@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedInfMensual.cshtml";
    var urlReporte1 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=39";
    var urlReporte2 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=40";
    var urlReporte3 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=55";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/grouped-categories.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/informeMensual/4_4_evolcaudales.js?v=2.0.0"></script>
<script src="~/Areas/Siosein/Content/Scripts/graficosreporte/graficosreporteweb.js"></script>

<style>
    .content-titulo {
        width: auto !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
    <div class="content-botonera">
        <input type="button" value="Gráficos Reporte web" id="btnPopupGraficos" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/Siosein/Views/Shared/_FuenteDatos.cshtml")

    <div class="content-tabla" id="html_grafico">
    </div>

</div>

<!--Gráficos Reporte Web-->
<div id="idPopupGraficosReporte" class="general-popup" style="width: 700px; max-width: 700px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Gráficos visibles en Reporte Web</span></div>

    <div style="clear:both; height:5px"></div>

    <div id="div_hoja_graficos"></div>

    <table class="table-search" style="width:auto">
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVisibleHoja" value="Guardar" />
            </td>
        </tr>
    </table>
</div>