@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedInfMensual.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/informeMensual/2_3_prodtiporer.js?v=2.0.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/Siosein/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="margin-bottom: 30px;"></div>

        <div id="grafico1" style="float: left; height: 500px; width: 1100px;"></div>

        <div id="grafico2" style="width: 1100px; float: left;margin-bottom: 5px;"></div>

    </div>

</div>

<input type="hidden" id="hdFlagRER" value="S" />
@Html.Partial("~/Areas/Siosein/Views/Shared/ViewSharedDetalleGeneracion.cshtml")