@model COES.MVC.Extranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "Primas RER - Procesar Cálculo de la Prima RER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Transfpotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<script src="~/Areas/PrimasRER/Content/Scripts/sharefunctions.js?v=1.0.0"></script>
<script src="~/Areas/PrimasRER/Content/Scripts/exportarReporte.js?v=1.0.2"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/datatable.js"></script>

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<div class="ast">

    <div class="form-title">
        <div class="form-title" style="color: #278CCC; margin-bottom:0px; font-weight: bold">Reportes del cálculo de Prima RER</div>
    </div>

    <div class="content-hijo" style="padding-top:8px">

        <div id="tab-container" class='tab-container'>



            <div id="paso2">

                <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px; padding: 10px;">

                    <table border="0" cellpadding="5" cellspacing="2" style="width: 100%;">
                        <tr class="THCabecera">
                            <td colspan="5"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros para exportar la información deseada</b></div></td>
                        </tr>
                        <tr>
                            <td><div class="editor-label">Año Tarifario: </div></td>
                            <td>
                                <div class="editor-field">

                                    <select id="cbAnioTarifario2" style="width: 200px;">
                                        <option value="-1">--Seleccionar--</option>
                                        @if (Model.ListaAniosTarifario != null)
                                        {
                                            foreach (var item in Model.ListaAniosTarifario)
                                            {
                                                <option value="@item.Anio">@item.NomAnio</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </td>
                            <td><div class="editor-label">Versión: </div></td>
                            <td>
                                <div class="editor-field">

                                    <select id="cbVersion2" style="width: 200px;">
                                        <option value="-1">--Seleccionar--</option>
                                        @if (Model.ListaVersiones != null)
                                        {
                                            foreach (var item in Model.ListaVersiones)
                                            {
                                                <option value="@item.Numero">@item.Nombre</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </td>
                        </tr>
                        <tr class="THCabecera">
                            <td colspan="3" style="border: 1px solid #ccc;"><div class="editor-label" style="color:#FFFFFF;"><b>Lista de descargas disponibles</b></div></td>
                            <td colspan="2" style="border: 1px solid #ccc;"><div class="editor-label" style="color:#FFFFFF;"><b>Excel</b></div></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Ingreso por Potencia:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarIngresoPotencia" title="Descargar Ingreso por Potencia en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Ingreso por Energía:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarIngresoEnergia" title="Descargar Ingreso por Energía en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Energía Neta:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarEnergiaNeta" title="Descargar Energía Neta en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Costo Marginal:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarCostoMarginal" title="Descargar Costo Marginal en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Factor de Ajuste:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarFactorAjuste" title="Descargar Factor de Ajuste en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Ingreso por Prima RER:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarIngresoPrimaRer" title="Descargar Ingreso por Prima RER en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Saldos VTEA - Resumen:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarSaldosVteaResumen" title="Descargar Saldos VTEA - Resumen en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Saldos VTEA - 1er Trimestre (Mayo, Junio y Julio):</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarSaldosVtea1Trimestre" title="Descargar Saldos VTEA - 1er Trimestre (Mayo, Junio y Julio) en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Saldos VTEA - 2do Trimestre (Agosto, Septiembre y Octubre):</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarSaldosVtea2Trimestre" title="Descargar Saldos VTEA - 2do Trimestre (Agosto, Septiembre y Octubre) en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Saldos VTEA - 3er Trimestre (Noviembre, Diciembre y Enero del siguiente año):</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarSaldosVtea3Trimestre" title="Descargar Saldos VTEA - 3er Trimestre (Noviembre, Diciembre y Enero del siguiente año) en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Saldos VTEA - 4to Trimestre (Febrero, Marzo y Abril):</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarSaldosVtea4Trimestre" title="Descargar Saldos VTEA - 4to Trimestre (Febrero, Marzo y Abril) en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Saldos VTP:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarSaldosVtp" title="Descargar Saldos VTP en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Tarifa Adjudicada:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarTarifaAdjudicada" title="Descargar Tarifa Adjudicada en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="border: 1px solid #ccc;">Saldo mensual por compensar:</td>
                            <td colspan="2" style="border: 1px solid #ccc;"><a href="#" id="btnExportarSaldoMensualCompensar" title="Descargar Saldo mensual por compensar en formato Excel"><img src="~/Areas/TransfPotencia/Content/Images/excel.gif" /></a></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
