@model COES.MVC.Intranet.Areas.Equipamiento.Models.CategoriaDetViewModel
<script>
    $(function () {
        $('#btnGuardar').click(function () {
            registrarCategoriaDetalle();
        });
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("RegistrarCategoriaDetalle", "Categoria", FormMethod.Post, new { @class = "form-search", name = "frmNewCategoriaDetalle", id = "frmNewCategoriaDetalle" }))
    {
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Categoria:</td>
                <td class="tbform-control">@Model.Ctgnomb</td>
            </tr>
            <tr>
                <td class="tbform-label">Nombre:</td>
                <td class="tbform-control">
                    <input type="text" id="Ctgnomb" name="Ctgnomb" value="" style="width:218px" />
                </td>
            </tr>
        </table>
        <input type="hidden" name="Ctgdetcodi" id="hfCtgdetcodi" value="@Model.Ctgdetcodi" />
        <input type="hidden" name="Ctgcodi" id="hfCtgcodi" value="@Model.Ctgcodi" />
    }

</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardar" />
</div>