.bg-dashboard {
    background-color:#F5F5F5;
    padding:10px;
    border-radius:5px;    
}

.tabla-informacion {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
}

.tabla-informacion thead tr{
    background-color:#4BA2DB;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:24px;
    font-size:10px;
}

.tabla-informacion tbody tr {
    background-color:#FFFFFF;
}

.tabla-informacion tbody tr.odd {
    background-color:#F2F5F7;
}

    .tabla-informacion tbody tr:hover, .tabla-informacion tbody tr.odd:hover {
        background-color: #e3e3e3;
    } 

.tabla-informacion tbody tr td {
    border:1px solid #DDDDDD;
    line-height:18px;
    padding-left:5px;
    padding-right:5px;    
    font-family:Arial, Helbetica, sans-serif;
    font-size:11px;   
    color:#808080;    
}

.tabla-informacion tfoot tr {
    background-color:#4BA2DB;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:24px;
    font-size:12px;
}

.title {
    background: none repeat scroll 0 0 #4ba2db !important;
    border: medium none !important;
    border-radius: 5px;
    color: #fff;
    padding: 13px 21px 14px !important;
}

.title h2 {
    font-size: 13px !important;
    font-weight: bold !important;
    line-height: 16px !important;
    margin: 0 !important;
}

.change-dashboard {
    width:200px;
    float:right;
    height:25px;   
    line-height:25px;    
    color:#4BA2DB;
    cursor:pointer;    
}

.change-dashboard .active {
    background-color:#5BC0DE;
    color:#fff;   
}

.change-dashboard-item-l {
    border-radius:5px 0 0 5px;
    border:1px solid #4BA2DB;
    width:98px;
    float:left;
    text-align:center;
    background-color:#fff;
    font-weight:bold;
}

.change-dashboard-item-r {
    border-radius:0 5px 5px 0;
    border:1px solid #4BA2DB;
    border-left:1px none;
    width:98px;
    float:left;
    text-align:center;
    background-color:#fff;
    font-weight:bold;
}

.change-dashboard-tooltip {
    display:none;
    width:183px;
    height:63px;
    border-radius:5px;
    position:absolute;
    z-index:1000;
    background-color:#4BA2DB;
    color:#fff;
    padding:8px;
    line-height:16px;
    margin-top:30px;    
}

.bg-dashboard-info {
    background-color: var(--bs-gray-500);
    border-radius: 5px;
    height: 32px;
    line-height: 32px;
    color: #212529;
    text-indent: 20px;
    font-weight: bold;
}

.dashboar-back
{
    width:25px;
    height:25px;
    z-index:2000;
    position:absolute;
    display:none;
    margin:5px;
}

.content-demanda
{
    position:relative;    
    padding:0px; 
    width: 440px; 
    height: 512px; 
    overflow-y: scroll; 
}

.portal-info-link {
    width:auto;
    height:36px;
    border-bottom:1px solid #DDE2E0;
    margin-bottom:10px;
    margin-top:5px;
}

.portal-info-link .portal-info-item {
    float:left;
    margin-right:5px;
    width:auto;    
    background-color:#F4F4F4;
    border:1px solid #DDE2E0;
    height:35px;
    line-height:35px;
    padding:0 25px;    
    background-image:url(../Images/bg-portal.png);
    border-radius: 5px 5px 0 0;
}

.portal-info-link .portal-info-item a
{
    color:#fff;
    text-decoration:none;
}

.portal-info-link .active {
    color:red;
    border-bottom:1px solid #fff;
    border-top:3px solid #FF9933;
    height:33px;
    background-color:#fff;
    line-height:33px;
    color:#278CCC;
    text-transform:uppercase;
    background-image:none;        
}

.portal-info-link .active a {
    color:#278CCC;
    font-weight:bold;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;


    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
   
    padding: 6px 6px;
    border: 0px solid #ccc;
    border-top: none;
}

#divBotenera {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#divBotenera div input[type=button] {
    background: #faa34c;
    font-weight: 100;
    font-size: 15px;
    padding: 0 24px;
    border: 1px none #000000;
}



.powerbi-focus {
    background-color: #FF8509 !important;
    border: 1px solid red !important;
}

#divBotenera2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}