
<select id="idFormato" style="width:300px;">    
        @foreach (var item in Model.ListaFormato)
        {
            <option value="@item.Formatcodi" >@item.Formatnombre</option>
        }
</select>
<input type="hidden" id="hfFormato" />