@{
    ViewBag.Title = "Reporte de Cumplimiento de la Extranet de Hidrología";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<link href="~/Areas/Hidrologia/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Hidrologia/Content/Css/reporteCumplimiento.css" rel="stylesheet" />
<script src="~/Areas/Hidrologia/Content/Scripts/reporteCumplimiento.js?id=1.3.1"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de cumplimiento de la Extranet de Hidrología</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<input type="hidden" id="hfMes" value="@Model.Mes" />


<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" style="width:200px;">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>
                    <div id="cntMes">
                        Mes-Año: <input type="text" name="Mes" id="txtMes" value="@Model.Mes" />
                    </div>
                </td>

                <td>
                    Fecha-Hora: <input type="checkbox" name="checkFecha" id="checkFecha" checked />
                </td>

            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>
    </div>

</div>
