<script type="text/javascript">
    $(function () {

        $('#tab-container').easytabs({
            animate: false
        });
    });
</script>

<div id="reporteCumplimiento">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            @foreach (var area in Model.ListaFormatoCOES)
            {
                <li class='tab'><a href="#reporte@(area.Areacodi)">@area.Areaname</a></li>
            }
        </ul>
        <div class='panel-container' style="max-height: 550px;">
            @foreach (var area in Model.ListaFormatoCOES)
            {
                <div id="reporte@(area.Areacodi)">
                    <div class="table-wrapper">
                        <div class="table-scroll">
                            @Html.Raw(area.html)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    <fieldset>
        <legend>Leyenda:</legend>
        &#10003;  EN PLAZO<br>
        &#9745; FUERA DE PLAZO<br>
        &#10005; NO ENVIÓ
    </fieldset>
</div>