body {
    font-family: "Century Gothic","Lucida Sans Unicode",Verdana,Tahoma,"Comic Sans MS",Arial,Arial, sans-serif;
    font-size: 14px;
    background-color: #E7ECEA;
    /*background-color:*/ /*#B9B9C4;*/ /*#666677;*/ /*#A6DEFF;*/ /*#018AD9;*/ /*#EFEFEF;*/
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

td {
    font-family: Tahoma,Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
    font-family: Tahoma,Verdana, Geneva, Arial, helvetica, sans-serif;
}

textarea {
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    margin: 0px 0 20px 10px;
    background: #fcfcfc;
}

h1 {
    font-size: 20px;
    display: block;
    /*font-family: "Trebuchet MS";*/
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h1, h2, h3 {
    padding: 5px;
}



/*****************
**  PIE DE PAGINA
*******************/
.base_pie_pagina {
    float: left;
    margin-top: 30px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    text-align: center;
    /*border-top:1px solid #E0EEEF;*/
    padding-top: 10px;
    line-height: 14px;
    width: 100%;
}

.marco-padding {
    padding: 10px 15px 10px 15px;
}

.header1 {
    background: #1F2532;
    height: 86px;
    color: #fff;
    width: 1070px;
    margin: auto;
}

.header-content {
    width: 1070px;
    margin: auto;
}

.logo {
    width: 300px;
    float: left;
    margin: 5px 0 0px 15px;
}

.header-action {
    width: 700px;
    height: 22px;
    float: right;
    margin: auto;
    line-height: 22px;
    margin-right: 15px;
}

.header-action-item {
    width: auto;
    float: right;
    font-size: 11px;
}

.header-action-img{
    float: right;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-top: 0.7%;
}

#LabelUserName{
    margin-left: auto;
}

    .header-action-item a {
        color: #fff;
        font-family: "Lucida Grande", "Lucida Sans Unicode",Tahoma,Arial;
        text-decoration: none;
    }

        .header-action-item a:hover {
            color: #fff;
            text-decoration: underline;
        }

.header-action-item-sep {
    color: #fff;
    margin: 0 8px;
    float: right;
}

.logo-text {
    color: rgb(255, 255, 255);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    letter-spacing: 0px;
    margin-top: 30px;
    padding-left: 20px;
}

.logo-user {
    color: rgb(255,255,255);
    font-size: 0.9em;
    padding-left: 20px;
}



.header-action-text {
    width: auto;
    float: right;
    margin-left: 10px;
    font-weight: bold;
}

.content-menu {
    background: #DCE6F2;
    background-image: url('../images/fondomenu.png');
    float: left;
    width: 1060px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    border-bottom: none;
}
