.texto
{
    width: 160px;
    float: left;
}
.texto2
{
    float: left;
}
.clear
{
    clear: both;
    margin-bottom: 20px;
}
.button
{
    margin-left: 50px;
     margin-right: 80px;
    float:left;
}
#b_consultar
{
    margin-left: 50px;
     margin-right: 80px;
}
h3
{
    text-align: center;
}
#ListBox1
{
width:100px;
   
}
#ddlx_archivo_item
{
    margin-left: 20px;
    margin-right: 20px;
}
