/***************************
**** REGISTRO INTEGRANTES
***************************/

  .ri_marco_tram
  {
      /*background-color:#B9CDE5;*/
      color:#4A208F;
      padding-top:10px;
      padding-left:25px;
      padding-right:35px;
      padding-bottom:10px;
  }
  .ri_marco_tram input
  {
    float:left;
    /*margin-right:20px;
    margin-bottom:20px;*/
    border:solid 1px #aacfe4;
    margin:0px 0px 10px 10px;
    font-size:12px;   
  }
  
 .ri_marco_tram input:hover
 {
    border: 1px solid #0099CC;
    background: #eef;
 } 
  
 .ri_marco_tram label
 {
    width:170px;
    float:left;
    padding-left:5px;
    color:#4447B8;
    margin-bottom:10px;
    margin-left:10px;
    font-size:12px;
 }
  .ri_marco_tram span
 {
    width:170px;
    float:left;
    padding-left:5px;
    color:#4447B8;
    margin-bottom:10px;
    margin-left:10px;
    font-size:12px;
 }
 .ri_marco_tram textarea
{
    font-family:Arial;
    font-size:12px;
}
.ri_marco_tram input:hover
{
    border: 1px solid #0099CC;
    background: #eef;
}
.ri_marco_tram select
{            
    float:left;
    margin-right:20px;
    margin-bottom:15px;
    border:solid 1px #aacfe4;
    margin:0px 0px 10px 10px;
    font-size:12px;
}
.ri_marco_tram span
{
    float:left;
}        
.ri_marco_tram p
{
    line-height:12px;
    margin:1px;
    margin-top:2px;
    margin-bottom:2px;
}
        
.ri_marco_tram h2
{
    line-height:16px;            
    color:#4447B8;
    font-size:16px;
}

.ri_marco_tram h4
{
    line-height:35px;            
    color:#4447B8;
    font-size:12px;
}

.ri_marco_tram li
{
	padding:5px;
}                   
.ri_clear
{
     clear:both;
}

.ri_fila_derecha input
{
	/*width:300px;*/
    float:right;
    margin-top:2px;
    margin-bottom:2px;
    /*width:90%;*/
    padding-left:5px;
}