.marco_sistema_content
{
	/*clear:both;*/
	margin-top:10px;
	border:1px solid #CCEEEF;
	/*background-color:#DCE6DD;*/
}
.marco_sistema_menu
{
    float:left;
    width:100%;
    background-color:#DCE6F2; /*#FFDAB0;*/ /*#FF992A;*//*#292929;*/
    margin:0px;
    margin-top:-10px;    
}

.marco_sistema_menu_tool
{
    float:left;
    width:100%;
    /*background-color:#DCE6F2;*/ /*#FFDAB0;*/ /*#FF992A;*//*#292929;*/
    margin:0px;    
    margin-top:10px;
    font-size:12px;
    clear:both;    
}

.marco_sistema_mapa_site
{
    clear:both;
}

.marco_sistema_main
{    
    /*background:#FFFFDD;*/
    /*margin-top:10px;*/
    border:1px solid #E0EEEF;
    float:left;
    margin-left:5px;
    margin-left:5px;
    width:auto;
    padding:3px;
}

.marco_sistema_main h3, h4
{    
    color: #666666;
	padding-left:10px;	
	font-style:normal;       
}

.marco_sistema_main h3
{
	font-size:1.1em; 
}

.marco_top_sist_qlink
{  
    padding:4px;
    font-size:10px;
    /*font-weight:bold;*/
    /*background-color:#018AD9;*/
    background-color:#448CCB; /*#018AD9;*//*#EBEBEB;*/ /*#87B829;*/ /*#50948A;*/
    font-family:Arial,Verdana;    
}

.marco_top_sist_qlink a
{
    color:#FFFFFF;/*#87B829;*/
    font-family:"Lucida Grande", "Lucida Sans Unicode",Tahoma,Arial;
    padding-right:5px;
    padding-left:5px;
}        
 
.marco_sistema_main_col_left
{
    float:left;
    background:#FFFFFF;
    width:150px;
    /*clear:left;*/
}
.marco_clear
{
	clear:both;
}

