
.marco_basico_main
{
    background-color:#FFFFFF;
    height:100%;
    margin:auto;
}

.marco_top_basic_qlink
{
    padding:4px;
    font-size:10px;
    /*font-weight:bold;*/
    /*background-color:#018AD9;*/
    background-color:#448CCB; /*#018AD9;*//*#EBEBEB;*/ /*#87B829;*/ /*#50948A;*/
    font-family:Arial,Verdana;
}

.marco_top_basic_qlink a
{
    color:#FFFFFF;/*#87B829;*/
    font-family:"Lucida Grande", "Lucida Sans Unicode",Tahoma,Arial;
    padding-right:5px;
    padding-left:5px;
}
















