/* MENU */



.menu li {
	border:1px none #DCE6F2;    
}/*Nuevo*/

#menuControl_nav {
     float: left;
     margin: 0; padding: 0;    
     border-bottom: none;
     height:33px;
     line-height:33px;
}

#menuControl_nav li a, #menuControl_nav li {
 float: left;
}

#menuControl_nav li {
     list-style: none;
     position: relative;
}

#menuControl_nav li a {
     padding: 8px 5px 8px 5px;
     text-decoration: none;
     color: #205C90;
     background: transparent; 
     background: #DCE6F2;  
     background-image: url('../images/fondomenu.png');
     font-family:"Lucida Grande", "Lucida Sans Unicode",Tahoma,Arial;
     font-size:12px;
     border:1px none #DCE6F2;
}

#menuControl_nav li a:hover {
 background:  #205C90;
 color:#FF992A;
}

/* Submenu */
.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#menuControl_nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#menuControl_nav li:hover > ul {
 display: block;
}

#menuControl_nav li ul li, #menuControl_nav li ul li a {
 float: none;
}

#menuControl_nav li ul li {
 _display: inline; /* for IE6 */
}

#menuControl_nav li ul li a {
 min-width: 220px;
 display: block;
}

/* SUBSUB Menu */

#menuControl_nav li ul li ul {
 display: none;
}

#menuControl_nav li ul li:hover ul {
 left: 100%;
 top: 0;
}

.col_box
{    
    font-family:Arial;
    /*margin-top:10px;*/
    /*margin-bottom:20px;*/
    /*margin-right:10px;*/
    border:1px solid #CCEEEF;
}
.col_box_head
{
    background-color:#1F497D;
	line-height:15px;
	color:#fff;
	padding-left:2px;
	padding-top:1px;
	padding-bottom:1px;
}
.col_box_head h4
{
    /*line-height:14px;*/
    font-size:12px;
    font-style:normal;
    font-weight:bold;
    padding-top:0px;    
    padding-bottom:0px;
    padding-left:10px;
    color:#FFF;
        
}

.col_box_content
{
    background-color: rgb(251,251,236);/*#DCE6F2;*//*#B9CDE5;*/
    padding:1px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    
}
.col_box_content ul
{
    list-style-type:none;
    list-style-image:none;
    margin:0px;
    margin-left:-30px;
    font-size:0.81em;    
}

.col_box_content li
{
    padding:2px;
    margin:0px;    
}
.col_box_content a
{
	color:#000;
}