
html,body{
height: 100%;
margin:0px;

}
.marco_root
{
    width:950px;
    /*margin-top:-12px;*/    
    margin:auto;
    border:1px solid #D8D8D8;
}

.titulo_pagina
{
margin:25px;
margin-top:10px;
padding-top:5px;
margin-bottom:10px;
padding-bottom:5px;
font-size:18px;
text-transform:uppercase;
}

.titulo_master
{
    margin:25px;
    font-size:22px;
    text-transform:uppercase;
    color: #fff;
}

div.col_left table td
{
    text-align: left;
}



