/************************
** MARCO BASE TOP
************************/
.marco_base_top
{    
    background-color:#FFFFFF;
    /*background-color:#5B9BC7;*/
    /*margin:auto;*/
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /*border: 1px solid #EAEAEA;*/    
    
}

.marco_base_top_head
{
    width : 1070px;   
    /*background-color:*/ /*#B9B9C4;*/ /*#666677;*/ /*#A6DEFF;*/ /*#018AD9;*/ /*#5B9BC7;*/
    /*background-color:#5B9BC7;*/
    background-color: #205C90; /*#352B23;*/ /*#201A16;*/
    margin:auto;
    margin-top:0px;
    height:90px;    
    border: 1px solid #EAEAEA;    
}
.marco_base_top_a
{
    width: 700px;
    float:left;
}
.marco_base_top_logo
{
    width:200px;
    float:left;
}
.marco_base_top_titulo
{         
    /*width:450px;*/
    padding-top:25px;
    
}

.marco_base_top_titulo h1
{
    margin:auto;
    color: rgb(255, 255, 255);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    letter-spacing: 0px;        
}
.marco_base_top_titulo h4
{
	color:rgb(255,255,255);
	font-size : 0.9em;
}
.marco_base_top_qlink
{
    float:right;
    /*width:220px;*/
    margin-top:65px;
    margin-right:5px;
}


/************************
** MARCO BASE MENU
*************************/

.marco_base_menu
{
}


/************************
** MARCO BASE MAPA SITIO
*************************/
.marco_base_mapa_site
{
    
}
/************************
** MARCO BASE MAIN
************************/
.marco_base_main
{
    width:1070px;
    background-color:#FFFFFF;    
    margin:auto;
    height:100%;
    padding-top:0px;
    padding-bottom:10px;
    border: 1px solid #EAEAEA;
}

.marco_main_left
{
    width:100px;
    background-color:Aqua;    
    float:left;
    margin:5px;
    padding-left:3px;
}

.marco_main_center
{
    width:200px;
    background-color:Fuchsia;
    float:left;
    margin:5px;
    padding-left:3px;
}

.marco_main_rigth
{
    width:150px;
    background-color:HighlightText;
    float:right;
    margin:5px;
    padding-left:3px;
}
.marco_clear_both
{
    clear:both;
}


/************************
** MARCO BASE PIE
************************/
.marco_base_pie
{    
    width:1070px;    
    margin:auto;
    background-color:#FFFFFF;
    /*border: 1px solid #EAEAEA;*/
}


.marco_base_pie_main
{    
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:center;	
	/*border-top:1px solid #E000EF;*/
	/*border-top:1px solid #B4D2E0;*/
	margin-top:0px;
    background-color:#FFFFFF;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid #EAEAEA;
}
