@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liquidaciones del MME";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Informes.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Mercado%20Mayorista%2FLiquidaciones%20del%20MME%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>