@model COES.MVC.Intranet.Areas.PMPO.Models.ModificacionCentralModel
    @{
        ViewBag.Title = "Modificación Central";
        
    }
@if (Model.UsarLayoutModulo)
{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
    <script src="~/Content/Scripts/inputmaskmin.js"></script>
    <script src="~/Content/Scripts/moment.js"></script>

    <script src="~/Areas/PMPO/Content/Scripts/pmpo-modificacion-central.js?v=1.6"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />

    <div class="form-title">
        <div class="content-titulo" id="container-titulo">@ViewBag.Titulo</div>

        <div class="content-botonera" id="container">
            @if (Model.TienePermisoNuevo)
            {
                <input type="button" id="btnAgregarModificacion" value="Agregar Modificación" />
            }
            <input type="button" id="btnExportar" value="Exportar" />
        </div>
    </div>

    <div class="content-hijo" id="mainLayout">

        <input type="hidden" id="hdTopcodi" value="@Model.Topcodi" />
        <input type="hidden" id="hdAction" value="@Model.Action" />

        <div class="content-tabla" id="excelwebPF" style="padding-top: 10px;">
            <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>
            <div id="tab-container" class='tab-container'>
                <ul class='etabs'>
                    <li class='tab'><a href="#vistaListado">Listado</a></li>
                    <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
                </ul>

                <div class='panel-container'>
                    <div id="vistaListado">

                        <div class="content-tabla">
                            <!--Listado de Modificación Central-->
                            <div class="table-list" id="listado">
                                <div id="cuadroModificaciones" style=" display: inline-block; float: left; "> </div>
                            </div>
                        </div>

                    </div>

                    <div id="vistaDetalle">
                    </div>
                </div>


            </div>
        </div>
    </div>

