@model COES.MVC.Intranet.Areas.Interconexiones.Models.InterconexionesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<script src="~/Areas/Interconexiones/Content/Scripts/capImport.js"></script>
<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Content/Scripts/exporting.js"></script>
<script type="text/javascript">
   
    $(function () {
       
    });          
</script>


<div class="form-title">
    <div class="content-titulo">Capacidad de Importación</div>
    <div class="content-botonera">
        <input type="button" id="btnExpotar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="overflow: auto;">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr >
                <td>Versión:</td>
                <td style="width:50px" >
                    <select id="cbVersion" name="IdVersion">
                        <option value="0">Preliminar</option>
                        <option value="1">Final</option>
                     </select>
                    <input type="hidden" id="hfVersion" name="version"/>
                </td>
                <td >Selecion de Horizonte:</td>
                <td style="width:50px">
                    <select id="cbHorizonte" name="IdHorizonte" >
                        <option value="0">Diario</option>
                        <option value="1">Semanal</option>
                    </select>
                    <input type="hidden" id="hfHorizonte" />
                </td>                
               <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio" value="@Model.FechaInicio"  />
                    <input type="hidden" id="hfFechaDesde"  value="@Model.FechaInicio"  />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                </td>                                  
            </tr>                                             
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>       
</div>
