@model COES.MVC.Intranet.Areas.Evaluacion.Models.ListadoTransversalModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>
            <th style="width:20%">Propiedad</th>
            <th style="width:20%">Valor</th>
            <th style="width:30%">Comentario</th>
            <th style="width:25%">Motivo de actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaConsultarEquipo)
        {
            <tr>
                <td style="text-align: left;">@item.Propiedad</td>
                <td style="text-align: left;">@item.Valor</td>
                <td style="text-align: left;">@item.Comentario</td>
                <td style="text-align: left;">@item.MotivoActualizacion</td>
            </tr>
        }
        </tbody>
</table>