@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
<script>
    $(function () {

        $('#btnGuardarEdit').click(function () {
            update();
        });
    });
</script>
<div class='panel-container'>

    @using (Html.BeginForm("Update", "FactorPerdidaDetalle", FormMethod.Post, new { @class = "form-search", name = "frmEditFactorDetalle", id = "frmEditFactorDetalle" }))
    {
        <input type="hidden" name="FacPerMedDetDTO.Rerfpdcodi" id="Rerfpdcodi" value="@Model.FacPerMedDetDTO.Rerfpdcodi"/>
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Valor del factor de perdida [M = -1]:</td>
                <td class="tbform-control">
                    <input type="text" id="Rerfpdfactperdida" name="FacPerMedDetDTO.Rerfpdfactperdida" value="@Model.FacPerMedDetDTO.Rerfpdfactperdida" style="width:240px" />
                </td>
            </tr>
        </table>
    }
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Grabar" id="btnGuardarEdit" />
</div>