
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/DevolucionAporte/Content/Script/porcentajes.js"></script>

<input type="file" id="fuImportar" style="display:none" />

<style>
    .text-danger {
        color: red !important;
    }

    
</style>

<div class="form-title">
    <div class="content-titulo">Configuración de Porcentajes para Empresas </div>
    <div class="content-botonera">

    </div>
</div>


<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content">
        <table border="0" class="content-tabla-search" style="width:100%">
            <tr>
                <td>
                    <table border="0" style="width:auto">
                        <tr>
                            <td>Año Inversión:</td>
                            <td>
                                <select id="cboAnioInversion" name="cboAnioInversion">
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in ViewBag.ListaAnioInversion)
                                    {
                                        <option value="@item.Prescodi">@item.Presanio</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="right">
                    <input type="button" id="btnDescargar" onclick="javascript: descargarEmpresas()" value='Descargar' />
                    <input type="button" id="btnImportar" value='Importar' />
                    <input type="button" id="btnConsultar" onclick="javascript: guardar()" value='Guardar' />
                </td>
            </tr>
        </table>
    </div>

    <div class="clear"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

    <div style="clear:both; height:30px"></div>

    <label id="lblmensaje"></label><br />
    <label id="lblmensajeregistros"></label>
    
</div>
