@model COES.MVC.Intranet.Areas.ReservaFriaNodoEnergetico.Models.BusquedaReporteModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="@Model.Tag" class="pretty tabla-adicional" cellspacing="0">
        <thead>
        <tr>
            <th>Empresa</th>
            <th>Grupo</th>
            <th>D&iacute;a</th>
            <th>
                @{
                    var cabecera = (Model.Hora ? "Hora Central" : "Sobrecosto");
                }
                @cabecera
            </th>
            <th>Observaci&oacute;n</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ListaNrProceso)
        {
            <tr>
                <td>@item.Emprnomb</td>
                <td>
                    @{
                        var grupo = "";
                        if (item.Gruponomb != null)
                        {
                            grupo = @item.Gruponomb.Trim();
                        }
                    }
                    @grupo
                        
                </td>
                <td>
                    @{
                        var fechaNrprcFechaInicio = "";
                        if (item.Nrprcfechainicio != null)
                        {
                            fechaNrprcFechaInicio = ((DateTime)item.Nrprcfechainicio).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFecha);
                        }
                    }
                    @fechaNrprcFechaInicio
                </td>
                <td>
                    @{
                        var valor = (Model.Hora ? item.Nrprchoracentral : item.Nrprcsobrecosto);
                    }
                    @valor
                </td>
                <td>@item.Nrprcobservacion</td>
                    
            </tr>
        }
        </tbody>
    </table>
</div>
