@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Consulta de datos y Prefiltrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/DemandaPO/Content/Css/css2.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/DemandaPO/Content/Scripts/consultaPrefiltrado/modulo.js?v=3.0"></script>
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Areas/PronosticoDemanda/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/PronosticoDemanda/Content/Css/fixer.css" rel="stylesheet" />

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Consulta y corrección de datos</div>
    </div>
    <div class="content-hijo">
        <div id="message" style="display: none;"></div>
        <div class="nt-header">
            <div id="opt-formulaspl"
                 class="nt-header-option options active">
                Fórmula SPL
            </div>
            <div id="opt-datostna"
                 class="nt-header-option options">
                TNA
            </div>
            <div id="opt-datossicli"
                 class="nt-header-option options">
                SICLI
            </div>
            <div id="opt-datossirpit"
                 class="nt-header-option options">
                SIRPIT
            </div>
        </div>
        <div id="module"
             class="nt-body"></div>
    </div>
</div>