@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ProcesoModel
<div class="popup-title" style="margin-bottom:10px"><span>Histórico de envío a liquidaciones</span></div>

<table border="0" class="pretty tabla-icono" id="tablaLiquidacion">
    <thead>
        <tr>
            
            <th>Periodo aplicatio RSF </th>
            <th>Recálculo aplicativo RSF</th>
            <th>Usuario</th>
            <th>Fecha</th>           
        </tr>
    </thead>

    <tbody>
        @if (Model.ListaEnvios.Count > 0)
        {
            foreach (var item in Model.ListaEnvios)
            {
                <tr>                    
                    <td>@item.Periodonomb</td>
                    <td>@item.Versionnomb</td>
                    <td>@item.Coenliusuario</td>  
                    <td>
                        @if (item.Coenlifecha != null)
                        {
                            <span>@(((DateTime)item.Coenlifecha).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>