@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ProcesoModel
@{
    ViewBag.Title = "Proceso de Costos de Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/CostoOportunidad/Content/Scripts/proceso.js?v=12.0"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Cálculo de Costos de Oportunidad</div>
    <div class="content-botonera">
       
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo:</td>
                <td>
                    <select id="cbPeriodo">
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            <option value="@item.Copercodi">@item.Copernomb</option>
                        }
                    </select>
                </td>
                <td>Versión:</td>
                <td>
                    <select id="cbVersion"></select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />                    
                </td>
            </tr>
        </table>
    </div>

    <div id="contentResultado" style="display:none">

        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#pasoProceso">Proceso de cálculo</a></li>
                <li class='tab'><a href="#pasoConsulta">Consulta de Insumos</a></li>
            </ul>
            <div class='panel-container'>
                <div id="pasoProceso">

                    <div class="search-content">

                        <input type="button" id="btnProcesar" value="Procesar" style="display:none" />
                        <input type="button" id="btnProcesarConDatos" value="Procesar cuando las alftas y betas se calculan diaramente" />
                        <input type="button" id="btnReprocesar" value="Reprocesar" />
                        <input type="button" id="btnEnviarLiquidacion" value="Enviar a liquidaciones" />
                        <input type="button" id="btnHistorioEnvio" value="Histórico de envíos a liquidaciones" />
                        <input type="button" id="btnExportarResultado" value="Exportar" />

                    </div>

                    <div id="tab-container-resultados" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab-alter'><a href="#paso7">Despacho con reserva</a></li>
                            <li class='tab-alter'><a href="#paso8">Despacho sin reserva</a></li>

                        </ul>
                        <div class='panel-container'>
                            <div id="paso7">
                                <h2>Despacho con Reserva</h2>
                                <div id="despachoConReserva"></div>

                                <div>
                                    <br />
                                    <strong>Leyenda colores</strong>
                                    <table>
                                        <tr>
                                            <td style="background-color:#ffd569; width:20px"></td>
                                            <td>Existe RA ejecutada pero no RA programada</td>                                           
                                        </tr>
                                        <tr>
                                            <td style="background-color:#FF69B4; width:20px"></td>
                                            <td>No existe horas de operación o la banda minima es igual 0</td>                                            
                                        </tr>
                                        <tr>
                                            <td style="background-color:#B8F367; width:20px"></td>
                                            <td>Bloques con RA ejecutada con duración diferente a 30 minutos</td>                                            
                                        </tr>
                                        <tr>
                                            <td></td>                                            
                                            <td>
                                                <input type="button" id="btnConsultarRADetalle" value="Consultar detalle" />
                                            </td>                                            
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div id="paso8">
                                <h2>Despacho sin Reserva</h2>
                                <div id="despachoSinReserva">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div id="pasoConsulta">

                    <div class="search-content">
                        <input type="button" id="btnExportarInsumo" value="Exportar" />
                    </div>

                    <div id="tab-container-datos" class='tab-container'>
                        <ul class='etabs'>
                            <li class='tab-alter'><a href="#paso1">Programa con Reserva</a></li>
                            <li class='tab-alter'><a href="#paso2">Programa sin Reserva</a></li>
                            <li class='tab-alter'><a href="#paso3">RA Down Programada</a></li>
                            <li class='tab-alter'><a href="#paso4">RA Up Programada</a></li>
                            <li class='tab-alter'><a href="#paso5">RA Down Ejecutada</a></li>
                            <li class='tab-alter'><a href="#paso6">RA Up Ejecutada</a></li>
                        </ul>
                        <div class='panel-container'>
                            <div id="paso1">
                                <h2>Programa con Reserva</h2>
                                <div id="programaConReserva"></div>
                                
                            </div>
                            <div id="paso2">
                                <h2>Programa sin Reserva</h2>
                                <div id="programaSinReserva">
                                </div>
                            </div>
                            <div id="paso3">
                                <h2>Reserva Asignada Down Programada</h2>
                                <div id="raProgramadaDown">
                                </div>
                            </div>
                            <div id="paso4">
                                <h2>Reserva Asignada Up Programada</h2>
                                <div id="raProgramadaUp">
                                </div>
                            </div>
                            <div id="paso5">
                                <h2>Reserva Asignada Down Ejecutada</h2>
                                <div id="raEjecutadaDown">
                                </div>
                            </div>
                            <div id="paso6">
                                <h2>Reserva Asignada Up Ejecutada</h2>
                                <div id="raEjecutadaUp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  

    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>

<div id="popupReprocesar" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoReprocesar" style="margin-top:0">
    </div>
</div>

<div id="popupLiquidacion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoLiquidacion" style="margin-top:0">
    </div>
</div>

<div id="popupEnvioLiquidacion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoEnvioLiquidacion" style="margin-top:0">
    </div>
</div>

<div id="popupRADetalle" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoRADetalle" style="margin-top:0">
    </div>
</div>