@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ProcesoModel

<div class="popup-title" style="margin-bottom:10px"><span>Enviar a liquidaciones</span></div>

<div class="content-registro">
    <table style="width:100%">
        <tr>
            <td class="registro-label">Peridoo y versión Costos de Opotunidad</td>
            <td class="registro-control">
                <span>@(Model.PeriodoNombre + " - " + Model.VersionNombre)</span>
            </td>
        </tr>
        <tr>
            <td class="registro-label">Seleccione periodo (Compensaciones RSF):</td>
            <td class="registro-control">
                <select id="cbPeriodoTrn">
                    <option value="">-SELECCIONE-</option>
                    @foreach(var item in Model.ListaPeriodoTrn)
                    {
                        <option value="@item.PeriCodi">@item.PeriNombre</option>
                    }
                </select>
                <input type="hidden" id="hfPeriodoTrn" value="@Model.IdPeriodoTrn" />
            </td>
        </tr>       
        <tr>
            <td class="registro-label">Seleccione versión (Compensaciones RSF):</td>
            <td class="registro-control">
                <select id="cbVersionTrn">                    
                    
                </select>
            </td>
        </tr>
    </table>
</div>
<div style="clear:both; height:20px"></div>
<div style="width:200px; margin:auto; text-align:center">
    <input type="button" id="btnLiquidacionOK" value="Aceptar" />
    <input type="button" id="btnLiquidacionCancelar" value="Cancelar" />
</div>
