@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ProcesoModel

<div class="popup-title" style="margin-bottom:10px"><span>Reprocesar cálculo</span></div>
<div class="content-registro">
    <table style="width:100%">

        <tr>
            <td class="registro-label">Ejecutar:</td>
            <td class="registro-control">
                <select id="cbReprocesar">
                    <option value="0">Todo el rango de fechas</option>
                    <option value="1">Subrango de fechas</option>
                </select>
            </td>
        </tr>
        <tr id="trFechaInicio">
            <td class="registro-label">Desde:</td>
            <td class="registro-control">
                <input type="text" id="txtFecInicioReproceso" value="@Model.FechaInicio" />
                <input type="hidden" id="hfFecInicio" value="@Model.FechaInicio" />
            </td>
        </tr>
        <tr id="trFechaFin">
            <td class="registro-label">Hasta:</td>
            <td class="registro-control">
                <input type="text" id="txtFecFinReproceso" value="@Model.FechaFin" />
                <input type="hidden" id="hfFecFin" value="@Model.FechaFin" />
            </td>
        </tr>

        <tr>
            <td class="registro-label">Importar insumos nuevamente - Datos YUPANA:</td>
            <td class="registro-control">
                <select id="cbReemplazarDatos">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </td>
        </tr>

        <tr id="trUtilizarAlfas">
            <td class="registro-label">Utilizar los alfas y betas calculados diaramente:</td>
            <td class="registro-control">
                <select id="cbUtilizarAlfas">
                    <option value="1">Si</option>                    
                </select>
            </td>
        </tr>

        <tr id="trImportarSP7">
            <td class="registro-label">Importar insumos nuevamente - Datos SP7:</td>
            <td class="registro-control">
                <select id="cbImportarSP7">
                    <option value="0">No</option>
                    <option value="1">Si</option>

                </select>
            </td>
        </tr>

    </table>
</div>
<div style="clear:both; height:20px"></div>
<div style="width:200px; margin:auto; text-align:center">
    <input type="button" id="btnReprocesarOK" value="Aceptar" />
    <input type="button" id="btnReprocesarCancelar" value="Cancelar" />
</div>
