@model COES.MVC.Intranet.Areas.Equipamiento.Models.IndexEquipoModel
@{
    ViewBag.Title = "Importación Nuevos Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Equipamiento/Content/Scripts/equiposImportacion.js?v=1.0.1"></script>
<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>

<!--Carga de archivos-->
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<style>
    .moxie-shim.moxie-shim-html5 {
        position: static !important;
    }

        .moxie-shim.moxie-shim-html5 input {
            width: 0px !important;
            height: 0px !important;
        }
</style>

<div class="form-title">
    <div class="content-titulo">Carga Inicial de Equipos</div>
    <div class="content-botonera">
        <input type="button" value="Regresar" id="btnRegresar" style="width:100px" />
    </div>
</div>

<div class="ast">

    <div id="alerta">
    </div>

    <div id="mainLayout" class="content-hijo" style="padding-top:8px">

        <div class="row">

            <fieldset style="height:13px">

                <table cellpadding="5">
                    <tr>
                        <td style="width:100px">Adjuntar Archivo:</td>
                        <td style="width:350px">
                            <div id="container" style="position: absolute; top:5px;">
                                <div id="loadingcarga" class="estado-carga">
                                    <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
                                    <div class="estado-text">Cargando...</div>
                                </div>

                                <div id="filelist">No soportado por el navegador.</div>
                            </div>
                        </td>
                        <td style="width:4%"></td>
                        <td valign="top" style="width:48%">
                            <div id="listaArchivos">

                            </div>
                        </td>
                        <td style="width:50px">
                            <input type="button" id="btnSelectFile" value="Seleccionar archivo" style="width:150px" />
                        </td>
                        <td style="width:50px">
                            <input type="button" id="btnGrabar" value="Grabar" style="width:100px" />
                        </td>
                    </tr>
                </table>

            </fieldset>

            <div class="content-hijo">
                <div id="Message"></div>
                <div class="table-list" id="listado"></div>
            </div>

        </div>

        <div style="margin:20px">
        </div>

    </div>

</div>