@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuarios Libres";
}

<link href="~/Content/Css/organizacion.css" rel="stylesheet" />
<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <img src="~/Content/Images/Banners/Informes.jpg" alt="" />
        <h1>Usuarios Libres</h1>
    </div>
</div>

<div style="clear:both"></div>
