
<form id="formCopiarHorizonte" name="formCopiarHorizonte">
    <p>
        Inicio
        <input type="text" id="FechaDesdeHorizonteHorizonte" name="FechaDesdeHorizonteHorizonte" value="01/01/2016" style="width:120px" />
        Fin
        <input type="text" id="FechaHastaHorizonteHorizonte" name="FechaHastaHorizonteHorizonte" value="01/01/2016" style="width:120px" />
    </p>
    <table border="1" style="background-color:#d1e6fa">
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td><input type="button" id="btnMensualSemanal" value="Del mensual al semanal" /></td>
                        <td><input type="button" id="btnSemanalDiario" value="Del semanal al diario" /></td>
                    </tr>
                    <tr>
                        <td><input type="button" id="btnAnualMensual" value="Del anual al mensual" /></td>
                        <td><input type="button" id="btnDiarioEjecutado" value="Del diario al ejecutado" /></td>
                    </tr>
                </table>
            </td>
            <td>
                <p>Tipo de operaci&oacute;n:</p>
                <p>
                    <input id="rbOperacionTodas" name="rbOperacionTodas"  type="radio" value="radiobutton" onclick="activaRadio(this.name)" />
                    Todos
                </p>
                <p id="OperacionUnica">
                    <input id="rbOperacionUnica" name="rbOperacionUnica" type="radio" value="radiobutton" onclick="activaRadio(this.name)" />
                    <span id="tipoOperacion">(Tipo de operaci&oacute;n)</span>
                </p>
            </td>
        </tr>
    </table>

    <p>&nbsp;</p>
    <table border="1" style="background-color:#FFFFCC">
        <tr>
            <td>
                <p>Rango de fechas del diario: </p>
                <p>
                    Inicio
                    <input type="text" id="FechaDesdeEjecutadoDiario" name="FechaDesdeEjecutadoDiario" value="01/01/2016" style="width:120px" />
                    Fin
                    <input type="text" id="FechaHastaEjecutadoDiario" name="FechaHastaEjecutadoDiario" value="01/01/2016" style="width:120px" />
                    <input type="button" id="btnEjecutadoDiario" value="Del ejecutado al diario" />
                </p>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp; </p>
</form>