@model COES.MVC.Intranet.Areas.Eventos.Models.RelacionAreaSubcausaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Relación";
}

<script src="~/Areas/Eventos/Content/Scripts/relacionAreaTipoOperacion.js?v=1.2"></script>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Relación de Área y Tipo de Operación</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="textoMensaje" style=" margin: 0; margin-bottom: 10px;"></div>

    <div class="content-tabla">

        <div class="table-list" id="listado" style="width: 700px">


        </div>
        <div style="clear:both; height:30px"></div>
    </div>
</div>

<!-- Relacion -->
<div id="popupRelacion" class="general-popup" style="width: 500px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Relación Áreas y Tipo de Operación</span></div>
    <div style="clear:both; height:20px"></div>

    <div class="panel-container">

        <table class="content-tabla-search">
            <tbody>
                <tr>
                    <td class="tbform-label" style="text-align: right">Tipo de Operación:</td>
                    <td id="formTipoOperacion"></td>
                </tr>
            </tbody>
        </table>

        <div class="active" style="display: block;">
            <table>
                <tbody>
                    <tr>
                        <td class="" style="vertical-align: top;">
                            <div id="listaArea">
                                <table id='tabla_area' style="display: none; margin-top: 15px; width: 70px"></table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <input type="hidden" id="hfCodigoSubcausa" value="0" />
        </div>
    </div>

    <div style="clear:both; height:20px"></div>
    <table style="width:200px;">
        <tr>
            <td id="tdUsuarioGuardar">
                <input id="btnRelacionGuardar" type="button" value="Guardar">
            </td>
            <td id="tdAgrpCancelar">
                <input id="btnRelacionCancelar" type="button" value="Cancelar">
            </td>
        </tr>
    </table>
</div>

<input type="hidden" id="hfListaArea" value="@Model.ListaAreaJson" />