 @model COES.MVC.Intranet.Areas.Hidrologia.Models.CambioEnvioModel  
<script type="text/javascript">

    $(function () {
        $('#cbFormato').change(function () {
            horizonte();
        });
    });

</script>

<select id="cbFormato">
    <option value="0">[Seleccionar Formato]</option>
        @foreach (var item in Model.ListaFormato)
        {
            <option value="@item.Formatcodi">@item.Formatnombre</option>
        }
</select>
<input type="hidden" id="hfFormato" />