@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Administracion/Content/Scripts/usuarios.js"></script>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Administración de Usuarios</div>
<div class="form-main" style="margin-top:10px">
    <div id="mensaje"></div>
    <div class="form-manual">
        <a href="JavaScript:openManual();">Manual de usuario</a>
    </div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="table-search">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">

                    </select>
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cbEstado">
                        <option value="">Todos</option>
                        <option value="A">Activo</option>
                        <option value="P">Pendiente</option>
                        <option value="B">Baja</option>
                    </select>
                </td>
                <td>Módulo</td>
                <td>
                    <select id="cbModulo">
                        <option value="48">MANTENIMIENTOS" </option> 
                        <option value="49">DEMANDA" </option> 
                        <option value="50">HIDROLOG&Iacute;A" </option> 
                        <option value="54">RECLAMO" </option> 
                        <option value="60">MEDIDORES GENERACI&Oacute;N" </option> 
                        <option value="65">CUMPLIMIENTO RPF" </option> 
                        <option value="79">TRANSFERENCIAS" </option> 
                    </select>
                </td>
                <td>Desde:</td>
                <td><input type="text" id="txtFechaInicio" value="@Model.FechaInicio" style="width:100px" /></td>
                <td>Hasta:</td>
                <td><input type="text" id="txtFechaHasta" value="@Model.FechaFin" style="width:100px" /></td>
                
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>