@{
    ViewBag.Title = "Garantías Mercado Electrico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<!--Hoja de estilos-->
<link href="~/Areas/GMM/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />

<link href="~/Areas/GMM/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/GMM/Content/Scripts/garantia.js?v=1.0"></script>

<script src="~/Areas/GMM/Content/Scripts/util.js"></script>
<script src="~/Areas/GMM/Content/Scripts/json2.js"></script>

<div class="ast">

    <div class="form-title">
        <div>Cálculo de garantías</div>
    </div>
    <br />
    <div class="content-hijo" style="padding-top:8px">
        <div class='action-message' id='mensaje' style="margin-bottom:5px;">Para iniciar seleccione un periodo</div>
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#reportes">Reportes</a></li>
            </ul>
            <div class='panel-container'>
                <div id="reportes">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="5"><div class="editor-label" style="color:#FFFFFF;"><b>Seleccionar los filtros para exportar la información deseada</b></div></td>
                            </tr>
                            <tr>
                                <td>Periodo: </td>
                                <td>Año: </td>
                                <td>
                                    <select id="anhorpt"></select>
                                </td>
                                <td>Mes: </td>
                                <td>
                                    <select id="mesrpt">
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="THCabecera">
                                <td colspan="3"><div class="editor-label" style="color:#FFFFFF;"><b>Lista de descargas disponibles</b></div></td>
                                <td colspan="2"><div class="editor-label" style="color:#FFFFFF;"><b>Excel</b></div></td>
                            </tr>
                            <tr>
                                <td colspan="3">Monto de Garantias para respaldar obligaciones de pago en el Mercado Mayorista de Electricidad (Soles):</td>
                                <td colspan="2"><a href="#" id="rpt1" title="Monto de Garantias para respaldar obligaciones de pago en el Mercado Mayorista de Electricidad (Soles)"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por energía activa:</td>
                                <td colspan="2"><a href="#" id="rpt2" title="Montos de Garantías por energía activa"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por capacidad y peaje SPT - SGT:</td>
                                <td colspan="2"><a href="#" id="rpt3" title="Montos de Garantías por capacidad y peaje SPT - SGT"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por servicios complementarios:</td>
                                <td colspan="2"><a href="#" id="rpt4" title="Montos de Garantías por servicios complementarios"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por recaudación de energía reactiva:</td>
                                <td colspan="2"><a href="#" id="rpt5" title="Montos de Garantías por recaudación de energía reactiva"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                            <tr>
                                <td colspan="3">Montos de Garantías por Inflexiblidades operativas:</td>
                                <td colspan="2"><a href="#" id="rpt6" title="Montos de Garantías por Inflexiblidades operativas"><img src="~/Areas/GMM/Content/Images/excel.gif" /></a></td>
                            </tr>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<!-- Botón flotante de WhatsApp -->
<a href="https://wa.me/51905469444" class="wsp" target="_blank" title="¿Necesitas ayuda? Escríbenos por WhatsApp">
    <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
</a>

<style>
    .wsp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        transition: transform 0.3s ease;
    }

        .wsp:hover {
            transform: scale(1.1);
        }

        .wsp img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
</style>


