<!--Detalle Producción-->
<div id="idPopupTablaResumen" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Tabla Resumen</span>
        <input type="button" value="Exportar" onclick="exportarTablaResumenProd();">
        <input type="hidden" id="hdTxtFechaIniResumen" />
        <input type="hidden" id="hdTxtFechaFinResumen" />
    </div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">

        <tr>
            <td class="tbform-label" style="width: 117px;">
                Rango de consulta:
            </td>
            <td style="width: 77px;">
                INICIO
            </td>
            <td style="width: 77px;">
                FIN
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="txtFechaIniResumen">            </td>
            <td id="txtFechaFinResumen">            </td>
        </tr>
    </table>

    <div id="div_tabla_registro">

    </div>
</div>

<!--Detalle Interconexión-->
<div id="idPopupTablaInterconexion" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Consulta Interconexión Perú-Ecuador</span>
        <input type="button" value="Exportar" onclick="exportarTablaInterconexion();">
        <input type="hidden" id="hdTxtFechaIniInter" />
        <input type="hidden" id="hdTxtFechaFinInter" />
    </div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">

        <tr>
            <td class="tbform-label" style="width: 117px;">
                Rango de consulta:
            </td>
            <td style="width: 77px;">
                INICIO
            </td>
            <td style="width: 77px;">
                FIN
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="txtFechaIniInter">            </td>
            <td id="txtFechaFinInter">            </td>
        </tr>
    </table>

    <div id="div_tabla_inter">

    </div>
</div>

<!--Detalle Maxima Demanda-->
<div id="idPopupTablaResumenMD" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Tabla Resumen</span>
        <input type="button" value="Exportar" onclick="exportarTablaResumenMD();">
        <input type="hidden" id="hdTxtFechaIniResumenMD" />
        <input type="hidden" id="hdTxtFechaFinResumenMD" />
        <input type="hidden" id="hdTxtFechaHoraMD" />
    </div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">

        <tr>
            <td class="tbform-label" style="width: 117px;">
                Rango de consulta:
            </td>
            <td style="width: 77px;">
                INICIO
            </td>
            <td style="width: 77px;">
                FIN
            </td>
            <td style="width: 77px;">            </td>
            <td class="tbform-label" style="width: 117px;">
                Máxima Demanda:
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="txtFechaIniResumenMD">            </td>
            <td id="txtFechaFinResumenMD">            </td>
            <td></td>
            <td id="txtFechaHoraResumenMD">            </td>
        </tr>
    </table>

    <div id="div_tabla_registro_md">

    </div>
</div>

<!--Detalle Interconexión Maxima Demanda-->
<div id="idPopupTablaInterconexionMD" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Consulta Interconexión Perú-Ecuador</span>
        <input type="button" value="Exportar" onclick="exportarTablaInterconexionMD();">
        <input type="hidden" id="hdTxtFechaIniInterMD" />
        <input type="hidden" id="hdTxtFechaFinInterMD" />
        <input type="hidden" id="hdTxtFechaHoraInterMD" />
    </div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">

        <tr>
            <td class="tbform-label" style="width: 117px;">
                Rango de consulta:
            </td>
            <td style="width: 77px;">
                INICIO
            </td>
            <td style="width: 77px;">
                FIN
            </td>
            <td style="width: 77px;">            </td>
            <td class="tbform-label" style="width: 117px;">
                Máxima Demanda:
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="txtFechaIniInterMD">            </td>
            <td id="txtFechaFinInterMD">            </td>
            <td></td>
            <td id="txtFechaHoraInterMD">            </td>
        </tr>
    </table>

    <div id="div_tabla_inter_md">

    </div>
</div>