@model COES.MVC.Extranet.Areas.StockCombustibles.Models.StockCombustiblesModel
@{
    ViewBag.Title = "Consumo de Combustibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/Formato/panelEnvio.css?v=1.7.8" rel="stylesheet" />
<link href="~/Areas/StockCombustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/md5.js"></script>
<script src="~/Content/Scripts/Handson/underscore.string.js"></script>
<script src="~/Content/Scripts/Handson/jstat.js"></script>
<script src="~/Content/Scripts/Handson/lodash.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/Handson/numeral.js"></script>
<script src="~/Content/Scripts/Handson/numeric.js"></script>
<script src="~/Content/Scripts/Handson/formula.js"></script>
<script src="~/Content/Scripts/Handson/parser.js"></script>
<script src="~/Content/Scripts/Handson/ruleJS.js"></script>
<script src="~/Content/Scripts/Handson/handsontable.formula.js"></script>
<script src="~/Content/Scripts/Formato/panelEnvio.js?v=1.7.9"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/consumo.js?v=1.7.3"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/globales.js?v=9.7"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/grillas.js?v=7.1"></script>
<script src="~/Areas/StockCombustibles/Content/Scripts/mensajes.js?v=5.0"></script>

<input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
<input type="hidden" id="hfEmpresa" value="" />
<div class="form-title_intranet">
    <div class="content-titulo">Envío de Consumo de Combustibles - Centrales Termoeléctricas</div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">Por favor seleccione la empresa y la fecha.</div>
    <div class='action-message' id='mensajeEvento' style='display:none'></div>
    <div class="search-content">

        <table>
            <tr>
                <td>
                    <table class="tabla-search" style="width:auto">
                        <tr>
                            <td>Empresa:</td>
                            <td>
                                <select id="cbEmpresa" name="IdEmpresa" style="width:250px;">
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>
                            <td>Fecha:</td>
                            <td>
                                <input type="text" id="txtFecha" name="Fecha" value="@Model.Fecha" />
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value="Aceptar" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div id="barraConsumo" style="display:none;">
                        <table style="width:100%">
                            <tr>
                                <td style="width:40%">
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; display:block" id="divAcciones">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td class="content-action" style="display: none">
                                                    <a href="#" id="btnEditarEnvio">
                                                        <div class="content-item-action">
                                                            <img src="~/Content/Images/edit.png" /><br />
                                                            <span>Editar</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="content-action">
                                                    <a href="#" id="btnDescargarFormato">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/StockCombustibles/Content/Images/bajar.png" /><br />
                                                            <span>Descargar</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="content-action" style="display: none">
                                                    <a href="#" id="btnEnviarDatos">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/StockCombustibles/Content/Images/enviar.png" /><br />
                                                            <span>Enviar</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="content-action" style="display: none">
                                                    <a href="#" id="btnMostrarErrores">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/StockCombustibles/Content/Images/errores.png" /><br />
                                                            <span>Errores</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="content-action">
                                                    <a href="#" id="btnVerEnvios">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/StockCombustibles/Content/Images/envios.png" /><br />
                                                            <span>Envíos</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                @{
                                                    if (Model.OpAccesoEmpresa)
                                                    {
                                                        <td class="content-action" style="display: none">

                                                            <div id="celdaDescargar">
                                                                <a href="#" id="btnHabilitaStock">
                                                                    <div class="content-item-action">
                                                                        <img src="~/Areas/StockCombustibles/Content/Images/write.png" /><br />
                                                                        <span>Stock</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    }
                                                }

                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td style="width:5%">
                                    <div id="selecFormato">
                                    </div>
                                </td>
                                <td style="width:55%">
                                    <strong>Nota: </strong>El consumo de combustible a cargar deberá corresponder a los períodos de operación en que las unidades de generación acoplaron al sistema.
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>

        </table>


    </div>
    <div class="content-tabla">
        <div class="bodyexcel" id='detalleFormato'></div>
    </div>
</div>

<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="enviosanteriores" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<div class="panel-ieod" id="idIeod">
</div>