@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EtapaERAModel
@{
    ViewBag.Title = "Eliminar Etapa ERACMF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Eliminar la informacion de Etapa ERACMF " }, { "sAccion", "Eliminar" } })
</div>
