@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EtapaERAModel
@{
    ViewBag.Title = "Editar Etapa - ERACMF ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de Etapa ERA CMF" }, { "sAccion", "Actualizar" } })
</div>
