


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });

     
    })

</script>

<style>
   
    .tabla-adicional tbody tr td:nth-child(4),
    .tabla-adicional tbody tr td:nth-child(5),
    .tabla-adicional tbody tr td:nth-child(6),
    .tabla-adicional tbody tr td:nth-child(7),
    .tabla-adicional tbody tr td:nth-child(8),
    .tabla-adicional tbody tr td:nth-child(9),
    .tabla-adicional tbody tr td:nth-child(10) {
        text-align:right;
    }




</style>

<div class="form-title">
    <div class="content-titulo">Reporte de empresas con saldos sin asignación</div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">

 
                <div class="search-content" style="margin-bottom:0px; padding:10px">
                    <table class="table-search">
                        <tr>
                            <td>Año:</td>
                            <td>
                                <select id="cbVersion" style="width:250px">
                                    <option>-SELECCIONE-</option>
                                </select>
                            </td>

                            <td>Mes:</td>
                            <td>
                                <select id="cbVersion" style="width:250px">
                                    <option>Julio</option>
                                </select>
                            </td>
                            
                            <td>
                                <input type="button" value="Consultar" />
                            </td>

                        </tr>
                    </table>
                </div>
         

    <div style="clear:both; height:20px"></div>

    <div id="listado">
        <table class="pretty tabla-adicional" id="tabla">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Estado Empresa</th>
                    <th>Periodo / Versión</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>AGRO INDUSTRIAL PARAMONGA</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 323.20</td>
                <tr><td> AGROAURORA S.A.C.</td><td>Activo></td><td>Junio.2020 Revisión 01</td><td>S/ 143.20</td>
                <tr><td>ATRIA ENERGIA</td><td>Activo></td><td>Mayo.2020 Revisión 02</td><td>S/ 423.20</td>
                <tr><td>BIOENERGIA DEL CHIRA S.A.</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 123.20</td>
                <tr><td>ENEL GREEN POWER S.A</td><td>Baja</td><td>Mayo.2020 Mensual</td><td>S/ 1233.20</td>
                <tr><td>AGRO INDUSTRIAL PARAMONGA</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 323.20</td>
                <tr><td> AGROAURORA S.A.C.</td><td>Activo</td><td>Junio.2020 Revisión 01</td><td>S/ 143.20</td>
                <tr><td>ATRIA ENERGIA</td><td>Activo></td><td>Mayo.2020 Revisión 02</td><td>S/ 423.20</td>
                <tr><td>BIOENERGIA DEL CHIRA S.A.</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 123.20</td>
                <tr><td>ENEL GREEN POWER S.A</td><td>Baja</td><td>Mayo.2020 Mensual</td><td>S/ 1233.20</td>
                <tr><td>AGRO INDUSTRIAL PARAMONGA</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 323.20</td>
                <tr><td> AGROAURORA S.A.C.</td><td>Activo</td><td>Junio.2020 Revisión 01</td><td>S/ 143.20</td>
                <tr><td>ATRIA ENERGIA</td><td>Activo></td><td>Mayo.2020 Revisión 02</td><td>S/ 423.20</td>
                <tr><td>BIOENERGIA DEL CHIRA S.A.</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 123.20</td>
                <tr><td>ENEL GREEN POWER S.A</td><td>Baja</td><td>Mayo.2020 Mensual</td><td>S/ 1233.20</td>
                <tr><td>AGRO INDUSTRIAL PARAMONGA</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 323.20</td>
                <tr><td> AGROAURORA S.A.C.</td><td>Activo></td><td>Junio.2020 Revisión 01</td><td>S/ 143.20</td>
                <tr><td>ATRIA ENERGIA</td><td>Activo></td><td>Mayo.2020 Revisión 02</td><td>S/ 423.20</td>
                <tr><td>BIOENERGIA DEL CHIRA S.A.</td><td>Activo</td><td>Mayo.2020 Mensual</td><td>S/ 123.20</td>
                <tr><td>ENEL GREEN POWER S.A</td><td>Baja</td><td>Mayo.2020 Mensual</td><td>S/ 1233.20</td>
            </tbody>
        </table>
    </div>





</div>

