


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });

    })

</script>

<div class="form-title">
    <div class="content-titulo">Relación de barras</div>
    <div class="content-botonera">
       
    </div>
</div>
<div class="content-hijo" id="mainLayout">

   
    <table style="width:100%">
        <tr>
            <td style="width:48%">
                <div class="popup-title"><span>Barras de Transferencias</span></div>
                

                <div class='action-message' id='mensaje' style="margin-bottom:5px">Seleccione una barra de transferencia.</div>
                <table class="pretty tabla-icono" id="tabla">
                    <thead>
                        <tr>
                            <th>Barra SEIN</th>
                            <th>Tensión</th>
                            <th>Barra Transferencia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AGUAYTIA 138</td>
                            <td>138</td>
                            <td>AGUAYTIA 138</td>

                            <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td>
                        </tr>
                        <tr><td>AGUAYTIA 220</td><td>220</td><td>AGUAYTIA 220</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>AGUAYTIA 22.9</td><td>220</td><td>AGUAYTIA 22.9</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ALTO LA LUNA 10</td><td>10</td><td>ALTO LA LUNA 10</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>HUALLANCA 138</td><td>220</td><td>HUALLACNA 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ALTO LA LUNA 60</td><td>60</td><td>ALTO LA LUNA 60</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ALTO PRADERAS 220</td><td>220</td><td>ALTO PRADERAS 220kV</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ARES 138</td><td>138</td><td>ARES138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ARICOTA 66</td><td>66</td><td>ARICOTA66</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ARICOTA1 66</td><td>66</td><td>ARICOTA1 66</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ARICOTA2 138</td><td>138</td><td>ARICOTA2 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>ASIA 220</td><td>220</td><td>ASIA 220</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>AUCAYACU 138</td><td>138</td><td>AUCAYACU 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>AYAVIRI 138</td><td>138</td><td>AYAVIRI 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>AZANGARO 138</td><td>138</td><td>AZANGARO 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>BELAUNDE 138</td><td>138</td><td>BELAUNDE 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>BIOENERGIA 13.8</td><td>13.8</td><td>BIOENERGIA 13.8</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>BOTIFLACA 138</td><td>138</td><td>BOTIFLACA 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>CACHIMAYO 138</td><td>138</td><td>CACHIMAYO 138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>CACLIC 220</td><td>220</td><td>CACLIC 220</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                        <tr><td>CAHUA 138</td><td>138</td><td>CAHUA138</td> <td>  <a><img src="~/Content/Images/btn-edit.png" /></a></td></tr>
                    </tbody>
                </table>
            </td>
            <td style="width:4%"></td>
            <td style="width:48%">
                <div class="popup-title"><span>Barras de suministro relacionadas</span></div>

                <div class='action-message' id='mensaje' style="margin-bottom:5px">Agregue las barras de suministros relacionadas.</div>
                <div style="clear:both; height:20px"></div>
                <div class="content-registro">
                    <table>
                        <tr>
                            <td class="registro-label">Barra SEIN:</td>
                            <td class="registro-control">
                                HUALLANCA 138
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Agregar barra suministro</td>
                            <td class="registro-control">
                                <select>
                                    <option>--SELECCIONE--</option>
                                </select>
                                <input type="button" value="Agregar" />
                            </td>

                        </tr>
                    </table>
                </div>
                <div style="clear:both; height:20px"></div>
                <table class="pretty tabla-icono">
                    <thead>
                        <tr>
                            <th>Barra SEIN</th>
                            <th>Tensión</th>
                            <th>Quitar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td>HUALLANCA 13.8</td>
                            <td>13.8</td>
                            <td>
                                <a>
                                    <img src="~/Content/Images/btn-cancel.png" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>HUALLANCA 66</td>
                            <td>66</td>
                            <td>
                                <a>
                                    <img src="~/Content/Images/btn-cancel.png" />
                                </a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td>KIMAN AYLLU 10</td>
                            <td>10</td>
                            <td>
                                <a>
                                    <img src="~/Content/Images/btn-cancel.png" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>HUARAZ OESTE 138</td>
                            <td>138</td>
                            <td>
                                <a>
                                    <img src="~/Content/Images/btn-cancel.png" />
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </td>
    </table>
    <div style="clear:both; height:10px">

    </div>
    <div class="popup-title"><span>Listado de Envíos</span></div>
    <div style="clear:both; height:20px">

    </div>
    <div id='listado'></div>


</div>

