


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });


        $('#tab-container').easytabs({
            animate: false
        });
    })

</script>

<div class="form-title">
    <div class="content-titulo">Relación de barras</div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">


    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Comparación con datos hístóricos</a></li>
            <li class='tab'><a href="#paso2">Comparación con datos de VTEA</a></li>
         
        </ul>
        <div class='panel-container'>
            <div id="paso1">
             

                <table style="width:100%">
                    <tr>
                        <td style="width:39%">

                            <div class="popup-title" style="margin-bottom:10px"><span>Porcentaje por defecto</span></div>
                            Porcentaje por defecto:  <input type="text" value="5%" />

                            <input type="button" value="Grabar" />

                            <div class="popup-title" style="margin-bottom:10px; margin-top:20px"><span>Porcentaje por empresa</span></div>

                            <table class="pretty tabla-icono">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Porcentaje</th>
                                        <th>Vigente a partir de</th>
                                        <th>
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            AGRO INDUSTRIAL PARAMONGA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            AGROAURORA S.A.C.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>

                                   
                                    <tr>
                                        <td style="background:#f6eda3">
                                            ATRIA ENERGIA
                                        </td>
                                        <td style="background:#f6eda3">5.0 %</td>
                                        <td style="background:#f6eda3">10/07/2020</td>
                                        <td style="background:#f6eda3">
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            BIOENERGIA DEL CHIRA S.A.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CELEPSA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CELEPSA RENOVABLES S.R.L.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CHINANGO S.A.C.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGASA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGEJUNIN
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGEMSA
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGESUR
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                   


                                </tbody>
                            </table>
                            <div style="width:80px; margin:15px auto">
                                <input type="button" value="Grabar" />
                            </div>

                        </td>
                        <td style="width:4%"></td>
                        <td style="width:57%">
                            <div class="popup-title" style="margin-bottom:10px"><span>Porcentaje por código</span></div>
                            <table class="pretty tabla-icono">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Cliente</th>
                                        <th>Barra Suministro</th>
                                        <th>Código VTP</th>
                                        <th>Porcentje</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGRICOLA DON RICARDO S.A.C.
                                        </td>
                                        <td>
                                            ICA 220
                                        </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGRICOLA GINOBETO S.A.C.
                                        </td>
                                        <td>	MARCONA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGRICOLA SOL DE VILLACURI S.A.C.
                                        </td>
                                        <td>	ICA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGRICOLA SOL DE VILLACURI S.A.C.
                                        </td>
                                        <td>	INDEPENDENCIA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGRO INVERSIONES LOS ABEDULES S.A.C.
                                        </td>
                                        <td>	SAN JUAN 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGROEX GROUP S.A.C.
                                        </td>
                                        <td>ICA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGRONEGOCIOS LA GRAMA S.A.C.
                                        </td>
                                        <td>CARIPA 138 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AGROPECUARIA RIO BRAVO HNOS S.A.C.
                                        </td>
                                        <td>INDEPENDENCIA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AJEPER
                                        </td>
                                        <td>SANTA ROSA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            AJEPER DEL ORIENTE S.A
                                        </td>
                                        <td>PUCALLPA 60 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>



                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            ALIMENTOS CIELO
                                        </td>
                                        <td>SANTA ROSA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>
                                            ALTA VIDDA GAS S.A.C.
                                        </td>
                                        <td>CHAVARRIA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATRIA ENERGIA</td>
                                        <td>ALTA VIDDA GAS S.A.C.	</td>
                                        <td>SANTA ROSA 220 </td>
                                        <td>
                                            VTP0001ATR
                                        </td>
                                        <td>
                                            4.5%
                                        </td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                            <div style="width:80px; margin:15px auto">
                                <input type="button" value="Grabar" />
                            </div>
                        </td>
                    </tr>
                </table>

               
            </div>
            <div id="paso2">
                <table style="width:100%">
                    <tr>
                        <td style="width:39%">

                            <div class="popup-title" style="margin-bottom:10px"><span>Porcentaje por defecto</span></div>
                            Porcentaje por defecto:  <input type="text" value="5%" />

                            <input type="button" value="Grabar" />

                            <div class="popup-title" style="margin-bottom:10px; margin-top:20px"><span>Porcentaje por empresa</span></div>

                            <table class="pretty tabla-icono">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Porcentaje</th>
                                        <th>Vigente a partir de</th>
                                        <th>
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            AGRO INDUSTRIAL PARAMONGA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            AGROAURORA S.A.C.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td >
                                            ATRIA ENERGIA
                                        </td>
                                        <td >5.0 %</td>
                                        <td >10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            BIOENERGIA DEL CHIRA S.A.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CELEPSA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CELEPSA RENOVABLES S.R.L.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CHINANGO S.A.C.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGASA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGEJUNIN
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGEMSA
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGESUR
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                            <div style="width:80px; margin:15px auto">
                                <input type="button" value="Grabar" />
                            </div>

                        </td>
                        <td style="width:4%"></td>
                        <td style="width:57%">
                           
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>



</div>

