


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });

        $('#txtInicio').Zebra_DatePicker({});
        $('#txtFin').Zebra_DatePicker({});

    })

</script>

<style>
    .pretty tbody tr td select {
        width: 80px;
        background-color: white !important
    }

    .content-registro table tr td select, .content-registro table tr td textarea, .content-registro table tr td input[type=text] {
        background-color: white !important
    }

    .content-registro table tr td input[type=text], #tableVTP tbody tr td:nth-child(2) {
        background-color: #FFFFB3 !important
    }
    .registro-label {
        background-color: #f2f5f7 !important
    }

    .content-tabla-search tr td {
        padding:5px
    }
</style>

<div class="form-title">
    <div class="content-titulo">Relación de barras</div>
    <div class="content-botonera">
       
    </div>
</div>
<div class="content-hijo" id="mainLayout">

    <div class='action-message' id='mensaje' style="margin-bottom:5px; display:none">Por favor complete los datos solicitados.</div>
    <div class="popup-title"><span>Datos comunes</span></div>
    <div style="clear:both; height:10px"></div>

    <table style="width:100%">
        <tr>
            <td>


                <div class="search-content" style="margin-bottom:0px; padding:10px">
                    <table class="table-search" style="width:100%">
                        <tr>
                            <td>
                                Empresa:
                            </td>
                            <td>
                                Cliente:
                            </td>
                            <td>
                                Tipo de Contrato:
                            </td>
                            <td>
                                Tipo de Usuario:
                            </td>
                            <td>
                                Fecha inicio:
                            </td>
                            <td>
                                Fecha fin:
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <select id="cbPeriodo" name="IdPeriodo" style="width:220px">
                                    <option>FENIX POWER PERU</option>
                                </select>
                            </td>

                            <td>
                                <select id="cbPeriodo" name="IdPeriodo" style="width:220px">
                                    <option>HIDRANDINA</option>
                                </select>
                            </td>

                            <td>
                                <select id="cbVersion">
                                    <option>BILATERAL</option>
                                </select>
                            </td>

                            <td>
                                <select id="cbVersion">
                                    <option>REGULADO</option>
                                </select>
                            </td>


                            <td>
                                <input type="text" id="txtInicio" value="02/01/2013" />
                            </td>

                            <td>
                                <input type="text" id="txtFin" value="02/01/2013" />
                            </td>


                        </tr>

                    </table>
                </div>
            </td>

        </tr>
    </table>
    <div style="clear:both; height:10px">

    </div>

    <table style="width:100%">
        <tr>
            <td style="width:47%" valign="top">
                <div class="popup-title"><span>Datos LVTEA</span></div>
                <div style="clear:both; height:20px"></div>

                <div class="content-registro">
                    <table>
                        <tr>
                            <td style="padding-right:30px" class="registro-label">
                                Barra de transferencia:
                            </td>

                            <td class="registro-control">
                                <select id="barra" style="width:275px">
                                    <option>HUALLANCA 138</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right:30px" class="registro-label">
                                Código:
                            </td>

                            <td class="registro-control">
                                <input type="text" value="CL00020FPP"  style="width:270px" />
                            </td>
                        </tr>
                       
                        <tr>
                            <td class="registro-label">Descripción:</td>

                            <td class="registro-control">
                                <textarea style="width:270px; height:40px">HIDROANDINA</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Mayor detalle:</td>

                            <td class="registro-control">
                                <textarea style="width:270px; height:40px">HIDROANDINA</textarea>
                            </td>
                        </tr>
                    </table>

                </div>


            </td>
            <td style="width:6%"></td>
            <td style="width:47%" valign="top">

                @*<table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <input type="radio" />Contrato por Potencia y Energía

                        </td>
                        <td style="width:20px"></td>
                        <td>
                            <input type="radio" />Contrato solo de Energía
                        </td>
                    </tr>
                </table>*@
                <div style="clear:both;height:10px"></div>
                <div class="popup-title"><span>Datos LVTP</span></div>
                <div style="clear:both; height:20px"></div>
                <table class="pretty tabla-adicional tabla-icono" id="tableVTP">
                    <thead>
                        <tr>
                            <th>BARRA DE SUMINISTRO</th>
                            <th>CÖDIGO</th>

                            @*<th>NRO REGISTROS</th>*@
                            <th>Quitar</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td>HUALLANCA 13.8 KV</td>
                            <td style="font-weight:bold">P0020FPP</td>
                            @*<td>
                        <select>
                            <option>1</option>
                        </select>
                    </td>*@
                            <td>
                                <a><img src="~/Content/Images/btn-cancel.png" /></a>
                            </td>

                        </tr>
                        <tr class="odd">
                            <td>HUALLANCA 13.8 KV</td>
                            <td style="font-weight:bold">P0021FPP</td>
                            @*<td>
                        <select>
                            <option>1</option>
                        </select>
                    </td>*@
                            <td>
                                <a><img src="~/Content/Images/btn-cancel.png" /></a>
                            </td>

                        </tr>
                        <tr>
                            <td>HUALLANCA 138 KV</td>
                            <td style="font-weight:bold">P0022FPP</td>
                            @*<td>
                        <select>
                            <option>1</option>
                        </select>
                    </td>*@
                            <td>
                                <a><img src="~/Content/Images/btn-cancel.png" /></a>
                            </td>

                        </tr>
                        <tr class="odd">
                            <td>HUALLANCA 66 KV</td>
                            <td style="font-weight:bold">P0022FPP</td>
                            @*<td>
                        <select>
                            <option>1</option>
                        </select>
                    </td>*@
                            <td>
                                <a><img src="~/Content/Images/btn-cancel.png" /></a>
                            </td>

                        </tr>
                        <tr>
                            <td>KIMAN AYLLU 10 KV</td>
                            <td style="font-weight:bold">P0022FPP</td>
                            @*<td>
                        <select>
                            <option>1</option>
                        </select>
                    </td>*@
                            <td>
                                <a><img src="~/Content/Images/btn-cancel.png" /></a>
                            </td>


                        </tr>
                        <tr class="odd">
                            <td>HUARAZ OESTE 138 KV</td>
                            <td style="font-weight:bold"> P0023FPP</td>
                            @*<td>
                        <select>
                            <option>1</option>
                        </select>
                    </td>*@
                            <td>
                                <a><img src="~/Content/Images/btn-cancel.png" /></a>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:center; padding:10px">
                                <input type="button" value="Agregar barras de suministro" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </table>



    <div style="margin-top:20px"></div>

    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="content-tabla-search" style="width:100%">
            <tr>

                <td>
                    Estado:
                </td>
                <td>
                    <select id="cbPeriodo" name="IdPeriodo" style="width:220px">
                        <option>ACTIVO</option>
                    </select>
                </td>
                <td>
                    Usuario Registro:
                </td>
                <td>
                   <input type="text"  value="Agente"/>
                </td>
                <td>
                    Fecha Registro:
                </td>
                <td>
                    <input type="text" value="10/07/2020" />
                </td>
                <td>% Variación</td>
                <td>
                    <input type="text" value="5.0%" />
                </td>

            </tr>
        

        </table>
    </div>

    <div style="width:250px; margin:10px auto">
        <table>
            <tr>
                <td>

                    <input type="button" value="Grabar" />
                    <input type="button" value="Cancelar" />
                </td>
            </tr>
        </table>
    </div>

    </div>

