@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });

        $('#tab-container').easytabs({
            animate: false
        });

        $('#txtInicio').Zebra_DatePicker({});
        $('#txtFin').Zebra_DatePicker({});
        $('#txtFechaInicio1').Zebra_DatePicker({});
        $('#txtFechaFin1').Zebra_DatePicker({});


        $('#cbBarraTr').multipleSelect({
            width: '160px',
            filter: true
        });

        Highcharts.chart('contenedor', {

            title: {
                text: 'Costos Marginales Totales'
            },



            yAxis: {
                title: {
                    text: 'S/ / kWh'
                }
            },

            xAxis: {
                accessibility: {
                    rangeDescription: 'Range: 2010 to 2017'
                }
            },

            legend: {


            },

            plotOptions: {
                series: {
                    label: {

                    },
                    pointStart: 0
                }
            },

            series: [{
                name: 'AGUAYTIA 13.8',
                data: [
                    0.035319454, 0.034954656, 0.034954656, 0.034787588, 0.034787588, 0.03485308, 0.03485308, 0.034861379, 0.034861379, 0.034713453, 0.034713453, 0.034666218, 0.034666218, 0.034763153, 0.034763153, 0.03472108, 0.03472108, 0.034810545, 0.034810545, 0.035492088, 0.035492088, 0.03534886, 0.03534886, 0.035406283, 0.035406283, 0.035231991, 0.035231991, 0.035411752, 0.034810545, 0.035649236, 0.035649236, 0.036283174, 0.036283174, 0.036720009, 0.036720009, 0.036364764, 0.036364764, 0.035801717,

                ]
            }, {
                name: 'AGUAYTIA 138',
                data: [
                    0.035356224, 0.034989851, 0.034989851, 0.034821838, 0.034821838, 0.034887406, 0.034887406, 0.034894768, 0.034894768, 0.034745946, 0.034745946, 0.034698465, 0.034698465, 0.034796342, 0.034796342, 0.034753536, 0.034753536, 0.034844264, 0.034844264, 0.035527251, 0.035527251, 0.035383578, 0.035383578, 0.035443627, 0.035443627, 0.035273079, 0.035273079, 0.035459914, 0.034844264, 0.035701541, 0.035701541, 0.036339584, 0.036339584, 0.036781188, 0.036781188, 0.036427578, 0.036427578, 0.035864899,

                ]
            }, {
                name: 'ALTO PRADERAS 220kV',
                data: [
                    0.035341503, 0.03497576, 0.03497576, 0.034808125, 0.034808125, 0.034873662, 0.034873662, 0.034881399, 0.034881399, 0.034732936, 0.034732936, 0.034685553, 0.034685553, 0.034783053, 0.034783053, 0.03474054, 0.03474054, 0.034830763, 0.034830763, 0.035513172, 0.035513172, 0.035369678, 0.035369678, 0.035428676, 0.035428676, 0.03525663, 0.03525663, 0.035440636, 0.034830763, 0.035680606, 0.035680606, 0.036317007, 0.036317007, 0.036756703, 0.036756703, 0.036402439, 0.036402439, 0.035839613,

                ]
            }, {
                name: 'ARICOTA1 66',
                data: [
                    0.03531942, 0.034954622, 0.034954622, 0.034787555, 0.034787555, 0.034853046, 0.034853046, 0.034861345, 0.034861345, 0.03471342, 0.03471342, 0.034666184, 0.034666184, 0.034763119, 0.034763119, 0.034721047, 0.034721047, 0.034810511, 0.034810511, 0.035492054, 0.035492054, 0.035348827, 0.035348827, 0.035406249, 0.035406249, 0.035231958, 0.035231958, 0.035411718, 0.034810511, 0.035649202, 0.035649202, 0.036283139, 0.036283139, 0.036719974, 0.036719974, 0.036364729, 0.036364729, 0.035801683,

                ]
            }, {
                name: 'AUCAYACU 138',
                data: [
                    0.036424161, 0.03613599, 0.03613599, 0.035973873, 0.035973873, 0.035937086, 0.035937086, 0.03597715, 0.03597715, 0.036197648, 0.036197648, 0.036168907, 0.036168907, 0.036380917, 0.036380917, 0.036182301, 0.036182301, 0.036357884, 0.036357884, 0.036909351, 0.036909351, 0.036761173, 0.036761173, 0.036522652, 0.036522652, 0.036102512, 0.036102512, 0.035845982, 0.036357884, 0.036157121, 0.036157121, 0.036783931, 0.036783931, 0.037136646, 0.037136646, 0.036493774, 0.036493774, 0.035827276,

                ]
            },

            {
                name: 'AZANGARO 138',
                data: [
                    0.036520266, 0.036226638, 0.036226638, 0.036067366, 0.036067366, 0.036029894, 0.036029894, 0.036066065, 0.036066065, 0.036291821, 0.036291821, 0.03625514, 0.03625514, 0.036429232, 0.036429232, 0.036272309, 0.036272309, 0.03644698, 0.03644698, 0.037015518, 0.037015518, 0.036872026, 0.036872026, 0.036634904, 0.036634904, 0.036218459, 0.036218459, 0.035970384, 0.03644698, 0.03627677, 0.03627677, 0.036906603, 0.036906603, 0.037041725, 0.037041725, 0.036457351, 0.036457351, 0.036002783,


                ]
            },
            {
                name: 'BELAUNDE 138',
                data: [
                    0.036507326, 0.036215627, 0.036215627, 0.036054613, 0.036054613, 0.036017137, 0.036017137, 0.036054146, 0.036054146, 0.036279214, 0.036279214, 0.036243604, 0.036243604, 0.036421438, 0.036421438, 0.036260369, 0.036260369, 0.036434005, 0.036434005, 0.037001606, 0.037001606, 0.036857279, 0.036857279, 0.036619998, 0.036619998, 0.036203431, 0.036203431, 0.035953292, 0.036434005, 0.036261823, 0.036261823, 0.036890299, 0.036890299, 0.037123108, 0.037123108, 0.036525129, 0.036525129, 0.035963499,


                ]
            },
            {
                name: 'BIOENERGIA 13.8',
                data: [
                    0.033312018, 0.032902224, 0.032902224, 0.032738454, 0.032738454, 0.032780188, 0.032780188, 0.032772773, 0.032772773, 0.032724164, 0.032724164, 0.032638892, 0.032638892, 0.032882844, 0.032882844, 0.032654048, 0.032654048, 0.032884306, 0.032884306, 0.033381174, 0.033381174, 0.03330073, 0.03330073, 0.033324138, 0.033324138, 0.033177182, 0.033177182, 0.033343312, 0.032884306, 0.033736665, 0.033736665, 0.034565299, 0.034565299, 0.0346092, 0.0346092, 0.034188889, 0.034188889, 0.03395416,


                ]
            },
            {
                name: 'CALLALLI 220',
                data: [

                    0.035568526, 0.035177175, 0.035177175, 0.035001791, 0.035001791, 0.035069925, 0.035069925, 0.035085643, 0.035085643, 0.0349155, 0.0349155, 0.03487181, 0.03487181, 0.034875965, 0.034875965, 0.034951609, 0.034951609, 0.035048681, 0.035048681, 0.035733809, 0.035733809, 0.035600497, 0.035600497, 0.035660842, 0.035660842, 0.035489748, 0.035489748, 0.035654503, 0.035048681, 0.03595742, 0.03595742, 0.036610832, 0.036610832, 0.037043988, 0.037043988, 0.036694781, 0.036694781, 0.036118188,

                ]
            }
            ],



        });


        //  Highcharts.chart('contenedor2', {

        //    title: {
        //        text: 'Comparación de Costos Marginales'
        //    },

        //    yAxis: {
        //        title: {
        //            text: 'S/ / kWh'
        //        }
        //    },

        //    xAxis: {
        //        accessibility: {
        //            rangeDescription: 'Range: 2010 to 2017'
        //        }
        //    },

        //    legend: {


        //    },

        //    plotOptions: {
        //        series: {
        //            label: {

        //            },
        //            pointStart: 0
        //        }
        //    },

        //    series: [{
        //        name: 'COSTO MARGINAL 1',
        //        color: '#0099CC',
        //        data: [
        //            0.035649454, 0.034954656, 0.034954656, 0.034787588, 0.034787588, 0.03485308, 0.03485308, 0.034861379, 0.034861379, 0.034713453, 0.034713453, 0.034666218, 0.034666218, 0.034763153, 0.034763153, 0.03472108, 0.03472108, 0.034810545, 0.034810545, 0.035492088, 0.035492088, 0.03534886, 0.03534886, 0.035406283, 0.035406283, 0.035231991, 0.035231991, 0.035411752, 0.034810545, 0.035649236, 0.035649236, 0.036283174, 0.036283174, 0.036720009, 0.036720009, 0.036364764, 0.036364764, 0.035801717,

        //        ]
        //    }, {
        //            name: 'COSTO MARGINAL 2',
        //            color: '#FF6600',
        //            data: [
        //                0.035356224, 0.034989851, 0.034989851, 0.035821838, 0.034821838, 0.034887406, 0.034887406, 0.034894768, 0.034894768, 0.034745946, 0.034745946, 0.034698465, 0.034698465, 0.034796342, 0.034796342, 0.034753536, 0.034753536, 0.034844264, 0.034844264, 0.035527251, 0.035527251, 0.035383578, 0.035383578, 0.035443627, 0.035443627, 0.035273079, 0.035273079, 0.035459914, 0.034844264, 0.035701541, 0.035701541, 0.036339584, 0.036339584, 0.036781188, 0.036781188, 0.036427578, 0.036427578, 0.035864899,

        //            ]
        //    }
        //    ],



        //});

        Highcharts.chart('contenedor2', {

            title: {
                text: 'Desviación de Costos Marginales'
            },
            chart: {
                type: 'column'
            },


            yAxis: {
                title: {
                    text: 'S/ / kWh'
                }
            },

            xAxis: {
                accessibility: {
                    rangeDescription: 'Range: 2010 to 2017'
                }
            },

            legend: {


            },

            plotOptions: {
                series: {
                    label: {

                    },
                    pointStart: 0
                }
            },

            series: [{
                name: '% VARIACIÓN',
                color: '#66C6CC',
                data: [
                    -8.94,
                    - 3.94,
                    - 9.46,
                    - 7.46,
                    - 9.53,
                    - 10.53,
                    - 9.27,
                    - 3.27,
                    - 9.44,
                    - 5.44,
                    - 10.38,
                    - 13.38,
8.61,
7.61,
5.61,
10.61,
8.61,
9.61,
10.21,
9.23,
8.74,
6.61,
2.61,
3.21,
12.61,


                ]
            }
            ],



        });


           Highcharts.chart('contenedor3', {

            title: {
                text: 'Promedio diario de Costos Marginales'
            },



            yAxis: {
                title: {
                    text: 'S/ / MWh'
                }
            },

            xAxis: {
                accessibility: {
                    rangeDescription: 'Range: 2010 to 2017'
                },
                categories: [
                    '12/01/2020',
                    '13/01/2020',
                    '14/01/2020',
                    '15/01/2020',
                    '16/01/2020',
                    '17/01/2020',
                    '18/01/2020',
                    '19/01/2020',
                    '20/01/2020',
                    '21/01/2020',
                    '22/01/2020',
                    '23/01/2020',
                    '24/01/2020',
                    '25/01/2020',
                    '26/01/2020',
                    '27/01/2020',
                    '28/01/2020'
                ]
               
            },

              
                   
            legend: {


            },

            plotOptions: {
                series: {
                    label: {

                    },
                    pointStart: 0
                }
            },

            series: [
            {
                name: 'PROMEDIO DIARIO',
                data: [
                    51.281621,
                    51.191093,
                    46.899515,
                    50.106932,
                    46.603113,
                    51.538312,
                    50.29559,
                    49.431679,
                    50.104884,
                    49.008221,
                    47.957861,
                    47.500722,
                    51.226498,
                    47.124424,
                    51.350338,
                    45.928522,
                    47.010045

                ]
            }
            ],



        });

});


</script>

<style>
    .tabla-adicional tbody tr td:nth-child(3),
    .tabla-adicional tbody tr td:nth-child(4),
    .tabla-adicional tbody tr td:nth-child(5),
    .tabla-adicional tbody tr td:nth-child(6),
    .tabla-adicional tbody tr td:nth-child(7),
    .tabla-adicional tbody tr td:nth-child(8),
    .tabla-adicional tbody tr td:nth-child(9),
    .tabla-adicional tbody tr td:nth-child(10) {
        text-align:right;
    }


    .busque {
        width: 200px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 12px;
        background-color: white !important;
        background-image: url(https://www.coes.org.pe/Portal/Content/images/search.png);
        background-position: 10px 5px;
        text-indent: 30px;
        line-height: 16px;
        height: 24px !important;
        line-height: 25px !important;
        background-repeat: no-repeat;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    .change-dashboard {
        width: 230px;
        float: right;
        height: 25px;
        line-height: 25px;
        color: #4BA2DB;
        cursor: pointer;
    }

        .change-dashboard .active {
            background-color: #5BC0DE;
            color: #fff;
        }

    .change-dashboard-item-l {
        border-radius: 5px 0 0 5px;
        border: 1px solid #4BA2DB;
        width: 112px;
        float: left;
        text-align: center;
        background-color: #fff;
        font-weight: bold;
    }

    .change-dashboard-item-r {
        border-radius: 0 5px 5px 0;
        border: 1px solid #4BA2DB;
        border-left: 1px none;
        width: 112px;
        float: left;
        text-align: center;
        background-color: #fff;
        font-weight: bold;
    }

    .change-dashboard-tooltip {
        display: none;
        width: 183px;
        height: 63px;
        border-radius: 5px;
        position: absolute;
        z-index: 1000;
        background-color: #4BA2DB;
        color: #fff;
        padding: 8px;
        line-height: 16px;
        margin-top: 30px;
    }




</style>

<div class="form-title">
    <div class="content-titulo">Consulta y comparación de Costos Marginales</div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">


    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Consulta de Costos Marginales</a></li>
            <li class='tab'><a href="#paso2">Desviaciones de Costos Marginales</a></li>
            <li class='tab'><a href="#paso3">Promedidos Costos Marginales</a></li>
        </ul>
        <div class='panel-container'>
            <div id="paso1">


                <div class="search-content" style="margin-bottom:0px; padding:10px">

                    <table class="content-tabla-search" style="width:100%">
                        <tr>
                            <td>
                                Periodo:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    <option>--SELECCIONE--</option>
                                </select>
                            </td>



                            <td>
                                Versión:
                            </td>
                            <td>
                                <select id="">
                                    <option>--TODOS--</option>
                                    <option>MENSUALES</option>
                                    <option>SOLO REVISIONES</option>
                                </select>
                            </td>
                            <td>
                                Fecha Inicio
                            </td>
                            <td>
                                <input type="text" id="txtFin" />
                            </td>

                            <td>
                                Periodo Fin:
                            </td>
                            <td>
                                <input type="text" id="txtInicio" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:center; padding-top:10px">
                                <input type="button" value="Consultar" />
                                <input type="button" value="Exportar" />
                            </td>
                        </tr>

                    </table>

                </div>

                <div style="clear:both; height:20px"></div>

                <div id="listado">

                    <table style="width:100%">
                        <tr>
                            <td style="width:200px">

                                <div class="popup-title">
                                    <span>Barra de Transferencia:</span>
                                </div>
                                <div style="clear:both; height:20px"></div>
                                <table class="pretty tabla-adicional" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th colspan="2">

                                                <input type="text" class="busque" />
                                            </th>

                                        </tr>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>

                                                <input type="checkbox" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>AGUAYTIA 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ALTO LA LUNA 10</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ALTO PRADERAS 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ARES 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ARICOTA 66</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ASIA 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>AUCAYACU 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>AZANGARO 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BELAUNDE 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BOTIFLACA 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CACLIC 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CAJAMARCA 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CAJAMARQUILLA  220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CALLALLI  220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CANTERA  220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>


                            </td>
                            <td></td>
                            <td>

                                <div class="change-dashboard">
                                    <div class="change-dashboard-item-l active item-change-dashboard" data-fuente="scada">Consolidado</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-scada">
                                        <strong>CM Total:</strong> Datos instantáneos de potencia cada 30 minutos del sistema SCADA/COES
                                    </div>
                                    <div class="change-dashboard-item-r item-change-dashboard" data-fuente="medidores">Disgregado</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-medidores">
                                        <strong>CM Congestión:</strong> Datos cada 15 minutos medidores electrónicos (Obtenidos los primeros días de cada mes)
                                    </div>
                                    <input type="hidden" id="hfFuenteGeneracion" value="scada" />
                                </div>

                                <div class="change-dashboard">
                                    <div class="change-dashboard-item-l active item-change-dashboard" data-fuente="scada">CM Total</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-scada">
                                        <strong>CM Total:</strong> Datos instantáneos de potencia cada 30 minutos del sistema SCADA/COES
                                    </div>
                                    <div class="change-dashboard-item-r item-change-dashboard" data-fuente="medidores">CM Congestión</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-medidores">
                                        <strong>CM Congestión:</strong> Datos cada 15 minutos medidores electrónicos (Obtenidos los primeros días de cada mes)
                                    </div>
                                    <input type="hidden" id="hfFuenteGeneracion" value="scada" />
                                </div>
                                <div style="clear:both; height:20px"></div>

                                <div id="contenedor" style="width:1000px"></div>

                            </td>
                        </tr>
                    </table>

                </div>


            </div>
            <div id="paso2">

                <div class="search-content" style="margin-bottom:0px; padding:10px">

                    <table class="content-tabla-search" style="width:100%">
                        <tr>
                            <td>
                                Periodo 1:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    <option>--SELECCIONE--</option>
                                </select>
                            </td>

                            <td>
                                Versión 1:
                            </td>
                            <td>
                                <select id="">
                                    <option>--TODOS--</option>
                                    <option>MENSUALES</option>
                                    <option>SOLO REVISIONES</option>
                                </select>
                            </td>

                            <td>
                                Dia 1:
                            </td>
                            <td>
                                <select id="">
                                    <option>--TODOS--</option>
                                    <option>MENSUALES</option>
                                    <option>SOLO REVISIONES</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Periodo 2:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    <option>--SELECCIONE--</option>
                                </select>
                            </td>


                            <td>
                                Versión 2:
                            </td>
                            <td>
                                <select id="">
                                    <option>--TODOS--</option>
                                    <option>MENSUALES</option>
                                    <option>SOLO REVISIONES</option>
                                </select>
                            </td>


                            <td>
                                Dia 2:
                            </td>
                            <td>
                                <select id="">
                                    <option>--TODOS--</option>
                                    <option>MENSUALES</option>
                                    <option>SOLO REVISIONES</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Barra:
                            </td>
                            <td>
                                <select id="cbBarraTr">

                                    <option>AGUAYTIA 138</option>
                                    <option>ALTO LA LUNA 10</option>
                                    <option>ARES 138</option>
                                    <option>ARICOTA 66</option>
                                    <option>ASIA 220</option>
                                    <option>AUCAYACU 138</option>
                                    <option>AZANGARO 138</option>
                                    <option>BELAUNDE 138</option>
                                    <option>BOTIFLACA 138</option>
                                    <option>CACLIC 220</option>
                                    <option>CAJAMARCA 220</option>
                                    <option>CAJAMARQUILLA 220</option>
                                </select>
                            </td>
                            <td>
                                Tipo CM:
                            </td>
                            <td>
                                <select id="">
                                    <option>CM TOTAL</option>
                                    <option>MENSUALES</option>
                                    <option>SOLO REVISIONES</option>
                                </select>
                            </td>
                            <td colspan="2">
                                <input type="button" value="Consultar" />
                                <input type="button" value="Exportar" />
                            </td>
                        </tr>


                    </table>

                </div>

                <div style="clear:both; height:20px"></div>

                <div id="listado">

                    <table style="width:100%">
                        <tr>
                            <td style="width:200px">

                                <div class="popup-title">
                                    <span>Desviación de Costos Marginales:</span>
                                </div>
                                <div style="clear:both; height:20px"></div>

                                <table class="pretty tabla-adicional">
                                    <thead>
                                        <tr>
                                            <th>Hora</th>
                                            <th style="background-color:#0099CC">Costo Marginal 1</th>
                                            <th style="background-color:#FF6600">Costo Marginal 2</th>
                                            <th style="background-color:#66C6CC">% Desviación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>00:30</td><td>033436	</td><td>036424	</td><td>8.94</td></tr>
                                        <tr><td>01:00</td><td>033436	</td><td>036424	</td><td>8.94</td></tr>
                                        <tr><td>01:30</td><td>033012	</td><td>036136	</td><td>9.46</td></tr>
                                        <tr><td>02:00</td><td>033012	</td><td>036136	</td><td>9.46</td></tr>
                                        <tr><td>02:30</td><td>032843	</td><td>035974	</td><td>9.53</td></tr>
                                        <tr><td>03:00</td><td>032843	</td><td>035974	</td><td>9.53</td></tr>
                                        <tr><td>03:30</td><td>032888	</td><td>035937	</td><td>9.27</td></tr>
                                        <tr><td>04:00</td><td>032888	</td><td>035937	</td><td>9.27</td></tr>
                                        <tr><td>04:30</td><td>032873	</td><td>035977	</td><td>9.44</td></tr>
                                        <tr><td>05:00</td><td>032873	</td><td>035977	</td><td>9.44</td></tr>
                                        <tr><td>05:30</td><td>032793	</td><td>036198	</td><td>10.38</td></tr>
                                        <tr><td>06:00</td><td>032793	</td><td>036198	</td><td>10.38</td></tr>
                                        <tr><td>06:30</td><td>032701	</td><td>036169	</td><td>-10.61</td></tr>
                                        <tr><td>07:00</td><td>032701	</td><td>036169	</td><td>10.61</td></tr>
                                        <tr><td>07:30</td><td>032959	</td><td>036381	</td><td>10.38</td></tr>
                                        <tr><td>08:00</td><td>032959	</td><td>036381	</td><td>10.38</td></tr>
                                        <tr><td>08:30</td><td>032722	</td><td>036182	</td><td>10.57</td></tr>
                                        <tr><td>09:00</td><td>032722	</td><td>036182	</td><td>10.57</td></tr>
                                        <tr><td>09:30</td><td>032959	</td><td>036358	</td><td>10.31</td></tr>
                                        <tr><td>10:00</td><td>032959	</td><td>036358	</td><td>10.31</td></tr>
                                        <tr><td>10:30</td><td>033464	</td><td>036909	</td><td>10.30</td></tr>
                                        <tr><td>11:00</td><td>033464	</td><td>036909	</td><td>10.30</td></tr>
                                        <tr><td>11:30</td><td>033393	</td><td>036761	</td><td>10.09</td></tr>
                                        <tr><td>12:00</td><td>033393	</td><td>036761	</td><td>10.09</td></tr>
                                        <tr><td>12:30</td><td>033453	</td><td>036523	</td><td>9.18</td></tr>


                                    </tbody>
                                </table>


                            </td>
                            <td></td>
                            <td>
                                <div class="change-dashboard">
                                    <div class="change-dashboard-item-l  item-change-dashboard" data-fuente="scada">Comparación</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-scada">
                                        <strong>CM Total:</strong> Datos instantáneos de potencia cada 30 minutos del sistema SCADA/COES
                                    </div>
                                    <div class="change-dashboard-item-r active item-change-dashboard" data-fuente="medidores">Desviación</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-medidores">
                                        <strong>CM Congestión:</strong> Datos cada 15 minutos medidores electrónicos (Obtenidos los primeros días de cada mes)
                                    </div>
                                    <input type="hidden" id="hfFuenteGeneracion" value="scada" />
                                </div>
                                <div style="clear:both; height:20px"></div>

                                <div id="contenedor2" style="width:900px"></div>

                            </td>
                        </tr>
                    </table>

                </div>



            </div>

            <div id="paso3">

                <div class="search-content" style="margin-bottom:0px; padding:10px">

                    <table class="content-tabla-search" style="width:100%">
                        <tr>
                            <td>
                                Tipo Promedio:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    @*<option>MENSUAL</option>*@
                                    <option>DIARIO</option>
                                </select>
                            </td>

                            @*<td>
                                Periodo 1:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    <option>Marzo.2019</option>
                                </select>
                            </td>

                            <td>
                                Periodo 2:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    <option>Julio.2020</option>
                                </select>
                            </td>*@
                            <td>
                                Desde:
                            </td>
                            <td>
                                <input type="text" id="txtFechaInicio1" />
                            </td>

                            <td>
                                Hasta
                            </td>
                            <td>
                                <input type="text" id="txtFechaFin1" />
                            </td>

                        </tr>
                        <tr>
                            <td colspan="6" style="text-align:center; padding-top:5px">
                                <input type="button" value="Consultar" />
                                <input type="button" value="Exportar" />
                            </td>
                        </tr>


                    </table>

                </div>

                <div style="clear:both; height:20px"></div>

                <div id="listado">

                    <table style="width:100%">
                        <tr>
                            <td style="width:200px">

                                <div class="popup-title">
                                    <span>Barra de Transferencia:</span>
                                </div>
                                <div style="clear:both; height:20px"></div>
                                <table class="pretty tabla-adicional" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th colspan="2">

                                                <input type="text" class="busque" />
                                            </th>
                                            
                                        </tr>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>

                                                <input type="checkbox" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>AGUAYTIA 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ALTO LA LUNA 10</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ALTO PRADERAS 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ARES 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ARICOTA 66</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ASIA 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>AUCAYACU 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>AZANGARO 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BELAUNDE 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BOTIFLACA 138</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CACLIC 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CAJAMARCA 220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CAJAMARQUILLA  220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CALLALLI  220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CANTERA  220</td>
                                            <td>
                                                <input type="checkbox" />
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>


                            </td>
                            <td></td>
                            <td>

                          
                                <div class="change-dashboard">
                                    <div class="change-dashboard-item-l active item-change-dashboard" data-fuente="scada">CM Total</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-scada">
                                        <strong>CM Total:</strong> Datos instantáneos de potencia cada 30 minutos del sistema SCADA/COES
                                    </div>
                                    <div class="change-dashboard-item-r item-change-dashboard" data-fuente="medidores">CM Congestión</div>
                                    <div class="change-dashboard-tooltip" id="tooltip-medidores">
                                        <strong>CM Congestión:</strong> Datos cada 15 minutos medidores electrónicos (Obtenidos los primeros días de cada mes)
                                    </div>
                                    <input type="hidden" id="hfFuenteGeneracion" value="scada" />
                                </div>
                                <div style="clear:both; height:20px"></div>

                                <div id="contenedor3" style="width:1000px"></div>

                            </td>
                        </tr>
                    </table>

                </div>



            </div>

        </div>
    </div>


   


</div>

