


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });

        $('#tab-container').easytabs({
            animate: false
        });

    })

</script>

<style>
    .tabla-adicional tbody tr td:nth-child(3),
    .tabla-adicional tbody tr td:nth-child(4),
    .tabla-adicional tbody tr td:nth-child(5),
    .tabla-adicional tbody tr td:nth-child(6),
    .tabla-adicional tbody tr td:nth-child(7),
    .tabla-adicional tbody tr td:nth-child(8),
    .tabla-adicional tbody tr td:nth-child(9),
    .tabla-adicional tbody tr td:nth-child(10) {
        text-align:right;
    }




</style>

<div class="form-title">
    <div class="content-titulo">Consulta y comparación de datos históricos</div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">


    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Consulta de datos</a></li>
            <li class='tab'><a href="#paso2">Comparación de datos</a></li>

        </ul>
        <div class='panel-container'>
            <div id="paso1">


                <div class="search-content" style="margin-bottom:0px; padding:10px">

                    <table class="content-tabla-search" style="width:100%">
                        <tr>
                            <td>
                                Empresa:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    <option>--SELECCIONE--</option>
                                </select>
                            </td>



                            <td>
                                Versión:
                            </td>
                            <td>
                                <select id="">
                                    <option>--TODOS--</option>
                                    <option>MENSUALES</option>
                                    <option>SOLO REVISIONES</option>
                                </select>
                            </td>
                            <td>
                                Tipo Información:
                            </td>
                            <td>
                                <select>
                                    <option>Ingresos por potencia</option>
                                    <option>Valorización de Potencia</option>
                                    <option>Cargos SPT Y SGT</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Periodo Inicio:
                            </td>
                            <td>
                                <select id="cbVersion">
                                    <option>Enero.2020</option>
                                </select>
                            </td>
                            <td>
                                Periodo Final:
                            </td>

                            <td>
                                <select id="cbVersion">
                                    <option>Mayo.2020</option>
                                </select>
                            </td>
                            <td colspan="2">
                                <input type="button" value="Consultar" />
                                <input type="button" value="Exportar" />
                            </td>
                        </tr>

                    </table>

                </div>

                <div style="clear:both; height:20px"></div>

                <div id="listado">
                    <table class="pretty tabla-adicional">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Central / Unidad</th>
                                <th>Enero.2020 <br/> Mensual</th>
                                <th>Enero.2020 <br /> Rev.01</th>
                                <th>Febrero.2020 <br /> Mensual</th>
                                <th>Febrero.2020 <br /> Rev.01</th>
                                <th>Marzo.2020 <br /> Mensual</th>
                                <th>Marzo.2020 <br /> Rev.01</th>
                                <th>Enero.2020 <br /> Mensual</th>
                                <th>Enero.2020 <br/> Rev.01</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>AGRO INDUSTRIAL PARAMONGA</td><td>C.T. PARAMONGA                                                                  </td><td>155726.2</td><td>155726.2</td><td>155726.2</td><td>155726.2</td><td>155726.2</td><td>155726.2</td><td>155726.2</td><td>155726.2</td></tr>
                            <tr><td>AGROAURORA S.A.C.</td><td>C.T. MAPLE ETANOL</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>AGROINDUSTRIAS SAN JACINTO S.A.A.</td><td>C.T. SAN JACINTO</td><td>84528.56</td><td>84528.56</td><td>84528.56</td><td>84528.56</td><td>84528.56</td><td>84528.56</td><td>84528.56</td><td>84528.56</td></tr>
                            <tr><td>ANDEAN POWER S.A.C.</td><td>C.H. CARHUAC</td><td>261003.75</td><td>261003.75</td><td>261003.75</td><td>261003.75</td><td>261003.75</td><td>261003.75</td><td>261003.75</td><td>261003.75</td></tr>
                            <tr><td>ATRIA ENERGIA</td><td>C.H. PURMACANA</td><td>1473.81</td><td>1473.81</td><td>1473.81</td><td>1473.81</td><td>1473.81</td><td>1473.81</td><td>1473.81</td><td>1473.81</td></tr>
                            <tr><td>BIOENERGIA DEL CHIRA S.A.</td><td>C.T. CAÑA BRAVA                                                                 </td><td>104986.64</td><td>104986.64</td><td>104986.64</td><td>104986.64</td><td>104986.64</td><td>104986.64</td><td>104986.64</td><td>104986.64</td></tr>
                            <tr><td>CELEPSA</td><td>C.H. EL PLATANAL (SSAA)</td><td>2851462.09</td><td>2851462.09</td><td>2851462.09</td><td>2851462.09</td><td>2851462.09</td><td>2851462.09</td><td>2851462.09</td><td>2851462.09</td></tr>
                            <tr><td>CELEPSA RENOVABLES S.R.L.</td><td>C.H. MARAÑON</td><td>192952.53</td><td>192952.53</td><td>192952.53</td><td>192952.53</td><td>192952.53</td><td>192952.53</td><td>192952.53</td><td>192952.53</td></tr>
                            <tr><td>CHINANGO S.A.C.</td><td>C.H. CHIMAY</td><td>1952374.65</td><td>1952374.65</td><td>1952374.65</td><td>1952374.65</td><td>1952374.65</td><td>1952374.65</td><td>1952374.65</td><td>1952374.65</td></tr>
                            <tr><td>CHINANGO S.A.C.</td><td>C.H. YANANGO</td><td>181431.84</td><td>181431.84</td><td>181431.84</td><td>181431.84</td><td>181431.84</td><td>181431.84</td><td>181431.84</td><td>181431.84</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI I</td><td>15686.44</td><td>15686.44</td><td>15686.44</td><td>15686.44</td><td>15686.44</td><td>15686.44</td><td>15686.44</td><td>15686.44</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI II</td><td>7433.11</td><td>7433.11</td><td>7433.11</td><td>7433.11</td><td>7433.11</td><td>7433.11</td><td>7433.11</td><td>7433.11</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI III</td><td>45265.16</td><td>45265.16</td><td>45265.16</td><td>45265.16</td><td>45265.16</td><td>45265.16</td><td>45265.16</td><td>45265.16</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI IV</td><td>196939.57</td><td>196939.57</td><td>196939.57</td><td>196939.57</td><td>196939.57</td><td>196939.57</td><td>196939.57</td><td>196939.57</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI V</td><td>1871574.17</td><td>1871574.17</td><td>1871574.17</td><td>1871574.17</td><td>1871574.17</td><td>1871574.17</td><td>1871574.17</td><td>1871574.17</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI VI</td><td>114226.38</td><td>114226.38</td><td>114226.38</td><td>114226.38</td><td>114226.38</td><td>114226.38</td><td>114226.38</td><td>114226.38</td></tr>
                            <tr><td>EGASA</td><td>CHILTG_TG</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGASA</td><td>CHI_SLZ12_SLZ1</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGASA</td><td>CHI_SLZ12_SLZ2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGASA</td><td>MOLL123_GD1</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGASA</td><td>MOLL123_GD2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGASA</td><td>MOLL123_GD3</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. HUASAHUASI I (SSAA)</td><td>29335.21</td><td>29335.21</td><td>29335.21</td><td>29335.21</td><td>29335.21</td><td>29335.21</td><td>29335.21</td><td>29335.21</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. HUASAHUASI II (SSAA)</td><td>30206.63</td><td>30206.63</td><td>30206.63</td><td>30206.63</td><td>30206.63</td><td>30206.63</td><td>30206.63</td><td>30206.63</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. RUNATULLO II</td><td>44470.56</td><td>44470.56</td><td>44470.56</td><td>44470.56</td><td>44470.56</td><td>44470.56</td><td>44470.56</td><td>44470.56</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. RUNATULLO III</td><td>57722.01</td><td>57722.01</td><td>57722.01</td><td>57722.01</td><td>57722.01</td><td>57722.01</td><td>57722.01</td><td>57722.01</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. SANTA CRUZ I (SSAA)</td><td>23068.21</td><td>23068.21</td><td>23068.21</td><td>23068.21</td><td>23068.21</td><td>23068.21</td><td>23068.21</td><td>23068.21</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. SANTA CRUZ II (SSAA)</td><td>23542.41</td><td>23542.41</td><td>23542.41</td><td>23542.41</td><td>23542.41</td><td>23542.41</td><td>23542.41</td><td>23542.41</td></tr>
                            <tr><td>EGEMSA</td><td>C.H. MACHUPICCHU</td><td>1409690.16</td><td>1409690.16</td><td>1409690.16</td><td>1409690.16</td><td>1409690.16</td><td>1409690.16</td><td>1409690.16</td><td>1409690.16</td></tr>
                            <tr><td>EGESUR</td><td>C.H. ARICOTA I</td><td>283137.79</td><td>283137.79</td><td>283137.79</td><td>283137.79</td><td>283137.79</td><td>283137.79</td><td>283137.79</td><td>283137.79</td></tr>
                            <tr><td>EGESUR</td><td>C.H. ARICOTA II</td><td>156736.2</td><td>156736.2</td><td>156736.2</td><td>156736.2</td><td>156736.2</td><td>156736.2</td><td>156736.2</td><td>156736.2</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR1                              </td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR2                              </td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR3                              </td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR4                              </td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>ELECTRICA YANAPAMPA SAC</td><td>C.H. YANAPAMPA</td><td>25323.83</td><td>25323.83</td><td>25323.83</td><td>25323.83</td><td>25323.83</td><td>25323.83</td><td>25323.83</td><td>25323.83</td></tr>
                            <tr><td>ELECTRO ZAÑA S.A.C.</td><td>C.H. ZAÑA</td><td>44432.15</td><td>44432.15</td><td>44432.15</td><td>44432.15</td><td>44432.15</td><td>44432.15</td><td>44432.15</td><td>44432.15</td></tr>
                            <tr><td>ELECTROPERU</td><td>C.H. MANTARO</td><td>8698204.49</td><td>8698204.49</td><td>8698204.49</td><td>8698204.49</td><td>8698204.49</td><td>8698204.49</td><td>8698204.49</td><td>8698204.49</td></tr>
                            <tr><td>ELECTROPERU</td><td>C.H. RESTITUCION</td><td>2812220.87</td><td>2812220.87</td><td>2812220.87</td><td>2812220.87</td><td>2812220.87</td><td>2812220.87</td><td>2812220.87</td><td>2812220.87</td></tr>
                            <tr><td>ELECTROPERU</td><td>MAK1</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>ELECTROPERU</td><td>MAK2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
                            <tr><td>EMPRESA DE GENERACION ELECTRICA CANCHAYLLO SAC</td><td>C.H. CANCHAYLLO</td><td>66500.78</td><td>66500.78</td><td>66500.78</td><td>66500.78</td><td>66500.78</td><td>66500.78</td><td>66500.78</td><td>66500.78</td></tr>
                            <tr><td>EMPRESA DE GENERACION ELECTRICA RIO BAÑOS S.A.C.</td><td>C.H. RUCUY</td><td>148021.51</td><td>148021.51</td><td>148021.51</td><td>148021.51</td><td>148021.51</td><td>148021.51</td><td>148021.51</td><td>148021.51</td></tr>

                        </tbody>
                    </table>
                </div>


            </div>
            <div id="paso2">
                <div class="search-content" style="margin-bottom:0px; padding:10px">

                    <table class="content-tabla-search" style="width:100%">

                       
                        <tr>
                            <td>
                                Periodo 1
                            </td>
                            <td>
                                <select id="cbVersion">
                                    <option>Enero.2020</option>
                                </select>
                            </td>
                            <td>
                                Versión 1:
                            </td>

                            <td>
                                <select id="cbVersion">
                                    <option>Mensual</option>
                                </select>
                            </td>


                            <td>
                                Periodo 2 :
                            </td>
                            <td>
                                <select id="cbVersion">
                                    <option>marzo.2020</option>
                                </select>
                            </td>
                            <td>
                                Versión 2:
                            </td>
                            <td>
                                <select id="">
                                    <option>Rev. 01</option>
                                  
                                </select>
                            </td>



                        </tr>
                       
                        <tr>
                            <td>
                                Empresa:
                            </td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    <option>--SELECCIONE--</option>
                                </select>
                            </td>

                            <td>
                                Tipo Información:
                            </td>
                            <td>
                                <select>
                                    <option>Ingresos por potencia</option>
                                    <option>Valorización de Potencia</option>
                                    <option>Cargos SPT Y SGT</option>
                                </select>
                            </td>

                            <td colspan="2">
                                <input type="button" value="Comparar" />
                                <input type="button" value="Exportar" />
                            </td>

                        </tr>
                    </table>

                </div>

                <div style="clear:both; height:20px"></div>


                <div id="listado1">
                    <table class="pretty tabla-adicional">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Central</th>
                                <th>Enero.2020 Rev.01</th>
                                <th>Abril.2020 Mensual</th>
                                <th>Variación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>AGRO INDUSTRIAL PARAMONGA</td><td>C.T. PARAMONGA                                                                  </td><td>87396.95</td><td>128687.43</td><td>47%</td></tr>
                            <tr><td>AGROAURORA S.A.C.</td><td>C.T. MAPLE ETANOL</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>AGROINDUSTRIAS SAN JACINTO S.A.A.</td><td>C.T. SAN JACINTO</td><td>68224.74</td><td>113741.44</td><td>66%</td></tr>
                            <tr><td>ANDEAN POWER S.A.C.</td><td>C.H. CARHUAC</td><td>207876.51</td><td>297381.46</td><td>43%</td></tr>
                            <tr><td>ATRIA ENERGIA</td><td>C.H. PURMACANA</td><td>1173.81</td><td>1679.21</td><td>43%</td></tr>
                            <tr><td>BIOENERGIA DEL CHIRA S.A.</td><td>C.T. CAÑA BRAVA                                                                 </td><td>58606.68</td><td>119479.56</td><td>103%</td></tr>
                            <tr><td>CELEPSA</td><td>C.H. EL PLATANAL (SSAA)</td><td>2271051.52</td><td>3248890.21</td><td>43%</td></tr>
                            <tr><td>CELEPSA RENOVABLES S.R.L.</td><td>C.H. MARAÑON</td><td>153677.97</td><td>219846.19</td><td>43%</td></tr>
                            <tr><td>CHINANGO S.A.C.</td><td>C.H. CHIMAY</td><td>1554965.4</td><td>2224479.75</td><td>43%</td></tr>
                            <tr><td>CHINANGO S.A.C.</td><td>C.H. YANANGO</td><td>144502.25</td><td>206718.52</td><td>43%</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI I</td><td>12493.46</td><td>17872.68</td><td>43%</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI II</td><td>5920.1</td><td>8469.07</td><td>43%</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI III</td><td>36051.41</td><td>51573.78</td><td>43%</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI IV</td><td>156852.43</td><td>224387.62</td><td>43%</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI V</td><td>1490620.34</td><td>2132424.39</td><td>43%</td></tr>
                            <tr><td>EGASA</td><td>C.H. CHARCANI VI</td><td>90975.64</td><td>130146.45</td><td>43%</td></tr>
                            <tr><td>EGASA</td><td>CHILTG_TG</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EGASA</td><td>CHI_SLZ12_SLZ1</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EGASA</td><td>CHI_SLZ12_SLZ2</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EGASA</td><td>MOLL123_GD1</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EGASA</td><td>MOLL123_GD2</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EGASA</td><td>MOLL123_GD3</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. HUASAHUASI I (SSAA)</td><td>23363.99</td><td>33423.67</td><td>43%</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. HUASAHUASI II (SSAA)</td><td>24058.12</td><td>34416.67</td><td>43%</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. RUNATULLO II</td><td>35418.53</td><td>50668.42</td><td>43%</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. RUNATULLO III</td><td>45972.61</td><td>65766.71</td><td>43%</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. SANTA CRUZ I (SSAA)</td><td>18372.7</td><td>26283.39</td><td>43%</td></tr>
                            <tr><td>EGEJUNIN</td><td>C.H. SANTA CRUZ II (SSAA)</td><td>18750.45</td><td>26823.61</td><td>43%</td></tr>
                            <tr><td>EGEMSA</td><td>C.H. MACHUPICCHU</td><td>1122747.67</td><td>1606160.61</td><td>43%</td></tr>
                            <tr><td>EGESUR</td><td>C.H. ARICOTA I</td><td>225504.54</td><td>322598.83</td><td>43%</td></tr>
                            <tr><td>EGESUR</td><td>C.H. ARICOTA II</td><td>124832.61</td><td>178580.78</td><td>43%</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR1                              </td><td>0</td><td>80480.96</td><td>0%</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR2                              </td><td>0</td><td>82096.16</td><td>0%</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR3                              </td><td>0</td><td>84084.5</td><td>0%</td></tr>
                            <tr><td>EGESUR</td><td>INDEP_WAR4                              </td><td>0</td><td>84666.97</td><td>0%</td></tr>
                            <tr><td>ELECTRICA YANAPAMPA SAC</td><td>C.H. YANAPAMPA</td><td>20169.2</td><td>28853.23</td><td>43%</td></tr>
                            <tr><td>ELECTRO ZAÑA S.A.C.</td><td>C.H. ZAÑA</td><td>35387.9</td><td>50624.6</td><td>43%</td></tr>
                            <tr><td>ELECTROPERU</td><td>C.H. MANTARO</td><td>6927683.96</td><td>9910489.07</td><td>43%</td></tr>
                            <tr><td>ELECTROPERU</td><td>C.H. RESTITUCION</td><td>2239801.65</td><td>3204177.05</td><td>43%</td></tr>
                            <tr><td>ELECTROPERU</td><td>MAK1</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>ELECTROPERU</td><td>MAK2</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EMPRESA DE GENERACION ELECTRICA CANCHAYLLO SAC</td><td>C.H. CANCHAYLLO</td><td>52964.45</td><td>75769.13</td><td>43%</td></tr>
                            <tr><td>EMPRESA DE GENERACION ELECTRICA RIO BAÑOS S.A.C.</td><td>C.H. RUCUY</td><td>118861.44</td><td>170038.73</td><td>43%</td></tr>
                            <tr><td>EMPRESA DE GENERACION ELECTRICA SANTA ANA</td><td>C.H. RENOVANDES H1</td><td>207836.4</td><td>297323.04</td><td>43%</td></tr>
                            <tr><td>EMPRESA DE GENERACION HUALLAGA</td><td>C.H. CHAGLLA</td><td>4133514.62</td><td>5913257.11</td><td>43%</td></tr>
                            <tr><td>EMPRESA DE GENERACION HUALLAGA</td><td>P.C.H CHAGLLA</td><td>65223.18</td><td>93306</td><td>43%</td></tr>
                            <tr><td>EMPRESA DE GENERACION HUANZA</td><td>C.H. HUANZA (SSAA)</td><td>1003519.44</td><td>1435596.26</td><td>43%</td></tr>
                            <tr><td>EMPRESA ELECTRICA AGUA AZUL</td><td>C.H. POTRERO</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>EMPRESA ELECTRICA RIO DOBLE</td><td>C.H. LAS PIZARRAS</td><td>22077.89</td><td>31583.92</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>C.H. CALLAHUANCA</td><td>858415.46</td><td>1228016.97</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>C.H. HER 1</td><td>6926.96</td><td>9909.45</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>C.H. HUAMPANI</td><td>314888.28</td><td>450467.56</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>C.H. HUINCO</td><td>2836544.54</td><td>4057855.67</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>C.H. MATUCANA</td><td>1398595.68</td><td>2000777.63</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>C.H. MOYOPAMPA</td><td>705799.2</td><td>1009689.77</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>C.T. VENTANILLA</td><td>0</td><td>6781950.48</td><td>0%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>TG7 WEST</td><td>0</td><td>1717842.25</td><td>0%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>TG8 SIEMENS</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>UTI5                                                                            </td><td>0</td><td>685679.04</td><td>0%</td></tr>
                            <tr><td>ENEL GENERACION PERU S.A.A.</td><td>UTI6                                                                            </td><td>0</td><td>704857.41</td><td>0%</td></tr>
                            <tr><td>ENEL GENERACION PIURA S.A.</td><td>M_TG4</td><td>1048471.39</td><td>1500038.91</td><td>43%</td></tr>
                            <tr><td>ENEL GENERACION PIURA S.A.</td><td>TG6</td><td>0</td><td>731763.2</td><td>0%</td></tr>
                            <tr><td>ENEL GREEN POWER PERU S.A.</td><td>C.E. WAYRA I</td><td>960608.03</td><td>1372039.7</td><td>42%</td></tr>
                            <tr><td>ENEL GREEN POWER PERU S.A.</td><td>C.S. RUBI</td><td>18095.91</td><td>26475.21</td><td>46%</td></tr>
                            <tr><td>ENERGÍA EÓLICA S.A.</td><td>C.E. PARQUE EÓLICA CUPISNIQUE (SSAA)</td><td>444229.6</td><td>629921.97</td><td>41%</td></tr>
                            <tr><td>ENERGÍA EÓLICA S.A.</td><td>C.E. TALARA</td><td>138122.57</td><td>197275.4</td><td>42%</td></tr>
                            <tr><td>ENGIE</td><td>C.H. QUITARACSA</td><td>1201852.51</td><td>1719326.2</td><td>43%</td></tr>
                            <tr><td>ENGIE</td><td>C.H. YUNCAN                             </td><td>1395212.61</td><td>1995947.98</td><td>43%</td></tr>
                            <tr><td>ENGIE</td><td>C.S. INTIPAMPA</td><td>3200.33</td><td>4682.06</td><td>46%</td></tr>
                            <tr><td>ENGIE</td><td>C.T. CHILCA 1</td><td>6970872.63</td><td>11850935.09</td><td>70%</td></tr>
                            <tr><td>ENGIE</td><td>C.T. CHILCA 2</td><td>0</td><td>1613969.84</td><td>0%</td></tr>
                            <tr><td>ENGIE</td><td>C.T. RF PLANTA ILO                                                              </td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>ENGIE</td><td>ILO2_CARB_TV1</td><td>0</td><td>2054624.27</td><td>0%</td></tr>
                            <tr><td>ENGIE</td><td>NEPI_TG41</td><td>0</td><td>2937533.93</td><td>0%</td></tr>
                            <tr><td>ENGIE</td><td>NEPI_TG42</td><td>0</td><td>1890568.47</td><td>0%</td></tr>
                            <tr><td>ENGIE</td><td>NEPI_TG43</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>ENGIE</td><td>TG43 NEPI (SSAA)</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>FENIX POWER PERÚ</td><td>C.T. FENIX                                                                      </td><td>5708042.95</td><td>8162118.78</td><td>42%</td></tr>
                            <tr><td>GENERACIÓN ANDINA S.A.C.</td><td>C.H. 8 DE AGOSTO</td><td>57945.58</td><td>82894.81</td><td>43%</td></tr>
                            <tr><td>GENERACIÓN ANDINA S.A.C.</td><td>C.H. EL CARMEN</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>GENERADORA ENERGÍA DEL PERÚ</td><td>C.H. LA JOYA                            </td><td>21761.51</td><td>31131.14</td><td>43%</td></tr>
                            <tr><td>GENERADORA ENERGÍA DEL PERÚ</td><td>G1-ANGI</td><td>49065.37</td><td>70191.09</td><td>43%</td></tr>
                            <tr><td>GENERADORA ENERGÍA DEL PERÚ</td><td>G1-ANGII</td><td>64406.69</td><td>92137.73</td><td>43%</td></tr>
                            <tr><td>GENERADORA ENERGÍA DEL PERÚ</td><td>G1-ANGIII</td><td>64304.53</td><td>91991.68</td><td>43%</td></tr>
                            <tr><td>GTS MAJES S.A.C</td><td>C.S. MAJES SOLAR 20T</td><td>1106.9</td><td>1584.62</td><td>43%</td></tr>
                            <tr><td>GTS REPARTICION S.A.C.</td><td>C.S. REPARTICION</td><td>1188.94</td><td>1698.12</td><td>42%</td></tr>
                            <tr><td>HIDROCAÑETE S.A.</td><td>C.H. NUEVA IMPERIAL (SSAA)</td><td>26844.67</td><td>38402.87</td><td>43%</td></tr>
                            <tr><td>HIDROELECTRICA HUANCHOR S.A.C.</td><td>C.H. HUANCHOR</td><td>201773.63</td><td>288649.16</td><td>43%</td></tr>
                            <tr><td>HUAURA POWER GROUP S.A.</td><td>C.H. YARUCAYA</td><td>141572.49</td><td>202527.63</td><td>43%</td></tr>
                            <tr><td>HYDRO PATAPO S.A.C.</td><td>MCH PATAPO</td><td>0</td><td>8133.23</td><td>0%</td></tr>
                            <tr><td>INLAND ENERGY SAC</td><td>C.H. SANTA TERESA</td><td>628694.78</td><td>899386.92</td><td>43%</td></tr>
                            <tr><td>KALLPA GENERACION S.A.</td><td>C.H. CERRO DEL AGUILA</td><td>5692090.4</td><td>8142897.58</td><td>43%</td></tr>
                            <tr><td>KALLPA GENERACION S.A.</td><td>C.T. KALLPA</td><td>0</td><td>12408973.25</td><td>0%</td></tr>
                            <tr><td>KALLPA GENERACION S.A.</td><td>MCH CERRO DEL AGUILA</td><td>106429.15</td><td>152253.57</td><td>43%</td></tr>
                            <tr><td>KALLPA GENERACION S.A.</td><td>TG1-LAS FLORES</td><td>0</td><td>2511590.44</td><td>0%</td></tr>
                            <tr><td>MAJA ENERGIA S.A.C.</td><td>C.H. RONCADOR (SSAA)</td><td>4491.11</td><td>6424.82</td><td>43%</td></tr>
                            <tr><td>MINERA CERRO VERDE</td><td>C.T. RECKA</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>MOQUEGUA FV S.A.C.</td><td>C.S. MOQUEGUA FV                                                                </td><td>4070.25</td><td>5775.49</td><td>41%</td></tr>
                            <tr><td>ORAZUL ENERGY PERÚ</td><td>C.H. CARHUAQUERO</td><td>964895.03</td><td>1380343.57</td><td>43%</td></tr>
                            <tr><td>ORAZUL ENERGY PERÚ</td><td>C.H. CARHUAQUERO IV</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>ORAZUL ENERGY PERÚ</td><td>C.H. CAÑA BRAVA</td><td>57874.17</td><td>82792.57</td><td>43%</td></tr>
                            <tr><td>ORAZUL ENERGY PERÚ</td><td>C.H. CAÑON DEL PATO</td><td>2692570.47</td><td>3851894.7</td><td>43%</td></tr>
                            <tr><td>PANAMERICANA  SOLAR SAC.</td><td>C.S. PANAMERICANA SOLAR</td><td>1205.77</td><td>1711.74</td><td>41%</td></tr>
                            <tr><td>PARQUE EOLICO MARCONA S.A.C.</td><td>C.E. MARCONA</td><td>201728.16</td><td>289644.3</td><td>43%</td></tr>
                            <tr><td>PARQUE EOLICO TRES HERMANAS S.A.C.</td><td>C.E. TRES HERMANAS</td><td>618136.42</td><td>887554.29</td><td>43%</td></tr>
                            <tr><td>PETRAMAS</td><td>CTB DOÑA CATALINA (SSAA)</td><td>22535.38</td><td>32167.38</td><td>42%</td></tr>
                            <tr><td>PETRAMAS</td><td>Gringa_G1</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>PETRAMAS</td><td>Gringa_G2</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>PETRAMAS</td><td>Huay_G1</td><td>14020.72</td><td>20252.76</td><td>44%</td></tr>
                            <tr><td>PETRAMAS</td><td>Huay_G2</td><td>14004.27</td><td>20219.46</td><td>44%</td></tr>
                            <tr><td>PETRAMAS</td><td>Huay_G3</td><td>14020.85</td><td>20057.63</td><td>43%</td></tr>
                            <tr><td>SAMAY I S.A.</td><td>C.T. PUERTO BRAVO_TG4 (SSAA)</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SAMAY I S.A.</td><td>PUERTO BRAVO TG1</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SAMAY I S.A.</td><td>PUERTO BRAVO TG2</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SAMAY I S.A.</td><td>PUERTO BRAVO TG3</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SAMAY I S.A.</td><td>PUERTO BRAVO TG4</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SAN GABAN</td><td>C.H. SAN GABAN II                       </td><td>1181245.25</td><td>1689843.94</td><td>43%</td></tr>
                            <tr><td>SDF ENERGIA</td><td>OQUENDO_TG1                             </td><td>0</td><td>197857.68</td><td>0%</td></tr>
                            <tr><td>SHOUGESA</td><td>CUMMINS</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SHOUGESA</td><td>SH_TV1</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SHOUGESA</td><td>SH_TV2</td><td>0</td><td>275821.39</td><td>0%</td></tr>
                            <tr><td>SHOUGESA</td><td>SH_TV3</td><td>0</td><td>0</td><td>0%</td></tr>
                            <tr><td>SINERSA</td><td>C.H. CHANCAY</td><td>126955.65</td><td>181618</td><td>43%</td></tr>
                            <tr><td>SINERSA</td><td>C.H. POECHOS II                         </td><td>55230.44</td><td>79010.64</td><td>43%</td></tr>
                            <tr><td>STATKRAFT S.A</td><td>C.H. CAHUA</td><td>373089</td><td>533728.3</td><td>43%</td></tr>
                            <tr><td>STATKRAFT S.A</td><td>C.H. CHEVES</td><td>1799963.34</td><td>2574960.05</td><td>43%</td></tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


   


</div>

