@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <link href="~/Content/Css/form.css" rel="stylesheet" />
    <link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

    <script type="text/javascript">

        $(function () {

            $('#tabla').dataTable({

            });

            $('#btnAgregar').on('click', function () {
                $('#popupDetalle').bPopup({});
            })



            $('#txtInicio').Zebra_DatePicker({});
            $('#txtFin').Zebra_DatePicker({});

        })

    </script>

    <style>
        .pretty tbody tr td select {
            width: 80px;
            background-color: white !important
        }

        .content-registro table tr td select, .content-registro table tr td textarea, .content-registro table tr td input[type=text] {
            background-color: white !important
        }

        .content-registro table tr td input[type=text], #tableVTP tbody tr td:nth-child(2) {
            background-color: #FFFFB3 !important
        }
        .registro-label {
            background-color: #f2f5f7 !important
        }

        .content-tabla-search tr td {
            padding:5px
        }
    </style>

    <div class="form-title">
        <div class="content-titulo">Equivalencias especiales de códigos VTEA y VTP </div>
        <div class="content-botonera">
            <input type="button" value="Agregar relación" id="btnAgregar" />
            <input type="button" value="Exportar" id="btd" />
        </div>
    </div>
    <div class="content-hijo" id="mainLayout">


        <table class="pretty tabla-adicional">
            <thead>
                <tr>
                    <th scope="col"  rowspan="2"></th>
                    <th scope="col" colspan="6" style="background-color:#ff6a00">Código VTEA</th>
                    <th scope="col" colspan="6" style="background-color:#37d43a">Código VTP</th>
                    <th scope="col" rowspan="2">% Var</th>
                </tr>
                <tr>
                    <th scope="col">Empresa</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Contrato</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Barra</th>
                    <th scope="col">Código</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Contrato</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Barra</th>
                    <th scope="col">Código</th>

                </tr>
            </thead>
            <tbody>
                <tr class="odd">
                    <td rowspan="4">
                        <a href="#">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>
                        <a href="#">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000012ACH</td>

                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>P00013ACH</td>
                    <td rowspan="4">5.0 %</td>
                </tr>
                <tr class="odd">
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000012ACH</td>

                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>P00014ACH</td>
                </tr>
                <tr class="odd">
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000013ACH</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="odd">
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000014ACH</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td rowspan="3">
                        <a href="#">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>
                        <a href="#">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000023ACH</td>

                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>P00015ACH</td>
                    <td rowspan="3">5.0 %</td>
                </tr>
                <tr>
                    <td>    
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000022ACH</td>

                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>P00016ACH</td>
                </tr>
                <tr>
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000017ACH</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="odd">
                    <td rowspan="2">
                        <a href="#">
                            <img src="~/Content/Images/btn-edit.png" />
                        </a>
                        <a href="#">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000018ACH</td>

                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>P00018ACH</td>
                    <td rowspan="2">5.0 %</td>
                </tr>
                <tr class="odd">
                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>CL000019ACH</td>

                    <td>
                        AGRICOLA DEL CHIRA S.A.
                    </td>
                    <td>
                        PIURA OESTE 220
                    </td>
                    <td>
                        Bilateral
                    </td>
                    <td>
                        Libre
                    </td>
                    <td>PIURA OESTE 220</td>
                    <td>P00019ACH</td>
                </tr>
            </tbody>
        </table>



        <div style="margin-top:20px"></div>

        <div id="popupDetalle" class="general-popup" style="width:650px">
            <div><span class="button b-close"><span>X</span></span></div>
            <div class="popup-title"><span>Agregar relación</span></div>
            <div class="popup-text" id="contenidoDetalle">

                <table>
                    <tr>
                        <td valign="top">
                            <div class="popup-title"><span>Códigos VTEA</span></div>
                            <table>
                                <tr>
                                    <td>Empresa</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cliente</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Barra Transferencia</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Código</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center">
                                        <input type="button" value="Agregar" />
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">

                                        <table class="pretty tabla-adicional">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Código VTEA
                                                    </th>
                                                    <th>Quitar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        CB00087EGM
                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            <img src="~/Content/Images/btn-cancel.png" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        CB00087EGM
                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            <img src="~/Content/Images/btn-cancel.png" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        CB00197EGM

                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            <img src="~/Content/Images/btn-cancel.png" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        CL00015EGM


                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            <img src="~/Content/Images/btn-cancel.png" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:40px">

                        </td>
                        <td valign="top">
                            <div class="popup-title"><span>Códigos VTEA</span></div>
                            <table>
                                <tr>
                                    <td>Empresa</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cliente</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Barra Suministro</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Código</td>
                                    <td>
                                        <select>
                                            <option>-SELECCIONE-</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center">
                                        <input type="button" value="Agregar" />
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <td colspan="2">

                                        <table class="pretty tabla-adicional">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Código VTP
                                                    </th>
                                                    <th>Quitar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        P0001KLL
                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            <img src="~/Content/Images/btn-cancel.png" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        P0002KLL
                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            <img src="~/Content/Images/btn-cancel.png" />
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>


                <table style="width:100%">
                    <tr>
                        <td style="text-align:center">
                            Porcentaje de varíación: <input type="text" />
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <input type="button" value="Grabar" />
                            <input type="button" value="Cancelar" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>



    </div>*@







@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });

        $('#btnAgregar').on('click', function () {
            $('#popupDetalle').bPopup({});
        })



        $('#txtInicio').Zebra_DatePicker({});
        $('#txtFin').Zebra_DatePicker({});

    })

</script>

<style>
    .pretty tbody tr td select {
        width: 80px;
        background-color: white !important
    }

    .content-registro table tr td select, .content-registro table tr td textarea, .content-registro table tr td input[type=text] {
        background-color: white !important
    }

    .content-registro table tr td input[type=text], #tableVTP tbody tr td:nth-child(2) {
        background-color: #FFFFB3 !important
    }

    .registro-label {
        background-color: #f2f5f7 !important
    }

    .content-tabla-search tr td {
        padding: 5px
    }
</style>

<div class="form-title">
    <div class="content-titulo">Comparativo Retiros de Energía vs Demanda Coincidente </div>
    <div class="content-botonera">
        <input type="button" value="Configurar relaciones de códigos" id="btnAgregar" />
        <input type="button" value="Exportar" id="btd" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">


    <div class="search-content" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    Periodo:
                </td>
                <td>
                    <select id="cbPeriodo" name="IdPeriodo">
                        <option>--SELECCIONE--</option>
                    </select>
                </td>



                <td>
                    Versión:
                </td>
                <td>
                    <select id="">
                        <option>--SELECCIONE--</option>
                        <option>MENSUALES</option>
                        <option>SOLO REVISIONES</option>
                    </select>
                </td>
                
                <td>
                    <input type="button" value="Consultar" />
                </td>
            </tr>          

        </table>

    </div>

    <div style="clear:both; height:20px"></div>

    <table class="pretty tabla-adicional">
        <thead>
            <tr>

                <th colspan="6" style="background-color:#ff6a00">Código VTEA</th>
                <th colspan="6" style="background-color:#37d43a">Código VTP</th>
                <th rowspan="2">% Var máximo</th>
                <th rowspan="2">% Var calculado</th>
            </tr>
            <tr>
                <th>Empresa</th>
                <th>Cliente</th>
                <th>Contrato</th>
                <th>Usuario</th>
                <th>Barra</th>
                <th>Código</th>

                <th>Empresa</th>
                <th>Cliente</th>
                <th>Contrato</th>
                <th>Usuario</th>
                <th>Barra</th>
                <th>Código</th>

            </tr>
        </thead>
        <tbody>
            <tr class="odd">

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000012ACH</td>

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>P00013ACH</td>
                <td rowspan="4">5.0 %</td>
                <td rowspan="4" style="color:red; font-weight:bold">18.0 %</td>
            </tr>
            <tr class="odd">
                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000012ACH</td>

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>P00014ACH</td>
            </tr>
            <tr class="odd">
                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000013ACH</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="odd">
                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000014ACH</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000023ACH</td>

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>P00015ACH</td>
                <td rowspan="3">5.0 %</td>
                <td rowspan="3" style="color:red; font-weight:bold">17.0 %</td>
            </tr>
            <tr>
                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000022ACH</td>

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>P00016ACH</td>
            </tr>
            <tr>
                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000017ACH</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="odd">

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000018ACH</td>

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>P00018ACH</td>
                <td rowspan="2">5.0 %</td>
                <td rowspan="2" style="color:red; font-weight:bold">20.0 %</td>
            </tr>
            <tr class="odd">
                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>CL000019ACH</td>

                <td>
                    AGRICOLA DEL CHIRA S.A.
                </td>
                <td>
                    PIURA OESTE 220
                </td>
                <td>
                    Bilateral
                </td>
                <td>
                    Libre
                </td>
                <td>PIURA OESTE 220</td>
                <td>P00019ACH</td>
            </tr>
        </tbody>
    </table>



    <div style="margin-top:20px"></div>

    <div id="popupDetalle" class="general-popup" style="width:650px">
        <div><span class="button b-close"><span>X</span></span></div>
        <div class="popup-title"><span>Agregar relación</span></div>
        <div class="popup-text" id="contenidoDetalle">

            <table>
                <tr>
                    <td valign="top">
                        <div class="popup-title"><span>Códigos VTEA</span></div>
                        <table>
                            <tr>
                                <td>Empresa</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Cliente</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Barra Transferencia</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Código</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <input type="button" value="Agregar" />
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">

                                    <table class="pretty tabla-adicional">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Código VTEA
                                                </th>
                                                <th>Quitar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    CB00087EGM
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <img src="~/Content/Images/btn-cancel.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    CB00087EGM
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <img src="~/Content/Images/btn-cancel.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    CB00197EGM

                                                </td>
                                                <td>
                                                    <a href="">
                                                        <img src="~/Content/Images/btn-cancel.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    CL00015EGM


                                                </td>
                                                <td>
                                                    <a href="">
                                                        <img src="~/Content/Images/btn-cancel.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:40px"></td>
                    <td valign="top">
                        <div class="popup-title"><span>Códigos VTEA</span></div>
                        <table>
                            <tr>
                                <td>Empresa</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Cliente</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Barra Suministro</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Código</td>
                                <td>
                                    <select>
                                        <option>-SELECCIONE-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <input type="button" value="Agregar" />
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td colspan="2">

                                    <table class="pretty tabla-adicional">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Código VTP
                                                </th>
                                                <th>Quitar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    P0001KLL
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <img src="~/Content/Images/btn-cancel.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    P0002KLL
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <img src="~/Content/Images/btn-cancel.png" />
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                            </tr>
                        </table>
                    </td>
                </tr>
            </table>


            <table style="width:100%">
                <tr>
                    <td style="text-align:center">
                        Porcentaje de varíación: <input type="text" />
                    </td>

                </tr>
                <tr>
                    <td style="text-align:center">
                        <input type="button" value="Grabar" />
                        <input type="button" value="Cancelar" />
                    </td>
                </tr>
            </table>
        </div>
    </div>



</div>

