


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/DemandaBarras/Content/Css/css.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {

        $('#tabla').dataTable({

        });


        $('#tab-container').easytabs({
            animate: false
        });
    })

</script>

<style type="text/css">

    .tabla-icono tbody tr td:nth-child(1) {
        background-color: #E8F6FF;
        text-align:center;
        line-height:16px
    }

    .tabla-icono tbody tr:nth-child(1) td {
        background-color: #2980B9;
        color:#fff;
        font-weight:bold;
        text-align:center;
    }
    .tabla-icono tbody tr:nth-child(2) td {
        background-color: #87CEFA;
        color:#2980B9;
        font-weight:bold;text-align:center;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Carga de Mejor Información</div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">


    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Cargar datos</a></li>
            <li class='tab'><a href="#paso2">Grafico de Entregas y Retiros</a></li>
            <li class='tab'><a href="#paso3">Grafico de Información Base</a></li>
            <li class='tab'><a href="#paso4">Resumen Energía Mensual</a></li>
        </ul>
        <div class='panel-container'>
            <div id="paso1">

                
                <table style="width:100%">
                    <tr>
                        <td colspan="2">
                            <div class="search-content" style="margin-bottom:0px; padding:10px">
                                <table class="table-search">
                                    <tr>
                                        <td>Empresa:</td>
                                        <td>
                                            <select id="cbVersion" style="width:250px">
                                                <option>-SELECCIONE-</option>
                                            </select>
                                        </td>

                                        <td>Periodo:</td>
                                        <td>
                                            <select id="cbVersion" style="width:250px">
                                                <option>Julio.2020</option>
                                            </select>
                                        </td>
                                        <td>Versión:</td>
                                        <td>
                                            <select id="cbVersion" style="width:250px">
                                                <option>Mensual</option>
                                            </select>
                                        </td>
                                        
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px">
                                <table class="table-search">
                                    <tr>
                                        
                                        <td>Tipo de Información:</td>
                                        <td>
                                            <select id="cbVersion">
                                                <option>Datos de Modelos</option>
                                            </select>
                                        </td>
                                        <td>Modelo:</td>
                                        <td>
                                            <select id="cbVersion">
                                                <option>Modelo ADINELSA</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="button" id="btnConsultar" value="Aceptar" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; " id="divAcciones">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td class="content-action">
                                            <a href="#" id="btnDescargarFormato">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/DemandaBarras/Content/Images/bajar.png" /><br />
                                                    <span>Descargar formato</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="content-action">
                                            <a href="#" id="btnSelectExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/DemandaBarras/Content/Images/subir.png" /><br />
                                                    <span>Importar formato</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="content-action">
                                            <a href="#" id="btnEnviarDatos">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/DemandaBarras/Content/Images/enviar.png" /><br />
                                                    <span>Enviar datos</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnSelecionarExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/Hidrologia/Content/Images/exporta.png" /><br />
                                                    <span>Exportar </span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="content-action">
                                            <a href="#" id="btnMostrarErrores">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/DemandaBarras/Content/Images/errores.png" /><br />
                                                    <span>Mostrar errores</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="content-action">
                                            <a href="#" id="btnVerEnvios">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/DemandaBarras/Content/Images/envios.png" /><br />
                                                    <span>Ver envíos</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                        </td>
                    </tr>
                </table>

                <div style="clear:both; height:20px"></div>
                <table class="pretty tabla-icono">
                    <tbody>
                        <tr>
                            <td>Código</td>
                            <td>CL00068ODE</td>
                            <td>CL00128KLL</td>
                            <td>CB00005KLL</td>
                            <td>CB00006KLL</td>
                            <td>CB00008KLL</td>

                            <td>CB00014ODE</td>
                            <td>CB00015ODE</td>
                            <td>CB00016ODE</td>
                            <td>CB00017ODE</td>
                           
                        </tr>
                        <tr>
                            <td>Fecha / Barra</td>
                            <td>CALLALLI 138</td>
                            <td>ICA 220</td>
                            <td>SANTA ROSA 220</td>
                            <td>INDEPENDENCIA 220</td>

                            <td>HUACHO 220</td>
                            <td>HUANCAVELICA 220</td>
                            <td>ICA 220</td>
                            <td>HUANCAVELICA 220</td>
                            <td>CHILCA REP 220</td>
                           

                        </tr>
                        <tr>
                            <td>01/08/2020 00:15</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 00:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                       
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 00:45</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 01:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 01:15</td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 01:30</td>
                            <td></td>
                          
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 01:45</td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 02:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 02:15</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 02:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 02:45</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 03:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 03:15</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 03:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 03:45</td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 04:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 04:15</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 04:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 04:45</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 05:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 05:15</td>
                            <td></td>
                            <td></td>
                           
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 04:45</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 05:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 05:15</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01/08/2020 05:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>

            </div>
            <div id="paso2">
                <table style="width:100%">
                    <tr>
                        <td style="width:39%">

                            <div class="popup-title" style="margin-bottom:10px"><span>Porcentaje por defecto</span></div>
                            Porcentaje por defecto:  <input type="text" value="5%" />

                            <input type="button" value="Grabar" />

                            <div class="popup-title" style="margin-bottom:10px; margin-top:20px"><span>Porcentaje por empresa</span></div>

                            <table class="pretty tabla-icono">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Porcentaje</th>
                                        <th>Vigente a partir de</th>
                                        <th>
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            AGRO INDUSTRIAL PARAMONGA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            AGROAURORA S.A.C.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td >
                                            ATRIA ENERGIA
                                        </td>
                                        <td >5.0 %</td>
                                        <td >10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            BIOENERGIA DEL CHIRA S.A.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CELEPSA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CELEPSA RENOVABLES S.R.L.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            CHINANGO S.A.C.
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGASA
                                        </td>
                                        <td>5.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGEJUNIN
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGEMSA
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            EGESUR
                                        </td>
                                        <td>3.0 %</td>
                                        <td>10/07/2020</td>
                                        <td>
                                            <a><img src="~/Content/Images/btn-add.png" /></a>
                                            <a><img src="~/Content/Images/btn-properties.png" /></a>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                            <div style="width:80px; margin:15px auto">
                                <input type="button" value="Grabar" />
                            </div>

                        </td>
                        <td style="width:4%"></td>
                        <td style="width:57%">
                           
                        </td>
                    </tr>
                </table>
            </div>
            <div id="paso3">

            </div>
            <div id="paso4"></div>
            
        </div>
    </div>



</div>

