

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/DemandaBarras/Content/Css/css.css" rel="stylesheet" />
<script type="text/javascript">

    $(function () {

        $('#txtInicio').Zebra_DatePicker({
        });
        $('#txtFin').Zebra_DatePicker({
        });

        $('#btnConsultar').on('click', function () {
            setTimeout(function () {
                $('#popupEdicion').bPopup({
                    autoClose: false
                });
            }, 500);
        });

        $('#tab-container').easytabs({
            animate: false
        });
    })
</script>

<style>
    .tabla-icono tbody tr td {
        padding-right: 5px !important;
    }

    table.pretty tbody tr.baja td {
        background: #f6c3c3
    }

    #tablaPotencia tbody tr td, thead tr th {
        white-space: normal !important;
    }


        #tablaPotencia tbody tr td.noedit {
            background-color: #f2f5f7 !important;
        }

    #tablaPotencia thead th:nth-child(8), #tablaPotencia thead th:nth-child(9), #tablaPotencia thead th:nth-child(10),
    #tablaPotencia thead th:nth-child(11), #tablaPotencia thead th:nth-child(12), #tablaPotencia thead th:nth-child(15),
    #tablaPotencia thead th:nth-child(16), th:nth-child(17), .classheader {
        background-color: #ff6a00 !important
    }
</style>


<div class="form-title">
    <div class="content-titulo">Gestión de Códigos VTEA y VTP</div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">


    <div class="search-content" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:100%">
            <tr>
                <td>
                    Empresa:
                </td>
                <td>
                    <select id="cbPeriodo" name="IdPeriodo">
                        <option>--FENIX POWER PERU--</option>
                    </select>
                </td>

                <td>
                    Cliente:
                </td>
                <td>
                    <select id="cbPeriodo" name="IdPeriodo">
                        <option>--SELECCIONE-</option>
                    </select>
                </td>


                <td>
                    Tipo Contrato:
                </td>
                <td>
                    <select id="cbVersion">
                        <option>--SELECCIONE--</option>
                    </select>
                </td>
                <td>
                    Usuario:
                </td>

                <td>
                    <select id="cbVersion">
                        <option>--SELECCIONE--</option>
                    </select>
                </td>



            </tr>

            <tr>

                <td>
                    Barra Transferencia:
                </td>
                <td>
                    <select id="cbVersion">
                        <option>-SELECCIONE-</option>
                    </select>
                </td>

                <td>
                    Barra Suministro:
                </td>
                <td>
                    <select id="cbVersion">
                        <option>-SELECCIONE-</option>
                    </select>
                </td>

                <td>
                    Estado:
                </td>

                <td>
                    <select id="cbVersion">
                        <option>--SELECCIONE--</option>
                    </select>
                </td>
                <td>
                    Código VTEA o VTP:
                </td>
                <td>
                    <input type="text" style="width:145px" />
                </td>


            </tr>
            <tr>

                <td>
                    Fecha inicio:
                </td>
                <td>
                    <input type="text" id="txtInicio" style="width:145px" />
                </td>
                <td>
                    Fecha fin:
                </td>
                <td>
                    <input type="text" id="txtFin" style="width:145px" />
                </td>




                <td colspan="4">

                    <input type="button" value="Consultar" id="btnConsultar" />

                </td>


            </tr>

        </table>

    </div>

    <div style="clear:both; height:20px"></div>


    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Listado de Códigos</a></li>
            <li class='tab'><a href="#paso2">Potencias Contratadas</a></li>

        </ul>
        <div class='panel-container' style="padding:20px 0">
            <div id="paso1">


                <div id='listado'>

                    <table border="0" class="pretty tabla-icono" id="tablaListado">
                        <thead>
                            <tr>
                                <th rowspan="2">Empresa</th>
                                <th rowspan="2">Cliente</th>
                                <th rowspan="2">Contrato</th>
                                <th rowspan="2">Usuario</th>
                                <th rowspan="2">Inicio</th>
                                <th rowspan="2">Fin</th>
                                <th rowspan="2">Estado</th>

                                <th colspan="2">LVTEA</th>
                                <th colspan="2">LVTP</th>
                                <th rowspan="2">% Var</th>
                                <th rowspan="2">Acción</th>
                            </tr>
                            <tr>
                                <th>Barra</th>
                                <th>Código</th>
                                <th>Barra</th>
                                <th>Código</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="odd">
                                <td rowspan="5">FENIX POWER PERU</td>
                                <td rowspan="5">HIDRANDINA</td>
                                <td rowspan="5">LICITACIÓN</td>
                                <td rowspan="5">REGULADO</td>
                                <td rowspan="5">01/01/2013</td>
                                <td rowspan="5">31/12/2022</td>
                                <td rowspan="5">Activo</td>

                                <td style="text-align:left; text-indent:5px" rowspan="5">HUALLANCA 138 KV</td>
                                <td rowspan="5" style="font-weight:bold">CL00020FPP</td>
                                <td style="text-align:left; text-indent:5px">HUALLANCA 13.8 KV</td>
                                <td style="font-weight:bold">P0020FPP</td>
                                <td rowspan="5">5.0 %</td>
                                <td rowspan="5">
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td style="text-align:left; text-indent:5px">HUALLANCA 138 KV</td>
                                <td style="font-weight:bold">P0021FPP</td>
                            </tr>
                            <tr class="odd">
                                <td style="text-align:left; text-indent:5px">HUALLANCA 66 KV</td>
                                <td style="font-weight:bold">P0022FPP</td>
                            </tr>
                            <tr class="odd">
                                <td style="text-align:left; text-indent:5px">KIMAN AYLLU 10 KV</td>
                                <td style="font-weight:bold">P0023FPP</td>
                            </tr>
                            <tr class="odd">
                                <td style="text-align:left; text-indent:5px">HUARAZ OESTE 138 KV</td>
                                <td style="font-weight:bold">P0024FPP</td>
                            </tr>

                            <tr>
                                <td rowspan="3">FENIX POWER PERU</td>
                                <td rowspan="3">ELECTRO CENTRO</td>
                                <td rowspan="3">LICITACIÓN</td>
                                <td rowspan="3">REGULADO</td>
                                <td rowspan="3">01/01/2013</td>
                                <td rowspan="3">31/12/2022</td>
                                <td rowspan="3">Activo</td>

                                <td style="text-align:left; text-indent:5px" rowspan="3">CAMPO ARMIÑO 220</td>
                                <td rowspan="3" style="font-weight:bold">CL00004FPP</td>
                                <td style="text-align:left; text-indent:5px">COBRIZA I 69</td>
                                <td style="font-weight:bold">P0025FPP</td>
                                <td rowspan="3">5.0 %</td>
                                <td rowspan="3">
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align:left; text-indent:5px">COBRIZA II 10</td>
                                <td style="font-weight:bold">P0026FPP</td>
                            </tr>
                            <tr>
                                <td style="text-align:left; text-indent:5px">COBRIZA II 69</td>
                                <td style="font-weight:bold">P0027FPP</td>
                            </tr>
                            <tr class="odd">
                                <td>FENIX POWER PERU</td>
                                <td>COTTON KNIT S.A.C.</td>
                                <td>BILATERAL</td>
                                <td>LIBRE</td>
                                <td>01/01/2019</td>
                                <td>31/12/2022</td>
                                <td>Activo</td>

                                <td style="text-align:left; text-indent:5px">SAN JUAN 220</td>
                                <td style="font-weight:bold">CB00158FPP</td>
                                <td style="text-align:left; text-indent:5px">SAN JUAN 220</td>
                                <td style="font-weight:bold">P0028FPP</td>
                                <td>5.0 %</td>
                                <td>
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td rowspan="2">FENIX POWER PERU</td>
                                <td rowspan="2">LUZ DEL SUR</td>
                                <td rowspan="2">LICITACION</td>
                                <td rowspan="2">REGULADO</td>
                                <td rowspan="2">01/01/2013</td>
                                <td rowspan="2">31/12/2022</td>

                                <td rowspan="2" style="color:red">Pendiente aprobación</td>

                                <td style="text-align:left; text-indent:5px" rowspan="2">SANTA ROSA 220</td>
                                <td rowspan="2" style="color:red; font-weight:bold">PENDIENTE</td>
                                <td style="text-align:left; text-indent:5px">CHOSICA 60</td>
                                <td style="color:red; font-weight:bold">PENDIENTE</td>
                                <td rowspan="2">5.0 %</td>
                                <td rowspan="2">
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left; text-indent:5px">HUACHIPA 60</td>
                                <td style="color:red; font-weight:bold">PENDIENTE</td>
                            </tr>


                            <tr class="baja">
                                <td rowspan="2">FENIX POWER PERU</td>
                                <td rowspan="2">HIDRANDINA</td>
                                <td rowspan="2">LICITACION</td>
                                <td rowspan="2">REGULADO</td>
                                <td rowspan="2">01/01/2013</td>
                                <td rowspan="2">31/12/2022</td>
                                <td rowspan="2">Baja</td>

                                <td style="text-align:left; text-indent:5px" rowspan="2">CHIMBOTE1 138</td>
                                <td rowspan="2" style="font-weight:bold">CL00013FPP</td>
                                <td style="text-align:left; text-indent:5px">CHIMBOTE1 138</td>
                                <td style="font-weight:bold">P0030FPP</td>
                                <td rowspan="2">5.0 %</td>
                                <td rowspan="2">
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>
                            <tr class="baja">
                                <td style="text-align:left; text-indent:5px">CHIMBOTE2 138</td>
                                <td style="font-weight:bold">P0031FPP</td>
                            </tr>
                            <tr>
                                <td rowspan="2">FENIX POWER PERU</td>
                                <td rowspan="2">HIDRANDINA</td>
                                <td rowspan="2">LICITACION</td>
                                <td rowspan="2">REGULADO</td>
                                <td rowspan="2">01/01/2013</td>
                                <td rowspan="2">31/12/2022</td>

                                <td rowspan="2" style="color:red">Solicitud de Baja</td>

                                <td style="text-align:left; text-indent:5px" rowspan="2">CHIMBOTE1 138</td>
                                <td rowspan="2" style="font-weight:bold">CL00013FPP</td>
                                <td style="text-align:left; text-indent:5px">CHIMBOTE1 138</td>
                                <td style="font-weight:bold">P0030FPP</td>
                                <td rowspan="2">5.0 %</td>
                                <td rowspan="2">
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left; text-indent:5px">CHIMBOTE2 138</td>
                                <td style=" font-weight:bold">P0033FPP</td>
                            </tr>
                            <tr class="odd" style="background-color:#fab9b9 !important">
                                <td rowspan="2">FENIX POWER PERU</td>
                                <td rowspan="2">HIDRANDINA</td>
                                <td rowspan="2">LICITACION</td>
                                <td rowspan="2">REGULADO</td>
                                <td rowspan="2">01/01/2013</td>
                                <td rowspan="2">31/12/2022</td>
                                <td rowspan="2" style="color:red">Pendiente de asignación VTP</td>

                                <td style="text-align:left; text-indent:5px" rowspan="2">CHIMBOTE1 138</td>
                                <td rowspan="2" style="font-weight:bold">CL00013FPP</td>
                                <td style="text-align:left; text-indent:5px">CHIMBOTE1 138</td>
                                <td style="font-weight:bold;color:red; ">PENDIENTE</td>
                                <td rowspan="2">5.0 %</td>
                                <td rowspan="2">
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />
                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>
                            <tr style="background-color:#fab9b9 !important">
                                <td style="text-align:left; text-indent:5px">CHIMBOTE2 138</td>
                                <td style="color:red; font-weight:bold">PENDIENTE</td>
                            </tr>
                            <tr>
                                <td> SANTA ANA</td>
                                <td>ACUACULTURA Y PESCA S.A.C.</td>
                                <td>BILATERAL</td>
                                <td>LIBRE</td>
                                <td>01/01/2019</td>
                                <td>31/12/2022</td>
                                <td>Activo</td>

                                <td style="text-align:left; text-indent:5px">CHIMBOTE1 220</td>
                                <td style="font-weight:bold">CB00100STA</td>
                                <td style="text-align:left; text-indent:5px">CHIMBOTE1 220</td>
                                <td style="font-weight:bold">P0034FPP</td>
                                <td>5.0 %</td>
                                <td>
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />

                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>SANTA ANA</td>
                                <td>ASTUVILCA FLORES JESUS</td>
                                <td>BILATERAL</td>
                                <td>LIBRE</td>
                                <td>01/01/2019</td>
                                <td>31/12/2022</td>
                                <td>Activo</td>

                                <td style="text-align:left; text-indent:5px">SAN JUAN 220</td>
                                <td style="font-weight:bold">CB00106STA</td>
                                <td style="text-align:left; text-indent:5px">SAN JUAN 220</td>
                                <td style="font-weight:bold"> P0035FPP</td>
                                <td>5.0 %</td>
                                <td>
                                    <a href="#">
                                        <img src="~/Content/Images/btn-edit.png" title="Descargar archivo" />

                                        <img src="~/Content/Images/btn-cancel.png" />
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div id="popupEdicion" class="general-popup" style="width:600px">
                        <div><span class="button b-close"><span>X</span></span></div>



                        Empresa:<select id=""><option>--SELECCIONE--</option></select>
                        Cliente:<select id=""><option>--SELECCIONE--</option></select>
                        Barra:<select id=""><option>--SELECCIONE--</option></select>
                        Código Barra:<select id=""><option>--SELECCIONE--</option></select>

                        <table>
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Cliente</th>
                                    <th>Barra</th>
                                    <th>Código</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
            <div id="paso2">


                <div class='action-message' id='mensaje' style="margin-bottom:5px; display:none">Por favor seleccione empresa y periodo</div>
                <table style="width:100%">
                    <tr>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:10px">
                                <table class="table-search">
                                    <tr>

                                        <td>Periodo:</td>
                                        <td>
                                            <select id="cbVersion">
                                                <option>Mayo.2020</option>
                                            </select>
                                        </td>

                                        <td>
                                            <input type="button" id="btnConsultar" value="Aceptar" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div class="search-content" style="margin-bottom:0px; padding:5px; padding-bottom:11px; display:block" id="divAcciones">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnEliminarDatos">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/Hidrologia/Content/Images/agrupar.png" /><br />
                                                    <span>Agrupar filas</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnEliminarDatos">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/Hidrologia/Content/Images/desagrupar.png" /><br />
                                                    <span>Desagrupar filas</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnDescargarExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                                    <span>Bajar Formato </span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnSelecionarExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                                    <span>Subir Formato </span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnSelecionarExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/Hidrologia/Content/Images/exporta.png" /><br />
                                                    <span>Exportar </span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnValidarGrillaExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                                    <span>Ver errores</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnGrabarExcel">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/TransfPotencia/Content/Images/enviar.png" /><br />
                                                    <span>Enviar datos </span>
                                                </div>
                                            </a>
                                        </td>
                                        <td style="width:100px; " class="content-action">
                                            <a href="#" id="btnVerEnvios">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/TransfPotencia/Content/Images/envios.png" /><br />
                                                    <span>Ver envíos</span>
                                                </div>
                                            </a>
                                        </td>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

                <div style="clear:both; height:20px">

                </div>
                <div id='contenedor'>

                    <table class="pretty tabla-adicional" id="tablaPotencia">
                        <thead>
                            <tr>

                                <th rowspan="2" style="width:120px">Cliente</th>

                                <th rowspan="2">Contrato</th>
                                <th rowspan="2">Usuario</th>
                                <th rowspan="2">Fecha Inicio</th>
                                <th rowspan="2">Fecha Fin</th>
                                <th colspan="3">VTEA</th>
                                <th colspan="3" style="background:#2980B9 !important">VTP</th>
                                <th colspan="3">Potencia Contratada Fija [MW]</th>
                                <th colspan="3">Potencia Contratada  Variable [MW]</th>
                                <th rowspan="2">Comentario / Observación</th>

                            </tr>
                            <tr>
                                <th style="width:30px"></th>
                                <th style="width:120px">
                                    Barra Transferencia
                                </th>
                                <th>
                                    Código
                                </th>
                                <th style="width:30px"></th>
                                <th style="width:120px">
                                    Barra Suministro
                                </th>
                                <th>
                                    Código
                                </th>

                                <th class="classheader">
                                    Total [MW]

                                </th>
                                <th class="classheader">
                                    H.P. [MW]
                                </th>
                                <th class="classheader">
                                    H.F.P. [MW]
                                </th>
                                <th>
                                    Total [MW]
                                </th>
                                <th>
                                    H.P. [MW]
                                </th>
                                <th>
                                    H.F.P. [MW]
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td rowspan="2" class="noedit">LUZ DEL SUR</td>
                                <td rowspan="2" class="noedit">LICITACION</td>
                                <td rowspan="2" class="noedit">REGULADO</td>
                                <td rowspan="2" class="noedit">01/01/2013</td>
                                <td rowspan="2" class="noedit">31/12/2022</td>
                                <td rowspan="2" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td class="noedit" style="text-align:left; text-indent:5px" rowspan="2">SANTA ROSA 220</td>
                                <td class="noedit" rowspan="2" style="color:red; font-weight:bold">PENDIENTE</td>
                                <td class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td class="noedit" style="text-align:left; text-indent:5px">CHOSICA 60</td>
                                <td class="noedit" style="color:red; font-weight:bold">PENDIENTE</td>
                                <td rowspan="2">12.45</td>
                                <td rowspan="2">13.43</td>
                                <td rowspan="2">21.21</td>
                                <td rowspan="2">32.20</td>
                                <td rowspan="2">23.12</td>
                                <td rowspan="2">21.65</td>
                                <td rowspan="2"></td>

                            </tr>
                            <tr>
                                <td class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td class="noedit" style="text-align:left; text-indent:5px">HUACHIPA 60</td>
                                <td class="noedit" style="color:red; font-weight:bold">PENDIENTE</td>
                                @*<td rowspan="1">12.45</td>
                        <td rowspan="1">13.43</td>
                        <td rowspan="1">21.21</td>
                        <td rowspan="1">32.20</td>
                        <td rowspan="1">23.12</td>
                        <td rowspan="1">21.65</td>
                        <td rowspan="1"></td>*@
                            </tr>

                            <tr>

                                <td rowspan="1" class="noedit">AGRICOLA DEL CHIRA</td>
                                <td rowspan="1" class="noedit">LICITACION</td>
                                <td rowspan="1" class="noedit">REGULADO</td>
                                <td rowspan="1" class="noedit">01/01/2013</td>
                                <td rowspan="1 " class="noedit">31/12/2022</td>

                                <td class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" rowspan="1" class="noedit">
                                    ZAPALLAL 220 Kv
                                </td>
                                <td rowspan="1" style="font-weight:bold; color:red" class="noedit">
                                    PENDIENTE
                                </td>
                                <td class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">ZAPALLAL 13.KV</td>
                                <td style="font-weight:bold; color:red" class="noedit">PENDIENTE</td>
                                <td rowspan="1">22.45</td>
                                <td rowspan="1">33.43</td>
                                <td rowspan="1">11.21</td>
                                <td rowspan="1">42.20</td>
                                <td rowspan="1">53.12</td>
                                <td rowspan="1">41.65</td>
                                <td></td>
                            </tr>


                            <tr>

                                <td rowspan="5" class="noedit">HIDRANDINA</td>
                                <td rowspan="5" class="noedit">LICITACIÓN</td>
                                <td rowspan="5" class="noedit">REGULADO</td>
                                <td rowspan="5" class="noedit">01/01/2013</td>
                                <td rowspan="5" class="noedit">31/12/2022</td>
                                <td rowspan="5" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" rowspan="5" class="noedit">HUALLANCA 138 KV</td>
                                <td rowspan="5" style="font-weight:bold" class="noedit">CL00020FPP</td>
                                <td rowspan="3" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">HUALLANCA 13.8 KV</td>
                                <td style="font-weight:bold" class="noedit">P0020FPP</td>
                                <td rowspan="3">12.45</td>
                                <td rowspan="3">13.43</td>
                                <td rowspan="3">21.21</td>
                                <td rowspan="3">32.20</td>
                                <td rowspan="3">23.12</td>
                                <td rowspan="3">21.65</td>
                                <td rowspan="3"></td>
                            </tr>
                            <tr>
                                @*<td rowspan="1" class="noedit">
                            <a href="#">
                                <input type="checkbox" />
                            </a>
                        </td>*@
                                <td style="text-align:left; text-indent:5px" class="noedit">HUALLANCA 138 KV</td>
                                <td style="font-weight:bold" class="noedit">P0021FPP</td>
                                @*<td rowspan="1">22.45</td>
                        <td rowspan="1">33.43</td>
                        <td rowspan="1">11.21</td>
                        <td rowspan="1">42.20</td>
                        <td rowspan="1">53.12</td>
                        <td rowspan="1">41.65</td>
                        <td></td>*@
                            </tr>
                            <tr>
                                @*<td rowspan="1" class="noedit">
                            <a href="#">
                                <input type="checkbox" />
                            </a>
                        </td>*@
                                <td style="text-align:left; text-indent:5px" class="noedit">HUALLANCA 66 KV</td>
                                <td style="font-weight:bold" class="noedit">P0022FPP</td>
                                @*<td rowspan="1">32.45</td>
                        <td rowspan="1">43.43</td>
                        <td rowspan="1">65.21</td>
                        <td rowspan="1">67.20</td>
                        <td rowspan="1">76.12</td>
                        <td rowspan="1">89.65</td>
                        <td></td>*@
                            </tr>
                            <tr>
                                <td rowspan="1" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">KIMAN AYLLU 10 KV</td>
                                <td style="font-weight:bold" class="noedit">P0023FPP</td>
                                <td rowspan="1">22.45</td>
                                <td rowspan="1">33.43</td>
                                <td rowspan="1">11.21</td>
                                <td rowspan="1">42.20</td>
                                <td rowspan="1">53.12</td>
                                <td rowspan="1">41.65</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td rowspan="1" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">HUARAZ OESTE 138 KV</td>
                                <td style="font-weight:bold" class="noedit">P0024FPP</td>
                                <td rowspan="1">22.45</td>
                                <td rowspan="1">33.43</td>
                                <td rowspan="1">11.21</td>
                                <td rowspan="1">42.20</td>
                                <td rowspan="1">53.12</td>
                                <td rowspan="1">41.65</td>
                                <td></td>
                            </tr>

                            <tr>

                                <td rowspan="3" class="noedit">ELECTRO CENTRO</td>
                                <td rowspan="3" class="noedit">LICITACIÓN</td>
                                <td rowspan="3" class="noedit">REGULADO</td>
                                <td rowspan="3" class="noedit">01/01/2013</td>
                                <td rowspan="3" class="noedit">31/12/2022</td>
                                <td rowspan="3" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" rowspan="3" class="noedit">CAMPO ARMIÑO 220</td>
                                <td rowspan="3" style="font-weight:bold" class="noedit">CL00004FPP</td>
                                <td rowspan="1" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">COBRIZA I 69</td>
                                <td style="font-weight:bold" class="noedit">P0025FPP</td>
                                <td rowspan="1">32.12</td>
                                <td rowspan="1">98.50</td>
                                <td rowspan="1">43.50</td>
                                <td rowspan="1">32.12</td>
                                <td rowspan="1">15.32</td>
                                <td rowspan="1">65.23</td>
                                <td rowspan="1"></td>

                            </tr>

                            <tr>
                                <td rowspan="1" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">COBRIZA II 10</td>
                                <td style="font-weight:bold" class="noedit">P0026FPP</td>
                                <td rowspan="1">32.12</td>
                                <td rowspan="1">98.50</td>
                                <td rowspan="1">43.50</td>
                                <td rowspan="1">32.12</td>
                                <td rowspan="1">15.32</td>
                                <td rowspan="1">65.23</td>
                                <td rowspan="1"></td>

                            </tr>
                            <tr>
                                <td rowspan="1" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">COBRIZA II 69</td>
                                <td style="font-weight:bold" class="noedit">P0027FPP</td>
                                <td rowspan="1">32.12</td>
                                <td rowspan="1">98.50</td>
                                <td rowspan="1">43.50</td>
                                <td rowspan="1">32.12</td>
                                <td rowspan="1">15.32</td>
                                <td rowspan="1">65.23</td>
                                <td rowspan="1"></td>
                            </tr>





                            <tr>

                                <td rowspan="2" class="noedit">HIDRANDINA</td>
                                <td rowspan="2" class="noedit">LICITACION</td>
                                <td rowspan="2" class="noedit">REGULADO</td>
                                <td rowspan="2" class="noedit">01/01/2013</td>
                                <td rowspan="2" class="noedit">31/12/2022</td>
                                <td rowspan="2" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />

                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" rowspan="2" class="noedit">CHIMBOTE1 138</td>
                                <td rowspan="2" style="font-weight:bold" class="noedit">CL00013FPP</td>
                                <td rowspan="2" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />

                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">CHIMBOTE1 138</td>
                                <td style="font-weight:bold" class="noedit">P0030FPP</td>
                                <td rowspan="2">22.45</td>
                                <td rowspan="2">33.43</td>
                                <td rowspan="2">11.21</td>
                                <td rowspan="2">42.20</td>
                                <td rowspan="2">53.12</td>
                                <td rowspan="2">41.65</td>
                                <td rowspan="2"></td>


                            </tr>
                            <tr>
                                @*<td rowspan="1" class="noedit">
                            <a href="#">
                                <input type="checkbox" />

                            </a>
                        </td>*@
                                <td style="text-align:left; text-indent:5px" class="noedit">CHIMBOTE2 138</td>
                                <td style=" font-weight:bold" class="noedit">P0035FPP</td>
                                @*<td rowspan="1">42.45</td>
                        <td rowspan="1">23.43</td>
                        <td rowspan="1">31.21</td>
                        <td rowspan="1">72.20</td>
                        <td rowspan="1">93.12</td>
                        <td rowspan="1">34.65</td>
                        <td></td>*@

                            </tr>

                            <tr>

                                <td class="noedit">COTTON KNIT S.A.C.</td>
                                <td class="noedit">BILATERAL</td>
                                <td class="noedit">LIBRE</td>
                                <td class="noedit">01/01/2019</td>
                                <td class="noedit">31/12/2022</td>
                                <td class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">SAN JUAN 220</td>
                                <td style="font-weight:bold" class="noedit">CB00158FPP</td>
                                <td class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />
                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">SAN JUAN 220</td>
                                <td style="font-weight:bold" class="noedit">P0028FPP</td>
                                <td rowspan="1">22.45</td>
                                <td rowspan="1">33.43</td>
                                <td rowspan="1">11.21</td>
                                <td rowspan="1">42.20</td>
                                <td rowspan="1">53.12</td>
                                <td rowspan="1">41.65</td>
                                <td></td>


                            </tr>
                            @*<tr>
                                        <td rowspan="1" class="noedit">
                        <a href="#">
                            <input type="checkbox" />
                        </a>
                    </td>
                                        <td rowspan="1" class="noedit" style="background: #f6c3c3 !important">HIDRANDINA</td>
                                        <td rowspan="1" class="noedit" style="background: #f6c3c3 !important">LICITACION</td>
                                        <td rowspan="1" class="noedit" style="background: #f6c3c3 !important">REGULADO</td>
                                        <td rowspan="1" class="noedit" style="background: #f6c3c3 !important">01/01/2013</td>
                                        <td rowspan="1" class="noedit" style="background: #f6c3c3 !important">31/12/2022</td>
                                        <td rowspan="2" class="noedit" style="background: #f6c3c3 !important">
                        <a href="#">
                            <input type="checkbox" />

                        </a>
                    </td>
                                        <td style="text-align:left; text-indent:5px; background: #f6c3c3 !important" rowspan="1" class="noedit">CHIMBOTE1 138</td>
                                        <td rowspan="1" style="font-weight:bold; background: #f6c3c3 !important" class="noedit">CL00013FPP</td>
                                        <td rowspan="1" class="noedit" style="background: #f6c3c3 !important">
                                            <a href="#">
                                                <input type="checkbox" />

                                            </a>
                                        </td>
                                        <td style="text-align:left;background: #f6c3c3 !important; text-indent:5px" class="noedit">CHIMBOTE1 138</td>
                                        <td style="font-weight:bold;background: #f6c3c3 !important" class="noedit">P0030FPP</td>
                                        <td rowspan="2">32.45</td>
                                        <td rowspan="2">53.43</td>
                                        <td rowspan="2">61.21</td>
                                        <td rowspan="2">82.20</td>
                                        <td rowspan="2">93.12</td>
                                        <td rowspan="2">21.65</td>
                                        <td rowspan="2"></td>
                                    </tr>*@
                            <tr>
                                @*<td rowspan="1" class="noedit">
                            <a href="#">
                                <input type="checkbox" />
                            </a>
                        </td>*@
                                <td rowspan="1" class="noedit">HIDRANDINA</td>
                                <td rowspan="1" class="noedit">LICITACION</td>
                                <td rowspan="1" class="noedit">REGULADO</td>
                                <td rowspan="1" class="noedit">01/01/2013</td>
                                <td rowspan="1" class="noedit">31/12/2022</td>
                                <td rowspan="1" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />

                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" rowspan="1" class="noedit">
                                    MARCONA 220
                                </td>
                                <td rowspan="1" style="font-weight:bold " class="noedit">
                                    CL00003FPP
                                </td>
                                <td rowspan="1" class="noedit">
                                    <a href="#">
                                        <input type="checkbox" />

                                    </a>
                                </td>
                                <td style="text-align:left; text-indent:5px" class="noedit">MARCONA 220</td>
                                <td style="font-weight:bold" class="noedit">P0033FPP</td>
                                <td rowspan="1">22.45</td>
                                <td rowspan="1">33.43</td>
                                <td rowspan="1">11.21</td>
                                <td rowspan="1">42.20</td>
                                <td rowspan="1">53.12</td>
                                <td rowspan="1">41.65</td>
                                <td></td>
                            </tr>



                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

    


</div>

