@model COES.MVC.Intranet.Areas.Transferencias.Models.ModeloEnvioModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Areas/Transferencias/Content/Scripts/modeloenvio.js"></script>
<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Descarga de Modelos de Agentes</div>
    <div class="content-botonera">
       
    </div>
</div>
<div class="content-hijo" id="mainLayout">

    <div class='action-message' id='mensaje' style="margin-bottom:5px">Por favor seleccione empresa, periodo y versión</div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:10px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Empresa:</td>
                            <td>
                                <select id="cbEmpresa" name="IdEmpresa">
                                    <option value="0">--TODOS--</option>
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>
                            <td>Periodo:</td>
                            <td>
                                <select id="cbPeriodo" name="IdPeriodo">
                                    @foreach (var item in Model.ListaPeriodos)
                                    {
                                        <option value="@item.PeriCodi">@item.PeriNombre</option>
                                    }
                                </select>
                            </td>
                            <td>
                                Version:
                            </td>
                            <td>
                                <select id="cbVersion"></select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value="Aceptar" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
          
        </tr>
    </table>
    <div style="clear:both; height:10px">

    </div>
    <div class="popup-title"><span>Listado de Envíos</span></div>
    <div style="clear:both; height:20px">

    </div>
    <div id='listado'></div>


</div>

