@model COES.Servicios.Aplicacion.RDO.Helper.BusquedaModel
<script>
    $(function () {
        $('#cbSemana').val($('#hfSemana').val());
    }
    );
</script>
<select id="cbSemana" name="IdSemana" style="width:110px;">

    @foreach (var item in Model.ListaSemanas)
    {
        <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
    }
</select>