@model COES.MVC.Intranet.Areas.ValorizacionDiaria.Models.ProcesoModel
@{
    ViewBag.Title = "Ejecutar Proceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/multiselect.js?v=2"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Areas/ValorizacionDiaria/Content/Scripts/ejecutarProceso.js?v=4.3"></script>

<div class="form-title">
    <div class="content-titulo">Ejecutar Proceso de Valorización</div>
    <div class="content-botonera">
        <input type="button" id="btnExportarExcelVD" value="Exportar" style="display: none" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td><label>Participante: </label></td>
                <td>
                    <select id="cbParticipante" name="Idempresa" style="width:200px">
                        @foreach (var item in Model.Empresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" />
                </td>
                <td><label>Fecha de Inicio: </label></td>
                <td>
                    <input type="text" id="txtFechaInicio" value="@ViewBag.Fecha" />
                </td>
                <td><label>Fecha Final: </label></td>
                <td>
                    <input type="text" id="txtFechaFinal" value="@ViewBag.Fecha" />
                </td>
                <td>
                    <input type="button" value="Ejecutar" id="btnEjecutar" name="btnEjecutar" />
                </td>
                <td>
                    <input type="button" value="Consultar" id="btnBuscarValorizacionD" name="btnBuscarValorizacionD" />
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="PaginadoValorizacionDiaria"></div>
        </div>
        <div style="clear:both; margin-bottom:10px"></div>
        <div class="table-list" id="ListadoValorizacionDiaria"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>