@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroSinContratoModel
@{
    ViewBag.Title = "Transferencias - Retiros sin contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir la información de Código de Retiro sin Contrato" }, { "sAccion", "Grabar" } })
</div>