@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/MarcoNormativo/Content/Scripts/decisionejecutiva.js"></script>
<script type="text/javascript">
    $(function () {
        $('.header').hide();
        $('.menu').hide();
        $('.footer').hide();
    })
</script>

<div class="action-message" id="mensaje">Agregue o edite registros</div>

<div class="content-search">
    <table>
        <tr>
            <td>Tipo:</td>
            <td>
                <select id="cbTipoDocumento" style="width:250px">
                    <option value="1">DECISIÓN EJECUTIVA</option>
                    <option value="2">NOTA TÉCNICA</option>
                </select>
            </td>
            <td>
                <input type="button" id="btnConsultar" value='Consultar' />
                <input type="button" id="btnNuevo" value="Nuevo" />
            </td>
        </tr>
    </table>
</div>

<div id="listado">
</div>

<br />
<br />