.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }

.btnFilaAcciones {
    height: 22px !important;
    text-align: center !important;
}

.btnFilaAcciones a img {
    float: none !important;
    margin-left: 0px !important;
}

.filtro {
    padding-left: 20px;
    padding-right: 30px;
}

.espacio-60 {
    width: 60px;
}
.espacio-1000 {
    width: 1000px;
}

.campo_obligatorio{
    font-size: 10px;
}

/*.tabla_reporte_excel tbody tr td:first-child {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tabla-adicional tbody tr td a img {
    float: none;
}
*/
input[type=text] {
    background-color: white;
    border: 1px solid #CBD3CF;
    border-radius: 5px;
    width: 220px;
    height: 20px;
    text-indent: 8px;
    font: 12px "arial", sans-serif;
    color: #4876AA;
}

select {
    padding: 3px;
    margin: 0;
    border: 1px solid #CBD3CF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 5px;
    background: white;
    color: #888;
    width: 220px;
    outline: none;
    display: inline-block;
    cursor: pointer;
    font-size: 12px
}

.label_ver_equipo {
    width: 160px;
}

.label_add_equipo {
    width: 120px;
}

.label_edit_equipo {
    width: 120px;
}

.label_ver_congestion {
    width: 160px;
}

.label_add_congestion {
    width: 120px;
}

.label_edit_congestion {
    width: 120px;
}

.label_ver_penalidad {
    width: 160px;
}

.label_add_penalidad {
    width: 120px;
}

.label_edit_penalidad {
    width: 120px;
}

td.clase_recalculo_activo {
    background-color: yellow !important;
    font-weight: bold;
    color: blue;
}

.clase_eliminado td {
    background-color: #FFDDDD !important;
}