@model COES.MVC.Intranet.Areas.Coordinacion.Models.CambioTurnoModel

<table class="pretty" id="tablaAuditoria">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Acción</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAuditoria)
        {
            <tr>
                <td>@item.Lastuser</td>
                <td>@(((DateTime)item.Lastdate).ToString("dd/MM/yyyy HH:mm:ss"))</td>
                <td>@item.Desaccion</td>               
            </tr>
        }
    </tbody>
</table>
