

.tab-container .panel-container 
{    
    min-height:100px;
}

.titulo-energia-empresa {
    background-color: #FFF9CC; /* Amarillo claro */
    color: #B38B00; /* Amarillo oscuro / dorado */
    padding: 6px 12px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.content-item-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex {
    display: flex;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/*.btn-dia {
    padding: 4px 4px;
    border: none;
    border-radius: 5px;
    margin: 4px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
}*/

.bg-rojo {
    background-color: #dc3545; 
    color: white;
}

    .bg-rojo:hover {
        background-color: #b02a37;
    }

.bg-gris {
    background-color: #f8f9fa; 
    color: #212529; 
}

    .bg-gris:hover {
        background-color: #d6d6d6;
    }
.btn-dia img {
    margin-right: 6px;
}

.contenedor-dias {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 6px;
    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
}

.btn-dia {
    flex-shrink: 0;
    width: 45px;
    height: 60px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.contenedor-header {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a ambos extremos */
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
}

.contenedor-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    flex-grow: 1; /* Ocupa el espacio restante a la izquierda */
}

.contenedor-botones {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.contenedor-dias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    gap: 6px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
}

.btn-dia-grid {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .btn-dia-grid img {
        margin-bottom: 4px;
    }

#tablaListadoEnergia_wrapper .dataTables_paginate .paginate_button {
    min-width: 40px; /* ancho mínimo (para 2-3 dígitos) */
    padding: 6px 12px; /* espacio interno más grande */
    font-size: 14px; /* agranda el número */
    line-height: 1.5; /* mejora la altura del botón */
    text-align: center; /* centra el número */
    box-sizing: border-box; /* evita que se recorte */
}