@model COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel

<table class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaObservaciones)
        {
            <tr class="menu-contextual">
                <td style="text-align:left;">@item</td>
            </tr>
        }
    </tbody>
</table>