@{    
    Layout = null;
}


@{
    string[] meses = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre" };
}

    <table width="100%">
        <tr>
            <td id="btnAtras"><input type="button" value="<< Anterior" style="width:100%; margin-left:0" /></td>
            <td width="23%"></td>
            <td align="right" width="16%">
                <select id="fecMes">
                    @for (int i = 0; i < meses.Length; i++)
                    {
                        <option value="@Convert.ToDecimal(i+1).ToString("0#")">@meses[i]</option>
                    }
                </select>
            </td>
            <td align="left" width="16%">
                <select id="fecAnio">
                    @for (int i = System.DateTime.Now.Year; i > 2007; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </td>
            <td width="23%"></td>
            <td id="btnAdelante"><input type="button" value="Siguiente >>" style="width:100%;" /></td>
        </tr>
    </table>
    

<div style="clear:both; height:10px"></div>
<table class="calendario" cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>Dom</th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mie</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sab</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="f11"></td>
            <td id="f12"></td>
            <td id="f13"></td>
            <td id="f14"></td>
            <td id="f15"></td>
            <td id="f16"></td>
            <td id="f17"></td>
        </tr>
        <tr>
            <td id="f21"></td>
            <td id="f22"></td>
            <td id="f23"></td>
            <td id="f24"></td>
            <td id="f25"></td>
            <td id="f26"></td>
            <td id="f27"></td>
        </tr>
        <tr>
            <td id="f31"></td>
            <td id="f32"></td>
            <td id="f33"></td>
            <td id="f34"></td>
            <td id="f35"></td>
            <td id="f36"></td>
            <td id="f37"></td>
        </tr>
        <tr>
            <td id="f41"></td>
            <td id="f42"></td>
            <td id="f43"></td>
            <td id="f44"></td>
            <td id="f45"></td>
            <td id="f46"></td>
            <td id="f47"></td>
        </tr>
        <tr>
            <td id="f51"></td>
            <td id="f52"></td>
            <td id="f53"></td>
            <td id="f54"></td>
            <td id="f55"></td>
            <td id="f56"></td>
            <td id="f57"></td>
        </tr>
        <tr>
            <td id="f61"></td>
            <td id="f62"></td>
            <td id="f63"></td>
            <td id="f64"></td>
            <td id="f65"></td>
            <td id="f66"></td>
            <td id="f67"></td>
        </tr>
    </tbody>
</table>