@model COES.MVC.Publico.Areas.DirectorioImpugnaciones.Models.EventoAgendaModel

<div class="content-search">    
    <table>
        <tbody>
            <tr>
                <td>Año</td>
                <td>
                    <select id="fecAnioLista">
                        @for (int i = System.DateTime.Now.Year; i > 2007; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </td>

                <td><input type="button" value="Buscar" id="btnBuscar" /></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="listaEventos">
 
</div>