@model COES.MVC.Intranet.Areas.Admin.Models.ReporteUsuarioModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Logín</th>
            <th>Nombre</th>           
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ReporteUsuario.Count > 0)
        {
            foreach (var item in Model.ReporteUsuario)
            {
                <tr>
                    <td>@item.Emprnomb</td>
                    <td>@item.Userlogin</td>
                    <td>@item.Username</td>
                    <td>@item.Estado</td>                    
                </tr>
            }
        }
    </tbody>
</table>