@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CompensacionModel

@{
    ViewBag.Title = "Edicion - Compensación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información de la Compensación" }, { "sAccion", "Actualizar" } })
</div>


