@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CompensacionModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Registro de Compensaciones" }, { "sAccion", "Insertar" } })
</div>