@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.CompensacionModel

@{
    ViewBag.Title = "Compensacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Graba en ST_COMPENSACION" }, { "sAccion", "Grabar" } })
</div>