@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraModel
@{
    ViewBag.Title = "Transferencias - Editar una Barra del SEIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de la Barra del SEIN" }, { "sAccion", "Actualizar" }, { "sArea", TempData["Areacodigo"] } })
</div>