@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraModel
@{
    ViewBag.Title = "Transferencias - Insertar una Barra del SEIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
@Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva Barra del SEIN" }, { "sAccion", "Insertar" }, { "sArea", TempData["Areacodigo"] } })
</div>