@model COES.MVC.Intranet.Areas.RolTurnos.Models.ConfiguracionModel
@{
    ViewBag.Title = "Configuración Rol de Turnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/RolTurnos/Content/Scripts/configuracion.js?v=2"></script>
<link href="~/Areas/RolTurnos/Content/Css/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Configuración de Rol de Turnos</div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#personal">Personal</a></li>
            <li class='tab'><a href="#actividades">Actividades</a></li>
        </ul>
        <div class='panel-container'>
            <div id="personal">
                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:100%">
                        <tr>
                            <td>Seleccione año:</td>
                            <td>
                                <input type="text" id="txtAnio" value="@Model.Anio" />
                            </td>
                            <td>Seleccione mes:</td>
                            <td>
                                <select id="cbMes">
                                    <option value="1">ENERO</option>
                                    <option value="2">FEBRERO</option>
                                    <option value="3">MARZO</option>
                                    <option value="4">ABRIL</option>
                                    <option value="5">MAYO</option>
                                    <option value="6">JUNIO</option>
                                    <option value="7">JULIO</option>
                                    <option value="8">AGOSTO</option>
                                    <option value="9">SETIEMBRE</option>
                                    <option value="10">OCTUBRE</option>
                                    <option value="11">NOVIEMBRE</option>
                                    <option value="12">DICIEMBRE</option>
                                </select>
                                <input type="hidden" id="hfMes" value="@Model.Mes" />
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value='Consultar' />
                            </td>
                            <td style="width:400px"></td>
                            <td style="text-align:right">
                                <input type="button" id="btnAgregarGrupo" value="Agregar grupo" />
                                <input type="button" id="btnGrabarConfiguracion" value='Grabar' />
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="personalConfiguracion">

                </div>

            </div>

            <div id="actividades">

                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>
                                <input type="button" id="btnNuevoActividad" value="Nuevo" />

                            </td>
                        </tr>
                    </table>
                </div>
                <div id="listadoActividad">

                </div>


            </div>
        </div>
        <br />
        <br />
    </div>
</div>

<div id="popupActividad" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Actividades del persoanal</span></div>
    <div class="popup-text" id="contenidoActividad">



    </div>
</div>
