@model COES.MVC.Intranet.Areas.Despacho.Models.GrupoDespachoModel

<script type="text/javascript">

    $(function () {

        $('#cbCentral').change(function () {
            cargargrupoA();
        });

        cargargrupoA = function () {

            $.ajax({
                type: 'POST',
                url: controlador + 'grupoa',
                global:false,
                data: {
                    codigoGrupo: $('#cbCentral').val()
                },
                success: function (evt) {


                    $('#grupoa').html(evt);
                },
                error: function () {
                    mostrarError();
                }
            });
        }

        cargargrupoA();
    });

</script>

<select id="cbCentral">
    @foreach (var item in Model.ListaCentral)
    {
        <option value="@item.Grupocodi">@item.Gruponomb</option>
    }
</select>



<input type="hidden" id="hfCentral" />