@model COES.MVC.Intranet.Areas.Despacho.Models.DetalleGrupoCurvaModel

<script type="text/javascript">

    $(function () {
        $('#cbTipoCentral').change(function () {
            cargarCentrales();
        });

        cargarCentrales = function () {

            $.ajax({
                type: 'POST',
                url: controlador + 'central',
                global:false,
                data: {
                    tipoCentral: $('#cbTipoCentral').val()
                },
                success: function (evt) {
                    $('#central').html(evt);
                },
                error: function () {
                    mostrarError();
                }
            });
        }

        cargarCentrales();
    });



</script>

<!--Sección de llamadas a archivos js-->
<script src="~/Content/Scripts/jquery.validate.js"></script>

<!--Sección de llamadas a archivos css-->
<link href="~/Areas/Despacho/Content/Css/Despacho.css?v=1" rel="stylesheet" />
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />

<div class="popup-title"><span>Agregar Detalle Grupo Curva</span></div>
<div class="popup-text" id="contenidoDetalle">  
    <div id="mensajeDetalle" class="action-message" style="display: none; width: 95%">Por favor complete los datos solicitados.</div> 
    <table class="table-form-content">
        <tr>
            <td class="label">Nombres:</td>
            <td colspan="3">
                <input type="text" id="txtNombresDetalle" value="@Model.Nombres"  style="width: 330px" />
            </td>
        </tr>
        <tr>
            <td class="label" colspan="5"><h3>Modo de Operación:</h3></td>
        </tr>
        <tr style="display:none;">
            <td class="label"  style="display:none;">Tipo Central:</td>
            <td colspan="3">
                <select id="cbTipoCentral" style="display:none;">
                    <option value="T">Térmico</option>
                    <option value="H">Hidráulico</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <div id="central"></div>
            </td>
            <td>
                <div id="grupoa"></div>
            </td>
            <td>
                <div id="grupob"></div>
            </td>            
            <td>
                <select id="cbAgrupado" style="width: 130px">
                    <option value="N">Vista No Agrupada</option>
                    <option value="S">Vista Agrupada</option>
                </select>
            </td>
            <td>
                <input id="btnAgregarDetalle" type="button" value="Agregar" style="margin: 5px 0 5px 0;" />
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div id="divDetalleGrupoCurva">
                    <div id="listadoDetalleGrupoCurva">

                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center;">
                <input id="btnCerrar" type="button" value="Cerrar" style="margin: 5px 0 5px 0;" />         
                <input type="hidden" id="hdfCodigo" value="@Model.Codigo" />
            </td>
        </tr>
    </table>
    
</div>