@model COES.MVC.Intranet.Areas.Despacho.Models.GrupoDespachoModel

<script type="text/javascript">

    $(function () {


        $('#cbGrupoA').change(function () {
            cargargrupoB();
        });

        cargargrupoB = function () {
            
            $.ajax({
                type: 'POST',
                url: controlador + 'grupob',
                global:false,
                data: {
                    codigoGrupo: $('#cbGrupoA').val()
                },
                success: function (evt) {


                    $('#grupob').html(evt);
                },
                error: function () {
                    mostrarError();
                }
            });
        }

        cargargrupoB();
    });


</script>

<select id="cbGrupoA">
    @foreach (var item in Model.ListaCentral)
    {
        <option value="@item.Grupocodi">@item.Gruponomb</option>
    }
</select>

<input type="hidden" id="hfGrupoA" />