@model COES.MVC.Intranet.Areas.Despacho.Models.GrupoCurvaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Sección de llamadas a archivos js-->
<script src="~/Areas/Despacho/Content/Scripts/grupocurva.js?v=1"></script>
<script src="~/Content/Scripts/messaje-operation.js"></script>

<!--Sección de llamadas a archivos css-->
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/RegistroIntegrante/Content/Css/css.css" rel="stylesheet" />

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Agrupar Curva de Consumo de Combustible</div>
<div class="home-content" style="line-height:20px">
    <input name="btnAgregar" type="button" id="btnAgregar" value="+ Agregar" class="button" style="width:200px; margin-bottom: 20px;">
    <div id="divGrupoCurva">
        <div id="listadoGrupoCurva">

        </div>
    </div>
    <br />
</div>


<div id="popupAgregar" class="general-popup" style="min-width:700px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoAgregar">
        <div class="popup-title"><span>Agregar Grupo Curva de Consumo Combustible</span></div>
        <div class="popup-text" id="contenidoAgregar">
            <div id="mensaje" class="action-message" style="display: none; width: 95%">Por favor complete los datos solicitados.</div>
            <table class="table-form-content">
                <tr>
                    <td class="label">Nombre Grupo:</td>
                    <td>
                        <input type="text" id="txtNombres" class="DatosRequeridos Required" data-validator-id="spntxtNombres" data-required="true" style="width: 330px" /><span id="spntxtNombres">(*)</span>
                    </td>

                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input id="btnCancelarNuevo" type="button" value="Cancelar" style="margin: 5px 0 5px 0;" />
                        <input id="btnGrabarNuevo" type="button" value="Grabar" style="margin: 5px 0 5px 0;" />
                    </td>
                </tr>
                
            </table>

        </div>
    </div>
</div>


<div id="popupEdicion" class="general-popup" style="min-width:700px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>

<div id="popupDetalle" class="general-popup" style="min-width:800px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoDetalle">
    </div>
</div>

<div id="MessagesClose">
    <div class="popup-title"><span>Eliminar</span></div>
    <div class="popup-text content-messajes-text">

    </div>
    <div class="formulario-boton">
        <input id="btnAceptarMessages" type="button" value="Aceptar" />
        <input id="btnCancelarMessages" type="button" value="Cancelar" style="display:none;" />
    </div>
</div>