@model COES.MVC.Intranet.Areas.Intervenciones.Models.NotificacionModel
@{
    ViewBag.Title = "Configuración de notificación de mensajes";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Content/Css/form.css" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/Configuracion/notificacion.js?v=9.0.0"></script>

<div class="form-title">
    <div class="content-titulo">Configuración de notificación de mensajes</div>
    <div class="content-botonera">
        <input type="button" id="btnGrabar" value='Grabar' />
        <input type="button" id="btnExportar" value='Exportar a Excel' />
    </div>
</div>

<div class="content-hijo" style="display:block">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="0">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cbEstado">
                        <option value="A">ACTIVOS</option>
                        <option value="I">INACTIVOS</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value='Consultar' />
                </td>
            </tr>
        </table>
    </div>
    <div id="listado">
                
    </div>

</div>

<div id="popupHistorico" class="general-popup" style="min-width:900px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Histórico de Cambios</span></div>
    <div class="popup-text" id="contenidoHistorico">        

    </div>
</div>
