.publicacion-content {
    color: #434343;
    font-weight: bold;
    margin-left: 20px;
}

.sucripcion-label {
    margin-left: 20px;
    margin-bottom: 15px;
}

.publicacion-item {
    float: left;
    min-width: 180px;
    margin-right: 50px;
}

