.tabla-informacion tbody tr td {
    text-align: center;
    cursor: pointer
}

.page-text img {
    border-radius: 0px;
}

.tabla-informacion tbody tr td:first-child {
    text-align: left;
    text-indent: 10px;
}

.tabla-informacion tbody tr td:first-child {
    font-size: 12px;
}

    .tabla-informacion tbody tr td:first-child span {
        color: #5191D8;
        font-weight: bold;
        font-size: 16px;
        padding-right: 5px
    }


.tabla-informacion tbody tr td:nth-of-type(2n+1) a img {
    border: 1px none !important;
    width: 26px;
    margin-top: 4px
}

.tabla-informacion tbody tr td:nth-of-type(2n) a img {
    border: 1px none !important;
    width: 23px;
    margin-top: 4px
}

.tabla-informacion tbody tr td {
    border-left: 1px none;
    border-right: 1px none;
}

.tabla-informacion thead tr th {
    border: 1px none;
    line-height: 27px;
}


.tabla-informacion tbody tr:first-child td {
    border-top: 1px none;
}

.tabla-informacion thead tr th:first-child {
    border: 1px none;
    border-radius: 5px 0px 0px 5px;
}

.tabla-informacion thead tr th:last-child {
    border: 1px none;
    border-radius: 0px 5px 5px 0px;
}
