@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.PronosticoModel
<div class="h-panel" style="min-height:600px;">
    <div class="h-panel-tool">
        <div class="tool-item">
            <label id="btn-guardar" title="Guardar cambios">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
            </label>
        </div>
        <div class="tool-item">
            <label id="btn-manual" title="Manual de funciones">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-manual.png" />
            </label>
        </div>
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">

    </div>
</div>