@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.PronosticoModel

<script src="~/Areas/PronosticoDemanda/Content/Scripts/desviacion.js"></script>

<div id="main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
    <div class="ws-wrapper" style="min-height: 600px;">
        <div class="ws-options is-left">
            <div class="tool-item">
                <label id="btnExportar" title="Exportar Pronóstico por Barras">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                </label>
            </div>
        </div>
        <div class="ws-content is-middle">
            <div class="ws-content-header">
                <div class="filters">
                    <div>Tipo</div>
                    <select id="idTipo" class="filtroSimple">
                        <option value="total">Total</option>
                        <option value="ul">UL</option>
                        <option value="reg">REG</option>
                    </select>
                </div>
                <div class="filters">
                    <div>Gráfico</div>
                    <select id="idGrafico" class="filtroSimple">
                        <option value="megavatio">MW</option>
                        <option value="porcentaje">%</option>
                    </select>
                </div>
                <div class="filters">
                    <div>
                        <input id="idTodasBarras" type="checkbox" checked/>Barras
                    </div>
                    <select id="idBarra" class="filtroSimple" disabled>
                        @foreach (var item in Model.ListBarraCPActiva)
                        {
                            <option value="@item.Grupocodi">@item.Gruponomb</option>
                        }
                    </select>
                </div>
            </div>
            <div class="ws-content-body">
                <div class="ws-wrapper" style="height: 500px;">
                    <div id="ht"
                         style="min-width: 500px; overflow: auto;"></div>
                    <div id="hc"
                         style="width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="ws-tools as-box-container is-right">
            <div class="box">
                <div class="box-title">
                    Herramientas
                </div>
                <div class="box-body">
                    <input id="med1" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med2" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med3" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med4" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med5" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med6" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med7" type="text" class="toolHistorico ws-tool-calendar" />
                </div>
            </div>
        </div>
    </div>
</div>