@model COES.MVC.Intranet.Areas.IEOD.Models.CargaDatosModel
@{
    ViewBag.Title = "Interconexiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>

<link href="~/Areas/IEOD/Content/Css/cargadatos.css?v=2.0.1" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/cargadatos/base.js?v=2.0.1"></script>
<script src="~/Areas/IEOD/Content/Scripts/cargadatos/grilla.js?v=2.0.1"></script>
<script src="~/Areas/IEOD/Content/Scripts/cargadatos/interconexion.js?v=2.0.1"></script>

<div class="form-title">
    <div class="content-titulo">Interconexiones entre sistemas operativos del SEIN</div>
    <div class="content-botonera">
        <input type="button" id="btnDescargarFormato" value="Exportar" />
        <input type="button" id="btnGrafico" value="Ver gráficos" />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="action-header">
        <div class="action-content">
            <table id="tablaBusqueda">
                <tr>
                    <td>Fecha:</td>
                    <td>
                        <input type="text" id="txtFechaConsulta" value="@Model.Fecha" />
                    </td>
                    <td>
                        <input type="button" id="btnConsultar" value='Consultar' />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="detalleFormato"></div>

</div>

<div id="popupGrafico" class="general-popup" style="min-width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Gráficos de Interconexiones</span></div>
    <div class="popup-text" id="contenidoGrafico">
        <div id="mensajeGrafico"></div>
        <div class="content-grafico-interconexiones">
            <div id="graficoCN"></div>
            <div id="graficoCS"></div>
        </div>
    </div>
</div>

<input type="hidden" id="hfDatos" />