@model COES.MVC.Intranet.Areas.IEOD.Models.CargaDatosModel
@{
    ViewBag.Title = "Carga de datos de flujo de potencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Areas/IEOD/Content/Scripts/cargadatos/base.js?v=2.0.1"></script>
<script src="~/Areas/IEOD/Content/Scripts/cargadatos/grilla.js?v=2.0.1"></script>
<script src="~/Areas/IEOD/Content/Scripts/cargadatos/cargadatos.js?v=2.0.1"></script>
<link href="~/Areas/IEOD/Content/Css/cargadatos.css?v=2.0.1" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Carga de datos de Tensiones del IEOD</div>
    <div class="content-botonera">
        <input type="button" id="btnConfigurarReporte" value="Configurar reporte" />
    </div>
</div>

<div class="content-hijo">

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#cargaDatos">Carga de datos</a></li>
            <li class='tab'><a href="#consulaDatos">Consulta</a></li>
        </ul>
        <div class='panel-container'>
            <div id="cargaDatos">

                <div class="action-header">
                    <div class="action-content">
                        <table id="tablaBusqueda">
                            <tr>
                                <td>Fecha:</td>
                                <td>
                                    <input type="text" id="txtFechaConsulta" value="@Model.Fecha" style="width: 90px" />
                                </td>
                                <td>
                                    <input type="button" id="btnConsultar" value='Consultar' />
                                    <input type="hidden" id="cbFormato" value="5" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div id="divAcciones" class="action-content">
                        <a href="#" id="btnDescargarFormato">
                            <div>
                                <img src="~/Content/Images/bajar.png" />
                            </div>
                            <span>Descargar formato</span>
                        </a>
                        <a href="#" id="btnConsultarScada">
                            <div>
                                <img src="~/Content/Images/database.png" />
                            </div>
                            <span>Consultar Scada</span>
                        </a>
                        <a href="#" id="btnSubirFormato">
                            <div>
                                <img src="~/Content/Images/subir.png" />
                            </div>
                            <span>Importar formato</span>
                        </a>
                        <a href="#" id="btnEnviarDatos">
                            <div>
                                <img src="~/Content/Images/enviar.png" />
                            </div>
                            <span>Enviar datos</span>
                        </a>
                        <a href="#" id="btnMostrarErrores">
                            <div>
                                <img src="~/Content/Images/errores.png" />
                            </div>
                            <span>Mostrar errores</span>
                        </a>
                    </div>
                </div>

                <div id="mensaje"></div>
                <div id="detalleFormato"></div>

                <div id="leyendaCarga" class="leyenda">
                    <strong>Nota: Información proviene de datos instantáneos de tensión cada 30 minutos (Valores SCADA)</strong>

                    <div class="leyenda-carga">
                        <div class="leyenda-item"><div class="leyenda-estimado"></div><div>Datos estimados</div></div>
                        <div class="leyenda-item"><div class="leyenda-sindato"></div><div>Sin datos</div></div>
                    </div>
                </div>

            </div>

            <div id="consulaDatos">

                <div id="mensajeConsulta"></div>

                <div class="action-header1">
                    <div class="action-content">
                        <table id="tablaConsulta">
                            <tr>
                                <td>Dia:</td>
                                <td>
                                    <select id="cbDiaConsulta">
                                        <option value="-1">-SELECCIONE-</option>
                                        <option value="1">LUNES</option>
                                        <option value="2">MARTES</option>
                                        <option value="3">MIERCOLES</option>
                                        <option value="4">JUEVES</option>
                                        <option value="5">VIERNES</option>
                                        <option value="6">SABADO</option>
                                        <option value="0">DOMINGO</option>

                                    </select>
                                </td>
                                <td>Fecha Inicio:</td>
                                <td>
                                    <input type="text" id="txtFechaInicio" value="@Model.Fecha" />
                                </td>
                                <td>Fecha Fin:</td>
                                <td>
                                    <input type="text" id="txtFechaFin" value="@Model.Fecha" />
                                </td>
                                <td>
                                    <input type="button" id="btnBusqueda" value='Consultar' />
                                    <input type="hidden" id="cbFormatoConsulta" value="5" />
                                    <input type="button" id="btnExportarConsulta" value='Exportar' />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div></div>
                </div>

                <div id="detalleConsulta"></div>

                <div id="leyendaConsulta">
                    <div class="leyenda-carga">
                        <div class="leyenda-item"><div class="leyenda-feriado"></div><div>Días feriados</div></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <br />
    <br />
</div>

<input type="hidden" id="hfIdReporte" value="@Model.IdReporteIeodTension" />

<div id="popupErrores" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Errores en el ingreso de datos</span></div>
    <div class="popup-text" id="contenidoError">

    </div>
</div>

<input type="hidden" id="hfTipoCarga" value="2" />