@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.MaximaDemandaModel

@{
    ViewBag.Title = "Edicion - Maxima Demanda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de la maxima proyectada" }, { "sAccion", "Actualizar" } })
</div>
