@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.MaximaDemandaModel
@{
    ViewBag.Title = "Fecha y hora de la máxima demanda proyectada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Insertar la informacion de la máxima demanda proyectada" }, { "sAccion", "Insertar" } })
</div>