@model COES.Dominio.DTO.Transferencias.TipoUsuarioDTO
@{
    ViewBag.Title = "Ingresar nuevo Tipo de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar nuevo Tipo de Usuario" }, { "sAccion", "Actualizar" } })
</div>