@model COES.MVC.Intranet.Areas.Transferencias.Models.TipoUsuarioModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaTipoUsuario)
        {
            <tr id="fila_@item.TipoUsuaCodi">
                <td class="text_left">@item.TipoUsuaNombre</td>
                <td class="text_left">
                    @if (item.TipoUsuaEstado == "ACT")
                    { <span>Activo</span> }
                    else
                    { <span>Inactivo</span> }
            </td>
            <td style="width:30px;"><a href="#" id="view_@item.TipoUsuaCodi" class="view"><img src="@Url.Content("~/Content/Images/btn-open.png")" title="Ver informacion del registro" alt="Ver informacion del registro" /></a></td>
            <td style="width:30px;">
                @if (Model.bEditar)
                {
                    <a href="@Url.Action("Edit", new { id = item.TipoUsuaCodi })"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
                }
            </td>
            <td style="width:30px;">
                @if (Model.bEliminar)
                {
                    <a href="#" id="eliminar_@item.TipoUsuaCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="popup"></div>