@model COES.MVC.Intranet.Areas.Transferencias.Models.TipoUsuarioModel

@{
    ViewBag.Title = "Vista Preliminar";

}



<fieldset>
    <legend>Tipo de Usuario</legend>
    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model =>model.Entidad.TipoUsuaNombre , "Nombre : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TipoUsuaNombre)</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.Entidad.TipoUsuaEstado, "Estado : ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.Entidad.TipoUsuaEstado)</div>
            </td>
        </tr>

    </table>

</fieldset>
<div>
    <span class="button b-close"><span>X</span></span>
</div>