@model COES.MVC.Intranet.Areas.Web.Models.CalendarioModel
@{
    ViewBag.Title = "Calendario COES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Areas/Web/Content/Scripts/Calendar/fullcalendarmin.css" rel="stylesheet" />
<script src="~/Areas/Web/Content/Scripts/Calendar/momentmin.js"></script>
<script src="~/Areas/Web/Content/Scripts/Calendar/fullcallendarmin.js"></script>
<script src="~/Areas/Web/Content/Scripts/Calendar/locale.js"></script>
<link href="~/Areas/Web/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Areas/Web/Content/Scripts/calendario.js?v=2"></script>


<div class="form-title">
    <div class="content-titulo">Calendario COES</div>
    <div class="content-botonera">        
        <input type="button" id="btnNuevo" value="Nuevo" />
        <input type="button" id="btnCalendario" value="Ver calendario" />
        <input type="button" id="btnTiposEvento" value="Tipos de Eventos" />
        <input type="button" id="btnMeses" value="Infografías" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Nombre:</td>
                <td>
                    <input id="txtNombre" type="text" />
                </td>            
                <td>Fecha Desde:</td>
                <td>
                    <input id="txtFechaInicio" type="text" value="@Model.FechaInicio" />
                </td>            
                <td>Fecha Hasta:</td>
                <td>
                    <input id="txtFechaFin" type="text" value="@Model.FechaFin" />
                </td>            
                <td colspan="2" style="text-align:center">
                    <input id="btnConsultar" type="button" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">

    </div>

</div>

<div id="popupEdicion" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Datos de Evento</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>

<div id="popupCalendario" class="general-popup" style="width:100%; height:825px">
    <div><span class="button b-close"><span>X</span></span></div>    
    <div  id="contenidoCalendario">
    </div>
</div>