@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">
    Log de Eventos
</div>


<div class="form-main" style="margin-top:10px">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFechaLog" value="@ViewBag.Fecha" />
                </td>
                <td>
                    <input type="button" id="btnBuscarLogProceso" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="PaginadoLogProceso"></div>
        </div>
        <div style="clear:both; margin-bottom:10px"></div>
        <div class="table-list" id="ListadoLogProceso"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>
</div>

<script src="~/Areas/ValorizacionDiaria/Content/Scripts/LogProceso.js"></script>

