@model COES.MVC.Extranet.Areas.IEOD.Models.MensajeModel
@{
    int idMsg = Model.MsgCodi;
    var mensaje = Model.MsgContenido; 
    var correoD = Model.MsgFrom;
    var correoP = Model.MsgTo;
    var asuntoA = Model.MsgAsunto;
    string fechaM = Convert.ToString(Model.MsgFecha);
    int tipo = (int)Session["TIPO_LISTA"];
}

<style>
    .note-toolbar .panel-heading {
        display:none !important;
    }
    .note-editor .panel-heading {
        display: none !important;
    }


</style>

    <div class="mail-box-header">
        <div class="pull-right tooltip-demo">
            @if (tipo == 1) { 
                <a href="JavaScript:redactar(@idMsg);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Responder"><i class="fa fa-reply"></i> Responder</a>
            }
            else
            {
                <a href="JavaScript:volver(@tipo);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Volver"><i class="fa fa-reply"></i> Volver</a>
            }
           
        </div>
        <h2>
            Ver mensaje
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">


            <h3>
                <span class="font-normal">Asunto: </span>@asuntoA
            </h3>
            <h5>
                <span class="pull-right font-normal">@fechaM</span>

                @if (tipo == 1) { 
                <span class="font-normal">De: </span>@correoD
                }
                else {
                    <span class="font-normal">Para: </span>@correoP
                }
            </h5>
        </div>
    </div>
    <div class="mail-box">


        <div class="mail-body">
            <div class="summernote" id="ContentMsgDet">
                @mensaje
            </div>
        </div>
        
        <div class="mail-body text-right tooltip-demo">            
            @if (tipo == 1)
            {
                <a href="JavaScript:redactar(@idMsg);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Responder"><i class="fa fa-reply"></i> Responder</a>
            }
            else
            {
                <a href="JavaScript:volver(@tipo);" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Volver"><i class="fa fa-reply"></i> Volver</a>
            }

      </div>
        <div class="clearfix"></div>


    </div>

       