<script type="text/javascript">



</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirstCom" class="pag-ini"><a href="JavaScript:cargarPrimeraPaginaCom();"><<</a></div>
        <div id="pagPrevCom" class="pag-ini"><a href="JavaScript:cargarAnteriorPaginaCom();"><</a></div>
        @for (int i = 1; i <= Model.NroPaginas; i++)
        {
            <div class="pag-item" id="@("pagCom" + i)" style="display:none"><a href="JavaScript:cargarPaginaCom(@i);"><span>@i</span></a></div>
        }
        <div id="pagNextCom" class="pag-fin"><a href="JavaScript:cargarSiguientePaginaCom();">></a></div>
        <div id="pagLastCom" class="pag-fin"><a href="JavaScript:cargarUltimaPaginaCom();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActualCom" value="1" />
    <input type="hidden" id="hfNroPaginasCom" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrarCom" value="@Model.NroMostrar" />
}
