@model COES.MVC.Intranet.Areas.Eventos.Models.BusquedaMantenimientoModel

<script type="text/javascript">

    $(function () {
        $('#cbEmpresa').multipleSelect({
            width: '250px',
            filter: true
        });

        $('#cbEmpresa').multipleSelect('checkAll');
    });

</script>

<select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
    @foreach (var item in Model.ListaEmpresas)
    {
        <option value="@item.Emprcodi">@item.Emprnomb</option>
    }
</select>
