fieldset {    
    border: 1px solid #132077;    
}

legend {    
    color: #132077;    
}

.columna-mes {
    background: #2980B9 !important;
    color: #FFFFFF !important;
}


/* Quitar "botones STEP" del input number (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    
}

/* Input number (Firefox) */
input[type=number] {
    -moz-appearance: textfield;
    text-indent: 8px;
    border: 1px solid #CBD3CF;
    height: 20px;
    font: 12px "arial", sans-serif;
    border-radius: 5px;
    color: #4876AA !important;
}

    input[type=number]:invalid {
        border: red solid 2px;
        background: #FCE3E3;
    }