.handsontable .filaDesactivada {
    text-align: center;
    color: #8D8D8D !important;
    background-color: #E7DBBD !important;
}

.handsontable table thead th {
    background-color: #3D8AB8;
    color: white;
    font-weight: bold;
}