

/*MVILLENA ALANIA TOLTIP*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptextright {
    visibility: hidden;
    width: 120px;
    background-color: white;
    border:1px solid;
    border-color: #2980B9;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    /*top: 150%;
    left: 50%;
    margin-left: -60px;*/
}

.tooltip .tooltiptextright::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptextright {
    visibility: visible;
}



.tooltip .tooltiptextleft {
    visibility: hidden;
    width: 120px;
    background-color: white;
    border:1px solid;
    border-color: #2980B9;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 150%; 
}

.tooltip .tooltiptextleft::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: 5px;
    border-width: -5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptextleft {
    visibility: visible;
}
