@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/plupload.full.min.js" type="text/javascript"></script>
<script src="~/Content/Scripts/EnviarCV.js?v=1.6" type="text/javascript"></script>
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Content/Scripts/efecto.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<style type="text/css">
    .error {
        margin-left: 1rem !important;
    }
 
</style>
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Contactenos.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-2">
                <div class="coes-box--content container pt-2 pb-2 pe-2 ps-2">
                    <div class="content-search1" id="registro-oportunidades">
                        <div id="mensaje">
                        </div>
                        <form id="frmRegistro">
                            <div class="coes-form-item d-flex align-items-center mb-1 mt-1">
                                <h3 class="heading-5 mb-4 mt-3" style="margin-left:8px;">Oportunidades de Trabajo</h3>
                            </div>

                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Convocatoria</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <div class="col col-md-6"> 
                                    <select id="Convocatoria" name="Convocatoria" class="form-control col me-2 ms-2" style=" max-width: 92%;"></select>
                                    <input type="hidden" id="ConvocatoriaDesc" name="ConvocatoriaDesc" />
                                </div>
                            </div>

                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Número de Identificación</label>
                                <label style="max-width: none; width: 50%;" class="ms-3">*Nombres Completos</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <div class="col col-md-6">
                                    <input id="NumeroIdentificacion" name="NumeroDeIdentificacion" type="text" class="form-control col me-2 ms-2" style=" max-width: 92%;" />
                                </div>
                                <div class="col col-md-6">
                                    <input id="NombresCompletos" name="NombresCompletos" type="text" class="form-control col me-2 ms-2" style=" max-width: 92%;" />
                                </div>


                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Apellidos</label>
                                <label style="max-width: none; width: 50%;" class="ms-3">Ciudad</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <div class="col col-md-6">
                                    <input id="Apellido" name="Apellidos" type="text" class="form-control col me-2 ms-2" style="max-width: 92%;" />
                                </div>
                                <div class="col col-md-6">
                                    <select name="ciudad" id="ciudad" style="max-width: 92%;" class="form-control col me-2 ms-2">
                                        <option>Amazonas</option>
                                        <option>Ancash</option>
                                        <option>Apurimac</option>
                                        <option>Arequipa</option>
                                        <option>Ayacucho</option>
                                        <option>Cajamarca</option>
                                        <option>Callao</option>
                                        <option>Cusco</option>
                                        <option>Huancavelica</option>
                                        <option>Huánuco</option>
                                        <option>Ica</option>
                                        <option>Junín</option>
                                        <option>La Libertad</option>
                                        <option>Lambayeque</option>
                                        <option>Lima</option>
                                        <option>Loreto</option>
                                        <option>Madre de Dios</option>
                                        <option>Moquegua</option>
                                        <option>Pasco</option>
                                        <option>Piura</option>
                                        <option>Puno</option>
                                        <option>San Martín</option>
                                        <option>Tacna</option>
                                        <option>Tumbes</option>
                                        <option>Ucayali</option>
                                    </select>
                                </div>

                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Correo Electrónico</label>
                                <label style="max-width: none; width: 50%;" class="ms-3">Correo Electrónico (Alterno)</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <div class="col col-md-6">
                                    <input id="correo" name="Correo" type="text" class="form-control col me-2 ms-2" style="max-width: 92%;" />
                                </div>
                                <div class="col col-md-6">
                                    <input id="correoa" name="Correoalterno" type="text" class="form-control col me-2 ms-2" style="max-width: 92%;" />
                                </div>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">*Teléfono de Contacto</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <div class="col col-md-6">
                                    <input id="telefonocontacto" name="Telefonocontacto" type="text" class="form-control col col-md-4 me-2 ms-2" style="max-width: 92%;" />
                                </div>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <label style="max-width: none; width: 50%;" class="ms-3">Descripción</label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-3">
                                <div class="col col-md-12">
                                    <textarea name="descripcion" id="descripcion" rows="5" cols="5" class="form-control textAreaOPe col me-2 ms-2" style="max-width: 100%; width: 96%; border: 1px solid var(--bs-gray-500); border-radius: 10px;"></textarea>
                                </div>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1 mt-3">
                                <label class="ms-3 me-3">*Adjunte</label>
                                <button id="btnSelectFile" style="border: 1px solid black; position: relative; z-index: 1; border-radius:3px;">Seleccionar archivo</button>
                                <label id="fileInfo" style="margin-left:8px;" class="info">Ninguno archivo selec.</label>
                                <label id="progreso" class="info"></label>
                                <span class="ps-2" id="spnbtnSelectFile">(*)</span>
                                <span style="padding-left:10px;padding-right:10px">PDF (Máximo 8Mb)</span>
                                <div id="container"></div>
                                <input id="nombrearchivo" type="hidden" name="nombrearchivo" />
                                <input type="hidden" id="hfArchivo" />
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1">
                                <div style="border-bottom:1px solid #cecece; height:1px;"></div>
                            </div>
                            <div style="border-bottom:1px solid #cecece; height:1px; width:100%; margin:10px 0"></div>
                            <div class="coes-form-item d-flex align-items-center mb-1 ms-3 mt-3">
                                <label><strong>* Campos Obligatorios</ ></label>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1 ms-3 mt-1">
                                <input type="checkbox" id="cbCondiciones" style="margin-right: 10px; accent-color: #34495e;" />He leído y acepto las condiciones de <a href="JavaScript:openCondiciones();" style="margin-right: 5px; margin-left: 5px;">tratamiento para mis datos personales</a>
                                <div style="clear:both"></div>
                            </div>
                            <div class="coes-form-item d-flex align-items-center mb-1 coes-filters d-flex ">
                                <div class="coes-form-item" style="width:300px; margin:auto; margin-top:10px">
                                    <input id="btnEnviar" type="button" class="coes-form-item--submit" value="Enviar" />
                                </div>
                            </div>
                        </form>
                        <div id="generalPupload" style="display:none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>

<div class="">

    <div class="popup-content">


    </div>
</div>

@*<div id="popupEdicion" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion">
        <div class="popup-title" style="text-align:center; margin-top:0"><span>Protección de Datos Personales COES</span></div>
        <p>
            De conformidad con la Ley N°29733, Ley de Protección de Datos Personales, el titular da su consentimiento para el tratamiento de los datos personales que son facilitados en el presente formulario o por cualquier medio desde el momento de su ingreso o utilización del portal web del Comité de Operaciones Económicas del Sistema Interconectado Nacional (COES).
            <br />
            <br />
            COES utilizará estos datos personales para realizar las gestiones que resulten necesarias en el marco de proceso de selección en el cual esté participando, que incluye, entre otras, actividades como evaluación de aptitudes, pruebas psicológicas y/o por competencias, verificación y cotejo de antecedentes y de los datos proporcionados, evaluaciones médicas pre-ocupacionales.
            <br />
            <br />
            Asimismo, COES le informa que el tratamiento podrá ser realizado por COES o a través de un agente designado por COES, únicamente para las finalidades descritas precedentemente. Para llevar a cabo el tratamiento de sus datos personales, la Organización tiene implementadas medidas de seguridad organizativas, jurídicas y técnicas, que permiten la disponibilidad, integridad, confidencialidad y uso autorizado de sus datos personales, mismas que son igualmente exigibles a nuestros proveedores de servicios.
            <br />
            <br />
            Usted puede ejercer los derechos de acceso, rectificación, cancelación y oposición de los datos personales escribiendo a datospersonales@coes.org.pe, indicando su nombre completo, datos de contacto y especificando la revocación que solicita.
        </p>
    </div>
</div>*@

<div class="modal fade" id="popupEdicion" tabindex="-1" aria-labelledby="popupDisclaimerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" class="coes-modal-close--button b-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header text-center">
                <h5 class="modal-title" id="popupDisclaimerLabel">Protección de Datos Personales COES</h5>
            </div>
            <div class="modal-body">
                <p>
                    De conformidad con la Ley N°29733, Ley de Protección de Datos Personales, el titular da su consentimiento para el tratamiento de los datos personales que son facilitados en el presente formulario o por cualquier medio desde el momento de su ingreso o utilización del portal web del Comité de Operaciones Económicas del Sistema Interconectado Nacional (COES).
                    <br />
                    <br />
                    COES utilizará estos datos personales para realizar las gestiones que resulten necesarias en el marco de proceso de selección en el cual esté participando, que incluye, entre otras, actividades como evaluación de aptitudes, pruebas psicológicas y/o por competencias, verificación y cotejo de antecedentes y de los datos proporcionados, evaluaciones médicas pre-ocupacionales.
                    <br />
                    <br />
                    Asimismo, COES le informa que el tratamiento podrá ser realizado por COES o a través de un agente designado por COES, únicamente para las finalidades descritas precedentemente. Para llevar a cabo el tratamiento de sus datos personales, la Organización tiene implementadas medidas de seguridad organizativas, jurídicas y técnicas, que permiten la disponibilidad, integridad, confidencialidad y uso autorizado de sus datos personales, mismas que son igualmente exigibles a nuestros proveedores de servicios.
                    <br />
                    <br />
                    Usted puede ejercer los derechos de acceso, rectificación, cancelación y oposición de los datos personales escribiendo a datospersonales@coes.org.pe, indicando su nombre completo, datos de contacto y especificando la revocación que solicita.
                </p>
            </div>
        </div>
    </div>
</div>
