@model COES.MVC.Intranet.Areas.CortoPlazo.Models.RegionSeguridadModel

<div id="mensajeEnlaceRegionSeguridad" class="action-message">Complete los datos por favor.</div>

<table>
    <tr>
        <td>Tipo de equipo:</td>
        <td>
        <select id="cbTipoRegionSeguridad">
            <option value="">-SELECCIONE-</option>
            <option value="1">GENERADORES</option>
            <option value="2">LÍNEAS DE TRANSMISIÓN</option>
        </select>
        </td>
    </tr>
    <tr>
        <td>Seleccionar equipo:</td>
        <td>
           
            <select id="cbEnlaceRegionSeguridad"></select>
            <input type="button" id="btnAgregarEnlaceRegionSeguridad" value="Agregar" />
            <input type="button" id="btnCancelarEnlaceRegionSeguridad" value="Cancelar" />
        </td>
    </tr>
</table>
<input type="hidden" id="hfCodigoRegionSeguridad" />

<br />
<br />
<div id="contentEnlaceRegionSeguridad">

</div>