@model COES.MVC.Intranet.Areas.CortoPlazo.Models.GrupoLineaModel

<table border="0" class="pretty tabla-icono" id="tablaEnlace">
    <thead>
        <tr>
            <th></th>                           
            <th>Nodo Barra 1</th>
            <th>Nodo Barra 2</th>           
            <th>ID</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaLinea.Count > 0)
        {
            foreach (var item in Model.ListaLinea)
            {
                <tr>
                    <td>                       
                        <a href="JavaScript:enlaceDelete(@item.Configcodi);"><img src="~/Content/Images/btn-cancel.png" /></a>
                    </td>                                                    
                    <td>@item.Nodobarra1</td>
                    <td>@item.Nodobarra2</td>                    
                    <td>@item.Idems</td>                    
                </tr>
            }
        }
    </tbody>
</table>