@model COES.MVC.Intranet.Areas.CortoPlazo.Models.GrupoLineaModel

<div id="mensajeEnlace" class="action-message">Complete los datos por favor.</div>

Seleccionar línea: 
<select id="cbEnlace">
    <option value="">-SELECCIONE-</option>
    @foreach (var item in Model.ListaLinea)
    {         
        <option value="@item.Configcodi">@(item.Nodobarra1 + " - " + @item.Nodobarra2 + " - "  + @item.Idems )</option>
    }
</select>


<input type="button" id="btnAgregarEnlace" value="Agregar" />
<input type="button" id="btnCancelarEnlace" value="Cancelar" />

<input type="hidden" id="hfIdGrupoEnlace" />

<br />
<br />
<br />
<div id="contentEnlace">

</div>