@model COES.MVC.Intranet.Areas.CortoPlazo.Models.LineaModel
@{
    ViewBag.Title = "Linea y Grupos de Líneas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/CortoPlazo/Content/Scripts/linea.js?v=5.0"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Configuración Lineas y Conjuntos</div>
    <div class="content-botonera">
        <input type="button" id="btnLineaTrafo" value="Edición tipo Excel" style="display:none" />        
               
    </div>
</div>

<div class="content-hijo">
  
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#lineas">Configuración de Línea y Trafo</a></li>
            <li class='tab'><a href="#grupolineas">Conjunto de Líneas</a></li>
            <li class='tab'><a href="#regionseguridad">Conjunto de Líneas y Generadores</a></li>
            <li class='tab'><a href="#flujoMinimo">Conjunto de Líneas de Flujo Mínimo</a></li>
        </ul>
        <div class='panel-container'>
            <div id="lineas">


                <div id="mensaje"></div>
                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Empresa:</td>
                            <td>
                                <select id="cbEmpresa">
                                    <option value="-1">-TODOS-</option>
                                    @foreach (var item in Model.ListEmpresa)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>
                            <td>Estado:</td>
                            <td>
                                <select id="cbEstado">
                                    <option value="-1">-TODOS-</option>
                                    <option value="ACTIVO">Activo</option>
                                    <option value="INACTIVO">Inactivo</option>
                                </select>
                            </td>
                            <td style="display:none">Grupo:</td>
                            <td style="display:none">
                                <select id="cbGrupoFiltro">
                                    <option value="-1">-SELECCIONE-</option>
                                   
                                </select>
                            </td>
                            <td>
                                <select id="cbFamiliaList">
                                    <option value="8">LINEA</option>
                                    <option value="9">TRAFO 2D</option>
                                    <option value="10">TRAFO 3D</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value='Consultar' />
                                <input type="button" id="btnNuevoLinea" value="Nueva línea" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="listado">
                </div>
            </div>
            <div id="grupolineas">

                <div style="width:150px; text-align:right; float:right"><input type="button" id="btnNuevoGrupo" value="Nuevo grupo de líneas" /></div>
                <div style="clear:both"></div>
                <div id="mensajeGrupo"></div>
                <div id="listadoGrupo"></div>
            </div>
            <div id="regionseguridad">
                <div style="width:130px; text-align:right; float:right"><input type="button" id="btnNuevoRegionSeguridad" value="Nuevo conjunto" /></div>
                <div style="clear:both"></div>
                <div id="mensajeRegionSeguridad"></div>
                <div id="listadoRegionSeguridad"></div>
            </div>
            <div id="flujoMinimo">

                <div style="width:150px; text-align:right; float:right"><input type="button" id="btnNuevoGrupoMinimo" value="Nuevo grupo de líneas" /></div>
                <div style="clear:both"></div>
                <div id="mensajeGrupoMinimo"></div>
                <div id="listadoGrupoMinimo"></div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>


<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Líneas</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>

<div id="popupGrupoLinea" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="tituloGrupo">Configuración de Grupo de Líneas</span></div>
    <div class="popup-text" id="contenidoGrupoLinea">

    </div>
</div>

<div id="popupRegionSeguridad" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración conjuntos líneas y generadores</span></div>
    <div class="popup-text" id="contenidoRegionSeguridad">

    </div>
</div>
