@model COES.MVC.Intranet.Areas.CortoPlazo.Models.RelacionModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CortoPlazo/Content/Scripts/relacionglobal.js?v=1.15"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>

<style>
    .handsontable table thead th {
        background-color: #2980B9;
        color: white;           
    }
</style>


<div class="form-title">
    <div class="content-titulo">Equivalencia de Códigos Generadores</div>
    <div class="content-botonera">        
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <form id="form" name="form">
        <div class="action-message" id="mensaje">Ingrese los datos</div>
    </form>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td>Estado:</td>
                <td>
                    <select id="cbEstado">
                        <option value="-1">-TODOS-</option>
                        <option value="ACTIVO">Activo</option>
                        <option value="NO ACTIVO">No activo</option>
                    </select>
                </td>
                <td>Grupo:</td>
                <td>
                    <input type="button" id="btnVer" value="Consultar" />
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
    <table>
        <tr>
            <td>
                <input type="hidden" id="hfDatos" value="@Model.Datos" />
            </td>
            <td>
                <div id="contenedor"></div>
            <td>
        </tr>
    </table>
</div>


