<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
	</configSections>
	<appSettings>
		<add key="LocalDirectory" value="C:\ArchivosWeb\"/>
		<add key="IndicadorNotificacionPR03" value="S"/>
		<add key="EmailServer" value="172.16.100.254"/>
		<add key="MailFrom" value="webapp@coes.org.pe"/>
		<add key="UserNameSMTP" value=""/>
		<add key="PasswordSMTP" value=""/>
		<add key="RutaPSSE" value="C:\CarpetaTrabajo\PSSE\"/>
		<add key="ArchivoPSSE" value="MODEL_2016_v1.raw"/>
		<!--<add key="PathCostosMarginales" value="C:\CarpetaTrabajo\CostosMarginales\" />
		<add key="PathExportacionPSSE" value="\\172.16.100.37\psse\" />
    <add key="PathModificacionNCP" value="D:\CarpetaTrabajo\Temporal\" />-->
    <add key="PathCostosMarginales" value="C:\CarpetaTrabajo\CostosMarginales\"/>
		<add key="PathExportacionPSSE" value="C:\CarpetaTrabajo\psse\"/>
		<add key="PathModificacionNCP" value="C:\CarpetaTrabajo\NCP\"/>
		<add key="PathModificacionAlternaNCP" value="C:\CarpetaTrabajo\NCP_MODIFICADO\"/>
		<add key="PathTempCostosMarginales" value="C:\CarpetaTrabajo\Temporal\"/>
		<add key="PathExportacionTNA" value="C:\CarpetaTrabajo\psse\"/>

		<add key="PathReprocesoCostosMarginalesTNA" value="C:\CarpetaTrabajo\tna\"/>
		<!--<add key="PathCostosMarginales" value="D:\CarpetaTrabajo\CostosMarginales\"/>
    <add key="PathExportacionPSSE" value="D:\CarpetaTrabajo\psse\"/>
    <add key="PathModificacionNCP" value="D:\CarpetaTrabajo\datos\"/>
    <add key="PathTempCostosMarginales" value="D:\CarpetaTrabajo\Temporal\"/>-->
		<add key="PathGeneracionEMS" value="C:\CarpetaTrabajo\Temporal\"/>
		<add key="EmailNotificacionCMgN" value="raulccvi@gmail.com"/>
		<add key="IdLecturaMedidorGeneracion" value="1"/>
		<add key="EquipamientoNotificacionMailTo" value="desarrollo@coes.org.pe"/>
		<add key="EquipamientoNotificacionMailBcc" value="desarrollo@coes.org.pe"/>
		<add key="EquipamientoNotificacionCurva" value="raul.castro@coes.org.pe"/>
		<!--AppMovil-->
		<add key="ApiKeyFireBase" value="AAAAdqfpa8E:APA91bFsGQpPKYlWTpdhhkEQ22gW4PRz9xHn5yo7HkBoW0P4BDHXK6-T0YIgvM-0TRZ-KwrwqDFg969i19rNGChuuGjRDXb-Deihz5i88935aHXm7X_njK_fGvLD8Tjdx5_tflHxZt23"/>
		<add key="FireBaseUrl" value="https://coes-9ca52.firebaseio.com/"/>

		<add key="PathProcesoDemandaRaw" value="\\172.16.100.37\tna\"/>
		<add key="PathProcesoDemandaRawCostoMarginal" value="\\testweb\CarpetaTrabajo\CostosMarginales\"/>

		
	</appSettings>
	<connectionStrings>
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR;PASSWORD=S1C03$2018;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR_TTIE;PASSWORD= BDCO35tt13;PERSIST SECURITY INFO=True;USER ID=sic" providerName="Oracle.DataAccess.Client" />-->
		<add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD1_SICOES_NUBE;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD2_SICOES_NUBE;PASSWORD=BA$3D4TO$2022;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client" />-->
		<!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR_TEST;PASSWORD=Dt1CO3$;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
		<add name="ContextoSCADA" connectionString="DATA SOURCE=SICOES11G;PASSWORD=74123;PERSIST SECURITY INFO=True;USER ID=trcoes" providerName="Oracle.ManagedDataAccess.Client"/>
		<add name="ContextoSP7" connectionString="DATA SOURCE=TRCOESR;PASSWORD=NtC2018$;PERSIST SECURITY INFO=True;USER ID=trsp7" providerName="Oracle.ManagedDataAccess.Client"/>
		<add name="ContextoHIS" connectionString="DSN=HisDS;UID=DBCUSER;PWD=dbc.1user" providerName="System.Data.Odbc"/>

		<add name="ConnCyDOC" connectionString="Data Source=172.16.100.79;Initial Catalog=CYDOC;User=cydoc;pwd=cydocCOES2019;EnList=false;Connect Timeout=5000000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
</configuration>
