@model COES.MVC.Extranet.Areas.IEOD.Models.DemandaDiariaModel
<script>
    $(function () {
        $('#cbSemana').val($('#hfSemana').val());

        $('#cbSemana').change(function () {
            mostrarExcelWeb();
        });
    });
</script> @*ASSETEC 201909: Se actualizo el nombre del modelo y sus atributos *@
<select id="cbSemana" name="IdSemana" style="width: 104px">
    @foreach (var item in Model.ListaGenSemanas)
    {
        <option value="@item.Entero1">@item.String1</option>
    }
</select>