@model COES.MVC.Extranet.Areas.IEOD.Models.DemandaDiariaModel
@{
    ViewBag.Title = "Demanda Diaria";
    Layout = "~/Views/Shared/ViewFormato.cshtml";
}
<script type="text/javascript">
    var controlador = siteRoot + 'IEOD/demandadiaria/';
    var INIT_RENDERIZAR = false;
    $(function () {
    });
</script>

<style>
    .content-action {
        padding-bottom: 5px;
    }
</style>

<script src="~/Areas/IEOD/Content/Scripts/demandadiaria.js?v=2.1.6"></script>
@*//ASSETEC 20180718////////////////////////////////////////*@
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>@*ASSETEC 201909 este lo estoy copiando de la intranet a la extranet*@
<script src="~/Content/Scripts/jquery-ui.min.js"></script>
<script src="~/Content/Scripts/jquery.easing.1.3.js"></script>@*ASSETEC 201909 este lo estoy copiando de la intranet a la extranet*@
@*//////////////////////////////////////////*@
<div class="form-title_intranet">
    <div class="content-titulo">Remisión Demanda </div>
    <div class="content-botonera">
        <span style="font-family: Arial, Helbetica, sans-serif; font-size: 12px">Tipo de Formato: </span>
        <select id="cbTipoFormato" name="cbTipoFormato" style="width: 188px; margin-bottom: 6px;">
            @foreach (var item in Model.ListaFormato)
            {
                <option value="@item.Formatcodi">@item.Formatnombre</option>
            }
        </select>

        <input type="button" id="btnConsultar" value="Consultar" style="display: none" />
    </div>
</div>

<div id="cargaDatos">

</div>

<div id="validaciones" class="popup-class-1" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>

<div id="enviosanteriores" class="popup-class-1" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<div id="congelados" class="popup-class-1" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Lista de Datos Congelados</span></div>
    @* Se agrega overflow para el scroll - ASSETEC 10032020 *@
    <div id="idCongelados" style="height:370px;width:1250px;overflow:auto;">
    </div>
</div>

<div id="justificaciones" class="popup-class-1" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Lista de Datos Justificados</span></div>
    <div id="idJustificaciones" style="height:370px;">
    </div>
</div>

@*<div class="panel-ieod" id="idIeod">
</div>*@

<div id="leyenda" style="z-index:9999999999;" class="popup_app">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Leyenda</span></div>
    <div id="idLeyenda" style="height:370px;">
    </div>
</div>

@*//ASSETEC 20180718////////////////////////////////////////*@
<div id="pronostico">
</div>