@model COES.MVC.Extranet.Areas.IEOD.Models.DemandaDiariaModel

<script type="text/javascript">
    //inicializarView('@(Model.IdHoja)');
</script>

<div id="formHoja@(Model.IdHoja)">
    <div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">

        <div class="content-tabla" style="display:block;">
            <div class="bodyexcel" id='detalleFormato@(Model.IdHoja)'></div>
        </div>

        <div style="clear:both; height:30px"></div>

        <input type="hidden" id="hfHoja" value="@Model.IdHoja" />
        <input type="hidden" id="hfHojaNombre" value="@Model.NombreHoja" />
    </div>
</div>