@model COES.MVC.Publico.Areas.Medidores.Models.RankingModel
<script type="text/javascript">
    $(function () {
        $('#cbEmpresas').multipleSelect({
            filter: true
        });
        $('#cbEmpresas').multipleSelect('checkAll');
    });
</script>

<select id="cbEmpresas" multiple="multiple">
    @foreach (var item in Model.ListaEmpresas)
    {
        <option value="@item.Emprcodi">@item.Emprnomb</option>
    }
</select>