<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width" />

    @*<link href="~/Content/Css/jquery-ui.min.css" rel="stylesheet" />*@

    <link href="~/Areas/PMPO/Content/Css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Css/css.css?v=1.0" rel="stylesheet" />
    <link href="~/Content/Css/menu.css?v=1.0" rel="stylesheet" />
    <link href="~/Content/Css/calendar.css" rel="stylesheet" />
    <link href="~/Content/Css/table.css" rel="stylesheet" />
    <link href="~/Content/Css/popup.css" rel="stylesheet" />
    <link href="~/Content/Css/form.css" rel="stylesheet" />

    <script type="text/javascript">
        var siteRoot = "@Url.Content("~/")";
        var initialURL = "@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))";
    </script>

    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/jquery-ui.min.js"></script>

                    @*<script src="~/Content/Scripts/jqueryui.js"></script>*@
    <script src="~/Content/Scripts/datatable.js"></script>
    <script src="~/Areas/PMPO/Content/Scripts/jquery.dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/Scripts/datepicker.js"></script>
    <script src="~/Content/Scripts/menu.js?v=1.0"></script>
    <script src="~/Content/Scripts/efecto.js"></script>
    <script src="~/Content/Scripts/popup.js"></script>
    <script src="~/Content/Scripts/master.js?v=20.0"></script>
    <script src="~/Content/Scripts/util.js"></script>

    <link type="text/css" rel="stylesheet" href="~/Areas/PMPO/Content/Css/app-common.css" />


    <script src="~/Areas/PMPO/Content/Scripts/app-common.js"></script>
</head>
<body style="background-color: #fff;">
    <div id="loading" class="loading">
        <div class="loading-image"><img src="~/Content/Images/loading.gif" alt="Loading..." /></div>
        <div class="loading-text">Procesando...</div>
    </div>
    @RenderBody()
</body>
</html>