@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Procedimientos Técnicos";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>
            <p>
                Documentaci&oacute;n cursada respecto al <br>
                Decreto Supremo N°31-2020-EM
            </p>
        </h1>
        <span></span>
    </div>
    <img src="~/Content/Images/Banners/ProcedimientosNew.jpg" alt="Procedimientos Técnicos" style="width: 100%;" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("IndexArbol", "Browser", new { area = "", url = "Documentación%20General%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>


<script>

function convertDate(d) {
  var p = d.split("/");
  return +(p[2]+p[1]+p[0]);
}

function sortByDate() {
    var tbody = document.querySelector("#tbDocumentLibrary tbody");

    console.log(tbody);
  // get trs as array for ease of use
  var rows = [].slice.call(tbody.querySelectorAll("tr"));

  rows.sort(function(a,b) {
    return convertDate(b.cells[4].innerHTML) - convertDate(a.cells[4].innerHTML);
  });

  rows.forEach(function(v) {
    tbody.appendChild(v); // note that .appendChild() *moves* elements with date format dd/mm/yyyy
  });
}
    window.onload = function () {
        setTimeout(function () { sortByDate(); }, 1000);
        setTimeout(function () { sortByDate(); }, 3000);
	
};
</script>
