@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Procedimientos Técnicos";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/ProcedimientosNew.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/MarcoNormativo/Procedimientos/Tecnicos" class="sidebar-nav--link sidebar-nav--link-active">Técnicos</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/MarcoNormativo/Procedimientos/Administrativos" class="sidebar-nav--link">Administrativos</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/browser/download?url=Marco Normativo/Procedimientos/Glosario de Terminos/Glosario%20de%20T%C3%A9rminos.pdf" class="sidebar-nav--link">Glosario de Términos</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9 mb-md-4">
            @Html.Action("IndexArbol", "Browser", new { area = "", url = "Marco%20Normativo%2FProcedimientos%2FTecnicos%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>