@model COES.MVC.Extranet.Areas.Campanias.Models.CampaniasModel
@using Newtonsoft.Json
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<script>
    var Proycodi =   @Html.Raw(JsonConvert.SerializeObject(Model.Proycodi));
    console.log('proycodi', Proycodi);
    $('#txtPoyCodi').val(Proycodi);
</script>
<script src="~/Areas/Campanias/Content/Scripts/absolverProyecto.js"></script>
<div class="content-tabla" id="contenido-fichas">
    <div id="mensajeFicha"></div>
    <input type="hidden" id="txtPoyCodi" name="txtPoyCodi">
    <div class="panel-container content-proy" style="min-height: 300px; margin-top:20px ">
        <fieldset style="border: solid #DDDDDD 1px">
            <legend style="margin-left: 1em; padding: 0.2em 0.8em ">OBSERVACIONES</legend>
            <div id="listadoObservacion"></div>
        </fieldset>         
    </div>

    <div id="popupProyectoObservacion" class="general-popup" style="width:320px;top:0px">
        <div>
            <span class="button b-close">
                <span>X</span>
            </span>
        </div>
        <div class="popup-text">
            <form>
                <p id="contenidoPopupObs">
                </p>
                <div style="display: flex; gap: 10px; justify-content: center">
                    <input type="button" id="btnConfirmarPopupObs" value="Aceptar" style="margin-top: 15px;">
                    <input type="button" id="btnCancelarObs" value="Cancelar" style="margin-top: 15px;" onclick="popupClose('popupProyectoObservacion')">
                </div>
            </form>
        </div>
    </div>
         
</div>

<div id="spinner-container"></div>