@model COES.MVC.Extranet.Areas.Campanias.Models.CampaniasModel
<div class="content-registro">
    <div id="mensajeObservacion"></div>
    <form id="frmRegistroObservacion">
        <table style="width:100%">
            <tr>
                <td>
                    Fecha Obs:
                </td>
                <td>
                    <input type="text" id="txtFechaObservacion" name="txtFechaObservacion" style="width:120px" disabled/>
                </td>
            </tr>
            <tr>
               <td>
                    Observación:
                </td>
                <td>
                    <textarea id="txtObservacion" name="txtObservacion" style="width:100%" rows="3" value="Observacion" maxlength="255" disabled>Observacion</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaArchivoObservacion" aria-describedby="Evento">
                        <thead>
                            <tr>
                                <th scope="col">Archivo</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha Rpta:
                </td>
                <td>
                    <input type="text" id="txtFechaRespuesta" name="txtFechaRespuesta" style="width:120px" disabled/>
                </td>
            </tr>
            <tr>
               <td>
                    Respuesta:
                </td>
                <td>
                    <textarea id="txtRespuestaObservacion" name="txtRespuestaObservacion" style="width:100%" rows="3" maxlength="255"></textarea>
                </td>
            </tr>
           <tr>
                <td style="width:30%">Cargar Archivos:</td>
                <td colspan="2">
                    <a href="#" id="btnSubirArchivoObservacion">
                        <div>
                            <img src="~/Areas/Campanias/Content/Images/subir.png" />
                        </div>
                        <span>Adjuntar archivo</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaArchivoRespuestaObs" aria-describedby="Evento">
                        <thead>
                            <tr>
                                <th scope="col">Archivo</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:30px">
            <input type="button" id="btnGrabarObservacion" value="Grabar" />
            <input class="btnActive" onclick="" type="button" id="btnCancelarObservacion" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdObservacion" value="" />

    </form>
</div>