@model COES.MVC.Intranet.Areas.DemandaMaxima.Models.AmpliacionPlazoModel
@{
    ViewBag.Title = "Ampliación Plazo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/DemandaMaxima/Content/Scripts/ampliacionPlazo.js?v=1.0"></script>
<link href="~/Areas/DemandaMaxima/Content/Css/css.css" rel="stylesheet" />

<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulodemanda">Ampliación de Plazos</div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="width:120px">Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:200px;">
                        <option value="0"> -- TODOS -- </option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprrazsocial</option>
                        }
                    </select>
                </td>
                <td style="width:60px">Periodo:</td>
                <td>
                    <input type="text" id="periodo" name="periodo" />
                </td> 
                <td>&nbsp;</td>  
                <td>&nbsp;</td> 
                <td>&nbsp;</td> 
                <td>
                    <input type="button" id="btnConsultar" value='Buscar' />
                    <input type="button" id="btnAmpliarPlazo" value="Ampliar Plazo" />
                </td>             
            </tr>                        
        </table>             
    </div>

    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>           
        </div>        
        <div class="table-list" id="listado"></div>       
    </div>
    <div style="clear:both"></div>
    <div id="popupEdicion" class="general-popup" style="width:400px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Ingresar Ampliación</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table>  
                <tr>
                    <td>
                        Empresa:
                    </td>
                    <td>
                        <select id="empresa" name="empresa" multiple="multiple">                            
                        </select>
                    </td>
                </tr>               
                <tr>
                    <td>
                        Periodo:
                    </td>
                    <td>
                        <input type="text" id="fechaPeriodo" name="fechaPeriodo" style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Fecha Ampliación:
                    </td>
                    <td>
                        <input type="text" id="fechaAmpliacion" name="fechaAmpliacion" style="width:300px" />
                    </td>
                </tr>                
                
                <tr>
                    <td colspan="2">
                        &nbsp;

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table align="center">
                            <tr>
                                <td>
                                    <input type="button" value="Agregar" id="btnGuardar" name="btnGuardar" class="form-action" />
                                    <input type="button" value="Cancelar" id="btnCancelar" name="btnCancelar" />
                                </td>
                            </tr>
                        </table>
                    </td>  
                    <td>&nbsp;</td>                  
                </tr>
            </table>            
            <input type="hidden" id="hdnEmpresa" name="hdnEmpresa" />            
        </div>
    </div>
</div>

<input type="hidden" id="hfCantidadRegistros" value="@ViewBag.hfCantidadRegistros" />
