@using COES.MVC.Extranet.Areas.Subastas.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/content/scripts/_layout.js"></script>

<div class="content-menu" id="contentMenu">
    <ul class="menu">
        <li><a href="~/subastas/home/index">Inicio</a></li>
        <li><a href="~/subastas/subasta/defecto">Oferta por Defecto</a></li>
        <li><a href="~/subastas/subasta/diaria">Oferta Diaria</a></li>
    </ul>
</div>*@
<div style="clear:both"></div>
<div class="form-title_intranet">
    <div style="float:left">@ViewBag.Title</div>
    <div style="float:right"><input type="button" id="crear-nuevo" value="Crear Nuevo" style="width:150px; margin-right:10px" /></div>
</div>

    @RenderBody()