@model COES.MVC.Intranet.Areas.Eventos.Models.RsfModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Areas/Eventos/Content/Css/rsf.css" rel="stylesheet" />

<script src="~/Areas/Eventos/Content/Scripts/rsfxml.js?v=6.1"></script>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Exportar archivo XML</div>
    <div class="content-botonera">
        <label style="font-size: 13px; display: none;"><input type="checkbox" checked id="checkboxActualizacionAutomaticaDerecha"  /> Actualización automática a la derecha</label>
        <input type="button" id="btnPrueba" value="btnPrueba" style="display: none" />
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnExportar" value='Exportar' />
        <input type="button" id="btnExportarAGC" value='Exportar AGC' />
        <input type="button" id="btnExportarUnitMaxGeneration" value='Exportar UnitMaxGeneration.xml' />

    </div>
</div>

<div class="content-hijo" style="padding-bottom:5px">    
    <div id="mensaje" class="action-message" style="margin-bottom:5px; margin-top:0px">Revise los datos y modifique si es necesario.</div>
    <div id="contenedor" style="height:auto"></div>
</div>

<input type="hidden" id="hfFecha" value="@Model.Fecha" />

