@model COES.MVC.Intranet.Areas.Eventos.Models.RsfModel
@{
    ViewBag.Title = "Gráfico Reserva Secundaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Areas/Eventos/Content/Css/rsf.css" rel="stylesheet" />
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/rsfgrafico.js"></script>
<script src="~/Content/Scripts/highcharts.js"></script>

<div class="form-title">
    <div class="content-titulo">Gráfico Reserva Secundaria</div>
    <div class="content-botonera">



    </div>
</div>

<div class="content-hijo" style="padding-bottom:5px">
    <div id="mensaje" class="action-message" style="margin-bottom:5px; margin-top:0px; display:none">Revise los datos y modifique si es necesario.</div>
    <div id="contenedor" style="height:auto">


    </div>

    <div id="contenedorGrafico">

    </div>
</div>

<input type="hidden" id="hfFecha" value="@Model.Fecha" />

