@model COES.MVC.Intranet.Areas.Interconexiones.Models.AntecedentesModel
@{
    ViewBag.Title = "Antecedentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/form.css" rel="stylesheet" />
@*<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>*@
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Interconexiones/Content/Scripts/antecedentes.js"></script>

<div class="form-title">
    <div class="content-titulo">Antecedenes - Informes de Intercambios de Electricidad</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value="Nuevo" />     
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabListado">Listado</a></li>
            <li class='tab'><a href="#tabEdicion">Edición</a></li>            
        </ul>
        <div class='panel-container'>
            <div id="tabListado">
                <div id="listado"></div>
            </div>
            <div id="tabEdicion">
                <form id="frmRegistro">
                    <textarea id="txtContenido" name="Contenido" style="height:240px; width:600px"></textarea>
                    <input type="hidden" id="hfCodigoAntecedente" name="Codigo" />
                    <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
                        <input type="button" id="btnGrabar" value="Grabar" />                       
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
