
@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleGasModel

@{
    ViewBag.Title = "Reporte de envío Combustible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Areas/Combustibles/Content/Css/Gas/general.css" rel="stylesheet" />
<script src="~/Areas/Combustibles/Content/Scripts/Gas/reporteGeneral.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Reportes de Envío de Costo de Combustible Gaseoso </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_reporte" style="float: left;padding-right: 5px; width: 100%;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">
            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Reportes</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td style="width: 80px; float: left;">
                        <div class="menu-item suboptions" data-url="/Combustibles/ReporteGas/IndexCumplimiento" data-alto="620" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Reporte de Cumplimiento
                            </label>
                        </div>
                    </td>
                    <td style="width: 130px; float: left;">
                        <div class="menu-item suboptions" data-url="/Combustibles/ReporteGas/IndexCostoVariable" data-alto="720" title=""  style=" width: 132px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Reporte mensual de cálculo de costo variable
                            </label>
                        </div>
                    </td>
                    <td style="width: 140px; float: left;">
                        <div class="menu-item suboptions" data-url="/Combustibles/ReporteGas/IndexHistorico" data-alto="1400" title="" style=" width: 140px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Reporte histórico de costos, precios y poder calorífico
                            </label>
                        </div>
                    </td>
                    <td style="width: 100px; float: left;">
                        <div class="menu-item suboptions" data-url="/Combustibles/ReporteGas/IndexEnvios" data-alto="1400" title="" style=" width: 100px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Reporte de envíos generados en la extranet
                            </label>
                        </div>
                    </td>
                    <td style="width: 100px; float: left;">
                        <div class="menu-item suboptions" data-url="/Combustibles/ReporteGas/IndexAmpliacion" data-alto="1400" title="" style=" width: 100px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Reporte de ampliación de plazo
                            </label>
                        </div>
                    </td>
                    <td style="width: 150px; float: left;">
                        <div class="menu-item suboptions" data-url="/Combustibles/ReporteGas/IndexParticipante" data-alto="1400" title="" style=" width: 150px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Reporte de información presentada por Participante Generador
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <iframe id="myiframe" frameborder="0" src="" scrolling="no" height="600" style="margin-top: 15px;">
        </iframe>
    </div>
</div>