@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleGasModel
@{
    ViewBag.Title = "Envios";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Combustibles/Content/Scripts/Gas/index_ampliacion.js?v=1.0"></script>
<link href="~/Areas/Combustibles/Content/Css/Gas/css.css?v=1.0" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Ampliaciones de plazo</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <input type="hidden" id="hfEmpresa" />
    <div class="search-content" style="margin-bottom:0px; padding:10px">

        <table class="content-tabla-search" style="width:auto" role="presentation">
            <tr>
                <td style="vertical-align: middle;">Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>

                <td>Fecha Desde:</td>
                <td>
                    <input type="text" id="FechaDesde" style="width: 90px;" name="FechaInicio" value="@Model.FechaInicio" />
                </td>
                <td>Fecha Hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" style="width: 90px;" name="FechaFin" value="@Model.FechaFin" />
                </td>

                @*<td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                </td>*@
            </tr>
        </table>
    </div>

    <div class="content-tabla" id="listado" style="">
        <div class="" id="listadoEnvios">

        </div>
    </div>

</div>