@model COES.MVC.Intranet.Areas.Eventos.Models.CasosEspecialesModel

<table border="0" class="pretty tabla-icono" id="tablaCasosEspeciales">
    <thead>
        <tr>
            <th>Descripción</th>
            <th style="width:100px">Acciones</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.ListaCasosEspeciales.Count > 0)
        {
            foreach (var item in Model.ListaCasosEspeciales)
            {
                <tr>

                    <td>@item.CREDESCRIPCION</td>
                    <td style="width:140px">
                        <a href="JavaScript:editarCasosEspeciales(@item.CRESPECIALCODI);" title="Editar"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarCasosEspeciales(@item.CRESPECIALCODI);" title="Eliminar"><img src="~/Content/Images/btn-cancel.png" /></a>
                        <a href="JavaScript:verCasosEspeciales(@item.CRESPECIALCODI);" title="Ver"><img src="~/Content/Images/btn-open.png" /></a>
                    </td>
                    @if (item.CREESTADO == "A")
                    { <td>Activo</td> }
                    else {<td>Inactivo</td>}
                    

                </tr>
            }
        }
    </tbody>
</table>