@model COES.MVC.Intranet.Areas.Eventos.Models.CasosEspecialesModel

<div class="content-registro">

    <div class="popup-title" style="margin-bottom:10px"><span>Datos del Caso Especial</span></div>
    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr style="display:none">
                <td class="registro-label">Codigo:</td>
                <td class="registro-control">
                    <input type="text"  id="txtCodigoCasosEspeciales" name="CRESPECIALCODI" maxlength="60" value="@Model.EntidadCasosEspeciales.CRESPECIALCODI" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control">
                    <input type="text" id="txtDescripcionCasosEspeciales" name="CREDESCRIPCION" maxlength="60" style="width:320px" value="@Model.EntidadCasosEspeciales.CREDESCRIPCION" />
                </td>
            </tr>

            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstadoCasosEspeciales" name="CREESTADO" style="width:75px" >
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <input type="hidden" id="hfEstadoCasosEspeciales" value="@Model.EntidadCasosEspeciales.CREESTADO" />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarCasosEspeciales" value="Grabar" />
        </div>

        <input type="hidden" id="hfCodigo" name="CRESPECIALCODI" value="@Model.EntidadCasosEspeciales.CRESPECIALCODI" />

    </form>

</div>