@model COES.MVC.Intranet.Areas.Eventos.Models.CasosEspecialesModel
@{
    ViewBag.Title = "CasosEspecialesIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Eventos/Content/Scripts/CriteriosEvento/criteriosevento.js"></script>

<div class="form-title">
    <div class="content-titulo">Casos Especiales</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevoCasosEspeciales" value='Nuevo' />
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>
    <div id="listadoCasosEspeciales">
    </div>
</div>

<div id="popupEdicionCasosEspeciales" class="general-popup" style="width:400px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoEdicionCasosEspeciales" style="margin-top:0">

    </div>
</div>
