@model COES.MVC.Intranet.Areas.Eventos.Models.CriteriosEventoModel

@{
    string ComentarioEtapa = ViewBag.Comentario;

}
<div class="content-registro">
    <div class="popup-title" style="margin-bottom:10px"><span>Comentario de la Etapa</span></div>
    <form id="frmRegistro">
        <table>
            <tr>
                <td class="registro-control" style="word-wrap: break-word; max-width: 588px; min-width: 588px; text-wrap: inherit;">
                    @Html.Raw(ComentarioEtapa)
                </td>
            </tr>
        </table>
    </form>

</div>