@model COES.MVC.Intranet.Areas.Eventos.Models.CriteriosModel

<table border="0" class="pretty tabla-icono" id="tablaCriterios">
    <thead>
        <tr>
            <th>Descripción</th>
            <th style="width:100px">Acciones</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.ListaCriterios.Count > 0)
        {
            foreach (var item in Model.ListaCriterios)
            {
                <tr>

                    <td>@item.CREDESCRIPCION</td>
                    <td style="width:140px">
                        <a href="JavaScript:editarCriterios(@item.CRCRITERIOCODI);" title="Editar"><img src="~/Content/Images/btn-edit.png" /></a>
                        <a href="JavaScript:eliminarCriterios(@item.CRCRITERIOCODI);" title="Eliminar"><img src="~/Content/Images/btn-cancel.png" /></a>
                        <a href="JavaScript:verCriterios(@item.CRCRITERIOCODI);" title="Ver"><img src="~/Content/Images/btn-open.png" /></a>
                    </td>
                    @if (item.CREESTADO == "A")
                    {
                        <td>Activo</td>
                    }
                    else
                    {
                        <td>Inactivo</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>