@model COES.MVC.Intranet.Areas.Eventos.Models.CriteriosModel
@{
    ViewBag.Title = "CriteriosIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Eventos/Content/Scripts/CriteriosEvento/criteriosevento.js"></script>



<div class="form-title">
    <div class="content-titulo">Criterios</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevoCriterios" value='Nuevo' />
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>
    <div id="listadoCriterios">
    </div>
</div>

<div id="popupEdicionCriterios" class="general-popup" style="width:400px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicionCriterios" style="margin-top:0">

    </div>
</div>