@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.PlantillaCorreoModel
@{
    ViewBag.Title = "Configuración Plantilla de Correos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/datatable.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>

<script src="~/Areas/CalculoResarcimiento/Content/Scripts/plantillacorreo.js?v=1.0.3"></script>

<div class="form-title">
    <div class="content-titulo">Configuración Plantilla de Correos</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <input type="hidden" id="hdIdPlantillaEnDetalle" />
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabLista">Listado</a></li>
            <li class='tab'><a href="#tabDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>

            <div id="tabLista">
                <div id="vistaListado">

                    <div id="div_listado" class="content-tabla">

                    </div>
                </div>

            </div>

            <div id="tabDetalle">

                <div id="div_detalle" class="content-tabla" style="overflow-x: scroll;">

                </div>
            </div>

        </div>
    </div>

</div>

<div id="popupAgregarVariable" class="general-popup" style="width: 350px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Variable</span></div>
    <div id="mensaje_popupCargos"></div>
    <div class="table-list" id="seccionListadoVariables" style="margin: 20px">


    </div>
</div>
