@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroEquivalenciaModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Formulario", Model, new ViewDataDictionary { { "sTitulo", "Agregar Relación de Códigos VTEA y VTP" },
    { "sAccion", "Grabar" },
    { "EMPRVTEA",ViewBag.EMPRVTEA},
    { "EMPRVTP",ViewBag.EMPRVTP}
})
</div>
<script type="text/javascript">
    $(document).ready(() => {
        editar = true;
        $('#btnGrabar').prop('disabled', false);
        cargarDetalle();
    })
</script>
