@model COES.MVC.Intranet.Areas.Intervenciones.Models.BandejaModel
@{
    ViewBag.Title = "Mensajes de Intervenciones";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Areas/Intervenciones/Content/Css/general.css?v=9.0.0" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/Registro/IntervencionesArchivo.js?v=9.0.0"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/Bandeja/bandeja.js?v=9.0.0"></script>

<div class="form-title">
    <div class="content-titulo">Bandeja de Mensajes de Intervenciones</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" style="display:block">
    <div id="mensaje"></div>

    <div class="action-header">
        <div class="action-content">
            <table id="tablaBusqueda">
                <tr>
                    <td style="width: 250px;">Tipo de Programación:</td>
                    <td style="width: 250px;">Programación:</td>
                    <td style="width: 200px;">Fecha Inicio:</td>
                    <td style="width: 200px;">Fecha Fin:</tdstyle="width:>
                    <td rowspan="2" style="vertical-align:central">
                        <input type="button" id="btnConsultar" value="Consultar" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="cbTipoProgramacion" style="width:200px">
                            @foreach (var item in Model.ListaTiposProgramacion)
                            {
                                <option value=@item.Evenclasecodi>@item.Evenclasedesc</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="cbProgramacion" style="width:200px">
                            <option value="0">--Todos--</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" id="txtInicio" value="" />
                    </td>
                    <td>
                        <input type="text" id="txtFin" value="" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="action-content" id="contenedorAcciones" style="display:none">
            <div id="divAcciones">
                <a href="#" id="btnNuevaComunicacion">
                    <div>
                        <img src="~/Content/Images/copiar.png" />
                    </div>
                    <span>Responder mensaje</span>
                </a>
                <a href="#" id="btnDescargarAdjunto">
                    <div>
                        <img src="~/Content/Images/Document/raricon.png" />
                    </div>
                    <span>Descargar adjuntos</span>
                </a>
                <a href="#" id="btnDescargarMsj">
                    <div>
                        <img src="~/Content/Images/Document/raricon.png" />
                    </div>
                    <span>Descargar mensajes</span>
                </a>
                <a href="#" id="btnReportePDF">
                    <div>
                        <img src="~/Content/Images/pdf.png" />
                    </div>
                    <span>Reporte mensaje</span>
                </a>
            </div>
        </div>
    </div>

    <div class="bandeja">
        <div class="bandeja-left" id="listadoMensaje">

        </div>
        <div class="bandeja-rigth" id="detalleMensaje">

        </div>
        <div class="bandeja-nuevo" id="nuevoMensaje">
            <iframe id="frmRegistro" frameborder="0" height="900" width="100%"></iframe>
        </div>
    </div>
    <input type="hidden" id="hfIntervencion" />
</div>
