@model COES.MVC.Intranet.Areas.Coordinacion.Models.RegistroObservacionModel

<table border="0" class="pretty tabla-icono" id="tablaHistoria">
    <thead>
        <tr>
            <th>Estado</th>
            <th>Comentario</th>
            <th>Usuario</th>
            <th>Fecha</th>           
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaHistoriaItem.Count > 0)
        {
            foreach (var item in Model.ListaHistoriaItem)
            {
                <tr>
                    <td>@item.Obitesestado</td>
                    <td>@item.Obitescomentario</td>
                    <td>@item.Obitesusuario</td>
                    <td>@item.Obitesfecha</td>                    
                </tr>
            }
        }
    </tbody>
</table>