@model COES.MVC.Intranet.Areas.Coordinacion.Models.RegistroObservacionModel
           
@{
    ViewBag.Title = ".::Registro de Observaciones de señales SCADA::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Coordinacion/Content/Scripts/registroobservacion.js?v=1"></script>


<div class="form-title">
    <div class="content-titulo">Registro de Observaciones de Señales ICCP</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value='Nuevo' />
        <input type="button" id="btnExportar" value='Exportar' />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>               
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprenomb</option>
                        }
                    </select>
                </td>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="txtFechaInicio" value="@Model.FechaInicio" />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="txtFechaFin" value="@Model.FechaFin" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
    </div>

    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    

    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>

