@model COES.MVC.Intranet.Areas.Coordinacion.Models.RegistroObservacionModel

@{
    ViewBag.Title = ".::Registro de Observaciones de señales SCADA::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Coordinacion/Content/Scripts/registroautomativo.js?v=1"></script>


<div class="form-title">
    <div class="content-titulo">Prueba de registro automático</div>
    <div class="content-botonera">
        
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprenomb</option>
                        }
                    </select>
                </td>                
                <td>Correo:</td>
                <td>
                    <input type="text" id="txtCorreo" style="width:300px" />
                </td>
                <td>Proceso a probar:</td>
                <td>
                    <select id="cbProceso" style="width:380px" >
                        <option value="1">Notificación y registro automático de señales con observación</option>
                        <option value="2">Notificación y registro observaciones por caída de enlaces</option>
                        <option value="3">Correo de notificación de los índices de disponibilidad.</option>
                        <option value="4">Notificación por congelamiento de señales</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnProcesar" value="Procesar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
    </div>

    <br />
    <br />
</div>


