@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Videos Tutoriales";
}

<link href="~/Content/Css/organizacion.css" rel="stylesheet" />
<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <img src="~/Content/Images/Banners/EstadisticaOperacion.jpg" alt="" />
        <h1>Videos Tutoriales</h1>
        <div><a></a></div>
    </div>
</div>

<div style="clear:both"></div>


