@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/parametrostecnicos.js?v=1"></script>
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Reporte de cambios de parámetros </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha Inicio:</td>
                <td>
                    <input type="text" id="txtFechaini" value="@Model.Fecha" />
                </td>
                <td>Fecha Fin:</td>
                <td>
                    <input type="text" id="txtFechafin" value="@Model.Fecha" />
                </td>
                <td class="content-action">
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
                <td id="exp" style="display:none">
                    <input type="button" id="btnExportar" value="Exportar" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div id="tab-container" class='tab-container' style="display:none">
            <ul id="tabss" class='etabs'>
                <li id="tab_1" class='tab'><a href="#data1">Cambios en Equipamiento</a></li>
                <li id="tab_2" class='tab'><a href="#data2">Ingreso Nuevos Equipos</a></li>
                <li id="tab_3" class='tab'><a href="#data3">Retiro de Equipos</a></li>
                <li id="tab_4" class='tab'><a href="#data4">Cambios Propiedades de Equipos</a></li>
                <li id="tab_5" class='tab'><a href="#data5">Cambios en Formulas</a></li>
                <li id="tab_6" class='tab'><a href="#data6">Operacion Comercial</a></li>
            </ul>
            <div class='panel-container'>
                <div id="data1">
                    <div class="table-list" id="listado1"></div>
                </div>
                <div id="data2">
                    <div class="table-list" id="listado2"></div>
                </div>
                <div id="data3">
                    <div class="table-list" id="listado3"></div>
                </div>
                <div id="data4">
                    <div class="table-list" id="listado4"></div>
                </div>
                <div id="data5">
                    <div class="table-list" id="listado5"></div>
                </div>
                <div id="data6">
                    <div class="table-list" id="listado6"></div>
                </div>
            </div>
        </div>
    </div>
</div>
