@{
    ViewBag.Title = "Documentos Temporales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Documentos</h1>
        <span>
        </span>
    </div>
    <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Documentos Temporales" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Publicaciones%2FTemporal%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>
