.action-message-celda {
    margin-top: 10px;
    background: url('../../../../Content/Images/ico-info.gif') no-repeat 10px 50%;
    /*border: 2px solid #58c0ff;*/
    padding: 0px;
    text-indent: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

select:disabled {
    opacity: 1.0;
}

.search-content3 {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 5px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 1px;
}

    .search-content3 select {
        background-color: #fff;
        width: 100px;
        font-size: 10px;
        color: #3f6bc3;
    }

    .search-content3 label {
        width: 100px;
        font-size: 12px;
        color: #4bbde3;
    }

.celda-item {
    padding-right: 5px;
    padding-left: 10px;
    color: #3f6bc3;
}

.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

div.content-item-action {
    /*padding-left: 6px;
    padding-right: 6px;*/
    line-height: 10px;
}

td.content-action {
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 5px;
}

.content-item-action img {
    height: 25px;
    width: 25px;
    margin: auto;
}

.search-content {
    padding: 0px;
    border: 0px solid #D9E8F3;
    margin-bottom: 10px;
    border-radius: 0px;
    padding-bottom: 4px;
}

.content-item-action span {
    font-size: 12px;
    text-decoration: none;
}

.td_seccion_titulo {
    font-weight: bold !important;
    text-align: center !important;
    color: white !important;
    background: rgb(41, 128, 185) !important;
}

.td_item_numeral {
    color: rgb(41, 128, 185) !important;
    background: rgb(237, 245, 252) !important;
    text-align: center;
}

.td_item_nombre {
    color: rgb(41, 128, 185) !important;
    background: rgb(221, 221, 221) !important;
}

.td_item_valor_lectura {
    color: dimgray !important;
    background-color: silver !important;
    vertical-align: middle !important;
}

.td_item_valor_error {
    /*color: white !important;
    background-color: #ffc5c5 !important;
    vertical-align: middle !important;*/
}

.td_item_unidad_lectura {
    color: rgb(41, 128, 185) !important;
    background: rgb(221, 221, 221) !important;
    text-align: center;
}

.tdPadd {
    padding-left: 10px;
}

.tdSeparate {
    width: 10px;
    background-color: white;
    border: 1px solid white;
}

.file-upload {
    margin-top: 10px;
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.plupload_file {
    border: 1px solid #FFFFFF;
    float: left;
    margin: 3px;
    padding: 6px;
}

.plupload_container {
    min-height: 80px;
    width: 400px;
    position: relative;
}

.ui-widget-content {
    background: url("../images/fondo_file.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip:hover:after {
        bottom: 26px;
        content: attr(title); /* este es el texto que será mostrado */
        left: 20%;
        position: absolute;
        z-index: 98;
        /* el formato gráfico */
        background: rgba(255,255,255, 0.2); /* el color de fondo */
        border-radius: 5px;
        color: #3565F1; /* el color del texto */
        font-size: 10px;
        padding: 5px 15px;
        text-align: left;
        /*text-shadow: 1px 1px 1px #000;*/
        width: 250px;
    }

    .tooltip:hover:before {
        bottom: 20px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
        /* el triángulo inferior */
        border: solid;
        border-color: rgba(255,255,255, 0.2) transparent;
        border-width: 6px 6px 0 6px;
    }

.tabla-icono tbody tr td {
    vertical-align: middle;
    padding: 2px;
    border: 1px solid #dddddd;
}

    .tabla-icono tbody tr td a img {
        width: 19px;
        height: 19px;
    }

.tabla-form tbody tr td {
    border-spacing: 0px;
}

#popup, #popupUnidad, #popupGen, #adjuntos {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 280px;
    padding: 25px
}

#popup {
    min-height: 50px
}

#popupGen {
    min-height: 50px
}

input[type=text] {
    background: white;
}

    input[type=text]:disabled {
        background-color: lightgray;
        color: #4876AA;
    }

.tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

    .tooltip .tiptext::after {
        content: "";
        position: absolute;
        border-width: 5px;
        border-style: solid;
    }

.tooltip:hover .tiptext {
    visibility: visible;
}


.tooltip.bottom .tiptext {
    margin-left: -60px;
    top: 150%;
    left: 50%;
}

    .tooltip.bottom .tiptext::after {
        margin-left: -5px;
        bottom: 100%;
        left: 50%;
        border-color: transparent transparent #2E2E2E transparent;
    }

td.estiloPopupGas {
    text-align: center;
    vertical-align: middle;
    background: rgb(13, 106, 183);
}

    td.estiloPopupGas img {
        cursor: pointer;
        width: 18px;
    }

td.estiloBtnEliminarSustento {
    text-align: center;
    vertical-align: middle;
    background: white;
}

    td.estiloBtnEliminarSustento img {
        cursor: pointer;
        width: 18px;
    }

.tab-container .panel-container {
    border: solid #DDDDDD 1px;
    padding: 10px;
    min-height: 500px;
}

.divexcel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 99%;
    display: inline-block;
    vertical-align: top;
}


.headexcel {
    z-index: 9999;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.bodyexcel {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
