@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ConsultaModel
@{
    ViewBag.Title = "Configuración de Barras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CortoPlazo/Content/Scripts/consulta.js?v=1.0"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consulta de Datos EMS</div>
    <div class="content-botonera">
        
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Datos:</td>
                <td>
                    <select id="cbDatos">                        
                        <option value="1">Demanda en barras</option>
                        <option value="2">Flujo en líneas</option>
                        <option value="3">Generación</option>
                    </select>
                </td>
                <td>Fecha inicio:</td>
                <td>
                    <input type="text" id="txtFechaInicio" value="@Model.FechaConsulta" />                    
                </td>
                <td>Fecha fin:</td>
                <td>
                    <input type="text" id="txtFechaFin" value="@Model.FechaConsulta" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value='Exportar a Excel' />
                </td>
            </tr>
        </table>
    </div>  
    <br />
    <br />
</div>