@model COES.MVC.Intranet.Areas.TiempoReal.Models.ActualizacionSp7Model
@{
    ViewBag.Title = "Listado de Cambios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/TiempoReal/Content/Scripts/ActualizacionSp7.js"></script>
<link href="~/Areas/TiempoReal/Content/Css/ActualizacionSp7.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Listado de Cambios</div>
</div>
<div class="content-hijo" id="mainLayout">

    @using (Html.BeginForm("", "Equipo", FormMethod.Post, new { @class = "form-search", name = "frmBusquedaCambios", id = "frmBusquedaCambios" }))
    {
        <div class="search-content" style="margin-bottom:0">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td style="padding-left: 15px;">Desde:</td>
                    <td>
                        <input type="text" id="txtFechaInicial" name="FechaInicial" value="@Model.FechaInicial" />
                    </td>
                    <td style="padding-left: 15px;">Hasta:</td>
                    <td>
                        <input type="text" id="txtFechaFinal" name="FechaFinal" value="@Model.FechaFinal" />
                    </td>
                    <td style="padding-left: 15px;">
                        <input type="button" id="btnConsultar" value="Consultar" />
                    </td>
                    <td style="padding-left: 15px;">
                        <div class="td_inline content-action">
                            <a href="#" id="btnExportarExcel">
                                <div class="content-item-action">
                                    <img src="~/Content/Images/exportarExcel.png" class="set_size" /><br />
                                    <span>Reporte</span>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="mensaje" style="width:300px; margin:0"></div>
        </div>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    }

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>

        <div id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

