
<table class="pretty tabla-icono">
    <thead>
        <tr>
            <th colspan="2">Días Totales de Atención</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Máximo</td>
            <td>@ViewBag.maximo</td>
        </tr>
        <tr>
            <td>Mínimo</td>
            <td>@ViewBag.minimo</td>
        </tr>
        <tr>
            <td>Promedio</td>
            <td>@ViewBag.promedio</td>
        </tr>
    </tbody>
</table>