@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ProcesoModel
@{
    ViewBag.Title = "Proceso de Costos de Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/CostoOportunidad/Content/Scripts/copiardatos.js?v=2"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Importación de datos - Costos de Oportunidad</div>
    <div class="content-botonera">
       
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo:</td>
                <td>
                    <select id="cbPeriodo">                       
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            <option value="@item.Copercodi">@item.Copernomb</option>
                        }
                    </select>                    
                </td>
                <td>Versión:</td>
                <td>
                    <select id="cbVersion">
                        
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                    <input type="button" id="btnImportar" value="Copiar datos" />
                    <input type="button" id="btnExportar" value="Exportar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Programa con Reserva</a></li>
                <li class='tab'><a href="#paso2">Programa sin Reserva</a></li>
                <li class='tab'><a href="#paso3">RA Down Programada</a></li>
                <li class='tab'><a href="#paso4">RA Up Programada</a></li>
                <li class='tab'><a href="#paso5">RA Down Ejecutada</a></li>
                <li class='tab'><a href="#paso6">RA Up Ejecutada</a></li>
            </ul>
            <div class='panel-container'>
                <div id="paso1">
                    <h2>Programa con Reserva</h2>
                    <div id="programaConReserva"></div>

                </div>
                <div id="paso2">
                    <h2>Programa sin Reserva</h2>
                    <div id="programaSinReserva">
                    </div>
                </div>
                <div id="paso3">
                    <h2>Reserva Asignada Down Programada</h2>
                    <div id="raProgramadaDown">
                    </div>
                </div>
                <div id="paso4">
                    <h2>Reserva Asignada Up Programada</h2>
                    <div id="raProgramadaUp">
                    </div>
                </div>
                <div id="paso5">
                    <h2>Reserva Asignada Down Ejecutada</h2>
                    <div id="raEjecutadaDown">
                    </div>
                </div>
                <div id="paso6">
                    <h2>Reserva Asignada Up Ejecutada</h2>
                    <div id="raEjecutadaUp">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>