@mixin  coes-button() {
  border: solid thin var(--bs-gray-500);
  color: var(--bs-gray-600);
  border-radius: 6px;
  padding: pxtorem(15) pxtorem(30);
  background-color: transparent;
  text-align: center;
  transition: $transition-out;
  text-decoration: none;

  &:hover {
    background-color: var(--bs-gray-300);
    color: var(--bs-gray-600);
    transition: $transition-in;
  }


  @include mq($until: desktop) {
    width: 100%;
  }
}

