@model COES.MVC.Intranet.Areas.Subastas.Models.ProcesoModel
@{
    ViewBag.Title = "Subastas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermiso ? "" : "display: none";
}

<link href="~/Areas/Subastas/Content/Css/general.css?v=1.3" rel="stylesheet" />
<script src="~/Areas/Subastas/Content/Scripts/general.js?v=1.5.3"></script>

<div class="form-title">
    <div class="content-titulo">Subastas RSF</div>
    <div class="content-botonera" style="display: flex; align-items: center; height: auto; gap: 10px;">
        <a href="#" id="btnManualUsuario" style="text-decoration: none;">
            <div style="text-align: center; line-height: 15px; font-size: 12px;">
                <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px;"><br>
                <span style="color: #278CCC;">Manual de Usuario</span>
            </div>
        </a>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_reporte" style="float: left; padding-right: 15px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto;">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Reportes</b></div>
                    </td>
                </tr>

                <tr>
                    <td style="height: 90px;">
                        <div id="opcionReporteSubDiaria" class="menu-item suboptions" data-url="/Subastas/Oferta/Diaria/" data-alto="900" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Oferta Diaria
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/Oferta/Defecto/" data-alto="900" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Oferta Defecto
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/Oferta/OfertasDefectoActivadas" data-alto="750" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Ofertas Defecto Activadas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/Oferta/ReservaSecundaria" data-alto="830" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Reserva Secundaria
                            </label>
                        </div>
                    </td>

                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/GraficosYBitacora/Index" data-alto="1100" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Gráficos y Bitácora
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_proceso" style="float: left; @opcionStyle">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto;">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Proceso</b></div>
                    </td>
                </tr>

                <tr>
                    <td style="height: 90px;">
                        <div class="menu-item suboptions" data-url="/Subastas/ConfgSubasta/IndexProcesarOferta" data-alto="700" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Desencriptar Ofertas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/ActivacionOferta/Index" data-alto="1000" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Activar Ofertas por Defecto
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/ConfgSubasta/default" data-alto="700" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Horarios Subasta
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/ConfgSubasta/ofertasimetrica" data-alto="700" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Oferta simétrica
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_configuracion" style="float: left;padding-left: 15px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto;">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Configuración</b></div>
                    </td>
                </tr>

                <tr>
                    <td style="height: 90px;">
                        <div class="menu-item suboptions" data-url="/Subastas/Configuracion/default/" data-alto="700" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Parámetros
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/Configuracion/IndexURSCalificadas/" data-alto="1200" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                URS Calificadas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/Configuracion/IndexProvisionaBase/" data-alto="1200" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Provisión Base
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/ModoOperacion/default/" data-alto="700" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Modos de Operación
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Subastas/RegistroUsuarios/Default/" data-alto="700" title="" style="width: 70px;">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Usuarios por URS
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_notificaciones" style="float: left; padding-left: 15px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto;">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Notificaciones</b></div>
                    </td>
                </tr>

                <tr>
                    <td style="height: 90px;">
                        <div class="menu-item suboptions" data-url="/Subastas/Notificacion/Index" data-alto="950" title="" style="width: 90px;">
                            <img src="~/Content/Images/btn-notificaciones.png" />
                            <br />
                            <label>
                                Notificaciones Automáticas
                            </label>
                        </div>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <iframe id="iframeSubasta" frameborder="0" src="" scrolling="no" height="1200" style="margin-top: 15px;">
        </iframe>
    </div>
</div>