@model COES.MVC.Intranet.Areas.Medidores.Models.ValidacionMedidoresModel
@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Medidores/Content/Css/medidores.css?v=1.1" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/fixedheader.js"></script>

<style>
    .contenedor-grafico{
        margin-bottom:40px;
    }
</style>

<script src="~/Areas/Medidores/Content/Scripts/validaciongrafico.js?=5.1"></script>

<div class="form-title">
    <div class="content-titulo">Validación de Registros de Medidores y SCADA</div>
    <div class="content-botonera">
       
        @*<input type="button" id="btnExportar" value="Exportar" />*@
        <input type="button" id="btnCancelar" value="Cancelar" />

    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Mes:</td>
                <td>
                    <input type="text" id="txtFechaInicial" style="width:140px" value="@Model.FechaInicio" />
                </td>

                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" >
                        <option value="">--TODOS--</option>
                        @foreach (var item in Model.Listado)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                  
                </td>
                <td>Central:</td>
                <td>
                    <select id="cbGrupo">
                       
                    </select>
                </td>
                <td>
                    <input type="checkbox" id="cbGraficoCentral" />Graficar por central
                </td>
            
                <td>
                    <input type="button" id="btnConsultar" value="Ver Reporte" />
                </td>
            </tr>
            
        </table>
    </div>

    <input type="hidden" id="hfEmpresa" />
 
    <div id="listado">

        <table>
            <tr>
                <td valign="top">
                    <div id="contentTabla"></div>
                </td>
                <td style="width:30px"></td>
                <td valign="top">
                    <div id="contentGrafico" style="width: 750px; min-height: 500px; background-color: #F2F5F7; border: 1px solid #DDDDDD; padding:15px; border-radius:5px">
                        <div style="clear:both"></div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

   

</div>

