.msg-info, .msg-success, .msg-warning, .msg-error {
    border: 1px solid;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 10px 10px 10px 35px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.msg-info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Images/msg-ico-info.png');
}

.msg-success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../Images/msg-ico-success.png');
}

.msg-warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../Images/msg-ico-warning.png');
}

.msg-error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../Images/msg-ico-error.png');
}

.nt-header, .nt-body, .nt-header-option.active {
    border-color: #8dafc8;
    border-style: solid;
}

.nt-header {
    display: flex;
    flex-direction: row;
    border-radius: 4px 4px 0 0;
    background: #d9e8f3;
    border-width: 1px 1px 0 1px;
}

@media only screen and (max-width: 1300px) {
    .nt-header-option {
        cursor: pointer;
        line-height: 20px;
        font-weight: bold;
        text-align: center;
    }
}

@media only screen and (min-width: 1300px) {
    .nt-header-option {
        cursor: pointer;
        line-height: 41px;
        font-weight: bold;
        text-align: center;
    }
}

.nt-header-option:first-child {
    border-top-left-radius: 4px;
}

.nt-header-option.active {
    background: #fff;
    border-width: 0 1px 0 1px;    
    color: #1c80ff;
    /*color: #8dafc8;*/
}

.nt-header-option.active:first-child {
    border-left: none;
}

.nt-header-last {
    flex-grow: 1;
}

.nt-header-option, .nt-header-last {
    padding: 10px 15px;
}

.nt-body {
    padding: 10px;
    border-width: 1px;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
}

.i-btn {
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    margin-right: 15px;
}

.i-btn[disabled] {
    pointer-events: none;
    opacity: 0.4; 
}

.i-btn label {
    cursor: pointer;
}

.i-btn label img {
    width: 25px !important;
    height: 25px !important;    
}

.set-float-r {
    float: right;
}

.set-float-l {
    float: left;
}

.set-flex-row {
    display: flex;
    flex-direction: row;
}

.set-align-item-center {
    align-items: center;
}

.dt-col-options {
    display: flex;
    flex-direction: row;
}

.dt-ico-detalle, .dt-ico-editar,
.dt-ico-copiar, .dt-ico-eliminar {
    cursor: pointer;
    max-width: 24px !important;
    max-height: 24px !important;
}

.dt-ico-detalle, .dt-ico-editar {
    padding: 0px 3px 0px 3px;
}

.popup-title input[type=button][disabled] {
    opacity: 0.4;
    pointer-events: none;
}

.popup-text.disabled {
    pointer-events: none;
}

.for-data[disabled] {
    display: none !important;
    pointer-events: none !important;
}

.dt-select {
    width: 200px !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.highchart-panel {
    padding: 10px;
    width: auto;
    height: 450px;
    border: 1px solid #8dafc8;
    margin-bottom: 10px;
    border-radius: 4px;
}

.highchart-panel-title {
    font-weight: bold;
    font-size: x-large;
}
