@{
    ViewBag.Title = "Transferencias - Revisión de Desbalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var PERIANIOMES1 = (IEnumerable<SelectListItem>)TempData["PERIANIOMES1"];
    var iDesbalance = TempData["iDesbalance"];
}
<script src="~/Areas/Transferencias/Content/Scripts/infodesbalance.js"></script>
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Revisión del Desbalance de energía: Entregas / Retiros</div>
        <div class="content-botonera">
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
            <table border="1" cellpadding="5" cellspacing="2" style="width:100%">
                <tr class="THCabecera">
                    <td colspan="8"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                </tr>
                <tr>
                    <td><div class="editor-label">Periodo</div></td>
                    <td><div class="editor-field">@Html.DropDownList("PERICODI", @PERIANIOMES1, "--Seleccione--")</div></td>
                    <td>
                        <div class="editor-label">Versión </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="Version" style="width:100px;"></select>
                        </div>
                    </td>
                    <td><div class="editor-label">Porcentaje de Desbalance [%]</div></td>
                    <td><div class="editor-field"><input type="text" id="txtDesbalance" value="@iDesbalance"></div></td>
                    <td style="text-align:left;"><div><input type="button" id="btnMostrar" value="Mostrar" /></div></td>
                    <td style="text-align:left;"><div><input type="button" id="btnGenerarExcel" value="Exportar Datos" /></div></td>
                </tr>
            </table>
        </div>
        <div class="listado" id="listado">       </div>
    </div>

</div>