@{
    ViewBag.Title = "Transferencias - Reporte de Información Faltante";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Periodo = (IEnumerable<SelectListItem>)TempData["Periodo"];
    var Periodo2 = (IEnumerable<SelectListItem>)TempData["Periodo2"];
}
<script src="~/Areas/Transferencias/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Areas/Transferencias/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />

<script src="~/Areas/Transferencias/Content/Scripts/infofaltante.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Reporte de Información Faltante</div>
        <div class="content-botonera">
        </div>
    </div>

    <div class="content-hijo" style="padding-top:8px">

        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Reporte de Información Faltante</a></li>
                <li class='tab'><a href="#paso2">Reporte de Información Entregada fuera de fecha</a></li>
           
            </ul>

            <div class='panel-container'>

                <div id="paso1">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td colspan="5"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">Periodo</div></td>
                                <td><div class="editor-field">@Html.DropDownList("Periodo", @Periodo, "--Seleccione--")</div></td>
                                <td>
                                    <div class="busqueda-item">
                                        <input type="button" id="btnBuscar" value="Buscar" />
                                        <input type="button" value="Generar Excel" onclick="generarExcel()" alt="Generar Excel" title="Generar Excel" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="listado" id="listado">
                    </div>
                </div>
                <div id="paso2">
                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <table border="1" cellpadding="6" cellspacing="2">
                            <tr class="THCabecera" style="color:#FFFFFF; background-color:#2980B9;">
                                <td colspan="8"><div class="editor-label"><b>Filtro Búsqueda</b></div></td>
                            </tr>
                            <tr>
                                <td><div class="editor-label">Periodo</div></td>
                                <td><div class="editor-field">@Html.DropDownList("Periodo2", @Periodo2, "--Seleccione--")</div></td>
                                <td><div class="editor-label">Versión </div></td>
                                <td><div class="editor-field"><select id="Version" style="width:100px;"></select></div></td>                            
                                <td><input type="button" id="btnDescargarEntregaRetiro" value="Generar Excel" /></td>
                            </tr>
                        </table>
                       
                    
                    </div>




                </div>
            </div>
         </div>
    </div>
</div>
