@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jqueryui.js"></script>

<script>
    $(function () {
        $("#accordion").accordion({
            heightStyle: "content"
        });
    });
</script>

@*<div class="page-banner">

    <div class="page-banner-title">
        <h1>Preguntas Frecuentes</h1>
        <span>
            
        </span>
    </div>
    <img src="~/Content/Images/Banners/Contactenos.jpg" alt="Contáctenos" />
</div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Contactenos.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box coes-box--padding mb-2">
                <div class="coes-box--content container pt-2 pb-2 pe-2 ps-2">
                        <h2 class="heading-4 heading-underlined mb-4">Preguntas Frecuentes</h2>
                   
                    <div id="accordion">
                        <h3 class="heading-5 mb-4 mt-3">¿Qué es el COES?</h3>
                        <div>
                            El Comité de Operación Económica del Sistema (COES), es el organismo que opera el sistema eléctrico peruano, administra el mercado eléctrico peruano y planifica
                            la transmisión eléctrica del sistema con criterios de economía, calidad y seguridad. El COES es una entidad privada sin fines de lucro
                            cuyos aportantes son los agentes del mercado.
                        </div>
                        <h3 class="heading-5 mb-4 mt-3">¿Qué hace el COES?</h3>
                        <div>
                            El COES se encarga de operar el Sistema Eléctrico Interconectado Nacional (SEIN) peruano a
                            través del Centro Coordinador Nacional y de administrar el Mercado de Corto Plazo (MCP).
                            Además, el COES es el encargado de realizar el planeamiento de la transmisión, mediante
                            la realización de un plan vinculante (obligatorio) de transmisión.
                        </div>
                        <h3 class="heading-5 mb-4 mt-3">¿Qué es la Operación del SEIN?</h3>
                        <div>
                            Consiste en efectuar la programación y coordinaciónde la operación integrada de los
                            recursos de generación y transmisión del SEIN, de acuerdo con lo estipulado en la Ley de
                            Concesiones Eléctricas (LCE) y la Ley para Asegurar el Desarrollo Eficiente de la
                            Generación Eléctrica (Ley 28832), cumpliendo con sus respectivos reglamentos y los procedimientos técnicos aprobados por el OSINERGMIN.
                        </div>
                        <h3 class="heading-5 mb-4 mt-3">¿Qué es la Programación de la Operación?</h3>
                        <div>
                            Su función es realizar los análisis eléctricos y energéticos sobre el comportamiento esperado del SEIN y proveer la información de las principales
                            variables con el fin de alcanzar los objetivos de economía, calidad y seguridad en la
                            atención de la demanda de acuerdo con el marco regulatorio vigente.
                            Esto mediante la elaboración del Despacho Económico, cuya finalidad es programar
                            diariamente la utilización de los recursos de generación del SEIN, lo cual se realiza con
                            base en los costos de producción y declaraciones de disponibilidad de los generadores y la
                            disponibilidad de la infraestructura de transmisión eléctrica. Ofrece información sobre la
                            producción de energía eléctrica diaria, el programa actualizado de generación y los costos marginales de la operación.
                        </div>
                         
                        <h3 class="heading-5 mb-4 mt-3">¿Qué es la Coordinación de la Operación?</h3>
                        <div>
                            Su objetivo es la utilización óptima de los recursos para la prestación del servicio eléctrico, mediante el monitoreo permanente de las unidades de generación eléctrica y las instalaciones de
                            transmisión eléctrica, para coordinar las acciones necesarias que permitan mantener los niveles de tensión y de frecuencia dentro de los rangos de calidad establecidos en las normas vigentes.
                            El Centro Coordinador Nacional es el encargado de realizar esta función.
                        </div>

                        <h3 class="heading-5 mb-4 mt-3">¿Qué es la Administración del Mercado de Corto Plazo (MCP)?</h3>
                        <div>
                            Consiste en administrar en forma integral las transferencias de energía y de potencia,
                            así como calcular las diferentes compensaciones derivadas de la operación del SEIN, de acuerdo con lo estipulado en los respectivos Procedimientos COES.
                            Las ventajas de tener un mercado organizado, donde se despachan sus plantas, además se liquidan todas sus transacciones y se le administran sus cuentas
                            en cada uno de los servicios que prestan a los usuarios. Adicionalmente la gran ventaja de disponer de información oportuna, clara y precisa de cómo evoluciona su mercado,
                            de cómo está el entorno, en fin, toda la información que es de utilidad para proyectar sus intenciones de empresa
                        </div>

                        <h3 class="heading-5 mb-4 mt-3"> ¿Qué es la Planificación de la Transmisión?</h3>
                        <div>
                            Es la actividad mediante la cual el COES propone un Plan de Transmisión con un horizonte de 10 años, el cual establece obligatoriedad en la construcción de futuras
                            instalaciones de transmisión (plan vinculante). Este plan es elaborado cada 2 años y sirve de insumo al MEM para que dirija o encargue a Pro Inversión
                            (www.proinversión.gob.pe) para convocar las licitaciones de la concesión de dichas instalaciones de transmisión.
                        </div>

                        <h3 class="heading-5 mb-4 mt-3"> ¿Quiénes son Integrantes del COES?</h3>
                        <div>
                            Son las empresas de generación de electricidad, transmisión eléctrica, distribución eléctrica y los usuarios libres (grandes consumidores), quiénes forman parte del COES.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




