.content-registro table
{
    border-collapse:collapse;
    border-spacing:0;
    border:1px;
}

.content-registro table tr td.registro-label 
{
    border:1px solid #EAEAEA;
    text-indent:10px;
    vertical-align:central;
    background-color:#F9F9F9;
    vertical-align:middle;
}

.content-registro table tr td.registro-control 
{
     vertical-align:middle;
     border:1px solid #EAEAEA;
     padding: 3px 0 3px 10px;
}

.content-registro table tr td.registro-control textarea 
{
    border:1px solid #CBD3CF;
    border-radius:5px;
    height:60px;
    width:400px;   
    font-family:Arial, Helbetica, sans-serif;
    font-size:12px;
    color:#4876AA;	
    background-color:#F2F4F3;
	border:1px solid #CBD3CF;	
	border-radius: 5px;
}

.content-registro form table tr td.registro-control textarea 
{
    border:1px solid #CBD3CF;
    border-radius:5px;
    height:60px;
    width:400px;   
    font-family:Arial, Helbetica, sans-serif;
    font-size:12px;
    color:#4876AA;	
    background-color:#F2F4F3;
	border:1px solid #CBD3CF;	
	border-radius: 5px;
}

.estado_empresa_mensaje {
    margin-block-start: 0;
    margin-block-end: 0;
}

.estado_empresa_A {
    color: #1cbb1c;
    font-weight: bold;
}

.estado_empresa_B {
    color: red;
    font-weight: bold;
}

.icon-eliminar {
    text-indent: 0px !important;
}


.file-carga {
    width: auto;
    height: auto;
}

.file-name {
    background: url('../Images/file.png')10px 50% no-repeat;
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 5px;
    text-indent: 30px;
    border-radius: 6px;
    margin-top: 8px;
    margin-right: 10px;
}

.remove-item {
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: red;
}

.file-carga-titulo {
    color: #2980B9;
    border-bottom: 1px dashed #2980B9;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.estado-carga {
    display: none;
    width: 120px;
    height: 20px;
    margin: auto;
    text-align: center
}

.estado-image {
    width: 20px;
    float: left;
}

.estado-text {
    width: 100px;
    float: left;
    line-height: 20px;
    font-size: 12px;
}

.version-mod {
    background: url('../../../Content/Images/folder_open.png') center left no-repeat;
    text-indent:20px;
    line-height:20px;
}

.version-padre {
    font-weight:bold;
}

.version-hijo {
    margin-left: 25px;
    cursor: pointer;
}

.version-hijo:hover {
    text-decoration:underline;
}

.version-resumen {
    margin-top: 10px;
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 10px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
    line-height: 18px;
}

.version-modelo {
    margin-top: 10px;
    background: #E8F6FF url('../../../Content/Images/gams.png') no-repeat 10px 50%;
    background-size:30px;
    border: 2px solid #B8E2FB;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.version-manual {
    margin-top: 10px;
    background: #E8F6FF url('../../../Content/Images/copiar.png') no-repeat 10px 50%;
    background-size: 30px;
    border: 2px solid #B8E2FB;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.version-file {
    display:grid;
    grid-template-columns: 4fr 1fr;
}

.resumen-file {
    text-indent:40px;
    cursor:pointer;
}

    .resumen-file:hover {
    
        font-weight:bold;
        text-decoration:underline;
    }

.delete-file {
    text-align:right;
    color:red;
    cursor:pointer;
}

    .delete-file:hover {
        text-decoration:underline;
        font-weight:bold;
    }

.edit-file {
    text-align: right;
    color: red;
    cursor: pointer;
}

    .edit-file:hover {
        text-decoration: underline;
        font-weight: bold;
    }

.version-div {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 2fr;
    grid-template-rows: auto;
}

/* .tab-container .panel-container { 
    min-height: 0px;
} */

.general-popup { 
    margin-top: 30px;
}

.accordion-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los acordeones */
}

.accordion-item {
    flex: 1 1 calc(33.333% - 20px); /* 3 acordeones por fila */
    box-sizing: border-box;
    margin-bottom: 20px; /* Espacio entre las filas */
}

    .accordion-item .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .accordion-item .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .accordion-item .accordion.active:after {
            content: "\2212";
        }

    .accordion-item .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion-item .ficha-item {
        margin-bottom: 10px; /* Espacio entre cada elemento */
    }

    .accordion-item .chkFicha {
        margin-right: 10px;
    }
