.tools-content {
    background-color: #EBF5FE;
    border: 1px solid #DCDDDF;
    border-radius: 4px;
    color: #3D90CB;
    margin-bottom: 2px;
    padding: 10px 8px;
}

.tbl-envios > tbody > tr:hover > td {
    text-decoration: underline;
    cursor: pointer;
}

.button-content {
    border: 1px solid #E1E6E9;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px;
    float: left;
}

.button-item {
    float: left;
}

/**popup**/
.title_tabla_pop_up {
    background: #2980B9;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}

.button-item input[type=button] {
    background-color: transparent;
    background-image: none;
    border: 0px;
    color: #3D90CB;
    height: 40px;
    width: auto;
    padding: 24px 8px 8px;
    margin: 0px;
    text-indent: 0px;
    text-align: center;
}

.button-item:hover {
    height: 40px;
    width: auto;
    padding-left: 0px;
    text-indent: 0px;
}

    .button-item:hover input[type=button] {
        color: #FF8040;
    }

.button-item input[type=button].btn-send {
    background: url("../images/enviar.png") center 4px no-repeat;
}

.button-item input[type=button].btn-errors {
    background: url("../images/errores.png") center 4px no-repeat;
}

.button-item input[type=button].btn-sent {
    background: url("../images/envios.png") center 4px no-repeat;
}

.button-item input[type=button].btn-copy {
    background: url("../images/copiado.png") center 4px no-repeat;
}

.button-item input[type=button].btn-mantenimiento {
    background: url("../images/mantenimiento.png") center 4px no-repeat;
}

.button-item input[type=button].btn-duplicate {
    background: url("../images/duplicate.png") center 4px no-repeat;
}

/* Column headers */
.ht_clone_top tr:nth-child(n+2) th {
    background-color: #2980B9;
    color: white;
    font-weight: bold;
}

.handsontable thead th.ht__highlight {
    background-color: #2D8AC8 !important;
}

.search-content3 {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 5px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 1px;
}

    .search-content3 select {
        background-color: #fff;
        width: 100px;
        font-size: 10px;
        color: #3f6bc3;
    }

    .search-content3 label {
        width: 100px;
        font-size: 12px;
        color: #3f6bc3;
    }


.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00;
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }

.celda-item {
    padding-right: 10px;
    padding-left: 10px;
    color: #3f6bc3;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
