@model List<COES.Dominio.DTO.Sic.WbBlobDTO>


@{
    ViewBag.Title = "Descargar Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Web/Content/Scripts/descargalog.js?v=@DateTime.Now.Ticks"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Descargar Log de Carga de Archivos Portal</div>

</div>

<div class="content-hijo">

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Desde:</td>
                <td>
                    <input type="text" id="txtFechaInicio" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </td>
                <td>Hasta:</td>
                <td>
                    <input type="text" id="txtFechaFin" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                </td>


                <td>
                    <input type="button" id="btnConsultar" value='Consultar' />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado"> </div>









  </div>
