@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Proceso de Inscripción MME";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Baja del Participante</h1>
        <span>Flujos del Mercado Mayorista de Electricidad</span>
    </div>
    <img src="~/Content/Images/Banners/Informes.jpg" alt="Evaluacion Anual" />
</div>
<div style="clear:both"></div>
<div class="page-content">

    <iframe src="https://www.coes.org.pe/wcoes/mme/index.html#diagram/03e33cfe-89d0-4ee2-aa32-809af9259b7c" width="100%" height="750" frameborder="0"></iframe>

    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>