@model COES.MVC.Publico.Areas.TramiteVirtual.Models.RegistroModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js" type="text/javascript"></script>
<script src="~/Areas/TramiteVirtual/Content/Scripts/registro.js?v=1.1"></script>
<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Content/Scripts/efecto.js"></script>

<style>

    .action-alert {
        color: #FF0000 !important;
    }

    .agregar-contacto {
        width: 200px;
        text-align: center;
        margin: 10px auto;
        cursor: pointer;
        font-weight: bold;
        color: #ff6a00;
    }

    .content-search table tr td input[type=text] {
        width: 300px;
    }

    .content-cuadro-acceso {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .cuadro-acceso {
        background-color: #F2F5F7;
        border: 1px solid #DDDDDD;
        padding: 25px 13px;
        border-radius: 4px;
        margin: 30px 40px;
        width: 300px;
        text-align: center;
    }

        .cuadro-acceso a {
            color: #5191D8;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }

    .page-infotramite {
        background-color: #FF8509;
        border-radius: 8px;
        width: 330px;
        min-height: 40px;
        vertical-align: central;
        padding: 20px;
        margin: 5px 10px;
        background-image: url(../../../../Content/Images/bullet-page.png);
        background-position: 20px 30px;
        background-repeat: no-repeat
    }

    .tramite-enlace {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    .page-infotramite span {
        color: #fff;
        font-size: 12px;
        font-weight: normal !important;
    }
</style>

@*<div class="page-banner">
    <div class="page-banner-title">
        <h1>Registro en el Portal de Trámite Virtual</h1>
        <span>
            Creación de accesos al Portal de Trámite Virtual de COES
        </span>
    </div>
    <img src="~/Content/Images/Banners/Contactenos.jpg" alt="Contáctenos" />
</div>
<div style="clear:both"></div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/Contactenos.jpg) ">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="https://tramitevirtual.coes.org.pe" target="_blank" class="sidebar-nav--link">Acceder al Portal de Trámite Virtual</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/tramitevirtual/registro/" class="sidebar-nav--link sidebar-nav--link-active">Creación de cuenta de acceso</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="https://www.coes.org.pe/wcoes/manuales/portal_de_tramite_virtual.mp4" target="_blank" class="sidebar-nav--link">Video tutorial</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="https://www.coes.org.pe/wcoes/manuales/Manual_de_Usuario_Tramite_Virtual_v1.0.pdf" target="_blank" class="sidebar-nav--link">Descargar manual de usuario</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            <div class="coes-box coes-box--padding">
                <h2 class="heading-4 heading-underlined">Creación de accesos al Portal de Trámite Virtual de COES</h2>
                <div class="page-content">
                    <div class="page-left">

                        <div class="page-text">

                            <div id="formulario" style="display:block">
                                <div id="mensajeRegistro" class="action-message">Por favor complete los datos.</div>

                                <form id="frmRegistro">

                                    <h2 class="heading-5 mt-2">Datos de la Empresa</h2>

                                    <div class="coes-form">
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">RUC</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtNroRUC" name="NumeroRUC" type="text" class="form-control col me-2" />
                                            </div>


                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Razón Social</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtRazonSocial" name="RazonSocial" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Nombre comercial</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtNombreComercial" name="NombreComercial" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Dirección fiscal</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtDireccionFiscal" name="DireccionFiscal" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                    </div>

                                    <h2 class="heading-5 mt-2">Datos del Representante Legal</h2>
                                    <div class="coes-form">
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Nombres</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtRpteNombre" name="NombreRepresentante" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Apellidos</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtRpteApellido" name="ApellidoRepresentante" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Cargo en la empresa</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtRpteCargo" name="CargorRepresentante" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Tipo de Representación</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <select id="cbTipoRepresentacion" name="TipoRepresentacion" class="form-control col me-2">
                                                    <option value="T">TITULAR</option>
                                                    <option value="A">ALTERNO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Correo electrónico</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtRpteCorreo" name="CorreoRepresentante" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Teléfono fijo</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtRpteTelefono" name="TelefonoRepresentante" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Teléfono móvil</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtRpteMovil" name="MovilRepresentante" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                    </div>

                                    <h2 class="heading-5 mt-2">Persona de Contacto</h2>
                                    <div class="coes-form">
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Nombres</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtContactoNombre" name="NombreContacto" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Apellidos</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtContactoApellido" name="ApellidoContacto" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Cargo en la empresa</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtContactoCargo" name="CargoContacto" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Correo electrónico</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtContactoCorreo" name="CorreoContacto" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Teléfono fijo</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtContactoTelefono" name="TelefonoContacto" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-4">
                                                <label style="max-width: none;" class="ms-3 me-3">Teléfono móvil</label>
                                            </div>
                                            <div class="col col-md-8">
                                                <input id="txtContactoMovil" name="MovilContacto" type="text" class="form-control col me-2" />
                                            </div>
                                        </div>
                                    </div>

                                    <div id="btnAgregarContacto2" class="agregar-contacto" style="width:auto;">+ Agregar persona contacto</div>
                                    <div id="divPersonaContacto2" style="display:none">
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-6">
                                                <h2 class="heading-5 mt-2">Persona de Contacto 2</h2>
                                            </div>
                                            <div class="col col-md-6">
                                                <div id="btnQuitarContacto2" class="agregar-contacto" style="float:right; margin:0; text-align:right">Quitar contacto 2</div>
                                            </div>
                                        </div>
                                        <div class="coes-form">
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Nombres</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoNombre1" name="NombreContacto1" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Apellidos</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoApellido1" name="ApellidoContacto1" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Cargo en la empresa</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoCargo1" name="CargoContacto1" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Correo electrónico</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoCorreo1" name="CorreoContacto1" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Teléfono fijo</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoTelefono1" name="TelefonoContacto1" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Teléfono móvil</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoMovil1" name="MovilContacto1" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                        </div>

                                        <div id="btnAgregarContacto3" class="agregar-contacto">+ Agregar persona contacto</div>

                                    </div>

                                    <div id="divPersonaContacto3" style="display:none">
                                        <div class="coes-form-item d-flex align-items-center mb-3">
                                            <div class="col col-md-6">
                                                <h2 class="heading-5 mt-2">Persona de Contacto 3</h2>
                                            </div>
                                            <div class="col col-md-6">
                                                <div id="btnQuitarContacto3" class="agregar-contacto" style="float:right; margin:0; text-align:right">Quitar contacto 3</div>
                                            </div>
                                        </div>
                                        <div class="coes-form">
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Nombres</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoNombre2" name="NombreContacto2" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Apellidos</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoApellido2" name="ApellidoContacto2" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Cargo en la empresa</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoCargo2" name="CargoContacto2" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Correo electrónico</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoCorreo2" name="CorreoContacto2" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Teléfono fijo</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoTelefono2" name="TelefonoContacto2" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                            <div class="coes-form-item d-flex align-items-center mb-3">
                                                <div class="col col-md-4">
                                                    <label style="max-width: none;" class="ms-3 me-3">Teléfono móvil</label>
                                                </div>
                                                <div class="col col-md-8">
                                                    <input id="txtContactoMovil2" name="MovilContacto2" type="text" class="form-control col me-2" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="coes-form-item">
                                        <div class="col col-md-12">
                                            <div style="border-bottom:1px solid #cecece; height:1px; width:100%; margin:10px 0"></div>
                                        </div>
                                        <div class="col col-md-12 mb-3">
                                            <input type="checkbox" id="cbCondiciones" />He leído y acepto las condiciones de <a href="JavaScript:openCondiciones();">tratamiento para mis datos personales</a><br />

                                        </div>
                                        <div class="col col-md-12">
                                            <input type="checkbox" id="cbTerminos" />Sí, acepto los <a href="JavaScript:openTerrminos();">Términos y Condiciones de Uso de la Plataforma de Trámite Virtual del COES</a>

                                        </div>
                                        <div class="coes-form-item d-flex align-items-center mb-1 coes-filters d-flex">
                                            <input id="btnEnviar" class="coes-form-item--submit" style="margin-right: 10px;" type="button" value="Enviar" />
                                            <input id="btnCancelar" class="coes-form-item--submit" type="button" value="Cancelar" />
                                            <input type="hidden" id="hfContacto2" value="N" />
                                            <input type="hidden" id="hfContacto3" value="N" />

                                        </div>
                                    </div>
                                    <div id="generalPupload" style="display:none"></div>
                                </form>
                            </div>
                            <div id="cntResultado" style="display:none">

                                <h1>
                                    ¡Registro satisfactorio!
                                </h1>
                                Felicitaciones, su registro ha sido exitoso. Los datos de acceso al Portal de Trámite Virtual fueron enviados a las cuentas de correos indicados en formulario de registro.
                                <br />
                                Por favor revise su buzón de correo electrónico.

                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>


        </div>
    </div>
    <div class="">

        <div class="popup-content">


        </div>
    </div>

    <div class="modal fade" id="popupEdicion" tabindex="-1" aria-labelledby="popupDisclaimerLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <button type="button" class="coes-modal-close--button b-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="popupDisclaimerLabel">Protección de Datos Personales COES</h5>
                </div>
                <div class="modal-body">
                    <p>
                        De conformidad con la Ley N°29733, Ley de Protección de Datos Personales, el titular da su consentimiento para el tratamiento de los datos personales que son facilitados en el presente formulario o por cualquier medio desde el momento de su ingreso o utilización del portal web del Comité de Operaciones Económicas del Sistema Interconectado Nacional (COES).
                        <br />
                        <br />
                        COES utilizará estos datos personales para realizar las gestiones que resulten necesarias en el marco de proceso de selección en el cual esté participando, que incluye, entre otras, actividades como evaluación de aptitudes, pruebas psicológicas y/o por competencias, verificación y cotejo de antecedentes y de los datos proporcionados, evaluaciones médicas pre-ocupacionales.
                        <br />
                        <br />
                        Asimismo, COES le informa que el tratamiento podrá ser realizado por COES o a través de un agente designado por COES, únicamente para las finalidades descritas precedentemente. Para llevar a cabo el tratamiento de sus datos personales, la Organización tiene implementadas medidas de seguridad organizativas, jurídicas y técnicas, que permiten la disponibilidad, integridad, confidencialidad y uso autorizado de sus datos personales, mismas que son igualmente exigibles a nuestros proveedores de servicios.
                        <br />
                        <br />
                        Usted puede ejercer los derechos de acceso, rectificación, cancelación y oposición de los datos personales escribiendo a datospersonales@coes.org.pe, indicando su nombre completo, datos de contacto y especificando la revocación que solicita.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popupEdicionTermino" tabindex="-1" aria-labelledby="popupDisclaimerLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <button type="button" class="coes-modal-close--button b-close mt-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="popupDisclaimerLabel">Términos y Condiciones de Uso de la Plataforma de Trámite Documentario Virtual</h5>
                </div>
                <div class="modal-body">
                    <p>
                        Se asignará a cada Usuario del Sistema de Notificaciones Electrónicas una casilla de recepción desde la cual podrá remitir y recibir notificaciones y/o comunicaciones electrónicas.
                        <br />
                        <br />
                        Para acceder a la casilla de recepción en el Sistema de Notificaciones Electrónicas, se asignará a los representantes legales, un usuario y una contraseña, que tienen el carácter de intransferibles. Es responsabilidad de los Usuarios del Sistema de Notificaciones Electrónicas el uso adecuado de los usuarios y contraseñas asignados. Asimismo, deberán comunicar inmediatamente al COES los problemas que detecten en Sistema de Notificaciones Electrónicas o los inconvenientes que se presenten en su manejo, a través de la dirección web <a href="~/contacto/index" target="_blank">https://www.coes.org.pe/Portal/contacto/index</a>
                        <br />
                        <br />
                        Los Usuarios del Sistema de Notificaciones Electrónicas no podrán negar al COES la recepción de notificaciones o comunicaciones a través el Sistema de Notificaciones Electrónicas. Asimismo, podrán remitir al COES sus notificaciones y/o comunicaciones a través del Sistema de Notificaciones Electrónico. En caso de remitir notificaciones y/o comunicaciones simultáneamente por dos medios formales distintos, se considerará válida la que se reciba primero.
                        <br />
                        <br />
                        El COES y los Usuarios del Sistema de Notificaciones Electrónicas son totalmente responsables por el contenido de las notificaciones y/o comunicaciones que remiten a través del Sistema de Notificaciones Electrónicas.
                        <br />
                        <br />
                        Se presume que para la remisión de notificaciones y/o comunicaciones a través del Sistema de Notificaciones Electrónicas el Usuario del Sistema de Notificaciones Electrónicas utilizó su usuario y contraseña, por lo que no podrá repudiar o desconocer el contenido de los documentos remitidos.
                        <br />
                        <br />
                        Todos los documentos remitidos por el COES o los Usuarios a través del Sistema de Notificaciones Electrónicas deben contar con Firma Digital.
                        <br />
                        <br />
                        Toda notificación y/o comunicación efectuada a través del Sistema de Notificaciones Electrónicas de lunes a viernes hasta las 18:00 horas se considerará efectuada ese mismo día y surtirá efectos a partir del día hábil siguiente. Toda notificación y/o comunicación efectuada con posterioridad a las 18:00 horas o en día inhábil, se considerará efectuada el día hábil inmediatamente posterior.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

