@model COES.MVC.Publico.Areas.TramiteVirtual.Models.RegistroModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js" type="text/javascript"></script>

<link href="~/Content/Css/cmxform.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Content/Scripts/efecto.js"></script>

<style>

    .content-cuadro-acceso {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .cuadro-acceso {
        background-color: #F2F5F7;
        border: 1px solid #DDDDDD;
        padding: 25px 13px;
        border-radius: 4px;
        margin: 30px 40px;
        width: 300px;
        text-align: center;
    }

        .cuadro-acceso a {
            color: #5191D8;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }

    .page-infotramite {
        background-color: #FF8509;
        border-radius: 8px;
        width: 350px;
        min-height: 40px;
        vertical-align: central;
        padding: 20px;
        margin: 20px;
        background-image: url(../../../../Content/Images/bullet-page.png);
        background-position: 30px 30px;
        background-repeat:no-repeat
    }

    .tramite-enlace {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
       
    }

    .page-infotramite span {
        color: #fff;
        font-size: 12px;
        font-weight: normal !important;
    }
</style>

@*<div class="page-banner">
    <div class="page-banner-title">
        <h1>Portal de Trámite Virtual</h1>
        <span>

        </span>
    </div>
    <img src="~/Content/Images/Banners/Contactenos.jpg" alt="Contáctenos" />
</div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/Contactenos.jpg) ">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="https://tramitevirtual.coes.org.pe" target="_blank" class="sidebar-nav--link sidebar-nav--link-active">Acceder al Portal de Trámite Virtual</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/tramitevirtual/registro/" class="sidebar-nav--link">Creación de cuenta de acceso</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="https://www.coes.org.pe/wcoes/manuales/portal_de_tramite_virtual.mp4" target="_blank" class="sidebar-nav--link">Video tutorial</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="https://www.coes.org.pe/wcoes/manuales/Manual_de_Usuario_Tramite_Virtual_v1.0.pdf" target="_blank" class="sidebar-nav--link">Descargar manual de usuario</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            
        </div>
    </div>
</div>
