@model COES.MVC.Intranet.Areas.Proteccion.Models.EquipoCOESModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-wrap {
        white-space: normal;
    }

    .width-200 {
        width: 200px;
    }
</style>
<div class="form-title">
    <div class="content-titulo">Equipos SGOCOES</div>
    <div class="content-botonera">
        <input type="button" value="Consultar" id="btnBuscar" name="btnBuscar" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Exportar" id="btnExportar" name="btnExportar" class="form-action" style="margin-top: 15px" />
    </div>
    
</div>
<div id="mensaje"></div>

<div class="content-hijo" id="mainLayout">
    <div id="idpanel" style="overflow:auto; background-color:#fff">

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr id="SeccionProgramaExistente">
                    <td style="width: 5%;">Ubicación: </td>
                    <td style="width: 15%;">
                        <select id="Ubicacion" style="width: 100%;">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaUbicacion)
                            {
                                <option value="@item.Areacodi">@item.Areanomb</option>
                            }
                        </select>
                    </td>
                    <td style="width: 10%;">Tipo de equipo: </td>
                    <td style="width: 15%;">
                        <select id="Tipo" style="width: 100%;">
                            <option value="0">TODOS</option>
                            @foreach (var item in Model.ListaTipoArea)
                            {
                                <option value="@item.Famcodi">@item.Famnomb</option>
                            }
                        </select>
                    </td>
                    <td style="width: 15%;">Nombre o Abreviatura equipo: </td>
                    <td style="width: 15%;">
                        <input type="text" id="nombreArea" name="nombreArea" style="width: 100%;" value="" maxlength="20" />
                    </td>
                    <td style="width: 30%;"><input type="checkbox" id="chkProgramaExistente" /> <label for="chkProgramaExistente">Solo los que No estén presentes en protecciones</label></td>
                </tr>
            </table>
        </div>
        <br />
        <div class="content-hijo" id="mainLayout">
            <div id='lista'></div>
        </div>
    </div>
</div>


<div id="popUpEditar">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span id="span_pop_title">Agregar al módulo de Protecciones</span></div>
    <div id="editarArea"></div>
</div>

<!--Menu contextual-->
<link href="~/Areas/Proteccion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Proteccion/Content/Scripts/equipoCOES.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/util.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />


