@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conexión de Instalaciones al SEIN";
}
<link href="~/Areas/Planificacion/Contents/css/css.css" rel="stylesheet" />
<script src="~/Areas/Planificacion/Content/Sein.js"></script>
@*<div class="page-banner">
    <div class="page-banner-title">
        <h1>Conexión de Instalaciones al SEIN (anterior PR-20)</h1>
        <span>Nuevos Proyectos</span>
    </div>
    <img src="~/Content/Images/Banners/EstudiosPreOperatividad.jpg" alt="Conexión de Instalaciones al SEIN" />
</div>
<div style="clear:both"></div>
<div class="page-content">

    <table style="margin:auto; text-align:center">
        <tr>
            <td>
                <div class="page-info" style="margin-left:10px; padding:5px !important">
                    <ul style="line-height:16px; margin:0">
                        <li style="font-size:13px !important; border-bottom:none"><a style="font-size:13px; " href="~/browser/download?url=Planificaci%C3%B3n%2FNuevos%20Proyectos%2FConexi%C3%B3n%20de%20Instalaciones%2FLineamientos%20para%20la%20elaboraci%C3%B3n%20de%20Diagramas%20Unifilares_vf.docx" target="_blank" style="font-size:20px">Lineamientos para la elaboración del Diagrama Unifilar de medición</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="page-info" style="margin-left:10px; padding:5px !important">
                    <ul style="line-height:16px; margin:0">
                        <li style="font-size:13px !important; border-bottom:none"><a style="font-size:13px; " href="~/Operacion/Estudios/OperacionSEIN?path=Operaci%C3%B3n%2FEstudios%2FOperacion%20del%20SEIN%2FProcedimientos%20de%20Maniobra%2F1_FORMATO%20Y%20GU%C3%8DA%20PARA%20ELABORACI%C3%93N%20DE%20PROCEDIMIENTOS%20DE%20MANIOBRA%2F" target="_blank" style="font-size:20px">Guía para la elaboración de Procedimientos de Maniobra</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="page-info" style="margin-left:10px; padding:5px !important">
                    <ul style="line-height:16px; margin:0">
                        <li style="font-size:13px !important; border-bottom:none"><a style="font-size:13px; " href="~/Planificacion/NuevosProyectos/OperacionComercial?path=Planificaci%C3%B3n%2FNuevos%20Proyectos%2FOperaci%C3%B3n%20Comercial%20e%20Integraci%C3%B3n%2FFORMATOS%2F" target="_blank" style="font-size:20px">Modelo Fichas Técnicas</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="page-info" style="margin-left:10px; padding:5px !important">
                    <ul style="line-height:16px; margin:0">
                        <li style="font-size:13px !important; border-bottom:none"><a style="font-size:13px; " href="~/browser/download?url=Planificaci%C3%B3n%2FNuevos%20Proyectos%2FConexi%C3%B3n%20de%20Instalaciones%2FCONEXI%C3%93N%20DE%20INSTALACIONES%202015%20-%202021.xlsx" target="_blank" style="font-size:20px">Lista de Equipos con Autorización de Conexión</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    <iframe src="https://www.coes.org.pe/wcoes/nuevosproyectos/index.html#diagram/40238a44-eba7-4198-a0eb-97b8922ded41" width="100%" height="550" frameborder="0"></iframe>

    <div style="clear:both" text-align="justify"></div>
    <br />

    <strong>Notas:</strong></br>
    (1) La información contenida en el presente flujograma es de carácter referencial, no modifica ni sustituye las obligaciones establecidas en cada una de las normas que rigen a los Agentes del SEIN.</br>
    (2) Conforme a la Primera Disposición Complementaria Transitoria de la Resolución OSINERGMIN N° 083-2021-OS/CD, publicada 30 de abril de 2021,  los procesos para la obtención de Certificados de Conformidad de EPO, EO, Inicio de Operación Comercial, Integración de Instalaciones de Transmisión en el SEIN, Conclusión de la Operación Comercial y Retiro de Instalaciones del SEIN, así como para la aprobación de la Conexión de Instalaciones al SEIN iniciados antes de la entrada en vigencia de la modificación del PR-20, se regirán, hasta su conclusión, por las disposiciones contempladas en el PR-20, aprobado por Resolución N° 035-2013-OS/CD.
    <br />
</div>*@

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/EstudiosPreOperatividad.jpg) ">
</div>
<div class="content-area">

    <div class="container">
            <div class="coes-filters d-flex">
                <form action="" class=" w-100">
                    <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap same-height-button-group">

                        <div class="coes-form-item" id="divLineamientos">
                            <button type="button" class="coes-button">Lineamientos para la elaboración del Diagrama Unifilar de medición</button>
                        </div>

                        <div class="coes-form-item" id="divElaboracion">
                            <button type="button" class="coes-button">Guía para la elaboración de Procedimientos de Maniobra</button>
                        </div>

                        <div class="coes-form-item" id="divModelo">
                            <button type="button" class="coes-button">Modelo Fichas Técnicas</button>
                        </div>

                        <div class="coes-form-item" id="divLista">
                            <button type="button" class="coes-button">Lista de Equipos con Autorización de Conexión</button>
                        </div>

                    </div>
                </form>
            </div>
    

        <div class="coes-box">
            <div class="w-100 iframe--01">
                <iframe src="https://www.coes.org.pe/wcoes/nuevosproyectos/index.html#diagram/40238a44-eba7-4198-a0eb-97b8922ded41" frameborder="0"></iframe>

                <p class="pt-4" style="padding: 24px;">
                    Notas:
                    (1) La información contenida en el presente flujograma es de carácter referencial, no modifica ni sustituye las obligaciones establecidas en cada una de las normas que rigen a los Agentes del SEIN.
                    (2) Conforme a la Primera Disposición Complementaria Transitoria de la Resolución OSINERGMIN N° 083-2021-OS/CD, publicada 30 de abril de 2021, los procesos para la obtención de Certificados de Conformidad de EPO, EO, Inicio de Operación Comercial, Integración de Instalaciones de Transmisión en el SEIN, Conclusión de la Operación Comercial y Retiro de Instalaciones del SEIN, así como para la aprobación de la Conexión de Instalaciones al SEIN iniciados antes de la entrada en vigencia de la modificación del PR-20, se regirán, hasta su conclusión, por las disposiciones contempladas en el PR-20, aprobado por Resolución N° 035-2013-OS/CD.
                </p>
            </div>
        </div>
    </div><!-- /.container-->
</div>
<div style="clear:both"></div>