@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conexión de Instalaciones";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Conexión de Instalaciones al SEIN</h1>
        <span>Nuevos Proyectos
        </span>
    </div>
    <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Programa de Operación Diario" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Planificación%2FNuevos%20Proyectos%2FConexión%20de%20Instalaciones%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>
