@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Estudios de Operatividad";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/EstudiosPreOperatividad.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/EstudiosPO" class="sidebar-nav--link">Estudios de Pre Operatividad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/EstudiosO" class="sidebar-nav--link sidebar-nav--link-active">Estudios de Operatividad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/IntegracionInstalacion" class="sidebar-nav--link">Integración de Instalaciones al SEIN</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/OperacionComercialUnidades" class="sidebar-nav--link">Operación Comercial de unidades o centrales de generación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/ConclusionOperacion" class="sidebar-nav--link">Conclusión de Operación Comercial y Retiro de Instalaciones del SEIN</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/ListaInstalaciones" class="sidebar-nav--link">Lista de Instalaciones del STTN, STTR y STL</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="http://sw.coes.org.pe/psms/login.aspx" target="_blank" class="sidebar-nav--link">Base de Datos - Protecciones (Station Ware)</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9 mb-md-4" style="margin-top: -20px;">
           
                <div class="coes-filters d-flex mt-2">
                    <div class="w-100">
                        <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap same-height-button-group">

                            <div class="coes-form-item">
                                <button onclick="window.open('../NuevosProyectos/Consultawebeo');return false;" target="_blank" class="coes-button" style="min-height: 70px; display: flex; justify-content: center; align-items: center;">
                                    Plataforma de Proyectos - Anterior
                                </button>
                            </div>

                            <div class="coes-form-item">
                                <a href="https://plataformadeproyectos.coes.org.pe/" target="_blank" class="coes-button w-100" style="min-height: 70px; display: flex; justify-content: center; align-items: center; border: 2px solid; text-decoration: none;">
                                    Plataforma Interactiva de Proyectos - Nueva
                                </a>
                            </div>

                            <div class="coes-form-item">
                                <button onclick="window.open('../NuevosProyectos/ReunionEpoyEos');return false;" target="_blank" class="coes-button" style="min-height: 70px; display: flex; justify-content: center; align-items: center;">
                                    Reserva de reunión EOs
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
          
            @Html.Action("Index", "Browser", new { area = "", url = "Planificaci%C3%B3n%2FNuevos%20Proyectos%2FEstudios%20de%20Operatividad%2F" })
            <div style="clear:both"></div>
            <div class="container">
                <div class="row">
                    <div class="col col-md-12 order-1 order-md-0">
                        <div class="container" style="padding:0px;">
                            Notas:<br />
                            (1) Conforme a la Primera Disposición Complementaria Transitoria de la Resolución OSINERGMIN N° 083-2021-OS/CD, publicada 30 de abril de 2021,  los procesos para la obtención de Certificados de Conformidad de EPO, EO, Inicio de Operación Comercial, Integración de Instalaciones de Transmisión en el SEIN, Conclusión de la Operación Comercial y Retiro de Instalaciones del SEIN, así como para la aprobación de la Conexión de Instalaciones al SEIN iniciados antes de la entrada en vigencia de la modificación del PR-20, se regirán, hasta su conclusión, por las disposiciones contempladas en el PR-20, aprobado por Resolución N° 035-2013-OS/CD.<br />
                            (2) En el Aplicativo de “Estado de Avance” se actualizará la información de los EOs que se rijan por el PR-20 aprobado por Resolución N° 035-2013-OS/CD. Los EOs que se rijan por el PR-20 aprobado por la Resolución OSINERGMIN N° 083-2021-OS/CD, se actualizarán en el archivo Excel de la carpeta “Estado de Avance EO”.<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
