@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Operación Comercial e Integración ";
}

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Operación Comercial e Integración (anterior PR-20)</h1>
            <span>
                Nuevos Proyectos
            </span>
        </div>
        <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Programa de Operación Diario" />
    </div>
    <div style="clear:both"></div>
    <div class="page-content">
        @Html.Action("Index", "Browser", new { area = "", url = "Planificación%2FNuevos%20Proyectos%2FOperación%20Comercial%20e%20Integración%2F" })
        <div style="clear:both"></div>
    </div>*@

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/ProgramaDeOperacion.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/EstudiosPO" class="sidebar-nav--link">Estudios de Pre Operatividad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/EstudiosO" class="sidebar-nav--link">Estudios de Operatividad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/ConexionInstalacionSEIN" class="sidebar-nav--link">Conexión de Instalaciones al SEIN (anterior PR-20)</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/OperacionComercial" class="sidebar-nav--link sidebar-nav--link-active">Operación Comercial e Integración (anterior PR-20)</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/IntegracionInstalacion" class="sidebar-nav--link">Integración de Instalaciones al SEIN</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/OperacionComercialUnidades" class="sidebar-nav--link">Operación Comercial de unidades o centrales de generación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/ConclusionOperacion" class="sidebar-nav--link">Conclusión de Operación Comercial y Retiro de Instalaciones del SEIN</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Planificacion/NuevosProyectos/ListaInstalaciones" class="sidebar-nav--link">Lista de Instalaciones del STTN, STTR y STL</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="http://sw.coes.org.pe/psms/login.aspx" target="_blank" class="sidebar-nav--link">Base de Datos - Protecciones (Station Ware)</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Planificación%2FNuevos%20Proyectos%2FOperación%20Comercial%20e%20Integración%2F" })
            <div style="clear:both"></div>
            <div class="container">
                Nota:<br />
                Conforme a la Primera Disposición Complementaria Transitoria de la Resolución OSINERGMIN N° 083-2021-OS/CD, publicada 30 de abril de 2021,  los procesos para la obtención de Certificados de Conformidad de EPO, EO, Inicio de Operación Comercial, Integración de Instalaciones de Transmisión en el SEIN, Conclusión de la Operación Comercial y Retiro de Instalaciones del SEIN, así como para la aprobación de la Conexión de Instalaciones al SEIN iniciados antes de la entrada en vigencia de la modificación del PR-20, se regirán, hasta su conclusión, por las disposiciones contempladas en el PR-20, aprobado por Resolución N° 035-2013-OS/CD.<br /
            </div>
        </div>
    </div>
</div>


<div style="clear:both"></div>
