@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reserva de Reuniones - EPOs y EOs";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/EstudiosPreOperatividad.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0" style="overflow:hidden;height:1130px;width:1600px;position:relative">
            <iframe src='https://outlook.office365.com/owa/calendar/ReunionesSNP@coes.org.pe/bookings/' scrolling='yes' style="width: 100%; height: 1490px ;top:-135px;position:absolute;border:0;" class="mt-4"></iframe>
        </div>
    </div>
</div>
