@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.BarrasModel
@{
    ViewBag.Title = "Antecedentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/barra/barra.js?v=1"></script>


<div class="form-title">
    <div class="content-titulo">Administración de Barras</div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo">



    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#barras">Relación Barras Transferencia - Área Operativa</a></li>
            <li class='tab'><a href="#agrupaciones">Agrupación de Barras</a></li>
        </ul>
        <div class='panel-container'>
            <div id="barras">
                <div style="width:80px; float:right">
                    <input type="button" id="btnNuevo" value="Nuevo" />
                </div>
                <div style="clear:both"></div>
                <div class="content-tabla">
                    <div class="table-list" id="listado">    </div>
                </div>
            </div>
            <div id="agrupaciones">

                <div id="mensaje"></div>
                <div class="search-content" style="margin-bottom:10px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Areá Operativa:</td>

                            <td>
                                <select id="cbAreaOperativa">
                                    <option value="">-SELECCIONE-</option>
                                    <option value="229">NORTE</option>
                                    <option value="230">CENTRO</option>
                                    <option value="231">SUR</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultarAgrupacion" value='Consultar' />
                                <input type="button" id="btnAgregarAgrupacion" value='Agregar agrupación' />
                            </td>
                        </tr>
                    </table>
                </div>
                <div>

                    <table style="width:100%;">
                        <tr>
                            <td width="45%">
                                <div style="font-weight:bold;font-size:14px"> Agrupaciones:</div>
                                <div style="clear:both;height:10px"></div>
                            </td>
                            <td width="10%"></td>
                            <td width="45%">
                                <div style="font-weight:bold;font-size:14px"> Barras de la agrupación:</div>
                                <div style="clear:both;height:10px"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="listaAgrupacion">

                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div id="detalleAgrupacion">

                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="popupBarra" class="general-popup" style="width:500px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Configuración de Barras CM</span></div>
    <div class="popup-text">
        <div class="content-registro">

            <input type="hidden" id="hdBararecodi" />
            <input type="hidden" id="hdAccion" />

            <form id="frmRegistro">
                <div id="mensajeRelacion" class="action-message">Por favor complete los datos</div>
                <div id="mensaje_popup"></div>
                <table style="width:100%">
                    <tr>
                        <td class="registro-label">Barra Transferencia:</td>
                        <td class="registro-control">
                            <select id="cbBarra" style="width: 220px;">
                                <option value="-1">--Selecione Barra---</option>
                                @foreach (var item in Model.ListaBarraTransferencia)
                                {
                                <option value="@item.BarrCodi">@item.BarrNombre</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Área Operativa:</td>
                        <td class="registro-control">
                            <select id="cbBarraArea" name="cbBarraArea">
                                <option value="-1">-SELECCIONE-</option>
                                <option value="N">Norte</option>
                                <option value="C">Centro</option>
                                <option value="S">Sur</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label">Es barra ejecutiva mensual:</td>
                        <td class="registro-control">
                            <select id="cbEsBarraEjec" name="cbEsBarraEjec">
                                <option value="-1">-SELECCIONE-</option>
                                <option value="S">Si</option>
                                <option value="N">No</option>
                            </select>
                            <input type="hidden" id="hfPublicarEdit" value="" />
                        </td>
                    </tr>
                </table>

                <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
                    <input type="button" id="btnGrabar" value="Grabar" />
                    <input type="button" id="btnCancelar" value="Cancelar" />
                </div>

                <input type="hidden" id="hfCodigo" name="Codigo" value="" />

            </form>
        </div>

    </div>
</div>