@model  COES.MVC.Intranet.Areas.Monitoreo.Models.CmgProgramadosModel

@{
    ViewBag.Title = "Carga de Costos Marginales Programados Yupana";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Areas/Monitoreo/Content/Css/css.css?v=1.2" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<script src="~/Areas/Monitoreo/Content/Scripts/cmgprog.js"></script>

<div class="form-title">
    <div class="content-titulo">
        Carga de Costos Marginales Programados Yupana
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtMes" name="txtFechaInicio" value="@Model.FechaInicio" />
                </td>

                <td>
                    <input type="button" id="btnCargar" value="Cargar" />
                </td>

                <td>

                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>
    </div>

</div>




