@model COES.MVC.Intranet.Areas.Monitoreo.Models.CmgProgramadosModel
<div style="clear:both; height:15px"></div>
<table border="0" class="pretty tabla-icono" cellspacing="0" width="70%" id="tabla">
    <thead>
        <tr>
            <th>Fecha - Dia</th>
            <th>Total Registros</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in  Model.ListaCmg)
        {
            <tr>
                <td>@item.Fechadia</td>
                <td>@item.Totalregdia</td>
            </tr>
        }
    </tbody>
</table>




