@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.CorreoModel
@{
    ViewBag.Title = "Envio de Correos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/enviocorreo.js?v=1.0.7"></script>

<div class="form-title">
    <div class="content-titulo">Envio de Correos</div>
    <div class="content-botonera">
        @if (Model.TienePermisoAdmin)
        {
            <input type="button" id="btnNuevoMensaje" value="Nuevo Correo" />
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabLista">Listado</a></li>
            <li class='tab'><a href="#tabDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>
            <input type="hidden" id="hdNumEmpresas" />
            <div id="tabLista">

                <div class="search-content">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Tipo de correo:</td>
                            <td>
                                <select id="cbTipoCorreo" style="width:330px;">
                                    <option value="-1">-- TODOS --</option>
                                    <option value="178">Solicitud de envío de decisiones de controversias</option>
                                    <option value="320">Solicitud de envío de interrupciones pendientes de reportar</option>
                                    <option value="175">Solicitud de envío de interrupciones - Semestral</option>
                                    <option value="174">Solicitud de envío de interrupciones - Trimestral</option>
                                    <option value="176">Solicitud de envío de observaciones a las interrupciones</option>
                                    <option value="177">Solicitud de envío de respuestas a las observaciones</option>
                                </select>
                            </td>
                            <td style="padding: 3px 10px 3px 20px;">Año desde:</td>
                            <td>
                                <input type="text" id="txtAnioDesde" style="width: 60px;" value="@Model.Anio" />
                            </td>
                            <td style="padding: 3px 10px 3px 20px;">Año hasta:</td>
                            <td>
                                <input type="text" id="txtAnioHasta" style="width: 60px;" value="@Model.Anio" />
                            </td>
                            <td style="padding: 0px 10px 3px 20px;">
                                <input type="button" id="btnConsultar" value="Consultar" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="vistaListado">

                    <div id="div_listado" class="content-tabla">

                    </div>
                </div>

            </div>

            <div id="tabDetalle">

                <div id="div_filtro" class="content-tabla">

                </div>


                <div id="div_detalle" class="content-tabla">

                </div>
            </div>

        </div>
    </div>

</div>



