@using System.Configuration;

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404 - Página no encontrada";
    <link href="~/Content/Css/errorpage.css" rel="stylesheet" />
}

<div class="error404-content">
    <h1>404 - Página no encontrada</h1>
    <h3>Se ha presentado un error en la aplicación, agradeceremos nos brinden el detalle de lo ocurrido al correo <a href="mailTo:@ConfigurationManager.AppSettings["EmailSoporteExtranet"]">@ConfigurationManager.AppSettings["EmailSoporteExtranet"]</a> para su revisión y solución en el plazo más breve. Disculpe los inconvenientes.</h3>
    <h3><a href=@ConfigurationManager.AppSettings["InitialUrl"]>INICIO</a></h3>
</div>
