a.button-icon,
a.button-item {
    color: #3D90CB;
    display:inline-block;
    font-size: 11px;
    font-weight: bold;
    margin: 0px;
    padding: 28px 8px 2px;
    text-align: center;
    vertical-align: top;
    *float: left;
    *zoom: 1;
}

a.button-icon {
}
a.button-item {
    border: 1px solid #E1E6E9;
    border-radius: 4px;
    min-width: 54px;
}

a.button-item:hover {
    color: #FF8040;
    cursor: pointer;
}

a.badge::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid #fff;
    background-color: #ff5757;
    color: #fff;
    content: attr(data-content);
    font-family: sans-serif;
    font-size:11px;
    font-weight: 700;
    height: 22px;
    margin-left: 14px;
    margin-top: 4px;
    min-width: 16px;
    padding: 2px 3.5px 3px 2.5px;
    width: 22px;
    position: absolute;
    vertical-align:baseline;
    white-space: nowrap;
}

a.btn-send {    
    background:url("../Images/send.png") center 4px no-repeat;
}

a.btn-errors {    
    background:url("../Images/errors.png") center 4px no-repeat;
}

a.btn-shipments {    
    background:url("../Images/shipments.png") center 4px no-repeat;
}

a.btn-copy {    
    background:url("../Images/copy.png") center 4px no-repeat;
}

a.btn-download {    
    background:url("../Images/download.png") center 4px no-repeat;
}

a.btn-import {    
    background:url("../Images/upload.png") center 4px no-repeat;
}

a.btn-excel-download {    
    background:url("../Images/excel-export.png") center 4px no-repeat;
}

a.btn-comment-send {
    background: url("../Images/send-comment.png") center 4px no-repeat;
}
a.btn-attachments {
    background: url("../Images/attachments.png") center 4px no-repeat;
}

a.btn-download-message {
    background: url("../Images/Download.png") center 4px no-repeat;
}


.separate-h {
    margin: 2px 0;
    padding: 2px 0;
}

.field-group,
.field-control-group,
.field-label,
.field-control {
    display:inline-block;
    *float: left;
    *zoom: 1;
}

.field-label {
    /*width:80px;*/
    text-indent: 10px;
}

.field-control {
}

.pull {
    display: inline-block;
    *float: left;
    *zoom: 1;
    text-indent: 10px;
}

.pull:first-child {
    text-indent: 0;
}

.chat-wrap {
    height: 440px;
    padding-left: 7px;
    overflow-y: scroll;
}
.chat-wrap::before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    content: "";
    background: #c7cacb;
    border: 3px solid #dee1e3;
    border-radius: 50%;
    height: 7px;
    margin-left: -5px;
    position: absolute;
    width: 7px;
}
.chat-inner {
    border-left: 2px solid #c7cacb;
    padding: 0 4px 0 10px;
}
.chat-inner section {
    padding: 4px 32px 4px 4px;
    margin: 2px 0;
    border: 1px solid #c7cacb;
    border-radius: 4px;
}
.chat-inner .state-viewed {
    background-image: url(../images/comment-seen.png);
    background-position: right center;
    background-repeat: no-repeat;
}
.chat-inner section a {
    float: right;
    margin-left: 22px;
}
.chat-inner section header h4 {
    margin: 0 8px 2px 0;
    zoom: 1;
}
.chat-inner section content,
.chat-toolbar {
    clear:both;
    display:block;
}
.chat-toolbar-buttons {
    float: right;
}
.chat-attachments {
    clear: both;
    text-align: right;
}
.chat-toolbar-text {
    padding-right: 225px;
}

.chat-toolbar-text-send {
    padding-right: 155px;
}

.chat-toolbar-text-sendOsign {
    padding-right: 80px;
}

.chat-toolbar textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 56px;
    outline: 0;
    resize: none;
    width: 100%;
}

.color-blue {
    color: #3c8fcb;
}
.color-green {
    color: #41a041;
}
.color-red {
    color: #ff0000;
}

.bg-color-white {
    background-color: #ffffff;
}
.bg-color-yellow {
    background-color: #ffffe0;
}
.bg-color-ligthBlue,
table.pretty tbody td.bg-color-ligthBlue {
    background-color: #EDF5FC;
}

.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}


/*table.pretty tbody td {
    background-color: inherit;
}*/

/*.tabla-formulario tbody tr td {
    text-align: left;
}*/

.handsontable .htHeader {
    background-color: #00ccff;
    text-align: center;
}

/*.mensaje-plazo {
    color:white;
    float: right;
    display:block;
    width:250px;
    background-color:lightcoral;
    border: 2px solid;
    border-radius:5px;
    border-color:red;
    
}*/

.parpadea {
  color:red;
  padding:10px;
  animation-name: parpadeo;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}