<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICostoOportunidadServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://appserver.coes.org.pe/COES.WebService.CostoOportunidad/CostoOportunidadServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICostoOportunidadServicio"
                contract="ServiceReferenceCostoOportunidad.ICostoOportunidadServicio"
                name="BasicHttpBinding_ICostoOportunidadServicio" />
        </client>
    </system.serviceModel>
</configuration>