@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Informes Técnicos";
}


<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/InformesTecnicos.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Publicaciones%2FInformes%20Tecnicos%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>