.acordeon-header {
    cursor: pointer;
    background-color: #3D90CB;
    color: white;
    padding: 10px 14px;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    width: 200px;
}

.acordeon-contenido {
    display: none;
    padding: 12px;
    border-left: 4px solid #3D90CB;
    border-radius: 0 0 6px 6px;
    font-size: 14px;
}

    .acordeon-contenido.mostrar {
        display: block;
    }

/* for listado */
.vote-star {
    cursor: pointer;
    color: gray;
    font-size: 24px;
}

.voted {
    color: #2980B9;
}

.d-none {
    display: none !important;
}

.edit-input {
    width: 100%;
}
