.color-calendario {
    width:20px;
    height:20px;
}

.color-contenedor {
    
}

.titulo-calendario {
    width:auto;
    padding:10px 10px;     
    margin-bottom:10px;
}

.titulo-calendario-left {
    width:75%;
    float:left;
    padding-top:10px;
}

.titulo-calendario-center {
    width:80px;
    float:right;
}

.titulo-calendario-center img {
    width:80px;
    cursor:pointer;
}

.titulo-calendario-main {
    color:#ffffff;
    font-size:24px;    
}

.titulo-calendario-second {
    color:#ffffff;
    font-size:14px;
}

.color-contenedor-item {
    float:left;
    width:30px;
}

.fc-time {
    display:none;
}

.fc-day-grid-event .fc-content {
   white-space: normal;    
}

.fc-title {    
}

.fc-day{
    background-color:#F7F7F7;
}

.fc-day-header {
    background-color:#3498DB;
    line-height:20px;
    color:#fff;
}

.div-info {
    position:absolute;
    top:25px
}

.evo-pop {
    background-color:#F7F7F7;
    border:1px solid #d1cfcf;
    border-radius:5px;
    padding-left:5px;
    padding-right:20px;
}
.evo-palette {
    margin-left:10px;
    padding-bottom:20px;
}

.evo-more {
    margin-left:5px;
    margin-bottom:15px;
}
