#validaciones,#popupEquipo,#nuevoformato, #enviosanteriores, #popupTabla, #idGraficoPopup, #popupTablaNuevo,#AgregarCarpeta
{
    background-color:#fff;
    border-radius:6px 6px 6px 6px;
    box-shadow:0 0 25px 5px #999;
    color:#111;
    display:none;
    min-width:380px;
    padding:25px    
}

#confirmarClose,#popupEquipo, #enviosanteriores, #popupTabla
{
    min-height:250px;
    min-width:280px;
}

.headpage 
{
    background: #4682B4;
    width: 100%;
    height:50px;
    color:white;
    text-indent: 30px;
}

.headpage img 
{
    float: left;  
    height:50px;
}

.divexcel 
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;  
    display: inline-block;
    vertical-align:top;  
}


.headexcel 
{ 
  z-index: 9999;
  width: 100%;  
  display: inline-block;
  vertical-align:top;
}

.bodyexcel 
{  
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  max-width: 100%;
  max-height: 100%; 
  overflow: auto;
}

.panelinfo 
{
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    height:500px;
    width:150px;
    border: 1px solid;
    padding: 21px;
}

.content-action{
    text-align:center;
    padding-left:6px;
    padding-right:6px;
}

    .content-action a {
        text-decoration:none;    
        color:#278CCC;
    }

    .content-action a:hover {
        color:#ff6a00
    
    }

.content-item-action {
    height:35px;
    line-height:14px;
}

.content-item-action img {
    height:25px;
    width:25px;
    margin:auto;    
}

.content-item-action span {
        font-size:12px;
        text-decoration:none;    
    }

.estilodelete {
    background-image:url('../../../../content/images/ico-delete.gif');
    background-repeat:no-repeat;
    background-position:center;    
    text-align:left;    
}

.estilocombo {
    background-image:url('../../../../content/images/select.png');
    background-repeat:no-repeat;
    background-position:right;
    text-align:left;    
}

.contet-leyenda 
{   
	border:2px solid #F2DD8C; 
	background-color:#FFF5CC;
	padding:7px;	
    padding-left:12px;
	 border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    z-index:2000;
    position:absolute;
    width:380px;
    height:240px;      
    display:none;
    top:-0px; 
}

.contet-leyenda table tr 
{
    line-height:15px;
}

.contet-leyenda table tr td
{
    font-size:10px;
    width:auto;
    line-height:15px;  
    color:#3D90CB;
}

     

.formula-subtitulo 
{
    color:#428BD3;
    font-size:14px;
    font-weight:bold;
    text-transform:none;
    margin-top:10px;
    margin-bottom:10px;
}


.tabla-registro {

}

.tabla-registro tr
{
    line-height:27px;
}

.tabla-registro tr td textarea {
    width:400px;
    height:60px;
    border:1px solid #dddddd;
    
}
/*tooltip*/
.toolTipBox {
	display: none;
	   border-color: #788794;
       font-family: verdana;
       position: absolute;
       background-color: #788794;
	   -webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
 	   border-radius: 2px;
       color: #fff;
	   font-size: 11px;
	   padding: 4px 12px;
	   text-align: left;
	   width: 400px;
}

.tdPadd {
    padding-left:10px;
}

.tdSeparate {
    width:10px;
    background-color:white;
    border:1px solid white;
}

.hora{
    background-color:blue;     
}


.tabla-horas tbody tr td 
{
    vertical-align:middle;
    padding:0px 0px;
    white-space: nowrap;
    overflow: hidden;
    font-size:11px;
    text-align:center;
    border:1px solid #dddddd;
}

.tabla-horas tbody tr td a img 
{
    width:18px;
    height:18px;
    margin-top:auto;   
}

.trEquipo {
   background-color:aliceblue;
}

 div.vertical-line{
      width: 3px; /* Line width */
      background-color: red; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      float:left;
      position:relative ;top:0px;
      z-index:300;
 }

 div.horasoperacion{
      border:1px solid #848484;
      height: 15px; /* Line height */
      background-color: green; /* Line color */
      position:absolute ;top:20px;left:500px;
 }


.thHora{
width: 20px; /*Aquí va el ancho de la Celda*/
}

.th01{
    width: 200px; /*Aquí va el ancho de la Celda*/
}

.th02{
    width: 100px; /*Aquí va el ancho de la Celda*/
}
.th03{
    width: 150px; /*Aquí va el ancho de la Celda*/
}
.th04{
    width: 12px; /*Aquí va el ancho de la Celda*/
}

.resaltar {
    background-color: #F5FFD7;
    cursor: pointer;
    border:2px solid #b5de31;
}

.tdbody_reporte {
    text-align: center !important;
    background: #2980B9 !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: 1px solid #9AC9E9 !important;
}

td.text {
    text-align: left !important;
    padding-left: 5px !important;
}

td.number {
    text-align: right !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

tbody tr.invalido td {
    background-color: #FF9D9D !important;
}


.noajuste {
    white-space: nowrap;
}

.title-seccion {
    width: auto;
    border-bottom: 2px solid #D9E8F3;
    line-height: 30px;
    margin-bottom: 20px;
    color: #3D90CB;
    font-size: 15px;
    font-weight: bold;
}
.flotar {
    display: inline-block;
    vertical-align: top
}
.action-alert {
    text-indent: 0px;
    padding-left: 40px;
}