
    #menuOpe {
        text-align: center;
        font-size: 0.7em;
        width: 320px;
        margin: 20px;
    }

        #menuOpe ul {
            list-style-type: none;
            -webkit-padding-start: 10px;
        }

            #menuOpe ul li.nivel1 {
                width: 182px;
            }

            #menuOpe ul li.primera { /*border-top: solid 1px #FFF;*/
            }

            #menuOpe ul li a, #menuOpe ul li span {
                display: block;
                text-decoration: none;
                font-size: 12px;
                color: #fff;
                background-color: #3D8AB8;
                border: solid 1px #fff;
                border-top: none;
                padding: 8px;
                position: relative;
            }

    a:active {
        position: relative;
    }

    #menuOpe ul li a:active {
        background-color: #6CC;
        color: #000;
        border-bottom: solid 1px #6CC;
        position: relative;
    }

    #menuOpe ul li span.nivel1 {
        display: block;
    }

    #menuOpe ul li:hover span.nivel1 {
        cursor: pointer;
    }

    #menuOpe ul li ul {
        display: none;
    }

    #menuOpe ul li a:hover ul, #menuOpe ul li a:active ul {
        display: block;
        position: relative;
        width: 162px;
        background-color: #6CC;
    }

    #menuOpe ul li a:link:hover ul {
        display: none;
    }

    #menuOpe ul li a:active:hover ul {
        display: block;
    }

    #menuOpe ul li ul li a {
        width: 170px;
        padding: 6px 0px 8px 0px;
        border: none;
        border-top: solid 1px #fff;
        background-color: white;
        font-weight: normal;
        color: #3D90CB;
    }

        #menuOpe ul li ul li a:hover {
            position: relative;
            border-bottom: none;
            color: #eee;
            background-color: #359BB8;
        }

    #menuOpe ul li ul li.primera {
        border-top: none;
    }

    #menuOpe ul li:focus ul, #menuOpe ul li:active ul, #menuOpe ul li a:active ul {
        display: block;
        position: relative;
        width: 160px;
        border: solid 1px #fff;
        border-top: none;
        margin-left: 0px;
        text-align: left;
    }

    #menuOpe ul li:focus span, #menuOpe ul li:active span, #menuOpe ul li a:active {
        background-color: #6CC;
        border-bottom: solid 1px #6CC;
        color: #000;
    }