@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Boletines";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/MarcoNormativo.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Publicaciones%2FBoletines%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>