@model COES.MVC.Intranet.Areas.Hidrologia.Models.BusquedaPtoMedicionModel
<script type="text/javascript">

    $(function () {
        $('#cbTipoPuntoMedicion').multipleSelect({
            width: '250px',
            filter: true
        });

        $('#cbTipoPuntoMedicion').multipleSelect('checkAll');
    });

</script>

                <select id="cbTipoPuntoMedicion"  name="IdTipoPuntoMedicion"  multiple="multiple">        
                     @foreach (var item in Model.ListaTipoPuntoMedicion)
                     {   
                          <option value="@item.Tipoptomedicodi">@item.Tipoptomedinomb</option>
                     }
                </select>
