<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link rel="icon" href="~/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Css/calendar.css?v=1.9.13" rel="stylesheet" />
    <link href="~/Content/Css/table.css?v=1.0" rel="stylesheet" />
    <link href="~/Content/Css/css.css?v=21072015" rel="stylesheet" />
    <link href="~/Content/Css/menu.css" rel="stylesheet" />
    <link href="~/Content/Css/popup.css?v=21072015" rel="stylesheet" />
    <script type="text/javascript">
        var siteRoot = "@Url.Content("~/")";
    </script>
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/menu.js"></script>
    <script src="~/Content/Scripts/efecto.js"></script>
    <script src="~/Content/Scripts/popup.js"></script>
    <script src="~/Content/Scripts/master.js"></script>
    <script src="~/Content/Scripts/datatable.js"></script>
    <script src="~/Content/Scripts/datepicker.js?v=1.9.13"></script>
    <script src="~/Content/Scripts/hoverIntent.js"></script>
    <script src="~/Content/Scripts/util.js?v=1.1"></script>

    <style>
        .form-title {
            background-size: 1px;
            height: 36px;
            line-height: 36px;
        }

            .form-title .content-botonera {
                line-height: 28px;
            }
    </style>
</head>
<body style="background-color: white;">
    <div id="popupConfirmarOperacion">
        <span class="button b-close"><span>X</span></span>
        <div class="bootstrap-wrapper">
            <div>
                <div class="popup-title">
                    <span>Confirmar Operación</span>
                </div>
                <div id="mensajeConfirmacion" class="popup-text">
                </div>
            </div>
            <div class="formulario-boton">
                <input type="button" id="btnAceptarConfirmacionOpe" value="Aceptar" />
                <input type="button" id="btnCancelarConfirmacionOpe" value="Cancelar" />
            </div>
        </div>
    </div>
    <div id="popupMensajeZ">
        <span class="button b-close"><span>X</span></span>
        <div class="bootstrap-wrapper">
            <div>
                <div class="popup-title">
                    <span>Mensaje</span>
                </div>
                <div id="cmensaje" class="popup-text">
                </div>
            </div>
            <div class="formulario-boton">
                <input type="button" id="btnAceptarMsj" value="Aceptar" />
            </div>
        </div>
    </div>
    <div id="popupZ" class="general-popup" style="width:500px">
        <div><span class="button b-close"><span>X</span></span></div>
        <div id="popup-title" class="popup-title"><span></span></div>
        <div class="popup-text" id="contenidoPopup">

        </div>
    </div>
    <div class="layout">
        <div class="content-frame">
            <table>
                <tr>
                    <td class="frame-section">
                        <div id="divGeneral">
                            @RenderBody()
                        </div>
                        <div id="divTemporal" class="oculto">
                            <iframe id="frameContenido" class="frame"></iframe>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>
    <div id="loading" class="loading">
        <div class="loading-image"><img src="~/Content/Images/loading.gif" /></div>
        <div class="loading-text">Procesando...</div>
    </div>
    <span>

    </span>
</body>

</html>
