<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Contenedor Intranet</title>
    <link href="~/Content/Css/css.css" rel="stylesheet" />    
    <link href="~/Content/Css/calendar.css" rel="stylesheet" />
    <link href="~/Content/Css/table.css" rel="stylesheet" />
    <link href="~/Content/Css/popup.css" rel="stylesheet" />
    <script type="text/javascript">
        var siteRoot = "@Url.Content("~/")";
    </script>
    <script src="~/Content/Scripts/jquery.js"></script>   
    <script src="~/Content/Scripts/datatable.js"></script>    
    <script src="~/Content/Scripts/popup.js"></script>    
    <script src="~/Content/Scripts/datepicker.js"></script>

    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $('#loading').bPopup({
                fadeSpeed: 'fast',
                opacity: 0.4,
                followSpeed: 500,
                modalColor: '#000000',
                modalClose: false
            });
        });

        $(document).ajaxStop(function () {
            $('#loading').bPopup().close();
        });
    </script>
    
</head>
<body class="cuerpo"> 
  
    <section>          
        @RenderBody()          
    </section>
    <div id="loading" class="loading">
        <div class="loading-image"><img src="~/Content/Images/loading.gif" /></div>
        <div class="loading-text">Procesando...</div>
    </div>
  
</body>

</html>
