@using System.Configuration;

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    <link href="~/Content/Css/errorpage.css" rel="stylesheet" />
}

<div class="error-content">
    <h2>Se ha presentado un error en la aplicación, por favor reporta el incidente vía mesa de ayuda haciendo clic <a href="@ConfigurationManager.AppSettings["UrlServiceDesk"]" target="_blank">aquí</a>.</h2>
    <h2><a href=@ConfigurationManager.AppSettings["InitialUrl"]>INICIO</a></h2>
</div>
