@model  COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel


@{
    ViewBag.Title = "Cálculo del Costo de la Operación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>

<script src="~/Areas/Siosein/Content/Scripts/costooperacion.js?v=1.3.2"></script>

<div class="form-title">
    <div class="content-titulo">Cálculo del Costo de la Operación del Despacho Ejecutado</div>
    <div class="content-botonera" id="container">
        <input type="button" id="btnBuscar" value="Consultar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha Inicio:</td>
                <td>
                    <input type="text" id="txtFechaInicio" name="txtFechaInicio" value="@Model.FechaInicio" />
                </td>

                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.id">@item.text</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">

        <h3 id="tituloCosto" style="display: none">Costo Total de la operación: <span id="costoTotal"></span></h3>

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>

<input type="hidden" id="tipoDatoMostrar" name="tipoDatoMostrar" value="1" />