@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.CostoOportunidadModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/CostoOportunidad/Content/Scripts/reporte.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<div class="form-title">
    <div class="content-titulo">Reportes de Costo de Oportunidad</div>
    <div class="content-botonera">
        <div class="content-botonera">
            <input type="button" id="btnBuscar" value="Reporte" />
            <input type="button" id="btnExpotar" value="Exportar" />
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <table style="width:100%">
        <tr>
            <td>
                <div class="search-content">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Fecha:</td>
                            <td><input type="text" id="FechaConsulta" name="FechaConsulta" value="@Model.Fecha" style="width:120px" /></td>
                        </tr>
                    </table>
                </div>
            </td>
         </tr>
    </table>
    <div style="clear:both; height:10px"></div>
    
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Reprogramado Diario con Reserva</a></li>
            <li class='tab'><a href="#paso2">Reprogramado Diario sin Reserva</a></li>
            <li class='tab'><a href="#paso3">Reserva Asignada Programada</a></li>
            <li class='tab'><a href="#paso4">Reserva Agisnada Ejecutada</a></li>
            <li class='tab'><a href="#paso5">Despacho con Reserva</a></li>
            <li class='tab'><a href="#paso6">Despacho sin Reserva</a></li>
        </ul>   
        <div class='panel-container'>
            <div id="paso1">
                <div id="divDespachoConReserva"></div>
            </div>
            <div id="paso2">
                <div id="divDespachoSinReserva"></div>
            </div>
            <div id="paso3">
                <div id="divReservaProgramada"></div>
            </div>
            <div id="paso4">
                <div id="divReservaEjecutada"></div>
            </div>
            <div id="paso5">
                <div id="divDespachoCOConReserva"></div>
            </div>
            <div id="paso6">
                <div id="divDespachoCOSinReserva"></div>
            </div>
        </div>
    </div>
</div>
