@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Comparativo de Totales";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/Transfpotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css.css?v=1.0.0" rel="stylesheet" />

<script src="~/Areas/CPPA/Content/Scripts/comparativo.js?v=1.0.0"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Comparativo de Totales</div>
        <div class="content-botonera">
        </div>
    </div>

    <div style="padding:20px; width:700px;">

        <fieldset>
            <legend>Revisiones</legend>

            <table cellspacing="2" cellpadding="5">
                <tr class="THCabecera">
                    <td>
                        <div class="editor-label" style="color: #FFFFFF; height: 12px"></div>
                    </td>
                    <td>
                        <div class="editor-label" style="color: #FFFFFF; height: 12px; text-align: center;">Año</div>
                    </td>
                    <td>
                        <div class="editor-label" style="color: #FFFFFF; height: 12px; text-align: center;">Ajuste</div>
                    </td>
                    <td>
                        <div class="editor-label" style="color: #FFFFFF; height: 12px; text-align: center;">Revisión</div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Base:</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="cbBaseAnio" name="baseAnio" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="cbBaseAjuste" name="baseAjuste" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="cbBaseRevision" name="baseRevision" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div class="editor-label">Comparar:</div></td>
                    <td>
                        <div class="editor-field">
                            <select id="cbCompararAnio" name="compararAnio" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="cbCompararAjuste" name="compararAjuste" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            <select id="cbCompararRevision" name="compararRevision" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" align="center"><input id="btnDescargar" type="button" value="Descargar Archivo Comparativo" /></td>
                </tr>
            </table>
        </fieldset>
    </div>

    <br />
    <br />

</div>
