@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Informes COES";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css" rel="stylesheet" />
<script src="~/Areas/Intervenciones/Content/Scripts/ConsultasYReportes/Informes.js?v=1.2.1"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">Informes COES</div>
    <div class="content-botonera">            
        <input type="button" id="btnGenerarWord" value="Imprimir" />
    </div>
</div>

<div class="content-hijo" style="padding-top:8px">

    <div class="row">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">

            <tr class="THCabecera">
                <td colspan="8"><div class="editor-label" style="color:#FFFFFF;"><b>Imprimir Informes</b></div></td>
            </tr>

            <tr>
                <td><div class="editor-label">Informe</div></td>

                <td>
                    <div class="editor-field">
                        <select style="background-color:white; width: auto" id="cboInforme">
                            <option value="0">----------------- Seleccione -----------------</option>                           
                            <option value="6">Informe Programa Diario Operaciones</option>
                            <option value="7">Informe Programa Semanal Operaciones</option>                            
                        </select>
                    </div>
                </td>

                <td>Fecha de Proceso</td>
                <td>
                    <div class="editor-label">
                        @Html.TextBoxFor(model => model.FechaProceso, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px;" })
                    </div> 
                </td>

                <td></td>
                <td></td>

            </tr>

        </table>

    </div>

</div>
