@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Consulta de Indices F1 y F2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Areas/Intervenciones/Content/Scripts/ConsultasYReportes/ReporteF1F2.js?v=1.4.5"></script>

<div class="form-title">
    <div class="content-titulo">Consulta de Indices F1 y F2</div>
    <div class="content-botonera">
        <input type="checkbox" checked="checked" name="flgCorrectivo" id="flgCorrectivo" /><label>Solo Correctivos</label>
        <input type="button" id="btnGenerarExcelIndicesF1F2" value="Generar Indices F1 y F2" />
    </div>
</div>

<div class="content-hijo" style="padding-top:8px" id="mainLayout">

    <div class="row">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">

            <tr class="THCabecera">
                <td colspan="8">
                    <div class="editor-label" style="color:#FFFFFF;"><b></b></div>
                </td>
            </tr>

        </table>

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">

            <tr class="THCabecera">
                <td colspan="9">
                    <div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div>
                </td>
            </tr>
            <tbody id="Contenido">
                <tr style="padding-top:200px">

                    <td style="width:150px">Año : </td>

                    <td>
                        @Html.DropDownList("anio", Model.ListaAnio)
                    </td>

                    <td style="width:150px">Mes:</td>

                    <td>
                        @Html.DropDownList("mes", Model.ListaMes)
                    </td>

                    <td>
                        <div class="editor-label">
                            <input type="button" id="btnBuscar" value="Consultar" />
                        </div>
                    </td>

                    <td>
                        <div class="content-botonera">
                            <input type="button" id="btnGenerarExcelF1F2" value="Generar Excel" />
                        </div>
                    </td>

                </tr>
            </tbody>           

        </table>

    </div>

    <div id="tab-container" class='tab-container'>

        <ul class='etabs'>
            <li class='tab'><a href="#paso1" class="nav">Programado</a></li>
            <li class='tab'><a href="#paso2" class="nav">Ejecutado</a></li>           
        </ul>

        <div class='panel-container'>

            <div id="paso1">
                
                <div class="content-tabla">
                    <div style="clear:both"></div>
                         <div class="table-list" id="listadoProgramados"></div>
                    <div style="clear:both"></div>
                </div>

            </div>

            <div id="paso2">

                <div class="content-tabla">
                    <div style="clear:both"></div>
                        <div class="table-list" id="listadoEjecutados"></div>
                    <div style="clear:both"></div>
                </div>

            </div>

        </div>

    </div>

</div>