@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Consulta de Historial (Log) de las Intervenciones";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";    
}

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css" rel="stylesheet" />
<script src="~/Areas/Intervenciones/Content/Scripts/ConsultasYReportes/ReporteHistorial.js?v=1.4.2"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">Consulta Historial (Log) de las Intervenciones</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnGenerarExcel" value="Generar Excel" />
    </div>
</div>

<div class="content-hijo" style="padding-top:8px" id="mainLayout">

    <div class="row">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">
            <tr class="THCabecera">
                <td colspan="6"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
            </tr>

            <tbody id="Contenido">
                <tr>
                    <td>Fecha Inicio: </td>
                    <td>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.Entidad.Interfechaini, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px;" })
                        </div>
                    </td>
                    <td>Fecha Fin: </td>
                    <td>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.Entidad.Interfechafin, "{0:dd/MM/yyyy}", new { @class = "txtFecha", @style = "width:110px;" })
                        </div>
                    </td>
                    <td><div class="editor-label">Tipo Actividad: </div></td>
                    <td>
                        <select style="background-color:white" id="sActividad">
                            <option value="0">-- TODOS --</option>
                            @foreach (var item in Model.ListadoActividad)
                            {
                                <option @item>@item</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>            

    </div>

    <div class="content-tabla">
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>

    <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

    <div class="tabla-header">
        <div class="table-paginado" id="paginado"></div>
    </div>

</div>



