<table border="0" class="pretty tabla-icono" id="tabla" style="overflow: auto; height:auto; width: 2000px !important; white-space: nowrap">
    <thead>
        <tr>           
            <th>Descripcion</th>
            <th>Usuario Creacion</th>
            <th>Fecha Creacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaHistorial)
        {
            int sPK = item.LogCodi;
            <tr id="fila_@sPK">
                <td class="text_left" style="text-align:left">@item.LogDesc</td>
                <td class="text_left" style="text-align:left">@item.LogUser</td>
                <td class="text_left" style="text-align:left">@item.LogFecha.ToString("dd/MM/yyyy hh:mm:ss tt")</td>               
            </tr>
        }
    </tbody>
</table>

