@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Anexos Programa Anual";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sSelected = "";
}

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css" rel="stylesheet" />
<script src="~/Areas/Intervenciones/Content/Scripts/ConsultasYReportes/ReporteIntervencionesMayores.js?v=1.4.2"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de Anexos Para el Programa Anual</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
        <input type="button" id="btnGenerarExcel" value="Generar Excel" />      
        <select style="background-color:white; width:125px" id="cboAnexos">
            <option value="0">-- Seleccionar --</option>
            <option value="1">Listado</option>
            <option value="2">Anexo 2</option>
            <option value="3">Anexo 3</option>
            <option value="4">Anexo 4</option>
            <option value="5">Anexo 5 (E/S)</option>
            <option value="6">Anexo 5 (F/S)</option>
            <option value="7">Anexo 6 (GENERACIÓN)</option>
            <option value="8">Anexo 6 (TRANSMISIÓN)</option>
        </select>
    </div>
</div>

<div class="content-hijo" style="padding-top:8px" id="mainLayout">

    <div class="row">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">
            
            <tr class="THCabecera">
                <td colspan="4"><div class="editor-label" style="color:#FFFFFF;"><b>Filtros de búsqueda</b></div></td>
            </tr>
            <tbody id="Contenido">
                <tr>
                    <td style="width:150px">Programación Anual:</td>
                    <td>
                        <select id="cboProgramacion" name="cboProgramacion" style="width:295px; background-color:white">
                            <option value="0">-------------------------- Seleccionar --------------------------</option>
                            @foreach (var item in Model.ListaProgramaciones)
                            {
                                <option value="@item.Progrcodi" @sSelected>@item.Nomprogramacion</option>
                            }
                        </select>
                    </td>

                    <td style="width:80px">Empresa:</td>
                    <td>
                        <select id="cboEmpresa" name="cboEmpresa" style="width:375px; background-color:white" multiple="multiple">
                            @foreach (var item in Model.ListaCboEmpresa)
                            {
                                <option value="@item.Emprcodi" @sSelected>@item.Emprnomb</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="content-tabla">
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>

</div>

