@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Intervenciones OSINERGMIN";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<link href="~/Areas/Intervenciones/Content/Css/Intervenciones.css" rel="stylesheet" />
<script src="~/Areas/Intervenciones/Content/Scripts/ConsultasYReportes/ReporteOSINERGMIN.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">Informe Para OSINERGMIN PROC – 25</div>        
</div>

<div class="content-hijo" style="padding-top:8px" id="mainLayout">

    <div class="row">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; background-color:#e5efff">
            
            <tr class="THCabecera">
                <td colspan="4">
                    <div class="editor-label" style="color:#FFFFFF;"></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        <input type="button" id="btnConsultarProc257d" value="Generar Reporte Proc 25" />
                    </div>
                </td>
                <td>
                    <div class="content-botonera">
                        <input type="button" id="btnGenerarExcelProc257d" value="Generar Excel" />
                    </div>
                </td>
            </tr>
        </table>        

    </div>

    <div class="content-tabla">
        <div style="clear:both"></div>
        <div class="table-list" id="listado7d"></div>
        <div style="clear:both"></div>
    </div>

</div>