.time {
    font-size: 40px;
    margin: 15px 0 25px 0;
    font-weight: 200;
    color: #333;
}

.hour {
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0 1px;
    background: -webkit-linear-gradient(top,#555,#000);
}

.minute {
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0 1px;
    background: -webkit-linear-gradient(top,#555,#000);
}

.fila_anulado {
    background-color: #A4A4A5;
    color:#FFFFFF
}
.fila_baja {
    background-color: #FFDDDD;
}