@model COES.MVC.Intranet.Areas.Proteccion.Models.CargaMasivaModel
@{
    ViewBag.Title = "Actualización Masiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .controlDropdown {
        width: 300px !important;
    }
</style>
<div class="content-botonera" style="margin-top:10px">
    <input type="button" value="Regresar" id="btnRegresar" name="btnRegresar" class="form-action" style="margin-top: 20px; margin-right:0px" />
</div>
<div class="content-hijo" id="mainLayout" style="height: 720px;">
    <div class="form-title">
        <div class="content-titulo">Actualización Masiva</div>
    </div>

    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:0px; padding:15px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Tipo de uso (*): </td>
                <td>
                    @(Html.DropDownList("cbTipoUso", new SelectList(Model.ListTipoUso, "Eqcatdcodi", "Eqcatddescripcion", 0), new { style = "width: 100%;" }))
                </td>
                <td></td>
                <td rowspan="2">
                    <table border="0">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="content-action">
                                <a href="#" id="btnDescargarFormato">
                                    <div class="content-item-action">
                                        <img src="~/Areas/Proteccion/Content/Images/bajar.png" alt="bajar"/><br />
                                        <span>Descargar formato</span>
                                    </div>
                                </a>
                            </td>
                            <td class="content-action">
                                <a href="#" id="btnSelectExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/Proteccion/Content/Images/subir.png" alt="subir"/><br />
                                        <span>Importar formato</span>
                                    </div>
                                </a>
                            </td>
                            <td class="content-action">
                                <a href="#" id="btnMostrarErrores">
                                    <div class="content-item-action">
                                        <img src="~/Areas/Proteccion/Content/Images/errores.png" alt="errores"/><br />
                                        <span>Validar datos</span>
                                    </div>
                                </a>
                            </td>
                            <td class="content-action">
                                <a href="#" id="btnEnviarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Areas/Proteccion/Content/Images/enviar.png" alt="enviar"/><br />
                                        <span>Cargar datos</span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <input type="hidden" id="hdnValidacion" name="hdnValidacion" value="0" />
                                <input type="hidden" id="hdnCodigoTipoUsoGeneral" name="hdnValidacion" value="@ViewBag.CodigoReleTipoUsoGeneral" />
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <div class="bodyexcel" id='detalleFormato'></div>
</div>


<link href="~/Areas/Proteccion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Areas/Proteccion/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Proteccion/Content/Scripts/util.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<script src="~/Areas/Proteccion/Content/Scripts/cargaMasiva.js"></script>


