@model COES.MVC.Intranet.Areas.Proteccion.Models.CargaMasivaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Actualización de Equipos de Protección</div>
    <div class="content-botonera">
        <input type="button" value="Consultar" id="btnBuscar" name="btnBuscar" class="form-action" style="margin-top: 15px" />
        <input type="button" value="Nuevo" id="btnNuevo" name="btnNuevo" class="form-action" style="margin-top: 15px" />
    </div>
</div>
<div id="mensaje"></div>

<div class="content-hijo" id="mainLayout">
    <div id="idpanel" style="overflow:auto; background-color:#fff">

        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:15%"></th>
                    <th style="width:10%"></th>
                    <th style="width:15%"></th>
                    <th style="width:10%"></th>
                    <th style="width:15%"></th>
                    <th style="width:10%"></th>
                    <th style="width:15%"></th>
                </tr>
                <tr>

                    <td>Tipo de uso: </td>
                    <td>
                        @(Html.DropDownList("cbTipoUso", new SelectList(Model.ListTipoUso, "Eqcatdcodi", "Eqcatddescripcion", 0), new { style = "width: 100%;" }))
                    </td>
                    <td>Usuario: </td>                  
                    <td>
                        <input type="text" id="nombreUsuario" name="nombreUsuario" style="width: 100%;" value="" />
                    </td>
                    <td>Realizado desde: </td>
                    <td>
                        <input type="text" id="fechaInicio" name="fechaInicio" style="width: 100%;" value="@ViewBag.FechaInicio" />
                    </td>
                    <td>Realizado Hasta: </td>
                    <td>
                        <input type="text" id="fechaFin" name="fechaFin" style="width: 100%;" value="@ViewBag.FechaFin" />
                    </td>

                </tr>
            </table>
        </div>
        <br />
        <div class="content-hijo" id="mainLayout">            
            <div class="table-list" id='lista'></div>
        </div>

    </div>
</div>

<link href="~/Areas/Proteccion/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Proteccion/Content/Scripts/util.js"></script>
<script src="~/Areas/Proteccion/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<script src="~/Areas/Proteccion/Content/Scripts/actualizacionMasiva.js"></script>