@model COES.MVC.Intranet.Areas.Proteccion.Models.CargaMasivaModel

<table border="0" class="pretty tabla-icono display compact" id="tablaListado">
    <thead>
        <tr>            
            <th>Tipo de Uso</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Nro. Registros</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListCargaMasiva.Count > 0)
        {
            foreach (var item in Model.ListCargaMasiva)
            {
                <tr>                   
                    <td>@item.Epcamatipusonombre</td>
                    <td>@item.Epcamafeccarga.ToString("dd/MM/yyyy")</td>
                    <td>@item.Epcamausucreacion</td>
                    <td>@item.Epcamatotalregistro</td>
                </tr>
            }
        }

    </tbody>
</table>