@model COES.MVC.Intranet.Areas.RechazoCarga.Models.EsquemaUnifilarModel
@{
    ViewBag.Title = "Esquema Unifilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-hijo" id="mainLayout" style="height: 720px;">

    <div class="form-title">
        <div class="content-titulo">Registro de Diagramas Unifilares</div>
    </div>
    <div id="mensaje"></div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:15px">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>                           
                            <td>Raz&oacute;n Social: </td>
                            <td>
                                <input style="width:280px;" type="text" id="empresa" name="empresa" />
                            </td>
                            <td>C&oacute;digo Suministro: </td>
                            <td>
                                <input style="width:280px;" type="text" id="codigoSuministro" name="codigoSuministro" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Fecha desde: </td>
                            <td>
                                <input style="width:140px;" type="text" id="fechaIni" name="fechaIni" />
                            </td>
                            <td>Hasta: </td>
                            <td>
                                <input style="width:140px;" type="text" id="fechaFin" name="fechaFin" />
                            </td>
                            <td colspan="2"></td>
                            <td colspan="2">
                                <input type="button" value="Buscar" id="btnConsultar" name="btnConsultar" class="form-action" />
                                <input type="button" value="Agregar" id="btnAgregar" name="btnAgregar" class="form-action" />                                
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="button" id="btnExportar" value="Exportar Excel" class="form-action" /></td>
                        </tr>

                    </table>
                </div>
                <div class="content-tabla">
                    <table class="content-tabla">
                        <tr>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
        </div>
    </div>
    <div id="popupEdicion" class="general-popup" style="width:550px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Editar Diagrama Unifilar</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table>
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <input type="text" id="empresaEdit" name="empresaEdit" disabled="disabled" style="width:300px" />
                    </td>
                    <td><input type="button" value="..." id="btnBuscarEmpresa" name="btnBuscarEmpresa" class="form-action" /></td>
                </tr>
                <tr>
                    <td>
                        Punto de Medición:
                    </td>
                    <td>
                        <select id="puntoMedicion" name="puntoMedicion">
                            <option value="0">-- SELECCIONE --</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Documento:
                    </td>
                    <td>
                        <input type="text" id="documentoEdit" name="documentoEdit" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Fecha Presentación:
                    </td>
                    <td>
                        <input type="text" id="fechaRecepcion" name="fechaRecepcion" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Estado:
                    </td>
                    <td>
                        <select id="estadoEdit" name="estadoEdit">
                            <option value="">-- SELECCIONE --</option>
                            <option value="0">No Vigente</option>
                            <option value="1">Vigente</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Diagrama Unifilar:
                    </td>
                    <td>
                        <input type="text" id="archivo" name="archivo" disabled="disabled" />
                    </td>
                    <td id="container">
                        <input type="button" id="btnSelectFile" value="..." />
                    </td>

                </tr>
                <tr>
                    <td>
                        Archivo de datos:
                    </td>
                    <td>
                        <input type="text" id="archivoDatos" name="archivoDatos" disabled="disabled" />
                    </td>
                    <td>
                        <div id="containerDatos">
                            <input type="button" id="btnSelectFileDatos" value="..." />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table align="center">
                            <tr>
                                <td>
                                    <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                                    <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                </tr>
            </table>
            <input type="hidden" id="esNuevo" name="esNuevo" />
            <input type="hidden" id="codigoEsquemaUnifilar" name="codigoEsquemaUnifilar" value="0" />
        </div>        
    </div>
    <div id="popupEsquemaUnifilarHistorial" class="general-popup" style="height:300px;width:450px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Historial Esquema Unifilar</span>
        </div>
        <div class="table-list" id="listadoHistorial">

        </div>
    </div>
    <div id="popupBuscarEmpresa" class="general-popup" style="height:300px;width:350px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Buscar Razón Social</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table>
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <input type="text" id="empresaBuscar" name="empresaBuscar" maxlength="100" />
                    </td>
                    <td>
                        <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar" class="form-action" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="table-list" id="listadoEmpresas" style="height:200px">

                        </div>
                    </td>
                </tr>                
            </table>
            <input type="hidden" id="empresaSeleccionada" name="empresaSeleccionada" />
        </div>
    </div>
</div>

<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/esquemaUnifilar.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/util.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/json2.js"></script>