@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EquipoGPSModel
@{
    ViewBag.Title = "Eliminar Equipo GPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Eliminar la informacion del Equipo GPS" }, { "sAccion", "Eliminar" } })
</div>