@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.EquipoGPSModel
@{
    ViewBag.Title = "Equipo GPS - Insertar un nuevo Equipo GPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un nuevo Equipo GPS" }, { "sAccion", "Insertar" } })
</div>
