@model COES.MVC.Extranet.Areas.Equipamiento.Models.FichaTecnicaModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ficha Técnica";
}

<script src="~/Areas/Equipamiento/Content/Scripts/FichaTecnica/verfichatecnica.js?v=1.9"></script>

<div class="form-title_intranet">
    <div class="content-titulo">Ficha Técnica</div>
    <div class="content-botonera">
        
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="textoMensaje" class="action-message" style="margin:0; margin-bottom:10px">Seleccione opciones y presiona Consultar.</div>

    <div class="search-content">

        <table class="content-tabla-search" style="width:auto">
            <tr>

                <td style="padding-right: 5px;">Ficha Técnica:</td>
                <td>
                    <select id="cbFichaTecnica" style="width: 280px;">
                        
                        @foreach (var item in Model.ListaFichaTecnicaSelec)
                        {
                            <option value="@item.Fteqcodi">@item.Fteqnombre</option>
                        }
                    </select>
                </td>

                <td style="padding-left: 20px;" class="td_empresa">Empresa:</td>
                <td class="td_empresa">
                    <select id="cbEmpresa" style="width: 280px;">
                        <option value="-2">--TODOS--</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" style="margin-left: 20px;" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>
</div>

