@model COES.MVC.Intranet.Areas.PMPO.Models.QnConfiguracionModel
@{
    ViewBag.Title = "Estaciones Hidrológicas";
}
@if (Model.UsarLayoutModulo)
{
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Areas/PMPO/Content/Scripts/jquery.dataTables.rowReordering.js"></script>
<script src="~/Areas/PMPO/Content/Scripts/jqueryui.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/moment.js"></script>


<script src="~/Areas/PMPO/Content/Scripts/pmpo-qn-configuracion.js?v=1.1.0"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/PMPO/Content/Css/estacion-hidrologica.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Configuración de Estaciones Hidrológicas</div>

    <div class="content-botonera" id="container">

        @if (Model.TienePermisoNuevo)
        {
            <input type="button" id="btnAgregarEstacion" value="Agregar Estación" />
        }
        <input type="button" id="btnGenerarArchivos" value="Generar Archivos" />
        <input type="button" id="btnVerCodigosSddp" value="Códigos SDDP" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla" id="excelwebPF" style="padding-top: 10px;">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#vistaListado">Listado</a></li>
                <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
            </ul>

            <div class='panel-container' style="min-height: 540px;">
                <div id="vistaListado">
                    <div style="font-weight: bold; margin:10px;">
                        <input type="checkbox" value="" id="chkReordenarEstaciones" />Permitir reordenar lista
                    </div>
                    <div class="content-tabla">
                        <!--Listado de estaciones-->
                        <div class="table-list" id="listado">


                            <div id="cuadroEstaciones" style=" display: inline-block; float: left; width: 1420px;"> </div>

                        </div>
                    </div>

                </div>

                <div id="vistaDetalle">
                    
                </div>
            </div>


        </div>
    </div>
</div>



<div id="historialEH" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial Versiones</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="vistaVersion">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>

                <div class="content-tabla">
                    <div class="table-list" id="listadoHEH"></div>
                </div>
            </div>
        </div>
    </div>
</div>







