@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.ConsultaEstimadorModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/ConsultaEstimador/estimador_importados.js?v=2.2"></script>

<div id="main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
    <div class="ws-wrapper" style="min-height: 50px;">
        <div class="ws-content only">
            <div class="ws-content-header">
                <div class="filters">
                    <div>Fecha</div>
                    <input id="filtroFecha" type="text" style="width:150px" />
                </div>
                <div class="filters">
                    <div>Dirección</div>
                    <input id="txtDireccion" type="text" style="width: 350px;" />
                </div>
                <div class="filters">
                    <input id="btnImportar" type="button" value="Importar" />
                </div>
            </div>
        </div>
    </div>
</div>