@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Contratos de Gas Natural</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">
    <iframe src="@(ViewBag.UrlFileApp)web/index?url=Contratos%20de%20Gas%20Natural%2F" width="100%" height="900" frameborder="0"></iframe>
</div>