@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Informe Ejecutivo Semanal de la Operacion del SEIN</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" >
    <iframe src="@(ViewBag.UrlFileApp)web/index?url=Informe%20Ejecutivo%20Semanal%20de%20la%20Operacion%20del%20SEIN%2F" width="100%" height="900" frameborder="0"></iframe>
</div>