@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.ElementoStModel

@{
    ViewBag.Title = "Edicion - Sistema Transmisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información del Sistema de Transmisión" }, { "sAccion", "Actualizar" } })
</div>


