@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.ElementoStModel

@{
    ViewBag.Title = "Transferencias - Corregir error en el Mes de Valorización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Graba en ST_SISTEMATRANS" }, { "sAccion", "Grabar" } })
</div>