@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.ElementoStModel

@{
    ViewBag.Title = "View";
}

<fieldset>
    <legend>Sistema de Transmisión</legend>

    <table cellspacing="2" cellpadding="5">
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadSistema.Emprcodi, "Codigo Empresa: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadSistema.Emprcodi)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label">@Html.LabelFor(model => model.EntidadSistema.Sistrnnombre, "Nombre del Sistema: ")</div>
            </td>
            <td>
                <div class="editor-label">@Html.DisplayFor(model => model.EntidadSistema.Sistrnnombre)</div>
            </td>
        </tr>
    </table>

</fieldset>
<div>
    <span class="button b-close">X</span>
</div>