@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ".::Intranet COES::.";
}

<div class="form-title">
    <div class="content-titulo" style="width:auto">CONSULTA - INFORMACIÓN PARA LA PROGRAMACIÓN DE MEDIANO PLAZO DE OPERACIÓN</div>
</div>



    @* Componente para los Tabs *@
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/content/css/tabs.css" />

    @* Compontente Handsontable *@
    <link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
    <script src="~/Content/Scripts/handsontable.full.min.js"></script>

    @* Compontente HighStock // Graficos *@
    <script src="~/Content/Scripts/highstock.js"></script>

    @* Compontente Jquery // Dialog *@
    <script src="~/Content/Scripts/jqueryui.js"></script>
    <link href="~/Areas/PMPO/Content/Css/jquery-ui.min.css" rel="stylesheet" />

@* Componente de STS  *@

    @* Estilos *@
    <link href="~/Areas/PMPO/Content/Css/pmpo.css" rel="stylesheet" />

    @* JavaScript *@
    <script src="~/Areas/PMPO/Content/Scripts/pmpo-consultar.js"></script>


<div class="content-hijo">
    <div class="action-message" style="width:auto">
        <b style="color:SteelBlue;">Periodo:</b><span>  Agosto 2016 - Agosto 2017</span>
        <b style="color:SteelBlue;"> Unidad:</b> Potencia (MW) &nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:SteelBlue;"><b>Fecha máxima de remisión de información:</b></span><span>  02 Septiembre 2016 17:59  </span>
        <span style="color:red"><b>Tiempo restante:  </b></span><span id="tiempo" style="color:red"></span>
    </div>

    <div id="mensaje"></div>
    <div id="mensaje2"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="table-search" style="width:850px">
            <tbody>
                <tr>
                    <td style="line-height:25px">Empresa</td>
                    <td>
                        @Html.DropDownList("CboEmpresasGeneradoras", ViewData["CboEmpresasGeneradoras"] as List<SelectListItem>, new { @style = "width:160px" })
                    </td>
                    <td style="line-height:25px">Tipo de Información</td>
                    <td>
                        <select id="cbFormato" style="width:400px">
                            <option value="value"></option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td style="line-height:25px">Mes de Elaboración</td>
                    <td>
                        <div><input type="text" id="fecha-grafico" style="width:150px;" value="@DateTime.Now.ToString("MM / yyyy")" /></div>
                    </td>
                    <td>
                        <input type="button" id="btn-aceptar" value="Aceptar" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top:10px ; display:inline-block; display:none" id="botoneras">
            <div class="button-item">
                <input type="button" id="btn-excel-descargar" value="Exportar Excel" class="btn-aditional btn-download-excel" />
            </div>
            <div class="button-item">
                <input type="button" id="btn-ver-envios" value="Ver Envios" class="btn-aditional btn-envios" />
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div id='jqxWidget'>
        <div id="mainSplitter">

            <div class="splitter-panel">

                <div id="mensaje" style="margin-top:25px"></div>

                <div style="width:100%">
                    <div style="float:right;" id="InfoUser">Usuario: XXXXX  Fecha: 07/27/2016 - 15:51</div>
                </div>
                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab' id="pe"><a href="#tab-pe">Información Historica</a></li>
                        <li class='tab' id="rc"><a href="#tab-rc">Información Pronosticada</a></li>
                        <li class='tab' id="gf"><a href="#tab-gf">Graficos</a></li>
                    </ul>
                    <div id="tab-pe">
                        <div id="hst-grilla-pe" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 600px; width: 100%; overflow: hidden;"></div>
                    </div>
                    <div id="tab-rc">
                        <div id="hst-grilla-rc" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 600px; width: 100%; overflow: hidden;"></div>
                    </div>
                    <div id="tab-gf">
                        <div style="border:5px solid; margin-bottom:25px; margin-top:25px">
                            <div id="container" class="ocultar" style="min-width:310px; width:100%; height: auto;  margin-bottom:25px"></div>
                        </div>
                        <div style="border:5px solid">
                            <div id="container2" class="ocultar" style="min-width: 310px; width:100%; height:auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div-error-popup" class="general-popup" style="height: auto !important;">
    <span class="button b-close"><span>X</span></span>
    <div class="title_tabla_pop_up" style="margin-bottom:20px">Ver Envios</div>
    <div style="overflow-y:auto;height:250px">
        <table class="pretty tabla-formulario">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>

<div id="ele-popup" class="general-popup">
    <div id="mover"></div>
    <span class="button b-close"><span>X</span></span>
    <div id="ele-popup-content">
    </div>
</div>