.editor-label {
    font-weight: bold;
    color: #3D90CB;
    font-size: 14px;
}
.editor-line {
    border: 1px solid;
    margin-top: 10px;
    color: #f2f1f7;
}

.div-flex-inline-items {
    width: 100%;
    display: flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: flex-start;
}

#popup2 {
    min-width: 1000px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}