/*Estilos para tablas*/
.ast table.pretty tbody tr.odd:hover  td  {
    background : #fbf4bf;
}

.ast table.pretty tbody tr.even:hover  td  {
    background : #fbf4bf;
}
.ast table.pretty tbody tr.rojo  td  {
    background : #f00;
}
.ast table.pretty tbody tr.amarillo td {
    background: #fbf4bf;
}

.ast .text_left  {
    text-align:left;
     padding-left: 20px;
}

.ast .text_justify  {
    text-align:justify;
}

/*Estilos de enlaces*/
.ast a.paginate_active {
    display: inline-block;
    background-color: #3498DB;
    padding: 2px 4px;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
}

.ast a.paginate_button {
    display: inline-block;
    background-color: #FFF;
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
    color: #3498DB;
}
.ast #popup, #confirmar, #confirmarClose, #popupDetalle, #busquedaEquipo, #divPermisos, #popup2, #cntExportar, #confirmarSave, .bMulti {
    color:#245C86;
}

/*Estilos de tablas de filtro*/
.THCabecera
{   background-color: #2980B9;	}

/********************************************************************************/
/* -- Estilos de botones */
.content-action{
    text-align:center;
    padding-left:6px;
    padding-right:6px;
}

.content-action a {
    text-decoration:none;    
    color:#278CCC;
}

.content-action a:hover {
    color:#ff6a00
}

.content-item-action {
    height:35px;
    line-height:14px;
}

.content-item-action img {
    height:25px;
    width:25px;
    margin:auto;    
}

.content-item-action span {
    font-size:12px;
    text-decoration:none;    
}