@model COES.MVC.Intranet.Areas.ServicioRPF.Models.AnalisisFallaModel

<script type="text/javascript">
    $(function () {
        $('#btnEvaluar').click(function () {
            evaluar();
        });
    });
</script>

@if (Model.ValidacionGeneral == true)
{
    <div class="action-exito">
        <span>Se cumplen las condiciones de potencia y frecuencia.</span>
    </div>
}
else
{
    <div class="action-alert">
        <span>No corresponde evaluar según PR21</span>
        <div style="height:10px; clear:both"></div>
        <ul>
            @if (Model.ValidacionFrecuencia != true)
            {
                <li>No todas las frecuencias son mayores o iguales a 60.</li>
            }
            @if (Model.ValidacionPotencia != true)
            {
                <li>La potencia desconectada es menor que la reserva asignada.</li>
            }
        </ul>
    </div>
    <span>Ingrese la cantidad de segundos a evaluar.</span>
    <input type="text" id="txtSegundos" style="width:50px" />
}

<input type="button" value="Evaluar" id="btnEvaluar" />             