@model COES.MVC.Intranet.Areas.ServicioRPF.Models.AnalisisFallaModel

<script type="text/javascript">
    $(function () {
        $('#btnReValidacion').click(function () {
            reValidar();
        });

        $('#btnEvaluar').click(function () {
            evaluar();
        });
    });
</script>

<div style="height:20px; clear:both">
</div>

<table style=" width:auto">
    <tr>
        <td>
            Frecuencias de los 10 segundos (SAN JUAN):
            <table class="tabla-formulario" border="1" style="width:300px">
                <thead>
                    <tr>
                        <th>Segundo</th>
                        <th>Frecuencia</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListaFrecuencias.Count == 10)
                    {
                        for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model.ListaFrecuencias[i]</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </td>
        <td style=" width:40px"></td>
        <td>
            <table style="width:auto">
                <tr style="line-height:25px">
                    <td>Potencia desconectada:</td>
                    <td><input type="text" id="txtPotenciaDesconectada" onkeypress="return validarNumero(this,event)" style="width:60px" value="@Model.PotenciaDesconectada" /></td>
                    
                </tr>
            </table>

            <div id="cntVerificacion">
                               

                    @if (Model.IndicadorExistenciaDatos == "S")
                    {
                        if (Model.IndicadorExistenciaPotencia == "S" && Model.IndicadorExistenciaRPF == "S")
                        {
                            if (Model.ValidacionGeneral == true)
                            {
                                <div class="action-exito">
                                    <span>Se cumplen las condiciones de potencia y frecuencia.</span>
                                </div>
                            }
                            else
                            {
                                <div class="action-alert">
                                    <span>No corresponde evaluar según PR21</span>
                                    <div style="height:10px; clear:both"></div>
                                    <ul>
                                        @if (Model.ValidacionFrecuencia != true)
                                        {
                                            <li>No todas las frecuencias son mayores o iguales a 60.</li>
                                        }
                                        @if (Model.ValidacionPotencia != true)
                                        {
                                            <li>La potencia desconectada es menor que la reserva asignada.</li>
                                        }
                                    </ul>
                                </div>
                        
                                <span>Ingrese la cantidad de segundos a evaluar.</span>
                                <input type="text" id="txtSegundos" style="width:50px" />
                            }
                            <input type="button" value="Evaluar" id="btnEvaluar" />
                        }
                        else
                        {
                            <div class="action-alert">
                                <span>Debe ingresar los datos de Potencia Desconectada y Reserva Primaria y vuelva a validar</span>
                                <div style="height:10px; clear:both"></div>
                                <ul>
                                    @if (Model.IndicadorExistenciaPotencia != "S")
                                    {
                                        <li>No existe potencia desconectada.</li>
                                    }
                                    @if (Model.IndicadorExistenciaRPF != "S")
                                    {
                                        <li>No existe la reserva primaria</li>
                                    }
                                </ul>
                            </div>
                            <input type="button" id="btnReValidacion" value="Volver a validar" />
                        }
                    }
                    else
                    {
                        <div class="action-alert">
                            <span>Para la fecha seleccionada no existen datos cargados.</span>
                        </div>
                    }
                </div>

            
        </td>
    </tr>
</table>