@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel
@{
    ViewBag.Title = "Editar Presupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { {"sTitulo","Editar la información del Presupuesto"},{"sAccion","Actualizar"} })
</div>
