@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel
@{
    ViewBag.Title = "Corregir error en la información del Registro Presupuesto Anual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la información del Presupuesto" }, { "sAccion", "Grabar" } })
</div>