@model COES.MVC.Intranet.Areas.Subastas.Models.ActivacionOfertaModel

@{
    ViewBag.Title = "Activación de Ofertas por Defecto";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Areas/Hidrologia/Content/Scripts/handsontable.full.min.js"></script> @*version 2021*@
<link href="~/Areas/Hidrologia/Content/Css/handsontable.full.min.css" rel="stylesheet" /> @*version 2021*@

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Subastas/Content/Scripts/activacionoferta.js?v=1.2.7"></script>
<script src="~/Areas/Subastas/Content/Scripts/indisponibilidadtemporal.js?v=1.2.7"></script>
<link href="~/Areas/Subastas/Content/Css/css.css?v=1.2.7" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Activación de Ofertas por Defecto</div>
    <div>
        <input type="hidden" id="hdDiaSiguiente" value="@Model.DiaSiguiente" style="" />
    </div>

</div>

<div class="content-hijo" id="mainLayout">   
    <div class="search-content">

        <table class="" style="width:100%">
            <tr>
                <td style="width: 100px">
                    Fecha de Oferta:
                </td>
                <td style="width: 150px">
                    <input type="text" id="fechaOferta" value="@Model.DiaSiguiente" style="width: 92px;" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" style="" />
                </td>
                <td>
                    <input type="hidden" id="hdparamPotUrsMinAuto" value="@Model.ParamPotenciaUrsMinAuto" style="" />
                    <input type="hidden" id="hdexisteIndisponibilidad" value="" style="" />
                </td>
            </tr>
        </table>

    </div>

    <div class="content-hijo" id="mainLayout">

        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>

                <li class='tab'><a href="#tabActivacion">Proceso de Activación</a></li>
                <li class='tab'><a href="#tabIndisponibilidad">Registro Indisponibilidad Temporal URS</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabActivacion">
                    <div id="mensaje_activacion"> </div>

                    <div class="search-content" style="padding:10px; height: 40px">

                        <table cellpadding="0" cellspacing="0" border="0" style="width: 130px; float: inline-end;">
                            <tr>
                                <td class="content-action">
                                    <a href="#" id="btnErrores">
                                        <div class="content-item-action">
                                            <img src="~/Areas/Subastas/Content/Images/errores.png" /><br />
                                            <span>Errores</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnActivaciones">
                                        <div class="content-item-action">
                                            <img src="~/Areas/Subastas/Content/Images/envios.png" /><br />
                                            <span>Activaciones</span>
                                        </div>
                                    </a>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div>
                        <fieldset style="padding-bottom: 20px; border: double;">
                            <legend style="color: #043D68;">Subir</legend>
                            <div id="contenedorTablaSubir">

                                <div id="tblSubir" class="hot" style=" margin: 0 auto; "> </div>
                            </div>
                            <div style="margin-top: 15px; font-size: 14px; font-weight: bold; ">
                                <table class="" style="width:100%">
                                    <tr>
                                        <td style="width: 300px; color: #009AD9;">
                                            Motivo de activación de Oferta por defecto:
                                        </td>
                                        <td>
                                            <select id="cbMotivosSubir" style="width: 850px;" name="IdMotivoSubir" multiple="multiple">
                                                
                                            </select>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </fieldset>

                    </div>

                    <div style="margin-top: 35px;">
                        <fieldset style="padding-bottom: 20px; border: double;">
                            <legend style="color: #043D68;">Bajar</legend>
                            <div id="contenedorTablaBajar">

                                <div id="tblBajar" class="hot" style=" margin: 0 auto; "> </div>
                            </div>
                            <div style="margin-top: 15px; font-size: 14px; font-weight: bold; ">
                                <table class="" style="width:100%">
                                    <tr>
                                        <td style="width: 300px; color: #009AD9;">
                                            Motivo de activación de Oferta por defecto:
                                        </td>
                                        <td>
                                            <select id="cbMotivosBajar" style="width: 850px;" name="IdMotivoBajar" multiple="multiple">
                                               
                                            </select>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </fieldset>

                    </div>

                    <div style="margin: 20px">
                        <input type="button" id="btnActivar" value="Activar" style="margin-left: 47%;" />
                    </div>

                </div>

                <div id="tabIndisponibilidad">
                    <div id="mensaje_indisponibilidad"> </div>

                    <div id="contenedorBotonesIndisp">
                        <div class="search-content" style="padding:10px; height: 40px">

                            <table cellpadding="0" cellspacing="0" border="0" style="width: 130px; float: inline-end;">
                                <tr>
                                    <td class="content-action">
                                        <a href="#" id="btnErroresIndisp">
                                            <div class="content-item-action">
                                                <img src="~/Areas/Subastas/Content/Images/errores.png" /><br />
                                                <span>Errores</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="content-action">
                                        <input type="button" id="btnGrabarIndisponibilidad" value="Grabar" style="margin-top: 8px;" />
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div>
                            <div id="auditoriaIndis" style="padding:10px;"></div>
                            
                        </div>
                    </div>
                    
                    <div>
                        <div id="contenedorTablaIndisponibilidad">

                            <div id="tblIndispTemp" class="hot" style=" margin: 0 auto; "> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="contenedorErrores" class="popup-class-1 general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div class="panel-container">
        <div id="tablaErrores" style="height:350px;">

        </div>

    </div>
</div>

<div id="contenedorErroresIndisponibilidad" class="popup-class-1 general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div class="panel-container">
        <div id="tablaErroresIndisponibilidad" style="height:350px;">

        </div>

    </div>
</div>
<div id="contenedorActivaciones" class="popup-class-1 general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ver Activaciones</span></div>
    <div class="panel-container">
        <div id="tablaActivaciones" style="height:350px;">

        </div>

    </div>
</div>

