@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel

@{
    ViewBag.Title = "Aporte Integrantes - Ajsute del Periodo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información del ajuste" }, { "sAccion", "Actualizar" } })
</div>