@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.BaseModel
@{
    ViewBag.Title = "Corregir error en la información del Ajuste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la información del Ajuste" }, { "sAccion", "Grabar" } })
</div>