
/**CARGA DE ARCHIVOS**/

.file-ok {
    margin-top: 10px;
    background: url("../images/csv.png") 10px 50% no-repeat;
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.file-alert {
    margin-top: 10px;
    background: url("../images/ico-warning.gif") 10px 50% no-repeat;
    border: 2px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.etapa-progress {
    background: url("../images/loading2.gif") 10px 50% no-repeat;
    border: 2px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 10px;
    text-indent: 30px;
    width: 260px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 10px;
}

.etapa-alert {
    background: url("../images/ico-warning.gif") 10px 50% no-repeat;
    border: 2px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 10px;
    width: 260px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 10px;
}

.etapa-error {
    background: url("../images/ico-delete.gif") 10px 50% no-repeat;
    border: 2px solid #FFAEAE;
    background-color: #FEEBEB;
    padding: 10px;
    width: 260px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 10px;
}

.etapa-ok {
    background: url("../images/ico-done.gif") 10px 50% no-repeat;
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 10px;
    width: 260px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 10px;
}

.etapa-content {
    width: auto;
    height: auto;
}

.etapa-item {
    width: auto;
    min-height: 30px;
}

.etapa-label {
    float: left;
    width: 200px;
}

.etapa-control {
    float: left;
    margin-left: 10px;
}
