.cuadro-ra {
    width:10px;
    height:10px;
    background-color:#C6D9F1;
    float:left;
    margin-right:10px;
}

.cuadro-potencia {
    width:10px;
    height:10px;
    background-color:#FF4040;
    float:left;
    margin-right:10px;
}

.cuadro-frecuencia {
    width:10px;
    height:10px;
    background-color:#905EB5;
    float:left;
    margin-right:10px;
}


.cuadro-frecuencia-sanjuan {
    width:10px;
    height:10px;
    background-color:#33CC00;
    float:left;
    margin-right:10px;
}

.cuadro-texto {
    width:auto;
    float:left;
    margin-right:10px;
}

.cuadro-leyendarpf {
    height:20px;
    margin-right:10px;
}