@model COES.MVC.Intranet.Areas.Transferencias.Models.ValorTransferenciaModel
@{
    Layout = null;

}

<link href="~/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
@*<script src="~/Content/Scripts/highcharts.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-3d.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-exporting.js?v=@DateTime.Now.Minute"></script>
<script src="~/Content/Scripts/highcharts-export-clientside.js?v=@DateTime.Now.Millisecond"></script>*@
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/comparativoEntRetLista.js?v=@DateTime.Now.Minute"></script>

<style>

    .change-dashboard {
        width: 352px;
        float: right;
        height: 25px;
        line-height: 25px;
        color: #4BA2DB;
        cursor: pointer;
    }

        .change-dashboard .active {
            background-color: #5BC0DE;
            color: #fff;
        }

    .change-dashboard-item-l {
        border-radius: 5px 0 0 5px;
        border: 1px solid #4BA2DB;
        width: 112px;
        float: left;
        text-align: center;
        background-color: #fff;
        font-weight: bold;
    }

    .change-dashboard-item-r {
        border-radius: 0 5px 5px 0;
        border: 1px solid #4BA2DB;
        border-left: 1px none;
        width: 112px;
        float: left;
        text-align: center;
        background-color: #fff;
        font-weight: bold;
    }

    .change-dashboard-tooltip {
        display: none;
        width: 183px;
        height: 63px;
        border-radius: 5px;
        position: absolute;
        z-index: 1000;
        background-color: #4BA2DB;
        color: #fff;
        padding: 8px;
        line-height: 16px;
        margin-top: 30px;
    }

    .busque {
        padding-left: 22px;
    }
</style>

<table style="width:100%;padding:10px;" cellspacing="3">
    <tr>
        <td style="width:30%; padding:12px;">

            <table cellpadding="2" cellspacing="2">
                <tr>
                    <td style="color:#3D90CB;font-size:medium;font-weight:bold;border-bottom-color:#3D90CB;border-bottom:solid;">Desviaciones</td>
                </tr>
                <tr>
                    <td>
                        <table border="0" class="pretty tabla-icono " id="tabla2">
                            <thead>
                                <tr>
                                    <th>Hora</th>
                                    <th>Ent/Ret Val 1</th>
                                    <th>Ent/Ret Val 2</th>
                                    <th style="width:30px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListaComparativo)
                                {
                                    <tr id="fila_@item.fecha">
                                        <td class="text_left">@item.fecha</td>
                                        <td>@item.valorInicial</td>
                                        <td>@item.valorFinal</td>
                                        <td>
                                            @item.variacion
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
        <td style="width:70%">
            <table cellpadding="10">
                <tr>
                    <td>
                        <div class="change-dashboard">
                            <div id="grafico3" class="CMG change-dashboard-item-l active  item-change-dashboard" data-fuente="scada">Comparación</div>
                            <div id="grafico4" class="CMG change-dashboard-item-l  item-change-dashboard" data-fuente="scada">Desviación</div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="contenedor2" style="width:100%"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


