@model COES.MVC.Intranet.Areas.Admin.Models.VersionModplanModel
@{
    ViewBag.Title = "Administración de archivos del MODPLAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Content/Scripts/versionmodplan.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Administración de archivos del MODPLAN</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value='Nuevo' />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje" class="action-message">Cargue los archivos para cada una de las versiones de los planes de transmisión.</div>

    <table>
        <tr>
            <td style="width:33%" valign="top">

                <div class="popup-title">
                    <span>Planes de Transmisión</span>
                </div>
                <div style="clear:both; height:20px"></div>
                <div id="listadoPlanTransmision">
                </div>
                <div style="clear:both; height:30px"></div>
                <input type="button" id="btnAgregarPlan" value="Agregar Plan de Transmisión" />
                <input type="button" id="btnAgregarVersion" value="Agregar una Versión" />
            </td>
            <td style="width:2%"></td>
            <td style="width:65%" valign="top">
                <div id="tab-container" class='tab-container'>
                    <ul class='etabs'>
                        <li class='tab'><a href="#paso1">Carga de archivos</a></li>
                        <li class='tab'><a href="#paso2">Reportes de Descarga</a></li>
                    </ul>
                    <div class='panel-container'>
                        <div id="paso1">
                            <h2>Carga de archivos</h2>

                           <div id="divDetalle">

                           </div>

                        </div>
                        <div id="paso2">
                            <h2>Reporte de Descargas</h2>
                            <div id="divReporte">
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </table>

    <div id="listado">
    </div>

    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>

<input type="hidden" id="hfIndicadorPublico" value="N" />
