@model COES.MVC.Intranet.Areas.Monitoreo.Models.ReporteModel

<select id="cbEmpresaIMM-@(Model.Indicador)" name="IdEmpresas" style="width:50px">

    @foreach (var item in Model.ListaEmpresas)
    {
        <option value="@item.Emprcodi"> @item.Emprnomb</option>
    }

</select>