<script type="text/javascript">

    function cargarPrimeraPagina6() {
        var id = 1;
        $('#hfPaginaActual6').val(id);
        mostrarPaginado6();
        pintarBusqueda6(id);
    }

    function cargarAnteriorPagina6() {
        var id = $('#hfPaginaActual6').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual6').val(id);
            mostrarPaginado6();
            pintarBusqueda6(id);
        }
    }

    function cargarPagina6(id) {
        $('#hfPaginaActual6').val(id);
        mostrarPaginado6();
        pintarBusqueda6(id);
    }

    function cargarSiguientePagina6() {
        var id = parseInt($('#hfPaginaActual6').val()) + 1;
        $('#hfPaginaActual6').val(id);
        mostrarPaginado6();
        pintarBusqueda6(id);
    }

    function cargarUltimaPagina6() {
        var id = $('#hfNroPaginas6').val();
        $('#hfPaginaActual6').val(id);
        mostrarPaginado6();
        pintarBusqueda6(id);
    }

    function mostrarPaginado6() {
        var nroToShow6 = parseInt($('#hfNroMostrar6').val());
        var nroPaginas6 = parseInt($('#hfNroPaginas6').val());
        var nroActual6 = parseInt($('#hfPaginaActual6').val());

        $('.pag-ini6_').css('display', 'none');
        $('.pag-item6_').css('display', 'none');
        $('.pag-fin6_').css('display', 'none');
        $('.pag-item6_').removeClass('paginado-activo');

        $('#pag6_' + nroActual6).addClass('paginado-activo');

        if (nroToShow6 - nroPaginas6 >= 0) {
            $('.pag-item6_').css('display', 'block');
            $('.pag-ini6_').css('display', 'none');
            $('.pag-fin6_').css('display', 'none');
        }
        else {


            $('.pag-fin6_').css('display', 'block');
            if (nroActual6 > 1) {
                $('.pag-ini6_').css('display', 'block');
            }
            var anterior6 = 0;
            var siguiente = 0;

            if (nroActual6 == 1) {

                anterior6 = 1;
                siguiente6 = nroToShow6;
            }



            else {

                if (nroActual6 + nroToShow6 - 1 - nroPaginas6 > 0) {
                    siguiente6 = nroPaginas6;
                    anterior6 = nroPaginas6 - nroToShow6 + 1;
                }
                else {
                    anterior6 = nroActual6;
                    siguiente6 = nroActual6 + nroToShow6 - 1;
                }
            }

            for (j = anterior6; j <= siguiente6; j++) {
                $('#pag6_' + j).css('display', 'block')
            }
        }
    }

</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst6" class="pag-ini6_"><a href="JavaScript:cargarPrimeraPagina6();"><<</a></div>
        <div id="pagPrev6" class="pag-ini6_"><a href="JavaScript:cargarAnteriorPagina6();"><</a></div>
        @for (int j = 1; j <= Model.NroPaginas; j++)
        {
            <div class="pag-item6_" id="@("pag6_"+j)" style="display:none"><a href="JavaScript:cargarPagina6(@j);"><span>@j</span></a></div>
        }
        <div id="pagNext6" class="pag-fin6_"><a href="JavaScript:cargarSiguientePagina6();">></a></div>
        <div id="pagLast6" class="pag-fin6_"><a href="JavaScript:cargarUltimaPagina6();">>></a></div>
    </div>

    <input type="hidden" id="hfPaginaActual6" value="1" />
    <input type="hidden" id="hfNroPaginas6" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar6" value="@Model.NroMostrar" />
}