<script src="~/Areas/DemandaPO/Content/Scripts/datosSirpit/cargaSirpit.js"></script>
<div id="main"
     data-msg="@Model.Mensaje"
     data-tpo="@Model.TipoMensaje"
     style="margin-bottom: 5px;">
    <div class="flex-row">
        <div>
            <div>Seleccionar el Excel de Maestros (.xlsx) o Data de maestro (.txt) y dar importar:</div>
            <input id="txtDireccion" type="text" style="width: 450px;" disabled />
            <input id="fileDireccion" type="file" style="width: 450px;" hidden />
        </div>
        <div style="display: flex; align-items: end;">
            <input id="btnImportar" type="button" value="Importar" />
        </div>
    </div>
    <br /><br />
    <div class="flex-row">
        <div>
            <div>Seleccionar carpeta en donde estan los archivos txt de la data de los maestros:</div>
            <input type="text" id="txtFolderPath" style="width: 450px;" value="\\fileserver\areas\spl\sirpit\">
            <input type="button" id="btnBrowse" value="Ejecutar lectura de carpeta" onclick="btnImportarCarpeta()" />
        </div>
    </div>
    <div id="ListaArchivosEncontrados" style="display: none;">
        <br />
        <br />
        <h3>Archivos encontrados:</h3>
        <ul id="fileList"></ul>
    </div>
</div>