@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Datos SIRPIT";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/DemandaPO/Content/Css/css2.css" rel="stylesheet" />
<script src="~/Areas/DemandaPO/Content/Scripts/datosSirpit/modulo.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/datatable.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Datos SIRPIT</div>
    </div>
    <div class="content-hijo">
        <div id="message" style="display: none;"></div>            
        <div class="nt-header">
            <div id="opt-subestacion"
                 class="nt-header-option options active">
                Subestaciones
            </div>
            <div id="opt-transformador"
                 class="nt-header-option options">
                Transformadores
            </div>
            <div id="opt-barra"
                 class="nt-header-option options">
                Barras
            </div>
            <div id="opt-data"
                 class="nt-header-option options">
                Data importada de los Maestros
            </div>
            <div id="opt-cargasirpit"
                 class="nt-header-option options">
                Carga de datos SIRPIT y tablas maestras
            </div>
        </div>
        <div id="module"
             class="nt-body"></div>            
    </div>
</div>