@model COES.MVC.Extranet.Areas.CPPA.Models.CPPAModel
@{
    ViewBag.Title = "CPPA - Reportes de Ajuste de Año Presupuestal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Transfpotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/cppa.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<script src="~/Areas/CPPA/Content/Scripts/reportes.js?v=1.0.1"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/datatable.js"></script>

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<div class="ast">

    <div class="form-title">
        <div class="form-title" style="color: #278CCC; margin-bottom:0px; font-weight: bold">Reportes de Ajuste de Año Presupuestal</div>
    </div>

    <div class="content-hijo" style="padding-top:8px">

        <div id="tab-container" class='tab-container'>

            <div class='panel-container'>

                <div id="paso2">

                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px; padding: 10px;">

                        <table border="0" cellpadding="5" cellspacing="2" style="width: 100%;">
                            <!--
                            <tr class="THCabecera">
                                <td colspan="6">
                                    <div class="editor-label" style="color:#FFFFFF;">
                                    <b>Seleccionar los filtros para exportar la información deseada</b>
                                    </div>
                                </td>
                            </tr>
                            -->
                            <tr>
                                <td><div class="editor-label">Año: </div></td>
                                <td>
                                    <div class="editor-field">
                                        <select id="cbAnio" name="anio" disabled>
                                            <option value="">--Seleccione--</option>
                                        </select>
                                    </div>
                                </td>

                                <td><div class="editor-label">Ajuste: </div></td>
                                <td>
                                    <div class="editor-field">
                                        <select id="cbAjuste" name="ajuste" disabled>
                                            <option value="">--Seleccione--</option>
                                        </select>
                                    </div>
                                </td>

                                <td><div class="editor-label">Revisión</div></td>
                                <td>
                                    <div class="editor-label">
                                        <select id="cbRevision" name="revision" disabled>
                                            <option value="">--Seleccione--</option>
                                        </select>
                                    </div>
                                </td>

                            </tr>
                        </table>

                        <table border="0" cellpadding="5" cellspacing="2">
                            <tr>
                                <td align="right" height="10"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="center" id="mensajeReporte"></div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" height="10"></td>
                            </tr>
                        </table>

                        <div id="reporteCPPA">
                            <table width="100%" border="0" cellpadding="5" cellspacing="2">
                                <tr class="THCabecera">
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Reporte Mes</b></div></td>
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Generación</b></div></td>
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Descargar</b></div></td>
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Demanda (UL y D)</b></div></td>
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Descargar</b></div></td>
                                </tr>
                            </table>
                            <br /><br /><br />
                            <table width="100%" border="0" cellpadding="5" cellspacing="2">
                                <tr class="THCabecera">
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Reporte Anual</b></div></td>
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Archivo</b></div></td>
                                    <td><div class="editor-label" style="color: #FFFFFF; text-align: center;"><b>Descargar</b></div></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
