@model COES.MVC.Intranet.Areas.ConsumoCombustible.Models.ConsumoCombustibleModel
@{
    ViewBag.Title = "Generación de Versiones de Consumo de Combustible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/ConsumoCombustible/Content/Scripts/generacion_version.js?v=1.8.3"></script>
<link href="~/Areas/ConsumoCombustible/Content/Css/css.css?v=1.1" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Generación de Versiones de Consumo de Combustible</div>

    <div class="content-botonera">
        @if (Model.TienePermiso)
        {
            <input type="button" id="btnGenerar" value="Generar versión">
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="fechaPeriodo" value="@Model.FechaPeriodo" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar">
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>

        <div id="listado">

        </div>
    </div>
</div>
