@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoEntregaModel
@{
    ViewBag.Title = "Editar la información de Código de Entrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información de Código de Entrega" }, { "sAccion", "Actualizar" }})
</div>
