@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoEntregaModel
@{
    ViewBag.Title = "Ingresar Nuevo Código de Entrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Nuevo Código de Entrega" }, { "sAccion", "Insertar" }})
</div>