@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoEntregaModel
@{
    ViewBag.Title = "Corregir error en la información del Código de Entrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la información del Código de Entrega" }, { "sAccion", "Grabar" }})
</div>
