@model COES.MVC.Intranet.Areas.IEOD.Models.PublicacionIEODModel
<select id="cboSemana@(Model.TipoSemana)" style="width:300px;">
    @foreach (var item in Model.ListaSemanas)
    {
        <option value="@item.FechaIniSem">@item.NombreTipoInfo</option>
    }
</select>

<input type="hidden" id="hdSemana@(Model.TipoSemana)" name="hdSemana@(Model.TipoSemana)" />