<div class="header-menu">
    <div class="header-action-item" style="line-height: 28px;">
        <a href="#" id="openMenuPR5">
            <img src="~/Areas/IEOD/Content/images/menu_informe_semanal.png" style="padding-top:7px; width:35px" />
        </a>
        <div class="acceso-directo-header" id="contenedorMenuPR5" style="width: 1200px; margin-left: 20px; display: none;">
            <div class="acceso-directo-header-cnt" id="contenidoMenuPR5" style="color: #245C86; padding: 10px; width: 1200px; max-height: 650px;">
                <div id="MenuID"></div>
            </div>
            <div class="acceso-directo-header-link">
                <a href="#">Informe Semanal - @Html.Raw(Model.FiltroFechaDesc)</a>
                <a href="#" id="closeMenuPR5" style="float:right">X</a>
            </div>
        </div>
    </div>
</div>