@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Informe Semanal";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/grouped-categories.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=2.0.0" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.06" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/pr5cargarmenu.js?v=2.0.0"></script>
<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/pr5globalFuncion.js?v=2.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/informeSemanal/demandagu_areaoperativa.js?v=2.0.3"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="float: left; margin-bottom: 25px;"></div>

        <div id="grafico2" style="height: 700px;width: 1200px;float: left;"></div>

        <div style="width: 800px; float: left;margin-bottom: 10px;">
            <div id="grafico3_1" style="width: 400px; float: left;margin-bottom: 5px;"></div>
            <div id="grafico3_2" style="width: 400px; float: left;margin-bottom: 5px;"></div>
            <span id="txt_grafico3"></span>
        </div>

        <div id="grafico4" style="height: 600px;width: 800px;float: left;"></div>
    </div>
</div>