@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Intercambios Internacionales";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Intercambios Internacionales</h1>
        <span></span>
    </div>
    <img src="~/Content/Images/Banners/IntercambiosInternacionales.jpg" alt="Intercambios Internacionales" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Operación%2FIntercambios%20Internacionales%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>