@model COES.MVC.Publico.Areas.PostOperacion.Models.EventoModel

@{
    Layout = "~/Views/Shared/_LayoutIframe.cshtml";
}

<script type="text/javascript">
$(function(){
    //$('.site-header').hide();
    //$('.main-footer').hide();
    //$('.general-popup').hide();
    //$('.popupGeneral').hide();

});

</script>

<link href="~/Areas/PostOperacion/Content/css/agenda.css" rel="stylesheet" />
<script src="~/Areas/PostOperacion/Content/Scripts/agenda.js"></script>



@*<div class="content-hijo" id="mainLayout">*@

    <div id="vistaCalendario">
         
        @Html.Partial("Calendario")
    </div>

@*</div>*@

@*<div id="popupEdicion" class="popupGeneral" style="min-height:200px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoEdicion">


    </div>
</div>*@

<div style="clear:both"></div>