@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Análisis de Fallas";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/CaracteristicasSEIN.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 order-1 order-md-0">
            <iframe width="100%" height="850px" src="https://sicoes.coes.org.pe/wcoes/coes/sicoes/operacion/fallas/default.aspx" frameborder="0"></iframe>
            @*<iframe width="100%" height="850px" src="http://localhost:24743/coes/sicoes/operacion/fallas/default.aspx" frameborder="0"></iframe>*@
            @*<iframe width="100%" height="850px" src="https://testweb.coes.org.pe/WcoesAppCTAF/coes/sicoes/operacion/fallas/default.aspx" frameborder="0"></iframe>*@
            <div style="clear:both"></div>
        </div>
    </div>
</div>
 <div style="clear:both"></div>
