@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleGasModel
@{
    ViewBag.Title = "Configuración Aplicativo PR31 - Gaseoso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />

<link href="~/Areas/Combustibles/Content/Css/configuracionPlantilla.css?v=1.9.7.2" rel="stylesheet" />
<script src="~/Areas/Combustibles/Content/Scripts/Gas/configuracionPlantilla.js?v=1.9.7.2"></script>

<div class="form-title">
    <div class="content-titulo">Configuración de Plantilla - Formato 3</div>
    <div class="content-botonera">
        @if (Model.TienePermisoAdmin)
        {
            <input type="button" id="btnNuevo" value="Nuevo">
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px; display: none"></div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaListado">Listado</a></li>
            <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
            <li class='tab'><a href="#vistaPropiedad">Propiedades</a></li>
        </ul>
        <div class='panel-container'>

            <div id="vistaListado">

                <div id="div_reporte" class="content-tabla">

                </div>
            </div>

            <div id="vistaDetalle">
                <div id="div_detalle" class="content-tabla" style="display: none; overflow-x: scroll; overflow-y: scroll;">

                </div>
            </div>

            <div id="vistaPropiedad">
                @if (Model.TienePermisoAdmin)
                {
                    <div class="search-content" style="padding-top: 3px; padding-bottom: 8px; background-color: white;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: middle;">
                                        <table class="content-tabla-search tabla_filtro_ho" style="width:auto">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="button" id="btnNuevaPropiedad" value="Nueva propiedad">
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

                <div id="div_reporte_propiedad" class="content-tabla">

                </div>
            </div>
        </div>
    </div>

</div>

<input type="hidden" id="hdFechaActual" value="@Model.FechaActual" />

<!--Ventana flotante de Formulario de propiedad-->
<div id="popupFormPropiedad" class="general-popup popup_formulario" style="">

</div>