@model COES.MVC.Intranet.Areas.Combustibles.Models.CombustibleGasModel
@{
    ViewBag.Title = "Mensajes Enviados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/datatable.js"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Areas/Combustibles/Content/Scripts/Gas/configuracionCorreo.js?v=1.0.1"></script>

<div class="form-title">
    <div class="content-titulo">Mensajes Enviados</div>
    <div class="content-botonera">
        @if (Model.TienePermisoAdmin)
        {
            <input type="button" id="btnNuevoMensaje" value="Nuevo Mensaje" />
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabLista">Listado</a></li>
            <li class='tab'><a href="#tabDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>

            <div id="tabLista">

                <div class="search-content">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Desde:</td>
                            <td>
                                <input type="text" id="FechaDesde" style="width: 90px;" value="@Model.FechaInicio" />
                            </td>
                            <td style="padding-left: 60px">Hasta:</td>
                            <td>
                                <input type="text" id="FechaHasta" style="width: 90px;" value="@Model.FechaFin" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="vistaListado">

                    <div id="div_listado" class="content-tabla">

                    </div>
                </div>

            </div>

            <div id="tabDetalle">

                <div id="div_detalle" class="content-tabla">

                </div>
            </div>

        </div>
    </div>

</div>



