.menu, .menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    line-height: 32px;
}
.menu a
{
    text-decoration: none;
}
.menu > li
{   
    padding:0 6px
}
.menu > li:first
{
    margin-left:10px!important;  
}
.menu > li:nth-last-child(2)
{
    z-index:1;
}
.menu > li > a
{
    padding: 0.5em 1px;
    text-decoration: none;
    color: #205C90;   
    font-family:"Lucida Grande", "Lucida Sans Unicode",Tahoma,Arial;
    font-size:12px; 
}

    .menu > li > a:hover {
    background-color: #205C90;    
    color:#FF992A;
    
    }

div.box
{
    position: absolute;
    z-index: -1;  
    left: 0;
    top: 0;
 
}
li.pull-down
{
    padding-right:6px;   
}


li.pull-down > a
{
   padding: 0.5em 14px 0.5em 5px;
   text-decoration: none;
   color: #205C90;
   background-image: url('../images/darrow.png');
   background-position: 100% 50%;
   background-repeat: no-repeat;
   font-family:"Lucida Grande", "Lucida Sans Unicode",Tahoma,Arial;
   font-size:12px;
   
}

.li.pull-down > a:hover {
    background-color:#205C90;
}


li.right-menu > a
{
    
   
}
.menu a.selected
{
    background-color: #205C90;    
}

.menu .selected:hover {
   
    color:#3D90CB;

    
}

.menu .selected {

    
    color:#FF992A;

}

.menu .selected:hover a {

}

.menu li
{
    float: left;
    position: relative;
}

.menu ul {
    position: absolute;
    display: none;
    min-width: 240px;
    top: 2.5em;
    background-color: #DCE6F2;
    border-radius: 0px 0px 0px 0px;
    z-index: 9999;
}

.menu li ul a
{
    min-width: 220px;
    height: auto;
    float: left;   
    padding: 0 10px;
    color:#20354A;
    border-bottom:1px solid #B3C1D0
}

.menu li ul li
{
    padding: 0;
    margin: 0;
}

.menu ul ul
{
    top: auto;
}

.menu li ul ul
{
    left: 240px; /*margin: 0px 0 0 10px;*/
}
.menu-item-selected > a
{
    background-color: #205C90;    
    color:#FF992A;
}
.menu-item-selected > a:hover
{
     color:#FF992A !important;
}

