.etabs 
{ 
    margin: 0; 
    padding: 0; 
}

.tab 
{ 
    display: inline-block; 
    zoom:1; 
    *display:inline; 
    background: #F2F1F7; 
    border: solid 1px #DDDDDD; 
    border-bottom: none;   
}

.tab a 
{ 
    color:#999999;
    font-size:12px;
    line-height: 30px; 
    display: block; 
    padding: 0 10px; 
    outline: none; 
    text-decoration:none;
}

.tab a:hover 
{ 
    text-decoration: none;    
    color:#3D90CB;
}

.tab.active 
{ 
    background: #fff;    
    position: relative; 
    top: 1px; 
    color:#3D90CB;
    border-color: #DDDDDD; 
    border-top:2px solid #C83A2A;
}

.tab a.active 
{ 
    font-weight: bold; 
    color:#3D90CB;
}

/**/

.tab-alter 
{ 
    display: inline-block; 
    zoom:1; 
    *display:inline; 
    background: #F2F1F7; 
    border: solid 1px #DDDDDD; 
    border-bottom: none;   
}

.tab-alter a 
{ 
    color:#999999;
    font-size:12px;
    line-height: 30px; 
    display: block; 
    padding: 0 10px; 
    outline: none; 
    text-decoration:none;
}

.tab-alter a:hover 
{ 
    text-decoration: none;    
    color:#3D90CB;
}

.tab-alter.active 
{ 
    background: #fff;    
    position: relative; 
    top: 1px; 
    color:#3D90CB;
    border-color: #DDDDDD; 
    border-top:2px solid #3D90CB;
}

.tab-alter a.active 
{ 
    font-weight: bold; 
    color:#3D90CB;
}

/**/

.tab-container 
{
    margin:0px 5px;
}

.tab-container .panel-container 
{ 
    background: #fff; 
    border-top: solid #DDDDDD 1px; 
    padding: 0px; 
    border-radius: 0 4px 4px 4px;     
    min-height:500px;
}

.panel-container 
{ 
    margin-bottom: 10px; 
}