

label.error {
	color: red;
	font-style: italic;
    padding-left:10px
}
div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px solid red; background-color:#FFFFD2 }
input.error { border: 1px solid red; background-color:#FFFFD2 }
select.error { border: 1px solid red; background-color:#FFFFD2 }