@model COES.MVC.Intranet.Areas.Medidores.Models.ReporteMaximaDemandaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Carga masiva";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Mediciones/Content/Scripts/carga_masiva.js?id=1.5"></script>
<link href="~/Areas/Mediciones/Content/Css/carga_masiva.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Carga masiva</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="action-alert" id="leyenda_prie" style="margin-bottom: 5px; margin-top: 10px;">
        Realizar la carga masiva en los siguientes escenarios:
        <ul>
            <li>Existen modificaciones de equipos en el módulo de Equipamiento. Por ejemplo, cambio del grupo despacho de un equipo central o generador.</li>
            <li>Existen modificaciones de grupos / modos de operación en el módulo de Parámetros grupos/mop. Por ejemplo, cambio de Fuente de energía, check de RER, check de Integrante COES.</li>
            <li>Despliegue del aplicativo en Producción (desde 01/01/2020 hasta la actualidad).</li>
        </ul>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaDespacho">Despacho 30 minutos</a></li>
            <li class='tab'><a href="#vistaMedidores">Medidores 15 minutos</a></li>
        </ul>
        <div class='panel-container'>

            <div id="vistaDespacho">

                <h2>Word Anexo A, Informe Semanal e Ejecutivo Semanal</h2>

                <table class="tabla_carga pretty tabla-adicional" style="width: auto;">
                    <thead>
                        <tr>
                            <th>Reporte</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Procesar datos históricos para numerales de Generación
                            </td>
                            <td>
                                <input type="button" id="btnNuevoDespachoGen" value="Procesar" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div id="vistaMedidores">
                <h2>Informe Mensual, Ejecutivo Mensual e Informe Anual</h2>

                <table class="tabla_carga pretty tabla-adicional" style="width: auto;">
                    <thead>
                        <tr>
                            <th>Reporte</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Procesar datos históricos para numerales de Generación
                            </td>
                            <td>
                                <input type="button" id="btnNuevoProdGen" value="Procesar" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!--Despacho-->
<div id="popupNuevoDespachoGen" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Producción de los Despachos de Generación</span></div>

    <div>

        <div class='panel-container'>
            <div class="form-search">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Inicio:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaIniDespachoGen" value="@Model.FechaIni" style="width:100px;" />
                        </td>
                    </tr>
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Fin:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaFinDespachoGen" value="@Model.FechaFin" style="width:100px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" value="Procesar" id="btnDespachoGen" />
        </div>

    </div>
</div>

<!--Medidores-->

<div id="popupProdGen" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Almacenar Generación de las unidades por día</span></div>

    <div id="verProdGen">

        <div class='panel-container'>
            <div class="form-search">
                <table style="width:100%;margin-right: auto" class="table-form-show">
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Inicio:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaIniProdGen" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                    <tr class="div_hist">
                        <td class="tbform-label">Fecha de Fin:</td>
                        <td class="tbform-control">
                            <input type="text" id="txtFechaFinProdGen" value="@Model.Mes" style="width:100px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
            <input type="button" value="Procesar" id="btnProcesarProdGen" />
        </div>

    </div>
</div>
