@model COES.MVC.Intranet.Areas.Equipamiento.Models.ZonaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Equipamiento/Content/Scripts/Zona.js?v1.7"></script>

<div class="form-title">
    <div class="content-titulo">Zonas</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevaZona" value="Nueva Zona" />
    </div>
</div>

<div class="content-hijo">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>
                    <input type="button" id="btnConsultar" value='Consultar Todo' />
                </td>
                <td>Filtrar por Nivel:</td>
                <td>
                    <select id="cbNivel" name="Version" style="width:200px">
                        @foreach (var item in Model.ListaNiveles)
                        {
                            <option value="@item.ANivelCodi">@item.ANivelNomb</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div id="listadoZonas">
    </div>
</div>

<div id="popupDetalleZona" class="popupGeneral">
    <link href="~/Content/Css/datatables.css" rel="stylesheet" />
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Zona</span></div>
    <div id="detZona"></div>
</div>

<div id="popupEditarZona" class="popupGeneral">
    <link href="~/Content/Css/datatables.css" rel="stylesheet" />
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Editar Zona</span></div>
    <div id="editarZona"></div>
</div>

<div id="popupNuevo" class="popupGeneral">
    <link href="~/Content/Css/datatables.css" rel="stylesheet" />
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva Zona</span></div>
    <div id="nuevaZona"></div>
</div>
