.content-registro table
{
    border-collapse:collapse;
    border-spacing:0;
    border:1px;
    margin-top:20px;
    margin-bottom:20px;
}

.content-registro table tr td.tbform-label
{
    border:1px solid #EAEAEA;
    text-indent:10px;
    vertical-align:central;
    background-color:#F9F9F9;
    vertical-align:middle;
    padding-right:20px
}

.content-registro table tr td.tbform-control 
{
     vertical-align:middle;
     border:1px solid #EAEAEA;
     padding: 3px 0 3px 10px;
}
