.clase_eliminado td {
    background-color: #FFDDDD !important;
}

.clase_principal td {
    background-color: #bae8be !important;
}

td.ficha_padre {
    font-style: italic !important;
}

th.ficha_padre {
    background: #31869B !important;
}

td.ficha_tipo {
    text-align: left !important;
    padding-left: 10px !important;
}

td.ficha_nombre {
    text-align: left !important;
    padding-left: 10px !important;
}

td.ft_item {
    text-align: left !important;
    padding-left: 5px !important;
}

td.label_filtro {
    font-weight: bold;
    font-size: 16px;
}

td.valor_filtro {
    font-size: 16px;
    padding-left: 5px;
}

table.tree_ficha_tecnica td.agrup_raiz {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

    table.tree_ficha_tecnica td.agrup_raiz.orden {
        text-align: center;
        background-color: var(--bs-gray-500);
    }

    table.tree_ficha_tecnica td.agrup_raiz.nombre {
        background-color: var(--bs-gray-500);
        text-align: left;
    }

        table.tree_ficha_tecnica td.agrup_raiz.nombre span.nota_agrup {
            vertical-align: super;
            font-size: 11px;
            font-weight: bold;
            color: blue;
        }

table.tree_ficha_tecnica td.agrup_hijo {
    padding: 5px;
    text-align: left;
    font-size: 12px;
    /*font-weight: bold;*/
}

    table.tree_ficha_tecnica td.agrup_hijo.orden {
        text-align: center;
        /*background-color: #f5ffb7;*/
        vertical-align: top;
    }

    table.tree_ficha_tecnica td.agrup_hijo.nombre {
        /*background-color: #f5ffb7;*/
        vertical-align: top;
    }

        table.tree_ficha_tecnica td.agrup_hijo.nombre span.nota_agrup {
            vertical-align: super;
            font-size: 11px;
            font-weight: bold;
            color: blue;
        }

table.tree_ficha_tecnica td.propiedad {
    font-size: 12px;
    padding: 5px;
}

    table.tree_ficha_tecnica td.propiedad.orden {
        text-align: center;
        vertical-align: top;
    }

    table.tree_ficha_tecnica td.propiedad.nombre {
        text-align: left;
        vertical-align: top;
    }

        table.tree_ficha_tecnica td.propiedad.nombre span.nota_item {
            vertical-align: super;
            font-size: 11px;
            font-weight: bold;
            color: blue;
        }

    table.tree_ficha_tecnica td.propiedad.unidad {
        text-align: center;
        font-size: 12px;
    }

        table.tree_ficha_tecnica td.propiedad.unidad span.sup {
            vertical-align: super;
            font-size: 11px;
        }

    table.tree_ficha_tecnica td.propiedad.valor {
        text-align: center;
        color: blue;
        word-break: break-word;
    }

#tablaListadoNota .desc {
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#tabla_ft_item_nota .desc {
    text-align: left !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

div.tabla_hijo.titulo {
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

table.tabla_hijo .nombre {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
}

table.tabla_hijo .abrev {
    text-align: left;
    padding-left: 15px;
}

tr.fila_nota td {
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

table.tabla_nota {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabla_nota td {
    border: none !important;
}

    .tabla_nota td.titulo {
        text-align: right;
        vertical-align: top;
        font-weight: bold;
        font-size: 12px;
        color: blue;
    }

    .tabla_nota td.num {
        vertical-align: top;
        text-align: center;
        color: blue;
    }

    .tabla_nota td.desc {
        text-align: left;
        color: blue;
        font-size: 12px;
    }

label.menos {
    color: #ff770d;
    cursor: pointer;
    text-decoration: underline;
}

label.mas {
    color: #00a900;
    cursor: pointer;
    text-decoration: underline;
}
