
.perlnk
{
    width:22%;
    float:left;
    margin-left:0px;
}

.perlnk-item {
    height: 28px;
    background-image: url('../../../../content/images/fnd-section.png');
    background-repeat: no-repeat;
    width: 220px;
}
.contet-leyenda 
{   
	border:2px solid #F2DD8C; 
	background-color:#FFF5CC;
	padding:7px;	
    padding-left:12px;
	 border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    z-index:2000;
    position:absolute;
    width:380px;
    height:240px;      
    display:none;
    top:-0px; 
}

.contet-leyenda table tr 
{
    line-height:15px;
}

.contet-leyenda table tr td
{
    font-size:10px;
    width:auto;
    line-height:15px;  
    color:#3D90CB;
}

     

.formula-subtitulo 
{
    color:#428BD3;
    font-size:14px;
    font-weight:bold;
    text-transform:none;
    margin-top:10px;
    margin-bottom:10px;
}


.tabla-registro {

}

.tabla-registro tr
{
    line-height:27px;
}

.tabla-registro tr td textarea {
    width:400px;
    height:60px;
    border:1px solid #dddddd;
    
}

    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1100px;
        margin: 0 auto;
    }

.content-action{
    text-align:center;
    padding-left:6px;
    padding-right:6px;
}

    .content-action a {
        text-decoration:none;    
        color:#278CCC;
    }

    .content-action a:hover {
        color:#ff6a00
    
    }

.content-item-action {
    height:35px;
    line-height:14px;
}

.content-item-action img {
    height:25px;
    width:25px;
    margin:auto;    
}

    .content-item-action span {
        font-size:12px;
        text-decoration:none;    
    }

.margenes
{   
	border:2px solid #F2DD8C; 
	background-color:#FFF5CC;
	padding:7px;	
    padding-left:12px;

}
.margenes td{
padding-left: 5px;
padding-right: 5px;
}

.title-seccion {
    width:auto;
	border-bottom:2px solid #D9E8F3;
	line-height:30px;
    margin-bottom:20px;
    color:#3D90CB;
	font-size:15px;
	font-weight:bold;

}

.symbol {
    width:20px;
    height:20px;
    /*margin-right:20px;*/
    float:left;
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}

#validaciones,#enviosanteriores,#nuevoformato
{
    background-color:#fff;
    border-radius:6px 6px 6px 6px;
    box-shadow:0 0 25px 5px #999;
    color:#111;
    display:none;
    min-width:380px;
    padding:25px    
}

#confirmarClose,#enviosanteriores, #validaciones
{
    min-height:250px;
    min-width:280px;
    /*width:280px;*/
}

.estilodelete {
    background-image:url('../../../../content/images/ico-delete.gif');
    background-repeat:no-repeat;
    background-position:center;    
    text-align:left;    
}

.estilocombo {
    background-image:url('../../../../content/images/select.png');
    background-repeat:no-repeat;
    background-position:right;
    text-align:left;    
}