@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ComparativoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CortoPlazo/Content/Scripts/comparativocostoincremental.js?v=1"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<link href="~/Areas/CortoPlazo/Content/Css/comparativo.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Comparativo Costos Incrementales</div>
    <div class="content-botonera">
        <input type="button" id="btnExportar" value='Exportar a excel' />
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.Fecha" />
                </td>
                <td>Hora:</td>
                <td>
                    <select id="cbHora"></select>
                </td>
                <td>Equipo:</td>
                <td>
                    <select id="cbEquipo"></select>
                </td>
                <td>Umbral:</td>
                <td>
                    <input type="text" id="txtUmbral" value="@Model.UmbralCI" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
        <div id="contentTabla"></div>
    </div>

    <br />
    <br />
</div>