@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ComparativoModel
@{
    ViewBag.Title = "Consistencia RSF vs Horas de Operación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>

<link href="~/Areas/CortoPlazo/Content/Css/comparativo.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/CortoPlazo/Content/Scripts/comparativoHOvsRsvaSec.js?v=1.2.3"></script>

<div class="form-title">
    <div class="content-titulo">Consistencia RSF vs Horas de Operación</div>

    <div class="content-botonera">
        <input type="button" id="btnExportarExcel" value="Exportar a excel">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px; display: none">.</div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="fechaPeriodo" value="@Model.FechaPeriodo" />
                </td>

                <td>
                    <input type="button" id="btnConsultar" value="Consultar">
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>

        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#vistaRsf">RSF Asignada - Horas de Operación</a></li>
                <li class='tab'><a href="#vistaHo">Horas de Operación - RSF Asignada</a></li>
            </ul>
            <div class='panel-container'>
                <div id="vistaRsf">
                    <div class="content-tabla">

                    </div>
                </div>

                <div id="vistaHo">
                    <div class="content-tabla">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
