@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.BarraModel

@{
    ViewBag.Title = "Edicion - Barra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de la Barra" }, { "sAccion", "Actualizar" } })
</div>
