@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.BarraModel

<table border="0" class="pretty tabla-icono" id="tabla_2">
    <thead>
        <tr>
            <th style="width:150px">Barra- Distancias Eléctricas</th>
            <th style="width:30px;" align="left">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaSTBarra)
        {
            <tr id="filaBAR_@item.Stbarrcodi">
                <td style="text-align:left">@item.Barrnomb</td>
                <td style="width:30px;">
                    @if (Model.bEliminar)
                    {
                        <a href="#" id="eliminar_@item.Stbarrcodi" class="deleteBAR"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="popup">    </div>