@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.BarraModel

@{
    ViewBag.Title = "Ingresar Barra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Barra" }, { "sAccion", "Grabar" } })
</div>
