@model COES.MVC.Extranet.Areas.IEOD.Models.HorasOperacionModel

<script type="text/javascript">

    $(function () {
        $('#cbTipoCentral').change(function () {
            limpiarBarra();
            $('#listado').html("");
            $("#mensajeEvento").hide();
            $("#mensaje").hide();
            mostrarOcultarCentral(0);
            if ($(this).val() == 5)
                cargarCentral();
        });
    });

</script>

<select id="cbTipoCentral" name="cbTipoCentral" style="width:173px;">
    @if (Model.ListaTipoCentral.Count > 0)
    {
        foreach (var item in Model.ListaTipoCentral)
        {
            <option value="@item.Famcodi">@item.Famnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>