@model COES.MVC.Extranet.Areas.IEOD.Models.HorasOperacionModel

<script type="text/javascript">

    $(function () {
        $('#cbCentral').change(function () {
            limpiarBarra();
            $('#listado').html("");
        });
    });

</script>

<select id="cbCentral" name="cbCentral" style="width:250px;">
    @if (Model.ListaCentrales.Count > 0)
    {
        foreach (var item in Model.ListaCentrales)
        {
            <option value="@item.Equicodi">@item.Equinomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>