@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel

<table border="0" class="pretty" id="tabla" role="presentation">
    <thead>
        <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Ubicación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaArea)
        {
            <tr onclick="mostrarEquipos(@item.AREACODI);" style="cursor:pointer">
                <td>@item.TAREAABREV</td>
                <td>@item.AREANOMB</td>
            </tr>
        }
    </tbody>
</table>


