@{
    ViewBag.Title = "BaseNormativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/IntercambiosInternacionales.jpg) ">
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/Antecedentes" class="sidebar-nav--link">Antecedentes</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/BaseNormativa" class="sidebar-nav--link sidebar-nav--link-active">Base Normativa</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/AcuerdoOperativo" class="sidebar-nav--link">Acuerdo Operativo</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/CapacidadInterconexion" class="sidebar-nav--link">Capacidad de Interconexión en los enlaces de Interconexión</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ContratosIntercambios" class="sidebar-nav--link">Contratos para Intercambios de Electricidad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/FormatosDigitalizados?id=0" class="sidebar-nav--link">Formatos digitalizados</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ImportacionExcedentesMedianoPlazo" class="sidebar-nav--link">Importación y Excedentes de Potencia y Energía de los Intercambios Internacionales - Mediano Plazo</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ImportacionExcedentesLargoPlazo" class="sidebar-nav--link">Importación y Excedentes de Potencia y Energía de los Intercambios Internacionales - Largo Plazo</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ContadoresEnergia" class="sidebar-nav--link">Registros de contadores de energía</a>
                    </li>
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Interconexiones/Reportes/IndexHistorico" class="sidebar-nav--link">Registros de contadores de energía</a>
                    </li>
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Interconexiones/Reportes/ReportesYGraficos" class="sidebar-nav--link">Reportes y Gráficos de Intercambios de Electricidad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/InformeSemanal" class="sidebar-nav--link">Informes Semanal de Intercambios Internacionales</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            
            @Html.Action("Index", "Browser", new { area = "", url = "Operaci%C3%B3n/Intercambios%20Internacionales/Base%20Normativa/" })
            <div style="clear:both"></div>
            
                    <div class="col col-md-12 order-1 order-md-0">
                        <div class="container" style="padding:0px;">
                            <h6>
                                Los intercambios internacionales de electricidad entre Peru - Ecuador es realizada de acuerdo a lo establecido en:
                            </h6>
                            <ul class="fa-ul">
                                <li>
                                    <i class="fa-li fa fa-check-square"></i>
                                    Decisión 757 de la Comunidad Andina referida a la vigencia de la Decisión 536 "Marco General para la
                                    Interconexión Subregional de Sistemas Electricos e Intercambio Intracomunitario de Electricidad"
                                </li>
                                <li>
                                    <i class="fa-li fa fa-check-square"></i>
                                    Decreto Supremo Nº 0-11-212-EM Reglamento Interno para la Aplicación de la Decision 757 de la CAN.
                                </li>
                                <li>
                                    <i class="fa-li fa fa-check-square"></i>
                                    Procedimiento Técnico COES Nº43 .-  Intercambios Internacionales de Electricidad en el marco de la Decision 757 de la CAN.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        </div>
    </div>
