@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-banner">
    <div class="page-banner-title">
        <h1>Archivos NCP de Corto Plazo</h1>
        <span>
        </span>
    </div>
    <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Programa de Operación Diario" />
</div>
<a href="~/interconexiones/reportes/indexcap/" style="display:none">
    <img src="~/Content/Images/back.png" />
</a>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Operaci%C3%B3n/Importaci%C3%B3n%20y%20Excedentes/Archivos%20Zip/Excedentes%20de%20Exportaci%C3%B3n/" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>
