@{
    ViewBag.Title = "Intercambios Internacionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/IntercambiosInternacionales.jpg)">
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/Antecedentes" class="sidebar-nav--link">Antecedentes</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/BaseNormativa" class="sidebar-nav--link">Base Normativa</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/AcuerdoOperativo" class="sidebar-nav--link">Acuerdo Operativo</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/CapacidadInterconexion" class="sidebar-nav--link">Capacidad de Interconexión en los enlaces de Interconexión</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ContratosIntercambios" class="sidebar-nav--link">Contratos para Intercambios de Electricidad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/FormatosDigitalizados?id=0" class="sidebar-nav--link">Formatos digitalizados</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ImportacionExcedentesMedianoPlazo" class="sidebar-nav--link">Importación y Excedentes de Potencia y Energía de los Intercambios Internacionales - Mediano Plazo</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ImportacionExcedentesLargoPlazo" class="sidebar-nav--link sidebar-nav--link-active">Importación y Excedentes de Potencia y Energía de los Intercambios Internacionales - Largo Plazo</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/ContadoresEnergia" class="sidebar-nav--link">Registros de contadores de energía</a>
                    </li>
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Interconexiones/Reportes/IndexHistorico" class="sidebar-nav--link">Registros de contadores de energía</a>
                    </li>
                    <li class="sidebar-nav--item" style="display:none">
                        <a href="~/Interconexiones/Reportes/ReportesYGraficos" class="sidebar-nav--link">Reportes y Gráficos de Intercambios de Electricidad</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Interconexiones/Reportes/InformeSemanal" class="sidebar-nav--link">Informes Semanal de Intercambios Internacionales</a>

                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Operaci%C3%B3n/Intercambios%20Internacionales/Excedentes%20Largo%20Plazo/" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>

<div style="clear:both"></div>

