@model COES.MVC.Publico.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "ReportCapacidadImporExport";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<script src="~/Areas/Interconexiones/Content/Scripts/excedentes.js"></script>
<link href="~/Areas/Interconexiones/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/highstock.js"></script>

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Excedentes de Exportación</h1>
        <span>
            Importación y Excedentes
        </span>
    </div>
    <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Capacidad de Importación" />
</div>

<div class="content-hijo" id="mainLayout" style="overflow: auto;">
    <div class="search-content">
        <div style="float:right"> <a href="InformacionAnteriorExcedentes">Ver información histórica</a></div>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Versión:</td>
                <td style="width:100px" >
                    <select id="cbVersion" style="width:100px" name="IdVersion">
                        <option value="0">Preliminar</option>
                        <option value="1">Final</option>
                     </select>
                    <input type="hidden" id="hfVersion" name="version"/>
                </td>
                <td >Selecion de Horizonte:</td>
                <td style="width:50px">
                    <select id="cbHorizonte" style="width:100px" name="IdHorizonte" >
                        <option value="0">Diario</option>
                        <option value="1">Semanal</option>
                    </select>
                    <input type="hidden" id="hfHorizonte" />
                </td>                
               <td>Fecha desde:</td>
                <td>
                    <input type="text" id="FechaDesde" name="FechaInicio" style="width:150px;" value="@Model.FechaInicio"  />
                    <input type="hidden" id="hfFechaDesde"  value="@Model.FechaInicio"  />
                </td>
                <td>Fecha hasta:</td>
                <td>
                    <input type="text" id="FechaHasta" name="FechaFin" style="width:150px;" value="@Model.FechaFin" />
                    <input type="hidden" id="hfFechaHasta" value="@Model.FechaFin" />
                </td>
                <td>
                </td>                                  
            </tr>
            <tr>
                <td> </td>
            </tr>                                             
        </table>
    </div>
            <div style="width:400px; margin:auto; text-align:center; margin-top:15px" >
            <input type="button" id="btnBuscar" value="Consultar" />
            <input type="button" id="btnExpotar" value="Exportar Reporte" />
            <input type="button" id="btnZip" value="Ver archivo Zip" />
          
    </div>
    <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>       
</div>
<div style="padding:15px;">(*) Se considera la capacidad de la línea L-2249 más la diferencia entre la generación disponible y la demanda de la SE Zorritos.</div> 