@model COES.MVC.Publico.Areas.Interconexiones.Models.InterconexionesModel
<div class="marcoGrafico" style="float:left;height:620px;">
 @Html.Raw(Model.Resultado)
</div>


<div class="chart-wrapper" style="position: relative;width:70%;float:left;">
<div id="graficos" class="marcoGrafico" style="width: 100%;height:620px;">
</div>    
</div>