@{
    ViewBag.Title = "ReportCapacidadImporExport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Interconexiones/Content/Css/portal.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/IntercambiosInternacionales.jpg)">
</div>

<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            <div class="coes-box coes-box--padding">

                <h2 class="heading-4 mb-3 heading-underlined">Intercambios Internacionales</h2>

                <ul>
                    <li>
                        <a href="Antecedentes/">Antecedentes</a>
                    </li>
                    <li>
                        <a href="BaseNormativa/">Base Normativa</a>
                    </li>
                    <li>
                        <a href="AcuerdoOperativo/">Acuerdo Operativo</a>
                    </li>
                    <li>
                        <a href="CapacidadInterconexion/">Capacidad de Interconexión en los enlaces de Interconexión</a>
                    </li>
                    <li>
                        <a href="ContratosIntercambios">Contratos para Intercambios de Electricidad</a>
                    </li>
                    <li>
                        <a href="FormatosDigitalizados?id=0">Formatos digitalizados</a>
                    </li>
                    <li>
                        <a href="ImportacionExcedentesMedianoPlazo">Importación y Excedentes de Potencia y Energía de los Intercambios Internacionales - Mediano Plazo</a>
                    </li>
                    <li>
                        <a href="ImportacionExcedentesLargoPlazo">Importación y Excedentes de Potencia y Energía de los Intercambios Internacionales - Largo Plazo</a>
                    </li>
                    <li>
                        <a href="ContadoresEnergia/">Registros de contadores de energía</a>
                    </li>
                    <li style="display:none">
                        <a href="IndexHistorico/">Registros de contadores de energía</a>
                    </li>
                    <li style="display:none">
                        <a href="ReportesYGraficos/">Reportes y Gráficos de Intercambios de Electricidad</a>
                    </li>
                    <li>
                        <a href="InformeSemanal">Informes Semanal de Intercambios Internacionales</a>
                    </li>
                </ul>
            </div>
                <div style="clear:both"></div>
            </div>
    </div>
</div>




