@model COES.MVC.Extranet.Areas.Eventos.Models.EventoScoModel

@if (Model.Resultado == "-1")
{
    <input type="hidden" id="hdResultado_ED" value="@Model.Resultado" />
    <input type="hidden" id="hdMensaje_ED" value="@Model.StrMensaje" />
}

<div id="DetEvento" class="content-registro">

    <table cellpadding="8">
        <tr>
            <td class="registro-label" style="width:150px;">Detalle:</td>
            <td class="registro-control" colspan="3">
                @Model.Detalle
            </td>
        </tr>
    </table>

</div>