@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Presentaciones";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Presentaciones</h1>
        <span>Publicaciones</span>
    </div>
    <img src="~/Content/Images/Banners/MarcoNormativo.jpg" alt="Presentaciones" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Publicaciones%2FPresentaciones%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>
