<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ProgramaUbicacion" value="C:\Aplicaciones\Aseguramiento_NTIITR\HISConnector_NTIITR\out\production\HISConnector\"/>
    <add key="ProgramaComandoEjecucion" value="java -Xmx4g -jar {0}HISConnector_NTIITR.jar {1}"/>
    <add key="LogFileName" value="LogExtraccion{0}.log"/>
    <add key="Bat" value="call.bat"/>
  </appSettings>
</configuration>
