<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ContextoSIC" connectionString="DATA SOURCE=PREPROD2_SICOES;PASSWORD=BA$3D4TO$2022;PERSIST SECURITY INFO=True;USER ID=sic" providerName="Oracle.ManagedDataAccess.Client"/>
    <!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICCOESR_TEST;PASSWORD=Dt1CO3$;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="ContextoSIC" connectionString="DATA SOURCE=TEST2_SICOES; PASSWORD=BDCO35tt13; PERSIST SECURITY INFO=True; USER ID=SIC" providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!--<add name="ContextoSIC" connectionString="DATA SOURCE=SICPREPROD;PASSWORD=B4$3D4t05;PERSIST SECURITY INFO=True;USER ID=SIC" providerName="Oracle.DataAccess.Client" />-->
    <add name="ContextoSCADA" connectionString="DATA SOURCE=SICOES11G;PASSWORD=74123;PERSIST SECURITY INFO=True;USER ID=trcoes" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="ContextoHIS" connectionString="DSN=HisDS;UID=DBCUSER;PWD=dbc.1user" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <appSettings>
    <!--Envío de correos Inicio-->
    <add key="EmailServer" value=""/>
    <add key="MailFrom" value=""/>
    <add key="UserNameSMTP" value=""/>
    <add key="PasswordSMTP" value=""/>
    <add key="EnableSslSMTP" value="S"/> <!--S solo para ambiente de pruebas, vacío para producción-->

    <add key="NotificacionFlagEnviarACOES" value="N" />
    <add key="NotificacionFlagEnviarAAgente" value="N" />
    <add key="NotificacionFlagEnviarCCAdicional" value="S" />
    <add key="NotificacionListaEmailCCAdicional" value="alan.alvarado@movisoft.pe" />
    <add key="NotificacionPrefijoAsunto" value="[Ambiente Test] " />
    <!--Envío de correos Fin-->
    <add key="IndicadorNotificacionPR03" value="N"/>
    <!-- Inicio | Configuración de las notificaciones del proceso de sincronización de maestros. -->
    <add key="UrlSincronizacionMaestro" value="http://srvcertgart.osinergmin.gob.pe:80/interosi-coes-ws/remote/sincronizacionMaestrosWS"/>
    <!-- Fin | Configuración de las notificaciones del proceso de sincronización de maestros. -->

    <!-- Intervenciones-->
    <add key="FlagEnviarNotificacionAAgente" value="N" />
    <add key="ListaEmailAdminIntervencionesTo" value="alan.alvarado@movisoft.pe" />
    <add key="ListaEmailAdminIntervencionesCC" value="soporte1@movisoft.pe;epalpan@coes.org.pe;jperez@movisoft.pe;jvelasquez@coes.org.pe;coyarce@coes.org.pe;paul.serna@coes.org.pe" />
    <!--AppMovil-->
    <add key="ApiKeyFireBase" value="AAAAStNz-v0:APA91bGhSJOYSkx0nsrNxtaS5QnSn9FKqQpPA7M8w_TmEOIk3p0m943TGcQHX25LxBm1n9Fmi_fh-F-y9plmtTO1-jRGMOTz9zhVuwsO6ocXyoT1D36w1PZh4DIWTuwzwwI-MaWjs7EO"/>
    <add key="FireBaseUrl" value="https://coes-2a120.firebaseio.com/"/>
    <add key="IdFormatoPR16" value="54"/>
    <add key="IdLecturaPR16" value="52"/>
    <add key="IdLecturaAlphaPR16" value="53"/>
    <add key="DiaCierrePeriodoPR16" value="10"/>
    <add key="DiaAperturaPeriodoPR16" value="1"/>
    <add key="DiaRecordatorioPeriodoPR16" value="5"/>
    <add key="IdLecturaMedidorGeneracion" value="1"/>
    <!--Eventos-->
    <add key="FlagNotificarCargaInformacionDeAgente" value="S"/>
    <add key="FlagNotificarSolicitudesPendientes" value="S"/>
    <add key="ListaEmailAdminEventosTo" value="alan.alvarado@movisoft.pe;ctaf@coes.org.pe"/>
    <add key="ListaEmailAdminEventosCC" value="soporte1@movisoft.pe;"/>
    <!--Eventos-->
    <add key="FlagNotificarEstadosSolicitudes" value="S"/>
    <add key="ListaEmailAdminSolicitudesTo" value="alan.alvarado@movisoft.pe;ctaf@coes.org.pe"/>
    <add key="ListaEmailAdminSolicitudesCC" value="soporte1@movisoft.pe;"/>
    <!--Potencia Firme Remunerable-->
    <add key="PathPotRemunerable" value="D:\AplicativoPFR"/>
    <!--Yupana continuo-->
    <add key="PathYupanaContinuo" value="D:\AplicativoYupanaPreprod"/>
    <add key="DirectorioGAMS" value="C:\GAMS\34"/>
    <add key="NumCPUYupanaContinuo" value="3"/>
    <add key="NumGamsParaleloYupanaContinuo" value="2"/>
    <add key="MinutoMaxGamsYupanaContinuo" value="15"/>
    <add key="UsarWebServiceYupanaContinuo" value="S"/>
    <add key="ActualizarInsumoYupanaContinuo" value="S"/>
    <!--Mejoras Yupana -->
    <add key="PathArchivosYupana" value="\\servernas01\archivosapp\webapp\"/>
    <!--CMgCP_PR7-->
    <add key="EjecucionVersionActualCM" value="N"/>
    <add key="EjecucionVersionPR07CM" value="S"/>
    <add key="EjecutaVersionPR07Primero" value="S"/>
    <!--Servicio DigSilent-->
    <add key="FileSystemMigraciones" value="C:\FileSystemCOES\Migraciones\"/>
    <!--Carga de archivo SFTP Pronóstico RER-->
    <add key="HtrabajoRERPathArchivosClienteCore" value="\\fs\ArchivosApp\Webapp\IntranetTest\"/>
    <add key="HtrabajoRERPathArchivosTemporal" value="C:\tmp\"/>
    <add key="HtrabajoRERUrlWS" value="https://preprod.coes.org.pe/ServicioWebPGR/"/>
    <add key="HtrabajoRERUrlClienteCore" value="https://preprod.coes.org.pe/ServicioWebHojaTrabajo/"/>
    <add key="HtrabajoRERUmbralIni" value="-1"/>
    <add key="HtrabajoRERUmbralFin" value="0.1"/>
    <add key="MedicionesNotificacionMailTo" value="spr@coes.org.pe.developer;sgi@coes.org.pe.developer;str@coes.org.pe.developer;sco@coes.org.pe.developer;sev@coes.org.pe;snp@coes.org.pe.developer"/>
    <add key="MedicionesNotificacionMailBcc" value="desarrollo@coes.org.pe.developer"/>
    <add key="PathProcesoDemandaRaw" value="\\testweb\tna"/>
    <add key="PathProcesoDemandaRawCostoMarginal" value="\\testweb\CarpetaTrabajo\CostosMarginales\"/>
    <!--Mejora File Server-->
    <add key="UserFS" value="webapp"/>
    <add key="DomainFS" value="coes.org.pe"/>
    <add key="PasswordFS" value="Logws47896"/>
    <!--
    <add key="UserFS" value="webapp_test" />
    <add key="DomainFS" value="coes.org.pe" />
    <add key="PasswordFS" value="coesCOES2023" />
    -->
    <!--
    <add key="UserFS" value="webapp_preprod" />
    <add key="DomainFS" value="coes.org.pe" />
    <add key="PasswordFS" value="coesCOES2023" />
    -->
    <add key="CodigoCorreoAnalisisFallaAlertaCitacion" value="185"/>
    <add key="CodigoCorreoAlertaElaboracionInformeCtaf" value="186"/>
    <add key="CodigoCorreoAlertaElaboracionInformeCtafMasDosDiasHabiles" value="187"/>
    <add key="CodigoCorreoAlertaElaboracionInformeTecnico" value="188"/>
    <add key="CodigoCorreoAlertaElaboracionInformeTecnicoMasDiasHabiles" value="189"/>
    <add key="CodigoCorreoAlertaElaboracionInformeTecnicoSemanal" value="190"/>
    <add key="BuzonSoporteAplicaciones" value="soporteaplicaciones@coes.org.pe"/>
    <add key="LogoCoes" value="https://www.coes.org.pe/wcoes/images/logocoes.png"/>
    <add key="LogoEmail" value="https://www.coes.org.pe/wcoes/images/logocoes.png"/>
    <add key="FileSystemSco" value=""/>
    <!--Seguimiento de Recomendaciones-->
    <add key="RecomendacionesMailTo" value="aseguramiento@coes.org.pe" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel/>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\WebServiceProceso.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %location [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <services>
      <service name="COES.WebService.Proceso.Servicios.ProcesoServicio" behaviorConfiguration="ProcesoServicioBehavior">
        <endpoint address="" binding="webHttpBinding" contract="COES.WebService.Proceso.Contratos.IProcesoServicio" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ProcesoServicioBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="ProcesoServicio.svc" service="COES.WebService.Proceso.Servicios.ProcesoServicio"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>