@model COES.MVC.Extranet.Areas.Transferencias.Models.PotenciaContratadaModel
@{
    ViewBag.Title = "Potencias Contratadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Carga de archivos-->
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/potenciacontratada.js?v=1"></script>
<link href="~/Areas/TransfPotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<div class="ast">
    <div class="form-title">
        CARGA DE DATOS DE POTENCIA CONTRATADAS
    </div>

    <div class="content-hijo">
        <div id="idpanel" style="padding-top: inherit; background-color:#fff">
            <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">
                <span>Por favor seleccione un Mes de Declaración y una empresa</span>
            </div>
        </div>
        <input type="hidden" name="sfile" id="sfile" value="" />
        <table>
            <tr>
                <td>
                    <div class="search-content" style="margin-bottom:0px; padding:10px">
                        <table class="table-search" style="width:auto">
                            <tr>
                                <td style="width:120px; height:40px;">Mes de Declaración:</td>
                                <td style="width:100px; height:40px;">
                                    <select id="cboPeriodo" name="cboPeriodo" style="width:100px; background-color:white">
                                        @foreach (var item in Model.ListaPeriodos)
                                        {
                                            <option value="@item.PeriCodi">@item.PeriNombre</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:40px; height:40px;">Empresa:</td>
                                <td style="width:100px; height:40px;">
                                    <select id="cboEmpresa" name="cboEmpresa" style="width:200px; background-color:white">
                                        @foreach (var item in Model.ListaEmpresas)
                                        {
                                            <option value="@item.EmprCodi">@item.EmprNombre</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:90px; height:40px;">
                                    <input type="button" id="btnConsultar" value="Consultar" />
                                </td>
                                <td>
                                    <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; display:none; border: none;" id="divAcciones">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td style="width:100px; height:54px;" class="content-action">
                                                    <a href="#" id="btnDescargarExcel">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                                            <span>Descargar Excel</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td style="width:100px; height:50px;" class="content-action">
                                                    <a href="#" id="btnSelecionarExcel">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                                            <span>Importar Excel</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td style="width:100px; height:54px;" class="content-action">
                                                    <a href="#" id="btnValidarGrillaExcel">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                                            <span>Mostrar errores</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td style="width:100px; height:54px;" class="content-action">
                                                    <a href="#" id="btnGrabarExcel">
                                                        <div class="content-item-action">
                                                            <img src="~/Areas/TransfPotencia/Content/Images/enviar.png" /><br />
                                                            <span>Enviar datos</span>
                                                        </div>
                                                    </a>
                                                </td>
                                                @*
                                                    <td style="width:100px; height:54px;" class="content-action">
                                                        <a href="#" id="btnSolicitudRetiro">
                                                            <div class="content-item-action">
                                                                <img src="~/Content/Images/importExcel.jpg" /><br />
                                                                <span>Solicitar código</span>
                                                            </div>
                                                        </a>
                                                    </td>
                                                *@
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div id="grillaExcelConsulta" style="height:450px; overflow:hidden" class="handsontable"></div>
    </div>
</div>
<div id="popupErrores" style="padding: 20px; border-radius: 10px; background-color:#FFFFFF"></div>

<!-- Botón flotante de WhatsApp -->
<a href="https://wa.me/51905469444" class="wsp" target="_blank" title="¿Necesitas ayuda? Escríbenos por WhatsApp">
    <img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="WhatsApp">
</a>

<style>
    .wsp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        transition: transform 0.3s ease;
    }

        .wsp:hover {
            transform: scale(1.1);
        }

        .wsp img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
</style>