.shortcuts-block { padding: 0px 10px 0px 10px !important; }
.shortcuts-list {
    margin-left:-20px;
}
.shortcuts-block h1 {
	font-size: 30px !important;
	line-height: 32px !important;
	color: #2980b9 !important;
	margin: 0 0 8px !important;
	letter-spacing: -1px !important;
}
.shortcuts-block h1 .fa {
	margin: 0 17px 0 0 !important;
	display: inline-block !important;
	vertical-align: middle !important;
}
.shortcuts-block .shortcuts-list {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none !important;
}
.shortcuts-list li { font-size: 16px !important; }
.shortcuts-list .fa {
	color: #2980b9 !important;
	margin: 10px 14px 0 7px !important;
	width: 22px !important;
	float: left !important;
	text-align: center !important;
}
.shortcuts-list span {
	display: block !important;
	overflow: hidden !important;
	padding: 7px 0 8px !important;
}
.shortcuts-list li + li span {
	border-top: 1px dotted #4584c3 !important;
	padding: 7px 0 !important;
}

.shortcuts-list li span a {
	text-decoration: none !important;
	color: #636363 !important;
    font: 15px/21px 'Open Sans', Arial, Helvetica, sans-serif !important;
}

.shortcuts-list li span  a:hover { text-decoration: underline !important; }
