
@media print {
/*body, div { font-family: Arial, Helbetica, sans-serif }
body { margin: 0; padding: 0; font-size: small; color: #333 }
h1, h2, h3 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; margin: 0 }
h1, h3 { font-size: large }
input {	border: 1px solid black; }*/

table, tr, td{
	font-family: Arial, Helbetica, sans-serif;
    font-size:12px;		
}

.tituloContrato {
    width:100%;    
    font-size:16px;	
    text-align:center;
    font-family: Arial, Helbetica, sans-serif;
    font-weight: bold;
    text-decoration: underline; 
}
.subtitulos {
    font-family: Arial, Helbetica, sans-serif;
    font-size:14px;	
    text-align:left;
    font-weight: bold;
}
.tdLong{
	border: 1px solid black;
	text-align: center;
	width: 490px;
	background-color: #DCDCDC;
    min-height:25px;
    vertical-align:middle;
}
.tdLong1{
	border: 1px solid black;
	text-align: center;
	background-color: #DCDCDC;
    width: 180px;
    height:25px;
}
.datosLabel{
	width: 150px;
    text-align: left;	
}
.tdSpace{
	width: 40px;
	text-align:right;
}
.tdFirma{
	font-family: Arial, Helbetica, sans-serif;
    width:100%;	
	text-align: center;
	border: 0px;		
}
}

@media screen {
    table, tr, td {
        font-family: Arial, Helbetica, sans-serif;
        font-size: 12px;
    }

    .tituloContrato {
        width: 100%;
        font-size: 16px;
        text-align: center;
        font-family: Arial, Helbetica, sans-serif;
        font-weight: bold;
        text-decoration: underline;
    }

    .subtitulos {
        font-family: Arial, Helbetica, sans-serif;
        font-size: 14px;
        text-align: left;
        font-weight: bold;
    }

    .tdLong {
        border: 1px solid black;
        text-align: center;
        width: 490px;
        background-color: #DCDCDC;
        min-height: 25px;
        vertical-align: middle;
    }

    .tdLong1 {
        border: 1px solid black;
        text-align: center;
        background-color: #DCDCDC;
        width: 180px;
        height: 25px;
    }

    .datosLabel {
        width: 150px;
        text-align: left;
    }

    .tdSpace {
        width: 40px;
        text-align: right;
    }

    .tdFirma {
        font-family: Arial, Helbetica, sans-serif;
        width: 100%;
        text-align: center;
        border: 0px;
    }

    #bodyprint {
        display: block;
    }
}