@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroModel
@{
    ViewBag.Title = "Asignar código de retiro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Asignar Código de Retiro" }, { "sAccion", "Actualizar" }})
</div>