@model COES.MVC.Intranet.Areas.Transferencias.Models.CodigoRetiroModel
@{
    ViewBag.Title = "Corregir el error del código de retiro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la información del Código de Retiro" }, { "sAccion", "Grabar" } })
</div>
