@model COES.MVC.Publico.Areas.RegistroIntegrante.Models.ReporteModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/RegistroIntegrante/Content/Script/ReporteEmpresas.js"></script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/RegistroDeIntegrantes.jpg)">
</div>
<div style="clear:both; height:20px"></div>

<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">

                <div class="coes-box mb-3">
                    <div class="coes-box--header coes-box--header--center-aligned">
                        <h3 class="coes-box--title">Listado de Integrantes</h3>
                    </div>
                    <div class="coes-box--content container">
                        <div class="coes-filters d-flex ">
                            <form action="" class="w-100">
                                <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
                                    <div class="coes-form-item">
                                        <label for="">Sub Comité:</label>
                                        <select class="d-block" name="iTipoEmpresa" id="cbTipoEmpresa">
                                            @foreach (var item in Model.ListaTipoEmpresa)
                                            {
                                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                                            }
                                        </select>
                                    </div>

                                    <div style="display:none" class="coes-form-item">
                                        <label class="d-block" for="">Histórico:</label>
                                        <select class="d-block" name="iTipoSolicitudes" id="cbTipoSolicitudes">
                                            @foreach (var item in Model.ListaTipoSolicitudes)
                                            {
                                                <option value="@item.Tisocodi">@item.Tisonombre</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="coes-form-item">
                                        <input type="button" id="btnConsultar" class="coes-form-item--submit" value="Consultar" />
                                    </div>
                                    <div class="coes-form-item">
                                        <input type="button" id="btnExportar" class="coes-form-item--submit" value="Exportar" />
                                    </div>
                                    <div class="coes-form-item">
                                        <input type="button" id="btnHistorico" class="coes-form-item--submit" value="Ver histórico" />
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>

    
            <div class="">

                @*<div class="d-flex mb-3">
                        <span class="me-2">Descargar: </span>
                        <button class="button-icon button-icon-file"></button>
                        <button class="button-icon button-icon-zip"></button>
                    </div>*@

                <div class="table-responsive">
                    <div class="tabla-header">
                        <div class="table-paginado" id="paginado"></div>
                    </div>
                    <div class="table-list" id="listado"></div>
                    <div style="clear:both; margin-bottom:40px"></div>
                </div>
            </div>


        </div><!-- /.col-9 -->

    </div><!-- /.row -->

</div><!-- /.container -->