@model COES.MVC.Publico.Areas.RegistroIntegrante.Models.ReporteModel
@{
    ViewBag.Title = "Datos Históricos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>

<script src="~/Areas/RegistroIntegrante/Content/Script/historico.js"></script>
<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/RegistroDeIntegrantes.jpg)">
</div>

<div style="clear:both; height:20px"></div>

<div class="container">
    <div class="row">
     
        <div class="col col-md-12 mb-md-4">
            <div class="coes-form-item mb-2">
                <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
            </div>
            <div class="coes-box mb-3">
                <div class="coes-box--header coes-box--header--center-aligned">
                    <h3 class="coes-box--title">Datos Históricos</h3>
                </div>
                <div class="coes-box--content container">

                    <div class="coes-filters d-flex ">
                        <form action="" class="w-100">
                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
                                <div class="coes-form-item">
                                    <label for="">Año:</label>
                                    <select class="d-block" name="iAnio" id="cbAnio">
                                        <option value="0">-TODOS-</option>
                                        @foreach (var item in Model.ListaAnios)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                </div>

                                <div class="coes-form-item">
                                    <label class="d-block" for="">Tipo:</label>
                                    <select class="d-block" name="iTipo" id="cbTipo">
                                        <option value="0">TODOS</option>
                                        <option value="C">CAMBIO DE DENOMINACIÓN SOCIAL</option>
                                        <option value="F">FUSIÓN</option>
                                        <option value="B">RETIRO DE EMPRESA</option>
                                    </select>
                                </div>

                                <div class="coes-form-item">
                                    <input type="button" id="btnConsultar" class="coes-form-item--submit" value="Consultar" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="">
                <div class="table-responsive">
                    <div class="tabla-header">
                        <div class="table-paginado" id="paginado"></div>
                    </div>
                    <div class="table-list" id="listado"></div>
                    <div style="clear:both; margin-bottom:40px"></div>
                </div>
            </div>


        </div><!-- /.col-9 -->

    </div><!-- /.row -->

</div><!-- /.container -->