@model COES.MVC.Publico.Areas.Operacion.Models.PrecioCombustibleModel
@{
    ViewBag.Title = "Costo de Combustibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Operacion/Content/Scripts/preciocombustible.js"></script>

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Costo de Combustibles</h1>
        <span>
            Características del SEIN - Base de Datos
        </span>
    </div>
    <img src="~/Content/Images/Banners/CaracteristicasSEIN.jpg" alt="Contáctenos" />
</div>
<div style="clear:both"></div>

<div class="page-content">
    <div class="search-content" style="margin-bottom:5px; display:none">
        <table class="content-tabla-search" style="width:auto">
            <tr>             
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="IdEmpresa" style="width:200px">
                        <option value="0">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Buscar"/>                    
                </td>
            </tr>            
        </table>
    </div>
  
    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>
    <div style="margin-bottom:5px; width:80px; margin:auto; margin-top:20px">
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div style="clear:both; height:20px"></div>
