@model COES.MVC.Intranet.Areas.PMPO.Models.ParametrosFechasModel
@{
    ViewBag.Title = "Parámetros Fechas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/moment.js"></script>

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/PMPO/Content/Scripts/pmpo-parametros-fechas.js?v=1.9.2"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/PMPO/Content/Css/parametros_fechas.css?v=1.0.2" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Parámetros Fechas</div>

    <div class="content-botonera" id="container">
        @if (Model.TienePermisoNuevo)
        {
        <input type="button" id="btnAgregarAnio" value="Agregar Año Operativo" />
        }
        <input type="button" id="btnGenerarArchivos" value="Generar Archivos" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla" id="excelwebPF" style="padding-top: 10px;">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#vistaListado">Listado</a></li>
                <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
            </ul>

            <div class='panel-container'>
                <div id="vistaListado">

                    <div class="content-tabla">
                        <!--Listado de años operativos-->
                        <div class="table-list" id="listado">


                            <div id="cuadroAnios" style=" display: inline-block; float: left; "> </div>

                        </div>
                    </div>

                </div>

                <div id="vistaDetalle">
                </div>
            </div>


        </div>
    </div>
</div>



<div id="historialAO" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial Versiones</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="vistaVersion">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>

                <div class="content-tabla">
                    <div class="table-list" id="listadoHAO"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="agregarFeriadoAO" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Agregar Feriado</span></div>

    <div class="popup-text" style="margin-top:5px">
        <div id="vistaAddFeriado">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>
                <div class='action-message' id='mensajeFeriado' style="margin-bottom:5px; margin-top:0; display:none"></div>
                <div class="content-tabla">
                    <table style="width:auto" role="presentation">
                        <tr>
                            <td style="">Fecha :</td>
                            <td>
                                <input style="width: 95px;" type="text" id="txtAddFeriadoFec" value="@Model.FechaIniAnio" />                                
                            </td>
                        </tr>

                        <tr>
                            <td style="">Descripción:</td>
                            <td>
                                <input type="text" id="txtAddFeriadoDesc" value="" />
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align: center; padding-top: 25px;">
                                <input type="button" id="btnGrabarFeriado" value="Grabar" />
                                <input type="button" id="btnCancelarFeriado" value="Cancelar" />
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="descripcionCambios" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Descripción de cambios</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="vistaDescripcion">
            <div class='action-message' id='mensajeDescripcion' style="margin-bottom:5px; margin-top:0; display:none; "></div>
            <div class="content-tabla">
                <table style="width:auto" role="presentation">


                    <tr>
                        <td style="padding: 20px;">Descripción:</td>
                        <td style="padding: 20px;">
                            <input type="text" style="width: 420px;" id="txtDescCambios" value="" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align: center; padding-top: 25px;">
                            <input type="button" id="btnCGrabarAnio" value="Grabar" />
                            <input type="button" id="btnCCancelarAnio" value="Cancelar" />
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

<div id="escogerArchivos" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Archivo de Duración de Bloques</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="vistaArchivos">
            <div class='action-message' id='mensajeArchivo' style="margin-bottom:5px; margin-top:0; display:none; max-width: 350px;"></div>
            <div class="content-tabla">
                <table style="width:auto; margin: 0 auto; padding: 10px;" role="presentation">
                    <tr>
                        <td>Tipo :</td>
                        <td>
                            <select id="tipoArchivo" name="" style="width:200px">
                                <option value="0" selected> -- Seleccione Tipo --</option>
                                <option value="1">Bloques Mensual (duvame05.dat)</option>
                                <option value="2">Bloques Semanal (duvase05.dat)</option>

                            </select>

                        </td>
                    </tr>

                    <tr>
                        <td>Año desde :</td>
                        <td>
                            <input style="width: 60px;" type="text" id="txtArchivosAnioIni" value="@Model.FechaIniRango" />
                        </td>
                    </tr>

                    <tr>
                        <td>Año hasta :</td>
                        <td>
                            <input style="width: 60px;" type="text" id="txtArchivosAnioFin" value="@Model.FechaFinRango" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align: center; padding-top: 25px;">
                            <input type="button" id="btnGenerarExportacion" value="Generar" />
                            <input type="button" id="btnCancelarArchivo" value="Cancelar" />
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

