@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Hidrologia/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Areas/Hidrologia/Content/Scripts/formatoedit.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<div class="form-title">
    <div class="content-titulo">Edición de Formatos</div>
    <div class="content-botonera">
          <input type="button" id="btnGrabar" value="Actualizar Formato" />
          <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>

<div class="content-master" id="mainLayout">

<div id="detalle_master">

</div>


<div id="detalle"></div>
</div>

<div id="busquedaEquipo">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Punto de Medición</span></div>
    <div id="agregarPto"></div>
</div>

<div id="popuphead">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Titulo</span></div>
    <div id="agregarHead"></div>
</div>

<div id="popupmpto">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Modificar Punto de Medición</span></div>
    <div id="modificarPto"></div>
</div>

<input type="hidden" id="hfId" value ="@ViewBag.formato"/>