@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tablaHead">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Ancho</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
     </thead>
     <tbody>
        @foreach (var item in Model.ListaHeadColumn)
        {
        <tr>  
            <td>@item.Headpos</td>          
            <td>@item.Headnombre</td>
            <td>@item.Headlen</td>
            <td><a class="edicion" href="#">Editar</a></td>
            <td><a href="#">Elimnar</a></td>
        </tr>
        }

     </tbody>
</table>
