@model COES.MVC.Intranet.Areas.Hidrologia.Models.FormatoHidrologiaModel
<table style="width:100%">

    <tr><td><div style="clear:both; height:20px"></div></td></tr>

    <tr id="trEmpresa">
        <td class="tbform-label">Empresa:</td>
        <td class="tbform-control">
            <select id="cbEmpresa" name="cbEmpresa" style="width:300px">
                
                <option value="0"> [Seleccionar Empresa] </option>
                
            </select>
            <input type="hidden" id="hfEmpresa" />
        </td>
    </tr>
   
    <!--Equipos-->
    <tr id="trTipoEquipo">
        <td class="tbform-label">Tipo de Equipo:</td>
        <td class="tbform-control">
            <select id="idFamilia" style="width:300px">
                <option value="0"> [Seleccionar Tipo de Equipo] </option>
                
            </select>
        </td>
    </tr>
    <tr id="trEquipo">
        <td class="tbform-label">Equipo:</td>
        <td class="tbform-control">
            <div id="listaEquipo">
                <select id="idequipo" style="width:300px">
                    <option value="0"> [Seleccionar Equipo] </option>
                </select>
            </div>
        </td>
    </tr>
    

    <tr>
        
        <td colspan="2" style="text-align:center; padding-top: 40px;">
            <input type="button" value="Agregar" id="btnAgregarEquipo" />
        </td>
    </tr>
</table>

<input type="hidden" id="hfHoja" value="@Model.HojaNumero" />
<input type="hidden" id="hfEmpresa" value="@Model.EmpresaCodigo" />
<input type="hidden" id="hfFormat" value="@Model.FormatoCodigo" />