@model COES.MVC.Intranet.Areas.ServicioRPFNuevo.Models.ConfiguracionRpfModel

<script type="text/javascript">
    $(function () {
        $('#btnGrabarParametro').click(function () {
            grabarParametro();
        });
    });
</script>

<div style="width:600px">

    <div style="float:right; margin-bottom:20px">
        <input type="button" id="btnGrabarParametro" value="Grabar" />
    </div>
    <table class="tabla-formulario" border="1">
        <thead>
            <tr>
                <th>Parámetro</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Porcentaje Percentil</td>
                <td style="text-align:center">
                    <input type="text" id="txtPorcentaje" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.PorcentajePercentil).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Valor Percentil</td>
                <td style="text-align:center">
                    <input type="text" id="txtPercentil" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.ValorPercentil).First().PARAMVALUE" />
                </td>
            </tr>
            <tr>
                <td>Potencia comparación</td>
                <td style="text-align:center">
                    <input type="text" id="txtPotencia" onkeypress="return validarNumero(this,event)" style="width:100px"
                           value="@Model.ListaParametro.Where(x=>x.PARAMRPFCODI == COES.Servicios.Aplicacion.ServicioRPF.ValoresRPF.PotenciaPercentil).First().PARAMVALUE" />
                </td>
            </tr>          
        </tbody>
    </table>

</div>