@{
    ViewBag.Title = "Costo Marginal VS Tarifa en Barra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Web/Content/Scripts/cmvstarifa.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<div class="form-title">
    <div class="content-titulo">Costo Marginal VS Tarifa en Barra</div>  
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="formulario-item" style="width:950px">
        <div class="formulario-label" style="width:500px">Seleccionar archivo de Costos Marginales VS Tarifa en Barra (Extensión: .XLSX):</div>
        <div class="formulario-control" style="width:120px" id="container">
            <input type="button" id="btnProcesarFile" value="Procesar" />
        </div>
        <div class="formulario-control" style="width:120px">
            <input type="button" id="btnSelectFile" value="Seleccionar" />
        </div>
    </div>

    <div id="progreso"></div>
    <div id="fileInfo"></div>

    <div id="listado">
    </div>

</div>


<script type="text/javascript">

    var uploader = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'btnSelectFile',
        container: document.getElementById('container'),
        url: siteRoot + 'web/cmvstarifa/upload',
        flash_swf_url: '~/Content/Scripts/Moxie.swf',
        silverlight_xap_url: '~/Content/Scripts/Moxie.xap',
        multi_selection: false,
        filters: {
            max_file_size: '2mb',
            mime_types: [
                { title: "Archivos Excel .xlsx", extensions: "xlsx" }
            ]
        },
        init: {
            PostInit: function () {
                document.getElementById('btnProcesarFile').onclick = function () {
                    if (uploader.files.length > 0) {
                        uploader.start();
                    }
                    else
                        loadValidacionFile("Seleccione archivo.");
                    return false;
                };
            },
            FilesAdded: function (up, files) {
                if (uploader.files.length == 2) {
                    uploader.removeFile(uploader.files[0]);
                }
                plupload.each(files, function (file) {
                    loadInfoFile(file.name, plupload.formatSize(file.size));
                });
                up.refresh();
            },
            UploadProgress: function (up, file) {
                mostrarProgreso(file.percent);
            },
            UploadComplete: function (up, file) {
                procesarArchivo();
            },
            Error: function (up, err) {
                loadValidacionFile(err.code + "-" + err.message);
            }
        }
    });

    uploader.init();

</script>


