@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json
<script src="~/Areas/Campanias/Content/Scripts/envio.js"></script>
<link href="~/Areas/Campanias/Content/Css/css.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Areas/Campanias/Content/Css/jquery.modal.min.css" rel="stylesheet" />
<script src="~/Areas/Campanias/Content/Scripts/jquery.modal.min.js"></script>
<script src="~/Content/Scripts/highcharts.js"></script>

<script>

     $(document).ready(function () {
         var codPlanTransmi =  @Html.Raw(JsonConvert.SerializeObject(Model.Plancodi));
          if (codPlanTransmi != null) {
            $("#txtCodPlanTransmision").val(codPlanTransmi);
            ObtenerListadoProyecto(codPlanTransmi);
            cargarDatos().then(() => {
                if (codPlanTransmi != null) {
                    buscarPlantransmision(codPlanTransmi);
                }
            });
        } else {
            $("#txtCodPlanTransmision").val("0");
            ObtenerListadoProyecto(0)
        }
    });


</script>
<div class="form-title">
    <div class="content-titulo">Administrar envíos > Consulta</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Código:</td>
                <td>
                    <input type="text" id="txtCodPlanTransmision" name="txtCodPlanTransmision" disabled>
                    <input type="hidden" id="txtversion" name="txtversion" disabled>
                </td>
                <td>Empresa:</td>
                <td>
                    <select id="empresaSelect" style="width:185px">
                        <option value="">Seleccione una empresa</option>
                    </select>
                </td>
                <td>Plan transmisión:</td>
                <td>
                    <select id="periodoSelect" style="width:185px">
                        <option value="">Seleccione un periodo</option>
                    </select>
                </td>
                <td><input type="button" class="btnForms" value="Regresar" id="btnAtrasP"></td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listadoProyecto"></div>
    </div>
    <div style="clear:both; height:30px"></div>
</div>
<div id="popup">   </div>

<div id="modal1" class="modal" style="width:900px">
    <div class="popup-title"><div id="tituloPopup"></div></div>
    <div id="" style="margin-top: 10px;"></div>
    <div class="panel-container">
        <div class="popup-text" id="contenidoProyecto" style="margin-top:0"></div>
    </div>
</div>
