@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
@{
    ViewBag.Title = "Administrar envios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/jquerytree.js"></script>
<script src="~/Content/Scripts/jquerytreednd.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/plantransmision.js"></script>

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/uitree.css" rel="stylesheet" />
<link href="~/Areas/Campanias/Content/Css/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Administrar env&iacute;os</div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="empresaSelect" style="width:185px">
                        <option value="">Todas</option>
                    </select>
                </td>
                <td>Plan transmisi&oacute;n:</td>
                <td>
                    <select id="periodoSelect" style="width:185px">
                    </select>
                </td>
                <td>
                    <label style="display:block; width:220px">
                        <input type="checkbox" id="cbSelectEnviovigente" value="1"/>
                        Envios vigentes
                    </label>
                </td>
                <td><input class="btnForms" type="button" id="btnConsultar" value="Consultar" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btnForms" id="btnExcel" value="Excel" />
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cbEstado" name="Idestado" style="width:185px">
                        <option value="T">Todos</option>
                        <option value="Enviado">Enviado</option>
                        <option value="Aprobado">Aprobado</option>
                        <option value="Rechazado">Rechazado</option>
                    </select>
                    <input type="hidden" id="hfEstado" name="estado" />
                </td>
                <td>
                    <label style="display:block; width:220px">
                        <input type="checkbox" id="cbSelectFueraPlazo" value="Fuera de plazo"/>
                        Fuera del plazo
                    </label>
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
    </div>

    <div id="popupEnvioActivar" class="general-popup" style="width:320px;top:0px">
        <div>
            <span class="button b-close">
                <span>X</span>
            </span>
        </div>
        <div class="popup-text">
            <form id="frmEnvioActivar">
                <p>
                    &#191;Est&aacute;s seguro que deseas activar el env&iacute;o de versi&oacute;n <span id="versionEnvio"></span>?
                </p>
                <div style="display: flex; gap: 10px; justify-content: center">
                    <input type="button" id="btnActivar" value="Activar" style="margin-top: 15px;" onclick="activarEnvioVigente()">
                    <input type="button" id="btnCancelar" value="Cancelar" style="margin-top: 15px;" onclick="popupClose('popupEnvioActivar')">
                </div>
            </form>
        </div>
    </div>

</div>
