@model COES.MVC.Intranet.Areas.PMPO.Models.SDDPModel
@{
    ViewBag.Title = "Códigos SDDP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<link href="~/Areas/PMPO/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/PMPO/Content/Scripts/sddp-codigo.js?v=1.0.3"></script>

<div class="form-title" id="container">
    <div class="content-titulo" style="width: auto;">
        Listado de Códigos SDDP del aplicativo PMPO
    </div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value="Nuevo" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px; display: none"></div>

    <div class="search-content">
        <table class="content-tabla" style="width:auto" role="presentation">
            <tr>
                <td class="tbform-label" style="">Tipo:</td>
                <td>
                    <select id="tipo_sddp" style="width: 229px;">
                        <option value="-1">[ TODOS ]</option>
                        @foreach (var item in Model.ListaTipoSDDP)
                        {
                            <option value="@item.Tsddpcodi">@("("+item.Tsddpabrev +") "+item.Tsddpnomb)</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>

            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#tabListado">Listado</a></li>
                <li class='tab'><a href="#tabDetalle">Detalle</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabListado">
                    <div class="table-list" id="divListado">
                        <div id="divTablaListado">
                        </div>
                    </div>

                </div>
                <div id="tabDetalle">
                    <div class="table-list" id="divDetalle">

                        <div class="content-registro">
                            <table style="width: 500px;">
                                <tr>
                                    <td class="tbform-label">Tipo:</td>
                                    <td class="tbform-control">
                                        <select id="cbTipoForm" style="width:220px;">
                                            <option value="0">--SELECCIONE--</option>
                                            @foreach (var item in Model.ListaTipoSDDP)
                                            {
                                                <option value="@item.Tsddpcodi">@("("+item.Tsddpabrev +") "+item.Tsddpnomb)</option>
                                            }
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="tbform-label" style="">Num:</td>
                                    <td class="tbform-control">
                                        <input type="text" id="txtcodigoForm" />
                                        <input type="hidden" id="hfSddpcodi" value="0" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="tbform-label" style="">Nombre:</td>
                                    <td class="tbform-control">
                                        <input type="text" id="txtnombreForm" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="tbform-label" style="">Punto de medición PMPO:</td>
                                    <td class="tbform-control">
                                        <input type="text" id="txtPtoPmpoForm" />
                                    </td>
                                </tr>

                                <tr>
                                    @*<td></td>*@
                                    <td style="text-align: center; padding-top: 10px;">
                                        <input type="button" id="btnGuardar" value="Aceptar" />
                                        <input type="button" id="btnCancelar" value="Cancelar" />
                                    </td>
                                </tr>

                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
