@{
    ViewBag.Title = "Descarga del Software " + Model.NombreAplicativo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .descarga-scroll {
        height: 530px;
        padding: 10px;
        border: 1px solid #319dc1;
        overflow-y: scroll;
    }

    .descarga-boton {
        width: 150px;
        margin: 10px auto 0 auto;
    }

    .version-mod {
        background: url('../Content/Images/folder_open.png') center left no-repeat;
        line-height: 20px;
        padding-left: 20px
    }

    .version-padre {
        font-weight: bold;
    }

    .version-hijo {
        margin-left: 25px;
        cursor: pointer;
        margin-bottom: 5px;
    }

        .version-hijo:hover {
            text-decoration: underline;
        }

    .version-resumen {
        margin-bottom: 20px;
        line-height: 18px;
    }

    .version-modelo {
        background: #ffd800 url(../../../Content/Images/gams.png) 20px center no-repeat;
        background-size: 30px;
        border: 2px solid #ff6a00;
        border-radius: 10px;
        text-indent: 40px;
        margin-bottom: 20px;
    }

    .version-manual {
        background: #ffd800 url(../../Content/Images/copiar.png) 20px center no-repeat;
        background-size: 30px;
        border: 2px solid #ff6a00;
        border-radius: 10px;
        text-indent: 40px;
        margin-bottom: 20px;
    }



    .descarga-cuadro {
        display: grid;
        grid-template-columns: repeat(2, 313px);
        grid-gap: 50px;
    }





    .version-titulo {
        color: #2980B9;
        font-size: 25px;
    }

    .version-subtitulo {
    }

    .version-planes {
        background: #2980B9;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        padding-bottom: 8px;
        text-indent: 10px;
    }

    .descarga-separer {
        border-left: 1px dashed #319dc1;
        height: 100%;
    }

    .version-div {
        display: grid;
        grid-template-columns: 2fr 20fr;
        max-height: 60px;
        padding: 20px 30px;
        vertical-align: middle;
    }

    .resumen-file {
        cursor: pointer;
    }

        .resumen-file:hover {
            text-decoration: underline;
        }
</style>

@if (Model.Indicador == "S")
{
    <script src="~/Content/Scripts/modelo.js?v=2"></script>


    <div class="form-title" style="font-weight:bold"> @("Descarga del Software " + Model.NombreAplicativo)</div>

    <div style="float:right; margin-right:40px">

    </div>
    <div style="clear:both"></div>

    <div class="form-main">

        <div class="action-message" id="mensaje">
            Seleccione una carpeta para visualizar los archivos.
        </div>
        <br />

        <table style="width:100%">
            <tr>
                <td style="width:30%" valign="top">

                    <div class="version-planes">
                        <span>Carpetas</span>
                    </div>
                    <div style="clear:both; height:20px"></div>
                    <div id="listadoPlanTransmision">
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
                <td style="width:2%"></td>
                <td style="width:2%" class="descarga-separer"></td>

                <td style="width:66%" valign="top">
                    <div id="divDetalle">

                    </div>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

    <div id="validaciones" class="modal-popup" style="width:700px; height:620px">
        <span class="button b-close"><span>X</span></span>

        <div id="validacionDatos">

        </div>

        <div class="descarga-condiciones">

            <div class="descarga-scroll">

                <div style="text-align:center; text-transform:uppercase">
                    <strong >Términos y condiciones <span id="tituloTyC">@("del Licenciamiento del Software " + Model.NombreAplicativo) </span></strong>
                </div>
                @if (Model.IdAplicativo == 2)
                {
                    <div id="tcYupana">

                        <br />
                        Los presentes términos y condiciones contienen los acuerdos que rigen el licenciamiento del software “Modelo de Coordinación Hidrotérmica de Corto Plazo – YUPANA” (en adelante, “YUPANA”), entre el Comité de Operación Económica del Sistema Interconectado Nacional (en adelante, “COES”), titular del YUPANA, y los Agentes que descarguen y utilicen el modelo (en adelante, el “Usuario”).
                        <br />
                        <br />
                        Con la descarga del YUPANA, se entiende que el Usuario manifiesta su aceptación de los Términos y Condiciones indicados en el presente documento. En caso de no estar de acuerdo, el Agente deberá de abstenerse de realizar la descarga y posterior utilización.
                        <br />
                        <br />
                        <strong>
                            Antecedentes
                        </strong>
                        <br />
                        <br />
                        El COES es una entidad privada sin fines de lucro y con personería de Derecho Público, que de acuerdo con lo dispuesto por la Ley N° 28832 - Ley para Asegurar el Desarrollo Eficiente de la Generación Eléctrica y su Reglamento, tiene como finalidad coordinar la operación del Sistema Eléctrico Interconectado Nacional (en adelante, “SEIN"), administrar el Mercado de Corto Plazo y planificar la transmisión del SEIN.
                        Entre las funciones operativas que la Ley N° 28832 le ha asignado al COES se encuentran la de desarrollar los programas de operación de corto, mediano y largo plazo, y programar y coordinar el mantenimiento mayor de las instalaciones de generación y transmisión. Para el cumplimiento de estas funciones, el COES se vale de herramientas informáticas que le permitan simular la operación del SEIN.
                        <br />
                        <br />
                        En ese contexto, el COES emplea el YUPANA para la simulación de la operación de Corto Plazo del SEIN y en los programas de operación de Corto Plazo; asimismo, es titular de los derechos de dicho modelo en su calidad de Titular y Productor conforme al registro obrante en la Partida Registral N° 00434-2020 del Registro de la Dirección de Derecho de Autor del Instituto de Defensa de la Competencia y de la Protección de la Propiedad Intelectual – INDECOPI.
                        <br />
                        <br />
                        Por otra parte, los Usuarios que tiene interés en revisar las simulaciones y los cálculos de los programas de operación de Corto Plazo que emite el COES, requieren del uso del YUPANA que es de titularidad del COES.
                        <br />
                        <br />
                        <strong>Objeto</strong>
                        <br />
                        <br />
                        Por el presente documento, el COES otorga al Usuario la licencia de uso del YUPANA, así como la documentación correspondiente, de naturaleza no exclusiva e intransferible, con la única finalidad de revisar las simulaciones y los cálculos de los programas de operación de Corto Plazo que emite el COES, en los términos y condiciones previstos a continuación.
                        <br />
                        <br />
                        <strong>Términos y condiciones</strong>
                        <br />
                        <br />
                        1. El Usuario reconoce al COES como único Productor y Titular de la propiedad intelectual del YUPANA, en los términos regulados en el Decreto Legislativo N° 822, Ley sobre el Derecho de Autor.<br />
                        2. El uso del YUPANA por parte del Usuario se realizará de forma obligatoria y sin excepción alguna, en los siguientes términos:<br />
                        (a) El Usuario se obliga a utilizar el YUPANA con la única finalidad de revisar las simulaciones y los cálculos de los programas de operación de Corto Plazo que emite el COES y en el ámbito del territorio nacional.<br />
                        (b) El Usuario se obliga a no adaptar, modificar, corregir o variar el YUPANA en el sentido más genérico posible, o los documentos que coadyuvan a su uso.<br />
                        (c) El Usuario se obliga a no reproducir, transmitir a otro equipo informático, ceder, arrendar, transferir, vender, prestar, parcial o totalmente, y en general a no disponer del YUPANA en cualquier modalidad, en favor de sí misma o de terceros, lo que incluye a empresas vinculadas, según la definición contenida en la Resolución CONASEV N° 090-2005-EF-94.10 o norma que la modifique y/o sustituya, sea a título gratuito u oneroso, dentro del territorio nacional o en el extranjero, con la lógica excepción del uso por parte de los empleados directos del Usuario.<br />
                        (d) Asimismo, se prohíbe la reproducción de la Documentación que acompaña al software. Tampoco se deberán utilizar técnicas de ingeniería inversa, descompilación, o desensamblaje, ni se podrá modificar, traducir o realizar intento alguno de descubrir el código fuente del software, toda vez que el mismo goza de protección por parte de INDECOPI.<br />
                        (e) El COES se reserva el derecho de realizar auditorías de forma periódica con un aviso previo por escrito para verificar el cumplimiento de los términos y condiciones del presente documento.<br />
                        (f) El Usuario será el único responsable por el incumplimiento a este documento o a la normativa aplicable, ocasionado por sus empleados o dependientes en general.<br />
                        (g) El Usuario, es el único responsable de cumplir con las obligaciones que por el uso de software legal sean reguladas por el INDECOPI.<br />
                        (h) El Usuario es el único responsable de contar con los soportes informáticos físicos y de software que permitan el uso del YUPANA, así como del personal que resulte necesario para su ejecución.<br />
                        (i) El Usuario se obliga a guardar confidencialidad sobre los resultados, cálculos, escenarios u otros datos que obtenga en el uso del YUPANA, así como respecto a la documentación que coadyuva a su uso.<br />
                        (j) En todo aquello que no se haya regulado expresamente en este documento, las Partes se remiten a lo que establece la legislación sobre Propiedad Intelectual.<br />

                        <br />
                        <strong>Licencia</strong>
                        <br />
                        <br />
                        El COES otorga la licencia de uso del YUPANA en favor del Usuario de manera gratuita. Esta licencia de uso gratuita se realiza considerando que la finalidad por la cual se otorga es revisar las simulaciones y los cálculos de los programas de operación de Corto Plazo que emite el COES.
                        <br />
                        <br />
                        <strong> Exoneración de responsabilidad</strong>
                        <br />
                        <br />
                        En ningún caso será el COES responsable, ante el Usuario o terceras partes, de cualquier daño, incluida pérdida de beneficios, pérdida de ahorro o cualquier tipo de perjuicio surgido como consecuencia del uso del YUPANA, siendo el uso del software bajo riesgo y beneficio del Usuario.
                        <br />
                        <br />
                        <strong>Terminación</strong>
                        <br />
                        <br />
                        El COES podrá revocar la licencia del YUPANA de forma unilateral, sin previo aviso y sin responsabilidad alguna por parte del COES, cuando el Usuario incumpla con alguna de las obligaciones contenidas en el presente documento o cuando se configure alguna de las causas previstas en la Ley sobre el Derecho de Autor.
                        <br />
                        <br />
                        En caso el Usuario incumpla las obligaciones contenidas en el presente documento, se generará a favor del COES el derecho a reclamar una indemnización por cualquier daño, costo o responsabilidad que se produzca como consecuencia de dicho incumplimiento, asimismo, el COES se reserva el derecho a iniciar cualquier otra acción legal que considere pertinente.
                        <br />
                        <br />
                        <strong>Controversia</strong>
                        <br />
                        <br />
                        Toda controversia, desavenencia o reclamación resultante, relacionada o derivada del presente documento y/o que guarde relación con él, tratará de ser resuelta en primer término de acuerdo a principios de la buena fe y mediante trato directo entre las Partes dentro de un plazo de diez (10) días hábiles, recurriendo sólo a la vía judicial en caso de no encontrarse solución a dicha controversia. Para tal efecto, las Partes se someten expresamente a la jurisdicción de los Jueces y Tribunales de Lima, debiendo tenerse por válidas todas las notificaciones que se efectúen en los domicilios señalados en el presente documento.
                        <br />
                        <br />
                        <strong>Obtención del software</strong>
                        <br />
                        <br />
                        El YUPANA estará publicado en la web del COES, para lo cual el Usuario deberá acceder a la plataforma extranet del COES. Dicho acceso deberá mantenerse como personal e intransferible, bajo responsabilidad por incumplimiento de los términos y condiciones indicados en el presente documento.
                        <br />
                    </div>
                    <div id="tcYupanaCodigoFuente">
                        <br />
                        La aceptación de los siguientes términos y condiciones otorga al Agente el código fuente del YUPANA en formato PDF, de naturaleza no exclusiva e intransferible.
                        <br />
                        <br />
                        <ul>

                            <li>El <b>Agente</b> reconoce al <b>COES</b>  como único Productor y Titular de la propiedad intelectual del YUPANA, que incluye su código fuente, en los términos regulados den el Decreto Legislativo N° 822, Ley sobre el Derecho de Autor.

                            <li>El <b>Agente</b> se obliga a no reproducir, transmitir a otro equipo informático, ceder, arrendar, transferir, vender, prestar, parcial o totalmente y en general a no disponer del YUPANA, los documentos que coadyuvan a su uso o del código fuente en cualquier modalidad, en favor de sí mismo o de terceros, lo que incluye a empresas vinculadas, según la definición contenida en la Resolución CONASEV N° 090-2005-EF-94.10 o norma que la modifique y/o sustituya, sea a título gratuito u oneroso, dentro del territorio nacional o en el extranjero, con la lógica excepción del uso por parte de los empleados directos del <b>Agente</b>.

                            <li>Asimismo, se prohíbe la reproducción de la Documentación que acompaña al software YUPANA o su código fuente.

                            <li>El <b>Agente</b> deberá resguardar la ciberseguridad del equipo o equipos en los cuales se tenga el YUPANA, documentos que coadyuvan su uso o código fuente; con la finalidad de proteger dicha información de filtraciones o manipulaciones por algún tercero.

                            <li>En todo aquello que no se haya regulado expresamente en este Contrato, las partes se remiten a lo que establece la normativa y/o política sobre Propiedad Intelectual.

                            <li>El <b>Agente</b> será el único responsable por el incumplimiento de lo establecido en el presente documento o a la normativa aplicable, ocasionado por sus empleados o dependientes en general, ante lo cual se obliga a indemnizar al <b>COES</b> por los daños ocasionados, incluido el daño ulterior.

                            <li>En ningún caso el <b>COES</b> será responsable ante el <b>Agente</b> o terceros de cualquier daño, incluida pérdida de beneficios, pérdida de ahorro o cualquier tipo de perjuicio, surgido como consecuencia del uso del YUPANA, de documentos que coadyuvan a su uso o del uso de su código fuente.

                        </ul>
                    </div>
                }
                else if (Model.IdAplicativo == 3)
                {
                    <div id="tcArpay">

                        <br />
                        Los presentes términos y condiciones contienen los acuerdos que rigen el licenciamiento del software “Modelo de Flujo de Carga Óptimo para la Determinación de la Potencia Firme Remunerable – ARPAY” (en adelante, “ARPAY”), entre el Comité de Operación Económica del Sistema Interconectado Nacional (en adelante, “COES”), titular del ARPAY, y los Agentes que descarguen y utilicen el modelo (en adelante, el “Usuario”).
                        <br />
                        <br />
                        Con la descarga del ARPAY, se entiende que el Usuario manifiesta su aceptación de los Términos y Condiciones indicados en el presente documento. En caso de no estar de acuerdo, el Agente deberá de abstenerse de realizar la descarga y posterior utilización.
                        <br />
                        <br />
                        <strong>
                            Antecedentes
                        </strong>
                        <br />
                        <br />
                        El COES es una entidad privada sin fines de lucro y con personería de Derecho Público, que de acuerdo con lo dispuesto por la Ley N° 28832 - Ley para Asegurar el Desarrollo Eficiente de la Generación Eléctrica y su Reglamento, tiene como finalidad coordinar la operación del Sistema Eléctrico Interconectado Nacional (en adelante, “SEIN"), administrar el Mercado de Corto Plazo y planificar la transmisión del SEIN. Entre las funciones operativas que la Ley N° 28832 le ha asignado al COES se encuentra la de determinar y valorizar las Transferencias de Potencia entre los Agentes integrantes del COES. Para el cumplimiento de esta función, el COES se vale de herramientas informáticas que le permitan simular el flujo de potencia del SEIN y determinar la Potencia Firme Remunerable.
                        <br />
                        <br />
                        En ese contexto, el COES emplea el ARPAY para la simulación del flujo de potencia del SEIN y la determinación de la Potencia Firme Remunerable; asimismo, es titular de los derechos de dicho modelo en su calidad de Titular y Productor conforme a lo establecido en la legislación de Propiedad Intelectual.
                        <br />
                        <br />
                        Por otra parte, los Usuarios que tienen interés en revisar las simulaciones y los cálculos de la Potencia Firme Remunerable que determina el COES, requieren del uso del ARPAY que es de titularidad del COES.
                        <br />
                        <br />
                        <strong>Objeto</strong>
                        <br />
                        <br />
                        Por el presente documento, el COES otorga al Usuario la licencia de uso del ARPAY, así como la documentación correspondiente, de naturaleza no exclusiva e intransferible, con la única finalidad de revisar las simulaciones y los cálculos de la Potencia Firme Remunerable que determina el COES, en los términos y condiciones previstos a continuación.
                        <br />
                        <br />
                        <strong>Términos y condiciones</strong>
                        <br />
                        <br />
                        1. El Usuario reconoce al COES como único Productor y Titular de la propiedad intelectual del ARPAY, en los términos regulados en el Decreto Legislativo N° 822, Ley sobre el Derecho de Autor.<br />
                        2. El uso del ARPAY por parte del Usuario se realizará de forma obligatoria y sin excepción alguna, en los siguientes términos:<br />
                        (a) El Usuario se obliga a utilizar el ARPAY con la única finalidad de revisar las simulaciones y los cálculos de la Potencia Firme Remunerable que determina el COES y en el ámbito del territorio nacional.<br />
                        (b) El Usuario se obliga a no adaptar, modificar, corregir o variar el ARPAY en el sentido más genérico posible, o los documentos que coadyuvan a su uso.<br />
                        (c) El Usuario se obliga a no reproducir, transmitir a otro equipo informático, ceder, arrendar, transferir, vender, prestar, parcial o totalmente, y en general a no disponer del ARPAY en cualquier modalidad, en favor de sí misma o de terceros, lo que incluye a empresas vinculadas, según la definición contenida en la Resolución CONASEV N° 090-2005-EF-94.10 o norma que la modifique y/o sustituya, sea a título gratuito u oneroso, dentro del territorio nacional o en el extranjero, con la lógica excepción del uso por parte de los empleados directos del Usuario.<br />
                        (d) Asimismo, se prohíbe la reproducción de la Documentación que acompaña al software. Tampoco se deberán utilizar técnicas de ingeniería inversa, descompilación, o desensamblaje, ni se podrá modificar, traducir o realizar intento alguno de descubrir el código fuente del software, toda vez que el mismo goza de protección por parte de la legislación de Propiedad Intelectual.<br />
                        (e) El COES se reserva el derecho de realizar auditorías de forma periódica con un aviso previo por escrito para verificar el cumplimiento de los términos y condiciones del presente documento.<br />
                        (f) El Usuario será el único responsable por el incumplimiento a este documento o a la normativa aplicable, ocasionado por sus empleados o dependientes en general.<br />
                        (g) El Usuario es el único responsable de cumplir con las obligaciones que por el uso de software legal sean reguladas por el INDECOPI.<br />
                        (h) El Usuario es el único responsable de contar con los soportes informáticos físicos y de software que permitan el uso del ARPAY, así como del personal que resulte necesario para su ejecución.<br />
                        (i) El Usuario se obliga a guardar confidencialidad sobre los resultados, cálculos, escenarios u otros datos que obtenga en el uso del ARPAY, así como respecto a la documentación que coadyuva a su uso.<br />
                        (j) En todo aquello que no se haya regulado expresamente en este documento, las Partes se remiten a lo que establece la legislación sobre Propiedad Intelectual.<br />


                        <br />
                        <strong>Licencia</strong>
                        <br />
                        <br />
                        El COES otorga la licencia de uso del ARPAY en favor del Usuario de manera gratuita. Esta licencia de uso gratuito se realiza considerando que la finalidad por la cual se otorga es revisar las simulaciones y los cálculos de la Potencia Firme Remunerable que determina el COES.
                        <br />
                        <br />
                        <strong> Exoneración de responsabilidad</strong>
                        <br />
                        <br />
                        En ningún caso será el COES responsable, ante el Usuario o terceras partes, de cualquier daño, incluida pérdida de beneficios, pérdida de ahorro o cualquier tipo de perjuicio surgido como consecuencia del uso del ARPAY, siendo el uso del software bajo riesgo y beneficio del Usuario.
                        <br />
                        <br />
                        <strong>Terminación</strong>
                        <br />
                        <br />
                        El COES podrá revocar la licencia del ARPAY de forma unilateral, sin previo aviso y sin responsabilidad alguna por parte del COES, cuando el Usuario incumpla con alguna de las obligaciones contenidas en el presente documento o cuando se configure alguna de las causas previstas en la Ley sobre el Derecho de Autor.
                        <br />
                        <br />
                        En caso el Usuario incumpla las obligaciones contenidas en el presente documento, se generará a favor del COES el derecho a reclamar una indemnización por cualquier daño, costo o responsabilidad que se produzca como consecuencia de dicho incumplimiento, asimismo, el COES se reserva el derecho a iniciar cualquier otra acción legal que considere pertinente.
                        <br />
                        <br />
                        <strong>Controversia</strong>
                        <br />
                        <br />
                        Toda controversia, desavenencia o reclamación resultante, relacionada o derivada del presente documento y/o que guarde relación con él, tratará de ser resuelta en primer término de acuerdo a principios de la buena fe y mediante trato directo entre las Partes dentro de un plazo de diez (10) días hábiles, recurriendo sólo a la vía judicial en caso de no encontrarse solución a dicha controversia. Para tal efecto, las Partes se someten expresamente a la jurisdicción de los Jueces y Tribunales de Lima, debiendo tenerse por válidas todas las notificaciones que se efectúen en los domicilios señalados en el presente documento.
                        <br />
                        <br />
                        <strong>Obtención del software</strong>
                        <br />
                        <br />
                        El ARPAY estará publicado en la web del COES, para lo cual el Usuario deberá acceder a la plataforma extranet del COES. Dicho acceso deberá mantenerse como personal e intransferible, bajo responsabilidad por incumplimiento de los términos y condiciones indicados en el presente documento.
                        <br />
                    </div>
                }
                else if (Model.IdAplicativo == 5)
                {

                    <div id="tcArpay">

                        <br />
                        Los presentes términos y condiciones contienen los acuerdos que rigen el licenciamiento del software “Modelo para evaluar el cumplimiento del Servicio de Regulación Primaria de Frecuencia (RPF) – KUMPLIY” (en adelante, “KUMPLIY”), entre el Comité de Operación Económica del Sistema Interconectado Nacional (en adelante, “COES”), titular del KUMPLIY, y los Agentes que descarguen y utilicen el modelo (en adelante, el “Usuario”).
                        <br />
                        <br />
                        Con la descarga del KUMPLIY, se entiende que el Usuario manifiesta su aceptación de los Términos y Condiciones indicados en el presente documento. En caso de no estar de acuerdo, el Agente deberá de abstenerse de realizar la descarga y posterior utilización.
                        <br />
                        <br />
                        <strong>
                            Antecedentes
                        </strong>
                        <br />
                        <br />
                        El COES es una entidad privada sin fines de lucro y con personería de Derecho Público, que de acuerdo con lo dispuesto por la Ley N° 28832 - Ley para Asegurar el Desarrollo Eficiente de la Generación Eléctrica y su Reglamento, tiene como finalidad coordinar la operación del Sistema Eléctrico Interconectado Nacional (en adelante, “SEIN"), administrar el Mercado de Corto Plazo y planificar la transmisión del SEIN. Entre las funciones operativas que la Ley N° 28832 le ha asignado al COES se encuentra la de planificar y administrar la provisión de los Servicios Complementarios que se requieran para la operación segura y económica del SEIN. Para el cumplimiento de esta función, el COES se vale de herramientas informáticas que le permitan evaluar el cumplimiento del servicio de RPF.
                        <br />
                        <br />
                        En ese contexto, el COES emplea el KUMPLIY para evaluar el cumplimiento del servicio de RPF de los Grupos y/o Centrales de generación; asimismo, es titular de los derechos de dicho modelo en su calidad de Titular y Productor conforme a lo establecido en la legislación de Propiedad Intelectual.
                        <br />
                        <br />
                        Por otra parte, los Usuarios que tienen interés en revisar las simulaciones y los cálculos de la evaluación del cumplimiento del servicio de RPF que determina el COES, requieren del uso del KUMPLIY que es de titularidad del COES.
                        <br />
                        <br />
                        <strong>Objeto</strong>
                        <br />
                        <br />
                        Por el presente documento, el COES otorga al Usuario la licencia de uso del KUMPLIY, así como la documentación correspondiente, de naturaleza no exclusiva e intransferible, con la única finalidad de revisar las simulaciones y los cálculos de la evaluación del cumplimiento del servicio de RPF que determina el COES, en los términos y condiciones previstos a continuación.
                        <br />
                        <br />
                        <strong>Términos y condiciones</strong>
                        <br />
                        <br />

                        1. El Usuario reconoce al COES como único Productor y Titular de la propiedad intelectual del KUMPLIY, en los términos regulados en el Decreto Legislativo N° 822, Ley sobre el Derecho de Autor.<br />
                        2. El uso del KUMPLIY por parte del Usuario se realizará de forma obligatoria y sin excepción alguna, en los siguientes términos:<br />
                        (a) El Usuario se obliga a utilizar el KUMPLIY con la única finalidad de revisar las simulaciones y los cálculos de la evaluación del cumplimiento del servicio de RPF que determina el COES y en el ámbito del territorio nacional.<br />
                        (b) El Usuario se obliga a no adaptar, modificar, corregir o variar el KUMPLIY en el sentido más genérico posible, o los documentos que coadyuvan a su uso.<br />
                        (c) El Usuario se obliga a no reproducir, transmitir a otro equipo informático, ceder, arrendar, transferir, vender, prestar, parcial o totalmente, y en general a no disponer del KUMPLIY en cualquier modalidad, en favor de sí misma o de terceros, lo que incluye a empresas vinculadas, según la definición contenida en la Resolución CONASEV N° 090-2005-EF-94.10 o norma que la modifique y/o sustituya, sea a título gratuito u oneroso, dentro del territorio nacional o en el extranjero, con la lógica excepción del uso por parte de los empleados directos del Usuario.<br />
                        (d) Asimismo, se prohíbe la reproducción de la Documentación que acompaña al software. Tampoco se deberán utilizar técnicas de ingeniería inversa, descompilación, o desensamblaje, ni se podrá modificar, traducir o realizar intento alguno de descubrir el código fuente del software, toda vez que el mismo goza de protección por parte de la legislación de Propiedad Intelectual.<br />
                        (e) El COES se reserva el derecho de realizar auditorías de forma periódica con un aviso previo por escrito para verificar el cumplimiento de los términos y condiciones del presente documento.<br />
                        (f) El Usuario será el único responsable por el incumplimiento a este documento o a la normativa aplicable, ocasionado por sus empleados o dependientes en general.<br />
                        (g) El Usuario es el único responsable de cumplir con las obligaciones que por el uso de software legal sean reguladas por el INDECOPI.<br />
                        (h) El Usuario es el único responsable de contar con los soportes informáticos físicos y de software que permitan el uso del KUMPLIY, así como del personal que resulte necesario para su ejecución.<br />
                        (i) El Usuario se obliga a guardar confidencialidad sobre los resultados, cálculos, escenarios u otros datos que obtenga en el uso del KUMPLIY, así como respecto a la documentación que coadyuva a su uso.<br />
                        (j) En todo aquello que no se haya regulado expresamente en este documento, las Partes se remiten a lo que establece la legislación sobre Propiedad Intelectual.<br />



                        <br />
                        <strong>Licencia</strong>
                        <br />
                        <br />
                        El COES otorga la licencia de uso del KUMPLIY en favor del Usuario de manera gratuita. Esta licencia de uso gratuito se realiza considerando que la finalidad por la cual se otorga es revisar las simulaciones y los cálculos de la evaluación del cumplimiento del servicio de RPF que determina el COES.
                        <br />
                        <br />
                        <strong> Exoneración de responsabilidad</strong>
                        <br />
                        <br />
                        En ningún caso será el COES responsable, ante el Usuario o terceras partes, de cualquier daño, incluida pérdida de beneficios, pérdida de ahorro o cualquier tipo de perjuicio surgido como consecuencia del uso del KUMPLIY, siendo el uso del software bajo riesgo y beneficio del Usuario.
                        <br />
                        <br />
                        <strong>Terminación</strong>
                        <br />
                        <br />
                        El COES podrá revocar la licencia del KUMPLIY de forma unilateral, sin previo aviso y sin responsabilidad alguna por parte del COES, cuando el Usuario incumpla con alguna de las obligaciones contenidas en el presente documento o cuando se configure alguna de las causas previstas en la Ley sobre el Derecho de Autor.
                        <br />
                        <br />
                        En caso el Usuario incumpla las obligaciones contenidas en el presente documento, se generará a favor del COES el derecho a reclamar una indemnización por cualquier daño, costo o responsabilidad que se produzca como consecuencia de dicho incumplimiento, asimismo, el COES se reserva el derecho a iniciar cualquier otra acción legal que considere pertinente.
                        <br />
                        <br />
                        <strong>Controversia</strong>
                        <br />
                        <br />
                        Toda controversia, desavenencia o reclamación resultante, relacionada o derivada del presente documento y/o que guarde relación con él, tratará de ser resuelta en primer término de acuerdo a principios de la buena fe y mediante trato directo entre las Partes dentro de un plazo de diez (10) días hábiles, recurriendo sólo a la vía judicial en caso de no encontrarse solución a dicha controversia. Para tal efecto, las Partes se someten expresamente a la jurisdicción de los Jueces y Tribunales de Lima, debiendo tenerse por válidas todas las notificaciones que se efectúen en los domicilios señalados en el presente documento.
                        <br />
                        <br />
                        <strong>Obtención del software</strong>
                        <br />
                        <br />
                        El KUMPLIY estará publicado en la web del COES, para lo cual el Usuario deberá acceder a la plataforma extranet del COES. Dicho acceso deberá mantenerse como personal e intransferible, bajo responsabilidad por incumplimiento de los términos y condiciones indicados en el presente documento.
                        <br />
                    </div>

                }
            </div>
            <div style="clear:both; height:20px"></div>
            <input type="checkbox" id="cbTerminos" /> @("He leido y acepto los términos y condiciones del licensamiento del Software " + Model.NombreAplicativo)
            <div class="descarga-boton">
                <input type="button" id="btnModplanAceptar" value="Acepto" />
                <input type="button" id="btnModplanCancelar" value="No acepto" />
            </div>
            <input type="hidden" id="hfCodigoModelo" value="@Model.IdAplicativo" />

        </div>
    </div>

}
else
{
    <div class="form-title" style="font-weight:bold"> No tiene acceso a esta opción</div>
}