.handsontable tr:first-child th,
.handsontable tr:first-child td,
.htRowHeaders.handsontable th ,
.htRowHeaders.handsontable thead tr th:nth-child(2)
{
    border-color: #000000;
}

.handsontable td {
    border: 0;
}

.handsontable tr.hst-group-separator > td {
    border-top: 1px solid #000000;
}

.handsontable td.hst-cus-header {
    background-color: #92CDDC;
    border-color: #000000;
    border-width: 0 1px 1px 0;
    border-style: solid;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.handsontable td.hst-cus-repeat {
    background-color: #BFBFBF;
}

.handsontable td.hst-cus-highlight {
    background-color: #FFC000;
}

.handsontable td.hst-align-right {
    text-align: right;
}

.handsontable td.hst-align-center {
    text-align: center;
}


.tools-content
{
    background-color: #EBF5FE;
    border: 1px solid #DCDDDF;
    border-radius: 4px;
    color: #3D90CB;
    margin-bottom: 2px;
    padding: 10px 8px;
}

.tbl-envios > tbody > tr:hover > td {
    border:solid 1px;
}

.button-content {
    border: 1px solid #E1E6E9;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px;
    float:left;
}

.button-item {
    float: left;
}

.button-item input[type=button] {
    background-color: transparent;
    background-image: none;
    border: 0px;
    color: #3D90CB;
    height:40px;
    width:auto;
    padding:24px 8px  8px;
    margin: 0px;
    text-indent:0px;
    text-align: center;
}

.button-item:hover {
    height:40px;
    width:auto;
    padding-left:0px;
    text-indent:0px;
}

.button-item:hover input[type=button] {
    color: #FF8040;
}

.button-item input[type=button].btn-send {    
    background:url("../Images/enviar.png") center 4px no-repeat;
}

.button-item input[type=button].btn-errors {    
    background:url("../Images/errores.png") center 4px no-repeat;
}

.button-item input[type=button].btn-sent {    
    background:url("../Images/envios.png") center 4px no-repeat;
}

.button-item input[type=button].btn-copy {    
    background:url("../Images/copiado.png") center 4px no-repeat;
}

.button-item input[type=button].btn-save {    
    background:url("../Images/Save.png") center 4px no-repeat;
}

.button-item input[type=button].btn-download-excel {    
    background:url("../Images/exportar.png") center 4px no-repeat;
}

.button-item input[type=button].btn-ocultar-tabla {    
    background:url("../Images/ocultargrilla.png") center 4px no-repeat;
}

.tools-content
{
    background-color: #EBF5FE;
    border: 1px solid #DCDDDF;
    border-radius: 4px;
    color: #3D90CB;
    margin-bottom: 2px;
    padding: 10px 8px;
    margin:5px;
}

.button-content {
    border: 1px solid #E1E6E9;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px;
    float:left;
}

.button-item {
    float: left;
}


/*agregado**/
#ele-popup, #MessagesClose{
    background-color:#fff;
    border-radius:6px 6px 6px 6px;
    box-shadow:0 0 25px 5px #999;
    color:#111;
    display:none;
    min-width:380px;
    padding:25px;
    min-height:500px;

}
/***************/

#ele-popup,#MessagesClose{
    background-color:#fff;
    border-radius:6px 6px 6px 6px;
    box-shadow:0 0 25px 5px #999;
    color:#111;
    display:none;
    min-width:380px;
    padding:25px
}

#ele-popup,#MessagesClose{
    min-height:250px
}
#ele-popup,#MessagesClose{
    min-width:280px;
    min-height:100px;
}

/* mensajes errores div*/
.messaje-info, .messaje-exito, .messaje-alerta, .messaje-error {
       font-family:Arial, Helvetica, sans-serif; 
       font-size:13px;
       border: 1px solid;
       margin: 10px 0px;
       padding:15px 10px 15px 50px;
       background-repeat: no-repeat;
       background-position: 10px center;
       display:none;
}
.messaje-info {
       color: #00529B;
       background-color: #BDE5F8;
       background-image: url('../images/info.png');
}
.messaje-exito {
       color: #4F8A10;
       background-color: #DFF2BF;
       background-image:url('../images/exito.png');
}
.messaje-alerta {
       color: #9F6000;
       background-color: #FEEFB3;
       background-image: url('../images/alerta.png');
}
.messaje-error {
       color: #D8000C;
       background-color: #FFBABA;
       background-image: url('../images/error.png');
}

.clear 
{
	clear:both;
}

.popup-title 
{
	width:auto;
	border-bottom:2px solid #D9E8F3;
	line-height:30px;
}

.popup-title span 
{
	color:#3D90CB;
	font-size:15px;
	font-weight:bold;
}

.popup-text 
{
	margin:15px 0;
	color:#245C86;
}
/** Grilla Combobox**/
.field-wrap {
}




.field-label {
    width:120px;
    float:left;
    line-height:25px; 
    font-weight:bold; 
}

.field-control {
    float:left;
    width:auto;
    line-height:25px;  
}

.btn-table{
    cursor:pointer;
}
.btn-table img{
    cursor:pointer;
     border:1px solid #D9E8F3 ;
     border-radius:20px;
}

/**popup**/
.title_tabla_pop_up{
    background: #2980B9;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}

.form-title-popup 
{
	font-size:12px;
	color:#fff;
	text-align:center;
	width:auto;
	margin:0px 0 10px 0px;
    background-color:#417AA7;
    height:26px;
    line-height:26px;
    font-weight:bold;    
    border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

.btn-a{
    cursor:pointer;
    font-size:12px;
}
.divide-buttom{
    width:100%;
    height:1px;
    border-bottom:2px solid #D9E8F3;
}


.excel-web
{  
  max-width: 100%;
  max-height: 600px; 
  overflow: auto;
}


.dataTables_filter {
    display: none;
}

.selector-menu-contextual:hover > td {
    background-color: #3399FF;
    color: #fff;
}

table.pretty tbody td {
    text-align: center;
    background: none;
    background: transparent;
}

table.pretty tbody tr.odd td {
    background: none;
    background: transparent;
}

table.pretty tbody {
    background-color: white;
}