@model COES.MVC.Intranet.Areas.RechazoCarga.Models.ParametroEsquemaModel
@{
    ViewBag.Title = "Parámetros del esquema de rechazo de carga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-title">
    <div class="content-titulo">Parámetros del esquema de rechazo de carga</div>
</div>
<div class="content-hijo" id="mainLayout" style="height: 720px;">
        <div id="mensaje"></div>
        <div class="search-content" style="margin-bottom:0px; padding:15px">
            <table class="tabla-search" style="width:auto">
                <tr>
                    <td style="vertical-align:super">Año: </td>
                    <td style="vertical-align:super">
                        @Html.DropDownList("anio", Model.Anios as List<SelectListItem>, new { style = "width: 80px;" })
                    </td>
                    <td style="width:20px;"></td>
                    <td style="vertical-align:super">Razón Social:</td>
                    <td style="width:250px;">
                        <input type="text" id="empresa" name="empresa" style="width:250px" />
                    </td>
                    <td width="50px"></td>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="content-action">
                                    <a href="#" id="btnDescargarFormato">
                                        <div class="content-item-action">
                                            <img src="~/Areas/RechazoCarga/Content/Images/bajar.png" /><br />
                                            <span>Descargar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnSelectExcel">
                                        <div class="content-item-action">
                                            <img src="~/Areas/RechazoCarga/Content/Images/subir.png" /><br />
                                            <span>Importar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnEnviarDatos">
                                        <div class="content-item-action">
                                            <img src="~/Areas/RechazoCarga/Content/Images/Save.png" /><br />
                                            <span>Grabar datos</span>
                                        </div>
                                    </a>
                                </td>
                                <td class="content-action">
                                    <a href="#" id="btnMostrarErrores">
                                        <div class="content-item-action">
                                            <img src="~/Areas/RechazoCarga/Content/Images/errores.png" /><br />
                                            <span>Mostrar errores</span>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="content-tabla">
            <table class="content-tabla">
                <tr>
                    <td>
                        <input type="button" value="Consultar" id="btnConsultar" name="btnConsultar" class="form-action" />
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div id='detalleFormato' style="overflow: hidden; width: 100%;" ></div>       
  
</div>

<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">

    </div>
</div>


<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/RechazoCarga/Content/Scripts/consultaParametroEsquema.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/util.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/json2.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>
