@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Administracion de Reporteria PR5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/IEOD/Content/Scripts/admreporte.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Administracion de Reporteria PR5</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de Reporte:</td>
                <td>
                    <select id="cbTipReporte" name="cbTipReporte" style="width:250px;">
                        @foreach (var item in Model.Reptiprepcodi)
                        {
                            <option value="@item.id">@item.text</option>
                        }
                    </select>
                    <input type="hidden" id="hfcbTipReporte" name="hfcbTipReporte" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>
