@model COES.MVC.Intranet.Areas.IEOD.Models.MensajeModel
<!DOCTYPE html>
<html>
<head>
    <title></title>
    @{
        ViewBag.Title = "Index";
        var urlt = Request.Url.AbsoluteUri.Replace(Request.Url.AbsolutePath, "/");
        Layout = "~/Views/Shared/_Layout.cshtml";
        string espaciador = "/";

        string color = "green";

        if (Model.Alerta == 2)
        {
            color = "#FFBF00";
        }
        if (Model.Alerta == 3)
        {
            color = "red";
        }
        string espacio = " ";
        string guion = " - ";

        int cantidad = Model.ListaPendientes.Count;

    }

    <!--<script src="~/Content/Scripts/multiselect.js"></script>-->
    <link href="~/Content/Css/multiselect.css" rel="stylesheet" />
    <!--<link href="~/Content/Css/font-awesome.css" rel="stylesheet" />-->

    <link href="~/Content/Css/Gestor/font-awesome/font-awesome.css" rel="stylesheet" />

    <!--<link href="~/Areas/IEOD/Content/Css/popup.css" rel="stylesheet" />-->
    <!--<script src="~/Areas/IEOD/Content/Scripts/jquery.format.js"></script>-->
    <link href="~/Areas/IEOD/Content/Css/css.css?v=1.6" rel="stylesheet" />

    <link href="~/Content/Css/Gestor/gestor.css" rel="stylesheet" />
    <link href="~/Content/Scripts/Gestor/Toastr/toastr.css" rel="stylesheet" />
    <script src="~/Content/Scripts/Gestor/Toastr/toastr.min.js"></script>
    <link href="~/Content/Scripts/Gestor/Summernote/summernote-bs3.css" rel="stylesheet" />
    <link href="~/Content/Scripts/Gestor/Summernote/summernote.css" rel="stylesheet" />
    <script src="~/Content/Scripts/Gestor/Summernote/summernote.js"></script>
    <script src="~/Content/Scripts/Gestor/Summernote/summernote-es-ES.js"></script>
    <script src="~/Content/Scripts/Gestor/Bootstrap/bootstrap.js"></script>

    <link href="~/Areas/IEOD/Content/Css/style.css" rel="stylesheet" />

    <script src="~/Areas/IEOD/Content/Scripts/gestorIEOD.js"></script>

    <script>
        $(document).ready(function () {

            var controlador = siteRoot + 'IEOD/Gestor/';

            $.ajax({
                type: 'POST',
                url: controlador + "ListaMail",
                data: {
                    id: 1,
                    nropagina: 1
                },

                success: function (evt) {
                    $('#contenido').html(evt);
                    pintarPaginado(1, 1);

                },
                error: function (ex) {
                    alert("Ha ocurrido un error");
                }
            });

            $.ajax({
                type: 'POST',
                url: controlador + "ListaLog",
                data: {
                    id: 1
                },
                success: function (evt) {
                    $('#footer-log').html(evt);
                },
                error: function (ex) {
                    alert("Ha ocurrido un error");
                }
            });

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


            $('.menuList').click(function () {
                $('.active').removeClass('active');
                $(this).addClass('active');
            });

        });

    </script>



</head>
<body>
    <div class="form-title">
        <div class="content-titulo">Gestor IEOD</div>

        <div>
            <div class="notify"><i>Estado de alertas:</i> <span class="heartbit" style="border: 5px solid @color;"></span> <span class="point" style="background-color: @color;"></span> </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-warning">
                            <i style="color: #3D90CB;font-style: normal;font-family: Arial, Helbetica, sans-serif;font-size: 13px;">Próximas actividades</i>

                        </i>
                        @if (cantidad > 0)
                        {
                            <div class="notify2"> <span class="heartbit2"></span><span class="badge2">@cantidad</span></div>
                        }
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">

                        @foreach (var item in Model.ListaPendientes)
                        {
                            <li style="font-size: 10px; font-family: sans-serif; height: 15px;"><a href="#" style="margin-left: 0px !important;padding-left: 0px;"><div><i class="fa fa-circle text-navy" style="color:@item.String3;"><span style="font-family: sans-serif;color: #666666;margin-left: 5px;font-size:10px;">@item.String1</span></i></div></a></li>
                            <li class="divider"></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <div class="content-hijo" id="mainLayout" style="background-color: #f3f3f4;">

        <div class="content-tabla">
            <div style="clear:both; height:5px"></div>

            <div class="col-lg-2" style="width:14.666% !important;">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <input type="button" id="btnNuevo" value="Redactar Correo" style="width:120px;" />
                            <div class="space-25"></div>
                            <h5>MENSAJES</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li class="menuList active"><a href="JavaScript:listarRecibidos(1);"> <i class="fa fa-inbox "></i> Bandeja de Entrada <span class="label label-warning pull-right"></span> </a></li>
                                <li class="menuList"><a href="JavaScript:listarEnviados(2);"> <i class="fa fa-envelope-o"></i> Bandeja de Salida</a></li>

                            </ul>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 animated fadeInRight">

                <div class=" col-lg-12" id="contenido" style="padding-left: 0px !important;padding-right: 0px !important;">

                </div>

                <div class="col-lg-12" id="footer-log" style=" border:1px solid #e7eaec; ">
                </div>

            </div>

        </div>

        <div style="clear:both; height:30px"></div>

    </div>



    <div id="validaciones">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Ingresar Registro</span></div>
        <div class="table-list" id="detalleSEIN"></div>
    </div>
</body>
</html>