@{
    int tipo = (int)Session["TIPO_LISTA"];  
}
<script type="text/javascript">

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "3000",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    function cargarPrimeraPagina(val) {
        var id = 1;
        $('#hfPaginaActual').val(id);
        mostrarPaginado();
        listarMensajes(val, id);
    }

    function cargarAnteriorPagina(val) {
        var id = $('#hfPaginaActual').val();
        if (id > 1) {
            id = id - 1;
            $('#hfPaginaActual').val(id);
            
            listarMensajes(val, id);
            pintarPaginado(1, val);

        }
    }

    function cargarPagina(id,val) {
        $('#hfPaginaActual').val(id);
        /*mostrarPaginado();*/
        listarMensajes(val, id);
        mostrarPaginado();
        /*pintarBusqueda(id);*/
       
    }

    function cargarSiguientePagina(val) {
        var id = parseInt($('#hfPaginaActual').val()) + 1;
        $('#hfPaginaActual').val(id);
        mostrarPaginado();
        listarMensajes(val, id);
        /*pintarBusqueda(id);*/
    }

    function cargarUltimaPagina(val) {
        var id = $('#hfNroPaginas').val();
        $('#hfPaginaActual').val(id);
        mostrarPaginado();
        listarMensajes(val, id);
    }

    function mostrarPaginado() {
        var nroToShow = parseInt($('#hfNroMostrar').val());
        var nroPaginas = parseInt($('#hfNroPaginas').val());
        var nroActual = parseInt($('#hfPaginaActual').val());

        $('.pag-ini').css('display', 'none');
        $('.pag-item').css('display', 'none');
        $('.pag-fin').css('display', 'none');
        $('.pag-item').removeClass('paginado-activo');

        $('#pag' + nroActual).addClass('paginado-activo');

        if (nroToShow - nroPaginas >= 0) {
            $('.pag-item').css('display', 'block');
            $('.pag-ini').css('display', 'none');
            $('.pag-fin').css('display', 'none');
        }
        else {
            $('.pag-fin').css('display', 'block');
            if (nroActual > 1) {
                $('.pag-ini').css('display', 'block');
            }
            var anterior = 0;
            var siguiente = 0;

            if (nroActual == 1) {

                anterior = 1;
                siguiente = nroToShow;
            }
            else {
                if (nroActual + nroToShow - 1 - nroPaginas > 0) {
                    siguiente = nroPaginas;
                    anterior = nroPaginas - nroToShow + 1;
                }
                else {
                    anterior = nroActual;
                    siguiente = nroActual + nroToShow - 1;
                }
            }

            for (j = anterior; j <= siguiente; j++) {
                $('#pag' + j).css('display', 'block')
            }
        }
    }

</script>

@if (Model.IndicadorPagina == true)
{
    <div class="paginado" style="margin-bottom:0">
        <div id="pagFirst" class="pag-ini"><a href="JavaScript:cargarPrimeraPagina(@tipo);"><<</a></div>
        <div id="pagPrev" class="pag-ini"><a href="JavaScript:cargarAnteriorPagina(@tipo);"><</a></div>
        @for (int i = 1; i <= Model.NroPaginas; i++)
        {
            <div class="pag-item" id="@("pag" + i)" style="display:none"><a href="JavaScript:cargarPagina(@i,@tipo);"><span>@i</span></a></div>
        }
        <div id="pagNext" class="pag-fin"><a href="JavaScript:cargarSiguientePagina(@tipo);">></a></div>
        <div id="pagLast" class="pag-fin"><a href="JavaScript:cargarUltimaPagina(@tipo);">>></a></div>
    </div>

    
    <input type="hidden" id="hfNroPaginas" value="@Model.NroPaginas" />
    <input type="hidden" id="hfNroMostrar" value="@Model.NroMostrar" />
}
