@model COES.MVC.Intranet.Areas.Despacho.Models.ReservaModel
@{
    ViewBag.Title = "Listado reserva secundaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Hidrologia/Content/Scripts/handsontable.full.min.js"></script> @*version 2021*@
<link href="~/Areas/Hidrologia/Content/Css/handsontable.full.min.css" rel="stylesheet" /> @*version 2021*@

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<link href="~/Content/Css/table.css" rel="stylesheet" />
<script src="~/Content/Scripts/datatable.js"></script>

<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/Despacho/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/Despacho/Content/Scripts/reservaSecundaria.js?v=1.0.12"></script>

<div class="form-title">
    <div class="content-titulo">Listado de RSF</div>
    <input type="hidden" id="hdFechaActual" value="@Model.FechaConsulta" style="" />
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="margin-bottom:10px">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td> Fecha consulta: </td>
                <td> <input type="text" id="txtFechaConsulta" value="@Model.FechaConsulta" style="width: 92px;" /> </td>

                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                    <input type="button" id="btnNuevo" value="Agregar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabListado">Listado</a></li>
            <li class='tab'><a href="#tabDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>
            <div id="tabListado">
                <div id="mensaje_Listado"> </div>

                <div style="clear:both"></div>
                <div class="content-tabla">
                    <div class="table-list" id="listado">
                    </div>
                    <div style="clear:both; height:30px"></div>
                </div>


            </div>
            <div id="tabDetalle">
                <div id="mensaje_rsf"> </div>

                <div id="idFiltrosDet" class="search-content" style="padding: 10px; height: 40px; display: none">

                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td style="vertical-align: middle;">
                                <table class="content-tabla-search" style="width:auto">
                                    <tr>
                                        <td class="classfecha">Fecha Vigencia:</td>
                                        <td class="classfecha">
                                            <input type="text" id="txtFechaVigencia" value="" style="width:100px;" />
                                        </td>
                                        <td class="label_filtro">Estado:</td>
                                        <td class="label_filtro"><div id="txtEstado" va></div></td>
                                        <td class="label_filtro">Usuario modificación:</td>
                                        <td class="label_filtro"><div id="txtUsumodif"></div></td>
                                        <td class="label_filtro">Fecha modificación:</td>
                                        <td class="label_filtro"><div id="txtFechmodif"></div></td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>

                            <td style="text-align: right;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:50%">
                                            <div class="" style="margin-bottom:0px; padding:10px; padding-top:5px; padding-bottom:10px; display:block" id="divAcciones">
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td class="content-action">
                                                            <a href="#" id="btnErrores">
                                                                <div class="content-item-action">
                                                                    <img src="~/Areas/Subastas/Content/Images/errores.png" /><br />
                                                                    <span>Errores</span>
                                                                </div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>

                <div id="idDetalle">
                    <div id="contenedorTablaSubir">

                        <div id="tblRSF" class="hot" style=" margin: 0 auto; "> </div>
                    </div>
                </div>

                <div style="margin: 20px">
                    <input type="button" id="btnGuardar" value="Guardar" style="margin-left: 47%; display:none" />
                </div>

            </div>
        </div>
    </div>

    <div id="contenedorErrores" class="popup-class-1 general-popup">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title"><span>Detalle de Errores</span></div>
        <div class="panel-container">
            <div id="tablaErrores" style="height:350px;">

            </div>

        </div>
    </div>
</div>

