@model COES.MVC.Intranet.Areas.Hidrologia.Models.PtoDespachoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/multiselect.js?v=2"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Areas/Hidrologia/Content/Scripts/ptodespacho.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>

<div class="form-title">
    <div class="content-titulo">Puntos de Despacho</div>
    <div class="content-botonera">

        <input type="button" id="btnNuevo" value="Nuevo" />

    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensajeDespacho"></div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Empresa:</td>
                <td>
                    <select id="cbEmpresa" name="Idempresa">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" />
                </td>

                @*<td class="tbform-label">Estado:</td>
                    <td>
                        <select id="cbEstado" name="EstadoId">
                            @foreach (var item in Model.EstadoLista)
                            {
                                <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                            }
                        </select>
                    </td>*@

                @*<td class="tbform-label">Nombre de Grupo:</td>
                    <td><input type="text" id="txtNombreEquipo" name="NombreEquipo" value="" /></td>*@
                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                </td>
            </tr>
        </table>

        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
    </div>
    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
    </div>
    <div style="clear:both; height:30px"></div>

</div>

<div id="popupUnidad">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Agregar Punto de Despacho</span></div>
    <div id="agregarPto"></div>
</div>

<input type="hidden" id="hfCampo" />
<input type="hidden" id="hfOrden" />



