@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.CostoMarginalVsBarrasModel
@{
    ViewBag.Title = "Editar CostoMarginalVsBarras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar CostoMarginalVsBarras" }, { "sAccion", "Actualizar" } })
</div>