@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.CostoMarginalVsBarrasModel

@{
    ViewBag.Title = "Nuevo CostoMarginal Vs Barras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un nuevo CostoMarginal Vs Barras" }, { "sAccion", "Insertar" } })
</div>