@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.CostoMarginalVsBarrasModel

@{
    ViewBag.Title = "Corregir error en la información del CostoMarginal Vs Barras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la información del CostoMarginal Vs Barras" }, { "sAccion", "Grabar" } })
</div>