@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Actualización de Programa Diario";
}

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Actualización de Programa Diario</h1>
            <span>
            </span>
        </div>
        <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Actualización de Programa Diario" />
    </div>
    <div style="clear:both"></div>
    <div class="page-content">
        @Html.Action("Index", "Browser", new { area = "", url = "Operación%2FPrograma%20de%20Operación%2FActualización%20del%20Programa%20Diario%2F" })
        <div style="clear:both"></div>
    </div>*@


<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/ProgramaDeOperacion.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ProgramaDiario" class="sidebar-nav--link">Programa Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ActualizacionPD" class="sidebar-nav--link sidebar-nav--link-active">Actualización de Programa Diario</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ProgSemanalOp" class="sidebar-nav--link">Programa Semanal Operación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/RprogDiarioOp" class="sidebar-nav--link">Reprograma Diario de Operación</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Operacion/ProgOperacion/ProgMedianoPO" class="sidebar-nav--link">Programa Mediano Plazo Operación</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Operación%2FPrograma%20de%20Operación%2FActualización%20del%20Programa%20Diario%2F" })
        <div style="clear:both"></div>
        </div>
    </div>
</div>

