@model COES.MVC.Intranet.Areas.Rdo.Models.CumplimientoModel

@{
    ViewBag.Title = "Reporte de Cumplimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Areas/RDO/Content/Scripts/Cumplimiento/cumpli.js?v=1.1"></script>
<link href="~/Areas/Rdo/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<style>
    .text-danger {
        color: red !important;
    }

    .ui-datepicker-calendar {
        display: none;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Reporte de Cumplimiento </div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>

    <div class="search-content">
        <table border="0" class="content-tabla-search" style="width:auto">
            <tr>
                <td>Formato:</td>
                <td>
                    <select id="cboEstado" name="cboEstado" style="width: 173px">
                        <option value="0">Seleccionar</option>
                        <option value="6">HORARIOS - EMBALSE DIARIO EJECUTADO TR</option>
                        <option value="5">HORARIOS - EMBALSE HORARIO EJECUTADO TR</option>
                        <option value="32">NATURALES - EJECUTADO TIEMPO REAL</option>
                        <option value="7">HORARIOS - EMBALSE DE COMPENSACION EJECUTADO TR</option>
                        <option value="43">CAUDALES EN ESTACIONES - HORARIO TR</option>

                        <option value="62">Generación Despacho</option>
                        <option value="126">Disponibilidad Combustible</option>
                        <option value="130">Informe de Fallas</option>
                    </select>
                </td>
                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                    </td>
                <td>
                    <input type="button" id="btnExportar" value="Exportar" />
                </td>
            </tr>
            <tr id="filaNoInformeFinal">
                <td>Fecha</td>
                <td>
                    <input type="text" id="txtFchPresentacion" name="Fecha" style="width: 165px;" />
                </td>
               
            </tr>
            <tr id="filaInformeFinal">
                <td>Periodo Evento:</td>
                <td>
                    <div id="fchFalla">
                        <input type="text" id="txtFchFalla" name="FechaFalla" style="width: 165px;" />
                    </div>
                </td>
                <td>Tipo del informe:</td>
                <td>
                    <select id="cboTipoInforme" name="cboTipoInforme" style="width: 173px">
                        <option value="0">Seleccionar</option>
                        <option value="1">Informe de Falla N1</option>
                        <option value="2">Informe de Falla N2</option>
                    </select>
                </td>
                <td>Etapa del informe:</td>
                <td>
                    <select id="cboEtapaInforme" name="cboEtapaInforme" style="width: 173px">
                        <option value="0">Seleccionar</option>
                        <option value="1">IPI</option>
                        <option value="2">IF</option>
                    </select>
                </td>
            </tr>
       
            @*<tr style="display:none;">
                    <td></td>
                    <td></td>
                    <td>Nombre del Estudio:</td>
                    <td>
                        <input type="text" id="txtNombreEstudio" style="width: 152px" />
                    </td>
                    <td>Punto de Conexión:</td>
                    <td>
                        <input type="text" id="txtPuntoConexion" style="width: 172px" />
                    </td>
                    <td>
                        <input type="button" id="btnNuevo" onclick="javascript: nuevoEstudioEo(0);" value="Nuevo" />
                    </td>
                </tr>*@
            @*<tr style="display:none;">

                    <td>Año de Puesta en Servicio:</td>
                    <td>
                        <input type="text" id="txtAnioPuestoServicio" style="width: 152px" />
                    </td>
                    <td>Código de Proyecto:</td>
                    <td>
                        <input type="text" id="txtCodigioProyecto" style="width: 152px" />
                    </td>
                    <td>Tipo de Proyecto:</td>
                    <td>
                        <select id="cboTipoProyecto" name="cboTipoProyecto" style="width: 173px">
                            <option value="0">Todos</option>
                            <option value="1">Generación</option>
                            <option value="2">Demanda</option>
                            <option value="3">Transmisión</option>
                            <option value="4">Generación RER</option>
                        </select>
                    </td>
                </tr>*@
        </table>
    </div>
    <div class="clear"></div>
    <div id="listadoNoFalla" class="content-tabla">
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>
    <div class="clear"></div>
    <div id="listadoFalla" class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginadoFallas"></div>
        </div>
        <div class="table-list" id="listadoFallas"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>
    <div style="clear:both; height:30px"></div>

</div>
