@model COES.MVC.Intranet.Areas.Equipamiento.Models.TipoRelDetalleModel
<script type='text/javascript'>
    $(function () {
        //$('#cbConcepto').change(function () {
        //    var x = $(this).val();
        //    $('#hfConcepCodi').val(x);
        //});
        $('#btnAceptar').click(function () {
            guardarTipoRel();
        });
    });
</script>
<div class='panel-container'>
    <table class="table-form-vertical2 content-tabla-search" style="width:400px">
        <tr>
            <td class="tbform-label">Nombre de tipo de relación:</td>
            <td class="tbform-control">
                <input id="txtNombreTipoRel" type="text" style="width:120px">
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Estado:</td>
            <td class="tbform-control">
                <select id="cbEstadoNuevo">
                    @foreach (var item in Model.lsEstado)
                    {
                        <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                    }
                </select>
            </td>
        </tr>
    </table>
    <div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
        <input type="button" value="Aceptar" id="btnAceptar" />
    </div>
</div>