@model COES.MVC.Intranet.Areas.FileManager.Models.BrowserModel


<link href="~/Areas/FileManager/Content/Css/css.css" rel="stylesheet" />
<script src="~/Areas/FileManager/Content/Scripts/browser.js?v=1.0"></script>
<script src="~/Areas/FileManager/Content/Scripts/jquery.tooltip.min.js"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/FileManager/Content/Scripts/multidownload.js"></script>

<div class="content-header-file" id="cabecera">
    <div class="header-boton" id="btn-downloadfile">
        <img src="~/Areas/FileManager/Content/Images/Icons/download.png" />
        <span>Descargar<br />archivo</span>
    </div>
    <div class="header-boton" id="btn-downloadzip">
        <img src="~/Areas/FileManager/Content/Images/Icons/downloadzip.png" />
        <span>Descargar<br />como Zip</span>
    </div>
    @if (Model.BaseDirectory.Contains("Nuevo"))
    {
        <div class="header-boton" id="btn-saveData">
            <img src="~/Areas/FileManager/Content/Images/Icons/grabar.png" />
            <span>Cargar<br />Historico</span>
        </div>
    }
</div>
<div style="clear:both"></div>
<input type="hidden" id="hfBaseDirectory" value="@Model.BaseDirectory" />
<input type="hidden" id="hfRelativeDirectory" value="@Model.BaseDirectory" />
<input type="hidden" id="hfOrigenDirectory" />
<input type="hidden" id="hfOrigen" value="@Model.Origen" />

<div class="page">
    <div id="browserDocument"></div>
</div>


<div id="multiDownload">
</div>