@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "URS";
}

<script src="~/Areas/CompensacionRSF/Content/Scripts/URS.js"></script>

<div class="form-title">
    <div class="content-titulo">Lista de URS Asignadas</div>
    <div class="content-botonera">
        <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
        <input type="button" value="Retornar" onclick="location.href='@Url.Action("Index", "URSenBarras")'" alt="Retornar" title="Retornar" />
    </div>
</div>
<div class="content-hijo" style="padding-top:8px">
    <div class="listado" id="listado">
    </div>
</div>

