@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.RecalculoModel

@{
    ViewBag.Title = "Nueva Asignación - URS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Asignar un URS" }, { "sAccion", "Insertar" } })
</div>

