@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">Consulta de Frecuencia</div>


<div class="formulario" style="width:45%; margin:30px auto">
    <div class="formulario-item">
        <div class="formulario-label">Seleccione Año:</div>
        <div class="formulario-control">
            <select id="cbAnio" name="cbAnio">
                <option value="">--SELECCIONE--</option>
             
            </select>
        </div>
    </div>
    <div class="formulario-item">
        <div class="formulario-label">Seleccione Mes:</div>
        <div class="formulario-control">
            <select id="cbMes" name="cbMes">
                
            </select>
        </div>
    </div>
    <div class="formulario-item">
        <div class="formulario-label">Seleccione Día:</div>
        <div class="formulario-control">
            <select id="cbDia" name="cbDia">
                
            </select>
        </div>
    </div>
    <br />
    
    <div class="formulario-boton">
        <input id="btnExportar" type="button" value="Exporar a Excel" />
    </div>
    <div id="accionResultado"></div>
    <input id="hfIndicador" type="hidden" />

</div>