@model COES.MVC.Publico.Areas.ReportePotencia.Models.IndexConfiguracionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/ReportePotencia/Content/Script/configuracion.js"></script>
<div class="form-title">
    <div class="content-titulo">Modos de Operación</div>
    <div class="content-botonera">
        @*<input type="button" id="btnNuevo" value="Nuevo" />
        <input type="button" id="btnCancelar" value="Cancelar" />*@
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="0">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>Estado:</td>
                <td>
                    <select id="cbEstado">
                        <option value=" ">-TODOS-</option>
                        @foreach (var item in Model.ListaEstados)
                        {
                            <option value="@item.EstadoCodigo">@item.EstadoDescripcion</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value='Consultar'/>
                </td>
                <td>
                    <input type="button" id="btnGrabar" value='Grabar' />
                </td>
            </tr>
        </table>
    </div>
    <div id="listado">
    </div>
    <br />
    <br />
</div>