@model COES.MVC.Intranet.Areas.InformesOsinergmin.Models.CostoMarginalRealModel

<table class="pretty tabla-icono">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Punta (ctv.US$/KWh)</th>
            <th>Media (ctv.US$/KWh)</th>
            <th>Base (ctv.US$/KWh)</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.CMRMensual != null)
            {
                <tr>
                    <td align="center">@Model.CMRMensual.Desvfecha.ToString("MMM yyyy")</td>
                    <td align="center">@Model.CMRMensual.Cmgrpunta</td>
                    <td align="center">@Model.CMRMensual.Cmgrmedia</td>
                    <td align="center">@Model.CMRMensual.Cmgrbase</td>
                </tr>
            }
        }
    </tbody>
</table>