@model COES.MVC.Intranet.Areas.InformesOsinergmin.Models.CostoMarginalRealModel

<table class="pretty tabla-icono" id="tablaCMRDiario">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Costo (ctv.US$/KWh)</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.ListadoCMRDiario != null)
            {
                foreach (var item in Model.ListadoCMRDiario)
                {
                    <tr>
                        <td align="center">@item.Desvfecha.ToString("dd-MMM-yyyy")</td>
                        <td align="center">@item.Cmgsnc</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>