@model COES.MVC.Intranet.Areas.InformesOsinergmin.Models.CostoMarginalRealModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/InformesOsinergmin/Content/Scripts/costomarginalreal.js"></script>
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <script src="~/Content/Scripts/plupload.full.min.js"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
}

<div class="form-title">
    <div class="content-titulo">Costo Marginal Real</div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Mes de informe:</td>
                <td><input type="text" id="mesInforme" value="@Model.mesInforme" /></td>
                <td><div id="nombreArchivo">@Model.nombreArchivoExcel</div></td>
                <td>Seleccione el archivo Excel (.xlsx): </td>
                <td><input type="button" id="btnSelectFile" value="Examinar" /></td>
                <td><div id="container"><input type="button" id="btnProcesarFile" value="Procesar" /></div></td>
                <td><label id="fileInfo"></label></td>
                <td><div id="progreso"></div></td>
            </tr>
        </table>
        <table class="content-tabla-search" style="width:auto">
            <tr>
                
            </tr>
        </table>
    </div>
    <div style="clear:both; height:10px"></div>
   
    <div id="tab-container-principal" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#pasoPrincipal1">Costo Marginal Mensual Real</a></li>
            <li class='tab'><a href="#pasoPrincipal2">Costo Marginal Diario Real</a></li>
            <li class='tab'><a href="#pasoPrincipal3">Logs de errores</a></li>
        </ul>
        <div class='panel-container'>
            <div id="pasoPrincipal1">
                <div id="vistaCMRMensual"></div>
            </div>
            <div id="pasoPrincipal2">
                <div id="vistaCRMDiario"></div>
            </div>
            <div id="pasoPrincipal3">
                <div id="vistaLog"></div>
            </div>
        </div>
    </div> 
    

</div>
