#validaciones, #newHorasOperacion, #nuevoformato, #enviosanteriores, #enviosHorasOperacion, #popupEquipo, #MessagesClose, #winAnexoA, #winEjecut, #winInform, #idGrafico2, #idGrafico3, .popup-class-1 {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 380px;
    padding: 25px
}

.fila_inhabilitada td {
    background-color: #FFDDDD !important;
}

.popup_grafico {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 380px;
    padding: 25px
}

.symbol {
    width: 20px;
    height: 20px;
    /*margin-right:20px;*/
    float: left;
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}

#confirmarClose, #newHorasOperacion, #enviosanteriores {
    min-height: 250px;
    min-width: 280px;
}

.headpage {
    background: #4682B4;
    width: 100%;
    height: 50px;
    color: white;
    text-indent: 30px;
}

    .headpage img {
        float: left;
        height: 50px;
    }

.divexcel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}


.headexcel {
    z-index: 9999;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.bodyexcel {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.panelinfo {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    height: 500px;
    width: 150px;
    border: 1px solid;
    padding: 21px;
}

.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }

.contet-leyenda {
    border: 2px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 7px;
    padding-left: 12px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    z-index: 2000;
    position: absolute;
    width: 380px;
    height: 240px;
    display: none;
    top: -0px;
}

    .contet-leyenda table tr {
        line-height: 15px;
    }

        .contet-leyenda table tr td {
            font-size: 10px;
            width: auto;
            line-height: 15px;
            color: #3D90CB;
        }



.formula-subtitulo {
    color: #428BD3;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
}


.tabla-registro {
}

    .tabla-registro tr {
        line-height: 27px;
    }

        .tabla-registro tr td textarea {
            width: 400px;
            height: 60px;
            border: 1px solid #dddddd;
        }
/*tooltip*/
.toolTipBox {
    display: none;
    border-color: #788794;
    font-family: verdana;
    position: absolute;
    background-color: #788794;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    padding: 4px 12px;
    text-align: left;
    width: 400px;
}

.tdPadd {
    padding-left: 10px;
}

.tdSeparate {
    width: 10px;
    background-color: white;
    border: 1px solid white;
}

.hora {
    background-color: blue;
}


.tabla-horas tbody tr td {
    vertical-align: middle;
    padding: 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    text-align: center;
    border: 1px solid #dddddd;
}

    .tabla-horas tbody tr td a img {
        width: 18px;
        height: 18px;
        margin-top: auto;
    }

.trEquipo {
    background-color: aliceblue;
}

div.vertical-line-tr {
    width: 3px; /* Line width */
    background-color: red; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left;
    position: relative;
    top: 0px;
    z-index: 300;
    border-color: white;
    border-width: thin;
    border-style: solid;
}

div.vertical-line-ci {
    width: 3px; /* Line width */
    background-color: #32FF9A; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left;
    position: relative;
    top: 0px;
    z-index: 300;
    border-color: white;
    border-width: thin;
    border-style: solid;
}

div.vertical-line-flecha {
    width: 4px; /* Line width */
    background-color: blue; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left;
    position: relative;
    top: 0px;
    z-index: 300;
}

div.flecha_abajo {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px;
    border-bottom-width: 0px;
    border-color: blue transparent transparent transparent;
}

div.horasoperacion {
    border: 1px solid #848484;
    height: 15px; /* Line height */
    background-color: #de0832; /* Line color */
    position: absolute;
    top: 20px;
    left: 500px;
}

    div.horasoperacion.sistema_aislado {
        border: 1px solid #ff0000; /*color rojo*/
    }

.thHora {
    width: 20px; /*Aquí va el ancho de la Celda*/
}

.th01 {
    width: 200px; /*Aquí va el ancho de la Celda*/
}

.th02 {
    width: 100px; /*Aquí va el ancho de la Celda*/
}

.th03 {
    width: 150px; /*Aquí va el ancho de la Celda*/
}

.th04 {
    width: 12px; /*Aquí va el ancho de la Celda*/
}

.resaltar {
    background-color: #F5FFD7;
    cursor: pointer;
    border: 2px solid #b5de31;
}

.td_empresa {
    padding-left: 6px !important;
    text-align: left !important;
}

.td_central {
    padding-left: 6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    text-align: left !important;
}

.totalTipoRecurso {
    background-color: #5B919B !important;
    color: white !important;
}

.totalTipoRecursoHidro {
    text-align: left !important;
    background-color: #5B919B !important;
    color: white !important;
}

.tdbody_reporte_fecha {
    text-align: center !important;
    background: #2980B9 !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.tdbody_reporte {
    text-align: center !important;
    background: #2980B9 !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: 1px solid #9AC9E9 !important;
}

.emp_coes {
}

.emp_no_coes {
    background: gray !important;
    border-color: white !important;
}

.separacion_tipo_empresa {
    background: white !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.total_potencia_reactiva_ejecutado {
    background-color: #5B919B !important;
    color: white !important;
}

.title-seccion {
    width: auto;
    border-bottom: 2px solid #D9E8F3;
    line-height: 30px;
    margin-bottom: 20px;
    color: #3D90CB;
    font-size: 15px;
    font-weight: bold;
}

.total_potencia_activa_ejecutado {
    background-color: #5B919B !important;
    color: white !important;
}

.grande_usuario_libre_area_NORTE {
    text-align: center !important;
    background: #2980B9 !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: 1px solid #9AC9E9 !important;
}

.grande_usuario_libre_area_CENTRO {
    text-align: center !important;
    background: #2980B9 !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: 1px solid #9AC9E9 !important;
    background-color: #5B919B !important;
}

.grande_usuario_libre_area_SUR {
    text-align: center !important;
    background: #1F497D !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: 1px solid #9AC9E9 !important;
}

.diferenciar_area {
    border-top-width: medium !important;
}

.alerta_ems {
    background-color: white !important;
    border-top-color: white !important;
    border-right-color: white !important;
    border-bottom-color: white !important;
    border-left-color: white !important;
}

.alerta_scada {
    background-color: white !important;
    border-top-color: white !important;
    border-right-color: white !important;
    border-bottom-color: white !important;
}

.alerta_encendido {
    background-color: white !important;
    border-top-color: white !important;
    border-left-color: white !important;
    border-bottom-color: white !important;
}

.alerta_intervencion {
    background-color: white !important;
    border-top-color: white !important;
    border-left-color: white !important;
    border-bottom-color: white !important;
}

td.formato_tramo {
    white-space: normal !important;
}

td.ci_encendido {
    color: blue !important;
}

.bellImgEms {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_ems.png?v=2.2');
    height: 20px;
    width: 20px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgScada {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_scada.png?v=2.2');
    height: 20px;
    width: 20px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgIntervencion {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_intervencion.png?v=2.2');
    height: 20px;
    width: 20px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgCostoIncremental {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_costo_incremental.png?v=2.2');
    height: 20px;
    width: 20px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(10deg);
    }

    20% {
        -webkit-transform: rotate(20deg);
    }

    30% {
        -webkit-transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(-5deg);
    }

    70% {
        -webkit-transform: rotate(-10deg);
    }

    80% {
        -webkit-transform: rotate(-20deg);
    }

    90% {
        -webkit-transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

.linea-asociadas {
    display: none;
}

.msjModifHOP {
    font-style: italic;
    font-weight: bold;
    color: red;
    font-size: 11px;
}

tr td.hor_tipo_op.no_calificado {
    font-weight: bold;
    color: red;
}

tr.fila_alerta_ems td {
    /*background-color: #FFC0EB !important;*/
}

tr.fila_alerta_scada td {
    /*background-color: #ffe895 !important;*/
}

tr.fila_alerta_interv td {
    background-color: #dec8ff !important;
}

tr.fila_alerta_costo_inc td {
    background-color: #9bffce !important;
}

td.fila_alerta_ems {
    background-color: #FFC0EB !important;
}

td.fila_alerta_scada {
    background-color: #ffe895 !important;
}

td.fila_alerta_interv {
    background-color: #dec8ff !important;
}

td.fila_alerta_costo_inc {
    background-color: #9bffce !important;
}

.content-registro table tr td.registro-label {
    border: 1px solid #EAEAEA;
    text-indent: 10px;
    vertical-align: central;
    background-color: #F9F9F9;
    vertical-align: middle;
}

.content-registro table tr td.registro-control {
    vertical-align: middle;
    border: 1px solid #EAEAEA;
    padding: 3px 0 3px 10px;
}

    .content-registro table tr td.registro-control textarea {
        border: 1px solid #CBD3CF;
        border-radius: 5px;
        height: 60px;
        width: 400px;
        font-family: Arial, Helbetica, sans-serif;
        font-size: 12px;
        color: #245C86;
        max-width: 400px;
        max-height: 60px;
    }

select:disabled {
    background: lightgray;
    color: #4876AA;
}

input[type=text]:disabled {
    background-color: lightgray;
    color: #4876AA;
}

textarea:disabled {
    background: lightgray;
    color: #4876AA;
}

#newHorasOperacion select:disabled {
    background: lightgray;
    color: #4876AA;
}

#newHorasOperacion input[type=text]:disabled {
    background-color: lightgray;
    color: #4876AA;
}

#newHorasOperacion textarea:disabled {
    background: lightgray;
    color: #4876AA;
}

.balance_electrico_ctg {
    text-align: left !important;
    padding-left: 10px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.balance_electrico_celda_numero {
    text-align: right !important;
    padding-right: 20px !important;
}


.demanda_maxima_ctg {
    text-align: left !important;
    padding-left: 10px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.demanda_maxima_celda_numero {
    text-align: right !important;
    padding-right: 20px !important;
}

.titulo_tipo_recurso {
    text-align: left !important;
    font-size: 18px;
}

.titulo_rer {
    text-align: left !important;
    font-size: 18px;
}

.empresa_rer {
    word-wrap: break-word;
    white-space: normal;
}

.grupo_rer {
    word-wrap: break-word;
    white-space: normal;
}

.td_estado_combustible {
    text-align: center !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: 1px solid #9AC9E9 !important;
}

.td_energia_primaria {
    text-align: center !important;
    color: #ffffff !important;
    cursor: pointer !important;
    border: 1px solid #9AC9E9 !important;
}

td.hor_empresa {
    text-align: left !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_central {
    text-align: left !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_grupo {
    text-align: left !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_arranque {
    font-style: italic !important;
}

td.hor_ini {
    text-align: center !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_parada {
    text-align: center !important;
    font-style: italic !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_fin {
    text-align: center !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_tipo_op {
    text-align: center !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_plena_carga {
    text-align: center !important;
    text-align: center !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_lim_trans {
    text-align: center !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.hor_desc {
    text-align: left !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

td.class_hop_ems {
    white-space: nowrap;
    overflow: hidden;
}

td.calif_hop {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 7px !important;
    padding-right: 7px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

table.form_unid_esp {
    background: #F9F9F9;
    border: 1px solid #EAEAEA !important;
}

table.form_unid_esp {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.form_unid_esp .unidad_esp {
    font-weight: bold;
    color: #3D90CB;
    /*border: 1px solid #EAEAEA;*/
    text-indent: 10px;
    vertical-align: middle;
    background-color: #F9F9F9;
    vertical-align: middle;
    padding-right: 20px;
    padding-top: 4px;
}

    .form_unid_esp .unidad_esp a {
        position: absolute;
    }

.form_unid_esp .unidad_baja {
    color: #ff4545 !important;
}

.form_unid_esp .txt_estado {
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.tabla_ho_esp tbody td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.form_unid_esp table {
    margin: 5px !important;
}

.form_unid_esp table {
    margin: 5px !important;
}

    .form_unid_esp table .col_btn_add {
        background-color: transparent !important;
        border: 0px !important;
        cursor: default !important;
    }

#unidadesModoOperacionExtra {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.tabla_ho_desg input[type=text]:disabled {
    background-color: lightgray;
    color: #4876AA;
}

.tabla_ho_desg td input.fila_desg {
    margin-top: 2px;
    margin-bottom: 2px;
}


.tabla_ho_esp .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}

    .tabla_ho_esp .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.tabla_ho_esp .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .tabla_ho_esp .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        top: 3px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.tabla_ho_esp input:checked + .slider {
    background-color: #2196F3;
}

.tabla_ho_esp input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.tabla_ho_esp input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}
/* Rounded sliders */
.tabla_ho_esp .slider.round {
    border-radius: 34px;
}

    .tabla_ho_esp .slider.round:before {
        border-radius: 50%;
    }

#popupAgregarDesglose input[type=text]:disabled {
    background-color: lightgray;
    color: #4876AA;
}

#popupAgregarDesglose select:disabled {
    background: lightgray;
    color: #4876AA;
}

.tabla-adicional3 tbody tr td, thead tr th {
    /*white-space: initial !important; no muestra bien las tablas de otros reportes*/
}

table.tabla-adicional3.pretty tfoot td {
    text-align: center;
}

.PiePaginaWeb {
    font-size: 14px;
    /*font-weight: bold;*/
    font-style: italic;
    float: left;
    color: #428BD3;
    text-align: center;
}

.prodgen_mes_0 {
    background-color: #5b39ad !important;
}

.prodgen_mes_1 {
}

.tablaProdGen tbody tr td.unidad {
    text-align: left;
    padding: 0 4px;
}

.tablaProdGen tbody tr td.tgener {
    text-align: center;
    padding: 0 4px;
}

.tablaProdGen tbody tr td.valor_num {
    text-align: right;
    padding: 0 4px;
}

.tablaProdGen tbody tr td.total {
    background-color: #b8e2fb !important;
    text-align: right;
    padding: 0 4px;
}

.alignValorRight {
    text-align: right !important;
    padding-right: 5px !important;
}


#tblCondicionTermico > th, #tblCondicionTermico > td {
    white-space: nowrap;
}

#grafico > div.dataTables_wrapper {
    width: 1600px;
}

.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

table.table_agrup tr.tr_cab .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_cab .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_cab .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: #F9F9F9;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_det .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_agrup tr.tr_foot .td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: middle;
}

table.table_central_agrup thead .th1 {
    text-align: center;
    background: #2980B9;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #9AC9E9;
}

table.table_central_agrup thead .th2 {
    background: white;
    border: 0px solid #9AC9E9;
}

tr.tr_table_central_agrup td.td_agrup {
    border: 1px solid #EAEAEA;
    background-color: white;
    vertical-align: top;
}

td.tr_conf_td01 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle;
    padding-top: 3px;
}

td.tr_conf_td02 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle !important;
    padding-left: 10px;
}

td.tr_conf_td03 {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    background-color: #D0EBE4;
    vertical-align: middle;
}

div.ms-parent ul {
    text-align: left !important;
}

/**********************Handsontable***********************/

.handsontable .htDimmed {
    color: black;
}

.ht_clone_top_left_corner tr:first-child th, .ht_clone_top tr:first-child th {
    background-color: #D9E1F2;
    color: black;
}

.ht_clone_top_left_corner tr:nth-of-type(2) th, .ht_clone_top tr:nth-of-type(2) th {
    background-color: #2F75B5;
    color: white;
    vertical-align: middle;
}

.ht_clone_top_left_corner tr:nth-of-type(3) th, .ht_clone_top tr:nth-of-type(3) th {
    background-color: #D9E1F2;
    color: black;
}

.ht_clone_top_left_corner tr:nth-of-type(4) th, .ht_clone_top tr:nth-of-type(4) th {
    background-color: #E2EFDA;
    color: black;
}

.clase_par {
    font-weight: bold;
}

.clase_impar {
}

.sinFormato {
    /* color: #000000 !important;
    font-weight: bold;
    background: orange !important;*/
}

.errorLimitInferior {
    color: red !important;
    text-align: right;
}
.errorNoNumerico {
    color: red !important;
    text-align: right;
}
/*Yupana*/
.td_fuente_3 { /*aporte*/
    color: black;
    background: #22AEE2 !important;
}

.td_fuente_4 { /*planta rer*/
    color: black;
    background: #4AB516 !important;
}

.celdaInfoPorUsuario,
.td_fuente_5 {
    color: #ffffff !important;
    font-weight: bold;
    background: #7149A7 !important;
}

.cuadro-sh {
    width: 20px;
    height: 10px;
    border: 1px solid #555;
}

.celdaPeriodo {
    color: #fff !important;
    background: #2F75B5 !important;
}


.tabla_filtro_ho tr td {
    padding-right: 5px;
}