@model COES.MVC.Intranet.Areas.StockCombustibles.Models.FiltroStockCombustibleModel

<script type="text/javascript">

    $(function () {
        $('#cbCentral').multipleSelect({
            width: '250px',
            filter: true
        });

        $('#cbCentral').multipleSelect('checkAll');

    });

</script>


<select id="cbCentral" name="IdCentral" multiple="multiple">
    @foreach (var item in Model.ListaCentral)
    {
        <option value="@item.Equicodi">@item.Equinomb</option>
    }
</select>
<input type="hidden" id="hfCentral" /> 
