@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel

<script type="text/javascript">

    $(function () {
        $('#cbAgente').multipleSelect({
            width: '250px',
            filter: true,
            onClick: function (view) {
                cargarCentral();
        },
        onClose: function (view) {
            cargarCentral();
        }
        });

        $('#cbAgente').multipleSelect('checkAll');       

    });

</script>


<select id="cbAgente" name="IdAgente" multiple="multiple">                                                    
    @foreach (var item in Model.ListaEmpresas)
        {
            <option value="@item.Emprcodi">@item.Emprnomb</option>
        }                                        
</select>
<input type="hidden" id="hfAgente" />    
