@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel 
<script type="text/javascript">
    $(document).ready(function () {
        $('#tab-container').easytabs({
            animate: false
        });
    });
</script>
 

<div id="reporte">
    @Html.Raw(Model.Resultado)
</div>
<table>
    <tr>
        <td><div id ="excelGrafico" style="display: none; width: 250px; "></div></td>
    </tr>
</table>
<div id="graficos" style="display:none;">
    <h1>Reporte Grafico</h1>    
</div>
