@model COES.MVC.Intranet.Areas.StockCombustibles.Models.StockCombustiblesModel 
<script>
    $(document).ready(function () {
        $("#tab1").on("click", function () {
            generarGrafico(1);
        });
        $("#tab2").on("click", function () {
            generarGrafico(2);
        });
        $("#tab3").on("click", function () {
            generarGrafico(3);
        });
    });
</script>

<div id="reporte">
    @Html.Raw(Model.Resultado)
</div>
<table>
    <tr>
        <td><div id ="excelGrafico" style="display:none;"></div></td>
    </tr>
</table>
<div id="graficos" style="display:none;">
    <script type="text/javascript">

        $(function () {
            $('#tab-container').easytabs({
                animate: false
            });
            $('#tab-container').easytabs('select', '#stock');
        });

    </script>
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab' id="tab1"><a href="#stock">STOCK</a></li>
            <li class='tab' id="tab2"><a href="#recep1">RECEPCION - EVOLUCIÓN</a></li>
            <li class='tab' id="tab3"><a href="#recep">RECEPCION - ACUMULADO</a></li>
        </ul>
        <div class='panel-container'>
            <div id="stock">
            </div>
            <div id="recep">
            </div>
            <div id="recep1">
            </div>
        </div>
    </div>      
</div>
