@{
    ViewBag.Title = "ReporteStockCombustible";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<script src="~/Areas/StockCombustibles/Content/Scripts/validacionho.js"></script>
<div class="form-title_intranet">
    <div class="content-titulo">Validación Horas de Operación con Despacho</div>    
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Reporte" />       
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha desde:</td>
                <td>
                    <input type="text" id="Fecha" name="Fecha" value=""  />
                    <input type="hidden" id="hfFecha"  value=""  />
                </td>  
            </tr>                                   
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">       
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>        
</div>
