@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Ejecutivo Semanal";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
    
}
<script src="~/Content/Scripts/highcharts.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=2.0.0" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5cargarmenu.js?v=2.0.0"></script>
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5globalFuncion.js?v=2.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/consumocombustible.js?v=2.0.0"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>

        <div style="clear:both; height:10px; padding-top:25px;"></div>
        <div id="grafico1" style="display:none;"></div>

        <div style="clear:both; height:10px; padding-top:25px;"></div>
        <div id="grafico2" style="display:none;"></div>

        <div style="clear:both; height:10px;  padding-top:25px;"></div>
        <div id="grafico3" style="display:none;"></div>
    </div>
</div>