@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Ejecutivo Semanal";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
    
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js?v=2.3"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=2.0.0" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5cargarmenu.js?v=2.0.0"></script>
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5globalFuncion.js?v=2.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/retopercomercialsein.js?v=2.0.0"></script>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_ejecutivo_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div class="action-alert" id="mensaje2" style="margin-bottom: 5px; margin-top: 0px; display: inline-flex;">
            La configuración de las unidades de generación se encuentra en <span style="color: #428BD3; font-size: 12px;text-indent: 5px;padding-right: 5px;">Equipamiento / Clasificación de equipo </span> Categoría: TIPO TECNOLOGÍA
        </div>

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>

        <div style="clear:both; height:10px"></div>
        <div id="grafico1" style="display:none;"></div>
    </div>
</div>