@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "Ejecutivo Semanal";
    Layout = "~/Areas/IEOD/Views/Shared/ViewSharedNumerales.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/grouped-categories.js"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=2.0.0" rel="stylesheet" />

<link href="~/Areas/IEOD/Content/Css/menuPR5.css?v=2.0.0" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5cargarmenu.js?v=2.0.0"></script>
<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/pr5globalFuncion.js?v=2.0.0"></script>

<script src="~/Areas/IEOD/Content/Scripts/ejecutivoSemanal/evolucioncaudales.js?v=2.0.2"></script>
<script src="~/Areas/IEOD/Content/Scripts/graficosreporte/graficosreporteweb.js?v=1.1"></script>

<style>
    .content-titulo {
        width: auto !important;
    }
</style>

@Html.Partial("CargarMenu")

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
    <div class="content-botonera">
        <input type="button" value="Gráficos Reporte web" id="btnPopupGraficos" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/IEOD/Views/Shared/_FuenteDatos.cshtml")

    <div class="content-tabla" id="html_grafico">
    </div>
</div>

<!--Gráficos Reporte Web-->
<div id="idPopupGraficosReporte" class="general-popup" style="width: 700px; max-width: 700px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Gráficos visibles en Reporte Web</span></div>

    <div style="clear:both; height:5px"></div>

    <div id="div_hoja_graficos"></div>

    <table class="table-search" style="width:auto">
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVisibleHoja" value="Guardar" />
            </td>
        </tr>
    </table>
</div>