@model COES.MVC.Intranet.Areas.Admin.Models.ComiteListaModel

<div class="content-registro">

    <form id="frmRegistroLista">
        <div id="mensajeListaEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Nueva Lista:</td>
                <td class="registro-control">
                    <input type="hidden" id="txtCodigoComite" name="ComiteCodigo" value="@Model.Entidad.Comitecodi"/>
                    <input type="text" id="txtListaDistribucion" name="Nombre" style="width:375px" value="" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarLista" value="Grabar" />
            <input type="button" id="btnCancelarLista" value="Cancelar" />
        </div>

        <div class="popup-title" style="margin-bottom: 10px; margin-top: 15px"><span>Listas de Distribución</span></div>
        <div class="comite-content" id="comite-content">


            <table border="0" class="pretty tabla-icono" id="tabla">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lista)
                    {
                        <tr>
                            <td>
                                @item.Comitelistaname
                            </td>
                            <td>
                                <a href="JavaScript:eliminarListabyComite(@item.Comitelistacodi);"><img src="~/Content/Images/btn-baja.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </form>
</div>
