@model COES.MVC.Intranet.Areas.Admin.Models.ComiteModel

<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr>
                <td class="registro-label">Nombre Comité:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombre" name="Nombre" style="width:375px" value="@Model.Entidad.Comitename" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigo" name="Codigo" value="@Model.Entidad.Comitecodi" />

    </form>
</div>
