body 
{	
	top:0px;
	left:0px;
	margin-top:0px;
	font-family:Arial, Helbetica, sans-serif;
	font-size:12px;
	color:#245C86;
    margin:0;
    background-color:#F6F6F6;
}

.bg-color-secondary {
    background: #FFFFD7 !important;
}

.modalitem {
    z-index:20000;
    width:400px;
    height:100px;    
    border:4px solid #2980B9;
    background-color:#fff;
    position:absolute;
    right:20px;
    padding:15px;
}

.cuerpo
{	
	top:0px;
	left:0px;
	margin-top:0px;
	font-family:Arial, Helbetica, sans-serif;
	font-size:12px;
	color:#245C86;
    margin:0;
    background-color:#FFF;
}

.layout 
{	 
	min-height:800px;	
	margin:auto;
}

.header 
{
	height:40px;      
	width:auto;    	
	background:#3D8AB8;
    padding-right:20px;
}

.header-content 
{
	width:auto;
	margin:auto;	 
}

.content-menu 
{   	
	width:200px;
}

.content-frame
{
    width:auto;   
}

.content-frame table
{
    width:100%;    
    border:0px none;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
}

.content-frame table tr td
{
    vertical-align:top;
    
}

.content-frame table tr .frame-menu
{
   width:200px;
}

.content-frame table tr .frame-section
{
    background-color:#fff;
    border:1px solid #DDDDDD;
    width:100%;    
}

.content
{   
	padding-top:0px;
	padding-bottom:60px;
	margin:auto;
	width:auto;
	min-height:700px;
    height:auto;	
}

.content-header
{
    height:25px;      
	width:auto;
    border-bottom:1px solid #DDDDDD;    	
}

.mapa
{
    float:left;
    width:900px;
    color:#428BD3;
    font-size:12px;
    line-height:25px;
    text-indent:15px;
    font-weight:lighter;
}

.logo 
{
	height:95px;
	width:200px;
	float:left;
    text-align:center;    
}

.logo-img 
{
	float:left;
	margin:5px 0 0 20px;
    text-align:center;
}

.logo-text 
{
	float:left;
	margin-top:35px;
	margin-left:20px;
	font-size:15px;
	font-weight:bold;
}

.mapa span
{
    padding:0 5px;
    color:#CFCFDA;
}

.header-text
{
    height:40px;
    float:left;
    width:240px;
    line-height:40px;	
}

.header-text-item
{
    float:left;
    width:auto;
    color:#fff;
    margin-left:15px;
}

.header-text-item img
{
    padding-top:10px;
    cursor:pointer;
}

.header-text-item img:hover
{
    opacity:0.5;
}

.header-action 
{
	height:40px;	
	width:600px;
	float:right;
}

.header-action-item 
{
	width:auto;
	float:right;
	margin-left:10px;
    color:#fff;
    line-height:40px;
}

.header-action-item a 
{
	color:#fff;
	text-decoration:none;
}

.header-action-item a:hover 
{
	color:#FF770D;
	text-decoration:underline;
}

.img-circular
{
     width: 30px;
     height: 30px;    
     background-size: cover;
     display: block;
     border-radius: 15px;      
     margin-top:4px;
     background-image:url('../images/icon-user.png');
}

.header-action-text 
{
	width:auto;
	float:right;
	margin-left:10px;
	font-weight:bold;
    color:#fff;
    line-height:40px;
}

.footer 
{    
	margin:auto;
	text-align:center;
	font-size:11px;
	color:#245C86;
	margin-top:10px;
}

.search-content 
{
	background-color:#EDF5FC;
	border:1px solid #D9E8F3;
	padding:15px;
	width:auto;   
	border-radius: 4px;	
	margin-bottom:20px;
}

.search-content input[type='text'] 
{
	background-color:#fff;
	width:100px;
}

.search-content select 
{
	background-color:#fff;  
	width:150px;  
}

.form-title 
{
	font-size:20px;
	color:#3D90CB;
	text-align:left;
    text-indent:15px;
	width:auto;	
    height:60px;
    line-height:50px;
    background-image:url('../images/fnd-map.png');
    background-position:bottom;
	background-repeat:repeat-x;         
}

.content-titulo
{
    width:auto;
    float:left;
    font-size:20px;
	color:#3D90CB;
}

.content-botonera
{
    float:right;    
    width:50%;
    margin-right:20px;
    height:30px;
}

.botonera-item
{
    width:auto;
    float:left;
    height:30px;
}

.content-hijo
{
    padding:15px;
    min-height:480px;
}

.form-title-popup 
{
	font-size:12px;
	color:#fff;
	text-align:center;
	width:auto;
	margin:0px 0 10px 0px;
    background-color:#417AA7;
    height:26px;
    line-height:26px;
    font-weight:bold;    
    border-radius: 4px;
}

.form-label 
{
	color:#4A97CE;
	font-weight:bold;
	float:left;
	margin-right:5px;
}

.form-control 
{
	float:left;
	margin-right:10px;
}

.form-action 
{
	float:left;
}

.form-action-r 
{
	float:right;
}

.form-enlace 
{
	float:right;
	text-align:right;
	margin-bottom:4px;
}

.form-enlace .enlace 
{
	float:right;
}

.form-enlace .enlace a 
{
	color:#3D90CB;
	text-decoration:none;
}

.form-enlace .enlace a:hover 
{
	color:#3D90CB;
	text-decoration:underline;
}

.form-enlace .sepacion 
{
	float:right;
	margin:0 10px;
}

.clear 
{
	clear:both;
}

.formulario 
{

}

.table-form-show tr
{
    line-height:22px;    
}

.formulario-item 
{
	background-color:#D9E8F3;
	height:35px;
	width:auto;
	margin:10px 0;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
}

.formulario-label 
{
	color:#5289B1;
	font-weight:bold;
	width:120px;
	float:left;
	text-indent:15px;
	line-height:35px;    
}

.formulario-control 
{
	width:230px;
	float:right;
	line-height:35px;
	margin-right:15px;
}

.formulario-boton 
{
	text-align:center;
	width:auto; 
}

.formulario-control span button 
{
	margin-top:7px;
}

.form-texto-cuadro
{
    background-color:#F4F9FD;
    min-height:30px;
    width:auto;
    padding:15px;
    border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    border:1px solid #D3E8F8;
}

.tbform-label
{
    font-weight:bold;
    color:#3D90CB;
}

.tbform-control
{
    padding-left:30px;
    padding-right:30px;
}

.popup-title 
{
	width:auto;
	border-bottom:2px solid #D9E8F3;
	line-height:30px;
}

.popup-title span 
{
	color:#3D90CB;
	font-size:15px;
	font-weight:bold;
}

.popup-text 
{
	margin:15px 0;
	color:#245C86;
}

.contet-auditoria
{
    margin-left:5px;
    margin-top:20px;
}

.contet-auditoria strong
{
    
}

.contet-auditoria span
{
     font-weight:bold;   
}

.celda-amarrilla
{
    background-color:#FFFFE1;
    color:#2980B9;
}

.celda-verde
{
    background-color:#C0DCC0;
    color:#2980B9;
}

fieldset
{
	border:1px solid #3D90CB;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	position:relative; 
	margin:0px 0; 
	padding:10px;	
	padding-bottom:30px
}

legend
{
	background:#FFF; 
	color:#009AD9;
	font-size:14px; 
	font-weight:bold;	
}

.action-message
{
	margin-top:10px;
	background:#E8F6FF url('../images/ico-info.gif') no-repeat 10px 50%;
	border:2px solid #B8E2FB; 
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-message-hop {
    margin-top: 10px;
    background: #E8F6FF;
    border: 2px solid #B8E2FB;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.action-error
{
	margin-top:10px;
	background:url("../images/ico-delete.gif") 10px 50% no-repeat;
	border:2px solid #FFAEAE; 
	background-color:#FEEBEB;
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-exito
{
	margin-top:10px;
	background:url("../images/ico-done.gif") 10px 50% no-repeat;
	border:2px solid #BBDF8D; 
	background-color:#EAF7D9;
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-titulo
{
	margin-top:10px;	
	border:2px solid #4BA2DB; 
	background-color:#4BA2DB;
	padding:10px;
    color:#fff;
    font-size:12px;    
    font-weight:bold;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-alert
{
	margin-top:10px;
	background:url("../images/ico-warning.gif") 10px 50% no-repeat;
	border:2px solid #F2DD8C; 
	background-color:#FFF5CC;
	padding:10px;
	text-indent:30px;	
	 border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-message-hop ul, .action-message ul, .action-error ul, .action-exito ul, .action-alert ul {
    margin: 0px;
    margin-left: 20px;
}

.action-message-hop ul, .action-message ul li, .action-error ul li, .action-exito ul li, .action-alert ul li {
    margin-left: 0;
    text-indent: 0px;
    padding-left: 0px;
}

input[type=button], input[type=submit], .btnPrimaryIntranet
{
	background-image:url('../images/fndboton.png');
	background-repeat:repeat-x;
	color:#ffffff;
	font-weight:bold;
	font-size:11px;
	padding:0 10px;  
	cursor:pointer;
	height:25px;
	line-height:20px;
	padding-bottom:2px;
	border:1px solid #6CBCE8;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	margin-left:4px;
}

input[type=button]:hover, input[type=submit]:hover 
{
	background-image:url('../images/fndboton-hover.png');
	background-repeat:repeat-x;
	color:#ffffff;
	border-color:#7FB5D2;
}

select 
{
    padding:3px;
    margin: 0;
	border:1px solid #CBD3CF;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:5px;
    background: #f8f8f8;
    color:#888;
	width:220px;   
    outline:none;
    display: inline-block;
    cursor:pointer;	
    font-size:12px
}

select:hover 
{
	background-color:#FFFFD7;    
}

select:active 
{
	background-color:#FFFFD7;    
}
input.bg-white {
    background-color: white !important;
    border: 1px solid #CBD3CF;
    border-radius: 5px;
    width: 220px;
    height: 20px;
    text-indent: 8px;
    font: 12px "arial", sans-serif;
    color: #4876AA;
}

select.bg-white {
    background-color: white !important;
}

input[type=text] 
{
	background-color:#F2F4F3;
	border:1px solid #CBD3CF;	
	border-radius: 5px;
	width:220px;
	height:20px;
	text-indent:8px;
	font:12px "arial", sans-serif;
	color:#4876AA;	
}

input[type=text] :focus, input[type=text] :hover, input[type=text] :active
{
     background-color:#FFFFD5;
}

.btn-ok
{
    background-image:url('../images/btn-ok.png');
    width:24px;
    height:24px;
    cursor:pointer;
    float:left;
}

.btn-cancel
{
    background-image:url('../images/btn-cancel.png');
    width:24px;
    height:24px;
    cursor:pointer;
    float:left;
}

.btn-edit
{
    background-image:url('../images/btn-edit.png');
    width:24px;
    height:24px;
    cursor:pointer;
    float:left;
}

.btn-delete
{
    background-image:url('../images/btn-cancel.png');
    width:24px;
    height:24px;
    cursor:pointer;
    float:left;
}

.btn-open
{
    background-image:url('../images/btn-open.png');
    width:24px;
    height:24px;
    cursor:pointer;
    float:right;
}

.btn-add
{
    background-image: url('../images/btn-add.png');
    width: 24px;
    height: 24px;
    cursor: pointer;
}    

.ui-autocomplete-input
{
    width:320px;	
	line-height:20px;
	background-color:#F2F4F3;
	border:1px solid #CBD3CF;
	color:#5289B1;
	font-size:12px;
	border-radius: 4px;
	text-indent:10px;	
}

input[type=text]:active 
{
	background-color:#FFFFD7;  
}

input[type=password] 
{
    background-color:#F7F9F8;
	border:1px solid #CBD3CF;	
	border-radius: 5px;
	width:240px;
	height:24px;
	text-indent:8px;
	font:12px "arial", sans-serif;
	color:#4876AA;	
}

input[type=password]:active 
{
	background-color:#FFFFD7;  
}

.acciones-rigth 
{
	float:right;
	text-align:right;
	margin-bottom:15px;
}

.loading 
{
	display:none;
	width:200px;
	height:50px;
	padding:13px;
	background-color:#fff;
	border:3px solid #3D90CB;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	position:absolute;
	z-index:20000; 
}

.loading-image 
{
	width: 60px;
	float: left;
}

.loading-text 
{
	width:120px;
	float:left;
	color:#6797BA;
	font-weight:bold;
	line-height:50px;
	font-size:13px;
}

.resultado-stock 
{
	width:300px;
	text-indent:0;
	margin-left:40px;    
}

.resultado-copiar 
{
	width:350px;
	text-indent:0;
	margin-left:40px;  
	overflow-x: scroll;
	max-height:100px;
	text-wrap:none;
}

.resultado-copiar li 
{
	min-width:700px;
}

.resultado-copiar::-webkit-scrollbar 
{
	height:10px;
	width:10px;    
}

.resultado-copiar::-webkit-scrollbar-track 
{
	-webkit-box-shadow: inset 0 0 6px #E8F6FF; 
	border-radius: 5px;
}

.resultado-copiar::-webkit-scrollbar-thumb 
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px  #E8F6FF;
	background-color:#B8E2FB 
}

.panel-popup 
{
	background-color:#fff;
	border-radius:6px 6px 6px 6px;
	box-shadow:0 0 25px 5px #999;
	color:#111;
	display:none;
	min-width:320px;
	padding:25px;
	position:absolute;
	z-index:1000;
	margin:5px;
}

.botoncerrar
{
	background-color:#6BA9D0;
	border-radius:3px;
	box-shadow:0 2px 3px rgba(0,0,0,0.3);
	color:#fff;cursor:pointer;
	display:inline-block;
	padding:2px 6px;
	text-align:center;
	text-decoration:none;
	float:right
}

.botoncerrar 
{
	border-radius:4px 4px 4px 4px;
	box-shadow:none;
	font:bold 131% sans-serif;
	padding:0 6px 2px;
	position:relative;
	float:right;
}

.home-content 
{
	width:94%;
	margin:auto;
	margin-top:35px;
	min-height:500px;
}

.home-img 
{
	width:28%;   
	float:left;
}

.home-img img 
{
	width:100%;
}

.info-img 
{
	width:auto;   	
}

.info-img img 
{
	
}

#tablaHome tr td.separer-home
{
    border-left:1px dashed #3D90CB;
    width:30px;
}

.acceso-directo-title 
{
    font-size:18px;
    color:#3D90CB;
    margin-bottom:10px;
}

.acceso-directo-manage 
{
    width:895px;
    text-align:right;
}

.acceso-directo-content 
{
    width:auto;
    height:auto;
}

.acceso-directo-item 
{
    width: 90px;
    height: 90px;
    float: left;
    margin:10px 25px 10px 0;
    text-align: center;
    background-image: url('../Images/fondoacceso.png');
    background-repeat:no-repeat;
}

.acceso-directo-item img 
{
    margin-top:10px;
    width:40px;
    height:40px;    
}

.acceso-directo-item a 
{
    color:#3D90CB;
    text-decoration:none;    
}

.acceso-directo-item a:hover  
{   
    color:#FF770D;
    text-decoration:underline;
}

.acceso-directo-item a:hover img 
{   
    color:#FF770D;
    text-decoration:none;
    opacity:0.5;
}

.home-txt 
{
	width:auto;	
	font-size:12px;
	line-height:20px;
    text-align:center;
}

.home-txt a 
{
	color:#3D90CB;
	text-indent:5px;
	padding-left:5px;
}

.home-txt a:hover 
{
	color:#FF770D;
} 

.info-txt 
{
	width:38%;
	float:right;
	font-size:12px;
	line-height:20px;
}

.info-txt a 
{
	color:#3D90CB;
	text-indent:5px;
	padding-left:5px;
}

.info-txt a:hover
{
	color:#FF770D;
}

.oculto 
{
	display:none;
}

.frame 
{
	width:100%;
	border:1px none;
	min-height:650px;
}

.column-left 
{
	width:35%;
	float:left;
}

.column-center 
{
	width:65%;
	float:right;
}

.tbConfiguracion tr td 
{
	vertical-align:top;
}

.tbSeparer 
{
	width:20px;
}

.content-boton 
{
	float:right;
	clear:both;
	margin-top:20px;
	text-align:right;
	width:250px
}

.boton-item 
{
	float:right;
	margin-left:5px;
}

.ui-autocomplete 
{
	padding: 0;
	list-style: none;
	background-color: #fff;
	width: 218px;
	border: 1px solid #B0BECA;
	max-height: 350px;
	overflow-y: scroll;
}

.ui-autocomplete .ui-menu-item a 
{
	border-top: 1px solid #B0BECA;
	display: block;
	padding: 4px 6px;
	color: #353D44;
	cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child a 
{
	border-top: none;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover 
{
	background-color: #D5E5F4;
	color: #161A1C;
}

.cuadro-permiso
{
    top:370px;
	left:50%;
	z-index:1000;
	position:absolute;
	background-color:White;
	display:none;        
    width:20%;
} 
	 
.OverlayEffect
{
	background-color: black;  
	filter: alpha(opacity=70);  
	opacity: 0.7; 
	width:100%;
	height:100%;
	z-index:400;
	position:absolute;
	top:0;
	left:0;        
}

.rol-content
{
    height:300px;
    margin-left:40px;   
}

.rol-item
{
    height:20px;
    float:left;
    min-width:280px;
    margin-right:10px;
}

.rol-item .rol-select
{
    float:left;
    margin-right:10px;
}

.content-tabla
{

}

.tabla-header
{

}

.table-title
{

}

.table-paginado
{

}

.table-list
{

}

.paginado
{
    height:25px;    
    width:auto;
    float:right;   
    margin-bottom:10px;
    margin-top:10px;
}

.paginado div
{
    float:left;
    height:25px;
    width:25px;
    width:auto;   
    line-height:25px;
}

.paginado div a
{
    color:#3498DB;
    text-decoration:none;
    padding:0 4px;   
}

.paginado div:hover 
{
    
    font-weight:bold;
    background-color:#3498DB; 
}

.paginado div:hover a, .paginado div a:hover
{
    color:#fff;
} 

.paginado-activo
{
    background-color:#3498DB; 
}

.paginado-activo a span
{
   color:#fff;
}

.pag-ini
{
    font-weight:bold;       
}

.pag-fin
{
   font-weight:bold;
}

.content-botonera
{
    float:right;
    width:auto;
    height:30px;
}

/**ESTILOS PARA LAS TABLAS**/

.tabla-inside
{
    width:auto;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
}

.tabla-formulario
{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
}

.tabla-formulario thead tr
{
    background-color:#2980B9;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:20px;
    font-size:10px;
}

.tabla-formulario thead tr th a
{
    color:#ffffff;
}

.tabla-formulario tbody tr td
{
    border:1px solid #DDDDDD;
    line-height:18px;
    padding-left:5px;
    padding-right:5px;    
    font-family:Arial, Helbetica, sans-serif;
    font-size:11px;   
}

.tabla-formulario tbody tr:hover
{
    background-color:#FFFFD7;        
}

.tabla-formulario tbody tr td a 
{
    color:#FF770D;
    text-decoration:none;
}

.filaseleccionada {
     background-color:#FFFFD7;     
     color:#FF770D;
     font-weight:bold;
}


.tabla-formulario tbody tr td img 
{
    width:18px; 
    margin:auto;
    padding:0px;
    line-height:18px;
}

.tabla-formulario tfoot tr
{
    background-color:#2980B9;
    color:#fff;
    text-align:center;
    font-weight:bold;
    line-height:20px;
    font-size:10px;
}

.tabla-formulario tfoot tr td
{
    border:1px solid #DDDDDD;
    line-height:18px;
    padding-left:5px;
    padding-right:5px;    
    font-family:Arial, Helbetica, sans-serif;
    font-size:11px;   
}

.tabla-icono tbody tr td {
    vertical-align:middle;
    padding:1px;
    border:1px solid #dddddd;
}

.tabla-icono tbody tr td a img {
    width:19px;
    height:19px;
   
}

.tabla-icono tbody tr td li {
    text-align:left;
    padding-left:20px;
    line-height:17px;
}


.table-subtotal 
{
    font-weight:bold;    
    background-color:#E8F6FF;    
    font-size:16px;
}

.table-total 
{    
    font-weight:bold;    
    color:#fff;
    background-color:#2E8DCD;    
    font-size:16px;    
}

.table-subtotal-header 
{
    font-weight:bold;    
    color:#245C86;
    background-color:#E8F6FF;    
    font-size:12px;
}

.tabla-adicional tbody tr td, thead tr th 
{
    white-space: nowrap;
    overflow: hidden;
    font-size:11px;
    border:1px solid #dddddd;    
}

.tabla-adicional tbody tr td 
{
    white-space: nowrap;
    overflow: hidden;
    font-size:11px;
    text-align:left;
    padding:0 4px;
    border:1px solid #dddddd;    
    vertical-align:middle;  
}

.tabla-sinpadding tbody tr td 
{
    white-space: nowrap;
    overflow: hidden;
    font-size:11px;
    text-align:left;
    padding:2px 4px;
    border:1px solid #dddddd;    
    vertical-align:middle;  
}

.tabla-sinpadding tbody tr:hover
{
    background-color:#FFFFD7;
}

.tabla-adicional tfoot tr td 
{
    white-space: nowrap;
    overflow: hidden; 
    border:1px solid #dddddd;
}

.tabla-iconofinal tbody tr td:last-child a img 
{
    text-align:center;
    margin-left:23px;
}

.tabla-adicional tbody tr td a img  
{
    width:18px;
    height:18px;    
    float:left;
    margin-left:2px;      
}

.tabla-total 
{
    font-weight:bold;    
    background-color:#E8F6FF;
    text-indent:5px;
    font-size:16px;
}

.content-tabla-search tr
{
    line-height:22px;
}

.content-tabla-search tr td
{
    padding-right:15px;
}

.table-form-vertical 
{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;   
    padding:0; 
    margin-top:10px;
}

.table-form-vertical tr 
{
    line-height:22px;
}

.table-form-vertical tr td 
{
    padding-left:20px;
}

.table-form-vertical tr td:first-child 
{   
    font-weight:bold;
    padding-left:0px;
    color:#3D90CB;
}

.table-form-vertical2 tr td:first-child 
{   
    font-weight:bold;
    padding-left:0px;
    color:#3D90CB;
}

.table-form-vertical tr:last-child td 
{
    text-align:center;
    padding:14px;
}

.content-scroll
{
    position:relative; 
    margin:0px auto; 
    padding:0px;        
    height: 610px; 
    overflow: scroll; 
    padding-right:2px;
}

.cuadro-resumen 
{
    border:1px solid #EEEFEF;	
    background-color:#FBFBFB;
    width:300px;
    height:20px;
    line-height:20px;
    padding:5px 15px;
    float:right;
    border-radius: 6px;	
}

.areaevento 
{   
	border:1px solid #CBD3CF;	
	border-radius: 5px;
	width:220px;
	height:20px;
	padding:2px 8px 2px 8px ;
	font:12px "arial", sans-serif;
	color:#4876AA;	
}

.acceso-directo-header {
    width:300px;
    display:none;
    position:absolute;
    z-index:20000;
    background:#fff;    
    line-height:20px;    
    box-shadow: 4px 4px 4px #CBD3CF;
    margin-top:0px;
    border:1px solid #D6E8FF;
    border-top:none;
}

.acceso-directo-header-cnt {
    max-height:300px;
    overflow-x:none;
    overflow-y:scroll;
}

.acceso-directo-header-item { 
    border-bottom:1px solid #D6E8FF;
    height:20px;
    text-indent:0px;   
    line-height:20px;
    text-indent:20px;
}

.acceso-directo-header-item:hover {
    background-color:#FFFFD7;    
}

.acceso-directo-header-item a {
    color:#3D90CB
}

    .acceso-directo-header-item a:hover {
        color:#3D90CB;
        text-decoration:none;
            
    }

.acceso-directo-header-link {
    background-color:#4C97C3;
    padding:0 10px;
    height:24px;   
    line-height:24px;
    font-weight:bold;  
}

.acceso-directo-header-link a {
    color:#fff;    
}

.acceso-directo-header-text {
    background-color:#3D8AB8;
    height:24px;
    padding:0 10px;
    line-height:24px;
    font-weight:bold;  
    
}

.acceso-directo-header-text a {
    float:right;
    color:#fff;
}

textarea
{
	background-color:#F2F4F3;
	border:1px solid #CBD3CF;	
	border-radius: 5px;
	font:12px "arial", sans-serif;
	color:#4876AA;	
}


.file-carga 
{
    background:#fff;
    min-width:400px;
    min-height:200px;   
    padding:10px;
}

.file-name 
{   
    background: url('../Images/file.png')10px 50% no-repeat;    
    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 5px;
    text-indent: 30px;
    border-radius: 6px;
    margin-top:8px;
    margin-right:10px;
}

.remove-item 
{
    float:right;
    font-size:13px;
    font-weight:bold;
    color:red;
}

.file-carga-titulo {

    color:#2980B9;
    border-bottom:1px dashed #2980B9;
    font-size:15px;
    font-weight:bold;
    margin-bottom:20px;
    padding-bottom:10px;
}


.estado-carga {
    display:none;
    width:120px;
	height:20px;
    margin:auto;
    text-align:center
}

.estado-image 
{
	width: 20px;
	float: left;
}

.estado-text 
{
	width:100px;
	float:left;		
	line-height:20px;
	font-size:12px;
}

/*

    table.thead-fixed th {
        background: white;
        position: sticky;
        top: 0;*/ /* Don't forget this, required for the stickiness */
        /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }*/


table.thead-fixed {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}




    table.thead-fixed thead {
        background: white;
        position: sticky;
        top: 0;
    }
