body {	
	top:0px;
	left:0px;
	margin-top:0px;
	font-family:Arial, Helbetica, sans-serif;
	font-size:12px;
	color:#245C86;
    margin:0;
    background-color:#F6F6F6;
}


.layout {	 
	 min-height:800px;	
	 margin:auto;
}



.layout {	 
	 min-height:800px;	
	 margin:auto;
}

.header {
	height:40px;      
	width:auto;    	
	background:#3D8AB8;
    padding-right:20px;
}


.header-text
{
    height:40px;
    float:left;
    width:240px;
    line-height:40px;	
}

.header-text-item
{
    float:left;
    width:auto;
    color:#fff;
    margin-left:15px;
}

.header-text-item img
{
    padding-top:10px;
    cursor:pointer;
}

.header-text-item img:hover
{
    opacity:0.5;
}

.header-content {
	width:auto;
	margin:auto;	 
}

.header-action {
	height:40px;	
	width:400px;
	float:right;
}

.header-action-item {
	width:auto;
	float:right;
	margin-left:10px;
    color:#fff;
    line-height:40px;
}

.header-action-item a {
	 color:#fff;
	text-decoration:none;
}

.header-action-item a:hover {
	color:#FF770D;
	text-decoration:underline;
}

.login-body {
    background-color:#ffffff;
    margin:auto;
    border:1px solid #DDDDDD;
    padding:20px;
    width:1000px;
    margin-top:100px;
}

.login-title
{
    font-size:26px;
	color:#3D90CB;
	text-align:left;   
	width:auto;	
    height:60px;
    line-height:50px;
    margin-bottom:20px;   
}

.login-remember {
    color:#3D90CB;
    height:20px;
    margin:15px 0;
}

.login-logo {
    width:160px;
    margin-left:100px;
    


}

.login-text {
    margin-bottom:20px;
}


.login-separer 
{
    border-right:1px dashed #3D90CB;
    padding: 0 20px;
}

.login-form {
    
    width:350px;
    margin:20px;
    border:1px solid #EEEFEF;	
    background-color:#FBFBFB;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.login-header {
	
	color:#fff;
	height:30px;
	padding:15px;
	font-size:15px;
	font-weight:bold;
	line-height:30px;
	text-transform:uppercase;
	border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
}

.login-content {
	padding:20px;
}



.login-label {		
	line-height:30px; 
	font-weight:bold;
    color:#3D90CB;   
}

.login-control {	
	width:auto;
	line-height:30px;    
    margin-bottom:15px;
}

.controllogin {
	width:308px;
	background-color:#FFFFFF;
	height:35px;
	border:1px none;
	color:#5289B1;
    border:1px solid #D9DBDD;
	font-size:12px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	text-indent:10px;
	font-size:12px;
 }

.botonlogin {
    

}


.botonlogin {
	background-color:#3D8AB8;
	color:#ffffff;
	font-weight:bold;
	font-size:11px;
	padding:0 20px;  
	cursor:pointer;
	height:30px;
	line-height:20px;
	padding-bottom:2px;
	border:1px solid #3D8AB8;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	margin-left:4px;
}

.botonlogin:hover {
	background-color:#257CD3;
	color:#ffffff;
	border-color:#7FB5D2;
}


.login-action {
	text-align:center;
	margin:auto;
	margin-top:20px;
}



.loading {
	display:none;
	width:200px;
	height:50px;
	padding:13px;
	background-color:#fff;
	border:3px solid #3D90CB;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	position:absolute;
	z-index:20000; 
}

.loading-image {
	width: 60px;
	float: left;
}

.loading-text {
	width:120px;
	float:left;
	color:#6797BA;
	font-weight:bold;
	line-height:50px;
	font-size:13px;
}

.footer {    
	margin:auto;
	text-align:center;
	font-size:11px;
	color:#245C86;
	margin-top:10px;
}


.action-login
{
	margin-top:10px;
	background:#E5F5F9 url('../images/ico-info.gif') no-repeat 10px 50%;
	border:2px solid #CAE0E5; 
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}


.action-message
{
	margin-top:10px;
	background:#E8F6FF url('../images/ico-info.gif') no-repeat 10px 50%;
	border:2px solid #B8E2FB; 
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-error
{
	margin-top:10px;
	background:url("../images/ico-delete.gif") 10px 50% no-repeat;
	border:2px solid #FFAEAE; 
	background-color:#FEEBEB;
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-exito
{
	margin-top:10px;
	background:url("../images/ico-done.gif") 10px 50% no-repeat;
	border:2px solid #BBDF8D; 
	background-color:#EAF7D9;
	padding:10px;
	text-indent:30px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-alert
{
	margin-top:10px;
	background:url("../images/ico-warning.gif") 10px 50% no-repeat;
	border:2px solid #F2DD8C; 
	background-color:#FFF5CC;
	padding:10px;
	text-indent:30px;	
	 border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.action-message ul, .action-error ul, .action-exito ul, .action-alert ul
{
    margin:0px;
    margin-left:20px;
}

.action-message ul li, .action-error ul li, .action-exito ul li, .action-alert ul li
{
    margin-left:0;
    text-indent:0px;
    padding-left:0px;
}
