@model COES.MVC.Intranet.Areas.Admin.Models.EstadisticaModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Opción</th>
            <th>Cantidad</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEstadistica.Count > 0)
        {
            foreach (var item in Model.ListaEstadistica)
            {
                <tr>
                    <td>@item.OptionName</td>                    
                    <td>@item.Cantidad</td>                    
                </tr>
            }
        }
    </tbody>
</table>