@model COES.MVC.Intranet.Areas.Admin.Models.EstadisticaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/jquerytree.js"></script>
<script src="~/Content/Scripts/jquerytreednd.js"></script>
<link href="~/Content/Css/uitree.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/Scripts/estadistica.js"></script>


<div class="form-title">
    <div class="content-titulo">Estadísticas de Uso</div>
    <div class="content-botonera">
        <input type="button" id="btnCancelar" value="Cancelar" />
        <input type="button" id="btnExportar" value="Exportar" />
        <input type="hidden" id="ab" value="@Model.IdOpcion" />
    </div>
</div>

<div class="content-hijo">
    
    <table>
        <tr>
            <td>
                <div id="tree"></div>
            </td>
            <td>
                Fecha desde: <input type="text" id="txtFechaInicio" value="@Model.FechaInicio" style="width:120px" />
                Fecha hasta: <input type="text" id="txtFechaFin" value="@Model.FechaFin" style="width:120px" />
                <input type="button" value="Mostrar" id="btnMostrar" />
                <div id="listado"></div>
            </td>
        </tr>
    </table>

</div>