@model COES.MVC.Intranet.Areas.Admin.Models.EstadisticaModel

<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Opción</th>
            <th>Usuario</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaEstadistica.Count > 0)
        {
            foreach (var item in Model.ListaEstadistica)
            {
                <tr>
                    <td>@item.OptionName</td>
                    <td>@item.UserLogin</td>
                    <td>@item.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
            }
        }
    </tbody>
</table>