<script type="text/javascript">
    var treeData = @Html.Raw(ViewBag.Menu)

    $(function () {

        $("#tvOpciones").fancytree({          
            checkbox: false,
            selectMode: 1,
            source: treeData,          
            dblclick: function (e, data) {               
                cargarEstadisticaMenu(data.node.key);
                return false;
            }           
        });

        $("#tvOpciones").fancytree("getRootNode").visit(function (node) {
            node.setExpanded(true);
        });
    });

</script>

<div id="tvOpciones"></div>
