@model COES.MVC.Intranet.Areas.Formulas.Models.ConfiguracionPerfilModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Areas/Formulas/Content/Scripts/configuracion.js"></script>

<div class="form-title">
    <div class="content-titulo">Lista de fórmulas</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value="Nuevo" />
    </div>
</div>

<div class="content-hijo">

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Área operativa:</td>
                <td>
                    <select id="cbAreaOperativa">
                        <option value="">-TODOS-</option>
                        @{
                            foreach (var item in Model.ListaAreaOperativa)
                            {
                                <option value="@item.Areaabrev">@item.Areanomb</option>

                            }
                        }
                    </select>
                </td>
                <td><input type="button" id="btnBuscar" value="Buscar" /></td>
            </tr>
        </table>
    </div>

    <div id="listado">
    </div>

</div>