@model COES.MVC.Intranet.Areas.Formulas.Models.ConfiguracionPerfilModel

<script type="text/javascript">
    $(function () {
        $('#cbEmpresa').change(function () {
            cargarSubEstacion();
        });

        $('#cbSubEstacion').change(function () {
            cargarPuntos();
        });

        $('#btnAgregar').click(function () {
            addPunto();
        });
    });
</script>

<table style="width:auto">
    <tr style="line-height:20px">
        <td>Empresa:</td>
        <td>
            <select id="cbEmpresa">
                <option value="">-SELECCIONE-</option>
                @foreach (var item in Model.ListaEmpresas)
                {
                    <option value="@item.EmprCodi">@item.EmprNomb</option>
                }
            </select>
        </td>
        <td style="padding-left:15px">Subestación:</td>
        <td>
            <select id="cbSubEstacion" style="width:150px"></select>
        </td>
        <td style="padding-left:15px">Punto:</td>
        <td>
            <select id="cbPunto"></select>
        </td>
        <td>
            <input type="button" id="btnAgregar" value="Add" />
        </td>
    </tr>
</table>

<div style="clear:both;"></div>





