@model COES.MVC.Extranet.Areas.RegistroIntegrante.Models.SolicitudPendienteModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/RegistroIntegrante/Content/Css/solicitud.css" rel="stylesheet" />
<script src="~/Areas/RegistroIntegrante/Content/Scripts/solicitud.js?v=1.11"></script>
<div class="form-title" style="color: #278CCC; margin-bottom:0px;">SOLICITUDES</div>
<div class="form-main" style="margin-top:10px">
    <div id="mensaje"></div>
    <div style="clear:both; height:5px;"></div>

    <div style="width:770px; float:right">
        <input type="button" id="btnNuevaSolCambioDen" value="Cambio - Denominación Social" />
        <input type="button" id="btnNuevaSolCambioRpte" value="Cambio - Representante Legal" />
        <input type="button" id="btnNuevaSolBajaEmp" value="Baja de Empresa" />
        <input type="button" id="btnNuevaSolFusionEmp" value="Fusion de Empresa" />
        <input type="button" id="btnNuevaSolCambioTipo" value="Cambio - Tipo Agente" />
    </div>
    <div style="height:10px; clear:both"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="table-search" style="width:auto">
            <tr>
                <td>Estado de solicitud:</td>
                <td>
                    <select id="cbEstadoSolicitud" style="width:140px">
                        @foreach (var item in Model.ListaEstadoSolicitud)
                        {
                            <option value="@item.Soliestadocodi">@item.Soliestado</option>
                        }
                    </select>
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                   
                </td>
            </tr>
           
</table>
    </div>


    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>