@{
    ViewBag.Title = "Búsqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Areas/Web/Content/Scripts/busquedahistorico.js"></script>

<div class="form-title">
    <div class="content-titulo">Historial de consultas</div>
    <div class="content-botonera"></div>
</div>

<div class="content-hijo" id="mainLayout" style="min-height:auto;">

    <div id="mensaje"></div>

    <div class="search-content">
        <form id="selection-form">
            <div class="table-container" id="table-container">
                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha Creación Desde:</td>
                        <td>
                            <input id="txtFechaInicio" type="text" value="2025/01/01" />
                        </td>
                        <td>Fecha Creación Hasta:</td>
                        <td>
                            <input id="txtFechaFin" type="text" value="@DateTime.Now.ToString("yyyy/MM/dd")" />
                        </td>
                    </tr>
                </table>
                <input type="button" id="btnConsultar" value="Consultar" class="form-action" />
                <br style="display: block;" />
        </form>
    </div>
    <div id="listado" style="display: none;">
    </div>


</div>


