<script type="text/javascript">
    var treeData = @Html.Raw(ViewBag.ArbolGrupo)
   
    $(function () {

        $("#tvGrupo").fancytree({
            //extensions: ['contextMenu'],                       
            imagePath: 'http://www.coes.org.pe/appintranet/Areas/Despacho/Content/images/',
            source: treeData,
            autoActivate: false, // Automatically activate a node when it is focused (using keys).
            dblclick: function (e, data) {               
                abrirCurvaConsumo(data.node.key);
                return false;
            }//,       
            //contextMenu: {
            //    menu: {
            //        "curvaconsumo": { "name": "Curva de Consumo de Combustible", "icon": "grafico" }                   
            //    },                
            //    actions: function (node, action, options) {
            //        if (action == "curvaconsumo") {
            //            abrirCurvaConsumo(node.key);
            //        }
            //    }
            //}
        });

        $("#tvGrupo").fancytree("getRootNode").visit(function (node) {
            node.setExpanded(false);
        });
    });
</script>

<div id="tvGrupo"></div>
            
