@model COES.MVC.Intranet.Areas.Despacho.Models.GrupoDespachoModel

<script type="text/javascript">

    $(function () {
        $('#cbCentral').multipleSelect({
            width: '200px',
            filter: true
        });

        $('#cbCentral').multipleSelect('checkAll');
    });

</script>

<select id="cbCentral" multiple="multiple">
    @foreach (var item in Model.ListaCentral)
    {
        <option value="@item.Grupocodi">@item.Gruponomb</option>
    }
</select>

<input type="hidden" id="hfCentral" />