@model COES.MVC.Intranet.Areas.Admin.Models.VersionModeloModel

<div class="content-registro">

    <div class="popup-title" style="margin-bottom:10px"><span>Editar archivo</span></div>
    <form id="frmRegistroDetalle">
        <div id="mensajeFile" class="action-message">Por favor complete los datos</div>
        <table style="width:100%">

            <tr id="trPlanTransmision">
                <td class="registro-label">Nombre archivo:</td>
                <td class="registro-control">
                    <input type="text" id="txtNombreArchivo" name="NombreArchivo" maxlength="200" value="@Model.ArchivoModel.Arcmplnombre" style="width:300px" />@("." + Model.ArchivoModel.Arcmplext)
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción archivo:</td>
                <td class="registro-control">
                    <input type="text" id="txtDescripcionArchivo" name="DescripcionArchivo" maxlength="200" value="@Model.ArchivoModel.Arcmpldesc" style="width:300px" />
                </td>
            </tr>

        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarArchivo" value="Grabar" />
            <input type="button" id="btnCancelarArchivo" value="Cancelar" />
        </div>

        <input type="hidden" id="hfCodigoArchivo" name="Codigo" value="@Model.ArchivoModel.Arcmplcodi" />


    </form>

</div>
