<style type="text/css">
    input[text] {
        width: auto !important;
    }
</style>

<div class="content-registro">
    <form id="frmRegistro">
        <div id="modalmensaje"></div>
        <table style="width:100%">
            <input type="hidden" id="txtAnioPago" value="@(ViewBag.AnioInversion)" />
            <tr>
                <td class="registro-label">N° de Carta:</td>
                <td class="registro-control">
                    <input type="text" id="txtCarta" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">N° cheques:</td>
                <td class="registro-control">
                    <input type="text" id="txtNrocheque" readonly style="width: 160px" /> 
                    <a href="#" onclick="javascript: eliminarArchivo()"><img src="~/Content/Images/ico-delete.gif" /> </a>
                    <a href="#" onclick="javascript: $('#fuImportar').click()"><img src="~/Areas/DevolucionAporte/Content/Images/ic_upload.png" /> </a>
                    <a href="#" onclick="javascript: descargarAportantes()"><img src="~/Areas/DevolucionAporte/Content/Images/ic_download.png" /></a>
                </td>
            </tr>
            <tr>
                <td class="registro-label"></td>
                <td class="registro-control">
                    <input type="checkbox" id="chkConfirmarpago" /> Confirmar Pago
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRelacion" onclick="javascript: procesar()" value="Continuar" />
        </div>

    </form>
</div>