/*.tabla
{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.tablaDetalle
{
    width: 100%;    
    padding: 0px;
    margin: 0px;
}
.filaTitulo
{
    font-size: 12pt;
    font-family: Tahoma;
    font-weight: bold;
    color: #5D7B9D;
    background-color: #F0F0F0;
    width: 100%;
    height: 40px;
}
.filaBusqueda
{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 9pt;
    background-color: #F0F0F0;
    height: 50px;
}
.filaBotonera
{
    font-family: Verdana;
    font-size: 9pt;
    background-color: #F0F0F0;
    width: 600px;
    height: 40px;
}
.filaGrilla
{
    font-size: 10pt;
    width: 600px;
    height: 280px;
}

.alturaPequena
{
    height: 15px;
}
select
{
    border: 1px solid gray;
    color: #888;
    font: 12px;
    background-color: #f6f6f6;
    overflow: hidden;
}



.btnCal{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    padding: 0px;
    background-image: url('../../images/icons/month_calendar.png');
    width: 14px;
    height: 14px;
}

.btnNuevo{
    width: 100px;
    height: 25px;   
    background: #ABC8F0 url('../../images/icons/add-item.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
}

.btnBuscar{
    width: 100px;
    height: 25px;  
    background: #ABC8F0 url('../../images/icons/magnifying_glass.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
}

.btnAgregar{
    width: 100px;
    height: 25px;
    background: #ABC8F0 url('../../images/icons/add-item.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
}

.btnGuardar{
    width: 100px;
    height: 25px;
    background: #ABC8F0 url('../../images/icons/save16.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
}*/

.btnDisable{
    width: 100px;
    height: 25px;
    background: #ABC8F0 url('../../images/icons/access_denied_gray.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;    
}

/*.btnRegresar{
    width: 100px;
    height: 25px;
    background: #ABC8F0 url('../../images/icons/bended_arrow_left.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
}

.btnEliminar{
    width: 100px;
    height: 25px;
    background: #ABC8F0 url('../../images/icons/trashcan.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
}

.btnDespachar{
    width: 150px;
    height: 25px;
    background: #ABC8F0 url('../../images/icons/tableview.png') no-repeat 10px 5px;
    border: 1px solid #164D7C;
    text-indent: 22px;
    color: #164D7C;
    font-size: 11px;
    font-family: Tahoma;
    font-weight: bold;
}

.btnNuevo:hover{
    background-color: #2E6590;
    color: #FFFFFF;
}

.btnBuscar:hover{
    background-color: #2E6590;
    color: #FFFFFF;
}

.btnAgregar:hover{
    background-color: #2E6590;
    color: #FFFFFF;
}

.btnGuardar:hover{
    background-color: #2E6590;
    color: #FFFFFF;
}

.btnRegresar:hover{
    background-color: #2E6590;
    color: #FFFFFF;
}

.btnEliminar:hover{
    background-color: #2E6590;
    color: #FFFFFF;
}


.btnDespachar:hover{
    background-color: #2E6590;
    color: #FFFFFF;
}


.titulo{
    background:#f1f1f1 url('../../images/icons/arrow-active.png') no-repeat 10px center;
    padding-left:25px;
    margin-bottom:10px;
    font-size: 17px;
    color: #164D7C;
    border: 1px solid #ddd;
}

.subtitulo{
    background:#f1f1f1 url('../../images/icons/arrow-active.png') no-repeat 10px center; 
    padding-left:25px;
    margin-bottom:8px;
    font-size: 13px;
    color: #164D7C;
    border: 1px solid #ddd;
}

#resultado th{
    background-color: #2E6590;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    height: 28px;
    vertical-align: middle;
}

#resultado td{
    padding: 3px;
    border-bottom: 1px solid #cccccc;    
}

select {
    font-size: 11px;
    height: 22px;
}

fieldset {
    width: 700px;
    background-color: #F1F1F1;
    border:1px solid #ddd;
    padding:10px;
    margin:10px 0px;
}

legend {
    font-family: verdana;
    font-size: 12px;
    color: #162635;
    border: 0px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:10px;
    padding-left:10px;
} 

.filaNormal{
    background-color: #FFFFFF;
    height: 22px;
}
.filaAlterna{
    background-color: #F1F1F1;
    height: 22px;
}

#linknav{
    color: #C39C41;
    font-size: 11px;
}*/