@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.RevisionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList slEmpresaObservacion = new SelectList(ViewBag.EmpresaObservacion, "Emprcodi", "Emprnomb");
}

<div class="form-title">
    <div class="content-titulo">Consulta de Observaciones</div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="form-main" style="margin-top:10px">
        <div id="mensaje"></div>
        <div style="clear:both; height:5px;"></div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">

            <table class="content-tabla-search" style="width:auto">
                <tr>

                    <td><label>Inicio</label></td>
                    <td>
                        <input type="text" id="dtInicio" name="FechaInicio" value="@ViewBag.FechaInicio" />
                    </td>
                    <td><label>Fin</label></td>
                    <td>
                        <input type="text" id="dtFin" name="FechaFin" value="@ViewBag.FechaFin" />
                    </td>


                    <td><label>Empresa Propietaria</label></td>
                    <td>
                        @Html.DropDownList("cboEmpresaObservacion", slEmpresaObservacion, new { @style = "width:250px" })
                    </td>
                    <td>
                        <input type="button" id="btnConsultar" value='Consultar' />
                        @*<input type="button" id="btnConsultar" value='Excel' />*@
                    </td>
                </tr>
            </table>
        </div>

        <div style="clear:both"></div>
        <div class="content-tabla">
            <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tabla">
                <thead>
                    <tr>
                        <th>EMPRESA</th>
                        <th>EVENTO</th>
                        <th>OBSERVACION</th>
                        <th>LASTUSER</th>
                        <th>LASTDATE</th>
                    </tr>
                </thead>
                <tbody id="tbodyLista" align="left"></tbody>
            </table>

        </div>
    </div>
</div>
<script src="~/Areas/Eventos/Content/Scripts/observaciones.js"></script>
<script>
    iniLista();
</script>