
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js?v=1.1.7"></script>
<script src="~/Areas/Mape/Content/Scripts/reportemap48.js?v=3"></script>
<style>
    table.pretty tfoot td {
        text-align: center;
    }  
    

</style>
<div class="form-title">
    <div class="content-titulo" style="width:1000px;">Control de calidad de pronóstico de la demanda - MAPE </div>
</div>

<div class="content-hijo">

    <div id="mensaje" class="action-message" style="margin-bottom:5px; margin-top:0px">Seleccione el rango de años a consultar, y presione el botón "Consultar"</div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de Reporte:</td>
                <td>
                    <select id="cboTipoReporte" style="width: 140px">
                        <option value="1">Mensual</option>
                        <option value="2">Semanal-Diario</option>
                    </select>
                </td>

                <td class="rmensual">Año:</td>
                <td class="rmensual">
                    <input type="text" id="txtAñoInicio" value="@Model.Fecha2.Year" />
                </td>

                <td class="rmensual">Al Año:</td>
                <td class="rmensual">
                    <input type="text" id="txtAñoFin" value="@Model.Fecha2.Year" />
                </td>

                <td class="rsemanal">Año:</td>
                <td class="rsemanal">
                    <input type="text" id="txtAño" value="@Model.Fecha2.Year" />
                </td>
                <td class="rsemanal">Semana:</td>
                <td class="rsemanal">
                    <select id="cboSemana" style="width: 140px"></select>
                </td>

                <td>
                    <input type="button" id="btnConsultar" value='Consultar' />
                    <input type="button" id="btnExportar" value='Exportar' />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div id="tituloListado" class="content-titulo" style="width:100%; text-align: center; font-size: 18px;margin-bottom: 5px"></div>
        <div class="table-list" id="listado" style="float: left; width: 100%; height: auto;"></div>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listado1" style="float: left; width: 49%; height: auto;"></div>
        <div class="table-list" id="listado2" style="float: right; width: 49%; height: auto;"></div>
        <div id="evolucionMapeSemanalDiario" style="float: left; width: 49%; height: 400px;"></div>
        <div id="evolucionDesviacionSemanalDiario" style="float: right; width: 49%; height: 400px;"></div>
    </div>



    <br />
</div>



