.cuadro-filtro table{
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

table.pretty thead th {
    white-space: normal;
    font-size: 12px;
}
table.pretty tbody tr:hover {
    background-color: #e0e0e0;
}
table.tabla-icono tbody tr td {
    line-height: 1.5;
    padding: 1px;
    border: 1px solid #dddddd;
    font-size: 12px;
    background: none;
}
table.tabla-icono tbody tr td.celda{
    text-align: left;
}

.popup-title {
    width: auto;
    border-bottom: 2px solid #D9E8F3;
    line-height: 30px;
}

.popup-title span {
    color: #3D90CB;
    font-size: 15px;
    font-weight: bold;
}

.popup-text {
    margin: 15px 0;
    color: #245C86;
}
.popupGeneral {min-height: inherit;}

#btnProcesarFile {
    float:right;
}
#btnCancelar {
    float:right;
}

select{
    width: 100px;
}