@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Factor de Perdidas Medias";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<script src="~/Areas/PrimasRER/Content/Scripts/factorperdida.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Registro de Factores de Pérdidas Medias</div>
        <div class="content-botonera">
            <input type="button" id="btnNuevo" value="Agregar" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
        </div>
    </div>
    <div class="content-hijo">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>
        <div class="table-list" id="listado"></div>
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
    </div>
</div>

