@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel
@{
    ViewBag.Title = "Ingresar Nuevo archivo de Factores de Perdidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un nuevo archivo de Factor de Perdidas" }, { "sAccion", "Insertar" } })
</div>



