@model COES.MVC.Extranet.Areas.Transferencias.Models.TramiteModel
@{
    ViewBag.Title = "Registrar un comentario u observación";
    Layout = null;
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un Comentario u Observación" }, { "sAccion", "Insertar" }, { "sTipoTramite", TempData["Tipotramitecodigo"] }, {"sCodigo", TempData["Periodocodigo"]}})
</div>
