.div-exportar 
{    
    border:3px solid #2980B9;   
    width:400px;
    min-height:160px;
    position:absolute;
    display:none;
    font-size:12px;
    border-radius:10px;
    z-index:20000;
    background-color:#fff;    
    height:auto;
}

.div-exportar-close {
    float:right;
    font-weight:bold;
    font-size:16px;
    margin:10px;
    height:20px;
    cursor:pointer;
}

.div-exportar-close:hover {
    color:#FF770D;
}

.div-exportar-content {
    width:auto;
    height:auto;
    margin:20px;
}

.div-exportar-boton {
    width:70px;
    margin:auto;
    margin-top:10px;
}

.form-exportar-content {
    width:auto;   
    background:#E8F6FF;
	border:2px solid #B8E2FB; 
	padding:5px;
	text-indent:15px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    line-height:20px;
    margin-top:10px;

}

.form-exportar-item {
    float:left;    
    width:auto;
}


.leyenda-reporte {
   margin-top:10px;	
	border:2px solid #BBDF8D; 
	background-color:#EAF7D9;
	padding:10px;
    width:300px;		
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom:20px;
}

.tabla-valores { 

}

.tabla-valores tbody tr td .align-der {
    text-align:right;
}

.tabla-valores tfoot tr td .align-der {
    text-align:right;
}

.leyenda-mediciones {
    font-size:10px;
    font-weight:bold;
    font-style:italic;
    line-height:18px;    
}

.symbol {
    width:20px;
    height:20px;
    margin-right:20px;
    float:left;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.serieName {
    float:left;
    cursor:pointer;
}

.item {
    height:40px;
    clear:both;
}

.titulo-reporte-medicion {

    font-size:17px;
	color:#3D90CB;
	text-align:left;
    
	width:auto;	  
    padding-top:10px;
}

.separacion-reporte-medicion div {

    border-top:1px dashed #3D90CB;
    height:10px; 
    margin-bottom:20px;
    
}

.table-total1 {
    background-color:#2E8DCD;
    font-size:12px;
    color:#fff;
    font-weight:bold;
    line-height:20px;
}