@model COES.MVC.Intranet.Areas.IEOD.Models.ParametroModel

@{
    ViewBag.Title = "Configuración de Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .Selected {
        background-color: #ffd800;
    }
</style>

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.min.js"></script>
<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<link href="~/Areas/IEOD/Content/Css/Color.css" rel="stylesheet" />
<script src="~/Areas/IEOD/Content/Scripts/configuracion.js?v=1.0.0"></script>

<style>
    #tbDocumentLibrary {
        height: auto;
    }

    #browserDocument {
        height: 500px;
        width: auto;
        overflow-y: scroll;
    }

    .content-hijo .search-content table tr td {
        vertical-align: middle;
    }
</style>

<div class="form-title">
    <div class="content-titulo">
        Configuración de Parámetros
    </div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo">

    <div id="tab-container" class="tab-container" style="min-height:700px">
        <ul class='etabs'>
            <li class='tab'><a href="#ColorCentral">Color central</a></li>
            <li class='tab'><a href="#Umbral">Umbral</a></li>
        </ul>

        <div id="ColorCentral" class="panel-container">
            <div style="padding-top:20px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Listado de Centrales con Color </span></div>
                <div style="clear:both; height:5px;"></div>
                <div class='action-informe' id='PColorcentral' style="margin-bottom:5px; margin-top:0; "></div>

                <div class="search-content" style="margin-bottom:0">
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td class="tbform-label">Empresa:</td>
                            <td>
                                <select id="cbEmpresa" name="iEmpresa">
                                    <option value="-2">-TODOS-</option>
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <div class="content-botonera">
                                <input type="button" id="btnBuscar" value="Consultar" />
                            </div>
                        </tr>
                    </table>
                    <div id="mensaje" style="width:300px; margin:0"></div>
                </div>
                <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />

                <div class="content-tabla">
                    <div class="tabla-header">
                        <div class="table-paginado" id="paginado"></div>
                    </div>
                    <div style="width: 700px" id="listado"></div>
                </div>

            </div>
        </div>

        <div id="Umbral" class="panel-container">
            <div style="padding-top:20px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Configurar Umbral</span></div>
                <div style="clear:both; height:5px;"></div>
                <div class='action-informe' id='pUmbral' style="margin-bottom:5px; margin-top:0; "></div>

                <div class="search-content">
                    <div>
                        <label>Valor: </label>
                        @*<input type="number" id="txtValorUmbral" style="width: 60px" value="@Model.ValorUmbral" /> (%)*@
                        <input type="number" id="txtValorUmbral" style="width: 60px" value="" /> (MW)
                    </div>
                    <div><input type="button" value="Guardar" id="btnGuardarUmbral" name="" style="margin-top: 10px;" /></div>

                    <div style="margin-top: 30px; margin-bottom: 10px;">

                        <table style="width: auto;">
                            <tr>
                                <td class="tbform-label" style=" padding: 5px; vertical-align: middle;text-align: left"> Usuario modificación: </td>

                                <td id="txtUmbralUsuarioModif" style="vertical-align: middle">
                                </td>

                            </tr>
                            <tr>
                                <td class="tbform-label" style=" padding: 5px; vertical-align: middle;text-align: left">Fecha modificación:</td>
                                <td id="txtUmbralFechaModif" style="vertical-align: middle">
                                </td>
                            </tr>
                        </table>

                        <p class="leyenda" style="padding-right: 95px;"> <b>(*)</b> Este valor representa el umbral mínimo de los valores de potencia a considerar para la validación con el TNA (EMS) y el SCADA. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>