@model COES.MVC.Intranet.Areas.IEOD.Models.ParametroModel
<script>
    $(function () {
        $('#btnGuardarMagnitudRPF').click(function () {
            registrarMagnitudRPF();
        });

        $('#txtFechaInicioMagnitudRPF').Zebra_DatePicker({
        });
        $('#txtFechaFinMagnitudRPF').Zebra_DatePicker({
        });

        $('#Anho').Zebra_DatePicker({
            format: 'Y',
            onSelect: function () {
                cargarFecha();
            }
        });
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Año:</td>
                <td class="tbform-control">
                    <input type="text" id="Anho" name="Anho" value="@Model.Anho" style="width: 65px; padding-left: 35px" />
                </td>
            </tr>            
            <tr>
                <td class="tbform-label">Fecha Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="txtFechaInicioMagnitudRPF" value="@Model.MagnitudRPF.FechaFormatoInicio" style="width:100px;" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Fecha Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="txtFechaFinMagnitudRPF" value="@Model.MagnitudRPF.FechaFormatoFin" style="width:100px;" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Magnitud de la reserva rotante para la RPF en (%):</td>
                <td class="tbform-control">
                    <input type="text" id="txtMagnitud" value="0" style="width: 83px; text-align: right" /> %
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarMagnitudRPF" />
</div>

<input type="hidden" id="periodo_actual" value="@Model.MagnitudRPF.Periodo">