@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner">
    @RenderSection("banner")
</div>

<div style="clear:both"></div>
<div class="page-content">
    <div class="page-left1" style="width:860px; margin-right:20px">
        @RenderBody()
    </div>
    <div class="page-rigth1" style="width:340px">
        <div class="page-info">
            <h1>Sala de Prensa</h1>
            <ul>
                <!--<li><a href="~/Publicaciones/SalaDePrensa/SalaPrensa">Comunicados</a></li>-->
                <li><a href="~/Publicaciones/SalaDePrensa/AppMovil">App Móvil COES</a></li>
                <li><a href="~/browser/downloadpdf?url=Publicaciones/Libro%20Conmemorativo/COES/Libro_ConmemoratorioCOES_25.pdf" target="_blank">Libro conmemorativo 25 años</a></li>
                <li><a href="~/Publicaciones/Suscripcion/Suscripcion">Suscripciones</a></li>
            </ul>
        </div>
        <div style="clear:both; height:15px"></div>

        <div class="page-adicional">
            @RenderSection("rigthdown")
        </div>

        @*<div class="page-indicador">
            <h1>Conoce nuestros</h1>
            <strong>indicadores</strong>
            <div>
                <a href="~/portalinformacion/generacion" class="btn">Haga click para entrar</a>
            </div>
        </div>*@
        <div style="clear:both"></div>
    </div>    
    <div style="clear:both"></div>
</div>
<div style="clear:both"></div>