@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ficha Técnica Extranet";
}
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/fichatecnicaextranet.js?v=1.0"></script>
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Ficha Técnica</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        @*<input type="button" id="btnExportarReporte" value="Exportar" />*@
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="textoMensaje" class="action-message" style="margin:0; margin-bottom:10px">Seleccione opciones y presiona Consultar.</div>

    <div class="search-content">

        <table class="content-tabla-search" style="width:auto">
            <tr>

                <td style="padding-right: 5px;">Ficha Técnica:</td>
                <td>
                    <select id="cbFichaTecnica" style="width: 280px;">

                        @foreach (var item in Model.ListaFichaTecnicaSelec)
                        {
                            <option value="@item.Fteqcodi">@item.Fteqnombre</option>
                        }
                    </select>
                </td>

                <td style="padding-right: 5px;" class="td_empresa">Empresa:</td>
                <td class="td_empresa">
                    <select id="cbEmpresa" style="width: 280px;">
                        <option value="-2">--TODOS--</option>
                    </select>
                </td>

                <td style="padding-right: 5px;" class="td_estadoEq">Estado equipo:</td>
                <td class="td_estado">
                    <select id="cbEstado" style="width: 280px;">
                        <option value="-2">--TODOS--</option>
                        <option value="A">Activo</option>
                        <option value="P">En Proyecto</option>
                        <option value="F">Fuera de COES</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>