@model COES.MVC.Intranet.Areas.Equipamiento.Models.FichaTecnicaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ficha Técnica";
}
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/fichatecnica.js?v=1.9"></script>
<link href="~/Areas/Equipamiento/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Ficha Técnica</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportarReporte" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="textoMensaje" class="action-message" style="margin:0; margin-bottom:10px">Por favor seleccione Ficha Maestra y Ficha Técnica.</div>

    <div class="search-content">

        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="padding-right: 5px;">Ficha Maestra:</td>
                <td>
                    <select id="cbFichaMaestra" style="width: 200px;">
                        @foreach (var item in Model.ListaFichaMaestra)
                        {
                            <option value="@item.Fteccodi">@item.Ftecnombre</option>
                        }
                    </select>
                </td>

                <td style="padding-right: 5px;">Ficha Técnica:</td>
                <td>
                    <select id="cbFichaTecnica" style="width: 280px;">
                        <option value="0">--SELECCIONE--</option>
                    </select>
                </td>

                <td style="padding-right: 5px;" class="td_empresa">Empresa:</td>
                <td class="td_empresa">
                    <select id="cbEmpresa" style="width: 280px;">
                        <option value="-2">--TODOS--</option>
                    </select>
                </td>

                <td style="padding-right: 5px;" class="td_estadoEq">Estado equipo:</td>
                <td class="td_estado">
                    <select id="cbEstado" style="width: 280px;">
                        <option value="-2">--TODOS--</option>
                        <option value="A">Activo</option>
                        <option value="P">En Proyecto</option>
                        <option value="F">Fuera de COES</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

<!--popup tipo de exportación -->
<div id="popupExportarReporte" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Exportar Reporte</span></div>

    <div class="popup-text" style="margin-top:5px">
        <div id="vistaExportar">
            <div class="content-tabla">

                <div style="width:250px; padding-left: 30px;">
                    <div style="width:250px; padding-top:30px;">
                        <div style=" padding-bottom: 10px;">
                            Tipo Exportación:
                        </div>
                        <div>
                            <input type="radio" id="rd1" name="tipoExportar" value="1" checked> Incluir columna comentario <br />
                            <input type="radio" id="rd2" name="tipoExportar" value="2"> No incluir columna comentario <br />
                        </div>
                    </div>
                </div>
                <div style="width:250px; text-align:center; padding:30px;">
                    <div style="width:250px;">
                        <input type="button" id="btnExportarMasivo" value="Exportar" />
                        <input type="button" id="btnCancelarExportacion" value="Cancelar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hfEmpresa" />
<input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />