@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <img id="128" src="~/ImagenFrecuencia/GetImagen?Etapas=etapas%20de%20pruebas" alt="" />
    </div>
</body>
</html>
