@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.ReporteFrecuenciaModel
@Html.AntiForgeryToken()
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <img id="128" src="~/ImagenFrecuencia/GetImg?IdGPS=@Model.IdGPS.ToString()&FechaInicial=@Model.FechaInicial.ToString("yyyy-MM-ddTHH:mm:ss")&FechaFinal=@Model.FechaFinal.ToString("yyyy-MM-ddTHH:mm:ss")&Etapas=@Model.Etapas" alt="" />
    </div>
</body>
</html>
