@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Campanias/Content/Scripts/ITCDemanda.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDF104.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDF108.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDF110.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDF116.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDF121.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDF123.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDFP011.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDFP012.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCDFP013.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCFE01.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCEDEInfoAdicional.js"></script>
<script>
  //  $(document).ready(function () { $('#tabs_container li:first-child a').click(); });
</script>

<div id="tab-container-ficha" class='tab-container'>
    <div class="tab-container" id="tab-container-2">
        <ul class='tab' id="tabs_container">
            <li class="tab" id="f104tab"><a href="javascript:void(0);" onclick="openFicha('f104',this);">F-104</a></li>
            <li class="tab" id="f108tab"><a href="javascript:void(0);" onclick="openFicha('f108',this); ">F-108</a></li>
            <li class="tab" id="fp101tab"><a href="javascript:void(0);" onclick="openFicha('fp101',this); ">F-P01.1</a></li>
            <li class="tab" id="fp102tab"><a href="javascript:void(0);" onclick="openFicha('fp102',this); ">F-P01.2</a></li>
            <li class="tab" id="fp103tab"><a href="javascript:void(0);" onclick="openFicha('fp103',this); ">F-P01.3</a></li>
            <li class="tab" id="f110tab"><a href="javascript:void(0);" onclick="openFicha('f110',this); ">F-110</a></li>
            <li class="tab" id="f116tab"><a href="javascript:void(0);" onclick="openFicha('f116',this); ">F-116</a></li>
            <li class="tab" id="f121tab"><a href="javascript:void(0);" onclick="openFicha('f121',this); ">F-121</a></li>
            <li class="tab" id="f123tab"><a href="javascript:void(0);" onclick="openFicha('f123',this); ">F-123</a></li>
            <li class="tab" id="fe01tab"><a href="javascript:void(0);" onclick="openFicha('fe01',this); ">F-E01</a></li>
            <li class="tab"><a href="javascript:void(0);" onclick="openFicha('fichaadic',this); ">Información Adicional</a></li>
        </ul>
    </div>
   
    <div class='panel-container'>
        <div id="f104" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel104()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">INFORMACIÓN HISTORICA DE VARIABLES EXPLICATIVAS</legend>
                <table style="width:100%" id="tabla104">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="tablef104" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                   
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="f108" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel108()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">PROYECCIÓN DE VENTAS DE ENERGÍA(Mhw) DE USUARIOS - MODELO ECONOMÉTRICO</legend>
                <table style="width:100%" id="tabla108">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="tablef108" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="fp101" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel011()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em " id="lgdTitleFP011Int"></legend>
                <table style="width:100%" id="tabla101">
                    <tr>
                        <td class="registro-label" colspan="3">
                           
                        </td>
                    </tr>
                    <tr>
                        <td class="registro-label" colspan="3"><div id="tablefp101" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                     
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="fp102" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel012()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><h5>“NOTA: Se deberá declarar en CODIGO NIVEL DE TENSIÓN los niveles BT, MT, AT o MAT"</h5></div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">RELACIÓN DE USUARIOS LIBRES CONECTADOS A LA RED DE DISTRIBUCIÓN</legend>
                <table style="width:100%" id="tabla102">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="tablefp102" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                  
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="fp103" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel013()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">DEMANDA DE INCORPORACIÓN: RELACIÓN DE FACTIBILIDADES DE SUMINISTRO ELÉCTRICO</legend>
                <table style="width:100%" id="tabla103">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="tablefp103" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
               
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="f110" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel110()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">PROYECCIÓN DE LA MÁXIMAS DEMANDAS DE POTENCIA NO COINCIDENTE - REGULADOS(MW)</legend>
                <table style="width:100%" id="tabla110">
                    <tr>
                        <td class="registro-label" colspan="3">  <div id="tablef110" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="f116" class="ficha">
            <div class="search-content3">
                <div style="display:table">

                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel116()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><h5>“NOTA: Incluir en el módulo “Información adicional” los sustentos documentarios de las factibilidades consideradas en el presente formato."</h5></div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">PROYECCIÓN DE LAS MAXIMAS DEMADAS DE POTENCIA NO COINCIDENTE - LIBRES e INCORPORADAS (MW)</legend>
                <table style="width:100%" id="tabla116">
                    <tr>
                        <td class="registro-label" colspan="3">  <div id="tablef116" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                     
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="f121" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel121()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">IRESUMEN DE LA PROYECCIÓN DE LA POTENCIA COINCIDENTE A NIVEL DE ÁREAS DE DEMANDA(MW)</legend>
                <table style="width:100%" id="tabla121">
                    <tr>
                        <td class="registro-label" colspan="3">  <div id="tablef121" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="f123" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcel123()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">PROYECCIÓN DE DENSIDAD DE CARGA O MAPAS DE DENSIDAD</legend>
                <table style="width:100%" id="tabla123" >
                    <tr>
                        <td class="registro-label" colspan="3">  <div id="tablef123" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>

            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">

                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="fe01" class="ficha">
            <fieldset style="border: solid #DDDDDD 1px; max-width: 800px; margin: auto;">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em">ESQUEMA UNIFILAR DEL SISTEMA ELÉCTRICO</legend>

                <p>A. Presentar el esquema unifamiliar en formato PDF O DWG</p>
                <p style="margin-left: 20px;">A.1) Esquema unifiliar de la situación actual</p>
                <table style="width: 100%; max-width: 800px; margin: auto;">

                    <tr>
                        <td class="registro-control">
                             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaUnifamiliarActual" aria-describedby="Evento">
                                <thead>
                                    <tr>
                                        <th scope="col">Archivo</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <p style="margin-left: 20px;">A.2) Esquema unifiliar de la expansión del sistema elétrico en el mediano y largo plazo.</p>
                <table style="width: 100%; max-width: 800px; margin: auto;">

                    <tr>
                        <td class="registro-control">
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaUnifamiliarExpancion" aria-describedby="Evento">
                                <thead>
                                    <tr>
                                        <th scope="col">Archivo</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <p>B. Presentar la base de datos del modelo de red para flujo de potencia en el archivo excel "FichaITC - Sistema Eléctrico y Parámetros.xlsx"</p>
                <p style="margin-left: 20px;">De contar con el software DIgSILENT complementar la información en formato *.pfd</p>
                <table style="width: 100%; max-width: 800px; margin: auto;">

                    <tr>
                        <td class="registro-control">
                         
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaModeloRed" aria-describedby="Evento">
                                <thead>
                                    <tr>
                                        <th scope="col">Archivo</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <td>Comentarios</td>
                    </tr>
                    <tr>
                        <td>
                            <textarea style="width:100%" id="txtComentarioA" name="txtComentarioA"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" style="text-align: center;">
                          
                            <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                        </td>
                    </tr>
                </table>
            </fieldset>


        </div>
        <div id="FichaAdi" class="ficha">
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Documentos</legend>

                <table style="width:100%">
                    <tr>
                        
                    </tr>
                    <tr>
                        <td class="registro-label"></td>
                        <td colspan="2" class="registro-control">
                             
                        </td>
                    </tr>
                </table>

                <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaAdicionalITCEDE" aria-describedby="Archivos">
                    <thead>
                        <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Archivo</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </fieldset>
        </div>

    </div>
</div>
