@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Campanias/Content/Scripts/ITCSisElectrico.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCPRM1.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCPRM2.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCRED1.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCRED2.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCRED3.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCRED4.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCRED5.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/ITCSEPInfoAdicional.js"></script>
<script>
  //  $(document).ready(function () { $('#tabs_container li:first-child a').click(); });
</script>

<div id="tab-container-ficha" class='tab-container'>
    <div class="tab-container" id="tab-container-2">
        <ul class='tab' id="tabs_container">
            <li class="tab" id="tabfprm1"><a href="javascript:void(0);" onclick="openFicha('fprm1',this)">PRM-1</a></li>
            <li class="tab" id="tabfprm2"><a href="javascript:void(0);" onclick="openFicha('fprm2',this);">PRM-2</a></li>
            <li class="tab" id="tabfred1"><a href="javascript:void(0);" onclick="openFicha('fred1',this);">RED-1</a></li>
            <li class="tab" id="tabfred2"><a href="javascript:void(0);" onclick="openFicha('fred2',this);">RED-2</a></li>
            <li class="tab" id="tabfred3"><a href="javascript:void(0);" onclick="openFicha('fred3',this);">RED-3</a></li>
            <li class="tab" id="tabfred4"><a href="javascript:void(0);" onclick="openFicha('fred4',this);">RED-4</a></li>
            <li class="tab" id="tabfred5"><a href="javascript:void(0);" onclick="openFicha('fred5',this);">RED-5</a></li>
            <li class="tab" id="fichaadic"><a href="javascript:void(0);" onclick="openFicha('fichaadic',this);" >Información Adicional</a></li>
        </ul>
    </div>
    
    <div class='panel-container'>
        <div id="Fichaprm1" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcelprm1()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Parámetros de Electroductos</legend>
                <table style="width:100%">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="detalleFormatoPrm1" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Fichaprm2" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcelprm2()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px" id="tablaprm2" >
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Parámetros de Transformadores</legend>
                <table style="width:100%">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="detalleFormatoPrm2" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Fichared1" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcelred1()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Sistema Eléctrico - Barras</legend>
                <table style="width:100%" id="tablared1">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="detalleFormatoRed1" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                        
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Fichared2" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcelred2()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Sistema Eléctrico - Líneas de Transmisión</legend>
                <table style="width:100%" id="tablered2">
                    <tr>
                        <td class="registro-label" colspan="3"> <div id="detalleFormatoRed2" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                        
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Fichared3" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcelred3()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Sistema Eléctrico - Transformadores de Potencia</legend>
                <table style="width:100%" id="tablared3">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="detalleFormatoRed3" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Fichared4" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcelred4()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Sistema Eléctrico - Compensadores en derivación</legend>
                <table style="width:100%" id="tablared4">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="detalleFormatoRed4" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Fichared5" class="ficha">
            <div class="search-content3">
                <div style="display:table">
                    <div style="display:table-row">
                        <div style="display: table-cell; text-align: right;">
                            <div style="display:table;" id="barra">
                                <div style="display:table-row">
                                    <div class="content-action" style="display: table-cell;">
                                        <a href="#" class="btnActive" id="btnDescargarFormato" onclick="exportarTablaExcelred5()">
                                            <div class="content-item-action">
                                                <img src="~/Content/Images/bajar.png" /><br />
                                                <span>Descargar</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="content-action" style="display: table-cell;">
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Sistema Eléctrico -Generación Distribuida</legend>
                <table style="width:100%" id="tablared5">
                    <tr>
                        <td class="registro-label" colspan="3"><div id="detalleFormatoRed5" class="tableHandson" style="overflow: hidden;"></div></td>
                    </tr>
                </table>
            </fieldset>
            <table style="width:100%">
                <tr>
                    <td colspan="4" style="text-align: center;">
                       
                        <a class="cancel-button btnActive" href="javascript:void(0);" onclick="cerrarModalValidarReg()">Cancelar</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="FichaAdi" class="ficha">
            <fieldset style="border: solid #DDDDDD 1px">
                <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Documentos</legend>

                <table style="width:100%">
                    <tr>
                        @* <td class="registro-label">Descripción:</td>
                        <td colspan="3" class="registro-control">
                            <input type="text" style="width:100%" id="txtDescripcionAdicional" name="txtDescripcionAdicional" />
                        </td> *@
                    </tr>
                    <tr>
                        <td class="registro-label"></td>
                        <td colspan="2" class="registro-control">
                            
                        </td>
                    </tr>
                </table>

                <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaAdicionalITCSEP" aria-describedby="Archivos">
                    <thead>
                        <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Archivo</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>