@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Campanias/Content/Scripts/observaciones.js"></script>

<div style="margin-top:8px">
       
    <table style="width:100%">
        <tr>
            <td class="registro-control">
                <input type="button" class="btnForms" id="btnAgregarObservacion" value="Agregar Observaciones" onclick="agregarObservacion(0)"/>
            </td>
        </tr>
    </table>
    <br>
    <div id="listadoObservacion">
    </div>
    <div id="popupEliminarObservacion" class="general-popup" style="width:320px;top:0px">
        <div>
            <span class="button b-close">
                <span>X</span>
            </span>
        </div>
        <div class="popup-text">
            <form>
                <p>
                    La eliminacion de la observacion es irreversible. 
                    ¿Seguro que quiere continuar?
                </p>
                <div style="display: flex; gap: 10px; justify-content: center">
                    <input type="button" id="btnEliminar" value="Eliminar" style="margin-top: 15px;" onclick="eliminarObservacion()">
                    <input type="button" id="btnCancelar" value="Cancelar" style="margin-top: 15px;" onclick="cancelarEliminarObservacion()">
                </div>
            </form>
        </div>
    </div>

     <div id="popupConformarObservacion" class="general-popup" style="width:320px;top:0px">
        <div>
            <span class="button b-close">
                <span>X</span>
            </span>
        </div>
        <div class="popup-text">
            <form>
                <p>
                    La conformidad es irreversible.  
                    ¿Está seguro de dar por cerrada la observacion? 
                </p>
                <div style="display: flex; gap: 10px; justify-content: center">
                    <input type="button" id="btnConforme" value="Conforme" style="margin-top: 15px;" onclick="conformarObservacion()">
                    <input type="button" id="btnCancelarConforme" value="Cancelar" style="margin-top: 15px;" >
                </div>
            </form>
        </div>
    </div>

    <div id="popupProyectoObservacion" class="general-popup" style="width:320px;top:0px">
        <div>
            <span class="button b-close">
                <span>X</span>
            </span>
        </div>
        <div class="popup-text">
            <form>
                <p id="contenidoPopupObs">
                </p>
                <div style="display: flex; gap: 10px; justify-content: center">
                    <input type="button" id="btnConfirmarPopupObs" value="Aceptar" style="margin-top: 15px;">
                    <input type="button" id="btnCancelarObs" value="Cancelar" style="margin-top: 15px;" onclick="popupClose('popupProyectoObservacion')">
                </div>
            </form>
        </div>
    </div>

</div>

