@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Campanias/Content/Scripts/T2SubEstaciones.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/T2SubFichaA.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/T2SubfAdi.js"></script>
<div id="ficha-subestacion">
    <div id="tab-container-ficha" class='tab-container'>
        <div class="tab-container" id="tab-container-2">
            <ul class='tab'>
                <li class="tab" id="tabfichaa"><a href="javascript:void(0);" onclick="openFicha('fichaa',this);">Ficha 1</a></li>
 <li class="tab"><a href="javascript:void(0);" onclick="openFicha('fichaadic',this);">Información Adicional</a></li>
            </ul>
        </div>

        <div class='panel-container'>
            <div id="FichaT2A" class="ficha">
                <fieldset style="border: solid #DDDDDD 1px">
                    <legend style="margin-left: 1em; padding: 0.2em 0.8em ">ASPECTOS GENERALES</legend>
                    <table style="width:100%">
                        <tr>
                            <td class="registro-label">Nombre o denominación de la subestación:</td>
                            <td colspan="3" class="registro-control">
                                <input type="text" style="width:100%" id="txtNombreSubestacion" name="txtNombreSubestacion" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label" colspan="4">Tipo de proyecto (nuevo, ampliación, repotenciación, etc). Explique brevemente:</td>
                        </tr>
                        <tr>
                            <td class="registro-label"></td>
                            <td colspan="3" class="registro-control">
                                <textarea style="width:100%" id="txtTipoProyecto" name="txtTipoProyecto"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Fecha de puesta en servicio:</td>
                            <td class="registro-control">
                                <input type="text" style="width:100%" id="txtFechaPuestaServicio" name="txtFechaPuestaServicio" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Empresa propietaria:</td>
                            <td colspan="3" class="registro-control">
                                <input type="text" style="width:100%" id="txtEmpresaPropietaria" name="txtEmpresaPropietaria" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Ubicación del proyecto:</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaUbicacionSubest" aria-describedby="Evento">
                                    <thead>
                                        <tr>
                                            <th scope="col">Archivo</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset style="border: solid #DDDDDD 1px">
                    <legend style="margin-left: 1em; padding: 0.2em 0.8em ">SUBESTACIONES</legend>
                    <table style="width:100%">
                        <tr>
                            <td class="registro-label">Sistema de barras:</td>
                            <td class="registro-control">
                                <select style="width: 100%" id="sistemaBarrasSelect" name="sistemaBarrasSelect">
                                    <option value="">Seleccione</option>
                                </select>
                            </td>
                            <td class="registro-control">
                                <input type="text" placeholder="Otro" style="width:100%" id="txtOtroSistemaBarras" name="txtOtroSistemaBarras" />
                            </td>
                        </tr>
                        <tr>
                            <td class="registro-label">Diagramas unifilares</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaDiagramaUnifiliarFile" aria-describedby="Evento">
                                    <thead>
                                        <tr>
                                            <th scope="col">Archivo</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset style="border: solid #DDDDDD 1px">
                    <legend style="margin-left: 1em; padding: 0.2em 0.8em ">TRANSFORMADORES DE POTENCIA</legend>
                     

                    <!-- Botones para la primera tabla de transformadores -->
                    <div class="search-content3">
                        <div style="display:table">
                            <div style="display:table-row">
                                <div style="display: table-cell; text-align: right;">
                                    <div style="display:table;" id="barra">
                                        <div style="display:table-row">
                                            <div class="content-action" style="display: table-cell;">
                                                <a href="javascript:void(0);" onclick="exportarTablaExcelTransformadores1()">
                                                    <div class="content-item-action">
                                                        <img src="~/Content/Images/bajar.png" /><br />
                                                        <span>Descargar</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table style="width:100%">
                        <tr>
                            <td class="registro-label" colspan="3">
                                <div id="detalle1TablaSubestacion" class="tableHandson"></div>
                            </td>
                        </tr>
                    </table>

                    <!-- Botones para la segunda tabla de transformadores -->
                    <div class="search-content3">
                        <div style="display:table">
                            <div style="display:table-row">
                                <div style="display: table-cell; text-align: right;">
                                    <div style="display:table;" id="barra">
                                        <div style="display:table-row">
                                            <div class="content-action" style="display: table-cell;">
                                                <a href="javascript:void(0);" onclick="exportarTablaExcelTransformadores2()">
                                                    <div class="content-item-action">
                                                        <img src="~/Content/Images/bajar.png" /><br />
                                                        <span>Descargar</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table style="width:100%">
                        <tr>
                            <td class="registro-label" colspan="3">
                                <div id="detalle2TablaSubestacion" class="tableHandson"></div>
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset style="border: solid #DDDDDD 1px">
                    <legend style="margin-left: 1em; padding: 0.2em 0.8em ">EQUIPOS DE COMPENSACIÓN REACTIVA</legend>
                    

                    <!-- Botones para la tabla de equipos -->
                    <div class="search-content3">
                        <div style="display:table">
                            <div style="display:table-row">
                                <div style="display: table-cell; text-align: right;">
                                    <div style="display:table;" id="barra">
                                        <div style="display:table-row">
                                            <div class="content-action" style="display: table-cell;">
                                                <a href="javascript:void(0);" onclick="exportarTablaExcelEquipos()">
                                                    <div class="content-item-action">
                                                        <img src="~/Content/Images/bajar.png" /><br />
                                                        <span>Descargar</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-scroll">
                        <table style="width:100%">
                            <tr>
                                <td class="registro-label" colspan="3">
                                    <div id="detalle3TablaSubestacion" class="tableHandson"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div id="FichaAdi" class="ficha">
                <fieldset style="border: solid #DDDDDD 1px">
                    <legend style="margin-left: 1em; padding: 0.2em 0.8em ">Documentos</legend>
                    <table style="width:100%">
                        <tr>
                        
                        </tr>
                        <tr>
                            <td class="registro-label"></td>
                        </tr>
                    </table>

                     <table border="0" class="pretty tabla-icono" cellspacing="0" cellpadding="0" width="100%" id="tablaTSubInfoAdicional" aria-describedby="Archivos">
     <thead>
         <tr>
             <th scope="col">Descripción</th>
             <th scope="col">Archivo</th>
             <th scope="col">Acción</th>
         </tr>
     </thead>
     <tbody>
     </tbody>
 </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>