@model COES.MVC.Intranet.Areas.Mediciones.Models.FormatoModel


<script type="text/javascript">
    $(document).ready(function () { 
        $('#cbEmpresa').change(function () {
            cargarCentrales();
        });

        $('#cbCentral').change(function () {
            cargarUnidades();
        });

        $('#cbTipo').change(function () {
            configurarPorTipo();
        });

        $('#btnActualizar').click(function () {
            agregarPunto();
        });
    });
</script>

<div id="alerta"></div>

<table class="table-form-vertical">
    <tr>
        <td>Empresa:</td>
        <td>
          <select id="cbEmpresa">
              <option value="">-SELECCIONE-</option>
              @foreach (var item in Model.ListaEmpresa)
              { 
                    <option value="@item.EmprCodi">@item.EmprNomb</option>
              }
          </select>
        </td>
    </tr>
    <tr>
        <td>Central:</td>
        <td>
            <select id="cbCentral">
                <option value="">-SELECCIONE-</option>
            </select> 
        </td>
    </tr>
    <tr>
       <td>Tipo</td> 
       <td>
           <select id="cbTipo">
               <option value="1">Por unidad</option>
               <option value="2">Por central</option>
           </select>
       </td>
    </tr>
    <tr>
        <td>Unidad</td>
        <td>
            <select id="cbUnidad">
                <option value="">-SELECCIONE-</option>
            </select>
        </td>
    </tr>
   
    <tr>
        <td colspan="2">
            <input type="button" value="Actualizar" id="btnActualizar" />
        </td>
    </tr>
</table>
