@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CopiarInformacionModel
@{
    ViewBag.Title = "Deshacer - Copiar Información";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Eliminar la copia de informacion." }, { "sAccion", "Eliminar" } })
</div>