@model COES.MVC.Intranet.Areas.ReportesFrecuencia.Models.CopiarInformacionModel
@{
    ViewBag.Title = "Copiar Información - Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Registrar" }, { "sAccion", "Insertar" } })
</div>

