@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Configuracionsp7";
}
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/configuracionsp7.js?v=1"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />

<style>
    .alert.alert-danger {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        line-height: 1.42857143;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        margin-bottom: 10px;
    }

    .alert.alert-danger dl {
        margin: 0;
    }

    .alert.alert-danger dt {
        font-weight: 600;
        text-transform: uppercase;
    }

    .alert.alert-danger dd {
        margin-inline-start: 0;
        margin-top: 5px;
    }
</style>

<div class="form-title">
    <div class="content-titulo"> Configuracion SP7 - XML </div>
</div>

<div class="content-hijo" id="mainLayout" style="overflow-x:hidden">
    <div id="alertError" class="alert alert-danger" role="alert" style="display: none">
        <dl>
            <dt id="alertErrorMensaje"></dt>
            <dd id="alertErrorDetalle"></dd>
        </dl>
    </div>
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor seleccione tipo de información y fecha</div>
    <div id="wait" style="display: none; background-color: rgb(0, 0, 0); position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; opacity: 0.7; z-index: 9998;">
        <div class="loading" style="display: inline; top: 45%; left: 45%;">
            <div class="loading-image"><img src="/Content/Images/loading.gif"></div>
            <div class="loading-text">Procesando...</div>
        </div>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class='action-message' id='msj_listado2' style="margin-bottom: 5px; margin-top: 0; background: #E8F6FF; text-align: center; width: 50%">
            <table>
                <tr>
                    <td style="text-align:left;width:260px">Leer BD SP7 y COES:</td>
                    <td></td>
                    <td style="width:100px">
                        <input type="button" id="btnProcesar1" value="Procesar" style="width: 100px;" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">Area de Responsabilidad Siemens (XML):</td>
                    <td><input type="text" disabled="disabled" id="txtUrl1" style="width:100%" /></td>
                    <td style="width:100px">
                        <input type="button" id="btnProcesar2" value="Load AOR" style="display: none; width: 100px;" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">ICCP Siemens (XML):</td>
                    <td><input type="text" disabled="disabled" id="txtUrl2" style="width:100%" /></td>
                    <td style="width:100px">
                        <input type="button" id="btnProcesar3" value="Load ICCP" style="display: none; width: 100px;" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">SP7 Siemens (XML):</td>
                    <td><input type="text" disabled="disabled" id="txtUrl3" style="width:100%" /></td>
                    <td style="width:100px">
                        <input type="button" id="btnProcesar4" value="Load SP7" style="display: none; width: 100px;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><div style="clear:both; height:30px"></div></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="text" disabled="disabled" id="txtUrl4" style="width:80%" />
                        <textarea disabled="disabled" id="txtUrl5" style="display:none"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>