@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Datofechasp7";
}
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/datofechasp7.js?v=1.2"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Procesar Dato Minuto Sp7 </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin-bottom:5px; margin-top:0px">
        La información presentada refleja un desfase de hasta 30 minutos, debido al intervalo de actualización del sistema.
    </div>
    <div class="search-content">
        <table class="tabla-search" style="width:auto">
            <tr>
                <td style="padding-left: 10px; vertical-align:middle">Empresa:</td>
                <td style="vertical-align: middle">
                    <select id="cbEmpresa" style="width: 250px;">
                        <option value="0">--SELECCIONE EMPRESA--</option>
                        @foreach (var item in Model.GetListaEmpresaRis7)
                        {
                            <option value="@item.Scadacodi">@item.Emprenomb</option>
                        }
                    </select>
                </td>
                <td style="padding-left: 10px; vertical-align: middle">Zona:</td>
                <td style="vertical-align: middle">
                    <select id="cbZona" style="width: 250px;">
                        <option value="-1">--SELECCIONE ZONA--</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; height:5px"></div>
        <table id="tb_" class="tabla-search" align="right" style="display:none;width:10%">
            <tr>
                <td><input type="date" id="txtFecha" value="@Model.Fecha" max="@Model.Fecha" style="width:110px" /></td>
                <td><input type="button" id="btnProcesar" value="Procesar" /></td>
            </tr>
        </table>
    </div>
</div>
