@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ViewScada";
}
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Procesar Dato Minuto Sp7 </div>
    <div class="content-botonera">
        <table cellpadding="5" cellspacing="0" border="0">
            <tr>
                <td class="content-action">
                    <a href="#" id="btnatrasF">
                        <div class="content-item-action" style="line-height: inherit;">
                            Regresar&nbsp;<img src="~/Content/Images/copiartodo.png" title="Regresar" style="width: 22px; height: 15px;" />
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="overflow:auto;overflow-y:hidden">
            @Html.Raw(Model.Resultado)
        </div>
    </div>
</div>
<script>
    var controlador = siteRoot + 'Migraciones/LectorConfigsp7/'
    $(function () {
        $('#btnatrasP, #btnatrasF').click(function () {
            window.location.href = controlador + "Datofechasp7";
        });
        updateContainer();
        //$('#listado').css("width", "800px");
        $("#tb_info").dataTable({
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "ordering": false
        });

        $(window).resize(function () {
            updateContainer();
        });
    });

    function updateContainer() {
        var $containerWidth = $(window).width();

        $('#listado').css("width", $containerWidth - 240 + "px");
    }
</script>