@model COES.MVC.Intranet.Areas.Migraciones.Models.MigracionesModel
@{
    ViewBag.Title = "DemandaBarras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Migraciones/Content/Scripts/reporte/demandabarras.js?v=1.8"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de Demanda en Barra - Consulta</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>


<div class="content-hijo" id="mainLayout">
    <div id="mensaje" style="width:300px; margin:0"></div>
    <div class="search-content" style="margin-bottom:5px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td class="tbform-label">Tipo de empresa:</td>
                <td>
                    <select id="cbTipoEmpresa" name="iTipoEmpresa">
                        @foreach (var item in Model.ListaTipoEmpresa)
                        {
                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                        }
                    </select>
                    <input type="checkbox" id="rb10MW"><label id="txt10MW">Demanda Mayor o Igual a 10 MW</label>
                </td>
                <td class="tbform-label">Fecha Inicio:</td>
                <td><input id="txtFechaInicio" type="text" value="@Model.Fecha" data-type="date" /></td>
                <td class="tbform-label">Fecha Fin:</td>
                <td><input id="txtFechaFin" type="text" value="@Model.Fecha" data-type="date" /></td>
            </tr>
            <tr>
                <td class="tbform-label">Empresa:</td>
                <td><select id="cbEmpresa" name="cbEmpresa" multiple="multiple"></select></td>
                <td class="tbform-label">Demanda:</td>
                <td>
                    <input type="radio" name="demanda" value="45" checked id="rbtHistoricaDiaria"><label for="rbtHistoricaDiaria">Histórica Diaria</label>
                    <input type="radio" name="demanda" value="46" id="rbPrevistaDiaria"><label for="rbPrevistaDiaria">Prevista Diaria</label>
                    <input type="radio" name="demanda" value="47" id="rbPrevistaSemana"> <label for="rbPrevistaSemana">Prevista Semanal</label>
                </td>
                <td class="tbform-label">Potencia:</td>
                <td>
                    <input type="radio" name="potencia" id="rbPotencia" checked><label for="rbPotencia">MW</label>
                </td>
            </tr>
        </table>
        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
        <input type="hidden" id="hfEmpresa" />
        <input type="hidden" id="hfTipoMantenimiento" />
        <input type="hidden" id="hfTipoEmpresa" />
        <input type="hidden" id="hfTipoEquipo" />
        <input type="hidden" id="hfTipoMantto" />
    </div>


    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>