@{
    ViewBag.Title = "MedidoresGeneracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Migraciones/Content/Scripts/reporte/medidoresgeneracion.js"></script>
<link href="~/Areas/Mediciones/Content/Css/mediciones.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/fixedheader.js"></script>

<div class="form-title">
    <div class="content-titulo"> Reporte Medidores de Generación </div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha inicial:</td>
                <td>
                    <input type="text" id="txtFechaInicial" style="width:140px" value="@Model.Fecha" />
                </td>
                <td>Fecha final:</td>
                <td>
                    <input type="text" id="txtFechaFinal" style="width:140px" value="@Model.Fecha" />
                </td>
                <td>Central Integrante:</td>
                <td>
                    <select id="cbCentral" style="width:140px">
                        @foreach (var item in Model.ListaSelect)
                        {
                            <option value="@item.IdArea">@item.Roles</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div style="clear:both; height:20px"></div>
    <div id="listado"></div>
</div>
