@model COES.MVC.Intranet.Areas.Migraciones.Models.MigracionesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Produccioncco";
}
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Migraciones/Content/Scripts/reporte/produccioncco.js"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Reporte Producción CCO </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.Fecha" />
                </td>
                <td>Unidades:</td>
                <td>
                    <select id="cbUnidades" style="width:150px">
                        @foreach (var item in Model.ListaTipoInfo)
                        {
                            <option value="@item.Tipoinfocodi">@item.Tipoinfoabrev</option>
                        }
                    </select>
                </td>
                <td class="content-action">
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
                <td id="exp" style="display:none">
                    <fieldset style="padding: 5px; ">
                        <input type="radio" id="rd1" name="rd" checked /> Excel
                        <input type="radio" id="rd2" name="rd" /> Csv
                        <input type="button" id="btnExportar" value="Exportar" />
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>
