@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "RptCmgCortoPlazo";
}
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/Migraciones/Content/Scripts/rptcmgcortoplazo.js?v=1.2"></script>
<link href="~/Areas/Migraciones/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo"> Reporte Costo Marginal Corto Plazo </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto" cellpadding="5">
            <tr>
                <td>Fecha Inicio:</td>
                <td><input type="text" id="txtFechaini" value="@Model.Fecha" /></td>
                <td>Fecha Final:</td>
                <td><input type="text" id="txtFechafin" value="@Model.Fecha" /></td>
                <td class="content-action">
                    <input type="button" id="btnConsultar" value="Consultar" />
                    <input type="button" id="btnExportar" value="Exportar Excel" />
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style=""></div>
    </div>
</div>
