@model COES.MVC.Extranet.Areas.Transferencias.Models.EnvioInformacionModel

<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Versión</th>
            <th>Códigos Enviados</th>
            <th>Códigos Faltantes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaRecalculo)
        {
            <tr id="fila_@item.RecaCodi">
                <td class="text_left">@item.RecaNombre</td>
                <td style="white-space: normal; text-align:justify;">@item.RecaNota2</td>
                <td style="white-space: normal; text-align:justify;">@item.RecaNroInforme</td>
            </tr>
        }
    </tbody>
</table> 