@model COES.MVC.Intranet.Areas.Subastas.Models.OfertaModel

@{
    ViewBag.Title = "Gráficos y Bitácora";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

<script src="~/Areas/Subastas/Content/Scripts/graficosbitacora.js?V=1.0.0"></script>

<div class="form-title">
    <div class="content-titulo">Consultas de Gráficos y Bitácoras</div>
</div>


<div class="content-hijo" id="mainLayout">

    <div class="content-hijo">

        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#tabGraficos">Gráficos Ofertas Diarias</a></li>
                <li class='tab'><a href="#tabBitacora">Bitácora</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabGraficos">

                    <div class="content-tabla" id="" style="">
                    </div>
                </div>

                <div id="tabBitacora">

                    <div class="search-content">
                        <table class="content-tabla-search" style="width:auto">
                            <tbody>
                                <tr>
                                    <td> Fecha inicial: </td>
                                    <td> <input type="text" id="FechaDesde" value="@Model.FechaInicial" style="width: 92px;" /> </td>

                                    <td style="width:30px"> </td>

                                    <td> Fecha Final: </td>
                                    <td> <input type="text" id="FechaHasta" value="@Model.FechaFinal" style="width:92px;" /> </td>
                                    <td> <input type="button" id="btnConsultarBitacora" value="Consultar" style="float: right;" /> </td>
                                    <td> <input type="button" id="btnExpotarBitacora" value="Exportar" style="float: right;"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="content-tabla" id="" style="">
                        <div class="table-list" id="tablaBitacora" style="margin-bottom: 25px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



