@model COES.MVC.Intranet.Areas.Web.Models.SubscripcionModel
@{
    ViewBag.Title = "Administrar ayudas APP Móvil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Areas/Web/Content/Scripts/ayudamovil.js?v=1.2"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Configuración de textos de ayuda App Móvil</div>
    <div class="content-botonera">

    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>
    
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Listado</a></li>
            <li class='tab'><a href="#paso2">Editar</a></li>            
        </ul>
        <div class='panel-container'>
            <div id="paso1">
                <h2>Ventanas del App</h2>

                <div id="listado">

                </div>

            </div>
            <div id="paso2">
                <h2>Editar datos</h2>
                <div id="textoAyuda">

                    <div class="content-registro">

                        <form id="frmRegistro">
                            <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
                            <table style="width:100%">

                                <tr>
                                    <td class="registro-label">Código Ventana:</td>
                                    <td class="registro-control">
                                        <span id="spanIdVentana"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="registro-label">Descripción:</td>
                                    <td class="registro-control">
                                        <span id="spanDescripcion"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="registro-label">Indicar si la ventana tendrá ayuda:</td>
                                    <td class="registro-control">
                                        <select id="cbIndicador" name="Indicador">
                                            <option value="I">Deshabilitado</option>
                                            <option value="A">Habilitado</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="registro-label">Texto de ayuda:</td>
                                    <td class="registro-control">
                                        <textarea id="txtAyuda" name="TextoAyuda" style="height:240px"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="registro-label">Texto de ayuda (English):</td>
                                    <td class="registro-control">
                                        <textarea id="txtAyudaEng" name="TextoAyudaEng" style="height:240px"></textarea>
                                    </td>
                                </tr>
                            </table>

                            <div style="width:100px; margin:auto; text-align:center; margin-top:20px; display:none" id="divGrabar">
                                <input type="button" id="btnGrabar" value="Grabar" />
                             </div>

                            <input type="hidden" id="hfCodigo" name="Codigo" />

                        </form>
                    </div>

                </div>
            </div>           
        </div>
    </div>
    <br />
    <br />
</div>
