@model COES.MVC.Intranet.Areas.CortoPlazo.Models.ReprocesoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/CortoPlazo/Content/Scripts/transaccioninternacional.js?v=3"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<link href="~/Areas/CortoPlazo/Content/Css/comparativo.css" rel="stylesheet" />
<style type="text/css">
    .handsontable th{
        background-color: #2980B9;
        font-weight: bold;
        color:white;
    }
</style>
<div class="form-title">
    <div class="content-titulo">Reprocesos de CM por transacciones internacionales</div>
    <div class="content-botonera">

    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFecha" value="@Model.Fecha" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
        <table>
            <tr>
                <td style="width:35%">
                    <div class="popup-title"><span>Transacciones Internacionales</span></div>
                    <div id="contentTabla"></div>
                </td>
                <td style="width:2%"></td>
                <td style="width:63%">
                    <div id="contentDatos" style="display:none">

                        <div class="popup-title"><span>Cálcular de la potencia importada</span></div>
                        <div style="clear:both; height:20px"></div>
                        <div class="search-content" style="margin-bottom:10px" id="contentAction">
                            <table class="content-tabla-search" style="width:auto">
                                <tr>
                                    <td>Barra:</td>
                                    <td>
                                        <select id="cbBarra">
                                            <option value="">--SELECCIONE--</option>
                                            @foreach (var item in Model.ListaBarra)
                                            {
                                                <option value="@item.Cnfbarcodi">@item.Cnfbarnombre</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input type="button" id="btnCalcularEnergia" value='Calcular Potencia Importada' />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Versión</td>
                                    <td>
                                        <select id="cbModelo">
                                            <option value="2">CMgCP_v2</option>
                                            <option value="1">CMgCP_v1</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="button" id="btnReprocesar" value='Reprocesar Costos Marginales' />
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div style="clear:both; height:20px"></div>
                        <div id="contenedorParametro" style="height:auto; width:100%"></div>
                    </div>

                </td>
            </tr>
        </table>
    </div>

    <br />
    <br />
    <input type="hidden" id="hfFechaVigenciaPR07" value="@Model.FechaVigenciaPR07" />
</div>

<div id="popupConfirmar" class="general-popup" style="width:300px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>¿Está seguro de realizar la operación?</span></div>
    <div class="popup-text">
        <div class="formulario-boton">
            <input type="button" id="btnConfirmar" value="Aceptar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>
    </div>
</div>
