@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel

    <script>
        $(function () {
            adjuntarArchivo();
            adjuntarArchivo2();
        });
        function descargarFormato(nombre) {
            window.location = controlador + 'descargarformato?nombre=' + nombre + '&orden=' + 2;
        }
    </script>

@if (Model.FuenteGams1 != string.Empty && Model.FuenteGams2 != string.Empty)
{
    <div id="msj_fuentegams">
        <p style="display:block"><strong>(*)</strong> Para subir un archivo, primero descargar el formato y subirlo con el mismo nombre</p>
    </div>
}

<div style="clear:both; height:10px"></div>
<table id="tabla_fuentegams" border="0" class="pretty tabla-adicional tabla_reporte_excel" cellspacing="0" style="width: auto; min-width: 500px">
    <thead>
        <tr>
            <th>Archivo</th>
            <th style="width: 100px">Opciones</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td id="filelist" style="text-align: center;">@Model.FuenteGams1</td>
            <td style="text-align: center;">

                @if (Model.FuenteGams1 != string.Empty)
                {
                    <a href="JavaScript:descargarFormato('@Model.FuenteGams1');" title="Descargar formato">
                        <img src="~/Content/Images/btn-download.png" alt="logo">
                    </a>
                }

                <a href="#" id="btnSelectFile" title="Importar en formato gms">
                    <img src="~/Content/Images/subir.png" alt="logo" /><br />
                </a>

            </td>
        </tr>
        <tr>
            <td id="filelist" style="text-align: center;">@Model.FuenteGams2</td>
            <td style="text-align: center;">

                @if (Model.FuenteGams2 != string.Empty)
                {
                    <a href="JavaScript:descargarFormato('@Model.FuenteGams2');" title="Descargar formato">
                        <img src="~/Content/Images/btn-download.png" alt="logo">
                    </a>
                }

                <a href="#" id="btnSelectFile2" title="Importar en formato gms">
                    <img src="~/Content/Images/subir.png" alt="logo" /><br />
                </a>

            </td>
        </tr>

    </tbody>
</table>