@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel

    <script>
        $(function () {
            adjuntarArchivo();
        });
        function descargarFormato(nombre) {
            window.location = controlador + 'descargarformato?nombre=' + nombre + '&orden=' + 1;
        }
    </script>

@if (Model.DiagramaUnifilar != string.Empty)
{
    <div id="msj_unifilar">
        <p style="display:block"><strong>(*)</strong> Para subir un archivo, primero descargar el formato y subirlo con el mismo nombre</p>
    </div>
}

<div style="clear:both; height:10px"></div>
<table id="tabla_unifilar" border="0" class="pretty tabla-adicional tabla_reporte_excel" cellspacing="0" style="width: auto; min-width: 500px">
    <thead>
        <tr>
            <th>Archivo</th>
            <th style="width: 100px">Opciones</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td id="filelist" style="text-align: center;">@Model.DiagramaUnifilar</td>
            <td style="text-align: center;">

                @if (Model.DiagramaUnifilar != string.Empty)
                {
                    <a href="JavaScript:descargarFormato('@Model.DiagramaUnifilar');" title="Descargar en formato Excel">
                        <img src="~/Content/Images/exportarExcel_.png" alt="logo">
                    </a>
                }

                <a href="#" id="btnSelectFile" title="Importar en formato Excel">
                    <img src="~/Content/Images/importarExcel_.png" alt="logo" /><br />
                </a>

            </td>
        </tr>

    </tbody>
</table>