.handsontable .htDimmed {
    color: black;
}

.ht_clone_top_left_corner tr:first-child th, .ht_clone_top tr:first-child th {
    background-color: #D9E1F2;
    color: black;
}

.ht_clone_top_left_corner tr:nth-of-type(2) th, .ht_clone_top tr:nth-of-type(2) th {
    background-color: #2F75B5;
    color: white;
    vertical-align: middle;
}

.ht_clone_top_left_corner tr:nth-of-type(3) th, .ht_clone_top tr:nth-of-type(3) th {
    background-color: #D9E1F2;
    color: black;
}

.ht_clone_top_left_corner tr:nth-of-type(4) th, .ht_clone_top tr:nth-of-type(4) th {
    background-color: #E2EFDA;
    color: black;
}

.clase_par {
    font-weight: bold;
}

.clase_impar {
}

.sinFormato {
    /* color: #000000 !important;
    font-weight: bold;
    background: orange !important;*/
}

.errorLimitInferior {
    color: red !important;
    text-align: right;
}

/*Potencia*/
.td_fuente_1 { /*FuentePotIDCC*/
    color: black;
    background: #ffffff !important;
}

.td_fuente_2 { /*FuentePotTNA*/
    color: black;
    background: #22AEE2 !important;
}

.td_fuente_3 { /*FuentePotYupana*/
    color: black;
    background: #4AB516 !important;
}

/*caudales*/
.td_fuente_4 { /*FuenteCauExtEjec*/
    color: black;
    background: #ffffff !important;
}

.td_fuente_5 { /*FuenteCauExtProg*/
    color: black;
    background: #22AEE2 !important;
}

.td_fuente_6 { /*FuenteCauYupana*/
    color: black;
    background: #4AB516 !important;
}

/*volumen*/
.td_fuente_0 { /*CalculoVolMedido*/
    color: red;
    background: #22AEE2 !important;
    font-weight: bold;
}
.td_fuente_7 { /*CalculoVolCalculado*/
    color: black;
    background: #22AEE2 !important;
}

.td_fuente_8 { /*CalculoVolMenorVmin*/
    color: #FEE28C;
    background: #22AEE2 !important;
    font-weight: bold;
}

.td_fuente_9 { /*CalculoVolMayorVmax*/
    color: blue;
    background: #22AEE2 !important;
    font-weight: bold;
}
/**/
.td_fuente_10 {
    color: #ffffff !important;
    font-weight: bold;
    background: #7149A7 !important;
}

.celdaInfoPorUsuario {
    color: #ffffff !important;
    font-weight: bold;
    background: #7149A7 !important;
}

.cuadro-sh {
    width: 20px;
    height: 10px;
    border: 1px solid #555;
}

.celdaPeriodo {
    color: #fff !important;
    background: #2F75B5 !important;
}



.texto_centrado {
    text-align: center !important;
}

.title_tabla_pop_up {
    border-radius: 6px;
    border-width: 0;
    margin-bottom: 15px;
    background-color: #2980B9;
    color: #fff;
    cursor: move;
    padding: 10px;
    text-align: center;
}


a.button-icon,
a.button-item {
    color: #3D90CB;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin: 0px;
    padding: 28px 8px 2px;
    text-align: center;
    vertical-align: top;
    *float: left;
    *zoom: 1;
}

a.button-icon {
}

a.button-item {
    border: 1px solid #E1E6E9;
    border-radius: 4px;
    min-width: 54px;
}

    a.button-item:hover {
        color: #FF8040;
        cursor: pointer;
    }

a.btn-send {
    background: url("../Images/send.png") center 4px no-repeat;
}

a.btn-errors {
    background: url("../Images/errors.png") center 4px no-repeat;
}

a.btn-shipments {
    background: url("../Images/shipments.png") center 4px no-repeat;
}

a.btn-copy {
    background: url("../Images/copy.png") center 4px no-repeat;
}

a.btn-download {
    background: url("../Images/download.png") center 4px no-repeat;
}

a.btn-import {
    background: url("../Images/upload.png") center 4px no-repeat;
}

a.btn-excel-download {
    background: url("../Images/excel-export.png") center 4px no-repeat;
}

a.btn-comment-send {
    background: url("../Images/send-comment.png") center 4px no-repeat;
}

a.btn-attachments {
    background: url("../Images/attachments.png") center 4px no-repeat;
}

a.btn-aprobar {
    background: url("../Images/btn-ok.png") center 4px no-repeat;
}

a.btn-rechazar {
    background: url("../Images/btn-cancel.png") center 4px no-repeat;
}

a.btn-download-message {
    background: url("../Images/Download.png") center 4px no-repeat;
}



.separate-h {
    margin: 2px 0;
    padding: 2px 0;
}

.field-group,
.field-control-group,
.field-label,
.field-control {
    display: inline-block;
    *float: left;
    *zoom: 1;
}

.field-label {
    /*width:80px;*/
    text-indent: 10px;
}

.field-label2 {
    width: 120px;
    float: left;
    line-height: 25px;
    font-weight: bold;
}

.field-control {
}

.color-blue {
    color: #3c8fcb;
}

.color-green {
    color: #41a041;
}

.color-red {
    color: #ff0000;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-yellow {
    background-color: #ffffe0;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}


/*table.pretty tbody td {
    background-color: inherit;
}*/

/*.tabla-formulario tbody tr td {
    text-align: left;
}*/

.handsontable .htHeader {
    background-color: #00ccff;
    text-align: center;
}


.bg-color-ligthBlue,
table.pretty tbody td.bg-color-ligthBlue {
    background-color: #EDF5FC;
}

.chat-inner .state-viewed {
    background-image: url(../images/comment-seen.png);
    background-position: right center;
    background-repeat: no-repeat;
}


.search-content {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 15px;
    width: auto;
    border-radius: 4px;
}

    .search-content input[type='text'] {
        background-color: #fff;
        /**width:100px;*/
    }

    .search-content select {
        background-color: #fff;
        width: 150px;
    }

/*ajustes al css general*/
.content-hijo .search-content table tr td {
    vertical-align: middle;
}

    .content-hijo .search-content table tr td.tbform-label {
        padding-left: 15px;
        text-align: right;
    }

#table-resumen td {
    text-align: center;
}

.action-alert {
    text-indent: 0px;
    padding-left: 35px;
}

select:disabled {
    background: lightgray;
    color: #4876AA;
}

input[type=text]:disabled {
    background-color: lightgray;
    color: #4876AA;
}

textarea:disabled {
    background: lightgray;
    color: #4876AA;
}

table.pretty tbody tr.odd:hover td {
    background: #fbf4bf;
}

table.pretty tbody tr.even:hover td {
    background: #fbf4bf;
}

table.pretty tbody tr:hover td {
    background-color: #FFFFD7;
}

/** Inicio PMPOe3 **/
.content-action {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

.content-item-action {
    height: 35px;
    line-height: 12px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }
/** Fin PMPOe3 **/
