/*Reporte historico*/
#reporteHistorico .th-fecha {
    min-width: 130px;
    width: 200px !important;
}

#reporteHistorico .th-titulo {
}

#reporteHistorico .th-empresa {
}

#reporteHistorico .th-grupo {
}

#reporteHistorico .th-equipo {
    min-width: 120px;
    max-width: 120px;
    background: #2980B9;
    white-space: initial;
}

#reporteHistorico .th-tipo-pto {
    min-width: 120px;
    max-width: 120px;
    background: #2980B9;
}

#reporteHistorico .th-tipo-info {
    min-width: 120px;
    max-width: 120px;
    background: #2980B9;
}

#reporteHistorico .td-hora {
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.detalle-faltante {
    background: orange !important;
}

#idDetalleFaltante table.pretty td{
    border:1px solid #dddddd
}

#reporteHistorico .th-colIni {
    min-width: 120px;
    max-width: 120px;
    background: #4b6373;
    white-space: initial;
}