@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Rango de Periodos para emisión de Reporte de Máxima Demanda";
}

<link href="~/Areas/Medidores/Content/Css/parametro.css" rel="stylesheet" />
<script src="~/Areas/Medidores/Content/Scripts/parametro.js"></script>
<script src="~/Areas/Medidores/Content/Scripts/parametroRangoPeriodoHP.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">Parámetros de Rango de Periodos para emisión de Reporte de Máxima Demanda</div>
    <div class="content-botonera">
        <input type="button" id="btnNuevoRangoPeriodoHP" value="Nuevo" />
    </div>
</div>

<div>
    <div class="content-tabla">
        <div id="mensaje" style="width:500px; margin:0"></div>

        <div id="rangoHP"></div>
    </div>
</div>

<!--popup rangoPotenciaInductiva -->
<div id="popupVerRangoPeriodoHP" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Parámetros de Rango de Periodos para emisión de Reporte de Máxima Demanda</span></div>
    <div id="verRangoPeriodoHP"></div>
</div>

<div id="popupNuevoRangoPeriodoHP" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Parámetros de Rango de Periodos para emisión de Reporte de Máxima Demanda</span></div>
    <div id="nuevoRangoPeriodoHP"></div>
</div>

<div id="popupEditarRangoPeriodoHP" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Parámetros de Rango de Periodos para emisión de Reporte de Máxima Demanda</span></div>
    <div id="editarRangoPeriodoHP"></div>
</div>
