@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnGuardarRangoSolar').click(function () {
            registrarRangoSolar();
        });

        $('#txtFechaInicioRangoSolar').Zebra_DatePicker({
        });
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha de Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="txtFechaInicioRangoSolar" value="@Model.RangoSolar.FechaFormato" style="width:100px;" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="horaInicioRangoSolar" placeholder="HH:mm" value="" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="horaFinRangoSolar" placeholder="HH:mm" value="" style="width:100px" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarRangoSolar" />
</div>