@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnGuardarRangoPotenciaInductiva').click(function () {
            registrarRangoPotenciaInductiva();
        });

        $('#txtFechaInicioRangoPotenciaInductiva').Zebra_DatePicker({
        });
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha de Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="txtFechaInicioRangoPotenciaInductiva" value="@Model.RangoPotenciaInductiva.FechaFormato" style="width:100px;" />
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="4">Rango 1</td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="h1IniRangoPotenciaInductiva" value="" style="width:100px" />
                </td>
                <td class="tbform-label">Hora Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="h1FinRangoPotenciaInductiva" value="" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td colspan="4">Rango 2</td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="h2IniRangoPotenciaInductiva" value="" style="width:100px" />
                </td>
                <td class="tbform-label">Hora Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="h2FinRangoPotenciaInductiva" value="" style="width:100px" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarRangoPotenciaInductiva" />
</div>