@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnGuardarRangoPeriodoHP').click(function () {
            registrarRangoPeriodoHP();
        });

        $('#txtFechaInicioRangoPeriodoHP').Zebra_DatePicker({
        });
        $('#txtFechaFinRangoPeriodoHP').Zebra_DatePicker({
        });
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="txtFechaInicioRangoPeriodoHP" value="@Model.RangoPeriodoHP.FechaFormatoInicio" style="width:100px;" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Fecha Fin:</td>
                <td class="tbform-control">
                    <input type="text" id="txtFechaFinRangoPeriodoHP" value="@Model.RangoPeriodoHP.FechaFormatoFin" style="width:100px;" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Normativa Vigente:</td>
                <td class="tbform-control">
                    <textarea rows="4" cols="70" style="resize:none" id="txtNormativaVigente"></textarea>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarRangoPeriodoHP" />
</div>