@model COES.MVC.Intranet.Areas.Medidores.Models.ParametroModel
<script>
    $(function () {
        $('#btnGuardarHPPotenciaActiva').click(function () {
            registrarHPPotenciaActiva();
        });

        $('#txtFechaInicioHPPotenciaActiva').Zebra_DatePicker({
        });
    });
</script>

<div class='panel-container'>
    <div class="form-search">
        <table style="width:100%;margin-right: auto" class="table-form-show">
            <tr>
                <td class="tbform-label">Fecha de Inicio:</td>
                <td class="tbform-control">
                    <input type="text" id="txtFechaInicioHPPotenciaActiva" value="@Model.HPPotenciaActiva.FechaFormato" style="width:100px;" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Mínima:</td>
                <td class="tbform-control">
                    <input type="text" id="horaMinimaHPPotenciaActiva" value="" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Media:</td>
                <td class="tbform-control">
                    <input type="text" id="horaMediaHPPotenciaActiva" value="" style="width:100px" />
                </td>
            </tr>
            <tr>
                <td class="tbform-label">Hora Máxima:</td>
                <td class="tbform-control">
                    <input type="text" id="horaMaximaHPPotenciaActiva" value="" style="width:100px" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="clear:both; width:100px; text-align:center; margin:auto; margin-top:20px">
    <input type="button" value="Guardar" id="btnGuardarHPPotenciaActiva" />
</div>