@model COES.MVC.Intranet.Areas.TransfPotencia.Models.IngresoPotefrModel
@{
    ViewBag.Title = "Datos de Potencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar datos de potencia" }, { "sAccion", "Actualizar" } })
</div>