@model COES.MVC.Intranet.Areas.TransfPotencia.Models.IngresoPotefrModel
@{
    ViewBag.Title = "Dias de potencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir la informacion de potencia" }, { "sAccion", "Grabar" } })
</div>