@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel

@{
    ViewBag.Title = "Relacion Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información" }, { "sAccion", "Actualizar" }, 
    { "sEmpresa", TempData["Emprcodigo"] }, { "sCentral", TempData["Centralcodigo"] }, { "sMensajeError", TempData["sMensajeError"] } })
</div>