@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@{
    ViewBag.Title = "Indisponibilidad de Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermiso ? "" : "display: none";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/IND/Content/Css/relacion_empresa.css?v=1.5.4" rel="stylesheet" />
<script src="~/Areas/IND/Content/Scripts/relacion_empresa.js?v=1.5.4"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo">Indisponibilidad Empresa</div>
        <div class="content-botonera">
            @if (Model.bNuevo)
            {
                <input type="button" id="btnActualizarLista" value="Actualizar listado" alt="Actualizar el listado de empresas" title="Actualizar el listado de empresas" />
            }
            @*<input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index","RelacionEmpresa")'" alt="Refrescar" title="Refrescar" />*@
        </div>
        </div>
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">       </div>
    </div>
</div>
