@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@{
    ViewBag.Title = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva Indisponibilidad" }, { "sAccion", "Insertar" }, { "sEmpresa", TempData["Emprcodigo"] }, { "sCentral", TempData["Centralcodigo"] } })
</div>