@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@{
    ViewBag.Title = "Indisponibilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir la información" }, { "sAccion", "Grabar" },
    { "sEmpresa", TempData["Emprcodigo"] }, { "sCentral", TempData["Centralcodigo"] }, { "sMensajeError", TempData["sMensajeError"] } })
</div>