@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Otros Estudios de Largo Plazo";
}

<div style="clear:both"></div>
@*<div class="page-banner">
    <div class="page-banner-title">
        <h1>Estudios especiales de Largo Plazo</h1>
        <span>Planificación</span>
    </div>
    <img src="~/Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg" alt="Otros Estudios de Largo Plazo" />
</div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/PlanificacionOperativaDeLargoPlazo.jpg) ">
    <div class="main-banner-title">
    </div>
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        @Html.Action("Index", "Browser", new { area = "", url = "Planificación%2FOtros%20Estudios%20de%20Largo%20Plazo%2F" })
        <div style="clear:both"></div>
    </div>
</div>
