@model COES.MVC.Intranet.Areas.Eventos.Models.MatrizModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Eventos/Content/Scripts/matrizrsf.js"></script>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Unidades de Regulación Secundaria</div>
    <div class="content-botonera">          
        <input type="button" id="btnGrabar" value="Grabar" />
        <input type="button" id="btnExportar" value="Exportar" />
        <input type="button" id="btnExportarHora" value="Exportar 30 minutos" />
        <input type="button" id="btnExportarReserva" value="Exportar Reserva Asignada URS" />
    </div>
</div>

<div class="modalitem" style="display:none" id="popupExportacion">
    <div style=" float:right">
        <a href="JavaScript:closePopupExportacion()" style="font-size:20px; font-weight:bold; text-decoration:none; color:#3987b4">X</a>
    </div>
    <div style="clear:both"></div>
    Fecha Inicio:
         <input type="text" id="FechaInicio" name="FechaInicio" style="width:120px" value="@Model.Fecha"  />          
    Fecha Fin:
        <input type="text" id="FechaFin" name="FechaFin" style="width:120px" value="@Model.Fecha"  />
    <div style=" width:100px; margin:auto; margin-top:20px ">
    <input type="button" id="btnAceptarExportacion" value="Aceptar" />
        </div>
</div>

<div class="content-hijo" style="min-height:500px">
    
    <div id="mensaje"></div>

    <table class="content-tabla-search" style="width:600px">     
        <tr>
            <td>
                <fieldset style="width:150px; padding-bottom:20px">
                     <legend>Fecha</legend>
                     <input type="text" id="FechaConsulta" name="FechaConsulta" style="width:120px" value="@Model.Fecha"  />
                     <input type="button" id="btnConsultar" value="Consultar" style="display:none"/>
                </fieldset>
            </td>
            <td>
                <fieldset style="width:150px; padding-bottom:20px">
                    <legend>Equipos</legend>
                    <input type="button" id="btnEquipo" value="Agregar" />
                    <input type="button" id="btnEquipoQuitar" value="Quitar" />
                </fieldset>
            </td>
            <td>
                <fieldset style="width:150px; padding-bottom:20px">
                    <legend>Horas</legend>
                    <input type="button" id="btnHora" value="Agregar" />
                    <input type="button" id="btnHoraQuitar" value="Quitar" />
                </fieldset>       
            </td>
            <td>
                <fieldset style="width:150px; padding-bottom:20px">
                    <legend>Reserva Secundaria (MW)</legend>
                    <input type="text" value="120" id="txtReserva" />
                </fieldset>
            </td>
        </tr>
    </table>
      
    <div style="clear:both; height:20px;"></div>

    <div id="listado"></div>
    
    <div id="seleccionHora">
        <span class="button b-close"><span>X</span></span>
        <div id="hora"></div>
    </div>

    <div id="busquedaEquipo" style="display:none">
    </div>

    <div style="clear:both; height:50px;"></div>
  
</div>