@model COES.MVC.Intranet.Areas.IEOD.Models.BusquedaIEODModel
@{
    ViewBag.Title = "DashBoard IEOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/IEOD/Content/Scripts/dashboard/dashboard.js?id=1.1.9"></script>
<link href="~/Areas/IEOD/Content/Css/css.css?v=1.1.6" rel="stylesheet" />
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js?v=7.0.0"></script>

<div class="form-title" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="content-titulo">DashBoard IEOD</div>

    <a href="#" id="btnManualUsuario" style="text-decoration: none; display: inline-block; margin-top: -3px; margin-left: 90px;">
        <div style="text-align: center; line-height: 15px; font-size: 12px;">
            <img src="~/Content/Images/prn-ico-manual.png" style="height: 25px; display: block; margin: 0 auto 5px;">
            <span style="color: #278CCC;">Manual de Usuario</span>
        </div>
    </a>

</div>

<!--
     <div class="content-botonera" id="container">
     <input type="button" id="btnExportar" value="Exportar" />
 </div>
    -->

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de DashBoard:</td>
                <td>
                    <select id="cbDashBoard" style="width:250px">
                        <option value="0" selected>--SELECCIONE--</option>
                        @foreach (var item in Model.ListaTipoDashboard)
                        {
                            <option value="@item.Codigo">@item.Descripcion</option>
                        }
                    </select>
                </td>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="txtFechaInicio" value="@Model.FechaInicio" />
                    <input type="hidden" id="txtFechaFin" value="@Model.FechaFin" />
                </td>
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">

        <div id="dashboard1" style="display: none">
            <h2>Estadística diaria del sistema eléctrico</h2>

            <div style="clear:both; height:5px"></div>
            <div class="table-list" id="listado1_1" style="display:none;"></div>

            <div style="clear:both; height:15px"></div>
            <div id="grafico1_1" style="display: none; float: left; width: 400px"></div>
            <div id="grafico1_2" style="display: none; float: left; width: 400px"></div>
            <div id="grafico1_3" style="display: none; float: left; width: 400px"></div>
            <div id="grafico1_4" style="display: none; float: left; width: 400px"></div>

            <div style="clear:both; height:40px"></div>
            <h2>Demanda Máxima</h2>

            <div style="clear:both; height:5px"></div>
            <div class="table-list" id="listado1_2" style="display:none;"></div>

            <div style="clear:both; height:40px"></div>
        </div>

        <div id="dashboard2" style="display: none">
            <h2>Demanda por Área Operativa</h2>

            <div style="clear:both; height:5px"></div>
            <div class="table-list" id="listado2_1" style="display:none;"></div>

            <div style="clear:both; height:15px"></div>
            <div id="grafico2_1" style="display: none; float: left; width: 400px"></div>
            <div id="grafico2_2" style="display: none; float: left; width: 400px"></div>
            <div id="grafico2_3" style="display: none; float: left; width: 400px"></div>
            <div id="grafico2_4" style="display: none; float: left; width: 400px"></div>

            <div style="clear:both; height:40px"></div>

            <table id="listado2_2"></table>
        </div>

        <div id="dashboard3" style="display: none">
            <h2>Grandes Usuarios Libres</h2>

            <div style="clear:both; height:5px"></div>
            <div class="table-list" id="listado3_1" style="display:none;"></div>

            <div style="clear:both; height:15px"></div>
            <div id="grafico3_1" style="display: none; float: left; width: 400px"></div>
            <div id="grafico3_2" style="display: none; float: left; width: 400px"></div>
            <div id="grafico3_3" style="display: none; float: left; width: 400px"></div>
            <div id="grafico3_4" style="display: none; float: left; width: 400px"></div>

            <div style="clear:both; height:40px"></div>
        </div>


        <div id="dashboard6" style="display: none">
            <h2>Recursos Energéticos del SEIN</h2>

            <div style="clear:both; height:5px"></div>
            <div class="table-list" id="listado6_1" style="display:none;"></div>

            <div style="clear:both; height:15px"></div>
            <div id="grafico6_1" style="display: none; float: left; width: 700px"></div>
            <div id="grafico6_2" style="display: none; float: left; width: 700px"></div>
            <div id="grafico6_3" style="display: none; float: left; width: 700px"></div>
            <div id="grafico6_4" style="display: none; float: left; width: 700px"></div>

            <div style="clear:both; height:40px"></div>

            <h2>Recursos Energéticos RER</h2>

            <div style="clear:both; height:5px"></div>
            <div class="table-list" id="listado6_2" style="display:none;"></div>

            <div style="clear:both; height:15px"></div>
            <div id="grafico6_2_1" style="display: none; float: left; width: 700px"></div>
            <div id="grafico6_2_2" style="display: none; float: left; width: 700px"></div>
            <div id="grafico6_2_3" style="display: none; float: left; width: 700px"></div>
            <div id="grafico6_2_4" style="display: none; float: left; width: 700px"></div>

            <div style="clear:both; height:40px"></div>
        </div>

        <div id="dashboard10" style="display: none">
            <h2>Energía Primaria</h2>

            <div style="clear:both; height:5px"></div>
            <div class="table-list" id="listado10_1" style="display:none;"></div>

            <div style="clear:both; height:15px"></div>

            <table id="grafico10"></table>

            <div style="clear:both; height:40px"></div>
        </div>
    </div>
</div>
