@model COES.MVC.Intranet.Areas.Medidores.Models.GestionAdministradorModel
@{
    ViewBag.Title = "Cambios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Medidores/Content/Scripts/administradorCambioEnvio.js"></script>

<div class="form-title">
    <div class="content-titulo">Reporte de Cambios</div>
    <div class="content-botonera">
        <input type="button" id="btnBuscar" value="Consultar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Formato:</td>
                <td>
                    <select id="cbFormato" style="width: 330px;">
                        @foreach (var item in Model.ListaFormato)
                        {
                            <option value="@item.Formatcodi">@item.Formatnombre</option>
                        }
                    </select>
                    <input type="hidden" id="hfFormato" />
                </td>

                <td>Empresa:</td>
                <td style="width:200px;">
                    <div id="empresas"></div>
                </td>
            </tr>
            <tr>
                <td>Período:</td>
                <td><input type="text" id="mes" name="mes" value="@Model.Mes" /></td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div class="tabla-header">
        </div>
        <div style="clear:both; height:5px"></div>
        <div id="listado"></div>
    </div>

</div>


