@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
@{
    ViewBag.Title = "Reportes envios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/jquerytree.js"></script>
<script src="~/Content/Scripts/jquerytreednd.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/reporte.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/uitree.css" rel="stylesheet" />
<link href="~/Areas/Campanias/Content/Css/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Reportes de env&iacute;os</div>
</div>

<div class="content-hijo">
    <div id="errorReportes"></div>
    <div class="content-registro">
        <form id="frmRegistro">
            <table style="width:auto">
                <tr>
                    <td style="padding-right:20px">Plan transmision:</td>
                    <td>
                        <select id="periodoSelect" style="width:285px"></select>
                    </td>
                </tr>
                <tr id="trEmpresa">
                    <td>Empresa:</td>
                    <td>
                        <select id="empresaSelect" style="width:285px">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Estado:</td>
                    <td>
                        <select id="cbEstado" name="cbEstado" style="width:285px">
                            <option value="Cerrado">Cerrado</option>
                            <option value="Enviado">Enviado</option>
                            <option value="Aprobado">Aprobado</option>
                            <option value="Rechazado">Rechazado</option>
                            <option value="Observado">Observado</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tipo de reporte:</td>
                    <td>
                        <select id="cbTipoReporte" name="cbTipoReporte" style="width:285px">
                            <option value="">Seleccionar tipo</option>
                            <option value="DeEmpresas">De Empresas</option>
                            <option value="DeProyectos">De Proyectos</option>
                            <option value="DePronosticoDemanda">De Pron&oacute;sticos de Demandas</option>
                            <option value="DePronosticos">De Pron&oacute;sticos</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="3" class="chkbox_class repEmpresas" />
                            <label>Reportes de Empresas</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="4" class="chkbox_class repProyectos" />
                            <label>Parámetros de Centrales T&eacute;rmicas</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="5" class="chkbox_class repProyectos" />
                            <label>Parámetros de Centrales Hidroel&eacute;ctricas</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="6" class="chkbox_class repProyectos" />
                            <label>Par&aacute;metros de Centrales Solares</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="7" class="chkbox_class repProyectos" />
                            <label>Par&aacute;metros de Centrales E&oacute;licas</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="8" class="chkbox_class repProyectos" />
                            <label>Par&aacute;metros de Centrales Biomasa</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="9" class="chkbox_class repProyectos" />
                            <label>Par&aacute;metros de Líneas de Transmisi&oacute;n</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="10" class="chkbox_class repProyectos" />
                            <label>Par&aacute;metros de Transformadores</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="11" class="chkbox_class repProyectos" />
                            <label>Reporte de Generaci&oacute;n Distribuida</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="12" class="chkbox_class repProyectos" />
                            <label>Reporte de Hidr&oacute;geno Verde</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="13" class="chkbox_class repProyectos" disabled/>
                            <label>Reporte de Cronograma de Ejecuci&oacute;n</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="14" class="chkbox_class repPronosticos" />
                            <label>Informaci&oacute;n de Proyecci&oacute;n de Demanda</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="1" class="chkbox_class repITC" />
                            <label>Reportes de Demanda EDE</label>
                        </div>
                        <div>
                            <input type="checkbox" name="checkTipoProyecto" value="2" class="chkbox_class repITC" />
                            <label>Reportes de Sistema Electrico y Par&aacute;metros</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="margin:auto; text-align:center; margin-top:30px">
                            <input type="button" id="btnGenerar" value="Generar" />
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


