@model COES.MVC.Intranet.Areas.Despacho.Models.ReporteModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Despacho/Content/Scripts/CostoIncremental.js?v=1.1"></script>
<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Reporte Costo Incremental</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div style="clear:both; height:5px;"></div>
    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha:</td>
                <td>
                    <input type="text" id="Fecha" name="Fecha" value="@Model.Fecha" />
                </td>               
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
                <td>
                    <a href="JavaScript:ExportarExcel();" title="Exportar a Excel">
                        <img src="~/Content/Images/ExportExcel.png" width="30" height="30" />
                    </a>
                </td>
            </tr>
            
        </table>
    </div>
    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>