<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Estadísticas Anuales";
}
<link href="~/Content/Css/portalinformacion.css" rel="stylesheet" />
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>


<script src="~/Areas/Publicaciones/Content/Scripts/InfografiaAnimadaAnimatefinal.js?v01"></script>

<style type="text/css">
    .tabla-informacion tbody tr td {
        text-align: center;
        cursor: pointer
    }

    .page-text img {
        border-radius: 0px;
    }

    .tabla-informacion tbody tr td:first-child {
        text-align: left;
        text-indent: 10px;
    }

    .tabla-informacion tbody tr td:first-child {
        font-size: 12px;
    }

        .tabla-informacion tbody tr td:first-child span {
            color: #5191D8;
            font-weight: bold;
            font-size: 16px;
            padding-right: 5px
        }


    .tabla-informacion tbody tr td:nth-of-type(2n+1) a img {
        border: 1px none !important;
        width: 26px;
        margin-top: 4px
    }

    .tabla-informacion tbody tr td:nth-of-type(2n) a img {
        border: 1px none !important;
        width: 23px;
        margin-top: 4px
    }

    .tabla-informacion tbody tr td {
        border-left: 1px none;
        border-right: 1px none;
    }

    .tabla-informacion thead tr th {
        border: 1px none;
        line-height: 27px;
    }


    .tabla-informacion tbody tr:first-child td {
        border-top: 1px none;
    }

    .tabla-informacion thead tr th:first-child {
        border: 1px none;
        border-radius: 5px 0px 0px 5px;
    }

    .tabla-informacion thead tr th:last-child {
        border: 1px none;
        border-radius: 0px 5px 5px 0px;
    }
</style>

<script>
    // Global Scripts
    var canClick = true;
</script>
<script>
    var canvas, stage, exportRoot, anim_container, dom_overlay_container, fnStartAnimation;

    function handleFileLoad(evt, comp) {
        var images = comp.getImages();
        if (evt && (evt.item.type == "image")) { images[evt.item.id] = evt.result; }
    }
    function handleComplete(evt, comp) {
        //This function is always called, irrespective of the content. You can use the variable "stage" after it is created in token create_stage.
        var lib = comp.getLibrary();
        var ss = comp.getSpriteSheet();
        var queue = evt.target;
        var ssMetadata = lib.ssMetadata;
        for (i = 0; i < ssMetadata.length; i++) {
            ss[ssMetadata[i].name] = new createjs.SpriteSheet({ "images": [queue.getResult(ssMetadata[i].name)], "frames": ssMetadata[i].frames })
        }
        exportRoot = new lib.InfografiaAnimadaAnimatefinalv3();
        stage = new lib.Stage(canvas);
        stage.enableMouseOver();
        //Registers the "tick" event listener.
        fnStartAnimation = function () {
            stage.addChild(exportRoot);
            createjs.Ticker.setFPS(lib.properties.fps);
            createjs.Ticker.addEventListener("tick", stage);
        }
        //Code to support hidpi screens and responsive scaling.
        function makeResponsive(isResp, respDim, isScale, scaleType) {
            var lastW, lastH, lastS = 1;
            window.addEventListener('resize', resizeCanvas);
            resizeCanvas();
            function resizeCanvas() {
                var w = lib.properties.width, h = lib.properties.height;
                var iw = window.innerWidth, ih = window.innerHeight;
                var pRatio = window.devicePixelRatio || 1, xRatio = iw / w, yRatio = ih / h, sRatio = 1;
                if (isResp) {
                    if ((respDim == 'width' && lastW == iw) || (respDim == 'height' && lastH == ih)) {
                        sRatio = lastS;
                    }
                    else if (!isScale) {
                        if (iw < w || ih < h)
                            sRatio = Math.min(xRatio, yRatio);
                    }
                    else if (scaleType == 1) {
                        sRatio = Math.min(xRatio, yRatio);
                    }
                    else if (scaleType == 2) {
                        sRatio = Math.max(xRatio, yRatio);
                    }
                }
                canvas.width = w * pRatio * sRatio;
                canvas.height = h * pRatio * sRatio;
                canvas.style.width = dom_overlay_container.style.width = anim_container.style.width = w * sRatio + 'px';
                canvas.style.height = anim_container.style.height = dom_overlay_container.style.height = h * sRatio + 'px';
                stage.scaleX = pRatio * sRatio;
                stage.scaleY = pRatio * sRatio;
                lastW = iw; lastH = ih; lastS = sRatio;
                stage.tickOnUpdate = false;
                stage.update();
                stage.tickOnUpdate = true;
            }
        }
        makeResponsive(false, 'both', false, 1);
        AdobeAn.compositionLoaded(lib.properties.id);
        fnStartAnimation();
    }
</script>

<script type="text/javascript">

    $(function () {

        $('.tabla-informacion tbody tr td:nth-child(2) a').on('click', function () {
            //alert($(this).attr('data-id'));
            $('#popupTitle').text($(this).parent().parent().find("td:nth-child(1)").html().replace("<span>", "").replace("</span>", ""));
            //window.open(siteRoot + "areas/Publicaciones/documentos/capitulo" + $(this).parent().parent().attr('data-id') + ".htm", "_blank");
            //$('#frmContenido').attr("src", siteRoot + "areas/publicaciones/documentos/capitulo" + $(this).parent().parent().attr('data-id') + ".htm");
            //$('#popupEstadistica').bPopup({

            //});
        });

        $('#divInfografia').on('click', function () {
            $('#infografia').show();
            $('#detalle').hide();
            $('#mapas').hide();
        });

        $('#divDetalle').on('click', function () {
            $('#infografia').hide();
            $('#detalle').show();
            $('#mapas').hide();
        });


        $('#divMapas').on('click', function () {
            $('#infografia').hide();
            $('#detalle').hide();
            $('#mapas').show();
        });

        canvas = document.getElementById("canvas");
        anim_container = document.getElementById("animation_container");
        dom_overlay_container = document.getElementById("dom_overlay_container");
        var comp = AdobeAn.getComposition("7764188A17BEC441908B58278E71CEF9");
        var lib = comp.getLibrary();
        var loader = new createjs.LoadQueue(false);
        loader.addEventListener("fileload", function (evt) { handleFileLoad(evt, comp) });
        loader.addEventListener("complete", function (evt) { handleComplete(evt, comp) });
        var lib = comp.getLibrary();
        loader.loadManifest(lib.properties.manifest);
    });

</script>

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Estadísticas Anuales</h1>
        <span>Publicaciones</span>
    </div>
    <img src="~/Content/Images/Banners/EstadisticaOperacion.jpg" alt="Estadísticas Anuales" />
</div>
<div style="clear:both"></div>
<div class="page-content" style="padding-top:10px">


    <table style="margin:auto; text-align:center;" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div class="page-info" style="margin-left:20px; padding:10px 20px 10px 10px !important" id="divInfografia">
                    <ul style="line-height:16px; margin:0">
                        <li style="font-size:13px !important; border-bottom:none"><a style="font-size:13px; " href="#" style="font-size:20px">Infografía</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="page-info" style="margin-left:20px; padding:10px 20px 10px 10px !important" id="divDetalle">
                    <ul style="line-height:16px; margin:0">
                        <li style="font-size:13px !important; border-bottom:none"><a style="font-size:13px; " href="#" style="font-size:20px">Detalle de la Estadística</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="page-info" style="margin-left:20px; padding:10px 20px 10px 10px !important" id="divMapas">
                    <ul style="line-height:16px; margin:0">
                        <li style="font-size:13px !important; border-bottom:none"><a style="font-size:13px; " href="#" style="font-size:20px">Mapas SEIN</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    <div id="infografia" style="display:block">

        <div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:1200px; height:850px">
            <canvas id="canvas" width="1200" height="850" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
            <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:1200px; height:850px; position: absolute; left: 0px; top: 0px; display: block;">
            </div>
        </div>
    </div>

    <div id="detalle" style="display:none">

        <div class="page-left1" style="width:900px">


            <div class="page-text">

                <h1>Estadística Anual 2019</h1>

                <table class="tabla-informacion">
                    <thead>
                        <tr>
                            <th>Capítulos</th>-->
                            <!--<th>Visualizar</th>-->
                            <!--<th>Descargar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-id="01">
                            <td>
                                <span>01.</span> ESTADÍSTICA RELEVANTE DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21111&authkey=%21AN4S89LdQERwqpQ&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2001_Estad%C3%ADstica%20Relevante%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="02">
                            <td>
                                <span>02.</span>
                                ESTADO ACTUAL DE LA INFRAESTRUCTURA DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21112&authkey=%21AOapJspDuPFFNaU&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2002_Estado%20Actual%20de%20la%20Infraestructura%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="03">
                            <td>
                                <span>03.</span>
                                DIAGRAMA DE CARGA Y DIAGRAMA DE DURACIÓN DE CARGA DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21113&authkey=%21AMmwMt4guypECY8&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCap%C3%ADtulo%2003_Diagrama%20de%20Carga%20y%20Diagrama%20de%20Duraci%C3%B3n%20de%20Carga%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="04">
                            <td>
                                <span>04.</span>
                                PRODUCCIÓN DE ELECTRICIDAD DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21114&authkey=%21AGOCU3YxXqcodLE&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2004_%20Producci%C3%B3n%20de%20Electricidad%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="05">
                            <td>
                                <span>05.</span>
                                PRODUCCIÓN TERMOELÉCTRICA Y CONSUMO DE COMBUSTIBLE DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21116&authkey=%21AFzk5UVBhgHVX54&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2005_Producci%C3%B3n%20Termoel%C3%A9ctrica%20y%20Consumo%20de%20Combustible.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="06">
                            <td>
                                <span>06.</span>
                                PRODUCCIÓN HIDROELÉCTRICA Y RECURSOS HIDRÍCOS DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21115&authkey=%21AIyhZK5pWhP4ryI&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2006_Producci%C3%B3n%20Hidroel%C3%A9ctrica%20y%20Recursos%20Hidr%C3%ADcos%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="07">
                            <td>
                                <span>07.</span>
                                PRODUCCIÓN DE ENERGÍAS RENOVABLES EN EL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21119&authkey=%21AEdcVfKyuDq9ceg&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2007_Producci%C3%B3n%20con%20Recursos%20Renovables%20en%20el%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="08">
                            <td>
                                <span>08.</span>
                                MÁXIMA DEMANDA COINCIDENTE DE GRANDES USUARIOS DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21118&authkey=%21AMNVSnma9rysjAI&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2008_M%C3%A1xima%20Demanda%20Coincidente%20de%20Grandes%20Usuarios%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="09">
                            <td>
                                <span>09.</span>
                                BALANCE DE ENERGÍA FIRME
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21117&authkey=%21AEyP1CrqFi3G2nc&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2009_Balance%20de%20Energ%C3%ADa%20Firme.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="10">
                            <td>
                                <span>10.</span>
                                OPERACIÓN DEL SISTEMA DE TRANSMISIÓN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21122&authkey=%21AL9T2wDif4p-p-U&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCap%C3%ADtulo%2010_Operaci%C3%B3n%20del%20Sistema%20de%20Transmisi%C3%B3n.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="11">
                            <td>
                                <span>11.</span>
                                ESTADÍSTICA DE FALLAS Y FACTORES DE DISPONIBILIDAD
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21121&authkey=%21AHcVI_Cj1itEhCg&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2011_Estad%C3%ADstica%20de%20Fallas%20y%20Factores%20de%20Disponibilidad.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="12">
                            <td>
                                <span>12.</span>
                                ÍNDICES DE LOS MANTENIMIENTOS EJECUTADOS Y PROGRAMADOS DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21120&authkey=%21AN8h9rOYSvvU49U&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2012_%C3%8Dndices%20de%20los%20Mantenimientos%20Ejecutados%20y%20Programados%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="13">
                            <td>
                                <span>13.</span>
                                COSTOS MARGINALES DE CORTO PLAZO
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21126&authkey=%21ALLuXI4hW5K3os4&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2013_Costos%20Marginales%20de%20Corto%20Plazo.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="14">
                            <td>
                                <span>14.</span>
                                VALORIZACIÓN DE TRANSFERENCIAS DE ENERGÍA ACTIVA
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21123&authkey=%21AIyvkLp50JJfYRQ&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2014_Valorizaci%C3%B3n%20de%20Transferencia%20de%20Energ%C3%ADa%20Activa.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="15">
                            <td>
                                <span>15.</span>
                                VALORIZACIÓN DE TRANSFERENCIAS DE POTENCIA
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21124&authkey=%21APLKd3QaXdP59dI&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2015_Valorizaci%C3%B3n%20de%20Transferencia%20de%20Potencia.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="16">
                            <td>
                                <span>16.</span>
                                VALORIZACIÓN DE TRANSFERENCIAS DE ENERGÍA REACTIVA
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21125&authkey=%21ADqHyB-bWkoXRLU&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCapitulo%2016_Valorizaci%C3%B3n%20de%20Transferencia%20de%20Energia%20Reactiva.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>
                        <tr data-id="17">
                            <td>
                                <span>17.</span>
                                INTERCAMBIOS INTERNACIONALES
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21127&authkey=%21APeDrH3Do9g3UOY&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCap%C3%ADtulo%2017_Intercambios%20Internacionales.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>

                        <tr data-id="18">
                            <td>
                                <span>18.</span>
                                EQUIPAMIENTO DEL SEIN
                            </td>-->
                            <!--<td>
                                <a  target="_blank" href="https://onedrive.live.com/embed?resid=B2A62558F806CB10%21128&authkey=%21ACmXg9NBQwT5AT4&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"><img src="~/Content/Images/view-icon.png" /></a>
                            </td>-->
                            <!--<td>
                                <a href="~/browser/download?url=Publicaciones%2FEstadisticas%20Anuales%2F2019%2FExcel%2FCap%C3%ADtulo%2018_Equipamiento%20del%20SEIN.xlsx"><img src="~/Content/Images/ExportExcel.png" /></a>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>

        </div>
        <div class="page-rigth1">
            <div style="clear:both; height:40px"></div>
            <div class="page-info">
                <h1>Ver también</h1>
                <ul>
                    <li><a href="~/Publicaciones/Estadisticas/index?path=Publicaciones%2FEstadisticas%20Anuales%2F2018%2F" target="_blank">Estadística Anual 2018</a></li>
                    <li><a href="~/Publicaciones/Estadisticas/index?path=Publicaciones%2FEstadisticas%20Anuales%2F2017%2F" target="_blank">Estadística Anual 2017</a></li>
                    <li><a href="~/Publicaciones/Estadisticas/index?path=Publicaciones%2FEstadisticas%20Anuales%2F2016%2F" target="_blank">Estadística Anual 2016</a></li>
                    <li><a href="~/Publicaciones/Estadisticas/index?path=Publicaciones%2FEstadisticas%20Anuales%2F2015%2F" target="_blank">Estadística Anual 2015</a></li>
                    <li><a href="~/Publicaciones/Estadisticas/index?path=Publicaciones%2FEstadisticas%20Anuales%2F2014%2F" target="_blank">Estadística Anual 2014</a></li>
                    <li><a href="~/Publicaciones/Estadisticas/index?path=Publicaciones%2FEstadisticas%20Anuales%2F2013%2F" target="_blank">Estadística Anual 2013</a></li>

                </ul>
            </div>
            <div style="clear:both; height:15px"></div>
            <div class="page-indicador">
                <h1>Conoce nuestros</h1>
                <strong>indicadores</strong>
                <div>
                    <a href="~/portalinformacion/generacion" class="btn">Haga click para entrar</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
    </div>

    <div id="mapas" style="display:none">

        @Html.Action("Index", "Browser", new { area = "", url = "Publicaciones%2FEstadisticas%20Anuales%2F2019%2FMapas%20COES%2F" })
        <div style="clear:both"></div>
    </div>

    <br />
    <br />

    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>


<div id="popupEstadistica" class="general-popup" style="min-width:1300px; height:810px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span id="popupTitle"></span></div>
    <div class="popup-text">
        <iframe width="100%" height="780px" frameborder="0" id="frmContenido"></iframe>
    </div>
</div>-->