@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Estadísticas Anuales";
}

<script type="text/javascript">

    var indicador = false;
    var indicadorFolder = false;
    var anio = 0;

    $(function () {

        setInterval(function () {

            var tdanio = $("#browserDocument .bread-crumb ul li a");

            if (tdanio.length > 1) {
                anio = tdanio[1].innerHTML;
                if (anio > 2018) {
                    document.location.href = siteRoot + "publicaciones/estadisticas/estadistica?anio=" + anio;
                }
            }

        }, 500)

    });

</script>

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Estadísticas Anuales</h1>
            <span>Publicaciones</span>
        </div>
        <img src="~/Content/Images/Banners/EstadisticaOperacion.jpg" alt="Estadísticas Anuales" />
    </div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/EstadisticaOperacion.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Publicaciones%2FEstadisticas%20Anuales%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>
