<script type="text/javascript">
    $(function () {
        $('#btnCambiarPassword').click(function () {
            cambiarClave();
        });

        $('#btnCancelarPassword').click(function () {
            $('#cambiarClave').bPopup().close();
        });

        $('#btnFinalizarPassword').click(function () {
            $('#cambiarClave').bPopup().close();
        });
    });
</script>

<div><span class="button b-close"><span>X</span></span></div>
<div class="popup-title"><span>Cambio de Clave</span></div>

<div class="popup-text">
    <div class="action-message" id="mensajeCambioClave">Ingrese los datos por favor.</div>
    <div id="contenidoCambioClave">
        <table>
            <tr>
                <td>Contraseña actual:</td>
                <td>
                    <input type="password" id="txtPasswordActual" />
                </td>
            </tr>
            <tr>
                <td>Nueva contraseña:</td>
                <td>
                    <input type="password" id="txtPasswordNuevo" />
                </td>
            </tr>
            <tr>
                <td>Confirmar contraseña:</td>
                <td>
                    <input type="password" id="txtPasswordConfirmar" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center; padding-top:15px">
                    <input type="button" id="btnCambiarPassword" value="Aceptar" />
                    <input type="button" id="btnCancelarPassword" value="Cancelar" />
                </td>
            </tr>
        </table>
    </div>
    <div id="resultadoCambioClave" style="display:none">
        La próxima vez que inicie sesión en el sistema deberá utilizar la nueva clave registrada.
        <br />
        <br />
        <div style="width:100px; text-align:center; margin:auto">
            <input type="button" id="btnFinalizarPassword" value="Aceptar" />
        </div>
    </div>
</div>