<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/jquerytree.js"></script>
<link href="~/Content/Css/uitree.css" rel="stylesheet" />

<script type="text/javascript">
    var treeFavoritos = @Html.Raw(ViewBag.Menu)

    $(function () {
        $("#tvFavoritos").fancytree({
            checkbox: true,
            selectMode: 2,
            source: treeFavoritos,
            select: function (e, data) {
                var selKeys = $.map(data.tree.getSelectedNodes(), function (node) {
                    return node.key;
                });
                $("#hfNodosSeleccionados").val(selKeys.join(","));                
            }
        });

        $("#tvFavoritos").fancytree("getRootNode").visit(function (node) {
            node.setExpanded(true);
        });

        $('#btnAceptarFavorito').click(function(){
            grabarFavoritos();
        });

        $('#btnCancelarFavorito').click(function(){
            $('#configurarFavorito').bPopup().close();
        }); 
    });
</script>

<div><span class="button b-close"><span>X</span></span></div>
<div class="popup-title"><span>Configuración de accesos favoritos</span></div>
<div class="popup-text">
    <div class="action-message" id="mensajeFavoritos">Seleccione sus accesos favoritos.</div>
    <div style="width:auto; height:400px; overflow-y:scroll; overflow-x:none; border:1px solid #BBDF8D; background-color:#F0F9E3;">
        <div id="tvFavoritos"></div>
        <input id="hfNodosSeleccionados" type="hidden" value="@ViewBag.Nodos" />
    </div>
    <div style="width:200px; text-align:center; margin:auto; margin-top:20px">
        <input type="button" id="btnAceptarFavorito" value="Aceptar" />
        <input type="button" id="btnCancelarFavorito" value="Cancelar" />
    </div>
</div>