@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">SICOES</div>

<div class="home-content">
    <div class="info-img">
        <img src="~/Content/Images/info.png" alt="COES SINAC" />
    </div>
    <div class="info-txt">  
        <strong>EXTRANET COES</strong>
        <br />
        Sistema de Gestión Operativa del COES vía Extranet v 1.0 

        <br />
        <br />

        <strong>MÓDULOS</strong>
        <br />
        <ul>
            <li>Mantenimientos v1.0</li>
            <li>Consulta de Frecuencia v1.0</li>
            <li>IDCC Hidrología v1.0</li>
        </ul>
        <br />
        <br />
        Si desea acceder al manual de usuario, haga clic 
        <a href="http://contenido.coes.org.pe/alfrescostruts/download.do?nodeId=d74862fd-979a-49a4-a238-0c00c31ef53b" target="_blank">aqu&iacute;</a>





    </div>
</div>