<script src="~/Areas/Siosein/Content/Scripts/remisiones/RemisionesOsinergminIndex.js"></script>

<div class="search-content3 content-registro">
    <table>
        <tr>
            <td class="tbform-label">Periodo</td>
            <td class="tbform-control">
                <input type="text" id="fechaMesPer" style="width:120px" />
            </td>
        </tr>
    </table>
</div>
<br />
<table>
    <tr>
        <td>
            <input type="button" id="btnGrabarNuevo" value="Guardar" />
        </td>
        <td>
            <input type="button" id="btnCancelar" value="Cancelar" />
        </td>
    </tr>
</table>
