@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Remisión de Información a Osinergmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Siosein/Content/Scripts/remisiones/RemisionesOsinergminIndex.js"></script>
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">@ViewBag.Title</div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tbody>
                <tr>
                    <td>Periodo:</td>
                    <td>
                        <input type="text" id="txtFecha" value="@Model.Fecha" style="width: 62px;" />
                    </td>
                    <td>
                        <input type="button" value="Nuevo" id="btnNuevo" class="form-action" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listado"></div>
    </div>
</div>

<div id="popupTablaNuevo">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Registro de Periodo</span></div>
    <div class="popup-text" id="contenidopopupTablaNuevo"></div>
</div>

