@model  System.Collections.Generic.IEnumerable<COES.Dominio.DTO.Sic.IioPeriodoSeinDTO>


<table class="pretty tabla-icono" id="tablaSioCabecera">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Periodo</th>
            <th>Fec. Primer Envío</th>
            <th>Fec. Último Envío</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ListaTablasPrie","RemisionesOsinergmin",new { periodo=item.PseinAnioMesPerremDesc })" title=""><img src="~/Content/Images/btn-open.png" alt="Ver Remisión" title="Ver Remisión"></a>
                </td>
                <td>@item.PseinAnioMesPerremDesc</td>
                <td>
                    @item.PseinFecPriEnvioDesc
                </td>
                <td>
                    @item.PseinFecUltEnvioDesc
                </td>
            </tr>
        }
    </tbody>
</table>
