<style type="text/css">
    input[text] {
        width: auto !important;
    }
</style>

<div class="content-registro">

    <input type="hidden" id="txtAnioPago" value="@(ViewBag.AnioInversion)" />

    <div id="mensaje"></div>
    <form id="frmRegistro">
        <div id="modalmensaje"></div>
        <table style="width:100%">
            <tr>
                <td class="registro-label">N° de Carta:</td>
                <td class="registro-control">
                    <input type="text" id="txtCarta"  />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabarRelacion" onclick="javascript: procesar()" value="Continuar" />
        </div>

    </form>
</div>