
/**popup**/
.title_tabla_pop_up {
    background: #2980B9;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
}

.field-label {
    width: 120px;
    float: left;
    line-height: 25px;
    font-weight: bold;
}







.handsontable td.title,
.handsontable td.header,
.handsontable th.title,
.handsontable th.header {
    font-family: "Lucida Grande", "Lucida Sans Unicode",Tahoma,Arial;
    text-align: center;
    vertical-align: middle;
}

.handsontable td.title,
.handsontable th.title {
    background-color: #7ED0FF;
    color: #285294;
    font-weight: bold;
}

.handsontable td.header,
.handsontable th.header {
    background-color: #E5F7FF;
    color: #637180;
}

.handsontable td select {
    background-color: transparent;
    /*border:none;*/
    margin-left: -2px;
}


.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }

.clase_eliminado td {
    background-color: #c1c1c1 !important;
}

.fondo_activacion_escenarios {
    background-color: #E4E152 !important;
}

.fondo_activacion_datos {
    background-color: #D9E1F2 !important;
}

.celda_negrita {
    font-weight: bold;
    color: black !important;
    font-size: 14px;
}

.celda_error_roja {
    /*background-color: #FF4C42 !important;*/
    background-color: red !important;
}

.celda_azul_claro {
    background-color: #B8D3FD !important;
}

.celda_solo_lectura {
    background-color: #EEEEEE !important;
}

.fondo_soloLectura_indisponibilidad {
    background-color: #D9E1F2 !important;
}

.fondo_editable_indisponibilidad {
    background-color: #FFFFFF !important;
}

#tabIndisponibilidad .handsontable th:nth-child(-n + 4) {
    background-color: #2B579A;
    color: white;
    font-weight: bold;
}

#tabIndisponibilidad .handsontable th:nth-child(n + 5
) {
    background-color: #DAA600;
    font-weight: bold;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
}

.first-col {
    left: 0px;
}

.second-col {    
    left: 100px;
}

.ultima-col {    
    right: 0;    
}
