

.content-subtitulo {
    width: 45%;
    float: left;
    font-size: 17px;
    color: #3D90CB;
}

.menu {
    display: flex;
    padding: 5px 0px 5px 5px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 10px;
}

.menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
}

    .menu-item label {
        cursor: pointer;
        font-weight: bold;
    }
    .menu-item img {
        cursor: pointer;
    }


.selected {
    border-color: #3D8AB8;
    background: rgba(61, 138, 184, 0.3);
}

.menu, .box, .panel-only, .v-panel-header, .v-panel-body, .h-panel-tool, .h-panel-main, .simple-box {
    border: 1px solid #d9e8f3;
    /*border: 1px solid #878787;*/
}

.menu, .v-panel-header, .h-panel-tool, .simple-box {
    background: #edf5fc;
    /*background: #EEEEEE;*/
}


.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

table tbody td .menu-item.suboptions {
    width: 82px;
}

    table tbody td .menu-item.suboptions label {
        word-break: break-word;
    }

.menu-item.suboptions img {
    width: 30px;
    height: 30px;
}


.menu_reporte table {
    background-color: #e5efff;
}

.menu_reporte .THCabecera {
    background-color: #2980B9;
}

.THCabecera .editor-label {
    color: #FFFFFF;
}

.menu_proceso table {
    background-color: #fff0d5;
}

.menu_proceso .THCabecera {
    /*background-color: #ef7d1c;*/
    background-color: #D85500;
}

.menu_configuracion table {
    background-color: #e0ffd9;
}

.menu_configuracion .THCabecera {
    background-color: #479c1b;
}

.menu_notificaciones table {
    background-color: #F8E1FD;
}

.menu_notificaciones .THCabecera {
    background-color: #5C076F;
}

/*** Graficos ***/
#grafico1 .highcharts-title {
    font-size: 25px !important;
}

#grafico1 .highcharts-tooltip table th {
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid silver;
}

.dataoUrs .selected {
    
    background: white;
}


#contenedorBitacora p {
    margin: 3px;
}

#contenedorBitacora .dataTables_scrollHeadInner {
    padding-left: 0 !important;
}
