@model COES.MVC.Intranet.Areas.ValidacionVTEAVTP.Models.PruebaServicioModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Prueba servicio Validación VTEA VTP @Model.StrMensaje</div>
</div>


