@{
    Layout = null;
    ViewBag.Title = "Default";
}
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-configuracion.js"></script>
<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />
<div class="search-content">
    <div class="messaje-error mensaje-content-error"></div>
    <div class="field-group">
        <div class="clear"></div>
        <div class="field-group">
            <table>
                <tr>
                    <th>Atributo</th>
                    <td>
                        <select name="Atributo" id="atributo" style="width:160px">
                            <option value="SELECCIONAR">(SELECCIONAR)</option>
                            <option value="CONFIGURACION">CONFIGURACION</option>
                            <option value="REPORTE">REPORTE</option>
                        </select>
                    </td>
                    <th>Par&aacute;metro</th>
                    <td>
                        <select id="parametros" style="width:120px">
                            <option value="0">(SELECCIONAR)</option>
                        </select>

                    </td>
                    <th>Ingrese Valor</th>
                    <td>
                        <input type="text" name="Valor" id="confvalor" />
                    </td>
                </tr>

            </table>
            <br>

            <center>
                <div>
                    <input id="btnAgregarConfig" type="button" value="Agregar" />

                    <input id="btnCancelar" type="button" value="Cancelar" class="b-close" />
                </div>
            </center>

        </div>
    </div>
</div>