@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.TransmisorModel

@{
    ViewBag.Title = "Edicion - Empresa Transmisora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de la Empresa Transmisora" }, { "sAccion", "Actualizar" } })
</div>

