@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.TransmisorModel

@{
    ViewBag.Title = "Ingresar Empresa Transmisoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Registro de Empresas Transmisoras" }, { "sAccion", "Insertar" } })
</div>
