@model COES.MVC.Intranet.Areas.SistemasTransmision.Models.TransmisorModel

@{
    ViewBag.Title = "Ingresar Empresa Transmisora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Empresa Transmisora" }, { "sAccion", "Grabar" } })
</div>
