@model COES.MVC.Publico.Areas.Operacion.Models.HidrologiaModel


<select id="cbSemanas2" name="IdSemanas2">
    <option value="0">--Seleccione Semana--</option>
    @foreach (var item in Model.ListaSemanas)
    {
        <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
    }
</select>