@model COES.MVC.Publico.Areas.Operacion.Models.HidrologiaModel
<div id="reporte">
    @Html.Raw(Model.Resultado)
</div>
<table>
    <tr>
        <td><div id="excelGrafico" style="display:none;"></div></td>
    </tr>
</table>
<div id="graficos" style="display:none;height:450px;">
    <h1>Reporte Grafico</h1>
</div>
