@model COES.MVC.Intranet.Areas.Transferencias.Models.CompensacionModel
@{
    ViewBag.Title = "Transferencias - Cabecera de compensación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva Compensación" }, { "sAccion", "Insertar" } })
</div>
