@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERModel

<script src="~/Areas/PrimasRER/Content/Scripts/parametrorermeses.js?v=1.0.1"></script>
<div class='panel-container'>
    <div id="campoHiddenNew">

    </div>
    <input type="hidden" id="IdRerCentralCodRetiroNew" value="@Model.IdRerCentralCodRetiro"/>
    <table style="width:100%;margin-right: auto" class="table-form-show">
        <tr>
            <td class="tbform-label">Empresa (*):</td>
            <td class="tbform-control">
                <select id="empresaSelectNew" onchange="cargarCentralRERCodRetiro()">
                    <option value="-1">--Seleccione--</option>
                    @foreach (var empresa in Model.ListCentralRER)
                    {
                        <option value="@empresa.Emprcodi">@empresa.Emprnomb</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Central (*):</td>
            <td class="tbform-control">
                <select id="equipoSelectNew">
                </select>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">Código de retiro (*):</td>
            <td class="tbform-control">
                <select id="codRetiroSelectNew">
                </select>
            </td>
            <td>
                <input type="button" id="btnAgregarRelacion" value="Agregar" alt="Agregar" title="Agregar" onclick="agregarRelacionBarraTransferencia(1)" />
                <input type="button" id="btnAgregarTodasRelaciones" value="Agregar todos" alt="Agregar todos" title="Agregar todos" onclick="agregarTodasRelacionBarraTransferencia(1)" />
            </td>
        </tr>
        <tr></tr>
    </table>

    <div style="height: 100px; overflow-y: auto;">
        <table border="0" class="pretty tabla-icono" id="tablameses">
            <thead>
                <tr>
                    <th style="width:30px;">&nbsp;</th>
                    <th style="width:200px;">Código Retiro</th>
                    <th>Barra Transferencia</th>
                </tr>
            </thead>
            <tbody id="tablaBodyRelacionesNew">
            </tbody>
        </table>
    </div>

    <div align="center" style="margin: 5px;">
        <input type="button" id="btnAgregarRelacion" value="Grabar" alt="Grabar" title="Grabar" onclick="grabarRelacionBarraTransferencia()" />
    </div>
</div>
