/*PERTURBACIONES*/

.perturbacion-content {
    width: 100%;
    height: 100%;
}

.perlnk {
    width: 22%;
    float: left;
    margin-left: 0px;
}

.perlnk-item {
    height: 28px;
    background-image: url('../../../../content/images/fnd-section.png');
    background-repeat: no-repeat;
    width: 220px;
    text-indent: 30px;
    line-height: 28px;
}

    .perlnk-item a {
        cursor: pointer;
    }

.peritems {
    width: 73%;
    float: left;
    margin-left: 20px;
}

.peritem {
    margin-bottom: 25px;
}

.peritem-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #428BD3;
}

.peritem-titlle-label {
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    color: #428BD3;
}

.peritem-titlle-value {
    float: left;
}

.peritem-title div {
    float: right;
    margin-bottom: 10px;
}

.tb-perturbacion {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}

    .tb-perturbacion thead tr {
        background-color: #2980B9;
        color: #fff;
        text-align: center;
        font-weight: bold;
        line-height: 22px;
    }

    .tb-perturbacion tbody tr td {
        border: 1px solid #DDDDDD;
        line-height: 24px;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: middle;
        text-align: center;
    }

        .tb-perturbacion tbody tr td textarea, .peritem textarea {
            font-size: 11px;
            width: 99%;
            background-color: #F2F4F3;
            border: 1px solid #CBD3CF;
            border-radius: 5px;
            height: 40px;
            text-indent: 8px;
            font: 12px "arial", sans-serif;
            color: #4876AA;
        }

            .tb-perturbacion tbody tr td textarea:active, .peritem textarea:active {
                background-color: #FFFFD7;
            }

            .tb-perturbacion tbody tr td textarea:hover, .peritem textarea:hover {
                background-color: #FFFFD7;
            }

.contet-leyenda {
    border: 2px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 7px;
    padding-left: 12px;
    border-radius: 6px;
    position: absolute;
    width: 380px;
    height: 240px;
    display: none;
    top: -0px;
}

    .contet-leyenda table tr {
        line-height: 15px;
    }

        .contet-leyenda table tr td {
            font-size: 10px;
            width: auto;
            line-height: 15px;
            color: #3D90CB;
        }

.formula-subtitulo {
    color: #428BD3;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-registro table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px;
}

    .content-registro table tr td.registro-label {
        border: 1px solid #EAEAEA;
        text-indent: 10px;
        vertical-align: central;
        background-color: #F9F9F9;
        vertical-align: middle;
    }

    .content-registro table tr td.registro-control {
        vertical-align: middle;
        border: 1px solid #EAEAEA;
        padding: 3px 0 3px 10px;
    }

        .content-registro table tr td.registro-control textarea {
            border: 1px solid #CBD3CF;
            border-radius: 5px;
            height: 60px;
            width: 400px;
            font-family: Arial, Helbetica, sans-serif;
            font-size: 12px;
            color: #245C86;
        }

.div-leyenda {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-leyenda-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-leyenda-close:hover {
        color: #FF770D;
    }

.div-leyenda-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-leyenda-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}

.celdamatriz-amarrilla {
    background-color: #efa408;
    color: #2980B9;
}

.celdamatriz-verde {
    background-color: #bdd479;
    color: #2980B9;
}


/*OPERACIONES VARIAS*/

.form-ov {
}

    .form-ov input[type=text] {
        width: 150px;
    }

    .form-ov tr td {
        width: 200px;
    }

.form-ov-hpfp {
}

    .form-ov-hpfp input[type=text] {
        width: 100px;
    }

    .form-ov-hpfp tr td {
        width: 370px;
    }

.form-ov-h {
}

.form-ovh tr td input[type=text] {
    width: auto;
}


.form-ov-hora {
}

    .form-ov-hora tr td input[type=text] {
        width: 50px;
    }

/* INFORME DE FALLAS */

.form-if {
    border-collapse: collapse;
}

    .form-if tr {
        width: auto;
    }

        .form-if tr td {
            white-space: nowrap;
        }


.file-carga {
    width: auto;
    height: auto;
}

.file-name {
    border: 1px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 1px 10px 1px 10px;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 10px;
}

.remove-item {
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: red;
}

.file-carga-titulo {
    color: #2980B9;
    border-bottom: 1px dashed #2980B9;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.estado-carga {
    display: none;
    width: 120px;
    height: 20px;
    margin: auto;
    text-align: center
}

.estado-image {
    width: 20px;
    float: left;
}

.estado-text {
    width: 100px;
    float: left;
    line-height: 20px;
    font-size: 12px;
}

.clase_eliminado td {
    background-color: #FFDDDD !important;
}


.div-importar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-importar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-importar-close:hover {
        color: #FF770D;
    }

.div-importar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-importar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}
