
.Selected {
    background-color: #ffd800;
}

.content {
    padding-bottom: 10px;
}

input[type=button]:disabled, input[type=submit]:disabled {
    background-image: none;
}

#tablaErroresEracmf thead th {
    background: #ff0202 !important;
}

.action-message ul, .action-error ul, .action-exito ul, .action-alert ul {
    margin: 0px;
    margin-left: 0px;
}

/* Column headers */
.ht_clone_top th {
    background-color: #2980B9;
    color: white;
    font-weight: bold;
}

.handsontable thead th.ht__highlight {
    background-color: #2D8AC8 !important;
}

td.htDimmed {
    background-color: #D2EFF5 !important;
}

td.registro-label {
    text-align: right;
}

.fila_no_reportado td {
    background-color: #ffd3d3 !important;
}
