.htCommentCell {
    position: relative;    
}

.htComments {
    display: none;    
    position: absolute;
    z-index: 9999999;
    margin-top:24px;
}

.htCommentTextArea {  
    width: 140px;
    height: 40px;   
}

@import "compass/css3";

@keyframes fadeIn {
    from {
        opacity: 0;
      
    }
}

.estilo {   
    animation: fadeIn 1s infinite alternate;
}