#validaciones, #enviosanteriores, #nuevoformato, #popupEmbalses {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 380px;
    padding: 25px;
}

#confirmarClose, #enviosanteriores, #validaciones {
    min-height: 250px;
    min-width: 280px;
}

.headpage {
    background: #4682B4;
    width: 100%;
    height: 50px;
    color: white;
    text-indent: 30px;
}

    .headpage img {
        float: left;
        height: 50px;
    }

.divexcel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}


.headexcel {
    z-index: 9999;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.bodyexcel {
    max-width: 99%;
    max-height: 100%;
    overflow: auto;
}

.panelinfo {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    height: 500px;
    width: 150px;
    border: 1px solid;
    padding: 21px;
}

.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }
