@model COES.MVC.Intranet.Areas.Transferencias.Models.TransferenciaRentaCongestionModel
@{
    ViewBag.Title = "Periodos Rentas Congestión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Transferencias/Content/Scripts/periodoRentaCongestion.js"></script>
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

@*<div class="content-hijo" id="mainLayout">
        <div class="form-title">
            <div>Reporte de Información de medidores de energía de Usuarios y Empresas de distribución</div>
        </div>
    </div>*@

<div class="form-title">
    <div class="content-titulodemanda">Periodos Rentas Congestión</div>
</div>
<div id="mensaje"></div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search">
            <tr>
                <td style="text-align:right">
                    <input type="button" id="btnConsultar" value='Refrescar' />
                </td>                
            </tr>
        </table>
       
    </div>

    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>
</div>

<input type="hidden" id="hfCantidadRegistros" value="@ViewBag.hfCantidadRegistros" />

