


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*ASSETEC 202001*@


<link href="~/Areas/DemandaBarras/Content/Css/css.css" rel="stylesheet" />

<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<style>


    /*.tabla-adicional tbody tr td, thead tr th {
    white-space:normal !important;
    }
    .tabla-adicional tbody td:nth-child(1) {
        font-weight:bold;
        width:60px
    }

    .tabla-adicional tbody td:nth-child(1), .tabla-adicional tbody td:nth-child(2), .tabla-adicional tbody td:nth-child(3),
    .tabla-adicional tbody td:nth-child(4), .tabla-adicional tbody td:nth-child(5) {
        background-color: #f2f5f7 !important;
    }

    .tabla-adicional tbody td:nth-child(1), .tabla-adicional tbody td:nth-child(2), .tabla-adicional tbody td:nth-child(3) {
        background-color: #f2f5f7 !important
    }


    .tabla-adicional tbody td:nth-child(8), .tabla-adicional tbody td:nth-child(9), .tabla-adicional tbody td:nth-child(10) {
        /*background-color: #f8f2a6 !important*/
    }
    .tabla-adicional tbody td:nth-child(10), .tabla-adicional tbody td:nth-child(11), .tabla-adicional tbody td:nth-child(13) {
        background-color: rgb(232, 246, 255) !important
    }*/

    .tabla-adicional tbody tr:nth-child(2n+1) td {
        background-color: #f2f5f7 !important;
    }

    #tb1 tbody tr td:nth-child(5), #tb2 tbody tr td:nth-child(6), #tb3 tbody tr td:nth-child(4), #tb4 tbody tr td:nth-child(4) {
        background-color: #f8f2a6 !important
    }
</style>

<script type="text/javascript">

    $(function(){
    
        $('#popupEdicion').bPopup({
    
        });
    });

</script>

<div class="form-title" style=" margin-bottom:0px; font-weight:bold">Envío de Información - FENIX POWER PERU <span style="font-weight:normal !important; font-size:12px; color:#4281be">[Cambiar empresa]</span></div>
<div class="form-main" style="margin-top:10px">

    <div class='action-message' id='mensaje' style="margin-bottom:5px; display:none">Por favor seleccione empresa y periodo</div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:10px">
                    <table class="table-search">
                        <tr>

                            <td>Periodo:</td>
                            <td>
                                <select id="cbVersion">
                                    <option>Mayo.2020</option>
                                </select>
                            </td>
                            <td>
                                Version:
                            </td>
                            <td>
                                <select id="cbVersion">
                                    <option>Mensual</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value="Aceptar" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:5px; padding-bottom:11px; display:block" id="divAcciones">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnDescargarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                        <span>Descargar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnSelecionarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                        <span>Importar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnEliminarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/borrador.png" /><br />
                                        <span>Eliminar</span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnValidarGrillaExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnGrabarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/enviar.png" /><br />
                                        <span>Enviar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnVerEnvios">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/envios.png" /><br />
                                        <span>Envíos</span>
                                    </div>
                                </a>
                            </td>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <div style="clear:both; height:20px">

    </div>
    <div id='contenedor'>

        <table class="pretty tabla-adicional" style="width:1040px">
            <thead>
                <tr>
                    <th style="width:70px">Código</th>
                    <th style="width:170px">Cliente</th>
                    <th style="width:150px">Barra</th>
                    <th>Contrato</th>
                    <th>Usuario</th>
                    <th style="background-color:#76933C">
                        Precio Potencia S/ /kW-mes
                    </th>
                    <th style="background-color:#76933C">
                        Potencia Coincidente kW
                    </th>

                    <th style="background-color:#E26B0A">
                        Potencia Declarada kW
                    </th>
                    <th style="background-color:#E26B0A">
                        Peaje Unitario S//kW-mes
                    </th>
                    <th>Factor pérdida</th>
                    <th>Calidad</th>
                    @*<th>
                Barra
            </th>
            <th>
                Potencia Activa kW
            </th>
            <th>
                Potencia Reactiva KW
            </th>*@
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>P0001FPP</td>
                    <td>ACRICORP S.A.C.</td>
                    <td>SANTA ROSA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td>164.85</td>
                   
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0002FPP</td>
                    <td>AGROKASA </td>
                    <td>ICA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td>148.43</td>
                
                    <td>148.43</td>
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0003FPP</td>
                    <td>AJEPER</td>
                    <td>SANTA ROSA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                  
                    <td>164.07</td>
                    <td>164.07</td>
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0004FPP</td>
                    <td>ALTA VIDDA GAS S.A.C. </td>
                    <td>CHAVARRIA 220</td>
                    <td>AUTOCONSUMO</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td style="background-color:#f3b2b2">0</td>
                    <td style="background-color:#f8f2a6"></td>
                  
                    <td style="background-color:#f8f2a6"></td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0005FPP</td>
                    <td>
                        AJEPER
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td style="background-color:#f3b2b2">0</td>
                  
                    <td>142.73</td>
                    <td style="background:#f3a46c !important"></td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0006FPP</td>
                    <td>
                        ALTA VIDDA GAS S.A.C.
                    </td>
                    <td>CHAVARRIA 220</td>
                    <td>AUTOCONSUMO</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td>863.29</td>
                  
                    <td style="background-color:#f8f2a6"></td>
                    <td style="background-color:#f8f2a6"></td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0007FPP</td>
                    <td>
                        ALTA VIDDA GAS S.A.C.
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td>0.52</td>
                
                    <td>0.52</td>
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0008FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>ILO ELP 138</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.74</td>
                    <td>107.94</td>
                    
                    <td>107.94</td>
                    <td>35.87</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0009FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td>4616.77</td>
                  
                    <td>4616.77</td>
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0010FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td>838.59</td>
                  
                    <td>838.59</td>
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0011FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                  
                    <td>556.71</td>
                    <td>556.71</td>

                    <td style="background:#f3a46c !important"></td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0012FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td style="background-color:#f3a46c"></td>
                    <td>0.11</td>
              
                    <td>0.11</td>
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0013FPP</td>
                    <td>
                        B.BRAUN MEDICAL PERU S.A.
                    </td>
                    <td>ALTO PRADERAS 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td style="background-color:#f3b2b2">0</td>
                    <td>0</td>
                  
                    <td>35.75</td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0014FPP</td>
                    <td>
                        BUENDIA PLOOG PABLO ANTONIO
                    </td>
                    <td>ICA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                    <td>581.47</td>
                   
                    <td>581.47</td>
                    <td style="background:#f3a46c !important"></td>
                    <td></td>
                    <td>Final</td>
                </tr>
                <tr>
                    <td>P0015FPP</td>

                    <td>
                        CECOSAMI S.A.
                    </td>
                    <td>
                        INDUSTRIALES 220
                    </td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>20.67</td>
                   
                    <td>652.54</td>
                    <td>652.54</td>
                    <td style="background:#f3a46c !important"></td>
                    <td></td>
                    <td>Final</td>
                </tr>


            </tbody>
        </table>

    </div>


    <div id="popupEdicion1" class="general-popup" style="width:600px">
        <div><span class="button b-close"><span>X</span></span></div>

        <div class="popup-title"><span>Confirmación de envío de información</span></div>

        <div style="clear:both; height:20px"></div>
        <table>
            <tr>
                <td><div style="background-color:#f3a46c; width:60px; height:20px"></div></td>
                <td style="padding-left:20px">Se están reportando datos vacios para las precios de potencia y peaje unitario, estos se completarán con 0.</td>
            </tr>
            <tr>
                <td><div style="background-color:#f3b2b2; width:60px; height:20px"></div></td>
                <td style="padding-left:20px">Se están reportando valores en 0 para la demanda coincidente.</td>
            </tr>
        </table>

        <div style="width:250px; margin:20px auto">
            <input type="button" value="Confirmar envío" />
            <input type="button" value="Corregir datos" />

        </div>

    </div>

    <div id="popupEdicion" class="general-popup" style="width:1000px">
        <div><span class="button b-close"><span>X</span></span></div>

        <div class="action-exito" style="margin-top:0">Se realizó el envío de información correctamente, sin embargo se encontraron algunas inconsistencias en sus datos, por favor revise.</div>

        <div class="popup-title" style="margin-bottom:10px"><span>Existen diferencias significativas con respecto a los datos reportados de energía activa</span></div>

        <table class="pretty tabla-adicional" id="tb1">
            <thead>
                <tr>
                    <th>Código VTEA</th>
                    <th>Valor VTEA</th>
                    <th>Código VTP</th>
                    <th>Valor VTP</th>
                    <th>% Variación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        CB00215EGM
                    </td>
                    <td>123.12</td>
                    <td rowspan="2">P0023FPP</td>
                    <td rowspan="2">1678.23</td>
                    <td rowspan="2">20.00%</td>
                </tr>
                <tr>
                    <td>
                        CB00136EGM
                    </td>
                    <td>1230.23</td>
                </tr>
                <tr>
                    <td>
                        CB00046EGM
                    </td>
                    <td>1200.00</td>
                    <td rowspan="1">P0024FPP</td>
                    <td rowspan="1">1478.23</td>
                    <td rowspan="1">18.00%</td>
                </tr>
                <tr>
                    <td rowspan="1">
                        CL00026EGM
                    </td>
                    <td rowspan="1">
                        1670.02
                    </td>
                    <td>P0027FPP</td>
                    <td>678.98</td>
                    <td rowspan="1">17%</td>
                </tr>

            </tbody>
        </table>

        <div class="popup-title" style="margin-bottom:10px;margin-top:10px"><span>Existen diferencias significativas con respecto a los datos de la última revisión del mes anterior.</span></div>
        <table class="pretty tabla-adicional" id="tb2">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Barra</th>
                    <th>Código</th>
                    <th>Valor reportado</th>
                    <th>Última Revisión Anterior</th>
                    <th>% Variación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>COMERCIAL MOLINERA SAN LUIS SAC</td>
                    <td>CHICLAYO 220</td>
                    <td>P0001FPP</td>
                    <td>164.85</td>
                    <td>120.30</td>
                    <td>10.00%</td>

                </tr>
                <tr>
                    <td>
                        COMERCIALES Y SERVICIOS INDUSTRIALES S A
                    </td>
                    <td>
                        CHAVARRIA 220
                    </td>
                    <td>P0002FPP</td>
                    <td>164.85</td>
                    <td>120.30</td>
                    <td>10.00%</td>
                </tr>
                <tr>
                    <td>
                        COMPAÑIA AMERICANA DE CONSERVAS S.A.C.
                    </td>
                    <td>
                        INDEPENDENCIA 220
                    </td>
                    <td>P0002FPP</td>
                    <td>164.85</td>
                    <td>120.30</td>
                    <td>10.00%</td>
                </tr>


            </tbody>
        </table>

        <div class="popup-title" style="margin-bottom:10px; margin-top:10px"><span>Existen diferencias en los factores de pérdida reportados con respesto a lo registrado por el COES</span></div>
        <table class="pretty tabla-adicional" id="tb3">
            <thead>
                <tr>
                    <th>BARRA TRANSFERENCIA / SUMINISTRO</th>
                    <th>VALOR REPORTADO</th>
                    <th>VALOR REGISTRADO POR EL COES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        INDEPENDENCIA 220
                    </td>
                   
                    <td>0.98</td>
                    <td>0.93</td>

                </tr>

                <tr>
                    <td>
                        CHAVARRIA 220
                    </td>

                    <td>0.14</td>
                    <td>0.33</td>

                </tr>
            </tbody>
        </table>
        <div class="popup-title" style="margin-bottom:10px; margin-top:10px"><span>Precios de Potencia menor a los regulados (20.67)</span></div>
        <table class="pretty tabla-adicional" id="tb3">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Barra</th>
                    <th>Código</th>
                    <th>Precio Potencia S/ /kW-mes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        CONDUCTORES ELECTRICOS LIMA S A
                    </td>
                    <td>
                        SANTA ROSA 220
                    </td>
                    <td>P0003FPP</td>
                    <td>12.85</td>

                </tr>

                <tr>
                    <td> CONTILATIN DEL PERU S.A	</td>
                    <td>SAN JUAN 220</td>
                    <td>P0005FPP</td>
                    <td>14.85</td>

                </tr>
            </tbody>
        </table>
        <div class="popup-title" style="margin-bottom:10px; margin-top:10px"><span>Peaje Unitario menor a los regulados (35.20)</span></div>
        <table class="pretty tabla-adicional" id="tb4">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Barra</th>
                    <th>Código</th>
                    <th>Peaje Unitario S//kW-mes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        CONDUCTORES ELECTRICOS LIMA S A
                    </td>
                    <td>
                        SANTA ROSA 220
                    </td>
                    <td>P0003FPP</td>
                    <td>24.85</td>

                </tr>
                <tr>
                    <td>
                        CONDUCTORES ELÉCTRICOS PERUANOS (CEPER)
                    </td>
                    <td>
                        SANTA ROSA 220
                    </td>
                    <td>P0004FPP</td>
                    <td>12.85</td>

                </tr>

            </tbody>
        </table>



        <div style="width:250px; margin:20px auto 0 auto">
            <input type="button" value="Exportar a Excel" />
            <input type="button" value="Cerrrar" />

        </div>

    </div>


</div>

