


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*ASSETEC 202001*@


<link href="~/Areas/DemandaBarras/Content/Css/css.css" rel="stylesheet" />

<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<style>


    .tabla-adicional tbody tr td, thead tr th {
    white-space:normal !important;
    }
    .tabla-adicional tbody td:nth-child(1) {
        font-weight:bold;
        width:60px
    }

    .tabla-adicional tbody td:nth-child(1), .tabla-adicional tbody td:nth-child(2), .tabla-adicional tbody td:nth-child(3),
    .tabla-adicional tbody td:nth-child(4), .tabla-adicional tbody td:nth-child(5) {
        background-color: #f2f5f7 !important;
    }

    .tabla-adicional tbody td:nth-child(1), .tabla-adicional tbody td:nth-child(2), .tabla-adicional tbody td:nth-child(3) {
        background-color: #f2f5f7 !important
    }


    .tabla-adicional tbody td:nth-child(8), .tabla-adicional tbody td:nth-child(9) {
        /*background-color: #f8f2a6 !important*/
    }
    .tabla-adicional tbody td:nth-child(10), .tabla-adicional tbody td:nth-child(11) {
        background-color: rgb(232, 246, 255) !important
    }
</style>

<div class="form-title" style=" margin-bottom:0px; font-weight:bold">Envío de Información - FENIX POWER PERU <span style="font-weight:normal !important; font-size:12px; color:#4281be">[Cambiar empresa]</span></div>
<div class="form-main" style="margin-top:10px">

    <div class='action-message' id='mensaje' style="margin-bottom:5px; display:none">Por favor seleccione empresa y periodo</div>
    <table>
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:10px">
                    <table class="table-search">
                        <tr>

                            <td>Periodo:</td>
                            <td>
                                <select id="cbVersion">
                                    <option>Mayo.2020</option>
                                </select>
                            </td>
                            <td>
                                Version:
                            </td>
                            <td>
                                <select id="cbVersion">
                                    <option>Mensual</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value="Aceptar" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:5px; padding-bottom:11px; display:block" id="divAcciones">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnDescargarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                        <span>Descargar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnSelecionarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                        <span>Importar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnEliminarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/borrador.png" /><br />
                                        <span>Eliminar</span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnValidarGrillaExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnGrabarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/enviar.png" /><br />
                                        <span>Enviar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnVerEnvios">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/envios.png" /><br />
                                        <span>Envíos</span>
                                    </div>
                                </a>
                            </td>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <div style="clear:both; height:20px">

    </div>
    <div id='contenedor'>

        <table class="pretty tabla-adicional" style="width:1040px">
            <thead>
                <tr>
                    @*<th rowspan="2" style="width:70px">Código</th>
                    <th rowspan="2" style="width:170px">Cliente</th>
                    <th rowspan="2" style="width:150px">Barra</th>
                    <th rowspan="2" >Contrato</th>
                    <th rowspan="2" >Usuario</th>
                    <th colspan="2">Para egreso de potencia</th>
                    <th colspan="3">Para peaje por conexión</th>*@
                    @*<th colspan="3">Para flujo de carga óptimo</th>*@
                    @*<th rowspan="2">Factor pérdida</th>
                    <th rowspan="2">Calidad</th>*@
                </tr>
                <tr>
                    <th style="width:70px">Código</th>
                    <th  style="width:170px">Cliente</th>
                    <th style="width:150px">Barra</th>
                    <th >Contrato</th>
                    <th >Usuario</th>
                    <th style="background-color:#76933C">
                        Precio Potencia S/ /kW-mes
                    </th>
                    <th style="background-color:#76933C">
                        Potencia Coincidente kW
                    </th>
                   
                    <th style="background-color:#E26B0A">
                        Potencia Declarada kW
                    </th>
                    <th style="background-color:#E26B0A">
                        Peaje Unitario S//kW-mes
                    </th>
                    <th>Factor pérdida</th>
                    <th>Calidad</th>
                    @*<th>
            Barra
        </th>
        <th>
            Potencia Activa kW
        </th>
        <th>
            Potencia Reactiva KW
        </th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>P0001FPP</td>
                    <td>ACRICORP S.A.C.</td>
                    <td>SANTA ROSA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
            <td></td>
            <td></td>*@
                </tr>
                <tr>
                    <td>P0002FPP</td>
                    <td>AGROKASA </td>
                    <td>ICA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0003FPP</td>
                    <td>AJEPER</td>
                    <td>SANTA ROSA 220</td>
                    <td>LICITACION</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0004FPP</td>
                    <td>ALTA VIDDA GAS S.A.C. </td>
                    <td>CHAVARRIA 220</td>
                    <td>AUTOCONSUMO</td>
                    <td>LIBRE</td>
                    <td></td>
                  
                    <td></td>
                    <td style="background-color:#f8f2a6"></td>
                    <td style="background-color:#f8f2a6"></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0005FPP</td>
                    <td>
                        AJEPER
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0006FPP</td>
                    <td>
                        ALTA VIDDA GAS S.A.C.
                    </td>
                    <td>CHAVARRIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0007FPP</td>
                    <td>
                        ALTA VIDDA GAS S.A.C.
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>AUTOCONSUMO</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td style="background-color:#f8f2a6"></td>
                    
                    <td style="background-color:#f8f2a6"></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0008FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>ILO ELP 138</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0009FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                   
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0010FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0011FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0012FPP</td>
                    <td>
                        AUSTRAL GROUP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0013FPP</td>
                    <td>
                        B.BRAUN MEDICAL PERU S.A.
                    </td>
                    <td>ALTO PRADERAS 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0014FPP</td>
                    <td>
                        BUENDIA PLOOG PABLO ANTONIO
                    </td>
                    <td>ICA 220</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>
                <tr>
                    <td>P0016FPP</td>

                    <td>
                        CECOSAMI S.A.
                    </td>
                    <td>
                        INDUSTRIALES 220
                    </td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td></td>
                  
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td></td>
        <td></td>
        <td></td>*@
                </tr>


            </tbody>
        </table>

    </div>


</div>

