


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*ASSETEC 202001*@


<link href="~/Areas/DemandaBarras/Content/Css/css.css" rel="stylesheet" />

<link href="~/Areas/Transferencias/Content/Css/carga.css" rel="stylesheet" />
<style>

    .header, .content, .content-menu {
        width:1200px
    }

    .content-menu {
        width: 1190px
    }
    .tabla-adicional tbody tr td, thead tr th {
        white-space: normal !important;
    }

    
    .tabla-adicional tbody td:nth-child(1), .tabla-adicional tbody td:nth-child(2), .tabla-adicional tbody td:nth-child(3),
    .tabla-adicional tbody td:nth-child(4), .tabla-adicional tbody td:nth-child(5),
    .tabla-adicional tbody td:nth-child(6), .tabla-adicional tbody td:nth-child(7),
    .tabla-adicional tbody td:nth-child(8), .tabla-adicional tbody td:nth-child(9) {
        background-color: #f2f5f7 !important;
    }

    .tabla-adicional thead th:nth-child(8), .tabla-adicional thead th:nth-child(9), .tabla-adicional thead th:nth-child(10),
    .tabla-adicional thead th:nth-child(11), .tabla-adicional thead th:nth-child(12), .tabla-adicional thead th:nth-child(15),
    .tabla-adicional thead th:nth-child(16), th:nth-child(17), .classheader {
        background-color: #ff6a00 !important
    }

    
    
    
</style>

<script type="text/javascript">

    $(function(){
    
        $('#popupEdicion').bPopup({
    
        });
    });

</script>

<div class="form-title" style=" margin-bottom:0px; font-weight:bold">Potencias Contratadas - FENIX POWER PERU <span style="font-weight:normal !important; font-size:12px; color:#4281be">[Cambiar empresa]</span></div>
<div class="form-main" style="margin-top:10px">

    <div class='action-message' id='mensaje' style="margin-bottom:5px; display:none">Por favor seleccione empresa y periodo</div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:10px">
                    <table class="table-search">
                        <tr>

                            <td>Periodo:</td>
                            <td>
                                <select id="cbVersion">
                                    <option>Mayo.2020</option>
                                </select>
                            </td>
                           
                            <td>
                                <input type="button" id="btnConsultar" value="Aceptar" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="search-content" style="margin-bottom:0px; padding:5px; padding-bottom:11px; display:block" id="divAcciones">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnEliminarDatos">
                                    <div class="content-item-action">
                                        <img src="~/Areas/Hidrologia/Content/Images/Write.png" /><br />
                                        <span>Agregar registro</span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnDescargarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/bajar.png" /><br />
                                        <span>Descargar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnSelecionarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/subir.png" /><br />
                                        <span>Importar </span>
                                    </div>
                                </a>
                            </td>

                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnValidarGrillaExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/errores.png" /><br />
                                        <span>Errores</span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnGrabarExcel">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/enviar.png" /><br />
                                        <span>Enviar </span>
                                    </div>
                                </a>
                            </td>
                            <td style="width:100px; " class="content-action">
                                <a href="#" id="btnVerEnvios">
                                    <div class="content-item-action">
                                        <img src="~/Areas/TransfPotencia/Content/Images/envios.png" /><br />
                                        <span>Envíos</span>
                                    </div>
                                </a>
                            </td>
</table>
                </div>
            </td>
        </tr>
    </table>

    <div style="clear:both; height:20px">

    </div>
    <div id='contenedor'>

        <table class="pretty tabla-adicional" >
            <thead>
                <tr>
                    <th rowspan="2" >Cliente</th>
                   
                    <th rowspan="2">Contrato</th>
                    <th rowspan="2">Usuario</th>
                    <th rowspan="2">Fecha Inicio</th>
                    <th rowspan="2">Fecha Fin</th>
                    <th colspan="2">VTEA</th>
                    <th colspan="2">VTP</th>
                    <th colspan="3">Potencia Contratada Fija [MW]</th>
                    <th colspan="3">Potencia Contratada  Variable [MW]</th>
                    <th rowspan="2">Comentario / Observación</th>
                    <th rowspan="2" style="width:50px"></th>
                </tr>
                <tr>
                    <th>
                        Código
                    </th>
                    <th style="width:120px">
                        Barra Transferencia
                    </th>
                    <th>
                        Código
                    </th>
                    <th style="width:120px">
                        Barra Suministro
                    </th>
                    <th class="classheader">
                        Total [MW]

                    </th>
                    <th class="classheader">
                        H.P. [MW]
                    </th>
                    <th class="classheader">
                        H.F.P. [MW]
                    </th>
                    <th>
                        Total [MW]
                    </th>
                    <th>
                        H.P. [MW]
                    </th>
                    <th>
                        H.F.P. [MW]
                    </th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>ACRICORP S.A.C.</td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00017FPP
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>P0001FPP</td>
                    <td>
                        TOCACHE 138
                    </td>
                    <td rowspan="3">164.85</td>
                    <td rowspan="3">35.75</td>
                    <td rowspan="3">164.85</td>
                    <td rowspan="3">164.85</td>
                    <td rowspan="3">164.85</td>
                    <td rowspan="3">35.75</td>
                    <td rowspan="3"></td>
                    <td rowspan="3">
                      
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>

                </tr>
                <tr>
                   
                    <td>AGROKASA </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00014FPP
                    </td>
                    <td>ICA 220</td>
                    <td>P0002FPP</td>
                    <td>
                        AUCAYACU 22.9
                    </td>
                  
                  
                </tr>
                <tr>
                   
                    <td>AJEPER</td>
                   
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00013FPP
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>P0003FPP</td>
                    <td>
                        CARIPA 138
                    </td>
                  
                </tr>
                <tr>

                    <td>ALTA VIDDA GAS S.A.C. </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00012FPP
                    </td>
                    <td>CHAVARRIA 220</td>
                    <td>P0004FPP</td>
                    <td>
                        COBRIZA II 10
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td >
                       
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        AJEPER
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00011FPP
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>P0005FPP</td>
                    <td>
                        PIURA OESTE 10
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td rowspan="1">
                        
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        ALTA VIDDA GAS S.A.C.
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00010FPP
                    </td>
                    <td>CHAVARRIA 220</td>
                    <td>P0006FPP</td>
                    <td>
                        ZORRITOS 33
                    </td>
                    <td rowspan="4">164.85</td>
                    <td rowspan="4">35.75</td>
                    <td rowspan="4">164.85</td>
                    <td rowspan="4">164.85</td>
                    <td rowspan="4">164.85</td>
                    <td rowspan="4">35.75</td>
                    <td rowspan="4"></td>
                    <td rowspan="4">
                       
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>
                  
                    <td>
                        ALTA VIDDA GAS S.A.C.
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00009FPP
                    </td>
                    <td>SANTA ROSA 220</td>
                    <td>P0007FPP</td>
                    <td>
                        CHICLAYO 60
                    </td>
                   
                </tr>
                <tr>
                   
                    <td>
                        AUSTRAL GROUP
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00008FPP
                    </td>
                    <td>ILO ELP 138</td>
                    <td>P0008FPP</td>
                    <td>
                        CARABAYLLO 220
                    </td>
                   
                </tr>
                <tr>
                  
                    <td>
                        AUSTRAL GROUP
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00007FPP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>P0009FPP</td>
                    <td>
                        HUACHO 66
                    </td>
                   
                </tr>
                <tr>

                    <td>
                        AUSTRAL GROUP
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00006FPP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>P0010FPP</td>
                    <td>
                        LOMERA 60
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td rowspan="1">
                       
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        AUSTRAL GROUP
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00005FPP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>P0011FPP</td>
                    <td>
                        ZAPALLAL 220
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td rowspan="1">
                      
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        AUSTRAL GROUP
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00004FPP
                    </td>
                    <td>INDEPENDENCIA 220</td>
                    <td>P0012FPP</td>
                    <td>
                        TRUJILLO 220
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td rowspan="1">
                     
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        B.BRAUN MEDICAL PERU S.A.
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00003FPP
                    </td>
                    <td>ALTO PRADERAS 220</td>
                    <td>P0013FPP</td>
                    <td>
                        SAN JUAN 220
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td rowspan="1">
                       
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        BUENDIA PLOOG PABLO ANTONIO
                    </td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00002FPP
                    </td>
                    <td>ICA 220</td>
                    <td>P0014FPP</td>
                    <td>
                        ICA 220
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td rowspan="1">
                       
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        CECOSAMI S.A.
                    </td>

                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2021</td>
                    <td>
                        CL00001FPP
                    </td>
                    <td>ICA 220</td>
                    <td>P0015FPP</td>
                    <td>
                        SAN JUAN 220
                    </td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>164.85</td>
                    <td>35.75</td>
                    <td></td>
                    <td rowspan="1">
                       
                        <a href="">
                            <img src="~/Content/Images/btn-cancel.png" />
                        </a>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>


    <div id="popupEdicion1" class="general-popup" style="width:600px">
        <div><span class="button b-close"><span>X</span></span></div>

        <div class="popup-title"><span>Confirmación de envío de información</span></div>

        <div style="clear:both; height:20px"></div>
        <table>
            <tr>
                <td><div style="background-color:#f3a46c; width:60px; height:20px"></div></td>
                <td style="padding-left:20px">Se están reportando datos vacios para las precios de potencia y peaje unitario, estos se completarán con 0.</td>
            </tr>
            <tr>
                <td><div style="background-color:#f3b2b2; width:60px; height:20px"></div></td>
                <td style="padding-left:20px">Se están reportando valores en 0 para la demanda coincidente.</td>
            </tr>
        </table>

        <div style="width:250px; margin:20px auto">
            <input type="button" value="Confirmar envío" />
            <input type="button" value="Corregir datos" />

        </div>

    </div>

    <div id="popupEdicion" class="general-popup" style="width:1000px">
        <div><span class="button b-close"><span>X</span></span></div>

        <div class="popup-title"><span>Agregar filas al formato de carga</span></div>
        <div class="action-message" style="margin-top:10px">Seleccione los registros que desee agregar al formato de carga de Potencias Contratadas</div>

        <table border="0" class="pretty tabla-icono" id="tablaListado">
            <thead>
                <tr>
                    <th rowspan="2">Acción</th>
                    <th rowspan="2">Cliente</th>
                    <th rowspan="2">Contrato</th>
                    <th rowspan="2">Usuario</th>
                    <th rowspan="2">Inicio</th>
                    <th rowspan="2">Fin</th>


                    <th colspan="2">LVTEA</th>
                    <th colspan="2">LVTP</th>


                </tr>
                <tr>
                    <th>Barra</th>
                    <th>Código</th>
                    <th>Barra</th>
                    <th>Código</th>
                </tr>
            </thead>
            <tbody>

                <tr class="odd">
                    <td rowspan="5">
                        <a href="#">
                            <input type="checkbox" />
                        </a>
                    </td>
                    <td rowspan="5">HIDRANDINA</td>
                    <td rowspan="5">LICITACIÓN</td>
                    <td rowspan="5">REGULADO</td>
                    <td rowspan="5">01/01/2013</td>
                    <td rowspan="5">31/12/2022</td>

                    <td style="text-align:left; text-indent:5px" rowspan="5">HUALLANCA 138 KV</td>
                    <td rowspan="5" style="font-weight:bold">CL00020FPP</td>
                    <td style="text-align:left; text-indent:5px">HUALLANCA 13.8 KV</td>
                    <td style="font-weight:bold">P0020FPP</td>


                </tr>
                <tr class="odd">
                    <td style="text-align:left; text-indent:5px">HUALLANCA 138 KV</td>
                    <td style="font-weight:bold">P0021FPP</td>

                </tr>
                <tr class="odd">
                    <td style="text-align:left; text-indent:5px">HUALLANCA 66 KV</td>
                    <td style="font-weight:bold">P0022FPP</td>

                </tr>
                <tr class="odd">
                    <td style="text-align:left; text-indent:5px">KIMAN AYLLU 10 KV</td>
                    <td style="font-weight:bold">P0023FPP</td>

                </tr>
                <tr class="odd">
                    <td style="text-align:left; text-indent:5px">HUARAZ OESTE 138 KV</td>
                    <td style="font-weight:bold">P0024FPP</td>

                </tr>

                <tr>
                    <td rowspan="3">
                        <a href="#">
                            <input type="checkbox" />
                        </a>
                    </td>
                    <td rowspan="3">ELECTRO CENTRO</td>
                    <td rowspan="3">LICITACIÓN</td>
                    <td rowspan="3">REGULADO</td>
                    <td rowspan="3">01/01/2013</td>
                    <td rowspan="3">31/12/2022</td>

                    <td style="text-align:left; text-indent:5px" rowspan="3">CAMPO ARMIÑO 220</td>
                    <td rowspan="3" style="font-weight:bold">CL00004FPP</td>
                    <td style="text-align:left; text-indent:5px">COBRIZA I 69</td>
                    <td style="font-weight:bold">P0025FPP</td>


                </tr>

                <tr>
                    <td style="text-align:left; text-indent:5px">COBRIZA II 10</td>
                    <td style="font-weight:bold">P0026FPP</td>

                </tr>
                <tr>
                    <td style="text-align:left; text-indent:5px">COBRIZA II 69</td>
                    <td style="font-weight:bold">P0027FPP</td>

                </tr>
                <tr class="odd">
                    <td>
                        <a href="#">
                            <input type="checkbox" />
                        </a>
                    </td>
                    <td>COTTON KNIT S.A.C.</td>
                    <td>BILATERAL</td>
                    <td>LIBRE</td>
                    <td>01/01/2019</td>
                    <td>31/12/2022</td>

                    <td style="text-align:left; text-indent:5px">SAN JUAN 220</td>
                    <td style="font-weight:bold">CB00158FPP</td>
                    <td style="text-align:left; text-indent:5px">SAN JUAN 220</td>
                    <td style="font-weight:bold">P0028FPP</td>

                </tr>

                <tr>
                    <td rowspan="2">
                        <a href="#">
                            <input type="checkbox" />
                        </a>
                    </td>
                    <td rowspan="2">LUZ DEL SUR</td>
                    <td rowspan="2">LICITACION</td>
                    <td rowspan="2">REGULADO</td>
                    <td rowspan="2">01/01/2013</td>
                    <td rowspan="2">31/12/2022</td>

                    <td style="text-align:left; text-indent:5px" rowspan="2">SANTA ROSA 220</td>
                    <td rowspan="2" style="color:red; font-weight:bold">PENDIENTE</td>
                    <td style="text-align:left; text-indent:5px">CHOSICA 60</td>
                    <td style="color:red; font-weight:bold">PENDIENTE</td>

                </tr>
                <tr>
                    <td style="text-align:left; text-indent:5px">HUACHIPA 60</td>
                    <td style="color:red; font-weight:bold">PENDIENTE</td>

                </tr>


                <tr class="odd">
                    <td rowspan="2">
                        <a href="#">
                            <input type="checkbox" />

                        </a>
                    </td>
                    <td rowspan="2">HIDRANDINA</td>
                    <td rowspan="2">LICITACION</td>
                    <td rowspan="2">REGULADO</td>
                    <td rowspan="2">01/01/2013</td>
                    <td rowspan="2">31/12/2022</td>

                    <td style="text-align:left; text-indent:5px" rowspan="2">CHIMBOTE1 138</td>
                    <td rowspan="2" style="font-weight:bold">CL00013FPP</td>
                    <td style="text-align:left; text-indent:5px">CHIMBOTE1 138</td>
                    <td style="font-weight:bold">P0030FPP</td>

                </tr>
                <tr class="odd">
                    <td style="text-align:left; text-indent:5px">CHIMBOTE2 138</td>
                    <td style="color:red; font-weight:bold">PENDIENTE</td>

                </tr>
                <tr>
                    <td rowspan="1">
                        <a href="#">
                            <input type="checkbox" />
                        </a>
                    </td>
                    <td rowspan="1">HIDRANDINA</td>
                    <td rowspan="1">LICITACION</td>
                    <td rowspan="1">REGULADO</td>
                    <td rowspan="1">01/01/2013</td>
                    <td rowspan="1">31/12/2022</td>

                    <td style="text-align:left; text-indent:5px" rowspan="1">CHIMBOTE1 138</td>
                    <td rowspan="1" style="font-weight:bold">CL00013FPP</td>
                    <td style="text-align:left; text-indent:5px">CHIMBOTE1 138</td>
                    <td style="font-weight:bold">P0030FPP</td>

                </tr>
                <tr class="odd">
                    <td rowspan="1">
                        <a href="#">
                            <input type="checkbox" />
                        </a>
                    </td>
                    <td rowspan="1">HIDRANDINA</td>
                    <td rowspan="1">LICITACION</td>
                    <td rowspan="1">REGULADO</td>
                    <td rowspan="1">01/01/2013</td>
                    <td rowspan="1">31/12/2022</td>

                    <td style="text-align:left; text-indent:5px" rowspan="2">
                        MARCONA 220
                    </td>
                    <td rowspan="1" style="font-weight:bold">
                        CL00003FPP
                    </td>
                    <td style="text-align:left; text-indent:5px"></td>
                    <td style="font-weight:bold"></td>

                </tr>
            </tbody>
        </table>

        <div style="width:60%; margin:10px auto 0 auto" class="search-content">
            <table>
                <tr>
                    <td>
                        <input type="radio" />Agregar agrupado en un solo registro.
                        <br />
                        <input type="radio" />Agregar registros separados por barra de transferencias.
                        <br />
                        <input type="radio" />Agregar registros separados por barra de suministros
                        <br />
                    </td>
                    <td style="width:40px"></td>
                    <td>
                        <div style="width:160px; margin:20px auto 0 auto">

                            <input type="button" value="Aceptar" />
                            <input type="button" value="Cancelar" />

                        </div>
                    </td>
                </tr>
            </table>
            
        </div>
       

    </div>


</div>

