@model COES.MVC.Intranet.Areas.IND.Models.IndisponibilidadesModel
@{
    ViewBag.Title = "Cálculos para PR-13 y PR-34";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermiso ? "" : "display: none";
}

<link href="~/Areas/IND/Content/Css/general.css?v=1.2" rel="stylesheet" />
<script src="~/Areas/IND/Content/Scripts/cuadro7_general.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">
        Cuadro 7: Horas de Operación, Número de Arranques y Horas de Indisponibilidad Programada y Fortuita
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_reporte" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">
            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Cuadros</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div id="opcionInicial" class="menu-item suboptions" data-url="/IND/Reporte7/Cuadro7" data-alto="1000" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" alt="logo" />
                            <br />
                            <label>
                                Cuadro 7
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="menu_configuracion" style="float: left;padding-right: 5px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto; height: 123px" role="presentation">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Insumos</b></div>
                    </td>
                </tr>

                <tr class="trIconos">
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/Mantenimiento/Index/" data-alto="900" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Manttos
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/Evento/Index/" data-alto="1200" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Eventos
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/IND/RestriccionOperativa/Index/" data-alto="1200" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Restricciones operativas
                            </label>
                        </div>
                    </td>

                    <td style="">
                        <div class="menu-item suboptions" data-url="/IND/UnidadGeneracion/IndexOperacionComercial/" data-alto="1400" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Operación comercial
                            </label>
                        </div>
                    </td>
                    <td style="">
                        <div class="menu-item suboptions" data-url="/IND/UnidadGeneracion/IndexPotenciaEfectiva/" data-alto="1400" title="">
                            <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-parametros.png" alt="logo" />
                            <br />
                            <label>
                                Unidades de Generación
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <iframe id="iframeIndisp" frameborder="0" src="" scrolling="no" height="1200" style="margin-top: 15px;">
        </iframe>
    </div>
</div>
