@model COES.MVC.Intranet.Areas.Subastas.Models.OfertaModel

@{
    ViewBag.Title = "Gráficos y Bitácora";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<script src="~/Content/Scripts/datepicker.js"></script>
<script src="~/Content/Scripts/fixedcolumn.js?v=1.2"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/datetime-moment.js"></script>

@*<script src="~/Content/Scripts/highcharts.js"></script>*@

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="~/Areas/Subastas/Content/Scripts/graficosbitacora.js?V=1.1.0"></script>
<link href="~/Areas/Subastas/Content/Css/general.css?V=1.0.9" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consultas de Gráficos y Bitácoras</div>
</div>


<div class="content-hijo" id="mainLayout">
    <div class="content-hijo">

        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#tabGraficos">Gráficos Ofertas Diarias</a></li>
                <li class='tab'><a href="#tabBitacora">Bitácora</a></li>
            </ul>
            <div class='panel-container'>

                <div id="tabGraficos">
                    <div id="mensaje_graficos"> </div>
                    <div class="search-content">
                        <table class="content-tabla-search" style="width:auto">
                            <tr>
                                <td> Fecha de Oferta: </td>
                                <td>
                                    <input type="text" id="txtFecOferta" value="@Model.FechaInicial" style="width: 92px;" />
                                </td>

                                <td style="padding-left: 30px;"> Tipo de Oferta: </td>
                                <td>
                                    <select id="cbTipoOferta" style="width: 285px;">
                                        <option value="E">Oferta Diaría (Mercado de Ajuste)</option>
                                        <option value="T">Oferta Diaría más ofertas por defecto activadas</option>
                                    </select>
                                </td>
                                <td style="padding-left: 30px;"> Tipo de Gráfico: </td>
                                <td>
                                    <select id="cbTipoGrafico" style="width: 120px;">
                                        <option value="1">Por URS a Subir</option>
                                        <option value="2">Por URS a Bajar</option>
                                        <option value="3">Total a Subir</option>
                                        <option value="4">Total a Bajar</option>
                                    </select>
                                </td>
                                <td class="dataoUrs" style="padding-left: 30px;"> Urs: </td>
                                <td class="dataoUrs">
                                    <input type="hidden" id="hfIdUrs" />
                                    <select id="cbUrs" name="IdUrs" multiple="multiple">
                                    </select>
                                </td>
                                <td class="content-action" style="padding-left: 30px;">
                                    <input type="button" id="btnConsultarGraficos" value="Consultar" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <div id="grafico1" style="height: 740px; margin: 0 auto;"></div>
                    </div>

                </div>

                <div id="tabBitacora">
                    <div id="mensaje_bitacora"> </div>
                    <div class="search-content">
                        <table class="content-tabla-search" style="width:100%">
                            <tbody>
                                <tr>
                                    <td style="width: 80px;"> Fecha inicial: </td>
                                    <td style="width: 120px;"> <input type="text" id="FechaDesdeB" value="@Model.FechaInicial" style="width: 92px;" /> </td>

                                    <td style="width:30px"> </td>

                                    <td style="width: 80px;"> Fecha Final: </td>
                                    <td style="width: 120px;"> <input type="text" id="FechaHastaB" value="@Model.FechaFinal" style="width:92px;" /> </td>
                                    <td style="width: 150px;"> <input type="button" id="btnConsultarBitacora" value="Consultar" style="float: right;" /> </td>
                                    <td> <input type="button" id="btnExpotarBitacora" value="Exportar" style="float: right;"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="content-tabla" id="" style="">
                        <div class="table-list" id="contenedorBitacora" style="margin-bottom: 25px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



