@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ConfiguracionUrsModel

<div id="mensajeGenerador"></div>
<table border="0" class="pretty tabla-icono" id="tablaGeneracion">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="cbSelectAll" />
            </th>
            <th>Equipo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaGenerador.Count > 0)
        {
            foreach (var item in Model.ListaGenerador)
            {
                <tr>
                    <td>
                        @if (item.Seleccion == 1)
                        {
                            <input type="checkbox" id="cbSelect" name="cbSelect" value="@item.Equicodi" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" id="cbSelect" name="cbSelect" value="@item.Equicodi" />
                        }
                    </td>
                    <td>@item.Equinomb</td>
                </tr>
            }
        }
    </tbody>
</table>

<div style="width:200px; margin:auto;">
    <input type="button" value="Grabar" id="btnGrabarGenerador" />
    <input type="button" value="Cancelar" id="btnCancelarGenerador" />
</div>

<input type="hidden" id="hfIdConfiguracionDet" value="@Model.IdConfiguracionDet" />