<div id="mensajeSenial"></div>
<div style="clear:both; height:10px"></div>
<div id="excelSeniales"></div>
<div style="clear:both; height:40px"></div>
<div style="width:200px; margin:auto;">
    <input type="button" value="Grabar" id="btnGrabarSenial" />
    <input type="button" value="Cancelar" id="btnCancelarSenial" />
    <input type="hidden" id="hfIdConfiguracionDetalle" />
</div>