@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.PeriodoModel
@{
    ViewBag.Title = "Administración de Periodos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CostoOportunidad/Content/Scripts/periodo.js?v=3.1"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Administración de Periodos - Costos de Oportunidad</div>
    <div class="content-botonera">        
        <input type="button" id="btnNuevo" value='Nuevo' />                        
    </div>
</div>


<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Año:</td>
                <td>
                    <select id="cbAnioFiltro">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaAnios)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>                
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
    </div>

    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    
    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>

<div id="popupEnvioLiquidacion" class="general-popup" style="width:700px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoEnvioLiquidacion" style="margin-top:0">
    </div>
</div>