@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.VersionModel
@{
    ViewBag.Title = "Administración de Versiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CostoOportunidad/Content/Scripts/version.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Versiones del Periodo - <span>@Model.DesPeriodo</span></div>
    <div class="content-botonera">        
        <input type="button" id="btnNuevo" value='Nuevo' />                        
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>   

    <div id="listado">
    </div>
    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>
    
    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>

<input type="hidden" id="hfIdPeriodo" value="@Model.CodigoPeriodo" />