@model COES.MVC.Intranet.Areas.DemandaPO.Models.SeguimientoModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Reprograma";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<link href="~/Areas/DemandaPO/Content/Css/css2.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<script src="~/Areas/DemandaPO/Content/Scripts/reprograma.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Reprograma</div>
    </div>
    <div class="content-hijo">
        <div id="message" class="msg-warning">
            No existe una versión para el día consultado, debe crear una para "Guardar cambios"
        </div>
        <div class="nt-header">
            <div class="nt-header-option active">
                Vegetativa (V)
            </div>
            <div class="nt-header-option">
                Usuarios Libres (UL)
            </div>
            <div class="nt-header-option">
                Total por Barras (V + UL)
            </div>
            <div class="nt-header-option">
                Ajuste por Barras
            </div>
            <div class="nt-header-option">
                Ajustes por áreas SEIN
            </div>
            <div class="nt-header-option">
                Ajuste SEIN
            </div>
            <div class="nt-header-last">
                <div class="set-float-r set-flex-row set-align-item-center">
                    <div class="i-btn" disabled>
                        <label title="Guardar todos los cambios de la versión">
                            <img src="~/Content/Images/prnsave.png" />
                            <br />
                            <label>Guardar Cambios</label>
                        </label>
                    </div>
                    <div class="i-btn">
                        <label id="btnNuevo"
                               title="Crear una nueva versión">
                            <img src="~/Content/Images/insertar.png" />
                            <br />
                            <label>Crear Versión</label>
                        </label>
                    </div>
                    <div class="i-btn">
                        <label id="btnImportar"
                               title="Importar datos de otra versión">
                            <img src="~/Content/Images/subir.png" />
                            <br />
                            <label>Importar Datos</label>
                        </label>
                    </div>
                    <div class="i-btn">
                        <label id="btnDuplicar"
                               title="Crear versión a partir de una existente">
                            <img src="~/Content/Images/copiar.png" />
                            <br />
                            <label>Duplicar Versión</label>
                        </label>
                    </div>
                    <div style="margin-right: 10px;">
                        <input id="selFecha"
                               type="text"
                               value="16/03/2023"
                               style="width: 100px;" />
                    </div>
                    <div>
                        <select id="selVersion">
                            <option>DEM_REP_01</option>
                            <option>DEM_REP_02</option>
                            <option>DEM_REP_03</option>
                            <option>DEM_REP_04</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="nt-body">
            <div style="height: 500px;">
                <div style="margin-bottom: 10px;">
                    <input id="btn-veg-ejecutar"
                           type="button"
                           class="btn btn-primary"
                           value="Calcular Pronóstico Vegetativo" />
                    <input id="btn-veg-configuracion"
                           type="button"
                           class="btn btn-primary"
                           value="Configurar Parámetros" />
                </div>
                <div>
                    <div id="ht_vegetativa"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pop-nuevo"
     class="general-popup"
     style="min-width: 300px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Crear una versión</span>
        <div style="float: right;">
            <input id="pop-btn-nuevo" type="button" value="Aceptar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div class="h-panel">            
            <div style="margin-bottom: 10px;">
                <div>Fecha</div>
                <input id="pop-nue-fecha"
                       type="text"
                       style="width:292px"
                       value="17/03/2023" />
            </div>
            <div>
                <div>Nombre</div>
                <input id="pop-nue-nombre"
                       type="text"
                       style="width:292px"
                       value="" />
            </div>
        </div>
    </div>
</div>

<div id="pop-importar" 
     class="general-popup" 
     style="min-width: 300px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Importar datos de otra versión</span>
        <div style="float: right;">
            <input id="pop-btn-importar" type="button" value="Importar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div class="h-panel">
            <div style="margin-bottom: 10px;">
                <div>Versión</div>
                <select id="pop-imp-version"
                        style="width: 300px;">
                    <option>DEM_REP_01</option>
                    <option>DEM_REP_02</option>
                    <option>DEM_REP_03</option>
                    <option>DEM_REP_04</option>
                </select>
            </div>
            <div >
                <div>Fecha</div>
                <input id="pop-imp-fecha"
                       type="text"
                       style="width:292px"
                       value="17/03/2023" />
            </div>
        </div>
    </div>
</div>

<div id="pop-duplicar"
     class="general-popup"
     style="min-width: 300px; min-height: 100px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Duplicar datos de otra versión</span>
        <div style="float: right;">
            <input id="pop-btn-duplicar" type="button" value="Duplicar" />
        </div>
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div class="h-panel">
            <div style="margin-bottom: 10px;">
                <div>Versión</div>
                <select id="pop-dup-version"
                        style="width: 300px;">
                    <option>DEM_REP_01</option>
                    <option>DEM_REP_02</option>
                    <option>DEM_REP_03</option>
                    <option>DEM_REP_04</option>
                </select>
            </div>
            <div style="margin-bottom: 10px;">
                <div>Fecha</div>
                <input id="pop-dup-fecha"
                       type="text"
                       style="width:292px"
                       value="17/03/2023" />
            </div>
            <div>
                <div>Nombre</div>
                <input id="pop-dup-nombre"
                       type="text"
                       style="width:292px"
                       value="" />
            </div>
        </div>
    </div>
</div>
