@model COES.MVC.Intranet.Areas.PotenciaFirme.Models.PotenciaFirmeModel

Central:
<select id="cbCentral" name="IdCentral" style="width:200px">
    <option value="-2">TODOS</option>
    @foreach (var item in Model.ListaCentrales)
    {
        <option value="@item.Equipadre">@item.Central</option>
    }
</select>


