@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model

<td style="width: 35px; padding-right: 5px;">Mes:</td>
<td style="width: 84px;padding-right: 5px;">
    <input type="text" id="PickerMes" value="@Model.MesActual" style="width: 80px" disabled />
</td>
<td style="width: 40px; padding-right: 5px;">Versión:</td>
<td>
    <select id="cboVersion" style="width:43px;">
        @foreach (var item in Model.ListaVersion)
        {
            var selected2 = item.Verscodi == Model.Verscodi ? " selected " : "";
            <option value="@item.Verscodi" @selected2>@item.Verscorrelativo</option>
        }
    </select>
</td>

<td class="content-action" style="padding-left: 20px;">
    <a href="#" id="btnSearch">
        <div class="content-item-action">
            <img src="~/Content/Images/Visualizar.png" style="width:20px; height:20px" title="Consultar" />
        </div>
    </a>
</td>


<td class="content-action">
    <a href="#" id="btnExportExcelIndividual">
        <div class="content-item-action">
            <img src="~/Content/Images/ExportExcel.png" style="width:20px; height:20px" title="Exportar a archivo Excel" /><br />
            <input type="hidden" id="hdReportecodi" value="@Model.Repcodi" />
        </div>
    </a>
</td>
<td class="content-action">
    <a href="#" id="btnRegresar">
        <div class="content-item-action">
            <img src="~/Content/Images/btn-regresar.png" style="width:20px; height:20px" title="Regresar a Menu Informe Ejecutivo Mensual" />
        </div>
    </a>
</td>