@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model
@{
    Layout = "~/Areas/InformeEjecutivoMen/Views/Shared/ViewSharedEjecMensual.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/reporteejecutivo/costomarginalbarrasein.js?v=2.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/InformeEjecutivoMen/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div style="clear:both; height:5px"></div>
        <div class='content-titulo' style='width:900px; text-align: center; font-size: 15px;margin-bottom: 5px'>NORTE</div>
        <div class="table-list" id="listado1"></div>
        <div id="grafico1" style="float: left; width: 900px; height: 350px;"></div>

        <div style="clear:both; height:25px"></div>
        <div class='content-titulo' style='width:900px; text-align: center; font-size: 15px;margin-bottom: 5px'>CENTRO</div>
        <div class="table-list" id="listado2"></div>
        <div id="grafico2" style="float: left; width: 900px; height: 350px;"></div>

        <div style="clear:both; height:25px"></div>
        <div class='content-titulo' style='width:900px; text-align: center; font-size: 15px;margin-bottom: 5px'>SUR</div>
        <div class="table-list" id="listado3"></div>
        <div id="grafico3" style="float: left; width: 900px; height: 350px;"></div>

    </div>
</div>

