@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model
@{
    Layout = "~/Areas/InformeEjecutivoMen/Views/Shared/ViewSharedEjecMensual.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js?v=6"></script>

<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/reporteejecutivo/demandazonanorte.js?v=1.1"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
    <div class="content-botonera" id="container">
        <input type="button" id="btnAdminBarras" value="Administrar barras" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/InformeEjecutivoMen/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div class="table-list" id="listado1" style="float: left; width: 50%;"></div>
        <div id="grafico1" style="float: right; width: 50%;"></div>
    </div>
</div>