@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model
@{
    ViewBag.Title = "Ejecutivo Mensual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<link href="~/Areas/InformeEjecutivoMen/Content/Css/css.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/reporteejecutivo/menuEjecutivoMensual.js?v=1.3"></script>

<style>
    .form-title {
        display: block;
        width: auto;
        line-height: 50px;
    }

    .content-titulo {
        width: auto !important;
    }

    .popup-button {
        width: 100px;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Reporte Ejecutivo Mensual</div>
    <div class="content-botonera">
        <input type="button" id="btnPopupNuevaVersion" value="Generar versión" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="padding-bottom: 4px; padding-top: 6px;">
        <table class="content-tabla-search" style="">
            <tr>
                <td style="width: 35px; padding-right: 5px; vertical-align: middle;">Mes:</td>
                <td style="width: 84px;padding-right: 5px;vertical-align: middle;">
                    <input type="text" id="DPMesConsulta" value="@Model.MesActual" style="width: 80px" />
                </td>
                <td style="height: 40px;"></td>
            </tr>
        </table>
    </div>
    <div id="div_reporte"></div>
</div>

<input type="hidden" id="txtTipreporte" value="" />

<!--Nueva versión-->
<div id="idPopupVersion" class="general-popup">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Nueva versión</span></div>

    <div style="clear:both; height:5px"></div>
    <table class="table-search" style="width:auto">
        <tr>
            <td class="tbform-label" style="width: 117px;">
                Mes Operativo:
            </td>
            <td style="width: 77px;">
                <input type="text" id="MesAnhoIniNuevo" value="@Model.MesActual" style="width: 71px" />
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="tbform-label">
                Motivo:
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <textarea id="txtMotivo" autofocus style="width:400px; height:80px"></textarea>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" style="text-align:right">
                <input type="button" id="btnGuardarVersion" value="Guardar" />
            </td>
        </tr>
    </table>
</div>

<div id="popupArchivoPDF" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Carga PDF</span></div>
    <div class="popup-text" id="contenidoArchivoPDF">
        <div id="mensajeFilePDF"></div>
        <div id="progresoArchivoPDF"></div>
        <div id="fileInfoArchivoPDF"></div>
        <div class="popup-button">
            <input type="button" id="btnSubirArchivoPDF" value="Subir" />
        </div>
        <div id="containerArchivoPDF" style="width:1px; height:1px"></div>
        <input type="hidden" id="idArchivoPDF" />
        <input type="button" id="btnSelectFileArchivoPDF" style="display:none" />
    </div>
</div>

<!--Vista previa-->
<div id="idPopupVistaPrevia" class="general-popup" style="width: 1200px; max-width: 1200px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Vista previa</span></div>

    <div style="clear:both; height:5px"></div>
    <div id="filelist"></div>
    <div id="div_vista_previa">
        <iframe id="vistaprevia" style="width: 100%; height:500px;" frameborder="0" hidden></iframe>
    </div>

</div>
