
@{
    ViewBag.Title = "ListaDistribucion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Reporte Lista de Distribución</div>
</div>
<div>
    <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZWU0MWNjMmQtMDQyNi00M2EwLThjNjgtMWE3N2Q3OGE2NDU4IiwidCI6ImMxY2EwMTNiLWIxNDQtNDNmMC1hYTEzLTQ3NjljYzE0OTk5NCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

</div>

<div id="popupDetalle" class="general-popup">

</div>