@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model
@{
    Layout = "~/Areas/InformeEjecutivoMen/Views/Shared/ViewSharedEjecMensual.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/exporting.js?v=6"></script>

<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/reporteejecutivo/mantenimientosejecutados.js?v=2.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/InformeEjecutivoMen/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado" style="float: left; width: 100%; height: auto;"></div>

        <div style="clear:both; height:5px"></div>
        <div id="grafico1" style="float: left; width: 100%; height: 600px;"></div>
    </div>
</div>

