@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model
@{
    Layout = "~/Areas/InformeEjecutivoMen/Views/Shared/ViewSharedEjecMensual.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/reporteejecutivo/transferenciapotencia.js?v=2.0"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/InformeEjecutivoMen/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">
        <div style="clear:both; height:15px"></div>

        <div style="width:49%;float:left">
            <div class="content-titulo" style="width:100%; text-align: center; font-size: 15px;margin-bottom: 5px">
                8.2.1. MÁXIMA DEMANDA, POTENCIA FIRME REMUNERABLE (MW)
            </div>
            <div class="table-list" id="listado1"></div>
            <div id="grafico1" style="margin-top: 5px"></div>
        </div>

        <div style="width:49%;float:right">
            <div class="content-titulo" style="width:100%; text-align: center; font-size: 15px;margin-bottom: 5px">
                8.2.2. POTENCIA CONSUMIDA (MW)
            </div>
            <div class="table-list" id="listado2"></div>
        </div>

    </div>
</div>