
@{
    ViewBag.Title = "VistaPortal";
    Layout = "~/Views/Shared/_LayoutAlter.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Reporte Visitas Portal Web</div>
</div>
<div>
    <iframe width="1200" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYzQ4ZDExMWItOWFmYi00Y2EwLTkyMjQtNGFhMWE5Mjk3MDFjIiwidCI6ImMxY2EwMTNiLWIxNDQtNDNmMC1hYTEzLTQ3NjljYzE0OTk5NCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

</div>

<div id="popupDetalle" class="general-popup">
    
</div>