@model COES.MVC.Intranet.Areas.InformeEjecutivoMen.Models.Siosein2Model
@{
    Layout = "~/Areas/InformeEjecutivoMen/Views/Shared/ViewSharedEjecMensual.cshtml";
    var urlReporte1 = Model.Url + "ReportesMedicion/formatoreporte/IndexDetalle?id=142";
}

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/exporting.js?v=6"></script>

<script src="~/Areas/InformeEjecutivoMen/Content/Scripts/reporteejecutivo/volumenemblag.js?v=2.0.1"></script>

<div class="form-title">
    <div class="content-titulo">
        <div class="title_informe_semanal">@Html.Raw(Model.TituloWeb)</div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="display: block">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                @Html.Partial("CargarMenuFilter")
            </tr>
        </table>
    </div>
    @Html.Partial("~/Areas/InformeEjecutivoMen/Views/Shared/_FuenteDatos.cshtml")
    <div class="content-tabla">

        <div class="action-alert" style="margin-bottom: 5px; margin-top: 10px; display: block; float: left">
            La configuración de los puntos de medición se encuentra en <a target="_blank" href="@(urlReporte1)">Generador de Reporte</a>.
        </div>
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado"></div>
    </div>
</div>

