@model COES.MVC.Intranet.Areas.PMPO.Models.QnMensualModel

<div style="clear:both; height:10px"></div>
<style>

    .ht_clone_top_left_corner tr:first-child th, .ht_clone_top tr:first-child th,
    .ht_clone_top_left_corner tr:nth-of-type(2) th, .ht_clone_top tr:nth-of-type(2) th,
    .ht_clone_top_left_corner tr:nth-of-type(3) th, .ht_clone_top tr:nth-of-type(3) th,
    .ht_clone_top_left_corner tr:nth-of-type(4) th, .ht_clone_top tr:nth-of-type(4) th {
        background-color: #002060;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

        .ht_clone_top_left_corner tr:nth-of-type(4) th:nth-of-type(1), .ht_clone_top tr:nth-of-type(4) th:nth-of-type(1) {
            background-color: #3d8ab8;
            color: white;
        }
</style>

<input type="hidden" id="hfAccionDetalle" value="@Model.Accion" />
<div class="content-hijos" id="mainLayou">

    <div class="search-content">
        <table class="table-search" style="width:100%; margin-bottom: 20px;" role="presentation">
            <tbody>
                <tr>                    
                    <td style=" padding-left: 20px;">
                        <div style="width:150px; float:left; padding-top: 20px;">
                            <div style="width:45px; float:left;">
                                Desde:
                            </div>
                            <div style="width:105px; float:left;">
                                <input style="width: 60px;" type="text" id="txtRangoDesde" value="" />
                                <input style="display: none;" type="text" id="hfAnioMensual" value="" />
                            </div>
                        </div>
                        <div style="width:150px; float:left; padding-top: 20px;">
                            <div style="width:45px; float:left;">
                                Hasta:
                            </div>
                            <div style="width:105px; float:left;">
                                <input style="width: 60px;" type="text" id="txtRangoHasta" value="" />
                                <input style="display: none;" type="text" id="hfAnioMensual" value="" />
                            </div>
                        </div>
                        <div style="width:150px; float:left; padding-top: 20px;">
                            <div style="width:45px; float:left;">
                                <input type="button" id="btnConsultar" value="Consultar" />
                            </div>

                        </div>
                    </td>
                    @if (Model.TienePermisoNuevo)
                    {
                    
                    <td class="content-action" style="width: 60px;">
                        <a href="#" id="btnGuardar">
                            <div class="content-item-action" style="width:55px;">
                                <img src="~/Content/Images/prnsave.png" alt="logo"><br>
                                <span>Guardar</span>
                            </div>
                        </a>
                    </td>
                    <td class="content-action" style="width: 60px;">
                        <a href="#" id="btnMostrarErrores">
                            <div class="content-item-action" style="width:55px;">
                                <img src="~/Content/Images/errores.png" alt="logo"><br>
                                <span>Mostrar Errores</span>
                            </div>
                        </a>
                    </td>
                    }
                    else
                    {
                    
                    <td class="content-action" style="width: 60px;"> </td>
                    <td class="content-action" style="width: 60px;"> </td>
                    }
                    
                    <td class="content-action" style="width: 60px;">
                        <a href="#" id="btnExportar">
                            <div class="content-item-action" style="width:55px;">
                                <img src="~/Content/Images/exportarExcel.png" alt="logo"><br>
                                <span>Exportar Información</span>
                            </div>
                        </a>
                    </td>
                    @if (Model.TienePermisoNuevo)
                    {
                    <td class="content-action" style="width: 60px;">
                        <input type="button" id="btnCargarHistorico" value="Carga Histórico" />
                    </td>
                    <td class="content-action" style="width: 60px;">
                        <input type="button" id="btnCargarPronostico" value="Carga Pronóstico" />
                    </td>
                    <td class="content-action" style="width: 60px;">
                        <input type="button" id="btnAutocompletar" value="Autocompletar" />
                    </td>
                    }
                    <td class="content-action" style="width: 60px;">
                        <input type="button" id="btnGenerarDat" value="Generar dat" />
                    </td>

                </tr>
            </tbody>
        </table>
    </div>


    <div class="content-tabla">
        <div class='action-alert' id='mensajeNuevoOficial' style="margin-bottom:5px; margin-top:0; display:none; "></div>
        <p class="leyenda" style="padding-right: 155px;">
            <b>
                <div id="nota" style="font-weight:bold; font-size:15px;"></div>                
            </b>
        </p>
        <div style="padding-bottom: 20px;">

            <div class="bloque" style="">
                <div class="cuadro-sh" style="background: #00B0F0; float:left;"> </div>
                <div style="float:left;padding-left: 5px; padding-right: 20px;"> <b>Información Base</b></div>
            </div>
            <div class="bloque" style="">
                <div class="cuadro-sh" style="background: #AEAAAA; float:left;"> </div>
                <div style="float:left;padding-left: 5px; padding-right: 20px;"> <b>Información Histórica</b></div>
            </div>
            <div class="bloque" style="">
                <div class="cuadro-sh" style="background: #B4C6E7; float:left;"> </div>
                <div style="float:left;padding-left: 5px; padding-right: 20px;"> <b>Información Pronósticada</b></div>
            </div>
            <div class="bloque" style="">
                <div class="cuadro-sh" style="background: #92D050; float:left;"> </div>
                <div style="float:left;padding-left: 5px; padding-right: 20px;"> <b>Información Autocompletada</b></div>
            </div>
            <div class="bloque" style="">
                <div class="cuadro-sh" style="background: #7149A7; float:left;"> </div>
                <div style="float:left;padding-left: 5px; padding-right: 20px;"> <b>Información Editada por Usuario</b></div>
            </div>
        </div>
        <div id="htTablaWeb" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 440px; overflow: hidden;">

        </div>

    </div>

</div>

