@model COES.MVC.Intranet.Areas.PMPO.Models.QnMensualModel
@{
    ViewBag.Title = "Actualización Mensual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/PMPO/Content/Scripts/handsontable.full.min.js?v=2"></script>   
<link href="~/Areas/PMPO/Content/Css/handsontable.full.min.css" rel="stylesheet" />


<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<script src="~/Content/Scripts/moment.js"></script>

<script src="~/Areas/PMPO/Content/Scripts/pmpo-qn-mensual.js?v=1.1.1"></script>

<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/PMPO/Content/Css/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Actualización Mensual</div>

    <div class="content-botonera" id="container">
        <input type="button" id="btnEscogerSerieHidrologica" value="Crear Serie" />
        <input type="button" id="btnPopupNotificar" value="Notificar Pendientes" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla" id="excelwebPF" style="padding-top: 10px;">
        <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; display:none"></div>
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a href="#vistaListado">Listado</a></li>
                <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
            </ul>

            <div class='panel-container'>
                <div id="vistaListado">
                    <div class="content-tabla">
                        <!--Listado de series-->
                        <div class="table-list" id="listado">
                            <div id="cuadroSeries" style=" display: inline-block; float: left; width: 1400px;"> </div>
                        </div>
                    </div>

                </div>

                <div id="vistaDetalle">
                    
                </div>
            </div>


        </div>
    </div>
</div>

<div id="popupNotificar" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Notificación de envíos pendientes de Hidrología</span></div>
    <div class="popup-text" style="margin-top:5px">

        <div class='action-message' id='mensajeNotificar' style="margin-bottom:5px; margin-top:0; display:none;"></div>
        <div class="content-tabla">

            <b>Nota: </b> Está acción permite enviar notificación a los agentes cuando no realizaron Carga de datos <br/>
            de la Extranet de Hidrología para los siguientes formatos:

            <ul>
                <li>NATURALES - EJECUTADO SEMANAL PARA MP</li>
                <li>NATURALES - EJECUTADO MENSUAL PARA MP</li>
                <li>NATURALES - PROGRAMADO SEMANAL PARA MP</li>
                <li>NATURALES - PROGRAMADO MENSUAL PARA MP</li>
            </ul>

            <div style="width:250px; padding-left: 10px; padding-top: 20px">
                Periodo:
                <input style="width: 75px;" type="text" id="txtMesAnioNotificacion" value="@Model.Mes" />
                <input type="button" id="btnNotificarPendientes" value="Enviar" />

            </div>
        </div>
    </div>
</div>

<div id="historialSH" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Historial Versiones</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="vistaVersion">
            <div class="content-tabla">
                <div style="clear:both; height:5px"></div>

                <div class="content-tabla">
                    <div class="table-list" id="listadoHSH"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="crearSerie" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Crear Serie Hidrológica</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="vistaArchivos">
            <div class='action-message' id='mensajeCrearSerie' style="margin-bottom:5px; margin-top:0; display:none; max-width: 350px;"></div>
            <div class="content-tabla">

                <div style="width:250px; padding-left: 50px;">
                    <div style="width:250px; padding-top:30px;">
                        <div style="width:60px; float:left;">
                            Tipo:
                        </div>
                        <div style="width:190px; float:left;">
                            <select id="tipoSerie" name="" style="width:138px">
                                <option value="0" selected> -- Seleccione Tipo --</option>
                                <option value="3">Semanal</option>
                                <option value="4">Mensual</option>
                            </select>
                        </div>
                    </div>
                    <div id="anioCrear" style="width:250px; padding-top:30px; display: none;">
                        <div style="width:60px; float:left;">
                            Año:
                        </div>
                        <div style="width:190px; float:left;">
                            <input style="width: 75px;" type="text" id="txtMesAnio" value="@Model.MesAnioMensual" />
                            <input style="display: none;" type="text" id="hfNuevoMesAnioMensual" value="@Model.MesAnioMensual" />
                            <input style=" display: none;" type="text" id="hfNuevoMesAnioSemanal" value="@Model.MesAnioSemanal" />
                        </div>
                    </div>


                </div>
                <div style="width:250px; text-align:center; padding:30px; padding-top:50px;">

                    <div style="width:250px;">
                        <input type="button" id="btnCrearSerieH" value="Crear" />
                        <input type="button" id="btnCancelarSerieH" value="Cancelar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="erroresDatos" class="general-popup" style="z-index:9999999999;">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="listadoErrores">
            <table id="tblListaerrores" style="width:500px" class="pretty tabla-adicional" role="presentation">
                <thead>
                    <tr>
                        <th scope="col">ClassName</th>
                        <th scope="col" style="width: 135px; min-width: 135px">Celda</th>
                        <th scope="col" style="width: 120px; min-width: 120px">Valor</th>
                        <th scope="col" style="width: 120px; min-width: 120px">Tipo de error</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="erroresDatosSinVacio" class="general-popup" style="z-index:9999999999;">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="listadoErrores">
            <table id="tblListaerroresSinVacios" style="width:500px" class="pretty tabla-adicional" role="presentation">
                <thead>
                    <tr>
                        <th scope="col">ClassName</th>
                        <th scope="col" style="width: 135px; min-width: 135px">Celda</th>
                        <th scope="col" style="width: 120px; min-width: 120px">Valor</th>
                        <th scope="col" style="width: 120px; min-width: 120px">Tipo de error</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>







