@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.InsumosModel

<div id="mensajeSuministrador"></div>
<table style="width:auto">   
    <tr>
        <td><div>Seleccione suministrador:</div></td>
        <td>
            <select id="cbSuministrador" style="background-color:white">
                <option value="">-SELECCIONE-</option>
                @foreach (var item in Model.ListSuministradores)
                {
                    <option value="@item.Emprcodi">@item.Emprnomb</option>
                }
            </select>
        </td>
        <td><input type="button" id="btnAgregarSuministrador" value="Agregar" /></td>
    </tr>
</table>

<div style="clear:both; height:20px"></div>
<table class="pretty tabla-formulario" id="tablaSuministrador" border="0">
    <thead>
        <tr>
            <th>Quitar</th>
            <th>Suministrador</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoSuministradorPeriodo)
        {
            <tr>
                <td>
                    <img src="~/Content/Images/btn-cancel.png" alt="" onclick="$(this).parent().parent().remove();" style="cursor:pointer" />
                    <input type="hidden" id="hfIdSuministrador" value="@item.Emprcodi" />
                </td>
                <td>
                    @item.Emprnomb
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="hfIdPuntoEntrega" />
<div style="clear:both; height:10px">

</div>
<div style="width:140px; margin:auto">
    <input type="button" id="btnGrabarSuministrador" value="Grabar" />
    <input type="button" id="btnCancelarSuministrador" value="Cancelar" />
</div>