@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.InsumosModel

<div class="content-registro">

    <form id="frmRegistroPtoEntrega">
        <div id="mensajeEdicion" class="action-message">Por favor seleccione el punto de entrega</div>
        <table style="width:100%" id="tablaRegistro">
            <tr>
                <td class="registro-label">Punto de entrega:</td>
                <td class="registro-control">
                    <select id="cbPtoEntrega" name="PuntoEntrega">
                       
                        @foreach (var item in Model.ListaMaestroPtoEntrega)
                        {
                            <option value="@item.Repentcodi">@item.Repentnombre</option>
                        }
                    </select>
                   
                </td>
            </tr>
        </table>      

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            @if (Model.Grabar)
            {
                <input type="button" id="btnGrabarPtoEntrega" value="Grabar" />
            }
            <input type="button" id="btnCancelarPtoEntrega" value="Cancelar" />
        </div>

    </form>


</div>
