@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Factores de Proporción";
}

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Factores de Proporción</h1>
            <span>
            </span>
        </div>
        <img src="~/Content/Images/Banners/ValorizacionDeTransferencias.jpg" alt="Factores de Proporción" />
    </div>
    <div style="clear:both"></div>
    <div class="page-content">
        @Html.Action("Index", "Browser", new { area = "", url = "Post%20Operaci%C3%B3n%2FValorizaci%C3%B3n%20de%20Transferencias%2FFactores%20de%20Proporci%C3%B3n%2F" })
        <div style="clear:both"></div>
    </div>*@

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/ValorizacionDeTransferencias.jpg) ">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/ValorizacionTransferenciaEP" class="sidebar-nav--link">Valorizacion de Transferencia de Energia y Potencia</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/postoperacion/valorizaciontransferencias/pagosstysct" class="sidebar-nav--link">Asignaciones de Responsabilidad de Pago SST y SCT</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/FactoresProporcion" class="sidebar-nav--link sidebar-nav--link-active">Factores de Proporción</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/CálculoBalanceEF" class="sidebar-nav--link">Cálculo y Balance de Energía Firme</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/CostosMarginalesCP" class="sidebar-nav--link">Costos Marginales de Corto Plazo Para Licitaciones</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/ResarcimientosNTCSE" class="sidebar-nav--link">Resarcimientos NTCSE</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/CompraVentaPotenciaFirme" class="sidebar-nav--link">CompraVenta de Potencia Firme</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Post%20Operaci%C3%B3n%2FValorizaci%C3%B3n%20de%20Transferencias%2FFactores%20de%20Proporci%C3%B3n%2F" })
        <div style="clear:both"></div>
        </div>
    </div>
</div>

<div style="clear:both"></div>