@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Valorización de Transferencias Energía y Potencia";
}

@*<div class="page-banner">
        <div class="page-banner-title">
            <h1>Valorización de Transferencias Energía y Potencia</h1>
            <span>
            </span>
        </div>
        <img src="~/Content/Images/Banners/ValorizacionDeTransferencias.jpg" alt="Valorización de Transferencias Energía y Potencia" />
    </div>
    <div style="clear:both"></div>
    <div class="page-content">
        @Html.Action("Index", "Browser", new { area = "", url = "Post%20Operaci%C3%B3n%2FValorizaci%C3%B3n%20de%20Transferencias%2FVal.%20Trans.%20de%20Energ.%20y%20Pot%2F" })
        <div style="clear:both"></div>
        <div class="page-link">
            <a href="~/PostOperacion/ValorizacionTransferencias/ValorizacionAnterior">Ver años anteriores</a>
        </div>
    </div>

    <div style="clear:both"></div>*@
<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/ValorizacionDeTransferencias.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/ValorizacionTransferenciaEP" class="sidebar-nav--link sidebar-nav--link-active">Valorización de Transferencia de Energía y Potencia</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/PagoSSTySCT" class="sidebar-nav--link">Asignaciones de Responsabilidad de Pago SST y SCT</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/FactoresProporcion" class="sidebar-nav--link">Factores de Proporción</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/CálculoBalanceEF" class="sidebar-nav--link">Cálculo y Balance de Energía Firme</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/CostosMarginalesCP" class="sidebar-nav--link">Costos Marginales de Corto Plazo Para Licitaciones</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/PostOperacion/ValorizacionTransferencias/ResarcimientosNTCSE" class="sidebar-nav--link">Resarcimientos NTCSE</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/postoperacion/ValorizacionTransferencias/CompraVentaPotenciaFirme" class="sidebar-nav--link">CompraVenta de Potencia Firme</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-md-9 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Post%20Operaci%C3%B3n%2FValorizaci%C3%B3n%20de%20Transferencias%2FVal.%20Trans.%20de%20Energ.%20y%20Pot%2F" })
            <div style="clear:both"></div>
            @*<div class="bread-crumb" style="margin-left: 25px; margin-top: -40px;">
                <ul>
                    <li><a class="search-clic" href="~/PostOperacion/ValorizacionTransferencias/ValorizacionAnterior">Ver años anteriores</a></li>
                </ul>
            </div>*@
        </div>
    </div>
</div>