@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Valorización de Transferencias Energía y Potencia";
}
<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/ValorizacionDeTransferencias.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-3">
                <div class="coes-box--header-no-content coes-box--header--left-aligned">
                    <h3 class="coes-box--title">Valorización de Transferencias Energía y Potencia (Años anteriores)</h3>
                </div>

            </div>
            <iframe width="100%" height="1200px" src="https://www.coes.org.pe/coes/informes/transf/2009.asp" frameborder="0"></iframe>
        </div>
    </div>
    </div>
<div style="clear:both"></div>
