@model COES.MVC.Intranet.Areas.Intervenciones.Models.Intervencion
@{
    ViewBag.Title = "Intervenciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string opcionStyle = Model.TienePermisoAdmin ? "": "display: none";
}

<link href="~/Areas/Intervenciones/Content/Css/general.css?v=9.0.0" rel="stylesheet" />

<script src="~/Areas/Intervenciones/Content/Scripts/general.js?v=9.0.0"></script>

<div class="form-title">
    <div class="content-titulo">Intervenciones</div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="menu_reporte" style="float: left; padding-right: 15px;">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto;">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Registro</b></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id="opcionRegistro" class="menu-item suboptions" data-url="/Intervenciones/Registro/Programaciones/" data-alto="935" title="">
                            <img src="~/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Registro
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/Registro/IntervencionesCruzadasConsulta/" data-alto="935" title="">
                            <img src="~/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Consultas cruzadas
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/Bandeja/Index" data-alto="1200" title="">
                            <img src="~/Content/Images/prn-ico-procesar.png" />
                            <br />
                            <label>
                                Mensajería
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_proceso" style="float: left; padding-right: 15px; ">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto;">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Reportes</b></div>
                    </td>
                </tr>

                <tr>


                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/Registro/IntervencionesConsulta" data-alto="935" title="">
                            <img src="~/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Consultas tabulares
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/ConsultasYReportes/rptIntervenciones" data-alto="700" title="">
                            <img src="~/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Reporte Osinergmin
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions ancho_2" data-url="/Intervenciones/ConsultasYReportes/rptAgentes" data-alto="700" title="">
                            <img src="~/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Intervenciones (Formato Agentes)
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/Registro/IndexDashboard" data-alto="935" title="">
                            <img src="~/Content/Images/prn-ico-excel.png" />
                            <br />
                            <label>
                                Indicadores F1 - F2 SPR
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="menu_configuracion" style="float: left; @opcionStyle">

        <table border="0" cellpadding="5" cellspacing="2" style="width:100%; overflow:auto;">

            <tbody>
                <tr class="THCabecera">
                    <td colspan="25">
                        <div class="editor-label"><b>Configuración</b></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/Parametro/Index/" data-alto="700" title="">
                            <img src="~/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Parámetros
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/ConsultasYReportes/RptMensajes/" data-alto="1200" title="">
                            <img src="~/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Log de Mensajes
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions ancho_2" data-url="/Intervenciones/ConsultasYReportes/RptHistorial/" data-alto="700" title="">
                            <img src="~/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Log de Intervenciones
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/Parametro/IndexPlantillaCorreo/" data-alto="1200" title="">
                            <img src="~/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Plantilla de Correo
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions" data-url="/Intervenciones/Parametro/ActualizaReporte/" data-alto="700" title="">
                            <img src="~/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Plantilla de Informe Word
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions ancho_2" data-url="/Intervenciones/Parametro/IndexPlantilla/" data-alto="700" title="">
                            <img src="~/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Plantilla de Justificación
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="menu-item suboptions ancho_2" data-url="/Intervenciones/Configuracion/Notificacion/" data-alto="700" title="">
                            <img src="~/Content/Images/prn-ico-parametros.png" />
                            <br />
                            <label>
                                Configuración de mensajes
                            </label>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div>
        <!--no modificar el style del iframe. esto aplica para todos los items. Para cambiar el alto o ancho por defecto de una opción cambiar el atributo 'data-alto'-->
        <iframe id="iframeIntervenciones" frameborder="0" src="" style="margin-top: 15px; min-height:800px; overflow-x: hidden; overflow-y: scroll ">
        </iframe>
    </div>
</div>