@model  COES.Dominio.DTO.Sic.DaiAportanteDTO

<style type="text/css">
    input[text] {
        width: auto !important;
    }
</style>

<div class="content-registro">
    <form id="frmRegistro">
        <table style="width:100%">
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control" colspan="5">
                    <input type="text" id="txtEmpresa" value="@Model.Emprnomb" readonly />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha de Liquidación:</td>
                <td class="registro-control">
                    <input type="text" id="txtAnio" value="@Model.Aporfecliquidacion" readonly />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Usuario que Liquidó:</td>
                <td class="registro-control">
                    <input type="text" id="txtAnio" value="@Model.Aporusuliquidacion" readonly />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" value="Regresar" onclick="$('#popupDetalle').bPopup().close();" />
        </div>

    </form>
</div>