@model COES.MVC.Extranet.Areas.TransfSeniales.Models.TransfSenialesModel

<table class="pretty tabla-icono">
    <thead>
        <tr>
            @*<th>VERSION</th>*@
            <th>FECHA</th>
            <th>% DISPONIBILIDAD</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.GetDispMensual7Version != null)
            {
                foreach (var item in Model.GetDispMensual7Version)
                {
                    <tr>
                        @*<td>@item.Vernumero</td>*@
                        <td>@item.Revfecha.ToString("dd/MM/yyyy")</td>
                        <td>@item.Revciccpe</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>














