label {
    padding-right: 8px;
}

.btnForms {
    width: 100px;
}

.contEnvio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.otroOcultarg3 {
    display: none;
}
#listadoObservacion table tr td:nth-child(2) {
    max-width: 300px;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

/*.content-proy{
    max-height: 60vh;
    overflow-y: auto;
}*/
.tabla-requisitos {
    max-width: 100%;
    overflow: auto;
}

/*.general-popup-campania {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 380px;
    top: 100px !important;
    padding: 25px;
    z-index: 10000;
}
*/
.datosHidrologicos {
    width: 50px;
    padding: 2px 5px;
    font-size: 12px;
}
/* Eliminar las flechas de aumentar y disminuir en Chrome, Safari, Edge y Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Eliminar las flechas de aumentar y disminuir en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Estilo para los inputs personalizados */
input.txtnumber {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}
/*Estilo de input*/

input[type=number] {
    background: #f8f8f8;
    border: 1px solid #CBD3CF;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 220px;
    height: 20px;
    text-indent: 8px;
    font: 12px "arial", sans-serif;
    color: #4876AA;
}

/*Estilo textarea*/

textarea {
    background: #f8f8f8;
    border: 1px solid #CBD3CF;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 220px;
    text-indent: 8px;
    font: 12px "arial", sans-serif;
    color: #4876AA;
}

    textarea :focus, textarea :hover, textarea :active {
        background-color: #FFFFD5;
    }

.search-content3 {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 5px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 1px;
}

    .search-content3 select {
        background-color: #fff;
        width: 100px;
        font-size: 10px;
        color: #3f6bc3;
    }

    .search-content3 label {
        width: 100px;
        font-size: 12px;
        color: #4bbde3;
    }

.modal {
    width: 80% !important;
    max-width: 90% !important;
    top: 100px !important;
    vertical-align: top !important;
}

.general-popup.modal {
    width: 80% !important;
    max-width: 700px !important;
    top: 100px !important;
    vertical-align: top !important;
}


.cancel-button {
    background-color: #ff4d4d; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    font-weight: bold;
    font-size: 11px;
    padding: 0 10px;
    cursor: pointer;
    height: 25px;
    line-height: 25px; /* Alineación vertical del texto */
    border: 1px solid #ff0000; /* Borde rojo */
    border-radius: 4px; /* Bordes redondeados */
    margin-left: 4px;
    text-align: center;
    text-decoration: none; /* Sin subrayado */
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transiciones suaves */
    width: 70px;
}

    .cancel-button:hover {
        background-color: #e60000; /* Fondo más oscuro al pasar el ratón */
        border-color: #cc0000; /* Borde más oscuro al pasar el ratón */
    }

.etabs .tab a.active {
    font-weight: bold; /* Solo el enlace activo se verá diferente */
}

table.addColumn input {
    width: 100px;
}

table.addColumn select {
    width: 105.6px;
}

.cancel-button:active {
    background-color: #cc0000; /* Fondo más oscuro al hacer clic */
    border-color: #b30000; /* Borde más oscuro al hacer clic */
}

.content-hijo-table {
    position: relative;
    min-width: 500px;
    min-height: 500px;
}

.wtHolder {
    width: 100% !important;
}

.ht_clone_left .wtHolder {
    overflow-x: hidden !important;
    overflow-y: hidden !important
}
.tableHandson {
    width: 72vw;
    height: 600px; /* Ajusta el alto según necesites */
    overflow: auto;
}
@media (max-width: 2054px) {
    .tableHandson {
        width: 70vw;
        height: 500px; /* Ajusta el alto según necesites */
        overflow: auto;
    }
  }
  @media (max-width: 1650px) {
    .tableHandson {
        width: 68vw;
        height: 500px; /* Ajusta el alto según necesites */
        overflow: auto;
    }
  }
@media (max-width: 1250px) {
    .tableHandson {
        width:  66vw;
        height: 500px; /* Ajusta el alto según necesites */
        overflow: auto;
    }
  }
@media (max-width: 1180px) {
    .tableHandson {
        width:  64vw;
        height: 500px; /* Ajusta el alto según necesites */
        overflow: auto;
    }
  }
.tableHandson .handsontable div {
    /*max-height: 800px;*/
}

.handtable {
    max-width: 50%;
}

.hansondtable {
    max-width: 100%;
    width: 100%;
}

/* Ajustar texto de las cabeceras */
.ht_nestingHeaders .ht__header .colHeader {
    white-space: normal; /* Permite ajuste de línea */
    text-align: center;
    font-weight: bold;
}

/* Ajustar texto de las celdas */
.htCore .ht_td {
    white-space: normal; /* Permite ajuste de línea */
    text-align: center;
}

/* Opcional: agregar padding a las celdas */
.htCore td {
    padding: 5px;
}

#chartContainer {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%; /* Ajusta el ancho según el diseño */
    border: 1px solid #ccc; /* Opcional, para resaltar el contenedor */
}

#containerGraficaEO {
    min-width: 1000px; /* Mínimo ancho para habilitar el scroll si es necesario */
}

#mensajeFicha{
    position:relative
}
    #mensajeFicha .cerrar-mensaje {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        font-weight: bold;
        color: #e11919;
    }