@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/cargarlistatensionesxbarra.js"></script>
<select id="cbTension" name="cbTension" style="width:250px;" multiple="multiple">
    @if (Model.Tensiones.Count > 0)
    {
        foreach (var item in Model.Tensiones)
        {
            <option value="@item.codigo">@item.codigo</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfTension" name="hfTension" />