@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/cargarlistaareaopexbarra.js"></script>
<select id="cbAreaOpe" name="cbAreaOpe" style="width:250px;" multiple="multiple">
    @if (Model.AreasOperativas.Count > 0)
    {
        foreach (var item in Model.AreasOperativas)
        {
            <option value="@item.id">@item.text</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>

<input type="hidden" id="hfAreaOpe" name="hfAreaOpe" />