@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/grouped-categories.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/caudalesejecdia.js?v=1.2"></script>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla">

        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
        <div style="clear:both; height:5px"></div>
    </div>
</div>
