@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/compensacioningresotarifario.js?v=1.1"></script>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="overflow:auto;overflow-y:hidden"></div>
        <div style="clear:both; height:25px"></div>

        <div class='action-message' id='msj_listado2' style="margin-bottom: 5px; margin-top: 0; display:none;">
            <b>REPORTE CONSOLIDADO DEL INGRESO TARIFARIO</b>
            <div style="clear:both; height:15px"></div>
            <div class="table-list" id="listado2"></div>
            <div style="clear:both; height:15px"></div>
            (*) Solo se presenta los Ingresos Tarifarios en las nuevas Barras
        </div>
    </div>
</div>