@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Envio Tabla Prie 03 - Costos Marginales Promedio Diario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/costosmarginales.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/globales.js?v=2.0"></script>
<script src="~/Areas/Siosein/Content/Scripts/grillas.js?v=4.0"></script>
<script src="~/Areas/Siosein/Content/Scripts/mensajes.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>

<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Envio Promedio Diario Tabla 03 Costos Marginales</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <!-- id="mainLayout"-->
    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />

    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom: 5px; margin-top: 0; ">Por favor seleccione Mes - Año</div>
        <!--<div class='action-alert' id='mensajePlazo' style='display:none'></div>
        <div class='action-message' id='mensajeEvento' style='display:none'></div>-->
        <div class="search-content">
            <table>
                <tr>
                    <td>
                        <table class="tabla-search" style="width:auto">
                            <tr>
                                <td>Mes-Año:</td>
                                <td>
                                    <input type="text" id="txtFecha" name="Fecha" value="@Model.Mes" />
                                </td>
                                <td>
                                    <input type="button" id="btnConsultar" value="Consultar" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="content-tabla">
        <div class="bodyexcel" id='detalleFormato'></div>
    </div>
</div>>