@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Content/Scripts/Charts/graficosBase.js?v=2.1"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/costosvariables.js?v=2.3"></script>

<div class="content-hijo">

    <div class="content-tabla">
        <div class="table-list" id="listado1" style="width:90%;"></div>

        <div id="idGrafico1" style="height:500px; width:90%;"></div>

        <div style="clear:both; height:20px">
            <p>EVOLUCION DE LOS COSTOS VARIABLES POR TIPO DE COMBUSTIBLES EN EL SEIN</p>
        </div>

        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>T. COMBUSTIBLE:</td>
                <td>
                    <select id="cboCombustible" style="width:100px">
                        <option disabled selected hidden>[SELECCIONAR]</option>
                    </select>
                </td>
            </tr>
        </table>

        <div id="idGrafico2" style="height:600px; width:90%;"></div>

    </div>

</div>