@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js?v=1.2"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/costosoperacionejecutados.js?v=1.3"></script>

<style>
    th.rotate {
        vertical-align: middle;
    }

    th div {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }

    .cabecera2 {
        background: #1E5E88 !important;
        normal !important
    }
</style>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla">

        <div class="title-seccion">REPORTE CONSOLIDADO DE DESVIACIONES DEL COSTO DE OPERACIÓN EJECUTADO VS PROGRAMADO</div>
        <div class="table-list" style="float:left;width:50%;" id="listado2"></div>
        <div id="idGrafico2" style="float: right;width:50%;"></div>

    </div>
</div>

