@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Web de Costos Marginales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">@Model.Titulo</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <div class='action-message' id='mensaje' style="margin-bottom: 5px; margin-top: 0; ">Por favor seleccione Mes - Año</div>
    <div class="search-content">
        <table>
            <tr>
                <td>
                    <table class="content-tabla-search" style="width:auto">
                        <tr>
                            <td>Periodo:</td>
                            <td>
                                <input type="text" disabled="disabled" id="txtFecha" name="Fecha" value="@Model.Mes" />
                            </td>
                            <td>Barra de Transferencia:</td>
                            <td>
                                <select id="cbBarrTrans" name="cbBarrTrans" style="width:250px;" multiple="multiple">
                                    @foreach (var item in Model.Barras)
                                    {
                                        <option value="@item.id">@item.text</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="button" id="btnConsultar" value="Consultar" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>

        <table style="width:100%">
            <tr>
                <td style="width:50%"><div class="table-list" id="listado1"></div></td>
                <td style="width:50%"><div id="idGrafico1" style="margin-top:30px;width: auto; height: 560px"></div></td>
            </tr>
            <tr>
                <td><div style="clear:both; height:10px"></div></td>
            </tr>
            <tr>
                <td style="width:50%"><div class="table-list" id="listado2"></div></td>
                <td style="width:50%"><div id="idGrafico2" style="width: auto; height: auto"></div></td>
            </tr>
        </table>
    </div>
</div>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusioncostosmarginales.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>
