@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Energia no Suministrada Mensual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

@Html.Partial("DifusionTitulo")
<div class="content-hijo">
    @Html.Partial("DifusionCabecera")

    <div class="content-tabla">
        <div class="table-list" id="listado1"></div>
        <div id="idGrafico1" style="min-width: 550px; height: auto; min-height: 550px ;max-width: 670px; margin: 0 auto"></div>


        <div class='action-message' id='msj_listado2' style="margin-bottom: 5px; margin-top: 0; display: none; background: none; text-align: center;">
            ENERGIA NO SUMINISTRADA MENSUAL POR TIPO DE EQUIPO Y CAUSA SEGUN CLASIFICACION
            <div class="table-list" id="listado2"></div><br />
            *Con relacion al numero interrunciones de transportadores, 01 evento corresponde a rechazo manual de carga por sobrecarga de la Linea L-1122 (TINGO MARIA - AUCAYACU) de 138 KV (8,43 MWh)
            <table>
                <tr>
                    <td><div id="idGrafico2" style="min-width: 750px; height: auto; min-height:600px ; max-width: 700px; width: 700px; margin: 0 auto; "></div></td>
                    <td><div id="idGrafico3" style="min-width: 210px; height: auto; min-height: 600px; max-width: 700px; width: 700px; margin: 0 auto; "></div></td>
                </tr>
            </table>
        </div>

        <div id="idGrafico4" style="min-width: 650px; height: auto; min-height: 500px; max-width: 700px; margin: 0 auto"></div>
    </div>
</div>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusionenergsumiejecmensual.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>