@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion de la Potencia Efectiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
@Html.Partial("DifusionTitulo")
<style>
    .flotar {
        display: inline-block;
        vertical-align: top
    }
</style>

<div class="content-hijo" id="mainLayout">

    @Html.Partial("DifusionCabecera")

    <div class="content-tabla">

        <div style="width:100%;">
            <div class="table-list flotar" id="listado1" style="width:30%"></div>
            <div class="flotar" style="width:50%;">
                <div id="idGrafico1" style="height: 400px;"></div>
            </div>
        </div>

        <hr />

        <div style="width:100%;margin-top: 20px;">
            <div class="table-list flotar" id="listado2" style="width:30%"></div>
            <div class="flotar" style="width:50%;">
                <div id="idGrafico2" style="height: 300px;"></div>
            </div>
        </div>

        <hr />

        <div style="width:100%;margin-top: 20px;">
            <div class="table-list flotar" id="listado3" style="width:30%"></div>
            <div class="flotar" style="width:50%;">
                <div id="idGrafico3" style="height: 350px;"></div>
            </div>
        </div>
    </div>
</div>


@*<script src="~/Content/Scripts/highcharts.js"></script>*@
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusionpotenciaefectiva.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>