<div id="idpanel" style="overflow:auto; background-color:#fff">
    <div class='@Model.Resultado' id='mensaje' style="margin-bottom: 5px; margin-top: 0; ">@Model.Mensaje</div>
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>PERIODO:</td>
                <td>
                    <input type="text" disabled="disabled" id="txtFecha" name="Fecha" value="@Model.Mes" />
                </td>
            </tr>
        </table>
    </div>
</div>