@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Flujo Interconexion Ejec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

@Html.Partial("DifusionTitulo")
<div class="content-hijo">
    @Html.Partial("DifusionCabecera")

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico1" style="min-width: 310px; height: auto; max-width: 900px; margin: 0 auto"></div>
        <div style="clear:both; height:5px"></div>
        <div class="chart-wrapper" style="position: relative;width:70%;float:left;">
            <div id="idGrafico2" style="width: 100%;height:700px;">
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusionflujointerconexionejec.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>