<div class="form-title">
    <div class="content-titulo">@Model.Titulo</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>