@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion de la Potencia Firme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
@Html.Partial("DifusionTitulo")

<div class="content-hijo">

    @Html.Partial("DifusionCabecera")

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <table width="100%">
            <tr>
                <td width="40%">
                    <div class="table-list" id="listado1"></div>
                </td>
                <td width="5%"></td>
                <td width="55%">
                    <div id="idGraficoContainer" style="height:450px; width:auto; margin:0 auto"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusionpotenciafirme.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

