@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Volumenes de Embalses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusionvolumenembalses.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Difusion Volumenes de Embalses - Tabla 21</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.id">@item.text</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />
                    <input type="hidden" id="txtFecha" value="@Model.PeriodoDet" />
                </td>
                @*<td>
                    <input type="button" id="btnEjecutar" value="Ejecutar" />
                </td>*@
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
    </div>
    <div id="idGraficoPopup" style="display:none">
        <span class="button b-close"><span>X</span></span>

        <div class="popup-title"><span>Vista Gráfica</span></div>

        <div id="idVistaGrafica" style="min-width: 310px; height: 450px; width: 950px; max-width: 950px; margin: 0 auto; ">
            <div id="idGrafico1" style="height: auto; width:950px;"></div>
        </div>
    </div>
</div>