@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Horas de Operacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
@Html.Partial("DifusionTitulo")

<div class="content-hijo">
    @Html.Partial("DifusionCabecera")

    <div class="content-tabla">
        <div id="listado1" style="width:50%"></div>
        <div id="idGrafico1" style="height:500px;width:50%;"></div>
    </div>
</div>
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusionhorasoperacion.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>