@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Compensacion de Ingreso Tarifario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

@Html.Partial("DifusionTitulo")

<div class="content-hijo">

    @Html.Partial("DifusionCabecera")
    <div class="content-tabla">

        <div>
            <div id="listado1"></div>
        </div>

        <div>
            <div id="idGrafico1" style="height:500px;width:70%"></div>
        </div>

    </div>
</div>
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-3d.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusioncompensacioningresotarifario.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>