@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Caudales Ejecutadas Diaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

@Html.Partial("DifusionTitulo")

<div class="content-hijo">

    @Html.Partial("DifusionCabecera")

    <div class="content-tabla">

        <div style="width:100%;">
            <div class="flotar" id="listado1" style="width:49%"></div>
            <div class="flotar" id="idGrafico2" style="width:49%;float:right;height:500px"></div>
        </div>
    </div>
</div>
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusioncaudalesejecdia.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>