@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion de Balance Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/multiselect.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablasprie/difusionbalanceempresas.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

<div class="form-title">
    <div class="content-titulo">Difusion Balance de Empresas - Tabla Prie 09</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo:</td>
                <td>
                    <input type="text" disabled="disabled" id="txtFecha" name="Fecha" value="@Model.Mes" />
                </td>
                <td>Empresas:</td>
                <td>
                    <select id="cbEmpresa" name="cbEmpresa" style="width:250px;" multiple="multiple">
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.id">@item.text</option>
                        }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="hfEmpresa" />                    
                </td>
                @*<td>
                    <input type="button" id="btnEjecutar" value="Ejecutar" />
                </td>*@
            </tr>
        </table>
    </div>
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <table>
            <tr>
                <td colspan="2">
                    <div class="table-list" id="listado1"></div>
                </td>
            </tr>
            <tr><td><div style="clear:both; height:5px"></div></td></tr>
            <tr>
                <td>
                    <div id="idGrafico1" style="min-width: 310px; height: auto; max-width: 900px; margin: 0 auto"></div>
                </td>
            </tr>
            <tr><td><div style="clear:both; height:5px"></div></td></tr>
            <tr>
                <td>
                    <div id="idGrafico2" style="min-width: 310px; height: auto; max-width: 900px; margin: 0 auto"></div>
                </td>
            </tr>
        </table>
    </div>
</div>