@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Difusion Hidrologia Cuencas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
@Html.Partial("DifusionTitulo")

<div class="content-hijo">

    @Html.Partial("DifusionCabecera")

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="float:left;"></div>
        <div style="clear:both; height:5px"></div>
        <div id="idGrafico1" style="min-width: 310px; height: auto; max-width: 900px; margin: 0 auto"></div>
    </div>
</div>
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/3.difusion/difusionhidrologiacuencas.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>