@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "Embalses Estacionales Programado Mensual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/embalsesestacionalesprogmensual.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/reporteportal/generales.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/globales.js?v=2.0"></script>
<script src="~/Areas/Siosein/Content/Scripts/grillas.js?v=4.0"></script>
<script src="~/Areas/Siosein/Content/Scripts/mensajes.js"></script>
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/Handson/htmaxlength.js"></script>
<script src="~/Content/Scripts/Handson/moment.js"></script>
<script src="~/Content/Scripts/Handson/select2.js"></script>
<script src="~/Content/Scripts/Handson/select2handson.js"></script>

<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<link href="~/Content/Css/Handson/select2.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo" style="width: 100%">Embalses Estacionales Programado Mensual - Tabla 29</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado" />
    </div>
</div>
<div class="content-hijo">
    <!-- id="mainLayout"-->
    <input type="hidden" id="hfIdEnvio" value="@Model.IdEnvio" />
    <div id="idpanel" style="overflow:auto; background-color:#fff">
        <div class='action-message' id='mensaje' style="margin-bottom: 5px; margin-top: 0; ">Por favor seleccione Mes - Año</div>
        <div class="search-content">
            <table style="width:auto;">
                <tr>
                    <td style="padding-top:10px;">
                        <table class="tabla-search" style="width:auto">
                            <tr>
                                <td>Mes-Año:</td>
                                <td>
                                    <input type="text" id="txtFecha" name="Fecha" value="@Model.Mes" />
                                </td>
                                <td>
                                    <input type="button" id="btnConsultar" value="Consultar" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div id="barraDeclaracion" style="display:none;">
                            <table style="width:100%">
                                <tr>
                                    <td style="width:40%">
                                        <div class="search-content" style="margin-bottom:0px; padding:10px; padding-top:3px; padding-bottom:9px; display:block" id="divAcciones">
                                            <table cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <td class="content-action">
                                                        <a href="#" id="btnEnviarDatos">
                                                            <div class="content-item-action">
                                                                <img src="~/Areas/Siosein/Content/Images/enviar.png" /><br />
                                                                <span>Envíar</span>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td class="content-action">
                                                        <a href="#" id="btnMostrarErrores">
                                                            <div class="content-item-action">
                                                                <img src="~/Areas/Siosein/Content/Images/errores.png" /><br />
                                                                <span>Errores</span>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td class="content-action">
                                                        <a href="#" id="btnVerEnvios">
                                                            <div class="content-item-action">
                                                                <img src="~/Areas/Siosein/Content/Images/envios.png" /><br />
                                                                <span>Envíos</span>
                                                            </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="content-tabla">
        <div class="bodyexcel" id='detalleFormato'></div>
    </div>
</div>

<div id="validaciones" style="z-index:9999999999;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div id="idTerrores" style="height:370px;">
    </div>
</div>
<div id="enviosanteriores" style="z-index:9999999998;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Envios Anteriores</span></div>
    <div id="idEnviosAnteriores">

    </div>
</div>

<input type="hidden" id="hfEmpresa" value="@Model.IdEmpresa" />
