@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<script src="~/Content/Scripts/ellipsis.js"></script>
<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/horasoperacion.js?v=2.2"></script>

<div class="content-hijo">

    <div class="content-tabla">

        <div class="table-list" style="width:99%" id="listado1"></div>
        <div id="idGrafico1" style="height: 700px; width: 99%; margin-top:10px"></div>

        <div style="margin-top:20px;" class="title-seccion">REPORTE CONSOLIDADO DE HORAS DE OPERACIÓN EJECUTADA EN EL SEIN</div>
        <div>
            <div class="table-list" style="float:left;width:50%;" id="listado2"></div>
            <div id="idGrafico2" style="float: right;width:50%;"></div>
        </div>
    </div>
</div>


