@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinTblCOMPModel
@{
    ViewBag.Title = "Excel web Tabla 09 COMP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<link href="~/Content/Css/form.css?v=1.1" rel="stylesheet" />

<link href="~/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />

<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<link href="~/Areas/Siosein/Content/Css/excelweb.css" rel="stylesheet" />
<script src="~/Areas/Siosein/Content/Scripts/excelweb/excelweb_comp.js?v=1.5"></script>

<div class="form-title">
    <div class="content-titulo">Carga de datos - Tabla 09: Balance Por Empresas (COMP)</div>
    <div class="content-botonera">
        <input type="button" id="btnVolverListado" value="Volver al listado">
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class='action-message' id='mensajeInterrPlazo' style="margin-bottom: 5px; margin-top: 10px; display: none "></div>
    <div class='' id='mensajeInterr' style="margin-bottom: 5px; margin-top: 10px; "></div>

    <div class="search-content" style="margin-top:5px; padding:10px;padding-bottom: 25px;">
        <table class="table-search">
            <tbody>
                <tr>
                    <td style="vertical-align: middle; width: 60px;">Periodo:</td>
                    <td style="vertical-align: middle; width: 104px;">
                        <input type="text" id="fecha_proceso" value="@Model.Mes" disabled style="width: 80px;" />
                    </td>
                    <td></td>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" id="barraHerramientas">
                            <tbody>
                                <tr>
                                    <td class="content-action">
                                        <div style="display: block;">
                                            <a href="#" id="btnImportarAppTransferencia">
                                                <div class="content-item-action">
                                                    <img src="~/Areas/Siosein/Content/Images/database.png"><br>
                                                    <span>Importar <br/> Transferencia</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="content-action">
                                        <div id="celdaDescargar" style="display: block;">
                                            <a href="#" id="btnDescargarFormato">
                                                <div class="content-item-action">
                                                    <img src="~/Content/Images/bajar.png"><br>
                                                    <span>Descargar</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="content-action">
                                        <div id="celdaImportar" style="display: block; position: relative;">
                                            <a href="#" id="btnImportar" style="position: relative; z-index: 1;">
                                                <div class="content-item-action">
                                                    <img src="~/Content/Images/subir.png"><br>
                                                    <span>Importar</span>
                                                </div>
                                            </a>
                                            <div id="html5_1e0e3oe86rmv13b717c727d1cli3_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: hidden; z-index: 0;"><input id="html5_1e0e3oe86rmv13b717c727d1cli3" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"></div>
                                        </div>
                                    </td>
                                    <td class="content-action">
                                        <div>
                                            <a href="#" id="btnEnviarDatos">
                                                <div class="content-item-action">
                                                    <img src="~/Content/Images/enviar.png"><br>
                                                    <span>Enviar</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="content-action">
                                        <div>
                                            <a href="#" id="btnMostrarErrores">
                                                <div class="content-item-action">
                                                    <img src="~/Content/Images/errores.png"><br>
                                                    <span>Ver errores</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="div_ultimo_envio" style="margin-bottom: 15px;"></div>

    <div class="content-tabla" id="excelweb" style="height: 740px;">

        <div id="tblExcelWeb" class="hot handsontable htRowHeaders htColumnHeaders" style="height: 640px; overflow: auto; width: 100%;">
        </div>

        <p class="leyenda_excel" style="display:none"><b>Ingrese los datos solo en los casilleros en blanco.</b></p>
    </div>

</div>

<div id="enviosInterrupcion" class="general-popup" style="z-index:9999999999;height: 350px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Envíos anteriores</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="listadoEnvio">
            <table id="tablalenvio" style="width:330px" class="pretty tabla-adicional">
                <thead>
                    <tr>
                        <th>ID envío</th>
                        <th>Fecha y Hora</th>
                        <th>Usuario</th>
                        <th>Plazo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="erroresDatos" class="general-popup" style="z-index:9999999999;">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Detalle de Errores</span></div>
    <div class="popup-text" style="margin-top:5px">
        <div id="listadoErrores">
            <table id="tblListaerrores" style="width:500px" class="pretty tabla-adicional">
                <thead>
                    <tr>
                        <th>ClassName</th>
                        <th>Celda</th>
                        <th>Valor</th>
                        <th>Tipo de error</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>