@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/installrepotenciaretiros.js?v=2.3.2"></script>

<div class="content-hijo">

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>


        <p align="center"><b>INGRESO DE UNIDAD DE GENERACION</b></p>
        <div style="clear:both; height:5px"></div>
        En el COES se registraron ingreso de unidades de generacion ubicadas en la zona Norte, Centro y Sur del pais, las mismas que se indican acontinuacion:
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1"></div>
        <div style="clear:both; height:5px"></div>
        <p style="text-indent: 0px; text-align: justify;">
            Nota:<br />
            Los Valores de potencia efectiva corresponden a los vigentes en la fecha de ingreso de operacion comercial
            C.S.: Central Solar<br />
            (1)  Incluye los ingresos y reingresos de operacion comercial en el COES ocurridos por unica vez.<br />
            (*)  Unidades de generacion que tuvieron ingresos de operacion comercial temporales por mantenimiento de Central Hidroelectrica Machupichu.<br />
            (**) Con fecha 01.08.2015 se realiza la fusion de las empresas STATKRAFT PERU S.A. y empresas de generacion electrica Cheves S.A., siendo esta ultima la que absorbe los activos y
            pasivos de la primavera. Posteriormente el 23.11.2015 se realiza el cambio de denominacion Social de la empresa de generacion electrica Cheves S.A. a STATKRAFT PERU S.A.
        </p>

        <hr />

        <p align="center"><b>RETIRO DE UNIDAD DE GENERACION</b></p>
        <div style="clear:both; height:5px"></div>
        En el COES se registraron retiros de unidades de generacion ubicadas en la zona Norte, Centro y Sur del pais, las mismas que se indican acontinuacion:
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado2"></div>
        <div style="clear:both; height:5px"></div>
        <p style="text-indent: 0px; text-align: justify;">
            (2) Incluye los retiros de operacion comercial en el COES ocurridos por unica vez. No incluye unidades de generacion que tuvieron reingresos al SEIN
        </p>

    </div>
</div>
