@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/pagotransferenciapotencia.js?v=1.2"></script>

<style>
    td {
        white-space: nowrap;
    }
</style>

<div class="content-hijo" id="mainLayout">
    <div class="content-tabla">

        <div class="table-list" id="listado1"></div>
        <b>REPORTE CONSOLIDADO DE LAS TRANSFERENCIAS DE POTENCIA EN NUEVAS BARRAS</b>
        <div class="table-list" id="listado2"></div>
        (*) Solo se presenta las Transferencias de Potencia en las nuevas Barras

    </div>
</div>