@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/pagotransferenciaenergia.js?v=1.1"></script>

<style>
    td {
        white-space: nowrap;
    }
</style>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="overflow:auto; overflow-y:hidden;"></div>
        <div style="clear:both; height:5px"></div>

        <b>REPORTE CONSOLIDADO DE LAS TRANSFERENCIAS DE ENERGIA EN NUEVAS BARRAS</b>
        <div style="clear:both; height:15px"></div>
        <div class="table-list" id="listado2"></div>
        <div style="clear:both; height:15px"></div>
        (*) Solo se presenta las Transferencias de Energia en las nuevas Barras

    </div>
</div>