@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}

<script src="~/Content/Scripts/moment.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/potenciaefectiva.js?v=1.1"></script>

<div class="content-hijo">

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div>
            <table class="pretty tabla-icono" id="tblPotenciaEfectiva" style="width:100%">
                <thead>
                    <tr>
                        <th colspan="2">Empresa</th>
                        <th colspan="2">Central</th>
                        <th colspan="2">Modo Operación</th>
                        <th colspan="2">Potencia Efectiva (MW)</th>
                        <th rowspan="2">Variacion (%)</th>
                    </tr>
                    <tr>
                        <th>Código <br> Osinergmin</th>
                        <th>Nombre</th>
                        <th>Código <br> Osinergmin</th>
                        <th>Nombre</th>
                        <th>Código <br> Osinergmin</th>
                        <th>Nombre</th>
                        <th>@Html.Raw(Model.Resultado2)</th>
                        <th>@Html.Raw(Model.Resultado3)</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div style="clear:both; height:15px"></div>
        <div class='action-message' id='msj_listado2' style="margin-bottom: 5px; margin-top: 0; display: none; background: none; text-align: center;">
            <b>REPORTE CONSOLIDADO DE VARIACION MENSUAL DE LAS POTENCIAS EFECTIVAS DECLARAS</b>
            <div style="clear:both; height:15px"></div>
            <div class="table-list" id="listado2"></div>
            <div style="clear:both; height:15px"></div>
            (*) SOLO SE PRESENTA LAS POTENCIAS EFECTIVAS CON VALORES DISTINTOS
        </div>
    </div>
</div>
