@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/potenciafirme.js?v=1.3"></script>

<div class="content-hijo" id="">

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div id='msj_listado1' style="margin-bottom: 5px; margin-top: 0; display:none;">

            <b>CALCULO DE LA POTENCIA FIRME</b>

            <div>
                <table class="pretty tabla-icono" id="tblPotenciaFirme" style="width:100%">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Osinergmin <br> Central</th>
                            <th>Central</th>
                            <th>@Html.Raw(Model.Resultado2)</th>
                            <th>@Html.Raw(Model.Resultado3)</th>
                            <th>Variación</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div style="clear:both; height:15px">

            </div>

            <b>CALCULO DE LA POTENCIA POR EMPRESA</b>
            <div class="table-list" id="listado2">

            </div>
        </div>

        <div style="clear:both; height:15px">

        </div>

        <div id='msj_listado3' style="margin-bottom: 5px; margin-top: 0; display: none;">

            <b>REPORTE CONSOLIDADO DE VARIACION MENSUAL DE LAS POTENCIAS FIRMES DECLARAS</b>
            <div style="clear:both; height:15px"></div>
            <div class="table-list" id="listado3"></div>
            (*) SOLO SE PRESENTA LAS POTENCIAS FIRMES CON VALORES DISTINTOS

        </div>
    </div>
</div>
