@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/recaudacionpeajesconexiontransmision.js?v=1.1"></script>

<div class="content-hijo" id="mainLayout">

    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="listado1" style="overflow:auto;overflow-y:hidden"></div>
        <div style="clear:both; height:25px"></div>
        <div class='action-message' id='msj_listado2' style="margin-bottom: 5px; margin-top: 0; display:none;">
            <b>REPORTE RECAUDACIÓN POR PEAJES CALCULADOS POR CONEXIÓN Y TRANSMISIÓN (S/.)</b>
            <div style="clear:both; height:15px"></div>
            <div class="table-list" id="listado2"></div>
            <div style="clear:both; height:15px"></div>
            (*) Solo se presenta las empresas que presentan nuevos cargos en la recaudación de Peajes calculados por conexión y Transmisión
        </div>
    </div>
</div>
