@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/transmisionpcsptypcsgt.js?v=1.2"></script>

<div class="content-hijo" id="mainLayout">
    <div class="content-tabla">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" id="lstCompensacion" style="overflow: auto; overflow-y: hidden;"></div>

        <div style="clear:both; height:5px"></div>
        <div class='action-message' id='msj_listado2' style="margin-bottom: 5px; margin-top: 0; display:none;">
            <b>REPORTE DE NUEVAS EMPRESAS PEAJE Y TRANSMISION QUE CORRESPONDE PAGAR (S/.)</b>
            <div style="clear:both; height:15px"></div>
            <div class="table-list" id="lstConsolidado"></div>
            <div style="clear:both; height:15px"></div>
            (*) Solo se presenta Peaje y transmision en Nuevas Empresas
        </div>
    </div>
</div>