@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/verificarcostosoperacionprogmensual.js?v=2.4"></script>

<div class="content-hijo">

    <div class="content-tabla">
        <div class="table-list" id="listado1" style="width:80%"></div>
        <div id="idGrafico1" style="width:80%;padding-top:10px"></div>
    </div>
</div>
