@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}
<link href="~/Content/Css/Gestor/font-awesome/font-awesome.css" rel="stylesheet" />
<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />

<script src="~/Content/Scripts/dataTables.rowsGroup.js"></script>

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/Charts/graficosBase.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/verificarembalsesestacionalesprogmensual.js?v=1.1.3"></script>

<div class="content-hijo">

    <div class="content-tabla">

        <div class="table-list" id="listado1"></div>

        <div id="titulo2"><h2>DETALLE DE DESVIACIONES DE VOLUMENES INICIAL Y FINAL DE RESERVORIOS</h2></div>

        <div class="table-list" id="listado2"></div>
    </div>

    <div id="idGraficoPopup" style="display:none">
        <span class="button b-close"><span>X</span></span>

        <div class="popup-title"><span>Vista Gráfica</span></div>

        <div id="idVistaGrafica" style="min-width: 310px; height: 450px; width: 950px; max-width: 950px; margin: 0 auto; ">
            <div id="idGrafico1" style="height: auto; width: 950px;"></div>
        </div>
    </div>
</div>

