@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    Layout = "~/Areas/Siosein/Views/Shared/ViewSharedTablaPRIE.cshtml";
}

<script src="~/Content/Scripts/highcharts.js"></script>

<script src="~/Areas/Siosein/Content/Scripts/tablaprie/2.verificacion/verificarprogoperacionmensual.js?v=1.2"></script>

<div class="content-hijo">

    <div class="content-tabla">
        <div class="table-list" id="listado1"></div>
        <table>
            <tr>
                <td style="background-color:#FFFF00"></td>
                <td>Variación desde 0% hasta 5%</td>
            </tr>
            <tr>
                <td style="background-color:#FFC000"></td>
                <td>Variación mayor que 5% hasta 10%</td>
            </tr>
            <tr>
                <td style="background-color:#00B050"></td>
                <td>Variación menor de 0%</td>
            </tr>
            <tr>
                <td style="background-color:#FF0000"></td>
                <td>Variación mayor del 10%</td>
            </tr>
        </table>


        <div class='action-message' id='msj_listado1' style="margin-bottom: 5px; margin-top: 0; display: none; background: none;">
            <p style="text-align: center;">REPORTE CONSOLIDADO DE ENERGÍA MENSUAL DE NUEVAS CENTRALES Y/O UNIDADES DE GENERACIÓN INCORPORADAS EN EL SEIN</p>
            <div style="clear:both; height:50px"></div>
            <div class="table-list" id="listado2"></div>
            <div style="clear:both; height:5px"></div>
            (*) SÓLO SE PRESENTA LAS POTENCIAS EFECTIVAS CON VALORES DISTINTOS
        </div>
        <div style="clear:both; height:50px"></div>

    </div>
</div>
