@model COES.MVC.Extranet.Areas.Interconexiones.Models.InterconexionesModel
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Interconexiones/Content/Scripts/ampliacion.js"></script>
<div class="form-title_intranet">
    <div class="content-titulo">Ampliación de Plazos de  Envíos de Interconexión</div>
    <div class="content-botonera">
          <input type="button" id="btnBuscar" value="Buscar" />
          <input type="button" id="btnAmpliar" value="Ampliar Plazo" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="spfilter-container">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa"  name="Idempresa" >
                     @foreach (var item in Model.ListaEmpresas)
                     {   
                          <option value="@item.Emprcodi">@item.Emprnomb</option>
                     }
                    </select>
                    <input type="hidden" id="hfEmpresa" name="empresa" value="@Model.Empresa"/>
                </td>
                <td>Fecha Ampliación:</td>
                <td><input type="text" id="idFecha" value="@Model.Fecha" /></td>
            </tr>
        </table>
    </div>

<div class="content-tabla">
    <div style="clear:both; height:5px"></div>
    <div class="table-list" id="listado"></div>
</div>

<div style="clear:both; height:30px"></div>

</div>

<div id="validaciones">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Ingresar Ampliacion</span></div>
    <div class="table-list" id="detalleAmpliacion"></div>
</div>
