@{
    ViewBag.Title = "Autorizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">Acceso Denegado</div>
<div class="home-content">
    <div class="home-img">
        <img src="~/Content/Images/coes.gif" alt="COES SINAC" />
    </div>
    <div class="home-txt" style="min-height:250px">
        Usted no tiene acceso para visualizar esta opción. Utilice el menú para acceder a las opciones.        
    </div>
</div>