@{
    ViewBag.Title = ".::Extranet SGO-COES::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

</script>

<div class="form-title">Bienvenido a la Extranet COES</div>
<div class="home-content">
    <div class="home-img">
        <img src="~/Content/Images/logocoes_home.png" alt="COES SINAC" />
    </div>
    <div class="home-txt" ">

        <strong>Estimados Integrantes:</strong>


        <div style="clear:both"></div>

        <br />
        Se comunica la implementación del nuevo Procedimiento Administrativo “Envío de Información por parte de los Integrantes mediante la Plataforma Extranet” que entrará en vigencia a partir
        del 01 de Enero del 2016, el cual establece:
        "Cada vez que algún Integrante requiera la <strong>
            asignación y/o cancelación de
            usuarios y contraseñas
        </strong>para el acceso a la Plataforma Extranet, podrá
        solicitarlo al COES. Para dichos efectos, deberá remitir una solicitud,
        mediante su Representante Legal, señalando el (los) nombre(s) de la(s)
        persona(s) a quien(es) se le(s) creará o cancelará el acceso, esta
        solicitud se podrá formular vía la Plataforma Extranet o de acuerdo a los
        formatos establecidos en el Anexo 1."
        <a href='https://www.coes.org.pe/portal/browser/download?url=Marco%20Normativo%2FProcedimientos%2FAdministrativo%2FEnv%C3%ADo%20de%20Informaci%C3%B3n%20por%20parte%20de%20los%20Integrantes%20mediante%20la%20Plataforma%20Extranet.pdf'>Para mayor detalle dar clic aquí</a>
        <br />
        Para temas relacionados con el Soporte Técnico como problemas o inconvenientes que se presenten en su manejo escribir un correo electrónico a <a href="mailTo:extranet@coes.org.pe">extranet@coes.org.pe</a>



        <br /><br />

        <strong>Modelos de Optimización del COES</strong>
        <br />

        El COES pone a disposición de los Agentes los siguientes modelos de optimización.
        <br />
        <ul>
            <li><strong>MODPLAN</strong>, utilizado para la planificación de la expansión de la transmisión. </li>
            <li>
                <strong>YUPANA</strong>, utilizado para la programación de la operación de corto plazo.
            </li>
            <li>
                <strong>QUIPU</strong>, utilizado para determinar los costos marginales de corto plazo, los costos marginales de energía y los costos marginales de congestión.
            </li>
            <li>
                <strong>KUMPLY</strong>, utilizado para la evaluación del cumplimiento de la prestación del servicio de RPF de las Unidades de Generación.
            </li>
            <li> <strong>ARPAY</strong>, utilizado para determinar la Potencia Disponible Despachada en el proceso de liquidación de las transferencias de potencia..</li>
        </ul>
     
        Para poder solicitar acceso a estos modelos, por favor seguir el procedimiento habitual.
        <div style="clear:both"></div>
        <br />
    </div>
    <div style="clear:both"></div>

</div>

<div id="validaciones">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Comunicado</span></div>
    <div class="popup-text" id="contenidoElemento" style="width:600px">

    </div>
</div>
