@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    DescargarModelo = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarmodelo",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarmodelo";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    }

    DescargarManual = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarmanual",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarmanual";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    }

    DescargarPresentacionMDP = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarpresentacionmdp",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarpresentacionmdp";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    };

    DescargarPresentacionMDP2 = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarpresentacionmdp2",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarpresentacionmdp2";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    };

    DescargarManualMDP = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarmanualmdp",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarmanualmdp";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    };

    DescargarAplicativoMDP = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargaraplicativomdp",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportaraplicativomdp";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    };

    DescargarCasosPruebaMDP = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarcasopruebamdp",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarcasopruebamdp";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    };

    DescargarGuiaPr16 = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarguiapr16",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarguiapr16";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    };

    DescargarModeloPR30 = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarmodelopr30",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarmodelopr30";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    }

    DescargarManualPR30 = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarmanualpr30",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarmanualpr30";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    }

    DescargarCasoPruebaPR30 = function () {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarcasopruebapr30",
            dataType: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                    location.href = siteRoot + "home/exportarcasopruebapr30";
                }
                else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    }

    $(document).ready(function () {
        $.ajax({
            url: siteRoot + "home/listarvideos",
            type: 'GET',
            dataType: 'json', 
            success: function (data) {

                if (data.length > 0) {

                    var lista = '<ul>';
                    $.each(data, function (index, video) {
                        lista += '<li><a href="javascript:void(0)" onclick="DescargarVideo(\'' + video.FileName + '\')">' + video.FileName + '</a></li>';
                    });
                    lista += '</ul>';
                    $('#listaVideos').html(lista); 
                } else {

                    $('#listaVideos').html('<p>No hay videos disponibles.</p>');
                }
            },
            error: function () {

                $('#listaVideos').html('<p>Ocurrió un error al cargar los videos.</p>');
            }
        });
    });

    DescargarVideo = function (nombreArchivo) {
        $.ajax({
            type: 'POST',
            url: siteRoot + "home/descargarvideo",
            data: 'json',
            cache: false,
            success: function (resultado) {
                if (resultado == 1) {
                   
                    location.href = siteRoot + "home/exportarvideo?nombreArchivo=" + encodeURIComponent(nombreArchivo);
                } else {
                    alert("Por favor inicie sesión.");
                }
            },
            error: function () {
                alert("Error");
            }
        });
    };
</script>


<div class="form-title">Módulos vigentes de la extranet</div>

<div class="home-content">
   
    <table border="0" class="pretty tabla-icono" id="tablaListado">
        <thead>
            <tr>
                <th>Módulos</th>
                <th>¿Cuál es el Procedimiento que se relaciona?</th>
                <th>¿Qué empresas deben de cargar sus datos?</th>
                <th>Áreas responsables en el COES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CUMPLIMIENTO RPF</td>
                <td>PROCEDIMIENTO TÉCNICO N°21</td>
                <td>GENERADORES</td>
                <td>SUB DIRECCIÓN DE MERCADOS ELÉCTRICOS</td>
            </tr>
            <tr>
                <td>DEMANDA EN BARRAS</td>
                <td>PROCEDIMIENTO TÉCNICO N°03</td>
                <td>USUARIOS LIBRES<br />DISTRIBUIDORES</td>
                <td>SUB DIRECCIÓN DE PROGRAMACIÓN</td>
            </tr>
            <tr>
                <td>HIDROLOGÍA</td>
                <td>PROCEDIMIENTO TÉCNICO N°41</td>
                <td>GENERADORES<br />(HIDROELECTRICAS)</td>
                <td>SUB DIRECCIÓN DE GESTIÓN DE INFORMACIÓN</td>
            </tr>
            <tr>
                <td>IEOD</td>
                <td>PROCEDIMIENTO TÉCNICO N°05</td>
                <td>GENERADORES</td>
                <td>SUB DIRECCIÓN DE GESTIÓN DE INFORMACIÓN</td>
            </tr>
            <tr>
                <td>INTERCAMBIOS INTERNACIONALES</td>
                <td>PROCEDIMIENTO TÉCNICO N°43</td>
                <td>TRANSMISORES (*)</td>
                <td>SUB DIRECCIÓN DE GESTIÓN DE INFORMACIÓN</td>
            </tr>
            <tr>
                <td>COSTO COMBUSTIBLE PR-31</td>
                <td>PROCEDIMIENTO TÉCNICO N°31</td>
                <td>GENERADORES<br />(TERMOELECTRICAS)</td>
                <td>SUB DIRECCIÓN DE GESTIÓN DE INFORMACIÓN</td>
            </tr>
            <tr>
                <td>INTERVENCIONES</td>
                <td>PROCEDIMIENTO TÉCNICO N°12</td>
                <td>TODAS LAS EMPRESAS</td>
                <td>SUB DIRECCIÓN DE PROGRAMACIÓN</td>
            </tr>
            <tr>
                <td>MEDIDORES DE GENERACIÓN</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°30/ N°15 / N°43</td>
                <td>GENERADORES</td>
                <td>SUB DIRECCIÓN DE GESTIÓN DE INFORMACIÓN</td>
            </tr>
            <tr>
                <td>PR 16 (MEDIDORES UL-D)</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°16</td>
                <td>USUARIOS LIBRES<br />DISTRIBUIDORES</td>
                <td>SUB DIRECCIÓN DE GESTIÓN DE INFORMACIÓN</td>
            </tr>
            <tr>
                <td>PROGRAMA MEDIANO PLAZO (PMPO)</td>
                <td>PROCEDIMIENTO TÉCNICO N°37</td>
                <td>TODAS LAS EMPRESAS</td>
                <td>SUB DIRECCIÓN DE PROGRAMACIÓN</td>
            </tr>
            <tr>
                <td>RIS - TIEMPO REAL</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°09</td>
                <td>TODAS LAS EMPRESAS</td>
                <td>DEPARTAMENTO DE TECNOLOGÍA DE LA INFORMACIÓN</td>
            </tr>
            <tr>
                <td>SUBASTAS DEL MERCADO RSF</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°22/ N°01</td>
                <td>GENERADORES</td>
                <td>SUB DIRECCIÓN DE PROGRAMACIÓN</td>
            </tr>
            <tr>
                <td>TRANSFERENCIAS DE POTENCIA PEAJES</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°30</td>
                <td>GENERADORES<br />TRANSMISORES</td>
                <td>SUB DIRECCIÓN DE MERCADOS ELÉCTRICOS</td>
            </tr>
            <tr>
                <td>TRANSFERENCIAS DE ENERGÍA ACTIVA</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°10</td>
                <td>GENERADORES</td>
                <td>SUB DIRECCIÓN DE MERCADOS ELÉCTRICOS</td>
            </tr>
            <tr>
                <td>SST Y SCT</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°35</td>
                <td>GENERADORES<br />TRANSMISORES</td>
                <td>SUB DIRECCIÓN DE MERCADOS ELÉCTRICOS</td>
            </tr>
            <tr>
                <td>VALORIZACIONES - MME</td>
                <td>PROCEDIMIENTOS TÉCNICOS N°47</td>
                <td>GENERADORES<br />TRANSMISORES<br />USUARIOS LIBRE<br />(**)</td>
                <td>SUB DIRECCIÓN DE MERCADOS ELÉCTRICOS</td>
            </tr>
            <tr>
                <td>REGISTRO DE INTEGRANTES</td>
                <td>PROCEDIMIENTO ADMINISTRATIVO N°16A</td>
                <td>TODAS LAS EMPRESAS INTEGRANTES DEL COES<br />(***)</td>
                <td>SUB DIRECCIÓN DE GESTIÓN DE INFORMACIÓN</td>
            </tr>
            <tr>
                <td>EXTRANET CTAF</td>
                <td>PROCEDIMIENTO TÉCNICO N°40</td>
                <td>TODAS LAS EMPRESAS</td>
                <td>SUB DIRECCIÓN DE EVALUACIÓN</td>
            </tr>
            <tr>
                <td>CAPACIDAD GARANTIZADA COMBUSTIBLE - PR25</td>
                <td>PROCEDIMIENTO TÉCNICO N°25</td>
                <td>GENERADORES</td>
                <td>SUB DIRECCIÓN DE MERCADOS ELÉCTRICOS</td>
            </tr>
        </tbody>
    </table>

    <br />

    <div style="font-size: 11px;">
        <i><b>(*)</b> Solamente para los Transmisores que son titulares de las instalaciones de transmisión del enlace internacional que forma parte del SEIN.</i>
        <br />
        <i><b>(**)</b> Previa autorización al Mercado Mayorista (MME).</i>
        <br />
        <i><b>(***)</b> Solo se brinda el acceso a los Representantes Legales titulares y alternos de las empresas integrantes registrados en el COES.</i>
    </div>

    <br />
    <div style="font-size: 11px;">
        <i><b>Notas: </b></i>
        <br />
        <i>En el caso se presente problemas técnicos en el sistema de los módulos, solicitar soporte técnico a través del correo electrónico: <a href="mailTo:@System.Configuration.ConfigurationManager.AppSettings["EmailExtranet"].ToString()">@System.Configuration.ConfigurationManager.AppSettings["EmailExtranet"].ToString()</a></i>
        <br />
        <i>Cabe indicar que, los accesos al tipo de Agente son referenciales, se brindará acceso adicional si el COES lo requiera</i>
    </div>

    

    <div class="info-container">
        <div class="info-column">

            <strong>Videos instructivos</strong>
            <div id="listaVideos"></div>
           
        </div>
        <div class="info-column">
            <strong>Manuales de Usuario</strong>
            <br />
            <ul>
                <li><a href="~/manuales/Instructivo_De_Acceso_al_Extranet_v1.3.pdf" target="_blank">Acceso a la Extranet</a></li>
                <li><a href="~/manuales/Manual_Modulo_Cumplimiento_Servicio_RPF_v1.0.pdf" target="_blank">Cumplimiento Servicio RPF</a></li>
                <li><a href="~/manuales/Manual_Modulo_Demanda_Barras_v1.2.pdf" target="_blank">Demanda en Barras</a></li>
                <li><a href="~/manuales/Manual_Modulo_Ensayo_Potencia_v1.0.pdf" target="_blank">Ensayos de Potencia</a></li>
                <li><a href="~/manuales/Manual_Modulo_Generacion_RER_v1.0.pdf" target="_blank">Generación RER</a></li>
                <li><a href="~/manuales/Manual_Modulo_Hidrología_v1.0.pdf" target="_blank">Hidrología</a></li>
                <li><a href="~/manuales/Manual_Modulo_Mantenimientos_v1.7.0.pdf" target="_blank">Mantenimientos</a></li>
                <li><a href="~/manuales/Manual_Modulo_Reclamos_v1.0.pdf" target="_blank">Reclamos</a></li>
                <li><a href="~/manuales/Manual_Modulo_Resarcimientos_NTCSE_v.1.1.pdf" target="_blank">Resarcimientos NTCSE</a></li>
                <li><a href="~/manuales/Manual_Modulo_Stock_Combustibles_v1.0.pdf" target="_blank">Stock de Combustibles</a></li>
                <li><a href="~/manuales/Manual_Modulo_Valorización_De_Energia_Activa_v1.1.pdf" target="_blank">Valorización de Transferencias de Energía Activa</a></li>
                <li><a href="~/manuales/Manual_Usuario_Nuevas_Funcionalidades_VTEA_VTP.pdf" target="_blank">VTEA y VTP - Nuevas funcionalidades</a></li>
                <li><a href="~/manuales/Manual_Usuario_Extranet_DemandaDiariaSemanal_v1.0.pdf" target="_blank">Demanda Diaria Semanal </a></li>
                <li><a href="~/manuales/Manual_Usuario_PR31_Extranet_v1.0.pdf" target="_blank">PR-31 Combustible Líquido y Sólido</a></li>
                <li><a href="~/manuales/Manual_de_Usuario_Extranet_Costo_de_combustible_gaseoso.pdf" target="_blank">PR-31 Combustible Gaseoso</a></li>
                <li><a href="~/Documentos/PR-20_Aplicativo_Ficha_Tecnica.pdf" target="_blank">PR-20 Aplicativo Ficha Técnica</a></li>
            </ul>
            <br />
            <strong>Guias de uso de servicios </strong>
            <br />
            <ul>
                <li><a href="JavaScript:DescargarGuiaPr16()">Guía de uso de servicios PR-16</a></li>
                <li><a href="~/manuales/Guia_de_uso_de_servicios_de_Medidores_de_Generacion.pdf" target="_blank">Guía de uso de servicios de Medidores de Generación</a></li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
        <div style="clear:both"></div>
    </div> 