@model COES.MVC.Extranet.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript">
           var siteRoot = "@Url.Content("~/")";
    </script>
    <link href="~/Content/Css/css.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/login.js"></script>    
    <script src="~/Content/Scripts/efecto.js"></script>
    <script src="~/Content/Scripts/popup.js"></script>   
   
</head>

<body>  
    <div class="layout">     
    <header>       
        <div class="header">
            <div class="header-content">
                <div class="logo">
                    <div class="logo-img">
                        <img src="~/Content/Images/logocoes.png" />
                    </div>
                    <div class="logo-text">EXTRANET SGO-COES</div>
                </div>
                <div class="header-action">                    
                    <div class="header-action-item"><a href="@(System.Configuration.ConfigurationManager.AppSettings["PortalWeb"].ToString())">Portal Web </a></div>                               
                </div>
            </div>
        </div>  
        <div style="clear:both"></div>
    </header>    
    <div class="content">
        <div class="content-menu">
            
        </div>
        <div id="loading" class="loading">
            <div class="loading-image"><img src="~/Content/Images/loading.gif" /></div>
            <div class="loading-text">Procesando...</div>
        </div>
        
        <section>

            <table>
                <tr>
                    <td valign="top">
                        <strong>Estimados Integrantes:</strong>
                        <br />
                        Se comunica la implementación del nuevo Procedimiento Administrativo “Envío de Información por parte de los Integrantes mediante la Plataforma Extranet”, el cual establece: "Cada vez que algún Integrante requiera la asignación y/o cancelación de
                        usuarios y contraseñas para el acceso a la Plataforma Extranet, podrá
                        solicitarlo al COES. Para dichos efectos, deberá remitir una solicitud,
                        mediante su Representante Legal, señalando el (los) nombre(s) de la(s)
                        persona(s) a quien(es) se le(s) creará o cancelará el acceso, esta
                        solicitud se podrá formular vía la Plataforma Extranet o de acuerdo a los
                        formatos establecidos en el Anexo 1."
                        <a href='https://www.coes.org.pe/fileapp/home/download?url=Marco%20Normativo%2FProcedimientos%2FAdministrativo%2FEnv%C3%ADo%20de%20Informaci%C3%B3n%20por%20parte%20de%20los%20Integrantes%20mediante%20la%20Plataforma%20Extranet.pdf'>Para mayor detalle dar clic aquí</a>

                        <br /><br />
                    </td>
                    <td class=""></td>
                    <td valign="top">
                        @using (Html.BeginForm())
                        {
                            <div class="login-form" id="loginForm">
                                <div class="login-header">Acceso al SGO-COES</div>
                                <div class="login-content">
                                    <div class="login-row">
                                        <div class="login-label">Usuario:</div>
                                        <div class="login-control">
                                            <input type="text" id="Usuario" name="Usuario" class="controllogin" style="height:24px; width:240px; background-color:#FAFCFE;" />
                                        </div>
                                    </div>
                                    <div class="login-row">
                                        <div class="login-label">Clave:</div>
                                        <div class="login-control">
                                            <input type="password" id="Clave" name="Clave" class="controllogin" />
                                        </div>
                                    </div>
                                    <div class="login-action">
                                        <input id="btnEnviar" type="button" value="Aceptar" />
                                    </div>

                                    <div id="accionResultado"></div>

                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </section>

    </div>   
    </div>
    <footer>
        <div class="footer">
            COES © Todos los derechos reservados 
            <br />
            C. Manuel Roaud y Paz Soldan 364. San Isidro, Lima - PERÚ Teléfono: (511) 611-8585
        </div>
    </footer>
       
</body>

</html>



