@model COES.MVC.Intranet.Areas.Admin.Models.AccesoModeloModel
@{
    ViewBag.Title = "Administración de accesos a modelos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/Scripts/accesomodelo.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Administración de Accesos de Modelos - No COES</div>
    <div class="content-botonera">

        @*<input type="button" id="btnNuevo" value='Nuevo' />
        <input type="button" id="btnExportar" value='Exportar' />*@
    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa" style="width:300px">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
                <td>Módulo:</td>
                <td>
                    <select id="cbModulo" style="width:200px">
                        @*<option value="">-SELECCIONE-</option>*@
                        @foreach (var item in Model.ListaModulos)
                        {
                            <option value="@item.ModCodi">@item.ModNombre.ToUpper()</option>
                        }
                    </select>
                </td>
                <td style="display:none">
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Gestión de Accesos</a></li>
            <li class='tab'><a href="#paso2">Correos de Contacto</a></li>

        </ul>
        <div class='panel-container'>
            <div id="paso1">
                <div id="divAccesos">


                </div>
            </div>
            <div id="paso2">

                <div style="width:120px; float:right; text-align:right">
                    <input type="button" value="Agregar contacto" id="btnAgregar" />
                </div>
                <div style="clear:both"></div>
                <div id="divCorreos">

                </div>
            </div>

        </div>
    </div>

    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>

<input type="hidden" id="hfIndicadorPublico" value="N" />
