@model COES.MVC.Intranet.Areas.RegistroIntegrante.Models.ReporteModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/RegistroIntegrante/Content/Scripts/ReporteIntegrantes.js"></script>
<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Consulta de Integrantes</div>

<div class="content-hijo" id="mainLayout">
    <div class="form-main" style="margin-top:10px">
        <div id="mensaje"></div>
        <div style="clear:both; height:5px;"></div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">
            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>Tipo de Agente:</td>
                    <td>
                        <select id="cbTipoEmpresa" style="width:140px">
                            @foreach (var item in Model.ListaTipoEmpresa)
                            {
                                <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                            }
                        </select>
                    </td>
                    <td>Razón Social:</td>
                    <td>
                        <input type="text" id="txtNombreFiltro" />
                    </td>
                    <td>
                        <input type="button" id="btnConsultar" value="Consultar" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear:both"></div>
        <div class="content-tabla">
            <div class="tabla-header">
                <div class="table-paginado" id="paginado"></div>
            </div>
            <div class="table-list" id="listado"></div>
            <div style="clear:both; margin-bottom:40px"></div>
        </div>

    </div>
</div>
