@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
@using Newtonsoft.Json
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/xlsx.bundle.js"></script>
<script src="~/Areas/Campanias/Content/Scripts/FileSaver.min.js"></script>
<link href="~/Areas/Campanias/Content/Css/css.css" rel="stylesheet" Â  />
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/Campanias/Content/Scripts/validaciones.js"></script>
<script>
    var proyectoModel = @Html.Raw(JsonConvert.SerializeObject(Model.TransmisionProyecto));
    var modoModel =  @Html.Raw(JsonConvert.SerializeObject(Model.Modo));
    var hojasRegistrar = [];
    if (modoModel != null & modoModel == 'consultar' ) {
        hojasRegistrar = @Html.Raw(JsonConvert.SerializeObject(Model.ListaHojas));
    }

</script>
<script src="~/Areas/Campanias/Content/Scripts/observacionproyecto.js"></script>
<link href="~/Content/Css/Formato/Hoja/hoja.css?v=2.6" rel="stylesheet">
<div class="search-content">
    <input type="hidden" id="txtPoyCodi" name="txtPoyCodi">
    <input type="hidden" id="txtPoyAnio" name="txtPoyAnio">
    <table class="table-search" style="width:100%">
        <tr>
            <td>
                Empresa:
            </td>
            <td>
                <select style="width: 185px" id="empresaProyectoSelect" style="width:220px">
                    <option value="">Seleccione una empresa</option>
                </select>
            </td>
            <td>
                Plan transmisión:
            </td>
            <td>
                <select style="width: 185px" id="periodoProyectoSelect" name="periodoProyectoSelect" onchange="obtenerAnioPeriodo(this)" style="width:220px">
                    <option value="">Seleccione un periodo</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                Tipo Proyecto:
            </td>
            <td>
                <select id="proyectoSelect" name="proyectoSelect" style="width:200px" onchange="cargarTipoFichaProyecto(this)">
                    <option value="">Seleccione un proyecto</option>
                </select>
            </td>
            <td>
                <div id="subtipoTitulos">
                    Sub Tipo Proyecto:
                </div>
                <div id="areaDemandaTitulos">
                    Area de demanda:
                </div>
            </td>
            <td>
                <select id="subtipoProyectoSelect" name="subtipoProyectoSelect" style="width:200px" onchange="cargarListaxSubTipoProyecto(this)">
                    <option value="">Seleccione un proyecto</option>
                </select>
                <input type="number" id="txtAreaDemanda" name="txtAreaDemanda" step="1" style="width:200px" />
            </td>
            <td>
                <label style="display:block; width:220px">
                    <input type="checkbox" id="checkConfidencial" name="checkConfidencial" />
                    Es proyecto confidencial
                </label>
            </td>
        </tr>
        <tr>
            <td>
                Nombre Proy:
            </td>
            <td colspan="3">
                <input type="text" id="txtNombreProyecto" name="txtNombreProyecto" style="width:100%" />
            </td>
        </tr>
        <tr>
            <td>
                Detalle Proy:
            </td>
            <td colspan="3">
                <textarea style="width:100%" id="txtdetalleProyecto" name="txtdetalleProyecto"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a class="cancel-button" href="javascript:void(0);" rel="modal:close">Cerrar</a>
            </td>
        </tr>
    </table>
</div>

<div class="content-tabla" id="contenido-fichas">
    <div id="mensajeFicha"></div>

    <div class="tab-container" id="tab-container-1">
        <ul class="tab" id="etabsTipoProyecto">
        </ul>
        <div class='panel-container content-proy'>
            <div id="containerFicha" class='content-proy'></div>
        </div>
    </div>
</div>

<script>

</script>