@model COES.MVC.Intranet.Areas.Campanias.Models.CampaniasModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script>
    var proyectoModel = @Html.Raw(JsonConvert.SerializeObject(Model.TransmisionProyecto));
    var hojasRegistrar = [];
    hojasRegistrar = @Html.Raw(JsonConvert.SerializeObject(Model.ListaHojas));

</script>
<script src="~/Areas/Campanias/Content/Scripts/proyectoFicha.js"></script>
<link href="~/Content/Css/Formato/Hoja/hoja.css?v=2.6" rel="stylesheet">

<div class="form-title">
    <div class="content-titulo">Administrar envíos > Fichas</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Código:</td>
                <td>
                    <input type="text" disabled value="003" />
                </td>
                <td>Empresa:</td>
                <td>
                    <select id="empresaSelect" style="width:185px">
                        <option value="">Seleccione una empresa</option>
                    </select>
                </td>
                <td>Plan transmisión:</td>
                <td>
                    <select id="periodoSelect" style="width:185px">
                        <option value="">Seleccione un periodo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right;">
                    <input class="btnForms" type="button" id="btnFichas" value="Fichas" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="table-list" id="listadoProyectoFicha"></div>
    </div>

</div>

<div id="popupProyecto" class="general-popup" style="width:900px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-text" id="contenidoProyecto" style="margin-top:0">
    </div>
</div>
