@model COES.MVC.Intranet.Areas.Medidores.Models.IeodModel

<table border="1" class="pretty tabla-adicional" id="tabla" role="grid">
    <thead>
        <tr>
            <th>Fecha Hora</th>
            <th>CMg Real Centro</th>
            <th>CMg Real Norte</th>
            <th>CMg Real Sur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReporte)
        { 
            <tr>
                <td>@item.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                <td style="text-align:right">@item.Centro</td>
                <td style="text-align:right">@item.Norte</td>
                <td style="text-align:right">@item.Sur</td>
            </tr>
        }
    </tbody>
</table>