@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Areas/PotenciaFirmeRemunerable/Content/Scripts/index_historico_propiedad.js?v=2.1.3"></script>

<div id="popupHistoricoConcepto" class="general-popup" style="width: 850px">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Propiedades</span></div>

    <div id="tab-container_detalle" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaListado">Listado</a></li>
            <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaListado">

                <div style="clear:both"></div>
                <div class="content-tabla">
                    <div class="table-list" id="listado_parametro_barra"></div>
                    <div style="clear:both; margin-bottom:40px"></div>
                </div>

            </div>
            <div id="vistaDetalle">
                <div id="form_historico" style="display: none">
                    <div class="content-botonera" style="display: none; margin-top: 5px;">
                        <input type="button" id="btnGrupodatNuevo" value="Nuevo" />
                        <input type="button" id="btnGrupodatConsultar" value="Consultar" style="display:none" />
                    </div>
                    <table class="content-tabla-search">
                        <tbody>
                            <tr class="">
                                <td class="tbform-label" style="text-align: right">Propiedad:</td>
                                <td id="parametroConfig" style=" font-weight: bold;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <!--Formulario de Grupodat-->
                    <div id="formularioGrupodat">
                        <div class="popup-title" style="padding-top: 15px;"><span></span></div>
                        <input type="hidden" id="hfGrupocodiDat" value="" />
                        <input type="hidden" id="hfConcepcodiDat" value="" />
                        <input type="hidden" id="hfDeleted" value="" />
                        <input type="hidden" id="hfFechaData" value="" />
                        <input type="hidden" id="hfFechaAct" value="" />
                        <input type="hidden" id="hfTipoEntidad" value="" />

                        <table style=" margin-top: 15px;">
                            <tbody>
                                <tr>
                                    <td class="tbform-label" style="">Fecha de Vigencia:</td>
                                    <td class="tbform-control" style="vertical-align: top;">
                                        <input class="" id="fechaData" type="text" name="fechaData" value="" style="width: 92px" />
                                    </td>

                                </tr>
                                <tr>
                                    <td class="tbform-label" style="">Valor:</td>
                                    <td class="tbform-control" style="">
                                        <input id="valorData" type="text" name="valorData" value="" style="width: 92px;" autocomplete="off" />
                                    </td>
                                </tr>
                                <tr>
                                    <td id="tdGuardarData" colspan="2">
                                        <input id="btnGrupodatGuardar" type="button" value="Registrar">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="clear:both; height:20px"></div>
                    </div>

                    <!--Lista de Grupodat-->
                    <div class="popup-title titulo_listado" style="padding-top: 15px; font-size: 13px;"><span>Histórico de la propiedad</span></div>
                    <div class="content-tabla">
                        <div class="table-list" id="listadoGrupoDat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>