@model COES.MVC.Intranet.Areas.PotenciaFirmeRemunerable.Models.PotenciaFirmeRemunerableModel


@*<select id="rec_revision_ind" name="IdRevisionInd" style="width:200px">

    @foreach (var item in Model.ListaRevisionesPF)
    {
        <option value="@item.Pfrecacodi">@item.Pfrecanombre</option>
    }
</select>*@

<input type="text" id="new-barra-id" value="" style="width: 120px" />