@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Compensaciones por Regulacion Secundaria de Frecuencia - Recalculos por Periodo";
}


<script src="~/Areas/CompensacionRSF/Content/Scripts/AsignacionReserva.js"></script>

<div class="form-title">
    <div class="content-titulo">Lista de Revisiones - RSF</div>
    <div class="content-botonera">
        <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
    </div>
</div>
<div class="content-hijo" style="padding-top:8px">
    <div class="listado" id="listado">
    </div>
</div>
