
<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>Periodo Inicio</th>
            <th>Periodo Fin</th>
            <th>Central </th>
            <th>URS</th>
            <th>PBF (MW)</th>
            <th>PrBF (S/. / MW-mes)</th>
            <th style="width:30px;">&nbsp;</th>
            <th style="width:30px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text_left" style="text-align:left">Junio 2017</td>
            <td class="text_left" style="text-align:left">Noviembre 2017</td>
            <td class="text_left" style="text-align:left">C.T. Kallpa</td>
            <td class="text_left" style="text-align:left">URS-KAL-001</td>
            <td class="text_left" style="text-align:right">204.848</td>
            <td class="text_left" style="text-align:right">0</td>
            <td>
                <a href="@Url.Action("Edit")"><img src="@Url.Content("~/Content/Images/btn-edit.png")" title="Editar el registro" alt="Editar el registro" /></a>
            </td>
            <td style="width:30px;">
                <a href="#" @*id="eliminar_@item.Strecacodi"*@ class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
            </td>
        </tr>
    </tbody>
</table>
