@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.RecalculoModel

@{
    ViewBag.Title = "Nuevo Registro - Asignación de Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nueva Asignacion de Reserva" }, { "sAccion", "Insertar" } })
</div>

