@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.UnidadesVsBarrasModel

@{
    ViewBag.Title = "Edicion - UnidadesVsBarras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion de" }, { "sAccion", "Actualizar" } })
</div>

