@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.UnidadesVsBarrasModel
@{
    ViewBag.Title = "Equivalencia entre unidades de generación y barras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Equivalencia entre unidades de generación y barras" }, { "sAccion", "Insertar" } })
</div>