@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaMeScadaFiltroSp7Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/TiempoReal/Content/Scripts/scadafiltrosp7.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="form-title">
        <div class="content-titulo">Filtro Personalizado (Scada Sp7)</div>
        <div class="content-botonera">
            <input type="button" id="btnNuevo" value="Nuevo" />
        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>

                <td>Filtro:</td>
                <td><input type="text" id="txtFiltroNomb" name="FiltroNombre" value="@Model.FiltroNombre" style="width:120px" /></td>
                <td>Creador:</td>
                <td><input type="text" id="txtCreador" name="FiltroCreador" value="@Model.FiltroCreador" style="width:120px" /></td>
                <td>Modificador:</td>
                <td><input type="text" id="txtModificador" name="FiltroModificador" value="@Model.FiltroModificador" style="width:120px" /></td>

                <td>
                    <input type="button" id="btnBuscar" value="Buscar" style="margin-left:0" />
                </td>

            </tr>

        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
    </div>
</div>


