@model COES.MVC.Intranet.Areas.Admin.Models.ProveedorModel

<div class="popup-title"><span>Cuentas de correo de la empresa</span></div>
<div id="mensajeCorreo" class="action-message">Registre, modifique o elimine cuentas de correo</div>

<div style="width:90px; float:right; margin-right:10px; margin-bottom:10px">
    <input type="button" id="btnNuevoCorreo" value="Nuevo Correo" />
</div>

<div style="clear:both;"></div>

<div id="registroCorreo" class="search-content">
    <span id="textoCorreo">Ingrese correo:</span>
    <input type="text" id="txtCorreo" style="width:300px" />
    <input type="button" id="btnGrabarCorreo" value="Grabar" />
</div>

<div class="content-tabla">
    <div style="clear:both;height:5px"></div>
    <div class="table-list" id="listadoCorreo">
        
    </div>
</div>

<input type="hidden" id="hfCodigoEmpresa" value="@Model.IdEmpresa" />
<input type="hidden" id="hfCodigoCorreo"  />
