@model COES.MVC.Intranet.Areas.Admin.Models.ProveedorModel
@{
    ViewBag.Title = "Administración de Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Admin/Content/Scripts/proveedor.js?v=2.0"></script>

<div class="form-title">
    <div class="content-titulo">Administración de Proveedores</div>
    <div class="content-botonera">

    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div id="mensaje" class="action-message">Seleccione cada empresa para generar claves de acceso al Portal de Proveedores</div>

    <div class="search-content" style="margin-bottom:0px; padding:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Tipo de empresa:</td>
                <td>
                    <select id="cbTipoEmpresa">
                        <option value="0">-TODOS-</option>
                        <option value="1">PROVEEDORES</option>
                        @*<option value="2">INTEGRANTES</option>*@
                    </select>
                </td>                
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div style="clear:both;height:5px"></div>
        <div class="table-list" id="listado">
            
        </div>
    </div>
    <br />
    <br />
    <br />

</div>

<div id="popupEdicion" class="general-popup" style="width:600px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion" style="margin-top:0">

    </div>
</div>
