@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraursModel

<table border="0" class="pretty tabla-icono" id="tabla_2" style="width:780px">
    <thead>
        <tr>
            <th style="width:150px">URS</th>
            <th style="width:300px">Titular</th>
            <th style="width:300px">Unidad de Generación</th>
            <th style="width:30px;" align="left">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.ListaBarraURS)
            {
                <tr id="fila_@item.GrupoCodi">
                    <td style="text-align:left">@item.GrupoNomb</td>
                    <td style="text-align:left">@item.EmprNomb</td>
                    <td style="text-align:left">@item.EquiNomb</td>
                    <td style="width:30px;">
                        @if (Model.bEliminar)
                        {
                            <a href="#" id="eliminar_@item.GrupoCodi" class="delete"><img src="~/Content/Images/btn-cancel.png" title="Eliminar el registro" alt="Eliminar el registro" /></a>
                        }
                    </td>
                </tr>
            }
        
    </tbody>
</table>
