@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraursModel
@{
    ViewBag.Title = "Transferencias - Asignar una Barra URS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Asignar una nueva URS" }, { "sAccion", "Insertar" }})
</div>