@model COES.MVC.Intranet.Areas.Transferencias.Models.BarraursModel
@{
    ViewBag.Title = "Transferencias - URS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Insertar URS" }, { "sAccion", "Grabar" } })
</div>