<table border="0" class="pretty tabla-icono" id="tabla">
    <thead>
        <tr>
            <th>URS</th>
            <th>FECHA Y HORA</th>
            <th>DESPACHO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaDespacho)
        {
            <tr>
                <td class="text_left" style="text-align:left">@item.Gruponomb</td>
                <td class="text_left" style="text-align:left">@item.Vcdursfecha</td>
                <td class="text_left" style="text-align:right">@item.Vcdursdespacho</td>
            </tr>
        }
    </tbody>
</table>