@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Coordinacion/Content/Scripts/configuracionScoSinac.js"></script>
<script src="~/Content/Scripts/messaje-operation.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<style>
    .b-close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
    }
</style>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Configuración SCOSinac</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

</div>

<div id="popupEdicion" class="general-popup" style="min-width:700px">
    <div><span class="button b-close"><span>X</span></span></div>

    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>
