

.reporte-resumen {
    width: 350px;
    margin-bottom: 20px;
}

    .reporte-resumen table {
        width: 100%;
    }

        .reporte-resumen table tr {
            line-height: 20px;
        }

            .reporte-resumen table tr td {
                border: 1px solid #EAEAEA;
                text-indent: 10px;
            }

                .reporte-resumen table tr td.reporte-resumen-label {
                    background-color: #F9F9F9;
                }


/*CLASES PARA LA TABLA DE REPORTE*/

.reporte-itemtotal {
    background-color: #FFFFD7;
}

    .reporte-itemtotal td:first-child {
        font-weight: bold;
        text-align: right;
    }

.reporte-itemsubtotal {
    background-color: #EEF5FD;
}

    .reporte-itemsubtotal td:first-child {
        font-weight: bold;
        text-align: right;
    }

.reporte-subtotal {
    background-color: #B5D9EE;
}

.reporte-total {
    background-color: #2980B9;
    color: #fff;
}

.reporte-header {
    background-color: #50A2D8;
}

.paginado-ordenamiento {
    width: 190px;
    float: right;
}

    .paginado-ordenamiento ul li {
        display: inline;
    }

        .paginado-ordenamiento ul li a.page-item {
            display: inline;
            text-decoration: none;
            padding: 2px;
            color: #3D90CB;
        }

        .paginado-ordenamiento ul li a.page-active {
            display: inline;
            background-color: #50A2D8;
            color: #fff;
            padding: 4px;
        }

.aling-derecho {
    text-align: right;
}

.div-exportar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
}

.div-exportar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-exportar-close:hover {
        color: #FF770D;
    }

.div-exportar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-exportar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}

.form-exportar-content {
    width: auto;
    background: #E8F6FF;
    border: 2px solid #B8E2FB;
    padding: 5px;
    text-indent: 15px;
    border-radius: 6px 6px 6px 6px;
    line-height: 20px;
    margin-top: 10px;
}

.form-exportar-item {
    float: left;
    width: auto;
}

.mensaje-fecha-consulta {
    margin-top: 10px;
    border: 2px solid #B8E2FB;
    background-color: #E8F6FF;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.mensaje-envio-empresa {
    margin-top: 10px;
    border: 2px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 10px;
    text-indent: 30px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.content {
    padding-bottom: 10px;
}
