

.file-carga1 {
    z-index: 9999;
    background: #fff;
    min-width: 400px;
    min-height: 170px;
    box-shadow: #8b9097 2px 2px 6px;
    position: absolute;
    top: 280px;
    left:600px;
    padding: 20px;
}

.file-name {
    background: url('/../../Content/Images/file.png')10px 50% no-repeat;

    border: 2px solid #BBDF8D;
    background-color: #EAF7D9;
    padding: 5px;
    text-indent: 30px;
    border-radius: 6px;
    margin-top: 8px;
    margin-right: 10px;
}

.remove-item {
    float: right;
    font-size: 13px;
    font-weight: bold;
    color: red;
}

.file-carga-titulo {
    color: #2980B9;
    border-bottom: 1px dashed #2980B9;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.loading {
    display: none;
    width: 180px;
    height: 35px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #8b9097;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    z-index: 20000;
    box-shadow: #8b9097 2px 2px 6px;
}

.loading-image {
    width: 60px;
    float: left;
}

.loading-text {
    width: 120px;
    float: left;
    line-height: 40px;
    font-size: 13px;
}

.estado-carga {
    display: none;
    width: 120px;
    height: 20px;
    margin: auto;
    text-align: center
}

.estado-image {
    width: 20px;
    float: left;
}

.estado-text {
    width: 100px;
    float: left;
    line-height: 20px;
    font-size: 12px;
}