@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Transferencias/Content/Scripts/estadistica.js"></script>
<link href="~/Areas/Transferencias/Content/Css/css.css" rel="stylesheet" />


<div class="form-title">
    <div class="content-titulo">Consulta Medidores de Generación</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="content-search">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo</td>
                <td>Mes</td>
                <td>Otro periodo</td>
            </tr>
        </table>
    </div>
</div>
