.handsontable table thead th {
    background-color: #2980B9;
    color: white;
}

.handsontable .truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tablaRegistro tr td input[type="text"]{
    width:190px;
}

#tablaRegistro tr td select {
    width: 200px;
}

.div-importar {
    border: 3px solid #2980B9;
    width: 460px;
    min-height: 160px;
    position: absolute;
    display: none;
    font-size: 12px;
    right: 20px;
    z-index: 20000;
    background-color: #fff;
    height: auto;
    left:250px;
}

.div-importar-close {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    height: 20px;
    cursor: pointer;
}

    .div-importar-close:hover {
        color: #FF770D;
    }

.div-importar-content {
    width: auto;
    height: auto;
    margin: 20px;
}

.div-importar-boton {
    width: 70px;
    margin: auto;
    margin-top: 10px;
}

.form-importar-content {
    width: auto;
    background: #E8F6FF;
    border: 2px solid #B8E2FB;
    padding: 5px;
    text-indent: 15px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    line-height: 20px;
    margin-top: 10px;
}

.form-importar-item {
    float: left;
    width: auto;
}

.consolidado-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 10px;
    width: auto;
    border-radius: 4px;
}

.consolidado-form input[type="text"]{
    width:200px;
    background-color:#fff;
}

    .consolidado-form select {
        width: 200px;
        background-color: #fff;
    }

.consolidado-form-item-boton{
    width:750px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.anulacion-renderer {
    background-image: url('../../../../content/images/btn-properties-2.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    cursor:pointer;
    height:20px;
}

.trazabilidad-renderer {
    background-image: url('../../../../content/images/btn-properties.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    cursor: pointer;
    height: 20px;
}

.file-renderer {
    background-image: url('../../../../content/images/btn-open.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    cursor: pointer;
}

.contenedor-columnas {
    max-height: 300px;
    overflow-y: scroll;
}

.popup-button{
    width:200px;
    margin:auto;
    text-align:center;
}

.carga-enviada {
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: green;
}

.carga-pendiente{
    width:10px;
    height:10px;
    margin:auto;
    background-color:red;
}

.leyeamarilla {
    height: 10px;
    width: 10px;
    background-color: yellow;
}
