
.handsontable .truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.form-title-action {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#divAcciones {
    display: grid;
    grid-template-columns: repeat(8, 1fr)
}

    #divAcciones a {
        text-align: center;
        color: #278CCC;
        text-decoration: none;
    }

        #divAcciones a:hover {
            text-decoration: underline;
        }

    #divAcciones a {
        display: grid;
        grid-template-rows: 1.6fr 2fr;
        vertical-align: central;
    }

        #divAcciones a div {
            height: 25px;
            padding: 0px
        }

        #divAcciones a div img {
            height: 20px;            
        }

.form-element {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #EAEAEA;
    vertical-align: central;
}

    .form-element div:first-child {
        border-right: 1px solid #EAEAEA;
        background-color: #F9F9F9;
        padding: 10px;
    }

    .form-element div:last-child {
        padding: 10px;
    }

        .form-element div:last-child textarea {
            border: 1px solid #DDDDDD;
            width: 280px;
            height: 60px;
            font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
            color: #696969;
            font-size: .80em;
        }

.visualizar-archivo {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

    .visualizar-archivo div {
        text-align: center;
        cursor: pointer;
    }

.action-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.action-content {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 8px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}


    .action-content input[type='text'] {
        background-color: #fff;
        width: 100px;
    }

    .action-content select {
        background-color: #fff;
        width: 150px;
    }

.dialog-boton {
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 20px
}

.content-search {
    background-color: #F2F5F7;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    padding: 15px;
}

    .content-search select, .content-search input[type="text"] {
        background-color: #FFFFFF;
        width: 150px
    }

#tablaBusqueda tr td select, #tablaBusqueda tr td input[type="text"] {
    width: 120px;
}

.estilodelete {
    background-image: url('../../../../content/images/btn-cancel.png');
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    width: 80px;
    height: 100%;
}

.estilofolder {
    background-image: url('../../../../content/images/folder_open.png');
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    width: 80px;
    height: 100%;
}

.openfolder {
    background-image: url('../../../../content/images/btn-open.png');
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    width: 80px;
    height: 100%;
}

.contenedor-columnas {
    max-height: 300px;
    overflow-y: scroll;
}

.popup-button {
    width: 100px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00
        }

div.content-item-action {
    /*padding-left: 6px;
    padding-right: 6px;*/
    line-height: 10px;
}
