@model COES.MVC.Intranet.Areas.TiempoReal.Models.EstadisticaModel
@{
    ViewBag.Title = "Estadística Tiempo Real";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>

<!--Carga de archivos-->
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<style>
    .moxie-shim.moxie-shim-html5 {
        position: static !important;
    }

        .moxie-shim.moxie-shim-html5 input {
            width: 0px !important;
            height: 0px !important;
        }
</style>

<script src="~/Areas/TiempoReal/Content/Scripts/estadistica.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Generación de archivos Tiempo Real para Estadísticas</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px; display: none"></div>

    <div class="search-content">
        <table>
            <tr>
                <td style="vertical-align: middle;">
                    <table class="content-tabla-search tabla_filtro_ho" style="width:auto">
                        <tr>
                            <td class="tbform-label">Año:</td>
                            <td>
                                <input type="text" id="txtAnio" value="@Model.Anio" style="width: 60px;" />
                            </td>
                            <td class="tbform-label" style="padding-left: 15px;">Tipo de archivo:</td>
                            <td>
                                <select id="cbTipoArchivo" style="width:200px;">
                                    @foreach (var item in Model.ListaTipoArchivo)
                                    {
                                        <option value="@item.Entero1">@item.String1</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>


    <div class="row">

        <div id="mensaje_log"></div>

        <fieldset style="height:13px">

            <table cellpadding="5">
                <tr>
                    <td style="width:100px">Adjuntar Archivo:</td>
                    <td style="width:350px">
                        <div id="container" style="position: absolute; top:5px;">
                            <div id="loadingcarga" class="estado-carga">
                                <div class="estado-image"><img src="~/Content/Images/loadingtree.gif" /></div>
                                <div class="estado-text">Cargando...</div>
                            </div>

                            <div id="filelist">No soportado por el navegador.</div>
                        </div>
                    </td>
                    <td style="width:4%"></td>
                    <td valign="top" style="width:48%">
                        <div id="listaArchivos">

                        </div>
                    </td>
                    <td style="width:50px">
                        <input type="button" id="btnSelectFile" value="Seleccionar archivo" style="width:150px" />
                    </td>
                    <td style="width:50px">
                        <input type="button" id="btnImportar" value="Procesar" style="width:100px" />
                    </td>
                </tr>
            </table>

        </fieldset>

        <div class="content-hijo">
            <div id="Message"></div>
            <div id="listado"></div>
        </div>

    </div>

</div>