@model COES.MVC.Intranet.Areas.CostoOportunidad.Models.ConsultasModel
@{
    ViewBag.Title = "Consultas de Costos de Oportunidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />
<script src="~/Areas/CostoOportunidad/Content/Scripts/consultas.js?v=5.2"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Consultas de Costos de Oportunidad</div>
    <div class="content-botonera">

    </div>
</div>

<div class="content-hijo">

    <div id="mensaje"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Periodo:</td>
                <td>
                    <select id="cbPeriodo">
                        <option value="0">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaPeriodo)
                        {
                            <option value="@item.Copercodi">@item.Copernomb</option>
                        }
                    </select>
                </td>
                <td>Versión:</td>
                <td>
                    <select id="cbVersion"></select>
                </td>
                <td>Desde:</td>
                <td>
                    <input type="text" id="txtFechaInicio" />
                </td>
                <td>Hasta</td>
                <td>
                    <input type="text" id="txtFechaFin" />
                </td>
        </tr>
        <tr>
                <td>URS</td>
                <td>
                    <select id="cbUrs">
                        <option value="0">-TODOS-</option>
                        @foreach (var item in Model.ListadoURS)
                        {
                            <option value="@item.Grupocodi">@item.Ursnomb</option>
                        }
                    </select>
                </td>
                <td>Tipo Información</td>
                <td>
                    <select id="cbTipoInformacion">
                        <option value="1">Programado con reserva</option>
                        <option value="2">Programado sin reserva</option>
                        <option value="3">RA Up programada</option>
                        <option value="4">RA Down programada</option>
                        <option value="5">RA Up ejecutada</option>
                        <option value="6">RA Down ejecutada</option>
                        <option value="7">Despacho con reserva</option>
                        <option value="8">Despacho sin reserva</option>
                        <option value="9">Despacho con reserva opcional</option>
                        <option value="10">Despacho sin reserva opcional</option>
                        <option value="11">Despacho con reserva ajustado</option>
                        <option value="12">Despacho sin reserva ajustado</option>
                        <option value="13">Factores de utilización</option>
                        <option value="14">Factores de presencia</option>
                        <option value="15">Señales SP7</option>
                    </select>
                </td>
                <td colspan="4">
                    <input type="button" id="btnConsultar" value="Consultar" />
                    <input type="button" id="btnExportar" value="Exportar" />
                    <input type="button" id="btnPublicacion" value="Publicación" />
                </td>
            </tr>
        </table>
    </div>

    <div id="listado">
        <div id="divResultado">

        </div>
    </div>
    <br />
    <br />
</div>

