@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.ProvisionBaseModel
@{
    ViewBag.Title = "Editar Registro - Revisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la informacion del recálculo" }, { "sAccion", "Actualizar" } })
</div>
