@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.ProvisionBaseModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Compensaciones por Regulacion Secundaria de Frecuencia - Provisión Base";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/CompensacionRSF/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/CompensacionRSF/Content/Scripts/provisionbase.js"></script>
<script src="~/Areas/CompensacionRSF/Content/Scripts/load.js"></script>

<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Lista de Revisiones - RSF</div>
        <div class="content-botonera">
            <input type="button" value="Nuevo" id="btnNuevo" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
            <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index", "ProvisionBase")'" id="btnRefrescar" alt="Refrescar" title="Refrescar" />
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        @if (@sMensajeExito != null)
        {<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">@sMensajeExito</div> }
        <div class="listado" id="listado">
        </div>
    </div>
</div>
