@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.ProvisionBaseModel
@{
    ViewBag.Title = "Nuevo Registro de Provisión Base";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar una nuevo registro de Provisión Base" }, { "sAccion", "Insertar" } })
</div>

