@model COES.MVC.Publico.Areas.Eventos.Models.BusquedaEventoModel
<div class="content-registro" style="margin-top:10px">
    <table>
        <tbody>
            <tr>
                <td class="registro-label">Inicio:</td>
                <td class="registro-control">
                    @if (Model.Entidad.EVENINI != null)
                    {
                        <span>@(((DateTime)Model.Entidad.EVENINI).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                    }
                </td>
            </tr>
            <tr>
                <td class="registro-label">Final</td>
                <td class="registro-control">
                    @if (Model.Entidad.EVENFIN != null)
                    {
                        <span>@(((DateTime)Model.Entidad.EVENFIN).ToString("dd/MM/yyyy HH:mm:ss"))</span>
                    }
                </td>
            </tr>
            <tr>
                <td class="registro-label">Asunto:</td>
                <td class="registro-control">@Model.Entidad.EVENASUNTO</td>
            </tr>
            <tr>
                <td class="registro-label">Detalle</td>
                <td class="registro-control">@Model.Entidad.EVENDESC</td>
            </tr>            
        </tbody>
    </table>
</div>
@*<div style="width:80px; margin:auto; margin-top:10px">
    <input type="button" id="btnCancelar" value="Aceptar" />
</div>*@