@model COES.MVC.Intranet.Areas.Transferencias.Models.ActualizarTrasEmpFusionModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Transferencias - Actualizacion de Saldos Sobrantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
    string sSelected = "";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<script src="~/Areas/Transferencias/Content/Scripts/load.js"></script>
<script src="~/Areas/Transferencias/Content/Scripts/actualizartrasempfusion.js"></script>
<div class="ast">
    <div class="form-title">
        <div class="content-titulo">Actualización de Saldos Sobrantes</div>
        <div class="content-botonera">
           
        </div>
    </div>
    <div class="content-hijo" style="padding-top:8px">
        @if (@sMensajeExito != null)
        {<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">@sMensajeExito</div>}
        <div id="idpanel" style="overflow:auto; background-color:#fff">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div class="search-content">
                            <table class="content-tabla-search" style="width:auto">
                                <tr>
                                    <td style="width:150px; height:40px;"><div class="editor-label">Periodo Destino:</div></td>
                                    <td style="width:200px; height:40px;">
                                        <div class="editor-field">
                                            <select id="pericodi" name="pericodi">
                                                @foreach (var item in Model.ListaPeriodos)
                                                {
                                                    <option value="@item.PeriCodi" @sSelected>@item.PeriNombre</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td style="width:200px; height:40px;">
                                        <input type="button" id="btnConsultar" value="Consultar" />
                                    </td>
                                    <td style="width:200px; height:40px;">
                                        <input type="button" id="btnTrasladarSaldos" value="Trasladar saldos" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tab-container" class='tab-container'>
            <ul class='etabs'>
                <li class='tab'><a id="aPaso1" href="#paso1">Lista Saldos Sobrantes VTEA</a></li>
                <li class='tab'><a id="aPaso2" href="#paso2">Casos no migrados VTEA</a></li>
            </ul>



            <div class='panel-container'>
                <div id="paso1">
                    <div id="grillaExcelSaldosSobrantes" style="height:auto" class="table-list"></div>
                </div>

                <div id="paso2">
                    <div id="grillaExcelCasosNoMigrados" style="height:auto" class="table-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>
