@model COES.MVC.Intranet.Areas.Eventos.Models.FormatoCorreoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">

    <div class="form-title">
        <div class="content-titulo">Listado de Archivos</div>
        <div class="content-botonera">

        </div>
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    @*@Html.Action("Index", "Browser", new { area = "filemanager", url = Model.ruta, pathAlternativo = @"\\fs\Areas\SCO\" })*@
    @Html.Action("Index", "Browser", new { area = "filemanager", url = Model.ruta, pathAlternativo = Model.pathAlternativo })
</div>