@model COES.MVC.Intranet.Areas.Siosein.Models.SioseinModel
@{
    ViewBag.Title = "MANTENIMIENTO TABLAS PRIE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Siosein/Content/Scripts/tablasprie.js"></script>
<script src="~/Areas/Siosein/Content/Scripts/tablaspriemante.js?v=2.1"></script>

<link href="~/Areas/Siosein/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Siosein/Content/Css/formulario.css" rel="stylesheet" />



<div class="form-title">
    <div class="content-titulo">Mantenimiento de Tablas PRIE</div>
    <div class="content-botonera">
        <input type="button" id="btnAgregar" value="Agregar Tabla" />
    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div class="content-tabla" style="text-align: center;">
        <div style="clear:both; height:5px"></div>
        <div class="table-list" style="position:relative;" id="listado"></div>
    </div>


</div>

<div id="popupTabla">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Mantenimiento - Tabla PRIE</span></div>
    <div id="mantenimientoTabla">A</div>
</div>