@model COES.MVC.Publico.Areas.Equipamiento.Models.IndexEquipoModel

@{
    ViewBag.Title = "Equipamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Equipamiento/Content/Script/Equipo.js"></script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/CaracteristicasSEIN.jpg)">
    @*<img src="~/Content/Images/Banners/CaracteristicasSEIN.jpg" alt="Contáctenos" />*@
</div>

@*<div class="main-banner" style="margin-top: -15px; background-image: url(../../Content/Images/Banners/CaracteristicasSEIN.jpg)"></div>*@

        <div class="container">
            <div class="row">

                <div class="col col-md-3 order-1 order-md-0">
                    <nav class="sidebar">
                        <ul class="sidebar-nav list-unstyled">
                            <li class="sidebar-nav--item">
                                <a href="~/Operacion/CaractSEIN/BaseDatos" class="sidebar-nav--link">Base de Datos</a>
                            </li>
                            <li class="sidebar-nav--item">
                                <a href="~/equipamiento/equipo/index" class="sidebar-nav--link sidebar-nav--link-active">Equipamiento</a>
                            </li>
                            <li class="sidebar-nav--item">
                                <a href="~/Equipamiento/FichaTecnica" class="sidebar-nav--link">Ficha Técnica</a>
                            </li>
                            <li class="sidebar-nav--item">
                                <a href="~/Operacion/CaractSEIN/MapaSEIN" class="sidebar-nav--link">Mapa del SEIN</a>
                            </li>
                            <li class="sidebar-nav--item">
                                <a href="~/Operacion/CaractSEIN/DiagramaUnifilar" class="sidebar-nav--link">Diagrama Unifiliar</a>
                            </li>
                        </ul>
                    </nav>
                </div>

               
                <div class="col col-md-9 mb-md-4">
                    @using (Html.BeginForm("", "Equipo", FormMethod.Post, new { @class = "form-search", name = "frmBusquedaEquipo", id = "frmBusquedaEquipo" }))
                    {
                        <div class="coes-box mb-3">
                            <div class="coes-box--header coes-box--header--center-aligned">
                                <h3 class="coes-box--title">Equipamiento del SEIN</h3>
                            </div>
                            <div class="coes-box--content">

                                <div class="coes-filters d-flex ">
                                    <form action="" class="w-100">
                                        <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
                                            <div class="col col-md-3" style="margin-left:16px;">
                                                <div class="coes-form-item">
                                                    <label for="">Tipo de empresa:</label>
                                                    <select class="d-block" name="iTipoEmpresa" id="cbTipoEmpresa">
                                                        <option value="-2">-TODOS-</option>
                                                        @foreach (var item in Model.ListaTipoEmpresa)
                                                        {
                                                            <option value="@item.Tipoemprcodi">@item.Tipoemprdesc</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col col-md-3">
                                                <div class="coes-form-item">
                                                    <label class="d-block" for="">Empresa:</label>
                                                    <select class="d-block" name="iEmpresa" id="cbEmpresa">
                                                        <option value="-2">-TODOS-</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col col-md-3">
                                                <div class="coes-form-item">

                                                    <label class="d-block" for="">Tipo equipo:</label>
                                                    <select class="d-block" name="iTipoEquipo" id="cbTipoEquipo">
                                                        <option value="-2">-TODOS-</option>
                                                        @foreach (var item in Model.ListaTipoEquipo)
                                                        {
                                                            <option value="@item.Famcodi">@item.Famnomb</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col col-md-2" style="margin-right:16px;">
                                                <div class="coes-form-item">
                                                    <input type="button" id="btnBuscar" class="coes-form-item--submit" value="Buscar">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="hfNroPagina" name="NroPagina" value="1" />
                                    </form>
                                </div>

                            </div>
                        </div>
                      
                    }
                    <div class="">

                        @*<div class="d-flex mb-3">
                            <span class="me-2">Descargar: </span>
                            <button class="button-icon button-icon-file"></button>
                            <button class="button-icon button-icon-zip"></button>
                        </div>*@

                        <div class="table-responsive" >
                            <table class="tabla-icono table table-hover">
                                <thead id="listado">
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Tipo de Equipo</th>
                                        <th>Ubicación</th>
                                        <th>Nombre de equipo</th>
                                        <th>Abreviatura</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="paginado" id="paginado">
                    </div>

                </div><!-- /.col-9 -->

                </div><!-- /.row -->

        </div><!-- /.container -->
  
