@model COES.MVC.Intranet.Areas.Equipamiento.Models.ConfiguracionModel

<table cellpadding="0" cellspacing="0" class="pretty tabla-icono" id="tablaConfiguraciones">
    <thead>

        <tr>
            <th rowspan="2">Quitar</th>
            <th colspan="3" style="background-color:#efa408">MODOS OPERACION</th>
        </tr>
        <tr>
            <th>Empresa</th>
            <th>Nombre</th>
            <th>Abreviatura</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaModosConfigurados)
        {
            <tr>
                <td>
                    <a href="JavaScript:quitarConfigurado(@item.Grupocodi);">
                        <img src="~/Content/Images/btn-cancel.png" />
                    </a>
                </td>
                <td>@item.EmprNomb</td>
                <td>@item.Gruponomb</td>
                <td>@item.Grupoabrev</td>
            </tr>
        }
    </tbody>
</table>