@model COES.MVC.Intranet.Areas.Equipamiento.Models.ConfiguracionModel

<table style="width:100%">
    <tr>
        <td valign="top">
            <table cellpadding="0" cellspacing="0" class="pretty tabla-icono" id="tbModos">
                <thead>
                    <tr>
                        <th></th>
                        <th>Empresa</th>
                        <th>Nombre</th>
                        <th>Abreviatura</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaModosDisponibles)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="cbModo" value="@item.Grupocodi" onclick="seleccionarFila(this);" />
                            </td>
                            <td>@item.EmprNomb</td>
                            <td>@item.Gruponomb</td>
                            <td>@item.Grupoabrev</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
</table>