
<table class="content-tabla-search" style="width:auto">
    <tr>
        <td>Concepto:</td>
        <td><select id=@string.Format("cboConcepto{0}",this.Model.numeral) style="width:295px;"></select></td>
        <td>Meses moviles:</td>
        <td><input type="number" id=@string.Format("txtMesMovil{0}",this.Model.numeral) style="width:100px" value="24" /></td>
        <td><input type="button" onclick="ConsultarDashboardAnalítico()" value="Consultar"></td>
    </tr>
</table>
<br />
@if (this.Model.grafico)
{
    <div style="float: left; width: 50%; height: auto;text-align:center">
        <h4>GRÁFICO MENSUAL</h4>
        <div id=@string.Format("Grafico{0}",this.Model.numeral) > </div>
    </div>

    <div style="float: right; width: 50%; height: auto;text-align:center">
        <h4>TABLA MESES MOVILES</h4>
        <div id=@string.Format("Tabla{0}",this.Model.numeral) style="padding-top:3px"></div>
    </div>
}

