<table class="content-tabla-search" style="width:auto">
    <tr>
        <td>Meses moviles:</td>
        <td><input type="number" id="txtMesMovil9" style="width:100px" value="24" /></td>
        <td><input type="button" onclick="" value="Consultar"></td>
    </tr>
</table>
<br />

<div style="float: left; width: 50%; height: auto;text-align:center">
    <h4>GRÁFICO MENSUAL</h4>
    <div id="Grafico7"> </div>
</div>