<table class="content-tabla-search" style="width:auto">
    <tr>
        <td>Dias moviles:</td>
        <td><input type="number" id="txtDiaMovil8" style="width:100px" value="30" /></td>
        <td><input type="button" onclick="__ConsultarDashboardAnalíticoDiario(8)" value="Consultar"></td>
    </tr>
</table>
<br />

<div style="text-align:center">

    <table>
        <tr>
            <td colspan="2"><h4>TABLA DIAS MOVILES</h4></td>
        </tr>
        <tr>
            <td>
                <h4>COSTO MARGINAL(ctv US$/KWh) Semanal/Real</h4>
                <div id="Tabla84" style="height: auto"> </div>
            </td>
            <td>
                <h4>COSTO MARGINAL(ctv US$/KWh) Diario/Real</h4>
                <div id="Tabla85" style="height: auto"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><h4>GRAFICO MESUAL</h4></td>
        </tr>
        <tr>
            <td style="width: 50%;"><div id="Grafico84" style="height: 600px;"></div></td>
            <td style="width: 50%;"><div id="Grafico85" style="height: 600px;"></div></td>
        </tr>
    </table>

</div>


