@model  IEnumerable<COES.Dominio.DTO.Sic.EpoPuntoConexionDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Areas/Combustibles/Content/Css/css.css" rel="stylesheet" />
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.mask.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/scripts/jquery.validate.js"></script>
<script src="~/Areas/GestionEoEpo/Content/Script/EstudioEpo/BandejaPuntoConexion.js"></script>

<style>
    .text-danger {
        color: red !important;
    }
</style>

<div class="form-title">
    <div class="content-titulo">Consultar Punto de Conexión EO / EPO</div>
    <div class="content-botonera">

    </div>
</div>
<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>

    <div class="search-content">
        <table border="0" class="content-tabla-search" style="width:auto">
            <tr>
                <td>Zona Proyecto:</td>
                <td>
                    <select id="cboZonaProyeto" name="cboZonaProyeto" style="width: 195px">
                        <option value="0">Todos</option>
                        @foreach (var item in ViewBag.ListadoZonaProyecto)
                        {
                            <option value="@item.Zoncodi">@item.ZonDescripcion</option>
                        }
                    </select>
                </td>

                <td>
                    <input type="button" id="btnBuscar" value="Consultar" />
                </td>
            </tr>
            <tr>
                <td>Punto Conexión:</td>
                <td>
                    <input type="text" id="txtPuntoConexion" style="width: 190px" />
                </td>
                <td>
                    <input type="button" id="btnNuevo" onclick="javascript: nuevoPuntoConexion(0);" value="Nuevo" />
                </td>
            </tr>



        </table>
    </div>
    <div class="clear"></div>
    <div class="content-tabla">
        <div class="tabla-header">
            <div class="table-paginado" id="paginado"></div>
        </div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both; margin-bottom:40px"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>