@model COES.MVC.Intranet.Areas.Transferencias.Models.RecalculoModel
@{
    ViewBag.Title = "Transferencias - Recálculo en el Mes de Valorización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar la información del recálculo" }, { "sAccion", "Actualizar" } })
</div>