@model COES.MVC.Publico.Models.BrowserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIframe.cshtml";
}

<link href="~/Content/Css/calendar.css" rel="stylesheet" />
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Content/Scripts/datepicker..js"></script>
<script src="~/Content/Scripts/arbol.js?v=5.0"></script>
<script src="~/Content/Scripts/jquery.tooltip.min.js"></script>
<script src="~/Content/Scripts/contextmenu.js"></script>
<script src="~/Content/Scripts/multidownload.js"></script>

<div class="content-header" id="cabecera">
    <div class="header-boton" id="btn-downloadfile">
        <img src="~/Content/Images/Icons/download.png" />
        <span>Descargar<br />archivo</span>
    </div>
    <div class="header-boton" id="btn-downloadzip">
        <img src="~/Content/Images/Icons/downloadzip.png" />
        <span>Descargar<br />como Zip</span>
    </div>
</div>
<div style="clear:both"></div>

<input type="hidden" id="hfBaseDirectory" value="@Model.BaseDirectory" />
<input type="hidden" id="hfRelativeDirectory" value="@Model.BaseDirectory" />
<input type="hidden" id="hfOrigenDirectory" />
<input type="hidden" id="hfOperacionPegar" />
<input type="hidden" id="hfTipoVista" value="B" />
<input type="hidden" id="hfOrigen" value="@Model.Origen" />
<input type="hidden" id="hfBreadName" value="@Model.BreadName" />

<div class="pagina-web">
    <div id="browserDocument"></div>
    <div class="general-popup" id="popupFolder">
        <div id="divContenedorFolder">

        </div>
    </div>
</div>


<div id="multiDownload">

</div>