@model COES.MVC.Intranet.Areas.Transferencias.Models.PeriodoDeclaracionModel
@{
    ViewBag.Title = "Transferencias - Insertar un Mes de Valorización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un nuevo Periodo de Declaración" }, { "sAccion", "Insertar" } })
</div>
