@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.ConfiguracionModel
@{
    ViewBag.Title = "Administración de Tipos y Causas de Interrupción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/CalculoResarcimiento/Content/Scripts/configuracion/causainterrupcion.js"></script>
<script src="~/Areas/CalculoResarcimiento/Content/Scripts/base.js"></script>
<link href="~/Content/Css/form.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Administración de Causas de Interrupción - <span>@Model.NombreTipoInterrupcion</span></div>
    <div class="content-botonera">
        <input type="button" id="btnNuevo" value='Nuevo' />
        <input type="button" id="btnRegresar" value='Regresar' />
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>

    <div id="listado">

    </div>
    <br />
    <br />
</div>

<div id="popupEdicion" class="general-popup">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Tipo de Interrupción</span></div>
    <div class="popup-text" id="contenidoEdicion">

    </div>
</div>

<input type="hidden" id="hfIdTipoInterrupcion" value="@Model.IdTipoInterrupcion" />
