@model COES.MVC.Intranet.Areas.CalculoResarcimiento.Models.ConfiguracionModel

<div class="content-registro">

    <form id="frmRegistroTipoInterrupcion">
        <div class="action-alert">
            El registro o cambio del tipo de interrupción debe ser aprobada por el jefe del Área.
        </div>
        <div id="mensajeEdicion" class="action-message">Por favor ingrese los datos solicitados</div>
        <table style="width:100%" id="tablaRegistro">
            <tr>
                <td class="registro-label">Tipo de Interrupción:</td>
                <td class="registro-control">
                    <input type="text" id="txtTipoInterrupcion" value="@Model.EntidadTipoInterrupcion.Retintnombre" maxlength="100" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Estado:</td>
                <td class="registro-control">
                    <select id="cbEstado">
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    <input type="hidden" id="hfEstado" value="@Model.EntidadTipoInterrupcion.Retintestado" />
                </td>
            </tr>
        </table>

        <div style="width:200px; margin:auto; text-align:center; margin-top:20px">
            <input type="button" id="btnGrabar" value="Grabar" />
            <input type="button" id="btnCancelar" value="Cancelar" />
        </div>

        <input type="hidden" id="hfIdTipoInterrupcion" value="@Model.EntidadTipoInterrupcion.Retintcodi" />
    </form>

</div>
