@model COES.MVC.Intranet.Areas.Equipamiento.Models.FTAsignacionAreaModel
@{
    ViewBag.Title = "Configuración de Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquerytreeui.js"></script>
<script src="~/Content/Scripts/jquerytreecontextmenu.js"></script>
<link href="~/Content/Css/Tree/uitreewin7.css" rel="stylesheet" />

<script src="~/Content/Scripts/jquerytree.js"></script>
<script src="~/Content/Scripts/jquerytreednd.js"></script>
<script src="~/Content/Scripts/jquerytreemenu.js"></script>
<script src="~/Content/Scripts/jquerytreeedit.js"></script>
<script src="~/Content/Scripts/jquerytreegridnav.js"></script>
<script src="~/Content/Scripts/jquerytreetable.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Content/Css/table.css" rel="stylesheet" />
@*<link href="~/Areas/Equipamiento/Content/Css/css.css?v=1.0" rel="stylesheet" />*@
<link href="~/Areas/Equipamiento/Content/Css/fichatecnica.css?v=1.0.2" rel="stylesheet" />
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTAsignacionAreas/asignacionarea.js?v=1.0.3"></script>
<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTAsignacionAreas/asignaciondetallevista.js?v=1.0.2"></script>

<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">Asignación de Áreas</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje"></div>
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#vistaListado">Listado Parámetros</a></li>
            <li class='tab'><a href="#vistaDetalle">Detalle</a></li>
            <li class='tab tabOC'><a href="#vistaOC">Operación Comercial</a></li>
            <li class='tab tabMO'><a href="#vistaBajaMO">Dar de baja MO</a></li>
        </ul>
        <div class='panel-container'>
            <div id="vistaListado">
                <div class="content-tabla">
                    <div class="table-list" id="listado"></div>
                </div>
            </div>
            <div id="vistaDetalle">
                <div id="div_detalle" class="content-tabla">
                </div>
            </div>
            <div id="vistaOC">
                <div class="content-tabla">
                    <div class="table-list" id="listadoOC"></div>
                </div>
            </div>
            <div id="vistaBajaMO">
                <div id="div_BajaMO" class="content-tabla">
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both; height:30px"></div>
</div>

<div>
    <input type="hidden" id="hdTipoFichaSeleccionado" />
    <input type="hidden" id="hdIdFichaSeleccionado" />
    <input type="hidden" id="hdOficial" />
    <input type="hidden" id="hfJsonTree" />
</div>

<div id="treeContainer" style="display:none;">
</div>

<div id="popupEvento" class="popup-class-1 general-popup" style="width: 900px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><div id="tituloPopup"></div></div>

    <div id="div_formulario">
        <div id="mensaje_popupEvento" style="padding: 0px 0px 0px 10px;"></div>
        <div class="content-registro" style="width:auto">

            <input type="hidden" id="hdAccion" />
            <input type="hidden" id="hdIdEvento" />

            <div style="clear: both; height: 10px;"></div>

            <table cellpadding="1" style="width:auto">
                <tbody>
                    <tr>
                        <td colspan="10" class="td02" style="width: 650px;">

                            <div id="idTablaMensajes" style="min-height: 300px; width: 900px; overflow-y: auto; height:350px;">
                                <table id="table_requisitos" class="pretty tabla-icono" style="width: 883px;">
                                    <thead>
                                        <tr>
                                            <th class="th1">Ítem</th>
                                            <th class="th1">Descripción</th>
                                            <th class="th1" style="width: 150px">Agregar archivo</th>
                                            <th class="th1">Áreas COES</th>
                                        </tr>
                                    </thead>
                                    <tbody id="idtbodyRequisitos" class="tbody_table_central_agrup">
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td02">
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="btnAcciones" style="margin: 0 auto;">
                <tbody>
                    <tr class="btnguardar">
                        <td>
                            <input type="button" id="btnGrabarForm" value="Guardar">
                        </td>
                        <td>
                            <input type="button" id="btnCancelarForm" value="Cancelar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>