@model COES.MVC.Intranet.Areas.CortoPlazo.Models.BusquedaCmEquivalenciamodopModel
@using System.Globalization

<div style="clear:both; height:15px"></div>
<div id="reporte" style="text-align: center" class="content-registro">
    <table id="tabla" class="pretty tabla-adicional" cellspacing="0">
        <thead>
            <tr>                
                <th>Modo</th>
                <th>NCP</th>
                <th>Modific&oacute;</th>
                <th>Fecha Modificaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaCmEquivalenciamodop)
            {                
                <tr>
                    
                    <td>@item.Gruponomb</td>
                    <td>@item.Equimonombrencp</td>                   
                    <td>@item.Equimousumodificacion</td>
                    <td>
                        @{
                            var fechaEquimoFecmodificacion = "";
                            if (item.Equimofecmodificacion != null)
                            {
                                fechaEquimoFecmodificacion = ((DateTime)item.Equimofecmodificacion).ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFull);
                            }
                        }
                        @fechaEquimoFecmodificacion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
