@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Servicio de Regulación de Frecuencia";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1>Servicio de Regulación de Frecuencia</h1>       
    </div>
    <img src="~/Content/Images/Banners/Contactenos.jpg" alt="Contáctenos" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Operación%2FEjecución%2F" })
</div>

<div style="clear:both"></div>
