.content {
    padding-bottom: 5px;
}

.content-subtitulo {
    width: 45%;
    float: left;
    font-size: 17px;
    color: #3D90CB;
}

.menu {
    display: flex;
    padding: 5px 0px 5px 5px;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 10px;
}

.menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
}

    .menu-item label {
        cursor: pointer;
        font-weight: bold;
    }
    .menu-item img {
        cursor: pointer;
    }


.selected {
    border-color: #3D8AB8;
    background: rgba(61, 138, 184, 0.3);
}

.menu, .box, .panel-only, .v-panel-header, .v-panel-body, .h-panel-tool, .h-panel-main, .simple-box {
    border: 1px solid #d9e8f3;
    /*border: 1px solid #878787;*/
}

.menu, .v-panel-header, .h-panel-tool, .simple-box {
    background: #edf5fc;
    /*background: #EEEEEE;*/
}


.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

table tbody td .menu-item.suboptions {
    width: 82px;
}

    table tbody td .menu-item.suboptions label {
        word-break: break-word;
    }

.menu-item.suboptions img {
    width: 30px;
    height: 30px;
}

table tbody td .menu-item.ancho_2 {
    width: 108px !important;
}

.menu_reporte table {
    background-color: #e5efff;
}

.menu_reporte .THCabecera {
    background-color: #2980B9;
}

.THCabecera .editor-label {
    color: #FFFFFF;
}

.menu_proceso table {
    background-color: #fff0d5;
}

.menu_proceso .THCabecera {
    background-color: #ef7d1c;
}

.menu_configuracion table {
    background-color: #e0ffd9;
}

.menu_configuracion .THCabecera {
    background-color: #479c1b;
}


/**Bandeja*/
.bandeja {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    grid-template-areas:
        "bandeja-left bandeja-rigth"
        "bandeja-left bandeja-nuevo"
}

.bandeja-nuevo {
    display: none;
    grid-area: bandeja-nuevo,
}

.selecccionado {
    background-color: #EDF5FC
}

.bandeja-left {
    grid-area: bandeja-left;
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 800px;
    overflow-y: scroll;
    border: 1px solid #DFDFDF;
}

.mensaje-content{
    display:grid;
    grid-template-columns:0fr 25fr;
    grid-column-gap:5px;
}

    .mensaje-content:hover {
        background-color: #F5F5F5;
    }

.mensaje-check {
    align-items: center;
    align-content: center
}

.mensaje-select {
    background-color: #CFE4FA
}

.mensaje-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    padding-left: 0px;
    cursor: pointer;
    grid-template-areas:
        "mensaje-empresa  mensaje-programa"
        "mensaje-asunto mensaje-asunto"
        "mensaje-icono mensaje-hora";
}

.mensaje-empresa {
    grid-area: mensaje-empresa;
    text-align: left;
}

.mensaje-programa {
    grid-area: mensaje-programa;
    text-align: right;
}

.mensaje-asunto {
    grid-area: mensaje-asunto
}

.mensaje-icono {
    grid-area: mensaje-icono
}

    .mensaje-icono img {
        width: 20px;
    }

.mensaje-hora {
    grid-area: mensaje-hora;
    text-align: right
}

.bolder {
    font-weight: bold
}

.mensaje-separer {
    height: 1px;
    border-top: 1px solid #e4e0e0;
    margin: 0;
}

.bandeja-rigth {
    margin-left: 30px;
    grid-area: bandeja-rigth
}

.detalle-mensaje {
    border: 1px solid #DFDFDF;
    margin-bottom:20px;
}

.detalle-header {
    background-color: #EFEFEF;
    border-bottom: 1px solid #DFDFDF;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    grid-row-gap: 5px;
    grid-template-areas:
        "detalle-asunto detalle-asunto"
        "detalle-de detalle-fecha"
        "detalle-para detalle-para"
        "detalle-cc detalle-cc"
        "detalle-adjunto detalle-adjunto"
}

.detalle-asunto {
    grid-area: detalle-asunto;
    font-size: 14px;
}

.detalle-mensaje-total{
    display:none
}

.detalle-open{
    display:block
}

.detalle-de {
    grid-area: detalle-de;
    text-align: left;
    font-weight: bold;
}

.detalle-fecha {
    grid-area: detalle-fecha;
    text-align: right;
    font-weight: bold;
    color: #ff6a00
}

.detalle-para {
    grid-area: detalle-para
}

.detalle-cc {
    grid-area: detalle-cc
}

.detalle-adjunto {
    grid-area: detalle-adjunto;
    display:inline-flex;    
}

.adjunto {
    display: grid;
    grid-template-columns: 1fr 10fr;
    width: auto;
    border: 1px solid #C3C3C3;
    background-color: #CECECE;
    padding: 5px;
    vertical-align: central;
    align-content: center;
    align-items: center;
    margin-right:10px;
}

.adjunto-icono img {
    width: 30px;
}

.detalle-contenido {
    padding: 15px;    
    width:95%;
    overflow-x:scroll;
    min-height:400px;
}

.hilo-mensaje {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "hilo-asunto hilo-asunto"
        "hilo-de hilo-fecha";
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    grid-row-gap: 10px;
    margin: 20px 0;
    background-color: #E9E9E9;
    padding: 20px;
    background: transparent linear-gradient(45deg,#E9E9E9 50%, #F7F7F7 100%) 0% 0% no-repeat padding-box;
}

.hilo-asunto {
    grid-area: hilo-asunto;
    font-size: 14px;
}

.hilo-de {
    grid-area: hilo-de;
    text-align: left;
    font-weight: bold;
}

.hilo-fecha {
    grid-area: hilo-fecha;
    text-align: right;
    font-weight: bold;
    color: #ff6a00
}




.action-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.action-content {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 8px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 10px;

}


    .action-content input[type='text'] {
        background-color: #fff;
        width: 100px;
    }

    .action-content select {
        background-color: #fff;
        width: 150px;
    }


#divAcciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

    #divAcciones a {
        text-align: center;
        color: #278CCC;
        text-decoration: none;
        grid-template-rows: 2fr 1fr;
        grid-column-gap:5px;
    }

        #divAcciones a:hover {
            text-decoration: underline;
        } 

        #divAcciones a div {
           
            padding: 0px
        }

        #divAcciones a div img {
           width:25px;
           
        
        }

input[type=text] {
    background-color: #FFFFFF;
}

textarea {
    background-color: #FFFFFF;
}

select:disabled {
    background: lightgray;
    color: #4876AA;
}

input[type=text]:disabled {
    background-color: lightgray;
    color: #4876AA;
}

textarea:disabled {
    background: lightgray;
    color: #4876AA;
}