.layout {
    min-height: 770px;
}

.footer {
    display: none;
}

/*Estilos para tablas*/
table .jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ccc;
    font-size: 0.75em;
    position: absolute;
    width: 0;
}

.ast table.pretty tbody tr.odd:hover td {
    background: #fbf4bf;
}

.ast table.pretty tbody tr.even:hover td {
    background: #fbf4bf;
}

.ast table.pretty tbody tr.rojo td {
    background: #f00;
}

.ast table.pretty tbody tr.amarillo td {
    background: #ffd800;
}

.ast .text_left {
    text-align: left;
    padding-left: 20px;
}

.ast .text_justify {
    text-align: justify;
}

/*Estilos de enlaces*/
.ast a.paginate_active {
    display: inline-block;
    background-color: #3498DB;
    padding: 2px 4px;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
}

.ast a.paginate_button {
    display: inline-block;
    background-color: #FFF;
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
    color: #3498DB;
}

.ast #popup, #confirmar, #confirmarClose, #popupDetalle, #busquedaEquipo, #divPermisos, #popup2, #cntExportar, #confirmarSave, .bMulti {
    color: #245C86;
}

/*Estilos de tablas de filtro*/
.THCabecera {
    background-color: #2980B9;
}

.ast .creditos {
    font-family: Arial, Helvetica, sans-serif;
    color: #BBBBBB;
    float: right;
    font-size: 10px;
    margin-top: 20px;
    font-style: italic;
}

.ast a.enlace_creditos {
    font-family: Arial, Helvetica, sans-serif;
    color: #AAAAAA;
    font-size: 10px;
    text-decoration: none;
    font-style: italic;
}

/********************************************************************************/
/* -- ESTILO DEL DIV DE MENSAJES */
.info, .exito, .alerta, .erroneo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}

.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../images/exito.png');
}

.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/alerta.png');
}

.noresize {
    resize: none;
}



/*//////-----------------Estilo para barra de herramientas -----------------------/////////////////*/
.td_inline {
    display: inline;
    float: left;
    margin-right: 20px;
}
.td_inline_2 {
    display: inline;
    float: left;
    margin-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px !important;
    height: 20px !important;
}

.set_size {
    width: 20px;
    height: 20px;
}

.informa {
    color: #00529B;
    font-style: italic;
    padding-left: 10px;
}


label.informa {
    color: #00529B;
    font-style: italic;
    padding-left: 10px;
}


/*//Headr handsontable multiple.line*/
/*.handsontable th {
    white-space: normal!important;
}*/
.cruz_texto_default {
    color: black;
}

.cruz_fondo_azul {
    border-radius: 0px;
    background-color: #0000ff;
    color: white;
}

.cruz_fondo_rojo {
    border-radius: 0px;
    background-color: #f44336;
    color: white;
}

.cruz_fondo_anaranjado {
    border-radius: 0px;
    background-color: #FFA500;
    color: white;
}

.cruz_texto_verde {
    color: #3a933e;
    font-weight: bold;
}

.cruz_texto_azul {
    color: #0000ff;
    font-weight: bold;
}

.cruz_file {
    color: #ff000c;
    /* font-weight: bold;*/
}

/***/
.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00;
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }

.content {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: auto;
    width: auto;
    min-height: 700px;
    height: auto;
}

.btn-contraer_intv {
    float: right !important;
    width: 25px !important;
    font-size: 23px !important;
    text-align: center !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 22px !important;
    line-height: 0px !important;
}

/****************************************************************************************************************************/
/****************************************************************************************************************************/
td.fila_alerta_interv {
    background-color: #dec8ff !important;
}

td.fila_alerta_hop {
    background-color: #d1d1ff !important;
}

td.fila_alerta_medidores {
    background-color: #8edcff !important;
}

td.fila_alerta_pr21 {
    background-color: #c9c9c9 !important;
}

td.fila_alerta_idcc {
    background-color: #8affab !important;
}

td.fila_alerta_ems {
    background-color: #FFC0EB !important;
}

td.fila_alerta_scada {
    background-color: #ffe895 !important;
}

.bellImgIntervencion {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_intervencion.png?v=2.2');
    height: 19px;
    width: 19px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgHoraOperacion {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_hora_operacion.png?v=2.2');
    height: 19px;
    width: 19px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgScada {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_scada.png?v=2.2');
    height: 19px;
    width: 19px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgEms {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_ems.png?v=2.2');
    height: 19px;
    width: 19px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgIDCC {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_IDCC.png?v=2.2');
    height: 19px;
    width: 19px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgMedidores {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_Medidores.png?v=2.2');
    height: 19px;
    width: 19px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

.bellImgPR21 {
    margin: 0 auto;
    background-image: url('../../../../Content/Images/alerta_PR21.png?v=2.2');
    height: 19px;
    width: 19px;
    right: 10px;
    top: 18px;
    -webkit-animation-name: rotate;
    animation-delay: 0s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-timing-function: ease-in-out;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(10deg);
    }

    20% {
        -webkit-transform: rotate(20deg);
    }

    30% {
        -webkit-transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(-5deg);
    }

    70% {
        -webkit-transform: rotate(-10deg);
    }

    80% {
        -webkit-transform: rotate(-20deg);
    }

    90% {
        -webkit-transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

.alerta_intervencion {
    background-color: white !important;
    border-top-color: white !important;
    border-left-color: white !important;
    border-bottom-color: white !important;
}

.alerta_intervencion2 {
    background-color: white !important;
    border-top-color: white !important;
    border-left-color: white !important;
    border-bottom-color: white !important;
    border-right-color: white !important;
}

td.class_int_NoEjec {
    white-space: nowrap;
    overflow: hidden;
}

td.truncate_datatable_1 {
    width: 200px;
    white-space: normal;
    word-break: break-word;
}

td.truncate_datatable_2 {
    width: 100px;
    white-space: normal;
    word-break: break-word;
}

td.truncate_datatable_3 {
    width: 40px;
    white-space: normal;
    word-break: break-word;
    text-align: right !important;
}

/****************************************************************************************************************************/
/****************************************************************************************************************************/
.popup_equipo {
    z-index: 99999 !important;
}

.popup_formulario {
    z-index: 10003 !important;
}

.popup {
    z-index: 10005 !important;
}


/**error del plugin Hansonstable: no permite seleccionar celdas de primera fila************/
.ht_clone_top .wtHolder {
    overflow-x: hidden;
    overflow-y: hidden;
}


.chat-wrap {
    height: 500px;
    padding-left: 7px;
    overflow-y: scroll;
}

    .chat-wrap::before {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        content: "";
        background: #c7cacb;
        border: 3px solid #dee1e3;
        border-radius: 50%;
        height: 7px;
        margin-left: -5px;
        position: absolute;
        width: 7px;
    }

.chat-inner {
    border-left: 2px solid #c7cacb;
    padding: 0 4px 0 10px;
}

    .chat-inner section {
        padding: 6px;
    }

        .chat-inner section {
            /*background-color: #f0f0f0;*/
            border: 1px solid #c7cacb;
            border-radius: 4px;
        }

        .chat-inner section a {
            float: right;
            margin-left: 22px;
        }

        .chat-inner section header h4 {
            margin: 0 8px 2px 0;
            zoom: 1;
        }

        .chat-inner section content,
        .chat-toolbar {
            clear: both;
            display: block;
        }

.chat-toolbar-buttons {
    float: right;
}

.chat-attachments {
    clear: both;
    text-align: right;
}

.chat-toolbar-text {
    padding-right: 225px;
}

.chat-toolbar-text-send {
    padding-right: 155px;
}

.chat-toolbar-text-sendOsign {
    padding-right: 80px;
}

.chat-toolbar textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 56px;
    outline: 0;
    resize: none;
    width: 100%;
}

.bg-color-ligthBlue,
table.pretty tbody td.bg-color-ligthBlue {
    background-color: #EDF5FC;
}

.chat-inner .state-viewed {
    background-image: url(../images/comment-seen.png);
    background-position: right center;
    background-repeat: no-repeat;
}


.separate-h {
    margin: 2px 0;
    padding: 2px 0;
}

.field-group,
.field-control-group,
.field-label,
.field-control {
    display: inline-block;
    *float: left;
    *zoom: 1;
}

.field-label {
    /*width:80px;*/
    text-indent: 10px;
}

.field-label2 {
    width: 120px;
    float: left;
    line-height: 25px;
    font-weight: bold;
}

.linea_division_mensaje {
    border-bottom: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.field-control {
}

.pull {
    display: inline-block;
    *float: left;
    *zoom: 1;
    text-indent: 10px;
}

    .pull:first-child {
        text-indent: 0;
    }

.handsontable th, .handsontable td {
    white-space: nowrap;
}

#grillaExcel table.htCore tr td.htLeft {
    font-size: 9px;
}

#grillaExcel table.htCore tr td.htRight {
    font-size: 9px;
}

#grillaExcel span.colHeader {
    font-size: 8px;
}

#grillaExcel table.htCore tr td {
    font-size: 8px;
    line-height: 11px;
}

.int-file-name {
    background: url('../Images/file.png') center no-repeat;
    /*border: 2px solid #BBDF8D;
    background-color: #EAF7D9;*/
    height: 16px;
    /*width: 16px;*/
    padding: 0px;
}