@model COES.MVC.Intranet.Areas.RechazoCarga.Models.DemandaUsuarioModel

<script type="text/javascript">

    $(function () {
        $('#cbSubestacion').multipleSelect({
            width: '250px',
            filter: true
        });
       
    });

</script>
<select id="cbSubestacion" name="cbSubestacion" multiple="multiple">
    @foreach (var item in Model.Subestaciones)
    {
        <option value="@item.AREACODI">@item.AREANOMB</option>
    }
</select>