@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/ServicioRPF/Content/Scripts/alternativo.js"></script>
    <link href="~/Areas/ServicioRPF/Content/Css/alternativo.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
}

<div class="form-title">
    <div class="content-titulo">Obtención del Rango de Análisis</div>
    <div class="content-botonera">       
    </div>
</div>

<div class="content-hijo">
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Consulta</a></li>
            <li class='tab'><a href="#paso2">Parámetros</a></li>
        </ul>
        <div class='panel-container'>
            <div id="paso1">
                <h2>Ingreso de datos</h2>

                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>                        
                        <td>
                            <input type="text" id="txtFechaConsulta" name="FechaConsulta" value="@Model.FechaConsulta" style="width:120px" />
                        </td>
                        <td><span style="font-size:16px">∆</span> Fmax:</td>
                        <td>
                            <input type="text" id="txtFrecuenciaMax" value="" style="width:120px" onkeypress="return validarNumero(this,event)" />
                        </td>
                        <td><input type="button" id="btnProcesar" value="Procesar" /></td>
                    </tr>
                </table>

                <div style="clear:both; height:30px;"></div>
                <div id="seleccionRango">
                </div>

            </div>
            <div id="paso2">
                <h2>Parámetros</h2>
                <div id="parametros">
                </div>
            </div>
        </div>
    </div>   
</div>
