@model COES.MVC.Extranet.Areas.IEOD.Models.PronosticoModel
@{
    Layout = null;
}
<script src="~/Areas/ieod/Content/Scripts/pronostico.js"></script>
<style>
    .divpronostico {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 98%;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    background-color: #fff;
    margin: 0 auto;
}
</style>

<div class="divpronostico" id="divpronostico">
    <input type="hidden" id="PrnIdEnvio" name="PrnIdEnvio" value="@Model.IdEnvio">
    <input type="hidden" id="PrnIdHojaPadre" name="PrnIdHojaPadre" value="@Model.IdHojaPadre">
    <input type="hidden" id="PrnIdEmpresa" name="PrnIdEmpresa" value="@Model.IdEmpresa">
    <input type="hidden" id="PrnNumPtosDepurar" name="PrnNumPtosDepurar" value="@Model.NumPtosDepurar">
    <div class="form-title">
        OBSERVACIONES ENCONTRADAS EN BASE AL COMPORTAMIENTO DE LA INFORMACIÓN HISTÓRICA
    </div>
    <div class="content-hijo">
        <div id="mensajeGrafico" class="action-message">Se han encontrado desviaciones en las mediciones durante la comparación de la información ingresada vs la información histórica. Por favor verificar y corregir la información de ser el caso.</div>
        <div>
            <div style="display:table;width:auto;">
                <div style="display:table-row;">
                    <div style="display: table-cell; width:15px; background-color:#9b9614; color: #FFFFFF; font-weight: bold; text-align: center;" onclick="mostrarListaMediciones();"><br />A<br />B<br />R<br />I<br />R<br /><br /> L<br />I<br />S<br />T<br />A<br />D<br />O<br /><br /> D<br />E<br /><br /> M<br />E<br />D<br />I<br />C<br />I<br />O<br />N<br />E<br />S</div>
                    <div id="divListado" style="display: table-cell; width:500px; vertical-align:top">
                        <b>Listado de mediciones que presentan desviaciones:</b>
                        <br />
                        <div class="listado" id="listaPuntos"></div>
                        <br />
                        <table border="0">
                            <tr>
                                <td style="width:12px; height:12px; background-color:#9b9614;">&nbsp;</td>
                                <td style="width:8px; height:12px;">&nbsp;</td>
                                <td>Dar click para mostrar lista de mediciones que presenta desviación</td>
                            </tr>
                            <tr>
                                <td style="width:12px; height:12px; background-color:#ffb4b4;">&nbsp;</td>
                                <td style="width:8px; height:12px;">&nbsp;</td>
                                <td>Intervalo que presenta desviación</td>
                            </tr>
                            <tr>
                                <td style="width:12px; height:12px; background-color:#ffd800;">&nbsp;</td>
                                <td style="width:8px; height:12px;">&nbsp;</td>
                                <td>Medición que ya fue revisada y depurada</td>
                            </tr>
                            <tr>
                                <td style="width:12px; height:12px;">ED</td>
                                <td style="width:8px; height:12px;">&nbsp;</td>
                                <td>Ejecutado diario</td>
                            </tr>
                            <tr>
                                <td style="width:12px; height:12px;">PD</td>
                                <td style="width:8px; height:12px;">&nbsp;</td>
                                <td>Previsto diario</td>
                            </tr>
                            <tr>
                                <td style="width:12px; height:12px;">PS</td>
                                <td style="width:8px; height:12px;">&nbsp;</td>
                                <td>Previsto semanal</td>
                            </tr>
                        </table>
                    </div>
                    <div style="display: table-cell; width:15px;"></div>
                    <div style="display: table-cell;; vertical-align:top">
                        <div id="listado">
                        <table>
                            <tr>
                                <td valign="top">
                                    <div id="contentTabla" style="height: 600px; overflow: auto;"></div>
                                </td>
                                <td style="width:30px"></td>
                                <td valign="top">
                                    <div id="contentGrafico" style="width: 600px; height: 500px; background-color: #F2F5F7; border: 1px solid #DDDDDD; padding:15px; border-radius:5px"></div>
                                    <br />
                                    <table id="tableMotivo">
                                        <tr>
                                            <td><input type="button" id="btnCerrar" value="Salir" title="Cierra la ventana y se finaliza la verificación y corrección" /></td>
                                            <td colspan="2">&nbsp;&nbsp;&nbsp;</td>
                                            <td><input type="button" id="btnModificar" value="Enviar Modificación" title="Envía la información modificada para este punto" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="Ptomedicodi" id="Ptomedicodi" value="" />
<input type="hidden" name="Lectcodi" id="Lectcodi" value="" />
<input type="hidden" name="Medifecha" id="Medifecha" value="" />