
.content-busqueda {
    border-style: double;
    border-width: 1px;
    border-color: #2980B9;
    border-radius: 5px;
}

.inputEnergiaUnidadTotal {
    width: 130px !important;
}

.action-error {
    text-indent: 0;
    padding: 10px 10px 10px 40px;
}

.action-exito {
    text-indent: 0;
    padding: 10px 10px 10px 40px;
}

/* -- ESTILO DEL DIV DE MENSAJES */
.info, .exito, .alerta, .erroneo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}

.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../images/exito.png');
}

.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/alerta.png');
}

.erroneo {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

form.cmxform label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic
}

div.error {
    display: none;
}

input {
    border: 1px solid #245C86;
    border-radius: 6px;
}

input.checkbox {
    border: none;
    border-radius: 6px;
}

input:focus {
    border: 1px solid #245C86;
    border-radius: 6px;
}

input.error {
    border: 1px solid red;
    border-radius: 6px;
}

textarea.error {
    border: 1px solid red !important;
    border-radius: 6px !important;
}

form.cmxform .gray * {
    color: gray;
}

.img_event {
    cursor: pointer;
}

/* -- ESTILO DE POPUP */

fieldset {
    border: 1px solid #3D90CB;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    margin: 0px 0;
    padding: 10px;
    padding-bottom: 30px
}

legend {
    background: #FFF;
    color: #009AD9;
    font-size: 14px;
    font-weight: bold;
}