@model COES.MVC.Intranet.Areas.ServicioRPF.Models.EnvioAGCModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/ServicioRPF/Content/Scripts/consultaagc.js"></script>

<div class="form-title">
    <div class="content-titulo">Consulta de envío de datos AGC</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">
    <div id="mensaje"></div>
    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tbody>
                <tr>
                    <td>Fecha:</td>
                    <td><input type="text" id="txtFechaConsulta" value="@Model.Fecha" style="width:120px" /></td>
                    <td><input type="button" id="btnConsultar" value="Consultar" /></td>
                    <td><input type="button" id="btnExportar" value="Exportar Datos" /></td>

                </tr>
            </tbody>
        </table>
    </div>

    <div id="listado"></div>
</div>


