@model COES.MVC.Intranet.Areas.ServicioRPF.Models.ServicioModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/ServicioRPF/Content/Scripts/consistencia.js"></script>
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
}

<div class="form-title">
    <div class="content-titulo">Reporte de Consistencia de Datos</div>
    <div class="content-botonera">
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo">
    
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#paso1">Consulta</a></li>            
            <li class='tab'><a href="#paso2">Parámetros</a></li>
        </ul>

        <div class='panel-container'>
            <div id="paso1">
                <h2>Consulta de datos</h2>

                <table class="content-tabla-search" style="width:auto">
                    <tr>
                        <td>Fecha:</td>
                        <td><input type="text" id="FechaConsulta" name="FechaConsulta" value="@Model.FechaConsulta" style="width:120px" /></td>
                        <td><input type="button" id="btnConsultar" value="Procesar" /></td>                        
                    </tr>
                </table>
                <div style="clear:both; height:30px;"></div>
                <div id="listado"></div>
            </div>
            <div id="paso2">
                <h2>Parámetros</h2>
                <div id="parametros">
                </div>
            </div>
        </div>
    </div> 
    
    <div id="popupUnidad" style=" width:400px">
        <span class="button b-close"><span>X</span></span>
        <div id="confirmarProceso">
            Existen datos del reporte de consistencia procesados anteriormente.
            Desea volver a reprocesar o obtener los ya procesados.

            <div style="clear: both; height:20px"></div>
            <div style=" width:200px; text-align:center; margin:auto">
                <input type="button" id="btnReProcesar" value="Reprocesar" />
                <input type="button" id="btnNoReProcesar" value="No reprocesar" />
            </div>

        </div>
    </div> 
           
 </div>
