@model COES.MVC.Extranet.Areas.Eventos.Models.AnalisisFallasModel
@{
    ViewBag.Title = "Listado Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/pdfobject.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/AnalisisFallas/Solicitudes.js?v=1.4"></script>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Solicitudes de inicio del proceso de asignación de responsabilidad</div>
<div class="content-hijo" id="mainLayout">
    <div class="form-main" style="margin-top:10px">
        <div id="mensaje" hidden></div>
        <div style="clear:both; height:5px;"></div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">
            <table class="table-search">
                <tr>

                    <td><label>Empresa </label></td>
                    <td>
                        <select id="cbEmpresa" name="IdEmpresa" style="width:200px">
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="button" id="btnConsultar" value="Consultar" />
                        <input type="button" id="btnExportar" value="Exportar" />
                        <input type="button" class="content-botonera" id="btnNuevaSolicitud" value="Nueva Solicitud" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear:both"></div>
        <div class="content-tabla">
            <div class="tabla-header">
                <div class="table-paginado" id="paginado"></div>
            </div>
            <div class="table-list" id="listado"></div>
            <div style="clear:both; margin-bottom:40px"></div>
        </div>
    </div>
</div>

<div id="popupArchivosAdjuntados" class="general-popup" style="width:650px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Lista Archivos Adjuntados</span></div>
    <div class="popup-text" id="contenidoDetalle">
    </div>
</div>