@model COES.MVC.Extranet.Areas.Eventos.Models.AnalisisFallasModel
@{
    ViewBag.Title = "Listado de Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList slEmpresaPropietaria = new SelectList(ViewBag.EmpresaPropietaria, "Emprcodi", "Emprnomb");
}
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/pdfobject.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/AnalisisFallas/Index.js?v=1.4"></script>

<script type="text/javascript">
    openManual = function () {
        window.location = controlador + 'MostrarManual';
    }
</script>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">LISTADO DE EVENTOS</div>
<div class="content-hijo" id="mainLayout">
    <div class="form-main" style="margin-top:10px">
        <div id="mensaje" hidden></div>
        <div class="form-manual">
            <a href="JavaScript:openManual();">Manual de usuario</a>
        </div>
        <div style="clear:both; height:5px;"></div>
        <div class="search-content" style="margin-bottom:0px; padding:10px">
            <table class="table-search">
                <tr>

                    <td><label>Empresa Propietaria:</label></td>
                    <td>
                        @Html.DropDownList("cboEmpresaPropietaria", slEmpresaPropietaria, new { @style = "width:250px" })
                    </td>
                    <td>Fecha inicio:</td>
                    <td><input type="text" id="dtInicio" value="@ViewBag.FechaInicio" /></td>
                    <td>Fecha fin:</td>
                    <td><input type="text" id="dtFin" value="@ViewBag.FechaFin" /></td>
                    
                    <td>
                        <input type="checkbox" value="ERACMF" id="chkERACMF" />ERACMF&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <input type="button" id="btnConsultar" value="Consultar" />
                    </td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    <td><input type="text" style="width:250px" id="txtDescripcionEvento" /></td>
                    <td colspan="2" style="font-weight: bold">
                        <input type="checkbox" value="EveSinDatosReportados" id="chkEveSinDatosReportados" checked="checked" />Mostrar solo eventos pendientes de envío de información
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear:both"></div>
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>
            <div style="clear:both; margin-bottom:40px"></div>
        </div>

    </div>
</div>

<div id="popupManual" class="general-popup" style="min-width:1000px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div id="pdf">

    </div>
</div>
