@model COES.MVC.Extranet.Areas.Eventos.Models.AnalisisFallasModel
@{
    ViewBag.Title = "Nueva Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/popup.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.validate.js"></script>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>
<script src="~/Areas/Eventos/Content/Scripts/AnalisisFallas/NuevaSolicitud.js?v=1.7"></script>

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">Proceso de Asignación de Responsabilidad</div>

<input type="hidden" id="NombreModulo" name="nombreModulo" value="@Model.Modulo" />

<div class="content-hijo" id="mainLayout">
    <div class="content-registro" style="width:auto">

        <div style="clear:both; height:5px;"></div>
        <div style="clear:both; height:5px;"></div>

        <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px">Por favor complete los datos solicitados.</div>
        <div id="mensaje2" class="action-alert" style="margin:0; margin-bottom:10px" hidden>Por Favor complete los datos solicitados</div>
        <table cellpadding="8">
            <tr>
                <td class="registro-label" style="width:150px;">Empresa:</td>
                <td class="registro-control">

                    <select id="cbEmpresa" name="cbEmpresa" style="width:412px;">
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }

                    </select>
                </td>
            </tr>

            <tr>
                <td class="registro-label">Fecha y hora del evento:</td>
                <td class="registro-control">
                    <input type="text" id="dtEditEveIni" name="FechaInicio" style="width: 148px" />
                </td>
            </tr>

            <tr>
                <td class="registro-label">Descripción del evento</td>
                <td class="registro-control">
                    <textarea id="txtDescripcion" style="background-color:white; width:400px; height:60px;" name="Descripcion"></textarea>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Informe final:</td>
                <td class="registro-control" colspan="3">
                    <input type="button" id="btnSelectFile1" value="Seleccionar archivo" />
                    @*<input type="file" id="btnSelectFile1" accept=".pdf,.zip,.rar,.xls,.xlsx,.doc,.docx" value="Seleccionar Archivo" />*@
                    <div id="container" class="file-carga">
                        <div id="filelist"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Anexos:</td>
                <td class="registro-control" colspan="3">
                    <input type="button" id="btnSelectFile2" value="Seleccionar archivo" />
                    <em> <strong>En caso de archivos con registros relés y archivos fuentes, favor de comprimirlo en un archivo .zip o .rar</strong></em>
                    <div id="container2" class="file-carga">
                        <div id="filelist2"></div>
                    </div>
                    @*<input type="file" id="btnSelectFile2" accept=".pdf,.zip,.rar,.xls,.xlsx,.doc,.docx" value="Seleccionar Archivo" />*@
                </td>
            </tr>
            <tr>
                <td class="registro-label">Modelo del Informe:</td>
                <td class="registro-control" colspan="3">
                    <div>Haga click  <a href="JavaScript:descargarFormato();" style="color:#ff6a00">Aquí</a>  para poder descargar modelo de informe que deberá adjuntar a la solicitud</div>
                </td>
            </tr>


        </table>

        <div style="display: block; margin-top: 8px;">
            <i><strong>(*) Solo se permiten adjuntar archivos con extensiones .zip, .rar, .xls, .xlsx, .doc, .docx y .pdf</strong> </i>
        </div>

        <table class="btnAcciones" style="margin-top: 10px !important;  margin: 0 auto;">
            <tr>
                <td>
                    <input type="button" id="btnEnviar" value="Enviar Solicitud" />
                    <input type="button" id="btnCancelar" value="Cancelar" />
                </td>
            </tr>
        </table>

    </div>
</div>