@model List<COES.MVC.Intranet.Areas.Resarcimientos.Models.EmpresasResponsablesModel>
@{
    Layout = null;
    ViewBag.Title = "RegistrarCarga";
}
<div>
    <table class="pretty tabla-formulario-empresas" style="font-size:12px" width="100%">
        <thead>
            <tr>
                <th>Nombre Empresa</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var mp in Model)
                {
                    <tr class="odd">
                        <td>@mp.Emprpenombre</td>
                        <td>@mp.Regporcentaje %</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



