
table th.table-header-vtea {
    background-color: orange !important;
}

table th.table-header-vtp {
    background-color: #21da21 !important;
}


table tr.filtro td input:not([type="button"]), table td select {
    width: 100% !important
}

table span.width-mediun input:not([type="button"]), table td select {
    width: 200px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ccc;
    font-size: 0.75em;
    position: absolute;
    width: 0;
}

.ast table.pretty tbody tr.odd:hover td {
    background: #fbf4bf;
}

.ast table.pretty tbody tr.even:hover td {
    background: #fbf4bf;
}

.ast table.pretty tbody tr.rojo td {
    background: #f00;
}

.ast table.pretty tbody tr.amarillo td {
    background: #fbf4bf;
}

.ast .text_left {
    text-align: left;
    padding-left: 20px;
}

.ast .text_justify {
    text-align: justify;
}

/*Estilos de enlaces*/
.ast a.paginate_active {
    display: inline-block;
    background-color: #3498DB;
    padding: 2px 4px;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
}

.ast a.paginate_button {
    display: inline-block;
    background-color: #FFF;
    padding: 2px 4px;
    font-size: 12px;
    cursor: pointer;
    color: #3498DB;
}

.ast #popup, #confirmar, #confirmarClose, #popupDetalle, #busquedaEquipo, #divPermisos, #popup2, #cntExportar, #confirmarSave, .bMulti {
    color: #245C86;
}

/*Estilos de tablas de filtro*/
.THCabecera {
    background-color: #2980B9;
}

.ast .creditos {
    font-family: Arial, Helvetica, sans-serif;
    color: #BBBBBB;
    float: right;
    font-size: 10px;
    margin-top: 20px;
    font-style: italic;
}

.ast a.enlace_creditos {
    font-family: Arial, Helvetica, sans-serif;
    color: #AAAAAA;
    font-size: 10px;
    text-decoration: none;
    font-style: italic;
}

/********************************************************************************/
/* -- ESTILO DEL DIV DE MENSAJES */
.info, .exito, .alerta, .erroneo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:400;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}

.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../images/exito.png');
}

.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/alerta.png');
}

.erroneo {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

.error {
    color: #F00;
    background-color: #FFF;
}

.background-potencias {
    background-color: orange !important;
}

.text-center {
    text-align: center
}
.content-item-action {

    height:40px;
}
    .content-item-action img {
    height:25px
    }
     /********************************************************************************/
    /* -- ESTILO DEL DIV DE MENSAJES */
    div.form .form-header {
        border-bottom: double 1px #2980B9;
        padding-bottom: 12px;
        padding-top: 12px;
        margin-top: 10px;
    }

    div.form .form-header > span.titulo {
        font-size: 15px;
        font-weight: bold;
    }

div.form .form-header-secondary {
    margin-top: 10px;
    background-color: #aed8f3b8
}

    div.form .form-header-secondary div.titulo {
        font-weight: bold;
        color: #2980B9;
        padding-top: 10px;
    }

table.form-header-secondary tr:last-child > td {
    padding-bottom: 20px;
}

table.form-header-secondary td {
    padding-right: 30px
}

    table.form-header-secondary td > div > input {
        background-color: white;
        width: 100%;
    }

.etiqueta-horizontal {
    background-color: #f2f4f3;
}
