
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="form-title" style="font-weight:bold">MODPLAN</div>

<h2>Usted no tiene acceso para descargar esta información.</h2>

