@{
    ViewBag.Title = "Index";
    Layout = "../../Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .descarga-scroll {
        height: 530px;
        padding: 10px;
        border: 1px solid #319dc1;
        overflow-y:scroll;
    }

    .descarga-boton {
        width: 150px;
        margin: 10px auto 0 auto;
    }

    .version-mod {
        background: url('../../Content/Images/folder_open.png') center left no-repeat;       
        line-height: 20px;
        padding-left:20px
    }

    .version-padre {
        font-weight: bold;
    }

    .version-hijo {
        margin-left: 25px;
        cursor: pointer;
       margin-bottom:5px;
    }

        .version-hijo:hover {
            text-decoration: underline;
        }

    .version-resumen {
             
        margin-bottom: 20px;
        line-height: 18px;
    }

    .version-modelo {
        background: #ffd800 url(../../Content/Images/gams.png) 20px center no-repeat;
        background-size: 30px;
        border: 2px solid #ff6a00;
        border-radius: 10px;
        padding: 30px;
        text-indent: 40px;
    }

    .descarga-cuadro {
        display: grid;
        grid-template-columns: repeat(2, 313px);
        grid-gap: 50px;
    }

    .version-manual {
        background: #ffd800 url(../../Content/Images/copiar.png) 20px center no-repeat;
        background-size: 30px;
        border: 2px solid #ff6a00;
        border-radius: 10px;
        padding: 30px;
        text-indent: 40px;
    }

    .version-file {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    .resumen-file {
        text-indent: 40px;
        cursor: pointer;
    }

        .resumen-file:hover {
            font-weight: bold;
            text-decoration: underline;
        }

    .version-titulo {
        color: #2980B9;
        font-size: 25px;
    }
    .version-subtitulo {
    
    }

    .version-planes {
        background: #2980B9;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        
        padding-bottom: 8px;
        text-indent: 10px;
    }

    .descarga-separer {
        border-left: 1px dashed #319dc1;
        height: 100%;
    }

</style>
<script src="../../Content/Scripts/modplan.js?v=2"></script>


<div class="form-title" style="font-weight:bold">DESCARGA DEL MODPLAN</div>

<div style="float:right; margin-right:40px">

</div>
<div style="clear:both"></div>

<div class="form-main">

    <div class="action-message" id="mensaje">
        Seleccion un Plan de Transmisión y la versión para descargar el aplicativo MODPLAN.
    </div>
    <br />

    <table>
        <tr>
            <td style="width:30%" valign="top">

                <div class="version-planes">
                    <span>Planes de Transmisión</span>
                </div>
                <div style="clear:both; height:20px"></div>
                <div id="listadoPlanTransmision">
                </div>
                <br />
                <br />
                <br />
                <br />
            </td>
            <td style="width:2%"></td>
            <td style="width:2%" class="descarga-separer"></td>
         
            <td style="width:66%" valign="top">
                <div id="divDetalle">

                </div>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div id="validaciones" class="modal-popup" style="width:700px; height:620px">
    <span class="button b-close"><span>X</span></span>

    <div id="validacionDatos">

    </div>

    <div class="descarga-condiciones">

        <div class="descarga-scroll">

            <div style="text-align:center; text-transform:uppercase">
                <strong>Términos y condiciones del licenciamiento del software MODPLAN</strong>
            </div>
            <br />
            Los presentes términos y condiciones contienen los acuerdos que rigen el licenciamiento del software Modelo de Operación Económica del SEIN para Planificación de la Transmisión (en adelante, “MODPLAN”), entre el Comité de Operación Económica del Sistema Interconectado Nacional (en adelante, “COES”) propietario del Modelo y los agentes e interesados que soliciten descargar y utilizar el MODPLAN (En adelante el “Usuario”). Al momento de descargar el MODPLAN, el Usuario deberá manifestar su aceptación de los Términos y Condiciones indicados en el presente documento, en caso de no esta de acuerdo deberá de abstenerse de realizar la descarga y posterior utilización.
            <br />
            <br />
            <strong>
                Antecedentes
            </strong>
            <br />
            <br />
            El COES es una entidad privada sin fines de lucro y con personería de Derecho Público, que de acuerdo con lo dispuesto por la Ley N° 28832 - Ley para Asegurar el Desarrollo Eficiente de la Generación Eléctrica y su Reglamento, tiene como finalidad coordinar la operación del Sistema Eléctrico Interconectado Nacional (en adelante, “SEIN"), administrar el Mercado de Corto Plazo y planificar la transmisión del SEIN.
            <br />
            Entre las funciones de interés público que la Ley N° 28832 le ha asignado al COES se encuentra la de elaborar la propuesta del Plan de Transmisión para su aprobación por el Ministerio de Energía y Minas (“MINEM”). Para el cumplimiento de esta función, el COES se vale de herramientas informáticas que le permitan generar, administrar y simular escenarios con varios futuros de demanda, oferta, hidrología y costos de combustibles en el SEIN.
            <br />
            En ese contexto, el COES emplea para la elaboración de la propuesta del Plan de Transmisión, el MODPLAN, respecto del cual tiene la calidad de Titular y Productor conforme al registro obrante en el Asiento 01 de la Partida Registral N° 01269-2016 del Registro de la Dirección de Derecho de Autor del Instituto de Defensa de la Competencia y de la Protección de la Propiedad Intelectual – INDECOPI.
            <br />
            Por otra parte, los Usuario que tiene interés en revisar los cálculos que sustentan la propuesta del Plan de Transmisión, requieren del uso del MODPLAN que es de titularidad del COES.
            <br />
            <br />
            <strong>Objeto</strong>
            <br />
            <br />
            Por el presente documento, el COES otorga al Usuario la licencia de uso del MODPLAN, así como la documentación correspondiente, de naturaleza no exclusiva e intransferible, con la única finalidad de revisar los cálculos y análisis realizados por el COES en la elaboración de la propuesta del Plan de Transmisión, en los términos y condiciones previstos a continuación.

            <br />
            <br />
            <strong>Términos y condiciones</strong>
            <br />
            <br />
            1.	El Usuario reconoce al COES como único Productor y Titular de la propiedad intelectual del MODPLAN, en los términos regulados en el Decreto Legislativo N° 822, Ley sobre el Derecho de Autor.
            <br />
            2.	El uso del MODPLAN por parte del Usuario se realizará de forma obligatoria y sin excepción alguna, en los siguientes términos:
            <br />


            (a)	El Usuario se obliga a utilizar el MODPLAN con la única finalidad de revisar los cálculos obtenidos por el COES en la elaboración de la propuesta del Plan de Transmisión y en el ámbito del territorio nacional.<br />
            (b)	El Usuario se obliga a no adaptar, modificar, corregir o variar el MODPLAN en el sentido más genérico posible, o los documentos que coadyuvan a su uso.<br />
            (c)	El Usuario se obliga a no reproducir, transmitir a otro equipo informático, ceder, arrendar, transferir, vender, prestar, parcial o totalmente, y en general a no disponer del MODPLAN en cualquier modalidad, en favor de sí misma o de terceros, lo que incluye a empresas vinculadas, según la definición contenida en la Resolución CONASEV N° 090-2005-EF-94.10 o norma que la modifique y/o sustituya, sea a título gratuito u oneroso, dentro del territorio nacional o en el extranjero, con la lógica excepción del uso por parte de los empleados directos del Usuario.<br />
            (d)	Asimismo, se prohíbe la reproducción de la Documentación que acompaña al software. Tampoco se deberán utilizar técnicas de ingeniería inversa, descompilación, o desensamblaje, ni se podrá modificar, traducir o realizar intento alguno de descubrir el código fuente del software, toda vez que el mismo goza de protección por parte de INDECOPI.<br />
            (e)	El COES se reserva el derecho de realizar auditorías de forma periódica con un aviso previo por escrito para verificar el cumplimiento de los términos y condiciones del presente documento.<br />
            (f)	El Usuario será el único responsable por el incumplimiento a este documento o a la normativa aplicable, ocasionado por sus empleados o dependientes en general.<br />
            (g)	El Usuario, es el único responsable de cumplir con las obligaciones que por el uso de software legal sean reguladas por el INDECOPI.<br />
            (h)	El Usuario es el único responsable de contar con los soportes informáticos físicos y de software que permitan el uso del MODPLAN, así como del personal que resulte necesario para su ejecución.<br />
            (i)	El Usuario se obliga a guardar confidencialidad sobre los resultados, cálculos, escenarios u otros datos que obtenga en el uso del MODPLAN, así como respecto a la documentación que coadyuva a su uso.<br />
            (j)	En todo aquello que no se haya regulado expresamente en este documento, las Partes se remiten a lo que establece la legislación sobre Propiedad Intelectual.<br />

            <br />
            <br />
            <strong>Licencia</strong>
            <br />
            <br />
            El COES otorga la licencia de uso del MODPLAN en favor del Usuario de manera gratuita. Esta licencia de uso gratuita se realiza considerando que la finalidad por la cual se otorga es la comprobación por parte del Usuario de los cálculos realizados por el COES al elaborar el Plan de Transmisión.
            <br />
            <br />
            <strong> Exoneración de responsabilidad</strong>
            <br />
            <br />
            En ningún caso será el COES responsable, ante el Usuario o terceras partes, de cualquier daño, incluida pérdida de beneficios, pérdida de ahorro o cualquier tipo de perjuicio surgido como consecuencia del uso del MODPLAN, siendo el uso del software bajo riesgo y beneficio del Usuario.
            <br />
            <br />
            <strong>Terminación</strong>
            <br />
            <br />
            El COES podrá revocar la licencia del MODPLAN de forma unilateral, sin previo aviso y sin responsabilidad alguna por parte del COES, cuando el Usuario incumpla con alguna de las obligaciones contenidas en el presente documento o cuando se configure alguna de las causas previstas en la Ley sobre el Derecho de Autor.
            <br />
            <br />
            En caso el Usuario incumpla las obligaciones contenidas en el presente documento, se generará a favor del COES el derecho a reclamar una indemnización por cualquier daño, costo o responsabilidad que se produzca como consecuencia de dicho incumplimiento, asimismo, el COES se reserva el derecho a iniciar cualquier otra acción legal que considere pertinente.
            <br />
            <br />
            <strong>Controversia</strong>
            <br />
            <br />
            Toda controversia, desavenencia o reclamación resultante, relacionada o derivada del presente documento y/o que guarde relación con él, tratará de ser resuelta en primer término de acuerdo a principios de la buena fe y mediante trato directo entre las Partes dentro de un plazo de diez (10) días hábiles, recurriendo sólo a la vía judicial en caso de no encontrarse solución a dicha controversia.
            Para tal efecto, las Partes se someten expresamente a la jurisdicción de los Jueces y Tribunales de Lima, debiendo tenerse por válidas todas las notificaciones que se efectúen en los domicilios señalados en el presente documento.
            <br />
            <br />
            <strong>Obtención del software</strong>
            <br />
            <br />
            El MODPLAN estará publicado en la web del COES, para lo cual el Usuario deberá tener acceso previa suscripción como agente o interesado en la revisión del Plan de Transmisión. Dicho acceso deberá ser personal e intransferible, bajo responsabilidad por incumplimiento de los términos y condiciones indicados en el presente documento.
            <br />

        </div>
        <div style="clear:both; height:20px"></div>
        <input type="checkbox" id="cbTerminos" />He leido y acepto los términos y condiciones del licensamiento del Software MODPLAN
        <div class="descarga-boton">
            <input type="button" id="btnModplanAceptar" value="Acepto" />
            <input type="button" id="btnModplanCancelar" value="No acepto" />
        </div>

    </div>
</div>

