@model COES.MVC.Extranet.Models.PlanificacionModel

@{
    List<COES.Dominio.DTO.Sic.WbVersionModplanDTO> list = Model.Listado.Where(x => x.Vermplpadre == -1).ToList();

    foreach (var item in list)
    {
        <div class="version-mod version-padre" id="@item.Vermplcodi" data-tipo="0">@item.Vermpldesc</div>
        List<COES.Dominio.DTO.Sic.WbVersionModplanDTO> subList = Model.Listado.Where(x => x.Vermplpadre == item.Vermplcodi).ToList();

        foreach (var subItem in subList)
        {
            <div class="version-mod version-hijo" id="@subItem.Vermplcodi" data-tipo="1">@subItem.Vermpldesc</div>
        }
    }
}
