@model COES.MVC.Extranet.Areas.Rpf.Model.EnvioAGCModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/Rpf/Content/Scripts/envioagc.js?v=4"></script>
<link href="~/Areas/Rpf/Content/Css/css.css" rel="stylesheet" />

<div class="form-title" style="color: #278CCC; margin-bottom:0px;">
    Carga de datos  - AGC
</div>

<div class="form-main" style="margin-top:10px">

    <div class="action-message" id="mensaje">
        Por favor complete los datos exigidos.
    </div>

    <div class="content-registro">

        <table style="width:100%">
            <tr>
                <td class="registro-label">Empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresa" name="cbEmpresa">
                        @foreach (var item in Model.ListaEmpresa)
                        {
                            <option value="@item.EMPRCODI">@item.EMPRNOMB</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="registro-label">Fecha:</td>
                <td class="registro-control">
                    <input type="text" value="@Model.Fecha" id="txtFecha" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Formato de carga:</td>
                <td class="registro-control">
                    <input type="button" id="btnDescargarFormato" value="Descargar" style="margin-left:0px" />
                </td>
            </tr>
            <tr>
                <td class="registro-label">Archivo (Extensión: .CSV, Peso Max: 30MB )::</td>
                <td class="registro-control">
                    <input type="button" id="btnSubirArchivo" value="Seleccionar" style="margin-left:0px" />
                    <div id="fileInfo"></div>
                    <div style="clear:both"></div>
                </td>
            </tr>
        </table>
        <div id="container" style="width:120px; margin:20px auto">
            <input type="button" id="btnProcesar" value="Procesar archivo" />
        </div>
    </div>
    <div style="clear:both"></div>

    <div class="etapa-content" id="contentEtapa" style="display:none">
        <div class="etapa-item">
            <div class="etapa-label">1. Subir el archivo:</div>
            <div class="etapa-control"><div id="percentCargaArchivo"></div></div>
        </div>
        <div style="clear:both"></div>
        <div class="etapa-item">
            <div class="etapa-label">2. Validación del Formato:</div>
            <div class="etapa-control">
                <div id="percentValidacion"></div>
                <div id="validacion"></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="etapa-item">
            <div class="etapa-label">3. Grabado de datos:</div>
            <div class="etapa-control">
                <div id="percentGrabado"></div>               
            </div>
        </div>
        <div style="clear:both; height:20px"></div>
    </div>


</div>