@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel
@{
    ViewBag.Title = "Carga de ERACMF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<link href="~/Areas/Eventos/Content/Css/ctaf.css" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/InterrupcionSuministros/cargarEracmfVigente.js?v=1.2"></script>

<div class="form-title">
    <div class="content-titulo">
        Carga de ERACMF
    </div>
    <div class="content-botonera">
        <input type="button" id="btnRegresar" value="Regresar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div class="content-registro" style="width:auto">

        <div style="clear:both; height:5px;"></div>

        <!--Cabecera evento-->
        <table cellpadding="8" style="width:auto;">
            <tr>
                <td class="registro-label" style="width:150px;">Nro Evento:</td>
                <td class="registro-control" colspan="3">
                    @Model.oEventoDTO.CODIGO
                </td>
            </tr>
            <tr>
                <td class="registro-label">Descripción:</td>
                <td class="registro-control"><div style="width: 850px">@Model.oEventoDTO.EVENDESC</div></td>
            </tr>
            <tr>
                <td class="registro-label">Hora Evento:</td>
                <td class="registro-control" colspan="3">
                    @Model.oEventoDTO.FechaEventoDesc
                    <input type="hidden" id="hCodiEvento" value="@Model.oEventoDTO.EVENCODI" />
                </td>
            </tr>
        </table>

        <div style="clear:both; height:5px;"></div>
        @if (Model.grabar)
        {
            <!--Barra de opciones-->
            <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px;margin-top: 15px;">Por favor seleccione el archivo ERACMF.</div>

            <div class="search-content" style="margin-top: 5px;">
                Seleccione archivo .xlsx
                <input type="button" id="btnSeleccionarArchivo" value='Seleccionar archivo' />
                <input type="button" id="btnProcesarArchivo" value="Procesar archivo" disabled />

                <div id="txtNombreArchivo" style="background: url('../../../Content/Images/file.png')10px 50% no-repeat;
                                                        display: none;
                                                        text-align: left;
                                                        border: 2px solid #BBDF8D;
                                                        background-color: #EAF7D9;
                                                        padding: 5px;
                                                        text-indent: 30px;
                                                        border-radius: 6px;
                                                        margin-right: 10px;">
                </div>

                <div id="txtAuditoria" style="display: inline-block; text-align: right; float: right;">
                </div>
            </div>
        }
        else
        {
            <div class="search-content" style="margin-top: 5px;padding-bottom: 25px;">

                <div id="txtNombreArchivo" style="background: url('../../../Content/Images/file.png')10px 50% no-repeat;
                                                        display: none;
                                                        text-align: left;
                                                        border: 2px solid #BBDF8D;
                                                        background-color: #EAF7D9;
                                                        padding: 5px;
                                                        text-indent: 30px;
                                                        border-radius: 6px;
                                                        margin-right: 10px;">
                </div>

                <div id="txtAuditoria" style="display: inline-block; text-align: right; float: right;">
                </div>
            </div>
        }

        <!--mostrar listado errores-->
        <div id="listado2">
        </div>

        <!--mostrar listado-->
        <div id="listado">
        </div>
    </div>
</div>