@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel

@{
    ViewBag.Title = "Configuración de Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Css/form.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
<script src="~/Content/Scripts/jquery-ui-autocomplete.js"></script>
<script src="~/Content/Scripts/jquery.select-to-autocomplete.min.js"></script>
<script src="~/Content/Scripts/jquery.mask.js"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<link href="~/Areas/Eventos/Content/Css/ctaf.css" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/InterrupcionSuministros/configuracionParametros.js?v=1.1"></script>

<div class="form-title">
    <div class="content-titulo">
        Configuración de Parámetros
    </div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo">
    <div id="tab-container" class="tab-container" style="min-height:700px">
        <ul class='etabs'>
            <li class='tab'><a href="#Plazo">Plazo Extranet</a></li>
            <li class='tab' style=""><a href="#Proceso">Alerta CTAF</a></li>
        </ul>

        <!-- configuración de plazo-->
        <div id="Plazo" class="panel-container">
            <div style="padding-top:5px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;">
                    <span>
                        Configuración de plazos para la carga de interrupción de suministros por parte del Agente en la Extranet
                    </span>
                </div>

                <div style="clear:both; height:5px;"></div>
                <div class='action-informe' id='msjConfiguracionPlazo' style="margin-bottom:15px; margin-top:0; "></div>

                <!--formulario-->
                <div style="width: 290px; float: left;margin-right: 15px;">
                    <div class="search-content">
                        Número de horas luego de la fecha del evento:
                        <table style="margin-top: 8px;">
                            <tr>
                                <td>En Plazo:</td>
                                <td><input type="text" id="txtHoraEnPlazo" value="@Model.ValorEnPlazo" style="width: 50px;" maxlength="5" /> (hh:mm)</td>
                            </tr>
                            <tr>
                                <td>Fin de plazo: </td>
                                <td><input type="text" id="txtHoraFinPlazo" value="@Model.ValorFinPlazo" style="width: 50px;" maxlength="5" /> (hh:mm)</td>
                                <td></td>
                            </tr>
                        </table>
                        <div style="display: flex; padding-top: 10px;">
                            <div style="margin-top: 25px; margin: 0 auto;">
                                <input type="button" value="Guardar" id="btnGuardarPlazo" name="btnGuardarPlazo" />
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!--vista previa-->
                <div style="width: 490px; float: left">

                    <div style="margin-top: 0px">
                        <b>Vista Previa</b><br />
                        Fecha Evento de ejemplo:
                        <input type="text" id="txtFechaPeriodo" value="@Model.FechEvento" style="width:144px;" class="filtro-contenido" />

                    </div>

                    <table style="margin-top: 5px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>

                                                <td>
                                                    <div class="search-content" style="background-color: #acfdb9 !important;">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td style=" width: 90px;">En Plazo</td>
                                                                    <td><span id="txtFechaEnPlazo1"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><span id="txtFechaEnPlazo2"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="search-content" style="background-color:#FFD800 !important">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td style=" width: 90px;">Alerta fin plazo</td>
                                                                    <td><span id="txtFechaFueraPlazo1"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td><span id="txtFechaFueraPlazo2"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>

        <!-- alerta-->
        <div id="Proceso" class="panel-container" style="">
            <div style="padding-top:5px;">
                <div class="formato-titulo popup-title" style="color: #278CCC; margin-bottom:0px;"><span>Alerta de solicitudes pendientes "Proceso de Asignación de Responsabilidad" </span></div>
                <div style="clear:both; height:5px;"></div>

                <div class="action-informe" id="msjConfiguracionProceso" style="margin-bottom:5px; margin-top:0; "></div>


                Las solicitudes pendientes deberán ser notificados a los usuarios del CTAF diariamente hasta que su estado cambie a “Aceptado” o “Rechazado”.<br />
                Establecer hora en el cual se ejecutará el proceso automático:
                <div class="search-content" style="width: 227px;margin-top: 5px;">
                    <div>
                        <label>Hora de Ejecución: </label>
                        <input type="text" id="txtHoraEjecucion" value="@Model.ValorEjecucion" maxlength="5" autocomplete="off" style="width: 50px;"> (hh:mm)
                    </div>
                    <div style="margin-top: 25px;"><input type="button" value="Guardar" id="btnGuardarHoraE" name="btnGuardarHoraE"></div>
                </div>


            </div>
        </div>
    </div>
</div>