@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel
@{
    ViewBag.Title = "Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/validacion.css" rel="stylesheet" />
<link href="~/Content/Css/popup.css" rel="stylesheet" />
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<link href="~/Content/Css/form.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>

<link href="~/Areas/Eventos/Content/Css/ctaf.css?v=1.1" rel="stylesheet" />
<script src="~/Areas/Eventos/Content/Scripts/InterrupcionSuministros/IndexSolicitudes.js?v=1.3"></script>

<div class="form-title">
    <div class="content-titulo">
        Solicitudes de Inicio de Proceso de Asignación de Responsabilidad
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="form-main" style="margin-top:10px">
        <div id="mensaje"></div>
        <div style="clear:both; height:5px;"></div>
        <div class="search-content" style="margin-bottom:6px; padding:10px">

            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td>Empresa :</td>
                    <td>
                        <select id="cbEmpresa" name="IdEmpresa" style="width:250px">
                            <option value="0">--TODOS--</option>
                            @foreach (var item in Model.ListaEmpresa)
                            {
                                <option value="@item.Emprcodi">@item.Emprnomb</option>
                            }
                        </select>
                    </td>

                    <td><label>Fecha Inicio:</label></td>
                    <td>
                        <input type="text" id="dtInicio" name="FechaInicio" value="@ViewBag.FechaInicio" />
                    </td>
                    <td><label>Fecha Fin:</label></td>
                    <td>
                        <input type="text" id="dtFin" name="FechaFin" value="@ViewBag.FechaFin" />
                    </td>

                    <td><label>Estado:</label></td>
                    <td>
                        <select id="cboEstado" style="width:128px">
                            <option value="TODOS">TODOS</option>
                            <option value="PENDIENTE">PENDIENTE</option>
                            <option value="ATENDIDO">ATENDIDO</option>
                        </select>
                    </td>
                    <td>
                        <div class="content-botonera">
                            <input type="button" id="btnConsultar" value='Consultar' />
                            <input type="button" id="btnExportar" value='Exportar' />
                        </div>
                    </td>

                </tr>
                <tr></tr>
            </table>
        </div>

        <div style="clear:both"></div>
        <div class="content-tabla">
            <div class="table-list" id="listado"></div>

            <div style="clear:both; margin-bottom:40px"></div>

        </div>
    </div>
</div>

<div id="popupArchivosAdjuntados" class="general-popup" style="width:650px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Lista Archivos Adjuntados</span></div>
    <div class="popup-text" id="contenidoDetalle">
    </div>
</div>

<div id="popupEditarSolicitud" class="general-popup" style="width:650px">
    <div><span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span>Editar Solicitud de Asignación de Responsabilidad</span></div>
    <div class="popup-text" id="contenidoEdicion">
    </div>
</div>