@{
    ViewBag.Title = "Cubo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-title">
    <div class="content-titulo">Estadística de Fallas - Consultas estáticas</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" style="padding:0px">
    <iframe src="https://www.coes.org.pe/bi/reportebi.aspx" width="100%" height="940" frameborder="0"></iframe>
</div>