@model COES.MVC.Intranet.Areas.Eventos.Models.IndicadorCtafModel
@{
    ViewBag.Title = "Indicadores de Análisis de Falla";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/Scripts/jquery.easytabs.min.js"></script>
    <link href="~/Content/Css/tabs.css" rel="stylesheet" />
    <script src="~/Content/Scripts/highcharts.js"></script>
}
<script src="~/Areas/Eventos/Content/Scripts/IndicadoresAnalisisFalla/indicadoresanalisisfalla.js"></script>
<link href="~/Areas/Eventos/Content/Css/css.css" rel="stylesheet" />
<script src="~/Content/Scripts/inputmaskmin.js"></script>

<div class="form-title">
    <div class="content-titulo">
        Indicadores de Análisis de Falla - Reporte
    </div>
    <div class="content-botonera">

        <input type="button" id="btnExportar" value="Exportar" />

    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Año:</td>
                <td>
                    <input type="text" id="txtAnio" value="@Model.Anio" style="width:120px" />
                </td>
            </tr>
        </table>
    </div>
    <div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab' id="tabListado"><a href="#Listado">Listado Indicadores</a></li>
            <li class='tab' id="tabGrafico"><a href="#Grafico">Gráfico Indicadores</a></li>
        </ul>
        <div class='panel-container'>
            <div id="Listado">
                <div class="tabla-header">
                    <div class="content-tabla">
                        <div class="table-list" id="listadoIndicadores"></div>
                    </div>
                </div>
            </div>

            <div id="Grafico">
                <table>
                    <tr>
                        <td id="GrafIndicadorCtaf" style="width: 50%;"></td>
                        <td id="GrafIndicadorIt" style="width: 50%;"></td>
                    </tr>
                    <tr>
                        <td id="GrafFrecuenciaEve" style="width: 50%;"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>