@model COES.MVC.Intranet.Areas.Eventos.Models.AnalisisFallasModel
@{

}
@*<script src="~/Areas/Eventos/Content/Scripts/AnalisisFalla/seccionEvento.js"></script>*@
<div id="mensajeNumeral" class="action-message">Por favor complete los datos</div>

<div id="divNumeral">

        <h3><b>Tipo de Numeral:</b></h3>

        <div id="NumeralTable"></div>
    
</div>