@model  COES.Servicios.Aplicacion.FormatoMedicion.FormatoModel
<script>
    $(function () {
        $('#cbSemana').val($('#hfSemana').val());
    }
    );
</script>
<select id="cbSemana" name="IdSemana" name="IdHorizonte" style="width:110px;">

    @foreach (var item in Model.ListaSemana)
    {
        <option value="@item.IdTipoInfo">@item.NombreTipoInfo</option>
    }
</select>
