@model COES.MVC.Extranet.Areas.RechazoCarga.Models.EditEsquemaUnifilarModel
@{
    ViewBag.Title = "Nuevo Esquema Unifilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div id="divTitulo">Nuevo Esquema Unifilar</div>
</div>
<div class="content-hijo" id="mainLayout">
    
    <div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0">Por favor complete los campos</div>

    <div class="content" style="margin-bottom:0px; padding:15px">
        <fieldset>
            <legend>Datos Generales</legend><table class="content-tabla-search" style="width:auto">
                <tbody>                    
                    <tr>
                        <td>
                            Razón Social:
                        </td>
                        <td>
                            <select id="cbEmpresaEdit" name="cbEmpresaEdit">
                                <option value="0">-- SELECCIONE --</option>
                                @foreach (var item in Model.ListSiEmpresa)
                                {
                                    if (@item.Emprrazsocial == null)
                                    {
                                        <option value="@item.Emprcodi">-- SIN RAZON SOCIAL --</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Emprcodi">@item.Emprrazsocial</option>
                                    }
                                }
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Punto de Medición:
                        </td>
                        <td>
                            <select id="puntoMedicion" name="puntoMedicion">
                                <option value="0">-- SELECCIONE --</option>
                            </select>
                        </td>
                    </tr>                                        
                    <tr>
                        <td>
                            Archivo:
                        </td>
                        <td>
                            <input type="text" id="archivo" name="archivo" disabled="disabled" />                            
                        </td>
                        <td>
                            <div id="container">
                                <input type="button" id="btnSelectFile" value="..." />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br /><br />
                            <div style="float: right;">
                                <input type="button" value="Guardar" id="btnGuadarEdicion" name="btnGuadarEdicion" class="form-action" />
                                <input type="button" value="Cancelar" id="btnCancelarEdicion" name="btnCancelarEdicion" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset><br>

        <br />

    </div>

    <div id="popupEdicion" class="general-popup" style="height:300px;width:500px">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title">
            <span>Buscar Razón Social</span>
        </div>
        <div class="popup-text" id="contenidoEdicion">
            <table>
                <tr>
                    <td>
                        Razón Social:
                    </td>
                    <td>
                        <input type="text" id="empresaBuscar" name="empresaBuscar" maxlength="100" style="width:300px" />
                    </td>
                    <td>
                        <input type="button" value="Buscar" id="btnBuscar" name="btnBuscar" class="form-action" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="table-list" id="listadoEmpresas" style="height:200px">

                        </div>
                    </td>
                </tr>
            </table>  
            <input type="hidden" id="empresaSeleccionada" name="empresaSeleccionada" />          
        </div>
    </div>

</div>
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<!--Hoja de estilos-->
<link href="~/Areas/RechazoCarga/Content/Css/css.css" rel="stylesheet" />
<!--Menu contextual-->
<script src="~/Content/Scripts/contextmenu.js"></script>
<link href="~/Content/Css/contextmenu.css" rel="stylesheet" />
<script src="~/Content/Scripts/plupload.full.min.js"></script>
<script src="~/Areas/RechazoCarga/Content/Scripts/esquemaUnifilarEdit.js"></script>
