@model COES.MVC.Extranet.Areas.RechazoCarga.Models.EsquemaUnifilarModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <div style="height:200px;">
        <table border="0" class="pretty tabla-adicional" cellspacing="0" id="tablaEmpresas">
            <thead>
                <tr>
                    <th>Seleccione</th>
                    <th>Razón Social</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListSiEmpresa)
                {
                    <tr class="menu-contextual">

                        <td style="text-align:left;width:20px"><input type="radio" name="codEmpresa" value="@(item.Emprcodi + "/" + item.Emprrazsocial)"></td>
                        <td style="text-align:left">@item.Emprrazsocial</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <input type="button" value="Seleccionar" id="btnSeleccionarEmpresa" name="btnSeleccionarEmpresa" class="form-action" />
    </div>
</form>
