@model COES.MVC.Extranet.Areas.RechazoCarga.Models.EsquemaUnifilarModel

<form id="Form1" method="post" enctype="multipart/form-data">
    <table style="width:100%">
        <tr>
            <td style="width:20%">
                Razón Social:
            </td>
            <td style="width:80%">
                <input type="text" id="empresaHistorial" name="empresaHistorial" disabled="disabled" style="width:100%" value="@(Model.ListEsquemaUnifilar.Count > 0 ? Model.ListEsquemaUnifilar.First().Emprrazsocial : "")" />
            </td>
        </tr>
        <tr>
            <td style="width:20%">
                Punto Medición:
            </td>
            <td style="width:80%">
                <input type="text" id="puntoMedicionHistorial" name="puntoMedicionHistorial" disabled="disabled" style="width:100%" value="@(Model.ListEsquemaUnifilar.Count > 0 ? Model.ListEsquemaUnifilar.First().Equinomb : "")" />
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </table>
    <div style="height:250px;">
        <table border="0" class="pretty tabla-adicional" style="table-layout:fixed;word-wrap:break-word" cellspacing="0" id="tablaHistorial">
            <thead>
                <tr>
                    <th>Fecha de Presentación</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListEsquemaUnifilar)
                {
                    <tr class="menu-contextual">
                        <td style="text-align:left">@(((DateTime)item.Rcesqufecharecepcion).ToString("dd/MM/yyyy"))</td>
                        <td style="text-align:left">@item.Rcesqudocumento</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
