@model COES.MVC.Extranet.Areas.Coordinacion.Models.RegistroObservacionModel

<script src="~/Areas/Coordinacion/Content/Scripts/busquedacanal.js"></script>
<div id="messageCanal" class="action-message" style="display:none">Seleccione los criterios de búsqueda.</div>

<div class="search-content" id="searchContentCanal" style="margin-top:10px; margin-bottom:10px">
    <table class="content-tabla-search" style="width:auto">
        <tr>
            <td>Zona:</td>
            <td>
                <select id="cbZona">
                    <option value="-1">--SELECCIONE--</option>
                    @foreach (var item in Model.ListaZonas)
                    {
                        <option value="@item.Zonacodi">@item.Zonanomb</option>
                    }
                </select>
            </td>
            <td>Tipo de Señal:</td>
            <td>
                <select id="cbTipo">
                    <option value="-1">--SELECCIONE--</option>
                    <option value="A">ANALÓGICA</option>
                    <option value="D">DIGITAL</option>
                </select>
            </td>
            <td>Filtro:</td>
            <td><input type="text" id="txtFiltro" /></td>
            <td><input type="button" value="Buscar" id="btnBuscar" /></td>
            <td><input type="button" id="btnSeleccionar" value="Agregar" /></td>
        </tr>
    </table>
</div>

<div id="cntPaginado"></div>
<div id="cntCanal"></div>


<input type="hidden" id="hfIdCanal" />
<input type="hidden" id="hfIdEmpresaBusqueda" value="@Model.IdEmpresa" />