@model COES.MVC.Extranet.Areas.Coordinacion.Models.RegistroObservacionModel

@{
    ViewBag.Title = ".::Observaciones de señales SCADA::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/Coordinacion/Content/Scripts/consulta.js?v=1.2"></script>
<script src="~/Content/Scripts/handsontable.full.min.js"></script>
<link href="~/Content/Css/handsontable.full.min.css" rel="stylesheet" />


<div class="form-title" style="color: #278CCC; margin-bottom:0px;">
    Señales ICCP con observaciones pendientes
</div>

<div class="form-main" style="margin-top:10px">

    <div id="mensaje" class="action-message">Se muestra el listado de señales ICCP con observaciones pendientes de levantar.</div>

    <div style="clear:both; height:20px"></div>

    <div class="search-content" style="margin-bottom:10px">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Empresa:</td>
                <td>
                    <select id="cbEmpresa">
                        <option value="-1">-TODOS-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprenomb</option>
                        }
                    </select>
                </td>                
                <td>
                    <input type="button" id="btnConsultar" value="Consultar" />
                </td>
            </tr>
        </table>
    </div>

    <div id="cntReporte">
    </div>

    <br />
    <br />
</div>



