@model COES.MVC.Intranet.Areas.Mediciones.Models.MedidoresGeneracionModel

@{
    ViewBag.Title = "Consulta Medidores de Generación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Mediciones/Content/Css/mediciones.css" rel="stylesheet" />
<script src="~/Areas/Mediciones/Content/Scripts/medidoresGeneracionNoCoes.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<div class="form-title">
    <div class="content-titulo">Generación NO COES</div>
    
</div>


<div class="content-hijo" id="mainLayout">

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Fecha inicial:</td>
                <td>
                    <input type="text" id="txtFechaInicial" style="width:140px" value="@Model.FechaInicio" />
                </td>
                <td>Fecha final:</td>
                <td>
                    <input type="text" id="txtFechaFinal" style="width:140px" value="@Model.FechaFin" />
                </td>
                <td><input type="button" id="btnBuscar" value="Consultar datos" /></td>

                <td class="content-botonera">
                    <input type="button" id="btnProcesarFile" value="Exportar"/>
                </td>

            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>

    <br />



    <input type="hidden" id="hfEmpresa" />
    <input type="hidden" id="hfTipoGeneracion" />


</div>

