@model COES.MVC.Extranet.Areas.CortoPlazo.Models.InformacionOperativaModel

<table border="0" class="pretty tabla-icono" id="tablaListado">
    <thead>
        <tr>
            <th></th>
            <th>Hora</th>
            <th>Fecha Ejec.</th>
            <th>Estimador</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listado.Count > 0)
        {
            foreach (var item in Model.Listado)
            {
                <tr>
                    <td>
                        <a href="JavaScript:verArchivo(@item.Cmgncorrelativo);"><img src="~/Content/Images/folder_open.png" title="Permite ver archivos RAW" /></a>
                    </td>
                    <td>@item.Cmgnfecha.ToString("HH:mm")</td>
                    <td>@(((DateTime)item.Cmgnfeccreacion).ToString("dd/MM/yyyy HH:mm"))</td>
                    <td>@item.TipoEstimador</td>
                </tr>
            }
        }
    </tbody>
</table>