@model COES.MVC.Intranet.Areas.PMPO.Models.RemisionModel
@{
    ViewBag.Title = "Cumplimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Areas/PMPO/Content/Css/css.css?v=2.0.6" />
<script src="~/Areas/PMPO/Content/Scripts/remision-cumplimiento.js?v=2.0.8"></script>

<div class="form-title" id="container">
    <div class="content-titulo" style="width: auto;">
        Reporte de cumplimiento
    </div>
    <div class="content-botonera">
        <input type="button" id="verHistorico" value="Ver Historial de Reportes Osignermin" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="div-message"></div>

    <div class="search-content">
        <table class="content-tabla" style="width:auto" role="presentation">
            <tr>
                <td class="tbform-label" style="">Mes:</td>
                <td>
                    <input id="txtMesElaboracion" type="text" name="name" value="@Model.Mes" style="width: 77px;" />
                </td>

                <td class="tbform-label" style="">Estado cumplimiento:</td>
                <td>
                    <select id="ddl-EstaCumpl" style="width: 115px;">
                        <option value="0">[ TODOS ]</option>
                        <option value="P">Plazo</option>
                        <option value="F">Fuera de Plazo</option>
                        <option value="N">No Informado</option>
                    </select>
                </td>

                <td>
                    <input type="button" id="btn-accept-report" value="Aceptar" />
                    <input type="button" id="guardarReporte" value="Generar Reporte Osignermin" formtarget="_blank" />
                </td>

            </tr>
        </table>
    </div>

    <div class="table-list" id="listado">
        <div id="reporte">
        </div>
    </div>

</div>

<div id="popupHistorial" class="general-popup" style="">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><span>Historial de Reportes</span></div>
    <div id="idHistorial">

    </div>
</div>