@model COES.MVC.Intranet.Areas.Medidores.Models.DiagramaCargaMaximaDemandaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Diagrama de Carga Máxima Demanda";
}

<script src="~/Areas/Medidores/Content/Scripts/reporteMaximaDemandaDiagramaCarga.js"></script>
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Content/Scripts/highcharts.js"></script>
<script src="~/Content/Scripts/highcharts-exporting.js"></script>

<div class="form-title">
    <div class="content-titulo">Diagrama de Carga del Día de la Máxima Demanda</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout">

    <div class="home-txt" style="float:left; margin-bottom:20px; font-size:10px; line-height:17px; text-align: left">
        CONFORME A LOS SIGUIENTES PROCEDIMIENTOS TÉCNICOS DEL COES:<br />
        <strong>* PR-N° 30:</strong> VALORIZACIÓN DE LAS TRANSFERENCIAS DE POTENCIA Y COMPENSACIONES AL SISTEMA PRINCIPAL Y SISTEMA GARANTIZADO DE TRANSMISIÓN (Vigente desde el 01 de junio de 2015)<br />
        <strong>* PR-N° 43:</strong> INTERCAMBIOS INTERNACIONALES DE ELECTRICIDAD EN EL MARCO DE LA DECISIÓN 757 DE LA CAN<br />
        @foreach (var reg in Model.ListaNormativa)
        {
            <strong>* @reg.Nombre</strong>@reg.Descripcion<br />
        }
    </div>
    <div style="clear:both"></div>

    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td>Mes Año:</td>
                <td><input type="text" id="mes" name="mes" value="@Model.Mes" /></td>

                <td colspan="2"></td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div id="diagramaCargaMaxDemanda"></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>