@model COES.MVC.Intranet.Areas.Medidores.Models.ReporteExcesoPotenciaReacModel


<div style="max-width: 1116px; margin: 0 auto; overflow: auto; height: 600px;">
    <div>
        @Html.Raw(Model.ResultadoHtml)
    </div>
</div>