@model COES.MVC.Intranet.Areas.Medidores.Models.ReporteExcesoPotenciaReacModel


<div style="max-width: 1116px; margin: 0 auto; overflow: auto;">
    <table class="tabla-formulario" id="tablaPotenciaReactiva" role="grid" border="1" style="max-width: 1100px;">
        <thead>
            <tr>
                <th style="width:450px;">Empresa</th>
                <th style="width:340px;">Modo Operacion</th>
                <th style="width:128px;">Inductiva</th>
                <th style="width:128px;">Capacitiva</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.ListaConsolidadoDemanda)
                {
                    <tr>
                        <td style="width:450px;">@item.Empresa</td>
                        <td style="width:340px;">@item.GrupSSAA</td>
                        <td style="text-align: right; width:128px;">@item.TotalInductiva</td>
                        <td style="text-align: right; width: 128px;">@item.TotalCapacitiva</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>