@model COES.MVC.Extranet.Areas.Medidores.Models.EnviarArchivoModel
@using COES.Web.MVC.AppMedidoresMD.Utilities
@{
    ViewBag.Title = "EnviarArchivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sLstEmpresa = Model.ListadoEmpresa;
    SelectList lstEmpresa = SelectListHelper.SelectList(sLstEmpresa.ToList(), "Emprcodi", "Emprnomb", tieneSel: false, tieneTodos: false);    
}
<script src="~/Areas/Medidores/Content/Scripts/jquery.form.js"></script>
<script src="~/Areas/Medidores/Content/Scripts/envio.js"></script>

<div><h5></h5></div>
<div class="panel panel-default">
    <div class="panel-heading heading-style">
        <div class="row">
            <div class="col-md-10">
                <h3 class="text-left" style="margin:0;">Proceso de Envío de Medidores de Generación</h3>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Periodo de Declaración: @Model.NombreMes</h4></div>
            @using (Html.BeginForm("ArchivoUpload", "Envio", FormMethod.Post, new {  name = "file-uploader", role = "form", id = "file-uploader", enctype = "multipart/form-data" }))
            { 
            <div class="panel-body">
    		    <div class="row">
                    
                    <div id="panel-descarga" class="col-md-6" >
                <H3>Paso 1 - Descarga de Formato</H3>
				<div class="panel panel-info" >
                    <div class="panel-heading heading-style">
                        Descarga de Formato
                        
                    </div>
					<div class="panel-body">
                        <div class="form-group">
                            <label for="CodigoEmpresa">Empresa </label> 
                            @Html.DropDownListFor(x => x.CodigoEmpresa, lstEmpresa, new {@class="form-control"})
                            <input type="hidden" id="pasarVariable" name="pasarVariable" value="0" />
                        </div>
                        <div>.</div>	
                        <div class="form-group">
					        <button name="descarga" id="descarga" type="button" class="btn-style btn btn-info">Descargar Formato</button>
                        </div>
                        <div id="mensajeFormato">
                        </div>  
				    </div>
                </div>
                        <div class="form-group">
                            <button id="btn_continuar" class="btn-style clickSubmit btn btn-primary" type="button" name="continuar" >
                                Continuar Paso 2 <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
					    </div>  
			</div>
                    <div id="panel-envio" class="col-md-6" style="display:none;">
                <H3>Paso 2 - Envío de Formato</H3>
				<div class="panel panel-info">
                    <div class="panel-heading heading-style">
                       Envío de Formato
                    </div>
					<div class="panel-body">
						
                     
                        <div id="botonAdjuntar">
                            <div class="form-group">
                                <label for="archivo">Adjuntar Archivo </label>
                                @if(Model.HabilitaCargaFormato)
                                {
                                    <input type="file" name="archivo" id="file" />
                                }
                                else
                                {
                                    <input type="file" name="archivo" id="file" disabled="disabled" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn-style clickSubmit btn btn-primary" type="submit" name="subir" id="subir" disabled="disabled">Cargar Formato</button>
					    </div>
                        <div id="resultado"></div>

					</div>
				</div>
                <div class="form-group">
                    <button id="btn_regresar" class="btn-style clickSubmit btn btn-primary" type="button" name="regresar" id="regresar_paso1" >
                                Regresar Paso 1 <span class="glyphicon glyphicon-circle-arrow-left"></span></button>
				</div>                 
			</div>	
                    <div id="panel-mensaje-error" class="col-md-6" style="display:none;">
                        
                         <div class="panel panel-danger">
                            <div class="panel-heading heading-style">
                                <span class="glyphicon glyphicon-send"></span>
                                    <strong>Error en el envío</strong>
                                Favor lea las observaciones y detalles de los errores, 
                                subsanelos y vuelva a cargar y enviar el archivo
                            </div>

                         </div>    
                    </div>
    			</div>		
		    </div>
            }
        </div>
        <div id="divEnvio" class="panel panel-default" style="display:none;">

                    <div class="panel-heading heading-style">
                        <span class="glyphicon glyphicon-search"></span>
                        <strong>Resultado de Envío</strong>
                    </div>
                    <div id="resultado_obs" class="panel-body">

            </div>
            
        </div>

        <div id="divDetalle" class="panel panel-default" style="display:none;">
            <div class="panel-heading heading-style">
                <span class="glyphicon glyphicon-search"></span>
                <strong>Detalle de los errores encontados</strong>
            </div>
            <div id="resultado_detalle" class="panel-body">
            </div>
         </div>
    </div>

   

<div id="mensajePlazo2" class="panel-footer">     

    @if (Model.FueraDePlazo)
    {
        <div class="alert alert-danger"><strong>¡Formato Fuera de Plazo.!</strong></div>
    }
    else
    {
       <div class="alert alert-success"><strong>¡Formato en Plazo.!</strong> </div>
    }
    
</div>
</div>
