@model COES.MVC.Intranet.Areas.Equipamiento.Models.FTFormatoExtranetModel
@{
    ViewBag.Title = "Listado de Eventos ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Equipamiento/Content/Scripts/fichatecnica/FTFormatoextranet/formatoextranet.js?v=1.0.5"></script>

<div class="form-title">
    <div class="content-titulo">Operación Comercial</div>
    <div class="content-botonera">
        @if (Model.TienePermisoAdmin)
        {
            <input type="button" id="btnNuevo" value="Nuevo" style="" />
        }
    </div>
</div>

<div class="content-hijo" id="mainLayout" >
    <div id="mensaje"></div>

    <div class="search-content">

        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="padding-right: 5px;">Etapa:</td>
                <td>
                    <select id="cbEtapa" style="width: 200px;">
                        <option value="-1">OPERACIÓN COMERCIAL</option>
                    </select>
                </td>
                <td>
                    <div class="content-botonera">
                        <input type="button" id="btnExportar" value="Exportar">
                    </div>
                </td>
            </tr>
        </table>

    </div>

    <div class="content-tabla">



        <div class="table-list" id="listado">    </div>
    </div>

    <div>
        <div style=" padding-top: 10px;">
            <b>Leyenda</b> (Estado Actual Extranet)
        </div>
        <div style="display: inline-flex;">
            <div style="padding: 4px; margin: 5px; background-color: #FDC206; border: solid 1px #000000; width: 15px; "> </div>
            <div style=" padding-top: 5px; font-size: 11px;"><b>En Proyecto: </b>Evento cuya fecha vigencia es una fecha futura respecto al día de hoy, es decir,  es un evento que aún no entra en vigencia.</div>            
        </div>
        <div style="display: flex; margin-top: -5px;">
            <div style="padding: 4px; margin: 5px; background-color: #0DBC3E; border: solid 1px #000000; width: 15px; "> </div>
            <div style=" padding-top: 5px; font-size: 11px;"><b>Vigente: </b>Evento cuya fecha vigencia es una fecha ya ocurrida respecto al día de hoy y de todos ellos es el evento que está en vigencia.</div>
        </div>
        <div style="display: flex; flex; margin-top: -5px;">
            <div style="padding: 4px; margin: 5px; background-color: #ED1C24; border: solid 1px #000000; width: 15px; "> </div>
            <div style=" padding-top: 5px; font-size: 11px;"><b>Baja: </b>Evento cuya fecha vigencia es una fecha ya ocurrida respecto al día de hoy, es decir, es un evento que ya estuvo vigente pero que actualmente hay otro evento vigente.</div>
        </div>
        <div style="display: flex; flex; margin-top: -5px;">
            <div style="padding: 4px; margin: 5px; background-color: #B8C0C5; border: solid 1px #000000; width: 15px; "> </div>
            <div style=" padding-top: 5px; font-size: 11px;"><b>Eliminado: </b>Evento que fue eliminado al presionar el botón "Eliminar" de la columna "Acciones".</div>
        </div>
    </div>
</div>


<div id="popupEvento" class="popup-class-1 general-popup" style="width: 900px; ">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title"><div id="tituloPopup"></div></div>

    <div id="div_formulario">
        <div id="mensaje_popupEvento" style="padding: 0px 0px 0px 10px;"></div>
        <div class="content-registro" style="width:auto">

            <input type="hidden" id="hdAccion" />
            <input type="hidden" id="hdIdEvento" />

            <div style="clear: both; height: 10px;"></div>

            <table cellpadding="1" style="width:auto">
                <tbody>
                    <tr style="height: 25px;">
                        <td class="tbform-label" style="width: 130px;">Nombre del evento:</td>
                        <td>
                            <input type="text" id="txtFtevnombre" style=" width: 300px;">
                        </td>

                        <td class="tbform-label" style="width: 130px;">Fecha de vigencia:</td>
                        <td>
                            <input type="text" value="@Model.FechaActual" id="fechaVigencia" style="width: 88px;">
                        </td>
                    </tr>
                    @*<tr style="height: 25px;">
                        <td class="tbform-label" style="width: 130px;">Fecha de vigencia:</td>
                        <td>
                            <input type="text" value="@Model.FechaActual" id="fechaVigencia" style="width: 88px;">
                        </td>
                    </tr>*@
                    <tr class="btnguardar" style="height: 25px;">
                        <td class="tbform-label" style="width: 130px;">Agregar requisito</td>
                        <td>
                            <a title="Agregar registro" href="JavaScript:addRequisitoInicioOpeCom();">  
                                <img src="~/Content/Images/btn-add.png" alt="" width="19" height="19" style="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="10" class="td02" style="width: 650px;">

                            <div id="idTablaMensajes" style="min-height: 300px; width: 900px; overflow-y: auto; height:350px;">
                                <table id="table_requisitos" class="pretty tabla-icono" style="width: 883px;">
                                    <thead>
                                        <tr>
                                            <th class="th1">Ítem</th>
                                            <th class="th1">Descripción</th>
                                            <th class="th1">Agregar archivo</th>
                                            <th class="th1"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="idtbodyRequisitos" class="tbody_table_central_agrup">
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td02">
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="btnAcciones" style="margin: 0 auto;">
                <tbody>
                    <tr class="btnguardar">
                        <td>
                            <input type="button" id="btnGrabarForm" value="Guardar">
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
