@{
    ViewBag.Title = "Login";
}

<link href="~/Content/Css/login.css" rel="stylesheet"/>
<script src="~/Content/Scripts/login.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        @using (Html.BeginForm())
        {
            <div class="login-form" id="loginForm">

                <div class="login-content">

                    <div class="login-label">USUARIO:</div>
                    <div class="login-control">
                        <input type="text" id="Usuario" name="Usuario" class="controllogin" />
                    </div>

                    <div class="login-label">CLAVE:</div>
                    <div class="login-control">
                        <input type="password" id="Clave" name="Clave" class="controllogin" />
                    </div>

                    <div class="login-action">
                        <input id="btnEnviar" type="button" value="Aceptar" class="botonlogin" />
                    </div>

                    <div class="login-remember">
                        <input type="checkbox" id="cbRecordar" checked="checked"/>Recordar inicio de sesión
                    </div>

                    <div id="accionResultado" class="action-login">Ingresar usuario y clave.</div>

                    <div style="clear:both"></div>

                </div>
            </div>
        }

    </div>
    <div class="col-md-2"></div>
</div>

<div class="clearer"></div>