@model COES.MVC.Extranet.Areas.Medidores.Models.ReporteConsolidadoEnvioModel
@{
    ViewBag.Title = "Consolidado de Envío";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/Formato/Hoja/hoja.css" rel="stylesheet" />

<script src="~/Areas/Medidores/Content/Scripts/reporteEnvioConsolidado.js"></script>
<script src="~/Content/Scripts/Formato/Hoja/hojaGlobal.js?v=2.0.8"></script>

<div class="form-title_intranet">
    <div class="content-titulo">Consolidado de Envíos</div>
    <div class="content-botonera">
        <input type="button" id="btnConsultar" value="Consultar" />
        <input type="button" id="btnExportar" value="Exportar" />
    </div>
</div>

<div class="content-hijo" id="mainLayout" style="overflow:auto; background-color:#fff">
    <div id="mensajePrincipal" class="action-message" style="display: none; margin: 0; margin-bottom: 10px"></div>

    <div class="search-content3">
        <div style="display:table">
            <div style="display:table-row">
                <div style="display:table-cell;">
                    <div style="display:table">
                        <div style="display:table-row">
                            <div class="celda-item" style="display:table-cell;width:50px;">
                                Empresa:
                            </div>
                            <div class="filtro-contenido" style="display: table-cell; width: 250px; padding-right: 5px;">
                                <select id="cbEmpresa" name="IdEmpresa" style="width:230px;">
                                    @foreach (var item in Model.ListaEmpresas)
                                    {
                                        <option value="@item.Emprcodi">@item.Emprnomb</option>
                                    }
                                </select>
                            </div>
                            <div class="celda-item" style="width:430px;">
                                <div id="cntMes1" style="display: inline;width: 215px;">
                                    <div class="celda-item" style="display: inline; width: 80px; ">
                                        Mes-Año Inicio:
                                    </div>
                                    <div class="filtro-contenido" style="display: inline; width: 110px;">
                                        <input type="text" name="MesIni" id="txtMesIni" value="@Model.MesIni" style="width: 100px;" />
                                    </div>
                                </div>
                                <div id="cntMes2" style="display: inline;width: 215px;">
                                    <div class="celda-item" style="display: inline; width: 80px; ">
                                        Mes-Año Fin:
                                    </div>
                                    <div class="filtro-contenido" style="display: inline; width: 110px;">
                                        <input type="text" name="MesFin" id="txtMesFin" value="@Model.MesFin" style="width: 100px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-tabla" style="display: block; margin-top: 10px">
        <div id='reporteConsolidado'></div>
    </div>

    <div style="clear:both; height:30px"></div>

</div>
