@model COES.MVC.Intranet.Areas.CPPA.Models.CPPAModel

@Html.AntiForgeryToken()
@{
    ViewBag.Title = "CPPA - Calcular Totales de Generación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    // Datos JSON inyectados directamente en el script
    var listRevision = @Html.Raw(ViewBag.ListRevision);
</script>

<link href="~/Areas/Transfpotencia/Content/Css/Transferencia.css" rel="stylesheet" />
<link href="~/Areas/CPPA/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<!--<link href="~/Areas/CPPA/Content/Css/general.css?v=1.0.0" rel="stylesheet" />-->
<script src="~/Areas/CPPA/Content/Scripts/calculartotales.js?v=1.0.0"></script>

<script src="~/Content/Scripts/jquery.easytabs.min.js?v=1.1"></script>
<link href="~/Content/Css/tabs.css" rel="stylesheet" />
<script src="~/Content/Scripts/datatable.js"></script>

<div class="ast">

    <div class="form-title">
        <div class="content-titulo">Calcular Totales de Generación</div>
        <div class="content-botonera"></div>
    </div>

    <div class="content-hijo" style="padding-top:8px">

        <!--<div class='action-message' id='mensaje' style="margin-bottom:5px; margin-top:0; ">Por favor, verificar la siguiente información:</div>-->
        <input type="hidden" id="tipoInsumo" value="">
        <div class="search-content" style="margin-bottom:10px">

            <table class="content-tabla-search" style="width:auto">
                <tr>
                    <td><div class="editor-label">Año</div></td>
                    <td>
                        <div class="editor-label">
                            <select id="cbAnio" name="Year">
                                <option value="">--Seleccione--</option>
                                @foreach (var item in Model.ListaAnio)
                                {
                                    <option value="@item.Entero1">@item.String1</option>
                                }
                            </select>
                        </div>
                    </td>

                    <td><div class="editor-label">Ajuste</div></td>
                    <td>
                        <div class="editor-label">
                            <select id="cbAjuste" name="ajuste" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>

                    <td><div class="editor-label">Revisión</div></td>
                    <td>
                        <div class="editor-label">
                            <select id="cbRevision" name="revision" disabled>
                                <option value="">--Seleccione--</option>
                            </select>
                        </div>
                    </td>

                </tr>

            </table>

        </div>

        <div style="height: 12px">

        </div>


        <div id="tab-container" class='tab-container'>

            <ul class='etabs'>
                <li class='tab'><a href="#paso1">Procesar</a></li>
                <li class='tab'><a href="#paso2">Reportes Totales de Generación</a></li>
            </ul>

            <div class='panel-container'>

                <div id="paso1">

                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">

                        <table border="0" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td>
                                    <div class="editor-label" style="color:#FFFFFF; height:12px"></div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" height="10"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <input id="btnProcesar" type="button" value="Procesar" style="width:100px;" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input id="btnBorrar" type="button" value="Borrar" style="width:100px;" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        Log del Proceso:
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <textarea id="logProceso" rows="20" style="width:600px;"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>

                <div id="paso2">

                    <div class="content-busqueda" style="border-style: double; border-width: 1px; border-color: #2980B9; border-radius: 5px;">
                        <div id="reporteCPPA">
                        <table border="1" cellpadding="5" cellspacing="2">
                            <tr class="THCabecera">
                                <td><div class="editor-label" style="color:#FFFFFF;"><b>Reporte Mes</b></div></td>
                                <td><div class="editor-label" style="color:#FFFFFF;"><b>Archivo Montos</b></div></td>
                                <td><div class="editor-label" style="color:#FFFFFF;"><b>Descarga</b></div></td>
                            </tr>
                        </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

