@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Operación Comercial e Integración";
}

<div class="page-banner">
    <div class="page-banner-title">
        <h1> Estudio de máxima capacidad de Generación No Convencional</h1>
        <span>
            Estudio para Nuevos Proyectos
        </span>
    </div>
    <img src="~/Content/Images/Banners/ProgramaDeOperacion.jpg" alt="Programa de Operación Diario" />
</div>
<div style="clear:both"></div>
<div class="page-content">
    @Html.Action("Index", "Browser", new { area = "", url = "Planificación%2FEstudio%20para%20Nuevos%20Proyectos%2FEstudio%20de%20máxima%20capacidad%20de%20Generación%20No%20Convencional%2F" })
    <div style="clear:both"></div>
</div>

<div style="clear:both"></div>