@model COES.MVC.Intranet.Areas.TransfPotencia.Models.PeajeIngresoModel
@{
    ViewBag.Title = "Transferencia de Potencia - Editar un peaje e ingresos tarifario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar un nuevo peaje e ingresos tarifario" }, { "sAccion", "Actualizar" } })
</div>