@model COES.MVC.Intranet.Areas.TransfPotencia.Models.PeajeIngresoModel
@{
    ViewBag.Title = "Transferencia de Potencia - Peaje e ingresos tarifa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir la informacion de peaje e ingresos tarifario" }, { "sAccion", "Grabar" } })
</div>