@model COES.MVC.Publico.Models.PortalInformacionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/PortalInformacion/generacion.js?v=1.5"></script>
<link href="~/Content/Css/portalinformacion.css?v=1.5" rel="stylesheet" />
<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Content/Scripts/portalInformacion/util.js?v=1.5"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>
<style>
    td {
        vertical-align: baseline !important;
    }
  
</style>
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            <div class="coes-box mb-3">
                <div class="coes-tabs">
                    @*<div class="portal-info-item">
                            <a href="generacion">Generación</a>
                        </div>
                        <div class="portal-info-item active">
                            <a href="demanda">Demanda</a>
                        </div>*@
                    <nav class="coes-tabs--navigation">
                        <button class="coes-tab  coes-tab--active" data-tab-target="item-1" onclick="location.href='../portalinformacion/generacion'">
                            Generación
                        </button>
                        <button class="coes-tab" data-tab-target="item-2" onclick="location.href='../portalinformacion/demanda'">
                            Demanda
                        </button>
                    </nav>
                    <div class="container">
                        <div class="row">
                            <div class="coes-filters d-flex mt-2">
                                <div class="w-100">

                                    <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap same-height-button-group">

                                        <div class="coes-form-item" id="divScada" title="SCADA: Datos instantáneos de potencia cada 30 minutos del sistema SCADA/COES">
                                            <button class="coes-button" id="btnScada">
                                                SCADA
                                            </button>
                                        </div>


                                        <div class="coes-form-item active" id="divMedidores" title="MEDIDORES: Datos cada 15 minutos medidores electrónicos (Obtenidos los primeros días de cada mes)">
                                            <button class="coes-button" id="btnMedidores">
                                                MEDIDORES
                                            </button>
                                        </div>
                                        <input type="hidden" id="hfFuenteGeneracion" value="scada" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-12 mb-md-4">
                            <div class="coes-box mb-2" id="filtroBusqueda">
                                <div class="coes-box--content container">
                                    <div class="coes-filters d-flex ">
                                        <form action="" class="w-100">
                                            <div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
                                                <div class="col col-md-2">
                                                    <div class="coes-form-item">
                                                        <label class="d-block" for="">Desde:</label>
                                                        <input type="date" class="coes-form-item--date" id="txtFechaInicial" value="@Model.FechaInicio" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-2">
                                                    <div class="coes-form-item">
                                                        <label class="d-block" for="">Hasta:</label>
                                                        <input type="date" class="coes-form-item--date" id="txtFechaFinal" value="@Model.FechaFin" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-3">
                                                    <div class="coes-form-item">
                                                        <input type="button" id="btnConsultar" class="coes-form-item--submit" value="Consultar">
                                                    </div>
                                                </div>
                                                <div class="col col-md-3">
                                                    <div class="coes-form-item">
                                                        <input type="button" id="btnExportar" class="coes-form-item--submit" value="Exportar">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top" style="width:420px">
                                    <table id="tbGeneracion" class="tabla-icono table table-hover">
                                        <thead>
                                            <tr id="generacion-header" style="cursor:pointer">
                                                <th>Empresa</th>
                                                <th>MWh</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td>TOTAL</td>
                                                <td><span id="spanTotalGeneracion"></span></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                                <td style="width:20px"></td>
                                <td valign="top">
                                    <div class="bg-dashboard-info">
                                        Generación Total: <strong id="totalGeneracion"></strong> MWh
                                    </div>
                                    <div class="bg-dashboard">
                                        <div id="graficoGeneracion" style="height:700px; width:740px;"></div>
                                        <div class="dashboar-back" id="dashboardBack">
                                            <img src="~/Content/Images/chart.png" />
                                        </div>
                                        <div id="graficoGeneracionTotal" style="width:740px">
                                        </div>
                                    </div>
                                    <div class="bg-dashboard-info" style="margin:5px 0">
                                        Producción por tipo de fuente primaria
                                    </div>
                                    <div class="bg-dashboard">
                                        <div id="graficoCombustible" style="height:400px; width:740px"></div>
                                    </div>
                                    <div style="clear:both; height:10px"></div>
                                </td>
                            </tr>
                        </table>
                        <div class="bg-dashboard-info" style="margin:5px 0">
                            <span id="dashboard-info-generacion"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


