@{
    ViewBag.Title = "Hidro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/PortalInformacion/hidrologia.js?v=1.5"></script>
<link href="~/Content/Css/portalinformacion.css?v=1.5" rel="stylesheet" />
<script src="~/Content/Scripts/highstock.js"></script>
<script src="~/Content/Scripts/portalInformacion/util.js?v=1.5"></script>
<script src="~/Content/Scripts/jquery.format.js"></script>

<div class="portal-info-link">
    <div class="portal-info-item">
        <a href="generacion">Generación</a>
    </div>
    <div class="portal-info-item">
        <a href="demanda">Demanda</a>
    </div>
    <div class="portal-info-item">
        <a href="fallas">Fallas del SEIN</a>
    </div>
    <div class="portal-info-item active">
        <a href="hidrologia">Hidrología</a>
    </div>
</div>

<div class="search-content" style="margin-bottom:10px;">   
      <table class="content-tabla-search-pad" style="width:auto">
          <tr>
              <td>Desde:</td>
              <td><input type="text" id="txtFechaInicial" style="width:100px" value="@Model.FechaInicio" /></td>
              <td>Hasta:</td>
              <td><input type="text" id="txtFechaFinal" style="width:100px" value="@Model.FechaFin" /></td>
              <td>
                  <input type="button" id="btnConsultar" value="Consultar" />                  
                  <input type="button" id="btnGraficoVolumen" value="Ver gráfica Volumen" />
                  <input type="button" id="btnGraficoNivel" value="Ver gráfica nivel" />
                  <input type="button" id="btnExportar" value="Exportar" />
              </td>
          </tr>
      </table>
</div>

<div id="contenedorHidrologia"></div>

<div class="bg-dashboard" id="contentGrafico">
    <div id="graficoHidrologia" style="min-width: 310px; width: 1150px; height: 550px; margin: 0 auto"></div>
</div>          

<div style="clear:both; height:10px"></div>