@model COES.MVC.Publico.Models.HidrologiaModel

@{
    System.Globalization.NumberFormatInfo nfi = new System.Globalization.CultureInfo("en-US", false).NumberFormat;
    nfi.NumberGroupSeparator = " ";
    nfi.NumberDecimalSeparator = ",";
    nfi.NumberDecimalDigits = 3;
}

<table class="pretty tabla-adicional" border="0" id="tbHidrologia">
    <thead>
        <tr>
            <th>Fecha</th>
            @foreach (var item in Model.Puntos)
            { 
                <th>@item</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        { 
            <tr>
                <td>@item.Fecha</td>
                @foreach (var valor in item.Valores)
                { 
                    <td style="text-align:right">@(valor.ToString("N", nfi))</td>
                }
            </tr>
        }
    </tbody>
</table>