@{
    ViewBag.Title = "MonitoreoSEIN";
}
<link href="~/Content/Css/portalinformacion.css?v=6.2" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        const tabs = [
            { id: 'Generacion', tab: 'tab-1', btn: 'btnGeneracion' },
            { id: 'ProduccionEnergia', tab: 'tab-2', btn: 'btnProduccionEnergia' },
            { id: 'UbicacionCentrales', tab: 'tab-3', btn: 'btnUbicacionCentrales' },
            { id: 'ParqueGeneracion', tab: 'tab-4', btn: 'btnParqueGeneracion' }
        ];

        tabs.forEach(({ id, tab, btn }) => {
            $(`#${btn}`).on('click', function () {
                switchTab(tab, id, btn);
            });
        });

        switchTab('tab-1', 'Generacion', 'btnGeneracion');
        setInterval(refrescarMonitoreoSEIN, 1000);
    });
</script>

<div class="clearer20"></div>
<div class="container">
    <div class="row">
        <div class="coes-filters d-flex" style="padding-top:0 !important; padding-bottom:0 !important">
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center flex-wrap flex-lg-nowrap monitoreo-sein" style="margin-left: 14px;">
                    <div class="coes-form-item titulo-monitoreo">
                        <p style="display:inline-block">Monitoreo del SEIN -</p>
                        <p>Tiempo Real</p>
                    </div>
                    <div class="coes-form-item"><input id="btnGeneracion" class="coes-button" type="button" value="Generación (MW)"></div>
                    <div class="coes-form-item"><input id="btnProduccionEnergia" class="coes-button" type="button" value="Producción Energía (GWh)" /></div>
                    <div class="coes-form-item"><input id="btnUbicacionCentrales" class="coes-button" type="button" value="Ubicación Centrales" /></div>
                    <div class="coes-form-item"><input id="btnParqueGeneracion" class="coes-button" type="button" value="Parque Generación SEIN" /></div>
                    <div class="coes-form-item"><input id="btnFeedback" onclick="window.open('https://forms.office.com/r/YpyjD9LZGN', '_blank')" class="coes-button button-feedback" type="button" value="¡Queremos tu feedback!" /></div>
                    <div class="button-play-div">
                        <a href="https://www.coes.org.pe/Portal/content/Video/InstructivoDahsboard_MonitoreoSEIN.mp4" target="_blank" class="button-icon button-icon-play" title="ver video instructivo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearer20"></div>

<!-- Contenido de cada pestaña -->
<div id="Generacion" class="tabcontent tabMonitoreo"><div id="tab-1"></div></div>
<div id="ProduccionEnergia" class="tabcontent tabMonitoreo" style="display:none;"><div id="tab-2"></div></div>
<div id="UbicacionCentrales" class="tabcontent tabMonitoreo" style="display:none;"><div id="tab-3"></div></div>
<div id="ParqueGeneracion" class="tabcontent tabMonitoreo" style="display:none;"><div id="tab-4"></div></div>

<div class="clearer20"></div>

<!-- Librerías JS -->
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/PortalInformacion/powerbi.min.js"></script>
<script src="~/Content/Scripts/PortalInformacion/powerbi.report.js?v=1.6"></script>
<script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.19.1/dist/powerbi.min.js"></script>
