@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/portalinformacion.css?v=6.5" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        const tabs = [
            { id: 'Energia', tab: 'tab-5', btn: 'btnAbrirEnergia' },
            { id: 'Demanda', tab: 'tab-6', btn: 'btnAbrirDemanda' },
            { id: 'PotenciaEfectiva', tab: 'tab-7', btn: 'btnPotenciaEfectiva' },
            { id: 'Combustibles', tab: 'tab-8', btn: 'btnCombustibles' },
            { id: 'Hidrologia', tab: 'tab-9', btn: 'btnHidrologia' },
            { id: 'CostosMarginales', tab: 'tab-10', btn: 'btnCostosMarginales' },
            { id: 'DemandaUsuariosLibres', tab: 'tab-11', btn: 'btnDemandaUsuariosLibres' },
            { id: 'AnalisisdeFallas', tab: 'tab-12', btn: 'btnAnalisisFallas' }
        ];

        tabs.forEach(({ id, tab, btn }) => {
            $(`#${btn}`).on('click', function () {
                switchTab(tab, id, btn);
            });
        });

        // Inicializa el primer reporte (tab-5: Energía)
        switchTab('tab-5', 'Energia', 'btnAbrirEnergia');
    });
</script>

<div class="clearer20"></div>
<div class="container">
    <div class="row">
        <div class="coes-filters d-flex mt-2">
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center flex-wrap flex-lg-nowrap" style="margin-left: 14px;">
                    <div class="coes-form-item" style="margin-right: 5px;"><input type="button" class="coes-button" id="btnAbrirEnergia" value="Energía"></div>
                    <div class="coes-form-item" style="margin-right: 5px;"><input id="btnAbrirDemanda" class="coes-button" type="button" value="Demanda" /></div>
                    <div class="coes-form-item" style="margin-right: 5px;"><input id="btnPotenciaEfectiva" class="coes-button" type="button" value="Potencia Efectiva" /></div>
                    <div class="coes-form-item" style="margin-right: 5px;"><input id="btnCombustibles" class="coes-button" type="button" value="Combustibles" /></div>
                    <div class="coes-form-item" style="margin-right: 5px;"><input id="btnHidrologia" class="coes-button" type="button" value="Hidrología" /></div>
                    <div class="coes-form-item" style="margin-right: 5px;"><input id="btnCostosMarginales" class="coes-button" type="button" value="Costos Marginales" /></div>
                    <div class="coes-form-item" style="margin-right: 5px;"><input id="btnDemandaUsuariosLibres" class="coes-button" type="button" value="Usuarios Libres" /></div>
                    <div class="coes-form-item" style="margin-right: 5px;"><input id="btnAnalisisFallas" class="coes-button" type="button" value="Estadística de Fallas" /></div>
                    <div class="coes-form-item" style="margin-right: 5px;">
                        <a href="~/content/video/Indicadores_BI_COES.mp4" target="_blank">
                            <img src="~/Content/Images/btnPlay.png" width="120px" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearer20"></div>

<!-- Contenedores por tab -->
<div id="Energia" class="tabcontent"><div id="tab-5"></div></div>
<div id="Demanda" class="tabcontent" style="display: none;"><div id="tab-6"></div></div>
<div id="PotenciaEfectiva" class="tabcontent" style="display: none;"><div id="tab-7"></div></div>
<div id="Combustibles" class="tabcontent" style="display: none;"><div id="tab-8"></div></div>
<div id="Hidrologia" class="tabcontent" style="display: none;"><div id="tab-9"></div></div>
<div id="CostosMarginales" class="tabcontent" style="display: none;"><div id="tab-10"></div></div>
<div id="DemandaUsuariosLibres" class="tabcontent" style="display: none;"><div id="tab-11"></div></div>
<div id="AnalisisdeFallas" class="tabcontent" style="display: none;"><div id="tab-12"></div></div>

<div class="clearer20"></div>

<!-- Scripts necesarios -->
<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/PortalInformacion/powerbi.min.js?v=1.5"></script>
<script src="~/Content/Scripts/PortalInformacion/powerbi.report.js?v=1.6"></script>
