<table border="0" class="pretty" id="tabla">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Fecha Desviacion</th>
            <th>Punto de Medicion</th>
            <th>Medidor</th>

        </tr>
    </thead>
    <tbody>

        @if (Model.ListaDesviaciones != null && Model.ListaDesviaciones.Count > 0)
        {
            foreach (var item in Model.ListaDesviaciones)
            {

                <tr>
                    <td>@item.Lectcodi</td>
                    <td>@Model.fecha.ToShortDateString()</td>
                    <td>@item.Ptomedicodi</td>
                    <td>@item.Medorigdesv</td>

                </tr>


            }
        }

    </tbody>
</table>