@model COES.MVC.Intranet.Areas.Transferencias.Models.TransferenciaRentaCongestionModel
@{
    ViewBag.Title = "Calculos de las Rentas de Congestión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Transferencias/Content/Scripts/calculoRentaCongestion.js"></script>
<link href="~/Areas/Transferencias/Content/Css/Transferencia.css" rel="stylesheet" />
<!--Mutiselect-->
<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

@*<div class="content-hijo" id="mainLayout">
        <div class="form-title">
            <div>Reporte de Información de medidores de energía de Usuarios y Empresas de distribución</div>
        </div>
    </div>*@

<div class="form-title">
    <div class="content-titulodemanda">Calculo de las Rentas de Congestión</div>
</div>
<div id="mensaje"></div>
<div class="content-hijo" id="mainLayout">
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="width:80px">Periodo</td>
                <td>                                   
                    <select id="pericodi" name="pericodi">
                        <option value="">-- Seleccione --</option>
                        @foreach (var item in @Model.ListaPeriodos)
                        {
                        <option value="@item.PeriCodi">@item.PeriNombre</option>
                        }

                    </select>
                    
                </td>
                <td style="width:80px">Versión</td>
                <td>                                   
                    <select id="version" style="width:100px;"></select>
                </td>
                <td style="width:80px"></td>
                <td>                                    

                </td>
                <td style="width:180px"></td>
                <td>
                    <input type="button" id="btnConsultar" value='Consultar' />                    
                </td>
                <td>
                    <input type="button" id="btnProcesar" value='Procesar Cálculo' style="display:none" />
                </td>
                <td>
                    <input type="button" id="btnDetalleCostosMarginales" value='Det. Costos Marginales' />
                </td>
                <td>
                    <input type="button" id="btnDetalleEntregasRetiros" value='Det. Entrega y Retiros' />
                </td>
            </tr>
        </table>       

    </div>
    <br />
    <div class="search-content">
        <table class="content-tabla-search" style="width:auto">
            <tr>
                <td style="width:120px">Nª de Registros</td>
                <td><input style="width:100px;text-align:right" type="text" id="numeroRegistros" name="numeroRegistros" readonly="readonly" /> </td>
                <td style="width:120px">Fecha ult. copia</td>
                <td><input style="width:120px;text-align:right" type="text" id="fechaActualizacion" name="fechaActualizacion" readonly="readonly" /> </td>
                <td style="width:40px"></td>
                @*ASSETEC 202002*@
                @*<td><input type="radio" name="tipoCopia" id="copiaSEV" value="1">Copiar de SEV</td>checked*@
                <td>
                    <input type="radio" name="tipoCopia" id="copiaCalculoAnterior" value="2">Copiar de Calc. anterior
                </td>
                <td></td>
                <td>
                    <input type="button" id="btnCopiar" value='Copiar' style="display:none" />
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <table>
            <tr>
                <td style="width:250px">Total Monto de Rentas de Congestión</td>
                <td style="width:120px"></td>
                <td><input style="width:100px;text-align:right" type="text" id="rentaCongestion" name="rentaCongestion" readonly="readonly" /> </td>
                <td><input type="button" id="btnGenerarReporte" name="btnGenerarReporte" value='Generar Reporte' /></td>
                
            </tr>
            <tr>
                <td style="width:250px">Total de Rentas NO Asignadas</td>
                <td style="width:120px"></td>
                <td><input style="width:100px;text-align:right" type="text" id="rentaNoAsiganda" name="rentaNoAsiganda" readonly="readonly" /> </td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="content-tabla">
        <div class="tabla-header" style="height:34px">
            <div class="table-paginado" id="paginado"></div>
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="table-list" id="listado"></div>
        <div style="clear:both"></div>
    </div>    
</div>

<input type="hidden" id="hdnPericodi" value="0" />
<input type="hidden" id="hdnRecacodi" value="0" />
<input type="hidden" id="hdnEstado" value="" />
