@model COES.MVC.Intranet.Areas.Transferencias.Models.TransferenciaRentaCongestionModel

<table border="0" class="pretty tabla-adicional" cellspacing="0" width="100%" id="tabla">
    <thead>
        <tr>
            <th><font color="#FFFFFF">Empresa</font></th>
            <th><font color="#FFFFFF">Renta S/.</font></th>
            <th><font color="#FFFFFF">Reparto RND</font></th>
            <th><font color="#FFFFFF">Renta Total S/.</font></th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListRentaCongestion)
        {
            <tr class="menu-contextual">
                <td>@item.EmprNombre</td>
                <td style="text-align:right;">@(item.Rcrencrenta > 0 ? item.Rcrencrenta.ToString("N2") : "-")</td>
                <td style="text-align:right;">@(item.Reparto > 0 ? item.Reparto.ToString("N2") : "-")</td>
                <td style="text-align:right;">@(item.RentaTotal > 0 ? item.RentaTotal.ToString("N2") : "-")</td>                
            </tr>
        }
    </tbody>
</table>