@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Actualización de Datos";
}


<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>


<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Actualización</h3>
                    <h3 class="heading-5 mb-4 mt-4">Modificación de los datos del integrante registrado</h3>

                    <p style="margin-right: 30px;">
                        Para realizar modificaciones en la ficha de inscripción de las empresas registradas en el Sistema de Registro de Integrantes del COES, se podrá realizar de la siguiente manera:
                    </p>
                    <p style="margin-right: 30px;">
                        <strong>Domicilio Legal, Teléfonos, Dirección de Página Web o Persona de Contacto.</strong> – Podrá realizar desde el mismo modulo de Registro de Integrantes ubicado en la extranet del COES, donde el usuario acreditado podrá ingresar su usuario y contraseña, para luego realizar las modificaciones respectivas.
                    </p>
                    <p style="margin-right: 30px;">
                        <strong>Modificaciones de la razón o denominación social, Representante Legal o fusiones.</strong> – Podrá solicitar dichas modificaciones ingresar al modulo de Registro de Integrantes ubicado en la extranet del COES, donde el usuario acreditado podrá ingresar su usuario y contraseña, para luego adjuntar la documentación digitalizada según sea el caso. Dicha solicitud, tendrá un proceso de evaluación a través de la web para luego realizar la presentación de la documentación física a las instalaciones del COES, según lo mencionado en el Procedimiento Administrativo N°16A del COES.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>