@{
    ViewBag.Title = "Aportes de los Integrantes";
}


<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/RegistroDeIntegrantes.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 mb-md-4">
            @Html.Action("Index", "Browser", new { area = "", url = "Integrantes%2FAportes%20de%20los%20Integrantes%2F" })
            <div style="clear:both"></div>
        </div>
    </div>
</div>