@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consultas Frecuentes";
}

<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>


<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Consultas Frecuentes</h3>

                    <ul>
                        <li style="margin-right: 30px;">
                            <h5>¿En qué momento se produce el cambio de datos en el registro?</h5>
                            Para el caso del cambio de denominación o razón social, o de representante legal, es a partir del momento que el COES revisa y da
                            por válida la documentación sustentatorios remitida vía el sistema. Esto le será comunicado al integrante. Para los otros casos, esto es automático.
                        </li>
                        <li style="margin-right: 30px;">
                            <h5>
                                En caso de cambio de representante legal, ¿qué sucede con los
                                usuarios y contraseñas emitidos por el COES para tales personas?
                            </h5>
                            Hasta que no se produzca la aceptación de un cambio de representante, los Integrantes son responsables de las modificaciones que se realicen con los datos de acceso a sus
                            registros, que fueron brindados a cada uno de sus representantes.
                        </li>
                        <li style="margin-right: 30px;">
                            <h5>¿Cuántos representantes legales se pueden acreditar ante el COES?</h5>
                            Tantos como la empresa desee, siempre que cuente con las facultades suficientes
                        </li>
                        <li style="margin-right: 30px;">
                            <h5>
                                ¿Qué tipo de poderes se requieren para representar a una empresaante el COES?
                            </h5>
                            El COES es una entidad privada, por lo que los poderes de representación ante autoridades del sector público no son
                            aceptables. Se recomienda que las empresas otorguen los siguientes poderes a sus representantes: "Representar para todos los efectos a
                            la empresa ante el Comité de Operación Económica del Sistema (COES), pudiendo asistir con voz y voto a las asambleas que se convoque,
                            suscribir las actas que corresponda; presentar recursos de apelación y/o reconsideración, presentar solicitud de arbitraje, y en general
                            suscribir todos los documentos que correspondan ante el COES."
                        </li>
                        <li style="margin-right: 30px;">
                            <h5>¿A qué sede del COES se remiten los documentos de inscripción?</h5>
                            A la sede ubicada en la Av. Los Conquistadores N° 1144  piso 2, San Isidro.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>