@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Derechos del Integrante";
}


<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>


<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Derechos del Integrante</h3>

                    <p style="margin-right: 30px;">Son derechos de los Integrantes Registrados:</p>
                    <ul>
                        <li style="margin-right: 30px;">
                            Formular pedidos al Directorio y a la Dirección Ejecutiva relacionados al COES y a las decisiones que los órganos de gobierno
                            del COES adopten.
                        </li>
                        <li style="margin-right: 30px;">
                            Estudiar, revisar y/o proponer a la Dirección Ejecutiva los Procedimientos del COES que estimen necesarios, y cualquier
                            reglamento requerido para el funcionamiento del COES o para el cumplimiento de sus funciones.
                        </li>
                        <li style="margin-right: 30px;">
                            Impugnar en vía de reconsideración o apelación las decisiones que tome la Dirección Ejecutiva y en vía de reconsideración o arbitraje
                            los acuerdos que adopte el Directorio, conforme a los procedimientos establecidos en los Artículos Décimo Primero y Décimo Segundo del Estatuto.
                        </li>
                        <li style="margin-right: 30px;">
                            Someter a arbitraje las decisiones de la Asamblea, conforme a lo previsto en el Artículo Décimo del Estatuto.
                        </li>
                        <li style="margin-right: 30px;">
                            Participar y votar en la Asamblea, en la forma establecida en la Ley, el Reglamento y el Estatuto.
                        </li>
                        <li style="margin-right: 30px;">
                            Ejercer el derecho de denuncia contemplado en el 34.1 del Artículo Trigésimo Cuarto del Estatuto.
                        </li>
                        <li style="margin-right: 30px;">
                            Participar y votar en la designación del Presidente del Directorio y del Director a ser designado por los integrantes del
                            Subcomité al cual pertenece.
                        </li>
                        <li style="margin-right: 30px;">
                            Solicitar la remoción de cualquiera de los Directores por incurrir en las causales establecidas en el Artículo 17.4 de la Ley
                            y de acuerdo con lo señalado en el 34.1 del Estatuto.
                        </li>
                        <li style="margin-right: 30px;">
                            Participar en la elaboración y aprobación de los reglamentos requeridos para el funcionamiento del COES o para el cumplimiento de
                            sus funciones.
                        </li>
                        <li style="margin-right: 30px;">
                            Someter a los mecanismos de impugnación y de solución de controversias las divergencias que pudieran tener respecto de las
                            decisiones de la Asamblea, del Directorio y de la Dirección Ejecutiva, conforme al procedimiento establecido en el presente
                            Estatuto.
                        </li>
                        <li style="margin-right: 30px;">
                            Tener acceso a la información administrada o producida por el COES sobre la operación del SEIN, la planificación del sistema de
                            transmisión y la administración del Mercado de Corto Plazo.
                        </li>
                        <li style="margin-right: 30px;">
                            Los demás derechos que establezcan la Ley, el Reglamento, el Estatuto, los Procedimientos del COES, las Normas Técnicas y las
                            demás normas legales pertinentes.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
