@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registro de Integrantes";
}

<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        @*<div class="col col-md-3 order-1 order-md-0">
            <nav class="sidebar">
                <ul class="sidebar-nav list-unstyled">
                    <li class="sidebar-nav--item">
                        <a href="~/registrointegrante/integrante" class="sidebar-nav--link">Registro de Integrantes</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/registrointegrante/reporte/empresa" class="sidebar-nav--link">Listado de Integrantes</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/integrantes/index" class="sidebar-nav--link sidebar-nav--link-active">Información Adicional</a>
                    </li>
                    <li class="sidebar-nav--item">
                        <a href="~/Integrantes/AportesIntegrantes" class="sidebar-nav--link">Aportes de los Integrantes</a>
                    </li>
                </ul>
            </nav>
        </div>*@

        <div class="col col-md-12 mb-md-4">
            <div class="coes-box">

                <h2 class="heading-4 mb-0 heading-underlined mt-4" style="margin-left: 24px;">Información adicional</h2>
                <div class="container mt-4 sitemap-items">
                            <ul class="ps-3">
                                <li class="coes-box--title pb-2">
                                     Base Legal
                                </li>
                            </ul>
                            <div class="coes-button-column mt-4">
                                <a class="coes-button coes-button--icon coes-button--icon--download" href="~/browser/download?url=Integrantes/Reglamento COES/ReglamentoCOES-060511.pdf">Reglamento del COES Decreto Supremo No 027-2008-EM Actualizado al 18 de diciembre 2020</a>
                                <a class="coes-button coes-button--icon coes-button--icon--download" href="~/MarcoNormativo/Procedimientos/Administrativos">Procedimiento Administrativo 16 A</a>
                            </div>
                            <ul class="ps-3">
                                <li class="coes-box--title pb-2">
                                    Requisitos para ser integrante del COES
                                    <ul class="ps-3">
                                        <li><a href="~/Integrantes/Generadores">Generadores</a></li>
                                        <li><a href="~/Integrantes/Transmisores">Transmisores</a></li>
                                        <li><a href="~/Integrantes/Distribuidores">Distribuidores</a></li>
                                        <li><a href="~/Integrantes/UsuariosLibres">Usuarios Libres</a></li>
                                    </ul>
                                </li>
                                <li class="coes-box--title pb-2">
                                    Modificacion de Los datos del integrante Registrado
                                    <ul class="ps-3">
                                        <li><a href="~/Integrantes/Actualizacion">Actualización</a></li>
                                    </ul>
                                </li>
                                <li class="coes-box--title pb-2">
                                    Información adicional
                                    <ul class="ps-3">
                                        <li><a href="~/Integrantes/IntegranteOYV">Integrante Obligatorio y Voluntario</a></li>
                                        <li><a href="~/Integrantes/ResponsabilidadDI">Responsabilidad del Integrante</a></li>
                                        <li><a href="~/Integrantes/DerechosDI">Derechos del Integrante</a></li>
                                        <li><a href="~/Integrantes/ConsultasFrecuentes">Consultas frecuentes</a></li>
                                    </ul>
                                </li>
                                <li class="coes-box--title pb-2">
                                    Otras consultas relacionada al registro de integrantes
                                    <ul class="ps-3">
                                        <li><a href="mailto:registrointegrantes@coes.org.pe">registrointegrantes@coes.org.pe</a></li>
                                    </ul>
                                </li>
                            </ul>
                </div>
            </div>
                <div style="clear:both"></div>
            </div>
    </div>
</div>
