@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Integrantes - Obligatorio y Voluntario";
}


<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>


<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Integrante Obligatorio y Voluntario</h3>

                    <p style="margin-right: 30px;">
                        Los Integrantes Obligatorios del COES son todos los Agentes del SEIN que cumplen las siguientes condiciones, según corresponda:
                    </p>
                    <ul>
                        <li style="margin-right: 30px;">
                            Los Generadores cuya potencia instalada sea mayor o igual a 50 MW.
                        </li>
                        <li style="margin-right: 30px;">
                            Los Transmisores que operen sistemas de transmisión que pertenezcan al Sistema Garantizado de Transmisión o al Sistema
                            Principal de Transmisión, con un nivel de tensión no menor de 138 kV y cuya longitud total de líneas de transmisión no sea menor de 50
                            kilómetros, de acuerdo con los derechos otorgados.
                        </li>
                        <li style="margin-right: 30px;">
                            Los Distribuidores cuya máxima demanda coincidente anual de sus sistemas de distribución interconectados al SEIN, sea mayor o igual a 50 MW.
                        </li>
                        <li style="margin-right: 30px;">
                            Los Usuarios Libres cuya máxima demanda contratada en el SEIN sea mayor o igual a 10 MW.
                        </li>
                    </ul>
                    <p style="margin-right: 30px;">
                        En los Integrantes Voluntarios son los Agentes que su libre elección, en el Registro de Integrantes para adquirir la calidad de Integrante Registrado, debiendo
                        permanecer en esta calidad durante un periodo mínimo de tres (03) años.
                    </p>
                    <p style="margin-right: 30px;">
                        Los Integrantes Voluntarios que deseen dejar de ser Integrantes Registrados, deberán comunicarlo por escrito con una anticipación no menor de tres (03) meses,
                        siempre que cumpla con el periodo mínimo de permanencia de tres (03) años.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
