@{
    Layout = "~/Views/Shared/_LayoutIntegrantes.cshtml";
    ViewBag.Title = "Registro de Integrantes";
}

 <iframe width="100%" height="1250px" class="iframeCont" src="http://sicoes.coes.org.pe/wcoes/coes/integrantes/registro.aspx" frameborder="0"></iframe>


@section banner{    
    <div class="page-banner-title">
        <h1>Registro de Integrantes</h1>
        <span>            
        </span>
    </div>
    <img src="~/Content/Images/Banners/RegistroDeIntegrantes.jpg" alt="Registro de Integrantes" />
}