@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Responsabilidad del Integrante";
}



<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>


<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">Responsabilidad del Integrante</h3>

                    <p style="margin-right: 30px;">Son deberes de los Integrantes Registrados:</p>
                    <ul>
                        <li style="margin-right: 30px;">
                            Cumplir el Estatuto.
                        </li>
                        <li style="margin-right: 30px;">
                            Entregar a la Dirección Ejecutiva la información que ésta requiera para el cumplimiento de sus funciones, en la forma y
                            plazos establecidos en los Procedimientos del COES correspondientes.
                        </li>
                        <li style="margin-right: 30px;">
                            Cumplir las disposiciones del COES.
                        </li>
                        <li style="margin-right: 30px;">
                            Pagar oportunamente los aportes que les correspondan según el presupuesto aprobado del COES.
                        </li>
                        <li style="margin-right: 30px;">
                            Poner a disposición del COES, cuando corresponda, de manera oportuna y completa, los recursos necesarios para constituir las
                            garantías que respaldarán las TIE (Transacciones Internaciones de Electricidad), para lo cual los
                            Integrantes se sujetarán a los procedimientos que se establezcan para su cálculo y cobranza.
                        </li>
                        <li style="margin-right: 30px;">
                            Poner a disposición del COES, cuando corresponda, de manera oportuna y conforme a los procedimientos que para tal efecto se aprueben,
                            los recursos necesarios para pagar a los administradores del mercado de los sistemas eléctricos interconectados de otros países previstos en el RIIE, los importes que
                            correspondan a las importaciones de electricidad.
                        </li>
                        <li style="margin-right: 30px;">
                            Suministrar al COES, cuando corresponda, la información que éste requiera para la liquidación, facturación, cobro y/o pago de los
                            importes correspondientes a las TIE (Transacciones Internaciones de Electricidad).
                        </li>
                        <li style="margin-right: 30px;">
                            Los demás deberes que establezcan la LCE (Ley de Concesiones Eléctricas), el RLCE (Reglamento Ley de Concesiones Eléctricas), el
                            Reglamento, el Estatuto, los Procedimientos del COES, las Normas Técnicas y las demás normas legales pertinentes.
                        </li>
                    </ul>
                    <p style="margin-right: 30px;">
                        En los Integrantes Voluntarios son los Agentes que su libre elección, en el Registro de Integrantes para
                        adquirir la calidad de Integrante Registrado, debiendo permanecer en esta calidad durante un periodo mínimo de tres (03) años.
                    </p>
                    <p style="margin-right: 30px;">
                        Los Integrantes Voluntarios que deseen dejar de ser Integrantes Registrados, deberán comunicarlo por escrito
                        con una anticipación no menor de tres (03) meses, siempre que cumpla con el periodo mínimo de permanencia de tres (03) años.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
