@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Requisitos para ser Integrantes de COES - Transmisores";
}

<script type="text/javascript">
    $(function () {
        $("#btnRegresar").click(function () {
            history.back();
        });

    });
</script>
<div class="main-banner" style="margin-top: -15px; background-image: url(../Content/Images/Banners/promo-01.jpg)">
</div>
<div class="container">
    <div class="row">
        <div class="coes-form-item mb-2">
            <input type="button" style="line-height:5px;" class="coes-button" id="btnRegresar" value="Regresar">
        </div>
        <div class="col col-md-12 order-1 order-md-0">
            <div class="coes-box mb-4">
                <div class="col-12 col-lg-12" style="margin-left: 24px;">
                    <h3 class="heading-5 mb-4 mt-4">REQUISITOS PARA SER INTEGRANTE DEL COES - TRANSMISORES</h3>
                    <p style="margin-right: 30px;">
                        En el Artículo 3 del Reglamento del COES, se establecen las condiciones que deben cumplir los Transmisores a fin de que sean Integrantes del COES.
                    </p>
                    <p style="margin-right: 30px;">
                        Para inscribirse en el registro de Integrantes del COES las instalaciones del Agente deben de contar con el Certificado de Conformidad del Estudio de Operatividad, emitido por el COES según el Procedimiento Técnico "Ingreso, Modificación y Retiro de las Instalaciones en el SEIN (PR-20)".
                    </p>
                    <p style="margin-right: 30px;">
                        A continuación, la empresa debe de solicitar su inscripción a través de la página web del COES, adjuntando los siguientes documentos:
                    </p>
                    <ul>
                        <li style="margin-right: 30px;">
                            Carta de solicitud de inscripción dirigida al Director Ejecutivo del COES.
                        </li>
                        <li style="margin-right: 30px;">
                            Copia de la Resolución Suprema de Concesión Definitiva o Resolución Ministerial o Directoral que otorga concesión o autorización para desarrollar las actividades de Transmisión.
                        </li>
                        <li style="margin-right: 30px;">
                            Copia de la vigencia de poderes del representante legal de la empresa, expedida por Registros Públicos, con una antigüedad menor a tres (3) meses de la fecha de presentación de la solicitud.
                            (*) Se sugiere incorporar en la vigencia de poder el siguiente texto:
                            Representar de manera amplia a la Sociedad ante el Comité de Operación Económica del Sistema Interconectado Nacional (COES), contando también con todas las facultades generales de representación contenidas en el artículo 74° del Código Procesal Civil y especiales de representación contempladas en el artículo 75° del Código Procesal Civil, incluyendo, sin limitarse a ello, la facultad realizar declaraciones, presentar toda clase de escritos, de interponer recursos impugnatorios, solicitar su incorporación, desistirse y /o someter a arbitraje respecto a las decisiones que emita el COES. También, podrá representar a la Sociedad, con voz y voto, en las asambleas del COES y en cualquier acto del Subcomité del COES al cual pertenezca.
                            Asimismo, tendrá las más amplias facultades para representar a la Sociedad en el Mercado Mayorista de Electricidad, regulado por el Decreto Supremo Nro. 026-2016-EM o el que lo sustituya, pudiendo constituir, presentar, modificar, renovar, incrementar, reducir y/o ejecutar garantías, así como cualquier otro acto relacionado sin limitación, incluyendo la participación de la Sociedad en fideicomisos.
                            Podrá delegar y/o nombrar apoderados especiales en las facultades que le han sido conferidas frente al COES mediante cartas poder u otro tipo de instrumentos.
                        </li>
                        <li style="margin-right: 30px;">
                            Copia del documento de identidad del representante legal de la empresa.
                        </li>
                    </ul>

                    <p style="margin-right: 30px;">
                        Dicha documentación digitalizada será evaluada a través de la página web, una vez aceptada se deberá de presentar de forma impresa a la sede del COES en Av. Los Conquistadores N° 1144 Piso 2, San Isidro. En un plazo máximo de 15 días hábiles, el COES pronunciará la aceptación del Integrante mediante carta emitida por la Dirección Ejecutiva para el acceso al Sistema de Registro de Integrante.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
