@model COES.MVC.Intranet.Areas.Medidores.Models.GestionAdministradorModel
<div class="search-content"><strong> REPORTE DE CUMPLIMIENTO : </strong> FORMATO - @Model.NombreFortmato</div>
@Html.Raw(Model.Resultado)

<p>LEYENDA:</p>
<table border="0" style="width:100px;">
    <tr>
        <td style="background-color:steelblue;color:white;width:100px;">EN PLAZO</td>
    </tr>
    <tr>
        <td style="background-color:orange;color:white">FUERA DE PLAZO</td>
    </tr>
</table>
