@model COES.MVC.Intranet.Areas.IEOD.Models.TopologiaElectModel
<script>
    $('#cbTipoEquipoHijo').val(-1);

    $('#cbTipoEquipoHijo').change(function () {
        cargarEquipoHijoPopup();
    });
    cargarEquipoHijoPopup();
</script>


<select id="cbTipoEquipoHijo" name="cbTipoEquipoHijo">
    <option value="-1">--SELECCIONE--</option>
    @foreach (var item in Model.ListaTipoEquipos)
    {
        <option value="@item.Famcodi">@item.Famnomb</option>
    }
</select>