@model COES.MVC.Intranet.Areas.IEOD.Models.TopologiaElectModel


<select id="cbEquipoHijo" name="cbEquipoHijo" style="font-family:monospace; width:300px">
    <option value="-1">--SELECCIONE--</option>
    @foreach (var item in Model.ListaEquipos)
    {
        <option value="@item.Equicodi">@item.Equinomb</option>
    }
</select>
