@model COES.MVC.Intranet.Areas.IEOD.Models.TopologiaElectModel
<script>
    $('#cbEquipoPadrePopup').val($('#hfEquipoPadreoPopup2').val());

    $('#cbEquipoPadrePopup').change(function () {
        $('#filtrosEquipos').hide();
    });
</script>

<select id="cbEquipoPadrePopup" name="cbEquipoPadrePopup" style="width:250px;" @Model.ActFiltroEquipoPadre>
    <option value="-1">--SELECCIONE--</option>
    @if (Model.ListaEquiposPadres.Count > 0)
    {
        foreach (var item in Model.ListaEquiposPadres)
        {
            <option value="@item.Equicodi">@item.Equinomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>
<input type="hidden" id="hfEquipoPadreoPopup2" value="@Model.IdEquipopadre" />

