@model COES.MVC.Intranet.Areas.IEOD.Models.TopologiaElectModel
<script>

    $('#cbTipoEquipoPadre').multipleSelect({
        width: '250px',
        //filter: true
    });
    $('#cbTipoEquipoPadre').multipleSelect('checkAll');

</script>

<select id="cbTipoEquipoPadre" name="cbTipoEquipoPadre" multiple="multiple">
    @if (Model.ListaTipoEquipos.Count > 0)
    {
        foreach (var item in Model.ListaTipoEquipos)
        {
            <option value="@item.Famcodi">@item.Famnomb</option>
        }
    }
    else
    {
        <option value="0">No existen registros..</option>
    }
</select>
<input type="hidden" id="hfTipoEquipPadre" />
