@model COES.MVC.Publico.Models.SearchModel
@{
    ViewBag.Title = ".::Portal COES - Búsqueda::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/search.js"></script>
<script src="~/Content/Scripts/pdfobject.js"></script>
<script src="~/Content/Scripts/jquery.highlight.js"></script>

<div class="main-banner" style="margin-top: -15px; background-image: url(../Portal/Content/Images/Banners/Centrodebusqueda.jpg) ">
</div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3 order-1 order-md-0">
            <div class="content-search coes-box" style="overflow: hidden;" id="contenedorBusqueda">
                <div class="coes-form-item mb-4">
                    <label class="mt-4" style="margin-left: 24px; font-weight: bold;">Filtro:</label>
                    <input class="mt-2" style="margin-left: 24px; width: 230px;" id="txtFiltro" type="text" value="@Model.Texto" />
                </div>
                <div class="coes-form-item">
                    <label style="margin-left: 24px; margin-bottom: 12px; font-weight: bold;">Extensión:</label>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="" checked="checked" />
                        @*<img src="~/Content/Images/Document/defaulticon.png" />*@
                        TODOS
                    </div>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="xls" />
                        @*<img src="~/Content/Images/Document/xlsicon.png" />*@
                        EXCEL
                    </div>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="doc" />
                        @*<img src="~/Content/Images/Document/docicon.png" />*@
                        WORD
                    </div>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="ppt" />
                        @*<img src="~/Content/Images/Document/ppticon.png" />*@
                        POWER POINT
                    </div>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="pdf" />
                        @*<img src="~/Content/Images/Document/pdficon.png" />*@
                        PDF
                    </div>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="csv" />
                        @*<img src="~/Content/Images/Document/csvicon.png" />*@
                        CSV
                    </div>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="zip" />
                        @*<img src="~/Content/Images/Document/zipicon.gif" />*@
                        ZIP
                    </div>
                    <div class="coes-form-item" style="margin-left: 24px;">
                        <input type="radio" name="radioExtension" value="rar" />
                        @*<img src="~/Content/Images/Document/raricon.png" />*@
                        RAR
                    </div>
                </div>
                <div class="coes-form-item mb-4" style="width:120px; margin:auto;">
                    <input type="button" style="background: white; line-height: 1px;" class="coes-button" id="btnBuscar" value="Buscar">
                </div>
                @*<div class="coes-form-item">
                    <input id="btnBuscar" type="button" value="Buscar" />
                </div>*@
                <!--<table class="content-tabla-search-pad20" style="width:100%">-->
                @*<tr>
            <td>Filtro:</td>
            <td>
                <input id="txtFiltro" type="text" style="width:180px" value="@Model.Texto" />
            </td>
        </tr>*@
                <!--<tr>
            <td>Extensión:</td>
            <td>
                <ul>
                    <li>
                        <input type="radio" name="radioExtension" value="" checked="checked" />
                        <img src="~/Content/Images/Document/defaulticon.png" />
                        Todos
                    </li>
                    <li>
                        <input type="radio" name="radioExtension" value="xls" />
                        <img src="~/Content/Images/Document/xlsicon.png" />
                        Excel
                    </li>
                    <li>
                        <input type="radio" name="radioExtension" value="doc" />
                        <img src="~/Content/Images/Document/docicon.png" />Word
                    </li>
                    <li>
                        <input type="radio" name="radioExtension" value="ppt" />
                        <img src="~/Content/Images/Document/ppticon.png" />Presentación
                    </li>
                    <li>
                        <input type="radio" name="radioExtension" value="pdf" />
                        <img src="~/Content/Images/Document/pdficon.png" />PDF
                    </li>
                    <li>
                        <input type="radio" name="radioExtension" value="csv" />
                        <img src="~/Content/Images/Document/csvicon.png" />CSV
                    </li>
                    <li>
                        <input type="radio" name="radioExtension" value="zip" />
                        <img src="~/Content/Images/Document/zipicon.gif" />ZIP
                    </li>
                    <li>
                        <input type="radio" name="radioExtension" value="rar" />
                        <img src="~/Content/Images/Document/raricon.png" />RAR
                    </li>
                </ul>

            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center">
                <input id="btnBuscar" type="button" value="Buscar" />
            </td>
        </tr>
    </table>-->
            </div>

                <div style="clear:both"></div>


            </div>
        <div class="col col-md-9 mb-md-4">
            <div class="page-rigth" style="margin-left:20px">

                <div class="page-text mb-4">
                    <h2>Resultado de la búsqueda</h2>
                </div>
                <div id="mensaje"></div>

                <div style="clear:both"></div>
                <div id="listaResultado">
                </div>
                <div id="paginado">
                </div>

            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    </div>