@model COES.MVC.Intranet.Areas.Despacho.Models.HTrabajoModel
@{
    ViewBag.Title = "Configuración de Generación RER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<link href="~/Areas/Despacho/Content/Css/css.css" rel="stylesheet" />
<link href="~/Areas/Despacho/Content/Css/Despacho.css" rel="stylesheet" />
<script src="~/Areas/Despacho/Content/Scripts/htrabajo.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Configuración de Centrales RER</div>

    <div class="content-botonera">
        <input type="button" id="btnNuevo" value="Nuevo">
    </div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" style="margin:0; margin-bottom:10px; display: none"></div>

    <div id="div_reporte" class="content-tabla">

    </div>

</div>

<div id="popup_formulario" class="general-popup" style="z-index:9999999998;">
    <div> <span class="button b-close"><span>X</span></span></div>
    <div class="popup-title"><span></span></div>

    <div id="div_formulario">
    </div>
</div>