@model COES.MVC.Intranet.Areas.Despacho.Models.HTrabajoModel
@{
    ViewBag.Title = "Carga de archivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Scripts/multiselect.js"></script>
<link href="~/Content/Css/multiselect.css" rel="stylesheet" />

<script src="~/Areas/Despacho/Content/Scripts/htrabajoEjecucion.js?v=1.0"></script>

<div class="form-title">
    <div class="content-titulo">Carga de archivos de generación RER</div>
</div>

<div class="content-hijo" id="mainLayout">
    <div id="mensaje" class="action-message" style="margin:0; margin-bottom:10px; display: none"></div>

    <div class="search-content">
        <table>
            <tr>
                <td style="vertical-align: middle;">
                    <table class="content-tabla-search tabla_filtro_ho" style="width:auto">
                        <tr>
                            <td class="tbform-label">Fecha:</td>
                            <td>
                                <input type="text" id="txtFecha" value="@Model.Fecha" style="width: 94px;" />
                            </td>
                            <td class="tbform-label" style="padding-left: 15px;">Media Hora:</td>
                            <td>
                                <select id="cbMediaHora" style="width:61px;">
                                    @for (var i = 0; i < 48; i++)
                                    {
                                        string hora = "0" + ((i + 1) / 2).ToString();
                                        hora = hora.Substring((hora.Length > 2) ? 1 : 0, 2);
                                        string minuto = "0" + (((i + 1) % 2) * 30).ToString();
                                        minuto = minuto.Substring((minuto.Length > 2) ? 1 : 0, 2);
                                        string horarmin = hora + ":" + minuto;
                                        <option value="@(i+1)">@horarmin</option>
                                    }
                                </select>
                                @if (Model.TienePermisoAdmin)
                                {
                                    <input type="button" id="btnEjecManual" value="Ejecución manual" />
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</div>