@{
    ViewBag.Title = "FileCarga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Carga de archivos Portal Web</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" style="padding:0px">
    <iframe src="@(ViewBag.UrlFileApp)home/carga?user=@ViewBag.Usuario" width="100%" height="900" frameborder="0"></iframe>
</div>