@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-title">
    <div class="content-titulo">Administración de archivos</div>
    <div class="content-botonera">
    </div>
</div>

<div class="content-hijo" style="padding:0px">
    <iframe src="http://www.coes.org.pe/filemanagerapp" width="100%" height="900" frameborder="0"></iframe>
</div>