@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.ConfiguracionEstimadorModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/ConfiguracionEstimador/configuracion_asociacion.js?v=2.3"></script>
<div id="main" data-msg="some text" data-tpo="info">
    <div class="ws-wrapper" style="min-height: 600px;">
        <div class="ws-options is-left">
            <div class="tool-item">
                <label id="btnCrearRelacion" title="Agrupar Cargas">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-agrupacion.png" />
                </label>
            </div>
            <div class="tool-item">
                <label id="btnRegistrarDefecto" title="Registra el perfíl defecto">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-defecto.png" />
                </label>
            </div>
            <div class="tool-item">
                <label id="btnExportar" title="Exportar Pronóstico por Barras">
                    <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-excel.png" />
                </label>
            </div>
        </div>
        <div class="ws-content is-middle">
            <div class="ws-content-header">
                <div class="filters">
                    <div>Tipo</div>
                    <select id="selTipos">
                        <option value="radial" selected>Radial</option>
                        <option value="anillo">Anillo</option>
                    </select>
                </div>
                <div class="filters">
                    <div>Barra CP</div>
                    <select id="selBarras"></select>
                </div>
                <div class="filters">
                    <div>Fecha</div>
                    <input id="selFecha"
                           type="text"
                           style="width: 150px;"
                           value="@Model.Fecha" />
                </div>
            </div>
            <div class="ws-content-body">
                <div class="ws-wrapper" style="height: 500px;">
                    <div id="ht"
                         style="min-width: 500px; overflow: auto;"></div>
                    <div id="hc"
                         style="width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="ws-tools as-box-container is-right">
            <div class="box">
                <div class="box-title">
                    Herramientas
                </div>
                <div class="box-body">
                    <input id="med1" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med2" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med3" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med4" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med5" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med6" type="text" class="toolHistorico ws-tool-calendar" />
                    <input id="med7" type="text" class="toolHistorico ws-tool-calendar" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup-relacion" class="general-popup" style="min-width: 500px; min-height: 700px;">
    <span class="button b-close"><span>X</span></span>
    <div class="popup-title">
        <span>Mantenimiento de Relaciones</span>
        <input id="btnRegistrarAsociacion" class="ws-float-r" type="button" value="Guardar cambios" />
    </div>
    <div class="popup-text">
        <div id="pop-mensaje" style="display: none"></div>
        <div id="pop-alert" style="display: none"></div>
        <div class="v-panel">
            <div class="ws-wrapper is-menu" style="margin-bottom: 10px">
                <div style="margin-right: 10px;">
                    <label id="btnPopNuevo" title="Agregar registro">
                        <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-nuevo.png" />
                    </label>
                </div>
                <div style="margin-right: 10px;">
                    <label id="btnPopActualizar" title="Actualizar registro">
                        <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-update.png" />
                    </label>
                </div>
                <div>
                    <label id="btnPopEliminar" title="Eliminar registro">
                        <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-delete.png" />
                    </label>
                </div>
            </div>
            <div style="width: 100%; margin-bottom: 10px;">
                <div style="padding-right: 5px;">
                    <label>Nombre de la asociación</label>
                    <input id="txtPopNombre" type="text" style="width: 100%;" />
                </div>
            </div>
            <div style="width: 100%; margin-bottom: 10px;">
                <div>
                    Formula de componente vegetativa
                </div>
                <div class="ws-wrapper">
                    <select id="selComponenteVegetativa" class="filtroSimple" style="width: 100%"></select>
                </div>
            </div>
            <div class="ws-wrapper" style="margin-bottom: 10px">
                <table id="dtRelaciones" class="pretty table-icono" style="width: 500px;"></table>
            </div>
            <div style="width: 100%; margin-bottom: 10px;">
                <div>
                    Seleccione las barras CP a relacionar
                </div>
                <div class="ws-wrapper">
                    <select id="selPopBarrasCP" class="filtroMultiple" style="width: 100%"></select>
                </div>
            </div>
            <div style="width: 500px;">
                <div id="htBarras"></div>
            </div>
        </div>
    </div>
</div>
