@model COES.MVC.Intranet.Areas.PronosticoDemanda.Models.ConfiguracionEstimadorModel
<script src="~/Areas/PronosticoDemanda/Content/Scripts/ConfiguracionEstimador/configuracion_dias.js"></script>

<div class="h-panel" style="min-height:432px;">
    <div class="h-panel-tool">
        <div class="tool-item">
            <label id="btn-guardar" title="Guardar cambios">
                <img src="~/Areas/PronosticoDemanda/Content/Images/prn-ico-guardar.png" />
            </label>
        </div>        
    </div>
    <div id="main" class="h-panel-main" data-msg="@Model.Mensaje" data-tpo="@Model.TipoMensaje">
        <div class="v-panel" style="padding: 10px 5px 5px 5px;">
            <div style="margin-bottom: 10px; border-bottom: 1px solid #d9e8f3;">
                <div class="parametros-group h-panel" style="margin-bottom: 0px;">
                    <div style="margin-right: 15px;">
                        <div class="chk-single">
                            <label>
                                <input id="Cnfdiaferiado" type="checkbox" />Feriado
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="feriado" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="feriado" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div style="margin-right: 15px;">
                        <div class="chk-single">
                            <label>
                                <input id="Cnfdiaatipico" type="checkbox" />Atípico
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="atipico" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="atipico" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="chk-single">
                            <label>
                                <input id="Cnfdiaveda" type="checkbox" />Veda
                            </label>
                        </div>
                        <div style="margin-left: 10px">
                            <label>
                                <input type="radio" name="veda" value="S" disabled />Si
                            </label>
                            <label>
                                <input type="radio" name="veda" value="N" disabled />No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-panel" style="margin-bottom: 5px;">
                <div class="filters">
                    <div>Desde</div>
                    <input id="id-desde" type="text" class="f-fecha" value="@Model.FechaIni" />
                </div>
                <div class="filters">
                    <div>Hasta</div>
                    <input id="id-hasta" type="text" class="f-fecha" value="@Model.FechaFin" />
                </div>
            </div>
            <div style="width:500px;">
                <div id="ht" style="min-width: 500px; min-height:500px; overflow: auto;"></div>
            </div>
        </div>
    </div>
</div>