@model COES.MVC.Intranet.Areas.PrimasRER.Models.PrimasRERBI
@{
    ViewBag.Title = "Egreso de Potencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/PrimasRER/Content/Css/css.css?v=1.0.0" rel="stylesheet" />
<link href="~/Areas/PrimasRER/Content/Css/portalinformacion.css?v=1.0.0" rel="stylesheet" />

<style>
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

        .embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
        }
</style>
<div class="form-title">
    <div class="content-titulo">Egreso de Potencia</div>
    <div class="content-botonera"></div>
</div>
<!--CUP28-->
<div class="content-hijo" id="mainLayout">
    <div class="embed-container">
        <div id="@Model.sId" class="tabcontent">
            <div id="tab-1" class="@Model.sId"></div>
        </div>
    </div>
</div>
<input type="hidden" id="sName" value="@Model.sName">

<script src="~/Content/Scripts/jqueryui.js"></script>
<script src="~/Content/Scripts/powerbi.min.js"></script>
<script src="~/Areas/PrimasRER/Content/Scripts/powerbi.report.js?v1.0.0"></script>