@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.RecalculoModel

@{
    ViewBag.Title = "Nuevo Registro - Revisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un nuevo recálculo" }, { "sAccion", "Insertar" } })
</div>

