@model COES.MVC.Intranet.Areas.CompensacionRSF.Models.RecalculoModel

@{
    ViewBag.Title = "Ingresar Recalculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar Recalculo" }, { "sAccion", "Grabar" } })
</div>

