@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.GruposVsUnidadesModel
@{
    ViewBag.Title = "Editar Grupos Vs Unidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Editar Grupos Vs Unidades" }, { "sAccion", "Actualizar" } })
</div>