@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sMensajeExito = TempData["sMensajeExito"];
}

<link href="~/Areas/AporteIntegrantes/Content/Css/transferencia.css" rel="stylesheet" />
<script src="~/Areas/AporteIntegrantes/Content/Scripts/gruposvsunidades.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function ()
        { $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300); }, 3000);
    }
    );
</script>
<div class="ast">
    @if (@sMensajeExito != null)
    {<div class="exito mensajes">@sMensajeExito</div>}
    <div class="form-title">
        <div class="content-titulo" style="width:auto">Equivalencia entre Grupos y Unidades</div>
        <div class="content-botonera">
            <input type="button" value="Nuevo" id="btnNuevo" onclick="location.href='@Url.Action("New","CostoMarginalVsEquipo")'" alt="Insertar un nuevo registro" title="Insertar un nuevo registro" />
        </div>
    </div>
    <input type="hidden" value="1" id="index" />
    <div class="content-hijo" style="padding-top:8px">
        <div class="listado" id="listado">
        </div>
    </div>
</div>
