@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.GruposVsUnidadesModel

@{
    ViewBag.Title = "Nuevo Grupos Vs Unidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Ingresar un nuevo Grupos Vs Unidades" }, { "sAccion", "Insertar" } })
</div>