@model COES.MVC.Intranet.Areas.AporteIntegrantes.Models.GruposVsUnidadesModel

@{
    ViewBag.Title = "Corregir error en la información del Grupos Vs Unidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("Form", Model, new ViewDataDictionary { { "sTitulo", "Corregir error en la información del Grupo Vs Unidad" }, { "sAccion", "Grabar" } })
</div>