@model COES.MVC.Intranet.Areas.TiempoReal.Models.BusquedaTrCircularSp7Model
@using System.Globalization

<div style="clear:both; height:15px"></div>
<form id="frmEnvio" class="form-search" method="get" action="">
    <div id="reporte" style="text-align: center" class="content-scroll">
        <table id="tabla" border="0" class="pretty tabla-adicional" cellspacing="0">
            <thead>
                <tr>
                    <th>Fecha Hora Origen</th>
                    <th>Fecha Hora Llegada</th>
                    <th>Calidad</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaTrCircularSp7Grafica)
                {
                    <tr>
                        <td>@item.Fecha.ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFullMs)</td>
                        <td>@item.FechaSistema.ToString(COES.MVC.Intranet.Helper.Constantes.FormatoFechaFullMs)</td>
                        <td>@item.CalidadTexto</td>
                        <td>@item.Valor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>