.formula-head
{
    text-align: center;
	background: #2980B9;
    color:#ffffff;
    cursor:pointer;
    font-weight:bold;
}

.formula-group
{
    color:#3D90CB;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;    
}

.formula-item
{
    border:1px solid #dddddd;
    text-align:center;
}

.content-holder
{
    position:relative; 
    margin:0px auto; 
    padding:0px; 
    width: 450px; 
    height: 100%; 
    overflow: hidden; 
}

.content-holder-tunning
{
    position:relative; 
    margin:0px auto; 
    padding:0px; 
    width: 180px; 
    height: 610px; 
    overflow: hidden; 
}

#tablaPromedio tr td input[type='text'], #tablaPromedioMedia  tr td input[type='text']{
    height:12px;
    line-height:12px;
    background:#fff;
    width:30px;
    border:1px solid #dddddd;
    font-size:11px;
}

#tablaPromedio
{
    border-collapse:collapse;
    border-spacing: 0px;
}

.formula-ajuste tr td
{
    padding-right:10px;    
}

.formula-ajuste tr td.ajuste-label
{
    vertical-align:middle;
    padding-right:10px;   
}

#chartTooltip
{
    position:absolute;
    width:220px;
    height:20px;
    left:50px;
    top:50px;
    z-index:1000;
}


#popupGrabar textarea
{	
	font-size:11px;
    width:300px;
    background-color:#F2F4F3;
	border:1px solid #CBD3CF;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	
	height:50px;
	text-indent:8px;
	font:12px "arial", sans-serif;
	color:#4876AA;
    margin-top:10px;
    
}

#popupGrabar textarea:active
{
    background-color:#FFFFD7;   
}

#popupGrabar textarea:hover
{
    background-color:#FFFFD7;   
}

.formula-subtitulo 
{
    color:#428BD3;
    font-size:14px;
    font-weight:bold;
    text-transform:none;
    margin-top:10px;
    margin-bottom:10px;
}

.div-importar 
{    
    border:3px solid #2980B9;   
    width:460px;
    min-height:160px;
    position:absolute;
    display:none;
    font-size:12px;
    right:20px;
    z-index:20000;
    background-color:#fff;    
    height:auto;
}

.div-importar-close 
{
    float:right;
    font-weight:bold;
    font-size:14px;
    margin:5px;
    height:20px;
    cursor:pointer;
}

.div-importar-close:hover {
    color:#FF770D;
}

.div-importar-content {
    width:auto;
    height:auto;
    margin:20px;
}

.div-importar-boton {
    width:70px;
    margin:auto;
    margin-top:10px;
}

.form-importar-content {
    width:auto;   
    background:#E8F6FF;
	border:2px solid #B8E2FB; 
	padding:5px;
	text-indent:15px;	
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    line-height:20px;
    margin-top:10px;
}

.form-importar-item {
    float:left;    
    width:auto;
}


.content-registro table
{
    border-collapse:collapse;
    border-spacing:0;
    border:1px;
}

.content-registro table tr td.registro-label 
{
    border:1px solid #EAEAEA;
    text-indent:10px;
    vertical-align:central;
    background-color:#F9F9F9;
    vertical-align:middle;
}

.content-registro table tr td.registro-control 
{
     vertical-align:middle;
     border:1px solid #EAEAEA;
     padding: 3px 0 3px 10px;
}

.content-registro table tr td.registro-control textarea 
{
    border:1px solid #CBD3CF;
    border-radius:5px;
    height:60px;
    width:400px;   
}