@{
    Layout = null;
    ViewBag.Title = "Default";
}
<script src="~/Areas/Resarcimientos/Content/Scripts/ntcse-periodo.js"></script>
<script src="~/Areas/Resarcimientos/Content/Scripts/validCampoFranz.js"></script>
<link href="~/Areas/Resarcimientos/Content/Css/css.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        //Para escribir solo numeros
        $('#txtanio').validCampoFranz('0123456789');
        $('#txtperiodo').validCampoFranz(' abcdefghijklmnñopqrstuvwxyzáéiou');
    });
</script>

<div class="search-content" style="width:330px">
    <div class="messaje-error mensaje-content-error"></div>
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width:50px;">A&ntilde;o : </span>
            <div class="field-control" style="margin-right:10px">
                <input maxlength="4" style="width:100px" type="text" name="txtanio" id="txtanio" />
            </div>
        </div>
        <div class="field-wrap">
            <span class="field-label" style="width:50px;">Per&iacute;odo: </span>
            <div class="field-control" style="margin-left:10px">
                @Html.DropDownList("periodo", ViewData["periodo"] as List<SelectListItem>, new { @style = "width:100px" })
            </div>
        </div>
    </div>
    <div class="field-group">
        <div class="field-wrap">
            <span class="field-label" style="width: 50px; margin-top: 10px">Estado: </span>
            <div class="field-control" style="margin-top:10px">
                @Html.DropDownList("CboEstado", ViewData["CboEstado"] as List<SelectListItem>, new { @style = "width:100px" })
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="field-group">
        <center>
            <div>
                <input style="margin-top:15px" id="btnAgregarPeriodo" type="button" value="Agregar" />

                <input id="btnCancelar" type="button" value="Cancelar" class="b-close" />
            </div>
        </center>
    </div>
</div>