/*Fix multipleselect dropdown width*/
.ms-drop {
    width: auto;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    overflow-y: scroll !important;
}

.dt-to-left {
    text-align: left !important;
    padding-left: 10px !important;
}

/*Extension for DataTable*/
/*
.dt-body-left {
    text-align: left !important;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner table {
    width: 100% !important;  
}

#int-table tbody tr.odd:hover td, #int-table tbody tr.odd.selected {
    background: #fbf4bf;
}

#int-table tbody tr.even:hover td, #int-table tbody tr.even.selected {
    background: #fbf4bf;
}
*/