/*#validaciones,#newDesconexion,#nuevoformato, #enviosanteriores, #newHorasOperacion, #enviosanteriores, #enviosHorasOperacion, #newRestricciones*/
.popup-class-1, .general-popup, .popup_app {
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 380px;
    padding: 25px;
}

/*#confirmarClose,#newDesconexion, #enviosanteriores*/
.popup-class-2 {
    min-height: 250px;
    min-width: 280px;
}
/*#idGrafico*/
.popup-class-3 {
    min-height: 550px;
    min-width: 580px;
}

.headpage {
    background: #4682B4;
    width: 100%;
    height: 50px;
    color: white;
    text-indent: 30px;
}

    .headpage img {
        float: left;
        height: 50px;
    }

.divexcel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 99%;
    display: inline-block;
    vertical-align: top;
}


.headexcel {
    z-index: 9999;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.bodyexcel {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.panelinfo {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    height: 500px;
    width: 150px;
    border: 1px solid;
    padding: 21px;
}

.content-action {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
}

    .content-action a {
        text-decoration: none;
        color: #278CCC;
    }

        .content-action a:hover {
            color: #ff6a00;
        }

.content-item-action {
    height: 35px;
    line-height: 14px;
}

    .content-item-action img {
        height: 25px;
        width: 25px;
        margin: auto;
    }

    .content-item-action span {
        font-size: 12px;
        text-decoration: none;
    }


.perturbacion-content {
    width: 100%;
    height: 100%;
}

.perlnk {
    width: 22%;
    float: left;
    margin-left: 0px;
}

.estilodelete {
    background-image: url('../../../../content/images/ico-delete.gif');
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
}

.estilocombo {
    background-image: url('../../../../content/images/select.png');
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
}

.perlnk-item {
    height: 28px;
    background-image: url('../../../../content/images/fnd-section.png');
    background-repeat: no-repeat;
    width: 220px;
    text-indent: 30px;
    line-height: 28px;
}

    .perlnk-item a {
        cursor: pointer;
    }

.peritems {
    width: 73%;
    float: left;
    margin-left: 20px;
}

.peritem {
    margin-bottom: 25px;
}

.peritem-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #428BD3;
}

.peritem-titlle-label {
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    color: #428BD3;
}

.peritem-titlle-value {
    float: left;
}

.peritem-title div {
    float: right;
    margin-bottom: 10px;
}

.tb-perturbacion {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}

    .tb-perturbacion thead tr {
        background-color: #2980B9;
        color: #fff;
        text-align: center;
        font-weight: bold;
        line-height: 22px;
    }

    .tb-perturbacion tbody tr td {
        border: 1px solid #DDDDDD;
        line-height: 24px;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: middle;
        text-align: center;
    }

        .tb-perturbacion tbody tr td textarea, .peritem textarea {
            font-size: 11px;
            width: 99%;
            background-color: #F2F4F3;
            border: 1px solid #CBD3CF;
            -webkit-border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            height: 40px;
            text-indent: 8px;
            font: 12px "arial", sans-serif;
            color: #4876AA;
        }

            .tb-perturbacion tbody tr td textarea:active, .peritem textarea:active {
                background-color: #FFFFD7;
            }

            .tb-perturbacion tbody tr td textarea:hover, .peritem textarea:hover {
                background-color: #FFFFD7;
            }

.contet-leyenda {
    border: 2px solid #F2DD8C;
    background-color: #FFF5CC;
    padding: 7px;
    padding-left: 12px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    z-index: 2000;
    position: absolute;
    width: 380px;
    height: 240px;
    display: none;
    top: -0px;
}

    .contet-leyenda table tr {
        line-height: 15px;
    }

        .contet-leyenda table tr td {
            font-size: 10px;
            width: auto;
            line-height: 15px;
            color: #3D90CB;
        }



.formula-subtitulo {
    color: #428BD3;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
}


.tabla-registro {
}

    .tabla-registro tr {
        line-height: 27px;
    }

        .tabla-registro tr td textarea {
            width: 400px;
            height: 60px;
            border: 1px solid #dddddd;
        }
/*tooltip*/
.toolTipBox {
    display: none;
    border-color: #788794;
    font-family: verdana;
    position: absolute;
    background-color: #788794;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    padding: 4px 12px;
    text-align: left;
    width: 400px;
}

.tdPadd {
    padding-left: 10px;
}

.tdSeparate {
    width: 10px;
    background-color: white;
    border: 1px solid white;
}

.hora {
    background-color: blue;
}



.tabla-horas tbody tr td {
    vertical-align: middle;
    padding: 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    text-align: center;
    border: 1px solid #dddddd;
}

    .tabla-horas tbody tr td a img {
        width: 18px;
        height: 18px;
        margin-top: auto;
    }

.trEquipo {
    background-color: aliceblue;
}

div.vertical-line {
    width: 3px; /* Line width */
    background-color: red; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left;
    position: relative;
    top: 0px;
    z-index: 300;
}

div.vertical-line2 {
    width: 3px; /* Line width */
    background-color: green; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left;
    position: relative;
    top: 0px;
    z-index: 300;
}

div.horasoperacion {
    border: 1px solid #848484;
    height: 200px; /* Line height */
    background-color: green; /* Line color */
    position: absolute;
    top: 20px;
    left: 500px;
}


.thHora {
    width: 20px; /*Aquí va el ancho de la Celda*/
}

.th01 {
    width: 200px; /*Aquí va el ancho de la Celda*/
}

.th02 {
    width: 100px; /*Aquí va el ancho de la Celda*/
}

.th03 {
    width: 150px; /*Aquí va el ancho de la Celda*/
}

.th04 {
    width: 12px; /*Aquí va el ancho de la Celda*/
}

.resaltar {
    background-color: #F5FFD7;
    cursor: pointer;
    border: 2px solid #b5de31;
}


/**ESTILOS ADICIONALES JCP**/

.search-content2 {
    background-color: #E0E3E6;
    border: 1px solid #D9E8F3;
    padding: 5px;
    width: auto;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 0px;
}

    .search-content2 select {
        background-color: #fff;
        width: 100px;
        font-size: 10px;
        color: #2b6381;
    }

    .search-content2 label {
        width: 100px;
        font-size: 12px;
        color: #0d3150;
    }

.search-content3 {
    background-color: #EDF5FC;
    border: 1px solid #D9E8F3;
    padding: 5px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 1px;
}

    .search-content3 select {
        background-color: #fff;
        width: 100px;
        font-size: 10px;
        color: #3f6bc3;
    }

    .search-content3 label {
        width: 100px;
        font-size: 12px;
        color: #4bbde3;
    }

.panel-ieod {
    border: 2px solid #D9E8F3;
    height: 600px; /* Line height */
    width: 260px;
    background-color: #f3f8fb; /* Line color */
    position: absolute;
    top: 107px;
    left: 10px;
    border-radius: 4px;
    z-index: 3000;
    padding: 5px;
}

    .panel-ieod label {
        width: 100px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: #2783c8;
        padding-bottom: 10px;
    }

    .panel-ieod a {
        text-decoration: none;
        font-size: 14px;
    }

        .panel-ieod a:visited, a:hover {
            color: #253a44;
        }

.celda-div {
    border: 2px solid #D9E8F3;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 2px;
    width: 80px;
    background: #bbd1e1;
    color: #253a44;
}

.celda-enter-div {
    border: 2px solid #D9E8F3;
    border-top: 2px solid black;
    border-left: 2px solid black;
    padding: 2px;
    width: 80px;
    background: #5a94c0;
    color: #f3f3e1;
}

.celda-estado-div {
    border: 1px solid #9C9FA2;
    padding: 2px;
    width: 10px;
    background: #bbd1e1;
    color: #253a44;
}

.celda-estado-enter-div {
    border: 1px solid #9C9FA2;
    padding: 2px;
    width: 10px;
    background: #5a94c0;
    color: #253a44;
}

.celda-item-div {
    border: 1px solid #9C9FA2;
    padding: 4px;
    width: 238px;
    height: 25px;
    background: #fff;
    color: #253a44;
}

.celda-item {
    padding-right: 10px;
    padding-left: 10px;
    color: #3f6bc3;
}

.panel-container {
    margin-bottom: 0px !important;
}
