aside {
    float: left;
    margin-right: 10px;
}

.contenedor-listado {
    float: left;
    width: 75%;
}

.clear-right {
    clear: right;
}

label {
    margin-top: 5px;
}
    
.title-seccion {
	border-bottom:2px solid #D9E8F3;
	line-height:30px;
    margin-bottom:20px;
    color:#3D90CB;
	font-size:15px;
	font-weight:bold;
    overflow: hidden;
}

.search-content {
    overflow: hidden;
}

.form-control.form-control-half {
    width: 90px;
}
