@model COES.MVC.Extranet.Areas.CalculoResarcimiento.Model.InterrupcionModel
<div class="content-registro">

    <form id="frmRegistro">
        <div id="mensajeEdicion" class="action-message">Por favor complete los datos</div>
        <table style="width:100%" id="tablaRegistro">
            <tr>
                <td class="registro-label">Seleccione empresa:</td>
                <td class="registro-control">
                    <select id="cbEmpresa">
                        <option value="">-SELECCIONE-</option>
                        @foreach (var item in Model.ListaEmpresas)
                        {
                            <option value="@item.Emprcodi">@item.Emprnomb</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
    </form>

    <div class="dialog-boton">
        <input type="button" id="btnAceptar" value="Aceptar" />
        <input type="button" id="btnCancelar" value="Cancelar" />
    </div>
</div>